[2019-10-01 04:29] tranthang212 opened #171 "Issue with Access control in AWS Amplify"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Amplify Console
2. Click on Access control
3. Click button Manage access
5. Disable "Apply a global password - OFF"
6. Save

After performing the above steps, the password is still required to access the website
How to clear it?
I do not use any cache tool.
Does anyone have a problem like me?

[2019-10-01 05:59] ngtrunghuan opened #172 "Domain activation is Failed - CNAME associated with a different resource, except they are not"
**App Id**: d2vzuf12a4h8lg
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I configured my GoDaddy domain thisishuan.com to my amplify app. I have done the steps as mentioned here but still couldn't figure out how to resolve:
https://read.acloud.guru/how-to-deploy-a-custom-domain-with-the-amplify-console-a884b6a3c0fc

**Error message**
Error message: O

[2019-10-01 06:14] nikovirtala opened #173 "Provide build and deploy status to GitHub pull requests"
**Is your feature request related to a problem? Please describe.**

Currently I cannot check the status of a build or deploy status from the version control system, in our case GitHub. This has become even bigger distraction after feature branch deployments enablement.

**Describe the solution you'd like**

AWS Amplify Console should feed in minimum the build and deploy status, with links to detai

[2019-10-01 06:44] munkk commented on #170
Awesome! It works. Thank you so much!)

[2019-10-01 06:44] #170 closed

[2019-10-01 07:36] patspam opened #174 "Amplify Console fails to detect Amplify backend in monorepo"
**Describe the bug**
I have a Gatsby / ReactJS / Amplify Framework app inside a monorepo where the app root is inside a sub-folder of the repo root.

After connecting my GitHub repo, build settings were not automatically detected. I added them manually and the build/deploy succeeds.

However the Amplify Console doesn't detect any Amplify backends for me app.

The repo doesn't actually contain any

[2019-10-01 10:17] visusnet commented on #171
We are experiencing the same issue with branch-specific passwords. We have disabled them in the Amplify Console but users are asked regardlessly.

[2019-10-01 10:25] suzuky43 commented on #115
I have same issue. So my issue didn't solve yet. I use ap-northeast-1 region.
Could you tell me the correct version of Amplify Cli?
My app size is about 500MB. It's smaller than 1GB.
So, if amplify were fixed already, my app would be deployed...

[2019-10-01 11:14] visusnet commented on #171
@swaminator Is this something you could help with? Our production system is not usable at the moment which is ... a bummer...

[2019-10-01 11:17] shiruba commented on #171
Just tried it - confirmed. When I add password protection to a branch and remove it after that, the domain still asks for a username/password via htaccess.

[2019-10-01 11:27] rfallasch opened #175 "Access control in AWS Amplify does not work"
It is not possible to remove the password right now. I removed it via amplify console but it is still required to access the site.

A global password overwrites the required password. But changing it for only the affected Domain does not change the required password.

Steps to reproduce the behavior:
Amplify Console -> Access control -> Manage access -> Disable "Apply a global password - OFF" -> S

[2019-10-01 11:47] patspam commented on #174
Confirmed by creating a new gatsby app that the sub-dir is the culprit.

I'm surprised this doesn't work because the Amplify Console docs actually mention monorepos, eg. https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html

[2019-10-01 12:13] levin-roski commented on #167
Hey @swaminator,

the issue still persists. The subdomain and domain is not used by anything else but this one Amplify app. Screenshots of the Route53 zone and the Amplify settings are attached in the first issue comment.
How can I get support? And how long does it take to be become available?

As its a production site, one solution will be to host it myself with S3 static site hosting and Cloudfr

[2019-10-01 14:09] oakstreetrec commented on #169
Thank you very much. One more quick question - is there a way in the CF template to specify the production branch?

[2019-10-01 14:32] dabit3 commented on #171
@shiruba @visusnet @tranthang212 Thanks for the info and for reporting this issue. We're looking into it as we speak.

[2019-10-01 15:03] swaminator commented on #175
#171

[2019-10-01 16:47] 0luftballoons commented on #171
I have the same problems. Existing login branches can't be changed, either by changing username + password or changing to publicly-accessible. New deployment branches are stuck with public access, can't configure for username + password

[2019-10-01 17:15] swaminator commented on #175
Closing this issue as a  duplicate of #171. Please follow there for updates.

[2019-10-01 17:15] #175 closed

[2019-10-01 19:25] swaminator commented on #171
@0luftballoons @shiruba @visusnet @tranthang212  we are rolling out a fix shortly. I'll update this thread when it's ready.

[2019-10-01 19:27] swaminator commented on #174
@patspam the autodetection doesn't work for monorepos right now. We have planned features around better monorepo support in our roadmap. Specifically:
1. Autodetect monorepo build settings
2. Trigger selective builds based on where changes have been committed.

[2019-10-01 20:59] patspam commented on #174
Thanks for the info.

Am I still able to use all console features (in particular, control Amplify backends) by configuring build settings manually?

[2019-10-01 23:24] swaminator commented on #171
@0luftballoons @shiruba @visusnet @tranthang212 the fix is rolled out. Please try updating the access control settings once more and let me know if it works.

[2019-10-01 23:36] 0luftballoons commented on #171
I think it mostly works. Took existing deployed branch (public access), and did the following access changes
public --> login required (ok) --> public (ok) --> login (nope, still public) --> change username, pw (get login, but can't login, maybe user error?) --> change username, pw (ok)

[2019-10-01 23:38] 0luftballoons commented on #171
I'd like to see what happens when deploying a new branch and then changing access to require login before the branch deploys, but I'm just about to start a real software release and don't want to cause any problems :)

[2019-10-01 23:41] #162 closed

[2019-10-02 02:02] tranthang212 commented on #171
@swaminator It worked. Thanks for the update.

[2019-10-02 03:49] Kunie-dev opened #177 "Amplify Console: How to skip checking back-end environments were changed?"
Amplify Console: How to skip checking back-end environments were changed?

It was spent a lots of times that deployment pipelines.
We want to skip that manually when we knew what back-end environments were not changed.
+ Does It have only the option '--simple'  from the command 'amplifyPush' of amplify.yml?

[2019-10-02 05:36] tinarastic commented on #164
Nice one, that was it. I had a previously configured distribution with certs and domain names. I'm guessing that despite deleting it from Route 53 the distribution kept putting it back in there? Either way, by deleting those entries from the distribution that solved my problem with the Amplify domain management. Cheers,

[2019-10-02 05:36] #164 closed

[2019-10-02 08:19] thedgbrt commented on #10
@swaminator what's the progress status? I still can't build existing branches (so basically, all main branches) without using the hacky workaround I posted above. If I want to test on a separate branch / environment, I have to switch the build command to the normal amplifyPush for the first build, and then switch to my hack again. This bug really makes the whole process much more complicated than

[2019-10-02 08:52] Cas-Laputa commented on #163
@swaminator Setting the latest Amplify-cli has caused another build error:

[Reference link](https://github.com/aws-amplify/amplify-console/issues/10#issuecomment-534723637)

[2019-10-02 08:53] ilyador opened #179 "When doing "amplify publish", how do I connect the app to a custom domain?"
I see it can be done in the Amplify console, but for some reason, my app does not appear there.

It is quite confusing since I'm not sure what is the difference between the Amplify CLI and the console on AWS.

[2019-10-02 11:12] thedgbrt opened #176 "E2E testing: not showing pretty display of cypress tests"
**Describe the bug**
For an existing app, adding cypress tests displays as regular console output, instead of a pretty display.

**To Reproduce**
Steps to reproduce the behavior:
Setup cypress tests on an app, as documented here, https://docs.aws.amazon.com/amplify/latest/userguide/running-tests.html

**Expected behavior**
The test panel should display a pretty output, not just a command line.

Wh

[2019-10-02 15:46] thedgbrt opened #178 "Old page still visible after removed from build"
**Describe the bug**
I removed a page from my Gatsby app, it is still visible on the deployment url (not using a custom domain)

**Expected behavior**
The pages available on a deployment should match what's generated by the build.

**Additional context**
I reloaded on a different browser, cleared the browser cache, force reloaded.

**Sample code**
I downloaded the build artifacts from the amplify

[2019-10-02 15:46] thedgbrt commented on #178
It might be related to https://github.com/aws-amplify/amplify-console/issues/74

[2019-10-02 16:00] PavleNeskovic commented on #179
You need to connect the app that you initialized with Amplify CLI to GitHub (or some other Git provider) and then in Amplify Console choose that repo and deploy the app from there.

Amplify CLI and Amplify Console are kinda two different things.  CLI helps you to build your app and manage your cloud resources and Amplify Console is a continuous deployment tool.

[2019-10-02 17:37] cslogan-red commented on #176
Hello, can you post your app Id and region?

[2019-10-02 18:06] cslogan-red commented on #179
https://docs.aws.amazon.com/amplify/latest/userguide/deploy-backend.html

The above docs will help you get started, presently you'll start your project using the Amplify CLI and then push your project's repo to the Git provider of your choice. You then connect your app to the Amplify Console via that Git repo for full hosting and CD support, including features like adding a custom domain.

[2019-10-02 18:16] cslogan-red commented on #178
This is an intentional feature within Amplify Console to gracefully handle a number of scenarios, like code splitting as an example, so that new builds don't invalidate cached resources while a user is actively browsing your app. Deleted resources are eventually invalidated and purged after several builds, and will then no longer be accessible from your app's url.

[2019-10-02 19:20] MattWlodarski opened #180 "Hosting Update Cache Question"
I'm hosting a simple angular website with amplify hosting. Whenever I publish an update I need to manually clear browser cookes/site data to view the update in my browser otherwise I just get the older version of the website. Whats the best way to automate this?

Thanks! #

[2019-10-02 20:15] swaminator commented on #177
@Kunie-dev if your backend env hasn't changed, the amplifyPush --simple script should not be spending more than 5 seconds on it. Are you seeing longer times?

[2019-10-02 20:26] garyleefight commented on #167
@levin-roski Hi, your subDomain started with www is attached to cloudfront distribution:
d3rinca8bwi4kg.cloudfront.net
in your account. Please delete it first. The account ID is: 6354xxxx7815

[2019-10-02 22:06] thedgbrt commented on #178
@cslogan-red interesting, I’d like to have more information about this from the console, but for now your comment is helpful. 👍

[2019-10-02 22:08] thedgbrt commented on #176
Hi @cslogan-red, it’s `d19neubxmmsnaf` in us-east-1

[2019-10-02 22:53] Kunie-dev commented on #177
It took 1m 15s while processing the step 'backend' only on build stage.

[2019-10-02 23:02] cslogan-red commented on #176
Thanks! For reference, which browser are you using, and can you inspect your developer console and see if you're getting any JS console exceptions after refreshing and then clicking on the "Test" tab, and if so, can you post a screenshot? There's nothing wrong with your generated test report that I can see, however the Console will fall back to displaying the test log view if the report can't be p

[2019-10-03 07:13] michelem09 opened #181 "Is it possible to add environment variables from the cli to the console?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Amplify-CLI

** What AWS Services are you utilizing? **

** Provide additional details e.g. code snippets **

As per title is there a way to add env variables to the Amplify Console from the Amplify CLI/Config?

Would be great to create a .env file f

[2019-10-03 09:43] thedgbrt commented on #176
<img width="1099" alt="Capture d’écran 2019-10-03 à 11 42 25" src="https://user-images.githubusercontent.com/1362558/66116387-ea66a880-e5d2-11e9-8c08-e9204362f995.png">

@cslogan-red interesting! here's what I got. Note that these errors appear right away on the reload, but nothing more shows up when I switch to the test tab.

[2019-10-03 16:36] cslogan-red commented on #176
Thanks for posting @thedgbrt , nothing unusual there, those bangs aren't actually from the Amplify Console. I'm also able to display the dashboard using your build's generated test report in one of our test environments without issue, so I'm not quite sure why it's not displaying for you, as all three of those browsers work and are supported. Will have to do some additional investigating and get b

[2019-10-03 16:36] levin-roski commented on #167
@garyleefight that entry was created by Amplify automatically, even if I replace it with the apps Amplify domain, it doesn't activate the domain and A-Record mapping is just possible to the cloudfront related to the Aplify app.

@swaminator I deleted the app, deleted all Route53 records for the domain-zone and tried to create the app in Amplify from scratch. Still didn't work.
I will host it with

[2019-10-03 18:07] kalinchuk opened #182 "Add private key asks for passphrase when it shouldn't"
**Describe the bug**
In the build steps, I run a command to add a private key (`ssh-add KEY`) to pull a private repo but it asks for a passphrase which stops the build process. The key does not have a passphrase so it shouldn't be asking for me.

**To Reproduce**
Steps to reproduce the behavior:

1. Set the private key as an environment variable.
2. Configure the build with the following:

[code]

[2019-10-03 19:07] levin-roski commented on #167
@swaminator @garyleefight figured out the issue! It's was not an issue of Amplify at all. As I tried with my familiar process for new setups, I got the same issue on CloudFront setup of CNAMEs.

The old website was build by a modular WYSIWYG editor, which hosted the site too. It was hosted by an AWS account, I didn't know about. The CloudFront they setup had our CNAME set up, that's why I got the

[2019-10-03 19:07] #167 closed

[2019-10-03 19:32] thedgbrt commented on #176
@cslogan-red weird indeed! thanks for investigating 🙏

[2019-10-03 20:08] swaminator commented on #180
@MattWlodarski you should be able to run cmd+shift+R or kill a service worker in the browser. Amplify Console doesn't control browser updates if service workers are running.

[2019-10-03 23:05] garyleefight commented on #169
@oakstreetrec No. We don't support that for now

[2019-10-04 00:17] undefobj opened #183 "No easy way to re-trace steps from "Create service role", once the button has been clicked once."
If you click “create a new role” and then close that tab, without actually creating the role, then the “create a new role” button is gone and the user is stuck

[2019-10-04 15:15] kalinchuk commented on #182
So after some trial and error, I think the issue is with the way the key is read from the environment variable. It seems to be adding a key to the SSH agent that has spaces instead of newlines. Is there a specific way of writing a key to an environment variable and then adding it to the SSH agent without first running find/replace on the value (to replace spaces with newlines)?

[2019-10-04 16:47] #178 closed

[2019-10-04 20:00] danieladams456 commented on #36
We would like to use AWS Amplify to host apps for our internal users.  For that use case, IP whitelist would be sufficient.

[2019-10-07 03:58] nomiddlename commented on #176
We have the same issue. Tests added to an existing build don't show the nice report. The tests pass, the console output is very messy (lots of control characters from the cypress output that I can't turn off), but it says the artifacts are uploaded same as the screenshot by @thedgbrt. We're also missing the test phase in the series of green circles with tick boxes at the top of the build info (seq

[2019-10-07 12:32] danieladams456 opened #184 "Add support for HTTP headers on proxy requests"
**Is your feature request related to a problem? Please describe.**
I would like to have relatively "private" connectivity from my Amplify site to my VPC.  I am planning on using the ALB OIDC authentication feature, but it would make security happy to ensure only traffic hitting my API is coming from the static site deployed on Amplify Console.  This could be used along with #36 for hosting interna

[2019-10-07 16:00] cawleyflower commented on #115
We saw the issue go away, but now that our build size has reached 500 MB, we are failing to deploy, once again

[2019-10-07 17:36] cslogan-red commented on #176
@nomiddlename & @thedgbrt can you each post (or email to aws-amplify-customer@amazon.com, if you'd prefer) your complete build spec's? Have a hunch as to what's occurring in this case and would like to confirm, thanks!

[2019-10-07 19:33] Dlozitskiy commented on #184
I have a similar requirement which is a cornerstone for customer to decide between Amplify and another product.

The example of this feature in Netlify (Custom Headers in Proxy Redirects): https://www.netlify.com/blog/2017/10/17/introducing-structured-redirects-and-headers/

[2019-10-07 19:48] swaminator commented on #10
@thedgbrt we're going to merge this PR today: https://github.com/aws-amplify/amplify-cli/pull/2003

Will update you once it's merged.

[2019-10-07 19:50] swaminator commented on #163
@Cas-Laputa I see you came across https://github.com/aws-amplify/amplify-console/issues/10#issuecomment-534787729
Will close this issue and provide additional updates there.

[2019-10-07 19:50] #163 closed

[2019-10-07 20:01] #179 closed

[2019-10-07 21:36] nomiddlename commented on #176
@cslogan-red do you just want the amplify.yml, or something else?

[2019-10-07 21:53] cslogan-red commented on #176
@nomiddlename  correct, the complete file or contents from App settings > Build settings, thanks!

[2019-10-07 22:02] cawleyflower commented on #115
@swaminator is there any way we can have our deploy size limit increased as it states here #41 ?

Our ARN is here: arn:aws:amplify:us-west-2:054500231008:apps/d1ev2ep2azk4pn

[2019-10-07 22:04] nomiddlename commented on #176
Here's the amplify.yml:
[code]
The command that `npm run ci:e2e` runs in `package.json`:
[code]

[2019-10-07 22:07] nomiddlename commented on #176
I've added the various mochawesome deps to the dev deps in package.json, because if I use `npm install` instead of `yarn install` my react build fails with compilation errors. I tried using yarn to run the `ci:e2e` test command and the mochawesome-merge, but the postTest phase would never execute if I did that. Everything seems to work ok with the above setup, I just don't get the nice report.

[2019-10-07 23:17] cslogan-red commented on #176
Thanks @nomiddlename , can you also send over your app Id?

[2019-10-07 23:30] nomiddlename commented on #176
App id is `d3rfa777e3c1ou`, ap-southeast-2.

[2019-10-08 07:13] swaminator commented on #109
Closing this issue as it seems it occured due to an incorrect buildspec.

[2019-10-08 07:13] #109 closed

[2019-10-08 07:15] #149 closed

[2019-10-08 07:16] #138 closed

[2019-10-08 07:17] #133 closed

[2019-10-08 07:21] swaminator commented on #150
@RyanHow couple of options. Please refer to this link: https://stackoverflow.com/questions/56219052/fetching-private-submodules-in-aws-amplify-build

[2019-10-08 08:36] thedgbrt commented on #176
@cslogan-red if that helps:
[code]

[2019-10-08 11:01] suhas-007 opened #186 "On page reload in the browser or when using windows.location.href a trailing slash is added to the end of the url."
On page reload in the browser or when using windows.location.href  a trailing slash is added to the end of the url.

The above behaviour is only when a domain is used, for example
https://www.test.com/test  is getting replaced as https://www.test.com/test/

[2019-10-08 15:32] swaminator commented on #107
@dahersoftware discussed this offline with the team and we think it might have something to do with using Lambda for the pre-token generation. We have a number of users using us for social auth and we haven't heard this issue before. Is there any way you can give us more details about your setup, maybe even see your Lambda code?

[2019-10-08 18:10] swaminator commented on #142
@hotgazpacho were you able to figure this out?

[2019-10-08 18:34] hotgazpacho commented on #142
I ended up adding [gastby-plugin-remove-trailing-slashes](https://www.gatsbyjs.org/packages/gatsby-plugin-remove-trailing-slashes/), and that solved some of my issues, around what makes the link “current”, but not the redirects. I probably need to add a Lambda@Edge function to rewrite the request before it hits S3.

[2019-10-08 18:41] cslogan-red commented on #176
So in this case (which happens to be the same for both of you, @thedgbrt  & @nomiddlename) the Console appears to be working as designed. The Console attempts to derive whether or not you've added tests, and when to even render some of the test step content, based on the presence of the "test:" config in your amplify.yml (build spec).

Looking at the build history for each of your app Id's, it was

[2019-10-08 19:26] aromka opened #187 "Domain activation is Failed - JS error prevents any action"
**App Id**: d2knlhjugeqf3e
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Neither delete or retry works - any domain option throws JS error - see screenshot:

![Screen Shot 2019-10-08 at 3 24 49 PM](https://user-images.githubusercontent.com/2651029/66426424-cb578480-e9df-11e9-9728-2fd584d06a99.png)

**Error message**
No error message - js fails and nothing

[2019-10-08 19:37] MattWlodarski commented on #180
Sorry let me rephrase my question. I want to be able to push an update to all the users using my app without also needing to instruct them to clear their browser cookies/side data so that they can see the newest update. In the past I've done this with firebase hosting by adding this cache control header:
`  "hosting": {
    "public": "www",
    "headers": [
      {
        "source": "/**",

[2019-10-08 20:01] aromka commented on #172
I get the same for all Route53 domains - any fix for this?
Don't have any CNAMEs for the subdomains i'm trying to use

[2019-10-08 20:07] #74 closed

[2019-10-08 20:19] swaminator commented on #115
@thys-unomena can you share your appid?

[2019-10-08 20:24] cawleyflower commented on #115
@swaminator @thys-unomena is referring to the same app with ARN: arn:aws:amplify:us-west-2:054500231008:apps/d1ev2ep2azk4pn

[2019-10-08 20:49] MattWlodarski commented on #180
Ok so I found out that you need to add the --invalidateCloudFront flag to the amplify publish command to invalidate the cache. I was able to see the update on Mozilla, but Chrome still gives me the older version. If I use the cloudfront url it works on Chrome but If I use the custom domain name I created through Route53, Chrome keeps pulling up the older version.

[2019-10-08 21:00] #180 closed

[2019-10-08 21:10] MattWlodarski opened #188 "Hosting Issue on the Chrome Browser"
**Describe the bug**
When I publish an app update with amplify publish --invalidateCloudFront I do see the update on Mozilla and Chrome if I navigate to the website with the cloud front domain name. However, if I navigate to the website using my custom domain name (I created through route 53), chrome does not pull up the updated version while mozilla does.

**To Reproduce**
Steps to reproduce the

[2019-10-09 00:14] nomiddlename commented on #176
I can confirm we're getting the nice test tab output now. Thanks for your help @cslogan-red

[2019-10-09 03:35] cam8001 opened #189 "Can you use bash subshells with build commands?"
**Please describe which feature you have a question about?**

I am trying to generate a timestamp variable as part of my build, so I can add it to output. I have tried several different permuations - inline commands, backticks, `$()` syntax, and they all seem to fail with:

```/codebuild/output/src645567583/src/wa-immersion-site/amplify.sh: line 17: unexpected EOF while looking for matching `"'```

[2019-10-09 03:43] cam8001 commented on #189
Answering my own ticket - yes, you can. I had an indentation error in my amplify.yml which meant the commands weren't running as expected 🤦‍♂

Leaving here for posterity :)

[2019-10-09 03:43] #189 closed

[2019-10-09 05:20] thedgbrt commented on #176
@cslogan-red thanks for the explanation, it's good to know how things work in the background. However I've had this problem for all my builds, way prior to disabling my tests (which I did recently for other reasons). I've monitored a dozen or so builds last week, as they happened, and while the tests were part of the amplify config. I've never seen the proper display once.
I re-enabled tests on my

[2019-10-09 05:27] nomiddlename commented on #176
@thedgbrt I had to upload my amplify.yml in the build settings to get things to work, not just update the amplify.yml in git.

[2019-10-09 05:36] cslogan-red commented on #176
Correct, @thedgbrt, need to make sure your amplify.yml in App settings > Build settings includes the "test:" config in order for the Cypress dashboard to even display, even for past builds. Additionally, the final Cypress dashboard is only displayed after all tests have run and the results are uploaded. While a build is running, you'll simply get the headless log output of the "cypress run" comman

[2019-10-09 07:56] thedgbrt commented on #176
Oh right, indeed I just had to upload my amplify.yml to the dashboard. A bit clumsy to have two sources of truth, but at least everything looks good now. Thanks!

[2019-10-09 11:00] im-dnsosso commented on #88
same error with 3.11.0
**Could not read cloudformation template at path: /codebuild/output/**

[2019-10-09 11:16] kontrol-debug opened #190 "Sub domain Management with new branches"
**App Id**: arn:aws:amplify:ap-south-1:193864310997:apps/d2po5bkxstg6hw
**Region**: Ap-south1
**Status**: Active

Hi,

I have my app running, Can i have an automatic update to sub domain as a new branch is pushed.

for example ->My domain is : www.happyme.com
As a new branch "test" is created, my build starts at test amplify. But i have to manually set this branch url with domain name. Is there a

[2019-10-09 15:21] thys-unomena commented on #115
Hi @swaminator
Did you do something on your side? About 10 hours ago the builds started deploying successfully.

If it was something that you did, can you please provide some kind of an explanation?
And how can we prevent this from happening again?

[2019-10-09 16:51] #176 closed

[2019-10-09 21:12] swaminator commented on #190
There's an active feature request for this here #23

As a workaround you could run a script that uses the AWS CLI to create a domain association https://docs.aws.amazon.com/cli/latest/reference/amplify/create-domain-association.html

[2019-10-09 21:16] swaminator commented on #190
Closing this in favor of #23

[2019-10-09 21:16] #190 closed

[2019-10-09 21:34] swaminator commented on #187
@aromka are you still seeing the same error? Can you retry please?

[2019-10-10 04:36] swaminator commented on #10
@thedgbrt @Cas-Laputa the new version of the CLI is out (3.12.0). Can you please verify it works for you. Thanks for your patience.

[2019-10-10 06:06] kontrol-debug opened #191 "Auto Sub domain is not getting enabled"
Hi,
I am using aws ampliy through command line and was trying to use "create-domain-association" feature.
I am using it to enable auto sub domain association but it remains false. Please help

Below is the output snippet :

"domainName": "abc.com",
 "enableAutoSubDomain": false,

[2019-10-10 09:14] thedgbrt commented on #10
@swaminator I just tried it, it has the same issue: `Could not read cloudformation template at path...` and then the build step fails.

I double checked that I was using amplify 3.12.0 override in the console.

I am not sure I understand the fix properly though. Does the cli now generates a new file on build that I should add to my repo? I did a new build locally (with 3.12.0) but couldn't see any

[2019-10-10 10:27] kontrol-debug commented on #190
Hi ,
@swaminator I tried using the solution but it doesn't work for me. The "enableautosubdomain" value remains false . It doesn't work.

[2019-10-10 18:49] cslogan-red commented on #172
@ngtrunghuan it doesn't appear that your CNAME records resolve using whatsmydns.net for thisishuan.com, you can follow the documentation below to make sure you've completed configuring your CNAME records with your DNS provider (GoDaddy):

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-third-party

Additionally, if your provider is GoDaddy, they don't support

[2019-10-10 21:13] swaminator commented on #191
@kontrol-debug we do not have that feature available yet. I realize that its causing some confusion since its in our SDK docs.

[2019-10-10 21:18] swaminator commented on #190
@kontrol-debug you can use the AWS CLI to manually create subdomains.
1. Create an SNS topic (you can do so by choosing App settings > Email notifications)
2. Create a Lambda function to watch for new branches
3. Create a new domain association without using the enableautosubdomain flag.

[2019-10-10 21:19] swaminator commented on #191
@kontrol-debug you can use the AWS CLI to manually create subdomains.

Create an SNS topic (you can do so by choosing App settings > Email notifications)
Create a Lambda function to watch for new branches
Create a new domain association without using the enableautosubdomain flag.

[2019-10-10 21:19] #191 closed

[2019-10-11 05:21] swaminator commented on #10
@thedgbrt give it another shot it got merged.

[2019-10-11 15:01] connor-rw commented on #36
Just wanted to add that using a WAF is a requirement for my team as well, so this would be a huge feature / value-add for us.

Thanks for all of your great work!

[2019-10-11 16:44] tscole opened #192 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2z0aapvx3jong
**Region**: eu-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Can not add custom domain to my app

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
Please add any other relevant information. Please feel free to include screenshots.

[2019-10-11 17:18] swaminator commented on #192
@tscole have you checked out this doc: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

[2019-10-11 17:50] HMilbradt opened #194 "Domain activation is Failed - due to a Certificate Authority Authentication error."
**App Id**: d3bsiju3l3vwuf
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I receive this error while attempting to validate my custom domain in the console.  I have set up the CNAME record that is shown in the format ```_1234.example CNAME _1234.example.acm-validations.aws```.  This CNAME record is in Cloudflare, with proxy turned off (DNS only).

I have a

[2019-10-11 19:56] cslogan-red commented on #194
Hi there, I would go ahead and delete the custom domain and start from scratch and then add it back to the Console. The CAA records are optional, but if you already have them in place in your DNS provider they must be configured per the link you provided, they are not required to connect your domain to Amplify Console. You can verify the records have met the minimum requirements outlined in that d

[2019-10-11 21:10] HMilbradt commented on #194
Thanks for the reply, will post an update when I have something working

[2019-10-11 23:45] swaminator commented on #10
@thedgbrt thanks for your patience - we actually found the root cause was something else. We released `3.13.0`. Please give that a shot.

[2019-10-12 00:16] swaminator commented on #88
@im-dnsosso we fixed this with version `3.13.0`

[2019-10-12 03:01] ngtrunghuan commented on #172
@cslogan-red hey Chase, thanks for the response. I think what happened was:
- I initially wanted to use a S3 bucket + CloudFront to host my static site.
- I configured the CNAMEs to point to the S3 bucket addresses.
- I changed my mind and wanted to use Amplify + Route53 instead
I think it took some time for the entire S3 + CloudFront setup to be completely clean. I tried again after 2-3 days and

[2019-10-12 06:59] HMilbradt commented on #194
So I was able to get this working with Cloudflare.  I should have clarified in the original post I was adding a subdomain instead of a root domain.

The steps I took to resolve this:

I deleted my CAA records that I had added, deleted the custom domain from Amplify, and removed any other existing CNAME records I had added from before.

The CNAME record I added was `_1234.subdomain CNAME _1234.1234

[2019-10-12 06:59] #194 closed

[2019-10-12 10:13] tscole commented on #192
I have read and followed that. It is still not working. Now I am getting a different error message:
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

I have checked my DNS. There aren't CNAME records

[2019-10-12 16:17] tscole commented on #192
I've managed to fix it by completely deleting the domain and starting again

[2019-10-12 16:17] #192 closed

[2019-10-12 17:14] dahersoftware commented on #107
This is the complete request that gets failed most of the time:

**Summary**
URL: https://daherskillops-dev.auth.eu-west-1.amazoncognito.com/oauth2/token
Status: 400
Source: Network
Address: 52.215.133.77:443

**Request**
:method: POST
:scheme: https
:authority: daherskillops-dev.auth.eu-west-1.amazoncognito.com
:path: /oauth2/token
Accept: */*
Content-Type: application/x-www-form-urlencoded
Origi

[2019-10-12 17:20] dahersoftware commented on #107
By googling online problems about this, Like thread:
https://github.com/aws/amazon-cognito-auth-js/issues/206 , There are many threads going around the same topic.
Is there someone who can explain or redirect me to solve this problem?

[2019-10-12 19:22] dahersoftware commented on #107
I looked little bit more and I found this thread:
https://github.com/aws-amplify/amplify-js/issues/3185
Then i checked my code if I am calling Amplify.configure multiple times and I found I was calling it twice. After fixing that problem my invalid_grant problem goes away.

[2019-10-13 12:50] codingnuclei opened #195 "401 http repsonse for webmanifest with Access control settings"
**Describe the bug**
With Access control settings ON (password set):
(once signed in)
- manifest.webmanifest gets a 401.

- All other resources + bundles download as expected

With Access control settings OFF (password set)

- manifest.webmanifest downloaded as expected

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a PWA with amplify console
2. Enable password via Access control set

[2019-10-13 14:22] RyanHow commented on #150
@swaminator Thanks, they are all kind of workarounds and are going to complicate the configuration to bend to what the CI server wants. It looks like hard code a user to pull a submodule or use NPM packages. The other one I saw was to generate a keypair, then put it into the github submodules and the environment variables in Amplify. I think that might be the best bet.

It's still a bit of a shame

[2019-10-13 23:17] litwicki commented on #96
I'll have our team take a look this week and see what we can do to possibly update `amplifyPush` to support this capability.

[2019-10-14 04:51] kontrol-debug commented on #191
Hi @swaminator,

I tried your given steps but my new branch is still connected to amplifyapp.com domain. It doesnt gets redirected to <branchname>.mydomain.com

[2019-10-14 08:24] thedgbrt commented on #10
@swaminator I tested a few scenarios and all seem to be working fine 👍🥳

[2019-10-14 19:19] swaminator commented on #174
@patspam it should. Can you describe your repo structure?

[2019-10-14 19:21] swaminator commented on #10
Thanks! Closing this issue.

[2019-10-14 19:21] #10 closed

[2019-10-14 19:35] swaminator commented on #177
Can you please share your appid? Found in App settings > general

[2019-10-14 19:36] swaminator commented on #121
@blazinaj you can now use the test phase as described here: https://docs.aws.amazon.com/amplify/latest/userguide/running-tests.html
And a blog post here: https://aws.amazon.com/blogs/mobile/run-end-to-end-cypress-tests-for-your-fullstack-ci-cd-deployment-with-amplify-console/

[2019-10-14 23:17] patspam commented on #121
Thanks for adding this!

Will @blazinaj's original code snippet work as-is, or do we need to `npm install` in both the test and build phases?

In other words, do they share the same workspace/artifacts? And does the `test` phase run before the `build` phase? I didn't see anything relating to this in the new docs.

[2019-10-14 23:20] patspam commented on #174
Awesome, thanks. I'll try it.

The monorepo structure is currently pretty simple: multiple apps nested one level deep, ie.

[code]

[2019-10-15 00:11] #172 closed

[2019-10-15 06:43] kontrol-debug opened #196 "AWS cli create domain association issue"
Hi,
I am trying to run this command, but every time this command fails to create domain association with my new branch and my domain.

If i check my commands cli-skeleton, it returns :

{
    "appId": "",
    "domainName": "",
    "enableAutoSubDomain": true,
    "subDomainSettings": [
        {
            "prefix": "",
            "branchName": ""
        }
    ]
}

According to this my enableau

[2019-10-15 12:36] dbrunet73 commented on #18
We are experiencing the same issue, it would be great if we can limit the scope of the rewrites and redirects by branch.

[2019-10-15 14:22] rkul opened #197 "Branch auto detection does not work with Github"
**Describe the bug**
I tried to build branches based on pattern as described in the documentation. So I added few patterns and created appropriate branches on Github, but nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to General settings
2. Click on Edit button
3. Scroll down to Branch autodetection - patterns
4. Click Enabled
5. Add following patterns: `GWY-**, feature/

[2019-10-15 14:41] rkul opened #198 "Path pattern for custom headers"
**Please describe which feature you have a question about?**
Configuration for custom headers in `amplify.yml`

**Provide additional details**
As stated in documentation https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html  we can add custom headers based on some pattern. I didn't find what exactly the pattern may be. Does it support any regular expression?

[2019-10-15 16:52] swaminator commented on #196
@kontrol-debug the `enableAutoSubDomain` setting is not supported right now even though it is visible in the API docs. You cannot use this field at this moment.

[2019-10-15 21:24] jojojo123 commented on #96
@aniruddhawani  @fdelhoste
When you create a new env in amplify console, the nested stack parameters are not created. To get this to work, try the following:
1. Import the backend environment deployed by the Amplify Console to your repo (the `amplify/team-provider.json` file contains information on all backend environments in your AWS account). The GIF below shows how you to copy the amplify env i

[2019-10-15 22:16] kontrol-debug commented on #196
Hi @swaminator,

Then what is the way out if i want to redirect a new branch url  from test.yyyyy.amplifyapp.com to test.mydomain.com using aws command line.??

[2019-10-16 01:13] jojojo123 commented on #197
@rkul  Can you try adding following patterns without spaces
`GWY-**,feature/**,gwy-**`

It should work as expected.

[2019-10-16 06:34] aniruddhawani commented on #96
The idea, my sample project and some other details are available in my first entry in this thread. I'm trying to create a standalone GitHub project with 'Deploy to Amplify Console' button. That would mean the user should not need CLI at all.

@jojojo123 Even if what you mentioned above works as explained, it doesn't fix my issue.

What @litwicki mentioned (amplifyPush update) sounds like a good ap

[2019-10-16 15:14] rkul commented on #197
Yes it works now. Documentation is unclear on that.

[2019-10-16 15:14] #197 closed

[2019-10-16 17:45] #154 closed

[2019-10-16 21:01] bokobza commented on #187
**App Id**: d2a1a4icip7mla
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

I have the same issue.
When the domain management page loads I see this:
![image](https://user-images.githubusercontent.com/1867877/66958404-0309a080-f060-11e9-892d-3ccf80ab4c5b.png)

then the process fails here:
![image](https://user-images.githubusercontent.com/1867877/66958455-19aff780-f060-11e9-93f

[2019-10-16 23:08] swaminator commented on #198
Custom headers support any regular expression patterns. What patterns are you trying to use?

[2019-10-17 00:04] butaca opened #199 "[Feature request] Ability to chose which build events trigger an email notification"
When subscribed to email notifications I receive an email for all build events (STARTED, FAILED, SUCCEED, etc).

I would like to select which build events should trigger an email notification.

[2019-10-17 01:16] Kunie-dev commented on #177
App ARN
arn:aws:amplify:ap-northeast-2:929259052518:apps/d3ulhf1lq0mnhv

[2019-10-17 16:19] blazinaj commented on #121
This feature is great. Thank you for your work! The Cypress integration sounds awesome, I'll be testing it out here soon. 👍

[2019-10-17 21:24] rkul commented on #198
I wanted to use something like ```^(controller|field)/**.html```
Could you tell me do headers get merged if file path hits few patterns? What is precedence order?
I'm trying to understand can I put common headers using `**/*` pattern and then just add more specific for `/controller/*.html` for example?

[2019-10-17 22:10] rkul commented on #198
I figured out that this is possible if I put common headers at the top of the `customHeaders` section and more specific ones below.

[2019-10-17 22:13] rkul commented on #198
Any chance to use environment variables in `customHeaders` header values? I'd like to put content-security-policy: "default-src 'none'; base-uri 'none'; object-src 'none'; font-src 'none'; media-src 'none'; connect-src self $ORIGIN; etc..."

[2019-10-17 23:05] jojojo123 commented on #187
@bokobza Do you still have this issue?

[2019-10-18 12:34] rickiesmooth commented on #115
I'm having the same problem since I've added cypress E2E tests

[2019-10-18 16:38] HMilbradt opened #200 "Domain activation is Failed - One or more domain names have failed validation due to a Certificate Authority Authentication error."
**App Id**: d3bsiju3l3vwuf
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I'm unable to add a root domain in the Amplify console.  I have tried with and without CAA records that include amazon.com, as outline [here](https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting-caa.html).  I have tried deleting the domain multiple times, deleting the DNS

[2019-10-18 17:51] blazinaj commented on #121
I am trying to get Cypress hooked up, but the console is not Auto-Detecting my Cypress configuration as per the docs:
![image](https://user-images.githubusercontent.com/39976117/67116352-18ccb200-f195-11e9-9712-dfa1a7b2c934.png)

Is there something that I need to set up in the project directory to enable this to work?

This is my Auto-detected settings
![image](https://user-images.githubuserconten

[2019-10-18 23:37] swaminator commented on #186
@suhas-007 do you have a file available at https://www.test.com/test.html? If not, then Amplify Console automatically adds trailing slashes.

[2019-10-18 23:58] nationwide13 commented on #200
Can you share the CAA record you created? (omitting your domain name)

Regardless of what domains you specify Amplify Console requests a certificate with both the root (mydomain.com) as well as a wildcard cert (*.mydomain.com), so your CAA record must allow us to create a certificate for both of those.

Thanks

[2019-10-19 00:00] anatonie commented on #200
Can you share the CAA record you created? (omitting your domain name)

Regardless of what domains you specify Amplify Console requests a certificate with both the root (mydomain.com) as well as a wildcard cert (*.mydomain.com), so your CAA record must allow us to create a certificate for both of those.

Thanks

[2019-10-19 12:57] simpson commented on #173
This would be great! We could replace Netlify for our test builds and just use Amplify

[2019-10-19 16:24] HMilbradt commented on #200
Thanks for the reply @anatonie.

I did not have a wildcard cert set up.  I have just added it and will update if that works 👍.

My CAA records:

CAA example.com 0 issue amazon.com
CAA example.com 0 issuewild amazon.com

[2019-10-19 17:03] HMilbradt commented on #200
Adding the wildcard CAA as well as the root CAA fixed this.

I believe the reason the CAA records were required at all is because we are using Cloudflare's Universal SSL, which automatically adds several CAA records behind the scenes.  I didn't realize that all these records also had both the root CAA and wildcard CAA records, which should have told me that the amazon CAA records likely require th

[2019-10-19 19:48] mrcoles opened #201 "Cannot get Amplify assets in Cloudfront to report x-cache: Hit from cloudfront"
I cannot get Cloudfront to report a hit from Cloudfront for any of my static files, despite setting aggressive Cache-Control headers.

**Describe the bug**
*A clear and concise description of what the bug is.*

When I load this URL from my site, I am unable to ever

**To Reproduce**
*Steps to reproduce the behavior:*

1. Deploy an AWS Amplify project
2. Add the following `customHeaders` to the `fr

[2019-10-21 06:27] ptrobert commented on #201
#92 , This is reported here also, we are facing the same problem.
AWS amplify should clarify the cache behaviour once for all, It should come with standard documentation and examples for demonstration.

[2019-10-21 15:24] talebbits opened #202 "What is the current build resources and can we add more resource ?"
** Please describe which feature you have a question about? **
We are looking to options speed up gatsby build is it possible to add more CPU?

** Provide additional details**
If you can point me to documentation where we could find amplify console CPU count so that we can set `GATSBY_CPU_COUNT`

[2019-10-21 16:38] #200 closed

[2019-10-21 17:44] ConnorNumberOne commented on #115
Was this solved in #101?

I'm still getting the same error on my staging and prod environments. I'm going to take out some of the assets that I no longer use to see if it makes a significant change.

[2019-10-21 21:57] talebbits opened #203 "Does Gatsby .cache work ?"
** Please describe which feature you have a question about? **
Trying to cache gatsby .cache directory but does not seems like it working.

I have following Build settings

[code]

** Provide additional details**

[2019-10-22 00:22] talebbits commented on #203
its working but to reduce build time need to cache
`- gatsby/public/static/**/*`

[2019-10-22 00:22] #203 closed

[2019-10-22 02:57] kota65535 opened #204 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1igffntj9dkjc
**Region**: ap-northeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain Activation fails.

**Error message**
One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
- no CNAME record in my domain
- no CloudFront distribution yet

[2019-10-22 04:20] welkomtravel opened #205 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2tn8d1erecsjn
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-10-22 15:18] KidSysco opened #206 "Amplify Console Build Failure - facebookAppId, amazonAppId, googleClientId, hostedUIProviderCreds] must have values"
I added auth to my project with the Facebook, Google, and Amazon Logins. I got Cognito working well, so I decided to add an API using the AppPool for security.

I added the default graphQL API that adds todos with a simple one-to-many relationship, I ran ```amplify push``` and everything worked great. AppSync, Dynamo, and Cognito were all looking perfectly in each console.

I committed my code to

[2019-10-22 22:51] Joycehao19 commented on #168
@matiasmagni : According to our records, it looks like your domain is now resolving. Please let us know if you continue to face any issues.

[2019-10-22 22:51] #168 closed

[2019-10-22 22:52] Joycehao19 commented on #156
@ChadVerity : Can you please provide your appId and region?

[2019-10-22 22:54] Joycehao19 commented on #166
Duplicate of #168

[2019-10-22 22:54] #166 closed

[2019-10-22 22:58] Joycehao19 commented on #187
@aromka : According to our records, your app is not available. Did you delete it?

[2019-10-23 03:01] funkel1989 opened #207 "My custom domain SSL is not working"
**App Id**:  d2xsvr2jiiyamj
**Region**: us-east-1
**Step**: Complete
**Status**: Complete

**Issue/question**
when navigating to my website through my custom domain the site is showing as an insecure site and not having an SSL certificate. When using the URL amplify provides for CloudFront this issue does not occur. When clicking the view SSL cert for my site the domain manager says it is active

[2019-10-23 05:18] yfaney commented on #28
Actually I have found the root cause. I needed to set the correct baseDirectory to point to babel output in build settings.

[2019-10-23 14:12] kota65535 commented on #204
I re-created my domain and it begins to work.

[2019-10-23 14:12] #204 closed

[2019-10-23 19:10] suhas-007 commented on #186
Yes files are available at the corresponding url.

[2019-10-23 19:40] cslogan-red commented on #92
Trying to provide a little more clarity until we've got a further solution. As @swaminator mentioned, your content is being cached and returned by our origin CDN, however you're seeing the response header from the closest edge CDN as a miss (which is by design), which is understandably confusing. The design is a bit more complex than alluded to, but in order to facilitate instant deployment change

[2019-10-23 19:41] cslogan-red commented on #201
Closing as a duplicate of #92 , see latest comment there for clarification.

[2019-10-23 19:41] #201 closed

[2019-10-23 19:54] mrcoles commented on #92
@cslogan-red what about being able to respond with 304 “not modified” for assets (for example my site.webmanifest file gets requested with a 200 status every time, despite the request header and response header etags matching) and also what if the instant deployment optimizations were bypassed if the cache headers are aggressive enough (e.g., "Cache-Control: public,max-age=31536000,immutable")?

[2019-10-23 20:10] cslogan-red commented on #92
@mrcoles we're considering a number of solutions for both the confusing initial response header from the edge CDN as well as tuning the edge CDN's performance that just need prioritization, we'll respond to this thread once we've implemented an update!

[2019-10-24 13:20] RyanHow commented on #150
I dumped the public key, but GitHub doesn't allow you to use a deploy key in more than 1 repo.

So it looks like I need to use the user account approach in the link that you mention.

I misunderstood the link you posted. I thought I needed to change the way the project was set up, but I can just change the submodule config as part of the build script.

It's kinda complex and I haven't seen much in

[2019-10-24 13:34] RyanHow commented on #150
I found this link to which has another idea

https://forums.aws.amazon.com/thread.jspa?messageID=888750

[2019-10-24 13:46] RyanHow commented on #150
Is there a way to regenerate the private/public key pair, or specify my own?

[2019-10-24 15:51] RyanHow commented on #150
Ok, so after messing around with keys I found:

- I didn't actually dump the public key, I don't know what I dumped. But it seems the public key is deleted and the SSH agent is stopped BEFORE the build script runs. So you have no way to get the public key.
- Attempting to add your own private/public keypair results in your private key being plastered everywhere in plain text - In your environment

[2019-10-24 16:11] RyanHow commented on #13
Hey I just found this article here

Looks like there is a way to do it through cloudwatch?

https://medium.com/@dabit3/introducing-the-amplify-console-8-exciting-features-7e4075ff7b36

[2019-10-24 16:42] pcoleman-pixafy commented on #115
@swaminator this is happening on the staging-mx branch of my build as well:

ARN: arn:aws:amplify:us-east-2:550189166758:apps/d1wxird61210hn

My team and I have 3 other branches that deploy fine without issue.

[2019-10-24 16:57] anatonie commented on #195
Hi @codingnuclei

This is actually caused by CORs configuration, as the browser treats this request as a cross-origin request and as such does not send the necessary credentials.

Adding **crossorigin="use-credentials"** to the link in your **index.html** will fix this issue by telling your browser that this call needs to be made with your authentication credentials.

[code]

More information on t

[2019-10-24 17:00] arturomonge opened #208 "DNS problem with branches with very long names"
**Describe the bug**
Branches with very long names are assigned invalid DNS names, so when you try to access the connected branch, you get the error:

[code]

This is because the label part for the branch name is longer than 63 characters. According to [RFC1035](https://tools.ietf.org/html/rfc1035):

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://feature-fpafe-6-when-th

[2019-10-24 17:03] anatonie commented on #202
Hello @talebbits

Builds currently use an instance with **4 vCPU** and **7GB RAM** (from [FAQs](https://aws.amazon.com/amplify/console/faqs/))

At this point in time there is no way to use more powerful instances at build time. You are more than welcome to open a [new feature request](https://github.com/aws-amplify/amplify-console/issues/new?template=feature_request.md) for this feature!

Thanks

[2019-10-24 17:03] #202 closed

[2019-10-24 17:13] anatonie commented on #205
Hello @welkomtravel

Can you please share the error message the you see on the domain management screen in the console?

Thanks!

[2019-10-24 23:14] 0luftballoons opened #209 "Moving custom domain between different AWS Amplify accounts deployments"
**Issue/question**
We currently have an app deployed under AWS Amplify, using an account "Account-A", and using a custom subdomain, "foo.bar.com".
We'd like to move/redeploy the app using AWS Amplify, but using a different account, "Account-B", and using the same subdomain, "foo.bar.com".

I found a similar issue https://github.com/aws-amplify/amplify-console/issues/22
and would just like to confi

[2019-10-24 23:20] codingnuclei commented on #195
@anatonie thanks, that worked like a charm. Thanks for the response!!

[2019-10-24 23:20] #195 closed

[2019-10-25 00:05] amey91 opened #210 "Electron builds failing while connecting Electron app to Github branch"
**Describe the bug**
This is possibly due to a missing dependency in the kernel used by Amplify as detailed below.
While trying to build my Electron app on Amplify, the build keeps failing with this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. You will have to build the app on your infrastructure

**Expected behavior**
The build should succeed.

**Additional context**
A sim

[2019-10-25 00:45] anjalimaheshwari opened #211 "custom godaddy domain, managed with Route53 not working"
Currently a Wix website is hosted on my domain but now I am trying to develop my own website. I disabled my Wix website connection to the domain. I followed the steps in this article: https://read.acloud.guru/how-to-deploy-a-custom-domain-with-the-amplify-console-a884b6a3c0fc
My website it available on the domain Amplify provides under amplifyapp. However, the custom domain is not working.

I've a

[2019-10-25 00:51] anjalimaheshwari commented on #211
On chrome I get "The site cannot be reached.... server IP address could not be found."

[2019-10-25 15:05] neilbts commented on #36
WAF would be fantastic but IP whitelisting would be sufficient. Thanks!

[2019-10-25 16:36] dzincone commented on #115
Having the same issue on my 'dev' branch

ARN: arn:aws:amplify:us-east-2:392911942550:apps/dggeq6y7mtf3z

[2019-10-25 20:22] codermeisje commented on #116
@garyleefight - what other information should I provide you with?  I didn't configure it - I used amplify to set it up.  It worked the first time (months ago) - but when I removed the domain and added it to a new project, it gave me these errors.  If you could let me know what information you need from me - then I will get it for you.
Thanks!

[2019-10-25 21:02] blazinaj commented on #121
Update: I haven't quite gotten the Cypress tests to work yet, but I think it is just a configuration thing that I have incorrect.

On another note:
The PR Preview feature is absolutely fantastic! We are looking into completely augmenting our CI/CD flow due to this integration.

Thank you to the Amplify Console team for all the hard work and for implementing these features so quickly.

[2019-10-25 21:31] #121 closed

[2019-10-25 23:07] Joycehao19 commented on #211
Hi @anjalimaheshwari
Could you please send me your appID(App settings > general), region and the status of domain management page?

[2019-10-26 07:23] jaymcguinness opened #212 "Domain activation is Failed - existing wildcard Cloudfront conflict?"
**App Id**: d3203l8rg5g22r
**Region**: eu-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Should I be able to set up custom domain if I have an existing Cloudfront distro bound to wildcard domain?

I already have multiple cloudfront distros where one is bound to wildcard domain and others to specific sub-domains.  Eg.

* Cloudfront distribution #1 - *.foo.com
* Cloudfront

[2019-10-26 22:37] teslaLDead opened #213 "SSL certificate for root domain is showing invalid."
**App Id**: d1adxv4fcyjebh
**Region**: Mumbai
**Step**: SSL certificate for custom third party domain

**Issue/question**
The SSL certificate configured by amplify for the root domain i.e **domain.com** is showing invalid, while the SSL certificate for the **www.domain.com** url is working fine. I am using godaddy for my domain management. I have configured a redirect from root domain to the **www

[2019-10-28 16:28] anatonie commented on #210
Hi @amey91

You are correct, xz is not installed on our build image at this time.
You can install it by adding **yum install -y xz** into your build commands. You can do the same for any other dependencies that are missing to build your Electron app!

Thanks

[2019-10-28 22:21] maiconcarraro opened #214 "React.js and cache invalidation"
**Describe the bug**
I created an app using create-react-app, connected my repo to amplify console and deployed. Then I did some changes and pushed to the master branch. Waited for deploy finish, went to amplify's url and nothings changes. I need to force cache reload (CTRL+SHIFT+R) to see new changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Use create-react-app
2. Configure and depl

[2019-10-28 23:29] shimcup opened #215 "Domain activation is Failed - [CName already associated with a different resource]"
**App Id**: d2m2l8ev6wkq0g
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I keep getting the error of CNAME being associated with a different resource. I am using my route53 domain that I used to host my app with using S3 with, but I don't think there is any other resource I am using.

**Error message**
If there is an error message, please include it here.

[2019-10-29 13:55] rickiesmooth commented on #115
does it help putting your ARN number here?

[2019-10-29 14:49] mads79 opened #216 "configuring access-control-allow-origin header"
** Please describe which feature you have a question about? **
Amplify configuration custom headers not working for me.

** Provide additional details**
I'm trying to deploy a js bundle with AWS amplify.
I need to add a Access-Control-Allow-Origin:'*' header to all the deployed files so they can be loaded from wherever. I tried to achieve this by adding a custom header like this::
[code]
But no he

[2019-10-29 15:10] mads79 commented on #216
ok, probably just slow to roll out, it actually works.

[2019-10-29 15:10] #216 closed

[2019-10-29 17:57] swaminator commented on #206
@KidSysco are you creating a new backend environment through the Amplify Console or are you reusing one created through the CLI?

[2019-10-29 18:22] garyleefight commented on #215
@shimcup. Searched your distribution. Looks like your domain is attached to accountID:
392xxxxx6650 with Distribution id: d3a0leoic8awjx. Please deleted it first.

[2019-10-29 21:08] garyleefight commented on #213
@teslaLDead. The reason is that the certificate we issued for you is for www.domain.com and is mismatched with domain.com.  You should set redirect rule for your root domain.

[2019-10-29 21:17] garyleefight commented on #212
@jaymcguinness Sorry. You can't do this. CloudFront will not allow you to attach wild card in one distribution and subdomain in another distribution.

[2019-10-29 21:31] jaymcguinness commented on #212
Really? Cos I have exactly that working already.

[2019-10-29 21:32] garyleefight commented on #209
@0luftballoons . This is the right steps for now.

[2019-10-29 21:38] garyleefight commented on #212
@jaymcguinness https://stackoverflow.com/questions/54115340/cnamealreadyexists-when-setting-a-wildcard-cname-in-a-cloudfront-distribution.
Can you add your www.foo.com to amplify app right now?

[2019-10-29 21:41] jaymcguinness commented on #212
Sadly not - so to recap.

I can manually setup 2 distributions - one wildcard, one subdomain and it works.

I removed the manually created www.foo.com distribution, waited 12 hours and tried to create www.foo.com via Amplify app, but it fails with above error.

[2019-10-29 21:48] garyleefight commented on #212
@jaymcguinness . Looks like your www. domain is still attached to a cloudFront distribution.
It's in account 087xxxx22640 with distribution ID: d3glvhegruywac.
That should be the root cause

[2019-10-29 21:50] jaymcguinness commented on #212
HI @garyleefight

Lol - no, that's me just creating it again (just now) manually to check I wasn't going mad!

[2019-10-29 21:51] jaymcguinness commented on #212
Feel free to close - and I'll re-create the problem and open a new issue if that's easier.

[2019-10-29 22:05] garyleefight commented on #207
@funkel1989 Sorry for the late reply. Looks like you have deleted the app. Please let us know if you still have issues.

[2019-10-30 00:21] garyleefight commented on #214
@maiconcarraro. Could you provide your appId and region? It could be a bug for us.

[2019-10-30 00:26] teslaLDead commented on #213
I solved the issue by using aws name servers instead of godaddy NS. Configured aws route 53 to set my CNAME and other records. It is working fine now.

[2019-10-30 00:27] #213 closed

[2019-10-30 00:45] maiconcarraro commented on #214
@garyleefight Sure, it's **us-east-1** and **d3n05fd1eoav4x**

[2019-10-30 02:33] funkel1989 commented on #207
Hello @garyleefight . I had deleted and recreated the hosting and then the entire app to see if it would make a difference and it did not. Here is the new App Id - d2xsvr2jiiyamj.   Everything else is the same

[2019-10-30 13:24] KidSysco commented on #206
That is a really good question, I guess it is unclear what I am supposed to do here.

I use the CLI to push everything and test my code locally.

In the Amplify Console, I noticed there is a setting only available when setting up the app for the first time. It asks me if I want to deploy the backend, or only deploy the front end. I tried to change this setting after the app was created but I was u

[2019-10-30 18:26] #198 closed

[2019-10-30 18:32] VividKnife commented on #196
aws amplify update-domain-association --app-id xxxxxxx --domain-name mydomain.com --sub-domain-settings "[{\"prefix\": \"test\",\"branchName\": \"test\"}, {\"prefix\": \"\",\"branchName\": \"master\"}]"

basically, each time you add a sub domain, you need to include every existing subdomains to the new request.

[2019-10-30 19:52] maiconcarraro commented on #214
@swaminator that's right, it was service worker. sorry about that.

[2019-10-30 19:52] #214 closed

[2019-10-30 20:54] ConnorNumberOne commented on #115
It was a cache size error for me. I solved it by removing the branch and re-adding it.

[2019-10-30 21:07] #209 closed

[2019-10-30 22:06] phyzixmusic commented on #28
can you share your build settings on amplify please

[2019-10-31 00:20] stefangomez opened #217 "build navigation UX bug"
**Describe the bug**
If you're on the latest build, and you are navigating to previous builds. it's way too easy to accidentally click "redeploy this version". It's really annoying -- I've done it too many times to count now.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to latest build of any project that has current builds
2. Click on the < button to go to previous build
3. The cursor

[2019-10-31 00:37] dzincone commented on #115
My issue was solved by correcting the build path for the build step. Was defaulted to `/` and needed it at `/build`

[2019-10-31 05:38] tahoeaussie opened #218 "Changing the Bitbucket where a Repository has been transferred."
** Please describe which feature you have a question about? **
Bitbucket Connection Disconnection

** Provide additional details**
I have transferred the bucket repository to another Bitbucket Team account. As a result, the connections are now broken.

I can't find information anywhere that allows me to disconnect the current Bitbucket repository and authenticate it to the new Bitbucket owner acco

[2019-10-31 12:19] kontrol-debug commented on #196
@VividKnife ,

Thankyou for the help.

[2019-10-31 12:19] #196 closed

[2019-10-31 13:16] adamaltman opened #219 "Support PR Previews with subdomains"
**Is your feature request related to a problem? Please describe.**

One of our apps requires a secure cookie be set on our domain name.  The previews are built and available at a URL like this one:
[code]

**Describe the solution you'd like**

I would like to be able to replace amplifyapp.com (in that pattern above) with a custom domain, that's managed in route53, automatically.

**Additional cont

[2019-10-31 13:59] yfaney commented on #28
There was nothing special:
[code]
I set baseDirectiry to **dist** because I used babel to compile jsx.

[2019-10-31 15:08] simpson commented on #173
The new previews feature is working awesome! Thank you @swaminator!!! We no longer need Netlify and can run all of our CI/CD through Amplify

[2019-10-31 16:17] alastair-todd opened #220 "Event hooks"
**Is your feature request related to a problem? Please describe.**
It would be useful to have events to hook into from Lambda

**Describe the solution you'd like**
Make available standard build started, failed, completed events to lambda

[2019-10-31 16:55] garyleefight commented on #217
@stefangomez Thanks for the feedback

[2019-10-31 18:43] swaminator commented on #220
@alastair-todd those are currently available. Adding an 'Email notification' actually creates an SNS topic which will allow you to watch for build start/fail/complete events.

[2019-10-31 19:05] alastair-todd commented on #220
I want to trigger some further external testing.

On Thu, 31 Oct 2019, 18:43 Nikhil Swaminathan, <notifications@github.com>
wrote:

[2019-10-31 20:39] arximughal opened #221 "Geo restricting with AWS Amplify and AWS CloudFront"
** Please describe which feature you have a question about? **
Since AWS Amplify already uses CloudFront. Why isn't there an option to restrict web apps under the Amplify console?

** Provide additional details**
Is it even possible? If yes, how do I achieve this? I have an application on AWS Amplify and it's working perfectly. However, I need to geo restrict access to the application!

[2019-10-31 23:55] prionator commented on #56
Would love custom SSL certs in Amplify!

[2019-11-01 02:28] toddcoulson opened #222 "Domain Management not working because of previous EC2"
I am working through domain management in Amplify. I had a domain, buckscountytourofhonor.org. I had it tied up with a Bitnami instance on EC2. That was giving me problems, so I rebuilt the app in React, put it in github and used amplify. The app works before I add domain management. But I terminated the EC2 instance that was tied to my Route53 domain. Then I added the same domain from Route53 int

[2019-11-01 02:36] mcg5de opened #223 "Console build fails during initialization of environment"
**Describe the bug**
I am developing a web app using React and deploying through Amplify Console. So far I had successfully built several commits on Amplify Console on the master branch of my repo, but on the next build after a commit that removed 2 other amplify cli envs other than master, the build began to fail despite the fact that those edits should not have affected it. The error is during t

[2019-11-01 06:03] tansyDeveloper03-MohammedSalman opened #224 "aws amplify build code storage"
where front-end code store in amplify?
Note:Not using S3 bucket

[2019-11-01 10:43] wbroek commented on #56
Adjusting settings of the SSL/TLS (like versions) would be great and using AWS Certificate Manager  even better

[2019-11-01 11:24] rickiesmooth commented on #115
weird, I re-added my branch (by removing and adding the app?) and as far as I can see my build path is correctly setup (for me it's web-build). Would be great if someone from the amplify team could advise.

[2019-11-01 19:03] DavidNelsonCordelia opened #225 "redirect for a static file"
** Please describe which feature you have a question about? **
Using Amplify console to host our SPA web site

I need to provide access to this static file:
`https://cloud-coop.info/.well-known/apple-developer-merchantid-domain-association`

apple-developer-merchantid-domain-association is just a static text file.

I have this statement in amplify.yml which I am pretty sure gets the file on the si

[2019-11-04 11:37] bordeo commented on #41
@swaminator
I have the same problem with my app d1ll0ojvkzv9e7

Could you help me?

[2019-11-04 15:57] dwvisser opened #226 "Push CSS-only changes to my auto-build branch fails to trigger build"
**Describe the bug**
Twice now in my Amplify project, I've had a push to my auto-build branch ("master" on AWS CodeCommit) fail to trigger a new build. Both times the commits consisted only of changes to my main CSS file.

**To Reproduce**
Steps to reproduce the behavior:
1. Take an existing Amplify project, which usually builds upon commit to a auto-build branch.
2. Make changes only in a CSS fil

[2019-11-04 16:35] lionzan opened #227 "Hugo deploys correctly, but site gets ERR_TOO_MANY_REDIRECTS error"
** Please describe which feature you have a question about? **
I am using Amplify with a Hugo site from a Code Commit repository sitting. The site deploys correctly to https://master.d3krcsf8wazcmd.amplifyapp.com/ but there I get the message
[code]
What am I doing wrong?

** Provide additional details**
I followed this [tutorial](https://gohugo.io/hosting-and-deployment/hosting-on-aws-amplify/)
Se

[2019-11-04 23:20] Joycehao19 commented on #227
Thanks for reporting this issue. We are currently investigating.

[2019-11-04 23:21] Joycehao19 commented on #226
Thanks for reporting this issue. We are currently investigating.

[2019-11-05 01:06] Joycehao19 commented on #207
@funkel1989 It looks like your custom domain works fine now. Please let us know if you have any issues.

[2019-11-05 01:49] #142 closed

[2019-11-05 03:02] funkel1989 commented on #207
it does seem to be working now but was not just the other day. I also find it fairly odd that it happened after removing and re-adding the entire application also. I'm glad this was able to be resolved but just curious if there is something different I should do in the future?

[2019-11-05 03:38] despau opened #228 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d1ivk7sfrct595
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-11-05 11:01] rickiesmooth commented on #115
@swaminator maybe you have an idea to reset the cache or something? I'm having this issue for a while now since I've added cypress tests.

[2019-11-05 11:58] despau commented on #72
Hi, I have read all the comments and I am having the exact same issue because I did not purchase my domain from Amazon.
Anyway you could share your solution, please. I have been struggling with this for over a week now.
Thank you !

[2019-11-05 15:17] shimcup commented on #215
Hi, so seems like that's coming from the certificate manager that I created for one of the CloudFront distributions that I already deleted. I checked the CloudFront console, and I don't have any distributions there. I tried to delete the certificate, but it says that the certificate is associated with the deleted distribution. Do I need to delete the distribution via CLI?

[2019-11-05 16:52] tomgreenwood1 commented on #96
Are the environment variables available to the root stack? If so, I guess it'd be possible for a user to pass them down with !refs to parameters of nested stacks?

What is the recommended way to pass environment variables from the amplify console to the environment variables of a lambda function in the backend?

My use case is that I need to be able to 1) pass some database secrets to the lambda,

[2019-11-05 17:21] swaminator commented on #227
@lionzan  Amplify Console adds a default redirect to index.html for a 404 which tells me your output folder is incorrect. Is `public` your right output folder?

[2019-11-05 17:24] swaminator commented on #224
Amplify Console is a fully managed service. The files are stored in our account and you are priced accordingly: https://aws.amazon.com/amplify/console/pricing/?nc=sn&loc=2

[2019-11-05 17:24] #224 closed

[2019-11-05 17:30] swaminator commented on #221
@arximughal have you tried this: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#region-based-redirects

[2019-11-05 17:32] swaminator commented on #220
@alastair-todd can you be more specific? The SNS topic that we create can be used with a Lambda function to trigger on events: https://docs.aws.amazon.com/lambda/latest/dg/with-sns.html

[2019-11-05 17:40] #107 closed

[2019-11-05 17:41] #144 closed

[2019-11-05 17:42] swaminator commented on #144
Closing this issue right now. If you're still having issues please reopen.

[2019-11-05 18:11] Joycehao19 commented on #228
@despau  Looks like your domain is in PENDING_VERIFICATION status. Please try to remove and add the custom domain again. The following links show the way to set up :
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html
https://docs.aws.amazon.com/amplify/latest/userguide/howto-third-party-domains.html

If you still face the same issue, please let us know.

[2019-11-05 18:38] artista7 opened #229 "How to reset amplify build - envCache"
**Describe the bug**
I re-created dev environment using amplify cli and when i pushed the changes, amplify console was picking old stackInfo from envCache. I can't find any documentation of how to prevent using old cached values. Below are the logs:-

**logs**

//Getting Amplify CLI Cloud-Formation **stack info from environment cache
2**019-03-27T13:32:53.066Z [INFO]: # Start initializing Amplify

[2019-11-05 18:38] #229 closed

[2019-11-05 19:07] nimacks commented on #186
@suhas-007, just to confirm, is the file an html file?

[2019-11-05 19:54] Joycehao19 commented on #226
@dwvisser : Can you please send me your appID (App settings > general) and region?

[2019-11-05 20:19] swaminator commented on #200
@HMilbradt out of curiosity why are you using CloudFlare in front of Amplify?

[2019-11-05 20:51] dwvisser commented on #226
Is this it?
`arn:aws:amplify:us-east-1:756692076925:apps/d13zqa7kc42leq`

[2019-11-05 21:09] Joycehao19 commented on #186
@suhas-007 I saw your folder structure on AWS Premium Support. If you have an available file `test.html`, the url would be replaced as https://www.test.com/test
If the file is `test.component.html`, it would be automatically added trailing slashes by Amplify Console.

[2019-11-05 21:37] vshamgin opened #230 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d3d6p5ntxrs01j
**Region**: us-west-2
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-11-05 21:46] mcg5de commented on #223
@swaminator I setup the live updates as described and set it to latest, but the build still failed.

For setting up the backend, most everything was setup using my Amplify CLI. I tweaked some settings using the console afterwards but nothing that should have broken it/ it still works using localhost with the same cloud resources.

[2019-11-06 00:55] rkaplan commented on #36
+1 for IP whitelisting, this would be extremely helpful

[2019-11-06 03:45] tansyDeveloper03-MohammedSalman commented on #224
HI there,

where exactly build folder will be stored ?

thanks
Salman

On Tue, Nov 5, 2019 at 11:00 PM Nikhil Swaminathan <notifications@github.com>
wrote:

--

Thanks & regards
Mohammed Salman
9676945352

[2019-11-06 12:12] blomm opened #344 "How do I get chrome-headless installed on my build-machine-image (Linux2)?"
** Which Category is your question related to? **
Deployment pipeline

** Provide additional details e.g. code snippets **
in the amplify.yml file I'm running "npm install puppeteer" to get chromium installed (must be a better way, no?), and in the env variables I've set CHROME_BIN to be /usr/bin/chromium-browser but the tests timeout because they cant find chrome here.

my test script is:
ng test

[2019-11-06 18:51] swaminator commented on #36
@rkaplan @neilbts @connor-rw @danieladams456 @blazinaj thanks for all the feedback. So far we've received requirements along a spectrum:
1. IP Whitelisting: Ability to restrict access based on IP addresses.
2. WAF: Ability to setup a firewall to use features such as geographic restriction, pattern matching.
3. VPC: While we haven't heard it here, we've had customers ask us to offer a managed hosti

[2019-11-06 18:56] swaminator commented on #226
@dwvisser do you have an example repo that we can try? we haven't been able to reproduce this at our end.

[2019-11-06 19:16] aprabhakar90 opened #231 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1zp1nkmpr9my5
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-11-06 19:20] Joycehao19 commented on #116
@codermeisje can you share a screenshot of what you're seeing in the Domain management page? Are you seeing any associated error? We're trying to root cause this.

[2019-11-06 19:33] danieladams456 commented on #36
@swaminator VPC would be awesome as we could then easily put it behind ALB OIDC auth.  That would simplify things over having static on Amplify, which then has to trap denies/login redirects on ajax calls and do the appropriate action to kick off the login flow.

It also would mostly do away with the need for #184

[2019-11-06 21:00] vshamgin commented on #230
Guys, It's been I am stuck on every step while trying to set up my domain with you. C'mmn!

[2019-11-06 22:03] swaminator commented on #231
@lion-and-lotus what reason are you seeing?

[2019-11-07 00:26] dwvisser commented on #226
I've cloned my repo to a public GitHub repo: https://github.com/dwvisser/knoxccl/commits/master

https://github.com/dwvisser/knoxccl/commit/9814ba70a96038a8ea91439616c318247dc45ee2 is an example of a commit I pushed that didn't trigger a build.

[2019-11-07 00:27] litwicki commented on #115
@rickiesmooth forgive the obvious question, but if you disable Cyprus are you able to build?

[2019-11-07 00:39] swaminator commented on #77
@visusnet we have launched Cypress testing: https://aws.amazon.com/about-aws/whats-new/2019/10/aws-amplify-console-offers-end-to-end-browser-based-testing-with-cypress/

[2019-11-07 01:40] tmbtech opened #233 "Rewrite rule for sub domains to sub directory causes an infinite loop."
**Describe the bug**
Adding a rewrite rule which redirects a subdomain to a subdirectory causes an infinite redirect loop.

**To Reproduce**

1. Click `Domain management` link in the menu
2. Manage subdomain
3. create a subdomain "https://subdomain.example.com" and point it to master
4. click `rewrites and redirects` in the menu
5. add the redirect
[code]
6. in the browser goto `https://subdomain.

[2019-11-07 01:45] tmbtech commented on #225
I ran into something similar when writing the rewrite rules, it looks like the regex ```
^[^.]+$|\\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$) ``` is blocking your file.

[code]
is saying from start of the line to the end of the line, don't match anything with a `.`

you can go to regex101.com and input your regex and test different strings, hope this helps.

[2019-11-07 06:01] visusnet commented on #77
@swaminator Ans we are already using it for some time now. :) Thanks

[2019-11-07 06:01] #77 closed

[2019-11-07 16:21] lionzan commented on #227
@swaminator , sorry for late reply. Not sure what you mean. `public` is set as base directory in the `amplify.yml` file. In Hugo it should go automatically to `public`. Or am I missing something?

I didn't mention earlier, but the site works fine with the local Hugo server.

[2019-11-07 16:55] despau commented on #228
Thank you very much for the help. Everything is working now. I appreciate
the effort.

Regards

On Tue, Nov 5, 2019 at 1:11 PM Joyce Hao <notifications@github.com> wrote:

[2019-11-07 17:28] swaminator commented on #233
Can you try:
[code]

[2019-11-07 18:02] tmbtech commented on #233
Sorry, I should have provided more context. I have 3 different apps and would like to provide a vanity url. For example, each subdomain is routed to a different app. I'm basically running a monolithic repo, with multiple websites and npm modules.

[code]

would be ideal, but that didn't seem to work either.

the below caused an infinite redirect loop.

[code]

[2019-11-07 19:47] 0luftballoons opened #234 "Is there way to manually build branch with current commits?"
** Please describe which feature you have a question about? **
Build and deploy branches

** Provide additional details**
We have a "master" branch built and deployed. It has 'autobuild" turned off to avoid accidental building and deploying. After merging in commits from a 'development' branch, we don't know a way to manually force a "master" branch build that will pull in the new commits. Is this

[2019-11-07 21:57] rickiesmooth commented on #115
@litwicki thanks for getting back to me, yes I've tried to disable all test but that didnt help unfortunately. I did notice that when I try to `amplify publish` it locally it hangs on uploading my build artifacts
[code]

[2019-11-07 22:01] Joycehao19 commented on #116
@codermeisje Hello, did you update the CNAME/ANAME/Nameserver on your domain provider?

https://docs.aws.amazon.com/amplify/latest/userguide/howto-third-party-domains.html

[2019-11-07 22:29] ryanm43 opened #235 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3pra1i98n24cg
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

Error message
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

Notes
We used the domain before for a CloudFront distribution but we deleted everything.

[2019-11-08 00:15] codermeisje commented on #116
@Joycehao19 - I'm not using a third party domain provider.  My domain is registered with AWS and route53

[2019-11-08 02:12] swaminator commented on #227
@lionzan can you share a screenshot of what appears in the 'Deploy' tab in the build details?

[2019-11-08 02:13] #228 closed

[2019-11-08 02:15] swaminator commented on #207
@funkel1989 tough for us to speculate what the issue was without the appid. If you encounter something like this in the future, please let us know and we'll diagnose this for you.

[2019-11-08 02:15] #207 closed

[2019-11-08 02:16] swaminator commented on #222
@toddcoulson sometimes it takes time for the domain to become available again. Is your app working now?

[2019-11-08 08:31] bordeo commented on #115
@swaminator
I have the same problem with my app d1ll0ojvkzv9e7

Could you help me?

[2019-11-08 12:30] Zelig880 commented on #115
Hi guys,

I have the same issue. The App id is: d10w1ixpj82f3d

To provide you more details:
- I have deployed over 70 branches with no prob.
- Old branch still work
- I was doing some work and a branch failed
- I have created another branch ( with just variable name change) and it also fails

[2019-11-08 14:36] aromka commented on #187
@Joycehao19 - yes, deleted it, and re-created a new app. Seems to work fine.
One of the issue was that I had a disabled cloudfront using the same S3 bucket, so it was conflicting. The other issue is that you have js errors on that page.

In any case, everything works fine now.
Thanks!

[2019-11-08 15:04] rfpedrosa commented on #64
I also need this. It is frustrating that we can connect to Github from multiple AWS accounts on Amplify but not to Code Commit (own by AWS itself!)

[2019-11-08 16:05] lionzan commented on #227
@swaminator here it is:
[code]

[2019-11-08 17:32] nimacks commented on #115
We're actively investigating issues related to builds failing.

[2019-11-08 17:33] nimacks commented on #115
@Zelig880 , can you provide the region your app is in?

[2019-11-08 17:34] nimacks commented on #115
@bordeo , can you provide the region your app is in?

[2019-11-08 17:42] swaminator commented on #227
Can you check App Settings > Redirects?

I'm guessing because your `index.html` is uploading to `/posts/` the default redirect in there isn't correct.

[2019-11-08 17:56] lionzan commented on #227
This is what I have
![Screenshot 2019-11-08 at 17 55 08](https://user-images.githubusercontent.com/4692774/68499383-f9371f80-0250-11ea-98ff-ffa61f1fa429.png)

[2019-11-08 18:10] nimacks commented on #115
@rickiesmooth , can you provide your appId and region?

[2019-11-08 18:50] bordeo commented on #115
@nimacks eu-west-1

[2019-11-08 19:45] Zelig880 commented on #115
Us West (Oregon)

On Fri, 8 Nov 2019, 5:33 pm Samuel Mensah, <notifications@github.com> wrote:

[2019-11-08 20:47] nimacks commented on #115
@bordeo, it looks like your build is failing here are some logs :

[code]

[2019-11-08 21:28] amey91 commented on #210
I tried doing that but still the build fails at the same command

[code]

[2019-11-08 21:38] Joycehao19 commented on #226
@dwvisser I tried and reproducing this [here](https://github.com/Joycehao19/knoxccl/commit/d75af9adf07d8d6f7dd05a18eb5d57c626f3a038) and I wasn't able to reproduce the issue. Are you still facing this issue with your app?

[2019-11-08 21:53] bordeo commented on #115
@nimacks this is the last build. I had errore on build 69/70. I don’t remember. The error are on deploy step

[2019-11-08 21:53] Joycehao19 commented on #116
@codermeisje can you post a screenshot of your Route53 Hosted Zone settings. If you aren't comfortable sharing that here, please email aws-amplify-customer@amazon.com

[2019-11-08 22:35] patleeman opened #236 "404 (Rewrite) to static 404.html file not working"
**Describe the bug**

I have an application that looks like this:

[code]

I want to rewrite the path `/404.html` -> `/static/404.html` so I set up my rewrites like this:

![Screen Shot 2019-11-08 at 5 28 10 PM](https://user-images.githubusercontent.com/11035426/68514917-2a155580-024d-11ea-8358-6e6d50f9119e.png)

When I navigate to `/404.html` it falls through to my catch all and I'm redirected to

[2019-11-09 16:03] lion-and-lotus commented on #231
One or more of the CNAMEs you provided are already associated with a different resource.

I have checked and I don't see any cloudfront distributions.

[2019-11-10 09:01] blomm opened #237 "Domain activation is Failed - CNAMEs you provided are already associated with a different resource"
**App Id**: dbwksz5yaroo9
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain name registration fails for the root path

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
In route 53, there does exist a CNAME for the certificate registration (which is nece

[2019-11-10 22:23] adhikarisandeep opened #510 "GraphQL access using Cognito user pools - Request failed with status code 401"
** Which Category is your question related to? **
API, Auth
** What AWS Services are you utilizing? **
Cognito, GraphQL API
** Provide additional details e.g. code snippets **
Sample error I get for a get request:
  "errors" : [ {
    "errorType" : "UnauthorizedException",
    "message" : "Valid authorization header not provided."
  } ]
}

Same request works locally. But when I deploy through aws

[2019-11-10 23:42] codermeisje commented on #116
@Joycehao19 - I just sent the screenshot to the email address provided.

[2019-11-11 00:03] AlexThomas90210 commented on #95
Same problem, also in a brand new AWS account

[2019-11-11 04:28] toddcoulson commented on #222
No it is not working. I have been trying to enter different things into the
hosted zone but I do not really know what I am doing. I did try to add the
nameservers into godaddy to get the transfer of the 3rd party domain to
work right. I waited 48 hours after doing so, but it is still not reading
the other domain. Please help. buckscountytourofhonor.org is the domain I
am trying to get to work.
Tod

[2019-11-11 06:03] dahersoftware commented on #72
@despau In my case error was that nameservers given by Amazon(NS records) was not configured properly into my third party domain for lookup.

[2019-11-11 10:55] bordeo commented on #115
@nimacks the build on deploy error is 64

![Screenshot 2019-11-11 at 11 54 12](https://user-images.githubusercontent.com/1566127/68582041-11d64e00-047a-11ea-9471-1467c882876f.png)

[2019-11-11 15:26] Zelig880 commented on #115
@nimacks I do apologies, I have provided you the wrong region above.

My region is US East (N. Virginia).

I have just tried to deploy one of the failing branch again, and it is still failing. I will try now to create a new Branch, just in case the problem has been solved elsewhere.

Please keep us updated on the progress and the cause behind this issue, and it is affecting project delivery!

[2019-11-11 17:01] nimacks commented on #115
We have identified an issue in which customers with a very large set of files are unable to deploy their sites. We are actively prioritizing a fix for this. In the meantime, customers can delete unused branches in their app as a workaround.

[2019-11-11 17:59] Joycehao19 commented on #206
@KidSysco Using Amplify console to build and deploy the project, you could try:
1. Create your own `amplifypush.sh` like `myamplifypush.sh` in root folder `amplify-auth-app/myamplifypush.sh`
2. Add your authconfigs to the bash script
[code]
3. Edit `Build setting` in amplify console
[code]
4. Redeploy the app

This worked on my app. If you could not reproduce it, please let me know.

[2019-11-11 21:13] talebbits commented on #234
One way you could tigger build on demand by [webhooks](https://docs.aws.amazon.com/amplify/latest/userguide/webhooks.html)

[2019-11-11 22:03] fblanton commented on #229
@dabit3 Here's my `amplify.yml` contents in md. not saying it's correct. But I remember I had set `envCache --set stackInfo ""` once in the past when having issues. I then change that line to `'# envCache --set stackInfo ""'` when I want to allow the stackInfo to come from the cache.

[code]

[2019-11-11 22:29] nickygb opened #238 "is it possible to run docker inside build image?"
** Please describe which feature you have a question about? **

Is it possible to create a custom build image that contains docker installed or is it there any managed build image with docker already installed? I want to run docker inside my build image in order to build an image and then push it to ECR.

[2019-11-11 23:28] fblanton opened #239 "Deploy Failure: "Project stack doesn't exist" while stack does in fact exist"
**Describe the bug**
I have a project hooked up to AWS Amplify Console that auto deploys three branches from a private GitLab project.

It successfully deploys the beta branch to a `beta.` subdomain
It successfully deploys the master branch to an `app.` subdomain
**It fails to deploy the dev branch to a `dev.` subdomain**

It fails on the Build > Backend step of the auto deploy.

The error states:

[2019-11-12 07:10] swaminator commented on #223
@mcg5de please refer to https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-552548466

[2019-11-12 09:10] stevensacks opened #240 "Cypress Test hangs indefinitely and will not deploy"
**Describe the bug**
I have integrated Cypress into my app, followed all the instructions, made a Cypress dashboard account, added the env variable, added a cypress test to my app, ensured it passed, but no matter what I do, the Amplify build hangs on the Test tab.

This is a basic Create React App with AppSync and Apollo. I'm just trying to get the initial build stuff set up and I'm stuck.

[code

[2019-11-12 19:02] DavidNelsonCordelia commented on #225
thanks for the advice @tmbtech .  I think the point of that redirect is for a SPA to allow all those extenstions to pass.  and redirect everthing else.     This allows routing to work.

I just cant get how to get the route  https://cloud-coop.info/.well-known/apple-developer-merchantid-domain-association  to rewrite.   I think its falling all the way throught the rewrite rule logic to fire a 404.

[2019-11-13 06:07] aegonx commented on #91
Any progress on this? Is AWS Amplify console a valid solution at all if it comes to this?

[2019-11-13 09:15] stevensacks commented on #240
Here's what I've discovered after hours of messing around with it.

First off, I was using yarn for create react app. However, the docs for Cypress and Amplify use npm in the amplify.xml. So, I switched from yarn to npm for the project to see if that had an effect. It did. The test panel properly installed Cypress. **This seems like a problem.**

HOWEVER, while the URL that the docs say to put int

[2019-11-13 09:36] stevensacks commented on #240
I tried setting an environment variable for the URL being used by Cypress for the dev server.

[code]

Still hangs forever.

[2019-11-13 09:44] stevensacks commented on #240
I removed the `--record` flag for the time being on Cypress and this happened.

[code]

[2019-11-13 10:10] stevensacks commented on #240
As per the instructions at that link in the Cypress docs (even though their kitchen sink amplify.yml file has node_modules cached), I removed node_modules from the amplify.yml cache, and changed it to this:

[code]

I no longer get the above error from Cypress, but it hangs indefinitely again when it hits `npx cypress run`.

[code]

It feels like I'm just spinning my wheels here.

- The Cypress do

[2019-11-13 14:34] MoneyMan opened #241 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d1vmj5meg81w5g
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
It has taken more than 8 hours to conduct SSL Verification on my account.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information.

[2019-11-13 16:36] shimcup commented on #215
any updates on this?

[2019-11-13 18:06] nimacks commented on #240
@stevensacks , sorry you're having a hard time getting your tests to work. We're currently investigating this issue. We will follow up with you shortly.

[2019-11-13 18:26] nimacks commented on #241
@MoneyMan, sorry to hear that you're having issues getting your custom domain setup. My recommendation for you would be to remove and re-attach the custom domain since it has been more than 8hours. Let us know if this does not resolve your issue.

[2019-11-13 19:24] nimacks commented on #237
@blomm , Sorry to hear that you're having trouble setting up your custom domain. Do you have your root domain associated with any other resources for example a cloud front distribution?

[2019-11-13 19:30] blomm commented on #237
Hi @nimacks , in route 53 I have a NS type with four values, an SOA type, and a CNAME type for the certificate verification that points at _somegobledygoop.acm-validations.aws.
Is there somewhere else I should be looking other than route 53?

[2019-11-13 19:51] nimacks opened #242 "Automatically or manually delete old builds from build history."
**Is your feature request related to a problem? Please describe.**
Description of feature request:
A Customer would like the ability to delete old builds from build history.

**Describe the solution you'd like**
How this would work is that the builds deployed in the last X days and old ones are either deleted automatically or you can manually delete builds by date specified.

**Additional context*

[2019-11-13 20:13] suhas-007 commented on #186
@Joycehao19  I changed the test.component.html  to test.html  and even in the test.component.ts file I am referring the html in selector as test.html .
After pushing the changes and testing it ,still the same issue.

Please guide.

[2019-11-14 02:18] #110 closed

[2019-11-14 02:19] #169 closed

[2019-11-14 06:49] Jordan-SportX opened #243 "Console build is failing - auth headless init missing inputParams"
**Describe the bug**
Hi,

Our backend builds are failing with error message:
`Error: auth headless init is missing the following inputParams facebookAppIdUserPool, facebookAppSecretUserPool, googleAppIdUserPool, googleAppSecretUserPool`

We are using amplify cli 3.17.0 and react for the front end.
This is the build log:
[code]

We're not sure what's causing the issue, thanks!

[2019-11-14 09:59] lionzan commented on #227
@swaminator Any ideas?

[2019-11-14 17:21] stevensacks commented on #240
Thank you. I made a public repo that is essentially the same project (with the code that is specific to the amplify backend on my org’s AWS account removed).

https://github.com/stevensacks/amplify-test

[2019-11-14 17:36] swaminator commented on #243
@Jordan-SportX we are aware of this issue and will work on a fix soon. As a workaround, you can follow these instructions: https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-552548466

[2019-11-14 20:03] iamgbayer commented on #107
How did you solve the first problem with `invalid_client`?

[2019-11-14 20:45] mcg5de commented on #223
I was able to get that workaround working. Thank you for the help!

[2019-11-14 23:31] Joycehao19 commented on #235
@ryanm43 It seems like your domain works fine now (www.roxxxxxxxxar.com & testapp.roxxxxxxxxar.com). If you face the same issue, please let us know.

[2019-11-14 23:32] jon144 opened #244 "How do I send parameters to the Cloud Formation Templates from Amplify Console"
** Please describe which feature you have a question about? **
Amplify Console / Cloud Formation Templates

** Provide additional details**
How do I pass custom parameters to the Cloud Formation Templates from the Amplify Console?

I want to pass a custom parameter to the Cloud Formation Templates so the execution policies can be generated correctly.  Here is an example of the custom parameter tha

[2019-11-15 00:10] Joycehao19 commented on #237
Hi @blomm , Could you please check the `CNAMEAlreadyExistsException Error` section in
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html ? If you still have this issue, please let us know.

[2019-11-15 00:33] Joycehao19 commented on #231
Hi @lion-and-lotus Is this domain connected to a different App that you own?
Can you check `CNAMEAlreadyExistsException Error` section of
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-troubleshoot-guide ?

[2019-11-15 00:46] Joycehao19 commented on #215
@shimcup Did you still have this issue when you add the custom domain?

[2019-11-15 01:53] Jordan-SportX commented on #243
@swaminator Thank you for the quick response. We just added the workaround bash script and all seems to work :)

This seems a little unsafe since we are committing our app secrets to the repo.

Can we leave this issue open until the problem is fixed on your end? Thanks again

[2019-11-15 07:23] blomm commented on #237
@Joycehao19 @nimacks
doh, my bad, I had only "disabled" the cloudfront setup that I had created a few months back. Needed to fully delete it.  Appreciate both your efforts in helping out.

[2019-11-15 07:23] #237 closed

[2019-11-15 15:24] Abdulmoeidkhan opened #245 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2tz5th771zmyg
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2019-11-15 17:42] swaminator commented on #13
@RyanHow yes you can, it just requires you to configure it. Check out https://github.com/aws-amplify/amplify-console/issues/13#issuecomment-502240507

[2019-11-15 18:40] hibannu opened #246 "Published my first Gitlab project to AWS Amplify. The pipeline is successful but not able to launch the application"
**Describe the bug**
Published my gitlab project to AWS Amplify. It's called sample-calc-app and got published to Amplify successfully. The pipeline is successful but still not able to access it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'AWS Amplify console'
2. Click on app 'sample-calc-app'
3. Access the end point on amplify site: https://master.d2jymt0a0odnwr.amplifyapp.com/
4

[2019-11-15 19:11] swaminator commented on #246
Check your outpue folder in your [build settings](https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#setting-the-output-folder)  (under `App settings > build settings`) to ensure the your files are correctly being uploaded.  By default Amplify Console sets up a redirect `App settings > Rewrites and redirects` for any path that doesn't resolve to redirect to `index.html`. Howe

[2019-11-15 19:46] mwarkentin commented on #219
We have this same issue - our auth token is stored in a secure cookie scoped to our domain, so we are unable to authenticate from our SPA deployed to the preview URL in amplify.

A wrinkle on our end is that our DNS is configured in Cloudflare, not Route53, so I'm not sure how the DNS update would work.

One idea would be some sort of trigger from Amplify which could let us run a lambda to configu

[2019-11-15 22:23] mwarkentin commented on #13
@swaminator looks like that links back to this PR?

[2019-11-15 22:25] Joycehao19 commented on #245
Hello @Abdulmoeidkhan Can you please share the error message that you see on the domain management screen in the console?

[2019-11-15 22:52] Joycehao19 commented on #240
Hello @stevensacks
Thank you for providing the code.
When I worked on `amplify-test`, I changed the`amplify.yml` to :

[code]
(I didn't add any environment variables.)

It works on my amplify console.
Can you try it to see if it works on your application? If not, please let us know. Thanks!

[2019-11-16 00:27] Joycehao19 commented on #230
@vshamgin Sorry for the late response. It seems like your domain is working.

If you have this issue in the future, you could try:

[1]. Go to the domain manage page and click the re-try button
If [1] doesn't work, you could try:
[2]. Delete your current failed domain and try to add it again

[2019-11-16 00:29] Joycehao19 commented on #230
duplicate of #57

[2019-11-16 08:10] rnaresh commented on #41
@swaminator
I have the same problem. After removing the preview branches, redeployment was successful
What could be the reason?
App ARN - arn:aws:amplify:us-east-2:582734241681:apps/dpwfbpxczhwpr

[2019-11-17 04:03] stevensacks commented on #240
Wow. http://localhost:3000 worked! Thanks @Joycehao19 !

[2019-11-17 04:18] stevensacks opened #247 "Cannot connect to amplify domain when using 1.1.1.1 as my DNS"
**App Id**: not sure
**Region**: us-east-2 (Ohio)
**Step**: Verify
**Status**: Site is built, cannot access when DNS is 1.1.1.1.

**Issue/question**
I've set my DNS to Cloudflare's 1.1.1.1 on my computer. When it's on CloudFlare, I am unable to access my production branch URL after the build is complete. Technically, it's a dev subdomain branch, but that's besides the point.

If I switch from Clou

[2019-11-17 04:24] stevensacks commented on #240
So Cypress is now technically working, but the output looks nothing like the screenshot.

This is what it's supposed to look like (a nice UI list):
![image](https://user-images.githubusercontent.com/162252/69002972-63308280-093d-11ea-8523-784030a9117a.png)

But this is what mine looks like (noise garbage):
<img width="1070" alt="Screen Shot 2019-11-17 at 13 23 25" src="https://user-images.githubus

[2019-11-17 12:48] rickiesmooth commented on #115
I'm still seeing this issue and I believe I have only one branch? My appId is `dmm4bu2tim2c` and the region is eu-central-1, hope it helps!

[2019-11-17 14:03] mwarkentin commented on #13
@swaminator have you discussed amplify console notification support with the AWS chatbot team? That would be great. 😊

[2019-11-17 16:34] suhas-007 opened #248 "Amplify backend resources out of sync when moving between branches."
Amplify backend resources out of sync when moving between branches.

Steps to reproduce the behavior:
Two branches dev and test.
1.  A lambda function was created in the dev branch successfully
2. It was moved to the test branch by the following commands
git checkout test
git pull origin test
amplify env checkout test
amplify env pull origin test
git checkout proto amplify/
amplify status
amplify

[2019-11-17 17:29] blomm opened #249 "How to get my simple ng test command running with chrome headless"
** Which Category is your question related to? **
Deployment pipeline

** Provide additional details e.g. code snippets **

in my package.json:
`    "test-ci": "ng test --no-watch --no-progress --browsers=ChromeHeadlessCI",
`
in my karma.conf:
[code]

my test script is:
`ng test --no-watch --no-progress --browsers=ChromeHeadlessCI
`
in my build settings file:
[code]
ERROR MESSAGE:
ChromeHeadless h

[2019-11-17 17:58] DamickDoni opened #250 "SignIn leads to Error: User is not authenticated, deployed by amplify"
Hello,
I have implemented Amplify Auth into my App. (React 16.8.6).
Now I've got a weird error. When I try to SignIn I got the error:
[code]
The User is logged in (When I refresh the Browser I'm logged in).
The weird stuff is:

* Whit "everything works" I mean: After clicking SignIn => The "I'm logged in page" is correctly rendered

I'm using the withAuthenticator HOC
[code]

[2019-11-17 18:38] DamickDoni commented on #250
Now I reconfigured AWS Amplify in my app (incl. Auth). Instead of getting the Error: User is not authenticated. I get now: Wrong Username or Password (Again. In local everything works. Also when building and deploying (on s3) without Amplify console)

[2019-11-18 04:57] lion-and-lotus commented on #231
I checked as per the directions you provided, including using the AWS CloudFront console and I do not currently see any distributions. Please advise.

[2019-11-18 08:13] bakeruk commented on #41
Hope that helps.

[2019-11-18 09:10] rnaresh commented on #41
Thanks @bakeruk
In our case, the artifact size is 45MB and i have 4 deployments at max when the deployment failed

[2019-11-18 16:23] rkul commented on #101
Hello guys,

What about rolling this fix to other customers? We're faced with the same issue recently after enabling Previews feature.

![image](https://user-images.githubusercontent.com/5493637/69070062-9572da80-0a38-11ea-939f-4ca9b5fbfbb6.png)

We have 9 PRs opened and deployment fails randomly now with the same message as above:
[code]

[2019-11-18 16:34] rkul commented on #115
We have just 9 PRs opened and the deployments fail randomly now with the same message as above:
[code]
Application ARN is `arn:aws:amplify:us-east-1:044883579400:apps/d2lwxktxnpxork`

@nimacks could you provide any ETA or workaround? Our main frontend application in production is affected.

[2019-11-18 18:19] rfpedrosa commented on #64
another problem of the console is that `amplifyPush --simple ` does not pick settings from team-provider-info.json

[2019-11-18 18:48] Joycehao19 commented on #249
Hello @blomm , do you have a sample repo that we could test?

[2019-11-18 19:01] blomm commented on #249
Hi @Joycehao19 , not a publicly available one, unfortunately.
All the documentation relates to end to end cypress testing, but I just want to run my unit tests, should be simple.

[2019-11-18 19:09] HMilbradt opened #251 "Rewrite for 404's cancelling out trailing /'s"
**Describe the bug**
Under the heading "Trailing slashes and Clean URLs",  it says:

This works great on it's own, but we needed to add 404 handling for our static site, so we added the following rule:

EDIT: Adding 404 rewrite
/<*> rewrites to /200.html - 404 rewrite

This also works great.  We no longer see the "Access denied" error that is returned for 404's.  However, adding this breaks the cl

[2019-11-18 19:22] Joycehao19 commented on #240
Hi @stevensacks , when I worked on `amplify-test`, the test section showed a list of results as it's supposed to look like.

When you test your code locally, did you get the expected UI list?

[2019-11-18 21:21] swaminator commented on #250
@DamickDoni when you connect your branch in the console are you creating a new backend environment or are you reusing the one you created in the CLI?

[2019-11-18 23:24] Joycehao19 commented on #115
Hello @rkul , The reason which caused this issue: the maximum item size in DynamoDB is 400KB. All of the branches' config count as 1 item. Because you have 9 branches, the branchConfig item reached the 400KB limit.

In the meantime here’s the workarounds you could try:
1. If you have any branches that aren't being actively used, you can disconnect those branches which should be able to unblock you

[2019-11-19 00:01] Joycehao19 commented on #115
Hello @rickiesmooth ,  I checked your build on Nov 17, the reason of deploy failed is:
`(node:49) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, open '/codebuild/output/src366734173/src/home/../testConfig.json' `

Could you double check if the file or directory exist?

[2019-11-19 00:04] Joycehao19 commented on #41
Hi @bordeo , which region did you use?

[2019-11-19 00:20] Joycehao19 commented on #231
@lion-and-lotus It seems like you deleted your app. Did you try to add the custom domain on your app? Did you still see the issue?

[2019-11-19 01:22] mcg5de commented on #112
@swaminator I am having this same issue but seemingly due to the fact that the repository is part of a GitHub team and not a repo that I own or is shared with me or by another individual. Any guidance on that situation?

[2019-11-19 02:38] Joycehao19 commented on #249
Hi @blomm I can't reproduce this issue. I got `Tests successfully completed` when I tried.

1. Did you edit `files: ['dist/my-tests/**/*.js']` in `karma.conf.js` (or something related)?
2. For ` test script`:  Why did you put ` ng test --no-watch --no-progress --browsers=ChromeHeadless ` instead of `ng test --no-watch --no-progress --browsers=ChromeHeadlessCI` ?

- https://angular.io/guide/testing

[2019-11-19 03:07] aireater commented on #112
I'm in the same situation. I committed code to an organization's repo 2 hours ago and it's not in the list.

[2019-11-19 06:57] blomm commented on #249
Hi @Joycehao19 ,
You raise a good point, actually with this value for artifacts>baseDirectory in the build settings `['dist/my-tests/**/*.js'] `
it failed with folder does not exist, because it didn't, I was doing some experimenting.
I don't thing ng test has any build artifacts (unless I run with coverage reports), but I'm not able to leave this value empty in the build settings.

[2019-11-19 09:19] DamickDoni commented on #250
I reusing the one the cli created

[2019-11-19 09:29] BardiaN opened #252 "Multiple deployed instances using the same git branch"
**Is your feature request related to a problem? Please describe.**
I have encountered this problem that I'm developing a project which will be used for multiple clients. It's the exact same code let's say in my "master" branch and I don't want to have a different branch for each client.

**Describe the solution you'd like**
I'd like to be able to connect a branch with multiple environments to crea

[2019-11-19 11:31] wbroek commented on #252
Have the same issue. One branch and with environment setting we create different sites with different backends etc. So we would like to connect 1 branch to different apps or to multiple targets in a app.
Now it won't show the branch or says the repo is already connected

[2019-11-19 14:45] patleeman commented on #236
I'm still not sure I understand how the rewrites and redirects work for 404 (Rewrite). I assumed it would function similarly to the 200 (Rewrite) where we would be able to take a path, say /404, and rewrite it to a destination, say /404.html while returning a 404 error code.

I simplified my project to:

| - index.html
| - 404.html

If I have a rewrite and redirect that looks like this:

[
    {

[2019-11-19 14:58] dsr771 opened #253 "Using Amplify CLI, GitFlow, and Amplify Console to Deploy on branch commit"
** Please describe which feature you have a question about? **
Amplify CLI and Amplify Console using gitflow branching and auto deploy via console

** Provide additional details**
I created 3 environments for a React / AppSynch / GraphQL application with Cognito Auth.
I am using the gitflow branching method with a develop, staging, and master branch.
I have connected all 3 environments using ampli

[2019-11-19 17:27] tomgreenwood1 opened #254 "amplify console can't pull custom build image from ECR"
**Describe the bug**
Amplify console fails to pull custom build image from ECR

**To Reproduce**
Steps to reproduce the behavior:
1. Push a build image to aws ECR
2. Add the image URI from ECR to amplify console's custom build entry
3. Add ECR permissions to amplify consoles IAM service role
4. Run a build
5. See error: [BUILD_CONTAINER_UNABLE_TO_PULL_IMAGE: Unable to pull customer's container ima

[2019-11-19 18:06] Joycehao19 commented on #249
@blomm ,

Q1: I put the folder which contains my test.js
Q2: I didn't use Puppeteer.

I followed [this link](https://developers.google.com/web/updates/2017/06/headless-karma-mocha-chai). [You need to have Chrome 59+.]
In `karma.conf.js`:
[code]
In `amplify.yml`
[code]

When you test your app locally, could it work?
When I search `ChromeHeadless have not captured in 60000 ms, killing.` , I found so

[2019-11-19 18:44] harryd31 opened #255 "Ability to compress the objects"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

As amplify is using Cloudfront to distribute the

[2019-11-19 23:21] Joycehao19 commented on #248
@suhas-007 Could you please provide your appid and region? Thanks

[2019-11-20 01:43] Joycehao19 commented on #239
Hello @fblanton , Could you please provide your appID, region and the error message? If STACKINFO contains any sensitive info, please delete it.

[2019-11-20 01:55] Joycehao19 commented on #251
Hi @HMilbradt , Could you please provide your appID and region to us?

[2019-11-20 04:07] dave-moser commented on #8
If we are also using a custom domain with our Console app, should this CloudFront/WAF workaround work?  If so, what would I use for the Origin in the CloudFront Distribution - our custom domain name or the Console generated domain?  I tried our custom domain and traffic did not seem to get routed properly through Cloudfront to get to the Console app.  It seems to just go straight to the Console ap

[2019-11-20 06:16] lion-and-lotus commented on #231
Yes, I re-created a new instance of the app and tried adding the custom domain once again. I am still experiencing the same issue.

[2019-11-20 08:30] steverandy opened #256 "Issue with caching Gatsby .cache folder"
**Describe the bug**
Getting a build error if caching is enabled for `.cache` folder in a Gatsby project.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `.cache` to amplify.yml
[code]
2. Build failed with error:
`Failed to process image /codebuild/output/src284496123/src/project/.cache/gatsby-source-filesystem/2864d13ac3b594d2252bb53b755dec5e/b49bb9721c3ae1f55a9e7ec02caddb02567d5477_fil

[2019-11-20 10:45] blomm commented on #249
@Joycehao19 thanks for your continued support
Running the test locally, if I execute '_npm run test-ci_' the tests all pass, but I get
[code]
If instead I execute _ng test --no-watch --no-progress --browsers ChromeHeadlessCI_ the test will pass and not error.  This is very strange, that running through npm scripts causes an error.

So in my amplify build settings I chose to execute that base comma

[2019-11-20 13:00] bordeo commented on #41
We removed the amplify app because we need to move forward with the project. So we deployed by our own on an S3 bucket + cloudfront

[2019-11-20 17:02] kldeb opened #259 "The type 'Query' [@83:1] has declared a field with a non unique name 'customersByEmail'"
**Describe the bug**
The schema compiles without errors using `amplify api gql-compile` but gives the following error when deploying:

`The type 'Query' [@83:1] has declared a field with a non unique name 'customersByEmail'`

The customer type:

[code]

The Query schema:
[code]

I am attempting to override what is generated so that `@aws_api_key` (public access) is available to this query.

**To R

[2019-11-20 17:03] HMilbradt commented on #251
The app ID is `d3bsiju3l3vwuf`.  However, we've since removed the rewrite rule to prevent our analytics data from being tainted.  Currently, a 404 is served with the S3 "Access Denied" page.

I did just try re-adding the rule, and noticed that the behaviour was a bit different.  Instead of only rewriting traffic that doesn't have a matching page, it seemed to apply the rewrite rule to all pages.

[2019-11-20 17:32] Abdulmoeidkhan opened #260 "Custom Domain issue"
**App Id**:Z1HB588SF3891N
**Region**:ALL
**Step**:SSL certification
**Status**:Pending

**Issue/question**
I have deploy an APP on AWS amplify then i made a domain transfer from another provided to GANDI and then to AWS Route 53 then i add a domain to my aws amplify app but unfortunately it is still in the pending status at the point SSL certification i have tried it thrice but not found any resul

[2019-11-20 17:35] HMilbradt commented on #251
I did a little more testing, and realized my original post is incorrect.  The redirect that does what I describe in the post is this:

source: /<*>
target: /200.html
type: **404 rewrite**

Using this fixes "Access Denied" errors, but allows trailing and non-trailing URL's to pass through, which are counted separately by our analytics.

I will be leaving this rewrite on in case you need to debug th

[2019-11-20 18:00] rolandoesc opened #261 "Domain activation is Failed - [Is used on another app but doesn't work on this one with different route]"
**App Id**: d2t54xascgadwa
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
This domain is being used on another app I have but it doesn't work for this other.

**Error message**
Error message: One or more aliases specified for the distribution includes an incorrectly configured DNS record that points to another CloudFront distribution. You must update the D

[2019-11-20 18:33] Joycehao19 commented on #231
@lion-and-lotus Do you still have the app in App Id: d1zp1nkmpr9my5, region us-west-2? If not, could you please create it.

[2019-11-20 19:44] rickiesmooth commented on #115
@Joycehao19 thanks for looking into this! I believe this file was used for cypress, but that's not on master anymore. So I'm not sure which version of my code it's trying to build there..

[2019-11-20 19:49] DamickDoni commented on #250
Update:
After setting up Cognito with the amplify cli I get the: Wrong Username or Password, error on valid credentials.
When setting up Cognito manually I get the "Uncaught (in promise) Error: User is not authenticated" error. When checking logs, all req are 200 and all tokens and states are correctly inserted into the local storage.

[2019-11-20 20:38] dave-moser commented on #240
I ran into this issue as well, and resolved it with the recommended tweak (Thank you!!!):

- 'npm start & npx wait-on http://localhost:3000'

Also, though, I needed to make sure I had a cypress.json file in the root of my project with:

{
    "baseUrl": "http://localhost:3000/"
}

Without that, Console timed-out in the test phase of the build.

[2019-11-20 23:01] Joycehao19 commented on #236
@patleeman we have identified the bug and are investigating a fix. The ordering rules are not being applied to the 404 rewrites which is why the rules are not being applied. We'll update you when we rollout a fix.

[2019-11-20 23:07] Joycehao19 commented on #225
@DavidNelsonCordelia is the `.well-known/` folder located inside your dist folder? You have set your baseDirectory to `dist`.

[2019-11-20 23:11] Joycehao19 commented on #227
@lionzan  can you share what's the baseURL in the `config.toml`?

[2019-11-20 23:14] Joycehao19 commented on #260
@Abdulmoeidkhan can you try retry adding the domain?

[2019-11-20 23:17] Joycehao19 commented on #257
@KristineTrona @gcid12 we have provided a general way for you to access environment variables. We provided an example with `npm run build:$BUILD_ENV`. The point is you can access env variables in the build container by passing $ENV_NAME.

[2019-11-20 23:18] #257 closed

[2019-11-20 23:18] #76 closed

[2019-11-20 23:22] Joycehao19 commented on #95
@AlexThomas90210 thanks for the tip. Can you look at the `teamprovider.json` inside the `amplify` folder? The accountIDs for resources there should match the account you're trying to deploy.

[2019-11-20 23:27] Joycehao19 commented on #221
Understanding the requirements better: The ask is to provide a way to restrict access to a certain geography.

[2019-11-20 23:28] Joycehao19 commented on #226
@dwvisser just a reminder on above. We weren't able to repro the issue with the repository you shared.

[2019-11-20 23:30] Joycehao19 commented on #238
@nickygb there isn't a managed build image that has docker pre-installed. You can use our custom container feature to reference a public image with docker installed: https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html

[2019-11-20 23:30] Joycehao19 commented on #243
Closing as duplicate of #206. Please follow that thread for updates.

[2019-11-20 23:30] #243 closed

[2019-11-20 23:32] Joycehao19 commented on #244
We are aware of this issue. Currently there isn't a way to pass custom parameters to the amplifyPush.sh script. If you would like to manage your own version you can check out https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-552548466 as a temp workaround

[2019-11-20 23:33] Joycehao19 commented on #240
Closing this issue. If you encounter something in the future please reach out.

[2019-11-20 23:33] #240 closed

[2019-11-20 23:36] Joycehao19 commented on #248
@suhas-007 struggling to follow your workflow completely. How many backend environments do you have? How many branches are connected to Amplify Console? Why are you checking out to a new branch `git checkout proto amplify/`

[2019-11-20 23:39] Joycehao19 commented on #254
Currently Amplify Console only supports public ECR images. Is your image public?

[2019-11-21 05:00] kkesley-shine commented on #115
we have the same problem currently.. our app id is `d3rfa777e3c1ou` in ap-southeast-2.

don't know if this is relevant,

but we noticed that the error comes when we changed the cypress version in yarn lock. If we use 3.4.1, the tests are running.  (sometimes it freezes but it's running). When we upgraded our cypress version to 3.6.1 in package.json, it fixes the freeze.

But when we changed our ya

[2019-11-21 07:58] Abdulmoeidkhan commented on #260
i have tried multiple times but still facing the same

[2019-11-21 08:48] tomgreenwood1 commented on #254
Hi Joyce,

My image isn't public, so that must be the issue. I guess I could make it public, boss permitting.

Thanks very much for the response. I'll close the issue now.

[2019-11-21 08:50] tomgreenwood1 commented on #254
Just checking: the default amazon linux 2 amplify build image has python 3 and pip on it? I could probably pip install the dependencies in `preBuild`, as a workaround, if so.

Thanks

[2019-11-21 08:51] #254 closed

[2019-11-21 13:47] LechuckThePirate commented on #36
Yes ... in my company we definitely need VPC integration, since our webportal is not accesible from the Internet, but from a VPN connection from clients

[2019-11-21 15:35] yelhow opened #262 "How to add a wildcard subdomain to my amplify console deployed app."
** Please describe which feature you have a question about? **
I am using amplify console to deploy my webapp. I am trying to understand if I can add a wildcard subdomain to my domain.

Does the cli method mentioned in this "https://docs.aws.amazon.com/cli/latest/reference/amplify/create-domain-association.html" can configure wildcard support to my domain.

** Provide additional details**

[2019-11-21 15:41] #260 closed

[2019-11-21 16:14] arximughal commented on #221
Yeah. The problem I was facing was that I wanted to geo-restrict the access to the application deployed via Amplify. I still can't find an option inside AWS Amplify console where I can do just that!

[2019-11-21 17:38] WryanBrock opened #263 "Domain activation is Failed - [Problems Registering Domain]"
**App Id**: d2t40cu5ulc5lh
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Can't seem to configure the transferred domain with route 53 and amplify.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
**Note**: Be sure to check the message for sensitive information.

**Additional informa

[2019-11-21 18:00] MoneyMan commented on #241
@nimacks Thanks, it's all fixed now!

[2019-11-21 19:21] Joycehao19 commented on #249
Hi @blomm , Can you send me you appID and region? Then I can check the build logs of your app.

For `MaxListenersExceededWarning`, you could try something like eventEmitter.once().

[2019-11-21 19:41] blomm commented on #249
Hi @Joycehao19 , thanks very much:
eu-west-1
dbwksz5yaroo9

[2019-11-21 19:43] #241 closed

[2019-11-21 19:50] Joycehao19 commented on #260
@Abdulmoeidkhan Can you remove the app, wait and try again after some time(6 hours)? If you still face the issue, please let me know.

[2019-11-21 21:48] fblanton commented on #239
appId: d3ki9q0ptk2ymu
region: us-east-1

error message:
[code]

[2019-11-21 22:02] ericclemmons opened #264 "Add Preview Link in PR comments"
**Is your feature request related to a problem? Please describe.**

Without an explicit link being manually written into the PR description/body, there's friction for others to review what the PR does.

**Describe the solution you'd like**

When the PR preview is ready, I'd like for the app to comment on my PR with the preview link.

**Additional context**

As an example, ZEIT does something simil

[2019-11-21 22:15] dwvisser commented on #226
Perhaps it's just something weird about my repo. In any case, I have since deleted the Amplify app, and moved to other infrastructure (not because of this... I just found a cheaper way to deploy from Git).

[2019-11-21 22:15] #226 closed

[2019-11-21 22:30] paleconsultores opened #265 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3fvdr13a0pf0m
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-11-21 22:37] patleeman commented on #17
@swaminator Any movement on this? We've built quite a hefty build system on top of Amplify and passing a payload through would make things a lot easier.

[2019-11-21 23:19] Joycehao19 commented on #265
@paleconsultores Is there any error message? Could you please try delete it and add your custom domain after 6 hours?

[2019-11-21 23:21] Joycehao19 commented on #263
Hi @WryanBrock , sorry that you having the custom domain issue. Could you please check and try `CNAMEAlreadyExistsException Error` section at https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#CNAMEAlreadyExistsException%20\Error.html

[2019-11-22 02:41] swaminator commented on #264
@ericclemmons I know this is slightly different from what you've asked but there's already a way to view the URLs directly from the PR: https://docs.aws.amazon.com/amplify/latest/userguide/pr-previews.html#enable-web-previews

Click on **Details** for the Amplify Console Web Preview check, and you should see a link to your deployed URL. Is this good enough?

[2019-11-22 03:03] swaminator commented on #252
@wbroek @BardiaN you can accomplish this. You can create multiple apps by reconnecting the same repo>branch. That way when you trigger a code change to master, all three apps are built.

[2019-11-22 09:49] Zelig880 opened #266 "Migrate Amplify apps between Regions"
** Please describe which feature you have a question about? **
Amplify deployment and management

** Provide additional details**
I have the need to move an amplify website between environments.
The website was deployed on the wrong region, and it was been "fully set up" and it is actively used online.

I would like to know, if there is a way to "migrate" the apps, programmatically, or if I have t

[2019-11-22 15:13] BardiaN commented on #252
Hi @swaminator
Thanks for your input and for your contributions to the Amplify repository. I love both AWS Amplify CLI & Console and I've been using it since it was first released.
Regarding your solution, it's actually great, It helps me move forward with my deployment.
However, it'll have some cons like I have to duplicate my "build settings" and "notifications" & build environment variables, et

[2019-11-22 17:36] ericclemmons commented on #264
@swaminator That's right, I used that guide to enable PR previews for a project.

The dilemma is, how do collaborators on a repo (or outside contributors) know where to preview the preview?

Currently, it appears that someone with access to the Console has to log in, & copy/paste the URL back into GitHub.

[2019-11-22 17:57] DavidNelsonCordelia commented on #225
@Joycehao19  Yes.   .well-known/  is in the dist folder.  I also checked the build artifacts and it was clearly there

David

[2019-11-22 18:26] Joycehao19 commented on #249
@blomm Did your app deploy successfully? Build 089 seems like successfully deployed.

[2019-11-22 21:36] swaminator commented on #266
For now you have to migrate it. You could also use CloudFormation to define your Amplify Console infrastructure. https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/AWS_Amplify.html

[2019-11-22 21:38] swaminator commented on #264
Incorrect. From the PR Click on Details for the Amplify Console Web Preview check, and you should see a link to your deployed URL.  Here's the image
![](https://docs.aws.amazon.com/amplify/latest/userguide/images/previews3.png)

[2019-11-22 21:43] swaminator commented on #252
@BardiaN I was about to suggest using the same `amplify.yml` in your repo so you do not have to duplicate build settings or environment variables. Further, you could also use the same SNS topic (email notifications use SNS) to subscribe to events from both apps. I'll close this issue for now as there is a path to achieve your usecase - it would be a large task for us to implement what you've asked

[2019-11-22 21:43] #252 closed

[2019-11-22 21:44] swaminator commented on #226
@dwvisser sorry to see you leave. Where did you move to and are there any features that can bring you back?!

[2019-11-22 21:45] #266 closed

[2019-11-22 22:17] dwvisser commented on #226
I realized GitHub Actions could do what I was getting out of Amplify, with the exception of having test/develop app targets. In my case , that wasn’t hat important. If I ever want to stand up a preview site, I’ll probably just dump a local build into S3.

[2019-11-22 22:29] ericclemmons commented on #264
Yes, that works!  I should've been clearer on what I was looking for:

The problem we ran into was with visibility, not that functionality doesn't exist it. (https://zeit.co/github#features does a good job providing this visibility, though they do per-commit deploys)

Currently, we have an open PR:

It's not visible at all to collaborators that there's a preview available, unless a collaborator cl

[2019-11-23 00:39] Joycehao19 commented on #233
@tmbtech Sorry that you are facing this issue. We are currently investigating it.

[2019-11-23 00:47] Joycehao19 commented on #259
Hello @aireater , sorry that you are facing this issue. We are currently investigating this issue. Do you have a sample repo that we could test with?

[2019-11-23 10:07] blomm commented on #249
Hi @Joycehao19 ,
I have my build successfully running, but it's without the test section of the buildSettings.
I've re-added the test section in build 94, chrome headless is not being found, test phase doesn't fail (but doesn't run any tests), but deploy does fail.
Question: What is the artifacts>baseDirectory for in the test section? does it define where the tests are located? or where the output

[2019-11-23 12:18] jimmyn commented on #221
I'm facing this problem too, I need to restrict access for users from some countries

I have this in my `Rewrites and redirects` rules:

[code]

But it doesn't seem to be working, It works for some countries, for example, if I put `US` or `RU` it works, but not fo Morocco for example

[2019-11-23 13:55] AdnanGhazi16 opened #267 "One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d3cuqmeuh212hh
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2019-11-23 14:39] aireater commented on #259
I don’t have a sample repo to test. Are you not able to replicate the issue with the code I included?

[2019-11-23 18:10] Abdulmoeidkhan opened #268 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3cuqmeuh212hh
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2019-11-24 12:44] akrsmv opened #269 "Deleting GitHub Branch to result in deprovision and delete of CFN stacks"
I write this as a feature request, because not sure whether such behavior is expected. Basically my issue is that Aws Amplify,does not automatically deprovision, after a branch was deleted.

I am using Github with the AWS amplify app connected. I configure it to listen and automatically provision new backends for each new branch that is with the name pattern feature/**

That works great, however a

[2019-11-24 16:09] blomm commented on #249
Update: so as I had been saying, the Linux build server does not find chrome.
adding this line in prebuild of test secion resolved that, and now I do not get the karma timeout, and my tests run:
`export CHROME_BIN=/usr/bin/google-chrome `

however, my deploy is still failing with the same 3 error lines, (unless I remove the test phase, then it deploys)
[code]

[2019-11-25 00:37] Joycehao19 commented on #267
Hi @AdnanGhazi16 , sorry that you are facing the custom domain issue. Could you please check and try CNAMEAlreadyExistsException Error section at https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#CNAMEAlreadyExistsException%20\Error.html

If you still have this issue after 8 hours, please let us know.

[2019-11-25 00:53] Joycehao19 commented on #268
@Abdulmoeidkhan have you checked out this doc: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

You could also try deleting the domain and connecting the app again.

[2019-11-25 06:59] bsithub commented on #156
Secure Connection Failed
Same Issue
Error code: SSL_ERROR_NO_CYPHER_OVERLAP
Region: ap-south-1
app Id: awsdev.globalhuntindia.com

[2019-11-25 14:43] Abdulmoeidkhan commented on #268
i already did these mention things but still i m facing the same

[2019-11-25 18:04] dahersoftware opened #300 "Console error reading inputParams googleClientId, facebookAppId"
I encounter this problem quite frequently(Until now I used to delete my app), I am using prod environment.
It is working fine from my local machine and I don't understand why I get "getting stack from env cache" line even though I am reseting my environment cache.

2019-11-25T16:28:56.016Z [INFO]: # Executing command: amplifyPush --environment prod
2019-11-25T16:28:56.020Z [INFO]: # Getting Amplif

[2019-11-25 19:23] Joycehao19 commented on #156
@bsithub Can you please provide your appId (Amplify Console -> App Setting -> General -> App ARN)

[2019-11-25 19:55] HMilbradt commented on #264
Also noticed that this was missing.  Even our technical people didn't realize the links were there until I told them, and it's really easy to forget about considering how many other repos we have that don't have Amplify previews running.

[2019-11-25 20:36] dongjason1 opened #270 "Can't find github team repo"
**Describe the bug**
Recently moved code from a private personal repo to a private team repo and I can no longer find the the project in the list of repositories. The migration was not GitHub's migration tool but instead manually pushed to a new repository.

**To Reproduce**
1. Click on GitHub
2. Scroll down to all possible repos
3. Cant find my team repos

**Expected behavior**
I should be able t

[2019-11-25 20:37] dongjason1 commented on #270
Issue is also mentioned here https://github.com/aws-amplify/amplify-console/issues/112#issuecomment-555287746

[2019-11-25 21:51] Joycehao19 commented on #268
@Abdulmoeidkhan  The error is `com.amazonaws.services.cloudfront.model.CNAMEAlreadyExistsException: One or more of the CNAMEs you provided are already associated with a different resource. (Service: AmazonCloudFront; Status Code: 409; Error Code: CNAMEAlreadyExists; Request ID: 7520d80d-0f48-11ea-89c4-b5c1772de095)`

If you had this domain successfully connected to another app and then recently (w

[2019-11-25 23:36] kkesley-shine opened #271 "Add integration with chatbot"
**Is your feature request related to a problem? Please describe.**

It will be very useful to monitor build status in Slack. AWS Chatbot makes it easy to integrate SNS to slack without having to create lambda functions.

**Describe the solution you'd like**

Have AWS Chatbot support events from amplify.

**Additional context**

Currently, we can listen for notifications using SNS and lambda. But h

[2019-11-25 23:44] Joycehao19 commented on #256
@steverandy Can you try delete the app and add it again?

[2019-11-26 01:06] Joycehao19 commented on #270
@dongjason1
1. Team repo: go to github.com -> setting -> applications -> Authorized OAuth Apps
Check if the team is authorized.
2. Log in the different account on github.com. The amplify console will access the new account.

[2019-11-26 01:23] Joycehao19 commented on #261
Hi @rolandoesc you could check `CNAMEAlreadyExistsException Error` section to see if it works: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#CNAMEAlreadyExistsException%20\Error.html

[2019-11-26 02:45] swaminator commented on #269
#24

[2019-11-26 05:01] bsithub commented on #156
App Id: arn:aws:amplify:ap-south-1:714744135226:apps/d2ewkckdcn0l3d

[2019-11-26 07:24] steverandy commented on #256
@Joycehao19 we cannot delete the app because we have a production environment already deployed. Is it a necessary step to delete the app to fix the issue?

[2019-11-26 15:05] Abdulmoeidkhan commented on #268
i have done this as well but whenever i did this and start whole process again all the things successfully done but domain activation is failed and previous website become live

[2019-11-26 19:27] wizage opened #272 "Add support for 3rd Party Plugins to show in the resources made"
**Is your feature request related to a problem? Please describe.**
In the backend resources page where it lists categories added to the project, it would be nice to at least acknowledge other 3rd party plugins used outside of the 1st party plugins.

**Describe the solution you'd like**

- At least list all the resources/categories used in the project, whether they are 1st party or 3rd party.

- Li

[2019-11-26 20:00] swaminator commented on #272
@wizage acknowledged! Right now we aren't showing every single category and we'll work on an item to dynamically generate the categories based on what's been enabled.

[2019-11-26 21:25] swaminator commented on #95
@AlexThomas90210 can you please share your appiD? we'd like to investigate further.

[2019-11-26 21:33] MathewGrg opened #273 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d354bd4zg4nrtl
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Deleted DNS hosting and transferred my domain from GoDaddy to AWS. But the domain is still connected to GoDaddy. Got hold of GoDaddy customer service people and apparently got this fixed, but still can't add the domain to an Amplify App. The domain still is loading old pages from GoD

[2019-11-26 21:49] #187 closed

[2019-11-26 22:00] swaminator commented on #233
@tmbtech here's what you can do:
1. Connect 3 different apps using the same monorepo in the Amplify Console (one for each of your apps: admin, consumer, other)
2. For each app connect a subdomain.
3. For each app, add the specific redirect. For example in the admin.example.com app, add a redirect like:
[code]
This will solve your usecase.

[2019-11-26 22:03] swaminator commented on #256
@stevenrandy you definitely do not need to delete the app. We'll look into this further and get back to you soon.

[2019-11-26 23:01] AlexThomas90210 commented on #95
@swaminator Sorry for not updating, I have resolved it and it was more so a logical error with my aws account migration workflow than an issue with amplify.

I cannot remember exactly what I did but it was something along the lines of:

1. I had env up in AWS account A called `dev`
2. I wanted to recreate env `dev` in AWS account B
3. I updated aws cli config xxxx with new access keys
4. Tried to

[2019-11-27 00:34] Joycehao19 commented on #251
Thank you for providing the test case. We cut a ticket in our team backlog.

[2019-11-27 01:30] dongjason1 commented on #270
That did it, thank you!

[2019-11-27 01:30] #270 closed

[2019-11-27 02:27] HMilbradt commented on #251
Thank you. Feel free to reach out to me if you need any more info on this, I'd be more than happy to help 🙏

[2019-11-27 12:48] redeian opened #274 "Creating backend on Amplify Console fails"
I push the project as usual (simply push codes to a repository). It worked before. Then today it gave me error.

I have try adding this command to my build setting, but it still gives me the error.
[code]

# The error:

[code]

Thank you!

[2019-11-27 13:19] blomm opened #275 "TypeError [ERR_INVALID_ARG_TYPE]: The 'request' argument must be string."
I really don't know what's happened here.  The amplify pipeline is now failing at the backend stage with the following:

[code]
... Google is not showing anything for 'failed to pull the backend'

**To Reproduce**
Try to build an amplify project backend

[2019-11-27 13:51] DamickDoni commented on #250
Do you have any information about this problem?

[2019-11-27 14:51] abhinavjayanthy commented on #275
I'm having the same issue as well.

[code]

[2019-11-27 15:37] abhinavjayanthy commented on #274
I'm having the same issue.
[code]

[2019-11-27 15:43] anatonie commented on #274
Hi @redeian @abhinavjayanthy can you guys please share your appArns (can be found in general settings)? Thank you!

[2019-11-27 15:44] abhinavjayanthy commented on #274
@anatonie `arn:aws:amplify:us-east-1:931914093943:apps/d3h5e1ydk6xaq5`

[2019-11-27 16:01] swaminator commented on #275
@blomm @abhinavjayanthy we're looking at this with priority. Couple of questions.
1. Can you please share your appid? Found in App settings > General
2. Also share your build settings (App settings > Build settings or if you store in your repo then the `amplify.yml`)
3. About these backends: Were they created via Console or CLI?

[2019-11-27 16:01] swaminator commented on #274
we're looking at this with priority. Couple of questions.

Can you please share your appid? Found in App settings > General
Also share your build settings (App settings > Build settings or if you store in your repo then the amplify.yml)
About these backends: Were they created via Console or CLI?

[2019-11-27 16:02] swaminator commented on #275
#274

[2019-11-27 16:04] user-0320 commented on #275
This seems to be a bug in the latest version (as of 2019/11/26) of AWS Amplify CLI: 4.1.1 and 4.0.0.
A band-aid solution:
1. Go to Amplify Console
2. Select build settings
3. Change the value to use for AWS Amplify  CLI version from `Latest` to `3.17.0`

[2019-11-27 16:06] abhinavjayanthy commented on #274
@swaminator Here are my Build settings

[code]

I've created this using CLI

[2019-11-27 16:21] abhinavjayanthy commented on #275
@user-0320  Thanks! That seems to work!

[2019-11-27 16:24] anatonie commented on #274
@abhinavjayanthy Is this an existing environment (one that has been deployed via amplify push)?

[2019-11-27 16:27] abhinavjayanthy commented on #274
@anatonie Yes, this was an existing env, since the deploys started to fail, all I did was delete the app from the AWS console and re-created it again which ofcourse did not fix the issue. Right now I changed the AWS Amplify CLI version from `Latest` to `3.17.0` and I'm able to deploy.

[2019-11-27 17:14] lionzan commented on #227
Thanks for the support. Eventually I reloaded a new version of the site and it worked well. Good point by Joycehao19 about baseURL. If you did not link a domain yet but put it as baseURL all absolute URLs wont work.

[2019-11-27 17:14] #227 closed

[2019-11-27 19:16] UnleashedMind commented on #274
the latest version of the CLI v4.2.0 should have fixed it

[2019-11-27 19:29] jcvalerio commented on #95
@swaminator I have the same issue our appI is `d234qd3dwq9k16` at `us-east-1` region.

1. auto build stop working
2. remove the branch
2. adding back
3. build starts

Bug we got the error below,
Even If we push another change to that branch nothing is fired on AWS Amplify Console.

Any ideas?

[code]

[2019-11-27 19:32] swaminator commented on #275
@blomm @abhinavjayanthy please try installing the latest version of the cli to see if it fixed it https://github.com/aws-amplify/amplify-console/issues/274#issuecomment-559218457

[2019-11-27 22:02] hisham opened #302 "4.2.0 Cannot do `amplify push` with ENV 'NONE'"
**Describe the bug**
I'm able to do amplify push using 3.17 but on 4.2 I get the following error:

[code]

Note that 'NONE' is a legacy environment name back when amplify did not have the envs feature.

I am not creating a new environment, this is the existing environment I've always maintained.

**To Reproduce**
Do a push on an environment with name of 'NONE'

**Expected behavior**
A succesfull p

[2019-11-27 22:33] swaminator commented on #274
@abhinavjayanthy @redeian could you please verify if this works for you?

[2019-11-28 06:35] bsithub commented on #156
Any help?

[2019-11-28 13:06] nmoutschen opened #276 "Amplify Console doesn't ask for IAM role for project with custom backends"
**Describe the bug**
When using a custom backend (e.g. SAM) defined in the amplify.yml file (see [this sample project](https://github.com/aws-samples/aws-dog-no-dog/blob/complete/amplify.yml)), Amplify Console doesn't ask for an IAM role to deploy the backend, which causes the build phase to fail.

**To Reproduce**
1. Go to Amplify Console
2. Deploy this sample application using the 'complete' bra

[2019-11-28 20:09] thedgbrt opened #277 "Preview branches resources are not deleted when prs are merged"
**Describe the bug**
With the preview feature, connected to GitHub PRs, resources are not deleted when the PR is merged / closed.

**Expected behavior**
The aws resources that were created for the preview build should be deleted when the pr is closed.

**Additional context**
I noticed this because s3 told me I was over the limit of 100 buckets. Indeed, there were dozens of buckets (for storage, de

[2019-11-28 22:28] rolandoesc commented on #261
Your solution worked perfectly for my requeriment, thank you very much.

[2019-11-28 22:28] #261 closed

[2019-11-29 00:33] afladmark opened #278 "/.well-known/ folder not being copied in deployment"
**Describe the bug**

Our Gatsby site deployment includes a static file `/.well-known/apple-developer-merchantid-domain-association.txt` required to enable Apple Pay integration. The file is available locally when built, but it does not appear in the file list when the deployment occurs and when requesting the file via our deployment URL we receive a 403 error.

It appears that dot files/folders a

[2019-11-29 01:07] afladmark commented on #278
As a workaround, if I deploy the folder as /well-known/ and then add a `200 (Rewrite)` rule which maps `/.well-known/<*>` to `/well-known/<*>` I can achieve it, but obviously it would be preferable not to have to do this.

[2019-11-29 15:44] Abdulmoeidkhan commented on #268
??

[2019-11-29 17:23] heitorlessa commented on #275
Not sure if it's your case but I just got migrated from 3.17 to 4.1 and the following command fixed mine:

``amplify plugin scan``

[2019-11-29 17:26] heitorlessa opened #279 "Additional app created after upgrading amplify-cli to 4.x"
**Describe the bug**
Duplicated App in Amplify Console after upgrading Amplify-CLI to 4.x (4.2 as of now).

![image](https://user-images.githubusercontent.com/3340292/69883722-48f78c80-12cd-11ea-97f3-8f087a56da02.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new App within Amplify Console
2. Install Amplify-CLI older than 4, upgrade it and push
3. You should see a duplicated

[2019-11-29 17:29] heitorlessa commented on #279
I just discovered why it ended up creating a duplicate one.

After upgrading to Amplify-CLI and running **`amplify push`** it created an Amplify App ID which is different from the Amplify App ID it got auto-generated for my existing App.

My existing App sees the front-end but back-end. My new App sees back-end but front-end.

[2019-11-29 18:29] thedgbrt opened #280 "Support default password protection for all new branches"
**Is your feature request related to a problem? Please describe.**
When using amplify preview to deploy code on each pr, it creates a url that is not password protected by default. The only way is to go to access control and add it manually each time.

**Describe the solution you'd like**
In access control settings, I would like to be able to set a default password for all new / existing branches,

[2019-11-29 18:48] swaminator commented on #279
@heitorlessa for apps that are using both console and CLI, you need to upgrade through the console by clicking redeploy this version. This will give you a backed env in the tab. After doing so, run the amplify pull command from your local terminal to get the correct appid.

[2019-11-29 19:29] heitorlessa commented on #279
I've tried both redeploying and pushing a new commit - No effect. Either way, I've tried `amplify pull` with the AppId from Amplify Console, all green but no changes in the Console itself.

[2019-11-30 08:54] blomm commented on #275
4.2 seems to have resolved the issues.
Frustratingly this cost me a day of work, thinking that I had done something wrong.

[2019-11-30 15:36] zackthoutt opened #281 "Cache invalidation not working for Jekyll blog page"
**Describe the bug**
I host my jekyll blog on Amplify and some of my pages don't have the cache invalidated like they should.

**To Reproduce**
Steps to reproduce the behavior:
Reproduction might be difficult since you need your browser to cache the files. This is how I'm reproducing it. I'll show you an example using my blog home page, which lists all of my posts (an important page to update corr

[2019-12-01 01:39] weco-online opened #282 "SSL verification is Failed - [BRIEF DESCRIPTION]"
www.weco.online

**App Id**: d893t7vbacaxc
**Region**: us-west-2
**Step**: SSL verification
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant informati

[2019-12-02 03:00] fblanton commented on #239
@Joycehao19 any updates on this? or information I could provide to help troubleshoot?

[2019-12-02 06:55] #275 closed

[2019-12-02 06:55] swaminator commented on #274
Issue has been fixed. Please re-open if you find a similar issue.

[2019-12-02 06:55] #274 closed

[2019-12-02 07:17] swaminator commented on #18
@smakinson @dbrunet73 if you would like to setup redirects per branch, one workaround is to create two amplify console apps and re-connect the same repo: you will be able to setup different redirects then.

[2019-12-02 07:51] swaminator commented on #277
@thedgbrt currently the CLI does not delete the deployment S3 buckets so you are manually going to have to merge them. We have a PR out to add support for the deleting the buckets. Will notify you once its out.

[2019-12-02 08:02] swaminator commented on #173
@nikovirtala has your usecase been addressed?

[2019-12-02 11:46] nunsie commented on #115
Experiencing the exact same issue, it seems the build step isn't respecting the directory configured in: frontend > artifacts > baseDirectory and caching the entire directory including src and node_modules resulting in a cache size of over 1.2GB, my build folder size should only be 96MB

[2019-12-02 11:47] jkar32 opened #283 "Deploy fails when tests are present"
**Abbreviated problem**
Angular app builds and tests successfully, but deploy fails with.
[code]

**Details**
I created a new angular project, not in the base directory but such that the file structure was so:
[code]
And with amplify.yml contents
[code]

In the amplify console the build and tests complete successfully but the deploy fails (error seen above) without any description. If I remove the

[2019-12-02 12:54] nunsie commented on #115
removing tests step resolves the issue..

[2019-12-02 16:02] blomm opened #284 "What does the test>artifacts section of build settings represent for an Angular project?"
[code]
`"test:ci": "ng test --no-watch --no-progress --browsers ChromeHeadlessCI",
`

Is it meant to define where all your tests are located? Or is it meant to define where the output artifacts will go after your tests are run? What if my tests don't have an output artifacts (as is the case above), what should I put here?

[2019-12-02 16:02] blomm opened #2666 "What does the test>artifacts section of build settings represent for an Angular project?"

[2019-12-02 16:02] blomm opened #2718 "What does the test>artifacts section of build settings represent for an Angular project?"
[code]
`"test:ci": "ng test --no-watch --no-progress --browsers ChromeHeadlessCI",
`

Is it meant to define where all your tests are located? Or is it meant to define where the output artifacts will go after your tests are run? What if my tests don't have an output artifacts (as is the case above), what should I put here?

[2019-12-02 22:09] Joycehao19 commented on #249
@blomm
Question: What is the artifacts>baseDirectory for in the test section? does it define where the tests are located? or where the output from running tests will be dumped?

It defines where the tests are located.

Could you please try re-connect the app and edit `amplify.yml` (something like)

[code]
The “artifacts:” sub-config needs a baseDirectory, and at least one glob. It can be all - **/

[2019-12-02 23:29] jkar32 commented on #284
There is not much documentation on this (and testing breaks the build for me) but from general practise testing artifacts are reports that the tests produce such as coverage, images and movies. These reports will be uploaded as artifacts after the testing phase.

[2019-12-03 00:38] swaminator commented on #225
@DavidNelsonCordelia we're investigating this. Here's a workaround provided by @afladmark: https://github.com/aws-amplify/amplify-console/issues/278#issuecomment-559628252

[2019-12-03 01:53] steverandy commented on #256
@swaminator is there any update on this? Thanks.

[2019-12-03 06:46] blomm commented on #284
I know! Testing breaks the build for me as well, which means I can't have testing-passing as one of my checks before deploying. Very frustrating, and massively prohibitive.

[2019-12-03 06:48] jkar32 commented on #284
As a work around i put my testing in the build but that is a horrific workflow

[2019-12-03 06:53] blomm commented on #249
Hi @Joycehao19, tests folder fails because this does not exist in my project. If I set src as the baseDirectory, the tests will pass and run, but my deploy fails with the 3 non-descript error messages.

As an aside, setting src as the folder will also mean that on the console, when I click the 'download artifacts' button i will be able to download everything in src folder.

[2019-12-03 06:56] blomm commented on #284
@jkar32 good advice, I'll try this.

[2019-12-03 10:05] wbroek opened #285 "TLS/SSL certificaten versions"
Because we cannot controle the SSL/TLS certificates ourselves at the moment, see https://github.com/aws-amplify/amplify-console/issues/56 , I was wondering who determines the versions of TLS/SSL for the created certificates?
The above question is also because version 1.0 and 1.1 are [deemed insecure and deprecated as of Jan 2020](https://blog.qualys.com/ssllabs/2018/11/19/grade-change-for-tls-1-0-

[2019-12-03 11:53] bpatrick3412 opened #286 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3afrj90bx42ho
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
When we click to "retry" button in domain configuration we have a error in console and domain configuration don't start.
**Error message**
Domain activation error: One or more of the CNAMEs you provided are already associated with a different resource.
Console "Retry" button error: b

[2019-12-03 12:28] clementAC commented on #103
It's definitively a good feature to manually deploy a branch when auto build is deactivated

[2019-12-03 14:16] wajjs opened #287 "Amplify Console Build completes successfully but then hangs at random places during the deploy stage."
**Describe the bug**
We build a gatsby application with around 40k files.
The build-step completes successfully but then hangs at random places during the deploy stage.
I have let the deploy run for a few hours and there is no Errormessage in the AWS Amplify Console.
I have tried to set the parameter BUILD_TIMEOUT from 30 minutues to 480 minutes, but this does not seem to matter.

Here is the Arn

[2019-12-03 16:06] jimmyn opened #288 "How can I change repository of the existing app?"
** Please describe which feature you have a question about? **
We have an app connected to Bitbucket repo. We are migrating to GitHub private repo. If it possible to update a source repo of the existing app?

I've tried to update the app using aws cli

[code]

But I get this error:

[code]

[2019-12-03 17:18] swaminator commented on #288
@jimmyn there's no way of changing the repo for an app. A workaround is to duplicate the app using `aws amplify get-app` and then use those settings to create an app using `aws amplify create-app`.

[2019-12-03 17:22] swaminator commented on #276
@nmoutschen we will be adding the service role in the onboarding flow soon. As a workaround you can deploy the app, and then go to `App settings > General` and add a service role. The first build will fail, but the second one will suceed.

[2019-12-03 19:03] DamickDoni commented on #250
Could I please get information about the problem? Otherwise, I remove amplify and use my own tools again :-(

[2019-12-03 23:03] kahdojay commented on #250
Hi @DamickDoni, sorry for the delay here - are you able to share your package.json?

[2019-12-03 23:09] kahdojay commented on #250
Hi @DamickDoni, are you able to provide your package.json?

[2019-12-03 23:47] #288 closed

[2019-12-04 01:15] swaminator commented on #182
@kalinchuk looks like user @tkoterwas found a solution here:  https://forums.aws.amazon.com/thread.jspa?threadID=297933&tstart=0

[2019-12-04 06:35] hjkimu opened #289 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2mxpx44rwpn08
**Region**: ap-northeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.
Error message: One or more of the CNAMEs you provided are already associated

[2019-12-04 10:50] DamickDoni commented on #250
[code]

[2019-12-04 11:48] allenheltondev opened #290 "Domain activation is Failed - Cannot connect to 3rd party provider"
**App Id**: d1prhe5ul32pcx
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I am trying to hook up my amplify app to a specific subdomain on my site that is hosted with a 3rd party provider. I have added the provided CNAME and added a CNAME pointed to the URL of my branch, but I keep getting stuck at the Domain Activation step. I cannot find any meaningful e

[2019-12-04 16:19] suhas-007 commented on #186
Please guide

[2019-12-04 16:42] suhas-007 commented on #248
I have 2 branches ( test and proto ).
I have 2 backend environments( one for test and one for proto).
proto --- development environment.
test---test environment.
--------------------------------------------------------
In proto environment I create a backend resource , for example lambda by using the command
amplify function add  and select the required options.

The lambda gets successfully creat

[2019-12-04 18:18] swaminator commented on #248
Here's the recommended workflow: https://docs.aws.amazon.com/amplify/latest/userguide/multi-environments.html#team-workflows-with-amplify-cli-backend-environments

[2019-12-04 19:32] ChristopheBougere commented on #279
I'm having the same issue.

I have various environments:
- `staging` and `prod`, which are configured in Amplify Console in an app created a while ago
- `christophe`, a dev env which isn't configured in Amplify Console and that I only deploy via the CLI

I recently upgraded to 4.2 and when I push from `christophe`, it creates a new Amplify app in the console. I tried to redeploy the `staging` env

[2019-12-04 19:55] swaminator commented on #262
We currently do not support wildcard subdomains. What are you trying to do ?

[2019-12-04 22:35] swaminator commented on #280
@thedgbrt currently there isn't an easy way to do so. A workaround would be to have 2 Amplify Console apps connected to the same repo - first app is your production app. 2nd app has all your other branches and you can set a global password for all the connected branches.

[2019-12-04 23:30] mooniker commented on #73
@swaminator @dabit3 It would be great if we could programmatically assign tags with resource creation.

[2019-12-05 12:11] rnaresh opened #291 "Amplify console - Build successful but fails to deploy"
Hi,

We are using Amplify to build a new website using docusaurus. It started failing to deploy  from the past 2 days

App ARN - ```arn:aws:amplify:us-east-2:582734241681:apps/dpwfbpxczhwpr```
The artifact size is ~45MB

All of our preview deploys are failing
![image](https://user-images.githubusercontent.com/4458618/70234018-b865f400-1785-11ea-8dfd-32ca5b0cc145.png)

![image](https://user-images.

[2019-12-05 18:17] jml-nola opened #292 "Amplify Console build failing "Can't resolve '../aws-exports' in ..."
I have a Gatsby app tied to a CodeCommit repo that builds and deploys fine via Amplify Console until I add Amplify to the mix. I'm getting an error explaining ""Can't resolve '../aws-exports'". I assume that this file should be generated during the build, but I must be missing something. Any help is greatly appreciated!

[2019-12-05 19:29] swaminator commented on #292
@jml-nola can you share your build settings please? Found in App settings > General

[2019-12-05 19:58] jml-nola commented on #292
Certainly, thanks!

version: 0.1
frontend:
  phases:
    preBuild:
      commands:
        - npm ci
    build:
      commands:
        - npm run build
  artifacts:
    baseDirectory: public
    files:
      - '**/*'
  cache:
    paths:
      - node_modules/**/*

[2019-12-05 22:22] apanagos opened #293 "Amplify build fails with "NoSuchBucket" for environment that was removed and added"
**Describe the bug**
We were having problems with one of our build environments so we removed it. I went through and made sure that any remaining resources were deleted. For instance there were some CloudFormation stacks left with errors. I deleted those. So nothing left in S3, IAM, Lambda, and disconnected Ampify build. Created environment again and pushed successfully. Checked in code and then a

[2019-12-06 07:21] leandigital opened #294 "Old files (no longer in repository) not removed during deploy"
**Describe the bug**
After deployment, files that were removed from repository are still getting served. Whether cached, or stuck in S3 storage. This is using Hugo framework.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy initial application.
2. Remove one of the content files from repository.
3. Push update to the repository.
4. Redeploy application.
5. Navigate to the old/removed U

[2019-12-06 14:48] #292 closed

[2019-12-06 14:50] jml-nola commented on #292
The Amplify Console default build settings for Gatsby/Amplify are now working for me.

[2019-12-06 17:01] dahersoftware commented on #262
@swaminator I am developing a multi-tenant app and I want to provide custom subdomain URL to my users.
In amplify console, I have configured a domain and want to find a way to manage subdomains whenever a different tenant register within my app. Currently I see if I have multiple branch I can register a subdomain like <branch.domain> similarly I am looking for <tenant.domain> Urls.

[2019-12-06 17:10] tmbtech commented on #233
I'll give it a try and report back, thank you for your suggestion!

[2019-12-06 18:17] swaminator commented on #294
Please refer to this: https://github.com/aws-amplify/amplify-console/issues/178#issuecomment-537616693

[2019-12-06 18:17] #294 closed

[2019-12-06 18:20] swaminator commented on #293
@apanagos sorry to hear you're having troubles. Can you please share your appid?

[2019-12-06 18:24] swaminator commented on #279
@ChristopheBougere can you share your appid? Also your build settings would be helpful

[2019-12-06 18:28] ChristopheBougere commented on #279
@swaminator thanks for taking a look.
The original amplify app id is `d2kr6iz2hgzrdy` (eu-west-1). A new app has been generated with this id: `d3p8otsv7y21zu`.
Here is my amplify.yml:
[code]

[2019-12-06 18:46] swaminator commented on #279
@ChristopheBougere can you turn on live updates for the Amplify CLI to `latest` in the Console (or pin it to version 4.2 if that's what you're using locally): https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates

Your `staging` env should show up. For the env named `christophe` we are aware of this bug in the CLI and working on it.

[2019-12-06 19:18] ChristopheBougere commented on #279
I can confirm it works well for my `staging` env. Waiting for the CLI fix.

Thanks for your help

[2019-12-06 19:31] rb365 opened #301 "Failed to create backend environment.The environment name qa is invalid. Environment name should be between 2 and 10 characters (only lowercase alphabets)."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
updated CLI and tried to push change to lambda function and I get following:

✖ An error occurred when pushing the resources to the cloud

Failed to create backend environment.The environment name qa is invalid. Environment name should be between 2 and 10 characters (only lowercase a

[2019-12-06 20:58] swaminator commented on #95
@jcvalerio I think I know what's going on. Hunch is based on this SO issue: https://stackoverflow.com/questions/55941307/error-initializing-environment-after-running-amplify-init

What are the names of your backend envs?

[2019-12-06 21:08] swaminator commented on #95
Actually @AlexThomas90210 solution might also help you: https://github.com/aws-amplify/amplify-console/issues/95#issuecomment-558854190

[2019-12-06 22:05] jcvalerio commented on #95
@swaminator

None of those works in our case.
Looking around we found this #88

We were working with that version 2.0.0 , our envs *develop*, *PR*, etc. were building fine but *master* did not.

So, we change the version from 2.0.0 to *4.0.0* and build start working again.

I will say that I have no idea what happen on that env.

[2019-12-06 22:07] jcvalerio commented on #88
upgrade from 2.0.0 to 4.0.0 fixed our `AccessDenied: Access Denied` error

[2019-12-07 15:27] Burry opened #295 "Amplify Console fails to detect frontend framework when connecting repo after Console app is initialized"
**Describe the bug**
When connecting git branches to an Amplify Console app that has not been initialized with a git repository, the Amplify Console fails to detect the frontend framework in use by the repository.

**To Reproduce**
To take advantage of the new features that connect a backend environment to the Console, I ran `amplify init --appId xxxxxxxxxxxxxx --envName xxx` on my project. This s

[2019-12-07 18:51] apanagos commented on #293
Here is the ARN arn:aws:amplify:us-east-1:154535222214:apps/dmtcgpkyvwgrv

[2019-12-07 19:39] nikovirtala commented on #173
Yes, thank you!

Leaving some bread crumbs for further searches:

Amplify Console’s Pull Request Preview: https://aws.amazon.com/blogs/aws/improve-your-app-testing-with-amplify-consoles-pull-requests-previews-and-cypress-testing/

[2019-12-08 06:28] lion-and-lotus commented on #231
The new App Id is d3hrm7k8egypi9 in region us-west-2. Apologies for the delayed response.

[2019-12-08 11:02] kevin-mitchell commented on #206
I'm having similar issues, or at least they appear to be closely related. I posted details here https://github.com/aws-amplify/amplify-cli/issues/2833

[2019-12-09 04:50] steverandy opened #296 "Deployment stuck at provision step"
**Describe the bug**
Sometimes deployment stuck at the provision step and does not progress.
There is no additional information displayed or an error message.

![Screenshot 2019-12-09 at 12 32 26 PM](https://user-images.githubusercontent.com/525332/70408169-1e05f900-1a82-11ea-90ce-7a9684d745c7.png)

[2019-12-09 07:41] jmodanwal opened #297 "Build Failed: Vue JS with Gridsome framework"
**Describe the bug**
I am trying to connect my vue app hosted on bitbucket master branch. When I try to connect app then build failed after some times.

Can you please help me out ?

Thanks

[2019-12-09 16:02] KidSysco commented on #206
Yep, looks exactly the same as my experience.

[2019-12-09 16:32] Joycehao19 commented on #290
Hello @allenheltondev , we are sorry that you are facing this issue. Could you please try the following links? If those links doesn't help, please let us know.

Troubleshoot CAA: https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting-caa.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html
https://docs.aws.amazon.com/amplify/latest/userguide/howto-third-party-dom

[2019-12-09 18:05] nadinagerlach commented on #115
Hi -- experiencing the exact same issue. Have tried: removing branches, removing PR previews, creating a new app.

Region: us-west-2
App id: d1kf7vuhz1gmur

[2019-12-09 21:19] kahdojay commented on #285
Hi @wbroek, AWS determines the supported TLS versions, and does not provide the ability to disable specific versions. With Amplify, TLS 1.2 is supported and as long as end users use a browser that supports 1.2, that version will be used by default.

[2019-12-09 21:26] swaminator commented on #293
This looks like you deleted the S3 bucket for the environment. Can you goto your S3 console and see if you can find a bucket mtaching `projectname-buildedge-TIMESTAMP-deployment`?

[2019-12-09 21:35] swaminator commented on #296
Can you share your appid please? (Found in `App settings > General`)

[2019-12-09 21:39] swaminator commented on #297
What's the build error you're getting?

[2019-12-09 21:50] swaminator commented on #291
@rnaresh how big is your `node_modules` folder? We have a known issue in #115 which we are actively working on. The workaround is to delete unused branches in your app.

[2019-12-09 21:52] swaminator commented on #287
@wajjs how big is your node_modules folder? We have a known issue in #115 which we are actively working on. The temporary workaround is to delete unused branches in your app.

[2019-12-09 21:53] swaminator commented on #287
Please comment on #115. Closing here.

[2019-12-09 21:53] #287 closed

[2019-12-09 22:09] apanagos commented on #293
So sorry, I deleted it just a few minutes ago because I needed to continue working. I created an environment with a different name (buildaaa) and that worked. It just completed building.

I did amplify env remove buildedge
This time most was removed EXCEPT if you look in the Amplify Console in the "Backend enironment" it still exists. I tried to deleted it there but it just says use amplify env re

[2019-12-09 22:21] swaminator commented on #65
@heitorlessa this is now available in production
![Screen Shot 2019-12-09 at 2 20 44 PM](https://user-images.githubusercontent.com/2429410/70478159-3e888000-1a8f-11ea-8c2e-e26da2273e8d.png)

[2019-12-09 23:44] steverandy commented on #296
@swaminator d347fpgoiyxpzr

[2019-12-10 01:39] rnaresh commented on #291
Thanks @swaminator . Size of the node_modules folder is ~150MB

[2019-12-10 02:02] kahdojay commented on #115
@nadinagerlach we took a look and it appears you are running in a limit of the number of files in your deploy artifacts. This is a known issue for which we're working on a fix. Since it's a per-app limit, one workaround would be to create a new app in the Amplify Console for a new branch. Please give it a try and let us know if it works.

[2019-12-10 03:37] steverandy commented on #296
@swaminator build status is showing `Pending` and any subsequent webhook triggers appeared to be not processed.

[2019-12-10 08:01] kevin-mitchell commented on #206
@KidSysco what are you doing in the meantime? Are you just deploying via `amplify push && amplify publish` locally in the cli?

[2019-12-10 09:16] ascorbic commented on #115
@kahdojay Does this mean we can't use PR previews? I'm trying to deploy a moderately-large Gatsby site, which has around 15000 files, and it deployed fine initially but since adding PR previews deploys are failing with this error. Is there a timeline for a fix? If not we'll have to move away from Amplify entirely.

[2019-12-10 15:17] KidSysco commented on #206
Pushing locally worked fine, and all functions worked fine locally. So I could develop locally but I just couldn't get it to production.

I decided to give amplify publish a try by setting up the publishing options in Amplify that would post the website to an S3 bucket, instead of using the Amplify Console.

However, amplify publish to S3 did not work for me either.

Same error.

I think what Joyc

[2019-12-10 15:38] kevin-mitchell commented on #206
Thanks for all of the info, the insight / experiences you've had are super helpful as I think through this stuff.

RE: try without social, in my case social sign in is actually the ONLY option that I want to support. My "app" is for a limited set of "internal" users (hint: it's actually my family :)), but I want to build something robust / secure as a way to learn a new set of tools (e.g. Amplify)

[2019-12-10 16:12] KidSysco commented on #206
I understand completely.

As a Node.js programmer, the huge answer for social media SSO is passport.js.

However, I prefer Restify over Express, which has lead a pretty big divide in the Node community I'd say.

Passport.js is express based.

There are other services out there that are like Cognito, and we could use them too. I even have some training here from Udemy.com on getting AWS Developer c

[2019-12-10 17:17] dahersoftware commented on #262
@swaminator Any suggestion for this.

[2019-12-10 17:25] #65 closed

[2019-12-10 18:54] rickiesmooth commented on #115
I tried this and now I’m not generating the aws-imports file anymore while I am doing the amplify simplePush step for the backend. Would be great if someone from aws could offer some assistance while I’m unable to deploy my app since October

[2019-12-10 19:27] kahdojay commented on #300
@kevin-mitchell we have a known issue that we're working on resolving. In the meantime have you tried the workaround described here? https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-552548466

Let me know if this doesn't work for you. Also please scrub your comments to remove your googleClientId creds and rotate that key since this is a public forum.

[2019-12-10 20:35] kevin-mitchell commented on #300
@kahdojay I _have_ seen the workaround, to be honest part of the reason I've held off is because it wasn't clear to me if the issue was caused by something I was doing incorrectly, vs an actual known issue. It sounds pretty clear that in fact this is a "real" issue.

I will try to give the workaround a shot. Part of the reason I didn't just jump right in is because I wasn't entirely sure about whi

[2019-12-10 21:27] kahdojay commented on #300
@kevin-mitchell Ah ok, apologies I didn't look closely enough at the secret value. That is indeed an insert-your-credentials area. One idea might be to leverage the AWS_BRANCH environment variable provided by Amplify: https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html#amplify-console-environment-variables

(since this is a workaround we don't have a formal recommendati

[2019-12-10 21:32] kahdojay commented on #115
@ascorbic the issue I'm referring to is not to PR previews but with large deploy artifacts. Do you have another issue I could look at that describes your problem? If not please feel free to open a new one so we can get some more context.

[2019-12-10 22:09] Joycehao19 commented on #251
Hello, @HMilbradt
` once with a trailing /, and once without it, depending on how the user lands on the page.`
Can you provide some user cases, with / and without?

[2019-12-10 23:12] kahdojay commented on #296
@steverandy I see all the builds for d347fpgoiyxpzr in that region for 12/8 as being successful. Can you share the specific build number we should look at? Also if you have a way we can reproduce the issue, please let us know.

[2019-12-11 00:06] steverandy commented on #296
Sure. Please check build no 367, 357, 355.

It usually happens for deployment triggered by webhook. Manually triggered deployment usually always successful.

[2019-12-11 00:44] HMilbradt commented on #251
One example is `/blog/` and `/blog`.  Our site is being linked externally, and we get almost all our pages coming in with and without trailing /'s which we don't control.  I've read the section on [trailing slashes](https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html), and can confirm that a page like `/blog/index.html` is **not**  being rewritten `/blog` is received.

Before addin

[2019-12-11 00:46] #269 closed

[2019-12-11 01:00] kahdojay commented on #115
@kkesley-shine @rickiesmooth can you both please share your respective buildspecs (if possible, from the time you were experiencing the issue)?

Also @rickiesmooth if you could tell me a specific build number (for dmm4bu2tim2c; eu-central-1) that I can look at when this happens, it would help a lot. (We're going to start asking for these for new issues to save time)

[2019-12-11 01:03] kahdojay commented on #115
@desertmonkey same for you if you are able, please - specific build number, as well as Amplify ARN (for the app id and region), and a buildspec with which you can reproduce the issue.

[2019-12-11 02:01] kkesley-shine commented on #115
Hi @kahdojay

Here's our amplify.yml

[code]

and scripts in our package.json

[code]

Thanks!

And we also noticed that cypress 3.6.1 is getting stuck recently. And coincidently, there's a 3.7.0 out last week.

We also noticed amplify is installing cypress globally when provisioning the build. Do we have to use the one installed globally?

[2019-12-11 08:31] wbroek commented on #285
Hi @kahdojay thank you for the response. I was thinking that AWS would determine that yes and also my bet would be that they would change the requirements of the certificates if things change.

[2019-12-11 08:31] #285 closed

[2019-12-11 09:06] wajjs commented on #115
I opened issue #287
"@wajjs how big is your node_modules folder? We have a known issue in #115 which we are actively working on. The temporary workaround is to delete unused branches in your app."

For me the deploy to hangs around 14000 files.
My node_modules folder is 350 MB.

[2019-12-11 11:17] kevin-mitchell commented on #300
@kahdojay thank you so much for taking the time to reply to my questions and the ticket / issue. I'll take a look and likely give the workaround a shot.

That said, I'm sure you don't have a timeline for this, but can you give any insight into if this is something that is actively being looked at vs being deep in the backlog? A big part of the reason I went with Amplify vs "roll your own" stack is

[2019-12-11 14:19] alexkates commented on #94
Anything new here? This is also blocking my team from moving forward with Amplify.

[2019-12-11 15:20] mcbergsma opened #318 "`amplify publish` url works, but CI/CD url fails authentication with AppSync"
I've set up an app with the Amplify CLI, I added auth (cognito user pools), an API (graphql) and hosting.

It all actually went quite smoothly for the first try, and then I went into the Amplify Console and connected the frontend to my github repo. Everything there seems to work too, my app deploys at a new URL (still the default `amplifyapp.com` one). I can visit the page, it requires me to log i

[2019-12-11 16:47] jmodanwal commented on #297
Hi
I am attaching here  error log. Please check

Thanks
[log.txt](https://github.com/aws-amplify/amplify-console/files/3951528/log.txt)

[2019-12-11 18:25] allenheltondev commented on #290
I was able to figure this issue out reading through all the documentation. My issue was that I had to create an issuewild CAA on my root domain, and a CNAME for the specific subdomain I was trying to use.

Thank you for all the documentation.

[2019-12-11 18:25] #290 closed

[2019-12-11 20:29] swaminator commented on #300
@kevin-mitchell This is something that is at the top of our backlog and we are actively working on.

[2019-12-11 20:31] #300 closed

[2019-12-11 21:17] desertmonkey commented on #115
Thanks @kahdojay, as my colleague @cawleyflower [mentioned above](https://github.com/aws-amplify/amplify-console/issues/115#issuecomment-531408806), we changed our build procedures (including moving all our binary files to a CDN) and haven't seen the issue since.

For the record, our ARN is arn:aws:amplify:us-west-2:054500231008:apps/d1ev2ep2azk4pn

[2019-12-12 00:46] Ben-Kincaid commented on #41
Just wanted to share what was causing this for me and my solution:

Our build previews were hanging on our production server - after build, it simply wouldn't continue to deploy and would timeout. The error logs gave no additional info on what the issue was or why the build wasn't able to proceed past the "build" step.

The amplify.yml for the project defined a test phase, even though our E2E test

[2019-12-12 01:37] kahdojay commented on #115
@kkesley-shine Thanks for sharing. For those having build issues with Cypress, please use version 3.4.1 as a workaround for now. We’ll update this thread once we’ve added full support to properly execute later versions. If builds continue to fail with 3.4.1, please let us know. @rickiesmooth

[2019-12-12 02:45] MThakkar121 opened #305 "Error in deployment getting build failed error.."
Build failed error
And the other one is non-zero exit code detected..
![IMG-20191212-WA0006](https://user-images.githubusercontent.com/36958377/70678241-8c7fcc80-1cb7-11ea-81cd-6ae58b0e7984.jpeg)

[2019-12-12 02:59] mcg5de commented on #223
So following this thread I was able to implement the workaround talked about in #206, and up until now that had worked to fix the initial issue of the console not seeing the parameters.

**Describe the bug**
Now I have run into a different issue that is still causing same error that I posted above previously: When I switch between cloud backends using `amplify env checkout` and try to do a push, t

[2019-12-12 05:20] swaminator commented on #305
@MThakkar121 you need to provide the entire log. Preferable copied and pasted here.

[2019-12-12 06:47] qasidcommons opened #306 "Error in domain activation"
**App Id**: qasis-sis-cra
**Region**: eu-central-1
**Step**: Domain Management - last step
**Status**: Domain Activation error

**Issue/question**
I am associating a subdomain with the app. This subdomain used to be associated with an s3 static hosted site through cloudfront. I disconnected that and removed the associated CNAME. However, it still says that the CNAME is associated with another reso

[2019-12-12 07:44] qasidcommons commented on #306
This was resolved by deleting the instance of the previous CNAME in cloudfront

[2019-12-12 07:44] #306 closed

[2019-12-12 10:43] ascorbic commented on #115
@kahdojay I'm getting failures during deploy with the same error, but not on the master branch. I'm not using Cypress, and the site is around 13k files. My ARN is arn:aws:amplify:eu-west-1:615693933970:apps/d301w3ojpkhzjt.

[2019-12-12 16:48] kahdojay commented on #115
@ascorbic will take a look, can you also share the build number?

[2019-12-12 17:45] kahdojay commented on #297
@jmodanwal please copy and paste the relevant errors as a comment.

Can you also please fill in the issue template:
1. Issue Description

2. Detailed Steps To Reproduce

3. Expected behavior

4. Application Details

    a. Please share your Amplify Console AppID, found in App settings > General > App ARN (e.g. arn:aws:amplify:us-west-2:XXXXXXXXXXX:apps/APPID)

    If the issue is related to a buil

[2019-12-12 17:58] talebbits opened #307 "Publish/Deploy previous build"
**Is your feature request related to a problem? Please describe.**
We do not have any way to just publish previous build, we have option to `Redeploy this version` what re run all the step it would run if we kick new build like Provision|Build|Deploy|Verify

**Describe the solution you'd like**
It would be ideal if it only run `Deploy|Verify` steps when we `Redeploy this version`

[2019-12-12 19:03] kahdojay commented on #115
@wajjs in #287 you provided a job arn that has a different account and app id than the app id provided. Can you confirm which app, branch, and job id we should look at?

[2019-12-12 19:13] jordan314 commented on #115
Hi, we are also having this issue, deploy stuck for three days, app d3mckmn7bfao41 branch master build 4 in oregon

[2019-12-12 20:14] anatonie commented on #293
Hi @apanagos

We have root caused the issue and a fix is in the pipeline. If you'd like to unblock yourself immediately you can delete the backend environment from Amplify Console by using the following CLI command:

https://docs.aws.amazon.com/cli/latest/reference/amplify/delete-backend-environment.html

After doing that, please run another build and it will create a new backend as expected.

Tha

[2019-12-12 22:06] talebbits opened #309 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1nztlv1li5zxf
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-12-12 23:16] talebbits commented on #309
Delete and recreating `Add a custom domain`  end up working

[2019-12-12 23:16] #309 closed

[2019-12-12 23:50] aviv opened #310 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1unyy0awhvypi
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**

I had a couple domains associated with one amplify app and want to move them to another one. I've deleted that first app (after deleting the domain entries) and also deleted those records from our route 53 account (where they had been automatically created). However I'm still gettin

[2019-12-13 00:09] kahdojay commented on #115
@jordan314 there are a few different underlying issues being discussed in this thread. I should've asked for this earlier, but can you (and anyone requesting assistance) please provide more details, as provided in our updated [issue template](https://github.com/aws-amplify/amplify-console/blob/master/.github/ISSUE_TEMPLATE/bug_report.md)

This will help us save time in investigating and allow us t

[2019-12-13 03:30] apanagos commented on #293
Thanks Alex, Though I get an error saying that command does not exist.

aws amplify delete-backend-environment --app-id d250i8j55y2dby
usage: aws [options] <command> <subcommand> [<subcommand> ...] [parameters]
To see help text, you can run:

  aws help
  aws <command> help
  aws <command> <subcommand> help
aws.cmd: error: argument operation: Invalid choice, valid choices are:

create-app

[2019-12-13 03:39] ravishwetha opened #311 "Domain activation Failed - CNAMEs you provided are already associated with a different resource."
**App Id**: d1nc9hr9i8v96u
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Custom domain issue

**Error message**
If there is an error message, please include it here.

Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
Please add any other relevant information. Please fee

[2019-12-13 03:52] apanagos commented on #293
I went ahead and upgraded aws-cli and now I see the commands.
I ran but I cannot delete the apps (without environments).
When I ran to delete the one environment that is still hanging around I got the following:

aws amplify delete-backend-environment --app-id dmtcgpkyvwgrv --environment-name build
An error occurred (NotFoundException) when calling the DeleteBackendEnvironment operation: BackendEn

[2019-12-13 13:04] asjustis opened #312 "React app uses default favicon"
** Please describe which feature you have a question about? **
I have deployed my React app successfully, and it seems to function well, but I noticed that manifest.json and favicon files from my repository are ignored (Amplify uses the default ones). How could I make sure these are taken from the default build/ and not overridden by defaults?

** Provide additional details**
I am using the defaul

[2019-12-13 13:24] asjustis commented on #312
OMG, I did a commit, but have not pushed... I am ashamed 🤦‍♂ Have a good weekend.

[2019-12-13 13:24] #312 closed

[2019-12-13 17:18] abouroubi commented on #296
Same but here, Webhook started builds always hangs on provisionning

[2019-12-13 17:28] anatonie commented on #293
@apanagos
It looks like in your original post it was the buildedge environment that was giving you issues, not build. If that's still the case can you run the delete-backend-environment command with that environment-name?

Another option here would be to create a new environment using the Amplify CLI, push it, and then in the console, on the frontend page, you can point your frontend to the new ba

[2019-12-13 17:58] kahdojay commented on #311
Hi @ravishwetha, have you tried this https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

[2019-12-13 18:01] kahdojay commented on #310
This looks the same as #311 - please see that thread, or re-open if turns out to not be the same.

[2019-12-13 18:01] #310 closed

[2019-12-13 21:19] slhernandez opened #313 "Amplify not recognizing my artifact directory during deployment."
appId: d1ms7jt11oekyc
region: us-east-1

Hello,

I think I have my build settings incorrect.  I am having trouble getting my build (baseDirectory) recognized by the deploy step.  I am deploying a vanilla react.js app with a typical "npm run build" script that creates a "build" folder.  For some reason, Amplify can't locate the build folder even though it's been generated.  I even inserted some pos

[2019-12-13 21:40] kaustavghosh06 commented on #223
@mcg5de Do you see a list of inputParams which are missing? Also, can you share your headless script?

[2019-12-13 21:40] swaminator commented on #296
@abouroubi can you share your appid, build settings, and the build IDs that fail.

[2019-12-13 22:14] mcg5de commented on #223
Yes @kaustavghosh06 the missing params are `googleAppIdUserPool, googleAppSecretUserPool` which was the same as my original issue. Attached here is the script with the AppId & Secret values scrubbed. I copied and modified that script from the one discussed in #206.

[workaroundAmplifyPush.txt](https://github.com/aws-amplify/amplify-console/files/3962902/workaroundAmplifyPush.txt)

[2019-12-13 23:44] GWSzeto opened #336 "How to access environment variables in webpack for react app deployed in amplify"
Hey I am incredibly new to AWS amplify and I just got it up and going recently with my app deployed on amplify. The way I currently have it set up is that I have a .env file on my local machine and in my webpack.config.js file, I would access the environment variables from dotenv and then throw it in to the plugins like so
[code]

I set up the environment variables in the aws amplify console, but

[2019-12-14 00:20] eacp opened #320 "Wrong content type for CSS files"
**Describe the bug**
I deployed a static site and when I load it the browser does not load the css because the content type is not "text/css"

**Amplify CLI Version**
I'm not using the CLI I just followed the instructions to deploy using CI from github.

**To Reproduce**
IDK how to I just know I have some CSS files in the generated directory from HUGO and they are served as octet stream.

You can

[2019-12-14 00:22] jordan314 commented on #115
Hi, we've provided more details in support ticket 6655323281, a lot of the content is sensitive

[2019-12-14 01:42] stefangomez opened #314 "[Feature request] Ability to manually purge cached pages/urls"
**Is your feature request related to a problem? Please describe.**
According to [this comment](https://github.com/aws-amplify/amplify-console/issues/178#issuecomment-537616693) from AWS it's a *feature* that deleted files don't get purged from the cache. This can present problems for some (possibly even legal ones)

**Describe the solution you'd like**
Either via UI or through a configuration file