[2021-11-25 19:36] sespinosa commented on #1987
Thanks, this helped me a lot, but there's a detail that needs to be added to the documentation,

When you want to use some env variable (`from process.env`), you need to do a direct reference, for what I see aws prevents the full object to be deserialized (I think this was made for security reasons to avoid responding with the `process.env` var by mistake), the problem about this is that you can't

[2021-11-25 21:43] BmjEarhart opened #2411 "There was an error initializing your environment, file at path "<.......>/PostConfirmation.map.json" does not exist"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-11-25 22:30] angusho1 commented on #1209
I haven't been able to get this working. My rewrite rule is exactly as shown above and my `apple-app-site-association` file is in the root of my repository.

[2021-11-25 23:00] opqpop opened #2412 "[build] Node 16 Frontend NextJS build fails with error: Starting SSR Build... Terminating logging..."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-11-26 11:51] #2332 closed

[2021-11-26 13:55] nikolap commented on #125
This setup also shows up as a performance warning in AWS' Trusted Advisor

...

[2021-11-26 14:28] ciceropablo commented on #2412
I have the same problem.
Any news about it?

[2021-11-26 14:38] DiegoMcDipster commented on #2358
@hloriana , oeps... yeah, i had cy.visit("http://localhost:8080") on my cypress spec!

I changed that and it worked!  The code was built, tested and deployed!

Now, I will test this further to see if a new project picks up the correct build script and also a few more test specs and failing tests too.  But for now... great!

[2021-11-26 14:39] #2183 closed

[2021-11-26 15:02] XamHans commented on #2111
Any Updates on this? Ampliy has not fixed this yet

[2021-11-26 15:06] wellguimaraes commented on #2412
Same problem here 😢

[2021-11-26 16:01] ImranArtwel opened #2413 "Getting stuck in the test phase"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-11-26 16:21] wellguimaraes commented on #2412
Tried even a very basic Next app with SSR and the problem remains

[2021-11-26 16:39] zibra commented on #2412
+1

[2021-11-26 17:21] wellguimaraes commented on #2412
Apparently, the problem is **happening on a specific region** (`us-east-1` at least). I've just tried recreating the app on `us-west-1` and the build step succeeded.

[2021-11-26 17:44] wellguimaraes commented on #2412
Errrr, not anymore... Failing everywhere now...

[2021-11-26 19:05] mahmoudmiz commented on #2412
same problem as well!

[2021-11-26 19:08] Rafcin commented on #2412
@opqpop @wellguimaraes @che-ri @ciceropablo @zibra

Can you add your package json, amplify build yml, next config, and what type of repo you are using if you're allowed to? This seems to be a common issue.

I'm currently deploying a NextJS monorepo with NX and according to the amplify team it's a problem with `npx serverless` just failing.

[2021-11-26 19:09] Rafcin commented on #2412
Also stay away from deploying NextJs versions 12.0.1, 12.0.2 and 12.0.3 due to rust compiler issues. 12.0.4 should be stable and 12.0.5-canary.0 is also stable.

[2021-11-26 19:17] opqpop commented on #2412
package.json: https://gist.github.com/opqpop/a53282aaab476d56ccd5589d25541c9e
package-lock.json: https://gist.github.com/opqpop/27fa75baf64723b41b46dfcc3668080b
next.config.js: https://gist.github.com/opqpop/333456b74f1daf639a0e38aaf0d8d509
type of repo: github connected on amplify

amplify.yml

[code]

npm list
[code]

Note I've always used build settings NextJS version set to 10 and it always wo

[2021-11-26 19:18] Rafcin commented on #2412
@hloriana This issue and the monorepo issue might be sharing the same build problem.
https://github.com/aws-amplify/amplify-console/issues/2377

[2021-11-26 19:25] Rafcin commented on #2412
@opqpop I'm looking at your build yml. It looks good minus the nvm part. I don't think you need nvm unless you need to set a specific version, and even then in the console, you can add a package override.

Have you tried redeploying on a new app just as a test?

Odd, I've tested from Next 10 to 12 and I've had failures on all of them. I should note before I switch to a monorepo I successfully depl

[2021-11-26 19:53] Rafcin commented on #2400
Try this in the build settings
[code]

[2021-11-26 20:02] Rafcin commented on #2387
What version of Amplify caused this issue?

[2021-11-26 20:14] swaminator commented on #2412
@ciceropablo @zibra @wellguimaraes @opqpop @Rafcin we are looking into this now with priority.

[2021-11-26 20:15] Rafcin commented on #2412
Adding some related issues that involve the SSR deployment bug.
https://github.com/vercel/next.js/issues/31555 - Monorepo | NextJS
https://github.com/bmvantunes/aws-amplify-deploy-test-nx/issues/1 - This guy built his app and managed to deploy it somehow. (I think he's making a video on this)
https://github.com/aws-amplify/amplify-console/issues/2377 - Same build issues
https://github.com/aws-ampl

[2021-11-26 20:24] Rafcin commented on #2412
@swaminator Thank you! On Discord Kgnanask mentioned at least for my case this was an issue with serverless. `npx serverless` just terminated without any response. If you want to see it my dist id is **d2wuxof40gra3l**. I deploy it similarly to how some of the above are deployed.

Will this be the best place to check for updates? I opened a support ticket although they don't have any updates and o

[2021-11-26 20:54] victorccccc commented on #2412
Hi @ciceropablo @zibra @wellguimaraes, can we also have your AppId please?

[2021-11-26 20:57] ciceropablo commented on #2412
Hi @victorccccc!
My application id is dekdvlzg04mz2.

[2021-11-26 20:59] j-mastr commented on #2412
Hi,
I'm experiencing the same issue, even by rolling back to an previously successful build (~5 days ago)

My app ID is: `dc5j734acopyd`
Running on eu-central-1, nextjs version is 11.0.1

[2021-11-26 21:11] swaminator commented on #2412
@wellguimaraes I was able to deploy a basic Next app with SSR without issues: https://github.com/swaminator/create-next-app. Does anyone have a repo they can help with that is failing?

[2021-11-26 21:24] Rafcin commented on #2412
@swaminator @victorccccc  I'll send you an invite to my repo, I'm still stuck in the failing state.

[2021-11-26 21:25] j-mastr commented on #2412
@swaminator @victorccccc same for my repo

[2021-11-26 21:25] ferdingler commented on #2412
Can you confirm if you are using node v16? It seems to be happening only with that version.

[2021-11-26 21:29] swaminator commented on #2412
@Rafcin @j-mastr we were able to reproduce the error with Node 16. In the interim, while we figure out why this is happening please downgrade to Node 14.

[2021-11-26 21:31] Rafcin commented on #2412
I'll test node 14 again. Node 14 also failed in the past but i'll double check.

[2021-11-26 21:39] wellguimaraes commented on #2412
@swaminator Thanks for checking this one.

Just tried with this project and had no success: https://github.com/wellguimaraes/nextjs-basic-ssr

** `us-east-1/d1l7q7mprvlxks`

[2021-11-26 21:40] Rafcin commented on #2412
@swaminator I switched to 14 and the same build issue occured.

[2021-11-26 21:40] ferdingler commented on #2412
To try it with node 14, you can add this to your `amplify.yml` in the build section before running your build.

[code]

[2021-11-26 21:48] Rafcin commented on #2412
I just tested v12.22.7 and it threw the same issue.

[2021-11-26 21:55] Rafcin commented on #2412
@ferdingler v14 failed as well (Build 50), same termination error.

[2021-11-26 21:58] ferdingler commented on #2412
@Rafcin we looked at your build logs and it seems to be unrelated to this. Are you using the NX monorepo framework? We have seen issue with some advanced features of that framework because of the way it wraps the build artifacts. We will track this as well, but it doesn't seem related to this particular issue of node 16.

[2021-11-26 22:02] ferdingler commented on #2412
We believe the issue with node 16 is related to `npx` now expecting user confirmation which causes the build to exit immediately: https://github.com/npm/cli/issues/2226. We use `npx` for build commands on SSR apps. We are testing to confirm this theory, but in the meantime pinning your node version to 14 should be a safe workaround.

[2021-11-26 22:02] swaminator commented on #2412
@wellguimaraes I was able to get your basic repo to succeed using Node 14: https://github.com/swaminator/nextjs-basic-ssr/blob/main/amplify.yml

[2021-11-26 22:03] Rafcin commented on #2412
@ferdingler Yep NX. I assumed the termination issue might have been related. I really had no way of knowing because I can't see the full extent of the logs.

I have an issue open https://github.com/aws-amplify/amplify-console/issues/2377 but haven't found any solution to the issue. It's making me really nervous because the AWS ticket and all the issues haven't yielded a solution and I'm running ou

[2021-11-26 22:06] wellguimaraes commented on #2412
@swaminator Yep! Got things to work here with Node14. Thanks!

[2021-11-26 22:06] j-mastr commented on #2412
Just tested v14.18.1 and it seems to work without issues for me 🎉  Thanks!

[2021-11-26 22:14] swaminator commented on #2412
@Rafcin we were able to reproduce your issue - we will respond to you in the #2377 ticket so that we don't conflate many things here. This issue is specifically with Node 16.

[2021-11-26 22:18] Rafcin commented on #2377
@swaminator So it's a node 16 issue? I tested v12.22.7, v14.18.1, and v16. All terminated after build.

[2021-11-26 22:31] otabek1 opened #2420 "Admin UI Sign In problem"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-26 23:20] opqpop commented on #2412
confirming this fixed it for us! Thanks for the quick response. Looking forward to learning about the root cause

[2021-11-27 00:29] ryandagg commented on #1248
The documentation leads to a yml validation error in Amplify console. Please update the documentation.

[2021-11-27 07:15] ravishwetha commented on #673
Issue still occurs for me as well

[2021-11-27 12:31] BernhardSmuts commented on #441
Same here. Need to put in API KEYS and URL locations as env variables but not able to if I don't use CI/CD?

I just use amplify push/publish to deploy.

[2021-11-27 16:19] marco910 commented on #2347
@EringiV3 Thank you! The problem was that I used the app before the ISR implementation as a full static app. Now I created a whole new app in the Amplify Console and it's working!

For the future, it would be great if Amplify Console can assign the permissions afterwards, as you mentioned.

[2021-11-27 16:19] #2347 closed

[2021-11-27 16:21] marco910 commented on #92
I updated my Next.js app to SSR and ISR and facing now the same issue with custom headers where the last setting of the `customHTTP.yml` is applied to all files (CSS, HTML, JS etc.).

Does anyone have a solution for this, or is this an open long-term issue?

[2021-11-27 18:36] ferdingler commented on #2412
We rolled out a fix for node 16. Feel free to switch back to it if needed. Apologies the inconvenience.

[2021-11-27 18:36] #2412 closed

[2021-11-27 19:56] Rafcin commented on #2377
@swaminator So regarding how the app is built with NX, will it be possible at all for me to deploy my app?

[2021-11-28 15:17] liquidpeachy opened #2414 "Adding domain adds trailing slash to CSS"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2021-11-28 21:33] reedshea commented on #2127
I'm experiencing a similar issue, I think - but it seems that although my application is purely a static site (SSG), Amplify still builds a server-side rendered version. The back-end CloudFormation work is pretty quick (3 minutes), and the front-end SSG build looks like it takes just a few seconds for this site. But the subsequent SSR build takes 7 minutes:

[code]

[2021-11-28 22:06] quinnturner commented on #2127
@reedshea make sure your `build` script in `package.json`:

[code]

The behaviour you're describing happens when the `build` script is just `next build`. When Amplify sees `next export`, if will forcibly only deploy the static assets and none of the Lambdas.

[2021-11-28 23:02] neoplastic commented on #654
+1 We'd be happy to pay for extra resources to get things built quicker.

[2021-11-29 00:36] dburles commented on #2367
I too would like this feature, as I've mentioned here https://github.com/aws-amplify/amplify-console/issues/1441#issuecomment-976176114

[2021-11-29 07:57] BahauddinAziz opened #2415 "Access Denied Nextjs : No solution seems to work"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-11-29 08:28] swaminator commented on #1532
We have finally fixed this issue. Please let us know if you have more issues.

[2021-11-29 08:28] #1532 closed

[2021-11-29 09:02] mwMichaelSchnabel commented on #2397
I re-registered the CICD triggers from codecommit to the pipeline + deleted and re-entered the config above to the project.
Now the test stage starts correctly when the build gets triggered by a commit/mergerequest

[2021-11-29 09:02] #2397 closed

[2021-11-29 13:51] metadiego commented on #1690
+1. I am using airbnb eslint config and lint-staged, these are not compatible with Node 12, so I had to change version to Node 10 and also change lint-staged version to an earlier release.

I imagine these sort of issues will only get worse until AWS adds support for more recent node versions...so, pretty please do :)

[2021-11-29 14:46] JamieSlome opened #2416 "Backend Deployments Fail When Run at the Same Time"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-29 14:47] JamieSlome commented on #2416
@chrisbonifacio - apologies for that! Really appreciate your support here 👏

[2021-11-29 14:58] 24jr opened #2417 "Amplify "List apps call failed Network Failure""
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-11-29 15:26] slaat commented on #373
it's quite odd that they aren't supporting their own platform...

[2021-11-29 15:50] ciceropablo commented on #2111
I have the same problem.
Any news about it?

[2021-11-29 16:09] aleksey-shmatov commented on #2415
I had this issue three times and all times for different reasons.
Initially it was because of permissions issues, but seems like you already tried that.
Second reason was that for some unknown reason my root account did not have permissions to enable "enable transfer acceleration" on the deployment bucket. I have contacted support and they gave permissions to my account to enable this feature.
Thi

[2021-11-29 17:16] kziemski commented on #373
CodeCommit the neglected child of AWS services

[2021-11-29 18:32] reedshea commented on #2127
Thank you, @quinnturner! I'll investigate and see whether that approach makes sense. There may be a need for SSR pages in my application, so I'll tread carefully and try to avoid running into hard-to-debug problems...

[2021-11-29 18:46] mnightingale commented on #1690
In the [Dockerfile](https://github.com/aws-amplify/amplify-console/blob/main/images/latest/Dockerfile) VERSION_NODE_12 is defined as `12` so if you want to use 14 just add preBuild steps such as:

[code]

Looking at the file you might also want a `npm install -g sm grunt-cli bower vuepress gatsby-cli` step if you need those global deps.

[2021-11-29 18:54] hloriana commented on #2415
Hi @BahauddinAziz can you provide your AppID and the region you're trying to deploy your app in?

[2021-11-29 19:13] sananbintahir commented on #2415
I've been having the same issue for the past day. Just started happening out of nowhere.

AppID: dwfmevspagm4e
Region: eu-central-1

[2021-11-29 20:50] hloriana commented on #2417
Hi @24jr 👋🏽,  can you contact your administrator and make sure the proper permissions were added? Here is an AWS-managed policy that provides admin access to AWS Amplify resources: https://docs.aws.amazon.com/amplify/latest/userguide/security-iam-awsmanpol.html#security-iam-awsmanpol-AdministratorAccess-Amplify

[2021-11-29 21:00] hhemmati81 opened #2418 "Amplify build frontend phase not installing packages"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-11-29 21:29] hloriana commented on #2415
@sananbintahir can you make sure the IAM role associated with your app has the right permissions? Please see reference: [[ERROR] AccessDenied: Access Denied](https://github.com/aws-amplify/amplify-console/blob/main/FAQ.md#error-accessdenied-access-denied)

[2021-11-29 21:41] 24jr commented on #2417
@hloriana I was given admin access I was told. First tried just amplify access then eventually full admin and still same

[2021-11-29 22:52] abraly commented on #171
Any movement here?

[2021-11-29 23:31] RealDrewKlayman commented on #2098
@ferdingler This issue has started re-occuring yet without any configuration changes.

[2021-11-30 01:01] RealDrewKlayman commented on #2098
@ferdingler Also there isn't a canary for 105.

[2021-11-30 02:03] franklin113 commented on #1647
I am having the same issue.
appId: d3qdnyds4rfrho
region: us-east-1

[2021-11-30 03:02] sananbintahir commented on #2415
Yes, the IAM role has admin permissions, so that’s not the problem. The issue is only happening with newly connected branches, the ones that were already connected from more than a day ago are building fine

[2021-11-30 06:41] cebrakadabra commented on #2391
@jain-kushal as mentioned by @ferdingler and as mentioned here: https://github.com/aws-amplify/amplify-console/issues/2393 once you update *NextJS* to `latest` within the Live Package Update Section of your Amplify App you can resolve this issue temporarily. The issue linked shows that a solution is been worked on. Thanks for raising, helped me resolving it as well.

[2021-11-30 15:53] gopeter commented on #2214
Dear @ferdingler,

sorry to bother you, but I just wanted to ask if this is something that you plan to implement? For european users, we have to deal with TTFB from 600ms to 1200ms (Next.js app) 😥

[2021-11-30 17:10] hloriana commented on #2417
@24jr If your administrator created a user for you in the right account and attached the AWS-managed `AdministratorAccess` policy to the user, then you should have access 🤔. Are you able to access other resources in the console (ex. Amazon S3)?

Also, can you please share the policy your administrator attached to the user you sign in as?

[2021-11-30 17:44] hloriana commented on #2383
Hi @seunghwako, sorry for the delay in response. I see you were able to successfully build not long after submitting this issue. Were you able to resolve the problem?

[2021-11-30 19:16] Rafcin commented on #2377
@ferdingler @swaminator Hello again! Just wanted to check-in and ask, has a solution been found to the nx deployment issue? I really need to know if I need to move away from NX or not because I've got some higher up people breathing down my neck ;-; and I need to deploy something soon or rework my project to not use NX.

[2021-11-30 20:55] tomharvey commented on #1209
@Selenestica - Took me a minute too, thought I needed some amplify.json config file in my app. But it's all just done in the AWS console for the Amplify App.

Go to your Amplify Console, choose your app and go to App Settings > Rewrites and redirects.

Once you select "edit" you can add a new rule (to the top) as in the screenshot, or click on the "Open Text Editor" button at the top right to ente

[2021-11-30 22:04] kegorgas commented on #2297
@hloriana  @ganipcanot Any updates on this issue? Thanks!

[2021-11-30 22:10] kriscodes2 commented on #8
I adopted Amplify in December of 2018 just after it was introduced at re-Invent.  In the beginning "**_it was_**" possible to directly manipulate the CloudFront distribution and S3 deployment bucket. In my humble opinion Amplify was the answer to the microservices architecture that was booming since 2011. Shortly after Kubernetes came about in June 2014, Serverless came on the scene after AWS Lamb

[2021-11-30 22:51] hhemmati81 commented on #2418
Here is a screenshot of the console.
![image](https://user-images.githubusercontent.com/67350345/144140587-bc5b06a4-46c5-4649-836c-b6705efd358d.png)

It starts the preBuild and then ends without installing packages.

Here is a screenshot of the previous build where it worked properly.
![image](https://user-images.githubusercontent.com/67350345/144140705-b2410034-67f6-4efb-a397-567d21a30fa9.png)

A

[2021-12-01 00:14] hloriana commented on #2415
Hi @sananbintahir, I was able to successfully build my SSR app on new branches. Can you provide reproduction steps so we can understand this behavior?

[2021-12-01 01:11] hloriana commented on #2418
Hi @hhemmati81 It looks like you have a typo in your build settings, the `commands` is missing a colon:

[code]

[2021-12-01 01:21] hloriana commented on #2416
Hi @JamieSlome  👋🏽 thanks for raising this issue! I understand this is difficult to reproduce so thank you for the additional context. I'll bring this issue up to the team and will report back once I have more information.

[2021-12-01 01:28] hloriana commented on #2413
Hi @ImranArtwel can you try these build settings? The test phase is different from the documentation since this is an SSR app. We're working on updating testing documentation for SSR applications.

[code]

[2021-12-01 01:40] amirhajimirsadeghi commented on #501
There doesn't seem to be an answer here for how to do this. I need to do this for my backend packages

[2021-12-01 03:29] hhemmati81 commented on #2418
Wow, I can't believe I missed that. Some time ago I copied and pasted `- export NODE_OPTIONS=--max-old-space-size=8192` to both preBuild and Build phases and must have removed the colon by mistake.

Usually, the build settings complain when you have a mistake but for some reason, it's not complaining about the missing colon.

[2021-12-01 03:29] #2418 closed

[2021-12-01 03:59] microtitle-io commented on #1215
Thanks @nimacks, this saved a lot of head-scratching for me, too!

More generally, if you are getting the wrong version, and it's not installed, you can do something like this:

[code]

That got me from likely deprecated Node v12.x.x to v16.13.0, which I had been using on my desktop. Cheers :)

[2021-12-01 04:10] sananbintahir commented on #2415
@hloriana I had to contact aws support yesterday to resolve the issue. According to support, “The reason behind that behavior was a trust level issue on your AWS account.”

After support increased the trust level on my account, my builds started working again. Still not sure what caused this trust issue, will follow it up with support to figure it out. Weirdly enough, every AWS service, besides th

[2021-12-01 08:36] JamieSlome commented on #2416
@hloriana - thanks for the update 🤝

[2021-12-01 09:11] Rafcin commented on #2377
I noticed when the artifacts are zipped, it seems that it only zips 7 mb although it should be 90 something MB.
[code]

[2021-12-01 09:34] Rafcin commented on #2377
I also modified the serverless yml to add the desired cloudfront headers. Don't know if it will work.

[code]

[2021-12-01 14:54] matthewapps opened #2419 "Could not initialize 'prod': Cannot find module 'table'. Please verify that the package.json has a valid "main" entry"
**Please describe which feature you have a question about?**
Amplify hosting for next js.
**Provide additional details**
I have connected my nextjs frontend app for to my app ( with a backend call prod) but whilst the provisioning stage succeeds, the build keeps failing with the following message.
Could not initialize 'prod': Cannot find module 'table'. Please verify that the package.json has a va

[2021-12-01 15:34] 0x6c23 commented on #1009
Unable to build any new images due to this

[2021-12-01 15:37] hloriana commented on #2308
Hi @onlineworld69 👋🏽  When importing auth, Amplify needs certain information in order to access those resources like `AMPLIFY_USERPOOL_ID`, `AMPLIFY_WEBCLIENT_ID`, `AMPLIFY_NATIVECLIENT_ID`, and `AMPLIFY_IDENTITYPOOL_ID`. You can add them in the console by navigating to your amplify app -> app settings -> environment variables. Here is a reference for default variables accessible by Amplify: [Ampl

[2021-12-01 16:02] 24jr commented on #2417
<img width="324" alt="Screen Shot 2021-12-01 at 11 01 46 AM" src="https://user-images.githubusercontent.com/34662182/144268872-eadaa7a3-e918-45a4-8cac-c0fbd17e4ddb.png">
I was sent that this was given to my account

[2021-12-01 16:21] matthewapps commented on #2419
Hello, Thank you for replying , I'm not using a custom domain yet  and the appid is di0c6fn917ks3 in eu-west-2

[2021-12-01 16:54] hloriana commented on #2418
@hhemmati81 yeah I'm surprised it didn't error out. Glad I was able to help!

[2021-12-01 17:04] Narrator commented on #446
We have published a fix for this and it should now be available in all regions. Please try connecting a new branch with GitLab and let us know if you face any issues.

[2021-12-01 17:26] matthewapps commented on #2419
Hello, I can also see this in the logs ![image](https://user-images.githubusercontent.com/8011209/144282996-65e2fcb4-0036-4d43-bfd7-f1f6bd4c1adb.png).

"Cannot find module @material-ui/core"

Do you know why i am getting this please?

[2021-12-01 18:29] Rafcin commented on #2377
I was speaking with another user Juan who was able to build a NX repo based on https://github.com/bmvantunes/aws-amplify-deploy-test-nx

When I used this method I had a similar issue where the project complains there's no SSR resource file and the artifact zip is also only 7mb. I think it's just about the artifact being wrong although that I can't debug and I have no idea why it's not packing the

[2021-12-01 19:21] hloriana commented on #1920
@agueric Awesome. Thanks for reaching out and if you have any more questions or feedback, feel free to submit another issue. Thanks 🙂

[2021-12-01 19:21] #1920 closed

[2021-12-01 21:27] Narrator commented on #2039
@wvidana Please refer to this [comment](https://github.com/aws-amplify/amplify-console/issues/2269#issuecomment-925379232). Our docs need to be updated, but the solution is to provide the missing values via environment variables in the app's build settings.

Please see [here](https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html#amplify-console-environment-variables) for

[2021-12-01 21:27] jaamz opened #2421 "DataStore - User is unauthorized to query syncFunction with auth mode AWS_IAM. No data could be returned."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-01 21:44] jaamz commented on #2421
From further trouble shooting this could be a possible region issue? We tried creating multiple accounts and were able to see data for our USA devs but our devs outside of the country are running into the issue.

[2021-12-02 07:59] SebastianSchenk opened #2422 "NextJs SSR: Allow manual serverless build"
**Is your feature request related to a problem? Please describe.**
I'm trying to build a NextJs inside a NX Monorepo. After the last build step, amplify executes `./node_modules/.bin/next build` to create a serverless build, assuming the `node_modules` folder is in the current folder. This is not the case for a nx Monorepo.

I tried to run the serverless build manually, setting the target in `next

[2021-12-02 08:56] kimbyulyi commented on #2400
Hello, Please Try this in the amplify build settings - applications/frontend
[code]

[2021-12-02 10:11] amatzen commented on #816
December 2021: I'm having the issue as well.

[2021-12-02 16:25] hloriana commented on #2297
Hi @kegorgas, apologies for the delay but we are still working on fixing this bug. I'll make sure to keep you updated on the status of this issue. We appreciate your patience! 🙂

[2021-12-02 16:49] #2419 closed

[2021-12-02 16:50] matthewapps commented on #2419
there were various lint warnings and errors which were stopping build. Please close

[2021-12-02 19:54] hloriana commented on #2283
Closing due to no response. If you're still having this issue feel free to re-open. Thanks!

[2021-12-02 19:54] #2283 closed

[2021-12-02 20:24] johnjensenish commented on #1987
FYI this is how env vars work in Next.js and is not specific to Amplify.

https://nextjs.org/docs/basic-features/environment-variables#loading-environment-variables

From that page, for posterity.

[2021-12-02 20:26] johnjensenish commented on #1987
@Athena96 can you confirm if this hack is still required?

[2021-12-02 20:32] mawhtin commented on #1987
The AWS amplify team is incorrect here, please update the docs based off the following.

Do not use the hack  suggested as it exposes the variables in all environments (front/back)

The right solution is @bojidaryovchev above.
https://github.com/aws-amplify/amplify-console/issues/1987#issuecomment-961510561

The difference is the echo path. AWS's docs have a different one.

[2021-12-02 22:18] hloriana commented on #2421
Hi @jaamz 👋🏽, since this is related to the Admin UI, I'm going to transfer this to their repo for more visibility.

[2021-12-02 23:03] alexBotteri commented on #1542
+1

[2021-12-02 23:04] hloriana commented on #2382
@50k-Adam Since the distribution is in an unfamiliar account, I think you should open an AWS Support ticket so that you can receive assistance. The support team will be able to help you with next steps for finding the account your CNAMEs are being used in.

[2021-12-02 23:47] irSteve commented on #1298
This was working on a previous project and now I am experiencing this on every new project. It is a blocker as nothing can be done on AWS Amplify!

[2021-12-03 02:13] michaelbrewer commented on #882
@ganipcanot - this fixes it for me, but the AWS console should also do this

[2021-12-03 04:22] zaefrul commented on #1058
This one helps my problem!

[2021-12-03 04:28] nickmcmillan commented on #2127
Same situation here. Small (10-ish SSR pages) NextJS site. No idea what's happening during these ~8 minutes.

[code]

[2021-12-03 09:20] olivierpichon commented on #44
@abhi7cr, @VividKnife, @swaminator,

Could you guys let us know if there is an underlying issue as to why this can't be implemented easily? From an external point of view (which must not have a clear picture), it feels like the underlying Cloudfront distribution(1) and Certificate Manager(2) should support wildcard.

This feature would come a long way to achieve sophisticated multi-tenancy (one us

[2021-12-03 14:42] asumvp opened #2424 "SSR resources are not deleted after PR is merged/closed before preview build completion"
### Before opening, please confirm:

- [x] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-03 16:11] MjdBh opened #2426 "Amplify app build successfuly but dont deploy correctly. It's working perporly for long time."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-12-03 16:31] erikvanbeijnen opened #2425 "Is there a domain limit per app?"
We are investigationg some AWS functionalities for handling traffic for about 300+ domain names and came accross Amplify.
I read some questions if domain limits could being increased, but I cannot find anything about any domain limits in the documentation.
So my question is: is there a domain limit for an Amplify App? If so, what is the limit?

[2021-12-03 17:11] hloriana commented on #2417
@24jr Please make sure your administrator followed these instructions to create a user and assign permissions: [Creating IAM users (console)](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_create.html#id_users_create_console)

Then you can follow these instructions to sign in and view the Amplify projects: [How IAM users sign in to AWS](https://docs.aws.amazon.com/IAM/latest/UserGuide/i

[2021-12-03 17:49] hloriana commented on #2415
Hi @sananbintahir okay glad to hear AWS Support was able to unblock you. I'm going to close this issue but if you run into anything else or have a question feel free to open a new issue. Thanks!

[2021-12-03 17:49] #2415 closed

[2021-12-03 17:56] Fitux commented on #1298
For anyone wondering and future references, the fix for us was not to downgrade the CLI version but to set some environment variables in the amplify console

Similar to the image below

<img width="668" alt="Screen Shot 2021-12-03 at 11 49 29" src="https://user-images.githubusercontent.com/5275409/144649599-6d537185-8f99-48d2-9f01-907e7fd40664.png">

There are no specific documentation about this

[2021-12-03 17:57] hloriana commented on #2425
Hi @erikvanbeijnen 👋🏽 Yes, there is a limit. You can have up to 5 domains per Amplify application. Here is documentation for [Amplify service quotas](https://docs.aws.amazon.com/general/latest/gr/amplify.html#service-quotas-amplify).

[2021-12-03 18:24] Alissonsleal commented on #2356
I had this same problem, I fixed it by moving the `yarn install` part from `preBuild.commands` to the start of `build.commands`, I also changed from node 14 to node 12.

I guess the `preBuild` phase wasn't really installing everything

[2021-12-03 18:39] Selenestica commented on #1209
@tomharvey Thank you! I'll give this a shot as soon as I can.

[2021-12-03 20:45] hloriana commented on #2426
Hi @MjdBh 👋🏽 Can you check your build settings to make sure the `baseDirectory` is set to `build`? If it's set to `.next` or `out` then Amplify will treat your app as an SSR app which can cause deployment to fail if your application isn't SSR.

[2021-12-03 20:46] #2425 closed

[2021-12-03 20:49] #2267 closed

[2021-12-03 21:01] hloriana commented on #2256
A fix for this was rolled out. If you have any other questions please feel free to open a new issue. Thanks!

[2021-12-03 21:01] #2256 closed

[2021-12-03 21:52] hloriana commented on #2166
Closing since this is a duplicate of the feature request mentioned above.

[2021-12-03 21:52] #2166 closed

[2021-12-03 21:57] hloriana commented on #2163
Closing. If you still need assistance, feel free to re-open this issue. Thank you!

[2021-12-03 21:57] #2163 closed

[2021-12-03 22:12] MjdBh commented on #2426
HI, @hloriana  thank you for your response.
Yes, the base directory is correct. we rolled back any changes and didn't change the main branch.
But all environment deploy failed.

[2021-12-04 02:07] ferdingler opened #2427 "NextJS: Build fails with Module not found (webpack)"
If you are facing Webpack issues that manifests as _Module not found_ errors during your build, for example:

[code]

First, you should check the troubleshooting guide provided by NextJS on this issue: https://nextjs.org/docs/messages/module-not-found.

If the guide didn't help. Try building your app locally using the `serverless` target in your `next.config.js` file:

[code]

If the build fails l

[2021-12-04 02:56] jwhyte88 commented on #2417
Hi @hloriana ,

Thanks for looking into this.
I currently have the same issue, but at least in my case, it doesn't appear to be caused by permissions.

Using the same account, I'm able to access the Amplify console from certain devices*, and on others, I see the same "**List apps call failed**" error message.

<img width="796" alt="aws" src="https://user-images.githubusercontent.com/5682015/144694

[2021-12-04 05:12] delfu commented on #330
same problem

[2021-12-04 06:44] rpostulart opened #2432 "Nextjs 500 error on Amplify, locally not"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-12-04 13:47] #1579 closed

[2021-12-04 15:02] reedshea commented on #2427
This is very helpful - thank you again, @ferdingler for the help here and on Discord.

I'd like to raise this as a possible defect in `aws-amplify 4.3.8`. I installed `4.2.9, 4.2.10, ... 4.3.7` with no build issues either locally (with Next.js `target: serverless`) or after pushing to GitHub & building in Amplify.

After updating to `4.8.3`:

[code]

Steps to reproduce:

- Node 16 locally, using d

[2021-12-05 11:20] manelephant commented on #2127
I kind of don't understand how a small company like Vercel can implement a smooth deployment of a nextjs app in any version and amazon can't.

Wasted a full day on amplify trying to deploy nextjs 11 without success. Cryptic or false error reporting during build.

[2021-12-05 12:39] dspinellis opened #2428 "Deployment gets stuck with "Waiting to deploy Your deployment is being queued...""
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-05 17:14] Alavi1412 commented on #661
Hello,
I am facing the same issue and I have applied the mentioned solution but non of them worked for me.
Why is the image build version overriding not working at all?

[2021-12-05 18:18] asumvp commented on #2428
I was also facing this issue few days back and was able to solve it after enabling the ACL on the S3 bucket.

[2021-12-05 18:34] dspinellis commented on #2428
Thank you @asumvp! I confirm that enabling ACL on the S3 bucket, allowed the app to be deployed in seconds.

[2021-12-06 01:39] Rafcin opened #2430 "NextJS deployment issue. 503 & Missing Image and ISR services."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-06 01:44] Rafcin commented on #2430
Also I have updated the backend role with the proper permissions
[code]

[2021-12-06 02:24] morishjs opened #2431 "[Next.js 11] Build Error: Source and destination must not be the same"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-06 02:43] Rafcin commented on #2430
With Next 11 I get this issue on the same page that complained about webpack.
[code]

[2021-12-06 02:45] morishjs commented on #2430
When it comes to `cannot find module...` error, I changed webpack version from 5 to 4 to fix it

[2021-12-06 02:48] Rafcin commented on #2098
@RealDrewKlayman `AMPLIFY_NEXTJS_EXPERIMENTAL_TRACE` was added. Didn't work for me, but it does exist!

[2021-12-06 04:25] Rafcin commented on #2430
@morishjs Are you on Next 11? In Next 12 you can't disable webpack5 anymore. In Next 11 you can, and I did try this although that created similar issues. I did that with 11.1.13, maybe it will work with 11.1.12. I'll test it out.

[2021-12-06 04:42] Rafcin commented on #2430
I've deployed this before, in my original app I have a deployment that used webpack 5 and Next 12.0.2 and it worked. I don't think it's webpack directly, I'm also missing the ISR and Image services so something during deployment messed up.

[2021-12-06 05:38] Rafcin commented on #2430
11.1.13 Also seems to have a bug where it complains that the paths pages/ and pages/restaurant[id] have invalid exports and can't be compiled. 11.1.12 and 12.0.2 seem fine.

[2021-12-06 16:00] ferdingler commented on #2431
Hi @morishjs,

Can you try setting the version of NextJS to `11` or `latest` in your Live Packages under App Settings. Here are the instructions: https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html#update-app-nextjs-version

[2021-12-06 16:22] dpickett commented on #1647
I am also seeing this:

appId: dwseika1z5ax7
region: us-east-1
branch: development

[2021-12-06 17:36] Rafcin commented on #2430
@dhavall08 I can't downgrade to 4 and I've seen 4 work. I have experimental trace set in my config and I have the env car set through the console.

The issue is also I'm missing resources during deployment like the ISR lambdas and image optimizer

[2021-12-06 17:52] jhlusko commented on #664
Still having this issue for https://master.d3bce1v0sadz4r.amplifyapp.com/

[2021-12-06 17:55] jhlusko opened #2433 "Page can’t be found in all my *.amplifyapp.com pages"
Still having this issue for https://master.d3bce1v0sadz4r.amplifyapp.com/

_Originally posted by @jhlusko in https://github.com/aws-amplify/amplify-console/issues/664#issuecomment-987012753_

[2021-12-06 18:01] jhlusko commented on #2433
App ID: d3bce1v0sadz4r
Region: us-east-2

[2021-12-06 19:06] Narrator commented on #1803
@nyholku If you are still facing this issue, could you please try the suggestion here: [#1330 (comment)](https://github.com/aws-amplify/amplify-console/issues/1330#issuecomment-739493860)

Basically, try running this command:
[code]

[2021-12-06 19:15] Narrator commented on #882
@apiel51 @marlonmarcello @sharmaaditya570191 @gilvaju @cnbrkkaya @PabloLION

Could any of you please confirm if you attempted to delete the backends via CloudFormation first before attempting a delete via the AWS Console? Also, have you tried the workaround suggested here: [#1330 (comment)](https://github.com/aws-amplify/amplify-console/issues/1330#issuecomment-739493860) and did that resolve your

[2021-12-06 19:26] Narrator commented on #2206
@lseemann Could you please confirm if you attempted to delete the backends via CloudFormation first before attempting a delete via the AWS Console?

Also, could you please try the workaround suggested here: [#1330 (comment)](https://github.com/aws-amplify/amplify-console/issues/1330#issuecomment-739493860)

[2021-12-06 19:38] michaelbrewer commented on #882
@Narrator - yes, this is what happened to mine. Using the aws cli seems to fix it.

[2021-12-06 19:39] hloriana commented on #2430
Hi @Rafcin 👋🏽 for clarification, were you able to successfully deploy your apps with 11.1.12 and 12.0.2?

[2021-12-06 19:43] Rafcin commented on #2430
@hloriana Hi! I was able to deploy the apps in both versions. The app renders correctly and the only issues are the Next/image components don't load because the Image Optimizer lambda never deployed, and one of my pages, the restaurant page that displays the restaurant returns a 503 error.

[2021-12-06 19:45] Rafcin commented on #2430
@hloriana Depending on the NextJS version I get the following errors in CloudWatch when I visit the 503 page.
Also I've opened a ticket with AWS set to Production system impaired. I switched my repo from NX to a standard monorepo now to get this to work.

## V12
[code]

## V11
[code]

[2021-12-06 19:47] hloriana commented on #2433
Hi @jhlusko 👋🏽, I'm able to see your website. Can you please provide a screenshot of what you're seeing?

[2021-12-06 19:57] jhlusko commented on #2433
I see a blank screen when I access it from the united states, but it loads properly from Toronto. From the console, I can see the error "Cannot read properties of react-dom.production.min.js:209  undefined (reading 'api')". Any idea why it would load differently in the two locations?

[2021-12-06 20:08] lseemann commented on #2206
I did not. Is that the standard procedure?

This worked! Thank you!

[2021-12-06 20:19] Rafcin commented on #2430
The things I've tried to get it to work:
- Deploying a new instance to see if it was an issue with the deployed app. **Didn't work**
- Switched between Next 11 and 12 **No real effect. The only change was the missing chunk and missing webpack module between versions**
- Used the package override and set Next to latest. **No effect**
- Updated IAM role with appropriate perms. At the moment it has a

[2021-12-06 20:19] #2433 closed

[2021-12-06 22:23] hloriana commented on #2424
Hi @asumvp 👋🏽 Thanks for raising this issue. This is a bug that the team is currently tracking. In the mean time, you'll have to manually delete those resources. I will update this issue once a fix has been rolled out.

[2021-12-06 22:53] senorscan commented on #1866
@estyh are you able to share how you constructed your stack with NX and CDK? I started down an amplify route, but I'm increasingly thinking that CDK might be a better solution with NX. Especially as I am using CDK with the NestJS backend api already.

[2021-12-06 23:13] Rafcin commented on #1866
@senorscan

I opened a ticket with the Amplify team. They are working on implementing support for NX. The date is unknown for the time (hopefully this month).

Amplify also added the override feature so I think you'll be able to use CDK.

[2021-12-06 23:33] morishjs commented on #2431
@ferdingler Thanks! It works perfectly 😄👍👍👍

[2021-12-07 00:17] #2431 closed

[2021-12-07 03:32] Rafcin commented on #2430
I also noticed my second app apps/news just terminates after building, and I'm unsure what that's about.
### Deployment ID
**dntsgf2k4wg50**

[2021-12-07 04:11] Narrator commented on #2206
@lseemann That is not the standard procedure and you shouldn't have to delete anything from CloudFormation. However, doing it that way can lead to the state you have described in your issue. Just trying to figure out what steps you took in order to reach the state where you were unable to delete the backend.

Glad the workaround helped you!

[2021-12-07 08:29] senorscan commented on #1866
@Rafcin cool, I'll keep my eyes open for that.

[2021-12-07 10:20] apcexchange commented on #2417
i am having same issues after creating an account, what do i do?

[2021-12-07 13:30] yanislavtankov commented on #373
Really keen to see this option soon!!!!

[2021-12-07 15:27] ciceropablo commented on #1231
Any news, about it?

[2021-12-07 16:27] hloriana commented on #2426
@MjdBh try following this FAQ guide to change from SSR to SSG: https://github.com/aws-amplify/amplify-console/blob/main/FAQ.md#convert-an-ssr-app-to-ssg. It should tell Amplify to build a static site and not look for SSR resources to generate.

[2021-12-07 16:31] MjdBh commented on #2426
The problem is it. We didn't change this env to SSR.  we tested on other environments and another branch why why our main branch has this issue.

[2021-12-07 16:42] hloriana commented on #2428
Hi @dspinellis and @asumvp, the team is tracking this bug and working on fixing this. I will update this issue once it's been resolved. Thanks!

[2021-12-07 18:04] spormeon opened #2434 "Delet old artifacts in Amplify UI"
**Is your feature request related to a problem? Please describe.**

There is no way to easily delete old artifacts in the amplify Ui

**Describe the solution you'd like**

Add the ability to delete old artifacts in the amplify Ui

**Additional context**

adding the ability to delete old artifacts in the amplify Ui, will allow people to easily "maintain" thir storage size of artifacts and hence, al

[2021-12-07 19:11] ferdingler commented on #2432
Hi @rpostulart, this issue is probably happening in the Lambda@Edge function that serves your SSR pages. This function lives in your AWS account and we do not have access to the logs, but here is a quick guide for you to find the logs: https://github.com/aws-amplify/amplify-console/blob/main/FAQ.md#access-lambda-edge-logs.

Check and see if there is any error in the logs that may help you find the

[2021-12-07 23:17] chrblabla commented on #661
@Alavi1412

[code]

The above works pretty good in combination with a `.yarnrc` file containing `network-concurrency 1`. Not the best solution but one I can live with for now.

[2021-12-07 23:24] #249 closed

[2021-12-07 23:36] hloriana commented on #125
Hi @nikolap 👋🏽 Thank you for bringing this to our attention. The team is investigating this further.

[2021-12-08 00:28] clintfoster commented on #649
Issue is still happening Dec 7, 2021. Symptoms & fix are as described above.:

- "Save and deploy" button mysteriously does nothing (no error in web UI).
- Browser console has stack trace containing "You should at least provide one valid token".
- Logging out of the AWS console and back in fixed the problem.

My git provider is GitLab, in case that matters.

[2021-12-08 00:33] Rafcin commented on #2430
@hloriana any updates?

[2021-12-08 01:41] hloriana commented on #2417
Hi @apcexchange 👋🏽, did you follow these instructions to create a user with the proper permissions: [Creating IAM users (console)](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_create.html#id_users_create_console)? And did you follow these instructions to sign in with that user [How IAM users sign in to AWS](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_sign-in.html)?

[2021-12-08 01:51] evan-resonare commented on #2430
My NextJS build is going through and deploying but navigating to the page reads a

[code]

This has started in the past 24 hours using the same code as was previously working. US-east-2.

[2021-12-08 01:54] Rafcin commented on #2430
@evan-resonare Same problem on us-west-2.

[2021-12-08 02:02] hloriana commented on #2370
Hi @ShellyDumont, if you're still having this issue, feel free to re-open.

[2021-12-08 02:02] #2370 closed

[2021-12-08 02:14] #2338 closed

[2021-12-08 02:29] hloriana commented on #2398
Hi @YazidHamdi 👋🏽, apologies for the delay but are you still running into this issue?

[2021-12-08 06:18] rajput09 opened #2435 "Not able to install cocoa pod with IOS 11.0"
**I am going to implement AWS amplify in my IOS project and getting issue while installing the pods file **

**It's gives the error like  :-
CocoaPods could not find compatible versions for pod "AWSPredictionsPlugin":
  In Podfile:
    AWSPredictionsPlugin

There are only pre-release versions available satisfying the following requirements:

	'AWSPredictionsPlugin', '>= 0'

You should explicitly s

[2021-12-08 09:18] esplo opened #2436 "Caching for `.next/` does not work properly"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-08 11:33] #2002 closed

[2021-12-08 12:19] dhait opened #2437 "Access a second GitHub organization?"
When I go to the AWS Amplify Console, it only shows repositories from one GitHub organization.  I want to authenticate to a second organization for which I am an administrator.  How can I do this?

[2021-12-08 12:57] mkirashimas commented on #2077
Indeed. This was resolved when I received access to the settings and had personally checked the DNS records and updated the values. Thank you for your response, @ferdingler; much appreciated.

[2021-12-08 13:32] juev commented on #884
Do you have any news?

[2021-12-08 15:33] evan-resonare commented on #2430
@Rafcin my issue seemed to fix itself today. For me, it must have been associated with the recent AWS outages in us-east-2 and us-east-1.

[2021-12-08 17:22] Rafcin commented on #2430
This didn't solve it for me

[2021-12-08 17:22] Rafcin commented on #2430
Still running into issues

[2021-12-08 17:58] Rafcin commented on #2430
Name: fox-apps/fox
URL: https://dev.d30o3wao502f5x.amplifyapp.com
ID: dev.d30o3wao502f5x
Build: 28

Name: fox-apps/news
URL: https://dev.dntsgf2k4wg50.amplifyapp.com
ID: dntsgf2k4wg50
Build: 20

[2021-12-08 18:04] Rafcin commented on #2430
These are my current app ids that can't deploy.

[2021-12-08 18:12] 24jr commented on #2417
@hloriana I'm pretty sure we have both given those permissions and the issue is less obvious. I never solved the issue and gave up asking my boss to verify the same thing over and over again

[2021-12-08 18:19] clintfoster commented on #1690
Not to pile on, but [Quasar](https://quasar.dev) is also incompatible with the current default Node in Amplify's build image:

[code]

Ideally the default version in the build image should be the current LTS (`14.18.1`). Next best would be to make it available via `nvm use`. But, as far as I can tell, it isn't. Thus, it must be installed in `preBuild` each time.

[2021-12-08 18:46] Jordan-Eckowitz opened #2438 "Amplify CI/CD Branch Changes are not Detected"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-08 19:24] Rafcin commented on #2430
New 503 error
[code]

[2021-12-08 21:17] Narrator commented on #2297
@kegorgas While we work on a permanent solution to this bug, we have gone ahead and fixed the issue for your account/app in order to unblock you. Please try testing PR previews and let us know if you're still facing issues.

Please note that one of the precursors to the issue is when you reconnect or switch repositories on your app and if you try to do that, it can cause previews to not work until

[2021-12-08 21:50] kegorgas commented on #2297
@Narrator This seems to have resolved this specific issue for us. Thanks so much! We don't need to migrate any repos for now, so we shouldn't run into this again in the near future.

Also, @hloriana thanks for all of your support in this.

[2021-12-08 21:53] hloriana commented on #2338
Hi @spormeon 👋🏽 no, these do not contribute to storage costs.

[2021-12-08 22:10] elliottyates commented on #1116
@swaminator thanks for your reply -- I'm afraid I'm not seeing any change to the github side of this. Here's a screenshot:

<img width="1360" alt="Screen Shot 2021-12-08 at 5 09 11 PM" src="https://user-images.githubusercontent.com/8975317/145292420-750f2089-64be-49f1-80d9-4fafab71b21f.png">

The "View more details" link there only takes me to the preview. I'd like to see build results.

[2021-12-09 07:13] dhait commented on #2437
Bot, stand aside and let a human handle this.

[2021-12-09 07:38] s875515 commented on #2377
same issue here :(

[2021-12-09 12:15] spormeon commented on #2338
@hloriana so what does contribute to "GB build artifacts stored"  , as the onlt thing that seems to increase it, is pushing new builds etc.  I can t find any info on this anywhere and zero on how to reduce the storage?

[2021-12-09 12:59] madhukumar7 commented on #14
+1
We have a customer requirement to integrate with Gitlab, can you kindly prioritise this?

[2021-12-09 13:16] alrabdullah commented on #2392
Until the bug is fixed, did anyone find a workaround for this bug?

[2021-12-09 14:13] BrianHHough commented on #489
Hey everyone! I'm currently working on an Angular project and the redirects is life saving, but with this angular project, when I add the amplify routing redirect, it completely changes the fonts across the app. Has anyone experienced this?

As soon as I remove the redirect, the font styles return but then routing is lost... :(

[2021-12-09 16:35] Narrator commented on #2438
@Jordan-Eckowitz Could you please share your app id so we can look into it further?

[2021-12-09 16:54] marcoamonteiro opened #2439 "Amplify deploying incorrect files after Create React App. build"
**Please describe which feature you have a question about?**
Amplify Hosting

**Provide additional details**
I am deploying my Create React App application on amplify. In my postBuild step I `ls` the build folder and see all of my built files in there.

The deploy step has very little logging:
[code]
When I launch the application it fails to load. When I inspect the sources I see my entire applica

[2021-12-09 17:50] khinshankhan opened #2440 "Missing acknowledge button for create new app with existing code"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-09 17:55] kkhan01 commented on #2440
There's no app id to include, but for what it's worth, the region is us-east-1.

[2021-12-09 19:01] nimacks opened #2441 "test"
**Please describe which feature you have a question about?**

**Provide additional details**

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**

[2021-12-09 19:02] #2441 closed

[2021-12-09 19:20] hloriana commented on #2392
Hi @alrabdullah, unfortunately there isn't a workaround for this but we are prioritizing this issue.

[2021-12-09 23:50] michaelcuneo opened #2442 "Where does AWS Amplify Console store the files that it serves?"
**Please describe which feature you have a question about?**

AWS Amplify Hosting.

**Provide additional details**

I need to determine where the Hosting is actually situated... I urgently need to change one line of code in an uploaded project, that has become lost due to a catastrophic hard drive failure, and the backup was too old to get a valid version.

I have searched S3, but no relevant host

[2021-12-10 01:06] cgallivanpam opened #2443 "Can't pass step 1 - Add a git repository -- "There was an error detecting your build settings""
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-10 07:53] dtinth commented on #2293
It would be great if AWS Amplify switched to the [Deployments API](https://docs.github.com/en/rest/reference/repos#deployments). They now have support for “transient environments” which is useful for PR previews.

## Workaround to reduce noise

[code]

![image](https://user-images.githubusercontent.com/193136/145536930-37b754db-9394-457b-a828-babd373e0058.png)

![image](https://user-images.githubu

[2021-12-10 09:07] gasparandr commented on #2214
We bumped into this issue as well. Our concern is not about performance, but GRPC.

Our organization can only store data in the EU region, and this is enforced on an AWS account level. Since the SSR enabled app tries to create a bucket in us-east-1, the build fails and there's nothing we can do about it.

[2021-12-10 11:27] michael1976 opened #2444 "Installing java resolves to msopenjdk-11 package"
**Please describe which feature you have a question about?**

When I install OS level packages in build specification like this

[code]
It resolves to msopenjdk-11 which is not really an issue but I'm curious how this dependency resolution works?

From output
[code]

[2021-12-10 11:49] karelbemelmans opened #2452 "Add an option to disable the CloudFront invalidate on deployment"
This reddit post describes the issue quite well: https://www.reddit.com/r/aws/comments/kak4l7/aws_amplify_keep_artifacts_from_old_builds_live/

We could solve this by simply skipping the cache invalidation step after a deployment. That should be an option to configure for each project or branch.

[2021-12-10 14:55] hloriana commented on #2443
Hi @cgallivanpam 👋🏽 thank you for raising this issue. Are you able to build your app locally?

[2021-12-10 15:27] hloriana commented on #2437
Hi @dhait 👋🏽  thanks for raising this question. I'm looking into this now and will post an update/instructions on how to do this in just a moment.

[2021-12-10 15:54] hloriana commented on #2442
Hi @michaelcuneo 👋🏽 thank you for reaching out with this question. The files are hosted on an internal Amazon S3 bucket. I will raise this issue with the team to see what we can do to further assist you.

[2021-12-10 15:59] hloriana commented on #2442
@michaelcuneo Can you please provide you App ID and the region it's deployed in?

[2021-12-10 16:29] hloriana commented on #2437
@dhait To authenticate into to another GitHub organization follow these steps:
1. In GitHub, navigate to Settings -> Applications -> Authorized OAuth Apps.
2. Find the AWS Amplify (<region>) application and revoke permissions.
3. In the Amplify console, select New app -> host web app.
4. Select GitHub. You will be prompted to authorize Amplify to access your GitHub account.

You should see both or

[2021-12-10 16:29] #2437 closed

[2021-12-10 17:10] victorccccc commented on #2442
@michaelcuneo  Hi, can you please send your accountId, appId & region to aws-amplify-customer@amazon.com? Could you   also include your Amplify Console screenshot as a proof of the ownership of this app?  Thanks.

[2021-12-10 17:30] hloriana commented on #2430
Hi @Rafcin, just updating this issue for visibility. To recap, we were able to troubleshoot and get your first app running. I'm still working on root-causing the dynamic routing issue we discovered and I'm investigating the build errors on the second app. I will update with more information once I've made progress with these action items. Thanks!

[2021-12-10 18:44] hloriana commented on #2417
Hi @24jr thank you for being thorough in helping us to troubleshoot. I've escalated this to the team to further investigate what else can be throwing this error. Thank you for your patience!

[2021-12-10 18:45] victorccccc commented on #2417
Hi @24jr , can you share your accountId (or send it to aws-amplify-customer@amazon.com)? Is there any Organization  policy which your account is inheriting? Thanks.

[2021-12-10 20:42] 24jr commented on #2417
4756-9797-1287 and us-east-2 ohio @victorccccc

[2021-12-10 20:50] victorccccc commented on #2417
Thanks for your information @24jr, I cannot find any ListApps request from our end. Can you share the HAR file?

[2021-12-10 20:54] 24jr commented on #2417
@victorccccc what is the HAR file?
<img width="1443" alt="Screen Shot 2021-12-10 at 3 54 03 PM" src="https://user-images.githubusercontent.com/34662182/145640072-0b05cf6a-c85e-4cc7-8e5e-2bbf141d74a0.png">

[2021-12-10 21:11] victorccccc commented on #2417
If you go to Network tab in Developer console and you can click download to get the HAR file, we want to take a look at the ListApp request from your browser. You can send it to aws-amplify-customer@amazon.com .Thanks

<img width="828" alt="Screen Shot 2021-12-10 at 1 10 27 PM" src="https://user-images.githubusercontent.com/17761274/145641817-cdc47c51-34f8-4f85-ae15-c877a42cd166.png">

<img width=

[2021-12-10 21:38] 24jr commented on #2417
@victorccccc sent it thanks

[2021-12-10 22:11] 24jr commented on #2417
<img width="829" alt="Screen Shot 2021-12-10 at 5 11 10 PM" src="https://user-images.githubusercontent.com/34662182/145647912-166a035f-432d-4bee-a475-3d3f1f772db7.png">
@victorccccc nevermind

[2021-12-11 00:51] n2westman opened #2448 "Failed to create models in the cloud: ValidationException"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-11 05:47] fooman commented on #1542
What is being requested certainly doesn't match what is on the previous screen
![image](https://user-images.githubusercontent.com/455508/145665672-2ec277a4-9fab-46d1-8e5b-74a49fe4ea32.png)
repo read access != read/write on account level

[2021-12-11 09:07] chittasec commented on #1271
I faced the same issue .I can only say that Amplify Sucks. Every step there is failure . Going to use Firebase for my app , better .

[2021-12-12 09:09] ivadenis commented on #2297
same issue

[2021-12-12 15:18] kptac opened #2445 "Build stuck in Deploy"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-13 00:04] michaelcuneo commented on #2442
Hello @hloriana the AppID is d2hftqxrv5wrtn it is hosted in ap-southeast-2

![Capture](https://user-images.githubusercontent.com/12700009/145735108-d11488f0-5dd0-4afc-b457-c05266b4e99e.PNG)

[2021-12-13 05:01] thevarunraja commented on #2281
Did you find any workaround?

[2021-12-13 10:15] iamsid47 opened #2446 "Amplify Console - 'craco build' not working"
**Issue**
I wanted to deploy my react-js app to the Amplify Console. Although, I have been getting build errors whenever I try to deploy. Although, when building the app locally, or on Netlify, the build process returns no errors. Even when running ```npm start```, the app starts properly without errors.

**Additional details**
The main issue starts when the build command runs during the deploymen

[2021-12-13 10:50] GGG1998 opened #2450 "CustomerError: Missing frontend definition in buildspec"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-13 11:42] Gtstride commented on #1416
Does it mean, aws haven't found a fix to this issue, I am facing this exact issue, I even tried hosting with vercel and Netflix, it works perfectly, but on AWS, it just gives me a blank black background

[2021-12-13 11:42] Gtstride commented on #1416
Does it mean, aws haven't found a fix to this issue, I am facing this exact issue, I even tried hosting with vercel and Netflix, it works perfectly, but on AWS, it just gives me a blank black background

[2021-12-13 15:48] hloriana commented on #2426
@MjdBh what is your AppID and region?

[2021-12-13 15:50] hloriana commented on #649
Hi @clintfoster thank you for providing these details, I'll bring this up to the team for further investigation.

[2021-12-13 16:35] hloriana commented on #2440
Hi @kkhan01 Thanks for raising this issue. I was able to reproduce this bug and will bring this issue up to the team for prioritization.

[2021-12-13 16:55] Al-Spheres commented on #1330
I had the same issue and this worked for me!

[2021-12-13 17:31] kptac commented on #2445
After deleting one of the domains, it finally worked. This is very strange behavior, not sure what is going on here. Closing for now. I will try adding a new domain again later, as I dont want to mess up the behavior right now.

[2021-12-13 17:31] #2445 closed

[2021-12-13 17:38] chase-pico opened #2447 "Next.js build fails because npm command is not found"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-13 17:47] chase-pico commented on #2447
Excerpt of Build Log

[code]

[2021-12-13 18:20] shishkin opened #2449 "Next.js SSR monorepo: No ssrResources.json file"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-13 18:25] shishkin commented on #2449
Not sure why you ask for App ID and region. This platform lacks confidentiality for sharing private customer details.

[2021-12-13 19:39] hloriana commented on #2447
Hi @chase-pico is this also failing to build locally? I see this error: `11:45  Error: Extra semicolon. ` Can you make sure to remove the extra semicolon?

[2021-12-13 19:52] Rafcin commented on #2449
@shishkin You need to provide the App ID and region so the internal team can check out your logs and see what went wrong. You can always PM whoever picks up the case on Discord or send the information to the Amplify email.

I've run into this issue before, are you using NX by chance or is this a standard mono repo?

[2021-12-13 20:00] shishkin commented on #2449
@Rafcin thanks for clarifications. Which discord is that?

No, I don't use NX. It's just a plain yarn workspaces structure with a next SSR app.

[2021-12-13 20:13] chase-pico commented on #2447
Thanks for the reply! The same repo builds in production, that error on line 11 should be from the linter. Are there any other reasons the build could fail?

[2021-12-13 20:22] hloriana commented on #2450
Hi @GGG1998 thank you for raising this issue. Can you try this workaround:

[2021-12-13 21:01] Rafcin commented on #2449
https://discord.gg/pt46FWbzqe

On Mon, Dec 13, 2021, 12:01 PM Sergey Shishkin ***@***.***>
wrote:

[2021-12-13 21:17] hloriana commented on #2447
@chase-pico The only other error I see is `37:13  Error: Do not use setState in componentDidUpdate` in `./src/components/DragIcon/index.js`. Outside of that, I'm still investigating what the issue could be.

[2021-12-13 22:50] SaileshKumar commented on #1163
@OmarKhattab hey there! I'm having trouble following the link - where did you add this redirect?

[2021-12-14 04:27] iamsid47 commented on #2446
Got it sorted out.
The issue was in the Autoprefixer version. I think Postcss supports version 9 and the one I was using was 10. That is why it wasn't  getting deployed.

[2021-12-14 04:27] #2446 closed

[2021-12-14 12:52] togenius1 opened #2451 "Rewrites and Redirects tab menus"
I dont see any Rewrites and Redirects tab menus. Please help?

[2021-12-14 15:40] Chuloo commented on #1009
Any updates? Can't be hitting redeploy over 10 times a day.

[2021-12-14 16:27] hloriana commented on #1471
If you need to request a limit increase for the number of domains allowed for your application please use this link: https://console.aws.amazon.com/servicequotas/home/services/amplify/quotas/L-AD277529

[2021-12-14 16:27] #1471 closed

[2021-12-14 16:47] Jordan-Eckowitz commented on #2438
@Narrator here you go: `d3ryd18bpdre9s`

[2021-12-14 16:56] hloriana commented on #2451
Hi @togenius1 👋🏽, If you've created an Amplify application, login to the Amplify console and navigate to one of your applications. You should see a dropdown menu on the left side of the screen under **App setting**. You should then see **Rewrites and redirects** listed towards the bottom.

[2021-12-14 17:11] PeteDuncanson commented on #1266
Over a year on and still not commented on or labelled up...just what I want to see when hitting this issue myself.

So in the docs it mentions that Amplify will add a trailing slash but gives no details of the logic for this one or where it happens or how to control it:

https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#:~:text=The%20Amplify%20Console%20automatically%20creates%20

[2021-12-14 17:18] cgallivanpam commented on #2443
Hello! Yes I am able to!

Thanks,
CG

Sent from my iPhone

[2021-12-14 17:18] dchura commented on #1266
Sorry to say Pete that I gave up on this a long time ago….the behavior is not predictable from my work on this (a long time ago) as a link will work fine, then break on the next deployment, then work again. And in my app, we created links in the normal operation of the app, so could never tell what would happen. That’s a fatal flaw in amplify so made it useless, with apparently no desire to see it

[2021-12-14 18:15] hloriana commented on #2443
@cgallivanpam Does this error pop up after you've selected the repository and branch and then clicked the **Next** button? What kind of app are you trying to host?

[2021-12-14 18:24] llogan382 commented on #2127
@quinnturner that recommendation worked great. These results are substantial:

<img width="782" alt="Screen Shot 2021-12-14 at 1 22 43 PM" src="https://user-images.githubusercontent.com/26100101/146057500-763a692b-31a2-415d-b412-1622c0b38152.png">

[2021-12-14 18:44] carlosbvz opened #2453 "Cypress test integration fails"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-14 18:58] hloriana commented on #2453
Hi @carlosbvz 👋🏽, thanks for raising this issue. Testing with SSR apps should work with the following test commands:
[code]
We are working on updating the documentation accordingly. Please let us know if this works for you!

[2021-12-14 19:05] hloriana commented on #2449
Hi @shishkin thanks for raising this issue. I'm currently looking into this to see what could be causing this deployment error. I will update once I have more info.

[2021-12-14 19:19] hloriana commented on #2442
@michaelcuneo thank you. Please reach out to aws-amplify-customer@amazon.com with this information so we can further assist you in accessing your application code.

[2021-12-14 20:09] alejoar commented on #256
@steverandy  do you mind reopening this issue?

This is not fixed.

[2021-12-14 21:35] carlosbvz commented on #2453
Hi @hloriana,

Thanks a lot for helping me address this.

Yes, I can get it to run my tests using that configuration + I am able to download the artifacts (vids and screenshots).

[2021-12-14 22:34] hloriana commented on #2449
@shishkin can you go into your app settings in the Amplify console and ensure that there is a service role attached with permissions for backend deployment? Even though your app builds successfully, it appears that the service role is missing which is prohibiting proper SSR deployment.

[2021-12-14 23:15] SaiTejaMakani opened #2454 "Unable to delete the Amplify app that is created by one of our peers"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-15 05:39] Narrator commented on #2438
@Jordan-Eckowitz I looked into your app and it seems like webhooks are triggering builds. I can also see that you have 15 branches connected. Could you please specify which branch you've been having issues with?

[2021-12-15 11:23] asumvp opened #2455 "Amplify console must list all the domain associated with the application"
**Is your feature request related to a problem? Please describe.**

I have more than 10 domains configured with my amplify application. However, currently Amplify console lists only 10 domains. Others are not visible in the console.

** Known workaround**

Use the Amplify CLI commands to modify/delete the domains that are not visible.

**Describe the solution you'd like**

1. Amplify console shoul

[2021-12-15 11:50] duyetphamm opened #2456 "Can not delete Amplify backend after delete their bucket in s3"
After creating amplify backend. I have found out some buckets in my aws s3.
I'm new on AWS so, I do not know about the relationship between my amplify backend and buckets in s3.
I have tried to delete those buckets then amplify backend could not detect environment anymore.
Finally, I have tried to delete the backend also the amplify app but nothing work.

In console,
After I delete app, I got this

[2021-12-15 12:31] llogan382 opened #2457 ">Updadte"
When reverting back to the original, "slow" build, changes did render on the build successfully.

@quinnturner that recommendation worked great. Below, build 7 is just using `next build` build 8 is using  `next build && next export`. These results are substantial:

<img width="782" alt="Screen Shot 2021-12-14 at 1 22 43 PM" src="https://user-images.githubusercontent.com/26100101/146057500-763a692b

[2021-12-15 13:00] #2453 closed

[2021-12-15 14:36] shishkin commented on #2449
Thanks @hloriana. It is probably a permission issue. I just find Amplify so unintuitive and magical, that I gave up troubleshooting it. First, wasted so much time on CLI issues. Then thought I could use CDK construct to still use the SSR hosting. But eventually switched to `@sls-next/cdk-construct`. That's still experimental and has issues, but at least it's all OSS and straightforward to debug. T

[2021-12-15 14:36] #2449 closed

[2021-12-15 15:13] ciceropablo commented on #367
Any news? I have the same problem here, but it is intermittent.

[2021-12-15 15:59] KrustyHack commented on #489
Ay @BrianHHough,

What is the extension of your fonts files ? Check if it exists in the snippet I put above : https://github.com/aws-amplify/amplify-console/issues/489#issuecomment-596192908

[2021-12-15 16:55] #2457 closed

[2021-12-15 16:55] llogan382 commented on #2457
So sorry, this is a duplicate. Closing now.

[2021-12-15 16:58] thevangelist commented on #2040
Hope to see this fixed. I am facing this issue.

[2021-12-15 18:11] hloriana commented on #2456
Hi @duyetphamm 👋🏽 thanks for raising this! Try running this command to completely remove your backend: `aws amplify delete-backend-environment --app-id <YOUR_APP_ID> --environment-name <THE_BACKEND_ENVIRONMENT_NAME>`.

[2021-12-15 18:20] hloriana commented on #2454
Hi @SaiTejaMakani 👋🏽 thanks for raising this! Try running this command to completely remove your backend: `aws amplify delete-backend-environment --app-id <YOUR_APP_ID> --environment-name <THE_BACKEND_ENVIRONMENT_NAME>`.

You should then be able to delete the frontend from the console.

What happened when you tried to delete the app from the console?

[2021-12-15 18:35] SaiTejaMakani commented on #2454
No use

C:\Users\Makanist>amplify delete --app-id dtzum9ganubuq  --environment-name staging
? Are you sure you want to continue? This CANNOT be undone. (This will delete all the environments of the project from the cloud and wipe out all the local files created by Amplify CLI) Yes
× Project delete failed.

      No Amplify backend project files detected within this folder. Either initialize a new

[2021-12-15 18:58] hloriana commented on #2454
@SaiTejaMakani make sure you add `aws` to the front of the command as this command is from the AWS CLI. Refer to: https://docs.aws.amazon.com/cli/latest/reference/amplify/delete-backend-environment.html

[2021-12-15 19:03] SaiTejaMakani commented on #2454
Apologies my bad.. its working. I am able to delete the backend and them able to delete the entire app from the amplify console.

[2021-12-15 19:18] hloriana commented on #2454
@SaiTejaMakani Awesome! The team is aware of this bug in regards to deleting applications and are working to fix it.

[2021-12-15 21:55] Emily-Thomas commented on #1889
Has this been solved at all yet? Running into the same issue.

[2021-12-15 22:21] johnjensenish commented on #1889
I was able to build my app with Sentry by using [the steps in this issue](https://github.com/aws-amplify/amplify-console/issues/2427). Not sure of other implications.

[2021-12-16 00:35] incraigulous commented on #2347
@ferdingler, which role do I assign the SQS permission to? The Lambda execution role?

[2021-12-16 06:21] cgallivanpam commented on #2443
Yes it happens after that. It goes into the next page and fails on step 1 with that error.

I am trying to host a standard front end website.

Thanks,
CG

Sent from my iPhone

[2021-12-16 17:15] duyetphamm commented on #2456
I can delete it now. thank you @hloriana

[2021-12-16 17:15] #2456 closed

[2021-12-16 21:21] hloriana commented on #2417
Hi @24jr sorry for the delay but it looks like your user does not have multi-factor authentication setup and there is an explicit deny policy attached to your user that will deny all actions without enabling MFA.

Explicit deny policies are honored over allow policies as part of security best practices, this is why you're not able to perform any actions even though you have the AdministratorAccess

[2021-12-16 23:05] nickmcmillan commented on #2127
I think that's fine if all that's needed is a static site - which is what `next export` generates.
But if we want a site with any SSR pages - ie those that run on Next's nodejs environment - then we have to go through Amplify's very slow SSR build step.

[2021-12-16 23:22] cgallivanpam commented on #2443
We just got it figured it out. It was trailing commas in json files.

Thank you for your help!!

Best,
CG

Sent from my iPhone

[2021-12-16 23:22] carlosbvz opened #2458 "No Test step shown in pipeline."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-16 23:37] ganipcanot commented on #2455
I currently have a fix for this locally - needs to go through code review and deployment though.  Will update here once it's deployed to all regions.

[2021-12-17 00:27] aherschel commented on #2297
Hi, I created a new app today, and running into the same issue. Is there a mitigation to get around this issue until a fix is released?

[2021-12-17 05:29] Rafcin opened #2459 "Add Cloudfront headers and prevent reverse proxy from stripping custom headers."
**Is your feature request related to a problem? Please describe.**
Currently, you can't add additional CloudFront headers easily to a deployment. To add them you have to modify the serverless config during the build process and the Amplify team has to give access to the stripped headers if you use a custom domain.

**Current way to modify the serverless config**
[code]
[code]

https://docs.aws.ama

[2021-12-17 06:15] laketea commented on #2281
@thevarunraja

I found a way to solve this problem temporarily

Find the cloundfront id from the deploy log, then find the corresponding instance from the cloundfront console, and set your custom domain directly on this cloudfront instance, so you can bypass the amplify custom header problem.

The cloudfront caching policy works by default, automatically setting a negotiated cache for html and a l

[2021-12-17 07:12] 24jr commented on #2417
@hloriana Interesting. We tried to add mfa to my account and wasnt working so we said forget it
<img width="778" alt="Screen Shot 2021-12-17 at 2 11 09 AM" src="https://user-images.githubusercontent.com/34662182/146504342-4559978e-47ab-4f6f-bbb6-10b19ee925f7.png">

[2021-12-17 09:08] mmakarin commented on #550
Same thing!

[2021-12-17 09:23] fidlow commented on #550
+1 same issue!

[2021-12-17 10:05] chudinovskikh commented on #550
This is constantly happening for my project. Very annoying and slowing down the development.
Do you have any plans for fixing the issue ?

[2021-12-17 10:46] rajput09 opened #2460 "Not able to install the AWS pods fie"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2021-12-17 14:41] edelpolly commented on #550
+1

[2021-12-17 14:42] alex-karo commented on #550
+1

[2021-12-17 16:54] AndyW22 opened #2479 "Deployment pipeline fails after migrating appsync API to transformer v2 from CLI 5.x"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-17 17:00] ferdingler commented on #2111
If your build is failing because of webpack issues or module not found errors, take a read at this issue: https://github.com/aws-amplify/amplify-console/issues/2427. You likely need to build your app with the experimental-serverless-trace target.

[2021-12-18 00:47] thevarunraja commented on #2281
Thank you for your solution. Will try to implement this.

[2021-12-18 19:53] 24jr commented on #2417
@hloriana I had to have my boss. send me the qr code and I sent him my mfa code and he set it up through his account for my account. Odd but works now

[2021-12-18 19:53] #2417 closed

[2021-12-18 20:22] 24jr opened #2461 "Deploy multiple front ends to interact with one backend amplify studio"
I have an amplify studio backend and added one front end. I want to add another front end but am not able to it seems. It should be fine to so I must be missing something https://docs.aws.amazon.com/amplify/latest/userguide/reuse-backends.html
<img width="782" alt="Screen Shot 2021-12-18 at 3 20 19 PM" src="https://user-images.githubusercontent.com/34662182/146654589-2666ae80-71ad-4f81-827a-266895

[2021-12-19 06:13] thevarunraja commented on #1987
@johnjensenish  The hack is needed. I tried without the hack it's not working.

[2021-12-19 09:18] marco910 commented on #2347
@incraigulous

I think you have to assign it to the role that you created and assigned in the Amplify Console.

[2021-12-19 11:54] gian788 commented on #1009
Any updates?

[2021-12-19 14:01] ernestostifano opened #2462 "Cypress execution fails during test phase"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-20 00:24] incraigulous commented on #2347
I tried that and it didn't work. Following the Amplify documentation to
switch from SSG to ISG does not work. It does not create the SQS resource,
or set permission for it. I ended up recreating the project from scratch
with ISG setup at project creation.

On Sun, Dec 19, 2021, 3:18 AM Marco Feicht ***@***.***> wrote:

[2021-12-20 04:41] dylan-westbury opened #2463 "Backend fails - amplify.sh: line 4: amplify: command not found"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-20 07:20] marco910 commented on #2347
@incraigulous You have to recreate the whole app in the Amplify Console (not only redeploying). Otherwise it won't work.

[2021-12-20 08:05] kknd4eva commented on #1330
I ran into this issue when doing the following

1. Creating a backend for an existing frontend via the console.
2. The backend creation failed due to hitting the S3 bucket limit.
3. The delete via the console continued to fail with Removing backend envs for app XXX failed
4. I tried deleting the Cloudformation stack first, then repeating #3 - same error.
5. Running the command via the CLI was the

[2021-12-20 09:04] cfbo commented on #2409
Any feedback on this?

[2021-12-20 12:38] incraigulous commented on #2347
Thanks, Marcos. Recreating the app is what ended up working for me.

[2021-12-20 13:09] AKP-13 commented on #550
+1

[2021-12-20 13:13] carlosriveroib commented on #2392
This happens too with NextJS i18n https://nextjs.org/docs/advanced-features/i18n-routing
I have the default locale configured in `en` and my browser is configured in `es`. It should redirect to es automatically. It works on Vercel but not in AWS

[2021-12-20 14:29] ernestostifano commented on #2462
The problem was Amplify's Node version not supporting the Nullish Coalescing Operator `??`.

See this issue: https://github.com/cypress-io/cypress/issues/19421

[2021-12-20 14:29] #2462 closed

[2021-12-20 17:54] darkc0der commented on #550
+1

[2021-12-20 19:07] ernestostifano opened #2464 "Specify Live Package Updates in amplify.yml file"
**Please describe which feature you have a question about?**
Recently I had problems with Cypress because of Amplify's Node version (https://github.com/aws-amplify/amplify-console/issues/2462). I used Live Package Updates feature under Build Settings in console to set Node version to 16.13.1 and everything worked fine.

Now, in the spirit of having a single source of truth and keeping everything i

[2021-12-20 21:43] ernestostifano opened #2465 "customHttp.yml file content not being applied in console"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-20 21:55] ernestostifano commented on #2464
I read [here](https://stackoverflow.com/questions/56444337/how-to-change-node-version-in-provision-step-in-amplify-console) that a custom Build Image was the recommended way to set a specific version of Node. Then I found `Node.js version` under "Live Package Updates" and thought it was the best way to go. Is using `nvm install` directly a better approach? (It could solve the issue because it coul

[2021-12-20 23:16] ernestostifano opened #2466 "How to access environment secrets from amplify.yml file."
**Please describe which feature you have a question about?**
Documentation explains how to [access environment variables](https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html#access-env-vars) from `amplify.yml` file using bash syntax `$MY_ENV_VARIABLE`, but it does not explain how to access environment secrets from the same file. It only has instructions on how to access

[2021-12-21 06:06] nandunbandara commented on #2400
Override the node.js version to a newer version under build settings. In my case I set it to 16.

[2021-12-21 08:17] guilhermepontes commented on #367
That's a pretty annoying one, happening constantly.

[2021-12-21 09:17] pratikdhody opened #2467 "Please delete appid: d33q266eebdssm"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-21 09:29] kkh2 opened #2468 "Stuck at "Your new data model is being deployed." for hours"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-21 10:36] SkaarFacee commented on #2417
I have this same issue, however even with MFA there seems to be no progress

[2021-12-21 12:16] zavedyaev commented on #550
+1

[2021-12-21 12:18] newsiberian commented on #550
Please, fix this asap

[2021-12-21 12:18] servy commented on #550
+1

[2021-12-21 12:24] meerimm1 commented on #550
+1

[2021-12-21 12:36] dementev commented on #550
+1

[2021-12-21 13:28] n2westman commented on #2448
Any update here? Job is still stuck

[2021-12-21 14:10] rajput09 opened #2469 "Not getting OTP after AWS amplify signup call"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-21 14:16] noahgorstein commented on #550
+1

[2021-12-21 15:02] turboDi commented on #550
+1

[2021-12-21 15:39] ernestostifano commented on #2465
Today I went to the "Custom Headers" section and clicked "Download", then I made some changes to my `customHttp.yml` file (added some CSP directives) and git pushed to my connected branches. Now all headers are present on HTTP responses, but `customHttp.yml` box under "Custom Header" section is still empty/blank.

The fact that it didn't work when creating the APP remains. And I'm 100% sure the `c

[2021-12-21 16:07] hloriana commented on #2465
Hi @ernestostifano 👋🏽 thanks for raising this! I'm working on reproducing this issue. I will report back once I have an update.

[2021-12-21 16:34] jferrell5 opened #2470 "Custom Domain Activation Fails"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2021-12-21 17:16] chrisl777 commented on #1330
Note that I had to add the `--profile` argument, as in: `aws amplify delete-backend-environment --app-id <APP_ID> --environment-name <ENV_NAME> --profile <PROFILE_NAME>`

[2021-12-21 17:21] chrisl777 commented on #2456
Note that I had to add the `--profile` argument, as in: `aws amplify delete-backend-environment --app-id <APP_ID> --environment-name <ENV_NAME> --profile <PROFILE_NAME>`

[2021-12-21 21:21] hloriana commented on #2458
Hi @carlosbvz 👋🏽, thanks for raising this. Can you see the **Test** tab listed after the build tab and access the test logs? Or is that not visible in your console either?

[2021-12-22 00:29] dylan-westbury commented on #2463
Errors with this build script:

[code]

[2021-12-22 01:28] GanymedeIndustries opened #2473 "Empty backend step -> build phase"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-22 03:28] dylan-westbury commented on #2463
I tried disconnecting and reconnecting branch but still same error

[2021-12-22 12:52] daniel-zero commented on #491
It should be possible to also use [skip ci] at the end of commits because GitHub Actions and other CI's are using the message to detect if a build should be skipped.

[2021-12-22 14:19] carlosbvz commented on #2458
Hi @hloriana ,

I can see the **Test** tab.
What is missing is just the UI indicator (which used to be there before).

[2021-12-22 15:33] matthewtmoran opened #2471 "Unable to deploy from console after successful `update auth` (auth headless is missing...)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-22 16:03] matthewtmoran commented on #2471
I also receive the same failure if I skip steps 5-9 and instead of `amplify update auth` I run `amplify add auth` and then select the same configuration options.

[2021-12-22 16:04] kenchoong commented on #1876
I using Nextjs SSR, but the deployment always failed, with Access Denied error

1. I already create a new policy named: `Amplify-additional-policy` as below, which I follow this, literally copy and paste from here: https://github.com/aws-amplify/amplify-console/blob/main/FAQ.md#error-accessdenied-access-denied

[code]

2. Then I attached this newly created policy into the role. So the role look li

[2021-12-22 16:45] kenchoong commented on #1876
Already try this sir, I even detached `AdministratorAccess` to the role, but still not success

[2021-12-22 18:01] #2443 closed

[2021-12-22 18:24] hloriana commented on #2448
Hi @n2westman what region is your app deployed in?

[2021-12-22 18:25] n2westman commented on #2448
Hi! us-east-2

[2021-12-22 18:39] kenchoong commented on #2192
Yes, sometimes it worked, sometimes it doesn't. Is totally frustrating

[2021-12-22 18:48] kenchoong commented on #2086
Yes.. still happened to me at 23/12/2021. My existing project which deployed couple of times with no problem, suddenly having `Access Denied` error. Having the service role with `AdminstratorAccess`, attached the newly created policy with all the permission stated here https://github.com/aws-amplify/amplify-console/blob/main/FAQ.md#error-accessdenied-access-denied, still having Access Denied. I to

[2021-12-22 18:54] kenchoong commented on #2086
Yes noticed this, I also cant enable the Transfer Acceleration for ANY bucket even though I am the Root admin of the account inside the AWS Management Console.

[2021-12-22 19:10] kenchoong commented on #1876
I think found the root cause, which is this https://github.com/aws-amplify/amplify-console/issues/2086#issuecomment-932103935.

The problem is my account cannot enable  Transfer Acceleration at all for ANY BUCKET. Even a newly created bucket in S3 console, also cannot enabled that, having the same ACCESS Denied error in S3 console. Therefore the SSR deployment always cannot deploy to CloudFront al

[2021-12-22 19:12] kenchoong commented on #2086
So how you solve this ya? Like where can I get help? I also have a same problem too

[2021-12-22 19:16] hloriana commented on #2448
@n2westman can you try listing the jobs? https://docs.aws.amazon.com/cli/latest/reference/amplify/list-jobs.html

[2021-12-22 19:40] hloriana commented on #2471
Hi @matthewtmoran 👋🏽 after importing auth, you need to add the listed IDs as environment variables in the console. https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html

[2021-12-22 20:17] neoplastic opened #2472 "Amplify App completely missing"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-22 20:30] kenchoong commented on #1876
Ok, for anyone who experience this, fastest way to solve this is:  **Deploy your app into a new AWS account**

[2021-12-22 20:37] matthewtmoran commented on #2471
That doesn't sound right to me. For environment variables it says,

That would mean to use federated auth, one also must have continuous deployment setup. From other issues, it seems that the environment variables is not available in the console for BE only apps. Federated auth was working a few months/versions ago in the way that I would expect here.  Is this something that has changed?

[2021-12-22 22:14] aleksey-shmatov commented on #2086
@kenchoong I have contacted AWS support twice. First time they added permissions to enable  transfer acceleration and second time they lifted account restrictions after suspension. It took quite some time for them to fix issue though....

[2021-12-22 22:20] dylan-westbury commented on #2463
Hmmm I disabled the backend build by commenting out `amplifyPush --simple`

There was then an error because I did not have environment variable when accessing github private package. I added that to amplify console and am using this build script:

[code]

Seems to be working now 🤷‍♂️

[2021-12-22 22:25] kramer99 commented on #12
Watching this. We would like to use Amplify, but cannot until there's some security resolution here.

[2021-12-23 00:41] Nick9606 commented on #2471
I am also running into this. Trying to follow https://docs.amplify.aws/lib/auth/social/q/platform/js/#configure-auth-category to set up auth but getting this same error when I push changes after following all steps in the tutorial. Are there steps necessary that are missing from the tutorial?

[2021-12-23 04:02] kkh2 commented on #2468
Cloned the env only to run into the same issue again in the cloned env. After doing changes to the data model, it got stuck again. Amplify console says "Provisioning app backend" for both the original and cloned env and never completes.

[2021-12-23 05:40] difsta commented on #1221
Is there any update on this?

[2021-12-23 06:37] kenchoong commented on #2086
@aleksey-shmatov I see. thank you very much. Seems like no other way except contact the support.

[2021-12-23 07:42] quangdatpham commented on #654
+1 We would love to have control in instance type configuration. It takes a minute on my local, but 15mins on the pipeline.

[2021-12-23 11:25] multivoltage commented on #2427
i came here after search on all bug related to this error with nexti18next. And yes, now my frontend deploy is green :). But using AMPLIFY_NEXTJS_EXPERIMENTAL_TRACE is depcrecated. I can assume to solve an issue with a depcrecated flag.
I need only to copy manual come file after the build. How can i reach this goal? Editing some docker file? in postBuild yml file?

[2021-12-23 12:12] dersven98 commented on #2470
Hi, I have also a bit confusing Problem.

You can see on this Screenshot, that I have added all CAA on my domain:
![CleanShot 2021-12-23 at 13 07 58](https://user-images.githubusercontent.com/75265769/147238362-50b852f6-f041-448b-b0f9-b224923fde16.png)

Next I go to the AWS-Console, and start the Verfification Process.
And here I get the following Problem:
![CleanShot 2021-12-23 at 13 10 15](https

[2021-12-23 15:14] hloriana commented on #2472
Hi @neoplastic 👋🏽 thanks for raising this issue. Is this your website: https://d15ago6mfbn7py.cloudfront.net/

[2021-12-23 15:24] hloriana commented on #2472
Can you please provide your account ID so we can further troubleshoot? You can send that information to aws-amplify-customer@amazon.com

[2021-12-23 16:13] multivoltage commented on #1987
Why i should use amplify when there are a lot of problem than vercel :) ?

[2021-12-23 16:13] multivoltage commented on #1987
Any news?

[2021-12-23 20:16] koxon commented on #64
+1

[2021-12-23 20:44] hloriana commented on #2471
@matthewtmoran Apologies, I misinterpreted the issue. I'm going to transfer this issue to the Admin UI repo for more visibility.

[2021-12-23 20:47] hloriana commented on #2468
Hi @kkh2 thank you for raising this! I'm transferring this issue to the Admin UI repo for visibility.

[2021-12-23 22:29] ferdingler commented on #2472
Hi @neoplastic, we have disabled your Amplify App because of DMCA reports from our Abuse team. If you believe you have been incorrectly disabled, can you please open a support ticket: https://aws.amazon.com/contact-us. Thank you!

[2021-12-23 22:29] #2472 closed

[2021-12-24 07:00] rsaid99 commented on #262
One more vote for a solution for this.

[2021-12-24 12:44] vashium commented on #2467
This comment might help https://github.com/aws-amplify/amplify-console/issues/2454#issuecomment-995048130

[2021-12-24 12:45] asumvp commented on #2467
this comment might help you. https://github.com/aws-amplify/amplify-console/issues/2454#issuecomment-995048130

[2021-12-24 15:37] nickberens360 commented on #550
Same here
![image](https://user-images.githubusercontent.com/1283934/147362550-636dc78d-c1a6-4067-b519-11ab762a6d1c.png)

[2021-12-24 22:43] uferekalu commented on #1043
I have exactly same issue. It fails at the backend build stage. I was even thinking that service role has a hand in its failing and I have created a service role and yet no luck...

[2021-12-25 02:06] rwslippey commented on #2417
I just found this issue after having the same problem. Wanted to add to this. I'm having this problem only on Linux, specifically Firefox and Brave on Manjaro. Switching over to my Windows box, Console loads fine and everything works. I've messed with Firefox's security and privacy policies a bit to no avail.

[2021-12-25 04:25] 24jr commented on #2417
@rwslippey Oh I'm using Brave. Didn't think to try else

[2021-12-25 08:09] SkaarFacee commented on #2417
@rwslippey Oh, I had the same issue. The only difference was that the error stuck on windows for me. The moment I switched to Linux (Pop_OS) it started working fine. A few hours later when I tried opening Amplify on windows it began working fine. I would suggest try waiting it out for some time  as that did it for me. I tried everything else that was mentioned on this thread to get it working on W

[2021-12-25 10:50] chrodin commented on #2324
We also had the problem of the certificate expiring on my Amplify app 18 months after initial setup.

Unlike some reports above, we had NOT removed the CNAME record, and still it failed to renew. The DNS is being managed via Route 53. This should probably be looked at by the AWS team..

Process:

1. Removed the custom domain on `Amplify > Domain settings`
2. Added the domain, and was given CNAME t

[2021-12-26 03:05] pratikdhody commented on #2467
Hi,

Have tried that but am getting the following error
[image: image.png]

but this app definitely exists...

[image: image.png]

Cheers

On Fri, Dec 24, 2021 at 11:46 PM asumvp ***@***.***> wrote:

--

Pratik Dhody
m: 0423 867 581
e: ***@***.***
w: tecks.com.au
<https://facebook.com/tecks.com.au>   <https://instagram.com/tecks.com.au>

[2021-12-26 12:07] ernestostifano opened #2474 "IPv6 Support"
**Please describe which feature you have a question about?**
AWS Amplify DNS Records

**Provide additional details**
Are `AAAA` records for IPv6 supported in AWS Amplify?

**What AWS Services are you utilizing?**
AWS Amplify Hosting with CI/DI

**Provide additional details e.g. code snippets**
Is IPv6 turned on by Amplify Hosting in CloudFront distribution? Can I just create an `AAAA` record in DN

[2021-12-26 14:45] smoothness commented on #882
Having the same problem for almost 2 months,  so annoying.

[2021-12-26 16:16] SourceCode commented on #262
I wrote an ISV multitenant system for amplify with sub-domain /IAM management.

The wildcard portion just setup your route53 correctly.

[2021-12-26 17:30] fti-sfuke commented on #1330
**[Solution For : Can't delete test app: Removing backend envs for app XXX failed](url)**

**When some resources have been deleted manually (S3 & Cloudformation) then**

`$amplify delete `
Gives Following :

[code]
Please look at this:

[code]
**Solution: Using AWS CLI You Can be Fixed This Issue.
Step 1 ) Make Sure AWS CLI is configured with the Same AWS Account if Not Please Create IAM User & Co

[2021-12-26 17:32] samadhanfuke commented on #1330
**[Solution For : Can't delete test app: Removing backend envs for app XXX failed](url)**

**When some resources have been deleted manually (S3 & Cloudformation) then**

`$amplify delete `
Gives Following :

[code]
Please look at this:

[code]
**Solution: Using AWS CLI You Can be Fixed This Issue.
Step 1 ) Make Sure AWS CLI is configured with the Same AWS Account if Not Please Create IAM User & Co

[2021-12-26 21:35] jferrell5 commented on #2470
Finally figured this out. The Cloudfront url that the UI was directing my to use was actually incorrect whenever trying to activate the domain(see my 3rd screenshot. The correct Cloudfront url for my CNAME entry with GoDaddy was actually found at Domain managment>View DNS records.

[2021-12-26 21:35] #2470 closed

[2021-12-27 00:54] GiancarlosIO opened #2475 "aws doesn't detect nextjs apps in gitlab repositories"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-27 10:48] leonmak commented on #2400
can try lts 14 as well
[code]

[2021-12-27 12:07] fgiopp commented on #956
You just need to disconnect ALL branches before changing type of hosting.

[2021-12-27 20:47] loganmarchione commented on #2474
Commenting because I'm also interested in this.

[2021-12-27 22:21] rvaneijk commented on #1209
It worked for me.

Two remarks:

1. I had to redirect to a .txt instead of the file without an extension. Redirect
2. The order matters. The new roles should come first.

Below a screenshot of a related problem (setting up OpenPGP Web Key Directory WKD)

![image](https://user-images.githubusercontent.com/934041/147510776-638966a5-fabb-43ab-bacf-5f3ba3ef0fc7.png)

[2021-12-27 22:42] 24jr opened #2476 "Should allow multiple many to many"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-28 06:43] fluixyz-unnatural opened #2477 "503 response occured when page using react-three/processing on Next.js"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-28 18:16] Shomari commented on #91
Also curious about any updates

[2021-12-28 18:21] dhait commented on #2437
Thank you!

[2021-12-29 00:15] dqunbp commented on #2345
@SebastianSchenk
Hi!
I have the same issue.
I have running my app with Vercel and Amplify.
Domain routing didn't works with the Amplify only.
region=us-east-1
arn:aws:amplify:us-east-1:479336677459:apps/d2617fmgdtfzyf

[2021-12-30 10:28] arnriu commented on #1118
What I do is, in my package.json:

[code]

Result variable in my app after AWS Amplify build: `REACT_APP_DATE: "2021/12/30 - 10:06:53",`

You can have multiple variables set this way. For instance, I use last commit message as a React variable:

[code]

Result, providing commit message was: "test commit message":
[code]

[2021-12-31 16:53] loganmarchione commented on #2474
I opened a support case to AWS for this. Below was their reply. I will have to test this myself and see.

[2021-12-31 18:52] ocbrollingpaper commented on #882
Same

[2021-12-31 20:27] madeupname commented on #2343
It seems to me that at a minimum, the docs should be updated to state v11 is the highest you can use. I had posted a problem to StackOverflow and it seems the solution is roll back to 11:

https://stackoverflow.com/questions/70219534/next-js-run-dev-fails-with-error-object-object

Or possibly, from the previous comment here, roll back to Webpack 4.

But as a new user, it sounds like if I want to u

[2022-01-01 20:27] straightupjac commented on #1163
hi @OmarKhattab I am also having this issue, could you explain your solution to this issue?

[2022-01-01 21:38] erikash opened #2478 "Build fails with `Property 'api' does not exist on type 'AmplifyDependentResourcesAttributes'`"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-02 05:26] deboboy commented on #661
- echo insecure >> ~/.curlrc

Worked for me just now... sucks that we have do this workaround

[2022-01-02 06:04] bakersemail commented on #125
I've found that not all ISPs resolve the CNAME records created by Amplify either. I've had to manually update them to A records to resolve this.

[2022-01-02 09:59] interstellard commented on #2326
Is this issue resolved yet?

-

I have exactly the same issue (with ISR), and also confirmed that the IAM role permissions include all mentioned in https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md#error-accessdenied-access-denied.

However, I still see the 503 errors.

The tricky part is that there won't be any 503 error right after a fresh deployment.
The 503 errors will only sho

[2022-01-03 09:43] SebastianSchenk commented on #2345
@dqunbp thanks for verifying with Vercel!

[2022-01-03 15:23] StephaneBischoff commented on #2111
Hi.
I got Amplify to build correctly thanks to the https://github.com/aws-amplify/amplify-console/issues/2427 as mentioned by @ferdingler

But, the browser locale (specified by the accept-language) is till not being used to redirect me to the correct translated route.

 Any update on this?

 Thank you

[2022-01-03 15:57] 50k-Adam commented on #2382
If anyone runs into the same issue, this is the resolution that AWS came back with.

Briefly explaining the steps to follow:
--------------------------------------------
1) Please create a dummy CF Distribution in your account(####) and wait till the distribution gets deployed. It may take 5-10 minutes to deploy the distribution.
Please ensure this dummy CF distribution is attached with a valid ce

[2022-01-03 20:24] Danetag commented on #2343
Hi team! Is there a roadmap/release date regarding the support of Next 12? Thanks!

[2022-01-03 21:28] hloriana commented on #2467
Hi @pratikdhody 👋🏽, I'm unable to see the images. Can you provide the error logs? And is this error being produced after running this command: `aws amplify delete-backend-environment --app-id <YOUR_APP_ID> --environment-name <THE_BACKEND_ENVIRONMENT_NAME>` ?

[2022-01-04 02:06] yuhs0 opened #2480 "In Build step, No further progress in the Git SSH Key acquired"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-04 04:31] yuhs0 commented on #2480
I also tried reconnecting repository. But it's not working.

[2022-01-04 09:44] hiteshtSociosquares opened #2481 "amplify push - An error occurred when pushing on cloud"
**Describe the bug**
=> **amplify status**
then will try '**amplify push**'
that time we received "**An error occurred during the push operation: Stack:arn:aws:cloudformation** "

**To Reproduce**
- Change in to amplify backend
- Run amplify push

[2022-01-04 10:02] hiteshtSociosquares opened #2482 "auth headless is missing the following inputParams googleClientId, facebookAppId"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-04 11:32] fgiopp commented on #2111
Same. Solved  thanks to the #2427. However, Accept-language works on local but not hosting app with aws amplify.

[2022-01-04 12:15] NoCtrlZ opened #2483 "How can I set the lambda node version?"
I am using lambda right now and in development environment, I am using node version `14.18.2`.
The error happened when the amplify backend deployment script ran.
How can I set the lambda node version?
[code]

Thank you!

[2022-01-04 14:25] adi518 commented on #2123
This is still happening. 👎

[2022-01-04 14:42] SteeveGL opened #2484 "Provision image is really used?"
**Please describe which feature you have a question about?**
Amplify Build

**Provide additional details**
Amplify Build indicate in Build that Provision docker file is used to build the project but I have a doubt about it. In the file we can see "Install AWS Amplify CLI for all node versions ..." but the npm patching happen in the build steps. The section "Install python3.8" install python3.8 but

[2022-01-04 14:43] ThomasSalty commented on #1043
I have the same error too. I went trough the steps a couple of times already but the build keeps failing in module 3.

I also tried to add auth without a backend and after `amplify configure`, I executed `amplify init` to initialize the project with the default configuration but the build still fails now in the "preBuild" phase of the frontend:

(Note: the app still works fine locally both ways...

[2022-01-04 15:01] joecritch commented on #2483
@NoCtrlZ You should be able to override the Node version in 'Your Amplify app > Build settings > Build image settings > Live package updates'. (Or, if you're doing this with IaC, you can use the `_LIVE_UPDATES` environment variable)

![Screenshot 2022-01-04 at 14 59 06](https://user-images.githubusercontent.com/24449/148078406-e4869c36-9540-4090-be92-03696f6c67d2.png)

[2022-01-04 15:25] TT781997 commented on #1207
Any update on Above?
I have the same issue:
2022-01-04T15:20:06.033Z [INFO]: Found customHttp.yml, applying custom headers...

[2022-01-04 15:31] SteeveGL opened #2485 "Working directory not reset between build phases"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-04 16:12] hloriana commented on #2485
Hi @SteeveGL 👋🏽 thanks for raising this! This is not a bug as this is the intended behavior when [navigating to a subfolder](https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#navigating-to-a-subfolder). This allows customers to only need to change directories once, especially when building apps that live in a monorepo.

[2022-01-04 16:12] #2485 closed

[2022-01-04 16:15] SteeveGL commented on #2485
No CI work that way. But fine. Then how to get back to the root project directory? That path is not even in environment variable.

[2022-01-04 16:24] joecritch opened #2486 "How to retrieve associated CloudFront Distribution URL?"
Hello, is it possible to programatically retrieve the URL of an Amplify's app CloudFront Distribution?

If I was to create a new **Next.js** app within the Console, there is an important 200 rewrite that gets added in 'Redirects & Rewrites', which points all front-end paths to the associated CloudFront Distribution. However, I'm now migrated to using Terraform's aws_amplify_app, which doesn't add

[2022-01-04 17:07] hloriana commented on #2482
Hi @hiteshtSociosquares 👋🏽 are you using Amplify Studio to make these changes?

[2022-01-04 17:19] zachar-maximov commented on #1298
Has a similar issue during the first deployment:

`2022-01-04T16:42:13.470Z [WARNING]: ✔ Successfully pulled backend environment develop from the cloud.
2022-01-04T16:42:13.481Z [WARNING]: ✖ There was an error initializing your environment.
2022-01-04T16:42:13.489Z [INFO]: [31mFailed to pull the backend.[39m
2022-01-04T16:42:13.493Z [INFO]: [31mFile at path: '/codebuild/output/src715392117/src/

[2022-01-04 19:29] hloriana commented on #2484
Hi @SteeveGL 👋🏽 thanks for raising this issue! The team is aware of this and has a resolution in progress. I will update once the fix has been rolled out. Thank you!

[2022-01-04 19:35] shaunchander commented on #2392
For what it's worth, when accessing the NextJS app using the Cloudfront URL, we do get webp images back.

That's makes me think that somewhere between Amplify requesting images from Cloudfront that the `accept/webp` header isn't being transferred so when Cloudfront gets the request for the image it just returns the default format of that image.

This also got me thinking, what is the difference be

[2022-01-04 20:12] foobarnes commented on #1009
Looking to use Amplify for a new app, but this issue is preventing my first deployments.

[2022-01-04 20:15] hloriana commented on #2483
Hi @NoCtrlZ in addition to the solution provided above, here is the documentation: https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates

[2022-01-04 20:15] #2483 closed

[2022-01-04 20:27] ViniciusVaz commented on #550
+1

[2022-01-04 20:27] victufell commented on #550
+1

[2022-01-04 20:27] palloi commented on #550
+1

[2022-01-04 20:33] hloriana commented on #2481
Hi @hiteshtSociosquares 👋🏽, did the error message have any more information?

[2022-01-04 21:09] hloriana commented on #2480
Hi @yuhs0 👋🏽 it looks like your IAM role is missing permissions. Please see our documentation for adding permissions https://docs.aws.amazon.com/amplify/latest/userguide/security-iam-awsmanpol.html

[2022-01-05 02:53] yuhs0 commented on #2480
please delete my npmAuthToken in build setting.

[2022-01-05 02:55] #2480 closed

[2022-01-05 03:47] NoCtrlZ commented on #2483
Thank you!
It works!

[2022-01-05 07:07] sayed-mohidin opened #2487 "I am not able to push new schema changes through amplify cli"
I am facing issues while pushing schema changes using amplify cli. I want to make few changes to the api and whenever I try to push I get the following errors.

`UPDATE_FAILED      HostedUIProvidersCustomResourceInputs Custom::LambdaCallout Wed Jan 05 2022 09:48:19 GMT+0300 (Arabian Standard Time) Received response status [FAILED] from custom resource. Message returned: See the details in CloudWat

[2022-01-05 09:00] vedanthpadigelwar commented on #2250
i am facing th same issue

[2022-01-05 09:01] vedanthpadigelwar commented on #2250
2022-01-05T08:15:07.687Z [INFO]: Git SSH Key acquired
2022-01-05T08:15:07.758Z [INFO]: # Cloning repository: git@github.com:Quidich-Innovation/stats-platform.git
2022-01-05T08:15:07.858Z [INFO]: Agent pid 136
2022-01-05T08:15:07.883Z [INFO]: Identity added: /root/.ssh/git_rsa (/root/.ssh/git_rsa)
2022-01-05T08:15:08.089Z [INFO]: Cloning into 'stats-platform'...
2022-01-05T08:15:08.799Z [INFO]: War

[2022-01-05 09:53] anastasiyamazheika opened #2488 "Test stage doesn't fail in the pipeline when Playwright tests fail"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-05 16:46] hloriana commented on #2476
Hi @24jr 👋🏽, thanks for raising this! Transferring to the Admin UI repo since this issue seems to be related to the Amplify Studio.

[2022-01-05 17:10] swaminator commented on #177
This feature has since been released: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#enable-diff-backend

[2022-01-05 17:10] #177 closed

[2022-01-05 20:38] grangier commented on #1170
Same at the moment. is this ticket really closed ?

[2022-01-05 22:43] LucasLemanowicz commented on #1458
I've also been encountering this issue fairly consistently for the past couple of months as well (most recently yesterday). Agree with @noahgorstein that this can lead to slower review processes, and failing builds accidentally getting merged in.

[2022-01-06 01:13] saviogl commented on #2160
@ferdingler Anything on the pipeline to avoid requiring repo Admin permission - CI like credentials should especially follow the least privilege principle and this hard requirement (which by the way is not stated anywhere in the documentation) is really a non-starter for many people

[2022-01-06 01:14] saviogl commented on #2160
@ferdingler Anything on the pipeline to avoid requiring repo Admin permission - CI like credentials should especially follow the least privilege principle and this hard requirement (which by the way is not stated anywhere in the documentation) is really a non-starter for many people

[2022-01-06 01:40] #446 closed

[2022-01-06 06:34] fullstackcreatives commented on #2145
@Athena96 Is there an update on the issue with using [skip-cd] on CodeCommit? Seems that it still does not work.

[2022-01-06 10:17] mlecoq commented on #2317
For my part `fallback: 'blocking'` works fine but `fallback: true` leads to a next js error

[2022-01-06 11:08] SantoshRaoMea opened #2489 "Ampify Build stuck when i create in new region"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-06 12:42] yogeshydvme commented on #2190
sure, it will be very helpful

[2022-01-06 15:33] pedromagalhaes commented on #1872
The problem is not webpack 4 or 5. You have to use Next@11.0.0 to use getServerSideProps, withSSRContext and Auth module in production.

[2022-01-06 15:44] kellycastrof opened #2490 "amplify import auth headless"
**Please describe which feature you have a question about?**
I want to know how to use amplify import auth with a sh script
**Provide additional details**
I follow the instructions of the documentation, however it doesn't mention how to use it. I use parameter --categories, but it still asks me for config in the terminal.
**What AWS Services are you utilizing?**
I'm using amplify auth
**Provide ad

[2022-01-06 15:54] hisham commented on #2385
Interesting. That script at the end does run ```amplifyPush -e $BACKEND_ENV --simple```. But yeah it does some git related commands before, that I plan to move to the "Cloning repository" step of the amplify build (I don't think you support custom scripts there but I plan to explore using git hooks to do what I want).

Alternatively I can run our script in the preBuild rather than build phase of t

[2022-01-06 17:04] sorokinvj opened #2491 "Self-created backend environments in Amplify Console"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-06 17:57] davetroy commented on #1317
Hi. I'm having a problem with custom headers also. My `customHttp.yml` is as follows:

[code]

  These headers are simply not applied to the content.

[2022-01-06 18:56] hloriana commented on #1416
Hi @Gtstride 👋🏽, can you provide reproduction steps or a sample repo that produces this bug? I've successfully deployed a react app with a video background using `<video>` and `<ReactPlayer>`components and did not run into this bug. This will be helpful for us to further troubleshoot. Thanks!

[2022-01-06 19:39] swaminator commented on #2491
Are all those environments created from people you know?

[2022-01-06 19:50] swaminator commented on #2461
You only have a single branch in your repo which is why you're not seeing anything in the dropdown.

[2022-01-06 22:07] SteeveGL opened #2492 "Hooks throw error"
**Please describe which feature you have a question about?**
Amplify build

**Provide additional details**
Even the packages are present and works on my machine, in the build process the hook return an error:
[code]

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**
[code]

[code]

[code]

[code]

[code]

[2022-01-06 22:44] 24jr commented on #2461
@swaminator but I dont want to use another branch i want to use a different repo. Admin repo. User Repo. Different interface for front end repo. stuff like that

[2022-01-07 01:53] entest-hai commented on #2438
I got the same issue, here is my app id: d2bdgfrxcjfn9h. Amplify CI/CD does not detect changes in two branches deploy-admin, and deploy-user. Please check

[2022-01-07 02:07] entest-hai opened #2493 "Amplify CI/CD stops working after changed username in Github"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-07 06:40] Ettery commented on #78
I'm also having this problem: the Amplify URL for my site is resolving:
    https://master.d357uat5p3cl17.amplifyapp.com/
but the Cloudfront URL I have been given to point my custom domain CNAME at is not, it returns an HTTP 404:
    https://d3dc3kbh8sa4rg.cloudfront.net/

![image](https://user-images.githubusercontent.com/4337479/148501905-ac4861b9-f960-4e23-aa7d-b7fca044787a.png)

Note that the

[2022-01-07 12:17] ashish979 commented on #2362
Hi @infinonly Did you find the solution to this? I am also facing the same issue and could not resolve it.

[2022-01-07 13:03] Knowledge-Labz commented on #12
I'll add my grain of salt since I'm yet another developer who'll have to dig around the problem. Since I work for a cybersec enterprise, permissions are very tight. We could successfully restrict by IP by using S3 and CloudFront in cahoots with WAF (manually configured, boo!)

Sadly, the deployment team will not have access to the CLI. We basically drop the code within TerraForm to create the ampl

[2022-01-07 19:04] tobinbc commented on #1586
To aid anyone finding this with AWS Amplify Geo Location library using maplibre-gl and maplibre-gl-js-amplify this amazingly detailed solution fixes it.

[2022-01-07 20:25] jnastaskin commented on #2175
I'm currently having this issue

I'm also having this 503 issue with a deployed page using getStaticPaths/Props..
@quinnturner  when you say lambda which lambda are you referring to?  After deploying I can see these lambdas with what I assumed was their IAM role name:
![image](https://user-images.githubusercontent.com/31951390/148602604-bb1139d7-0a2e-4c0a-874b-56201fe88e11.png)
however, i couldn't

[2022-01-07 21:18] jnastaskin commented on #2326
Also seeing this issue, have the 503 errrors right off the back from a deployed page using get static props/paths.

[2022-01-07 21:19] jnastaskin commented on #2326
@interstellard  based on the link you provided, do you know what is meant by the 'Amplify App Role' they mentioned for the IAM permissions? What role name does that translate to in the IAM console?

[2022-01-07 21:21] jnastaskin commented on #2175
Update: found how to get those role names (had to change the location in lambda console to see the lambdas then get their role names from there), checked the permissions and everything is set but still seeing 503 errors on deployed pages using getStaticPaths/Props

[2022-01-07 21:41] hloriana commented on #2475
Hi @GiancarlosIO  👋🏽 thank you for raising this issue. I just deployed a Next.js app from GitLab and was able to see Amplify autodetect it as an SSR app. Can you try adding a basic Next.js app and see if this problem occurs with any SSR app or just my-team/my-app?

[2022-01-07 23:29] infinonly commented on #2362
@ashish979  no, I’ve been using vercel. Still seems to be an amplify only issue can’t reproduce in other environments

[2022-01-08 01:59] ivadenis commented on #2297
@Narrator is there any way you can help me out to fix it as well? Thank you!

[2022-01-08 18:03] michaelangrivera commented on #2343
@Danetag  Second this question. Any update?

[2022-01-08 22:29] iocuydi commented on #996
Ran into this issue today. Have had several domains hosted on amplify for over a year. One of them randomly expired today, the rest (hosted for longer than the expired one) did not? There should definitely be a warning for this, switching to netlify asap

[2022-01-09 04:31] arundna commented on #2493
Hi @entest-hai 👋, thanks for opening this issue and providing the steps to recreate. I've successfully reproduced this by changing the GitHub username and CI/CD stops working with new push commits. Changing it back to the original username (while it was still available) and pushing newer commits ensured that Amplify CI/CD started working again.

We'll keep you posted with further updates.

[2022-01-09 08:24] interstellard commented on #2326
@jnastaskin I think they were referring to the "IAM roles" (https://console.aws.amazon.com/iam/home?#/roles) for the Lambda functions used in the Amplify App Deployment.

And here are the steps to find out the exact role used in the deployment:

(1) In each build (connected branch) of the Amplify app, there's a 'Deploy' tab showing the Lambda functions (along with each function ID) used for the de

[2022-01-09 09:16] erikash commented on #2478
Hi @hloriana ,
Thanks for self-assigning :)
I've added `cat amplify/backend/types/amplify-dependent-resources-ref.d.ts` during the pre-build stage, here is the build output:
[code]

As you can see `amplify-dependent-resources-ref.d.ts` object contains the `api` key.

Hope this helps 🙏
Erik.

[2022-01-09 09:24] jenbeattie commented on #2479
This solved it for me, thanks 👍🏼

[2022-01-09 14:47] SantoshRaoMea commented on #2489
I created a new app meaplatformie in eu-west1 and ran into same issue of deployment getting stuck
App ARN
arn:aws:amplify:eu-west-1:324106371807:apps/dmyim1snahlt7

[2022-01-09 18:51] anbav commented on #2493
Hi, I have a related issue. Not only did ​CI/CD stop working but my app is missing from Amplify entirely, this all occurred after changing my GitHub username.

However, my app is still live at https://www.vibu.work/ (?)

I'm not entirely sure if it's even live, but I'm unable to find the transferred domain from GoDaddy on Route 53 . I seem to have no way to access the app as of right now.

[2022-01-09 19:51] jayfry1077 opened #2499 "Amplify not honoring Incremental Static Regeneration due to sqs.fifo deduplication"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-01-09 20:20] HarelKedem opened #2494 "Build fails on FATAL ERROR"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-09 21:26] mrmallette commented on #1416
Still no solution from our end...we've since tried everything and anything we can think of.  I've highlighted some of the details below just in case it sparks anything new!

* Converted the video from mp4 with **AWS Media Converter** , our S3 bucket now contains one of each, m3u8, mpd, mpeg, cmfa, cmfv)
* We created a CloudFront distribution and added our s3 bucket as the origin
* We updated the S

[2022-01-09 21:30] mrmallette commented on #1416
@hloriana would you be able to share some sample code for your working <video> element?  Did you use CloudFront or S3 as your src?  What video format worked?  Did it work in your dev environment & production?  (We can get it working a number of ways in our dev/localhost environments but not once it's deployed via Amplify.  We're lost...

[2022-01-09 22:17] danielmbutler opened #2495 "App deletion and deployment stuck in process for over an hour"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-09 22:18] danielmbutler commented on #2495
![image](https://user-images.githubusercontent.com/46110343/148703295-4775c593-045a-4dd5-8101-2a5230f5d3cd.png)

[2022-01-09 23:16] victorccccc commented on #2494
Sorry for the inconvenience. We are aware of this issue and are working on the hotfix for this

[2022-01-10 00:25] hisham commented on #2494
My build is also failing but with no error shown at all - before backend or frontend phases. All I get is "Build failed to complete succesfully". My env id is d2d6ty1wlg8jch.

Is this related issue?

[2022-01-10 00:47] Decentrana1 commented on #1347
Having same issue today

[2022-01-10 01:16] hisham commented on #2494
Ok now in backend build I'm getting really weird logs

AWS Amplify Console is clearly broken. Why doesn't https://status.aws.amazon.com/ show this?

[code]

[2022-01-10 01:22] hisham commented on #2495
I think there is an ongoing issue with amplify console currently - see https://github.com/aws-amplify/amplify-console/issues/2494

[2022-01-10 01:34] zijing07 opened #2496 "How can I stop or cancel app deletion?"
**Please describe which feature you have a question about?**
I have initiated app deletion, but I want to cancel it.

**Provide additional details**
I found it is deleting the whole app, including my prod stage.

**What AWS Services are you utilizing?**
amplify

**Provide additional details e.g. code snippets**
app id: d3ps42sgg5f2m5
Region: us-west-2

[2022-01-10 02:01] ShenShu2016 commented on #2494
I meet the same problem
even I add:
NODE_OPTIONS = --max_old_space_size=4096

 still out of memory

[2022-01-10 02:46] marclinder commented on #2494
Same issue. Backend builds are completely broken - I can push successfully from the cli without error but cloud builds fail. Build starting failing with a simple push to the frontend (we're using a mono-repo). Log output is utterly bizarre, basically a ton of broken unicode:

2022-01-10T00:23:27.958Z [INFO]: ṫ̶̵̵̢̯̮̰͚̥̬̠͚̠̪͖̪̤͍͇̟̻̗̦̩̬̠̱̰͔͚͖͓̪̲͓̙̝͎̲̞͎͔̰̻̳̖̜̞͈͍̯̳̞̻̗̪̝̪͂ͪ̊̌͛͠ͅͅͅe͛̊ͯ̑̊̽ͤ̐̍̐ͣ̾̆̎̂ͤͣ͘̕͡

[2022-01-10 02:51] droidgeek1 commented on #2494
Same issue here - backend build started failing few hours back.. Would be nice to get notification from Amplify team about at least known failures if not early warning alerts. I also checked AWS service page and there was no indication of this service broken. Really need Amplify to be up for true 24x7 even for dev tools like build as we take full advantage of end of end service as pitched by Amazo

[2022-01-10 02:55] droidgeek1 commented on #2494
Hey @marclinder Is there work around for Frontend prod deployment outside of CI CD? I don't really need backend deployment but thats the first thing in the script so front-end fails due to lack of aws-exports..
Appreciate any thoughts from others on the thread as well on any work-arounds here

[2022-01-10 02:59] marclinder commented on #2494
@droidgeek1 according to this ticket:

https://github.com/aws-amplify/amplify-console/issues/1966

.. you might be able to set the AMPLIFY_SKIP_BACKEND_BUILD environment variable to skip the backend build. This did not work for me though. Good luck.

[2022-01-10 03:11] droidgeek1 commented on #2494
Thanks @marclinder I am afraid will have same issue as the last person : If I attach the AMPLIFY_SKIP_BACKEND_BUILD = true environment variable it doesn't generate me the aws-export.js file...

[2022-01-10 03:12] droidgeek1 commented on #2494
I was hoping to have work around like there is one for backend -> We can do amplify checkout and push for backend. Is there something similar for front end?

[2022-01-10 03:21] guttyjr commented on #1946
Hello,

I have same issue today.
I cannot resolve this issue. please tell me what how to recovery it.

![2022-01-10_12h13_59](https://user-images.githubusercontent.com/16617154/148714416-b40a1d58-8d8b-443e-8ccc-3a0110ae42fd.png)

[2022-01-10 03:52] victorccccc commented on #2494
Thanks for the waiting. We've fixed this issue and please set Live package updates -> Amplify CLI to `latest`  (or version `7.6.7`)

[2022-01-10 04:07] ShenShu2016 commented on #2494
Just redeployed. Its work now. thanks

[2022-01-10 04:21] marclinder commented on #2494
Same, works for me now too.

[2022-01-10 06:43] ashish979 commented on #2362
@hloriana Is there any update on the investigation?
I am trying to deploy a next.js app on aws amplify but getting the error mentioned in this issue.

[2022-01-10 07:24] #2494 closed

[2022-01-10 13:18] rajput09 opened #2497 "Getting error 'AWSApiGatewayBridge.h' file not found"
**I am using   AWSAPIGateway SDK to call our server api's**
I am following these steps :-
**The generated SDK depends on the AWS Mobile SDK for iOS. There are ways to import it into your project:

* CocoaPods

You should use one of these two ways to import the AWS Mobile SDK but not both. Importing both ways loads two copies of the SDK into the project and causes compiler errors.

## With CocoaPod

[2022-01-10 13:24] quirkeer opened #2503 "【amplify studio】How to setup Sign-in & sign-out redirect URLs as a app url?"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-01-10 14:29] prabha-912 opened #2498 "Backend not build - amplifyPush --simple"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-10 14:50] astef-trilogy commented on #2498
We are seeing this problem as well. ~10h ago amplifyPush stopped working, no logs, no resources, no amplify-meta.json

[2022-01-10 15:47] CamiloMartinezCDS commented on #2498
Im having the same issue. Every build fails whenever it reaches the command `amplifyPush --simple` in our deployment script, we are using the version 7.3.3 of the CLI. Our AppId its `d25zya9gi4exh7` in the region `us-east-2`.

[2022-01-10 17:01] victorccccc commented on #2498
Hi folks, We've fixed this issue. Can you set Live Package Updates: Amplify CLI to `latest` or `7.6.7` in build settings? Thanks

[2022-01-10 17:04] dragosiordachioaia commented on #2498
Unfortunately, that's not really an option for us yet - we are on 6.4.0 mainly because of the fact that 7.x.x has a breaking change to do with handling manually-changed CloudFormation templates. This has been working just fine until now and it's failing on various CLI versions (ranging from 4.x to 7.x), so I don't think it has to do with the CLI version.

[2022-01-10 17:07] victorccccc commented on #2498
This is know issue with Amplify CLI (Third Party dependency `color.,js` issue). We fixed it in the latest version of Amplify CLI

[2022-01-10 17:09] dragosiordachioaia commented on #2498
I don't understand, then - how could it have just started happening today for people on wildly different versions of the Amplify CLI? If it had been a long-standing issue with the CLI, it would have manifested itself until now, constantly. Instead, it started happening all of a sudden.

[2022-01-10 17:17] dragosiordachioaia commented on #2498
If it has to do with the recent issue with `colors.js` becoming intentionally corrupted by the author, it would seem to me that a non-latest version of the Amplify CLI had a version of `colors.js` that was not correctly pinned and after that package changed, old Amplify CLI versions wouldn't work anymore. If that's the case, does that mean that literally every single Amplify project now has to upd

[2022-01-10 17:19] hloriana commented on #2496
Hi @zijing07 👋🏽 thanks for reaching out! Deleting an application is irreversible. When doing so from the console, a modal will pop up for you to confirm that you want to proceed with deleting the application.

If you want to delete a single environment from the console, you'd navigate to the **Actions** drop down menu within that environment section and select **Delete**.

[2022-01-10 17:19] #2496 closed

[2022-01-10 17:41] hloriana commented on #2498
Hi @dragosiordachioaia, other customers who can't update to the latest CLI version have used this work around:

[code]

[2022-01-10 17:46] dragosiordachioaia commented on #2498
That's great, thanks for the response. I can see how that would work
locally, but will it have any effect on the actual CI build process?
Because in CI, the dependencies being installed will always be controlled
by the package.json/nom-shrinkwrap.json files, not what I have installed on
my machine.

On Mon, 10 Jan 2022 at 19:41, hloriana ***@***.***> wrote:

[2022-01-10 17:54] hloriana commented on #2498
You will likely have to add these commands to your amplify.yaml file

[2022-01-10 17:58] hloriana commented on #2478
Hi @erikash 👋🏽 thank you for these details, I'm currently looking into this and will provide an update ASAP.

[2022-01-10 18:05] victorccccc commented on #2498
Can you try to remove Package live updates? so that we'll use cached working Amplify CLI 6.3.1 version to build your app

[2022-01-10 18:13] dragosiordachioaia commented on #2498
Hi @victorccccc, I have disabled Live package updates. Thank you.

[2022-01-10 18:15] chris-mds commented on #2498
This is crazy. I was trying to fix my backend build for the whole day and was searching everywhere for a solution because I had no idea why my build won't work anymore without changing anything.
I disabled building amplify on latest cli version for a while to prevent something unexpected like this and today the only fix is to update to the latest version.

[2022-01-10 18:21] Rafcin commented on #1866
@luanbon if you moved from NX to lerna then redeploy by deleting the current hosted app and redeploy the same branches and it should work. I recommend Yarn workspaces if you plan to do it, but Lerna should work fine.

Also don't use Next 12.

[2022-01-10 19:03] dragosiordachioaia commented on #2498
I've added the commands that @hloriana listed to amplify.yml and it worked! Thank you!

[2022-01-10 19:26] jnastaskin commented on #2326
@interstellard  amazing, thank you!

[2022-01-10 19:39] localsecurity-emily commented on #2498
@dragosiordachioaia or @hloriana Can you share what that looks like? I don't think I have an amplify.yml?

[2022-01-10 19:42] lindsaybloomsonos commented on #2387
@hloriana is there an update on this issue?

[2022-01-10 19:53] marceloch2 commented on #44
+1

[2022-01-10 19:57] johnstan commented on #44
+1

[2022-01-10 19:58] fezzy2020 commented on #44
+1

[2022-01-10 20:07] hloriana commented on #1347
Hi @Decentrana1 and @rafaelfaria  👋🏽 thanks for reaching out. Can you try reconnecting Amplify to your GitHub account? in GitHub, navigate to settings -> applications -> Authorized OAuth Apps and revoke permissions. You should then be prompted to grant access again once you try to create a new app.

[2022-01-10 20:12] simlevesque commented on #2498
What a stupid unhinged conspiracy theorist asshole.

[2022-01-10 20:15] dragosiordachioaia commented on #2498
@localsecurity-emily the build settings can either be changed from the Amplify Console (under App Settings -> Build Settings) or by adding a file called amplify.yml to your environment. For me, before making this change, the top of the file looked like this:
`version: 1
backend:
  phases:
    build:
      commands:
        - "# Execute Amplify CLI with the helper script"
        - amplifyPush --si

[2022-01-10 21:01] hloriana commented on #2495
Hi @danielmbutler 👋🏽, if you're still running into issues deleting your app try running this command to completely remove your backend: `aws amplify delete-backend-environment --app-id <YOUR_APP_ID> --environment-name <THE_BACKEND_ENVIRONMENT_NAME>`.

You should then be able to delete the frontend from the console.

[2022-01-10 21:05] danielmbutler commented on #2495
Hi @hloriana thanks for your response, after some time all the operations were completed and all is good now.  will clsoe this

[2022-01-10 21:05] #2495 closed

[2022-01-10 21:46] maziarzamani commented on #64
+1

[2022-01-10 21:50] nealdeters commented on #2479
I'm still hitting this issue today in our deployment. I've configured my dev env to build with amplify cli version 7.6.7 and my schema is updated, but continuing to hit the error.

SchemaValidationError: Your GraphQL Schema is using "@index", "@hasMany", "@belongsTo", "@hasOne" directives from the newer version of the GraphQL Transformer. Visit https://docs.amplify.aws/cli/migration/transformer-mi

[2022-01-10 22:36] hloriana commented on #2489
Hi @SantoshRaoMea thanks for raising this issue. It's stalling because behind the scenes you're being prompted to select an AWS region. I'm brining this up to the team for further investigation.

[2022-01-10 22:45] victorccccc commented on #2489
Hi, can you try to check your `.gitignore` file to ensure all these files are ignored? Thanks!
 https://docs.amplify.aws/cli/reference/files/#gitignore

[2022-01-11 03:27] SantoshRaoMea commented on #2489
@hloriana , just to aid the investigation, I am using an Aurora data source on a cluster, and there is only one cluster and 1 database in the region of eu-west-1 account

[2022-01-11 05:52] SantoshRaoMea commented on #2489
I tried recreating app again, just to check with latest CLI (Sorry that I recreated, wanted to keep the region clean). Issue still persists, app details bellow

App name
meaplatform
App ARN
arn:aws:amplify:eu-west-1:324106371807:apps/dtesxd31tv0np

[2022-01-11 05:56] SantoshRaoMea commented on #2489
@hloriana would there be any workaround for the moment, to get past the prompts by supplying the region in some way

[2022-01-11 08:31] SantoshRaoMea commented on #2489
Hi VIctor,

All these files are ignored.

my .gitignore for reference as well. Also i double checked the repo doesnt have any of these files as well.

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.prod

[2022-01-11 09:09] yucomds commented on #2498
Hi guys, we are experiencing a similar issue with frontend build

![image](https://user-images.githubusercontent.com/42735351/148913487-7ac4e67a-6f84-4429-8cba-2f5ddc056b75.png)

Any suggestion for this?

[2022-01-11 09:16] michaelw90 commented on #2498
Rebuild your package-lock.json. 1.4.2 has been removed from npm now, so 1.4.0 is the latest version instead. That, or ensure you're installing 1.4.0 within your build steps only.

[2022-01-11 10:01] yucomds commented on #2498
thanks men!

[2022-01-11 11:28] SantoshRaoMea commented on #2489
I could get this working, steps i followed *though a work around"

1. Created a New App in the new region
2. Connected to Github
3. Let the Backend build hang and timeout
4. Pulled the code locally along with new env
5. This causes many backend files related to resourced to be deleted
6. Restored the deleted files
7. In amplify/team-provider-info.json copied over categories from a working env
8. A

[2022-01-11 15:28] hloriana commented on #2487
Hi @sayed-mohidin 👋🏽, thanks for raising this issue. The team is investigating this and I will respond with an update once I have more information.

[2022-01-11 17:59] hloriana commented on #2499
Hi @jayfry1077 👋🏽 thank you for raising this issue and providing reproduction steps. I will try to reproduce this behavior and update once I have more information.

[2022-01-11 18:02] hloriana commented on #2492
Hi @SteeveGL 👋🏽, thank you for raising this issue. I will investigate this and provide an update shortly.

[2022-01-11 18:04] hloriana commented on #2491
Hi @sorokinvj 👋🏽 can you confirm the version of the Amplify CLI used when you first created this app and the version of the CLI that's being currently?

[2022-01-11 19:18] AndyW22 opened #2500 "Frontend is deploying when tests fail"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-11 19:41] hloriana commented on #2500
HI @AndyW22 👋🏽 thank you for raising this! There may be a bug where some edge cases allow this to happen. I will reproduce this behavior and determine if there is a workaround.

[2022-01-11 22:14] swaminator commented on #649
This issue is still valid. Seeing an error in the console logs.
![image](https://user-images.githubusercontent.com/2429410/149029796-8d1f00b5-65ba-41de-87c9-7a9be7a063b0.png)

[2022-01-11 22:35] astef-trilogy commented on #2498
Issue is fixed without any changes/workarounds from us. Thank you!

[2022-01-12 05:30] sayed-mohidin commented on #2487
Hi @hloriana thank you for the reply. I will be looking forward to any updates on the issue.

[2022-01-12 06:35] sh319941 opened #2501 "Issue while accessing the Application URL"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-12 08:34] prabha-912 commented on #2498
https://github.com/aws-amplify/amplify-console/issues/2498#issuecomment-1009305579

Actually the uninstall/re-install helps to solve the issue. Now the backend build is deployed as expected.

[2022-01-12 11:05] julienlaurent-migso opened #2502 "How to change repository service provider Github to Gitlab"
Hello, we need to update our git repository service provider : Github to >> Gitlab
When we try to do it inside the amplify console using the button "reconnect repository we do not have the option to change the service provider to Gitlab.
![image](https://user-images.githubusercontent.com/79509459/149128318-cf98055c-bb51-4d03-ae38-587401c25a8b.png)
![image](https://user-images.githubusercontent.com

[2022-01-12 16:07] hloriana commented on #2493
Hi @anbav can you confirm that you're logged into the same region that the app is deployed in

[2022-01-12 16:17] hloriana1 commented on #2493
Hi @entest-hai 👋🏽 when you change your username in GitHub you need to reconnect the repository to your Amplify application because the URL will have changed. After changing your username, navigate to the Amplify console -> App Settings -> General -> **Reconnect repository** . You will be prompted to select the repository and the dropdown menu should reflect the apps under your new username.

[2022-01-12 16:30] #2493 closed

[2022-01-12 16:32] entest-hai commented on #2493
@hloriana thank you!! yes, it works well now.

[2022-01-12 16:45] hloriana commented on #2502
Hi @julienlaurent-migso 👋🏽 thanks for raising this question!  I'm checking in with the team to see if this is possible. I'll be back with an update shortly.

[2022-01-12 16:55] Narrator commented on #2297
We have rolled out a fix for this and should now be available in all regions. Please let us know if you are still seeing the issue!

[2022-01-12 18:05] fatso83 commented on #2463
@dylan-westbury If this is working, maybe close it?

[2022-01-12 18:07] victorccccc commented on #2498
Hi folks, thanks for your information. NPM has reverted malicious commit, issue should be resolved. Feel free to reopen this if issue persists.

[2022-01-12 18:07] #2498 closed

[2022-01-12 18:51] swaminator commented on #1271
@ivantichy @chittasec we have reopened the issue.

[2022-01-12 19:09] hloriana commented on #2145
Hi @fullstackcreatives 👋🏽, thank you for reaching out and apologies for the delay. We are prioritizing this bug and are working on  a fix. Thank you for your patience!

[2022-01-12 19:59] hloriana commented on #2463
Hi @dylan-westbury 👋🏽. Glad you were able to resolve this issue. If you need any assistance feel free to re-open or submit a new issue for a different topic. Thank you!

[2022-01-12 19:59] #2463 closed

[2022-01-12 20:25] hloriana commented on #2502
You can change your Git provider via the CLI using this command `aws amplify update-app --app-id <value> --repository <value> --access-token <personal access token value>`. If you need anything else please feel to open a new issue. Thank you!

[2022-01-12 20:25] #2502 closed

[2022-01-13 01:10] two4zero opened #2504 "how to connect to Amazon Documentdb?"
**Please describe which feature you have a question about?**

My project(react client) requires mongodb. therefore..
How to connect to Amazon Documentdb using Amplify?

**Provide additional details**
amplify react client

**What AWS Services are you utilizing?**
Amazon Documentdb

**Provide additional details e.g. code snippets**

[2022-01-13 08:06] jayfry1077 commented on #2127
My site with 5 small pages and 1 hello world api took 17 minutes to build.

[2022-01-13 10:38] umerghori786 opened #2505 "how do i configure amazon aws email with webhooks"
Hi i am using aws amazon smtp for emails now i need to configure webhooks with my email service.. how i configure it.. my region is US East (N. Virginia)
us-east-1
Thanks

[2022-01-13 10:39] entest-hai commented on #2127
No excuse CloudFront, it should be much faster

[2022-01-13 10:41] umerghori786 commented on #2505
Thanks for answer! my region is US East (N. Virginia)
us-east-1 and i do not know my App ID where i get this

[2022-01-13 11:18] erikash commented on #2478
Hi @hloriana ,
Did you had a chance to look into this? were you able to reproduce the issue?

[2022-01-13 11:22] petrovi4 commented on #965
I have the same problem. Moreover, the domain is purchased from GoDaddy, the NS of the AWS server is configured there, and the correct CNAMEs are configured in AWS Route 53. I.e. all settings are done in Route 53 of AWS itself. And still I see this message about "The required CNAME records are not yet configured for the below subdomains"

[2022-01-13 11:38] szymon-lab commented on #2374
Hello 👋
I think I've ran into the same issue recently while deploying react app with face-api-js. The AI model files referenced in `face_recognition_model-weights_manifest.json` have no extension, therefore accessing `/model/face_recognition_model-shard1`  (with Amplify hosting) causes 403 errors. The problem however did not happen with S3 CloudFront hosting.
The problem can be solved by providing

[2022-01-13 12:18] Klinker195 opened #2506 "Can't delete app and back-end environment"
First of all, this is my first time using Amazon services. I've been trying to delete my Amplify app (which I had for testing purposes) from the AWS Console but I always get this error:

![a](https://user-images.githubusercontent.com/64706581/149328832-36a3bf02-645a-4640-a04a-b3056a306381.PNG)

What should I do?

APP ID: d3w0w82urvq6fg
Region: EU (Paris)

[2022-01-13 15:09] elizeire commented on #1221
I fixed by doing search and replace at cloudformation template files, and after I had to run
`amplify update api`

Following all steps but changing nothing, just confirming previous entries..

`amplify push`

done

[2022-01-13 15:13] hloriana commented on #2506
Hi @Klinker195  👋🏽 Try deleting your backend environment with this AWS CLI command : `aws amplify delete-backend-environment --app-id <YOUR_APP_ID> --environment-name <THE_BACKEND_ENVIRONMENT_NAME>`.

Then you should be able to go into the Amplify Console and delete the frontend.

[2022-01-13 15:13] #2506 closed

[2022-01-13 18:04] GiancarlosIO commented on #2475
@hloriana sorry for the late response.
Yes, looks like the problem only happens if I use a repository that belongs to a gitlab team.
My repository is within a sub team in gitlab:
[code]

[2022-01-13 18:45] hloriana commented on #2505
Hi @umerghori786, you can find your App ID by navigating to the AWS Amplify console, select the app, then choose **General** under **App settings**. The App ID can be found at the end of the arn like so:
`arn:aws:amplify:us-east-1:<aws-account -id>:apps/<app-id>`.

For clarification, are you asking how to setup email notifications for your Amplify app? Instructions can be found here: https://docs.

[2022-01-13 19:16] hloriana commented on #2504
Hi @two4zero 👋🏽, thanks for reaching out with this question! In short, you'll need to [create an AppSync API](https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/js/) and attach a Lambda resolver which will allow you to connect to Amazon DocumentDB. Here is a blog with a tutorial for how to do so: [Build a GraphQL API for Amazon DocumentDB (with MongoDB compatibility) using AWS AppS

[2022-01-13 19:30] #2484 closed

[2022-01-13 19:36] Narrator commented on #661
We have pushed a fix for this and should now be available in all regions. Please reopen this ticket if you are still seeing issues.

[2022-01-13 19:38] hloriana commented on #2503
Transferring to Studio repo for visibility.

[2022-01-13 19:41] hloriana commented on #2501
Hi @sh319941 👋🏽, thanks for raising this issue! I'm investigating this behavior and will report back once I've found the cause of this error.

[2022-01-13 20:57] KevynKelso commented on #1219
@JoelRummel You can also add your `resources` directory to the rewrites and redirects rule. For example: `"source": "</^[^.]+$|\.(?!(resources/*.pdf|css|pdf|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>"`

[2022-01-13 21:11] #661 closed

[2022-01-13 21:23] rpostulart commented on #2432
Yes that works, I get this error:

ERROR	Unhandled error during request: Error: ENOENT: no such file or directory, scandir './src/pages'
    at Object.readdirSync (fs.js:1047:3)
    at getServerSideProps (/var/task/pages/sitemap.xml.js:85:65)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)
    at async Object.renderToHTML (/var/task/chunks/19.js:53004:24)
    at async rende

[2022-01-13 23:05] SaileshKumar opened #2513 "Unable to deploy new builds, error in both hosting environment and backend environment"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-01-14 00:42] swaminator commented on #1690
@clintfoster @mnightingale @metadiego @ceefour we now support Node v14 in the build container by default.

[2022-01-14 00:42] #1690 closed

[2022-01-14 02:01] maxventer00 opened #2508 "Not authorized to perform AddCustomAttributes, but nothing changed, backend build failing"
Having a super weird bug with my build has introduced itself even though no code changes...

The backend build of my hosted app is failing.

In the logs can see that

UPDATE_FAILED               UserPool                                                       AWS::Cognito::UserPool
amplifyconsole-backend-role/BuildSession is not authorized to perform: cognito-idp:AddCustomAttributes on resource

I h

[2022-01-14 02:02] maxventer00 commented on #2508
UPDATE_FAILED               UserPool                                                       AWS::Cognito::UserPool     Fri Jan 14 2022 02:00:51 GMT+0000 (Coordinated Universal Time) User: arn:aws:sts::563698952256:assumed-role/amplifyconsole-backend-role/BuildSession is not authorized to perform: cognito-idp:AddCustomAttributes on resource: arn:aws:cognito-idp:ap-southeast-2:563698952256:userpool/a

[2022-01-14 02:06] #2508 closed

[2022-01-14 03:22] isaac-rosterlab opened #2509 "Getting userpool error with no changes to userpool (only graphql api)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-14 05:59] hassanabbasi commented on #44
+1

[2022-01-14 06:54] sf2288 commented on #1122
I have added CName earlier and then create NS records on AWS and added them to my Namecheap domain. But still, my Domain is still showing in "Activation" from the last 2 days.
![image](https://user-images.githubusercontent.com/18467042/149464415-957a6524-fb0a-4dad-b3ee-6375d8c1f292.png)

[2022-01-14 07:56] jericopulvera opened #2510 "Could not initialize 'prod': The specified bucket does not exist"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-14 08:01] julienlaurent-migso commented on #2502
Hi @hloriana,

Thank you very much, it works well !
(just before use the command I had to configure aws with my AWS Access Key ID & AWS Secret Access Key)
regards,

[2022-01-14 10:06] jericopulvera commented on #2510
Closing this issue. Fixed it by removing BACKEND_PULL_ONLY=true env.

Turns out that old builds have problems with the Amplify backend environment as well but it's still proceeding with the build now it no longer proceeds.

The app we're running is Next SSG but we cannot run it without an Amplify backend environment which we don't need.

[2022-01-14 10:06] #2510 closed

[2022-01-14 10:26] ivancsicsmarkus commented on #2127
Many applications need SSR with faster build times. Our build times are around 12 minutes. More than 60% of that is "Starting SSR Build...". We understand that Cloudfront and Lambda@Edge need some time to update but it could be faster for such tasks where only a small number of assets and functions have to be updated.

[2022-01-14 11:06] #2505 closed

[2022-01-14 12:03] umerghori786 opened #2511 "DomainKeys Identified Mail still pending"
Hi my region US East (N. Virginia) us-east-1... I made an identity of domain with this name mail.escuela-ray-bolivar-sosa.com..but my status is still pending how i change it to the "approved"
![image](https://user-images.githubusercontent.com/65702036/149512570-7dc30ba5-5ec0-407b-8333-667ca1ce2917.png)

i read documentation but i didnot understand it. kindly help
Thanks

[2022-01-14 12:11] callumthomson opened #2512 "Environment variables from SSM Parameter Store or Secrets Manager"
It seems currently the only way to set environment variables on an Amplify app is by providing a plaintext value. It would be really useful to provide them from Parameter Store or Secrets Manager. I have an app which requires private npm authentication during the build stage. Currently I have to provide the GitHub personal access token to Amplify as a plaintext value. I also have to remember to up

[2022-01-14 16:58] SaileshKumar commented on #2513
Fixed by downgrading the CLI

Locally: npm i @aws-amplify/cli@7.6.8

In Env Variables: _LIVE_UPDATES -> 7.6.8

I'll leave this open for you all to decide if close, or fix in 7.6.9 :)

[2022-01-14 18:19] palpatim opened #2514 "Required attributes reorder without input"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-15 15:58] cloudafrica-gh opened #2515 "Custom domain activation hangs for several hours, no error report"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-01-15 16:00] cloudafrica-gh commented on #2515
Yes, I have checked that and everything possible and re-tried adding it several times but to no avail.

[2022-01-16 10:31] cloudafrica-gh commented on #2515
It worked after several retries. Thanks.

[2022-01-16 10:31] #2515 closed

[2022-01-16 18:46] jayfry1077 commented on #14
Would also like this

[2022-01-16 20:40] uuykay commented on #991
For me to get client side routing to work, I had to do:

[code]

Note that the Gatsby docs tell you `Your server configuration should handle GET requests to /app/*`, and initially I had tried to do it with `app/*` but realised Amplify uses the `<>` brackets for interpolation.

https://www.gatsbyjs.com/docs/how-to/routing/client-only-routes-and-user-authentication/#configuring-and-handling-client-o

[2022-01-16 22:05] isaac-rosterlab commented on #2513
@SaileshKumar Thanks a lot. I have the same error. The same (temporary) solution worked. #2509

[2022-01-16 23:04] johnrusch opened #2516 "Content does not sync in Amplify Studio after creating item in Lambda"
**Please describe which feature you have a question about?**

Lambda Function

**Provide additional details**

In my amplify app I am using S3 storage, a lambda function, and a graphql api with conflict resolution turned on to use the DataStore (specifically .observe()).

The lambda is triggered by an object being created in my S3 bucket with a specific prefix. It processes the object and places i

[2022-01-17 02:32] raffclar commented on #2306
In my case the parameters.json file was nested inside `build` like so `amplify/backend/auth/appXXXXXX/build/parameters.json`. Moving the parameters.json up one level fixed the issue. I'd like to know what caused this but thanks for answer.

[2022-01-17 16:02] nshyam97 commented on #1883
@johnkavanagh Did you manage to find out how to fix this issue at all? I'm running into the same one trying to get a custom domain registered through 123 Reg to work

[2022-01-17 19:23] erikash commented on #2478
I was able to fix the issue, I've upgraded the CLI and `aws-amplfy` to the latest version and changed the Node version to 12 in the build settings.

[2022-01-17 19:23] #2478 closed

[2022-01-17 20:23] gmicek commented on #2513
I'm hitting this too. The workaround here from @SaileshKumar worked for us.
Steps:
* In Amplify, go to Environment Variables
* Modify or set "_LIVE_UPDATES". For us, it originall looked like this:
[code]
* We changed it to:
[code]

This workaround worked for us. We'll plan to change it later back to latest.

[2022-01-17 21:51] incraigulous commented on #2268
I'm having this issue as well. Revalidation works for nonstatic paths, but not for paths defined with getStaticPaths. I do have my next version set to `latest`. Is anyone except me still having this issue?

[2022-01-18 01:53] chrisdelambert opened #2517 "SSL certificate for subdomain only."
**Please describe which feature you have a question about?**
We have an Angular app hosted on Amplify. I'll use example domains to explain my problem.

Under domain management in the Amplify console I have added custom domain "ambulance.com", and added "sub.ambulance.com" as a subdomain, the subdomain points to the environment the app is hosted on. "ambulance.com" is hosted with another provider.

[2022-01-18 06:37] michaelcuneo commented on #2442
@hloriana I have replied to your email in our correspondence three times now and have not heard anything back. This is an urgent matter.

[2022-01-18 08:38] newilu opened #2518 "503 issues on every api route with Nextjs 11"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-18 08:53] newilu commented on #2306
wel if someone still having this issue - i've tried to recreate whole app (amplify, cognito, api (appsync)) and that helped me) enjoy)

[2022-01-18 08:53] #2306 closed

[2022-01-18 08:58] MichalBunkowski commented on #2343
Any updates?

[2022-01-18 09:18] anastasiyamazheika commented on #2488
Hello!
Any estimations of when this issue will be fixed?
Thanks for your help!

[2022-01-18 12:55] shubham-mudotiya commented on #103
what is the status of this feature? is it released?

[2022-01-18 13:41] Develliot opened #2519 "Amplify Frontend only App Preview Deploys don't work when repo is public"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-18 14:27] dottodot commented on #92
I'm finding this a bit confusing as to what the correct setup is for Nextjs ISR.

With no custom headers and performance mode off there seems to be no caching and load times are slower 1.2s, ISR works though.
With no custom headers and performance mode on caching seems to work and load times are down to 100ms but the ISR never regenerates the page.

[2022-01-18 14:42] manuarora700 commented on #2518
I'm able to create an account and get a `200` response from Cognito by exactly following the steps mentioned by you.

[2022-01-18 15:18] jrcryer opened #2520 "Framework not automatically detected and deployment is failing"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-18 19:03] hloriana commented on #2516
Hi @johnrusch 👋🏽, thanks for raising this! I'm transferring this to the Studio team since this behavior is happening in Amplify Studio.

[2022-01-18 19:06] hloriana commented on #2514
Hi @palpatim 👋🏽 thank you for highlighting this and for providing a video! I'm transferring this to the Amplify Studio team for visibility.

[2022-01-18 19:41] ganipcanot commented on #2455
This has been deployed to all waves.  Please re-open if you are still having issues.

[2022-01-18 19:41] #2455 closed

[2022-01-19 03:10] PwnCNC opened #2521 "Updated Amplify CLI now backend won't build"
**Please describe which feature you have a question about?**
Updated amplify cli locally pushed and now the backend will not build.

**Provide additional details**
Clearly the build server needs to have its amplify cli updated to understand what "project" parameter is.. but how do i do that?
There are no options in the console nor in the Amplify Studio that i can find to make this happen.
Terribly

[2022-01-19 04:10] PwnCNC commented on #2521
Found the solution... in the web console... app settings -> build settings -> edit build image settings -> add package version override -> Amplify CLI
after specifying latest here... rebuilt code and works like a charm.

[2022-01-19 04:10] #2521 closed

[2022-01-19 07:05] aryan1107 opened #2522 "Build fails online due to newer version of Amplify cli"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-19 10:39] newilu commented on #2518
well, i said about /api routes man, not cognito requests)

[2022-01-19 11:34] #2358 closed

[2022-01-19 16:54] sohammondal opened #2523 "Next SSR App was successfully built & deployed, but no resources were created"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-19 21:07] Narrator opened #2524 "404 rewrite not working for SPAs like React"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-20 05:39] Weetbix opened #2525 "Pattern matching change in customHttp file"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-20 10:49] calexandru commented on #2343
Any updates on this?

[2022-01-20 10:52] Develliot commented on #2519
potential regression from #856

[2022-01-20 12:27] anastasiyamazheika commented on #469
Any updates on this?

[2022-01-20 15:10] kjetilge opened #2526 "What username / password to use when logging in to Amplify Studio ?"
**Please describe which feature you have a question about?**
Amplify Studio

When I try to pull my backend via cli like this:
[code]

I'm presented with the Amplify Studio login in a browser.
I've tried using various IAM user's I've made (With admin permission) and my root account user, but none of these work.

So, how do I log in to Amplify Studio ?

[2022-01-20 16:30] hloriana commented on #2526
Hi @kjetilge 👋🏽 thanks for reaching out for assistance. You can login to the AWS Amplify console and navigate to the **Amplify Studio settings** under the app you want to access. In the **Access control**  panel, select **Invite Users**. You'll be able to create a user that can login to the Amplify Studio.

[2022-01-20 17:22] jacobsapps commented on #977
I'm bumping this because I have the same problem and the proposed solutions didn't work.

Questions:
- What am I supposed to have in domain management? I currently have https://www.domain.com and www.domain.com both pointing at my main branch without redirects. When I try to add the redirect to the naked domain alone, it still doesn't work.
- Is it supposed to take a while for the redirect rules t

[2022-01-20 17:29] jacobsapps opened #2527 "Redirects from your root domain to www does not work"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-01-20 17:42] IvanCaceres commented on #2521
@PwnCNC Your solution worked for me as well. Thanks a ton!

[2022-01-20 17:44] investorkraft opened #2528 "I cannot attach my domain with amplify"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-01-20 18:25] hloriana commented on #2442
@michaelcuneo You should have received an email with the necessary information. I will be reaching back out via e-mail to confirm.

[2022-01-20 18:47] subaruMax opened #2529 "AWS amplify not reflecting changes in code"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-20 18:57] hloriana commented on #2511
Hi @umerghori786 👋🏽 , thanks for reaching out. Please review this troubleshooting guide for DKIM issues: https://docs.aws.amazon.com/ses/latest/dg/troubleshoot-dkim.html. If you need further assistance please [create a Support Case](https://docs.aws.amazon.com/awssupport/latest/user/case-management.html#creating-a-support-case) so that you can receive better assistance since this GitHub repository

[2022-01-20 18:57] #2511 closed

[2022-01-20 19:20] mai1015 opened #2530 "Next.js Slow Response With GetServerSideProps"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-20 21:02] jayKayEss opened #2531 "Backend branches are not auto-disconnected"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-21 01:39] skrg-kotani opened #2532 "Next.js Preview mode doesn't correct work on AWS Amplify"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-01-21 09:04] newilu commented on #2518
also i noticed that this only appears on routes that works with dynamodb

[2022-01-21 09:23] subaruMax commented on #2529
The issue is in deploy step, successfully deploy example
![image](https://user-images.githubusercontent.com/64718566/150500998-4914e016-8cf4-4f79-807e-fcc6e492a216.png)

And this how deploy step looks now
![image](https://user-images.githubusercontent.com/64718566/150501407-0d85129c-aa7b-43d2-afdc-8513b03b53ec.png)

[2022-01-21 13:10] kjetilge commented on #2526
Thanks! 😃

[2022-01-21 13:13] PanadeEdu commented on #974
How is this closed?
I just encountered this exact problem and are now left with lots of orphanized services.

[2022-01-21 14:46] AlexKomm commented on #2281
Same problem here. Patterns are not working in Next.js SSR App. I think it's a critical issue that has to be solved. @ferdingler , do you have any updates regarding this? A lot of people are experiencing this issue

[2022-01-21 17:34] nathanthorpe commented on #2478
I'm getting this same issue with my build. It runs fine locally but not on the amplify build system.

I'm running on amplify-cli version `7.6.11` and node version `14.18.1` on both systems.

Any ideas? I am on the latest cli version.

Here is the build output similar to the other case:

[code]

[2022-01-21 17:40] drmzio commented on #2343
Updates on this? @swaminator

[2022-01-21 19:00] yauri-io commented on #2127
I'm having the same issue. I'm looking for a different provider for hosting my NextJS project (SSR).
The build time on Amplify is too long, and I experienced 2 times stuck on build process, I just cancelled it.

[2022-01-21 19:32] #2504 closed

[2022-01-22 01:37] hloriana commented on #2488
Hi @anastasiyamazheika 👋🏽 I wasn't able to reproduce this same exact behavior but I produced something similar. I was able to get the CI to fail automatically when tests fail by using the `pm2` package. This package is also used by default when implementing Cypress tests as noted in the docs: https://docs.aws.amazon.com/amplify/latest/userguide/running-tests.html. You should be able to fix this be

[2022-01-22 02:07] hloriana commented on #2489
Hi @SantoshRaoMea, glad to see you were able to find a workaround and thank you for providing feedback on the logging process. If you run into this issue again feel free to reopen this.

[2022-01-22 02:07] #2489 closed

[2022-01-22 02:14] hloriana commented on #2492
Hi @SteeveGL, can you provide the App ID and region your app is deployed in so we can further investigate?

[2022-01-22 03:42] trevorkirchnerID opened #2533 "Can't get data to return on App screen from GraphQL query"
**Please describe which feature you have a question about?**
Amplify

**Provide additional details**
I am trying to run a simple query from my Aurora DB. I am confident that there are not authorization/access issues as I am an admin. I have dummy data loaded in the DB and I am trying to run the query I have in the screenshot. It returns in the network console but does not render on the screen. I h

[2022-01-22 04:05] lack-of-gravitas commented on #2098
Same issue with next-auth

[2022-01-22 12:31] subaruMax commented on #2529
After conversation with AWS premium support, looks like issue is due to some of the AWS access keys got exposed / compromised and account was blocked, which is causing above problem. I will revert with results later, just in case someone will face the same problem.

[2022-01-22 14:41] trevorkirchnerID commented on #2533
import awsExports from "./aws-exports";
import "./styles.css";
import '@aws-amplify/ui-react/styles.css';
import React, { useEffect, useState, Component } from 'react'
import Amplify, { API, query, graphqlOperation, signInButtonContent } from 'aws-amplify'
import awsconfig from './aws-exports';

Amplify.configure(awsconfig);
Amplify.configure(awsExports);

const USERSql = `
query getUSERS {
  getU

[2022-01-22 14:42] trevorkirchnerID commented on #2533
`import awsExports from "./aws-exports";
import "./styles.css";
import '@aws-amplify/ui-react/styles.css';
import React, { useEffect, useState, Component } from 'react'
import Amplify, { API, query, graphqlOperation, signInButtonContent } from 'aws-amplify'
import awsconfig from './aws-exports';

Amplify.configure(awsconfig);
Amplify.configure(awsExports);

const USERSql = `
query getUSERS {
  get

[2022-01-22 17:30] batelhi commented on #2509
Hello,
Im having the same issue:

2022-01-22T17:22:05.098Z [INFO]: Following resources failed
                                 Resource Name: *** (AWS::Cognito::UserPool)
                                 Event Type: update
                                 Reason: Updates are not allowed for property - UsernameConfiguration. (Service: AWSCognitoIdentityProvider; Status Code: 400; Error Code: Invali

[2022-01-22 18:17] batelhi commented on #2513
Im having a build  error in amplify console:

2022-01-22T18:11:20.439Z [INFO]: Following resources failed
2022-01-22T18:11:20.440Z [INFO]: Resource Name: eu-west-1 *** (AWS::Cognito::UserPool)
                                 Event Type: update
                                 Reason: Updates are not allowed for property - UsernameConfiguration. (Service: AWSCognitoIdentityProvider; Status Code: 4

[2022-01-22 18:37] shaderbytes opened #2534 "amplify broke everything in my project"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-22 20:25] shaderbytes commented on #2534
i deleted everything amazon in the project and started over because every single thing was broken from trying to fix your rubbish of build fails for a file you generate and then dont upload and then expect server ninja skills from us to work around this .. and then it doesnt work anyway. Guess what .. im just going to upload aws-export now .. bliss

[2022-01-22 22:54] lijameshao commented on #2527
+1 I've got a custom domain and have already [migrated DNS to Route53](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/MigratingDNS.html), had the redirect rules set

The problem I face however is DNS_PROBE_FINISHED_NXDOMAIN not timeout

dig +trace shows
......
abcdomain.com.	10800	IN	NS	ns-670.awsdns-19.net.
abcdomain.com.	10800	IN	NS	ns-1927.awsdns-48.co.uk.
abcdomain.com.	10800	IN	NS

[2022-01-22 23:12] lijameshao commented on #2527
Never mind found a way around and got it working 🤣
1. Manually create an A record, tick Alias, Route traffic to "Alias to CloudFront distribution"
2. When clicking the drop down, it didn't show any options so I just manually entered the xxxxxxxxx.cloudfront.net from AWS Amplify Console, Domain management, Actions, View DNS record

![Screenshot 2022-01-22 at 23 10 37](https://user-images.githubuser

[2022-01-23 01:50] scolestock commented on #2524
Would love to see this issu resolved - we're dealing with this exact situation.

[2022-01-23 20:04] markhulia commented on #1416
Any updates here? I'm facing the same issue

[2022-01-23 21:48] hajilekwah commented on #2521
Thanks, @PwnCNC! Would have been the last place I would have looked intuitively to solve that. I just finished this tutorial:

- https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/

And as tutorials are wont to do, got a little bit stale.

My issue looked like this:
[code]

I had the same `project` issue in addition to some `graphQL` related configurations that were de

[2022-01-24 02:10] kevinpowe opened #2535 "Domain appears connected to old/lost Amplify configuration"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-01-24 09:25] jacobsapps commented on #2527
I have the domain and DNS set up in GoDaddy - I'm not sure I have access to those features. Have you got any ideas?

[2022-01-24 09:46] lijameshao commented on #2527
I had a domain on GoDaddy too and unfortunately gave up trying to get it working there, so instead [migrated the DNS to Route53](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/MigratingDNS.html)

In your case, the question is how does your GoDadddy record know what's the IP of your AWS cloudfront is if it's not static, assuming that you don't currently have your IP dynamically mapped?
A