[2020-12-10 17:52] hsspain commented on #1357
@contractorwolf Thank you for this feedback. We will look into this specific scenario and update where necessary.

[2020-12-10 18:22] akshbhu commented on #1357
Hi @contractorwolf

Thanks for reporting it.

When asked this question in CLI workflow:
[code]

Did you selected the   "Hourly": "rate(24 hours)" when it failed for you or you selected an option for Custom AWS cron expression?. The latter option enables you to write your own cron expression.

AFAIK "CloudWatchRule": "rate(24 hours)" is a valid Schedule Expression.

[2020-12-10 18:54] masapasa commented on #1349
@ericclemmons I am trying to deploy this https://github.com/jkahn117/aws-news/blob/master/amplify.yml
The first deployment works. Then `amplify env pull` and change something and `git push` then amplify builds both backend and frontend automatically. Then I get this error

[2020-12-10 19:05] slingle opened #1361 "Cannot delete orphaned app (arn:aws:amplify:us-east-2:185474005990:apps/di7uniydin0nj)"
**Describe the bug**
Am unable to delete app after deleting stack from CloudFormation

**To Reproduce**
Steps to reproduce the behavior:
1. Create app with backend (i.e "dev")
2. Delete environment's stack manually from CloudFormation console
3. Attempt to delete app from Amplify console using Action > Delete App
4. Deletion failed with message "Removing backend envs for app di7uniydin0nj failed"

[2020-12-10 19:10] abhi7cr commented on #1333
@kjones, we have updated our build image with the following changes (_including adding dotnet_ support):

- dotnet-host-3.1.4
- dotnet-sdk-3.1
- Amazon.Lambda.Tools (_dotnet amazon tools_)
- Amazon.Lambda.TestTool-3.1 (_dotnet amazon tools_)
- python3.8
- node v12 as the default
- amplify 4.29.4
- hugo 0.75.1

Let me know if you are able to build your project.

[2020-12-10 20:15] kjones commented on #1333
Looks good.
- Removed the 4.32.1 CLI peg
- Removed the .NET install

[2020-12-10 20:15] #1333 closed

[2020-12-10 20:25] contractorwolf opened #1362 "Show the Tail (latest) of the function logs in the AWS Amplify console instead of the Head (earliest) of the function logs"
**Is your feature request related to a problem? Please describe.**
It would be more helpful when looking in the AWS Amplify console at the functions list for my project to see the LATEST logs instead of the initial logs as now seen.  Here is what I am currently seeing for my project:

![image](https://user-images.githubusercontent.com/4690960/101825133-35dfe500-3afb-11eb-8d0d-061956eda1e3.png)

**

[2020-12-10 20:57] contractorwolf commented on #1357
I did NOT do a custom cron, I thought I chose "hourly" and then a rate of 24

[2020-12-10 20:57] contractorwolf commented on #1357
I am going to close this issue since it is now working

[2020-12-10 20:57] #1357 closed

[2020-12-10 21:03] contractorwolf opened #1363 "[QUUESTION] can I update the CLI without making changes to the project"
** Please describe which feature you have a question about? **
This is probably a dumb question, but I just want to update the CLI and dont want to break my current project. Thx

[2020-12-10 23:17] hsspain commented on #1329
@benwainwright @SSAT Can I get your app ID and region? Also are there any other errors in information in your logs to help further debug this issue?

[2020-12-10 23:40] hsspain commented on #1362
@contractorwolf Thank you for the feedback.  We will add this to our list of feature requests to prioritize.

[2020-12-11 00:08] hsspain commented on #1321
@smajhi If you hare having issue with domain activation, one step to try would be to click the "Retry" button.  Another would be to remove the domain and try re-adding it.

Is there a specific error message that the UI shows?

[2020-12-11 01:07] UniLu419 commented on #1042
Same issue here. As I found by adding fetch breakpoint(url contains gitlab), the url sent to gitlab is using number 1 as projectid in the url and that's the reason why it is returning 404

[2020-12-11 06:12] contractorwolf commented on #1362
Seems like it would be an easy change. Plus it would remove the shame of having to see the logs of my initial mistakes from when the project first started, everytime I went there :)

[2020-12-11 09:13] benwainwright commented on #1329
@hsspain I'm going to be honest; the Amplify development experience has been so awful over the last few months that I took the decision to rip it out of my application shortly after I posted this issue and I'm now using the CDK for everything. So I'm going to close this issue.

[2020-12-11 10:20] #1329 closed

[2020-12-11 17:19] lebull opened #1364 "Cannot select a backend environment when connecting a branch"
**Describe the bug**
I currently have a dev and prod backend environment set up with the admin ui enabled.  However, I have absolutely no way of connecting frontend environments to backend.  Either there is a bug somewhere or the documentation is out of date.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to connect a branch?

**Expected behavior**
According to the documentation,

`

[2020-12-11 18:36] swaminator commented on #893
@redixhumayun we had an issue at our end that was resolved. Closing this out. Please re-open if you have an issue.

[2020-12-11 18:36] #893 closed

[2020-12-11 18:37] swaminator commented on #1160
@abhishek-sapient the logs will show test artifacts being deployed, but your deployment should work fine now.

[2020-12-11 19:12] litwicki commented on #1285
@jeyashankher we've updated this with the latest 4.39.0 release of Amplify CLI. Please let us know if you experience any other issues.

[2020-12-11 19:12] #1285 closed

[2020-12-11 20:23] #1364 closed

[2020-12-11 20:50] swaminator commented on #1361
@slingle can you try again?

[2020-12-11 20:56] lebull opened #1365 "Failed to compile with admin ui generated backend, unable to reproduce locally"
[code]

Build yml

[code]

I am unable to reproduce this behavior locally (checked on multiple windows machines).  Works locally.

[code]

The same project builds and deploys fine without referencing the backend that I am trying to manage with the admin ui.  Here is the addition in my source, all pulled from the admin ui and untouched from there.

https://github.com/lebull/PhasmophobiaQuickGrid/co

[2020-12-11 20:58] swaminator commented on #1365
@lebull: What's in your build settings?

[2020-12-11 21:01] lebull commented on #1365
Sorry, added that to the original comment.

[code]

[2020-12-11 22:09] swaminator commented on #1365
Update hthe build settings to add: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#frontend-with-backend

[2020-12-11 22:19] Athena96 commented on #1272
Hi @iuyt9003 currently Amplify only displays a max of 10 backend environments.
We are updating this to display all backend environments. I'll follow up once that change is deployed. Can you share your appId if possible, so I can notify you when we deploy to your region. Thank you

[2020-12-11 22:44] hsspain commented on #1359
@ayotise The fix for this issue has been identified and is currently being rolled out to all regions.  We will update this thread as the roll out completes.

[2020-12-11 23:55] lebull commented on #1365
That resolved it, thanks for your time.

[2020-12-11 23:55] #1365 closed

[2020-12-12 07:00] prasoonr opened #1366 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d2j0g02g4ygg3i
**Region**: ap-south-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**

It has been quite a time but we are still getting this message while setting up a domain for Amplify app :

**We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain. If this takes longer than 8 hours, please create an issue in our Gi

[2020-12-12 13:43] andre-scheffer commented on #1157
Are there any updates? Are there any updates? In my case, the app gets stuck on deployment after a long time in the test section.

I use the same boilerplate.

@tomhirschfeld: Perhaps you have found another solution in the meantime?

[2020-12-12 16:51] kldeb opened #1367 "Conditional front end and back end builds"
**Is your feature request related to a problem? Please describe.**
Wasting time and resources building back end when there are no changes to the back end, only front end and vice versa.

**Describe the solution you'd like**
Ability to check the commits file changes for a directory and decide based on results which build to run.

For example, using create react app. If all the changes are in the sr

[2020-12-12 19:16] simpian opened #1368 "Amplifypush gives Error: Missing required dependencies to package"
**Describe the bug**
Build works fine when i initialize the project, like no backend lambda functions, but as soon as add just one example lambda function, build starts failing. I'm able to do an amplify push on my local and backend can be deployed from local, but when i do a git push, and trigger the build, i get build failure, here is the log

**To Reproduce**
my lambda functions are written in

[2020-12-12 22:06] Haga14 opened #1373 "App not in Console"
**Describe the bug**

I created a Vue Amplify project a few months ago and I just published it a few days ago. The app publishes fine and every thing works perfectly at the web address provided by the Amplify CLI. However, the app isn't listed in the Amplify console and when I run amplify console the address console takes me to doesn't include the app region. When the amplify console opens it thro

[2020-12-13 00:28] rewardle-jason opened #1369 "Amplify Publish fails with no useful information"
**Describe the bug**

Attempting to run amplify publish on an already published amplify project.  The project it built successfully and the artifacts zipped completed all ok.  But the deploy fails with the following message:

✖ Deployment failed! Please report an issue on the Amplify Console GitHub issue tracker at https://github.com/aws-amplify/amplify-console/issues.
An error occurred during the

[2020-12-13 01:02] rewardle-jason commented on #1369
ok turned out to be a simple fix but more helpful error message would help.

I had not run the following command on my new machine.
`amplify configure project`

 I just checked out the code from git and just tried to publish.

In this process I updated the aws profile settings.  Initially I had no config or credentials file in my ~/.aws folder.

A simple check for this before publish might help av

[2020-12-13 05:13] ehcloninger opened #1370 "Domain activation is Failed - Amplify fails in the domain activation stage."
**App Id**: d3qu1a8apcj4sd
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Amplify fails in the domain activation stage.

**Error message**

One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**

The domain is registered in Route53. When I started the domain management task, there were 3 entries

[2020-12-13 05:36] khelawan opened #1371 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2rvnbbpk8cw8c
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
not able to activate domain, even after changing the name servers on godaddy.

**Error message**
domain activation failed

**Additional information**
Please add any other relevant information. Please feel free to include screenshots.

[2020-12-13 10:31] JakeVz commented on #357
https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html

This solution worked for me -- I needed to create and add a Service Role

[2020-12-13 10:41] divyavanmahajan commented on #1029
My workaround - was to skip this feature and create custom build scripts and a conditional environment variable to select the custom build script. Clunky workaround, but AWS has this feature as a low priority.

[2020-12-13 13:27] andre-scheffer commented on #595
@litwicki the current version of the build image is still 3.7.9:

![image](https://user-images.githubusercontent.com/48789566/102013253-2e187e80-3d4f-11eb-944b-cc3b23b3647a.png)

Since I am not a contributor I'm not able to reopen this issue.

[2020-12-13 15:08] lebull commented on #357
Tbe issue for me was resolved by not using amplify-cli version 4.38.x.

[2020-12-13 19:59] dattnguyen opened #1372 "Connecting Amplify backend to database hosted on AWS RDS - Oracle engine"
I'm trying to connect the backend of an app deployed on Amply to the database hosted on AWS RDS with this end-point (cis550proj.cfot25rjb5mg.us-east-1.rds.amazonaws.com/jeopardy). I can't seem to find a guide on how to do that. I'd appreciate some guidance!

App ARN
arn:aws:amplify:us-east-2:013572940482:apps/d2wl5rf10nvk8w

[2020-12-14 11:28] kevin-verschaeve commented on #1271
Thanks for the workaround !

We also have the same issue after importing auth.

However, even the environment variables added into the custom script were not available for us, so we needed to add them manually (either in the amplify.yml build file, or in the amplify console).

[2020-12-14 14:56] arealmaas commented on #501
@cslogan-red  This is what's needed to make the amplifyPush use the correct NPM_TOKEN to install packages for lambdas? Doesn't seem to work on our end.. Added the NPM_TOKEN as an environment variable and added the prebuild content as you said.

amplify version: 4.36.2

The amplify.yml file:
[code]

[2020-12-14 16:03] arealmaas commented on #501
Seems like i have to add it for each function 🤔

[2020-12-14 18:55] maczamora opened #1374 "Domain activation is Failed - Issues Registering a Domain Name with Third Party"
**App Id**: d23hqgatm5w7hr
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I've attempted to register three different domain name with the following format dev.***.***.com = dev environment, staging.***.***.com staging environment and transfer.***.com = prod each mapping to a particular environment to keep releases simple.

The first domain name for dev wor

[2020-12-15 01:09] tparigi opened #1375 "Domain activation is Failed"
**App Id**: d1zzhxo7z7xvoc
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

I'm trying to activate a domain (swimfire.com) from a recently transferred domain that was at GoDaddy and is now at Route53.  I only have the www subdomain.  It fails at Domain Activation after SSL has been configured.

[2020-12-15 06:47] amaan-nadeem opened #1376 "Build minutes issue"
We have a site having 5k plus pages aws amplify build is failing after 30 minutes even after increasing the build minutes from build setting to 300 minutes. What's the possible solution for it ?

[2020-12-15 09:45] armonge commented on #595
After the new image update i got my python builds working with

[code]

That produces the following output

[code]

[2020-12-15 10:23] dreazz opened #1377 "SSL configuration is Running - [SSL configuration is tacking more than 8 hours]"
**App Id**: d1a07jr5fzohbu
**Region**: eu-central-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-12-15 12:36] martinriafy opened #1378 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1lxf1wbkd51eu
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Not able to activate the domain

**Error message**
Activation failed/ Screenshot attaching with the case

**Additional information**
It was pointed to cloud front distribution and was a s3 hosting . we have moved the hosting to amplify. While adding the custom domain I am getting thi

[2020-12-15 13:49] half2me opened #1379 "Invalid S3 key when using pipelineFunction resolvers"
**Describe the bug**

I wrote a transformer to create a pipeline resolver via a GraphQL directive. I recently made a change to use the default amplify behaviour of storing pipeline function resolvers inside the `pipelineFunctions` directory, exactly like the `@function` directive does. This works fine when pushing from my dev machine with `amplify push`. However, the automatic deployment I have se

[2020-12-15 16:50] Santhosh222 opened #1380 "Deploy gets stuck issue"
I am trying to deploy the strapi application using AWS Amplify. The deploy is getting struck after the command "npm start". In logs after this line "/bin/sh: hostname: command not found", the deploy is getting struck.

**App Details**:
**App Id**: arn:aws:amplify:us-east-1:190647250537:apps/dt801vbzq7wqs
PFA the build settings YML file and log file in zip file.

[Archive.zip](https://github.com/aw

[2020-12-15 17:13] stleon commented on #1359
The same bug, do you have any updates?

[2020-12-15 19:49] litwicki commented on #595
@andre-scheffer is https://github.com/aws-amplify/amplify-console/issues/595#issuecomment-745174724 an option for you?

[2020-12-15 20:28] extheory commented on #1380
Deploys are hanging for me too

[2020-12-15 22:40] garyleefight commented on #1368
Can you provide your appId and region? What is the amplify cli version you used in AWS Amplify Console?

[2020-12-15 23:14] hsspain commented on #1359
To resolve this error please add the following variables to your environment variables in your build:

AMPLIFY_STORAGE_BUCKET_NAME
AMPLIFY_STORAGE_REGION

These values should correlate to the bucket name and region for your imported storage.

This documentation will guide you to the right page to add these settings:

https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html

[2020-12-15 23:41] kaustavghosh06 commented on #1373
@Haga14 Do you know when you'd created this app using the CLI? Was it prior to 2019 December? Also, if you go to Amplify Console in the correct region to which the CLI project is deployed, do you see the app listed? You can find the deployed region locally in your `amplify/backend/amplify-meta.json` file.

[2020-12-16 00:08] abepuentes commented on #1180
Hi, all.
Same error here, but it didn't happend at build time, just in regular dev mode. Second day trying amplify, yesterday with Admin UI and today using amplify console. I  was following [https://github.com/dabit3/next.js-amplify-workshop/](this) tutorial, but it happend when I was doing Tailwind styling.

OS: Windows 10.
RAM: 32GB
Editor: VSCode
APP: Nextjs, TailwindCSS
Node 14LTS

<--- Last f

[2020-12-16 02:12] simpian commented on #1368
appid: dmby4dyvtonmc
region: us-east-1

[2020-12-16 03:41] SFaraji commented on #1042
@abhi7cr @Athena96 @arturocanalda @abhi7cr @UniLu419, I have contacted AWS tech support and they finally found the issue which is causing if there is a number at the start of the group/username URL (e.g. 1abc should be abc) otherwise Amplify will take the number as the projectId.

[2020-12-16 04:53] abhi7cr commented on #1042
Yup @SFaraji that’s correct. We had an issue with the way we parsed the repository namespace(_username/response_ _groupname/reponame_) when it starts with a number. We have a fix ready, and will update this thread once it’s deployed 🙂

[2020-12-16 05:54] abhutraxo commented on #469
This is must have feature

[2020-12-16 09:21] FelixRe0 commented on #288
You need to grant org access to OAuth Apps:
(Sorry for the ugly writing)

![image](https://user-images.githubusercontent.com/26309964/102328834-dfa1f480-3f87-11eb-8ece-002cc0b78261.png)
![image](https://user-images.githubusercontent.com/26309964/102328990-16780a80-3f88-11eb-902f-8a9abcf9d4ce.png)

Also you might need to delete old webhooks from the repository.

[2020-12-16 10:11] Jupdi commented on #288
Well i now did it a really easy way. You just need to delete all your frontend enviroments. Then you can change the Repo and add them again with the existing backend.

[2020-12-16 14:47] satyadeepk commented on #1170
@kahdojay Is there any workaround for setting cache control header?
Is there any default cache behaviour we can enforce in the meanwhile?

We are seeing max-age=0 in all requests which means Amplify is pretty much useless as caching and instant cache-invalidation is the main usecase for many of us.

[2020-12-16 14:51] ayotise commented on #1359
Works fine after adding the environment variables! Thank you so much!

[2020-12-16 14:51] #1359 closed

[2020-12-16 15:50] Haga14 commented on #1373
No, it doesn't appear in the region listed in the file you mentioned here.

I created the project around September/October 2020

[2020-12-16 17:21] rlele10 opened #1381 "SSL configuration is Running - [More than 8 hours]"
**App Id**: d19lms38rip60s
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
Application is stuck in SSL configuration for more than 8 hours. we are using google domain to host our application and CNS records has been updated and verified at google side.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the m

[2020-12-16 22:07] Preejith-Ponneth-Bose opened #1382 "Domain activation is Failed - [Remove domain from one app and add to another one]"
**App Id**: d1m62pook84kga
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Trying to update the domain
A clear and concise description of what the issue/question is.

**Error message**
Error message: One or more aliases specified for the distribution includes an incorrectly configured DNS record that points to another CloudFront distribution. You must updat

[2020-12-17 00:15] #1382 closed

[2020-12-17 01:25] axelson commented on #1009
Is there a guide to using ECR with Amplify? https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html doesn't contain any information on using an ECR-based image.

[2020-12-17 03:21] ngohaihue123 opened #1383 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d22t011f1ui35s
**Region**: ap-southeast-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Pleas

[2020-12-17 11:02] ngohaihue123 opened #1384 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d22t011f1ui35s
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-12-17 12:13] wesleylathan opened #1385 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d27c5km5cfkivl
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
The status is stuck at SSL Configuration

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel free to include scre

[2020-12-17 12:35] #1385 closed

[2020-12-17 15:53] jmredondo opened #1386 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d1qadzsunwtmml
**Region**: eu-west-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
Unable to pass the second step. Seems that it keeps stuck on the second steps, trying to verify the domain ownership.

**Error message**
Just keeps stuck on that step:
We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain. If this tak

[2020-12-17 17:03] swaminator commented on #1373
@Haga14 can you send the appId located in in amplify/backend/amplify-meta.json or amplify/team-provider-info.json

[2020-12-17 17:05] kaustavghosh06 commented on #1373
<img width="880" alt="Screen Shot 2020-12-17 at 9 04 33 AM" src="https://user-images.githubusercontent.com/7247658/102519119-f22f3300-4046-11eb-9fe9-515d049442ad.png">
The amplify-meta.json would look like the above and the AmplifyAppId is the appId which we're requesting for. If you observe it also has 'Region'.

[2020-12-17 17:09] Haga14 commented on #1373
Yes, I already sent it to Rene Brandel on discord.

I can send it privately again if you can provide me with an email though

[2020-12-17 17:21] #1328 closed

[2020-12-17 22:34] davad commented on #755
@bigdave I haven't tried this, but I expect you can add git-lfs to the environment yoursefl using a [custom build image](https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html)

[2020-12-18 02:38] harenadata commented on #1343
did the syntax for the amplify.yml change?  I deleted it and added the default and now it works again:

diff --git a/amplify.yml b/amplify.yml
index 7cd392f..36fab73 100644
--- a/amplify.yml
+++ b/amplify.yml
@@ -1,17 +1,16 @@
 version: 1
-applications:
-  - frontend:
-      phases:
-        build:
-          commands:
-            - echo build
-            - yarn install --frozen-lockfile
-

[2020-12-18 06:16] lijingshanxi opened #1387 "Amplify Stuck at Deploy Step ("Updating edge config")"
My amplify has been running ok, but when I add test stage, deploy will get stuck, the last log is: "Updating Edge config";
Is the artifacts file too large due to add the test phase;
My region is "eu-central-1";
![image](https://user-images.githubusercontent.com/13703027/102581379-65b26c80-413b-11eb-95fa-8459aaa19e70.png)
![image](https://user-images.githubusercontent.com/13703027/102581413-7b27968

[2020-12-18 07:49] jieliu218 opened #1388 "Publish nextjs failed"
**Describe the bug**
➜  nextjs git:(master) ✗ amplify publish
✔ Successfully pulled backend environment staging from the cloud.

Current Environment: staging

| Category | Resource name  | Operation | Provider plugin   |
| -------- | -------------- | --------- | ----------------- |
| Auth     | amplifytestjie | No Change | awscloudformation |
| Api      | amplifytestjie | No Change | awscloudforma

[2020-12-18 08:35] stenfalp commented on #828
I have the same problem with CodeCommit. I have full access to my CodeCommit repository from my PC, but the Amplify Console is unable to pull the repository even using a user with AdministratorAccess.

[2020-12-18 10:17] robinsalman opened #1389 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2xe2rp7tdexct
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-12-18 10:58] robinsalman opened #1390 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2xe2rp7tdexct
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-12-18 11:04] sarabs3 opened #1391 "Import Auth in Amplify project"
**Describe the bug**
I am trying to run `amplify import auth` command to select an already created user pool which is working fine on local but the build is failing on the server.

**To Reproduce**
Steps to reproduce the behavior:

1. `amplify import auth`  To import a user pool
2. `amplify push` to push your changes
3. See error in build

**Expected behavior**
Build should pass as it is working o

[2020-12-18 11:11] #1389 closed

[2020-12-18 12:14] Santhosh222 commented on #1380
Just want to know, what is causing this error "/bin/sh: hostname: command not found". Anyone experienced this before in Amplify console?

[2020-12-18 21:53] Shane-Cotta opened #1392 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d2enfl0pc00su0
**Region**: us-west-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.
SSL Cert is not generating

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

403 ERROR
The request could not be satisfied.
Bad req

[2020-12-18 22:24] servappgit opened #1393 "One of the connected branches suddenly stopped deploying the changes uploaded to github"
** Please describe which feature you have a question about? **
The frontend enviroment in which we deploy one of branches wasn't updating the changes we uploaded to github.

** Provide additional details**
We got no errors, everything went smooth and we got green check boxes in the 4 stages (provision, build,deploy and verify). The github repository seems to be working fine, since we made sure tha

[2020-12-19 00:10] garyleefight commented on #1376
Can you share the appId

[2020-12-19 00:16] garyleefight commented on #1380
What's the script for npm run start.  Can you share more info on your app? From the yml file you sent, the backend is not an amplify backend

[2020-12-19 00:17] garyleefight commented on #1387
Can you share your appId?

[2020-12-19 00:28] garyleefight commented on #1393
Can you be more specific? I saw builds are triggered for the app your shared in our logs.

[2020-12-19 08:35] andre-scheffer commented on #595
@litwicki I already deploy with the installation of Python 3.8 via script. But you said in your previous post that Amplify is using the current Python version and that we should contact you if this is not the case. To me it still says that Python 3.7.9 is used if I deploy without an installation script.

[2020-12-19 10:30] abhi7cr commented on #595
@andre-scheffer the latest build image has both `python3` (_python 3.7.9_) and `python3.8` (_python 3.8_) installed to be backwards compatible . Could you try running under the `python3.8` cli command.  You can check the exact version of python 3.8 by running `python3.8 --version `

[2020-12-19 14:45] lijingshanxi commented on #1387
Hi, myappid is d2x1on421alk5v, the error is in Build 51;
![image](https://user-images.githubusercontent.com/13703027/102692034-c4ffa200-424b-11eb-8bda-3cff3ea86024.png)
![image](https://user-images.githubusercontent.com/13703027/102692042-ce890a00-424b-11eb-9d15-897a5af7c14a.png)

Sorry for my bad english;

Thanks a lot;

[2020-12-19 18:16] oscarnevarezleal commented on #727
The current behavior is extremely buggy. I transferred my repository from my personal account to an organization, when I wanted to do this using the Amplify UI, the _Reconnect repository_ button just kept spinning without allowing me to do any change.

I don't know what exactly did the trick but here's what I tried and end up working allowing me to modify the repository.

- Remove any manual envir

[2020-12-19 18:39] oscarnevarezleal commented on #288
The current behavior is extremely buggy. I transferred my repository from my personal account to an organization, when I wanted to do this using the Amplify UI, the Reconnect repository button just kept spinning without allowing me to do any change.

I don't know what exactly did the trick but here's what I tried and end up working allowing me to modify the repository.

Remove any manual environme

[2020-12-19 22:10] tfmorris commented on #1271
@swaminator There's nothing on that page relevant to my configuration. I'm not using "social" signin, and besides, the auth config is totally defined in the user pool that I imported.

@kevin-verschaeve You need to define those environment variables yourself to use the workaround from @fujiwaka2408. It worked for me, but I have too many apps & environments to go around settings all those environme

[2020-12-20 10:20] bjwyse commented on #1345
Still fails to build for me, even with version set to latest:

[code]

[2020-12-20 17:32] msandeep79 commented on #1108
@RobertVillalba  were you able to figure out the issue? Is it also showing "add deployment queued" on the Console UI ?

[2020-12-20 17:33] contractorwolf commented on #1221
dude, I am seeing the same thing, I had an error in my code in the layer.  I updated the code in the layer, pushed up, then update the function that uses the layer to the next version and amplify pushed the function up.  Both layer and function are updated in the cloud and I rerun the function and I still get the same error from the previous version of the layer (not the recent updated version of

[2020-12-20 17:48] rmuellerjr commented on #1058
FYI - I did notice a difference between setup through the console for backend/hosting, vs set up via CLI (amplify hosting add) for giving this 403 error. The CLI route had me switch to the console where I had to add a service role and several other steps. Did I skip these other steps with the initial Console setup? I don't know but somewhere it made the difference. After I get this project stood u

[2020-12-20 19:55] murvinlai commented on #1345
you may try to match your version with the one in Amplify.  See if it works.

[2020-12-21 04:23] namhong2001 opened #1394 "[Access Control] Cannot exclude branches from global password."
**Describe the bug**
https://docs.aws.amazon.com/amplify/latest/userguide/access-control.html states setting branches exclusively from a global password but cannot set.

**To Reproduce**
1. Go to "Access Control"
2. Set "Apply a global password" on
3. Cannot set access setting "publicly viewable" for individual branch.

**Expected behavior**
Can set "publicly viewable" for individual branch when g

[2020-12-21 07:38] Santhosh222 commented on #1380
Thanks for the reply @garyleefight

I am trying to deploy Strapi app which is an CMS app. For "npm run start", "strapi start" command runs and starts Strapi app at port 1337. The backend is not an amplify backend. I am just trying to start Strapi app.

I also tried YML like this (keeping all commands in frontend) but it didn't work too.
[code]

[2020-12-21 08:56] lijingshanxi commented on #1387
Hi,
Now my issue is run away, thanks a lot;

[2020-12-21 08:56] #1387 closed

[2020-12-21 14:16] SilverLinings89 opened #1395 "Source Repo value changes and deployments get stuck"
**Describe the bug**
I'm not 100% sure these 2 are related, but I will describe them together.
If I navigate to My App -> Frontend Environments -> Choose one
I have 2 Issues:
1. The repo does not seem to be detected correctly. It is hosted on Bitbucket and was properly configured during the app configuration some days ago. When I open the view, the URL shows correctly as https://bitbucket.org/proj

[2020-12-21 14:24] SilverLinings89 commented on #1395
This is our pipeline script:
[code]

[2020-12-21 15:14] servappgit commented on #1393
The web page doesnt change visually, eventho we've added new images and new funcionalities uploaded to our git repo, the web page remains in an older version. It's like it's not picking up the changes we've made.

[2020-12-21 15:20] servappgit commented on #1393
This is how it should look. https://drive.google.com/file/d/14pQ45xFXOFuuQtNQeHsxEHXWS7sjXoIz/view?usp=sharing

This is how it currently looks.
https://drive.google.com/file/d/1_MIFbYV7jD-YH7FyycTDTxOP5kBce0sE/view?usp=sharing

So eventho we've added new changes, the web page remains in an older version. None os the changes we've uploaded to the connected repo from github to amplify are showing in

[2020-12-21 23:30] derrickmehaffy commented on #1380
Adding a bit of information (I am a solutions engineer for Strapi).

We use the package `node-machine-id` to get a unique ID for our telemetry system, see:

https://github.com/strapi/strapi/blob/ea4a60777080d67a662c92bd65477909d50c841e/packages/strapi/lib/services/metrics/sender.js#L6

https://github.com/strapi/strapi/blob/ea4a60777080d67a662c92bd65477909d50c841e/packages/strapi/lib/services/metri

[2020-12-22 09:39] mjza commented on #572
I had the same problem. We had already a `AmplifyConsoleServiceRole-AmplifyRole` role. I moved to `IAM Management Console` and then selected roles from the side [menu](https://console.aws.amazon.com/iam/home#/roles/).

Then in the list looked for `AmplifyConsoleServiceRole-AmplifyRole` role and pressed on the `Change boundary` button and in the list searched and selected `AWSCodeCommitReadOnly`. T

[2020-12-22 10:49] jflaflamme commented on #446
I opened the JavaScript console, an
error so paused in debugger, clicked to continue and button was green ..

![image](https://user-images.githubusercontent.com/712558/102880504-0081b280-447e-11eb-8c4d-4a329878cde6.png)

[2020-12-22 16:06] 0xR commented on #1382
same issue, how did you solve it?

[2020-12-22 16:25] fonsecaBarreto opened #1396 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d72fn362ocp4j
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-12-22 17:59] loafofpiecrust commented on #1058
I created an Amplify app using solely Cloudformation, copying exactly the setup given in the [Amplify blog post announcing CloudFormation support](https://aws.amazon.com/blogs/mobile/deploy-a-vuejs-app-with-aws-amplify-console-using-cloudformation/). When I go to my site deployment, the index page works fine but the rest return 403 errors. I'm not using the Amplify CLI at all and don't plan to, as

[2020-12-22 18:11] angieyu commented on #14
+1

[2020-12-22 19:45] kahdojay commented on #1207
We've pushed a fix and updated the [documentation](https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html) for monorepo custom header specs. You can now opt to either include customHttp.yml in your repo root or use the custom header settings console, with the former will take precedence over the latter. A deploy will be required for changes to take effect.

Closing this issue for

[2020-12-22 19:45] #1207 closed

[2020-12-22 20:37] nbihan-mediware opened #1397 "Github forked repository not available in drop down"
**Describe the bug**
After selecting Github as Repository service provider when deploying a web app, the list of available repositories does not contain a forked repository from another organization.
I am admin on both of the repositories and I can see only the original repo, not the fork.

**To Reproduce**
Steps to reproduce the behavior:
Having 2 different Github organizations. Create 1 repo in

[2020-12-22 20:37] #1397 closed

[2020-12-22 20:52] nbihan-mediware commented on #1397
Figured out there was no recent commit on the forked repo...

[2020-12-22 22:56] behrooziAWS commented on #833
All existing apps in all regions have been updated to use the [TLSv1.2_2019 policy](https://aws.amazon.com/about-aws/whats-new/2020/07/cloudfront-tls-security-policy/).  New apps will use that policy as well.

[2020-12-22 22:56] #833 closed

[2020-12-22 23:10] alexandermaisey commented on #1395
+1 We are also experiencing these exact symptoms with a branch of a github repo configured as the source, and my deployments are getting stuck on the Provisioning step.  Every 1 to 2 seconds it switches from the correct repo URL to something like ` https://github.com/undefined/tree/<branch name>`

[2020-12-23 01:17] vcs222 commented on #1176
I had the same problem, and @drptbl's fix worked for me.

set the following in your package.json:
`  "scripts": {
      "build": "next build && next export" },
`
...and go to Build settings in apliffy console and update the following:
`    baseDirectory: out
`

[2020-12-23 01:20] KhanDoors opened #1398 "Getting 403 error loading data when app is deployed"
Getting 403 error loading data when app is deployed.
This is usually what i see when an S3 bucket is not configured correctly.
How does that facture in here?
What setting do I have to change in order to load data when deployed?
I have no authentication, Cognito is not being used.

This is not an issue when running the app locally.
This happens when the app is deployed thru github but not when i up

[2020-12-23 01:27] KhanDoors opened #1403 "Getting AccessDenied 403 error loading data when app is deployed"
Getting 403 error loading data when app is deployed.
This is usually what i see when an S3 bucket is not configured correctly.
How does that facture in here?
What setting do I have to change in order to load data when deployed?
I have no authentication, Cognito is not being used.

This is not an issue when running the app locally.
This happens when the app is deployed thru github but not when i up

[2020-12-23 02:41] david-wallace-croft commented on #1153
I appended the .webmanifest filename extension to the list of extensions not redirect:
`</^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json|_webmanifest_)$)([^.]+$)/>`

[2020-12-23 02:42] avnerkhan commented on #331
Me too! This would. be a great feature to have.

[2020-12-23 04:24] ngohaihue123 opened #1399 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d22t011f1ui35s
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-12-23 07:05] rudyhadoux commented on #1153
It is a good thing.

[2020-12-23 11:31] askd commented on #1157
I have the same issue. The process is being stuck in the test stage. I use the latest default amplify config

[2020-12-23 12:20] wojtekdmyszewicz opened #1400 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1v7ziy9qah2kv
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

I'm just trying to connect the root domain not a cname, so the error message doesn't seem to be correct.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for

[2020-12-23 14:33] #1400 closed

[2020-12-23 15:11] NotSoShaby opened #1402 "Docker caching on amplify is breaking the build / is inconsistent"
**Describe the bug**
Some builds are failing after pushing to a connected branch are failing due to caching issues (even though they pass locally).
Another way to know that this is a bug, is that creating a new amplify app and connecting the same branch to it, finishes the build successfully.

**Amplify CLI Version**
4.40.1

**To Reproduce**
Not sure how to reproduce

**Expected behavior**
A branc

[2020-12-23 15:42] sivaraj-v opened #1401 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dnbpb9up4aqln
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-12-23 15:46] #1401 closed

[2020-12-24 00:04] KhanDoors commented on #1403
tried this but didnt work. what I did:
1. I manually ran npm run build to make sure there was a build directory
2. i pushed to github
3. once i deployed to github it triggered an Amplify redeploy.
4. same result <Code>AccessDenied</Code> in the deployed version.

the app deploys fine but the data from the backend doesnt load, i get that `Failed to load resource: the server responded with a status

[2020-12-24 03:48] janicduplessis commented on #1209
@hsspain Awesome, any updates?

[2020-12-24 06:14] Jarrettgohh commented on #1340
For whoever got another error Build fails due to File project: data should NOT have additional properties: 'frontend-ios', i managed to solve it by just opening the admin ui and under the tab 'functions' just copy whatever commands they give.

[2020-12-25 02:18] kazukinagata commented on #412
Hi there, I write a sample code based on @DaveHudson.
See how to use [vercel action](https://github.com/marketplace/actions/vercel-action).

Please let me know if you have any advice on how to improve the code!

[code]

[code]

[2020-12-25 15:05] prabhatranjan commented on #96
This issue is still there in Amplify. Every time a environment is created for feature branch or pull request preview, we have to update the value of DOMAINWHITELIST manually for sign up to succeed.

[2020-12-26 11:45] DaveHudson commented on #412
That is pretty much how I have it too 👍

[2020-12-26 15:20] Uri-CyberWrite commented on #331
+1 on this feature, A/B testing based on git branches on top of AWS Amplify would be an amazing feature to have!

[2020-12-27 06:01] ravishwetha opened #1404 "SSL configuration is Running - We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain."
**App Id**: dgsm7ukbj14z0
**Region**: ap-southeast-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
Verifying ownership of domain is taking ore than 8 hours after updating DNS records.

[2020-12-27 12:17] riywo commented on #24
@swaminator This has never worked for me. I use CodeCommit and tried `feature1` or `pr-1` branches but both didn't clean up backend environments.

[2020-12-27 17:24] dineshsonachalam commented on #977
Hi @piplani ,

I'm also facing the same problem. Please let me know how did you solve this issue?

**Background story:**

I deployed a React application by using the Amplify console. Then I configured a custom domain in the Domain Management section in the Amplify console.

Then I added the redirection rules to redirect my **https://mycustomdomain.com** to **https://www.mycustomdomain.com** in the

[2020-12-28 00:42] jknapp25 opened #1405 "Deploy to multiple production environments"
** Please describe which feature you have a question about? **
Amplify

** Provide additional details**
I have a blog-like website I built for my wife and me using Amplify. I set up two environments for this (including backends). Now I want to set up a development environment so I'm not editing production data. Ideally, I'd like to push to dev, and (using Functions or something?) automatically upd

[2020-12-28 03:52] agscripter opened #1406 "Amplify does not recognize framework when using CDK"
**Describe the bug**
When deploying Amplify app using CDK, It does not recognize the framework (react in this case) and then I got `Access Denied` when trying to access `/static/` URL path.

**To Reproduce**
I have created a CDK project using the following code:
[code]

In console, checking **App Settings** and then **General**, Framework configuration is empty/null.

**Expected behavior**
Framewo

[2020-12-28 06:21] yashtejani96 opened #1407 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: dl87ize9f7mmi
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-12-28 07:47] yashtejani96 commented on #1407
Now I solve this issue.

[2020-12-28 10:37] maximussinclair commented on #331
Yes please!

[2020-12-28 11:34] kptac commented on #125
Same here, deployed an app using a subdomain app.example.com and was wondering exactly this. Why did I cant get a CNAME record instead of an alias. I'm hosting my DNS with Route53.

[2020-12-28 15:57] JvdWest commented on #374
I struggled quite some time with number 4, deleting the notifications. I end up deleting the resources **without using the Amplify CLI**. Open amplify/backend/amplify-meta.json. Then remove the entire sections notifications. That is, you need to remove these parts entirely.

[code]

Then lastly, do a `amplify push`.

In order to add a new notifications resource, you need to delete the android/app/

[2020-12-28 15:59] BranislavBogicevic opened #1408 "AWS Amplify publish problem"
After amplify push command I try to execute amplify publish but in the end I got error:
An error occurred during the publish operation: User: arn:aws:sts::742600464877:assumed-role/us-west-2_NnLrZVKpP_Full-access/amplifyadmin is not authorized to perform: amplify:ListJobs on resource: arn:aws:amplify:us-west-2:742600464877:apps/d8qiqh93bcyjm/branches/dmgdevbbn/jobs/*

[2020-12-28 16:47] a180024 opened #1409 "Missing Content after deployment"
**App Id**: d20hcy8c17g3l1
**Region**: southeast-1

**Issue/question**
After deploying, I began to see certain parts of the apps are missing from the page. However, the html elements still appear on the console. So it seems like the build process is fine.

[2020-12-28 17:14] hsspain commented on #1209
@janicduplessis We do not have any updates yet, but will shortly.

[2020-12-29 08:46] #1409 closed

[2020-12-29 12:04] Haga14 commented on #1373
Any updates on this?

[2020-12-29 15:22] alisade opened #1410 "when removing custom domain the redirects do not go away"
**Describe the bug**
When a custom domain is removed the redirect are not deleted, as a result when the domain is added back those redirect automatically show up even though you uncheck the redirects (for example for www)

**To Reproduce**
Steps to reproduce the behavior:
1. create a custom domain with redirects
2. remove it
3. redirect will still be there

**Expected behavior**
redirects should b

[2020-12-30 01:10] oakstreetrec commented on #991
Same issues

[2020-12-30 09:00] tiago165 commented on #1408
I am having exactly the same issue for a while, unable to publish any Amplify project. I also tried with simple apps and get the same issue. I thought it was IAM issue and tried "amplify configure", created new IAM user, gave all admin permissions and the permissions documented [here](https://docs.amplify.aws/cli/usage/iam). I also tested the "amplify:ListJobs" policy and it is allowed but still f

[2020-12-30 09:02] tiago165 opened #1411 "Amplify Publish Error"
I am unable to publish any Amplify project. I also tried with simple apps and get the same issue. I thought it was IAM issue and tried "amplify configure", created new IAM user, gave all admin permissions and the permissions documented here. I also tested the "amplify:ListJobs" policy and it is allowed but still facing the same issue. Unable to develop anything on Amplify.

Deployment failed! Plea

[2020-12-30 09:14] tiago165 commented on #1411
I solved the problem using this command:  `amplify configure project`

Got this trick from #1369

[2020-12-30 09:14] #1411 closed

[2020-12-30 09:14] tiago165 commented on #1411
I solved the problem using this command:  `amplify configure project`

Got this trick from #1369

[2020-12-30 09:15] tiago165 commented on #1408
I solved the problem using this command:  `amplify configure project`

Got this trick from #1369

[2020-12-30 11:46] jonathanmanfield commented on #457
Does anyone know why this functionality is not available in a monorepo setup?

I have recently migrated one of our react apps following the guide: https://aws.amazon.com/blogs/mobile/set-up-continuous-deployment-and-hosting-for-a-monorepo-with-aws-amplify-console/

On the previous setup, the "Redeploy this version is available"

Now we are in the monorepo setup, the re-deploy button is lost.

<img

[2020-12-30 17:36] ggmon opened #1412 "Get 403 for deployed app"
** Please describe which feature you have a question about? **
I am  following the amplify tutorial  and it runs fine locally, I added hosting to it and then run amplify publish

** Provide additional details**
https://dev.dj0zfysg7ego3.amplifyapp.com/

I am getting 403 for main.bundle.js

[2020-12-30 21:07] waring8285 opened #1413 "I can't log into the backend when staging locally"

[2020-12-30 21:30] ralph-tice commented on #958
@linfiesto i wouldn't mark this solved until the error message is fixed
![image](https://user-images.githubusercontent.com/2474730/103382264-3688ed00-4aa3-11eb-8c89-de681f7483f8.png)

this error should suggest users check this STS setting for the region they're operating in

[2020-12-31 04:02] silvestersk opened #1414 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d27p46gtzbleqt
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-12-31 13:18] SJI-ParthaSarathi commented on #595
This saved my day! @pchevallier brother you are awesome! <3

[2020-12-31 16:12] jeremyc11 opened #1415 "Failed to set custom headers when deploying from S3"
I failed to set custom headers for my amplify frontend when deploying the frontend from S3. The deploy worked and it is written in the log: "Found customHttp.yml, applying custom headers..." but when checking the "App Settings -> Custom headers", the displayed customHttp.yml file is empty.

**To Reproduce**
1. Create the customHttp.yml file with security headers:
![image](https://user-images.githu

[2020-12-31 21:42] michaelpaulcuccia commented on #1340
File project: data should NOT have additional properties: 'graphqltransformer'
JSONValidationError: File project: data should NOT have additional properties: 'graphqltransformer' at validator

what is the fix???

[2020-12-31 22:18] Lasim commented on #97
Hi, can someone please provide an update for this issue?
I'm using VueJS with nasty workaround for URL parameter.

[2021-01-01 06:48] akash87 commented on #1221
@kahdojay - just do a app deployment and connect ci/cd. make any changes to git repo (layer function) - the changes are not reflected.

[2021-01-01 06:49] akash87 commented on #1221
The problem is also reported here - https://github.com/aws-amplify/amplify-cli/issues/6100#issuecomment-747578078

[2021-01-01 11:04] dineshsonachalam commented on #977
I was able to resolve this issue using the following rewrites and redirection rule.
[code]

[2021-01-01 17:18] contractorwolf commented on #1221
I ended up just blowing away the function and re-adding it which solve the problem, but still something was def broken in the amplify process which didnt seem to see my changes.  Sorted for me now though, but not necessarily a good solve.

[2021-01-01 18:18] MrcoSchrnr opened #1416 "Problem with React hero component with video bg"
** Please describe which feature you have a question about? **
Deployment of a React Web App with a video background.

I got a problem with my react web app that got in a hero component a video background. When I start the react app localy in localhost the video is shown as a background of the hero but when I deploy the repo to Amplify it won't work anymore. Please help me with that.

** Provide a

[2021-01-01 20:08] zdebrine commented on #581
Lol you just saved me so much time @danielmhair

[2021-01-01 20:36] mgurtzweiler opened #1417 "Deployments Stuck: Updating Edge Config"
App Id: d14aghuo0noisk

Initial deployment after I hooked up to GitLab worked fine. All deployments since that initial one just get stuck on Deploy.

2021-01-01T20:19:24 [INFO]: Starting Deployment
2021-01-01T20:19:25 [INFO]: Updating Edge config

I had ONE deployment that failed with this error:

2021-01-01T19:44:15 [INFO]: Beginning deployment for application d14aghuo0noisk, branch:master, build

[2021-01-02 03:20] weisisheng opened #1418 "Using serverless framework to deploy, do I lose amplify features?"
** Please describe which feature you have a question about? **

On platform password protection, etc.

Set up a basic next.js front end which I am testing deployment with.  I will need to use SSR since I have some APIs related to various contact forms (mailchimp, hit an AWS APIGW).

** Provide additional details**

I deploy using @sls-next/serverless-component@ and get back a cloudfront URL.  Howe

[2021-01-02 07:30] jknapp25 commented on #1405
Is this the right team for this question?

[2021-01-02 09:34] weisisheng commented on #1418
For now this maual way works (awesome and easy writeup).  Just wait for CF to propagate.

https://dev.to/tastefulelk/basic-authentication-with-lambda-edge-23o5

[2021-01-02 09:34] #1418 closed

[2021-01-02 15:47] GanizaniSitara commented on #1330
Thanks @kirtap7, your suggestion worked here as well.  @swaminator still an issue as of today

[2021-01-02 17:08] 9037568 commented on #1403
I can confirm this. Getting the same thing after pushing new routes/pages to codecommit.

[2021-01-02 17:10] 9037568 commented on #1398
Isn't this the same as #1403 ?

[2021-01-02 17:31] mgurtzweiler commented on #1417
Ok, cleaned up the repo and got the deploy down to 1.23GB and it seems to be deploying now.

Is there any way to exclude the `.git` folder from the deployment package? The site is only 600MB but since git keeps a copy of all objects in .git the "deployment" is currently double the size of the site.

[2021-01-02 19:11] 9037568 opened #1419 "Admin UI improperly handles the AWSDateTime type"
**Describe the bug**

The Admin UI improperly handles the AWSDateTime type:

* The user is only allowed to enter hours and minutes
![image](https://user-images.githubusercontent.com/9916473/103464625-3c7d0900-4d03-11eb-97ba-dbdd691e7af3.png)

* When the data is saved, the entered time is recorded as UTC time
![image](https://user-images.githubusercontent.com/9916473/103464647-6b937a80-4d03-11eb-89

[2021-01-02 22:18] svetzal opened #1420 "Domain activation is Failed - One or more of the CNAMEs ... already associated with a different resource"
**App Id**: d16deb11qo7fw6
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**

The system consistently does not activate my domain. I see it creating the records for the two CNAMEs I have. I do not know what more it's trying to do.

I attempted to delete the two records it seems are in conflict, (bare domain + www) but it continues to fail.

I used about the s

[2021-01-02 22:40] svetzal commented on #1420
OK after more digging around, I found that I had those names assigned to a different cloudfront distribution. After removing that distribution, it activated OK.

[2021-01-02 22:40] #1420 closed

[2021-01-03 08:24] rpostulart commented on #1023
Same issue here when run amplify **push** with the follow config

**which pip**
/usr/local/bin/pip

**which python**
/usr/local/bin/python

 **python --version**
Python 3.8.7

[2021-01-03 09:24] makies opened #1421 "Building page shows duplicated tabs in Japanese and English at the same time, and the labels in English do not work."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Amplify console
2. Select Japanese from footer
3. See duplicated tabs and English tabs do not work

**Expected behavior**
Shows only clickable tabs in Japanese

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images

[2021-01-03 15:13] KhanDoors commented on #1398
yeah they got duped somehow

[2021-01-03 15:13] #1398 closed

[2021-01-03 15:32] arrashju opened #1422 "Issue publishing with amplify"
**Describe the bug**
When running amplify publish, I get an error at the very end saying the following

An error occurred during the publish operation: User: arn:aws:sts::591601383277:assumed-role/us-east-2_jOn7uQB2e_Full-access/amplifyadmin is not authorized to perform: amplify:ListJobs on resource: arn:aws:amplify:us-east-2:591601383277:apps/dchm1b7sa3ivb/branches/staging/jobs/*

**To Reproduce*

[2021-01-03 16:25] uncodable commented on #1403
@KhanDoors @9037568 Can you share your `amplify.yml` and maybe a tree to show how your app is structured.

[2021-01-03 16:28] uncodable commented on #1419
Please share the issue on the Admin UI repo, https://github.com/aws-amplify/amplify-adminui

[2021-01-03 16:30] uncodable commented on #1422
You need to give your IAM user the Amplify policy (there's a default one by AWS)

[2021-01-03 16:32] uncodable commented on #1416
When you open up your Amplify hosted version, do you see any errors in the console related to that resource? Can you also share this example?

[2021-01-03 17:13] arrashju opened #1423 "Amplify Publish Error"
**Describe the bug**
I get the following error message at the very end (after build part) when running 'amplify publish'

An error occurred during the publish operation: Operation not supported. App is already connected a repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to console
2. Run 'amplify publish'

**Expected behavior**
Successful publish

**Screenshots**
If applicable,

[2021-01-03 17:17] arrashju commented on #1422
I checked every policy checkbox when creating the user after running 'amplify configure'

I get a different error now though

[2021-01-03 18:13] 9037568 commented on #1419
Copied to Admin UI repo

[2021-01-03 18:13] #1419 closed

[2021-01-03 18:18] 9037568 commented on #1403
Where would amplify.yml be? I don't seem to have one...

[2021-01-03 18:20] 9037568 commented on #1403
Here's the top level directory listing, if that's what you mean by "tree". If not, what does "tree" mean here?

[code]

[2021-01-03 18:24] arrashju commented on #1422
I solved the issue by deleting the out folder for Next.js and seeing why it wasn't updating. It wasn't updating because my package.json didn't have the next export part of "build": "next build && next export". After that I updated my Git repository and it automatically updated amplify and the website is now updated and works!

My project was being deployed from my Git repository. I think that's wh

[2021-01-03 18:24] #1422 closed

[2021-01-03 18:25] #1423 closed

[2021-01-04 01:46] Celinala opened #1424 "Error when Amplify push"
I keep running into this problem when trying to push to my AWS console. It only happens when I try to push for Lambda functions, been stuck on it even after running "pip3 install --user pipenv", really not sure what to do, any help would be appreciated.

Pasted from terminal after "amplify push":

[code]

[2021-01-04 02:16] alacret commented on #256
I can confirm that this setting doesn't work, failing with:

[code]

in the building phase

[2021-01-04 02:16] alacret commented on #203
I can confirm that this setting doesn't work, failing with:

[code]

in the building phase

[2021-01-04 13:33] redixhumayun commented on #331
+1 on this feature.

[2021-01-04 18:17] Erick-Suarez commented on #331
+1

[2021-01-04 18:35] Athena96 commented on #1272
Fix is deployed, closing this issue. Please feel free to re-open if you are still facing the issue. Thank you

[2021-01-04 18:35] #1272 closed

[2021-01-04 18:51] swaminator commented on #1415
@jeremyc11 you need to be using Amplify Hosting to deploy your code *not* S3. https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html

[2021-01-04 18:51] #1415 closed

[2021-01-04 18:52] swaminator commented on #1413
@waring8285 can you please provide more info?

[2021-01-04 23:33] jhockett commented on #1369
Hi @rewardle-jason, how did you authenticate with the Amplify CLI originally before you ran `amplify publish`?

[2021-01-05 01:06] daroczig commented on #550
This is still a huge problem for us, and becoming so annoying that I am considering to disable PR previews after all and trigger the Amplify builds from GitHub Actions instead -- despite the complexity of this design compared to the really promising Amplify PR previews :disappointed:

The main issue is that our tests take 30+ minutes, and every single push to the repo at the time of a previous PR

[2021-01-05 13:40] Vlaaaaaaad commented on #884
I spent a couple of hours on this due to Amplify doing some weird quote removal/escaping thingie. In case anybody wants to live on the edge and **always** use the latest version of Hugo extended, here's the config required:

[code]

[2021-01-05 13:50] Thangadurai1991 opened #1425 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

Error message: One or more aliases specified for the distribution includes an incorrectly configured DNS record that points to another CloudFront distribution. You must update the DNS record to correct the problem. For more information, see https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate

[2021-01-05 15:59] gveldhuis opened #1426 "Stuck on "Your build is being queued. If your build has not started in over a minute, click the button below.""
**Describe the bug**
When I deploy my React application through Amplify, the screen is indefinitely stuck on "Your build is being queued. If your build has not started in over a minute, click the button below." Clicking the "Run build" button also does nothing. My App ID is d1dqs9x46plfx2.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Host Web App'
2. Click on 'GitHub', select repo

[2021-01-05 16:52] PeteDuncanson opened #1427 "Can't upload images from my javascript app to Storage setup via the CLI"
I've added Storage via the CLI and given permission to Authenticated (read, write, delete) and Guest users (read only) and then pushed.

I've got an app that I have to log into (which is working) and then I've then got a form that tries to upload an image to the storage but its failing with 403 forbidden. I'm not sure where to go from here to get it to authenticate or to try to work out what the i

[2021-01-05 17:15] PeteDuncanson opened #1428 "Adding/Re-adding DataStore via the CLI doesn't re-generate the resolvers"
Some how my Mutation resolvers are only half setup to work with DataStore (over half of them don't mention ```_version```).

In an effort to fix this I disabled DataStore and re-enabled it in the hope they would regenerate but they are still broken.

**To Reproduce**

1. Somehow end up with resolvers that are not DataStore aware! Not sure how that happened to me but if you want to test it yourself

[2021-01-05 18:12] Eric-ett opened #1429 "how to use gzip with aws amplify console"
I have a question, I am using aws amplify console link gitlab to run a Vue App

My app is built and running well, But there is a js file that is very large。

I want to reduce the bundle size, So I set up gzip in webpack ,When I execute npm run build, the dist folder successfully generated the *.js.gz file。But when I submit the code to gitlab and deploy it through aws amplify, the .js.gz file canno

[2021-01-05 18:46] kahdojay commented on #1170
@satyadeepk Bear in mind that Amplify-hosted apps will honor and reuse any Cache-Control request headers sent by clients, so if your request includes max-age=0, that will get returned.

https://docs.aws.amazon.com/amplify/latest/userguide/ttl.html

If that's not the case here feel free to share your appId and region and we can take a closer look

[2021-01-05 18:49] PeteDuncanson commented on #1428
Just realised this might need to be in the amplify-cli project not the console one, I got mixed up (They are called "console apps" on windows...).

[2021-01-05 19:35] caseyplummer4haliontech commented on #1426
You may wish to commit a file and see if it triggers the job.

Otherwise, I was able to start my build using AWS console commands.

Get the app ID:
aws amplify list-apps

Start the job:
aws amplify start-job --app-id APPIDGOESHERE --branch-name main --job-type RELEASE

[2021-01-05 19:50] Athena96 commented on #1417
Hi @mgurtzweiler the `.git` folder doesn't need to be deployed. Is it being committed to your remote repo? The `.git` folder only needs to exist locally

[2021-01-05 19:54] Athena96 commented on #1412
Hi @ggmon are you still facing this issue? I am able to load main.bundle.js for your site on my end:
![Screen Shot 2021-01-05 at 11 53 11 AM](https://user-images.githubusercontent.com/14256844/103692496-b05e2200-4f4c-11eb-913e-4012b57037c6.png)

[2021-01-05 20:11] harkanwarsingh opened #1430 "Custome Domain within Amplify and Route53 not redirecting to Cloudfront"
**d3vs58t9vnm0c1**:
**US-WEST-2**:
**Custome Domain not redirecting to cloud front**:
**Status**

**Issue/question**
I have route 53 domain name with hosted zone and updated NS. When I add the domain in domain management under Amplify console after status becomes available for the domain, cloud front url that amplify provides does not work.

![image](https://user-images.githubusercontent.com/65304

[2021-01-06 02:48] akshaymishi commented on #64
Any update on this request, facing same problem wherein want to access Code Commit Repo from cross/another account.

[2021-01-06 02:49] akshaymishi commented on #917
Looks like similar to this https://github.com/aws-amplify/amplify-console/issues/64

[2021-01-06 02:55] marlonmarcello commented on #882
Having the same issue, and there is no useful error message at all.
The backend environment in question was automatically created by a PR Review. The PR was closed and deleted and now the backend is stuff and won't go away.

[2021-01-06 03:32] ERASSolution opened #1431 "Domain activation is Failed - [BRIEF DESCRIPTION]"

[2021-01-06 03:32] slefcourt27 commented on #1340
@michaelpaulcuccia Were you able to find a solution?

[2021-01-06 07:13] marlonmarcello commented on #1361
I have the exact same issue. Made sure the region and profile were set and correct as well when running the cli command.

[2021-01-06 09:30] MrHertal commented on #1170
I tested again this morning and it's now working.

[2021-01-06 09:30] #1170 closed

[2021-01-06 09:34] makrmark commented on #1426
I'm having this same problem - stuck on deployment.

I tried the console solution proposed but my user didn't have permission. I added an Amplify CLI policy per:
https://docs.amplify.aws/cli/usage/iam

However this still does not seem to enable the required permissions to StartJob - and that's where I'm stuck currently.

[2021-01-06 11:39] PeteDuncanson commented on #1427
Closing this one as I think its in the wrong place, reposted it over at https://github.com/aws-amplify/amplify-cli/issues/6322

[2021-01-06 11:39] #1427 closed

[2021-01-06 12:47] slingle commented on #1361
Good morning,

Sorry.   I should have closed this but it skipped my mind.  The problem turned out to be an S3 bucket still associated with the app.  I deleted it (after making sure 8 times that it was the right bucket) and was then able to delete the 'stale' app through the Console.

Cheers,
Scott

[2021-01-06 12:47] #1361 closed

[2021-01-06 15:05] PeteDuncanson commented on #1428
I've re-posted this one in the CLI project issue tracking instead https://github.com/aws-amplify/amplify-cli/issues/6323

[2021-01-06 15:05] #1428 closed

[2021-01-06 15:52] michaelpaulcuccia commented on #1340
I ended up doing the tutorial in the Amplify Docs instead - https://docs.amplify.aws/start/q/integration/react

[2021-01-06 18:42] MarianAlexandruAlecu commented on #225
In addition to what was already said, I changed my build command to copy the file on compile time
[code]
Somehow it was not visible when it was directly put in `/dist`

Oh, and I've added a `/` at the end of the rewrite rule to make it work:
[code]

Now I can access the file just fine from browser, but Stripe still fails to validate the domain :( Maybe because it's a redirect?

[2021-01-06 18:58] corydorning commented on #12
any support for network-only accessible amplify apps in the near future? (next few months)

[2021-01-06 19:24] FelixSommerer opened #1432 "Setting up Admin UI takes very long"
I want to enable the Admin UI for my Amplify project. But there's always just a Screen "Setting up Admin UI...".
That's the screen:
<img width="450" alt="Bildschirmfoto 2021-01-06 um 15 37 33" src="https://user-images.githubusercontent.com/67742080/103811303-015d3b80-505d-11eb-9361-2cfb1d15b124.png">

I've tried it at different times, on different devices (Windows, MacOS) and different Browsers (F

[2021-01-06 19:35] Athena96 commented on #1426
Hi @gveldhuis are you still facing the issue? I see several successful builds yesterday for 'd1dqs9x46plfx2'

[2021-01-06 20:05] IsaacTrevino commented on #12
The example I mentioned above allows me to use WAF which restricts it to my company's static ip.

[2021-01-06 21:12] #1393 closed

[2021-01-06 21:31] slefcourt27 commented on #1340
@michaelpaulcuccia Thank you for the response!

[2021-01-06 21:33] harkanwarsingh commented on #1430
This issue was resolved automatically after 24 hours. I guess dns took a while to update.

[2021-01-06 21:33] #1430 closed

[2021-01-06 22:22] zstix commented on #550
We are also experiencing this issue. As a workaround, we plan to utilize GitHub actions, but it's not exactly ideal.

Any word on when the issue will get addressed?

[2021-01-06 22:54] makrmark commented on #1426
Hi @gveldhuis - per my update I resolved this using CLI (after a number of failed attempts via the console).
After issuing the command it immediately started build and completed successfully.

[2021-01-07 09:44] tandrimab opened #1433 "Redirection from https://mydomain.com to https://www.mydomain.com doesn't work"
I have a react app deployed on AWS Amplify. I have configured a custom domain for this app managed by a third party domain provider. I have configured it to redirect from https://mydomain.com to https://www.mydomain.com under rewrite and redirect section. I have added A type record set as suggested but still if I go to https://www.mydomain.com it redirects to the app but if I navigate https://mydo

[2021-01-07 10:54] benochr commented on #925
What is the status of this issue?

We have a similar issue. When our backend returns a 403 status code, this is converted to a 301 somewhere on the way back to the client. This results in unexpected behaviour in our frontend application. Certainly because 301's tend to be cached by browsers.

[2021-01-07 14:32] moaazassali commented on #1426
I am getting the same issue. Is there any solution yet?

[2021-01-07 14:43] rpostulart opened #1434 "You must have pipenv installed and available on your path - when running Amplify Push"
I have added an Amplify function (Pyhton) locally. When I am running Amplify push I get this error:

**You must have pipenv installed and available on your path**

I am running zsh om Mac and these versions:
Python 3.8.7

Amplify CLI version
4.41.0

[2021-01-07 14:53] gveldhuis commented on #1426
@Athena96 This ended up being a permissions issue, which we have since fixed. Thank you!

[2021-01-07 14:53] #1426 closed

[2021-01-07 15:43] pagameba opened #1435 "Cannot trigger build when there are no changes"
**Describe the bug**
My latest build failed and required a change to the app build specification file to fix.  I edited the configuration file in the console UI and saved it, then used the webhook to trigger a new build.  The build was cancelled because there was no diff detected from previous build.

**To Reproduce**
Steps to reproduce the behavior:
1. Trigger an automated build by pushing a chan

[2021-01-07 17:10] kahdojay commented on #1170
We've deployed a fix to all regions. Closing this issue for now, @MrHertal @satyadeepk please let reopen and let us know if you're still seeing this issue.

[2021-01-07 17:48] Athena96 commented on #1435
Hi @pagameba can you try using the "Redeploy this Version" button
![Screen Shot 2021-01-07 at 9 47 46 AM](https://user-images.githubusercontent.com/14256844/103926181-71a3a580-50cd-11eb-87f2-70957991aea2.png)

[2021-01-07 18:31] pagameba commented on #1435
I don't seem to have that option in the UI

![image](https://user-images.githubusercontent.com/249841/103930320-8cd1dd80-50ec-11eb-849c-fe9cdf0b4cff.png)

[2021-01-07 19:39] Athena96 commented on #1412
closing the issue, please let us know if you are still encountering it. Thanks!

[2021-01-07 19:39] #1412 closed

[2021-01-07 19:41] Athena96 commented on #1417
closing the issue, please let us know if you are still encountering it. Thanks!

[2021-01-07 19:41] #1417 closed

[2021-01-07 21:07] Athena96 commented on #1042
Hello, the fix has been fully deployed, closing the issue.
Please feel free to re-open if it persists for you. Thanks you!

[2021-01-07 21:07] #1042 closed

[2021-01-07 21:11] Athena96 commented on #1321
closing the issue, please let us know if you are still encountering it. Thanks!

[2021-01-07 21:11] #1321 closed

[2021-01-07 21:13] Athena96 commented on #1339
closing the issue, please let us know if you are still encountering it. Thanks!

[2021-01-07 21:13] #1339 closed

[2021-01-07 21:18] azheng003 commented on #1170
@kahdojay When I add a pattern, it removes the single quotes from the pattern.

I add:
[code]

and it becomes:

[code]

[2021-01-07 23:14] sperandiogu opened #1436 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d3mkl9j0rzkcmg
**Region**: sa-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2021-01-07 23:24] suppliesterminal opened #1437 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d25y6cr4p16y2
**Region**: ca-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fe

[2021-01-08 10:40] #1433 closed

[2021-01-08 11:26] artcad opened #1438 "Domain activation is Failed - CNAMEs provided already associated but CloudFront distributions is empty"
**App Id**: d1n32urc42e9mq
**Region**: eu-west-3
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Root domain activation failed with Amplify App. The problem only concern root domain. Domain activation work with subdomains (if I exclude root).

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Additional i

[2021-01-08 15:16] #1386 closed

[2021-01-08 15:57] chancyk opened #1439 "Frontend Build unauthorized to clone from CodeCommit"
After going through the `amplify add hosting` steps, the resulting frontend deploy fails at the build stage when trying to clone from the CodeCommit repo with a 403 error (see logs below). I noticed the Frontend settings has no service role, but adding the Amplify Backend service role resulted a "unable to assume IAM role" error instead.

**Build Logs**
[code]

**Desktop**
 - OS: Windows10

**Upda

[2021-01-08 17:23] edanbash opened #1440 "SSL configuration is Running"
**App Id**: d25bp6j5kitdqu
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
We are trying to add a custom domain to our AWS amplify app. We previously had the domain registered in another app in us-west-1, but now we are transferring it to an app in us-east-1. We removed the domain from the previous app and then added it to the new app, but now it has been

[2021-01-08 17:25] Athena96 commented on #1439
Hi @chancyk can you please share your appId and the Service Role you have configured.

[2021-01-08 17:27] #1440 closed

[2021-01-08 17:28] edanbash commented on #1440
Changing the name servers solved the issue. No need to re-add domain.

[2021-01-08 17:43] Athena96 commented on #1435
@pagameba can you please share your appId

[2021-01-08 17:51] Athena96 commented on #1197
@abhi6689-develop are you still facing this issue?

[2021-01-08 18:05] pagameba commented on #1435
I think this is the appId: `dp57bbn61ewiy`

[2021-01-08 18:18] dnalbach opened #1441 "Multiple Amplify preview build checks on single repo?"
** Please describe which feature you have a question about? **
I would like to know if it is possible to have multiple simultaneous preview build checks on a single Github repo. I have two separate Amplify instances that are each in different AWS accounts and both connected to the same Github repo. The two Amplify apps are identical in most ways, with only domain and some environment variables dif

[2021-01-08 18:56] sbodi10 commented on #157
@swaminator I'm still facing this issue. I've tried re-authenticating the app a few times, but the build still fails.

[2021-01-08 19:30] bmyers624 commented on #739
@chris  Hello, may I ask if this is still an ongoing issue for you. I am guessing this occurred when deploying a feature branch in the past. The issue may have been corrected because I cannot find where the "feature" before "branchName" is coming from, wanted to check to make sure with you, and if not then if you could provide the steps you took for this to occur, that would be greatly appreciated

[2021-01-08 20:05] mcbergsma commented on #288
I just migrated my repo from a private account to an organization account and it worked, the only hang-up was not paying more attention to the popup in Amplify when reconnecting. This is what I did.

1. Transfer the repo to the new account
2. In the _new_ repo, go to Settings / Webhooks and delete the Push hook to Amplify **This is what I failed to do
2. In the Amplify Console, go to App Settings

[2021-01-08 20:41] makrmark opened #1442 "Create backend environment hanging"
Trying to create a backend environment for an existing web app but the process fails during creation.

App ID: d16l5t14dylsuv

I tried to create the backend from console but it hung forever during creation. I tried again from CLI **and it was successful** and showed up in Console but then I tried to activate the Admin UI which itself is now hanging in Console.

I checked my permissions and it says

[2021-01-08 21:15] chris commented on #739
@bmyers624 It is still an issue. What I see in the AWS Notifications email message for a branch is text like this:

[code]

This is the case for any branch whose name contains a slash, such as "feature/my-new-thing" or "release/1.2.3", etc. The problem is that the slash is retained in that message as you can see, so the URL is wrong (since the actual deployed URL converts the slashes to dashes (as

[2021-01-08 21:32] Athena96 commented on #1388
Hi @jieliu218 currently, Amplify does not natively support deploying NextJS Apps, however it is on our roadmap for this year.

In the meantime, here is a workaround for you (we will be updating our docs with this as well, but I wanted to provide it here to unblock you. Thanks!

-----

## Steps

1. Create a NextJS app (if you don't have one already)

2. Add an `amplify.yml` file to the top level of

[2021-01-08 22:08] sbodi10 commented on #157
I believe this was because the repo is private. In order to use a private repo, an ssh key is needed.

Found this information from the below link:
https://forums.aws.amazon.com/thread.jspa?threadID=297933

[2021-01-08 23:21] kahdojay commented on #1403
@KhanDoors @9037568 (and others experiencing the same issue) can you provide your appId, region, and example job number(s)?

Also a repro would be helpful, whether it's just a url where it's currently happening or a sample repo we can deploy into a test app for ourselves.

[2021-01-09 01:20] Athena96 commented on #1368
Hi @simpian Java is currently not supported in Amplify's default build image. I have created a backlog item for this, and we'll update here once this is added.
In the meantime, as a workaround you can:
- create a custom build image: https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html
- manually `amplify push` your Java lambda function to deploy changes
- or switch to a lan

[2021-01-09 05:10] 9037568 commented on #1403
@kahdojay Here's a URL that's showing the error:
https://staging.d3i6qq3wkx2032.amplifyapp.com/models/

Also happy to supply a reproducible scenario if you can tell me how to copy/package/send it...

[2021-01-09 05:33] abhi6689-develop commented on #1197
@Athena96 no, it has been resolved, was an issue with my permissions.

[2021-01-09 08:57] makrmark commented on #1442
Okay I've gone to the trouble of walking through the steps again with a brand new "hello world" app, using the amplify CLI from start to finish and following the published docs (and some known workarounds). I managed to create the hosting and dynamodb based storage but from the Console it still cannot retrieve the backend status and when I try to enable the Admin UI it also hangs.

Does anyone act

[2021-01-09 09:56] makrmark commented on #1442
Another update - I got the Admin UI to enable after basically giving my user ALL permissions. I have no idea which is the right one - no error message was provided and the console was simply hanging per previous update.

But although I've added storage (NoSQL) via the amplify CLI it does not show up in the Admin UI where Storage seems to refer to S3 (Deployed storage resources takes me to an S3 bu

[2021-01-09 10:55] makrmark commented on #1435
I believe you need to click on the Build green tick - which opens up the build details.

[2021-01-09 11:58] makrmark commented on #1442
Okay more blood sweat and tears (mainly tears) later, I think I understand that the only way to do this is appears to be to configure backend storage **by way of** setting up via the API. i.e.: "amplify api add"

I got there by following this tutorial series:
https://docs.amplify.aws/start/q/integration/js

Seems to work for both GraphQL and REST APIs.

[2021-01-09 16:21] mattups opened #1443 "Amplify points to main branch, but still looks for master"
I'm setting an AWS Amplify app connected to a GitHub repository.

After completing the configuration, in which I specify to take my repository. on the `main` branch, configuration is successfull. Build unfortunately seems to be stuck in a `pending` state. As I look in the general tab I see that it automatically refreshing beetwen two state (look at the repo URL)

![image](https://user-images.githu

[2021-01-09 17:04] reddy9698 opened #1444 "Execution failed for task ':amplifyPush'."
I'm fairly new to amplify and Android app development
I was following the tutorial mentioned on their website (https://docs.amplify.aws/start/getting-started/add-api/q/integration/android)
I followed the tutorial completely, However I get this error and I'm unable to understand how to overcome the problem.
![Screenshot (120)](https://user-images.githubusercontent.com/30919564/104103906-d1b36b00-52

[2021-01-09 17:10] Alt-Pod commented on #1124
@stefvanderwel You are a legend, thank you so much.

[2021-01-09 21:54] gdavidvm193 commented on #1433
did you manage to fix it?

[2021-01-10 09:58] aheadxnet opened #1445 "Update github repository credentials"
** Please describe which feature you have a question about? **
I have created an AWS Amplify App with an Angular frontend and a DynamoDB backend. The code repository is hosted by github, and I am using CD/CI which all works fine.

Due to a change in the github policy I want to change the credentials for the github repository using a "personal access token". I created this token in my github accoun

[2021-01-10 11:25] aheadxnet opened #1446 "Amplify CI/CD auto branch detection no longer auto-connects to backend environment"
**Describe the bug**
Amplify CI/CD auto branch detection no longer auto-connect to backend environment (settings are: "Create new backend environment for every connected branch").

**To Reproduce**
Steps to reproduce the behavior:
1. Setup branch autodetection with pattern "feature/**"
2. Select "Create new backend environment for every connected branch"
3. Save
4. In your connected source reposit

[2021-01-10 13:20] aheadxnet commented on #1446
I looked into my last feature branch creations - the last successfully detected feature branch with working auto deployment (connected to auto-created backend) was created on Dec. 27th, 2020.

[2021-01-10 14:56] markusleh opened #1447 "SSL configuration is Running - Stuck running"
**App Id**: d1jn8lfgl06suq
**Region**: eu-central-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
SSL configuration has been running for ~18 hours and does not seem to go any further. I've validated that the configured DNS records exist and can be found e.g. on Google DNS servers.

**Error message**
-
**Note**: Be sure to check the message for sensitive information.

**Additi

[2021-01-10 15:45] #1447 closed

[2021-01-10 21:31] moshe opened #1448 "Adding new route53 domain stuck on SSL configuration"
**App Id**: d13y846pby4yi9
**Region**: us-east-1
**Step**:
**Status**: SSL configuration

**Issue/question**
I'm trying to set up a custom domain from Route53 to my Amplify application but getting stuck on SSL configuration. I've added that domain from Route53 UI (Hosted Zones -> Create hosted zone -> domain name `preview.example.com`, Private hosted zone, chose a VPC in us-east-1
After adding the

[2021-01-10 21:45] Senejohnny commented on #1434
You are getting this, as you might be asking for python in amplify backend services, e.g lambda. You need to make sure that pythonV3.8 is installed and then pip/pip3 install pipenv and make sure pipenv can be called from terminal. If command not found, add python 3.8 to your $PATH!

[2021-01-10 22:10] rpostulart commented on #1434
which python gives me:
/usr/local/bin/python

python --version
Python 3.8.7

pip -V
pip 20.3.1 from /Users/user/Library/Python/2.7/lib/python/site-packages/pip (python 2.7)

pip3 -V
pip 20.2.3 from /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pip (python 3.8)

echo $path
 /Users/user/Library/Frameworks/Python.framework/Versions/3.8/bin /Library/Frameworks/Python.fr

[2021-01-10 22:13] Senejohnny commented on #1434
Your $PATH is not fully as it should be! It should end by /bin like below
-bash: /Library/Frameworks/Python.framework/Versions/3.8/bin/:  .....

[2021-01-10 22:25] rpostulart commented on #1434
This is in my .zprofile file

export PYTHONPATH="/Library/Frameworks/Python.framework/Versions/3.8/bin:${PYTHONPATH}"

export PATH="/Library/Frameworks/Python.framework/Versions/3.8/bin:${PATH}"

export PATH=/Users/user/bin:/Users/user/Library/Frameworks/Python.framework/Versions/3.8/bin:$PATH

[2021-01-11 04:32] hxhieu commented on #1380
@derrickmehaffy you may need to review Strapi telemetry policy.

Why do we need the machine ID? I thought the UUID is enough?
Pretty much a secured host will not give you that machine ID as the app will not have any elevated permissions on such host.

[2021-01-11 09:37] vdyndikov opened #1449 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: djkusjukgpsdw
**Region**: eu-central-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please f

[2021-01-11 10:43] Senejohnny commented on #1434
Have a look at this [video](https://www.youtube.com/watch?v=PUIE7CPANfo)

[2021-01-11 13:08] emmafass commented on #1157
Having the exact same issue. @litwicki I've tried increasing my build image settings to have a timeout of 60m. However, I'm still running into the same issue and my most recent build failed after only 1m20s.

[2021-01-11 13:19] pagameba commented on #1435
That does not appear to do anything for me(in as much as it doesn't reveal the redeploy this version button) in either the cancelled build or previously successful builds, not does clicking on any of the other stages of the build.

[2021-01-11 14:29] MarianAlexandruAlecu commented on #225
Last update, it worked with:
[code]
"build": "webpack --mode production && cp src/apple.json dist/apple.json",
[code]

[2021-01-11 17:08] miguel258 commented on #157
The same problem here with GitHub private repository, and its some complicated reconfigure all settings for my deploymet each time that the error occurs.

[2021-01-11 17:40] kahdojay commented on #1403
@9037568 you can share it with me on Github and email details to aws-amplify-customer@amazon.com

[2021-01-11 17:41] Athena96 commented on #1197
Great, thanks! Resolving

[2021-01-11 17:41] #1197 closed

[2021-01-11 18:08] Athena96 commented on #1435
Hi @pagameba I followed your repro steps but was not able to reproduce the issue for myself. What response do you get when you run the webhook curl command?

[2021-01-11 19:12] pagameba commented on #1435
{"SendMessageResponse":{"ResponseMetadata":{"RequestId":"11cad055-f77c-5992-b80f-88235254ffb0"},"SendMessageResult":{"MD5OfMessageAttributes":"0a31f1f13f31824a56483ae938b38fb6","MD5OfMessageBody":"99914b932bd37a50b983c5e7c90ae93b","MD5OfMessageSystemAttributes":null,"MessageId":"e755e72c-db90-4514-a41d-f81ca56383a6","SequenceNumber":null}}}%

[2021-01-11 19:41] ganipcanot commented on #1150
@yoshi-star Are you doing a manual deployment i.e.:
1. Drag and drop folder deployment
2. Drag and drop ZIP deployment
3. Upload zip file to S3
4. URL pointing to ZIP file

Or CI/CD deployment (Connecting a git repository)?

[2021-01-11 20:01] hsspain commented on #925
This issue is currently being prioritized for updates.  We should have a fix out soon.

[2021-01-11 23:25] yoshi-star commented on #1150
Thank you for your reply.

 CI/CD deployment. (Connecting a git repository)
 Correctly, connecting a AWS CodeCommit repository.

[2021-01-12 01:11] sky4git opened #2906 "Prod frontend build failed with Nextjs Image component"

[2021-01-12 05:31] 9037568 commented on #1403
Why would I? There's no need for it. When I run the app locally, it works.
So it's not "happening because the file doesn't exist". Amplify is doing something wrong with the way it's handling things in the deployed application.

What details do you want to see? Everything is stored in AWS; is there no way for you to just dig into it?

[2021-01-12 09:20] benochr commented on #925
Thanks for the update. Do you have an ETA on that fix?

[2021-01-12 11:19] sugi-s commented on #1167
@litwicki  Any updates with this issue??? With the workaround we cannot download the screenshots and it is getting difficult to debug issues when there are test failures in CI pipeline. Appreciate if this can be looked into

[2021-01-12 15:39] chancyk opened #1450 "Hosted UI has Invalid Resource URLs"
**Describe the bug**
Clicking on the Hosted UI endpoint brings up a page that displays nothing, seemingly because the embedded URLs are broken, such as:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup auth with `amplify add auth`
2. Open the provided Hosted UI endpoint from `amplify status`

**Expected behavior**

**Screenshots**

**Desktop (please complete the following informa

[2021-01-12 15:51] benochr commented on #925
I would like to add another case tot this issue, which I think is also related.

We have a request to a REST service that is proxied to our backend by the redirect rule. The first call reaches our backend server and returns a 200 response. But the second time we call the same service it hits the CloudFront cache. The response contains a header "x-cache" with value "Hit from cloudfront". Sometimes

[2021-01-12 19:35] ryanbagwell commented on #1417
I encountered this problem today. From the deploy phase log:

[code]

The build was stuck as "running" despite the fatal error, which prevented subsequent builds from starting too.

[2021-01-12 19:55] lustercr opened #1451 "Domain activation is Failed - AWS Amplify Custom Domain Register"
**App Id**: dr9v9qf2l501
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Trying to register the amplify custom domain keeps on throwing errors, it says the CNAMEs are already associated with a different resource. which is not correct.

however there is a wildcard for the same domain pointing to a different cloudfront, will that be a issue ?

by basic design

[2021-01-12 22:56] aaroncampos opened #1452 "AWS Console has broken pages for projects with unsuccessful builds"
**Describe the bug**
For the past couple weeks, I have noticed many of our amplify builds (Gatsby projects) getting stuck at the "Provisioning" stage.  When that happens, I would need to click on the "Build" link, then click the "Cancel" button, and then click the "Redeploy This Version" button.

I'm still seeing many builds stuck in the provisioning stage, but now when I click on the "Build" butt

[2021-01-13 00:31] nimacks commented on #1452
Thank you for reporting this. In regard to the many builds being stuck in the provisioning stage, are you potentially hit the limit of 5 concurrent builds documented here: https://docs.aws.amazon.com/general/latest/gr/amplify.html

[2021-01-13 00:34] aaroncampos commented on #1452
Thanks, perhaps so. Is there a way to increase that quota?  Still need the
UI bug addressed, though, so I can restart the builds manually. --
Aaron Campos
CEO, Dhamira Inc.
805-910-7829

[2021-01-13 06:21] phortonssf commented on #892
Did you ever solve this? I have the same issue.

[2021-01-13 08:37] khola commented on #1247
Any update on this?

[2021-01-13 14:53] ryanbagwell commented on #1417
@Athena96 can you reopen this issue? Seems like it's continuing to occur intermittently.

[2021-01-13 14:53] dmudro commented on #1140
Is there any update on this one please?

[2021-01-13 14:57] dmudro commented on #1247
While other new functionality has been added to Amplify Console, this piece is still broken.

Even worse, you can't trigger the build via webhook, see https://github.com/aws-amplify/amplify-console/issues/1140

Basically there is no easy way to roll back. As a result sadly we are considering leaving Amplify despite having all our infrastructure on AWS.

[2021-01-13 15:50] khola commented on #1247
I just went with `cd UI` in my job script but feels clumsy tbh.

[2021-01-13 16:27] limelight-dept opened #1453 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d187ecjovhjyuq
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2021-01-13 17:16] vn425282 opened #1454 "Custom headers are not applied to my app"
**Describe the bug**
I can not make the custom header applied to my app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'AWS Amplify Console
2. Click on My App => App Settings: Custom headers

[code]
3. Nothing happen in my front-end :(

**Expected behavior**
Custom headers can applied to my app

[2021-01-13 17:38] #1454 closed

[2021-01-13 19:18] brnmye commented on #1453
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:19] brnmye commented on #1449
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:20] brnmye commented on #1448
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:20] brnmye commented on #1436
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:22] brnmye commented on #1407
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:22] brnmye commented on #1404
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:23] brnmye commented on #1392
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:23] brnmye commented on #1383
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:23] brnmye commented on #1381
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:24] brnmye commented on #1377
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:24] brnmye commented on #1375
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:24] brnmye commented on #1366
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:25] brnmye commented on #1319
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:26] brnmye commented on #1315
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:26] brnmye commented on #1312
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:26] brnmye commented on #1308
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:28] brnmye commented on #1254
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:29] brnmye commented on #1242
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:29] brnmye commented on #1236
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:31] brnmye commented on #1057
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:36] brnmye commented on #1414
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:37] brnmye commented on #1451
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:38] brnmye commented on #1438
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:38] brnmye commented on #1437
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:38] brnmye commented on #1431
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:39] brnmye commented on #1425
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:39] brnmye commented on #1399
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:40] brnmye commented on #1390
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:40] brnmye commented on #1396
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:40] brnmye commented on #1384
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:40] brnmye commented on #1378
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:41] brnmye commented on #1374
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:41] brnmye commented on #1371
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:42] brnmye commented on #1370
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:42] brnmye commented on #1318
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:42] brnmye commented on #1314
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:43] brnmye commented on #1306
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:43] brnmye commented on #1305
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:44] brnmye commented on #1264
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:56] brnmye commented on #1045
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 19:58] nimacks commented on #1446
We are investigating this issue.

[2021-01-13 20:00] #979 closed

[2021-01-13 20:02] brnmye commented on #965
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-13 20:09] nimacks commented on #1446
There is a known issue regarding  this `Error: File at path: '/codebuild/output/srcXXXXXXXX/src//amplify/.config/local-env-info.json' does not exist` that is being tracked in the Amplify CLI https://github.com/aws-amplify/amplify-cli/issues/5931.
The team is working on this.

[2021-01-13 20:59] artcad commented on #1438
I have already checked this doc. This is why I specified: "I have actually no CloudFront distribution" with a screenshot.
My CloudFront distribution list is empty, so my domain is not deployed to any other distribution.
I am still facing the same issue.

[2021-01-14 01:13] simondw commented on #1315
Thanks @brnmye , I've found another app in another region that was using the same domain. Removing the duplicate app & domain resolved the issue.

[2021-01-14 01:13] #1315 closed

[2021-01-14 06:06] sandeepgupta246 opened #1455 "Waiting to deploy Your deployment is being queued..."
till uploading the zip file it is working fine , and after I save and deploy it says 👍

Waiting to deploy
Your deployment is being queued...

and this is the screen forever, can anyone help me what exactly is the issue.
![screenshot](https://user-images.githubusercontent.com/69807635/104551376-c8285b00-565c-11eb-862e-c99a38ec884b.png)

[2021-01-14 07:04] jnk-keynoty opened #1456 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d37u6m3z2s07mu
**Region**: ap-northeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2021-01-14 09:19] Belrald commented on #331
+1

[2021-01-14 10:51] christiangerarddr opened #1457 "Reconnect repository not working"
I'm trying to change the source repository of my app, but the reconnect repository doesn't work on my end.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to frontend environments > App settings > General
2. Click on Reconnect repository
3. Click on the new repository
4. And nothing changes

[2021-01-14 17:02] IamManchanda commented on #412
Hello everyone, any updates on SSR Hosting?

[2021-01-14 18:19] Chashall316 opened #1458 "Amplify Preview Status not reflecting correctly in GITHUB pull Request"
**Describe the bug**
GITHUB Pull request will sometimes sit in QUEUE status even if the Amplify Preview status is completed preventing us from completing the pull request

**To Reproduce**
1.  Initiate a pull request with a Preview check requirement

**Expected behavior**
Once Preview check completes successfully in amplify, it should reference complete in GITHUB to allow the pull request to compl

[2021-01-14 18:28] michaelbrewer commented on #1458
Amplify ID: d1ytom7j4ziit6

GitHub reflects that the build is queued:
<img width="917" alt="Screen Shot 2021-01-14 at 10 17 43 AM" src="https://user-images.githubusercontent.com/5442469/104632664-e8531c80-5652-11eb-8e60-aad0335f2e66.png">

But on Amplify it is shown as complete
<img width="1082" alt="Screen Shot 2021-01-14 at 10 22 29 AM" src="https://user-images.githubusercontent.com/5442469/1046

[2021-01-14 18:38] eballerini commented on #1356
@hsspain We were hoping to use "subdomain auto-detection" for our use case as well but we are running into the same problem. I was wondering if this feature request had been discussed and put on the roadmap? If not, we may have to implement it ourselves through the API. Thanks!

[2021-01-15 02:05] createdbykartik commented on #1124
I upgrade my amplify and got a more verbose error message, try it and see what exactly is going wrong.
`npm i -g @aws-amplify/cli`

[2021-01-15 09:19] rubfergor commented on #1167
@litwicki no, I wasn't able to get it up and running with that

[2021-01-15 13:39] justnow-cpu commented on #1340
hi , I have the same problem. I just follow the document
https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/module-three/?e=gs2020&p=build-a-react-app-two
I read the document slefcourt27 suggested
https://docs.amplify.aws/start/q/integration/react
I found this is right document.

[2021-01-15 16:39] wvidana commented on #595
The new installation is a bit messy: all python binaries are under `/usr/bin` but the new python 3.8 is on `/usr/local/bin`, which took me several tries with convinations of `update-alternatives` and `pip install` to get it right. Also `/usr/bin/pip3` is not a link but the binary from the 3.7 installation, so it can't be override with `update-alternatives`...

If this is the definitive solution th

[2021-01-15 22:37] ryanbagwell opened #1459 "Deploy phase keeps getting stuck at "Updating Edge config""
Our deploys periodically get stuck at "Updating Edge config".

It happened today:

[code]

Also happened last week:

[code]

Many others have also noted this failure (see #1417 #1387 #1395 #1167 #1313 #1380 #1250).

[2021-01-15 22:44] nimacks commented on #1459
Can you provide your app Id and region?

[2021-01-15 22:51] ryanbagwell commented on #1459
Region: us-east-1
App ID I think: d2lnj6dcs32j7m

[2021-01-16 03:50] litwicki commented on #1167
@rubfergor @sugi-s we're looking at a comprehensive approach to resolving this issue permanently that is taking longer than we had originally thought to properly design. We'll be focusing on that with a majority of the team next week and will share updates as we have them.

[2021-01-16 04:59] iReivax1 opened #1460 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2sqf23vpad2u0
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
What action is needed to be done to rectify.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
*Previously used it for SES and workmail

[2021-01-16 12:47] arnaskro commented on #1459
We are experiencing the same issue, except it always gets stuck at `Updating Edge config` step whenever we try to deploy a file from S3. Manual deployments when uploading a file directly works without issues. Tried restarting a few times and waiting for a few hours, but nothing happens. Also tried creating new S3 Buckets and new apps but no changes... Had an attempt to wait overnight but then it j

[2021-01-16 20:32] aseefahmed opened #1461 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d12j1bjhe8s2n2
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2021-01-17 13:55] dabit3 commented on #412
Hey @IamManchanda, SSR support actively being developed but there is not a release date that we can share atm.

[2021-01-17 22:24] hcavarsan opened #1462 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d391y27dfzxn4k
**Region**: sa-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2021-01-17 22:24] #1462 closed

[2021-01-18 13:57] pnewhook opened #1463 "Amplify Publish Fails After Adding Environment"
**Describe the bug**
I'm getting the following error when publishing a new environment for the first time. This may be related to https://github.com/aws-amplify/amplify-adminui/issues/32 as I experienced that error when creating my environment. Publish worked fine in the default environment that was created when I initialized the project.

[code]

**To Reproduce**
Steps to reproduce the behavior:

[2021-01-18 14:28] alacret opened #1464 "Gatsby deployment stuck in "deploy" stage"
**Describe the bug**
I've tried for a couple of oof days to deploy our gatsby site without any luck. I keep Canceling the build and trying to run it again via de console or sending dummy pushes without luck.

I had in the past solved the issue by deleting the pipelines and re-creating them again, but this seems cumbersome as I have to shut down the site for a couple of hours.

I've tried node vers

[2021-01-18 14:42] RichardGamboaP opened #1465 "I can´t see my Apps in Amplify Console (Host web)"
In the Amplify-Console I  can't see my web Host App. So I can?t review it,

[2021-01-18 21:26] alnoor commented on #965
I am looking for a solution to the same problem. I registered a site using route 53. www.myroute53site.com. i started with a static web site and and it worked fine. myroute53.com displayed my hello world. I moved on to amplify. moved test code to github and using amplify got to the point where i get the following
The required CNAME records are not yet configured for the below subdomains.
Click "Ac

[2021-01-18 23:46] maczamora commented on #1374
Hi @brnmye! No issues, I guess the documentation is literal when it comes down to the setup for the domain name. You actually have to wait for the domain activation to go through before you even register the domain with your third party domain provider. It would be great to make that text a little bit bigger or make a note about the domain activation succeeding first before registering. I think th

[2021-01-19 05:02] davidlinc1 opened #1466 "Rewrites and redirects page - can we get more than 15 redirects per page maximum?"
Hi folks, we love Amplify and the console. We're currently using it to migrate a legacy website from an old CMS which is a project that includes making sure the old URLs don't break across a large disjointed mess of services that was previously in place.

The "Rewrites and redirects" page shows 10 redirect rules by default, and humorously offers an option to show 15 (though this user preference se

[2021-01-19 07:09] niraj8 opened #1467 "Incoming webhook visibility in Amplify Console"
** Please describe which feature you have a question about? **
Amplify app connected to Github repo uses an incoming webhook to get notified of push event
<img width="478" alt="Webhooks" src="https://user-images.githubusercontent.com/8666468/104999523-005fdd00-5a53-11eb-9aa3-bff80653a39b.png">

This incoming webhook is not visible in the Amplify Console > App > Build Settings.
Is this the expected

[2021-01-19 08:42] bvirlet commented on #1019
Hi @Athena96 ,

No, we haven't changed our folder structure. The issue still persists:

<img width="1281" alt="image" src="https://user-images.githubusercontent.com/792706/105009191-7c99f680-5a3a-11eb-9d16-07ccd925e5e7.png">

We've temporarily fixed it by changing our redirection rule from a 404 rewrite to a 404 redirect, but it's not ideal :

<img width="958" alt="image" src="https://user-images.

[2021-01-19 17:02] hsspain commented on #1466
@davidlinc1 Thank you for the feedback. We will add this to our feature request list and let you know when we can increase the page size limit and persist the page size selection.

[2021-01-19 17:03] hsspain commented on #1465
@RichardGamboaP Please keep in mind that Amplify apps are region specific.  Try switching your console region in the top right drop down selector to the region the apps were created.

Let us know if that doesn't work for you.

[2021-01-19 17:05] hsspain commented on #1464
@alacret Can you provide your app ID and region so that we can look to find the root cause and resolve this issue? How long are you waiting for the deployment to finish?

[2021-01-19 17:07] hsspain commented on #1463
@pnewhook Can you provide your app ID so that we can look at the logs for this and find a resolution?  Thanks.

[2021-01-19 17:09] hsspain commented on #1461
@aseefahmed Please ensure you have the proper CNAME records for your domain. https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html.

If you feel you have done everything correctly, try removing and re-adding the domain.

Let us know if you have specific problems setting up custom domains.

[2021-01-19 17:10] hsspain commented on #1460
@iReivax1 You will not be able to use a domain that is already associated with another CloudFront distribution. You will either need to remove that domain association from other applications or use a different domain for your Amplify app. I will close this ticket, but feel free to re-open if you have further issues.

[2021-01-19 17:10] #1460 closed

[2021-01-19 17:12] pnewhook commented on #1463
@hsspain d3osspxcmgm2mh

[2021-01-19 17:14] hsspain commented on #1458
@Chashall316 @michaelbrewer We are looking at this as a priority and will update you when we have a resolution.

[2021-01-19 17:22] hsspain commented on #1457
@christiangerarddr Can you provide your app ID and region? Which source control provider are you configured with? We will look into this issue ASAP.

[2021-01-19 17:25] hsspain commented on #1456
@jnk-keynoty Please ensure you have the proper CNAME records for your domain. https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html.

If you feel you have done everything correctly, try removing and re-adding the domain.

Let us know if you have specific problems setting up custom domains.

[2021-01-19 17:26] hsspain commented on #1455
@sandeepgupta246 Can you provide your app ID and region? This behavior can mean that you are hitting the 5 concurrent build limit and any new build requests at that point are queued. We can look into this for you.

[2021-01-19 17:29] hsspain commented on #1452
@aaroncampos We will prioritize fixing this but so that you can manually restart builds.  Also note that the builds will eventually run without intervention once the number of concurrent builds is less than 5.

[2021-01-19 18:27] garethleonard opened #1468 "Domain activation is Failed - Domain already associated with a different resource"
**App Id**: d9xrv9s8wrb9f
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Unable to activate a custom domain for an application in AWS Amplify. I deleted the resource it is referring to over 24 hours ago now, and still getting the same error.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different res

[2021-01-19 18:53] hsspain commented on #1459
@arnaskro Can you provide your app ID and region?

@ryanbagwell We have root caused intermittent issues that may be affecting your deployments and a fix is being pushed shortly. We will continue to monitor, but the reliability of your deployments should be better in the coming days.

[2021-01-19 18:54] hsspain commented on #1468
@garethleonard The domain may be associated with a CloudFront distribution that is not an Amplify app. Can you check other resources in your account?

[2021-01-19 18:56] hsspain commented on #1467
@niraj8 Yes, this is expected behavior. We use those webhooks to automatically start builds of your apps when changes are made to the code in the repository. When an app is "connected" to a repository, these webhooks are created.

I am closing this ticket, but please feel free to re-open if you have further questions/issues.

[2021-01-19 18:56] #1467 closed

[2021-01-19 18:58] hsspain commented on #1445
@aheadxnet Once your repository is connected, you will not have to reconnect when credentials change.

I will close this ticket, but feel free to re-open if you have further questions.

[2021-01-19 18:58] #1445 closed

[2021-01-19 18:58] garethleonard commented on #1468
I have no CloudFront distributions - I removed the one that was associated with the CNAME over 24 hours ago

[2021-01-19 19:10] niraj8 commented on #1467
Opening this again.
I understand the usage of the webhook.
Can you comment on this, please?

[2021-01-19 19:12] arnaskro commented on #1459
@hsspain the issue has went away around 2 days ago... We haven't changed anything, just tried creating a new deployment some time after commenting here.
Since then we already tried creating new apps and there are no issues for now 😄
This was in the eu-north-1region

[2021-01-19 19:22] hsspain commented on #1459
@arnaskro Thank you for the update. We will continue to monitor and the latest update should also increase your reliability in the coming days.

[2021-01-19 19:43] hsspain commented on #1467
@niraj8 The incoming webhooks listed under App > Build Settings are additional webhooks that can be created outside of the integration with source control. The source control integrated webhooks will not be listed here.

[2021-01-19 19:45] alacret commented on #1464
@hsspain after a few hours, I stopped the deployments.

As a final step, I tried downgrading Gatsby version until it worked:

"gatsby": "^2.24.92",

[2021-01-19 20:48] hsspain commented on #1464
@alacret Thank you for that info.  Can you provide your app ID and region so I can look at our logs?

[2021-01-19 21:08] hsspain commented on #1468
Can you try removing and re-adding the domain to your Amplify application? If you could send use the domain name you are attempting to associate, we may be able to help more.

[2021-01-19 21:53] hsspain commented on #1435
@pagameba Where in the Console are you seeing the message that the build was cancelled due to no change being found? We will prioritize adding a way to force deployment on webhook trigger, but want to make sure we have the right scenario.

[2021-01-19 22:13] hepatus commented on #446
Hi,
does anyone have any news on this subject? it's very penalizing! i still can't add branches.
in the meantime I've changed my computer, deployed new projects and it's always the same: the first branch is ok, as soon as I want to deploy a second one the button is grayed out.
Each time I have to ask a colleague who can do it every time without any problem!

[2021-01-19 22:16] hepatus commented on #446
Note that if I create a new Amplify App from the new gitlab branch ... it works. The problem occur only on multi branches deployments

[2021-01-19 22:23] hsspain commented on #1444
@reddy9698 If you can provide more logs for the error, we can better help you.  Can you look at your console logs and paste them here?

[2021-01-19 22:27] hsspain commented on #1443
@mattups We are looking into this issue now.

[2021-01-19 22:29] hsspain commented on #1443
Can you provide the region this app is created in?

[2021-01-19 22:38] hsspain commented on #1442
@makrmark Thank you for the feedback. We are looking into the permissions issues you had with the Admin UI and backend environments.

We will also see what we can do to clarify our docs regarding storage and data management. As you found, the Data tab refers to the configured GraphQL API which is backed by DynamoDB tables via AppSync.

[2021-01-19 22:41] hsspain commented on #1438
@artcad It is possible that another account has associated that domain. It is also possible that another service outside of Amplify which uses CloudFront has that domain associated with it.

Are you using that domain for any other services?

[2021-01-19 22:46] hsspain commented on #1414
We are going to close out this issue, but please feel free to re-open if you still need help.

[2021-01-19 22:46] #1414 closed

[2021-01-19 22:46] hsspain commented on #1425
We are going to close out this issue, but please re-open if you still need assistance.

[2021-01-19 22:46] #1425 closed

[2021-01-19 22:47] hsspain commented on #1404
We are going to close out this issue, but please re-open if you still need assistance.

[2021-01-19 22:47] #1404 closed

[2021-01-19 22:49] hsspain commented on #1429
@zhouxy1989 Can you provide your app ID and region so we can better help?

[2021-01-19 22:50] hsspain commented on #1410
@alisade Thank you for the feedback. We will add this to our backlog and prioritize it for resolution.

[2021-01-20 04:41] garethleonard commented on #1468
I tried removing and adding with no luck. The domain is capstoneqa.com

[2021-01-20 09:48] yibb-y commented on #1463
I had the problem, that the amplify project was not completely configured. Try to run ```amplify configure project```.
For me the correct aws profile setting was missing.
https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html

[2021-01-20 14:51] artcad commented on #1438
Problem solved.

I had to remove API Gateway domain association.

[2021-01-20 14:51] #1438 closed

[2021-01-20 16:29] hsspain commented on #1468
@garethleonard We can see that the domain is associated with an Amplify app. Can you check all of your apps in all regions to ensure that it is not already associated with another application?

[2021-01-20 16:31] garethleonard commented on #1468
🤦‍♂️ Thank you. That's the issue.

[2021-01-20 16:31] #1468 closed

[2021-01-20 16:33] hsspain commented on #1378
We are going to close this issue.  Please let us know if you need further assistance.

[2021-01-20 16:33] #1378 closed

[2021-01-20 16:33] hsspain commented on #1377
We are going to close this issue.  Please let us know if you need further assistance.

[2021-01-20 16:33] #1377 closed

[2021-01-20 16:34] hsspain commented on #1383
We are going to close this issue.  Please let us know if you need further assistance.

[2021-01-20 16:34] #1383 closed

[2021-01-20 16:34] hsspain commented on #1384
We are going to close this issue.  Please let us know if you need further assistance.

[2021-01-20 16:34] #1384 closed

[2021-01-20 16:34] hsspain commented on #1390
We are going to close this issue.  Please let us know if you need further assistance.

[2021-01-20 16:34] #1390 closed

[2021-01-20 16:35] hsspain commented on #1375
It looks like swimfire.com is already use for another AWS resource.  You will need to remove it from the other resource to add to an Amplify app. We are going to close this issue.  Please let us know if you need further assistance.

[2021-01-20 16:35] #1375 closed

[2021-01-20 16:36] #1407 closed

[2021-01-20 16:37] hsspain commented on #1402
@NotSoShaby Can you share any logs for the failed build so we can help further debug?

[2021-01-20 17:15] hsspain commented on #1441
@dnalbach We support your use case, but will need to look into why your PR build check is not showing for your staging branch.  Can you provide your app ID?

[2021-01-20 18:40] #1025 closed

[2021-01-20 18:40] #763 closed

[2021-01-20 18:53] pagameba commented on #1435
you can see it here:

![image](https://user-images.githubusercontent.com/249841/105221151-b21c0e00-5b26-11eb-92f5-60aa63d12023.png)

This screenshot also highlights another minor annoyance which I can file as a separate issue if its something new, the link to the Source repository changes constantly between the actual org/repo and `undefined` every few seconds while I am on this page.

[2021-01-20 20:34] zhouxy1989 commented on #1429
Sorry, I am not sure where to look up the app id.
App ARN:arn:aws:amplify:ap-northeast-1:952178321851:apps/dqtktmc6f03bn
Is 'dqtktmc6f03bn' an appid?
region:ap-northeast-1

[2021-01-20 20:37] dcfranca opened #1469 "Every time a backend deployment happen from the console CI/CD a cat dies"
** Please describe which feature you have a question about? **
Ok, not exactly a cat dying, but I didn't know how to summarize it on the headline, so I decided to go with a clickbait.
To be honest, I don't know if this question fit best here or on `amplify-cli`, feel free to move it if needed.

I have the following scenario:
2 branches, each branch is linked to an Amplify environment
Branch: `dev`

[2021-01-20 20:57] hspain commented on #1429
@zhouxy1989 Yes, that's it.  We will look at this issue and let you know what we find.

[2021-01-20 21:01] hsspain commented on #1429
@zhouxy1989 Yes, that is is. We will look into the issue and let you know what we find.

[2021-01-20 21:56] 3m opened #1470 "Xcode simulator warnings when adding Auth plugin in SwiftUI project (Xcode 12.3)"
**Describe the bug**
When adding the auth category, the Xcode similar shows repeated messages similar to:
"objc[16115]: Class CSAudioFileManager is implemented in both /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS.simruntime/Contents/Resources/RuntimeRoot/System/Library/PrivateFrameworks/SpeakerRecognition.framework/Spe

[2021-01-20 22:38] thibauld opened #1471 "Increasing the 5 Custom Domains Limit of AWS Amplify"
**Is your feature request related to a problem? Please describe.**

We provide an investment portal app for our customers.
We have a 100% AWS-based serverless stack and relying on AWS Amplify.
Each of our customers app has its own custom domain.
We have 1 single codebase for our app, so, for each new customer, we add a custom domain to our Amplify app.
Amplify currently limits the number of custom

[2021-01-20 22:52] hsspain commented on #1471
@thibauld Please contact us at aws-amplify-customer@amazon.com to request a limit increase.

[2021-01-20 23:08] hsspain commented on #1469
@dcfranca We will look into this.  Can you provide your App ID and region?

[2021-01-20 23:48] hsspain commented on #1394
@namhong2001 Thank you for bringing this to our attention. We are updating our docs to reflect the way this feature works. You currently cannot override the global access controls at a branch level when global password is on.

I am closing this ticket, but please feel free to re-open if you have further questions.

[2021-01-20 23:48] #1394 closed

[2021-01-21 00:20] hsspain commented on #1230
We are going to close this ticket.  Please let us know if you need further assistance.

[2021-01-21 00:20] #1230 closed

[2021-01-21 00:20] hsspain commented on #1229
We are going to close this ticket.  Please let us know if you need further assistance.

[2021-01-21 00:20] #1229 closed

[2021-01-21 00:20] hsspain commented on #1227
We are going to close this ticket.  Please let us know if you need further assistance.

[2021-01-21 00:20] #1227 closed

[2021-01-21 00:21] hsspain commented on #1217
We are going to close this ticket.  Please let us know if you need further assistance.

[2021-01-21 00:21] #1217 closed

[2021-01-21 00:22] hsspain commented on #1195
We are going to close this ticket.  Please let us know if you need further assistance.

[2021-01-21 00:22] #1195 closed

[2021-01-21 00:22] hsspain commented on #1185
We are going to close this ticket.  Please let us know if you need further assistance.

[2021-01-21 00:22] #1185 closed

[2021-01-21 00:24] hsspain commented on #1154
@Jordan-Eckowitz We have made improvements to our systems that should increase the reliability of detecting branch changes.  This should no longer be an issue for you.

I am closing this ticket, but please reach out if you have further issues.

[2021-01-21 00:25] hsspain commented on #1115
We are going to close this ticket.  Please let us know if you need further assistance.

[2021-01-21 00:25] #1115 closed

[2021-01-21 00:26] hsspain commented on #1086
We are going to close this ticket.  Feel free to re-open this if you are still having issues and we will do what we can to help.

[2021-01-21 00:26] #1086 closed

[2021-01-21 00:28] hsspain commented on #1057
We are going to close this ticket.  Please let us know if you need further assistance.

[2021-01-21 00:28] #1057 closed

[2021-01-21 00:37] hsspain commented on #1125
@tscole I am going to close this ticket, but please reach out if you need further assistance.

[2021-01-21 00:37] #1125 closed

[2021-01-21 00:46] hsspain commented on #1437
We are going to close this ticket.  Please let us know if you need further assistance.

[2021-01-21 00:46] #1437 closed

[2021-01-21 02:35] guizler commented on #1271
resources is not created why I used this script.

[2021-01-21 02:49] CodySwannGT opened #1472 "$npm_package_version no longer works?"
Hi there.

We have a number of Amplify apps and all of them set an environment variable called "REACT_APP_VERSION" to "$npm_package_version"

In all our previous apps, it works as intended in our code:

[code]

produces "Version 1.0.1" (or whatever)

However, on a newly deployed app, we're getting

"Version $npm_package_version"

[2021-01-21 06:11] noahgorstein opened #1473 "PR Preview cannot be enabled on branches"
** Please describe which feature you have a question about? **

Hi all - I've deployed my front end app just fine on Amplify. When I've gone to enable "Previews" on my branches, I am prompted to install the required integration for my Github repository. I install the integration, return to the Amplify console and when I attempt to enable the previews, nothing actually gets updated after toggling t

[2021-01-21 06:51] litwicki commented on #595
@wvidana Sorry for the delayed response, but thank you for your feedback. We're going to review this and will follow up.

[2021-01-21 09:25] SJI-ParthaSarathi commented on #595
@jake This is really frustrating that Amplify can't find python3
environment path on Windows 10 even if it is added!
it only happens when I run Amplify push command :-(

On Thu, Jan 21, 2021 at 12:51 PM Jake Litwicki <notifications@github.com>
wrote:

--
Partha Sarathi Kundu
Software Development Engineer at SJ Innovation LLC
<http://sjinnovation.com/>
*Where employee happiness generates client suc

[2021-01-21 09:32] dcfranca commented on #1469
@hsspain any email I can send this information to?

[2021-01-21 10:43] starloveit commented on #1402
I am facing same issue too.

[2021-01-21 10:56] charleslouis commented on #446
Worked for me

[2021-01-21 11:42] successgilli commented on #399
would be nice to have this

[2021-01-21 12:18] WolfyUK commented on #1271
@guizler I modified `amplify.yml` to force an `amplify push`:

[code]

[2021-01-21 13:35] ganatradeval opened #1474 "Auth not updating through Admin UI"
I have created Auth using admin UI. When I am trying to update the Callback URL, it stuck at deploying stage. Upon a page refresh, the requested changes disappear and we won't find our requested changes.

[2021-01-21 13:44] MiqueiasGFernandes commented on #572
I had same issue, any solution or AWS team answer?

[2021-01-21 16:19] jasonrundell commented on #1247
Can confirm also running into this issue currently. Once I add `appRoot: pro` to the amplify build settings, the button to redeploy disappears.

[2021-01-21 17:00] lifeofdave commented on #336
@Naes0 To get this working I had to wrap the AWS environment variable names in curly braces:

**webpack.config.js**
[code]

**amplify.yml**
[code]

[2021-01-21 17:05] hsspain commented on #1469
@dcfranca aws-amplify-customer@amazon.com

[2021-01-21 17:06] hsspain commented on #1402
@starloveit If you click on the Build tab in your failed build, logs should display in that tab's content.  Can you locate them there?

[2021-01-21 17:18] hsspain commented on #1154
Re-opening this ticket as the fix has not been fully deployed yet.  I will update this as we verify the fix is complete.

[2021-01-21 17:40] hsspain commented on #1472
@CodySwannGT I am sorry you are having issues. Has anything changed in your build specification between the times it worked and when it didn't? Can you share that build spec?

[2021-01-21 19:51] dcfranca commented on #1469
@hsspain Sent, let me know if you anything else.

[2021-01-21 20:37] CodySwannGT commented on #1472
Exact same build settings
[code]

[2021-01-21 21:59] theopposablethumb opened #1477 "Deploying to the backend environment takes more than an hour"
**Describe the bug**
I'm attempting to change the redirect URI in the backend for an app which uses Google Authentication. I've made the change in the Admin UI, and then the Admin UI shows the change as "Deploying". I've left it for nearly an hour now... If I refresh the page it stops deploying and the redirect URI is still showing as what it was before.

I've attempted a build from my Git Branch

[2021-01-21 23:11] Jordan-Eckowitz commented on #1154
Yeah, just saw its still not working

[2021-01-22 05:35] Rahul-Abhishek-AU6 opened #1478 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d1tnvxlrqr5cnw
**Region**: ap-south-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fe

[2021-01-22 07:44] watilde opened #1479 "Support IAM/SSO for access control"
**Is your feature request related to a problem? Please describe.**
As enterprise architect, I want to restrict access via IAM/SSO so that Amplify console meets my company's security rule.

**Describe the solution you'd like**
Support IAM/SSO based access control for Amplify console's cccess control.

**Additional context**
Some Amplify users mentioned the [new announcement of GitHub pages](https:/

[2021-01-22 14:08] slackgadget opened #1480 "Amplify project Gneral Settings unable to set Role"
I created a Dev build and I have configured an IAM Role to Admin Amplify - but I must have missed something. When I go into the AWS Amplify Console > App Settings > General for my **dev** build, I don't see any Roles appearing in the dropdown list box to set the Service Role.

My build is currently failing because there's no IAM role:
`2021-01-21T17:42:14.112Z [INFO]: init failed
2021-01-21T17:42:

[2021-01-22 15:08] slackgadget commented on #1480
My Bad - RTFM

[2021-01-22 15:08] #1480 closed

[2021-01-22 15:08] slackgadget commented on #1480
FYI
"In the role selection screen find Amplify and choose the **Amplify-Backend Deploymen**t role. Accept all the defaults and choose a name for your role (e.g. AmplifyConsoleServiceRole-AmplifyRole)."

[2021-01-22 17:14] hsspain commented on #1478
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error

Let us know if you're still facing issues.

[2021-01-22 17:16] hsspain commented on #1479
@watilde Thank you for the feedback. We will work to prioritize this feature request and keep you updated.

[2021-01-22 19:12] kahdojay commented on #1403
@9037568 if you wanted to send the repro scenario but the url you shared is fine. Can you try adding the SPA redirect rule since you have an Angular app:

https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa

@KhanDoors also let us know if you're still experiencing the issue, if so please provide appId and example URL

[2021-01-22 19:17] ganipcanot commented on #425
Closing this ticket for now - if anyone is still having issues please re-open the ticket!

[2021-01-22 19:17] #425 closed

[2021-01-22 20:53] ryanbagwell commented on #1459
@hsspain still running into errors here.

Stuck in the deploy phase just now:

[code]

[2021-01-22 20:58] hsspain commented on #1459
@ryanbagwell We are looking into this now.

[2021-01-22 21:03] hsspain commented on #1459
@ryanbagwell We are not seeing any issues with that build or the one that happen subsequently. The build and deployment succeeded in both cases which should reflect in the console.  Are you still seeing the job stuck in the deploy phase?

[2021-01-22 21:15] ryanbagwell commented on #1459
@hsspain sorry, you're right, I'm not being careful. Something's definitely wonky though. I manually cancelled several builds today but it looks like they were never cancelled as I see them listed as "succeeded."

I'll keep an eye on things and if I can be more precise I'll post back here.

[2021-01-22 22:15] bcliffor opened #1481 "Frontend build failing with no debug output"
**Describe the bug**
The build step of our amplify pipeline is being marked as failed for a previously working project. All we have in the logs is what I attached below. Yarn build is able to be run on local machines with a matching version of yarn with no problems.

**To Reproduce**
Steps to reproduce the behavior:
Create any build in our amplify CI

**Expected behavior**
Builds to succeed

**Scr

[2021-01-23 01:06] truimagz commented on #1481
Same

[2021-01-23 01:42] truimagz opened #1482 "Unable to deploy artifacts to console, Retrieving deployment details..."
**Describe the bug**

amplify publish error

× Deployment failed! Please report an issue on the Amplify Console GitHub issue tracker at https://github.com/aws-amplify/amplify-console/issues.

An error occurred during the publish operation: request to

https://aws-amplify-prod-us-east-1-artifacts.s3.amazonaws.com/d64ia5bmex528/dev/0000000290/DEPLOY/artifacts.zip?X-Amz-Security-Token=***&X-Amz-Algor

[2021-01-23 01:58] truimagz commented on #1482
I have tried deploying manually and it just sits at Pending

[2021-01-23 03:44] bkandaris opened #1483 "Issue deploying basic app on amplify"
When trying to deploy the app the webpage that shows where the app is supposed to be deployed is as follows:
I expected the React App to deploy

**Screenshots**

I am seeing this in place of where the app should be hosted:
![image](https://user-images.githubusercontent.com/52390565/105567817-de8c8180-5d02-11eb-9545-4b01ad46b96c.png)

Is there something wrong with my build commands?
![image](https:

[2021-01-23 03:52] kunal-supe opened #1484 "The custom domain cloudfront.net giving 404"
**App Id**: d3dy4an9tja241
**Region**:
**Step**:  The custom domain is added, it says need to wait until the <id>.cloudfront.net id migrated. But its giving 404 and hence the domain is not working

**Status**: Available (but not working)

**Issue/question**
After adding the custom domain, the cloudfront.net and parked domain isn't working after status: Available

[2021-01-23 04:03] #1484 closed

[2021-01-23 04:06] #1482 closed

[2021-01-23 04:07] truimagz commented on #1482
opened a support ticket on AWS

[2021-01-23 05:17] RandyLiu6410 opened #1485 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d3ax0lhy5rapus
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2021-01-23 07:15] ConnorV645 opened #1486 "Rewrite and Redirect base path to folder"
I have a website like

https://example.com

running a React SPA so the /<*> is replaying to index.html which is working great.
I also connected

https://othersite.com

which is also going to /index.html

however I would like to be able to route

https://othersite.com  ->  https://othersite.com/a/1

However trying to do so then causes a chain of /a/1/a/1/a/1. My goal is that the address bar shows t

[2021-01-23 11:58] tsondreal opened #1490 "AWS Amplify Console, a deleted App shows an error of not being found only in MS Edge"
**Describe the bug**
AWS Amplify Console, a deleted App shows an error of not being found only in MS Edge.  This can't be reproduced in Chrome or Chrome

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-01-23 15:16] truimagz opened #1487 "Amplify Publish Failing"
**Describe the bug**
Unable to complete amplify publish

**To Reproduce**
run amplify publish

**Expected behavior**
It to finish and deploy the code

Deployment failed! Please report an issue on the Amplify Console GitHub issue tracker at https://github.com/aws-amplify/amplify-console/issues.
An error occurred during the publish operation

Seems like it's timing out

[2021-01-23 16:15] iReivax1 opened #1488 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2sqf23vpad2u0
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
What is the next course of action

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**

https://protectmi2.com | main | https://www.protectmi2.com
-- | -- | --
https://www.protectmi

[2021-01-23 21:59] jacob-a-hall opened #1489 "Build Failed, Backend Error: "Could not find a schema at [Amplify's graphQL schema path]""
The error occurs after using Amplify CLI to configure a GraphQL API. Having used the CLI to add the api to my project, my Amplify backend build now fails with the indicated error. I've seen other tickets opened for this issue, but they've all been closed without providing a solve.

https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/module-four/
https://docs.amplify.aws

[2021-01-24 04:34] waynebrantley commented on #1221
This still happens, reported by multiple people and easily reproducible.
Any update @kahdojay

[2021-01-24 06:40] 9037568 commented on #1403
Yes, I have done that, and it does work around the problem. But isn't the point that it shouldn't be necessary? Angular apps deployed to non-AWS systems don't require this, do they?

[2021-01-24 08:37] damianthekreeeytor commented on #1271
For anyone else running into this issue, all I had to do is added the following Environment Variables in AWS Amplify console.

AMPLIFY_USERPOOL_ID
AMPLIFY_WEBCLIENT_ID
AMPLIFY_NATIVECLIENT_ID

I was receiving the same error when using amplify import auth.

[2021-01-24 13:44] SandeepKumarYaramchitti opened #1491 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2qwqmz5kprk4w
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I am trying to deploy my Angular frontend to a Route53 domain. In the past, i have used amplify app to do this but looks like i could not see the old amplify app, so had to create a new one. However, while deploying to custom domain - it is failed with an error message.

Error messag

[2021-01-24 17:56] zenusnguyen opened #1492 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d25vo1gev4lvvb
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2021-01-24 18:58] carlosortizpacheco opened #1493 "Can not deploy. could not initialize env -- Access Denied--"
**Issue/question**
Hi, I can not deploy my app.

**Error message**
2021-01-24T18:49:37.421Z [INFO]: [33mNote: It is recommended to run this command from the root of your app directory[39m
2021-01-24T18:49:42.773Z [WARNING]: - Initializing your environment: dev
2021-01-24T18:49:42.839Z [INFO]: [31mCould not initialize 'dev': Access Denied[39m
2021-01-24T18:49:42.854Z [ERROR]: !!! Build failed
2

[2021-01-24 21:46] Stvad commented on #956
Is there an issue to track adding this?

[2021-01-24 22:09] Stvad commented on #1340
see also #6117 that has explanation on how to update version from ui

[2021-01-24 22:19] mikelhamer opened #1494 "Hyphens in application name?"
When using the Amplify Console, hyphens are allowed in the project name.

When using the Amplify CLI, hyphens are not allowed in the project name.

This seems like a major inconsistency that could lead to issues. Can someone chime in on this?

[2021-01-25 11:22] YairShlomo opened #1495 "Amplify Console - Build Failing"
**Describe the bug**
The build stage is failing when using Amplify Console. couldn't identify the problem.

The same application version builds successfully via npm run build when run locally on the development mac.

To Reproduce
any attempt to deploy

Expected behavior
Successful build

Screenshots

                                 # Starting phase: preBuild
                                 # Exe

[2021-01-25 11:33] zenusnguyen opened #1496 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d25vo1gev4lvvb
**Region**: ap-southeast-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Pleas

[2021-01-25 14:12] alacret commented on #1464
@hsspain sorry that I missed this message. It was working ok, but now is stuck again:

This is the URL, I'm guessing this is the project id: `d11sorihqky0fe`

`https://console.aws.amazon.com/amplify/home?region=us-east-1#/d11sorihqky0fe`

[2021-01-25 14:38] zenusnguyen opened #1497 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d25vo1gev4lvvb
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2021-01-25 14:38] zenusnguyen opened #1498 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d25vo1gev4lvvb
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2021-01-25 15:11] bcliffor commented on #1481
Bumping this again as there is really no way for our team to attack this issue with zero debugging output.

Thank you.

[2021-01-25 15:47] chrisyeung1121 commented on #18
It would be beneficial to have it within the amplify development workflow.

[2021-01-25 17:34] Kirnos opened #1499 "Amplify console build error: Packaging lambda failed function failed. Could not find npm executable in the PATH."
**Describe the bug**
I have configured hosting for my app in AWS Amplify Console, but backend build is failing. Don't see such issues when developing the app, everything works as expected when I push the changes from my local machine to the cloud via amplify cli (i.e. amplify push).

Error message: Packaging lambda failed function failed. Could not find npm executable in the PATH.

**To Reproduce*

[2021-01-25 17:35] sammartinez commented on #1499
This seems to be an issue with Amplify Console. I have transferred this issue to the Amplify Console repository.

[2021-01-25 17:42] hsspain commented on #1481
@bcliffor  We are looking into this now and will get back to you ASAP.

[2021-01-25 18:57] #1408 closed

[2021-01-25 19:08] brnmye commented on #1485
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-25 19:09] brnmye commented on #1488
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-25 19:09] brnmye commented on #1491
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-25 19:09] brnmye commented on #1492
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-25 19:10] brnmye commented on #1496
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-25 19:11] brnmye commented on #1497
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-25 19:11] brnmye commented on #1498
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-25 19:24] chkrause opened #1500 "Merge doesn't trigger new Deployment - single commit is working"
When we merge from develop branch to master the deployment isn't triggered.
When we do a commit direct in master branche the commit is recognized and deployment is triggered.

Here you can already find the different events fired from codecomit to SNS:
**Event for merge:**
[code]
**Event for single commit**
[code]

I assume that the references are not correct interpreted by the called endpoint http

[2021-01-25 21:07] abhi7cr commented on #1500
Hello @chkrause,
We have a fix in the pipeline for this, will let you know once its deployed.

[2021-01-25 22:47] hsspain commented on #1481
Closing this ticket as it was resolved directly with customer.

[2021-01-25 22:47] #1481 closed

[2021-01-25 23:04] pnewhook commented on #1463
@yibb-y That has no impact on my issue. The problem is it seems the deployment steps for personal environments are routed through the admin console, and that assumed role doesn't have the necessary permissions to deploy.

I'm giving up hope the Amplify team is going to correct these at the CLI/Console level, so I'm just creating a policy to get around this, here are the other errors I've run into

[2021-01-26 01:17] abhi7cr commented on #1499
Hello @Kirnos,

It looks likes its unable to find `npm` in the PATH. You can run `which npm` to see where its installed. If you are using our default build image, we install node 8, 10 and 12 and default to node 12 and use `nvm` as our version manager. `npm` should be installed in the build image via the node installations. Looks like the lambda function expects it to be at a specific path.

[2021-01-26 01:55] abhi7cr commented on #1487
Hello @truimagz, could you provide appId and region so that I can take a look at the logs ?

[2021-01-26 01:58] abhi7cr commented on #1483
Hello @bkandaris , could you share the appId and region so that I can take a look at the logs ?

[2021-01-26 02:41] henry8812 opened #1502 "Domain activation is Failed - CNAME already associated"
**App Id**: d1cv7mqz7n7e45
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I am using aws amplify to create an CI of web repository, but when i try to set up the domain for the project, aws amplify return an error, Something went wrong. Please refer to our troubleshooting guide below to diagnose the issue. After fixing the issue, choose retry below. If retr

[2021-01-26 04:07] Kirnos commented on #1499
Hello @abhi7cr,

Thanks for your response. I am using the default build image.
I added `which npm` to the script and it prints the following path `/root/.nvm/versions/node/v12.19.0/bin/npm`.

I have also inspected all my Lambda functions and see that each one has the file called `amplify.state` with the following content:
`{
  "pluginId": "amplify-nodejs-function-runtime-provider",
  "functionRunt

[2021-01-26 04:25] abhi7cr commented on #1499
@Kirnos Yes, can you modify the lambdas so that they all use 12.x ? I’m not sure about the `useLegacyBuild` property, I can check with my colleagues and get back to you.

[2021-01-26 07:49] teppeis commented on #18
FYI: Netlify has two ways to configure rewrites and redirects.

- [Redirects and rewrites | Netlify Docs](https://docs.netlify.com/routing/redirects/)

Rewrites and redirects specific config file `_redirects` and general config file `netlify.toml`.
I would like to see the same mechanism as Netlify's `_redirects` introduced to AWS.

Here is a `_redirects` example:

[code]

[2021-01-26 10:07] #1495 closed

[2021-01-26 10:54] SelcukKayahan opened #1503 "Domain activation is Failed - [CNAME already in use]"
**App Id**: d39uf4dnz7rsy0
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Hi, we already were in touch with your customer support about the CNAME issue. amplify thinks that there is another app running under the CNAME we want to declare but according to route53 there is not. Also there is no app in amplify with the app-id you gave us. When we add a custom

[2021-01-26 11:15] MrigSingh opened #1504 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3qbo6bmvg0mp1
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2021-01-26 11:16] #1504 closed

[2021-01-26 12:32] tscole commented on #1125
Have just hit this issue again - this time with may fewer rules. This is a series problem as I need these redirects for site that is awaiting launch

[2021-01-26 15:04] integraitco opened #1505 "Domain activation is Failed - Problems with simple domain in aws amplify"
**App Id**: d3bo0yxaq4bkfr
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Im getting this error when trying to activate my domain. We have checked the CNAMES records and we ahve only the 2 subdomains

**Error message**
Error message: One or more aliases specified for the distribution includes an incorrectly configured DNS record that points to another Clou

[2021-01-26 15:56] aam198 commented on #1345
I had the same issue, switched Amplify CLI version from latest to my current version and still received build error. I then had a new notification about service role. I added a service role by following: [https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html](https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html) and V

[2021-01-26 16:39] tfmorris commented on #1271
@swaminator Has this been fixed? What version of the Amplify CLI has the fix?

[2021-01-26 17:40] kahdojay commented on #1068
@nhc-motosumo apologies for the delay here. I see your `master` and `develop` branches have recent job successes. Can you let us know if you're still seeing issues with your jobs?

[2021-01-26 20:31] krishnagbm opened #1506 "Unable to Configure the ANAME/ALIAS record"
**App Id**: karthikwebGitHub
**Region**:
**Step**: ANAME.ALIAS -- STEP3
**Status**: Active

**Issue/question**
Unable to Configure the ANAME/ALIAS record.  My DNS provider need IP address for AName value

### domain.com without www is not working.  It should be redirected to www.domain.com technically

**Error message**
Browser returning DNS_PROBE_FINISHED_NXDOMAIN
**Note**: Be sure to check the m

[2021-01-26 20:41] brnmye commented on #1502
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-26 20:42] brnmye commented on #1503
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-26 20:42] brnmye commented on #1505
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-26 21:38] SandeepKumarYaramchitti commented on #1491
@brnmye I did go through the documentation. However, it does not mention anything about lets say a past amplify app was using the same domain. However, it is deleted now so i am not able to disassociate this domain from old app.

Please suggest next steps

[2021-01-27 02:17] mikhael28 commented on #1180
I know this won't be incredibly helpful... but I definitely found a way past this bug. I don't remember how (I think it had something to do with the node version) but just saying... don't give up hope! The solution is there!

[2021-01-27 08:14] nhc-motosumo commented on #1068
Builds are running at this time, but when we saw the issue, it stopped our development flow for 1-2 workdays.

Is there any hope that the UI will start providing reliable insights and controls into the components behind these breakdowns? We have an ongoing concern on whether Amplify is mature enough for our production systems because of this.

[2021-01-27 13:59] Kirnos commented on #1499
@abhi7cr - I updated all Lambdas to use 12.x but it didn't fix the issue.
The only function in my backend that still requires 10.x is the autogenerated userPoolGroups lambda which is defined inside .../amplify/backend/auth/userPoolGroups/template.json and always defaults to 10.x even after I update the template.

I looked at the source code of the amplify function throwing the error and see that y

[2021-01-27 15:59] bryantbiggs opened #1507 "`amplify.yml` monorepo config only deploys first app listed"
**Describe the bug**
Setting up my project as a monorepo, only the first app listed in the config is deployed regardless of the path provided to the console. No matter what I try to do, Amplify only recognizes the first app listed in the `amplify.yml` configuration.

**To Reproduce**
Steps to reproduce the behavior:
1. Fork https://github.com/clowdhaus/amped
2. Go to Amplify console and add new ap

[2021-01-27 22:00] kahdojay commented on #1068
@nhc-motosumo absolutely, we have made some major changes in the last few months to our build/deploy architecture which have fixed a lot of the underlying issue we saw last year. We will continue our planned work to make build failures less frequent and more transparent so that you're not totally dependent on reaching out on GitHub. That being said, we'll keep doing our best to provide support whe

[2021-01-27 22:00] #1068 closed

[2021-01-28 05:55] wcomicho opened #1508 "Amazon Lex 2"
Does Amplify support Amazon Lex version 2?

Was able to use version 1 of Amazon Lex version 1 but not able to do so with the same setup for Amazon Lex version 2.

Sharing some code below that is working on version 1 but not in version 2:

Amplify.configure({
  Auth: {
    identityPoolId: 'us-east-1:mypoolidhere',
    region: 'us-east-1'
  },
  Interactions: {
    bots: {
      "Test": {
        "n

[2021-01-28 08:31] gursewak11 opened #1509 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2k2berc0fctjj
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2021-01-28 14:31] michaelbrewer commented on #550
Happens a lot for me too, especially if there are multiple commits close to each other

[2021-01-28 16:19] jpmarques19 commented on #14
+1

[2021-01-28 17:02] YelyseiLukin opened #1510 "Query params are being cut off with the default redirect rule"
Recently, we migrated our front-end from S3 + CloudFront to Amplify, and one of our functions stopped working.

We integrated with a third-party service (TradeStation) and after the successful authentication, it should have redirected us back to our website and provide us the code in query params.
But then we noticed that for some reason all the query params are being cut off and instead of `https

[2021-01-28 19:15] takumiecofit opened #1512 "awsmobile InternalFailureException: java.lang.NoSuchMethodError: org.apache.commons.codec.binary.Base64.encodeBase64String([B)Ljava/lang/String;"
**Describe the bug**
We are using awsmobile to deploy our app. It deployed without errors as it should yesterday and today it is failing to deploy. It has been deploying fine for the last 2-3 years.

We understand that awsmobile will be deprecated in Oct 2021 and will promptly migrate when the time is right for us.

If the developers of aws-amplify recommend to migrate sooner rather than later to

[2021-01-28 20:07] bryantbiggs opened #1511 "`customHttp.yml` regex to avoid caching select objects"
**Describe the bug**
- I am trying to exclude all JSON files from having the `Cache-Control` header be set to cache the files, but so far I have been unable to find the right combination of a `pattern` to do so

Ideally I would like to do this:
[code]

I have tried numerous approaches with no luck, such as:
[code]

**Expected behavior**
- I would like to be able to set specific headers based on th

[2021-01-28 20:27] abhi7cr commented on #1507
Hi @bryantbiggs,

Thanks for reporting this. We have a fix for this, along with a bunch of other monorepo fixes in the pipeline. We will let you know once its deployed.

[2021-01-28 20:40] krishnagbm commented on #1506
Able to close it myself, by adding IP address of www.domain.com as A/AAAA value for domain.com.  It maynot be the perfect way as i think IP addresses may vary for amplify in real time (I am guessing).  I am closing this ticket my self, but if any one has a better idea, please post it here

[2021-01-28 20:40] #1506 closed

[2021-01-28 20:41] georgeleeventures commented on #1221
I'm having the same issue. Can someone please advise? It sounds like the only solution is to run amplify push from the local terminal instead of pushing to git and hoping that amplify picks it up.

[2021-01-28 21:46] dnalbach commented on #1441
The staging ARN is:
`arn:aws:amplify:us-east-1:663349387396:apps/dekwdhq95dqhd`

[2021-01-28 23:03] igorimgn commented on #1499
Having the same error after adding 2 new lambdas via cli

[2021-01-29 02:50] mustafamotiwala opened #1513 "Domain activation is Failed - Trying to connect with DNS on Cloudflare."
**App Id**: d17fa87jt51ttt
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I have the DNS hosted in Cloudflare and when I tried to configure my custom domain, it consistently fails on the Domain Activation step.

**Error message**
`Error message: One or more of the CNAMEs you provided are already associated with a different resource.`

**Additional inf

[2021-01-29 05:26] lucas-jg opened #1514 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1cugge4qun460
**Region**: ap-northeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2021-01-29 05:26] #1514 closed

[2021-01-29 10:23] MaximilianSchon commented on #1499
I am having the same issue after fetching the project to a new computer.

[2021-01-29 12:30] jacob-a-hall commented on #1489
This turned out to be a simple issue.

The Amplify CLI initializes GraphQL API files in the project directory, but my IDE (Webstorm) tagged them as unversioned files and wasn't including them in my Git commit/pushes. They were present in my local environment build but obviously not on the AWS server, hence the build error. When performing a commit, I just had to select the unversioned files to be

[2021-01-29 13:09] tforster-ca opened #1515 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1rqmdih4jxg2w
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2021-01-29 13:17] mustafamotiwala commented on #1513
Discovered the issue in Cloudfront where I had pervious deployments which were now defunct but configured with the same CNAME values.

[2021-01-29 13:17] #1513 closed

[2021-01-29 14:01] pagameba opened #1516 "Previews fail on subsequent builds"
**Describe the bug**
I enabled Previews on my `develop` branch, a new environment is created and deployed when a PR is opened. If the amplify deployment fails and I push a new commit to the PR branch (hopefully fixing the issue), a second (and all subsequent) deployment will fail at this point:

[code]

If I then manually delete the bucket via the S3 console and use the `Redeploy this version` but

[2021-01-29 15:19] tazbill commented on #1435
Any update on this?  I am having the exact same issue.

[2021-01-29 16:29] pagameba commented on #1435
I did discover that the "Redeploy this version" button does appear when using Previews, that's the only place I've seen it.  It also does not work (as reported in #1516)

[2021-01-29 18:58] brnmye commented on #1509
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-29 18:58] brnmye commented on #1515
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-01-29 19:20] abhi7cr commented on #1499
could @igorimgn  and @Kirnos  share both of you app ids and region ? I will take a look at the logs on our side.

[2021-01-29 19:38] jasonrundell commented on #405
This has been open for a long time. When is this issue coming out of the backlog and being worked on?

[2021-01-29 20:04] Jordan-Eckowitz commented on #1154
Hi @hsspain - has this fix been deployed yet?

[2021-01-30 02:36] shtsht commented on #1512
@elorzafe
I faced the same problem.
Please let me know if there are some workaround solutions.

[2021-01-30 02:54] shtsht commented on #1512
@elorzafe
I've found zipped file is correctly uploaded at S3 thes-deployments-mobilehub-xxxxxxx/uploads/.
So, I've updated lambda manually by using "Upload a file from Amazon S3" in lambda console "Function code".

![Screen Shot 2021-01-30 at 11 51 23](https://user-images.githubusercontent.com/1259088/106345150-7d137680-62f1-11eb-91d3-d1ce79a0c85b.png)
![Screen Shot 2021-01-30 at 11 50 39](https:/

[2021-01-30 15:28] zfanta commented on #1499
Function `runPackageManager` in `amplify-nodejs-function-runtime-provider/src/utils/legacyBuild.ts` uses `execa.sync` with `cwd` option[(code)](https://github.com/aws-amplify/amplify-cli/blob/v4.41.2/packages/amplify-nodejs-function-runtime-provider/src/utils/legacyBuild.ts#L47). If `cwd` is not a valid directory path, `execa.sync` throws error.

If you add `console.log(cwd)` in `runPackageManager

[2021-01-31 05:34] Karynvo opened #1517 "Deployed Github Gatsby Frontend returns error after first load"
**Describe the bug**
Deployed front-end site (Gatsby) returns error after a normal refresh. However, the site reloads successfully when you do a hard reload so I wonder if it has something to do with caching.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect Github branch to deploy to Amplify console
2. After site finishes making it through the pipeline, navigate to the Amplify-generat

[2021-01-31 08:42] yogiokto commented on #1388
Hi @Athena96, I tried above steps, but getting issue with graphql api auth, the issue was with next build command

`2021-01-31T04:33:23.304Z [WARNING]: > Build error occurred
2021-01-31T04:33:23.305Z [WARNING]: Error: No credentials
                                    at GraphQLAPIClass.<anonymous> (/codebuild/output/src430952019/src/dinotes-app-serverless-dev/node_modules/@aws-amplify/api-graphql

[2021-01-31 10:58] JisrHR commented on #262
same here.
we're switching from amplify because of this.I hope amplify start working on this feature it is  very important

[2021-01-31 12:53] yogiokto commented on #1388
Issue fixed by not using getStaticPaths, getStaticProps & getServerSideProps, just use useRouter() to change the state without fetching data, fetch data done inside useEffect().

Thanks,

[2021-01-31 19:36] kkarich opened #1518 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dobmi2qe8augj
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

[2021-01-31 21:02] israelitalo opened #1519 "amplify application does not request the server"
![Capturar](https://user-images.githubusercontent.com/49887063/106397825-26d82d80-63ee-11eb-9933-f17947ef85c3.PNG)
Hi! I have a REST API on a node hosted on an EC2, which has CORS released.
I uploaded the front-end (REACT) to this api, but he is unable to make the request to the server.
Do you have any idea why?

On the navegaor network, in Request Headers, a message appears: rovisional headers ar

[2021-02-01 00:51] jo-elbdev commented on #1483
shouldn't it be `node_modules/**/* `?

[2021-02-01 00:55] jo-elbdev opened #1520 "Wrong source repository url"
**Describe the bug**
In my gitlab repository, I renamed master branch to main. The shown source repository url from amplify now is set to gitlab.com/repository-name/group-name/tree/master instead of /main/.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a gitlab repository
2. Rename master to main
3. connect branch to aws amplify
4. see source repository url

**Expected behavior**
It

[2021-02-01 02:15] aj120426394 opened #1521 "Frontend build failed without reason"
** Please describe which feature you have a question about? **
Hi there, I try to deploy my amplify project from CodeCommit. But it always end up at failed to compile at Frontend building stage without any error.

I have successfully deployed this code to my personal account's Amplify from my local machine (Mac). For the company requirement, I need to move it to company's AWS account and setup CI/

[2021-02-01 04:00] qxzzxq opened #1522 "SPA index page accidentally cached for 86400 seconds in CloudFront edge location"
**Describe the bug**
I am having this problem with my Angular application. After a recent code deployment, my website doesn't work anymore when I try to open the root URL (https://www.yankong.org). It works without any problem if I directly open other pages (for example https://www.yankong.org/review).

After some investigation, it seems that the problem comes from the index page. An old version o

[2021-02-01 06:01] pravintandale007 opened #1523 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dh1icvmiakzx9
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2021-02-01 07:04] watilde commented on #1421
This issue seems to be fixed per https://twitter.com/shn/status/1356115553488756739 :)

[2021-02-01 09:38] ttolvane commented on #1499
Seeing the same issue. Locally building and pushing works fine, but cloud builds fail for the same reason:

`Error: Packaging lambda failed function failed. Could not find npm executable in the PATH.`

[2021-02-01 09:50] magedjisr commented on #44
any updates on this, I need this feature

[2021-02-01 14:21] arnaskro opened #1524 "Amplify Console Monitoring improvements and Real-Time Access Logs"
**Is your feature request related to a problem? Please describe.**
Currently, for our amplify deployed website, there is no way to monitor incoming requests, cache hit rates, latency, and error rates which is very important for DevOps. Access logs do actually provide some information for all of this, but they take up to 1 hour to appear, meaning if there is something wrong that we don't notice our

[2021-02-01 16:36] giorgiocarniel opened #1525 "Domain management is missing from App Settings"
** Please describe which feature you have a question about? **

Unable to find a way to connect a domain to my Amplify application.

** Provide additional details**

I'm following this guide, but under my App Settings on Amplify I don't have the voice "Domain Management".
https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-amazon-route-53.html

What am I missing?

[2021-02-01 16:58] abhi7cr commented on #1421
Yup we fixed it 🙂. It’s still pending deployment to certain new regions which will be complete by today. I will update this ticket once complete.

[2021-02-01 17:08] abhi7cr commented on #1499
@ttolvane, could you share your appId and region ?

[2021-02-01 17:28] adambschroeder commented on #1154
Also experiencing this when pushing changes to a CodeCommit branch. Change not detected in Amplify thus the build never runs.

[2021-02-01 17:41] abhi7cr commented on #595
we have updated our [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md#how-do-i-run-amplify-functions-with-python-runtime) with the commands posted by @wvidana, and will update our docs shortly.  Please let us know if you are still facing issues.

[2021-02-01 17:54] ganipcanot commented on #1459
Closing this for now.  If anyone is still experiencing issues please re-open and provide your `appId` and `region` so we can take a look.

[2021-02-01 17:54] #1459 closed

[2021-02-01 18:18] michaelbrewer commented on #595
Looking forward to this being the default behavior

[2021-02-01 18:21] ganipcanot commented on #1525
Could you share more  details about your app?

How did you deploy the app?
Is it backend only?
Frontend only?
Fullstack?
Did you do a manual deploy?
- S3?
- drag-and-drop folder?
- zip upload?
- URL upload?
Is the application CICD (meaning it's connected to a git repository like github, gitlab, codecommit)?
What is your `appId` and `region` (These are part of your app ARN)?

[2021-02-01 18:43] ganipcanot commented on #1522
Can you confirm your appId: `d25acyg7ezko7f` and region: `us-east-1` (IAD) are correct?

[2021-02-01 19:07] brnmye commented on #1523
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-02-01 19:08] brnmye commented on #1518
Refer to our documentation to troubleshoot domain setup.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2021-02-01 20:22] chkrause opened #1526 "CD isn't working reliable"
Since 28th of January we facing issues with the configured CD via Code-Commit.

After committing a change the amplify deployment isn't triggered any longer.

Steps to reproduce:
1. Connect Branch via Code-Commit (Mono-Repository) => Deployment runs sucessfull
![image](https://user-images.githubusercontent.com/40870406/106513248-ffa75c00-64d2-11eb-8676-2ea0bbfcfde7.png)

2. Commit change to code-co

[2021-02-01 20:24] ryanbagwell opened #1527 "Amplify stuck in deploy stage again."
[code]

App id: dzdjg1b39mpia
Preview pr-671
Build #39

I cancelled after about 45 minutes.

[2021-02-01 21:07] abhi7cr commented on #446
hi @hepatus,
could you tell how you connected the project ? was it through a team invite or an individual account ? We are looking to see if there are possible permission issues associated with this.

[2021-02-01 21:17] abhi7cr commented on #1521
@aj120426394 I noticed the last 2 builds of yours succeeded. Are you still facing this issue ? :)

[2021-02-01 21:18] abhi7cr commented on #1519
Hi @israelitalo, are you directly hitting the REST Api from the browser or going through a proxy ?

[2021-02-01 21:38] abhi7cr commented on #1524
Hi @arnaskro,

Thanks for reaching out. We are in the process of surfacing CloudFront metrics to the Console, will update this thread once its out :)

[2021-02-01 22:10] abhi7cr commented on #1510
Hi @YelyseiLukin, thanks for reaching out. I will look at this and get back to you with the recommended solution.

[2021-02-01 22:27] abhi7cr commented on #1517
Hi @Karynvo, when you say the site does not show up, do you mean you are getting an error like `403/404` or its loading the previous version ?

[2021-02-01 23:12] qxzzxq commented on #1522
yes they are correct

[2021-02-01 23:40] ganipcanot commented on #1380
@Santhosh222  it looks like you were running `npm start` in the `build` stage per the logs in the Archive.zip you attached.

Are you still experiencing an issue?

Also - how are you deploying your application?  Are you doing a manual deploy by dragging and dropping a zip folder?

[2021-02-01 23:48] thuvs opened #1528 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d17653q68htm3b
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2021-02-02 00:13] #1528 closed

[2021-02-02 07:50] giorgiocarniel commented on #1525
By using the command `amplify publish`

It's a backend + React frontend

I'm not sure what you mean but I just use `amplify publish` and the files are uploaded on an s3 bucket

Not yet

I'm working on eu-central-1 and my app id is doi87xs5wbi44

[2021-02-02 08:27] Basovs commented on #1330
Hacker! - Thnks! :)

[2021-02-02 08:50] arnaskro commented on #1524
I can't believe how fast you guys are 🎉
This morning I opened up amplify console and to my surprise, there are 3 new features: CloudFront metrics, alarms and Dark Mode 🥳 You just made my day! Thank you and keep up the good work 🤩

[2021-02-02 12:00] TinoOnline opened #1529 "Multiple frontends: Amplify build not working after publication"
**Describe the bug**
I am using the multiple frontends scenario and following the documentation (https://docs.amplify.aws/cli/teams/multi-frontend). I have one front end (A) that houses the backend where it was initialized, after creating the react project. This front end works well and builds without errors when I publish it to the repository. The second front-end (B) however which is another rea

[2021-02-02 13:40] PeteDuncanson opened #1530 "What running a query, switching Auth method loses the edited query"
**Describe the bug**

If you have written a query in AppSync console and then change the Auth method from the drop down the query reverts to a previous version and your changes are lost.

![image](https://user-images.githubusercontent.com/1674590/106607951-c7982b80-655b-11eb-85c4-2ca14a3a3c0e.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the AppSync console
2. Click "Query"
3.

[2021-02-02 13:44] PeteDuncanson opened #1531 "Auth method drop down on Query tab doesn't remember users default selection"
I only use the API key when I'm developing yet everytime I go into run a query it defaults to IAM even though I don't have any IAM setup.

Would be wonderful if it remembered my last selection and then just used that going forward until I change it. It keeps catching me out then when you link that with issue #1530 it can cause quite a bit of frustration as my query disappears!

![image](https://us

[2021-02-02 18:22] #1524 closed

[2021-02-02 19:07] swaminator commented on #1531
Please open a ticket with the AppSync team here: https://forums.aws.amazon.com/forum.jspa?forumID=280

[2021-02-02 19:07] #1531 closed

[2021-02-02 19:08] alexindrez opened #1532 "Unable to connect front-end to git branch when using GitLab connected repo"
**Describe the bug**
When connecting the front-end Amplify deployment to a Git branch I am unable to proceed through the wizard to complete the procedure to deploy a front-end. When I get to step 2/2 there are no options available. The next button is disabled. I was able to edit the next button properties in Chrome dev tools and then click the button and it flows through the rest of the procedure

[2021-02-02 19:23] swaminator commented on #1529
@TinoOnline To get this to work in a CICD environment you have to commit your awsexports file to Git in one of your repos. Are you committing the file?

[2021-02-02 19:48] TinoOnline commented on #1529
@swaminator THANK YOU, I had not attempted that. it works, it is functional now. Thank you. 🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈

[2021-02-02 19:50] #1529 closed

[2021-02-02 22:20] ganipcanot commented on #1527
Could you share the region where this is happening?

[2021-02-02 22:21] ryanbagwell commented on #1527
Happened again just now:

[code]

us east 1

[2021-02-02 22:38] ryanbagwell commented on #1527
happened again:

[code]

build no. 692.

us east 1

[2021-02-02 23:03] KristinaPeterson commented on #1524
The documentation for monitoring Cloudwatch metrics and setting alarms is now available at this link:
https://docs.aws.amazon.com/amplify/latest/userguide/access-logs.

[2021-02-02 23:05] ryanbagwell commented on #1527
Happened for a third time. Build 693.

Please help.

[2021-02-03 00:09] ttolvane commented on #1499
@abhi7cr Thanks for looking into this. I did file a support request thru AWS support with the details.

For me this got a bit annoying since I happened to deploy my backend to production using amplify cli due to model changes I needed to migrate in using couple of separate deployments. All that went as planned until I wanted to do the final push via Amplify console to get the front-end deployed du