[2019-05-20 13:54] bakeruk opened #41 "Amplify console build successful but fails to move to deploy"
Hi,

I am using Amplify to build my companies new website using **Gatsby** and it has been a huge success until Thursday (16th May 2019).

The build logs say that our app has built successfully however, the Amplify console status is saying that they build has failed. After Googling the issue I found this solution on Github aws-amplify/amplify-cli#1415.

It states that the cache was too large - so

[2019-06-13 08:51] kmfreas opened #13 "Automatically Enable notifications for all connected branches"
Amplify Console

Auth/Storage/Console

I'm using amplify console as our CI/CD system but I'm having a hard time finding features in it that are available in other alternatives like CircleCI. My problem right now is trying to create a build complete/failed webhook for slack. It works ok for complete if I put it in frontend postBuild. But obviously if a step fails beforehand it never gets to that po

[2019-06-22 18:28] blazinaj opened #121 "Integrating an automated test runner into the Amplify Build process."
**Is your feature request related to a problem? Please describe.**
I would like to run my automated jest tests as part of the Amplify Console build process.

**Describe the solution you'd like**
A phase in the Build Settings like:
[code]

**Describe alternatives you've considered**
Coupling Amplify Console with TravisCI or similar, but since I don't need the Build features from Travis CI, seems li

[2019-07-05 13:57] bakeruk opened #11 "Amplify console "Bulk add rewrites and redirects" not working"
Hi,

The forum is slow and unresponsive so please excuse for me posting here.

### **Describe the bug**
A valid **Bulk add rewrites and redirects** (in code) via the console, fails to save although the code is valid and formatted correctly.

This has been broken for a while now so thought I should make it known to you.

I am using  **Google Chrome 75.0.3770.100** on **MacOS Mojave 10.14.3**.

###

[2019-07-09 03:58] houmark opened #10 "Backend build warning: "Could not read cloudformation template at path""
**Which Category is your question related to?**

CLI and Console at the same time.

**What AWS Services are you utilizing?**

I'm running multienv, got the usual `dev` and `prod`. Project is live. To push API or function changes faster I like to use the CLI. To release in full and to deploy to production, I like to merge to my master branch and have it trigger the automatic production build. For t

[2019-07-18 20:29] swaminator opened #4 "test issue"
**App Id**:
**Region**:
**Step**:
**Status**:

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel free to include screenshots.

 additional sample

[2019-07-18 20:31] #4 closed, assigned to nobody

[2019-07-18 21:38] monaye opened #9 "amplify push with new env doesn't reflect the env list in Amplify Deploy immediately"
**Describe the bug**
running `amplify env add` doesn't reflect the env list available in the Amplify Console.
the issue also remains same even after  `amplify push`
(Some of the env are showing up correctly)

**To Reproduce**
Steps to reproduce the behavior:
1. create 3 env
2. create a new branch & checkout
3. add new env based off of one of them
4. commit and push the new branch
5. go to Amplify

[2019-07-20 02:09] blazinaj opened #8 "CloudFront with Web Application Firewall?"
** Which Category is your question related to? **
Amplify Console Hosting

If I'm using the Amplify Console to host a Static Website, where is it stored? It doesn't look like there is an S3 bucket being used by the Amplify Console to host the website?

If we use the Amplify CLI `add hosting`, it will use an S3 bucket, does the Amplify Console do something similar, but we just can't access it?

[2019-07-25 17:59] iamkevinwolf opened #6 "Environment mirroring"
**Is your feature request related to a problem? Please describe.**
Sometimes, it is helpful to mirror an environment (i.e. mirroring production on pre-production or mirroring dev on feature branches specific environments)

**Describe the solution you'd like**
It would be nice if the console can show options to mirror an environment on a branch pattern (like the new automated branch autodetection f

[2019-07-25 18:36] sthulb opened #7 "CDK Support"
This is more of a placeholder, to surface existing work: https://github.com/aws/aws-cdk/pull/3209

I'm currently in the final stages of the CDK construct

[2019-07-25 18:50] incr3m opened #12 "How to block specific IPs from accessing the backend?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Security

** What AWS Services are you utilizing? **
Appsync, Amplify, Cloudfront, Lambda

** Provide additional details e.g. code snippets **
I created an amplify graphql project thru AWS Amplify pipeline with custom domain. I need to block some ip

[2019-07-25 19:26] daannijkamp opened #14 "[Feature request] Add support for self-hosted Gitlab (CE)"
Feature request: add support for the **self-hosted** version of Gitlab (CE).

Currently the Amplify console has support for Gitlab.com, but not for the self-hosted variant.
At this moment it is unfortunately a dealbreaker why we do not yet use Amplify Console for all projects/sites.
As a workaround we now use the S3 and CodeCommit (by using the mirror repository function of Gitlab).

[2019-07-25 20:24] cognitiaclaeves opened #15 "SSL verification is Failed - When trying to add domain to blog from Amplify Console"
**App Id**: d1dxfezyi4jluz
**Region**: us-east-2
**Step**: SSL verification
**Status**: Failed

**Issue/question**
I keep getting an error when trying to attach a domain name to a new blog via Amplify Console.

**Error message**
The status of this certificate request is "Failed". One or more domain names have failed DNS validation. Please check your domain name validation routes and try re-adding

[2019-07-25 20:57] #9 closed

[2019-07-25 22:05] cslogan-red commented on #15
Hello,

Your domain appears to be managed with a third party DNS provider, have you validated that your DNS provider has been updated with the following CNAME and ANAME/ALIAS records as outlined here?

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-troubleshoot-guide

You can validate the CNAME and ANAME records have propagated using whatsmydns.net, it may t

[2019-07-26 00:10] anatonie commented on #11
Hello @bakeruk

This issue has been fixed in the Amplify Console!

Thank you again for reporting this to us!

[2019-07-26 00:10] #11 closed

[2019-07-26 01:30] rakesh-kadam opened #16 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1oiy80owuxn1r
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2019-07-26 01:31] #16 closed

[2019-07-26 15:51] adamaltman commented on #6
Here is a workaround:

1. connect another app (linked to the same repo) -- we adjusted our name to add something like repo-{env}
2. Use different env variables.  (eg sandbox-api.example.com)

We just set this up today for our similar env mirroring use cases.  It seems to be working.

[2019-07-26 16:23] patleeman opened #17 "Passing values with webhooks?"
** Please describe which feature you have a question about? **
Amplify Incoming Webhooks

** Provide additional details**
Is it possible to add data to the JSON payload that gets sent when triggering the webhook and have it available in the build?

My use case is to build a took to trigger builds with a bit of information that the build needs. Is this possible? How would I access the post body in

[2019-07-26 16:27] patleeman opened #18 "Saving rewrites and redirects to configuration file?"
** Please describe which feature you have a question about? **
Rewrites and Redirects

** Provide additional details**
I plan on having a bunch of rewrites and redirects and would feel more secure if I could save them in my repository.  Is it possible to have the rewrite data saved in a config file like the `amplify.yml` file?

[2019-07-26 17:37] swaminator commented on #6
@adamaltman thanks for that approach. That approach should work for you to mirror an environment. Closing the issue.

[2019-07-26 17:37] #6 closed

[2019-07-26 20:01] awsed opened #19 "Backend build error: The runtime parameter of nodejs6.10 is no longer supported for creating or updating AWS Lambda functions"
**Describe the bug**
Getting the following error when deploying from GitHub to the Amplify Console

[code]
The Amplify project on GitHub is configured with Node.JS 8.10: https://github.com/aws-samples/appsync-refarch-realtime/blob/3c15513e6cd1333eb945bc6d470d3f76b87af173/amplify/backend/auth/realtime99d78ebe/realtime99d78ebe-cloudformation-template.yml#L249

**To Reproduce**
Test with one click de

[2019-07-28 00:13] adamaltman opened #20 "Top 20 referrers"
If we deploy to our own CloudFront distribution, we can easily see the top 20 referrers.

I'd like to see the same report that is available on CloudFront for the top 20 referrers.  It's fine for a period of time (eg last day, last 7 days).

**Additional context**
This is important to us for change management and product management purposes.

[2019-07-29 18:18] #15 closed

[2019-07-30 14:50] davekiss opened #21 "Hosting a Javascript bundle for use on third-party sites"
** Please describe which feature you have a question about? **
Does Amplify hosting have some kind of measure in place to prevent/throttle the use of assets outside of the Amplify domain name? I’m trying to host a Javascript bundle that will be placed on many different sites but it’s not loading successfully, but it works fine when loading from my local machine or if it is hosted on a public S3 bu

[2019-07-30 16:44] CharlieHawker opened #22 "Switching Cloudfront+S3 => Amplify with custom domain requires downtime"
**Region**: eu-west-2
**Step**: Final Step
**Status**: Common issue across apps

**Issue/question**
This is not an issue with a specific domain, just one we've encountered during the migration of several static sites from S3 bucket + Cloudfront CDN hosting to AWS Amplify.

AWS Amplify persistently fails on the last step of domain activation when the domain is already associated as a cname on anoth

[2019-07-30 17:17] hzhenmin commented on #22
The best process to follow to minimize downtime here would be:
1. In your Amplify Console app, open the domain management screen
2. Type in your root domain (yourdomain.com) and click configure
3. Click “Exclude root” button
4. Click “Remove” button next to the “www” sub domain that was automatically added
5. Click save
What we have now done, is started the process of creating and verifying a doma

[2019-07-30 17:43] swaminator commented on #12
https://github.com/aws-amplify/amplify-console/issues/8

[2019-07-30 17:45] swaminator commented on #12
#8

[2019-07-30 19:33] nikovirtala opened #23 "Custom domain for pattern-based branch deployments"
**Is your feature request related to a problem? Please describe.**
The new pattern-based branch deployments are neat but they get endpoint only from builtin amplifyapp.com domain.

**Describe the solution you'd like**
I'd like have an option to use my custom domain also on pattern-based branch deployments.

[2019-07-30 19:40] nikovirtala opened #24 "Pattern-based branch deployments, behaviour on branch deletion"
**Is your feature request related to a problem? Please describe.**
Pattern-based branch deployments allows ephemeral deployments but the deployments remain there until they're manually removed, despite the source branches are deleted from VCS.

**Describe the solution you'd like**
I'd like to have an option to delete deployments automatically, if and when the source branch is deleted from VCS.

[2019-07-31 09:59] CharlieHawker commented on #22
Thanks for the prompt response @swaminator – can you confirm what change you're suggesting is made in "_1. Change the DNS record_" is in the migration steps at the end?

Surely there's nothing needed on the DNS front at this point if:

- You've already verified the domain via the CNAME verification
- You've not yet removed the CNAME from Cloudfront (step 2)
- You've not yet added the CNAME in Ampl

[2019-07-31 15:21] CQUIROGAA opened #25 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2ztv3yodufzv8
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-07-31 18:16] nickeyvee opened #26 "Amplify Console Build fails - Error: ENOENT: no such file or directory"
**Describe the bug**
Cannot get my project to build using the amplify console. No obvious causes for the build to fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project using `amplify init`
2. Run `amplify add api` to create a new graphQL API. In my case I provided my own schema from another AWS AppSync project.
2. `amplify push` your project to the amplify-console servic

[2019-07-31 19:08] nickeyvee commented on #26
Upon looking at my github repo I noticed that the project directory name wasn't capitalized and was causing my project to not be found. Doesn't look like git respects casing by default. Configuring git using `git config --local core.ignorecase false` solved the problem.

[2019-07-31 20:15] CodySwannGT opened #29 "Has anyone used the aws SDK to create an Amplify Deployment app with CodeCommit?"
** Which Category is your question related to? **
Amplify deploy

** What AWS Services are you utilizing? **
Amplify and CodeCommit

** Provide additional details e.g. code snippets **

I'm trying to use the [JavaScript SDK](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Amplify.html#createApp-property) to create an Amplify Deploy app connected to a CodeCommit repo.

I've tried everything

[2019-07-31 23:05] swaminator commented on #26
@nickeyvee impressed you found a solution to that weird problem! We'd like to ensure other folks don't run into a similar issue. Some questions:
1. Were you connecting to a backend created by the CLI?
2. What project directory name are you referring to?

[2019-08-01 01:16] micknaor opened #27 "Mobile Console bug"
**Describe the bug**
The Mobile Console URL https://aws-amplify.github.io/ is displaying text oddly while viewing the fixed menu on the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://aws-amplify.github.io/ via mobile phone browser, it is not showing oddly to me, however a Twitter user reported that it is showing oddly:

https://twitter.com/adriancodecom/status/1156710417

[2019-08-01 10:01] iamkevinwolf commented on #6
My suggestion was to have the same data (i.e. same cognito users, same db docs) that on the environment you want to mirror.

[2019-08-01 14:17] yfaney opened #28 "Too many redirects"
**Describe the bug**
I deployed my simple react.js/babel/webpack application to amplify and cannot connect to the app due to "too many redirects"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stable.d2i4qqadma0z0i.amplifyapp.com

**Expected behavior**
You will see ERR_TOO_MANY_REDIRECTS on Chrome or Safari. It doesn't work on Edge or IE either.

**Sample code**
URL to the Git

[2019-08-01 16:01] yfaney commented on #28
NVM, adding host 0.0.0.0 and disableHostCheck fixed this issue.

[2019-08-01 16:01] #28 closed

[2019-08-02 14:59] davekiss opened #30 "Add a pre-provision filter to determine whether build should commence"
**Is your feature request related to a problem? Please describe.**
I'm using a monorepo on GitHub and and have CI/CD set up in Amplify console with several apps watching the same repo/branch. I'm currently exiting builds with a custom pre-build script that determines if the changes affect the current Amplify app, and if not, I exit with a non-zero status code which marks the build as failed, but m

[2019-08-03 00:54] chrisgreatest opened #31 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d3m0wg6wtlsyor
**Region**: us-east-2
**Step**: Domain Activation
**Status**: Complete

**Issue/question**
I recently added a domain, matterintake.mosaic-consulting.com, and the first time I did it, it worked. I was able to use my subdomain (root excluded). Then, someone on my team didn't realize that I had done that, and they deleted it. I had to readd the domain. After readding the do

[2019-08-05 15:35] swaminator commented on #29
Try adding `cli_follow_urlparam = false` to your AWS CLI configuration file

e.g. in ~/.aws/config
[code]
https://docs.amazonaws.cn/en_us/cli/latest/userguide/cli-usage-parameters.html
From docs: "This behaviour is disabled automatically for parameters that already expect a URI"

[2019-08-05 15:51] CodySwannGT commented on #29
Thanks - I'll give it a shot

[2019-08-05 15:55] nickeyvee commented on #26
@swaminator Sorry for the late reply.
1. Yes, I used the Amplify CLI.
2. I'm referring to the files generated when adding a new backend API. From the root of your project the path would be `~/amplify/backend/api/<YOUR-API-NAME>/`

[2019-08-05 16:41] dabit3 opened #32 "One click deploy from another repo"
One click deploy does not seem to be working from the AWS Amplify Auth Starters repo:

https://github.com/aws-samples/aws-amplify-auth-starters

Build breaks on the back end.

[2019-08-05 20:12] garyleefight commented on #8
@blazinaj Hi, you can chain your customize CloudFront distribution in front of the managed CloudFront distribution. You have to pass '_DISABLE_L2_CACHE: true' environment variable to CodeBuild to disable service CloudFront chain.

[2019-08-05 20:35] swaminator commented on #26
Thanks! Closing issue.

[2019-08-05 20:35] #26 closed

[2019-08-05 20:38] garyleefight commented on #21
@davekiss Hi, can you run curl ${amplify url} locally and get your json object?

[2019-08-05 20:52] swaminator commented on #32
Reproduced with following Error:
[code]

[2019-08-05 21:07] swaminator commented on #32
Noticed this error:
[code]

[2019-08-05 21:08] swaminator commented on #32
#19

[2019-08-05 21:33] dabit3 opened #33 "One click deploy - choose branch"
**Is your feature request related to a problem? Please describe.**
It would be nice to allow us to choose the branch we'd like to deploy when using the one-click deploy.

[2019-08-05 21:42] awsed commented on #19
I was pressing the one-click deploy button from aws-samples however didn't realize there was an existing fork in my account. The fork on my account wasn't updated when the aws-samples repo had a fix implemented for the Lambda with Node.JS 6.10, everything worked out after I deleted the fork.

[2019-08-05 21:42] #19 closed

[2019-08-05 21:45] garyleefight commented on #31
@chrisgreatest Hi, do you still have problems? I checked your domain. Looks like it works now

[2019-08-05 21:46] dabit3 commented on #32
Thanks @swaminator.

This error was because I already have an existing fork in my GitHub account. Upon deleting the old fork and re-deploying via the one-click deploy button, everything works as expected.

[2019-08-05 21:46] #32 closed

[2019-08-05 21:52] garyleefight commented on #25
@CQUIROGAA Do you still have issue. Looks like your domain is available now

[2019-08-05 21:52] #25 closed

[2019-08-05 21:52] #31 closed

[2019-08-05 22:30] anatonie commented on #22
Hi @CharlieHawker,

You are correct!
When adding the domain (or at any point after) to Amplify Console, you can add a test sub domain, something you don't use in production/elsewhere. This has 2 benefits:
1. It lets you test your domain and SSL certificate before cutting over traffice
2. Because your custom domain uses a single Cloudfront distribution for all sub domains, you can infer the destina

[2019-08-06 04:52] blazinaj commented on #8
Thank you very much. That is what I needed. What does the `_DISABLE_l2_CACHE: true` do exactly?

[2019-08-06 14:00] CharlieHawker commented on #22
@anatonie amazing, this helped put the final piece of the puzzle together, thank you 🎉

Not sure if this issue should remain open? I'm reluctant to close as I feel that the issue I was having could be better explained by the web interface - particularly around offering help if there's a resource already linked to the subdomain you're trying to connect to Amplify.

[2019-08-06 14:56] kay-is opened #34 "Usage with CloudFormation and CodeCommit"
I've created a CodeCommit repository with CFN and committed my Expo/Amplify project into it.

[code]

Then I wanted to connect the Amplify Console to this repository, also with CFN.

[code]

But when I run a deploy I get the following error:

    2019-08-06T12:21:20.686Z [INFO]: fatal: unable to access 'https://git-codecommit.eu-west-1.amazonaws.com/v1/repos/xyz/': The requested URL returned error

[2019-08-06 16:45] blazinaj commented on #8
When I'm creating a CloudFront distribution, do I put the full amplify url as the *Origin Domain Name Name*?

![image](https://user-images.githubusercontent.com/39976117/62558969-ea466880-b82e-11e9-90d6-d3249c1541dd.png)

[2019-08-06 17:38] garyleefight commented on #34
Hi, you have to define the IAM role Arn in the App template to ensure that you have permission for CodeCommit.
You should set something like IAMServiceRole: !Ref ${Your code commit repository}.Arn
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-amplify-app.html

[2019-08-06 17:58] garyleefight commented on #8
Disable the L2 cache will disable one layer of CloudFront that AWS Amplify Console used for instant deployment. As CloudFront allows 2 maximum CloudFront chaining together, you have to disable it and add your customize distribution.

Yes. You have to input the full domain name points to AWS Amplify domain

[2019-08-06 20:55] blazinaj commented on #8
Thank you!

I got it hooked up through my custom CloudFront distribution. How do I make it so that the `production.abcxyz.amplifyapp.com` URL doesn't just bypass my custom CloudFront/WAF?

[2019-08-06 23:07] garyleefight commented on #8
@blazinaj Hi, for the WAF feature the original URL is still public. The workaround can't disable the original domain. Right now, you can only use basic auth to ensure its security.

[2019-08-06 23:10] blazinaj commented on #8
Ah, thank you very much. That's what I needed to know. I'll submit a feature request for that.

[2019-08-07 03:42] #22 closed

[2019-08-07 12:19] kay-is commented on #34
Thanks for the quick reply!

Wouldn't `!Ref ${Your code commit repository}.Arn` the ARN of the a repo and not of a role?

[2019-08-07 14:27] kay-is commented on #34
Got it running by creating everything with one template.

Is using the admin policy for the service role necessary?

[2019-08-07 16:58] #8 closed

[2019-08-07 17:26] monaye opened #35 "[DynamoDBEnableServerSideEncryption] do not exist in the template"
**Describe the bug**
I am not sure if this is AmplifyCLI issue or Console issue. I am trying to deploy using Amplify Console and getting the `[DynamoDBEnableServerSideEncryption] do not exist in the template` error.
It didn't happen until recently and we haven't change the cloud formation template generated by the AmplifyCLI.
`amplify push` is working fine.

**To Reproduce**
Steps to reproduce the

[2019-08-07 17:39] garyleefight commented on #34
@kay-is Hi, if you are using Amplify framework, then the answer is yes. CodeCommit read-only permission is enough if you only want to use codecommit

[2019-08-07 18:00] blazinaj opened #36 "Web Application Firewall Integration"
**Is your feature request related to a problem? Please describe.**
We are trying to use an Amplify-CLI / Amplify-Console powered app in Production. A business (security) requirement is that we use a Web Application Firewall. Currently there is no way to implement that with the Amplify Console, so we will have to host our production app using a different service.

See: #8

We are a little sad about

[2019-08-07 18:03] garyleefight commented on #36
We have cut a feature request in our backlog. Thanks for your feedback

[2019-08-07 18:51] garyleefight commented on #35
@monaye Amplify CLI released a new version recently. Could you try to install the latest version in pre-build stage.
`        pre_build:
            commands:
                - 'npm install -g @aws-amplify/cli@1.10.0'`

[2019-08-07 19:27] monaye commented on #35
@garyleefight
1.10.0 is the version I am using.
[code]

[2019-08-07 19:51] monaye commented on #35
@garyleefight
no~. still same.
[code]

[2019-08-07 19:58] swaminator commented on #36
@blazinaj: what if we were to implement an IP whitelisting feature? Would that be sufficient vs WAF support?

[2019-08-07 20:10] blazinaj commented on #36
Not quite sufficient for our use. We won't be able to fully restrict access based on IP address, but we would like to incorporate WAF rules like restricting access to only the United States.

Other WAF features like pattern matching and logging are also important to us.

Following your workaround and creating a custom CloudFront distribution (with WAF), and using the amplifyapp url as the Origin s

[2019-08-08 00:54] nballenger opened #37 "Inconsistent resource ARN syntax, breaks IAM policy"
**Describe the bug**
Was attempting to create an IAM policy to grant console access to developers who can trigger builds via GitHub commits, found that the resource ARN patterns for Amplify resources are inconsistently applied.

**To Reproduce**

1. Using the IAM policy generator, create a policy which grants all Amplify actions on any amplify resource. Produces the following:

[code]

1. Create a

[2019-08-08 09:07] StefanV85 opened #38 "Angular: amplify-authenticator shows technical user-id"
Hello,

We are using Amplify with Angular 7 in our Project.
We created an AWS Cognito Userpool using the amplify cli.

And in Angular we are using: <amplify-authenticator> directive to sign-in/sign-up.
But our User Pool use e-mail adresses for Logins (no custom username)

when we login in our project, the <amplify-authenticator> directive shows the technical user-id.

![image](https://user-images.

[2019-08-08 18:06] janhesters opened #39 "How to run functional tests in build script?"
** Please describe which feature you have a question about? **
I'm trying to run functional tests with TestCafe when building. Here are my build settings:

[code]

And here is how the `"validate"` script looks like:

[code]

But this throws the error:

[code]

How can I add Chrome to the Amplify console, or run functional tests with it?

** Provide additional details**

[2019-08-08 20:08] garyleefight commented on #39
@janhesters You have to install the missing dependency yourself. You can add commands to install chrome dependencies in prebuild.

[2019-08-08 20:17] janhesters commented on #39
@garyleefight Do you know which dependencies and how to install them exactly?

I can't find how to install chrome for the Amplify console. I only found [this](https://github.com/DevExpress/testcafe/issues/2218), which tackles docker.

[2019-08-08 20:23] garyleefight commented on #39
@janhesters https://stackoverflow.com/questions/44516816/install-chrome-headless-using-npm
Hope it helps.

[2019-08-08 20:47] janhesters commented on #39
@garyleefight Thank you for your help. Managed to solve the install problem by adding

[code]

to my build settings.

My question is now: How can I run yarn start so that the tests can pass? Currently the functional tests run, but fail, because no server is running.

[2019-08-08 21:21] swaminator commented on #29
@CodySwannGT did it work?

[2019-08-08 21:26] garyleefight commented on #39
@janhesters You can use https://stackoverflow.com/questions/30950032/how-can-i-run-multiple-npm-scripts-in-parallel concurrently package to run yarn start and your test command in parallel.
It will kill yarn start when your test commands finished. But the exit code is 1, which is considered build failure in our console.
You can read this post to get rid of exit code 1.
https://github.com/kimmobrun

[2019-08-09 00:28] garyleefight commented on #37
Thanks for reporting the bug. The fix is on the way

[2019-08-09 00:37] garyleefight commented on #35
@monaye Can you provide the local CLI version?

[2019-08-09 01:02] nballenger commented on #37
What's the canonical pattern for the ARNs? `/app` or `app`?

[2019-08-09 08:22] janhesters commented on #39
@garyleefight

Thank you I will try concurrently.

I also found the `--app` flag for TestCafe which does exactly what I want (= run `yarn start` when the test starts, and terminate the app afterwards). But, for some reason if I test in headless mode in the console or locally, the tests fail. I created a SO question [here](https://stackoverflow.com/questions/57420678/testcafe-tests-dont-pass-with-h

[2019-08-09 09:31] CodySwannGT commented on #29
We haven't had a new project where I can test this yet. Also, we're using
the JS SDK, so I'll to rewrite.

It's weird that this would address the problem as it seems to be coming
from the build environment, but as soon as I have a chance to rewrite and
something to test on, I'll give it a shot.

On Thu, Aug 8, 2019 at 5:21 PM Nikhil Swaminathan <notifications@github.com>
wrote:

--
Cody Swann - CE

[2019-08-09 10:09] kaihendry opened #40 "Can I access the CloudFront distribution with Amplify Console hosting?"
How does this fit in with [aws-amplify/cli](https://github.com/aws-amplify/amplify-cli) ? cli implies console to a lot of people.

I just provisioned the Hugo example.

It created https://github.com/kaihendry/hugo-example but I don't see any AWS CI related files like a `buildspec.yml`. I expected to be able to tweak some declarative file and not spend time in the clunky Web UI to provision more si

[2019-08-09 12:31] kay-is commented on #34
Thank you very much!

[2019-08-09 12:31] #34 closed

[2019-08-09 14:18] janhesters commented on #39
I got it working by adding a delay to launch the app.

"functional-tests": "testcafe 'chrome:headless' src/functional-tests/ --app 'yarn start' --app-init-delay 4000",

[2019-08-09 14:19] #39 closed

[2019-08-09 16:34] swaminator commented on #41
@filipemcg we are now on GitHub issues. Please share your appid (found in App Settings > General)

[2019-08-09 16:39] swaminator commented on #40
You can choose to manage your buildspec in your repo (named amplify.yml). Refer here: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html

Amplify Console offers fully managed hosting so you don't get access to the CloudFront distribution. Pricing: https://aws.amazon.com/amplify/console/pricing

[2019-08-09 17:38] garyleefight commented on #37
arn:aws:amplify:<REGION>:<ACCOUNT_ID>:apps/* is the valid Arn format for our service

[2019-08-09 18:42] blazinaj opened #42 "Amplify Console Backend Role"
** Please describe which feature you have a question about? **
When setting up the backend role for the Amplify Console, the [docs](https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html) use the `AdministratorAccess` policy.

We try to limit the usage of that blanket policy, what exact IAM permissions does that role need?

[2019-08-09 20:36] monaye opened #43 "Backend environment selection doesn't show up on the first try"
**Describe the bug**
Backend environment selection doesn't show up on the first try.

**To Reproduce**
Please see the video capture.
https://screencast.com/t/oOeW2vKSrp

[2019-08-09 20:41] monaye commented on #35
@garyleefight My local CLI version is also 1.11.0
The workaround on this had been introduced by Vinicius C. from AWS support.
Since I was having an issue with existing project option A worked for me.

1 - Execute “amplify function add” with Hello World configuration and no access to other services;
2 - Execute "amplify push";
3 - Execute “amplify function remove” removing all related files to back

[2019-08-09 21:43] cjimenezber opened #44 "Wildcard subdomains in AWS Amplify"
So we recently decided to remove server side rendering from our react app to use Amplify, since it provides us all that we need (serverless, high availabilty, speed and no need to test in two environments).

However now I have a question regarding how to configure AWS Amplify to have a wildcard CNAME record. I want that any subdomain can reach my app, not just the ones I manually select in the Amp

[2019-08-09 21:54] garyleefight commented on #41
@filipemcg Hi, I searched your build logs. Seems like the job 8 you had run should failed at build stage, but due to our console bug it didn't. The error message in logs: [ERROR]: !!! Error: Artifact directory doesn't exist: public. This is because your build directory public doesn't exist after build.
You may have to reset the build directory in build settings. We will work on fix the missing cat

[2019-08-09 22:00] garyleefight commented on #43
Thanks for reporting bugs. I have added it to our backlogs.

[2019-08-09 22:05] garyleefight commented on #42
@blazinaj Hi, The Amplify Framework requires AdministratorAccess role. I would suggest you post a question on Amplify Framework Github issue to check whether you can scope it down.
Link: https://github.com/aws-amplify/amplify-js/issues

[2019-08-09 23:22] #40 closed

[2019-08-09 23:28] swaminator commented on #42
@blazinaj you can refer to this: https://aws-amplify.github.io/docs/cli-toolchain/usage#iam-policy-for-the-cli

Modify the policy as required with the resources being used.

[2019-08-09 23:31] swaminator commented on #44
@cjimenezber you should be able to create domain associations via the AWS CLI: https://docs.aws.amazon.com/cli/latest/reference/amplify/create-domain-association.html

We have a feature request for domain patterns in our backlog. Thanks hope this helps.

[2019-08-10 00:37] blazinaj commented on #42
Perfect, thank you very much. I missed that page.

[2019-08-10 00:37] #42 closed

[2019-08-10 12:30] isi-gach opened #45 "Stuck `Retrieving deployment details...`"
**Describe the bug**
My Amplify console is stuck with the message:

**To Reproduce**
I was trying to deploy an S3 bucket with a GatsbyJS application, this is what I did:
1. Create a Gatsby project and an S3 bucket using Amplify
[code]
2. Deploy to S3 using the Gatsby S3 plugin:
https://github.com/jariz/gatsby-plugin-s3#usage
[code]
3. In the Amplify Console, choose *Deploy without a Git provider*.

[2019-08-10 13:48] rickiesmooth opened #46 "amplify publish"
**Please describe which feature you have a question about?**
When my project is deployed through the console, it is not serving my static build but seems to run `npm start`

**Provide additional details**
Not sure what I'm doing wrong, but I expect that when amplify runs my build command, it will host
my web-build directory on S3. What I see when I visit the app url is my app running in developmen

[2019-08-10 18:36] CodySwannGT commented on #29
Gave it a go. No love. Same exact thing. It's really tough to capture what's happening, but again, it looks like Amplify is pulling down an empty repo

[2019-08-12 12:44] proghjy opened #47 "SSL verification is Failed - [BRIEF DESCRIPTION]"
**App Id**: d45uutat1g8mv
**Region**: ap-northeast-2
**Step**: SSL verification
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please f

[2019-08-12 14:26] cjimenezber commented on #44
I have another question, to finalize this. We will be either adding them manually or using a cron job that invokes a CLI method with the new customers. When doing manual changes to the subdomains I noticed that all subdomains slow down greatly while the domain gets reverified and everything gets added to cloudfront.

Will this happen for all domains/sub-domains every time I update the list of subd

[2019-08-12 15:42] swaminator commented on #46
@rickiesmooth are you using `amplify publish` to host your site or are you using the Amplify Console's Hosting (not yet available in the CLI). I recommend connecting your repo here: https://console.aws.amazon.com

[2019-08-12 15:45] swaminator commented on #45
@isi-gach We're not sure how that Gatsby plugin works (as its a third-party plugin), but to deploy your artifacts from an S3 bucket, you must have a zipfile. Did you pick a zipfile from the bucket?
https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html#amazon-s3-or-any-url

[2019-08-12 17:17] isi-gach commented on #45
hi @swaminator
sorry, my bad, I thought that it would upload the content of the S3
maybe it would be more clear the form doesn't allow to go to the next step until you select a `.zip` file?

[2019-08-12 18:01] monaye commented on #35
The suggested workaround works for first push but failed on second push and I had to change as follow to work :
[code]

[2019-08-12 18:15] VividKnife commented on #47
From my research, at this moment, your DNS verification record has been successfully added. You can go back to the Amplify Console Domain management page and click `Re-Try`.

[2019-08-12 18:29] VividKnife commented on #44
First of all, we have a limit on total number of subdomains you can add to each customer domain (50).
Secondly, any update to the subdomains(including add and remove) it will require us to update the cloudfront behind, which takes about 10-15mins.

[2019-08-12 18:42] VividKnife commented on #30
As a temporary work around, I would suggest you to leverage our incoming webhooks feature to achieve this goal.

1. Disable auto build for your existing apps.
2. Create an incoming webhook for each of your apps.
3. Create a new app that connects to the same repo. (For this app)
4. Write a script that determines which app should build and invoke that webhook url.

[2019-08-12 18:46] tengoal commented on #46
I have the same problem.  I was able to get Amplify Publish to work with S3+CloudFront.  Now I am trying to move over to Amplify Console.  It builds ok - provision, build, deploy, verify, are all green.  But when I try to view my Angular app at the "Domain" specified on the build page, I get page not found.  In my case, nom also seems to run ok.

[2019-08-12 21:19] VividKnife commented on #29
For using JS SDK or CLI, what's the error message you are getting?

[2019-08-12 22:05] CodySwannGT commented on #29
There is no error message. The amplify build engine finishes 100% fine.... the only problem is, it pulls down literally an empty repository.

[2019-08-12 23:09] blazinaj commented on #35
Having this same issue. Would this be fixed on the Amplify Console side by first checking if "DynamoDBEnableServerSideEncryption" exists in the template instead of just throwing a build error?

[2019-08-12 23:20] blazinaj commented on #35
Where in the Cloudformation template does that flag get put in? The function push method is not working for me, I want to try manually adding it

[2019-08-13 06:13] SudhirKaushik opened #51 "domain link accessible on my system but not on colleague"
**Describe the bug**
When using amplify without custom domain, my link is genrated as "https://production.*********.amplifyapp.com" and works fine as expected. However, Setting up third-party domain is painful. I agree with the level of frustration mentioned in [this isse](https://github.com/aws-amplify/amplify-cli/issues/845) but not the language.

Where I am stuck? well, I added my domain to amp

[2019-08-13 07:50] rakannimer opened #48 "Can't run amplify-dynamodb-simulator from console"
**Describe the bug**

Ran into this error while trying to run `amplify mock api` from the console (to test my app before deploying)

I narrowed the problem down to ampliy-dynamodb-simulator failing to acquire a port and launch.

After turning on logging, I get :

[code]

**To Reproduce**

1. Fork https://github.com/rakannimer/amplify-api-mock-in-console
2. Connect it with Amplify Console
3. Scroll

[2019-08-13 12:43] JamieMason opened #49 "Unable to build and deploy app which works locally"
Hi,
I created https://github.com/JamieMason/serverless-graphql-aws-gatsby by following along with the Tutorial at https://www.youtube.com/watch?v=U6trl0_ynuM&t=4127s. It works locally, `yarn start` will launch a site which hits GraphQL in AWS that calls a Function in AWS and returns the expected data.

Attempting to deploy the App fails for `Resource is not in the state stackUpdateComplete` and I

[2019-08-13 17:59] VividKnife commented on #46
@tengoal Can you send your app's `arn` and the`URL` you used to visit your website to aws-amplify-customer@amazon.com?

[2019-08-13 19:33] swaminator commented on #51
@SudhirKaushik sorry to hear about your experience. 3rd party domains such as Google do not support ANAME records. While we provide docs with workarounds for things such as the root domain, we recommend migrating your DNS to Route53 for the smoothest experience: https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/MigratingDNS.html

[2019-08-13 20:27] VividKnife commented on #48
@rakannimer I tried to run your repo in a local docker environment, it fails with same error. Basically it doesn't run in any docker container environment.

[2019-08-13 20:32] #35 closed

[2019-08-13 20:34] swaminator commented on #45
Thanks for the feedback. We've added it to our backlog

[2019-08-13 20:34] #45 closed

[2019-08-13 22:30] swaminator commented on #21
@davekiss reminding you about this issue. Can you curl your amplify url?

[2019-08-13 23:25] AffiliateThis commented on #46
I tried publishing my site which is a react app via Amplify Console.   (nothing more than the create react-app, just to get it deployed initially)  It is connected to my github repo and the page is blank when open the amplify link.   I am getting this error - This page isn’t working master.d29z0qeglw3k5n.amplifyapp.com redirected you too many times.
Try clearing your cookies.
ERR_TOO_MANY_REDIRECT

[2019-08-14 00:15] emmafass opened #52 "Custom Domain, cannot access GraphQL API"
**Issue/question**
After adding a custom domain, I am getting a 401 status when sending requests to my graphql API.

**Error message**
```Uncaught (in promise) Error: Network error: Response not successful: Received status code 401```

**Additional information**
Warning: I am very much in the beginning stages of creating this application.

I created my react amplify project using the CLI. I want a

[2019-08-14 00:43] swaminator commented on #46
Your output folder must be incorrect. Can you share your build settings? Check your output folder: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#setting-the-output-folder

[2019-08-14 03:38] SudhirKaushik commented on #51
Google said I can move/transfer to Route53 after 60 days of domain registration, so I think I will wait till then.

[2019-08-14 03:38] #51 closed

[2019-08-14 10:03] TemoLucky opened #53 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d1dmgnwdmwopvw
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
SSl verification pending, message :
"
We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain. If this takes longer than 8 hours, please create an issue in our GitHub issue tracker.
"

**Error message**
No error, just pending
**Note**: B

[2019-08-14 13:11] tengoal commented on #46
@VividKnife my issue is solved.  But I can't tell you exactly what I did because I tried a number of things.  Sorry!

I will say that what I started to do was follow MythicalMysfits and then try to apply that to my own Angular project.  That didn't go well at first, but I worked it out.

The Amplify CLI Website+S3 is great, but when I went to explore what I could do from there, it seemed like I co

[2019-08-14 18:54] tahoeaussie opened #54 "Not Getting updated Deployment appearing in Browser after Refresh."
**Describe the bug**
I have setup deployments with Amplify Console. I have multiple Apps to the same branch so they all update and I can manage seperate domains with seperate environment variables (maintaining domain assets)

When I merge to a Bitbucket branch, it goes through the process to build and deploy.

After completion, I got to the site, Hit Ctrl+R to refresh but it appears still that I'm

[2019-08-14 21:15] swaminator commented on #54
Do you have a service worker running in your app? Try opening the URL in incognito..

[2019-08-15 02:38] proghjy commented on #47
Hi @VividKnife I tried again but repeated the same failure.

[2019-08-15 06:35] blazinaj opened #55 "[DynamoDBEnableServerSideEncryption] do not exist in the template"
**Describe the bug**
Getting `[DynamoDBEnableServerSideEncryption] do not exist in the template` error when I try to make any backend changes. I am using amplify cli version 1.11.0 and did the suggested fix from [Amplify Console aws-amplify/amplify-cli#35](https://github.com/aws-amplify/amplify-console/issues/35). Still cannot push any backend resources..

**To Reproduce**
Steps to reproduce the b

[2019-08-15 10:22] d-felton-dewynters opened #56 "Possible to use custom SSL certificate?"
Regarding the provisioning of SSL certificates for Amplify apps. I can see the SSL certificate is usually provisioned by AWS Certificate Manager (ACM). ACM allows you to import external certs, but I can't see an option anywhere to choose the cert that is used by the Amplify app.

[2019-08-15 11:41] TemoLucky opened #57 "SSL verification is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1dmgnwdmwopvw
**Region**: us-east-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-08-15 13:29] JamieMason commented on #49
Closing as the stacks etc no longer exist. Based on [this comment in aws-amplify/amplify-cli](https://github.com/aws-amplify/amplify-cli/issues/373#issuecomment-434408098) I will try removing all resources created in AWS and recreate the project using Node.js 8.16.0.

[2019-08-15 13:29] #49 closed

[2019-08-15 15:01] blazinaj commented on #55
This was happening in the CLI too

[2019-08-15 17:33] swaminator commented on #56
Currently not supported. We can take this as a feature request.

[2019-08-15 17:42] VividKnife commented on #46
@tengoal You are right, the console and the CLI are not totally hooked up. When you create a CLI app, it will not show up in the console.

Amplify Console provides managed experience for setting up your CICD flow for `Amplified` frontend app. It does not only automatically deploy your frontend, but also deploys your backend at sametime. You are also configure Amplify Console that each feature bran

[2019-08-15 17:45] VividKnife commented on #29
What's your appId? If you do Amplify.GetApp, will the `repository` field show correct value?

[2019-08-15 17:49] VividKnife commented on #52
Can you share your appId?

[2019-08-15 18:10] CodySwannGT commented on #29
Unfortunately, once I fix it, there's no way to replicate it, so I'll have to wait until I create a new amplify project in a new aws account.

I'll report back as soon as I do.

[2019-08-15 18:11] VividKnife commented on #54
You can also try to open the browser console -> network tab, and verify where the response come from.

[2019-08-15 18:12] CodySwannGT commented on #29
I know this is probably super useless, but the process is part of our setup commands in the Gunnerfy project.

[The relevant file is here](https://github.com/gunnertech/gunnerfy/blob/master/src/commands/amplify/hosting/setup.mjs)

Please excuse the code. We are actively cleaning it up and iterating on it at the same time.

[2019-08-15 18:25] VividKnife commented on #53
I looked into your domain, the verification record seems fine. Can you goto the domain manage page and click the `re-try` button?

[2019-08-15 18:26] VividKnife commented on #57
I looked into your domain, the verification record seems fine. Can you goto the domain manage page and click the re-try button?

[2019-08-15 18:26] VividKnife commented on #53
duplicate of https://github.com/aws-amplify/amplify-console/issues/57

[2019-08-15 18:26] #53 closed

[2019-08-15 18:28] emmafass commented on #52
appId: d1z2w4cyfn8c3l

[2019-08-15 18:29] emmafass commented on #52
While troubleshooting, I deleted the app and then created it again to verify I still get the same error. I do keep getting the 401 error.

https://master.d1z2w4cyfn8c3l.amplifyapp.com/ is the only url for the app now. I did not add the custom domain or dev branch this time.

[2019-08-15 19:01] VividKnife commented on #47
Which DNS provider you are using? Did you make sure you have already added all required DNS record to the DNS provider? From my end, I can't see any issue that causing it to fail. I might just ask you to try another time.

[2019-08-15 19:21] TemoLucky commented on #57
I did but got error message
"Error message: The status of this certificate request is "Failed". One or more domain names have failed DNS validation. Please check your domain name validation routes and try re-adding the custom domain to your app. Learn more: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-troubleshoot-guide"

[2019-08-15 21:11] VividKnife commented on #57
What if delete your current failed domain and try to add it again? Let me if it still doesn't not work.

[2019-08-15 22:00] VividKnife commented on #52
By default, the Amplify Lib should automatically consume the api key in the aws-config.json which is generated after amplify push. Does your website works locally? How do you actually using the API key? Your build and app seems perfectly fine.

[2019-08-16 00:11] AffiliateThis opened #58 "Blank Site and the Build and Deployment were successful according to AWS"
My site was successufully built and deployed but the deployed url from Amazon Amplify is blank - https://master.d3jh6o39xlyny5.amplifyapp.com.  Is there any other information I should provide?

It is a react-mdl app.

[2019-08-16 10:50] Zurdge opened #59 "Always redirecting to .index.html ?"
** Please describe which feature you have a question about? **

So I've got a basic ReactJS project running on amplify.
Using the "react-router-dom" I'm able to link to urls such as
/
/docs/
/docs/food/
/docs/activities/
/settings/

How can I set this up using Amplify? Currently it is always redirecting me to /index.html if I refresh the page.

[2019-08-16 12:10] Zurdge commented on #59
Update -
So using the 'Rewrites and redirects' tab in the Amplify Console i was able to add a source address and target address.
e.g.
"/doc/" to "index.html"
Then set the type to 200 (rewrite) so that the user will see '/docs/ and not 'index.html'

[2019-08-16 12:52] TemoLucky commented on #57
Thanks, it worked

[2019-08-16 12:52] #57 closed

[2019-08-16 17:48] VividKnife commented on #58
@AffiliateThis It seems like you already removed your app. Do you still have this issue?

[2019-08-16 17:55] AffiliateThis commented on #58
Yes I ended upt deleting it.   Going a different route currently via Amplify CLI.   I looked around on why it was blank to begin with and didn't really much anything on my searches.  I figured it would take a shorter period of time to start over via some youtube videos.  We shall see....

[2019-08-16 18:31] AffiliateThis commented on #58
looks like the CLI route and I am getting the same issue.  I did it via cloudfront as I have a custom domain.   Here is the new deployed link - https://d214aumzj2vax1.cloudfront.net/

[2019-08-16 18:35] swaminator commented on #58
Did you try runinng your build command from your local desktop. If it works, can you try using the manual deploy feature in the Amplify Console? Build locally and upload your artifacts: https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html

[2019-08-16 19:08] emmafass commented on #52
It does work locally. The API key is just in the aws-exports.js file (which was auto-generated by the amplify CLI).

[2019-08-16 20:29] AffiliateThis commented on #58
Here is what I did.
npm i aws-amplify - I should have done the next command.
npm install -g @aws-amplify/cli
amplify configure
then followed through prompts
amplify add hosting
followed prompts
amplify publish

[2019-08-18 23:51] treyholt opened #60 "Domain activation Failed"
Basically I had already connected my app to the domain I had recently bought. The domain was active and my connected app was showing up at the url I wanted it to. Then I went back into aws console later and the app no longer showed up under my apps, even though it appeared to still be there at the domain. Now it won't let me upload new builds because it thinks it is already connected to a differen

[2019-08-18 23:53] treyholt commented on #60
Weirdly, even though I continue to get this error it actually is updating my site, so I suppose it is working at the end of the day, just throwing a weird error.

[2019-08-19 02:15] josefm09 opened #61 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d8k35pnf9n0rx
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-08-19 06:15] proghjy commented on #47
I'm using Rout 53

[2019-08-19 06:17] proghjy commented on #47
DNS record type i have is:
A, NS, SOA, TXT, CNAME

[2019-08-19 09:31] azatoth opened #62 "Build error due to failed validation of a stackName variable"
**Describe the bug**
Today, builds started to error out with following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Push code to git repo
2. Have it try to build

**Expected behavior**
I expect it to succeed to build

**Additional context**
Locally I've have updated amplify-cli many times, and is currently on 1.12.0; I did try to locally downgrade the version but then ended

[2019-08-19 15:51] cjimenezber commented on #44
Alright, will there be any notification of when the wildcard subdomain feature is finished?

[2019-08-19 18:26] swaminator commented on #62
@azatoth Can you use the live updates feature to get the Amplify CLI to its latest version? We are in the process of releasing a fix that will automatically update your CLI version to the latest version:
https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates

[2019-08-19 19:03] davekiss commented on #21
Yes, I was able to curl the amplify url. I think it is working as expected now, was something changed?

[2019-08-19 19:57] houmark commented on #62
@swaminator I have the same issue which I also reported and a loooong grumpy issue in Amplify CLI.

I don't have "Live Package Updates" in my interface:
![Image 2019-08-19 at 2 55 29 PM](https://user-images.githubusercontent.com/467330/63295159-9b1e2000-c291-11e9-9f7a-223426e08217.png)

So?

[2019-08-19 19:57] azatoth commented on #62
I'm afraid I don't think I'm able to do that; under `Build image settings` there is only `Build Image` and `Build Timeout`; there's no `Live package update`. I am on eu-west-1 btw, so the live update thingi might be only released in us-central-1

[2019-08-19 20:04] houmark commented on #62
I'm on `us-east-1` and it's the same for me.

[2019-08-19 20:27] anatonie commented on #60
Hi @treyholt ,

Can you please send an email to aws-amplify-customer@amazon.com and include your account id and appArn (can be found in the General Settings page), and the domain name you are trying to connect?

Thanks!

[2019-08-19 20:28] anatonie commented on #61
Hello @josefm09

Can you please include the error message displayed on the Domain management page, or a screenshot of that page please?

Thanks

[2019-08-19 20:58] anatonie commented on #62
@houmark @azatoth

Can you please check and see if it is there now?

[2019-08-19 21:43] houmark commented on #62
@anatonie It's there now, but exactly what do I need to do to make this change?

I tried with this setup but that didn't work:
https://cl.ly/4d693f

I get this error (it jumps backend and fails on deploy):
https://cl.ly/b44bce

How can you just break stuff in such an important process? How am I supposed to take this platform serious when you can just break things out of the blue? If you knew that

[2019-08-19 23:22] swaminator commented on #58
It seems like there's an issue with your app if its failing on both Cloudfront/S3 and Amplify Console. Can you see if you can upload your build artifacts as per https://github.com/aws-amplify/amplify-console/issues/58#issuecomment-522109504

[2019-08-19 23:29] #58 closed

[2019-08-20 01:16] swaminator commented on #62
@hourmark apologies about the issues you're facing. A fix is rolling out right now and should be available in us-east-1. Try redeploying your app and  please verify that this works for you?

[2019-08-20 01:22] houmark commented on #62
@swaminator Is that with or without the special configuration in build settings?

[2019-08-20 02:13] swaminator commented on #62
Yes

[2019-08-20 02:16] houmark commented on #62
I'm building now and it looks like it's working. Currently on Frontend, so the failing parts have passed this time.

Now, why did my production build not break? Something really sketchy is going on here between my two environments and I cannot pinpoint what's happening. I have ElasticSearch issues between the two and I cannot figure out how to get them both in sync.

[2019-08-20 02:46] swaminator commented on #62
See https://github.com/aws-amplify/amplify-cli/issues/2080#issuecomment-522827168

[2019-08-20 08:24] houmark commented on #62
I wanted to add that I got this non-blocking error/warning when deploying:

I have seen a similar error before when doing `amplify push` in the Console and I'm curious to understand why that happens and what the solution may be?

[2019-08-20 08:25] houmark commented on #62
I wanted to add that I got this non-blocking error/warning when deploying:

I have seen a similar error before when doing `amplify push` in the Console and I'm curious to understand why that happens and what the solution may be?

[2019-08-20 10:48] azatoth commented on #62
@swaminator It seems to work now, thought the build logs doesn't clearly indicate it's using version `1.12.0`;

Under "Provision" it says `ENV VERSION_AMPLIFY=1.7.2` which for most people would indicate we are using amplify 1.7.2.
And under "Cloning Repository" it only states following:
[code]
i.e. somehow it's already at version `'latest'`, though there's nothing in the log stating it ever upgrad

[2019-08-20 16:54] swaminator commented on #62
Thanks for pointing that out - the text will get updated to the latest version soon. The default build version in the container is now `1.12.0`. We will also provide more helpful text so you know that what version of the Amplify CLI is running.

[2019-08-20 18:13] swaminator commented on #41
@filipemcg were you able to fix the issue?

[2019-08-20 19:22] houmark commented on #62
I also noticed that but forgot to report it. Happy to see this improved, but I do have a follow-up request in relation to this.

The CLI could still be behind as it's somewhat based on the user manually updating it? So unless the CLI implements a required update to ensure the latest version before being able to push from the CLI, there should be some kind of warning (or even blocking deployment in

[2019-08-21 02:37] houmark commented on #62
This is still super weird.

After I fixed the nextToken yesterday both in dev and prod, everything was working nicely. Both had nextToken to `String`. I thought this was solved. I was wrong.

A couple of hours ago I deployed unrelated changes to both dev and prod and dev works, but prod broke and it now yet again complaints that nextToken should be an `Int`.

I did `amplify codegen` in the console

[2019-08-21 02:40] houmark commented on #62
@swaminator @kaustavghosh06 did anything change somewhere today? I'm more confused than ever. I thought I had understood the situation here and it all made some sense, but now nothing is making sense anymore and I am unable to deploy to production — I mean I can go back to `Int` but I don't know if production randomly changes to `String` in the middle of deployment and then breaks again.

I did `a

[2019-08-21 03:43] gcid12 opened #257 "Amplify ENV VARS documentation is wrong"
**Describe the bug**
Amplify Environment Variables Documentation is wrong

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html'
2. Scroll down to  : "Accessing Environment Variables"
3. The code example is wrong

[code]
If you modify your Amplify Console YML, it will throw and error.
At first sight is bad forma

[2019-08-21 05:50] houmark commented on #62
Moving back to dev I and running `amplify codegen` I now get these changes to queries.js:
https://cl.ly/d1a560

Moving to prod and running `amplify codegen` those are not added.

Conclusion: After a day where both seemed synced, prod now once again wants to use `Int` as nextToken and dev wants to use a `String`.

If you could please advice what I should do next? Scared to do `amplify push` from th

[2019-08-21 06:36] hammlee opened #63 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d142vf0mywjk0y
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-08-21 16:22] swaminator commented on #62
I think what you're saying is that if a user has an older version of the CLI than what's in the Console, there is a potential for the backend deployment to fail. This is why we update the versions of the CLI on a monthly basis to ensure updates are tested in the Console first. The live updates feature is meant to give customers the ability to always stay at the latest version or pin to a specific

[2019-08-21 16:25] swaminator commented on #62
Looking into this right now.

[2019-08-21 16:30] anatonie commented on #63
Hello @hammlee

Can you please include the error message displayed on the Domain management page, or a screenshot of that page please?

Thanks

[2019-08-21 17:02] timothy-baker opened #64 "Separation of Prod and Non-Prod accounts for Amplify Console when using CodeCommit"
**Is your feature request related to a problem? Please describe.**

Per AWS best practices, I'd like to keep my non-prod and prod environments in separate accounts with varying degrees of IAM access based on least-priviledges. I am using CodeCommit as a repository for my application code. The Amplify Console requires a connection to a specific CodeCommit branch within the same account. CodeCommit

[2019-08-21 17:44] swaminator commented on #62
@hourmark there are a bunch of theories we have on what's going on. We'd like to schedule a quick chat with you whenever you're free today.

[2019-08-21 19:20] houmark commented on #62
@swaminator I'd be happy to and I'm available now. How do we connect?

[2019-08-21 19:37] swaminator commented on #62
Can you email aws-amplify-customer@amazon.com? I'll send you details.

[2019-08-21 19:41] houmark commented on #62
Done.

[2019-08-21 20:25] heitorlessa opened #65 "One click deploy - Choose environment variables"
**Is your feature request related to a problem? Please describe.**

As a customer using one-click deploy, I'd like to provide environment variables that are essential to deploy my application successfully.

Without this feature, I have to take 3 additional steps to bootstrap my application:

1. One-click deploy
2. Set Environment Variables I need (i.e. STRIPE_KEY)
3. Trigger another build

**Descr

[2019-08-22 06:40] EugeneGT opened #66 "SSL Configuration pending - custom domain"
**App Id**: dijg6wsrs01zu
**Region**: eu-west-1
**Step**: SSL Configuration
**Status**: Blue

**Issue/question**
Unable to complete custom domain verification, also no option to "retry".
Excluded root domain as we only require a sub-domain dev.domain.com to point branch master.
DNS CNAME has been update for both Cloudfront and Domain ownership verification.
Have left for several hours.

**Error me

[2019-08-22 15:32] kay-is opened #67 "Using redirects with CloudFormation"
**Please describe which feature you have a question about?**

I created a `AWS::Amplify::Domain` with CloudFormation, but I can't find the config to set a redirect from the root domain to a subdomain as the UI  allows me to do.

**Provide additional details**

[code]

[2019-08-22 17:46] swaminator commented on #62
Closing this issue: For those who happen upon here there seems to be have been a bug due to the version update of the CLI when automatically merging code to master to trigger a backend build. We solved @hourmarks issue by triggering a backend deployment from the CLI by making a superficial change in the schema.graphql (put a space in and then do an `amplify push`).

[2019-08-22 17:46] #62 closed

[2019-08-22 17:50] swaminator commented on #67
@kay-is you have to create a custom rule under the app as described here to set up the redirect to root:
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-amplify-app-customrule.html

[2019-08-22 17:58] kay-is commented on #67
Ah, thanks. Didn't find it because in the UI it's called "rewrites and redirects"

[2019-08-22 17:58] #67 closed

[2019-08-22 18:36] pagarciaortega opened #68 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3273f0b4xbfup
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
tried to activate domain before removing it from an old cloud front distribution, after removing the cname from CloudFront I can not activate the domain because it keeps failing.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a di

[2019-08-22 20:40] swaminator opened #70 "Problems setting up 404 page on Gatsby site in AWS Amplify"
REF: https://stackoverflow.com/questions/56634467/problems-setting-up-404-page-on-gatsby-site-in-aws-amplify

I have a [simple Gatsby site](https://www.ember.to/) that I've deployed through AWS Amplify based on this guide. However, I'm struggling to set up a proper 404 page through the AWS Amplify Console (or via a config file).

I want it to behave like a standard 404 page such as that on Google.

[2019-08-22 20:52] #46 closed

[2019-08-22 20:55] walter-scott opened #71 "Console Build fails to update resources in cloud"
**Describe the bug**
The Amplify Console fails to builds my **dev** environent front end because it fails in building the backend (specifically the GraphQL API connected databases). It fails because it is trying to create resources that already exist.

**To Reproduce**
I don't understand why the problem is happening. However I can tell you what I was doing before it happened: I develop my applicat

[2019-08-22 21:15] houmark commented on #62
Yeah, that was the solution in my case, but it points to some kind of bug in the `amplify codegen` when run in the CLI manually as it was not updating the `nextToken` correctly. If this was only due to version differences, then the Console should have corrected it when I did later deployments using the Console with the same latest version as the CLI.

This points to a bigger issue where you cannot

[2019-08-22 22:12] emmafass commented on #52
I essentially rebuilt the application and made sure to add the services (auth, api) before adding the app to the Amplify Console. It is working now but still unsure what went wrong.

[2019-08-22 22:12] #52 closed

[2019-08-22 22:37] swaminator commented on #21
Nope. Closing this issue.

[2019-08-22 22:37] #21 closed

[2019-08-23 04:52] scazan commented on #14
Is it true that we are only able to use Amplify Console if our repo is hosted externally via gitlab.com, github.com, bitbucket.org, or AWS code commit? Is this something on the roadmap? I'm curious as I would love to use Amplify!

[2019-08-23 08:20] dahersoftware opened #72 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d2x22b9lss1rld
**Region**: eu-west-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**

It has been more then 12 hours and my domain is not a

[2019-08-23 08:23] hrkhal opened #73 "Tagging resources used by Amplify"
We have a project set up in the Amplify console. How can we tag all of the resources used by Amplify to build and serve our web app so that we can monitor costs accordingly.

[2019-08-23 14:49] TechpriestV opened #74 "Cache persists after new manual deploy"
**Describe the bug**
After doing a manual deploy the old code remains up -> cash is not invalidated.

**To Reproduce**
Manually upload files
Manually upload new versions of those files

**Expected behavior**
After a manual upload and deploy, chases should be invalidated and your new upload should be useable in a reasonable timeframe.

**Additional context**
We're using a custom domain

**Sample co

[2019-08-23 16:06] swaminator commented on #74
@TechpriestV can you please share your appid? Found in General > App Settings

[2019-08-23 16:08] swaminator commented on #73
We don't have a tagging view in our Console. You can use the AWS CLI to tag resources for Amplify Console: https://docs.aws.amazon.com/cli/latest/reference/amplify/tag-resource.html

[2019-08-23 16:14] swaminator commented on #71
@walter-scott we've had similar reports here: https://github.com/aws-amplify/amplify-console/issues/10#issuecomment-511240983. Thanks for providing all that context. We're going to look into this and get back to you.

[2019-08-23 16:59] #73 closed

[2019-08-23 17:02] swaminator commented on #74
@TechpriestV does your app use a service worker? Did you hard refresh your browser?

[2019-08-23 18:14] swaminator commented on #70
For anyone else who lands here, we will add support for this feature in the coming weeks.

[2019-08-23 18:20] gsans opened #75 "Build failing"
**Describe the bug**
Build *Backend* shows errors creating resources.

**To Reproduce**
Redeploy

**Expected behavior**
To be able to deploy without errors.

**Additional context**
App name:
braziljs-find-keanu-angular

App ARN:
arn:aws:amplify:ap-northeast-1:664371068953:apps/d1gum2cbxi0tzw

**Sample code**
NA

[2019-08-23 18:21] swaminator commented on #75
@gsans can you share the build error?

[2019-08-23 18:27] gsans commented on #75
Sure. There are quite a few of them. I figured you could reproduce them.

[code]

[2019-08-23 18:36] gsans opened #76 "Build failing"
**Describe the bug**
Build Backend shows errors creating resources.

**To Reproduce**
Redeploy

**Expected behavior**
To be able to deploy without errors.

**Additional context**
App name:
braziljs-workshop-solution

App ARN:
arn:aws:amplify:ap-northeast-1:664371068953:apps/d1yy3jv2kvkoor

**Sample code**
NA

**Errors Output***
Errors from first instance.

[code]

[2019-08-23 21:49] swaminator commented on #76
@gsans you probably already deployed this app previously based on this message:
[code]

Go to the CloudFormation console and check for a previous stack.

[2019-08-23 21:49] #75 closed

[2019-08-23 22:08] visusnet opened #77 "Verify Phase Customization"
**Is your feature request related to a problem? Please describe.**
The verify phase's screenshots are a neat feature but its value is limited for certain types of web apps, e.g. apps that use the authentication features of Amplify or, more generally, apps that are password protected.

**Describe the solution you'd like**
It would be awesome to be able to customize the verification phase. There are

[2019-08-23 22:33] gsans commented on #76
This is correct but it was created for another region.

[2019-08-23 22:47] swaminator commented on #76
SNS roles are global. Try naming your backend env with a different name and you won't see the issue.

[2019-08-23 23:10] kneekey23 opened #78 "CloudFront Url not resolving but amplifyapp.com one is"
**Describe the bug**
The cloudfront url for my custom domain is using does not resolve:
d1i8yb92ntu6lx.cloudfront.net

but the amplifyapp one does:
https://master.d25d79wvu5bahq.amplifyapp.com

**To Reproduce**
I checked in some new code and the build process kicked off and then this happened. I am not sure why when the build succeeded.

**Expected behavior**
I expected the cloudfront distribution

[2019-08-24 04:58] walter-scott commented on #62
@houmark what would you say is the most ideal workflow then when using a develop and a prod branch and environment in regards to using the console with the cli?

I need to have my app ready for users on Monday and today I had to create an entirely  new branch and environment for Develop and production because the others randomly broke the day before yesterday when building through the console. I b

[2019-08-24 08:13] houmark commented on #62
@walter-scott I honestly cannot tell you. Mixing them can lead to "side effects" or weird issues, but as a general rule, you should be able to make a simple change (even just an empty line in schema.json) and do a CLI `amplify push` and that should normally fix anything "broken" from having used mainly the Console.

As far as I understand, the Console is not running `amplify codegen` as a part of

[2019-08-24 12:41] yahavb opened #79 "Support for deep links"
** Please describe which feature you have a question about? **
my amplify-based app (React) requires access to deep links e.g. https://myapp.com/project/1 where https://myapp.com is the main page.
It used to work when adding rules in the `Rewrites and redirects` in the Amplify Console but now it does not work anymore. I can see it attempts to open the page and then getting redirect with 404.
** Pr

[2019-08-24 12:49] yahavb commented on #79
Already applied the rule set in https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html

[2019-08-24 14:02] gsans commented on #76
Tried the following without success:
- Creating a new environment: master
- Removing amplif2eaa3ed5_sns-role-master and redeploying
- Deleting local amplify project (it doesn't find stack with id)

I don't know. I will create the whole project from scratch see if that works. Thanks

[2019-08-24 14:09] gsans commented on #76
I think the main issue is that I created the project in a different region and then tried to change it manually. That may caused the problem here.

[2019-08-24 20:24] josefm09 commented on #61
![image](https://user-images.githubusercontent.com/15352246/63642329-dd24d880-c67a-11e9-9053-eeea85c06995.png)

[2019-08-25 01:42] yahavb commented on #79
this is an app issue not amplify

[2019-08-25 01:42] #79 closed

[2019-08-25 08:55] useorder opened #80 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: do8uiwgngj0w6
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-08-25 13:31] dahersoftware commented on #72
It has been 2 days and no help regarding this issue. @swaminator would you please look into this as it is a high priority for me.

[2019-08-25 19:02] AvidDabbler opened #81 "Missing project from Amplify Apps Dashboard"
I am experiencing some issues that I just noticed today where my Application is no longer available on the Amplify dashboard.

I will say that when I deployed there seemed to be some changes to the website as I was pushing out. But long story short I am unable to access the files that are still being hosted (and are still accessible via my url) on aws and when i go to my domain settings the url is

[2019-08-25 19:51] kota65535 opened #82 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d1igffntj9dkjc
**Region**: ap-northeast-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2019-08-25 19:51] #82 closed

[2019-08-26 09:02] Yaroslav-F opened #83 "404 rewrite functionality"
**Please describe which feature you have a question about?**
Built-in Cloudfront distribution. Possibly related to https://github.com/aws-amplify/amplify-console/issues/40.

**Provide additional details**
I've got a tiny problem with my react app. The way react router dom is built - it requires a little [Cloudfront hack](https://stackoverflow.com/a/35673266/2568409) to work with S3 hosting.
Otherw

[2019-08-27 00:48] Zurdge opened #84 "Redirects for ReactJS project"
I'm currently working on a ReactJS project and hosting it on the Amplify-console.

When the ReactJS app builds it generates various file such as -
/static/css/main.5b1bc195.chunk.css
/static/js/2.705c8e40.chunk.js
/static/js/main.b3f08268.chunk.js

For my project work work I need to setup 'Rewrites and redirects' so that the website can access these files.

My 'Rewrites and redirects'' currently l

[2019-08-27 09:35] Yaroslav-F commented on #83
@swaminator I need the Custom Error Page functionality from [these aws docs](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/custom-error-pages.html).
This would allow me to customise an error path for 404 (and possibly 403 as well) code as described [here](https://stackoverflow.com/a/35673266/2568409).
Unfortunately I can't see any other way to fix react-router-dom with S3 host

[2019-08-27 11:53] TechpriestV commented on #74
No service workes, hard refresh + different browser.
And I'm guessing this is the appId: d2ltuhmhaxxxpq

[2019-08-27 13:27] proghjy commented on #47
I have succeeded in distributing [salondecode.io](https://salondecode.io)
solved it by adding mx record.
Thank you all

[2019-08-27 13:27] #47 closed

[2019-08-27 17:06] jkeys-ecg-nmsu opened #85 "If Analytics was provisioned for an Amplify project and then removed, the app fail to connect to Amplify console"
**Describe the bug**
The issue is described in full here: https://github.com/aws-amplify/amplify-cli/issues/2154

Basically, if the Analytics category was added to an Amplify project, then removed, some analytics keys are left in the amplify-meta.json and backend-config.json file. The build process dictated by Amplify console seems to look for these keys, and if they are present, infers the presen

[2019-08-27 18:08] TechpriestV commented on #74
Ireland

On 27 August 2019 at 18:57:35, Samuel Mensah (notifications@github.com)
wrote:

[2019-08-27 19:14] dahersoftware commented on #72
@nimacks I followed the link and after deleting my domain in console app I added again. It has been more then 12 hours again after re-adding and it is still pending in verification state.
Dig and cname works fine for my domain.

dig www.testdaher.com

; <<>> DiG 9.10.6 <<>> www.testdaher.com
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 23561
;; flags:

[2019-08-27 22:23] 24jr opened #258 "Bot Protection"
I think a good feature would be some sort of bot protection made simple maybe though amplify hosting part in console like aws waf or through code or something

[2019-08-28 04:54] Zurdge commented on #84
Hi thanks for the reply, this is a bit of a jumble mishmash for me.
I don't see how to implement this.
Does each symbol have a different function e.g. <$> does something and <!> another?
"*" is universal for "all" so I figured that out ok.

this is what you were referring to right?

</^[^.]+$\|\.(?!(css\|gif\|ico\|jpg\|js\|png\|txt\|svg\|woff\|ttf\|map\|json)$)([^.]+$)/> | /index.html | 200
-- | -

[2019-08-28 05:23] dahersoftware commented on #72
@nimacks  Correct me if I am wrong. I am using route53 DNS service and I can see the CNAME record in hosted zones and I checked before my previous reply that CNAME resolution was working. But after checking it today it's not working.
I can see an entry like this in hosted zones of route53

www.testdaher.com.            | CNAME | someid.cloudfront.net          --   --   500

[2019-08-28 08:03] Yaroslav-F commented on #83
@swaminator that worked! Thanks a lot!

[2019-08-28 08:03] #83 closed

[2019-08-28 08:14] Yaroslav-F commented on #84
@Zurdge To implement this - you'll need to copy it to the Rewrites and redirects section of the Amplify Console app settings.
Hopefully [this response](https://stackoverflow.com/a/57687772/2568409) can help.

[2019-08-28 08:21] spik3s commented on #56
Custom SSL certificates are definitely a must have. We run an e-commerce app and having a proper certificate is very important, can't use in production without it :(

[2019-08-28 11:58] dahersoftware commented on #72
@nimacks can we get on a call as this simple issue seems to delaying my deployment a lot. :(

[2019-08-28 12:04] MyWalkThru opened #86 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d209ya47bk8zsw
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
On Amplify it writes - Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

[2019-08-28 13:01] gsans commented on #76
No. The closest I've got it is using the single-click-deploy which for some reason works fine with the build but fails in the last step (frontend) because fsevents is not compatible with linux.

[2019-08-28 15:31] EugeneGT commented on #66
Perfect thank you, I can confirm that I have multiple custom subdomains functional and suspect Cloudflare CNAME Flattening may have been part of the problem.

[2019-08-28 15:31] #66 closed

[2019-08-28 16:54] isi-gach opened #87 "Allow to change origin for rewrite redirects"
Similarly to the changeOrigin option in https://github.com/chimurai/http-proxy-middleware, it would be very good to be able to change the origin of the host header to the target URL for Rewrite (200) Redirects. Also, is it possible to configure redirects without using the UI, for instance using the `.yml`?

[2019-08-28 18:54] MyWalkThru commented on #86
thanks @nimacks  it's fixed.

[2019-08-28 18:54] #86 closed

[2019-08-28 18:59] houmark opened #88 "Console broken again (probably related to aws-amplify/cli 2.0.0)"
**Describe the bug**
So once again my dev deployment broke in the Console.

Last time my Console deployments broke, it was suggested that I use the "Live package updates" and set Amplify CLI to `latest`. It's been like that since.

Late last night Amplify CLI released version 2.0.0. I'm not sure, but I believe that's the reason for my deployment issues in my `dev` environment.

The error I'm getti

[2019-08-28 19:11] dahersoftware commented on #72
@nimacks but would you please try to look why it is still stuck? Would u be able to check DNS hosted zone file as i am using route53. It is kind of black box and I am feeling helpless because i can only see that I have create hosted zone entry and it has all the right records.

[2019-08-28 20:24] dahersoftware commented on #72
@nimacks  I bought domain from third party and then used amazon route53 DNS service, I created a hosted zones and it created all the records necessary. Then i configured nameservers mentioned in NS record of hosted zones to my domain for lookup. Ping works fine and i checked 2 days ago cname was fine too.

[2019-08-28 20:24] dahersoftware commented on #72
@nimacks I have sent an email also @aws-amplify-customer@amazon.com so please have a look.

[2019-08-28 21:33] swaminator commented on #88
Seems like a CloudFormation throttling issue. Can you try hitting 'Redeploy this version'?

[2019-08-28 21:47] houmark commented on #88
Yeah, so I forgot to mention that sorry. Don't know how I forgot that. Yesterday it happened once, then as I also saw throttle issues, I retried a bit later and it worked. Since then I did not try again say 12 hours later. When I did, it did it again, so while this may be throttling, I don't understand why that would happen — and it has never happened before in over two months of doing it. And pro

[2019-08-28 22:44] houmark commented on #88
Still not working. I have not attempted any deployment for hours (since my bug report). I think this is something else hiding under a throttling error:

[code]

And later down:

[code]

This must be related to 2.0.0 for sure because it never happened in the past.

[2019-08-28 23:26] swaminator commented on #88
@houmark we're unable to repro this at our end. Can you run `amplify status` and display how many resources you have?

[2019-08-28 23:41] houmark commented on #88
I have:

1 Auth (Cognito)
3 API, two REST, 1 graphql
8 Functions
1 Hosting

Only 1 function show Operation: Update which is partly correct as it was modified since my last push in CLI.

In addition, which may or may not be related.

I have a more or less mirrored setup in terms of data. My dev has a bit more data than production, but we are talking 500 vs. 600 main items which are in DynamoDB and

[2019-08-29 00:11] jkeys-ecg-nmsu commented on #85
@nimacks I had a legacy Amplify project that I was working on. I stated in the other issue linked to in the OP that I do not know that it is a reproducible error, and that I was posting these issues pretty much solely so that anyone who encounters this error will find this on search engines.

But if you want to MANUALLY reproduce it, you can just add this key to backend-config.json:

[code]

Ampli

[2019-08-29 00:16] jkeys-ecg-nmsu commented on #85
@nimacks you can also add the key described in the [screenshot here](https://github.com/aws-amplify/amplify-cli/issues/2154#issuecomment-525404266) to the meta.json file. That should also prevent the build from completing.

If you add those keys and run "amplify remove analytics" you should note that the keys remain, which kills the build process.

So not sure if you consider that a bug with the C

[2019-08-29 04:10] kneekey23 commented on #78
@nimacks
1. I am able to view it with the default amplifyapp domain but not the custom domain after an update.
2. custom domain is configured like so in amplify console
<img width="1311" alt="Screen Shot 2019-08-28 at 9 09 34 PM" src="https://user-images.githubusercontent.com/8533749/63909619-29a04900-c9d8-11e9-8ef8-1e03aacfc699.png">
then i have forwarding set up in my dns settings in my godaddy

[2019-08-29 09:20] houmark commented on #88
I confirmed this is an issue with CLI 2.0.0. After having tried every few hours with the same error, I now went in and changed "Live package updates" from `2.0.0` to `1.12.0` which is effectively the same as the default CLI uses by standard at this time. It now ran backend without issues and deployed successfully:

`2019-08-29T09:18:21.169Z [INFO]: # Completed phase: build`

I did not push in any

[2019-08-29 13:45] dahersoftware commented on #72
@nimacks  Thank you nimacks for joining the call yesterday. You were right it was a problem with my domain registration side. SSL verification is done and my domain is active now.

I am closing the issue.

[2019-08-29 13:45] #72 closed

[2019-08-29 15:34] AvidDabbler commented on #81
Sorry this chalks up to user error. I was looking in the wrong region. Thanks for the assistance

[2019-08-29 15:34] #81 closed

[2019-08-29 17:05] nimacks commented on #71
@walter-scott , the Amplify CLI v2.0.0 is out, can you give that a shot?

[2019-08-29 17:49] nimacks commented on #87
@isi-gach , in order to understand this request better can you review the following:

1. You have a hosted amplify app which makes requests to an external site (say... https://example.com/api) You would like to reverse proxy requests to this external site
2. https://example.com has multiple sites and needs the host header set in order to determine where to route the request
3. You would like some

[2019-08-29 17:52] swaminator commented on #88
Thanks for the deepdive @hourmark and really apologize for the issues you're facing. We do have tests that run apps on the Amplify Console for CLI version bumps but it is sometimes very difficult to reproduce individual scenarios. Currently we're trying to diagnose if its an issue with the CLI only vs an issue the with CLI running in the build container. It would really help us root cause if you c

[2019-08-29 17:53] swaminator commented on #77
@visusnet cool usecase! We're going to be adding support for making test artifacts available for download at build time. Would that satisfy your requirement, or would you like to run tests on the deployed site.

[2019-08-29 18:02] visusnet commented on #77
@swaminator I don‘t want to run tests on the deployed site, no. We are starting a local web server for that purpose and let cypress do its magic. I am not sure what test artifacts you are referring to. At the moment, the screenshots that we see that were captured during the verification phase, only show a login - the one that is provided by aws-amplify-react. There is no real value for us because

[2019-08-29 18:04] nimacks commented on #78
@kneekey23 , this is great info. We can rule out any issues with our hosting infrastructure and focus on how your custom domain is set up. The forwarding option in GoDaddy at times is unreliable and thus our recommended solution would be to migrate your domain to Route53.

Here are some steps:

- Create a hosted zone for your domain (or transfer it if that's an option) in the AWS console.
- Remove

[2019-08-29 18:07] swaminator opened #89 "Offer SPA redirects as a default preset"
Posting on behalf of a customer on Twitter: https://twitter.com/erycbett/status/1163513471293485056

To set up SPA redirects require entering regex in the UI. It would be useful to have a preset selection that applies the settings automatically.

[2019-08-29 18:10] nimacks commented on #61
@josefm09 , we're closing this ticket because we haven't heard back from you. Please re-open if this is still an issue.

[2019-08-29 18:10] #61 closed

[2019-08-29 18:11] nimacks commented on #63
@hammlee ,  we're closing this ticket because we haven't heard back from you. Please re-open if this is still an issue.

[2019-08-29 18:11] #63 closed

[2019-08-29 18:11] nimacks commented on #80
@useorder,  we're closing this ticket because we haven't heard back from you. Please re-open if this is still an issue.

[2019-08-29 18:11] #80 closed

[2019-08-29 18:19] swaminator opened #90 "Improve deployment times for large sites"
REF: https://twitter.com/jonlowforever/status/1166902193993084930

On a site with 5000 pages Amplify build speed is really fast (much faster than Netlify/Render etc). However uploads are quite slow in comparison (13 mins to upload 10,000 static files total). Is there anyway to config static file uploading to be faster? To give you guys some context, it's a @gatsbyjs site with almost 5000 pages, so

[2019-08-29 19:19] houmark commented on #88
@swaminator I can do a push in the CLI but please confirm:

CLI push is with 2.0.0 right?

If this creates problems and breaks even more, can I downgrade CLI and push again without further issues? I want to make sure it's not gonna get even worse than now.

[2019-08-29 19:19] smakinson opened #91 "prerender.io usage with Amplify Console"
Hey everyone,

I'm trying to determine if Amplify can use prerender.io. They provided me a link to Cloudfront middleware: https://github.com/jinty/prerender-cloudfront

Is it possible to use that through Amplify (Console)? If yes, how might I do so?

If not is it possible to get Amplify like features around the various branch urls, etc outside of Amplify?

I also read somewhere that using rewrites

[2019-08-29 19:37] swaminator commented on #77
I'm saying we will be adding functionality to be able to download test artifacts such as screenshots and videos if you have (for example) Cypress tests running in your repo.

[2019-08-29 20:25] visusnet commented on #77
@swaminator That would be great and is similar to this feature request. The difference to a more configurable verification phase is, that cypress tests run in a headless browser instead of multiple different browsers. Your planned feature fulfills many of the use cases. :) I guess, it is still worth exploring the support of a more powerful verify step.

[2019-08-29 21:44] nimacks commented on #74
@TechpriestV , we have not been successful in reproducing this issue. Does this happen all the time for you or is this specific to a particular app? Any other information you can provide will be very much appreciated.

[2019-08-29 22:46] houmark commented on #88
I did `amplify push` using CLI 2.0.0. I only had one function showing as needing update. I did not pull my env before in any way. That went without a problem, but it also looks like it skipped most of the updates as it detected no changes.

I can now try `amplify env pull --restore` and another push to see how that works.

Then I can try a simple API change to see if that does anything.

Is this t

[2019-08-30 00:38] kneekey23 commented on #78
@nimacks migrated and re-added in the amplify console! takes some time before the DNS servers will fully propagate all traffic since i changed the nameservers so i'll keep you posted but this is probably a much better solution, thank you so much for your help. And everything worked perfectly when i re-added the custom domain in amplify console so that was nice :)

[2019-08-30 00:48] houmark commented on #88
I now did a `amplify env pull --restore` which resulted in no local changes, so nothing to push.

I then did a blank line change in my schema.graphql and pushed using the CLI with 2.0.0 answering yes to all.

That resulted in the `amplify/backend/api/my-api/transform.conf.json` file to be created which is interesting. The push went without problems.

Next step is to commit and push a change to Git

[2019-08-30 01:34] houmark commented on #88
I now pushed changes to Git which resulted in a Console deployment which is again set to "Live package updates" Amplify CLI: latest which means it will use/patch to 2.0.0.

It now deployed without issues, so this is once again an issue where the Console gets stuck until the CLI has deployed once after the update. This is really something the AWS team should look into figuring out.

Of course, the

[2019-08-30 04:52] jonlow commented on #90
As a comparison, on Render, the uploads only took 3 mins (vs 13 mins). My guess is the difference in speed has to do with what "processing" is happening during upload. Perhaps Render simply upload the files blindly without any processing in place?

I've spoken to engineers at Netlify (who have a similar issue with deployment times on large sites), and they were able to list some processing tasks t

[2019-08-30 14:02] TechpriestV commented on #74
@nimacks With this specific app, there is not much more information that I can provide. I've verified that the files i'm uploading are the new version but what's served on the app is the old version.

[2019-08-30 14:19] isi-gach commented on #87
hi @nikhil-dabhade
1. Yes
2. Yes, following your example the host header would be `example.com`. More info: https://github.com/chimurai/http-proxy-middleware/blob/v0.19.1/recipes/virtual-hosts.md
3. Yes

[2019-08-30 15:01] walter-scott commented on #71
@nimacks I upgraded to Amplify CLI v2.0.0 locally and all went well when I did a simple push of just adding a space to my GraphQL schema. However, the console is doing the same thing - trying to create my Many to Many relationship tables and failing because they already exist. I made sure to put `latest` as the live update and inside provision the console said it switched from v1.12.0 to v2.0.0. A

[2019-08-30 15:06] thedgbrt opened #92 "Cloudfront cache is deleted every 1 second"
**Describe the bug**
All assets return `x-cache: Miss from Cloudfront`, even after multiple refreshes. It only returns a cached version when a request is made less than one second after the previous one.

**Environment**
Default Gatsby app. The amplify console sets the infrastructure to `Infrastructure: Gatsby-Amplify`

**Proof**
Request the same asset with 2000ms interval, we always get a MISS:
[

[2019-08-30 15:27] thedgbrt commented on #92
I could also reproduce with a standard create-react-app.

https://master.d1qu22wwco4729.amplifyapp.com
https://github.com/thedgbrt/create-react-app

[2019-08-30 16:45] swaminator commented on #92
@thedgbrt The diagram in the blog post doesn't fully explain how our 'CDN' works - we have dual layer CDN distributions so what happens is that you're seeing the miss from the CDN Edge vs the CDN Origin. We have an issue reporting information correctly in the header responses which has led to confusion from other customers before as well. We will prioritize a fix for this soon. Hope that helps - t

[2019-08-30 16:50] nimacks commented on #78
That's great to hear. Feel free to resolve this ticket, if you're satisfied that everything is working as expected.

[2019-08-30 16:57] nimacks commented on #74
@TechpriestV, thanks for the update. We're continuing to investigate on our end. Would you mind sharing your static files with our team so we can attempt to replicate exactly what you're doing? Another alternative would be to record a screen share video and send it to aws-amplify-customer@amazon.com.

[2019-08-30 17:02] nikhil-dabhade commented on #87
I think this was intended for @swaminator ^^

[2019-08-30 17:13] thedgbrt commented on #92
@swaminator thanks for the quick answer.
What I'm concerned about is response time. When I manage to hit the CloudFront cache, I get a response in 10-30ms, which is what I'm used to when using a CDN.

However when I don't hit it (that is, 99% of the time right now), it's in the 50-200ms range, and can go up to 500ms. For an SPA with code split between 10-20 files each page, this has a dramatic imp

[2019-08-31 05:45] kneekey23 commented on #78
Thanks!

[2019-08-31 05:45] #78 closed

[2019-08-31 13:43] blairtaylor opened #95 "AccessDenied error when deploying backend"
Attempting to CI our dev branch using Amplify Console fails.

It seems to be a permissions issue but the amplifyconsole-backend-role role created using the defaults has AdministratorAccess.

Note this is the first deploy in a new AWS account if that is important.

This is the build log:

# Starting phase: build
# Executing command: amplifyPush --simple
2019-08-31T13:32:13.803Z [INFO]: # Getting Am

[2019-08-31 14:47] ptrobert opened #98 "Amplify console purge all files before deployment"
aws amplify console
** Which Category is your question related to? **

** What AWS Services are you utilizing? **

** Provide additional details e.g. code snippets **
A gatsby app is being deployed on aws amplify console, as the website has undergone massive changes we want to remove every thing from deploy currently we dont see any facility to do this.

And also whenever we want to deploy in full

[2019-08-31 15:39] ptrobert opened #93 "How to purge all files before deployment"
** Please describe which feature you have a question about? **

Hi we have implemented two new Custom headers we want to apply these headers to all the files,
However files which are changed are only being deployed and files which are untouched are being skipped while deploying
we need to purge all the previous files and re deploy every thing
Please let us know the workaround
** Provide additional

[2019-09-03 00:46] nomiddlename opened #94 "Branch autodetection and environment creation fails"
**Describe the bug**
If you set up branch auto detection and ask the console to create a new environment for each branch, then some branch names cause the build to fail when creating the new environment. For example, branch names like "feature/JIRA-123-new-thing" will result in invalid environment names. Branch names like this are useful for linking issues in systems like JIRA to git commits.

**T

[2019-09-03 12:57] aniruddhawani opened #96 "Amplify Console doesn't ask for nested stack parameters or doesn't pass on environment variables to nested stack"
**Describe the bug**
Use case: I was working on a sample Amplify app which will allow signed in users to upload to a S3 bucket using the webapp. The users would be allowed to sign up only if they use an email with a specific domain (e.g. ‘amazon.com’)
I have added pre-auth function for domain whitelisting. I was able to deploy and test it in multiple environments successfully with different domain

[2019-09-03 14:13] swaminator commented on #96
@aniruddhawani are you creating new backend environments through the Amplify Console, or are you re-using ones you created via the CLI?

[2019-09-03 15:35] heitorlessa commented on #35
I've tried that fix and didn't work for me.

Here's what I tried:

A. Add function, then remove into an existing project
B. Manually add `"DynamoDBEnableServerSideEncryption": "false",` into `nested-cloudformation-stack.yml`

While B looks like the workaround, it does get removed when I run `amplify push`

Amplify CLI version: 3.0.0

[2019-09-03 16:11] heitorlessa commented on #35
Got it working now and there was no need to add/remove function, but to change two files - Here's a quick summary.

1. **Update API nested stack within the backend CloudFormation stack with `DynamoDBEnableServerSideEncryption: true`**

In my case, my API is named `apiawsserverlessairline` - Excerpt from: **amplify/backend/awscloudformation/nested-cloudformation-stack.yml**

[code]

2. **Update API

[2019-09-03 17:31] aniruddhawani commented on #96
Creating new deployment of frontend and backend both from scratch

[2019-09-03 19:48] patleeman opened #97 "Pass url params in rewrites and redirects"
** Please describe which feature you have a question about? **
Rewrites and redirects

** Provide additional details**
Hello, I'm trying to set up a 301/302 redirect from a path in my amplify application. i.e. `/test` to another domain i.e. `https://example.com/test`. The redirect works as expected, but if I try to add some url parameters, `/test?utm_test=test` the redirect strips the url paramete

[2019-09-03 22:09] swaminator commented on #98
Duplicate: https://github.com/aws-amplify/amplify-console/issues/93

[2019-09-03 22:09] #98 closed

[2019-09-04 00:33] theseanodell opened #99 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d379kw2zyx8wnk
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain Activation Failed

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
DNS was not originally with Route53. Moved

[2019-09-04 12:41] BabyDino commented on #91
We have exactly the same question.

I do have a prerender server up and running. Redirect based on user agent could be a solution?

[2019-09-04 17:14] nimacks commented on #99
Hi @theseanodell, can you please verify your AppId again?

[2019-09-04 17:39] theseanodell commented on #99
Are you looking for the AppARN?

[2019-09-04 17:51] nimacks commented on #99
@theseanodell, I'm unable to locate the app with appId : d379kw2zyx8wnk. Just wanted confirmation that the app still exists and the Id is correct.

[2019-09-04 17:52] theseanodell commented on #99
@nimacks sorry, i rebuilt to do some testing. https://master.dqitj0na0tptz.amplifyapp.com
is the new app.

[2019-09-04 17:55] nimacks commented on #99
ah ha! Perfect. thanks for the update. I'll look into this now.

[2019-09-04 22:41] nimacks commented on #99
Hi @theseanodell , you already have an app with id `dtl99hsttpzhe ` configured to your custom domain. If you would like to set the app with id `dqitj0na0tptz` to use this domain, you'll need to detach your custom domain from the first one.

[2019-09-04 22:58] theseanodell commented on #99
While that may seem to be the case, I do not have an app ID setup for this domain in my account.

I have doubled checked the GUI and see nothing.

Should I check via CLI?

[2019-09-04 23:52] adamaltman commented on #89
Another thing that would be useful is allowing the definition in the `amplify.yml` config file.  It's easier for developers to take care of it that way and more transparent (like with security headers).

We've forgotten to do it on our three most recent projects out of the gate.

[2019-09-05 02:23] monteirobrena opened #100 "Build fails without any information when use my own image on Amazon ECR"
**Describe the bug**
I created an image on Amazon ECR and I'm trying to use it to deploy my React application on AWS Amplify but the build fails after success provision.

I would like to know how to show the provision details and how to start and see the build phase.

Also in the download of the log, nothing has been shown, too.

Thank you!

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2019-09-05 03:54] theseanodell commented on #99
Found the issue. Thanks for working through this.

[2019-09-05 03:54] #99 closed

[2019-09-05 09:22] federicopuntoni commented on #94
Also attemping to integrate gitlab merge request with autogenerated branch by issue name corrispond to branch named like "1-issue-title-too-long".

[2019-09-05 18:17] swaminator commented on #89
@adamaltman we are tracking that here: https://github.com/aws-amplify/amplify-console/issues/18

[2019-09-05 20:26] hzhenmin commented on #97
1 Currently we do not support redirect with query string, we have added the feature into our backlog
2 <*> can be used to redirect everything after path to another url
example:
Source: /test/<*> Target: https://example.com/<*> Type: 301/302

[2019-09-05 20:51] patleeman commented on #97
@hzhenmin Thanks for the `<>` tip. I didn't know you could do that. 👍

We found a workaround for the querystring issue for now. Thank you.

[2019-09-05 21:34] nimacks commented on #100
@monteirobrena, Alpine Linux has issues executing precompiled binaries and is currently not supported when using the custom build image feature.

[2019-09-05 22:33] bronwynwoods opened #101 "Deploy fails without info"
**Describe the bug**
I have a Hugo site that builds fine locally. When deploying in Amplify, it builds successfully but then fails on the Deploy step, with the only information at the end of the logs being

`2019-09-05T22:28:30` [INFO]: Updating Edge config
2019-09-05T22:28:30 [ERROR]: Failed to deploy
2019-09-05T22:28:30 [INFO]: Deployment finished.`

**To Reproduce**
Trigger a build either from

[2019-09-06 01:07] swaminator commented on #97
@patleeman could you share your workaround for other users who end up here?

[2019-09-06 01:28] swaminator commented on #84
@Zurdge closing this issue. If you weren't able to solve this as per @Yaroslav-F's recommendation please reopen.

[2019-09-06 01:28] #84 closed

[2019-09-06 07:34] abhinavsinghvi opened #102 "Domain activation is Failed - [Failing with error: One or more of the CNAMEs you provided are already associated with a different resource.]"
**App Id**: d2qvxn6grv8k28
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain activation is failing with error: Failing with error: One or more of the CNAMEs you provided are already associated with a different resource. Though in my route 53 I don't see same CNAME entries pointing to something else. Earlier it was pointing to some other cloudfront but

[2019-09-06 19:06] patleeman commented on #97
@swaminator sure thing.

I ended up doing a 200 rewrite to an endpoint I wrote that returned a 302 redirect to the domain I wanted with the url parameters appended.

Not the best solution but it works for now.

[2019-09-06 20:02] smakinson opened #103 "Trigger Build Button when auto deploy disabled"
**Is your feature request related to a problem? Please describe.**
If auto deploy is turned off I believe the only option to deploy is to use a build webhook or reenable and make a commit.

**Describe the solution you'd like**
I would like to see a button in the console UI that an be clicked (maybe with a confirm) to trigger a build. This setup could be used to "lock" to a deploy.

[2019-09-06 20:59] smakinson commented on #18
Another benefit of this approach is the rewrites & redirects can differ per connected branch, which can be helpful as things change over time.

[2019-09-06 21:01] smakinson commented on #18
Oh and if possible in this process it would also be nice if env vars can be referenced somehow in the rewrites so that secret things can be left in the env vars as usual.

[2019-09-06 22:02] nimacks commented on #102
@abhinavsinghvi , our records indicate that the app with Id `usezenden.com` has a succeeded in setting up the custom domain. The current status is `available`. Are you not able to view your site with the domain?

[2019-09-08 11:33] heitorlessa commented on #65
@swaminator The value is only known at one-click deploy time, hence i couldn't use that

[2019-09-08 13:07] dahersoftware opened #107 "Amplify console deployment: federated redirection doesn't work using custom domain"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I deployed me test website using amplify console and added a custom domain.
My domain is active and I can access my amplify deployed app using custom domain.

Here is my issue:
My oauth settings has below redirection settings
**redirectSignIn:** "https://<mydomain>/“
 **redirectSignO

[2019-09-08 17:44] liuhantao9 opened #104 "Any time I redirect to the same URL, there is an Access Denied"
** Please describe which feature you have a question about? **
The Rewrite and Redirect

** Provide additional details**
I have a website which has specific id for every blog, an example for a blog URL will be like https://master.d135sel40baxm.amplifyapp.com/blog/5d732f3f93c5040004a9df19
I simply just want to direct to this URL, so I deleted any redirect on my console. Now it is showing me that I

[2019-09-08 19:35] butaca commented on #100
I am having the same issue with an Alpine image but hosted on Docker Hub. Since Alpine Linux isn't an option, which is the smallest environment supported to write custom images? Thanks! :)

[2019-09-08 20:05] butaca opened #105 "Build fails with empty logs when using custom docker image"
I am trying to create a smaller image to build a hugo site. I tried the following two images:

[code]

[code]

In both cases the build fails but the logs are empty.

[2019-09-09 08:02] abhinavsinghvi commented on #102
Yes it has worked in second attempt, in first attempt it has made entries in route 53 but never worked and then we have deleted the entries and tried again then it has worked almost after 8 hours.

It took more effort and time then we expected to deploy with AWS amplify, not sure what went wrong during first deployment and what took so long during second deployment and due to these issues our webs

[2019-09-09 17:19] tianmarin opened #106 "Build failing on "Cloning repository" activity"
**Describe the bug**
The builds were working just fine and suddenly started to fail in the "Cloning repository" activity.

This is the log:
[code]

**To Reproduce**
(Re)execute a build in the AWS Console.

**Additional context**
- Repo is hosted on gitlab.com
- Build instructions are the same with gitlab runner and does not fail (even thought, the error reported here in Amplify don't get to the `b

[2019-09-09 19:47] christina-immanuel commented on #41
Hi, I'm facing the same issue. The build passes in the CLI but the web deploy fails with the error as above.

[2019-09-10 01:24] swaminator commented on #103
@smakinson have you seen the 'Redeploy this version' on the build detail page?
<img width="965" alt="Screen Shot 2019-09-09 at 6 23 21 PM" src="https://user-images.githubusercontent.com/2429410/64576797-fdb58980-d32e-11e9-9878-5d4d9071afe1.png">

[2019-09-10 08:55] dobo-cc commented on #106
We're getting the exact same error on our github hosted repo.
Also the error( in the cloning repository step) is sometimes:
`2019-09-10T08:51:43.646Z [ERROR]: !!! TypeError: undefined is not a function`

[2019-09-10 10:26] bakeruk commented on #41
Amplify has a maximum deploy size of 1GB.

The devs are going to remove this in the future but for now, they will have to manually up the size on your account themselves.

I would create a new issue and wait for a response for this to happen or spam your comments here to speed things up ;)

[2019-09-10 13:46] smakinson commented on #103
@swaminator Ya I noticed that button. That would redeploy an existing build and not go grab the code and create a new build, right?

[2019-09-10 17:07] swaminator commented on #106
@dobo-cc @tianmarin we are looking at this as the highest priority. Can you please share your appid? Found in App settings > General

[2019-09-10 17:09] swaminator commented on #104
When you run it from `localhost`, are you able to navigate to that path?

[2019-09-10 17:12] dobo-cc commented on #106
Hey @swaminator! Thanks for looking into it. Ours is **apps/d1q08he2j3wck8**.

[2019-09-10 17:18] tianmarin commented on #106
thank you @swaminator !

Our failing apps are:
- **d2gvdgzls8h2p**
- **d4myvmthewkzx** -> If necessary you can rebuild this one

[2019-09-10 17:31] liuhantao9 commented on #104
yes!

[2019-09-10 17:40] swaminator commented on #103
I see, so you want a feature that allows users to manually trigger a build with the latest code when autobuild is turned off. Correct?

[2019-09-10 17:41] smakinson commented on #103
ya, that is correct.

[2019-09-10 17:43] swaminator commented on #70
The fix has been deployed - please select a 404 rewrite to test. @jamieweavis @valtermartin1301 @sirichards can you please verify it works for you?
<img width="466" alt="Screen Shot 2019-09-10 at 10 42 21 AM" src="https://user-images.githubusercontent.com/2429410/64637043-cb9c3a00-d3b7-11e9-9199-e1c4a9b24f2d.png">

[2019-09-10 18:00] anatonie commented on #106
Hey @tianmarin, are you using an amplify.yml in your repositories? If so could you please share one of them?

Thanks!

[2019-09-10 18:35] tianmarin commented on #106
Thank you @anatonie !
I have been playing around with it since the bug was presented, this is the final version.

**amplify.yml**
[code]

[2019-09-10 18:51] waltermvp opened #108 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1f8s91r5157ot
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain activation failed

**Error message**
If there is an error message, please include it here.
Something went wrong. Please refer to our troubleshooting guide below to diagnose the issue. After fixing the issue, choose retry below. If retrying fails, please create an issue in our

[2019-09-10 18:58] anatonie commented on #106
So right now you are passing null commands in the build phase:
[code]
This isn't a valid command, and is causing the issue, but the service isn't properly reporting the issue (we are working on this).
To fix this and retain your comments, You can format like this:
[code]

@dobo-cc you're having a similar issue with YML formatting, you have a line that includes a colon (:). YML uses colons as an in

[2019-09-10 19:16] tianmarin commented on #106
@anatonie you are totally correct!
once those null commands were removed the build process worked without issues.

Note that `amplify.yml`must be updated in the repo. Updating the **Build settings** in the console will lead to the same error.

[2019-09-10 19:28] anatonie commented on #106
@tianmarin I'm glad to hear that sorted it out for you!

And yes, if you have amplify.yml in your repository that takes precedence over the settings in the console.

[2019-09-10 19:47] swaminator commented on #106
For all the other folks here who have upvoted the issue, can you check your `amplify.yml` file?

[2019-09-10 19:52] waltermvp commented on #108
It was user error.

I had to remove the old DNS records and attempt to add the domain again

[2019-09-10 19:52] #108 closed

[2019-09-10 20:12] talshnitzer opened #109 "Amplify deploy failed in build stage with no errors in the log"
Amplify deploy failed in build stage with no errors in the log.
Please help me complete the deployment.

this is the build log that I copied from the Amplify console:

 # Starting phase: preBuild
                                 # Executing command: yarn install
2019-09-10T19:57:55.777Z [INFO]: yarn install v1.16.0
2019-09-10T19:57:55.871Z [INFO]: [1/4] Resolving packages...
2019-09-10T19:57:56.37

[2019-09-10 20:14] dobo-cc commented on #106
@swaminator That fixed it - thanks a lot.

[2019-09-10 20:41] VividKnife commented on #109
Can you please share your appId? Found in App settings > General.

[2019-09-10 22:54] nimacks commented on #102
Glad this is working for you now.

[2019-09-10 22:54] #102 closed

[2019-09-10 22:57] nimacks commented on #100
@monteirobrena , did you try another image as recommended by @butaca ? Let us know if this works for you as well. Also, feel free to open this issue if you need any further assistance.

[2019-09-10 22:57] #100 closed

[2019-09-10 23:01] nimacks commented on #105
@butaca , can your provide your appId and app region?

[2019-09-10 23:15] butaca commented on #105
Thanks for taking a look into this.

region: us-east-2
app id: d1sstkga163z5f (I guess this is the app id, the last part of the ARN).

Please, let me know if you need something else.

[2019-09-10 23:21] nimacks commented on #105
@butaca , can you ensure that your custom build has the following:
It looks like you have 3 out of 4 of the required software required for custom builds to succeed.

- [x] cURL

- [x] git

- [x] OpenSSh

- [ ] Node.JS+NPM

(NPM-based builds)Node.JS+NPM: Our build runner does not install Node, but instead relies on Node and NPM being installed in the image. This is only required for builds that req

[2019-09-10 23:26] butaca commented on #105
@nimacks I didn’t install node since “This is only required for builds that require NPM packages or Node specific commands” and this is my case.

Should I try installing it even though I am not using it in my build?

[2019-09-10 23:28] nimacks commented on #109
@talshnitzer, please share your appId and region which your app is located in.

[2019-09-10 23:30] nimacks commented on #105
I would like to rule out any unknown dependencies on Node.JS, so if you could install and then build that would be great. If that doesn't work then we can rule that out as the root cause.

[2019-09-10 23:33] #106 closed

[2019-09-10 23:35] nimacks commented on #95
Hi, can you provide your appId and region which your app is located?

[2019-09-10 23:40] nimacks commented on #85
@jkeys-ecg-nmsu,  this seems to be an issue with the CLI. If anyone running an older version of the CLI runs into this issue, our recommended solution would be to upgrade to the latest version of the CLI where this issue is not reproducible. I really appreciate you looking out for dev community. Cheers.

[2019-09-10 23:40] #85 closed

[2019-09-10 23:43] nimacks commented on #107
Hi @dahersoftware, can your provide your appId and the region its located in?

[2019-09-11 00:00] nimacks commented on #101
@bronwynwoods, did this just start happening or have you been able to build in the past with the same size of images?

[2019-09-11 00:08] nimacks commented on #101
@bronwynwoods , from my end it looks like your build succeeded. See logs below.
Even though it displayed that the build failed, could you check your app to see if your updates are actually visible?
[code]

[2019-09-11 00:10] blairtaylor commented on #95
arn is arn:aws:amplify:us-east-1:102792536330:apps/dlodamgzbkkd3. region is us-east-1.

[2019-09-11 00:13] swaminator commented on #71
@walter-scott sorry for the late response here. Were you able to figure it out?

[2019-09-11 01:27] bronwynwoods commented on #101
Nothing changed dramatically in terms of size between the last successful deploy and when it stopped working. But it started failing several months ago and I didn't get around to trying to fix it again until recently.

I double checked that changes are not appearing (changed some text in the last push to GitLab, the Deploy step failed as before, the site is unchanged).

[2019-09-11 01:54] butaca commented on #105
@nimacks I added Node and the build is working correctly now. It seems that Node is mandatory after all. Thanks for your help.

For future readers, the working image is here: https://github.com/butaca/amplify-hugo

[2019-09-11 05:39] talshnitzer commented on #109
App name
react-expensify-app
App ARN
arn:aws:amplify:us-west-2:257711387021:apps/d2kmt3xi793mtp
region:
US west (oregon)

[2019-09-11 08:35] dahersoftware commented on #107
@nimacks My appID is: d32u7uikgbxz55 and region is Ireland.

[2019-09-11 12:25] butaca commented on #105
@nimacks although I managed to reduce the build time form 3 minutes to 1 minutes approximately, I suspect that using alpine instead of amazonlinux:2 should reduce the build time significantly.

This is what I tried: https://github.com/butaca/amplify-hugo/blob/cc68609581fb22d1cf7a348b47fcdc57a9f1e711/Dockerfile

But I am blind since the logs are empty. It would be great if amplify provided the logs

[2019-09-11 12:33] monteirobrena commented on #100
@nimacks I don't. I'll try after but know I'm using the current image available on Amplify.

[2019-09-11 12:39] jamieweavis commented on #70
I'm not seeing my 404 page at all with that rewrite @swaminator, see: https://www.jamieweavis.dev/test

Rewrites and redirects:
![Screenshot 2019-09-11 at 13 35 08](https://user-images.githubusercontent.com/8133259/64697549-01651f80-d499-11e9-8cad-5770d8df83cf.png)

Also tried with the following target addresses:
- `/404`
- `https://www.jamieweavis.dev/404`

But that gives me:
![Screenshot 2019-09

[2019-09-11 13:21] chezhiane opened #110 "Amplify console lost user pool details"
Had built an angular app with amplify auth and api's. But when deployed thru the console i lose the user pool details - like app id , Domain , call back url and signout URL. Is the expectation that i get back in to cognito and update these details again ?

[2019-09-11 17:16] nimacks commented on #105
@butaca
I'm glad this is finally working for you. Alpine Linux has issues executing precompiled binaries and is currently not supported when using the custom build image feature.

We will look into making logs available to customers so you can have more insight into what's happening. If you're satisfied that you're issue has been resolved, please close this ticket. Thanks.

[2019-09-11 17:19] butaca commented on #105
@nimacks Thanks for your help. I'm closing it now.

I would like to know if possible, if there is a lighter alternative to amazonlinux:2 as a base image.

[2019-09-11 17:19] #105 closed

[2019-09-11 18:01] swaminator commented on #70
@jamieweavis appears to be working for me?
<img width="610" alt="Screen Shot 2019-09-11 at 11 01 03 AM" src="https://user-images.githubusercontent.com/2429410/64722522-79c0e600-d483-11e9-84ec-862be3ca1285.png">

[2019-09-11 18:09] swaminator commented on #37
@nballenger we have pushed a fix. Can you please verify?

[2019-09-11 18:42] jamieweavis commented on #70
The status code is correct but I have a dedicated page at https://jamieweavis.dev/404 which I'd like to be shown without the URL changing (no redirect), for example https://jamieweavis.dev/test would show the 404 page but keep the `/test` URL, if that makes sense?

[2019-09-11 18:54] anatonie commented on #70
Hi @jamieweavis if you have a dedicated 404 page at https://jamieweavis.dev/404 please update the target address for your **404 (Rewrite)** rule to be **/test** instead of **/index.html**

[2019-09-11 19:05] jamieweavis commented on #70
Hi @anatonie - doing so gives the `AccessDenied` error mentioned above. The `/test` route was just an example of a route that doesn't exist and should display the 404 page

[2019-09-11 20:06] nballenger commented on #37
1. Created a new policy via the policy wizard to enable all Amplify actions
1. Attached to a testing role with no other permissions
1. Assumed the role and viewed the Amplify console

Looks like the policy gives access to everything. Thanks for the fix, I've updated my existing roles / groups to use the new policy. Leaving the issue open because I don't want to interfere with whatever your interna

[2019-09-11 20:59] nimacks commented on #107
@dahersoftware just to clarify do you mean Amplify Auth ? https://aws-amplify.github.io/docs/js/authentication

[2019-09-11 21:03] #37 closed

[2019-09-11 21:04] nimacks commented on #107
@dahersoftware, also, have you setup any redirect rules which could have affected your app?

[2019-09-12 01:28] tianmarin commented on #106
@anatonie , @swaminator, should I close this issue or will it be used to prevent the `TypeError: Cannot read property 'indexOf' of null` error?

[2019-09-12 06:12] dahersoftware commented on #107
@nimacks No there are no redirect rules, by default only redirection rule I can see is the custom root domain is mapped  to www.<domain>.com.

[2019-09-12 18:52] dbrunet73 opened #111 "Domain activation is Failed - Error message: One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d23pfcn78e7nq7
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
When trying to deploy a domain, it keeps saying there is a duplicate cname, but none exist.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Note**: Be sure to check the message for sensitive information.

*

[2019-09-13 00:32] yahavb opened #112 "Can't see other GitHub orgs in amplify"
**Describe the bug**
Logged in to github but I cant see other repos that not in the default org.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to connect Apps.
2. Click on GitHub
3. Scroll down to all possible repos
4. Cant find my repos

**Expected behavior**
Able to discover the repos in github and connect my app
**Additional context**
Add any other context about the problem here.

**

[2019-09-13 07:52] suhabe opened #113 "Error message: One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d1i81te6qozld5
**Region**: US West (Oregon)
**Step**: Domain Activation
**Status**: Failed

**Issue/question**
My domain is managed by Route 53 but owned by Godaddy. I set up the nameservers appropriately in Godaddy to match the Route 53 console. When I attach the domain to my amplify app, it fails in the "Domain activation" phase.

**Error message**
"We had issues connecting your cust

[2019-09-13 08:42] suhabe commented on #113
Figured it out. I had another amplify app in another region that was using the domain.

[2019-09-13 08:42] #113 closed

[2019-09-13 13:21] dahersoftware commented on #107
@nimacks Any update on this?

[2019-09-13 16:09] swaminator commented on #110
@chezhiane when you connected your repo, did you pick an existing backend environment?

[2019-09-13 16:09] #111 closed

[2019-09-13 16:10] swaminator commented on #111
@dbrunet73 thanks for the feedback. We don't always know which CF distribution it is associated with as you may be using the CNAME with a CF distro in another account.

[2019-09-13 16:20] swaminator commented on #70
@sirichards both seem to work for me (with styles). Are you seeing an issue?

[2019-09-13 16:52] nimacks commented on #107
We're still looking into this issue. We'll try and get you an update soon.

[2019-09-13 17:22] nimacks commented on #104
@liuhantao9 , I'm able to navigate to https://master.d135sel40baxm.amplifyapp.com/blog/5d77579dd6ffe40004492c07 without being shown any access denied message. Is this still an issue?

[2019-09-13 17:46] yahavb opened #114 "Domain activation is Failed - CNAMEs already associated"
**App Id**: d3401w5eo6qy1h
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I am trying to add a domain I have in my account. The DNS verification goes well but it fails with the error below

**Error message**
If there is an error message, please include it here.
Error message: One or more of the CNAMEs you provided are already associated with a different re

[2019-09-13 18:12] nimacks commented on #95
@blairtaylor , you mention that this is a brand new AWS account. How did you setup permissions for the IAM User. Does this user have access to run CloudFormation?

[2019-09-13 19:00] blairtaylor commented on #95
As I mentioned in the original post, the amplifyconsole-backend-role has AdministratorAccess as per the defaults.

[2019-09-13 19:16] nimacks commented on #101
There’s a bug we identified have with the size of deployments. We are prioritizing a fix for this and will keep you updated when it is ready. In the meantime here’s a workaround you could try:

If you have feature branches or any branches that aren't being actively used, you can disconnect those branches which should be able to unblock you.

[2019-09-13 19:57] nimacks commented on #114
@yahavb, this error indicates that the domain you're tying to connect is already associated with another CloudFront Distribution. If you want to use that domain with your Amplify app, then you'll need to disassociate that domain with the existing CloudFront distribution. After this is done, you should be able to connect your custom domain to your app.

You can find more details in our troubleshoot

[2019-09-13 20:18] desertmonkey commented on #101
We just started seeing this same issue about an hour ago.

[2019-09-13 21:41] desertmonkey opened #115 "Deploy fails with "[ERROR]: Failed to deploy""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a build on our master branch
2. See error during the Deploy step.

**Expected behavior**
The build should succeed, as it has every other time before today.

**Additional context**
We have a stage branch and a master branch in Amplify. We merge GitHub release branches

[2019-09-13 22:21] cawleyflower commented on #115
@desertmonkey and I have been solving this issue
This deploy bug has been persistent in our Amplify app for a while now. I first noticed when trying to set up a new branch with Amplify, and were recieving this same build and deploy error consistently. It had never affected the master (production) branch until today.

I tried a number of fixes to get this working. We removed some duplicate binary f

[2019-09-14 23:02] codermeisje opened #116 "SSL verification is Failed - trying to connect route53 domain with my Amplify App"
**App Id**: d2023g0wui2kx4
**Region**: us-east-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
I am trying to connect my domain to an Amplify App. The domain is registered with the same account with Route53.

**Error message**
If there is an error message, please include it here.
Error message: The status of this certificate request is "Failed". One or more domain names have fa

[2019-09-14 23:35] liuhantao9 commented on #104
It is fixed. Just do the SAP redirect and it is all good.

[2019-09-14 23:35] #104 closed

[2019-09-16 07:00] daannijkamp opened #117 "Domain activation is Failed"
**App Id**: d2xdzjxsgfm9x3
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue**
Domain activation does not work because it says it incorrectly that my DNS record that points to another CloudFront distribution.

Steps:
- Because I did not have direct access to the DNS, it took a long time to add the records to the DNS.
- The verification process timed out.
- And because t

[2019-09-16 09:02] sirichards commented on #70
@swaminator sorry I had to revert back to a redirect as that website went live and it was causing the issue, I've created a new test here:
[https://master.d1qbgpt3cc978c.amplifyapp.com/page-2/](https://master.d1qbgpt3cc978c.amplifyapp.com/page-2/) (with trailing slash)
[https://master.d1qbgpt3cc978c.amplifyapp.com/page-2](https://master.d1qbgpt3cc978c.amplifyapp.com/page-2) (without trailing slash

[2019-09-16 09:55] ariadne-github commented on #70
@sirichards that is caused by the suggested 404 rule (`<*> => /404.html`), which conflicts with the default amplify behaviour. We solved by using `</index\.html/> => /404.html` instead.

[2019-09-16 10:08] sirichards commented on #70
@ariadne-github that seemed to fix the slash issue, however I am now getting 403 access denied when visiting a page that doesn't exist.

https://master.d1qbgpt3cc978c.amplifyapp.com/uyhyjuth/

![image](https://user-images.githubusercontent.com/21104091/64949897-1dd6d280-d872-11e9-92e5-6f4f4bd23779.png)

![image](https://user-images.githubusercontent.com/21104091/64949906-2202f000-d872-11e9-9636-de

[2019-09-16 10:09] ariadne-github commented on #70
Hmmm, maybe try removing the starting "/"?

[2019-09-16 10:10] sirichards commented on #70
@ariadne-github that fixed it, thanks! :)

[2019-09-16 10:12] ariadne-github commented on #70
You are welcome. This seems to work for now, but please comment here if you notice any other side effect.

[2019-09-16 10:58] iewil opened #118 "SSL verification is Failed - Retry is not working"
**App Id**: d2f944gwwd9d4d/d3ewmde6xmkt6i
**Region**: ap-southeast-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
SSL Verification retry is not working for 2 new domains

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information.

[2019-09-16 16:14] levisylv opened #119 "SSL verification is Failed - cross account ssl verification"
**App Id**: d2wipazfx1u5pb
**Region**: us-east-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
My domain name is hosted on one aws account, but I'm trying to do the SSL verification for amplify in a different aws account. I've set up all the NS records for both accounts, but it failed to verify.

**Error message**
We could not verify ownership of the domain. Please ensure you o

[2019-09-16 16:59] Xavier-Charles opened #120 "Amplify Console build issue !!! Non-Zero Exit Code detected"
Had a similar issue to aws-amplify/amplify-js#572 tried the suggestion by  @bgashler1 but I keep getting this error.

2019-09-14T13:15:35.533Z [ERROR]: !!! Build failed
2019-09-14T13:15:35.670Z [ERROR]: !!! Non-Zero Exit Code detected
2019-09-14T13:15:35.671Z [INFO]: # Starting environment caching...
2019-09-14T13:15:35.671Z [INFO]: # Environment caching completed
Terminating logging...`

My build

[2019-09-16 22:34] #119 closed

[2019-09-17 02:53] iewil commented on #118
@swaminator is there anything that we can do on our end to fix this for now?

[2019-09-17 07:46] Cas-Laputa opened #122 "Missing aws_appsync_authenticationType"
**Description**
My application is using AppSync and it is multienv. The aws-exports.js is ignored from the Git so when the deployment is triggered by the change in Bitbucket, the amplify configuration is auto-generated internally from the Amplify console during the build. The `aws_appsync_authenticationType` is missing and the frontend will use AWS_IAM as default instead of AMAZON_COGNITO_USER_POO

[2019-09-17 07:46] Cas-Laputa opened #163 "Missing aws_appsync_authenticationType in Amplify deployment"
**Description**
My application is using AppSync and it is multienv. The `aws-exports.js` is ignored from the Git so when the deployment is triggered by the change in Bitbucket, the amplify configuration is auto-generated internally from the Amplify console during the build. The `aws_appsync_authenticationType` is missing and the frontend will use AWS_IAM as default instead of AMAZON_COGNITO_USER_P

[2019-09-17 12:31] dahersoftware commented on #107
@nimacks Any update on this?

[2019-09-17 15:55] mooser opened #123 "Can't create a project if the branch name contains "#""
Amplify Console fails spectacularly if branch name includes a hash prefix (Ex: "#branch-name")

The most annoying part of this bug is the error message:

To reproduce:
1. Make a branch named "#whatever" in your project.
2. Try to connect that branch to a new project in Amplify Console
3. Feel pain

[2019-09-18 01:28] swaminator commented on #123
@mooser we are aware of this and its due to the way we issue subdomains. Is this a blocker for you to continue?

[2019-09-18 01:30] swaminator commented on #120
@Xavier-Charles have you modified the `amplifyPush` script? If so, can you please share it?

[2019-09-18 01:32] swaminator commented on #115
@cawleyflower thanks for providing the update. We have a known issue with deployment sizes. We'll update you when the fix is rolled out to all regions.

[2019-09-18 01:35] swaminator commented on #71
@walter-scott following up here.

[2019-09-18 01:36] swaminator commented on #88
We are working on a better integration between the Console and CLI so the Console is more aware of backend deployments. Closing this issue for now.

[2019-09-18 01:36] #88 closed

[2019-09-18 01:42] swaminator commented on #70
Closing this issue for now. Please reopen if you have any issues.

[2019-09-18 02:19] swaminator commented on #112
@yahavb were you able to figure this out?

[2019-09-18 10:20] daannijkamp commented on #117
@swaminator @nimacks What can I do best to resolve this?
I have sent several emails to aws-amplify-customer@amazon.com , never received an answer
I created this issue on Github
I have waited as [mentioned](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error) more than 6 hours.
Do I have to purchase technical support from AWS? While the Amplify

[2019-09-18 11:40] z3by opened #124 "Domain activation is Failed - can not connect my domain"
**App Id**: d24y9ld8kmgv0l
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I was having a Cname that is linked to a CloudFront distribution, and after deleting the record it is still not accepting my domain linking request, I retried several times but it is still failing.

**Error message**
One or more of the CNAMEs you provided are already associated with

[2019-09-18 12:14] mooser commented on #123
@swaminator Thanks.  It's not blocking.

[2019-09-18 14:20] iconara opened #125 "Use ALIAS instead of CNAME with Route53?"
**Issue/question**
Amplify sets up a CNAME pointing to a CloudFormation distribution in my hosted zone. I expected it to set up an ALIAS record.

**Additional information**
One of the selling points of Route53 is that it supports ALIAS records for AWS resources, and that you don't pay for DNS lookups for these. Is there any reason Amplify can't use ALIAS records instead of CNAME when creating reco

[2019-09-18 16:37] aylesm opened #126 "Domain activation is Failed - Trying to reconnect a domain"
**App Id**: d26pl6wgx1aa16
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Trying to connect a subdomain and it's causing pain.  I've disconnected from an old Amplify app and trying to reconnect.

**Error message**
The error message is Domain Validation failed.  Big red banner, but nothing else.

[2019-09-18 18:14] Xavier-Charles commented on #120
Couldn't find the amplifyPush script,  but I created a custom script amplifyPushFyz and pushed to my repo. Could it be the case that I'm not calling the script properly (because I don't know how to find the amplifyPush script)?

[2019-09-18 19:46] 0luftballoons opened #127 "Erroneous dual domain build and deploy"
**Describe the bug**
Committing to GitHub repo branch causes Amplify to build and deploy the branch to two separate domains. One domain is reported via email in "AWS Notification Message", and the other domain is reported via AWS Amplify Console.  Both domains are active, and are identical in content. AWS Amplify Console has no knowledge of the domain reported in the email, clicking on the email l

[2019-09-18 20:09] swaminator commented on #120
The `amplifyPush` script should have showed up in your autodetected build settings. The content for the script is here: https://github.com/aws-amplify/amplify-console/blob/master/scripts/amplifyPush.sh

[2019-09-18 20:10] #71 closed

[2019-09-18 21:07] KyleShelton opened #128 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d224g6xdfccjtl
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-09-18 21:08] KyleShelton opened #129 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d224g6xdfccjtl
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.
One or more of the CNAMEs you provided are already associated with a different res

[2019-09-18 21:08] #128 closed

[2019-09-19 00:12] phyzixmusic opened #130 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: dotobk557190p
**Region**: us-east-2
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-09-19 03:11] QB3L opened #131 "Domain activation is Failed - CNAMEAlreadyExist error but nothing exists"
**App Id**: d31z6fkwcjb8er
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain is not activating with amplify app

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource

**Additional information**
I verified that the subdomain I am registering is not being used in any cloudfront distribut

[2019-09-19 05:28] zhichunl commented on #104
Hi

[2019-09-19 05:30] zhichunl opened #132 "Access Denied After Deploy"
** Please describe which feature you have a question about? **
After we try to deploy the app, it builds and deploys fine. However, going to this link https://master.dirypeghaf8kq.amplifyapp.com/ results in an Access Denied error. I have already configured the SPA rewrite.

** Provide additional details**
project is built with webpack and the build is generated in the build/main.js

[2019-09-19 07:35] #132 closed

[2019-09-19 10:33] ben-elsen opened #133 "Overwite env var results in duplicates that cannot be removed"
**Describe the bug**
When I take the action 'variable override' for an environment variable via the Amplify console, I get 1 input line to define the value and branch. When I save, I get a confirmation message but the override appears 2 times.

When I enter the manage variables again and try to remove one of the doubles, everythings seems to go ok but the 2 overrides keep appearing in the overview

[2019-09-19 18:30] z3by commented on #124
my problem was not with amplify itself, there was a problem while deleting CloudFront distribution, after deleting it properly the problem has gone.

[2019-09-19 18:30] #124 closed

[2019-09-19 18:52] #112 closed, assigned to nobody

[2019-09-19 20:31] 0luftballoons opened #134 "Custom domain: can domain ownership CNAME record be deleted?"
**App Id**:
**Region**:
**Step**:
**Status**:

**Issue/question**
We have successfully added a custom domain through Amplify, but want to know if we can remove the verification CNAME record that was used to verify domain ownership prior to generation of the SSL cert?

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive inform

[2019-09-20 03:55] nookale opened #135 "Automatic building fails due to @model(subscriptions: { level: public })"
**Describe the bug**
"subscriptions: { level: public }" works fine with my development environment (manually amplify pushing the backend from the command prompt), but it actually fails during the building phase of the test environment where I am using Amplify Console and GitHub for automating the process. This is part of the output generated by Amplify Console during the building:

2: @model(subsc

[2019-09-20 06:45] hi120ki opened #138 "Creating backend on Amplify Console fails."
I set amplify latest version on Amplify Console.

Yesterday 2019/9/19, released amplify-cli 3.8.0, fails to creating backend on Amplify Console.
and today 2019/9/20, released amplify-cli 3.9.0, fails same situation.
(2019/9/18 amplify-cli 3.7.0, succeed to deploy)

Running "amplify push" in local has no problem. (every amplify-cli version)

My Amplify Console log is here

[code]

and my amplify.ym

[2019-09-20 06:54] MartinPindel opened #136 "Amplify CLI (Cloudfront) Hosting in Amplify Console"
** Please describe which feature you have a question about? **
Cloudfront (+S3) Hosting

If I add Hosting in the Amplify CLI, a S3-bucket and Cloudfront will be generated and it is visible in the AWS Console.
If I add this project to the Amplify Console (via CodeCommit repository), these objects will be still generated, but the domain leads to an Amplify hosted website.

**Is it possible to lead t

[2019-09-20 08:28] kontrol-debug opened #137 "Problem loading application"
Hi,

I launched my react web application using amplify, everything was success, my domain and all everything was verified. When i open the url. I get this error.
"""
The page isn’t redirecting properly
An error occurred during a connection to www.kontrol.ai.
This problem can sometimes be caused by disabling or refusing to accept cookies.
"""
Please provide guidance

[2019-09-20 10:11] Xavier-Charles commented on #120
I can't find the script on the console or in my project directory.

[2019-09-20 15:50] dahersoftware commented on #107
A few more issues I observed:

**POST https://daherskillops-dev.auth.eu-west-1.amazoncognito.com/oauth2/token 400

ConsoleLogger.js:111 [ERROR] 42:09.548 OAuth - Error handling auth response. Error: invalid_request

Uncaught (in promise) TypeError: Cannot read property 'accessToken' of undefined**

Above errors doesn't happen everytime but it fails frequently. Any suggestions?

[ERROR] 42:09.627 O

[2019-09-20 16:27] swaminator commented on #136
Currently the hosting options available in the Amplify Console and CLI are different. Amplify Console offers fully managed hosting with features such as instant cache invalidation, atomic deploys, easy custom domain setup, and redirects. The CLI offers hosting with S3 and CloudFront. To view those resources please visit the CloudFront and S3 consoles respectively.

[2019-09-20 19:23] hzhenmin commented on #137
@kontrol-debug Can you check if www.kontrol.ai/index.html is a valid path? By default we redirect all error page to /index.html. If /index.html is also an error page, it will cause loop in redirect. If you do not want this default settings, you can delete in rewrites and redirects page.

[2019-09-20 19:29] hzhenmin commented on #134
@0luftballoons No, it cannot be removed. It will be used for auto certificate renewal.

[2019-09-20 20:29] nimacks commented on #130
@phyzixmusic our records indicate that this app is no longer available. Did you re-create your app?

[2019-09-20 20:36] nimacks commented on #131
@QB3L, our records indicate that your domain is enabled. I can confirm that I was able to navigate successfully to your domain. Please re-open this ticket if you're still having issues.

[2019-09-20 20:36] #131 closed

[2019-09-20 20:39] nimacks commented on #114
@yahavb, our records indicate that your app has been deleted. Please let us know if you're still facing issues with your custom domain by re-opening this ticket.

[2019-09-20 20:39] #114 closed

[2019-09-20 20:44] nimacks commented on #116
@coder-gurl , can you try to remove and re-add your domain to your app? It's very likely that the removal of your previous domain had not fully propagated which might explain the error message you received.

[2019-09-20 20:52] nimacks commented on #117
@daannijkamp , Sorry for the delay in getting back to you. Your account has two custom domains attached to it. The first one is active and I can confirm that I was able to visit the site without issue. Your second custom domain however is having issues and returns the message `CNAMEAlreadyExistsException`. Can you confirm that you were looking to setup two different domains to point to the same ap

[2019-09-20 22:39] #136 closed

[2019-09-20 22:57] swaminator commented on #135
@nookale can you try using the latest version of the CLI at build time? https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates

[2019-09-20 23:00] nimacks commented on #129
Hi @KyleShelton, according to our records the app associated with d224g6xdfccjtl no longer exists. Did you re-create the app? Have you got it working? Please provide an update so we can assist you to get this working.

[2019-09-20 23:04] KyleShelton commented on #129
Hello, I did recreate the app. I'm not sure how to get the proper id for it
but I still haven't got this to work yet.

On Fri, Sep 20, 2019, 7:00 PM Samuel Mensah <notifications@github.com>
wrote:

[2019-09-20 23:04] nimacks commented on #126
@aylesm , according to our records this app has successfully activated the custom domain. I have been able to navigate to the app. Please re-open this issue if you're still having issues.

[2019-09-20 23:04] #126 closed

[2019-09-20 23:09] KyleShelton commented on #129
Ah ok, I found the app ARN for the current app I am having issues with.
arn:aws:amplify:us-east-2:437527792999:apps/d23v93pcqul8jg

On Fri, Sep 20, 2019, 7:00 PM Samuel Mensah <notifications@github.com>
wrote:

[2019-09-20 23:16] nimacks commented on #125
@iconara , the AWS Amplify Console does in fact use ALIAS/ANAME records to setup your root/apex domain. The CNAME records created by Amplify are to verify that you own the domain and also setup subdomains. Are you not seeing an ALIAS/ANAME record setup for you?

Here is some documentation to give you some more clarity. https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom

[2019-09-20 23:24] nimacks commented on #129
@KyleShelton, it looks you've already used this domain with another amplify app you created in the us-east-1 region. In order to use this custom domain with your app in us-east-2 you'll need to remove the association from the first app. You cannot use one domain with different apps.

Next Steps:

- Switch to the us-east-1 region in the aws console
- Go into the Amplify console and find the app you

[2019-09-20 23:31] KyleShelton commented on #129
Oh, thank you so much. I didn't even notice that I had switched regions.
That makes so much sense now. This solved my issue.

On Fri, Sep 20, 2019, 7:24 PM Samuel Mensah <notifications@github.com>
wrote:

[2019-09-20 23:33] #129 closed

[2019-09-20 23:47] nimacks commented on #133
@ben-elsen, we're actively looking into this issue for you and hope to give you an update soon.

[2019-09-20 23:49] nimacks commented on #127
@0luftballoons , thanks for reaching out. We'll look into this issue.

[2019-09-20 23:49] nimacks commented on #122
@Cas-Laputa , thanks for reporting this. We'll look into this issue for you.

[2019-09-21 02:20] nookale commented on #135
@swaminator Yes! It worked! Thank!

[2019-09-21 04:26] QB3L commented on #131
@nimacks I ended up creating a completely new subdomain `store.mywebsite.com` to make the app deploy successfully.
I then tried creating a route53 CNAME record to point the original subdomain  I wanted (`apps.mywebsite.com`) to the now working subdomain (`store.mywebsite.com`) but this doesn't work!

So only `store.mywebsite.com` works but not `apps.mywebsite.com`

Any help on why the apps subdoma

[2019-09-21 04:34] QB3L opened #139 "Subdomain won't work"
REOPENING https://github.com/aws-amplify/amplify-console/issues/131

As explained to @nimacks
I ended up creating a completely new subdomain store.mywebsite.com to make the app deploy successfully.
I then tried creating a route53 CNAME record to point the original subdomain I wanted (apps.mywebsite.com) to the now working subdomain (store.mywebsite.com) but this doesn't work!

So only store.mywebs

[2019-09-21 06:11] iconara commented on #125
My app runs only on subdomains (e.g. app.example.com) so I haven't seen what it would do for the apex. For the apex it wouldn't work if you didn't use ALIAS records, so that makes sense.

What I meant to ask was why you're not using ALIAS records for the subdomains. It's not that CNAME doesn't work, but that using ALIAS would mean that I didn't have to pay for DNS lookups. Before I used Amplify I

[2019-09-21 07:48] daannijkamp commented on #117
That's correct.
**amplifyapp.our-company-name.com**
(For testing and portfolio purposes, active and and is currently working)

**amplifyapp.customers-company-name.com**
(customer's production environment, not working and returns the CNAMEAlreadyExistsException)

Do you think two different domains for the same app is the issue?

[2019-09-21 18:33] ben-elsen commented on #133
@nimacks Ok thanks!

[2019-09-21 19:04] kontrol-debug commented on #137
HI, @hzhenmin I have changed the redirects also. But my web application still doesn't runs.

[2019-09-21 23:01] alexandreramosdev opened #140 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d1nqr9regipzwn
**Region**: us-west-2
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-09-21 23:03] #140 closed

[2019-09-22 17:16] marcschroeter opened #141 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d9kq0ggl8z9ty
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Notes**
We used the domain before for a CloudFront distribution but we deleted everything.

[2019-09-23 05:48] incr3m opened #144 "Error when deploying through aws amplify console CI"
We're currently getting the error below when deploying changes on amplify console ci:
![image](https://user-images.githubusercontent.com/3125784/65403889-9dcbe200-de08-11e9-9fa1-916fdf242371.png)
Current version we use is 3.8.0. We did not change any config on amplify ci console. It was working before,

[2019-09-23 13:32] hotgazpacho opened #142 "Rewrite to Gatsby pre-rendered markup for pages"
** Please describe which feature you have a question about? **
I'm trying to set up my Gatsby site in the Amplify Console such that if I go directly to a page, say `https://redacted.dev/my-page`, it will serve up the pre-rendered html in `https://redacted.dev/my-page/index.html` that `gastby build` generates.

Here's my current redirect setup:

[code]

As it stands right now, accessing `https://re

[2019-09-23 14:03] hotgazpacho commented on #142
If I change my redirect setup as per below, then `https://redacted.dev/my-page/` works. However, if I omit the trailing slash (`https://redacted.dev/mypage`), it results in the 404.html being rendered.

[code]

I think now I just need gatsby to render `/my-page.html` and not `/my-page/index.html`

[2019-09-23 15:35] dominicjameskelly opened #143 "[ERROR]: Failed to deploy"
**App name**
bmfonline-co-uk

**App ARN**
arn:aws:amplify:eu-west-2:832288167450:apps/d25nk29cstjqrf

**Region:**
eu-west-2

I can no longer build from my master branch. I cannot see any build errors in the Amplify logs.

[2019-09-23 16:10] hotgazpacho commented on #24
For GitHub repositories, there's a `DeleteEvent` that gets fired whenever a branch is deleted: https://developer.github.com/v3/activity/events/types/#deleteevent

Perhaps this could be leveraged to provide this functionality?

[2019-09-23 17:43] #135 closed

[2019-09-23 19:02] butaca commented on #143
Same bug here.

**App ARN**
arn:aws:amplify:us-east-2:970150125456:apps/d1sstkga163z5f

The only relevant info I found in the logs is:

2019-09-23T18:59:00 [INFO]: Updating Edge config
2019-09-23T18:59:00 [ERROR]: Failed to deploy
2019-09-23T18:59:00 [INFO]: Deployment finished.

[2019-09-23 19:55] talebbits commented on #30
We have been using Github action to hit incoming webhook to start a build.
It would be great if we get this in amplify console.
[code]

[2019-09-23 20:11] talebbits opened #145 "Get Build activity without logging in aws console"
**Is your feature request related to a problem? Please describe.**

Get `Build activity` when tigger a build by web hook without logging in aws console.
We can see build activity in aws amplify console but is there any way to to get this info without logging in to console. maybe through API ?

**Describe the solution you'd like**

webhook response has something like this,
`'{"SendMessageResponse":

[2019-09-23 20:26] garyleefight commented on #143
@dominicjameskelly @butaca Thanks for the reporting. We are looking at the issue.

[2019-09-23 21:01] #134 closed

[2019-09-23 22:13] RossWilliams commented on #144
Hi, I've made a workaround for myself after guessing at the issue. It looks like the [amplifyPush.sh](https://gist.github.com/swaminator/7408de774e24ecf031d0d9928f1fbae5) command is failing because envCache has  "stackInfo" set to garbage. envCache is normally updated after running amplify commands, but the script fails before it can be updated to a good value, getting "stackInfo" stuck in the bad

[2019-09-23 23:15] garyleefight commented on #144
@incr3m Can you give me your AppId. So that we can do more research on the bug. Thanks for @RossWilliams 's workaround. The STACK_INFO is messed up due to CLI bug. Anyone who meets this error can reset the stackInfo with the following setting
[code]

[2019-09-23 23:17] kununguaq opened #146 "Build successful, but deployment & re-deployment fails"
AWS amplify console completes provision & build stages, but fails at deploy without giving a reason... The last 3 lines of my deployment log:

**2019-09-23T22:56:23 [INFO]: Updating Edge config
2019-09-23T22:56:23 [ERROR]: Failed to deploy
2019-09-23T22:56:23 [INFO]: Deployment finished.**

The crazy thing is i can't even re-deploy a previously stable build. What's up ?
My App ARN: arn:aws:amplify

[2019-09-23 23:47] kununguaq commented on #143
AWS amplify console completes provision & build stages, but fails at deploy without giving a reason... The last 3 lines of my deployment log:

**2019-09-23T22:56:23 [INFO]: Updating Edge config
2019-09-23T22:56:23 [ERROR]: Failed to deploy
2019-09-23T22:56:23 [INFO]: Deployment finished.**

The crazy thing is i can't even re-deploy a previously stable build. What's up ?
My App ARN: arn:aws:amplify

[2019-09-24 00:13] kununguaq commented on #115
AWS amplify console completes provision & build stages, but fails at deploy without giving a reason... The last 3 lines of my deployment log:

**2019-09-23T22:56:23 [INFO]: Updating Edge config
2019-09-23T22:56:23 [ERROR]: Failed to deploy
2019-09-23T22:56:23 [INFO]: Deployment finished.**

The crazy thing is i can't even re-deploy a previously stable build. What's up ?
My App ARN: arn:aws:amplify

[2019-09-24 00:14] kununguaq commented on #101
AWS amplify console completes provision & build stages, but fails at deploy without giving a reason... The last 3 lines of my deployment log:

**2019-09-23T22:56:23 [INFO]: Updating Edge config
2019-09-23T22:56:23 [ERROR]: Failed to deploy
2019-09-23T22:56:23 [INFO]: Deployment finished.**

The crazy thing is i can't even re-deploy a previously stable build. What's up ?
My App ARN: arn:aws:amplify

[2019-09-24 00:18] garyleefight commented on #143
@dominicjameskelly @butaca @kununguaq Hi, we have located the bug and pushed the code. The deployment will be completed as soon as possible

[2019-09-24 00:55] Weicocu commented on #115
Same exact issue. My project is pretty simple, and my zipped build artifact is exactly 8000 KB, which seems suspicious. The last build that deployed successfully has a 7998 KB build artifact.

Looks similar to [this issue](https://github.com/aws-amplify/amplify-console/issues/41), but they said something about a 1 GB build artifact limit. So my 8MB limit seems crazy small!

[2019-09-24 01:01] swaminator commented on #146
@kununguaq we are aware of this issue and rolling out a fix today. Will notify you on a fix.

[2019-09-24 01:01] swaminator commented on #143
#146

[2019-09-24 01:02] swaminator commented on #115
#146

[2019-09-24 01:06] butaca commented on #143
@garyleefight builds are deploying ok for me now. Any insight about what happened would be much appreciated.

[2019-09-24 01:10] swaminator commented on #109
#146

[2019-09-24 01:13] swaminator commented on #145
Are you referring to the build logs? or the history of builds?

[2019-09-24 01:19] Kunie-dev opened #147 "Failed to deploy"
**artifacts.zip (4,902 KB)**
**region: ap-northeast-2**

2019-09-24T01:09:42 [INFO]: Starting Deployment
2019-09-24T01:09:42 [INFO]: Uploading asset-manifest.json
2019-09-24T01:09:42 [INFO]: Uploading index.html
2019-09-24T01:09:42 [INFO]: Skipping upload of existing file manifest.json
2019-09-24T01:09:42 [INFO]: Skipping upload of existing file opengraph_facebook_1200_630.png
2019-09-24T01:09:42

[2019-09-24 01:26] talebbits commented on #145
I think both
1) We want to know if there is active build and if there is what is the status (Provision|Build|Deploy|Verify)
2) What is the status of all previous Jobs.

[2019-09-24 01:53] swaminator commented on #147
@Kunie-dev we are aware of the issue and are rolling out a fix shortly.

[2019-09-24 02:45] JoshuaTruscott commented on #138
I'm also currently having this issue using CLI version 3.9.0
amplify push is successful but the deployment fails.

[2019-09-24 03:27] swaminator commented on #147
Can you try now? The fix has rolled out

[2019-09-24 03:27] swaminator commented on #146
Can you try now? A fix has been rolled out.

[2019-09-24 03:27] swaminator commented on #143
Can you try now? A fix has been rolled out.

[2019-09-24 03:28] swaminator commented on #115
Can you try now? A fix has been rolled out.

[2019-09-24 03:35] Kunie-dev commented on #147
It works. thx

[2019-09-24 03:49] #147 closed

[2019-09-24 03:52] swaminator commented on #145
1. https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Amplify.html#getJob-property
2. You can use the same API to fetch status of previous jobs

[2019-09-24 05:53] DanielWFrancis opened #148 "Domain activation is Failed - CNAME issue"
**App Id**: d5mx54nkosktu
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Getting issues from AWS about connecting my third-party custom domain for Amplify. Previously had it somehow connected to the URL given when using the Amplify CLI, but upon switching to the console I realized the domain given by AWS was different so I'm trying to migrate.

**Error mes

[2019-09-24 06:01] #130 closed

[2019-09-24 07:39] dominicjameskelly commented on #143
@swaminator Fixed, thanks!

[2019-09-24 08:57] JIoJIaJIu opened #155 "Unable to connect application to Bitbucket repo"
**Describe the bug**
Unable to connect application to Bitbucket repo through AWS Amplify Console

**To Reproduce**

1. Connect new application through AWS Amplify Console
2. Select Bitbucket as source provider
3. Connect to Bitbuket
...
4. On **Save and deploy**
[code]

**Expected behavior**
Sufficient permission should be requested

**For community**
For avoiding the problem I proceed following s

[2019-09-24 09:10] JIoJIaJIu opened #154 "AWS Amplify console doesn't open with application contained ssh repository url"
**Describe the bug**
When I created a application on amplify as described in case aws-amplify/amplify-js#4071 and pointed git+ssh url
[code]
After that I wasn't able to open AWS Amplify console - continuous loading and error in web-console
![amplify](https://user-images.githubusercontent.com/601863/65497795-684cf480-deed-11e9-9a6d-f82439f5ce33.png)

**To Reproduce**

1. Create amplify application

[2019-09-24 12:15] mmellado opened #149 "Can't create new app"
**Describe the bug**
I am trying to create a new app from a repository in CodeCommit. When I configure the environment variables I get a 500 response with an error that won't let me create a new app. We already have 9 other apps working with this repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to AWS Amplify console
2. Click on Connect App
3. Select the CodeCommit option
4. Se

[2019-09-24 12:51] Weicocu commented on #115
Fix worked for me, thank you!!

[2019-09-24 13:59] RyanHow opened #150 "Private Git Submodule on GitHub - Permission Denied"
Hi,

I have a simple project that has a submodule in a private GitHub repo.

The build fails with `Permission denied` when attempting to clone the submodule.

I'm just using a relative path for the submodule.

What's the correct process for getting submodules to work from the amplify console?

(As a side note, the OAuth user has access to the repo, but I'm assuming I need to somehow get the public

[2019-09-24 15:52] swaminator commented on #149
@mmellado unable to reproduce the issue. Is this repeatable for you?

[2019-09-24 16:24] mmellado commented on #149
Yes. It seems like AWS is not respecting my amplify apps quota

On Tue, Sep 24, 2019, 17:52 Nikhil Swaminathan <notifications@github.com>
wrote:

[2019-09-24 16:36] 0luftballoons opened #151 "SSL verification is Failed - multilevel subdomain"
**App Id**: d3ahdw9b83q4fv
**Region**: us-west-2
**Step**: SSL verification
**Status**: Failed

**Issue/question**
Was successful in creating custom subdomain, but then when tried to create multilevel subdomain based on the previous subdomain, could not get past the step where SSL process looking for new verification CNAME entry. Yes, we created and inserted new verification DNS record for the mul

[2019-09-24 17:13] #145 closed

[2019-09-24 17:34] swaminator opened #152 "Amplify Hosting Release History"
Read about the latest features released by AWS Amplify Hosting: https://github.com/aws-amplify/amplify-hosting/blob/main/CHANGELOG.md

[2019-09-24 17:55] hzhenmin commented on #149
@mmellado This is caused by you have too many triggers in the repo of CodeCommit. It has reached the CodeCommit limit 10. This caused AWS Amplify Console was unable to add new trigger and failed to create app. You can follow this link to delete unused trigger and create the app again.
https://docs.aws.amazon.com/codecommit/latest/userguide/how-to-notify-delete.html

[2019-09-24 18:49] garyleefight commented on #142
@hotgazpacho Hi, could you clarify your question more clear? From your description, I think you do have content on /my-page/index.html and no content is rendered on /my-page.html. That's why your second rewrite rule rewrite /my-page.html to 404.
If you wants to rewrite /my-page.html to /my-page/index.html, you can simply write something like
[code]

[2019-09-24 19:02] garyleefight commented on #138
The deployment issue should be fixed. Could you have a try?

[2019-09-24 19:59] timothy-baker commented on #10
I'm running into this issue now. CLI v3.2.0. Here are my build logs:

[code]

[2019-09-24 20:09] garyleefight commented on #141
@marcschroeter I have checked the records. Looks like the domain status is available now. Free free to contact us if you still have problems.

[2019-09-24 20:12] garyleefight commented on #148
@DanielWFrancis The domain status is available. Feel free to contact us if you still have issue.

[2019-09-24 20:17] garyleefight commented on #139
@QB3L I checked the records. Looks like you have solved the issue. Feel free to contact us if you still have problem.

[2019-09-24 20:17] #139 closed

[2019-09-24 20:17] #148 closed

[2019-09-24 20:27] #141 closed

[2019-09-24 20:28] #146 closed

[2019-09-24 21:25] garyleefight commented on #137
Hi, @kontrol-debug. Looks like your site is available. Do you still have problems?

[2019-09-24 21:28] garyleefight commented on #133
@ben-elsen Hi, the fix was pushed. We will schedule a deployment to resolve the issue.

[2019-09-24 21:47] swaminator commented on #101
@kununguaq @desertmonkey we rolled out a fix so your app should deploy fine. @bronwynwoods can you check your app as well?

[2019-09-24 21:50] desertmonkey commented on #101
Thank you @swaminator! We'll check out the fix soon against the one branch that kept failing to build. Our main branches (master, stage) do build, however (and have been since before your fix).

[2019-09-24 21:50] garyleefight commented on #125
@iconara Because we are using ACM to create certificate. ACM uses CNAME records to validate domain. For more information:
https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-dns.html

[2019-09-24 21:53] garyleefight commented on #151
@0luftballoons What you could do is add a domain abc.example.com as the root domain. Then you could attach any prefix to that domain to achieve multilevel subdomain, such as test.abc.example.com.

[2019-09-24 22:00] garyleefight commented on #120
@Xavier-Charles Hi, I have noticed that in your buildspec file the build commands was set to
[code]
The amplifyPushFyz is not the default push command. Could you revise it back to amplifyPush --simple and try again?

[2019-09-24 22:10] hotgazpacho commented on #142
Thinking about this some more, I think I’d really rather have Gatsby prerender it’s pages to `componentname.html`, instead of what it does by default: `componentname/index.html`, so that I can access any page by `/componentname`, without having to include the trailing slash. I was hoping I could accomplish this via a rewrite rule, for *all pages*.

[2019-09-24 22:16] garyleefight commented on #118
@iewil Hi, I have checked your records. You domain failed in DNS validation, which means you DNS provider config is not correct. Please follow our troubleshooting guide: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-troubleshoot-guide

[2019-09-24 22:32] garyleefight commented on #142
@hotgazpacho Hi,
[code]
This will help you match any path name with only one level.
If you have multiple level path, you have to set the rules level by level.

[2019-09-24 23:13] garyleefight commented on #117
Hi, I searched your domain CNAME record. Looks like it's already attached to a CloudFront distribution: d1cvpwo3qmpa4m.cloudfront.net.
You could use whatsmydns tool to see details.
Link: https://www.whatsmydns.net/#CNAME/${Your custom domain}
Please delete the domain in that app first and try to attach it again.

[2019-09-24 23:33] swaminator commented on #10
@timothy-baker @nino-moreton @houmark: We root caused the issue to the `amplify/backend/api/myapi/build/` folder not being checked into source control. As a workaround, please run `amplify gql-compile` and `amplify push --yes` from your local machine, and check the `build` folder into source control (EXCEPT for the `amplify/backend/api/myapi/build/parameters.json`file). With the next CLI release w

[2019-09-25 00:15] mrducky4 commented on #138
It still fails for me, using Amplify CLI 3.9.0. The Amplify console build page looks different than a couple days ago. I can't find any way to download the logs today. I copied this log fragment:
[code]

[2019-09-25 01:01] QB3L commented on #139
@garyleefight We still have an issue. I tried pointing via route 53 one subdomain to another (app.mydomain.com -> store.mydomain.com) but that is not working. the `store` subdomain works but the `app` subdomain **does not**

[2019-09-25 03:26] bronwynwoods commented on #101
Thanks @swaminator! It looks like deployment is now working for my app.

[2019-09-25 03:35] daannijkamp commented on #117
@nimacks @swaminator @garyleefight As far as I understand now, I have found the potential problem. Tip, maybe you can make the following sentence red. Instead of in font size of 8px and light gray.

[2019-09-25 04:22] kontrol-debug commented on #137
NO there was some issue with redirects. Thankyou.
You can close this issue.

[2019-09-25 06:26] iconara commented on #125
@garyleefight we're still talking about different records. Let me start from the beginning:

I have the following CloudFormation resource (the domain is obviously not example.com, but I can't post the domain, but it's something.com):

[code]

This creates the following Route53 records:

[code]

These are all CNAMEs. I am not surprised about the ACM validation record, but I don't see why the record

[2019-09-25 08:30] ben-elsen commented on #133
Hi @ garyleefight Thanks! Do you have an idea when the deployment is sheduled yet?

[2019-09-25 09:48] RossWilliams commented on #10
@swaminator Can you please link to the CLI issue or PR to track this issue?

Are you stating that including the build folder in git should be done going forward, or that this is a temporary workaround.

[2019-09-25 10:51] thedgbrt commented on #10
Since I need auto-deploy to work, I found a temporary fix that works for my existing environment (but not for feature branches where new environments are created by the console directly). Hope it can help anyone.

https://gist.github.com/thedgbrt/11158b45df9bc79dd0e8869b5412b19d

[2019-09-25 17:22] garyleefight commented on #117
@daannijkamp Glad you figured it out. I contacted with CloudFront team. You have a "dangling" DNS record that points to a distribution that doesn't exist in CloudFront in this case. This is the solution:
`If your DNS record points to a distribution that is not the distribution that you are creating or modifying, then you can't add the alternate domain name to your distribution. In this scenario, y

[2019-09-25 17:47] daannijkamp commented on #117
@garyleefight Thanks for your help!
Some extra information to improve the user experience:
If the verification process gets stuck and the retry button does not work again, the only option is to delete the domain and add it again.
When you do this, you will see the same old cloudfront domain with "View DNS".
That is why I assumed that the cloudfront domain was not going to change.

[2019-09-25 17:48] #117 closed

[2019-09-25 20:16] JoeCase commented on #122
Any updates on this? I am facing the same problem. Deploying from the CLI works fine, I can sign in, query and do mutations. Deploying from Amplify console gives me the above error. I can sign in fine but get a 401 "UnauthorizedException - Unable to parse JWT"  token when trying to access the api.

[2019-09-25 20:43] garyleefight commented on #155
@JIoJIaJIu Thanks for reporting bug. We are working on it now.

[2019-09-25 20:44] garyleefight commented on #154
We only support https// like repository. And the repository link should be the one that links to the homepage of your repo.
For example: https://bitbucket.org/{username}/{repoName}/src/{branchName}/

[2019-09-25 20:54] garyleefight commented on #155
@JIoJIaJIu Thanks for reporting. We just added the extra permission to our Oauth app. Can you try again?

[2019-09-25 21:20] hotgazpacho commented on #142
@garyleefight Thanks! This is progress. However, it is now blocking access to javascript assets and web manifests. I think I need to tweak this a bit.

[2019-09-25 21:37] ChadVerity opened #156 "ERR_SSL_VERSION_OR_CIPHER_MISMATCH with Third-Party Subdomain"
** Please describe which feature you have a question about? **
We're building an app with Amplify, we've connected the domain and the DNS appears to be all correct, but we are getting  ERR_SSL_VERSION_OR_CIPHER_MISMATCH and I have no idea why or how to fix it. I'd appreciate any insight you'd be willing to give. We are using Cloudflare, and I'm not sure if that's part of the problem.
** Provide ad

[2019-09-25 22:00] butaca opened #157 "Build fails while cloning: "Unable to clone repository""
Log output:

[code]

App ARN
arn:aws:amplify:us-east-2:970150125456:apps/d1sstkga163z5f

_**Edit to add some extra info:**_

* Last successful build was on 2019-09-25T20:20:40 (timezone as shown in the logs).
* I didn't change anything in AWS Console or Bitbucket since then.
* The repo is private.

[2019-09-25 23:11] 0luftballoons commented on #151
@garyleefight Thanks for the suggestion, abandoning multilevel subdomain, just going to use regular subdomains instead. So far, AWS Amplify seems to like that better.

[2019-09-25 23:11] #151 closed

[2019-09-26 01:52] Cas-Laputa commented on #122
You can workaround this issue until this is improved:
[code]

[2019-09-26 02:04] Mangosteen-Yang commented on #157
Same error here in Sydney region

[2019-09-26 08:39] JoeCase commented on #122
@Cas-Laputa That seemed to get me past the first hurdle, but now getting:
`"Validation error of type FieldUndefined: Field 'owner' in type '[model]' is undefined @ 'list[model]s/items/owner"`
Same goes for the mutations. Did you run into that as well?

[2019-09-26 10:59] madrussa commented on #157
Same again, eu-west-2. I've also tried removing and reconnecting the branch to no avail. I also tried removing the oauth connection in Bitbucket and recreating it... still same issue. All builds failing for us now.

[2019-09-26 14:09] sarahsweat commented on #157
Having the same issue. All builds failing. SOS.

[2019-09-26 14:50] JIoJIaJIu commented on #154
Hello @garyleefight
Unfortunately such url is not supported by **aws cli**
[code]
[code]
I can raise the issue in awscli repo if needs

Workaround is to submit repository url as
[code]
it's accepted by **aws cli** and aws console works well

[2019-09-26 14:54] JIoJIaJIu commented on #155
Hello @garyleefight, I confirm that now creating apps works! Thank you for such fast fix

**Offtopic**
Could you please take a look at the case - https://stackoverflow.com/questions/58078457/update-repo-accesskey-for-existed-application-in-aws-amplify
Should I raise an issue / feature request?

[2019-09-26 17:41] garyleefight commented on #155
@JIoJIaJIu Yes. You can raise a feature request. Thanks for the feedback

[2019-09-26 17:49] TariqRumie commented on #157
Having the same issue as-well.

[2019-09-26 18:03] garyleefight commented on #157
Thanks for reporting. We are working on it right now

[2019-09-26 18:19] garyleefight commented on #157
@sarahsweat @TariqRumie Can you let me know which region your app lives?

[2019-09-26 18:22] randallPerez commented on #157
@garyleefight i'm having the same issue, my region is us-east-1

[2019-09-26 18:42] sarahsweat commented on #157
@garyleefight
App ARN
arn:aws:amplify:us-east-1:190931189545:apps/dizosossq3y7o

[2019-09-26 19:35] garyleefight commented on #156
Looks like your CNAME doesn't resolve https://www.whatsmydns.net/#CNAME/app.holmetrics.com

[2019-09-26 19:37] victorhsb commented on #157
same thing here, region is us-east-1
app id is:
arn:aws:amplify:us-east-1:830062373251:apps/d2936znhm1bogq

[2019-09-26 20:10] swaminator commented on #157
@victorhsb @sarahsweat @randallPerez @TariqRumie @madrussa @Mangosteen-Yang @butaca We are currently experiencing issues building and deploying apps that are connected to BitBucket repositories. We are actively working on a fix to give users the ability to reauthenticate with Bitbucket. We apologize for any inconvenience caused and will update this issue with an ETA shortly.

[2019-09-26 20:34] hzhenmin commented on #133
@ben-elsen

You can try again and it will work.

If there are any other questions please let us know.

[2019-09-26 20:38] garyleefight commented on #138
@mrducky4 The STACK_INFO is messed up due to CLI bug. Anyone who meets this error can reset the stackInfo with the following setting
[code]
Make sure after the envCache is reset, you remove the `envCache --set stackInfo ""` line

[2019-09-26 20:38] #137 closed

[2019-09-26 20:52] #143 closed

[2019-09-26 21:13] mrducky4 commented on #138
Thanks @garyleefight , but I don't understand. Where and when exactly would I make such a change? I don't have any such thing in my project. I do see a similar thing in the Amplify Console build settings page, in a section showing amplify.yml. It has this:
[code]

[2019-09-26 21:21] garyleefight commented on #138
@mrducky4 Click 'Build settings' on left navigation bar. Then click edit for 'App build specification'. Insert
- envCache --set stackInfo "" before
- amplifyPush --simple

Then redeploy your app. Hope it works for you. Thanks！

[2019-09-26 21:28] mrducky4 commented on #138
@garyleefight now it is failing even earlier, cloning the repo, with "Permission denied (publickey)" error. I can't tell if the problem is on AWS side or bitbucket side. After that is resolved, I can try again on this STACKINFO issue.

[2019-09-26 21:31] garyleefight commented on #138
@mrducky4 Sorry about it. We have a Bitbucket issue right now.
Please track on this issue: https://github.com/aws-amplify/amplify-console/issues/157

[2019-09-26 21:34] #101 closed

[2019-09-26 22:00] #118 closed

[2019-09-26 22:04] garyleefight commented on #116
Hi, I checked your DNS. The error message is: One or more domain names have failed DNS validation. This is caused by misconfiguration with Route53. We are glad to help you if you give us more information.

[2019-09-26 22:47] garyleefight commented on #109
@talshnitzer
2019-09-19T09:20:25.141Z [ERROR]: !!! Error: Artifact directory doesn't exist: .env.test
This is why your deployment failed.

[2019-09-26 23:29] butaca commented on #157
@swaminator thanks. good to know you are working on this. Is there a way to deploy my app using a build done locally in my computer? I’m thinking this as a workaround, in order to be able to update my site.

[2019-09-26 23:34] swaminator commented on #157
We are testing a fix currently and should roll something out shortly. Please track https://github.com/aws-amplify/amplify-console/issues/157 for updates.

[2019-09-26 23:35] swaminator commented on #157
@butaca yes you can use manual deploys: https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html

[2019-09-26 23:44] swaminator commented on #95
@blairtaylor we're not sure why you're getting this. Can you go to the IAM console > Roles and search for the `amplifyconsole-backend-role` > Trust relationships > edit. You should see:
[code]

[2019-09-26 23:46] swaminator commented on #107
@dahersoftware can you review this blog post and check your Facebook app settings: https://dev.to/dabit3/the-complete-guide-to-user-authentication-with-the-amplify-framework-2inh

We're not sure this is an issue with Amplify Console.

[2019-09-27 00:22] blairtaylor commented on #95
Yes I see that policy.

Just tried it again. This is the build log. It looks like there is an issue deploying the aws sdk.

2019-09-27T00:15:51.138Z [INFO]: Git SSH Key acquired
2019-09-27T00:15:51.219Z [INFO]: # Cloning repository: git@bitbucket.org:<info>
2019-09-27T00:15:51.324Z [INFO]: Agent pid 72
2019-09-27T00:15:51.329Z [INFO]: Identity added: /root/.ssh/git_rsa (/root/.ssh/git_rsa)
2019-09

[2019-09-27 00:48] Mangosteen-Yang commented on #157
@swaminator Can we manual deploy on current butbucket project because we need to kepp using the domain URL.

[2019-09-27 01:11] swaminator commented on #157
@victorhsb @sarahsweat @randallPerez @TariqRumie @madrussa @Mangosteen-Yang @butaca The fix has been rolled out. Can you please go to **General > App settings ** and choose **Re-authenticate**. This should fix the issue. Please let us know if this works.
![Screen Shot 2019-09-26 at 6 09 38 PM](https://user-images.githubusercontent.com/2429410/65734668-f0b3cc80-e088-11e9-97eb-c9ebe8f8e152.png)

[2019-09-27 01:14] swaminator commented on #157
@victorhsb @sarahsweat @randallPerez @TariqRumie @madrussa @Mangosteen-Yang @butaca The fix has been rolled out. Can you please go to **General > App settings** and choose **Re-authenticate**. This should fix the issue. Please let us know if this works.
![Screen Shot 2019-09-26 at 6 09 38 PM](https://user-images.githubusercontent.com/2429410/65734798-82bbd500-e089-11e9-8b1a-cd195b742195.png)

[2019-09-27 01:17] Mangosteen-Yang commented on #157
@swaminator After clicked the button, I got the same error during deployment.

[2019-09-27 01:19] swaminator commented on #157
@Mangosteen-Yang can you try to reauthenticate again and trigger a new build? It's possible that your oauth token was in a stale state.

[2019-09-27 01:23] Mangosteen-Yang commented on #157
It success now, thanks. I will try other applications.

[2019-09-27 01:35] anthonyjc commented on #157
@swaminator  Working for me now - thanks very much for the fix

[2019-09-27 02:05] butaca commented on #157
@swaminatoe it’s working now. Thank you 🙏

[2019-09-27 02:05] #157 closed

[2019-09-27 02:41] devengarg commented on #157
Thanks a ton! Its working now

[2019-09-27 03:10] sarahsweat commented on #157
SUCCESS! Thank you thank you thank youuu! <3

[2019-09-27 14:16] ntrabue opened #162 "Incomplete awsexports file leads to a 401 error in Amplify CI/CD deployment"
** Which Category is your question related to? **
AppSync? Cognito? Amplify

** What AWS Services are you utilizing? **
AppSync,
Cognito,
Amplify CLI,
Amplify console,
DynamoDB

** Provide additional details e.g. code snippets **
Sorry, I'm sure this is something simple that I'm missing. Deployment to S3 and working locally I'm able to log in, query and mutate data but I get a 401 error on my Ampl

[2019-09-27 14:18] randallPerez commented on #157
@swaminator it's working, thank you

[2019-09-27 16:33] ntrabue opened #158 "401 error only in Amplify deployment"
** Which Category is your question related to? **
AppSync? Cognito? Amplify

** What AWS Services are you utilizing? **
AppSync,
Cognito,
Amplify CLI,
Amplify console,
DynamoDB

** Provide additional details e.g. code snippets **
Sorry, I'm sure this is something simple that I'm missing. Deployment to S3 and working locally I'm able to log in, query and mutate data but I get a 401 error on my Ampl

[2019-09-27 17:18] swaminator commented on #158
@ntrabue are you creating a new backend environment or are you reusing it in the console?

[2019-09-27 20:22] aireater opened #159 "ENV VERSION_AMPLIFY=1.7.2"
When I look at the Provision log I see

`ENV VERSION_AMPLIFY=1.7.2`

Is that really the version of amplify the build is using?

I'm currently using amplify.yml with the following:
[code]

and I'd like to remove it and just use the latest version of amplify cli.

[2019-09-28 00:21] acq688 commented on #24
This is something that we're looking for as well. Right now I'm using Amplify Console to spin up "test sites" on a per-pull request basis, but I'm having to clean up those manually at the moment after the pr gets closed or merged.

I think I might try to accomplish this with a Github Action triggered by the Pull Request being closed/merged for the time being.

[2019-09-28 00:28] swaminator commented on #159
@aireater we are pushing out a fix for that. You can use the live updates feature to always use the latest version of the CLI: https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates

[2019-09-28 00:28] #159 closed

[2019-09-28 01:07] swaminator commented on #122
Was able to reproduce the issue. Looks like there's an issue with the generation of the aws-exports.js file. For now as a workaround, try building locally and uploading the artifacts manually: https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html

[2019-09-28 01:07] swaminator commented on #158
Was able to reproduce the issue. Looks like there's an issue with the generation of the aws-exports.js file. We are investigating a fix. For now as a workaround, try building locally and uploading the artifacts manually: https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html

[2019-09-28 01:07] swaminator commented on #158
#122

[2019-09-28 01:19] swaminator commented on #155
@JIoJIaJIu that is now supported in Amplify.

[2019-09-28 01:19] #155 closed

[2019-09-28 16:43] munkk opened #170 "How can i minify amplify app"
Hello. I'm using react/amplify stack. After publishing app, i realized that all code there is not minified, i'm able to open any component and see it's unminified source code. As i understood, amplify builds app based on it's amplify.yml file. I didn't change there anything and it looks like this:
`version: 0.1
backend:
  phases:
    build:
      commands:
        - '# Execute Amplify CLI with the

[2019-09-28 18:16] domi91c opened #161 "Can I use Amplify as a replacement for S3/CloudFront?"
Just a quick question about Amplify. I managed to get it 90% working in about 5 minutes of work, but the Axios calls in my Nuxt app aren't being made.

Am I forced to use the Amplify API, or should Axios work as usual? I'm hoping to use Amplify as a simple replacement for S3/CloudFront, because it's been a very fast way to setup a CD pipeline for my frontend. But I already have my own API calls an

[2019-09-28 18:33] TARDIS42 opened #160 "Update Hugo web framework to 0.58.x"
**Is your feature request related to a problem? Please describe.**
Yes, unable to compile my web app on Amplify as the hugo web framework is on a older version.  Log below:

[code]

**Describe the solution you'd like**
Update Hugo version from 0.55.6 to 0.58.x or later release.

**Additional context**
None

[2019-09-29 00:53] swaminator commented on #163
Update: Turns out its because there is a version mismatch between the Console and the CLI. You can set the version of the CLI to the latest here: https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates
This will fix the issue.

[2019-09-29 00:53] swaminator commented on #162
Update: Turns out its because there is a version mismatch between the Console and the CLI. You can set the version of the CLI to the latest here: https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates
This will fix the issue.

[2019-09-29 00:54] swaminator commented on #161
Your API calls should work. What error are you getting?

[2019-09-29 00:55] swaminator commented on #160
You can set the version of Hugo the latest here: https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates
This should fix the issue.

[2019-09-29 05:10] tinarastic opened #164 "Domain activation is Failed - CNAME issue"
**App Id**: d1hzuvtb4krkm6
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
The domain activation fails even though the domain name is on Route53 and has only ns and soa records

**Error message**
One or more of the CNAMEs you provided are already associated with a different resource.

[2019-09-29 12:40] simpson opened #165 "Receiving 404 on verified domains"
**App Id**:
**Region**: Singapore
**Step**: Domain propagated
**Status**: 404

**Note**: I'm getting 404s on domains that have successfully verified, and their status is verified

**Issue/question**
What steps are recommended when the DNS workflow completes and you get 404s on the domains?

**Error message**
404 responses

**Additional information**
https://staging-a.admin.designed.org is an examp

[2019-09-29 13:08] simpson commented on #165
When I went back in to "Manage Subdomain" for each and clicked update (without changing anything), it seemed to reestablish the connection to the domains and they stopped throwing 404s

[2019-09-29 13:08] #165 closed

[2019-09-29 15:46] dahersoftware commented on #107
@swaminator This issue is not related to Facebook only it happens with google too.
See the screenshot below

<img width="963" alt="Screenshot 2019-09-29 17 45 23" src="https://user-images.githubusercontent.com/51359357/65834969-fc99cb80-e2e0-11e9-8bf8-77142ec6062c.png">

[2019-09-29 16:34] TARDIS42 commented on #160
Yup, setting that variable to `latest` fixed the issue.  Thanks!  Closing this issue.

[2019-09-29 16:34] #160 closed

[2019-09-30 03:48] Cas-Laputa commented on #163
It works.

[2019-09-30 08:50] dahersoftware commented on #107
Also I used that link to configure my fedrated authentication. I noticed that problem persist with or without pre token lambda but pre token lambda slows it down more and sometime login is not successful.

[2019-09-30 13:06] matiasmagni opened #166 "SSL verification is Failed - [BRIEF DESCRIPTION]"
**App Id**: duv1ycno7qpfe
**Region**: us-east-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel f

[2019-09-30 13:06] levin-roski opened #167 "Domain activation is Failed urgent - CNAME already in use"
**App Id**: d3k3gb26krpwdc
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

![2019-09-30_150034](https://user-images.githubusercontent.com/18506470/65881232-67a3da80-e393-11e9-9817-be8bd5fe7a78.png)
![2019-09-30_150240](https://user-images.githubusercontent.com/18506470/65881240-696d9e00-e393-11e9-84d2-09df96981a47.png)

**Issue/question**
I cant add this domain, its manage

[2019-09-30 13:46] mrducky4 commented on #138
after using the bitbucket reauthenticate workaround, and the - envCache --set stackInfo "" workaround, I was able to deploy with amplify console. I had to use the envCache workaround for each environment (branch) I was deploying.

[2019-09-30 14:42] fdelhoste commented on #96
Hi,

I'm also having this issue. In Amplify console, I deploy a simple react app using the Cognito auth module. This module has been configured with CLI to add users to a Cognito group on sign up.

That doesn't work with Amplify console: the GROUP parameter/variable is empty on the deployed stack parameters as well as on the lambda environment variables.

Any workaround?

[2019-09-30 15:48] matiasmagni opened #168 "SSL verification is Failed - [BRIEF DESCRIPTION]"
**App Id**: duv1ycno7qpfe
**Region**: us-east-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel f

[2019-09-30 15:56] swaminator commented on #167
@levin-roski can you check your CloudFront console as mentioned here: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

[2019-09-30 15:57] swaminator commented on #164
Can you check the CloudFront console for a matching CNAME: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

[2019-09-30 16:10] domi91c commented on #161
You're right, it was an issue with the proxy I had set up.

[2019-09-30 16:10] #161 closed

[2019-09-30 16:48] oakstreetrec opened #169 "Exclude Root from Cloud Formation"
**Please describe which feature you have a question about?**

I'm trying to write the correct CF YAML to use only a subdomain of a root domain that will not be part of my project. I would like to do it from CF if possible, but I don't see how to set 'exclude root' as is possible in the Add Domain UI. Won't the following set up both example.com and mySub.example.com (and possibly www.example.com as

[2019-09-30 16:48] salzbrenner commented on #157
@swaminator I am still getting this error. I'm dealing with two different AWS accounts, both with projects connected to Bitbucket. On one account, the re-auth fix worked. On the other account, re-authorizing does nothing. Still get the same auth build error

[2019-09-30 16:51] butaca commented on #157
@salzbrenner I had to re authorize two times to make it work. Maybe this works for you.

[2019-09-30 17:26] salzbrenner commented on #157
thanks @butaca , i've re authorized multiple times to no avail

[2019-09-30 17:31] salzbrenner commented on #157
@butaca @swaminator nevermind, my fault. I wasn't admin of repo

[2019-09-30 18:20] levin-roski commented on #167
Hi @swaminator thanks for your fast reply,

I checked the troubleshooting:
1. Yes the domain and subdomain is not in use by any other Clodufront distro, in fact I just added it for Amplify to Route53, its not used in any other AWS service.
2. Its not used by any Amplify app.
3. I tried multiple times, but it was never successfully setup, before I deleted the domain in Amplify. Maybe this is the is

[2019-09-30 23:25] cslogan-red commented on #170
It sounds like you're bootstrapping your project with create-react-app (CRA), the following links are helpful to understand when and why CRA includes your source (as part of generated source maps) in a Production build, and how to disable them using React's environment variables (.env file):

https://stackoverflow.com/questions/49123885/when-does-create-react-app-obfuscate-or-minify-code

https://

[2019-09-30 23:37] garyleefight commented on #169
Hi, your template is the right template that excludes root domain. If you want to include root domain,
your template should be like :
[code]