[2020-02-24 23:45] nagey commented on #458
to be more clear, this is my ruleset:
[code]

Which, as I intend it, has the following meanings:
1. if a url matches `/storybook/*` redirect it to `/storybook/index.html`, unless it's an asset of some sort
1. if the URL doesn't match rule 1, and it's not an asset, and it doesn't start with storybook, redirect it to `/`
1. if the URL matches neither rule 1 nor rule 2 and the file isn't found locall

[2020-02-24 23:50] Joycehao19 commented on #451
@deybhayden Hi, sorry that you are facing this issue. Would you mind provide the branch name and build id?

[2020-02-25 00:01] #337 closed

[2020-02-25 00:13] #359 closed

[2020-02-25 00:16] Joycehao19 commented on #385
Hi, @gvnttdata did you still have this issue?

[2020-02-25 00:17] Joycehao19 commented on #394
@guruprasad211 Could you please provide your appId, region, build number, branch name?

[2020-02-25 00:18] Joycehao19 commented on #419
@pbenipal61 Cool. Closing the issue now.

[2020-02-25 00:18] #419 closed

[2020-02-25 00:24] #429 closed

[2020-02-25 00:48] Joycehao19 commented on #446
@hepatus did you try it in different browser?

[2020-02-25 01:48] bolzon2000 opened #461 "My site is no longer working - giftsgoodandbad.com"
I've made no changes to my site and am now receiving the below error for giftsgoodandbad,.com

Firefox detected an issue and did not continue to giftsgoodandbad.com. The website is either misconfigured or your computer clock is set to the wrong time.

It’s likely the website’s certificate is expired, which prevents Firefox from connecting securely. If you visit this site, attackers could try to st

[2020-02-25 01:56] gommmmmm opened #462 "SSL verification is Failed - CNAME setup took time, and verificartion retry fails"
**App Id**: d1f2sjshpf2182
**Region**: ap-northeast-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
Our domain is hosted under third-party DNS server, and took a week to setup CNAME record.
After the record is set, we retried but it seems to fail. Is there any way to succeed?

**Error message**
We could not verify ownership of the domain. Please ensure you own the domain and ch

[2020-02-25 02:52] yair-submittable commented on #435
I have the exact same problem. Just created a blank react app and uploaded to gitlab. If using AWS Amplify console I get 403 on index.html and favicon.ico. If I use amplify add hosting and then publish I got to go and set up the S3 for web access. I suspect the console does not do that. Oh and I have also added the SPA routing to prevent the redirect.

[2020-02-25 02:59] aprabhakar90 commented on #369
@Joycehao19 Error message: One or more of the CNAMEs you provided are already associated with a different resource.

[2020-02-25 03:17] Joycehao19 commented on #369
@aprabhakar90 Hi, It seems like your custom domain associated with other distribution. Could you double check you and your team account?
Another question is: did you connect this domain to any CF distributions before?

[2020-02-25 03:22] aprabhakar90 commented on #369
@Joycehao19 I created an aws amplify app with this domain name for a demo 9 months back on another account and that worked fine. But I deleted the app since and moved it to this account. I checked the CF distributions on both accounts and no distributions exist.

[2020-02-25 04:18] doublebiz opened #463 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d22qcbcy4d7mcb
**Region**: ap-southeast-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-02-25 06:03] panslava commented on #457
Oh my god, I somehow missed that button. Thank you so much!

[2020-02-25 06:03] #457 closed

[2020-02-25 09:45] SahRckr opened #464 "Integration with Jest test suite"
** Please describe which feature you have a question about? **

Attempting to integrate E2E front-end tests with Amplify console. I am not sure if there is something wrong with our build settings, or if are not writing our tests correctly.

The tests work fine locally. However, the pipeline gets stuck at the tests step (after the tests have succeeded). I have attached some logs and the current set

[2020-02-25 11:23] mastermeric opened #465 "SSL verification is Running - [SSL verification takes so much time still waiting for it ]"
**App Id**: d3nlic1hb9mit2
**Region**: us-east-2
**Step**: SSL verification
**Status**: Running

**Issue/question**
During my custom-domain defination in Amplify;
"SSL verification" stage still is Running - takes so much time still waiting for it.

**Error message**
There is no error message.

[2020-02-25 12:46] ilyador commented on #454
@Joycehao19 No, I have only 1 app. I **connected a domain** to it.
The domain URL works, but no longer appears in the Amplify domain management section.

[2020-02-25 13:43] z3by commented on #451
Hey @Joycehao19 the Branch is master, and the latest build id is 79.

[2020-02-25 14:09] timeconsumer commented on #459
The Previews work, it's an issue with the amplify backend build step. When the build happens, it's like it is unaware of the configuration I've set up for each env. When the amplifyPush command happens, the variables set wind up getting reset i.e.:
![image](https://user-images.githubusercontent.com/2559699/75254543-84133a00-57ae-11ea-94c6-b680da9f7030.png)
Those variables were all set when creatin

[2020-02-25 17:35] Joycehao19 commented on #464
Hi @SahRckr , sorry that you are facing this issue. Can you provide you appId, region, branch and build id?

[2020-02-25 17:35] Joycehao19 commented on #463
Hi @doublebiz  what is the error message?

[2020-02-25 17:43] Joycehao19 commented on #465
@mastermeric Sorry to hear that you're having issues of custom domain setup. Can you try remove and re-attach the custom domain? Let us know if this does not resolve your issue.

[2020-02-25 18:20] Joycehao19 commented on #459
Hi @timeconsumer , we cut a ticket in our team backlog, now it is pending to investigate.

[2020-02-25 18:20] Joycehao19 commented on #462
Hi @gommmmmm Sorry to hear that you have custom domain issue. For this issue, you could either contact the DNS provider to diagnose why the DNS verification CNAME is not resolving or migrate your DNS to Route53.
How to migrate your DNS to Route53: https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/MigratingDNS.html

[2020-02-25 18:33] SahRckr commented on #464
@Joycehao19 I cannot share that information publicly, I've sent you an email with the details. Does that help ?

[2020-02-25 18:34] Joycehao19 commented on #369
@aprabhakar90 can you send an email to us <aws-amplify-customer@amazon.com>

[2020-02-25 20:00] Joycehao19 commented on #459
@timeconsumer Hi, I can't reproduce your issue. Would you mind provide your steps that we could replicate? Thanks

[2020-02-25 20:45] Joycehao19 commented on #464
@SahRckr Actually, it is fine to share those information. I understand if you can not share those information for certain reason. You can send an email to aws-amplify-customer@amazon.com , please also include the github issue link. Thanks.

[2020-02-25 20:48] timeconsumer commented on #459
Working locally I created 3 environments, dev, staging, prod. They look as follows (This is pulled from the team-provider-info.json file and scrubbed for info):
`
"dev": {
        "awscloudformation": {
            "AuthRoleName": "XXXXXXXXXXXX-authRole",
            "UnauthRoleArn": "arn:aws:iam::XXXXXXXXXXX:role/XXXXXXXXX-unauthRole",
            "AuthRoleArn": "arn:aws:iam::XXXXXXXXXXX:role/XXX

[2020-02-25 21:39] patleeman opened #466 "Mochawesome updated to 5.0.0 introduces a breaking change."
** Please describe which feature you have a question about? **
Cypress tests using mochawesome.

** Provide additional details**

Just a heads up, if you set up your cypress tests per the [tutorial](https://aws.amazon.com/blogs/mobile/run-end-to-end-cypress-tests-for-your-fullstack-ci-cd-deployment-with-amplify-console/) you may have added this command to your build:

[code]

[Mochawesome just dro

[2020-02-25 21:48] patleeman commented on #466
An alternative would also be to pin `mochawesome@4.1.0`

[2020-02-25 22:15] Joycehao19 commented on #452
@singledigit  can you try this?
 <^(?!(css|js|index.html|favicon.ico|\/\?)).+>

[2020-02-25 22:20] mastermeric commented on #465
Hello Joyce Hao, thanks for caring the issue.
Yes thats right; i was also trying to retaking the actions, and yes, it was kind of mistyping the url somehow added extra suffix at the end of url.
Now it is ok.

[2020-02-25 23:22] Joycehao19 commented on #466
Thank you for reporting this! We cut a ticket in our team backlog. It's pending prioritizing now.

[2020-02-25 23:24] Joycehao19 commented on #465
Great!

[2020-02-25 23:24] #465 closed

[2020-02-25 23:53] Joycehao19 commented on #451
@z3by Can you share your amplify.sh file?

[2020-02-26 00:03] Joycehao19 commented on #461
@bolzon2000 It seems like you need to activate the SSL certificate of your custom domain.

[2020-02-26 00:22] Joycehao19 commented on #454
@ilyador Got it. It seems like your app associate with on************.net now. The photowin.net associate with an app in us-east-2.

[2020-02-26 00:36] Joycehao19 commented on #464
@SahRckr  Hi, here is the error message:
`(node:95) UnhandledPromiseRejectionWarning: Error: must provide pattern`

[2020-02-26 00:43] ilyador commented on #454
@Joycehao19 thanx! I removed the us-east version. I'm not sure how it happened that I have it in 2 regions, I'm pretty sure I deployed it only to eu-central.

[2020-02-26 00:51] Joycehao19 commented on #454
@ilyador I don't know why it happened.. Maybe you browser automatically directly you to us-east-2. It seems your issue solved now, let close this ticket. If you have another question, please open a new issue. Thanks

[2020-02-26 00:51] #454 closed

[2020-02-26 01:00] Joycehao19 commented on #430
#454
Resolved issue. Closing for now.

[2020-02-26 01:00] #430 closed

[2020-02-26 01:00] z3by commented on #451
sorry, where can I find it? given in mind we are using Amplify with Vuepress without Amplify CLI.

[2020-02-26 01:06] Joycehao19 commented on #316
@aleksejkozin I tried it on my console without any issue. Would you mind to try it again? If you still didnt see `branch-autodetection - backend-environment`, please let us know,

[2020-02-26 02:52] gommmmmm commented on #462
Hello @Joycehao19 Thank you for responce.

Our DNS server answers correctly to the CNAME record provided by amplify console. So its not a case with DNS, it seems problem on retrying. Does the checking of CNAME keep repeating now?

[2020-02-26 03:15] NelsonG-C commented on #275
I have been using Amplify cli version 1.7.8 and needing to update to use the added multi auth feature. However, I'm getting a similar error as above after updating to version 4.13.4.

`The 'request' argument must be string. Received type undefined
TypeError [ERR_INVALID_ARG_TYPE]: The 'request' argument must be string. Received type undefined
    at C:\Users\nelso\AppData\Local\Yarn\Data\global\no

[2020-02-26 05:39] bolzon2000 commented on #461
The SSL certificate was created by the Amplify Console and was working when I first built and deployed my app.
I'm unclear as to how I should proceed.

[2020-02-26 06:47] Joycehao19 commented on #431
@getbehindthmule Did you solve the issue?

[2020-02-26 06:49] provderek opened #467 "SSL verification is Failed - dns shows CNAME records correct per docs"
**App Id**: d2ugqfmom5tuc6
**Region**: us-east-2
**Step**: SSL verification
**Status**: Failed

**Issue/question**
I have setup CNAME records, verified DNS and everything looks correct according to documentation. But I still get failed verification.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.
We could no

[2020-02-26 07:35] blomm commented on #284
Hi @Joycehao19, this was only ever resolved via the workaround

[2020-02-26 08:00] SahRckr commented on #464
@Joycehao19 Not clear if this error was in the build phase or the test phase. I cannot find this in the logs.

[2020-02-26 14:16] waqas-syed opened #468 "Frontend Deployment not working"
**How to recreate:**
- Create an Amplify project using amplify CLI and do `amplify push`.
- After successful deployment of backend, open the deployed Amplify App and in the **Frontend Deployment** tab, select a Git provider.
- Choose the Git branch and the current backend environment which you have already deployed, along with the Service Role.
- Click **Next**
- After reviewing, click `Save and D

[2020-02-26 14:44] getbehindthmule commented on #431
@Joycehao19 , yes , changing the default build setting to include --allow-root resolved the issue. thanks

[2020-02-26 14:44] #431 closed

[2020-02-26 15:20] khrome83 commented on #425
@Joycehao19 - any update?

[2020-02-26 17:35] Joycehao19 commented on #464
@SahRckr Sorry. It is in test phase.

[2020-02-26 17:51] Joycehao19 commented on #467
@provderek Sorry that you are having custom domain issue. Could you please double check your domain name validation routes and try re-adding the custom domain to your app?

[2020-02-26 17:53] Joycehao19 commented on #468
@waqas-syed I can't reproduce you issue. Would you mind try it again? If you still have this issue, you can try re-set `amplify configure` + re-create `amplify init` + your custom setting + `amplify push`

[2020-02-26 17:57] Joycehao19 commented on #275
@NelsonG-C Can you try v4.2.0?

[2020-02-26 18:04] Joycehao19 commented on #461
@bolzon2000 what is your appId and region?

[2020-02-26 18:12] #156 closed

[2020-02-26 18:19] Joycehao19 commented on #344
Duplicate of #39

[2020-02-26 18:21] #268 closed

[2020-02-26 18:23] #282 closed

[2020-02-26 18:25] Joycehao19 commented on #451
@z3by Sorry... I mean amplify.yml file

[2020-02-26 18:33] Joycehao19 commented on #395
@julien-tamade Hi,  `One or more aliases specified for the distribution includes an incorrectly configured DNS record that points to another CloudFront distribution.` Could you mind try re-add the custom domain and make sure all aliases are correct?

[2020-02-26 18:34] z3by commented on #451
@Joycehao19 It is the default build specifications file:

[code]

[2020-02-26 18:37] #397 closed

[2020-02-26 19:26] Joycehao19 commented on #451
@z3by I think the reason is 'npm run docs:build'. Was local build succeed?

[2020-02-26 19:28] z3by commented on #451
Yes, it works fine locally.

[2020-02-26 19:30] z3by commented on #451
could it be related to the disk space limit or memory in the container?

[2020-02-26 20:14] swaminator commented on #344
Reopening as this isn't a duplicate.

[2020-02-26 20:25] bolzon2000 commented on #461
d10m7he09znso3  Oregon

[2020-02-26 21:44] Joycehao19 commented on #344
@blomm can you try this https://github.com/aws-amplify/amplify-console/issues/39#issuecomment-519681477

[2020-02-26 22:00] Joycehao19 commented on #462
@gommmmmm I'm not sure what happened now... Did you check your domain name validation routes and re-adding your custom domain?

[2020-02-26 22:48] NelsonG-C commented on #275
@Joycehao19 Still receiving the same error on v4.2.0.
What I have noticed is that I seem to be having a similar issue as @DavidNelson was in this comment thread [#2595](https://github.com/aws-amplify/amplify-cli/issues/2595).

My active plugin list is as below:

core: @aws-amplify/cli@4.2.0
{ packageName: '@aws-amplify/cli',
  packageVersion: '4.2.0',
  packageLocation:
   'C:\\Users\\nelso\\AppDa

[2020-02-26 23:06] Joycehao19 commented on #451
@z3by did you try 1. put your `npm run docs:build` in `build:commands` without apostrophe?

2. directly your build script  in `build:commands` section?
For example you have
[code]
In this case, put `npm run docker run build`

[2020-02-26 23:45] Joycehao19 commented on #461
Hi @bolzon2000 , the certificate expired on 2019-12-20 12:00:00, which is the reason you are seeing the issue in Firefox. The certificate was not renewed because the renewal was pending validation. It seems like the certificate were removed between initial certificate request and the renewal.

**What you can do:** remove your custom domain, double check the DNS record and re-add the your domain ag

[2020-02-27 00:55] swaminator commented on #460
@dyangelo-grullon you can use pull headess as stated here: https://aws-amplify.github.io/docs/cli-toolchain/usage#headless-mode

This issue has now become something a little different from the original ask. @dylan-westbury do you think you could create a separate ticket as it is not related to this item?

[2020-02-27 01:01] swaminator commented on #461
@bolzon2000 can you check your DNS provider to see if the CNAME we use for cert validation still exists? It should look something like `_randomids.acm-validation.aws.`

[2020-02-27 04:13] gommmmmm commented on #462
@Joycehao19
Thank you for your response.

Re-adding custom domain works, without changing CNAME record.
Now the "Status detail" step proceeds to "Domain activation", and failed because our domain currently points to another CloduFront distribution (and it is in use for production environment...)

I will look into a documentation for movingan alternate domain name between CloudFront distribution.

[2020-02-27 04:45] gommmmmm commented on #462
Hello again, I have another question. Is there any way to use wildcard domain name in Amplify Console's domain setting?

I read a documentation on CloudFrotn ["Move a subdomain name, like marketing.example.com, to another distribution"](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate-domain-names-move-subdomain) ant can't follow the instruction because Ampl

[2020-02-27 08:04] swaminator commented on #448
Try reauthenticating your app. Go to `App settings > general > Reconnect repository`.

[2020-02-27 13:41] mike-niemand commented on #56
Neither can I. Why have ACM if certificates created in Amplify are not visible in it?

[2020-02-27 18:11] Joycehao19 commented on #462
@gommmmmm We currently do not support wildcard subdomains. Would you mind tell us why you want this feature?

[2020-02-27 18:19] Joycehao19 commented on #464
We cut a ticket in our team backlog to fix throwing error message to customer's console.

[2020-02-27 18:49] araphiel commented on #18
This would greatly help scenarios where a dev doesn't have access to Console/CLI

[2020-02-27 19:09] jhoffmcd commented on #408
An update on this, I added a 3rd env, "staging" and that **did** show up in the console, but the other two environments are still lost to the ether... :(

![Screen Shot 2020-02-27 at 11 09 12 AM](https://user-images.githubusercontent.com/2348095/75477726-9aa5c680-5951-11ea-91c0-33cd4954e3ae.png)

[2020-02-27 19:53] Joycehao19 commented on #408
@jhoffmcd To clarify your issue, do you mean that: you created 2 env by amplify cli,  then `amplify push`, but didn't see any backend env. Then you added 3rd env, "staging", then `amplify push`. The app only has 1 backend "staging". In your `team-provider-info.json`, it contains all 3 env.

If you re-create a new project, add env (`amplify init` + your custom setting), do `amplify push`, do you ha

[2020-02-27 20:07] jhoffmcd commented on #408
@Joycehao19 correct, we had 2 for a long time, which never showed up in the console, we just added a third one (which did add to the `team-provider-info.json`).

I can try to do this in a brand new project. It should be worth noting that the first two environments were created around 10 months ago, and this new one was created a few days ago. Maybe older environments are not setup to show in the c

[2020-02-27 21:45] Joycehao19 commented on #408
@jhoffmcd That might be the reason. We launched the front-end and back-end list in recent 4 months. The new back-end environments would be showed on console.

[2020-02-28 03:38] gommmmmm commented on #462
@Joycehao19
Thank you for your response, we are in such situation:
* Our domain (ex. example.com, www.example.com) is currently hosted with CloudFrront + S3, and it is in production
* To move www.example.com to another CloudFront distribution, the document above says setup `*.example.com` on new distribution and change DNS record of www.example.com to point to new  distribution
* Amplify console d

[2020-02-28 09:28] veacks commented on #446
I'm having the same issue when trying to add new Gitlab branches, tried with  Firefox and Chrome.

I have this Javascript error in the Chrome console:

And this one in the Firefox one (which seems to be the same):

Don't know if it's related.

[2020-02-28 09:57] SahRckr commented on #464
Thanks for clarifying this.

[2020-02-28 15:27] patleeman commented on #264
+1 to this feature.

Now when clicking details you're taken to a /checks page and you need to click the "View more details on AWS Amplify (us-east-1) " link to see your preview URL. This is not really intuitive as I'd expect that to link to Amplify Console instead of my preview url.

![Screen Shot 2020-02-28 at 10 25 36 AM](https://user-images.githubusercontent.com/11035426/75561253-b2924e80-5a14-

[2020-02-28 17:35] Joycehao19 commented on #446
@veacks Thank you for reporting this issue. We will work on investigation.

[2020-02-28 21:17] visusnet opened #469 "Parallelization"
**Is your feature request related to a problem? Please describe.**

The Cypress integration is great and it encourages such tests. However, large applications might have many tests that accumulate long test durations. Currently, our build takes approx. 50 minutes. Most of the time is used by Cypress because parallelization is virtually unachievable. We tried to run multiple docker containers withi

[2020-02-28 22:05] Joycehao19 commented on #295
Hi @Burry , do you still have this issue when you re-connect a new app?

[2020-02-28 22:36] harrysolovay opened #470 "Copying `aws-exports` to prevent broken tests in other CI"
My project makes use of Amplify auth and analytics, and therefore has an `aws-exports.js`. I'm using GitHub actions to trigger tests on feature branches (to disable the merging of test-breaking code). The project uses the Amplify Console for CD. Before building the code, I execute the following script, which––if `aws-exports.js` exists––copies `aws-exports.js` to an `aws-exports.ts`. If `aws-expor

[2020-02-28 22:46] Joycehao19 commented on #468
Closing for now. If you still have this issue, please reopen it. Thanks

[2020-02-28 22:46] #468 closed

[2020-02-28 22:51] swaminator commented on #470
@harrysolovay please share your buildspec as well (App settings > Build settings)

[2020-02-28 23:17] harrysolovay commented on #470
[code]

[2020-02-28 23:18] harrysolovay commented on #470
Other than not reading `aws-exports.js`, the site is built and deployed correctly.

[2020-02-28 23:44] hassankhan commented on #284
This is still an issue in 2020, @swaminator would it be possible to get an update?

[2020-02-28 23:54] swaminator commented on #470
Update your buildspec to add https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#frontend-with-backend

[2020-02-29 11:27] ismaelrumzan opened #471 "https://domain.com does not work not https://www.domain.com works"
**App Id**: d2nja3afindwx2
**Region**: Frankfurt
**Step**: Completed
**Status**: Available

I set up a React PWA with custom domain - I set up the domain and everything says it's working with no errors

**Issue/question**
However, browsing to https://mydomain.com does not work but https://www.mydomain.com works fine. I would like both to work as I've connect my root domain to amplify

**Error mess

[2020-02-29 16:10] hassankhan commented on #277
@swaminator Just wanted to add that Preview environments should also be deleted if a PR is closed (and not merged).

[2020-02-29 16:19] hassankhan opened #472 "How to delete Preview environments?"
** Please describe which feature you have a question about? **

I made a PR on a private GitHub repo with a successful Amplify CI build and Preview link, I expected that closing the PR would delete the environment automatically. Failing that, I expected to see an 'Delete Preview Environment' option somewhere in the Amplify CI Console.

[2020-02-29 17:09] hassankhan commented on #472
Just to update, the Preview environment has disappeared by itself, no action on my part. Is this expected behaviour?

[2020-02-29 18:19] PerrySong opened #473 "How to deploy customized resolvers?"
** Please describe which feature you have a question about? **
Hi I am new to Amplify. I added some customized logic to my resolver using VLT. How should I configure my build settings so that the resolvers will be updated when I push the changes to my branch?
Thanks!

** Provide additional details**

[2020-02-29 20:12] ecliman opened #474 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d29ange6273dwa
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-02-29 23:13] westlakem opened #528 "Broken angular 8 support"
**Describe the bug**

Angular 8 requires ViewChild elements to contain options in the component declaration.

**To Reproduce**

Build the sample app found at https://aws-amplify.github.io/docs/js/angular
Build locally (this works)
Enable hosting (dev - s3 only)
Commit the code to github.com
Go to the amplify section of the aws console (https://console.aws.amazon.com/amplify)
Setup an automatic dep

[2020-02-29 23:16] swaminator commented on #472
@hassankhan the previews **are** automatically deleted when they are closed without requiring any action on your part. What could be better documented?

[2020-02-29 23:48] swaminator commented on #277
@CaptainChemist what exactly are you seeing?

[2020-03-01 18:24] hassankhan commented on #472
On the [Preview docs page](https://docs.aws.amazon.com/amplify/latest/userguide/pr-previews.html), there is only one line at the end which describes what happens to Preview environments. It would be nice if it clarified that it does indeed work for both merged AND closed pull requests, since currently it seems a bit vague.

Also, would be nice if the Preview status in the Amplify Console updated t

[2020-03-01 22:03] Cybergenik commented on #474
Using Route 53, after creating hot zone for my purchased domain I added that domain through the Amplify Console domain management. SSL Creation passed, now its been stuck on SSL Configuration. Tells me to check that the CNAME record exist. I checked my records set for my domain on Route 53 and it's been set, but its still stuck on SSL Configuration...

[2020-03-01 22:23] fsthomas commented on #436
I'm having a similar issue with a React app's images directory. They're all coming through as `AccessDenied`.

[2020-03-02 03:01] gommmmmm commented on #462
@Joycehao19
Sorry, forgot to reopen with my comment.

[2020-03-02 03:16] Joycehao19 commented on #462
Hi @gommmmmm Can you open a new ticket of wildcard feature request? We can discuss there. We will close this issue for now. Thank you!

[2020-03-02 03:16] #462 closed

[2020-03-02 04:28] provderek commented on #467
The routes are correct as you can see in the photos. I could never get this to work. I gave up and added my domain to route53 and it works fine. I guess a good way to keep users in aws services...

[2020-03-02 04:28] #467 closed

[2020-03-02 11:15] AndriiChubariev commented on #115
Hi,
I have started to experience same issue today. Build is green, failed to deploy

[2020-03-02 13:10] poolieweb opened #475 "Webhooks setup using CLI don't show in Amplify Console"
AWS Cloudformation does not yet have the functionality to produce webhooks for incoming events. (In this case a headless CMS). Therefore after a successful Amplify stack is created, a webhook is created using the following command.

```aws amplify create-webhook --app-id XXXXXXXXX --branch-name XXXXXX```

And returns the the following:

[code]
However this does not appear in the AWS Amplify Consol

[2020-03-02 17:46] jakobpack opened #476 "Can't fill in URI in "amplify add auth" walkthrough"
I am trying to set up authentication via `amplify add auth`.

I am using `@aws-amplify/cli` version **4.13.4**.

_Here's how to get to the error after calling `amplify add auth`:_

1. Select _Default configuration with Social Provider (Federation)_
2. Select _Email and Phone Number_
3. Choose no advanced settings
4. Typing a domain name prefix

-> and now there is the problem making **_Enter your

[2020-03-02 19:28] AndriiChubariev opened #477 "[ERROR]: Failed to deploy; after successful build"
Hi,
I'm using Amplify to host a website built with GatsbyJS. Today I'm constantly facing an issue when the deploy just fails, after the successful build. The Deployment log looks like this:
[code]

My app id is
d3pfqr9ua6sb81
https://eu-central-1.console.aws.amazon.com/amplify/home?region=eu-central-1#/d3pfqr9ua6sb81/develop/101?step=DEPLOY

I would be very grateful If somebody could tell me if it

[2020-03-02 20:54] nimacks commented on #477
@AndriiChubariev, it looks like your builds are succeeding again. Please confirm.

[2020-03-02 20:59] AndriiChubariev commented on #477
Hi @nimacks
Thanks for a response.

I have disconnected my **develop** branch and now have only **master**. Indeed, now build works.

Was it a transient issue?
Will it continue working if I re-connect develop branch again?
My build artifact is quite large: 1.0 ~ 1.5 GB, can it somehow cause the issue?

[2020-03-02 21:15] nimacks commented on #475
@poolieweb, can you try refreshing the page?

[2020-03-02 21:31] nimacks commented on #470
@harrysolovay, did this work for you?

[2020-03-02 21:37] nimacks commented on #463
Hi @doublebiz, your domain seems to be now available. Please let us know if this is not the case and feel free to reopen.

[2020-03-02 21:37] #463 closed

[2020-03-02 21:40] #470 closed

[2020-03-02 21:42] nimacks commented on #474
@ecliman, it looks like your app no longer exists. If you re-created the app, please send us the new appId.

[2020-03-02 21:45] nimacks commented on #474
@Cybergenik  In order to troubleshoot further you'll need to provide the region your app was created in.

[2020-03-02 22:49] harrysolovay commented on #470
Yep! I added the following to my build spec:

[code]

Worked like a charm. Thanks!

[2020-03-03 00:13] nimacks commented on #477
There is a known issue for builds which have very large file sizes. You can track this here https://github.com/aws-amplify/amplify-console/issues/115.

The workaround we recommend to customers at the moment is to delete unused branches in their app.

We are actively, working on a fix for this issue.

[2020-03-03 01:23] jhoffmcd opened #478 "Post Deployment Phase or Trigger"
**Is your feature request related to a problem? Please describe.**

For some projects, we use a centralized multi-platform back end not under the umbrella of Amplify. We have 3 persistent environments (dev, staging, prod) and we use GitFlow. Amplify helps us automate dev and prod pretty easily, but we have to script the staging environment updates based on new release candidates. We do this by lev

[2020-03-03 01:29] jhoffmcd commented on #408
So for these old environments, is there nothing we can do to get the console to read those correctly? We don't want to reset everything because we would have to migrate users to the new user pools created by the CF template.

[2020-03-03 01:43] #330 closed

[2020-03-03 12:26] AndriiChubariev commented on #477
@nimacks
Once again, thanks for a response.
I'm closing this issue and will keep an eye on https://github.com/aws-amplify/amplify-console/issues/115

[2020-03-03 12:26] #477 closed

[2020-03-03 13:20] sashasochka commented on #115
We are having the same issue.

[2020-03-03 14:34] nagey commented on #458
This was a mistake on my part.

For posterity's sake, the issue was that I was misunderstanding how the rules were applied.

These rules are javascript regexes, and transform urls in order. All URLs start with a `/` as they're passed into these regexes, so your pattern needs to take that initial slash into account.

For example, if you want to avoid the directory `static` at the start, you would u

[2020-03-03 14:34] #458 closed

[2020-03-03 16:00] nagey opened #479 "Question regarding backend environment provisioning"
Hi there.

We have an app that requires the usage of a custom graphql transformer to deploy. We've packaged this transformer as a github package (and stored our GH access token in secrets manager, natch).

We're trying to accomplish deployments with backend environments that are maintained by the console.

We had, perhaps naively, assumed that the `amplifyPush` script would be an analogue of `ampl

[2020-03-03 16:13] davekiss commented on #469
Wow! Here I am writing support about 20-30 min builds…

[2020-03-03 18:19] nimacks commented on #471
@ismaelrumzan, in order for your root domain to work, you'll need to configure an ANAME record.

More details are provided here : https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html

```Configure ANAME/ALIAS record to point the root domain (https://awesomedomain.com) to your amplifyapp domain. ANAME records enable you to point the root of your domain to a hostname.```

[2020-03-03 18:21] nimacks commented on #478
@jhoffmcd , thanks for the feedback, we'll add this to our feature request list.

[2020-03-03 18:47] nimacks commented on #473
@PerrySong , you do not need any additional configuration to your build settings. If you are modifying an autogenerated resolver, running the `amplify push` command should be enough to push your changes.

[2020-03-03 19:26] nimacks commented on #445
@anatonie, thanks for reporting this. We're investigating.

[2020-03-03 20:59] aprabhakar90 commented on #369
@Joycehao19 Thank you for your response. I actually opted in for amazon support and am currently working with a representative in resolving the issue. Thank you very much for your help!

[2020-03-03 20:59] #369 closed

[2020-03-03 21:25] nagey opened #480 "Amplify Console's API/Data Sources Page does not load all items"
**Is your feature request related to a problem? Please describe.**
The data sources section of the amplify console currently lists the tables present in am environment, along with pagination for the same. However, it only seems to load the first page worth of items.

As a separate issue, the amplify console also shows the `LambdaDataSource` which is, well, a lambda. It should probably filter these

[2020-03-03 21:25] nagey opened #2969 "Amplify Console's API/Data Sources Page does not load all items"
**Is your feature request related to a problem? Please describe.**
The data sources section of the amplify console currently lists the tables present in am environment, along with pagination for the same. However, it only seems to load the first page worth of items.

As a separate issue, the amplify console also shows the `LambdaDataSource` which is, well, a lambda. It should probably filter these

[2020-03-03 21:57] leelakrishnachava opened #481 "Amplify fails during deploy phase without any error log."
The final log of the deploy phase. I can provide more information on need basis.

2020-03-03T19:39:34 [INFO]: Skipping upload of existing file tsconfig.json
2020-03-03T19:39:34 [ERROR]: Failed to deploy
2020-03-03T19:39:34 [INFO]: Deployment finished.

1. I have removed tests and tried to deploy. Didn't work.
2. I tried with successful previous build version. fails with same error.

Our App ARN: a

[2020-03-03 23:01] jhoffmcd opened #482 "Consider Making update-domain-association Less Destructive"
**Is your feature request related to a problem? Please describe.**

It's hard to tell by the naming of this command that you can't just update one entry of the domain associations rules. If you only try to update the one association you want, you end up wiping out the other associations that exist for that project. This seems too aggressive for an update. And is not well documented enough to preve

[2020-03-04 01:02] NelsonG-C commented on #275
@Joycehao19 any advice for the above?

[2020-03-04 03:31] kubsystems commented on #278
@DavidNelsonCordelia @afladmark

I am facing the same issue. Per [Square documentation](https://developer.squareup.com/docs/payment-form/add-digital-wallets/apple-pay), a specific verification file needs to be found at <domain>/.well-known/apple-developer-merchantid-domain-association

It has become clear to me as well that dot files are being ignored in the deployment. I am working through this i

[2020-03-04 15:58] jhoffmcd opened #483 "[AWS CLI] Explanation of "Stage" Property for Branch Environments"
** Please describe which feature you have a question about? **

We use the AWS CLI to automate a fair number of Amplify actions. There is very little definition of the commands and properties that are part of that tool. For example:

`create-branch` can accept a `--stage` argument with the following values:

[code]

What are the effects of each stage in a branched environment? I can assume `PRODUC

[2020-03-04 16:43] brignano commented on #448
@swaminator I did try re-authenticating my app prior to opening this issue without any success, and tried again today based on your feedback, but unfortunately I'm still not able to set the Backend environment.

[2020-03-04 17:44] z3by commented on #115
Please re-open this Issue, has it been solved?

[2020-03-04 18:06] nimacks commented on #482
@jhoffmcd, your feedback is highly appreciated. We will look into this.

[2020-03-04 18:16] 112Cracker opened #484 "Files with same content generated after running "amplify env pull --restore""
**Issue/question**
I am setting up an amplify project. I cloned a existing git repo first.
And I ran `amplify configure` within my project folder and created a new IAM user on aws.
After that, I ran `amplify init` and select a existing environment that have been created by my colleagues to initialize my amplify project.

The problem is when I ran `amplify env pull --restore`, there will be duplica

[2020-03-04 18:16] nimacks commented on #479
@nagey, Yes, we provision a single Linux docker container (outlined in our Provision step) to complete your backend and frontend builds, and you can control the behavior of this container the way that you would any other Linux container via the commands in your build spec. (amplify.yml).
Feel free to close this ticket if you clear on this now.

[2020-03-04 19:11] nimacks commented on #483
A stage in the context of a branch is a designation or label which indicates the purpose of that branch. By default each App in the Amplify Console is required to have a mainline branch that is the live (or production) version. The other stage labels give users the ability to customize their CI/CD workflow but do not inherently modify the out of box behavior for builds.

[2020-03-04 19:17] nimacks commented on #480
@nagey, thanks for your feedback. We will look into this.

[2020-03-04 19:18] nimacks commented on #475
@poolieweb , did refreshing the page work for you?

[2020-03-04 19:19] nimacks commented on #473
@PerrySong, let us know if you have any further questions.

[2020-03-04 19:19] #473 closed

[2020-03-04 19:20] nimacks commented on #471
@ismaelrumzan , did you give this a try?

[2020-03-04 21:52] srinivas-gangji commented on #91
@swaminator  Do you have any further updates on this ?

[2020-03-05 00:06] YangMann opened #485 "'redirect_mismatch' error with hosted UI"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Auth / Hosted UI

** What AWS Services are you utilizing? **
Cognito, Amplify Console

** Provide additional details e.g. code snippets **
Hi,

My auth work flow worked fine with the hosted UI when I was only using http://localhost:3000/ as the sign

[2020-03-05 02:10] leelakrishnachava commented on #481
@nimacks it is the deploy phase that fails. builds are always successful. our development team is blocked because of this issue. Please help.

Also sometimes, this deploy phase, I get a lot of logs like "uploading of existing file" as mentioned below and the pipeline hangs.

2020-03-05T02:09:39 [INFO]: Skipping upload of existing file amplify/backend/function/QueryCryptoOrderStatus/src/node_module

[2020-03-05 02:18] leelakrishnachava commented on #481
Latest ARN app pipeline for reference.

arn:aws:amplify:eu-central-1:977140504228:apps/d269xrsf9fkfiy

[2020-03-05 12:47] simpson commented on #314
I am also in hot water because I can't purge files that users have explicitly requested be removed from our platform, we have deleted them in the build but the cache still exists. Is there any short term workaround for this while we find a better solution?

[2020-03-05 12:50] simpson commented on #74
I am also in hot water because I can't purge files that users have explicitly requested be removed from our platform, we have deleted them in the build but the cache still exists. Is there any short term workaround for this while we find a better solution?

[2020-03-05 12:50] simpson commented on #178
I am also in hot water because I can't purge files that users have explicitly requested be removed from our platform, we have deleted them in the build but the cache still exists. Is there any short term workaround for this while we find a better solution?

[2020-03-05 12:51] simpson commented on #294
I am also in hot water because I can't purge files that users have explicitly requested be removed from our platform, we have deleted them in the build but the cache still exists. Is there any short term workaround for this while we find a better solution?

[2020-03-05 14:05] mtorriani opened #486 "Domain activation is Failed - [unable to check correct dns records]"
**App Id**: d18ncbl5iq51vc
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
My configuration is in "Domain activation is Failed" status. The error message suggests that I could have made a mistake in DNS configuration. But I cannot check the correct configuration because in the "Action" menu the item "View DNS Records" is not enabled. How can I check the cor

[2020-03-05 16:44] bassrock commented on #277
I am also seeing this. We have preview branches that use an API backend per environment and when pr's are merged and their branches are deleted the appsync preview environments are never removed.

[2020-03-05 17:18] craigdmckenna commented on #451
Hi @Joycehao19. I spoke with @z3by regarding this. He responded telling me that your instruction seems to imply that the build never starts when--infact--it does, it just exits at some point.

What are your thoughts regarding this?

[2020-03-05 18:18] jhoffmcd commented on #483
@nimacks Great! Thank you for the clarification. I just wanted to make sure I was optimizing our env setups.

[2020-03-05 18:18] #483 closed

[2020-03-06 08:27] jonkelling commented on #436
I am also having trouble with this. index.html works but bundle.js comes through as AccessDenied.

[2020-03-06 16:51] connorford2 commented on #425
I was just about to open an issue. I'm having this issue too. 3 environments now ALL stuck.

[2020-03-06 17:40] connorford2 commented on #425
Can someone investigate these apps?

- d2gjth6penmdga
- d23s8pc8j554l3
- d1i11wkf7q4v95

[2020-03-07 17:44] Ravenloup opened #487 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2bmi4pok4x5k7
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Plea

[2020-03-07 18:05] danielchoi opened #488 "Domain activation is Failed - CNAME"
**App Id**: dr9e9wwopj7aw
**Region**: ap-northeast-2
**Step**: Domain activation
**Status**: Failed

**Error message**
One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
I tried removing all the CNAMES before setting up.
Tried deleted custom domain and restarted the process

[2020-03-07 22:32] KrustyHack opened #489 "Angular routing going wrong"
** Please describe which feature you have a question about? **

Actually I have an Angular app with a working routing :

myapp.com/ is home
myapp.com/auth/signin is signin page

When I go on /auth/signin through Angular routing, no problem. But when I go directly to /auth/signin or if I'm already on /auth/signin and refresh page, I got this :

[code]

So I've added redirection through Amplify cons

[2020-03-08 02:02] kelsonic opened #490 "Domain activation is Failed - "One or more of the CNAMEs you provided are already associated""
**App Id**: d2dfxsbe2c2785
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

My domain is on Google Domains at the moment. I've included the 2 CNAME records and added the subdomain forwarding as documented. I keep getting the below error message and would like to resolve this.

**Error message**

[2020-03-08 02:04] kelsonic commented on #490
Noticing there's other people who have the same issues (https://github.com/aws-amplify/amplify-console/issues/488, https://github.com/aws-amplify/amplify-console/issues/487, I'm now following those issues as well) 🙂

[2020-03-08 02:12] josh-tncarry opened #491 "Amplify Console should support the "[ci skip]" or "[skip ci]" commit message convention"
**Is your feature request related to a problem? Please describe.**

Using automated release management tools like `semantic-release` often involves pushing commits back to the repository (updated package.json, changelog, tags, etc...)

Typically these commits result in a message that includes a `[skip ci]` or `[ci skip]` message to indicate this commit is not intended to trigger a build.

Amplify

[2020-03-08 05:25] charleskj opened #492 "Domain activation is Failed"
**App Id**: du2xqjcvaa24j
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain cannot activate in amplify console, I add cname record manually in route53, console still showing domain not activated

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

[2020-03-08 05:28] yuchaosydney commented on #445
Got same issue

[2020-03-08 08:15] charleskj commented on #492
I resolved my issue, my domain was used by another CloudFront distribution.
Once I removed the domain from cloudfront, I removed and add the custom domain again in amplify works in my case

[2020-03-08 08:15] #492 closed

[2020-03-08 09:43] KrustyHack commented on #490
Ay,

Is your domain already used in a CloudFront distribution ? If I remember I got this error because I already got a CloudFront distribution with a CNAME. Or I was trying to add a domain to a CloudFront distribution but domain was already used on Amplify.

[2020-03-08 10:00] KrustyHack commented on #488
Ay,

Does your custom domain is already in use in a CloudFront distribution ? I got the same problem because one of my CloudFront has CNAME in it and when I try to add custom domain on Amplify I got your error.

[2020-03-08 10:01] KrustyHack commented on #487
Ay,

Does your custom domain is already in use in a CloudFront distribution ? I got the same problem because one of my CloudFront has CNAME in it and when I try to add custom domain on Amplify I got your error.

[2020-03-08 10:38] danielchoi commented on #488
@KrustyHack thx, Found my problem
I didn't have cloudfront in the current aws account,  but had existing cloudfront setup on that custom domain on my personal aws account. (I assumed deleted s3(static hosting) would remove the cloudfront)

[2020-03-08 10:38] #488 closed

[2020-03-08 11:05] KrustyHack commented on #489
Ay,

To solve this problem, I've added this redirection in my Amplify Console :

`</^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>`

[2020-03-08 11:06] #489 closed

[2020-03-08 14:21] nagey opened #493 "Have amplify build containers support ECR containers & custom container sizes"
**Is your feature request related to a problem? Please describe.**
Not all things can be accomplished in 7GB of ram.

**Describe the solution you'd like**
Have a range of options for build containers on amplify that mirrors those that are available in CodeBuild.

[2020-03-08 16:49] Ravenloup commented on #487
I was using CloudFront but I deleted them to use Amplify but still getting this error

[2020-03-08 18:57] nikomondo opened #494 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: Z2FDTNDATAQYW2
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Failed on domain activation on Route53  ( xxx.com)
The activation  on the ".fr" works ( xxx.fr) for the same application

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
**Note**: Be sure to check the message f

[2020-03-09 06:09] arnabk opened #495 "amplifyPush issue with pushing backend changes"
** Please describe which feature you have a question about? **
amplify push

** Provide additional details**
Following is my amplify build settings
[code]

The backend build fails with following error
[code]

My job model looks like something like
[code]

When I run `amplify push` from local, everything works fine. However running from amplify auto build fails the above error.

[2020-03-09 06:43] faizanbashir commented on #436
@ganipcanot here is the `amplify.yml` build file:

[code]
Even after installing using both npm and yarn `vue-cli-service` is not found, so I manually tried to install the package and its dependencies and that also does not work and `npx vue-cli-service` also does not seem to work.

[2020-03-09 09:22] KrustyHack commented on #487
Ay,

Does your domain is registered in AWS Cert Manager ? I already got an error with a domain already used on Cert Manager too.

[2020-03-09 09:24] KrustyHack commented on #486
Ay,

Your custom domain already has a DNS record which point to another one CloudFront distribution than Amplify one.

For this error I've deleted my DNS records, waited DNS propagation and run again custom domain add on Amplify.

[2020-03-09 09:26] KrustyHack commented on #494
Ay,

Does your custom domain is already in use in a CloudFront distribution ? I got the same problem because one of my CloudFront has CNAME in it and when I try to add custom domain on Amplify I got your error.

[2020-03-09 17:42] UnleashedMind commented on #484
Does it resolve your issue if you try what @stefangomez suggested in the aws-amplify/amplify-cli#3153 by giving the terminal full disk access?

[2020-03-09 18:00] vchaddha opened #496 "Cross account CI/CD for ampify-cli project"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
amplifyPush script to be used cross account, using CodeBuild.

**Amplify CLI Version**
amplify --version
4.14.1
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
amplify-cli, codepipeline

[2020-03-09 18:50] cslogan-red commented on #487
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlined in the docs above) depending on your current

[2020-03-09 20:49] cslogan-red commented on #494
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlined in the docs above) depending on your current

[2020-03-09 21:10] bassrock opened #497 "AWSURL Validation"
It appears that the AWSURL type is not properly validating `.blog` domains. If I try and send `http://foo.blog/` as the field value for an AWSURL parameter it returns the following:

[code]

However, if I change `.blog` to `.com`, `.io`, `.net` it succeeds.

[2020-03-09 21:22] cslogan-red commented on #493
Hi @nagey, Amplify Console does currently support custom public ECR instances as outlined here: https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html however the environment size is not adjustable, we have added this as a feature request.

[2020-03-09 21:31] cslogan-red commented on #490
Hi @kelsonic , it looks like you've since deleted that app, if you're still having trouble with a new app, feel free to post the app Id and region here and I can help you take a look.

[2020-03-09 23:30] vchaddha commented on #496
Update: I was able to figure out the solution for Issue 2, so Issue 2 stands resolved. Been working towards a solution for Issue 1. Below is what I tried:

Understanding that the container that is spun up for Codebuild build, does not have any reference for the environment, I tried using amplify pull command from the amplify console app that is created from the build.
So, my buildspec file now loo

[2020-03-10 01:40] lengshi01 opened #498 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d2xwd9qnua0lgi
**Region**: us-east-2
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-03-10 01:51] arnabk commented on #495
This solves the problem
https://github.com/aws-amplify/amplify-cli/issues/1566#issuecomment-498508244

[2020-03-10 01:51] #495 closed

[2020-03-10 03:00] knightz007 opened #499 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d1cemn72xtnv5b
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

Error message
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

Notes:-
The domain exists in Azure so the cname was already added in Azure and "SSL Verification" was successfully completed.

[2020-03-10 14:48] tmbtech commented on #233
Just reporting back in case anyone else sees this. The suggestion worked perfectly. Thank you @swaminator

[2020-03-10 16:53] kelsonic commented on #490
Thank you @cslogan-red!

[2020-03-10 16:53] #490 closed

[2020-03-10 16:58] jonvanausdeln commented on #379
We also NEED this feature.  My current work around is to have multiple front end apps pointed at the same monorepo.  Then each app build specifies an ENV variable, which I use inside the amplify.yml file to build/deploy the correct application.  However, the downside is that a change to any of the apps/packages in the monorepo triggers ALL the apps/packages to build and deploy.  This causes many u

[2020-03-10 17:38] brettcat commented on #481
Here is another pipeline that won't run in a container on amplify but works perfectly in the same container not on amplify.
arn:aws:amplify:us-east-1:121121043565:apps/dyyavgxnxcfcm

This tries to use pa11y-ci, forking `gatsby serve &` first in the preTest phase.

Now, even though there's a `test` section in the amplify.yml file in the root of the repo, the tests are still being skipped.

[2020-03-10 17:51] jonvanausdeln commented on #379
To add on for what I'd like for my purposes. It would be helpful if we could have the build/deploy trigger not just on a push to the repo, but also be allowed to filter on the directory that push happened.  That is possible in the AWS CodeBuild tool, but it's not quite right for our needs either.

[2020-03-10 18:23] hisham opened #500 "Is backend env name available as an environment variable?"
** Please describe which feature you have a question about? **
Since in the Amplify console, we already connect each frontend with a backend, it appears we still need to do `amplifyPush -e $BACKEND_ENV --simple` in the deploy script.

Does such an environment variable exist that tells us which backend is configured to be used with the branch, as set by us in Amplify console? I see env variable of

[2020-03-10 19:52] hisham opened #501 "How to install private npm package as part of CD?"
** Please describe which feature you have a question about? **

I have a private package needed by a Lambda of mine. I keep getting this error in the build:

[code]

I tried following the instructions at https://docs.npmjs.com/using-private-packages-in-a-ci-cd-workflow, http://blog.shippable.com/using-npm-private-modules-in-your-ci-workflow, and https://dev.to/taleb/amplify-private-npm-repository-

[2020-03-10 19:56] hisham opened #502 "How to generate aws-exports.js file?"
** Please describe which feature you have a question about? **

Is there a way to generate the aws-exports.js file that amplify cli generates without running amplifyPush or doing any kind of change to the existing backend env? There must be a command for that.

** Provide additional details**

Due to https://github.com/aws-amplify/amplify-console/issues/501, my backend build in AWS Amplify is fail

[2020-03-10 20:31] cslogan-red commented on #499
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-third-party

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

_**Please note, even after completing the below steps, it can take up to 48 hours for your third party DNS provider changes to propagate and properly reflect in Amplify Console.**_

These guides are helpful for

[2020-03-10 21:26] cslogan-red commented on #500
When connecting you Git repo's branch to Amplify Console, if you specify a custom name for your backend environment or choose to reuse an existing one, we store the name of the backend environment in the USER_BRANCH env variable.

Amplify Console presently only utilizes this variable, and the `amplifyPush` script, on your backend's very first build, and there is no need to pass the environment nam

[2020-03-10 21:32] GWSzeto commented on #336
Hey, sorry for the late replies. I just did what @Taieb said and it worked perfectly! I just set up my webpack plugins as so

[code]

[2020-03-10 21:32] #336 closed

[2020-03-10 21:33] hisham commented on #500
I tried this but it appears AWS Amplify sets USER_BRANCH to my local git branch name and not the backend env.

[2020-03-10 21:46] cslogan-red commented on #500
That would have happened when you first connected the branch, if you did not provide a custom name or select an existing environment checked in to your repo's team-provider file, the console will fall back to using your branch name.

If the backend environment you'd like to use shows up in the "Backend environments" tab, you can edit the front end environment to point to that backend environment f

[2020-03-10 21:50] KrustyHack opened #503 "Error: ENOENT: no such file or directory, scandir on Console Build"
Ay,

My Amplify Console build doesn't work anymore :+1:

[code]

This function `ssldoga252f29d` doesn't exist anymore in my Amplify project. I have removed it and did `amplify push`.

But it seems still in my `backend-config.json`, and it come back each time I do `amplify pull` :

[code]

How is it possible ?

[2020-03-10 21:59] KrustyHack commented on #503
Ay,

Problem fixed. I don't know how but after deleting, recloning my local repo and playing around with `amplify push` and `amplify pull` it works fine now...

[2020-03-10 21:59] #503 closed

[2020-03-10 22:01] UnleashedMind commented on #502
No, there's no such commands.
We don't recommend you to do so, but if you absolutely have to manually construct the aws-exports.js file, the values you need for the fields are all in the `amplify/#current-cloud-backend/amplify-meta.json` file.

[2020-03-10 22:19] cslogan-red commented on #501
You should be able to store your NPM auth token as an environment variable in Amplify Console (App settings > Environment variables), aka something like NPM_TOKEN.

At build time, you can reference the env variable in your amplify.yml, (App settings > Build settings) Something like the following in your preBuild section just before your npm or yarn install command:

[code]

Alternatively you could

[2020-03-10 22:50] cslogan-red commented on #498
Hi @lengshi01 , it appears you've since deleted that app, let us know if you're still having trouble with a new app.

[2020-03-11 02:46] nkvon opened #504 "EmailNotification through cloudformation template"
** Please describe which feature you have a question about? **
I am using cloudformation to create amplify console application. however i dont see any option to configure EmailNotifications for specific amplify branch.

** Provide additional details**
AWS::Amplify::Branch resource type does not have enable Email Notifications.

[2020-03-11 09:36] AndriiChubariev commented on #115
For more details, my build artifact is about ~1Gb, a lot of images. I had two environments: dev and prod.
After I removed dev and left only one environment the issue just fixed itself and not reproducing anymore.

I understand that it is not an option for many users to delete a dev environment. It worked in my case just because it is a hobby project.

[2020-03-11 12:18] alexkates opened #505 "CloudFormation Stack Update "Blast Radius""
** Please describe which feature you have a question about? **
Irrespective of the type of Amplify Category change, it seems that amplifyPush is triggering a CloudFormation stack update for every stack. Is this intended? Are there any fine grained controls I can use to only trigger updates to changed templates?

** Provide additional details**
For example, If I were to simply change code in a REST

[2020-03-11 16:39] #479 closed

[2020-03-11 21:33] smakinson commented on #18
@swaminator I'm looking at using a reverse proxy rewrite to point to proxy a rest api url and the url format is:

`https://{restapi_id}.execute-api.{region}.amazonaws.com/{stage_name}/`

since `stage_name` needs to be provided I would like to be able to proxy the dev stage_name in the dev environment and the prod stage_name in the prod environment, etc. Perhaps this feature request could solve thi

[2020-03-11 22:53] cslogan-red commented on #497
This is not something we control via Amplify Console, an internal case has been created with the AppSync team.

[2020-03-11 23:29] cslogan-red commented on #505
The answer here is a little more complicated than it appears. **TLDR;** _CloudFormation is not actually modifying your nested stack's unless the templates have actually changed since the last deployment, however you may still see "updating" messages while it validates._

When the Amplify CLI does an "amplify push", either via a build locally or in the Amplify Console build container, there are a n

[2020-03-11 23:33] alexkates commented on #505
Thank you @cslogan-red for the detailed  and helpful response! This makes sense, and now that I look it's also the behavior I am seeing.

[2020-03-11 23:33] #505 closed

[2020-03-12 13:32] patleeman opened #507 "Failing to pull access logs: Failed to load the datajava.io.IOException: No space left on device"
** Please describe which feature you have a question about? **
Access Logs

** Provide additional details**
When I try to download access logs via AWS console, the logs never load. Looking at the network console I get a `500` and see the following error to the endpoint: `https://console.aws.amazon.com/amplify/api/amplify`

[code]

ARN: `arn:aws:amplify:us-east-1:831573207012:apps/d2eetebepnv04r`

[2020-03-12 14:17] smakinson commented on #18
By the way, after taking a pause on checking out Amplify console and coming back to it only months later, it's encouraging to see the good progress being made. Thanks for the hard work.

[2020-03-12 17:47] iShavgula-TacTill commented on #291
Hello,

Any update on this? I'm having exactly the same issue.

[2020-03-12 17:54] hisham commented on #500
I disconnected the branch from Amplify Console and reconnected it again, USER_BRANCH is still the branch name and not the connected backend name. And yes the backend is listed under backend environments in AWS Amplify.

I guess I'll go the overriding USER_BRANCH env var route.

[2020-03-12 18:21] hisham commented on #500
I even tried to connect the branch with backend in the aws cli. Still stuck with USER_BRANCH being the branch name and not backend env.

[2020-03-12 18:23] hisham commented on #500
Also running get-branch via the aws cli does not return the environment variables for that branch even though documentation says so: https://docs.aws.amazon.com/cli/latest/reference/amplify/get-branch.html

[2020-03-12 18:25] hisham commented on #500
Actually, for one of my branches it doesn't, for all my other branches it does but it's empty:

`        "environmentVariables": {},
`

[2020-03-12 18:32] cslogan-red commented on #500
Hi @hisham , when you walk through connecting a branch to Amplify console that has an Amplify backend, you'll get the following screen which asks you to select a backend environment, if you choose nothing, or you choose to create a new env and don't provide a name, we use the name of your branch as the name for the backend env to be created and store it in USER_BRANCH:

<img width="748" alt="Scree

[2020-03-12 18:34] cslogan-red commented on #500
Likewise, environment variables are only stored at the app level by default, and only overridden to each branch if configured that way. USER_BRANCH is configured as a branch override by default when/if it is created.

[2020-03-12 18:48] hisham commented on #500
Hi @cslogan-red yes I went through all the steps in your screenshots and my backend envs were listed in the select boxes and I selected a backend env.

The only different I ran into when going through the screenshots is my "Next" button never enables even after selecting a branch and backend env. I had to enable it by modifying the html in the browser. Then everything goes through. I did open a su

[2020-03-12 19:03] cslogan-red commented on #500
Yes, thanks for reporting, the next button disabled is a known issue we are tracking and happens when you connect multiple branches before your Git provider's Oauth token expires, if you reload the page (or wait for the short lived token to expire), the button will be enabled.

That is unrelated and modifying the HTML directly is not a recommended approach, reloading the page ensures the flow is i

[2020-03-12 19:06] hisham commented on #501
Thanks @cslogan-red, it seems something clicked and I have right token in the right .npmrc, and this part of my build is running successfully. Closing for now.

[2020-03-12 19:06] #501 closed

[2020-03-12 19:09] cslogan-red commented on #507
Hi, yes, this is a known issue that is being actively developed, we'll update this thread once we have a release scheduled. In the meantime, choosing a shorter duration time window for generating logs is the recommended workaround for now. For very high volume sites, start with a 24 hour window and work your way up.

[2020-03-12 19:33] patleeman commented on #507
Thanks for looking into this. I wasn't able to get a full 24 hour window but I'll try working up from there. Is the time specified in the interface in UTC or local timezone?

[2020-03-12 19:59] cslogan-red commented on #507
For access logs the time in the UI is UTC (+7 PST right now), but so is the time range filter, so if your most recent logs show they're from 3/12 @ 1950, then putting 3/12/2020 @ 700PM (1900 auto converts to 12 hour equivalent) is going to return everything from 1900 forward (1900-1950).

[2020-03-12 20:00] patleeman commented on #507
Hm, so I tried walking it up to 1 minute and It's still failing. We've been getting a lot of traffic but I'm unable to confirm via the logs.

[2020-03-12 20:11] despau commented on #291
I am not sure what happened nor how I fixed the issue.
I remember resolving some git merging conflict issues (CodeCommit in my case).

My advise from it, make sure your git (the source control you're using) has no conflict nor issues.

[2020-03-12 20:28] ericclemmons opened #508 "PR previews for forks"
**Is your feature request related to a problem? Please describe.**

PR previews only work for branches on `origin`, not for forks.

**Describe the solution you'd like**

Every PR for a front-end site should generate a PR preview.

**Additional context**

Example of a PR with a preview (notice the branch name & the preview link under "Checks"):
- https://github.com/aws-amplify/docs/pull/1183

Examp

[2020-03-12 21:13] kziemski commented on #373
@Joycehao19  can codecommit get some love?
i get github is amazing but whats the point of codecommit if AWS developers won't make it great or at least treat it like they would github.
i have all my developers revolting bc we are not using github

[2020-03-12 21:36] cslogan-red commented on #507
@patleeman we're looking into that particular instance a little further

[2020-03-12 22:40] cslogan-red commented on #507
We are actively working on testing and deploying a fix for this issue, which is a bit different and can be fixed independently of the one I originally mentioned. I'll post an update in this thread once the fix is available in all regions.

[2020-03-12 22:50] patleeman commented on #507
Thanks again for the quick resolution!

On Thu, Mar 12, 2020 at 6:40 PM Chase <notifications@github.com> wrote:

[2020-03-12 23:11] deybhayden commented on #115
Hey there - are there any updates on this issue? We have a build artifact that's 55 MB but is still suffering the same fate. Is there a recommended artifact size to avoid this problem?

[2020-03-12 23:31] cslogan-red commented on #115
This issue has become a placeholder for three distinct issues that all caused similar behavior in Amplify Console, a Deploy step with a sometimes immediate (and sometimes after deploying many files) "Failed to deploy" message.

The first issue has been fixed and released as described above and was related to the use of the Test step, exceptions here weren't always being caught and bubbled up to yo

[2020-03-13 02:24] nagey opened #509 "Console succeeds in building, ends in failure status"
**Is your feature request related to a problem? Please describe.**
Cloning Repo … Check
Backend (many minutes later) … Check
Front end (builds successfully, starts caching, uploads the 3gb cache artifact, caching completed…) Big red X

**Describe the solution you'd like**
It would be awesome if when the build fails (for whatever reason), that the log would accurately represent the reason why the b

[2020-03-13 02:27] nagey commented on #509
Oh, another wonderful aspect of this bug is that the uploading / caching of the env info that the system is supposed to do, well, it doesn't take unless the entire build is successful. SO, that 30m build, the backend is 29m of it, works fine. You then have to go to CF, delete the stack there, and then try to redeploy. would've been a much nicer thing if when the env successfully builds that the co

[2020-03-13 15:59] iShavgula-TacTill commented on #291
@despau thank you for your response.
I started over to and went step by step to detect what is causing the issue. I reproduced this multiple times, so either there is a bug or I'm doing something wrong.

### In terminal

- initialise git repository
- initialise amplify env `dev`, then push
- initialise amplify env `test`, then push
- commit and push to origin `dev`
- checkout and push to origin `t

[2020-03-13 16:13] deybhayden commented on #115
Hey there - thanks for the update @cslogan-red! I wanted to drop a note that the interim fix did work for our project - deleting everything but the single branch. This _included_ the PR preview branches as well.

[2020-03-13 16:25] nagey commented on #509
Hello there — turns out that this is actually a *timeout* issue — would be super helpful if when a build is killed because it times out, if the log, or something could say something helpful in that direction

[2020-03-13 17:59] khrome83 commented on #425
Bump...

[2020-03-13 20:42] cslogan-red commented on #507
We're in the process of deploying the update to all regions, it should be GA by EoD Monday, 3/16, at which point you'll be able to pull the logs again, I'll post an update once available in all regions. I would start with a 24 hour window and work your way up to the largest time frame you can pull down, we're still working on an issue for very large volume requests that will come in a separate, fu

[2020-03-13 20:43] patleeman commented on #507
Thanks again for the updates. Really appreciate it. 👍

[2020-03-13 22:17] cslogan-red commented on #509
Hello @nagey , thanks for the feedback, we've added a feature request for better surfacing a build timeout when it occurs.

In the meantime, you can customize the default build timeout of 30 minutes but adding the _BUILD_TIMEOUT environment variable override (App settings > Environment variables) and setting the value (in minutes) to something like 60 or 90 to get your builds working again.

[2020-03-14 07:00] srinivas-gangji commented on #91
@swaminator Appreciate if you could provide an update on this request, for now, I have moved my site deployment to 'netlify' ( as they have built in pre-rendering service). Hoping that Amplify team implements the pre-rendering service at the earliest.

[2020-03-14 11:52] ohadts commented on #206
I'm getting the following message:
`[hostedUIProviderCreds] must have values`

I don't have a frontend setup in the amplify console, i don't use the hosted UI at all.
I'm using Auth, Api and Storage services. I just want to add some fields in my schema and i'm stack with this error...

This the only issue that i found related to my error message. can someone help?

[2020-03-15 00:10] noelforte opened #511 "Routing requests to a different branch on the same domain"
**Is your feature request related to a problem? Please describe.**
I was reviewing the other feature requests in this repository and came across #331 which I'd like to propose an extension to. Whether this is another feature or can be incorporated into A/B testing behavior, I think it would be beneficial to route requests to another feature branch deployment but serve it from the same domain so if

[2020-03-16 00:28] brettstack opened #512 "Console bug when clicking Retry button for failed Domain configuration"
**Issue/question**
Failed "Domain Activation" step. Clicking "Retry" button does nothing and shows the following error message in the developer console.

**Error message**

[code]

[2020-03-16 09:25] winac opened #513 "Amplify + React"
I am using Amplify Console for the first time to spin up a react app. I do all my development locally and then push this to the Amplify Console to get it hosted. The problem is that certain things that work locally don't work when hosted by Amplify. These include the favicon logo not showing and certain images not showing (this is really weird because some show some don't). I have no idea why this

[2020-03-16 12:19] joshqq opened #514 "Domain activation is Failed - [Domain Activation - Amplify - Failure]"
**App Id**: d21j0af9w61fo0
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain registration failed. Previously it was successful, but I remove the app and add it again. However, it results in failure.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional in

[2020-03-16 12:26] milo- commented on #225
Are there any updates on this? I just spent the morning trying to figure out the same issue.

[2020-03-16 14:22] milo- opened #515 "S3 hosting bucket is empty"
**Please describe which feature you have a question about?**
Hosting

**Provide additional details**
I'm unable to view the files written to the hostingbucket inside the S3 AWS Console. The UI says the hosting bucket is empty, even though the build and deploy succeeded. How can I verify what files were written to S3 during a deploy?

This made debugging (https://github.com/aws-amplify/amplify-cons

[2020-03-16 15:16] w601sxs opened #516 "SSL verification is Running - Domain registered in account A pointed to amplify website on account B"
**App Id**: d2ifucdfz09ieg
**Region**: us-east-2
**Step**: SSL verification
**Status**: Running

**Issue/question**
I have a domain www.example.com registered in an AWS Account A, and a hosted zone in AWS account B that also has the amplify app. I have changed the name servers in AWS Account A and can choose the www.example.com domain in the drop-down menu of amplify, but SSL verification has been

[2020-03-16 15:18] #515 closed

[2020-03-16 15:19] milo- commented on #515
My mistake, the empty hostingbucket was not created by the Amplify Console.

[2020-03-16 15:46] JohJonker opened #517 "Domain activation is Failed - Added CNAMEs after a delay, and now "Retry" is not working"
**App Id**: d3sucvvj2fsjhr
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain activation is failing for my subdomain xxx.yyyy.zzz (example). I had previously tried to add it as a subdomain for my Amplify app, couldn't get it to work, and then deleted and re-added it.  Upon re-adding it, verification under "Status details" proceeds successfully up to SSL

[2020-03-16 17:32] w601sxs commented on #516
Update - been about 4 hours now, still the same status.

[2020-03-16 20:20] jonvanausdeln opened #518 "Large build logs not rendering in build window"
A large build log is not rendering completely in the build log window on the build page.

The downloaded log file looks to be complete.  I also notice a discrepancy between the line numbers in the build log window and the downloaded log file.  The downloaded file appears to have quite a few less lines.

[2020-03-16 20:32] smakinson opened #519 "rewrite from one amplify site to another and 403"
** Please describe which feature you have a question about? **
I'm trying to add a rewrite under a main website Amplify app to another that generates a custom rss feed using hugo and I am seeing a 403. Perhaps I am missing something. Is it allowed to proxy between amplify apps this way?

** Provide additional details**
The rewrite:

source: /rss
target address: https://master.some_app_id.amplifyap

[2020-03-16 21:58] kahdojay commented on #511
Thanks for your feedback! I've added this to our backlog for further review by the team.

[2020-03-16 22:07] kahdojay commented on #512
@brettstack Thanks for reporting this - we've added this to our backlog and will need to prioritize a fix.

Can you provide a little more context, e.g. were there any other errors in the process? (for example, CNAME already associated with existing resource).

In the meantime, a workaround may be to delete and recreate the domain in the Amplify Console. Please let us know if this helps or if you h

[2020-03-16 22:30] kahdojay commented on #507
Hi @patleeman we've rolled out a fix, can you give it another try and let us know if the issue persists?

[2020-03-17 00:10] kahdojay commented on #516
@w601sxs you might've seen this message in the console indicating that it may take longer than 8 hours:

<img width="689" alt="Screen Shot 2020-03-16 at 17 02 10" src="https://user-images.githubusercontent.com/8794073/76809650-c7a70580-67a8-11ea-97a7-e4f50887db96.png">

If it's still pending verification after 8 hours, you can check this troubleshooting doc if you haven't already to see if it help

[2020-03-17 00:13] kahdojay commented on #346
Closing this one for now, please feel free to re-open if you're still blocked

[2020-03-17 00:13] #346 closed

[2020-03-17 01:25] swaminator commented on #504
The Email notification is actually an SNS topic which has CloudFormation support: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-topic.html

[2020-03-17 01:26] swaminator commented on #513
Try setting the following redirect rule: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa

[2020-03-17 01:37] kahdojay commented on #517
@JohJonker Please see:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error
https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlined in the docs above) dep

[2020-03-17 03:59] swaminator commented on #519
https://github.com/aws-amplify/amplify-console/issues/445

[2020-03-17 07:15] brettstack commented on #512
I forget what the error in the process was, and yes I just deleted and recreated.

[2020-03-17 08:07] JohJonker commented on #517
Thanks for the response @kahdojay .

I don't have any Cloudfront distributions. I only use Amplify, i.e. it creates the distributions for me automatically, and I have no way of managing it directly.

I tried removing the subdomain and re-adding it, but I'm hitting the same error.

How can I force Amplify to 'release' the Cloudfront distribution, so that it can be added anew?

[2020-03-17 10:10] kkesley opened #520 "How to invalidate build cache?"
** Please describe which feature you have a question about? **

Amplify build process

** Provide additional details**

I'm currently seeing failing builds on my Amplify project (React). I believe this is because we rewrote our react app from JS to TS. It complains about unsupported syntax because we upgraded some packages in our project. I believe I've seen this problem when we used CodeBuild and

[2020-03-17 10:46] kkesley commented on #520
We can do `rm -rf node_modules` in the build step for now. But it would be nice if we can invalidate the cache from outside the build

[2020-03-17 13:20] FemkeBuijs opened #521 "amplifyPush seems to create a new environment, build stuck on 'already exists'"
** Please describe which feature you have a question about? **
amplifyPush

** Provide additional details**
My backend code is on a different location than the repository Amplify Console is located on. Below are my build settings:
[code]

The build breaks with the following error:
[code]

I would like the following to happen:
With every build, checkout the latest changes in the backend repo and pu

[2020-03-17 13:25] patleeman commented on #507
Hey @kahdojay,

I tried pulling 1 minute of logs and I get a bunch of timeout errors and after a few retries I get the same error.

[code]

The UI keeps spinning and it says Fetching access logs.

[2020-03-17 14:04] w601sxs commented on #516
Hi Don,

Looks like the second troubleshooting section (with respect to Route53 and
nameservers matching) applies to my case.

That is a step that I took, and this is why I was able to select my domain
from the amplify dropdrown, although the domain was registered on a
different AWS account. I have also tried deleting the domain, relaunching
the app in another region, and trying to connect the dom

[2020-03-17 16:55] mupml opened #522 "ERR_SSL_PROTOCOL_ERROR with custom domain"
**App Id**:d1g7iclj08ak4
**Region**:eu-west-1
**Step**:Enabling custom domain
**Status**: SSL certificate valid, but invalid response from server

I am trying to enable SSL on my custom domain. Domain is verified and domain is active in Amplify/Route53. But when I try to access the site, I get ERR_SSL_PROTOCOL_ERROR this site is sending an invalid response. No webpage loads. The certificate is val

[2020-03-17 17:00] kahdojay commented on #507
Hi @patleeman thanks for confirming - I may have spoken prematurely, let me look into this some more and get back to you.

[2020-03-17 17:56] kahdojay commented on #59
Hi @CaptainChemist @ilyador, please see [this page in the docs](https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa) Under "Redirects for Single Page Web Apps (SPA)" for an example of a 200 rewrite to allow your client side router to handle direct navigation to urls. Please let us know if this helps resolve your issue.

@tomasyaya while you cu

[2020-03-17 18:17] swaminator commented on #521
Can you try using `amplifyPush --simple`?

[2020-03-17 18:19] swaminator commented on #510
Can you try this: https://github.com/aws-amplify/amplify-console/issues/318#issuecomment-587284940

[2020-03-17 19:09] nkvon commented on #504
actually I am looking for adding Email to Amplify Console App directly using AWS::Amplify::Branch or AWS::Amplify::Amplify resource.
I don't see any way to add Email with the above CloudFormation resources. the only way I can do this is to do it manually
AppSettings -> Email Notification -> Manage Notifications -> Add Email

when I do that manually, this operation actually creating an SNS topic an

[2020-03-17 19:20] swaminator commented on #491
@josh-tncarry we are updating the AWS docs to add the command. We do in fact support this with `[skip-cd]`: https://github.com/awsdocs/aws-amplify-console-user-guide/blob/master/doc_source/build-settings.rst#skip-build-for-a-commit

[2020-03-17 19:41] kahdojay commented on #450
Hi @cjuszczak you can check out our recent release adding the Amplify Console as a hosting option from the Amplify CLI: https://aws.amazon.com/blogs/aws/host-your-apps-with-aws-amplify-console-from-the-aws-amplify-cli/

Let us know if you're still unable to setup a custom domain with you Amplify Console-hosted app, our documentation on the topic can be found [here](https://docs.aws.amazon.com/ampl

[2020-03-17 20:19] winac commented on #513
That doesn't solve my problem. It just crashes my app when I go to a sub url

[2020-03-17 20:23] 0luftballoons opened #523 "Two different accounts, but both pointing at same repo and domain?"
** Please describe which feature you have a question about? **
This might be a mistake, but we have two separate AWS accounts that will be potentially using the same Github repository, and the same domain name. This only thing that would differ are the subdomains. To summarize:
1) Both account "A" and "B" are using repository "foobar".
2) Both account "A" and "B" use the same domain name "foobar.c

[2020-03-17 21:28] swaminator commented on #500
@hisham please track the progress of next button here https://github.com/aws-amplify/amplify-console/issues/446

[2020-03-17 21:28] #500 closed

[2020-03-17 22:23] kahdojay commented on #364
Closing this for now, please feel free to re-open if you're still blocked.

[2020-03-17 22:23] #364 closed

[2020-03-18 01:24] jhoffmcd opened #524 "Unsure of Usage of amplifyPush Script"
** Please describe which feature you have a question about? **

For normal environments from branches that I connect in the Amplify Console via the web GUI, we have `amplifyPush --simple` at the beginning of our `amplify.yml`. That's all good.

Now, we have an environment that we need to programmatically create using the AWS CLI `create-branch` and `start-job` commands. In this scenario, `amplifyP

[2020-03-18 01:53] Dcalligy opened #525 "Creating Amplify Console App"
I was trying to deploy one of your fullstack samples in the Amplify Console and kept running into this error. Any tips on how to fix this issue?
![image](https://user-images.githubusercontent.com/22399678/76917275-4da27980-6899-11ea-8ec2-dc092fb907ab.png)

[2020-03-18 03:36] TXMack713 commented on #385
I'm also getting the too many redirects message and when I checked, the status code given is 302. I've created and modified the app exactly as directed in the tutorial and have also tried checking the link on Chrome, Brave, Firefox and MS Edge and all the browsers have given me this error.

[2020-03-18 09:20] FemkeBuijs commented on #521
Sorry forgot to say that that is what I initially used. When that created the above situation I became experimentative and removed it. I've updated the issue.

[2020-03-18 10:10] indrapranesh opened #526 "Access denied for routes"
After deployment using the Amplify Console, my application throws access denied error when I try to access the routes of the application.

My application  runs on XXXX.amplifyapp.com/
This page works fine.

When I try to access the routes of the app such as
XXXXX.amplifyapp.com/login

It throws error like this

`<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>1C7C3381

[2020-03-18 10:53] gianlucapisati commented on #115
Hi I have the same error, even if deleting all the other branch except the production one...
this is my arn arn:aws:amplify:eu-west-1:135446448955:apps/d1xjyanq2k93xx

[2020-03-18 13:37] w601sxs commented on #516
Hi Don,

I'm still stuck at the same stage. What do you suggest I do?

Shreyas

On Tue, Mar 17, 2020 at 10:03 AM Shreyas Subramanian <shreyas.f117@gmail.com>
wrote:

[2020-03-18 14:15] poolieweb commented on #475
No, refreshing the page did not work.

[2020-03-18 14:17] poolieweb commented on #296
Any update on the roll out of the release ?

[2020-03-18 15:28] IsaacTrevino commented on #59
So I am using `react-router-dom` instead of amplify rewrite/redirect, my amplify setting is as follows:
`example.com | www.example.com | 302 (Redirect - Temporary)`
`/<*> | /index.html | 404 (Rewrite)`
and for `react-router-dom` I am using

[code]
To that effect.

[2020-03-18 17:32] tmbtech commented on #225
We had the same issue.
We solved it by renaming the
`.well-known/apple-app-site-association` ->
`well-known/apple-app-site-association.json`
(notice the folder rename and the extension added)

Then added the rewrite rule
[code]
If we didn't do it this way, we had an issue with the trailing `/` getting added and the rewrite rules weren't getting honored. Secondly, we also noticed the `.well-known`

[2020-03-18 19:59] kahdojay commented on #525
@Dcalligy thanks for reporting this. It seems there's an issue with the Authentication starter that we'll need to investigate - can you try a different one for the time being?

[2020-03-18 21:00] kahdojay commented on #525
@Dcalligy can you give it another try?

[2020-03-18 21:06] Dcalligy commented on #525
@kahdojay it worked! Appreciate your help!

[2020-03-18 21:06] #525 closed

[2020-03-18 22:25] #491 closed

[2020-03-18 23:06] kahdojay commented on #526
Hi @indrapranesh can you share your appId and region?

[2020-03-18 23:08] kahdojay commented on #513
@winac can you share your appId and region?

[2020-03-18 23:33] kahdojay commented on #481
@leelakrishnachava can you share a recent build number where this happens and the branch you're attempting to deploy?

[2020-03-19 00:31] winac commented on #513
Region:us-east-1
appId: d3g6b6l8krgqrd
I got it working last night by using links to the images which is what I put on my master build.
My dev build uses the local png images that don't show.

[2020-03-19 04:44] sanjeevghimire opened #527 "Redirecting external api calls from react app"
** Please describe which feature you have a question about? **
I have hosted the react application in AWS amplify which uses axios to call to API in spring boot applicaiton hosted in elastic bean stalk. Currently I added a redirect rule:

[code]

its not working

Any idea how it can work?

I also tried adding a base URL as the elastic bean stalk host and attach it to the axios URL. But its making

[2020-03-19 07:01] swaminator commented on #527
@sanjeevghimire can you try using a 200 instead of a 301?

[2020-03-19 11:01] FemkeBuijs commented on #115
I also still experience the same problem.
With cypress tests the error `020-03-19T10:45:32 [ERROR]: Failed to deploy` remains, while the tests are successful. Build settings:
[code]

When commenting out these settings there is no error and the deploy is successful.

[2020-03-19 14:03] sanjeevghimire commented on #527
@swaminator  I tried that as well and it didn't work.

is this regex good?

![AWS_Amplify_Console](https://user-images.githubusercontent.com/1693915/77075557-8426e400-69c0-11ea-86a3-4e04bf45cf67.png)

[2020-03-19 14:25] w601sxs commented on #516
Still running, any tips? What do I do?

[2020-03-19 17:43] jordan314 commented on #115
Honestly our solution was to stop using amplify and use codebuild / S3 / cloudfront. Something like this
https://medium.com/@muaohua/deploy-your-single-page-application-to-s3-and-cloudfront-with-code-build-and-code-pipeline-4ae6e5c12018

[2020-03-19 20:53] sanjeevghimire commented on #527
Also how do I avoid OPTIONS call when using aws amplify for react application

[2020-03-20 11:07] robmarshall commented on #115
I am still getting this issue

[2020-03-20 14:12] zahydo commented on #206
I have the same issue @ohadts

[2020-03-20 15:31] kahdojay commented on #517
Hi @JohJonker I do see that the domain is pointing to a cloudfront domain but it no longer exists. Can you delete the DNS records, and if it won't cause disruption, delete and recreate the custom domain?

[2020-03-20 18:06] kahdojay commented on #522
Hi @mupml, I was able to visit your custom domain and the page loads for me. Have you tried it in different browsers / networks / devices?

[2020-03-20 18:08] kahdojay commented on #518
Thanks for reporting this @jonvanausdeln - if you are able to without disclosing any unwanted/sensitive info, could you share some screenshots and a sample repo that will reproduce the issue so we can see what you're experiencing?

[2020-03-20 18:24] kahdojay commented on #519
@smakinson thanks for reporting this - we're actively investigating. Are you able to workaround with a 302 redirect in the meantime?

[2020-03-20 18:38] smakinson commented on #519
@kahdojay I am able to wait for a bit while its resolved since I am also waiting on #91 Thank you for investigating!

[2020-03-20 18:46] kahdojay commented on #520
Hi @kkesley, this isn't something we support but your feedback is helpful, we'll take this as a feature request. Glad you were able to unblock yourself in the meantime, closing this for now, feel free to reopen if you have any other questions!

[2020-03-20 19:17] stigalvestad commented on #450
Thanks for linking to the description about the new hosting option @kahdojay . It looks very useful!

[2020-03-20 20:05] kahdojay commented on #523
Hi @0luftballoons yes, this should work, let us know if you run into any issues

[2020-03-20 20:05] #523 closed

[2020-03-20 20:27] dschwartznyc opened #529 "Authentication Starter - build error"
Hi,

I was able to deploy the Authentication Starter app to my console.  Made some changes and then decided to start fresh by deleting the app and then re-deploying from the original.  Unfortunately, the new version fails to build every time at the same place when building the front end (extract follows and the whole build log below):

2020-03-20T20:08:17.257Z [INFO]: Failed to compile.
2020-03-20

[2020-03-20 20:36] kahdojay commented on #529
Hi @dschwartznyc it appears CRA is having an issue with the Babel dependency causing CRA app builds to fail. Please see their issue thread with live discussion on workarounds while they fix the issue: https://github.com/facebook/create-react-app/issues/8680

[2020-03-20 23:37] kahdojay commented on #527
@sanjeevghimire can you try reversing the order of your rules? They are evaluated from top to bottom: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#order-of-redirects

[2020-03-20 23:46] kahdojay commented on #521
@FemkeBuijs This can occur if CloudFormation resources (e.g. the roles/bucket) were not deleted successfully when a backend environment is recreated.

Can you try manually deleting the stack in CloudFormation console if it still exists?

[2020-03-21 03:31] amuresia commented on #115
+1

[2020-03-21 11:31] lucaluke88 opened #530 "Stuck on "Retrieving deployment details...""
Hello, I have set an application and my deploy method is to manual drag and drop the web project directory inside the related upload field. All worked flawlessy for weeks until yesterday, when after the usual drag and drop, it has "frozen" at "retrieving deployment details" without completing the deploy. I have tried also with S3 zip upload, but at no avail.
Visiting the app url, it shows the prev

[2020-03-21 15:53] amuresia opened #531 "Domain activation is Failed - register same domain in two different apps"
**App Id**: djaaa364g371e
**Region**: eu-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I have two different Amplify applications, one of them has the root domain registered successfully. However, this one cannot register the same domain.
**Error message**
I cannot see any CNAMEs anywhere. What am I missing?
[code]
**Note**: Be sure to check the message for sensitive inf

[2020-03-21 21:02] posadskiy opened #532 "Transfer App to different Zone (Region)"
** Please describe which feature you have a question about? **
Hi!
How can I transfer application from US-East (Ohio) to Europe (Frankfurt)?
I have found only one way: stop the current instance and re-create it in the new zone, set domain and routes again...
There is an easier way?

** Provide additional details**

[2020-03-22 13:41] gestaodomus opened #533 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d3gh2a7f5s3jqq
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-03-22 14:03] koprinkov commented on #313
My problem was that variables wasn't recognised in artifacts section and I had a 'cd' command in preBuild. So adding full path it worked.

version: 1.0
env:
  variables:
      BUILD_FOLDER: app
      OUTPUT_FOLDER: dist
frontend:
    phases:
        preBuild:
            commands:
                - cd ${BUILD_FOLDER}
                - mkdir ./${OUTPUT_FOLDER}
                - npm install

[2020-03-22 19:58] levu48 opened #534 "Domain activation is Failed - How to find all CNAME associated ARN resources"
**App Id**: d2tprwijv7y6b8
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

I need to set up a website for a domain.

**Issue/question**

I have tried to check all of the arn resources, cloud distribution, etc. and gone through the process many times, but could not get it to work. So the question is what is the definitive way to find out what ARN resources are associated with

[2020-03-23 03:15] kakriti007 opened #536 "Not able to build in amplify (See Log below)"
I was trying to build using amplify, but I am getting the following error over and over again.

Can someone help me understand where I am going wrong?

2020-03-23T03:07:38.499Z [INFO]: Git SSH Key acquired
2020-03-23T03:07:38.569Z [INFO]: # Cloning repository: git@github.com:kakriti007/developerCode.git
2020-03-23T03:07:38.742Z [INFO]: Agent pid 122
2020-03-23T03:07:38.766Z [INFO]: Identity added:

[2020-03-23 11:50] brignano commented on #448
Please let me know if there's anything else I should/can try to resolve this issue or if there's anymore information I can provide you to help debug it.

[2020-03-23 14:21] atlesp commented on #440
@SimonLegg  I had the same issue now and found this [stackoverflow question](https://stackoverflow.com/questions/56444337/how-to-change-node-version-in-provision-step-in-amplify-console) that helped me switching the amplify console to use Node 12 with help of `nvm use $VERSION_NODE_12`.

Example:
[code]

[2020-03-23 14:53] lucaluke88 commented on #530
If others should find in my situation: click on branch name, and abort all active deploy processes and make a clean deploy one. All solved.

[2020-03-23 14:53] #530 closed

[2020-03-23 18:07] kahdojay commented on #511
Hi @noelforte can you provide some more detail about how you'd expect to use this sort of feature and how it would be distinct from #331?

[2020-03-23 18:15] kahdojay commented on #529
Builds on the sample should be working again - closing this for now, please feel free to reopen if you're still seeing issues.

[2020-03-23 18:15] #529 closed

[2020-03-23 18:24] mbarneyjr opened #535 "Bring your own ACM Certificate"
I'd like to be able to pass an ACM certificate ARN to my `AWS::Amplify::Domain` resource to tell Amplify to use that instead of trying to create its own. My use case is that there is a separate account for managing DNS, but an ACM certificate is already provisioned in the deployment account I want to deploy my Amplify Console app to. I want to keep things automated (in CloudFormation), so that I d

[2020-03-23 19:20] swaminator commented on #184
@danieladams456 just to be clear, you'd like to be able to do something like `/test` 301/302 `http://example.com/test`

[2020-03-23 20:04] danieladams456 commented on #184
I'm thinking similar to @Dlozitskiy's comment that Netlify has.  Excerpt from the linked blog post:
[code]

Today in CloudFront a header can be sent on outgoing requests to the origin to prove that it came from that distribution.  Together with IP whitelisting _to_ the Amplify app (#36), that would let us host internal apps using Amplify.

Even better like you mentioned [here](https://github.com/a

[2020-03-23 20:43] Athena96 commented on #526
Hi @indrapranesh I think I know a solution for you.
Try adding this Rewrite/Redirect Rule for your app:
**source**: </^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>
**target**: /index.html
**type**: 200

Resource: https://forums.aws.amazon.com/thread.jspa?threadID=294311&tstart=0

[2020-03-23 21:53] helloPiers commented on #163
Thank goodness I found this ticket, after a lot of searching. It still seems necessary to set this "live updates" setting for the aws-exports.js to be generated properly during a console build. Is there a non-closed bug tracking a fix so the console build environment actually works out of the box, or should I open one?

[2020-03-23 22:13] dschwartznyc commented on #529
Don,

Thanks for the awesome focus and attention.  The issue is indeed resolved.

Now if only I could find a simple example of how to use Auth.currentUserInfo
() inside synchronous code ..

Anyway, thanks again.

Best regards,

Daniel Schwartz
e: daniel.schwartz.nyc@gmail.com
m: +1+347-560-3573

On March 23, 2020 at 2:15:37 PM, Don J. Kahn (notifications@github.com)
wrote:

Builds on the sample sh

[2020-03-23 23:35] swaminator commented on #535
@mbarneyjr We have prioritized this in our roadmap and will provide an update on this issue: #56. Closing as duplicate.

[2020-03-23 23:35] #535 closed

[2020-03-23 23:36] swaminator commented on #527
@sanjeevghimire would you be able to get on a call to chat? We are interested in hearing more about your usecase. Can you share your email.

[2020-03-23 23:41] #395 closed

[2020-03-23 23:42] #394 closed

[2020-03-23 23:42] kahdojay commented on #507
Sorted this issue offline, closing this for now, please feel free to re-open if issue persists for any other customers as well.

[2020-03-23 23:42] #507 closed

[2020-03-23 23:43] swaminator commented on #344
@blomm we are resolving this for now. Please let us know if this issue still exists.

[2020-03-23 23:43] #344 closed

[2020-03-23 23:43] #403 closed

[2020-03-23 23:46] ohadts commented on #206
@zahydo Nobody is answering here 😒
Did you manage to found any workaround?

[2020-03-23 23:59] swaminator commented on #532
@posadskiy Unfortunately there isn't an easier way. If you want, you can define Amplify Console resources as CloudFormation so they are easily replicable: https://aws.amazon.com/about-aws/whats-new/2019/06/aws-amplify-console-supports-aws-cloudformation/

[2020-03-23 23:59] #532 closed

[2020-03-24 00:14] patleeman commented on #507
Hey Don and Team,

Thanks again for your help on this matter.

On Mon, Mar 23, 2020 at 7:42 PM Don J. Kahn <notifications@github.com>
wrote:

[2020-03-24 01:19] sanjeevghimire commented on #527
sanjeev.ghimire@chalchitra.tv

On Mon, Mar 23, 2020 at 6:37 PM Nikhil Swaminathan <notifications@github.com>
wrote:

--
सन्जीब िघमिरे
(Sanjeev Ghimire)

[2020-03-24 07:47] danieletieghi commented on #206
Hi, I don't know if this is acceptable for you, but I had the same problem, and after failing in applying the workaround I came up with a different one: simply I do not manage social single sign ons with amplify (chose no at don't know which question), and I simply added them manually in the cognito console (I have 2 environments, I did it twice off course). It works and neither amplify push nor a

[2020-03-24 08:59] SimonLegg commented on #440
@atlesp - thanks that is really helpful!

in addition, for anyone following the trail using Angular 9 - there is a warning in the [ Amplify GitHub documentation](https://aws-amplify.github.io/docs/js/angular) that Angular 9 is not supported currently - although I haven't tried with Node 12 yet

[2020-03-24 13:27] no-creative-name commented on #459
I have the same problem. Is there an update on this issue?

[2020-03-24 13:37] KidSysco commented on #206
That was not acceptable to me, why use Amplify at all then? I can go to the console and add Cognito myself too.

The point behind Amplify is that we are finally getting Infrastructure as Code at AWS.

Cognito and all of its configuration should be stored in source control, otherwise things will get missed when trying to replicate it later. This is what Infrastructure as Code does.

Right now, at m

[2020-03-24 13:57] zahydo commented on #206
No, I had to recreate my API. It seems to Amplify that don't work well adding or removing fields related to the @key directive. Please contact me if you find another way to solve that problem. Thanks.

[2020-03-24 13:57] zahydo commented on #206
@ohadts No, I had to recreate my API. It seems to Amplify that don't work well adding or removing fields related to the @key directive. Please contact me if you find another way to solve that problem. Thanks.

[2020-03-24 15:33] FemkeBuijs commented on #521
@kahdojay maybe it's a silly question, but won't removing the stack remove all its resources (table data, etc)? This is currently a running environment with data that cannot be removed.

[2020-03-24 16:26] Athena96 commented on #385
@TXMack713 can you share a copy your build settings (minus any sensitive data)? (From amplify.yml if you're using it, or from the console).
Can you also share what redirects your app has in place?

[2020-03-24 16:46] Athena96 commented on #406
Closing this issue now, please reopen if you are still having issues.

[2020-03-24 16:46] #406 closed

[2020-03-24 17:24] jonvanausdeln opened #537 "Linting error in PreBuild step not failing the build"
I have a lint step in my preBuild commands.  I have a case where the lint failed (as it should), but the build still went on and completed successfully.  I want it to fail the build at that point.  It was specifically in a preview build.

Here is the log snippet for the error.
[code]

and then later the end of the build step:
[code]

[2020-03-24 17:30] Athena96 commented on #475
Hi @poolieweb I was not able to reproduce the issue. Can you try deleting the webhook and then re-adding it.
Also check that your aws cli is configured with the same aws account as your Amplify app is associated with (aws sts get-caller-identity)

[2020-03-24 17:39] Athena96 commented on #513
Hi @winac are you still facing the issue, or is it resolved?
Also, a tip for getting your favicon to update. Change the existing `<link>` for the favicon in <repoName>/public/index.html to be:
`<link rel="icon" href="%PUBLIC_URL%/favicon.ico?v2" />`

[2020-03-24 17:42] winac commented on #513
Hi @Athena96, I am still facing the issue as described previously. I will try out changing the favicon link but do you have any documentation to explain what adding '?v2' does?

[2020-03-24 18:16] Athena96 commented on #537
Hi @jonvanausdeln can you share your amplify.yml (Build Settings) and your package.json files. (removing any personal info). Thanks!

[2020-03-24 18:58] MEBonham commented on #59
I'm having a similar issue to this bug report. I'm using ReactJS and react-router-dom.

I can navigate to various pages of my site by clicking on links that are in the body of the page. However, if I navigate directly (using the address bar of the browser) or by clicking on links in my Nav menu, I get redirected to /index.html.

The body-links and the nav-links look identical in terms of their hre

[2020-03-24 19:08] MEBonham commented on #59
I found the Redirects settings and removed the one that Amplify had added on its own, redirecting <*> to /index.html. However, deleting this setting just made it so that the links that were exhibiting strange behavior before now lead to a "This XML file does not appear to have any style information ..." error page. (I didn't know I was using any XML at all.)

[2020-03-24 19:12] jonvanausdeln commented on #537
[issue_537.zip](https://github.com/aws-amplify/amplify-console/files/4377191/issue_537.zip)
I included the files in the .zip.  Note, I removed some info from each.  Also we use a monorepo, but I left in the commands pertinent to this issue and the package being built.  You can assume the $PACKAGE var is set to "c" so it will evaluate to true.

[2020-03-24 19:26] adriencg commented on #13
@kmfreas I know this is late..but you can actually modify the event pattern that Amplify creates to notify your email about all branches (past, present, future) assuming you've created at least one notification via the Amplify console.

Go to the Amazon EventBridge console, under "Rules" find the rule for your app (should look like amplify-<appId>-<branch>-branch-notification). Modify the Event pa

[2020-03-24 20:19] jonvanausdeln commented on #518
Sorry it took me a little bit to get back to this.  I went and looked at our builds and don't see the issue any longer.  This issue can be closed.  Thanks.

[2020-03-24 22:07] Athena96 commented on #534
@levu48 so to confirm, you have verified that your domain is not already used in a CloudFront distribution?

[2020-03-24 22:50] Athena96 commented on #537
@jonvanausdeln in your amplify.yml, can you try moving your 'yarn lint' and 'yarn test' commands into the build/commands/ section, and "and" the commands like this:
[code]
here's a [resource](https://dev.to/rakannimer/testing-your-amplify-application-with-jest-and-cypress-1g0i) that might be useful as well.

[2020-03-24 23:47] Athena96 commented on #524
Hi @jhoffmcd can you please share your amplify.yml file.

[2020-03-25 00:04] Athena96 commented on #531
Hi @amuresia wanted to confirm, you are trying to register 1 domain with 2 different Amplify apps, is that correct?

[2020-03-25 00:08] Athena96 commented on #533
@gestaodomus is the SSL verification step still running after 8 hours? If so, check out this [troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#my-domain-hosted-with-a-third-party-is-stuck-in-pending-verification-state) for registering custom domains

[2020-03-25 00:18] jhoffmcd commented on #524
Sure, in the below example, you can see I commented out the amplifyPush command that did not work:

`amplifyPush -e stg -s`

[code]

[2020-03-25 05:02] levu48 commented on #534
That is correct. I have checked it many times and deleted all related to
the domain name on CloudFront.

On Tue, Mar 24, 2020 at 3:08 PM Jared Franzone <notifications@github.com>
wrote:

[2020-03-25 05:14] swaminator commented on #59
@MEBonham did you follow this https://github.com/aws-amplify/amplify-console/issues/59#issuecomment-600214054

[2020-03-25 08:14] mupml commented on #522
Hi, it fixed itself. I believe it had something to do with the fact I came over from a different web host and the web browser probably had something cached. Thanks for the help.

[2020-03-25 08:14] #522 closed

[2020-03-25 09:25] belgac opened #538 "relaunch build when pull request is reopened"
Hi, first of all thank you for this library.

** Please describe which feature you have a question about? **
automatic building of pull requests on github

** Provide additional details**
When you decide to automatically build pull requests with github the fact of closing the pull request closes the build, but the build doesn't reappear when the pull request is reopened, sadly it seems that miscli

[2020-03-25 15:19] MEBonham commented on #59
I wasn't sure what parts of it were applicable, but I'll experiment with it.

[2020-03-25 16:42] Athena96 commented on #518
Thanks, please reach out if you have any other issues.

[2020-03-25 16:42] #518 closed

[2020-03-25 17:08] pbishnupuri opened #539 "Simplifying pods"
I am trying to build an app and submit it to the app store, however the AppStore is not liking some of your pod files, can you help out with this?

pod 'AWSAPIGateway'
    pod 'AWSAutoScaling'
    pod 'AWSAppSync'
    pod 'AWSCloudWatch'
    pod 'AWSComprehend'
    pod 'AWSConnect'
    pod 'AWSDynamoDB'
    pod 'AWSEC2'
    pod 'AWSElasticLoadBalancing'
    pod 'AWSKMS'
    pod 'AWSKinesis'
    po

[2020-03-25 17:13] Athena96 commented on #534
@levu48 it looks like you currently have a custom domain associated with your Amplify app (which was registered around 01/09/2020), is that right? And You're trying to switch to a new domain now?

[2020-03-25 17:17] Athena96 commented on #513
The info I shared basically [forces a favicon refresh](https://stackoverflow.com/questions/2208933/how-do-i-force-a-favicon-refresh)

[2020-03-25 17:33] Athena96 commented on #514
@joshqq  Please see:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlined in the docs above) depe

[2020-03-25 17:55] Athena96 commented on #521
Hi @FemkeBuijs have you tried using the --environment flag with the [amplifyPush script](https://gist.github.com/swaminator/7408de774e24ecf031d0d9928f1fbae5)?
e.g. `amplifyPush --environment <ENVIRONMENT> --simple`

[2020-03-25 18:06] Athena96 commented on #516
Hi @w601sxs have you checked that your CNAME resolves? Following these [steps](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#how-do-i-verify-that-my-cname-resolves)

[2020-03-25 18:48] prasaddattu478 commented on #425
@Joycehao19 any update on this issue?.

[2020-03-25 19:54] jonvanausdeln commented on #537
I moved to the `build` section and that works now as expected (fails on the lint error).

I am curious why it doesn't error out on the preBuild step as I would expect.  What does cause the preBuild steps to fail?

[2020-03-25 20:10] amuresia commented on #531
Hey, yes. I just moved my DNS zone from GoDaddy to Route53. After a couple of hours and a flow restart, the issue went away. Thanks, I'll close this :)

[2020-03-25 20:10] #531 closed

[2020-03-25 22:08] levu48 commented on #534
I tried to have another domain added to it.

On Wed, Mar 25, 2020, 10:13 AM Jared Franzone <notifications@github.com
wrote:

[2020-03-25 23:21] Athena96 commented on #295
Closing this issue. @Burry, please re-open this issue if you are still having problems. Thanks!

[2020-03-25 23:21] #295 closed

[2020-03-25 23:26] Athena96 commented on #322
@ejoonie are you still having issues?

[2020-03-25 23:38] Athena96 commented on #345
Closing this issue, please feel free to reopen if you are still having trouble.

[2020-03-25 23:38] #345 closed

[2020-03-25 23:44] #437 closed

[2020-03-25 23:52] Athena96 commented on #417
Closing this issue, please reopen if you are still facing the issue.

[2020-03-25 23:52] #417 closed

[2020-03-25 23:54] noelforte commented on #511
Certainly, and the way that competitors have A/B testing set up allows for this sort of behavior but it's really more of a hack rather than an official feature. While password protecting an entire site with basic http-auth is good in the short term to keep a branch deploy private, the purposes of my suggestion is to allow branches to be routed to behind the scenes, say like if you were testing a p

[2020-03-26 02:43] ejoonie commented on #322
no, it's fine. thank you.

[2020-03-26 02:43] #322 closed

[2020-03-26 02:50] swaminator commented on #206
@zahydo @KidSysco we are working on a fix that will allow you to provide an environment variable with your Facebook/Google Client ID, and we will be able to create new environments without the build failure. We should have the fix out in the next few weeks.

[2020-03-26 08:21] FemkeBuijs commented on #521
@Athena96 thanks for your answer, I tried it and get the same error:
```Reason: **BUCKET-NAMEe** already exists in stack```

[2020-03-26 14:05] w601sxs commented on #516
I deleted and redeployed with the same settings and I'm now live. No
changes from my end. strange.

On Wed, Mar 25, 2020 at 2:06 PM Jared Franzone <notifications@github.com>
wrote:

[2020-03-26 16:27] Athena96 commented on #516
Great! Closing this issue for now. Please feel free to open if you are still having problems.

[2020-03-26 16:27] #516 closed

[2020-03-26 16:30] Athena96 commented on #474
Closing this issue for now, please re-open if you are still facing issues.

[2020-03-26 16:30] #474 closed

[2020-03-26 16:31] Athena96 commented on #471
Closing this issue for now, please feel free to reopen if you are still facing issues.

[2020-03-26 16:31] #471 closed

[2020-03-26 16:52] Athena96 commented on #534
So, you're trying to associate 2 different URLs with the same app. The first 1 succeeded, but when you are trying to add the 2nd custom domain, it fails with this error you described. Is that correct?

[2020-03-26 17:10] levu48 commented on #534
That is correct. Actually I tried the failed one first, but it failed. So I
tried another one just to test, ant that worked. I went back to check on
the original one and tried to clear all associated resources, but it never
worked.

On Thu, Mar 26, 2020 at 9:52 AM Jared Franzone <notifications@github.com>
wrote:

[2020-03-26 17:18] Athena96 commented on #537
Yes, sorry if it is unclear. The preBuild step is not really pass/fail, it's for installing dependencies and doing setup. e.g. `npm ci`

[2020-03-26 17:44] tmeckhoff opened #540 "SSL configuration is Running - Unsupported TLD"
**d17njfdf3hqm0z**
**us-east-1**
**SSL configuration**
**Running**

**Issue/question**
Trying to add multi level subdomain to Amplify app but it has been running for several hours. The subdomain exists as a hosted zone in Route53.

**Error message**
If there is an error message, please include it here.

Looking at calls in Network tab the POST to `https://console.aws.amazon.com/amplify/api/route53

[2020-03-26 17:49] simpson opened #541 "Constantly failing deploys"
** Please describe which feature you have a question about? **
Over the past 48 hours, a significant portion of our builds are failing to deploy. All it says at the bottom of the deploy logs is:

"2020-03-26T17:48:01 [ERROR]: Failed to deploy"

** Provide additional details**
This happens on all branches, is anyone else experiencing this?

[2020-03-26 17:53] simpson commented on #481
+1 Our team is experiencing this very frequently the past few days, yet no outages have been reported for Amplify

[2020-03-26 18:03] vishalvishalgupta opened #542 "Is it possible in amplify that we can revert the last or 2nd last deployment?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-03-26 18:06] Athena96 commented on #541
Hi @simpson can you share your appId and region. Thanks

[2020-03-26 18:16] simpson commented on #541
Hi @Athena96

arn:aws:amplify:ap-southeast-1:252100588959:apps/d12hn9rteao8a1
ap-southeast-1

If you just keep re-deploying it eventually works but that is a lot of unnecessary build time

[2020-03-26 18:28] vishalvishalgupta commented on #59
how can i serve my next.js based app with amplify? After passing all the steps, the page is redirecting to index.html page and nothing is shown.

[2020-03-26 18:31] swaminator commented on #59
@vishalvishalgupta we currently do not support server rendered apps. See: https://github.com/aws-amplify/amplify-console/issues/412 and upvote.

[2020-03-26 22:10] Athena96 commented on #538
Hi @belgac, thank for reaching out! Currently reopening a closed PR will not start a new build. A workaround would be to duplicate the PR you wanted to re-open. I'll note this as a feature request for now. Thanks!

[2020-03-26 23:00] blairtaylor opened #543 "Amplify service quotas are not adjustable"
Taking a look at the service quotas for Amplify, the service quotas are not adjustable. Will they be in the future? The quotas I am most concerned with are the limit of 5 domains per app and limit of 50 subdomains per domain.

[2020-03-26 23:00] Athena96 commented on #537
Closing this issue, feel free to reopen if you have more questions/issues. Thanks!

[2020-03-26 23:00] #537 closed

[2020-03-26 23:17] Athena96 commented on #542
Hi @vishalvishalgupta this is currently not supported, but checkout [this issue](https://github.com/aws-amplify/amplify-cli/issues/1484) which describes a workaround using git tags.

[2020-03-27 01:34] cray75 opened #544 "Does Amplify Console Support Keybase Encrypted Git?"
** Please describe which feature you have a question about? **
Amplify Console CI/CD

** Provide additional details**
I know that Amplify has a host of different platforms it supports on its console for CI/CD, GitHub being one. My team was considering moving  an amplify project from GitHub to Keybase encrypted git and before we made the move I was curious as to if this was something supported by A

[2020-03-27 07:59] swaminator commented on #244
Closing issue as it can be done manually using headless scripts: https://docs.amplify.aws/cli/usage/headless

[2020-03-27 07:59] #244 closed

[2020-03-27 11:13] plutoegg opened #545 "Connecting an organisation that was not present when first using amplify"
** Please describe which feature you have a question about? **

I want to connect a new github repository, which is under a specific github organisation.

I currently have 6 other projects running, which are either under my personal account, or another organisation that I am a member of.

I believe the issue is that when I first used amplify-console from the AWS UI, this second github organisation

[2020-03-27 11:21] plutoegg commented on #545
Ok solved - the solution was to revoke from Github AWS Amplify access, and then to re-authorise.

[2020-03-27 11:21] #545 closed

[2020-03-27 14:42] helloPiers opened #546 "build settings (amplify.yml): difference between backend and frontend sections"
Trying to learn more detail than is currently given at the page https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html about the amplify.yml build settings.

There are sections backend and frontend. Do these have any actual meaning or differences?

It seems that even the shell environment flows between them - for example I had a `cd` command in backend and one in frontend but the

[2020-03-27 15:58] mwarkentin opened #547 "Amplify Console not triggering on force push of old commit to branch?"
We’re seeing an issue with an Amplify deployment that’s configured to auto-build. Our GitHub repo is connected to our Amplify project and the branch is configured to auto-build. When we push new commits to the branch, a build is triggered, but when we push a change to the branch to have it point to an old commit no build is triggered.

As a concrete example, imagine a git history with commit order

[2020-03-27 15:58] mwarkentin commented on #547
I confirmed that the Github webhook to amplify was sent and received successfully via the Github webhooks UI.

[2020-03-27 17:35] gwryssekk commented on #296
Hi all, this fix has been deployed for all regions.  Feel free to test and let us know if you still see the issue.

[2020-03-27 17:48] Athena96 commented on #547
Hi @mwarkentin, yes changing the head to some previous commit, then force pushing doesn't trigger a build. But you can `git revert <commit_hash>` the commit, then push. This will trigger a build. I'll note this as a feature request.

[2020-03-27 18:02] Athena96 commented on #540
Hi @tmeckhoff sorry you are having trouble. Can you share your apps settings on the "Domain management" page.

[2020-03-27 18:09] Athena96 commented on #540
Another question I have is, did you acquire your domain by using Rout53, or some other provider?

[2020-03-27 18:32] tmeckhoff commented on #540
What information from the "Domain Management" page do you need?

Yes, route53

[2020-03-27 18:41] mwarkentin commented on #547
@Athena96 the other behavior we’ve seen which is a bigger problem for our use case is a force push of an older commit from a different branch:

a - d - e (currently deployed into amplify)
 \ b - c

When we force push from our feature branch (c) it seems to not trigger a deploy - we’re not sure if it’s a time stamp check on the commit which skips the build?

I guess when we looked at console, we im

[2020-03-27 19:27] ahasna commented on #436
@faizanbashir I had a similar issue where I couldn't access any routes and was getting `AccessDenied`.
the only change I did is to change a `404 Redirect` to `404 Rewrite`  then all routes worked.
Hope this helps!

[2020-03-27 20:13] Athena96 commented on #540
From the Domain Management page, I want to see how your multilevel subdomain is configured.
Like [this](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-subdomains) from the docs.

[2020-03-27 20:29] tmeckhoff commented on #540
Here is a screenshot
![Screen Shot 2020-03-27 at 3 16 06 PM](https://user-images.githubusercontent.com/5074013/77797789-b0d1a000-703f-11ea-9792-91ab4b845999.png)

[2020-03-27 20:43] Athena96 commented on #540
Was the root URL ("uat.postlight-lmm.com") added and working before you tried adding the subdomain?

[2020-03-27 20:50] tmeckhoff commented on #540
We originally had this domain `screen-app.uat.postlight-lmm.com` as a record for our root domain hosted zone `postlight-lmm.com`. But Amplify errored when I tried adding `screen-app.uat` as a domain prefix to the root domain. So I created a new hosted zone for the subdomain `uat.postlight-lmm.com`.

[2020-03-27 21:50] Athena96 commented on #546
Hi @helloPiers, thanks for your question.
The 'backend'/'frontend' sections are used to appropriately group the logs during the build.
The commands that are in each section happen in the same container/shell environment, and the state does not reset between steps.
Let us know if you have any follow-up questions.

[2020-03-27 21:57] Athena96 commented on #543
Hi @blairtaylor thanks for bringing this up. Yes we are working on making service quotas adjustable.

[2020-03-28 06:28] faizanbashir commented on #436
@ahasna Thanks for the suggestion will try it out once the build works properly. Right now I am not able to run the build commands properly even though all the required packages are installed.

[2020-03-28 14:35] helloPiers commented on #500
Having same issue - firstly, the (undocumented?) USER_BRANCH is not set at all, however I connect the branches. There _is_ a variable AWS_BACKEND_ENVIRONMENT_ARN which is the full ARN of the backend.

But secondly, I don't immediately see why amplifyPush would default to the *front-end* branch name, except there must be a strong assumption by the author that the *backend* environment name is the s

[2020-03-28 16:25] helloPiers opened #548 "Re-Connecting erases environment variables from App"
Steps to reproduce:
1. Create App from a Github repo/branch
2. Set some environment variables
3. In the settings/general disconnect the branch so there are no branches
4. Go to the App's main screen (with Frontend | Backend tabs etc) and see the offer to Connect a frontend web app
5. Follow the Github flow

The environment variables will be lost. I think this is because this flow is really the "ne

[2020-03-28 17:21] helloPiers commented on #546
Thanks for the response - understand now that this split allows the Console UI to separate the log output into Backend and Frontend sections.

A quick follow-up - in the docs it says

I'm not quite sure what "output directory" means here, but, I put a command in postBuild to overwrite a file in my /dist/ folder, and the overwritten file was what was published. In other words postBuild seems to run

[2020-03-28 19:13] 2manoj1 opened #549 "Access Denied after deploy frontend."
After Build and deploy got access denied issue. Please help

amplify -v
4.17.1

[code]

[2020-03-28 20:39] 2manoj1 commented on #436
Same issue with Next.js app. After deploy got access denied error (403)

[2020-03-29 14:17] 8ctopotamus commented on #41
I am also running into this error with a Gatsby project. It makes it passed the BUILD stage and fails on DEPLOY. It randomly starts to work again after attempting about 3 deploys.

[code]

[2020-03-30 05:53] daunce commented on #455
I get the same result using Firefox 74.0 64bit, Chrome 80.0.3987.149, also with private/incognito mode on 2 different Windows 10 machines, in that I am unable to edit the build commands.

Also the Light/Dark theme toggle does not work when this happens.

[2020-03-30 09:30] swaminator commented on #549
@2manoj1 please check your build output directory in the build settings: (App Settings > Build settings). It could be incorrect which is why your files are not deploying.

[2020-03-30 11:32] slatemates commented on #206
We simply did a an **amplify pull --appId XXXXXXXX  --envName dev** command on another computer . Modified some graphql schema.
On **amplify push**  it gives the error :  **Parameters: [hostedUIProviderCreds] must have values**

Please help. We are really struck because of this  .

[2020-03-30 11:38] 2manoj1 commented on #549
@swaminator With below setup always getting error. Tryied with out dir no luck yet.
# Build Settings

[code]

# package.json Script
[code]

# amplify config

[code]

[2020-03-30 13:15] ryanwilsonperkin commented on #547
@Athena96 I think that advice only applies to if we wanted to remove a commit from the history, but that's not the case here. We're trying to reset the head of the branch to a different commit history altogether.

[2020-03-30 13:22] ohadts commented on #206
@KidSysco Totaly agree.
@zahydo Did you lost all of your data? I'm not trying to add or modified fields related to the @key directive, just plain primitive field...
@slatemates It happened to me on a machine that I did "amplify pull..." like you dud, but then I went back to my original machine (the one that I started the amplify project on) and got the same results.

[2020-03-30 14:25] 2manoj1 commented on #549
Can I run Nodejs server top of Amplify for Nextjs Frontend app?

[2020-03-30 16:09] rpgeddam commented on #425
same issue. d13ktqqgv1z4ps

[2020-03-30 16:10] foragerr commented on #425
Same issue. d13ktqqgv1z4ps

[2020-03-30 16:12] Athena96 commented on #540
From the screenshot you sent, can you try clicking "Enable" for the root domain first, then try adding the subdomain.

[2020-03-30 16:24] tmeckhoff commented on #540
I deleted the previous attempt, and added new domain with just the root domain of `uat.postlight-lmm.com` and got the same 400 error ```{"__type":"UnsupportedTLD","message":"postlight-lmm.com tld is not supported"}```

[2020-03-30 16:26] netochaves opened #550 "PR Previews show 'Stuck in Queued' for certain PRs"
**Is your feature request related to a problem? Please describe.**
When I send a commit, a new build preview is created at Amplify console, starting the Github check. If I send another commit while the old builds are running, the check is queued and will remain so until we send another commit. That's because a new build is created and the old one is not cancelled.

**Describe the solution you'd li

[2020-03-30 16:50] Athena96 commented on #499
Closing this issue, please feel free to re-open if you are still having issues.

[2020-03-30 16:50] #499 closed

[2020-03-30 16:51] Athena96 commented on #498
Closing this issue, please feel free to re-open if you are still having issues.

[2020-03-30 16:51] #498 closed

[2020-03-30 16:51] Athena96 commented on #494
Closing this issue, please feel free to re-open if you are still having issues.

[2020-03-30 16:51] #494 closed

[2020-03-30 16:51] Athena96 commented on #487
Closing this issue, please feel free to re-open if you are still having issues.

[2020-03-30 16:51] #487 closed

[2020-03-30 18:05] nikomondo commented on #494
Sorry   I missed the updates. I solved this issue deleting the former site on amplify and publish the new github repositories

[2020-03-30 19:24] abhi7cr commented on #446
@hepatus @veacks This issue has been fixed in the latest release. Let us know if you still see the issue.

[2020-03-30 19:58] hepatus commented on #446
hi @abhi7cr ,
unfortunately it still doesn't work for me. I still can't add a new branch, the next button remains disabled after selecting the branch.
I tried to delete and recreate the whole amplify project but it's not better, I still only have one branch.
I also tried to activate "branch autodection" without success.

[2020-03-30 20:24] abhi7cr commented on #446
hi @hepatus. I just went to eu-west-1 and set up an app through gitlab, first for master, and then for develop. I was able to proceed with develop too:

![image](https://user-images.githubusercontent.com/5371802/77957997-3b591000-7289-11ea-9847-96ec536f4d45.png)

If possible, could you try deleting the app and reconnecting master and develop?

[2020-03-30 20:29] abhi7cr commented on #446
hi @hepatus. I just went to eu-west-1 region, and connected an app (with master) through gitlab, and then connected the develop branch:

![image](https://user-images.githubusercontent.com/5371802/77958540-0c8f6980-728a-11ea-9297-1685f1bb38a3.png)

Also in the app settings, there is a 'Reconnect repository button'. Could you try clicking that, and trying again?

[2020-03-30 20:50] hepatus commented on #446
no more success :(
![image](https://user-images.githubusercontent.com/15123428/77960608-e6dd8100-72d8-11ea-8477-ad94677eb2b4.png)

[2020-03-30 20:56] abhi7cr commented on #446
@hepatus  Is there any console errors you are seeing in the developer console? Also what's your app id.

[2020-03-30 21:08] hepatus commented on #446
@abhi7cr : Nothing in the console. No visible errors in the network traces either. my app id is d1hiceo86kcyrb

[2020-03-30 22:02] abhi7cr commented on #446
@hepatus Thanks! The only time next button is disabled is when your repository provider (in your case, gitlab) has not been connected yet.  Just to rule out the 2 branch scenario, could you create a 3rd branch in gitlab and see if you are able to reproduce? Also, is this happening with/without a refresh in between connecting the master and development branches?

[2020-03-30 23:11] ganipcanot commented on #549
I'm going to try the sample https://github.com/rakannimer/todolist-amplify-nextjs and see if it deploys

[2020-03-30 23:28] ganipcanot commented on #549
You can use this from the amplify CLI https://github.com/awslabs/aws-serverless-express

You could still run a node/express “server” with basic routing as your backend API, it just has to be a lambda function.

You would need to build it serverless in lambda with amplify add function (https://aws-amplify.github.io/docs/cli-toolchain/quickstart#amplify-add).

[2020-03-31 02:34] berniedurfee commented on #97
This seems to be breaking OIDC callbacks, where the user is redirected from the IdP back to the app route like: `https://myapp.com/implicit/callback?code=abcxyz`

The user is then immediately redirected by Cloudfront to `https://myapp.com/implicit/callback/` without the query parameters, which breaks the OIDC flow.

The only solution was to force a 200 back to `index.html` using the rewrite rule s

[2020-03-31 03:12] bakersemail commented on #425
Same issue as well d1mdmm8asbc6gf

[2020-03-31 03:14] 2manoj1 commented on #549
@ganipcanot how we deploy Nextjs Express lamda function as frontend in Amplify console? Able to deploy static and client side rendering React app but how we deploy Server side rendering React(Nextjs) in Amplify console. Please provide documentation and sample example

[2020-03-31 04:00] grudra7714 commented on #425
Same issue d1ajpgmfqkxwzo

[2020-03-31 04:46] ganipcanot commented on #541
Are you still experiencing issues @simpson?

[2020-03-31 14:15] connorford2 commented on #425
I contacted AWS support and they've been very responsive. They're investigating this thread now.

[2020-03-31 15:09] slatemates commented on #206
@ohadts On the original machine it  still works fine. Since I had to work on the new machine, I made a tar ball of the original amplify folder , copy /pasted on the new machine. Its a lame workaround, but it works !

[2020-03-31 15:39] simpson commented on #541
@ganipcanot Looks like it has cleared up, do you have any more details on what was failing? Is there anything we can be doing to fix this on our end?

[2020-03-31 16:55] ganipcanot commented on #541
Seems it was something intermittent on our end - nothing you could do on your end from what I can see.  If you experience this issue again please feel free to open another ticket with us.

[2020-03-31 16:55] #541 closed

[2020-03-31 17:47] shengdade commented on #240
I spent some time trying to get rid of `wait-on` command, and replacing it with `start-server-and-test`. Finally it is working!

Install `start-server-and-test`:
[code]

Modify `amplify.yml` file:

[code]

[2020-03-31 17:54] ganipcanot commented on #550
@netochaves For clarification how are you triggering this behavior?

(1) Create a pull request --> Commit some changes (before pull request build finishes)
OR
(2) Commit some changes (build triggered) --> commit some more changes

[2020-03-31 18:21] ganipcanot commented on #550
@netochaves I tried:

(1) creating a PR with PR preview enabled --> then I made a commit to my master branch and I wasn't able to reproduce this issue.

[2020-03-31 18:22] netochaves commented on #550
Option one, but you've to commit on PR.

[2020-03-31 18:24] netochaves commented on #550
@ganipcanot Create a pull request (build triggered) => Commit some changes on the same PR (before pull request build finishes)

[2020-03-31 18:33] jonvanausdeln opened #551 "Is there a way to programmatically access the deployment URL or the PR name?"
** Please describe which feature you have a question about? **
Is there an env variable or way to access the app URL?

If not, is there a way to access the PR branch name in a web preview build.
For example,
https://pr-375.d1b3ezu3q0gktd.amplifyapp.com/
The only env variable I can see is "USER_BRANCH" which does not give me the 'pr-375` . Also, "AWS_BRANCH" is set to the branch where the PR came f

[2020-03-31 18:34] ganipcanot commented on #548
@helloPiers I was able to reproduce this issue - will look into it further.

[2020-04-01 01:36] iamssen opened #552 "There is no nvm, node, npm and /root/.nvm/versions/node/VERSION_NODE_DEFAULT/bin directory when the frontend build phase"
This is my `amplify.yml` file.

[code]

Always build failed with `command not found` message.

There is no nvm, node, npm at the frontend build phase.

I did not change any settings. it is the default setting.

This problem occurs very often.

[code]

[2020-04-01 04:01] pbishnupuri opened #553 "Amplify Broken"
** Please describe which feature you have a question about? **
Okay so I created everything using amplify init: this added auth, api, s3. However then I deleted the Cognito Userpool that amplify init created. This broke my amplify. Now when I go to my amplify console, click on my app, then click backend environments. I can click on everything (api, s3, functions, they all load) except for auth.

!

[2020-04-01 04:34] swaminator commented on #553
@pbishnupuri can you please share your browser's console logs (right click > inspect element > Console)

[2020-04-01 04:52] masterofkfit commented on #92
Any update on this?

This should be fixed ASAP as cloudfront is considered broken

[2020-04-01 06:32] hepatus commented on #446
hi @abhi7cr I have added a new branch. next button is also disabled
![image](https://user-images.githubusercontent.com/15123428/78105883-7fb3ef80-73f2-11ea-9b37-a6a0744e2130.png)

 I tried to refresh master branch and to add development branch just after but it doesn't work.

 I have exactly the same problem with an other project : I have deployed master branch successfully but i can't deploy an o

[2020-04-01 06:41] jacob-a-hall opened #554 "Domain activation failure; CNAMEs associated with different resource"
**App Id**:  tipple
**Region**: us-east-1
**Step**:  Domain Activation
**Status**:  Failed, CNAME

**Issue/question**
I'm having what seems to be a common issue connecting my Amplify app to an AWS registered custom domain name.

**Error message**
One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
I deployed the app on Amplify earlie

[2020-04-01 08:57] tkjaergaard commented on #296
Hi @gwryssekk,

I don't know if it's related, but I have just experienced that I'm getting stuck at the provisioning step when pushing to GitHub.

https://eu-central-1.console.aws.amazon.com/amplify/home?region=eu-central-1#/d3ab2d1gmwnk9b/dev/21

and

https://eu-central-1.console.aws.amazon.com/amplify/home?region=eu-central-1#/d3ab2d1gmwnk9b/master/14

[2020-04-01 13:19] grudra7714 commented on #115
+1

[2020-04-01 16:07] Purii opened #555 "Domain activation is Failed - Migrate from CloudFront?"
**App Id**: d1er84b22awwlt
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
The domain has been connected to CloudFront + a certificate is issued through ACM.
I want to migrate the application now to Amplify.
SSL Verification seems fine. Just the last step "Domain activation" is failing.
I already deleted the distribution in CF, so the site is currently n

[2020-04-01 16:17] abhi7cr commented on #446
@hepatus Thanks for verifying. So this is happening only with Gitlab or other providers like Git too?

[2020-04-01 16:19] #555 closed

[2020-04-01 18:06] gwryssekk commented on #296
@tkjaergaard -- Hmm, ok, I'll check and see if it is related or if there is another similar issue.

[2020-04-01 18:12] pbishnupuri commented on #553
Sorry about that @swaminator . What should I change the title to be? And is this what you were looking for for console?

![image](https://user-images.githubusercontent.com/31415137/78171685-75a5e700-741a-11ea-969e-1d5018999c3f.png)

[2020-04-01 18:24] ganipcanot commented on #551
@jonvanausdeln Can you clarify here: Is your question specifically related to the PR preview feature, or just in general are you asking is there a way to access the app URL, or both?

[2020-04-01 18:31] gwryssekk commented on #296
@tkjaergaard --  From the logs I have available, this doesn't seem to be the same issue.  I see that later builds succeeded.  After you encountered this, how did you proceed?  Did you cancel the stuck job or just resubmit?  Also, are you able to access the build logs from the console for these jobs?

[2020-04-01 19:23] tkjaergaard commented on #296
@gwryssekk I click the cancel button form within the UI and the pressed the "redeploy this version"-button immediately after. Nothing but the provisioning-logs was available. Like it never got further.

[2020-04-01 20:13] jhoffmcd commented on #524
I did some testing locally, I believe that what is happening is that the `-e stg` I am passing to the script is getting overridden by `USER_BRANCH` environment variable. This would definitely result in an error because there would not be an environment to match a branch-like `release/1.5.0`.

I believe if we pass something to this script via `-e` then that should override all other `ENV` checks, o

[2020-04-01 21:05] jonvanausdeln commented on #551
Sorry, I just re-read my original post and it's confusing.

We have an app that in the code needs to know it's origin URL (e.g https://master.xxxx.amplifyapp.com", so I inject that at build time.

Ideally, I'd like to get the URL for all branches/PR previews.  As of now, for normal branch builds, I hardcode part of the URL, and pull the URL prefix from "AWS_BRANCH". However, this doesn't work for

[2020-04-01 21:30] Joycehao19 commented on #206
Hi! When you create a new back-end environment on Amplify Console, you could add your auth parameters in environment variables area now without creating your own `amplifypush.sh`.

The way to do it:

1. When you connect your branch, in **Backend deployments**, choose Create new environment, and enter your backend name.
![amplify-newenvironment-1](https://user-images.githubusercontent.com/56848243/

[2020-04-01 21:39] yuyokk commented on #206
@Joycehao19 please advise how to migrate the customer `amplifypush.sh` solution (existing backend) to the proper solution.

Thank you!

[2020-04-01 21:39] Joycehao19 commented on #466
We made the code change of our cypress preTest phase. If you have any questions about this, please feel free to reopen the issue! Thank you!

[2020-04-01 21:39] #466 closed

[2020-04-01 22:16] jacob-a-hall commented on #554
As a follow-up, I deleted the existing CNAME records from the DNS settings and got the same error message.

I'm at a loss here. The domain name is not in use by any other AWS app and none of the documentation I can find troubleshoots what do at this point.

[2020-04-02 00:12] Joycehao19 commented on #206
If you created a back-end via cli and deployed on the console, it would not be affected. If it does, please let us know.

[2020-04-02 03:30] timknapp12 opened #557 "ERR_TOO_MANY_REDIRECTS on a new deployed React App"
I followed the guide at https://aws.amazon.com/getting-started/hands-on/deploy-react-app-cicd-amplify/) step by step to deploy a React App and after it is deployed and I follow the url I get an error:
ERR_TOO_MANY_REDIRECTS master.d3dua5wptaka0z.amplifyapp.com redirected you too many times The error page also says "Try clearing your cookies" which I have looked at but there are no cookies for that

[2020-04-02 05:29] plumbis commented on #115
Is there an ETA for a fix for this issue? The current workaround of deleting the app and recreating it is a major challenge since it requires updating DNS, environmental variables and more. This has impacted our production environment multiple times now.

[2020-04-02 05:58] no-creative-name opened #558 "Option to update available backends for PR previews"
**Is your feature request related to a problem? Please describe.**
I initialized the "Previews" feature for our Amplify project with three environments "develop", "staging" and "master". After some time we decided to switch environments. But the dropdown menu to "Point all Pull Requests for this branch to an existing environment" doesn't seem to update with our new environments. Is there something

[2020-04-02 06:05] no-creative-name opened #559 "Backend environments are not up-to-date"
**Is your feature request related to a problem? Please describe.**
The "Backend environments" tab shows environments that already have been removed. When following the instructions to "Delete" them via the amplify cli, they don't show up there (since they have been already removed).

**Describe the solution you'd like**
Update the backend environments in Amplify console to fit the cli ones.

**Add

[2020-04-02 15:16] damianrr opened #560 "My production backend envirnoment is gone."
**Describe the bug**

I've an Amplify app with 2 backend environments, dev and prod. Dev is tied to a git branch of the same name and production is tied to master (I've another backend env called fuse but I've never done anything with it actually). Everything has worked more or less fine for over a year and suddenly I'm trying to push to production and notice that the web app doesn't update (note

[2020-04-02 15:36] litwicki commented on #115
@plumbis the team is actively working on this as I type and planning to have an update in the next several days. I or the team will update this thread as soon as we have a more information to share.

[2020-04-02 15:43] tmeckhoff commented on #540
Hi @Athena96 has there been any update on our issue?

[2020-04-02 16:35] sammartinez commented on #560
@damianrr This seems to be related to Amplify Console. I have moved it to their repository and let their oncall know

[2020-04-02 16:37] damianrr commented on #560
Thanks @sammartinez

[2020-04-02 17:38] swaminator commented on #560
@damianrr we are looking into it and will get back to you soon.

[2020-04-02 17:42] swaminator commented on #559
@no-creative-name  can you try running `amplify pull --appid XXXX --envName storage` from local machine?

[2020-04-02 17:42] damianrr commented on #560
Thanks @swaminator, let me know if you need anything on my end.

[2020-04-02 17:45] swaminator commented on #560
@damianrr what's your Appid ( found in app setttings > general)

[2020-04-02 17:47] damianrr commented on #560
App ARN
arn:aws:amplify:us-east-1:155161765563:apps/d2poyx4r6wisl6

[2020-04-02 17:55] swaminator commented on #560
@damianrr can you run `amplify env list` from your CLI?

[2020-04-02 17:57] damianrr commented on #560
I get dev and prod. Please note the first image I attached to the original description of the problem here: https://user-images.githubusercontent.com/638567/78265702-d09b1500-74d2-11ea-88d5-b064d877ee0d.png

[2020-04-02 18:01] swaminator commented on #560
Can you go to CloudFormation console and see what amplify stacks you have?

[2020-04-02 18:03] swaminator commented on #557
Amplify Console adds a default redirect to index.html for a 404 which tells me your output folder is incorrect. Can you check the output folder in your build settings?

[2020-04-02 18:04] damianrr commented on #560
I've quite a number of them, do you want me to send something like name, link ... anything?

[2020-04-02 18:07] damianrr commented on #560
https://gist.github.com/damianrr/fc9a30c7a83c039a324ca45ccf35928d

The list is not comprehensive not including here the third unused env here.

[2020-04-02 18:10] swaminator commented on #560
@damianrr can you actually flip the `Show nested stacks` to OFF and filter for stacks that start with amplify-

[2020-04-02 18:13] swaminator commented on #560
@damianrr  what version of the CLI are you using? Is it 4.x+?

[2020-04-02 18:17] damianrr commented on #560
Flipping off the switch I have:

- portal-20190528145021
- portal-20190328173653

One should be my dev and the other my prod envs (I'm guessing here)

My prod env is currently working but I'm unable to modify it. I noticed the issue by commiting and pushing some changes which up until now triggers a build/deploy action through the Amplify Console, that's broken and I can't push changes to the back

[2020-04-02 18:18] damianrr commented on #560
BTW, there's a third env a co-worker created with it's stack but he didn't do anything else beyond creating and pushing the environment.

[2020-04-02 18:39] gwryssekk commented on #296
Thanks, @tkjaergaard....I'll dig a bit more and see what I can find.  After you cancelled and redeployed did it succeed?

[2020-04-02 18:48] swaminator commented on #436
@2manoj1 we have an issue with hidden folders not deploying right now which we have prioritized a fix for. One way to unblock is to change the folder which you deploy to one without a `.`

[2020-04-02 18:57] ganipcanot commented on #560
@damianrr Can you please try again, you should be able to see your prod backend environment now.

[2020-04-02 19:01] damianrr commented on #560
I can see it now!

Thanks so much for the help guys!

PS: What was going on?!

[2020-04-02 19:10] ganipcanot commented on #560
@damianrr Glad it is now working for you and you are unblocked.  We are currently investing into how this backend environment went missing.

[2020-04-02 19:17] damianrr commented on #560
Fair enough. Thank you all!

[2020-04-02 20:04] timknapp12 commented on #557
@swaminator thanks for the quick response! Below is the default yml that was creating in build settings. Is that helpful?

version: 0.1
frontend:
  phases:
    preBuild:
      commands:
        - npm ci
    build:
      commands:
        - npm run build
  artifacts:
    baseDirectory: .next
    files:
      - '**/*'
  cache:
    paths:
      - node_modules/**/*

[2020-04-02 20:06] ganipcanot commented on #425
If you paste your appId please also paste the region i.e. "us-east-1" for example this will help us look into the issue you're facing.

[2020-04-02 20:10] ganipcanot commented on #559
@no-creative-name Can you please provide your appId and region so we can investigate what backend environments we are seeing on the console side.

 Under appSettings --> General it will look something like this:

arn:aws:amplify:**<region>**:<accountId>:apps/**<appId>**

[2020-04-02 20:20] swaminator commented on #560
@damianrr glad to see you're unblocked. Did your prod backend ever show up on the 'Backend environment' tab?

[2020-04-02 20:41] prasaddattu478 commented on #425
Here is the appID: apps/d3px7gwvqi6isz

Region: us-east-2

@Joycehao19, We have raised raised this issue two months back but we have not heard any thing from your team. Can you please let us know what is the status on it?.

[2020-04-02 21:23] timknapp12 commented on #557
@ganipcanot  It is not a test, but is meant to be real app. The AppArn is:
`arn:aws:amplify:us-east-2:923533702251:apps/d3dua5wptaka0z`

[2020-04-02 21:43] ganipcanot commented on #557
@timknapp12 Thanks for the info!  It looks like your application is missing an index.html page - that is required for Amplify applications.

@swaminator Please correct me if I'm wrong here but AFAIK an index.html file is required.

[2020-04-02 21:52] #560 closed

[2020-04-02 22:07] ganipcanot commented on #557
Also looks like the output folder is ".next" - we currently have an issue deploying to hidden folders which we are working on resolving.

[2020-04-02 22:14] ganipcanot commented on #558
@no-creative-name Can you provide appId/region so I can diagnose further - I want to check what backend environments are associated with this application on our end.

You can find your appId and region by looking at the amplify console:

App Settings --> General --> AppArn: It will look something like this:

arn:aws:amplify:region:accountId:apps/appId

[2020-04-02 22:23] ganipcanot commented on #553
@pbishnupuri Can you please provide your appId and region so we can investigate further?

Under appSettings --> General --> AppArn it will look something like this:

arn:aws:amplify:region:accountId:apps/appId

Also if you can provide the UserPool Id that you manually created in your account.

[2020-04-02 22:24] ganipcanot commented on #552
@iamssen Can you try moving the preBuild commands down to build and see if it works?

[2020-04-02 23:01] ganipcanot commented on #550
@netochaves So you created a pull request (build triggered) => commit some changes to the PR branch => at this point you do a git push (to update the remote repository/branch)?

[2020-04-02 23:23] zahydo commented on #206
@ohadts I lost my data. But, for the moment that is not a problem because I'm working in development. But the same error happens to me with I did push my amplify backend changes in the 'test' environment. I did add some features like lambdas and auth to the 'dev' environment without problems. But when I want to push the same features in the 'test' environment the Amplify Cli raise the same error:

[2020-04-02 23:32] ganipcanot commented on #551
@jonvanausdeln For each pull request we will increment the number against that application so for example you will see something like "https://pr-#.appId.amplifyapp.com" where "#" goes from 1-n.

The appId in this case should be the same as the root application.

Does that help?

Ref:
![image](https://user-images.githubusercontent.com/21091073/78309295-6f3d6b00-74ff-11ea-9062-1a3f127410cc.png)

![

[2020-04-02 23:38] pbishnupuri commented on #553
For my cogito pool?
us-east-2
arn:aws:cognito-idp:us-east-2:199854827602:userpool/us-east-2_Psw3fjvcb
Pool Id: us-east-2_Psw3fjvcb

Will you be needing my amplify app id?

[2020-04-02 23:43] ganipcanot commented on #550
I was able to reproduce this and I am adding it to our backlog for further investigation - thanks for letting us know!

[2020-04-02 23:44] iamssen commented on #552
@ganipcanot It does not work.

## Provision

[code]

## Cloning repository

[code]

## Frontend

[code]

![image](https://user-images.githubusercontent.com/357619/78309665-95f2b480-7586-11ea-8d98-b4813d7810c2.png)

[2020-04-02 23:45] ganipcanot commented on #553
@pbishnupuri Yes, but I think it is "d2hradfi81bvpl" from the screenshot you attached.  You can clarify if this is incorrect.

[2020-04-02 23:53] ganipcanot commented on #552
@iamssen Very strange... would you mind sharing your appId/region so I can look further:

You can find it here:

Under appSettings --> General --> AppArn it will look something like this:

arn:aws:amplify:**region**:accountId:apps/**appId**

Also if possible could you share the git repository you are trying to deploy?

[2020-04-02 23:53] iamssen commented on #552
@ganipcanot and there is no npm at backend phase too.

[code]

[code]

[2020-04-02 23:55] pbishnupuri commented on #553
My AWS Amplify says this:
amplify pull --appId d1bmr9l6bp7f36 --envName dev

So i'm not sure where your number is coming from.

[2020-04-02 23:57] jonvanausdeln commented on #551
Thanks for the appId info, that part makes senses.
And yes, I see that the URL prefix matches the pr #. I just don't see a way to know what that is for each given PR preview build.

[2020-04-03 00:00] iamssen commented on #552
@ganipcanot `arn:aws:amplify:ap-northeast-2:198213787435:apps/d370uahq7kadae`

I'll talk to the company about sharing the git repository.

However, this problem also occurred when setting up other repositories. At the time, it was solved by deleting the app and creating a new one, but this time the method did not work.

[2020-04-03 00:23] ganipcanot commented on #551
It should automatically increment by 1 for each new PR.  You may also be able to use the aws cli to fetch information programmatically if you wanted:

For example: https://docs.aws.amazon.com/cli/latest/reference/amplify/list-branches.html

[code]

[2020-04-03 00:28] ganipcanot commented on #552
Thanks for the appId/region I'll take a look.

[2020-04-03 02:20] slane2016 opened #561 "SSL verification is Running - SSL Verification not working"
**App Id**: d1swc925es36nv
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

I setup a website on wordpress.com, transferred the domain registrar to route53 and then created a hosted zone for the domain. I've setup amplify and it is stuck in SSL verification.
**Issue/question**
A clear and concise description of what the issue/question is.
SSL verification is just stuck.
**Erro

[2020-04-03 02:21] slane2016 commented on #561
Sorry, just read about the 8 hour delay - I'll check again in the morning.

[2020-04-03 06:15] no-creative-name commented on #559
@ganipcanot
Region: eu-west
AppId: d1emvec1xhju1x

[2020-04-03 06:15] no-creative-name commented on #558
@ganipcanot
Region: eu-west
AppId: d1emvec1xhju1x

[2020-04-03 11:28] dpalmeira commented on #8
Hi,
I have the same situation of previous message (dave-moser), custom domain, and I want to protect it with WAF and IpFiltering with IPSet. Could somebody answer if the @garyleefight workaround and the configuration indicated by @blazinaj should work with custom domains added in the Amplify Console?

thank you

[2020-04-03 12:53] Charl070 opened #562 "My custom domains status is saying available but when i try visiting it its saying privacy error"
**App Id**: 225235596198
**Region**: South Africa
**Step**: setting up custom domain
**Status**: available (but not working)

**Issue/question**
I set up my custom domain from GoDaddy and I got a free SSL certificate after setting up my DNS on GoDaddy. The process took a couple of hours until my status was now saying its available. I then visited the domain but it has been saying not a private con

[2020-04-03 13:33] tkjaergaard commented on #296
@gwryssekk Yes, it did. It went right through without any hiccups.

[2020-04-03 13:36] madsrasmussen commented on #296
Hey @gwryssekk,

I am experiencing the same issue with provisioning. The URL to Amplify: https://eu-central-1.console.aws.amazon.com/amplify/home?region=eu-central-1#/d3o9mdzy9l1hu2/master/100 . I canceled the deployment and clicked the "Redeploy this version"-button. After that everything went smoothly.

[2020-04-03 15:51] ganipcanot commented on #559
@no-creative-name Yes - I can see [dev, develop, devnew, prod, stage, storage] in the list of BE environments.  Will have to test this out to see if this is some CLI bug.

[2020-04-03 15:57] Gddeveloper opened #563 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2tpfomiiu71lo
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-04-03 16:48] poolieweb commented on #97
+1 , We are trying to do RegEx with capture groups. Very difficult to replicate redirects from existing systems.

[2020-04-03 17:02] kershnerd opened #564 "Can't connect Github Repo"
** Please describe which feature you have a question about? **
I have a react website up and running by using the Amplify CLI and I am able to deploy successfully by doing an `amplify publish`.

I now want to connect to my GitHub repo but there doesn't seem to be a way to connect my repo to an existing app.

** Provide additional details**
Under my app's general settings, source repository is blan

[2020-04-03 17:59] ganipcanot commented on #564
@kershnerd Is this a full stack application (back-end and front-end)?  Or is it just a front-end application?

Is there some documentation/links you were following if so please share them.

[2020-04-03 18:14] ganipcanot commented on #562
@Charl070 Could you please include your APP-ID and REGION:

You can find your APP-ID and REGION by looking at the amplify console:

App Settings --> General --> AppArn: It will look something like this:

arn:aws:amplify:REGION:accountId:apps/APP-ID

[2020-04-03 19:31] #561 closed

[2020-04-03 19:43] kershnerd commented on #564
This is a front end only (ReactJS) web application.

The other amplify reactjs web applications that are connected to a GitHub repo were created not using the CLI.

This app that isn't working was created using the CLI.

Not sure if this screen shot helps, but here it is:
<img width="1598" alt="Screen Shot 2020-04-03 at 12 37 52 PM" src="https://user-images.githubusercontent.com/5776369/78398785-8

[2020-04-03 19:48] nordinh commented on #249
I'm getting the same error as well when adding the test section to the build script:
`
test:
  phases:
    preTest:
      commands:
        - wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
        - yum install -y ./google-chrome-stable_current_*.rpm
        - export CHROME_BIN=/usr/bin/google-chrome
        - npm ci
    test:
      commands:
        - npm run test

[2020-04-03 20:10] jonvanausdeln commented on #551
Thanks for the additional information.  I'll look, but I don't think that will meet the needs.  I don't see how I can have the build script "know" what PR # to use.  For example, if there are multiple PR's out at the same time, or if the PR gets updated and the preview builds trigger again.

Even if I stored a PR number that incremented with each build, it could easily get out of sync.

It sounds

[2020-04-03 23:14] swaminator commented on #564
@kershnerd Currently an Amplify Console app can either have frontend environments that are manual deploys or continuous deploys. Which means if you have frontend envs that you published manually, you first have to disconnect them to set up Ci/CD.

[2020-04-04 00:13] timknapp12 commented on #557
Ok that makes sense why it's not working then. I just tried with a new repo that is not using nextjs but only react and it works fine. So thanks so much for your help @ganipcanot  and @swaminator ! I will close this issue now :)

[2020-04-04 00:13] #557 closed

[2020-04-04 00:41] kershnerd commented on #564
So I should delete that app and create a new one from a GitHub repo?

[2020-04-04 14:41] thiha-min-thant-20 opened #565 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d24ykkj52hef90
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-04-04 14:42] #565 closed

[2020-04-04 16:56] mib200 opened #566 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dtk5jx4j9tll3
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-04-04 21:03] 2manoj1 commented on #436
@swaminator thank you. Able to deploy Nextjs frontend only useing
`next build && next export`. Its out folder. But if I have Nextjs API how we will deploy in Amplify console?

[2020-04-04 23:42] xitanggg commented on #206
I still receive the same error when using the script

Well, actually, it works the first build then fails for all subsequent one for reasons unknown.

[2020-04-05 14:39] jaltekruse opened #567 "Clicking on environment name is not intuitive for navigating to build history"
**Is your feature request related to a problem? Please describe.**

My builds were failing to go through for a day. I kept trying to upload a new zip. Then thinking it might be smart and avoid re-deploying a binary identical zip, I tried making small modifications to force a new deploy.

I didn't see any details about past deploys. I finally figured out today I could click on the environment name

[2020-04-06 04:25] woodsae opened #568 "Domain activation is Failed - [CNAME is already associated with different resource]"
**App Id**: d2w79oee0e5dqj
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I had previously set up a subdomain, **website.domain.com**, for testing purposes before I migrated my root domain over to my Amplify app.  I have tried to delete that old app and migrate over to my root domain, but I keep getting the error message below.  Any help would be grea

[2020-04-06 05:48] kershnerd commented on #564
I just deleted my app and created a new one connected to my GitHub.  All is working now.

[2020-04-06 05:48] #564 closed

[2020-04-06 08:11] peerhenry commented on #450
I had the same problem and I just spent hours looking for ways to configure Route 53 so that my domain would route to my amplify app. The solution posted by @swaminator should become a big bold warning in the documentation here: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html

[2020-04-06 09:59] pipesorter commented on #262
I have similar need, any suggestion @swaminator ?

[2020-04-06 14:07] prashantkbhardwaj commented on #554
I ran into the same issue if there is any resolution please respond

[2020-04-06 16:22] Joycehao19 commented on #566
Hi @mib200 , would you mind paste the error message?

[2020-04-06 16:22] Joycehao19 commented on #563
Hi @Gddeveloper , would you mind paste the error message here? Thanks!

[2020-04-06 16:32] #563 closed

[2020-04-06 16:40] Joycehao19 commented on #568
Hi @woodsae , if you recently removed it, please wait around 6 hours and try it again. If you still face this issue, please let us know.

[2020-04-06 17:34] Joycehao19 commented on #544
Hi @cray75 , as far as I know, Amplify Console didn't support Keybase encrypted git yet.

[2020-04-06 19:43] jonvanausdeln commented on #550
We are also seeing this issue with about 20% of our Pull Requests.

[2020-04-06 20:07] Joycehao19 commented on #554
Hi @jacob-a-hall, @prashantkbhardwaj  here are some useful links which are really helpful:
[1] https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-route53
[2] https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/migrate-dns-domain-in-use.html#migrate-dns-create-hosted-zone

I deleted my custom domain on amplify console. Today, I re-configure it on Route53 an

[2020-04-06 21:58] MatiMenich opened #569 "High Time to First Byte (TTFB)"
**App Id**: dtfknvkpkvqk4
**Region**: us-east-2
**Step**:
**Status**: Avaliable

**Issue/question**

Hi Everyone!

I had been getting high TTFB time while using Amplify to serve our static content website (https://kushkipagos.com) on our region (Latin America).

This are examples by using webpagetest.org:

USA
https://www.webpagetest.org/result/200406_6M_df3f200de30ec203ea91d82fb79d0799/

VS

Braz

[2020-04-06 23:55] joshbeitler commented on #527
I am running into this same issue - anyone have any leads?

[2020-04-07 01:17] Joycehao19 commented on #206
@xitanggg I truly apologize for the inconvenience, and our team is actively working on fixes of build failures now. Thanks for being an Amplify Console user and giving the conductive feedback. In order to better assist you, and improve our ongoing feature offering, I hope you could kindly share your appId and region to us (App settings => General => App ARN => arn:aws:amplify:${Region}:xxxxxxx:app

[2020-04-07 02:01] xitanggg commented on #206
@Joycehao19 Thanks for getting back promptly.

Here is my App ARN
`arn:aws:amplify:us-east-1:xxxxxxx:apps/d2tcc56dy4swxp`

Build 4 is the only time it works when I introduce the `myamplifypush.sh` with
[code]
, then it starts failing at Build 5 (which I only changed my front end react code and updated a function) to Build 18 with no luck fixing it.

No rush on this, since I am not using amplify co

[2020-04-07 09:52] timothy-bailey-redbox opened #570 "Using regex matches in redirects"
** Please describe which feature you have a question about? **
Rewrites and redirects

** Provide additional details**
I have a SPA that does client side routing. However I've been working on my SEO and want to get good 301s and 404s. I am also pre-rending my routes to static html files, which to some degree makes the routing not behave as a SPA from a server perspective.

So I want to have:
301 "

[2020-04-07 11:16] thomwiggers commented on #284
I'm trying to test my app via a shell script that doesn't produce output other than stdout and a result code – this requirement on artifacts is breaking my build.

[2020-04-07 11:24] ShoubhikBanerjee opened #571 "403 ERROR The request could not be satisfied."
**Issue I am Facing :** This distribution is not configured to allow the HTTP request method that was used for this request. The distribution supports only cachable requests. We can't connect to the server for this app or website at this time. There might be too much traffic or a configuration error. Try again later, or contact the app or website owner.
If you provide content to customers through

[2020-04-07 15:10] awilkins commented on #97
Is this feature implemented with a Lambda@Edge? Maybe if we could get access to the source it would become clearer to people?

[2020-04-07 16:00] F-JJTH opened #572 "Unable to clone repo (403) at Build step"
Hi, using AWS Amplify Console App I try to deploy an app with the built-in «Provision, Build, Deploy, Verify» feature.

Unfortunately the Build step fails with the log below. I already «re-connected the repository» twice then re-launch build but it still fails.

How can I get the «Build» step successfully clone my codecommit repository ?

Regards,

[2020-04-07 16:44] rawbeans commented on #379
@jonvanausdeln Why don't you set up different git branches for each app/package within your mono repo and setup different Amplify environments for each branch?

This is what I currently do. I have the following branches:
-  app1-staging
-  app1-prod
-  app2-staging
-  app2-prod

[2020-04-07 16:56] Joycehao19 commented on #572
Hi @F-JJTH , I can't reproduce your issue. Would you mind re-connect your app? If that doesn't work, would you mind provide your appId and region? (App Setting => General => App ARN =>
arn:aws:amplify:${region}:xxxxxx:apps/${appId})

[2020-04-07 17:05] Joycehao19 commented on #571
Hi @ShoubhikBanerjee , sorry that you have this issue.

What is other web app? Is that an Amplify Console App or from other resources?
Thanks

[2020-04-07 17:07] F-JJTH commented on #572
@Joycehao19 , I clicked the «Reconnect repository» button and followed the procedure but the build still fails. However I can't see «Reconnect app» button, am I looking at the wrong place ?

![Workspace 1_087](https://user-images.githubusercontent.com/6074450/78698408-941c4e80-7902-11ea-98c3-77f438b2b8b9.jpg)

My ARN is : arn:aws:amplify:eu-west-1:674771614881:apps/d22wnu0es6yoja

[2020-04-07 17:28] Joycehao19 commented on #572
Thank you for providing your appId and region. Sorry, I mean that if you could go to `All apps`, click `Connect app`, the `AWS CodeCommit ` to re-build a new app.

[2020-04-07 17:38] F-JJTH commented on #572
All right, I clicked `Connect app` and followed the procedure, now `git clone` works

... after a couple of minutes my application is now deployed :-)

Thanks for your efficient help

[2020-04-07 17:38] #572 closed

[2020-04-07 17:43] Joycehao19 commented on #570
Hi @timothy-bailey-redbox , It seems like

Source:  "</(^[^.]+\\.(?=(css|gif|ico|jpg|jpeg|js|png|txt|svg|woff|woff2|ttf|map|json|xml|webmanifest)$)([^.]+$))/>"
Target: "<*>"
Status: "200"

should work. Would you mind paste a screen shot of 404 response?
ref: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html

[2020-04-07 19:58] ShoubhikBanerjee commented on #571
@Joycehao19 thanks for reaching out... It's an paytm payment gateway integration. And hence it's redirect redirected from their side. And most probably they are out from amplify console app.

[2020-04-07 23:38] Joycehao19 commented on #425
Hi @grudra7714 , Did you build fail in Build#4?

[2020-04-08 00:22] grudra7714 commented on #425
@Joycehao19 Looks like its stuck in the deploy stage again like the other 3 builds and some before that

[2020-04-08 00:43] Joycehao19 commented on #425
@grudra7714 Do you mean all 4 builds fail? Would you mind send the logs from your console?

[2020-04-08 00:47] Joycehao19 commented on #425
Hi @prasaddattu478 , sorry for waiting. We are currently investigating the issue. I'll keep updating  the progress from our team.

[2020-04-08 08:24] timothy-bailey-redbox commented on #570
Hi @Joycehao19 ,

I have set the rule to target: "<*>" and below is my page load in the browser console with that change. You can see the favicons return 404s.

![Browser console](https://user-images.githubusercontent.com/51321602/78758701-74267280-7976-11ea-8b03-8219047bb13b.png)

I have also checked those links with and without the query string and it makes no difference. I also get 404 on my ro

[2020-04-08 09:34] KZafeiropoulosN opened #573 "Add options that define when preview builds get destroyed"
**Is your feature request related to a problem? Please describe.**
We have a process were a certain pr is merged and then processed by the QA team.
The problem is that after a pr is merged you can no longer see the preview link so the QA team cannot access it.

**Describe the solution you'd like**
I would like to have the option to keep the preview link after the pr merges. Or better have the opti

[2020-04-08 15:47] swaminator commented on #206
@xitanggg @yuyokk @KidSysco @kevin-mitchell @paulbartocillo We have a solution posted [here](https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-607499826).

To get it working, revert your backend build settings to use the `amplifyPush --simple` script, add the env variables, and any new environment created through the Console will work.

[2020-04-08 16:14] AntonBurduzha opened #574 "Skipping upload of existing files"
**App Id**:d3q0md74ypfwe9
**Region**:eu-west-2
**Step**:Deploy
**Status**:Succeded

**Issue/question**
During deployment of my react application I faced with next situation. Some static files haven't uploaded. I can't get some images from /static/media/... So, how to fix it?

**Additional information**
[code]

Here my redirects
<img width="1079" alt="Снимок экрана 2020-04-08 в 19 12 09" src="https

[2020-04-08 16:43] prasaddattu478 commented on #425
@Joycehao19, do we have ETA on it?.

[2020-04-08 17:45] swaminator commented on #574
@AntonBurduzha those files should already exist as they got deployed the first time.

[2020-04-08 17:58] AntonBurduzha commented on #574
@swaminator it seems everything is working now, i don't know what was the problem, but during for a few hours i can't get some images. Thanks for your time, though

[2020-04-08 17:58] #574 closed

[2020-04-08 20:43] talebbits commented on #507
@kahdojay  Stuck at `Fetching access logs..`
Trying to get logs for ::
app_id=d19iz5bhap41u2
region=us-east-1

[2020-04-08 21:26] thisbenrogers commented on #313
@koprinkov thank you, this worked for my team.

[2020-04-09 13:24] hanneslehemets opened #575 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2iv52gbkq2uwx
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please f

[2020-04-09 13:33] hanneslehemets commented on #575
After Retry button click:

main.js:35 uncaught at o TypeError: Cannot read property 'isFailed' of undefined
    at https://dfc9lxyf3efp5.cloudfront.net/b819d3b5c68b2b4c707ab22ecddac77032f74f79/main.js:41:77540
    at Array.filter (<anonymous>)
    at https://dfc9lxyf3efp5.cloudfront.net/b819d3b5c68b2b4c707ab22ecddac77032f74f79/main.js:41:77485
    at Array.forEach (<anonymous>)
    at t.n.getFaile

[2020-04-09 14:05] #575 closed

[2020-04-09 15:10] smakinson commented on #460
It looks like this issue was originally in amplify-cli, which seems correct based on the initial request. I am trying to determine if the separate repo for shared Amplify managed aws resources is a good path. I'm now trying to add the read only (_Do you plan on modifying this backend?: n_) setup to a project repo and it looks like that generates the `aws-exports.js` file and then tells me to run `

[2020-04-09 16:44] rensftw opened #576 "Previews to be automatically built after base branch change"
**Is your feature request related to a problem? Please describe.**
A repo that I am working on has previews enabled only for the `master` branch.
I created a PR for merging a `feature-improvement` against a `random` base branch.
Later on, I changed the base branch to `master` but the PR never appeared as a preview in the Amplify console.
I'm assuming that's because the PR was not initially based o

[2020-04-09 16:53] swaminator commented on #425
@prasaddattu478 @grudra7714 @connorford2 @khrome83 @bakersemail @foragerr we have root caused the issue and are working on a fix. Will update you when it is ready.

[2020-04-09 18:15] AshwiniRaysecur opened #577 "Wrap the item list to display first set of items after the last set, given pagination size"
**Description**

The UI has 'Next' button, which calls Amplify auto-generated 'listAll' query.
'Next' button does not wrap the item list to show the first set of items again after the last set is displayed

**Steps to Replicate**
1. Set 'limit' (of displaying number of items in the list) equal to X (eg. 10) in listAll query function
2. Make the number of items in database (dynamo db table), a mult

[2020-04-09 18:55] swaminator commented on #41
@8ctopotamus @dasiarg @afladmark @bordeo @bakeruk @filipemcg @christina-immanuel we are tracking Deploy failures on this ticket #115. Closing this ticket to track it in a single place.

[2020-04-09 18:55] #41 closed

[2020-04-09 20:05] Joycehao19 commented on #186
If you have a file available at test.com/test.html, the url should be https://www.test.com/test. If you still having this issue, would you mind provide your appId and region to us?

[2020-04-09 20:14] Joycehao19 commented on #222
Hi @toddcoulson  I checked your domain www.buckscountytourofhonor.org on https://www.whatsmydns.net/, it seems like your domain is working now. Please let us know if you have any questions about this issue. Thank you!

[2020-04-09 20:19] bclarkicc opened #579 ""The domain you entered is invalid or unavailable" in domain management"
**App Id**: arn:aws:amplify:us-east-2:286574893818:apps/d1fmnb6hndzup5
**Region**: us-east-2
**Step**: setting up custom domain
**Status**: available (but not working)

**Issue/question**
I've deployed an Amplify React app successfully from a repository. I go under Domain Management and click on Add Domain, then type anything on the domain I want to hook this up to (iccsafe.org, though it will be

[2020-04-09 20:19] Joycehao19 commented on #510
Closing this issue, please feel free to re-open if you are still having issues.

[2020-04-09 20:19] #510 closed

[2020-04-09 20:22] toddcoulson commented on #222
Sorry I should have posted again. I was able to get amplify working, but had to remove everything and rebuild. Thanks for the help.

[2020-04-09 20:26] Joycehao19 commented on #222
Cool!

[2020-04-09 20:26] #222 closed

[2020-04-09 20:29] Joycehao19 commented on #249
Hi @nordinh , @david-wallace-croft , would you mind provide your appId and region? (App Setting => General => App ARN => arn:aws:amplify:${Region}:xxxxxxx:apps/${appId}).

[2020-04-09 20:38] Joycehao19 commented on #317
Hi @harryd31 , we are unable to check your app d1ne5iotblnclm, it seems the app was deleted. Please let us know if you are still having the same issue.

[2020-04-09 20:49] Joycehao19 commented on #311
Hi @ravishwetha ,  do you still have this issue?

[2020-04-09 20:57] Joycehao19 commented on #291
Hi @iShavgula-TacTill , would you mind provide your appId and region? Thanks!

[2020-04-09 20:59] porkrines42 opened #580 "Build Stuck on Deploy With Console Output: [ERROR]: Failed to deploy"
Hello,

We are trying to deploy for the first time using Amplify and are facing an issue with the Deploy phase of the build process. The build never completes/times out/errors out (it just stays in the deploy phase). The only thing that does appear in the deploy logs is an error stating: [ERROR]: Failed to deploy.

There is no further description or information and like I stated, the actual build

[2020-04-09 21:07] Joycehao19 commented on #579
@bclarkicc  `iccsafe.org` should work. Can you check it again? (Please make sure no space include)

[2020-04-09 21:16] Joycehao19 commented on #580
Hi @porkrines42 , I checked `dfhhg383a201k`, it seems like the build was succeed. Could you please make sure the appId is `dfhhg383a201k`? If it happened in app:dfhhg383a201k, would you mind take a screen shot from your console? Thanks

[2020-04-09 21:17] Joycehao19 commented on #577
Hi @AshwiniRaysecur , would you mind take a screen shot of the page? Thank you

[2020-04-09 21:25] porkrines42 commented on #580
@Joycehao19 - Yes, I believe that is the correct ID, but please see screenshots below.

![image](https://user-images.githubusercontent.com/50489634/78942154-19307080-7a87-11ea-88d1-58e1ef3ce2de.png)

![image](https://user-images.githubusercontent.com/50489634/78942176-20577e80-7a87-11ea-9519-f19a35e4ec1d.png)

[2020-04-09 21:44] Joycehao19 commented on #580
@porkrines42 Thank you for checking id and providing the screen shot. Would you mind provide your build settings as well?

[2020-04-09 22:23] Joycehao19 commented on #405
Hi @idrisov-ri , Thank you for reporting. I cut a ticket in our team backlog. We will working on investigating a fix!

[2020-04-09 22:41] Joycehao19 commented on #386
Hi @blairtaylor , it seems like you have 3 subdomains and all of them works fine. Do you have any questions about this issue?

[2020-04-09 22:42] #386 closed

[2020-04-09 22:47] sceptyk commented on #478
Hey, @nimacks, is there any update on that?

[2020-04-09 23:01] Joycehao19 commented on #448
Hi @brignano , what do you see when you connect a new app of your repo?

[2020-04-09 23:09] Joycehao19 commented on #455
@daunce @stigalvestad Thank you for reporting this error, we cut a ticket in our team backlog. We will working on a fix.

[2020-04-09 23:23] Joycehao19 commented on #528
Hi @westlakem , in `Build settings` => you could edit `File: amplify.yml`
In your case, you could install the right angular version in `preBuild` field (something like ` npm install -g @angular/cli  `)

[2020-04-09 23:29] westlakem commented on #528
@Joycehao19 By installing the right angular version you mean stepping down angular version to something <= 7?  Why would I do that when the current version is 9.1?  The issue is the version of amplify that is running on the build image is outdated, and won't run on anything above angular 7.

[2020-04-09 23:44] Joycehao19 commented on #514
It seems like your domain works now. Closing this issue, feel free to reopen if you face the same issue. Thanks!

[2020-04-09 23:44] #514 closed

[2020-04-09 23:53] Joycehao19 commented on #568
Hi @woodsae , It seems like you deleted `d2w79oee0e5dqj`. Please let us know if you are still having this issue.

[2020-04-10 00:07] woodsae commented on #568
Hi @joycehao19, I have tried to delete and recreate the resource a few times, and each time I run into the same issue as before. Does this likely mean that Amplify has an old Cloudfront distro with a CNAME of my root domain? Or is it simply because my root domain DNS record currently points to Wix?

[2020-04-10 02:41] Joycehao19 commented on #568
Hi @woodsae , I think the reason might be your root domain DNS points to Wix.

Would you mind provide your appId which connect your domain? or just provide your domain here? I can double check if your domain connect with other CloudFront distribution.

[2020-04-10 03:02] woodsae commented on #568
Hi @Joycehao19 , the appId that I'm attempting to connect to my domain is d1fyhvomad6kaw.  My domain is https://www.trabr.com.

[2020-04-10 04:32] ShoubhikBanerjee commented on #571
I am still helpless... Is anyone there to help me out?

[2020-04-10 06:24] Maheshkumar094 opened #581 "403 ERROR The request could not be satisfied."
**Issue I am Facing**
This distribution is not configured to allow the HTTP request method that was used for this request. The distribution supports only cachable requests. We can't connect to the server for this app or website at this time. There might be too much traffic or a configuration error. Try again later, or contact the app or website owner.
If you provide content to customers through Cl

[2020-04-10 07:32] iShavgula-TacTill commented on #291
`d2wh1ccxeyzij1 `, `eu-west-1`.

thank you, @Joycehao19

[2020-04-10 12:10] bclarkicc commented on #579
@Joycehao19 It definitely does not. I've made sure there are no spaces or anything in it, and I still get that message as of this morning.

[2020-04-10 12:29] porkrines42 commented on #580
@Joycehao19  Here it is!

![image](https://user-images.githubusercontent.com/50489634/78990803-6521fa80-7b05-11ea-995e-3089b97c267a.png)

[2020-04-10 14:19] bclarkicc commented on #579
Looking into it, this has to do with restrictions on my account. Going to close this issue.

[2020-04-10 14:19] #579 closed

[2020-04-10 14:39] porkrines42 commented on #580
@Joycehao19 - I've found the issue! It was with the Artifacts base directory. All good now, thanks for your help!

[2020-04-10 14:39] #580 closed

[2020-04-10 16:49] Joycehao19 commented on #566
It seems your domain works now. Closing the issue, if you have any other questions, please feel free to reopen it.

[2020-04-10 16:49] #566 closed

[2020-04-10 16:53] Joycehao19 commented on #562
Hi @Charl070 , I checked 3 apps in your account. It seems like you deleted d16qh3rtikptdw and the rest of apps works fine. Closing the issue. Feel free to reopen it if you have another questions related to custom domain. Thanks

[2020-04-10 16:53] #562 closed

[2020-04-10 17:13] #544 closed

[2020-04-10 17:16] Joycehao19 commented on #536
Closing this issue, please feel free to reopen it if you have the same issue.

[2020-04-10 17:16] #536 closed

[2020-04-10 17:20] Joycehao19 commented on #533
Closing this issue, feel free to reopen it if you have custom domain issues! Thanks

[2020-04-10 17:20] #533 closed

[2020-04-10 17:22] Joycehao19 commented on #517
Closing this issue, please feel free to reopen it if you still face custom domain issues. Thanks!

[2020-04-10 17:22] #517 closed

[2020-04-10 17:34] Joycehao19 commented on #513
Closing this issue, feel free to reopen it if you still have questions. Thanks

[2020-04-10 17:34] #513 closed

[2020-04-11 09:30] Maheshkumar094 commented on #581
@SwaySway
Thank You very much for your reply
We are using Amplify Console.

[2020-04-11 13:00] thapakazi commented on #481
+1
Ditto, Same for my team multiple projects :( can you help  unblock our devs ?
Can I get your email or something to send my account/projects details. Thanks

[2020-04-11 14:45] maksimfedin commented on #527
Me too. Any updates on it?

[2020-04-12 17:19] colinking commented on #94
We hit this issue, too. Seems like Amplify is doing some sanitization (limiting to 10 characters, etc.), but isn't doing enough because branch names with non-alphabetical characters are converted to dashes, which aren't allowed in environment names.

[2020-04-12 17:38] goldmont opened #582 "Artifacts baseDirectory needs hardcoded path"
** Please describe which feature you have a question about? **
Hi,

Frontend path: `frontend/client/v1`
Frontend build path: `frontend/client/v1/build`
Frontend node_modules path: `frontend/client/v1/node_modules`

Since there can be multiple versions of my frontend, I need to compose the path by concatenating environment variables. I can't get the deploy work because Amplify cannot find neither t

[2020-04-13 14:59] kimfucious commented on #206
Hi.  I'm here, because I setup a project with Amplify CLI, using Auth, which includes federatedSignIn.

I did this with an an initial environment, dev.

In the past, when ready to deploy to production (or staging), I'd (in the Amplify Console) connect a repo, and create a new env, prod, from the master branch.

From what I see happening, is that the build is choking on the fact that there is no OA

[2020-04-13 15:11] KidSysco commented on #206
Yes, you are at the right place. We tend to see that issue a lot...

So I might suggest to AWS...

Come up with some way to manually deploy this stuff. Then when it breaks, we can at least follow some manual steps to deployment, like copying files to S3 or EC2 ourselves.

After seeing this error from so many people now, I think back and wonder if I would have stuck with Amplify for my project, if

[2020-04-13 15:30] kimfucious commented on #206
And just to rub salt in the wound, my prod environment shows in the console only.  It does not show, if I look in User Pools.  If I want to delete it in the console, I see this:

![image](https://user-images.githubusercontent.com/26792769/79133459-427a3500-7dd6-11ea-9da6-489c0f9b072a.png)

When I try to check out prod via the CLI, is says:

[code]

[2020-04-13 15:36] BigTom opened #583 "cypress CI CD hangs during test phase"
Hi,

I am trying out the cypress cicd example here: https://aws.amazon.com/blogs/mobile/running-end-to-end-cypress-tests-for-your-fullstack-ci-cd-deployment-with-amplify-console/

I am probably doing something dumb but I cannot see it.

It provisions and builds OK and then, during testing it hangs.  The last log lines are:

[code]

The amplify.yml is here:

[code]
I originally had the npx-wait-on

[2020-04-13 17:15] nimacks commented on #236
@patleeman , a fix has been pushed out for this. Feel free to close this ticket after verifying.

[2020-04-13 17:17] adriencg commented on #577
@AshwiniRaysecur Would you mind clarifying: Is this an Amplify Console issue you're reporting or a UI Component (Amplify Framework) one?

As Joyce mentioned, a screenshot would be helpful.

[2020-04-13 17:20] adriencg commented on #581
@Maheshkumar094 Just to clarify: You've a redirect from one app ("App A") to another ("App B") and both are Amplify-hosted web apps, correct?

[2020-04-13 17:24] adriencg commented on #582
@goldmont Thanks for your question. I'll try to repro this today, and should get back to you shortly about what the issue could be.

[2020-04-13 17:26] adriencg commented on #583
Hey @BigTom . Thanks for posting this issue. I'll look into whether or example is working or not and get back to you.

[2020-04-13 17:29] goldmont commented on #582
@adriencg Thank you man.

[2020-04-13 17:52] Maheshkumar094 commented on #581
@adriencg
Thank You reply
No, both apps are not hosted on Amplify
We are integration Paytm payment gateway with app hosted in Amplify ("App A" & "https://AppA.amplify.com"). We provide a callback url of our app ("https://AppA.amplify.com/callback") to the payment gateway to redirect the response.
When payment gateway redirects this URL this error occurs.
I hope this will clarify your query.
Please

[2020-04-13 17:57] adriencg commented on #568
@woodsae On our end it looks like the domain you've provided is already associated with a Cloudfront distribution in one of your AWS accounts. Can you confirm if this is the case? If so, you'll need to delete that Cloudfront account, or associate your amplify app with a different domain (e.g. app.trabr.com)

[2020-04-13 17:57] NL33 opened #584 "Amplify is not uploading all my deployment build files"
** Please describe which feature you have a question about? **

I am using the Amplify console to deploy my Angular 8 app.  Deployments have stopped working properly, and it seems that **Amplify is not deploying all the files in my distribution build**. What could be happening?

The deployments seem to degrade each time. I just re-uploaded the same exact bundle, and it showed the error (described

[2020-04-13 18:02] gwryssekk commented on #296
Hi folks, thanks for the updates here. =  While we did fix one issue that was causing this to occur it seems there is another one we have to track down.  I'm going to create a task to have the team look into this in detail.

[2020-04-13 18:05] AshwiniRaysecur commented on #577
Screenshot of the App :

![listing screenshot](https://user-images.githubusercontent.com/59932758/79144130-6b75d800-7d8c-11ea-9828-1b2bb4b02c83.png)

----

For the application, the pagination limit is set to 5 in 'listAll' query
+ Case (a)
      1. Total number of items in database (dynamobd) is 11
      2. Application launch displays 5 items (items 1 - 5)
      3. Click 'Next set' button, display

[2020-04-13 18:13] adriencg commented on #528
@westlakem Joyce's suggestion was to install the latest versions of aws-amplify-angular and aws-amplify . You could do `npm install -g aws-amplify-angular@^5.0.0` and `npm install -g aws-amplify@^3.0.0` in `preBuild`. That should override what's preinstalled in the build image.

[2020-04-13 18:27] adriencg commented on #554
@jacob-a-hall @prashantkbhardwaj Please confirm if you're able to connect your new apps following Joyce's guidance above. Otherwise we're more than happy to keep helping you resolve the issue.

[2020-04-13 18:34] adriencg commented on #284
Apologies for the lack of movement on this. I'm going to look more into this, and provide an update.

[2020-04-13 18:35] adriencg commented on #527
Marking as a bug/lack of documentation for now; hope to update this with more details soon.

[2020-04-13 18:38] adriencg commented on #115
We're currently working on testing & deploying the fix, and sincerely apologize for all the inconvenience this has caused.

[2020-04-13 18:59] swaminator commented on #206
@kimfucious did you check out this post? https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-611036436

[2020-04-13 19:02] swaminator commented on #206
@KidSysco sorry to hear that. Would you be open to getting on a call so we can better understand what you went through? Absolutely agree that not being able to deploy is unacceptable.

[2020-04-13 19:21] KidSysco commented on #206
@swaminator Sure I would be willing to have a chat with you.I have AWS Support through my company, and I already went through them. They just pointed me here, so I suppose talking to you is the next step. How do I go about doing that?

[2020-04-13 19:29] Vivalldi commented on #264
I also agree that the preview link should be placed in a comment. Bitbucket users don't have an integrated app (that I'm aware of) to view the status. A comment upon preview deploy completion would suffice for our QA team to preview & approve the PR.

[2020-04-13 20:13] lionzan opened #585 "Hugo pages "password" protect with serverlessrepo-amazon-cognito-passwordless-email-auth"
** Please describe which feature you have a question about? **
password protect

** Provide additional details**

I want to use serverlessrepo-amazon-cognito-passwordless-email-auth to "password" protect pages of a hugo site on Amplify. But I don't understand how to connect that to the password protect.
 According to [Implementing passwordless email authentication with Amazon Cognito](https://aws.