[2020-05-28 14:13] mdepascale commented on #26
I had the same issue with codebuild and amplify, it turns out we had a file changed from camelCase to lowercase and git obviously did not notice.
I solve renaming said file into lowercase (delete file -> commit -> add file with lowercase -> commit)

[2020-05-28 20:24] jsw commented on #386
I've run into the same or very similar issue. Console has been hanging for 10+ minutes on the update. I restarted a few times. Is there a workaround or any way to get insight into the cause?

[2020-05-28 21:41] DavidBrear commented on #206
I was getting this error and then I noticed in my `amplify/team-provider-info.json` file somehow under the `categories` section my `auth` had been taken out, I would look at changes to this file and find one where `auth->{your-auth-group}->hostedUIProviderCreds` is present.

[2020-05-29 00:50] lkolchin commented on #125
That's actually a very good question and I'm wondering what's the rationale behind this config:
[code]
So, why using CNAMEs instead of ALIAS' for subdomains?

[2020-05-29 02:26] jsw commented on #649
In case anyone else lands here, I ran into the same thing. My fix was to logout/login of the aws console.

[2020-05-29 03:32] hbnker31 opened #716 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I already had a custom domain linked to different repository, then deleted that custom domain and added it to a different repository but it failed at domain activation.

**Error message**
Error message: One or more aliases specified for the distribution includes an incorrectly configured DNS record that point

[2020-05-29 06:13] houstonhaynes opened #717 "Hugo build: index.html is not a directory"
I'm getting an odd, mildly tautological error - index.html is not a directory
                                 # Starting phase: build
                                 # Executing command: hugo
d/output/src967043254/src/hugo/public/ondemand/bumblebee/index.html: not a directory
2020-05-29T05:44:02.741Z [ERROR]: !!! Build failed
2020-05-29T05:44:02.874Z [ERROR]: !!! Non-Zero Exit Code detected
2020

[2020-05-29 06:27] houstonhaynes commented on #717
Updated to force the same hugo version in the build process as I use locally (0.71.1) and same issue

2020-05-29T06:22:46.371Z [INFO]: # Retrieved environment cache
2020-05-29T06:22:57.580Z [INFO]: # Ensuring Hugo is version: '0.71.1'
2020-05-29T06:22:57.582Z [INFO]: # Patching Hugo package from 0.55.6 to 0.71.1...
2020-05-29T06:23:00.556Z [INFO]: # Done patching Hugo
2020-05-29T06:23:00.557Z [WAR

[2020-05-29 10:08] robmarshall commented on #115
Any updates?

[2020-05-29 15:08] grajarv7464 opened #718 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource."
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
We are trying to add a domain to a new app in Amplify.
The SAME domain was previously used in a different app in the same Amplify account.
It will not allow us to add the domain again to point to the new app.
I have removed the domain from the account and now it will not allow us to readd.

**Error message**
S

[2020-05-29 17:42] marlonmarcello opened #719 "[Question] Automate environment push and remove"
**Which Category is your question related to?**
Environments and teams workflow.

**Amplify CLI Version**
4.21.0

**What AWS Services are you utilizing?**
Auth, Api, Storage, Hosting, Function, AppSync

**Question**
Suppose I have the following workflow.
A github repo with a `master`, `develop` and `feature` branches.
Developers can only merge to the `develop` and `master` branches through pull re

[2020-05-29 17:49] kahdojay commented on #278
Update: we are rolling out a fix that should reach all regions by end of next week

[2020-05-29 18:10] kahdojay commented on #718
@grajarv7464 to help us troubleshoot, how long did you wait between removal and readding?

If it is an option and won't cause disruption for you, can you delete the custom domain in Amplify Console, delete the DNS records, and recreate after waiting 1.5h?

[2020-05-29 18:17] kahdojay commented on #717
@houstonhaynes can you share your appId, region and example failed build number? Also let us know if your build process in development entails anything other than the standard `hugo` command. If you are also able to share a repro repo it would be helpful.

[2020-05-29 19:13] kahdojay commented on #716
@hbnker31 That error indicates that you still have DNS record(s) that are pointing to the old amplify app / cloudfront distribution and it needs to be updated to point to the new. If you've already confirmed this please share your appid and region.

[2020-05-29 22:08] ryanwilsonperkin commented on #654
Would also love to see this, would be happy to pay more for larger build instance sizes. In CI our build runs in ~1 minute on a powerful server, in Amplify it runs in ~5 minutes. Being able to customize this would substantially speed up our deploys.

[2020-05-30 01:07] PotatoSpud opened #720 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1ghoi9k084iog
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
Something went wrong. Please refer to our troubleshooting guide below to diagnose the issue. After fixing the issue, choose retry below. If retrying fails, please create an issue in our GitHub issue tra

[2020-05-30 16:12] sebmellen commented on #288
Would be great if this were possible. Has caused a lot of issues with domain management — constantly having to recreate apps is not a good UX. Netlify does this better.

[2020-05-30 22:35] tommerkle1 commented on #213
@teslaLDead I am having the exact same issue and followed what you described to resolve- however I am now getting a https://shortener.secureserver.net/error_404 response when trying to navigate to the root domain. Any thoughts?

[2020-05-31 16:20] kingdopamine opened #721 "Custom Domain not loading even though amplifyapp domain is working perfectly fine"
**App Id**:d2xmva4vdetfgh
**Region**:eu-west-2
**Step**:
**Status**:Available

I've set up a custom domain, which (according to AWS Amplify) has been set up properly and is available/connected, however when I go to to the domain, the page doesn't load, and eventually times out. I used to have S3 linked to the domain, which I thought perhaps may be interfering, so I deleted the buckets and the doma

[2020-05-31 16:41] #718 closed

[2020-05-31 21:31] mkorotkov opened #722 "Domain activation is Failed - [old app not available and can't remove it]"
**App Id**: d1bd6ouk90q9of
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Getting a Domain activation error, can't find a way to bypass it

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
I think I managed to install app twice. Old one is available by link

[2020-05-31 21:42] mkorotkov commented on #722
I think I found it out - different sites can have the same app installed. Let me have a look myself

[2020-05-31 21:42] #722 closed

[2020-06-01 03:37] haohao1331 opened #723 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d8uyhyzk7k7q4
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I previously successfully configured my custom domain name to an amplify website. I deleted the website and wanted to use my domain name for another website.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**A

[2020-06-01 05:00] glenkitchen opened #724 "There was an issue connecting to your repository provider (GitHub)"
**Amplify console Url**
https://eu-west-1.console.aws.amazon.com/amplify/home?region=eu-west-1&code=6c9972795c4e3cd07d24#/

**Issue**
Unable to Connect to GitHub when trying to Add Repository.
GitHub authorization is successful but then there is an *issue connecting* error message
Tried to refresh by clicking refresh button.
Tried to reauthorize by revoking AWS Amplify as an Authorized OAuth App,

[2020-06-01 08:44] kingdopamine commented on #721
For anyone else who has this issue in the future, this is what I did.
I deleted the domains from S3 and I also completely deleted the domains from Route 53 hosted zones. I then recreated a hosted zone for each domain, and applied the new NS (name server) values to my custom DNS in my web hosting service.
Finally I deleted the custom domains from Amplify and then set them up again.
Once it it says

[2020-06-01 08:44] #721 closed

[2020-06-01 09:16] KrustyHack commented on #503
Ay @ohsik,

Unfortunately I can't help you a lot. As I said I made lof of manipulations and tadaaaa it worked again... :'D

Maybe try recloning the repo and playing with `amplify pull/push` as I did ?

[2020-06-01 13:48] nagey commented on #509
Yeah — I got that :-) Adding that was how I figured this out in the first!

[2020-06-01 14:26] nagey opened #725 "Bug: 404 Rewrite Rule is Broken!"
This is something that actually seems to have cropped up recently, perhaps in how cloudfront works underneath, or perhaps related to the issue(s) with CF edge caching that seem to have recently been resolved.

The amplify [docs](https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html) suggest that if you want to use a custom 404 rule, you should specify one thusly:
[code]

If you enter

[2020-06-01 15:32] #681 closed

[2020-06-01 16:00] cjsedwards opened #727 "Errors in amplify.yaml are incorrectly reported as a connection error to your app"
If there is a YAML syntax error in amplify.yaml, you get the following:

```There was an issue connecting to your repo provider, click "Re-authenticate app" in General Settings, and then try your build again.```

This is misleading, and let me down 30 minutes of debugging my connection to github before I realized this error had nothing to do with what the actual problem was.

[2020-06-01 16:23] kahdojay commented on #724
@glenkitchen can you share your appId? Did you wait an hour between retries?

[2020-06-01 16:25] kahdojay commented on #727
@cjsedwards thanks for reporting. Can you share your appid and region so we can take a closer look?

[2020-06-01 16:29] cjsedwards commented on #727
https://us-west-2.console.aws.amazon.com/amplify/home?region=us-west-2#/d2bp2r8zohs9b/master/236

[2020-06-01 16:29] cjsedwards commented on #727
FYI - I've resolved my underlying issue, but the incorrect error message is still a bug IMO

[2020-06-01 17:04] Joycehao19 commented on #727
Hi @cjsedwards, where did you get this message? in build stage?

[2020-06-01 17:06] cjsedwards commented on #727
Yes
![image](https://user-images.githubusercontent.com/6901289/83434538-ed32cb00-a3f7-11ea-8994-46a90436c5fa.png)

[2020-06-01 17:20] Joycehao19 commented on #727
Would you mind tell me which syntax error do you have? I tried to add something on my amplify.yaml, but I didn't get the same error message

[2020-06-01 17:33] cjsedwards commented on #727
Here is the syntax I had in my file:
[code]

[2020-06-01 17:35] Joycehao19 commented on #719
Hi @marlonmarcello , Here are some useful links about the way to use Amplify Console and Pr-Previews feature. If you have any questions, please let us know.

https://docs.aws.amazon.com/amplify/latest/userguide/getting-started.html
https://docs.aws.amazon.com/amplify/latest/userguide/pr-previews.html

[2020-06-01 17:35] cjsedwards commented on #727
[code]

[2020-06-01 17:51] Joycehao19 commented on #725
Hi @nagey , If you have /route/index.html , when you open /route, you should see /route/index.html as a 200. (https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#trailing-slashes-and-clean-urls)

I tried to add `[{“source”: “/<*>”, “status”: “404”, “target”: “/404.html”, “condition”: null}]`, my browser still get /route/index.html as 200.
Would you mind send me your appId and the b

[2020-06-01 17:54] nagey commented on #725
If you go directly to the index, yes, it does 200.

Try going just to /route though

If the rule is status 404, it works. If it is status 404-200 (a rewrite) then it will give a 404 on /route, even though it will continue to work as expected on /route/ and on /route/index.html

[2020-06-01 18:07] Joycehao19 commented on #727
I reproduced the issue. Added it to team backlog. Thank you for reporting the issue!

[2020-06-01 18:23] Joycehao19 commented on #725
I tried both 400 and 400-200. Open myamplifyapp.com/route , they all go to myamplifyapp.com/route/index.html

Would you mind send me your appId and branch? I'd like to take look of the logs

[2020-06-01 18:23] marlonmarcello commented on #12
Would love something like that.

[2020-06-01 20:15] abhi7cr commented on #446
@hisham  Sorry for the late response. Unfortunately, we are still not able to reproduce the gitlab specific next issue in our environments. Can you share your app Id and region? To test it, we performed the following steps:
1) Connected a repo from **gitlab** in **master** branch
2) Once the build was running, we then connected the **develop** branch for the same repo. The next button was not disa

[2020-06-01 20:18] jpdentone opened #728 "Domain activation is Failed"
App Id: d29m6go6qnx3lk
Region: us-east-1
Step: Domain activation
Status: Failed

Issue/question
Cant activate the domain

Error message
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

Additional information
I need the application in a subdomain -- subdomain.domain.me -- I setup to exclude the root domain and added the subdomain I need. there

[2020-06-01 20:20] Joycehao19 commented on #714
Hi @Jn-x , you could edit your backend via Amplify CLI, push the change, and rebuild your app in Amplify Console. Amplify Console doesn't support modifying Auth info via environment variable.

[2020-06-01 20:32] Joycehao19 commented on #709
@rortuno-cbba  would you mind share your rewrites-redirects setting?

[2020-06-01 20:47] Joycehao19 commented on #707
Hi @nordinh , if you remove the domain and re-connect it, would it work?

[2020-06-01 20:54] Joycehao19 commented on #696
Hello, you could also add a preBuild section in your amplify.yml and install react-router-dom module
something like:
[code]

Closing for now, if you still have the issue, feel free to reopen the issue

[2020-06-01 20:54] #696 closed

[2020-06-01 20:58] Joycehao19 commented on #683
Hi @ejbogantes , if you remove the domain and re-add it, would it work?

[2020-06-01 21:39] Joycehao19 commented on #640
Hello @kevinwolfdev , do you still face this issue?

[2020-06-01 21:45] Joycehao19 commented on #355
Hello @yinlinchen , do you still face this issue?

[2020-06-01 21:49] Joycehao19 commented on #363
Hello, we released a fix of the bug. Feel free to reopen if you still see the bug

[2020-06-01 21:49] #363 closed

[2020-06-01 22:00] Joycehao19 commented on #552
It seems like some files in your package caused the command not found. Would you mind share your repo with us? or could you please check your package.json or .npmrc file, those files might caused the issue.

[2020-06-01 22:05] hisham commented on #446
Sure app id is d2d6ty1wlg8jch. Region is us-east-1. For me I believe the next button would always be disabled even in step 1. I also did file a support ticket on Feb 28 with video of repro. Support ticket id is 6842412851.

[2020-06-01 22:08] marlonmarcello commented on #719
Hey @Joycehao19 , read though that and that's what I have at the moment.

I was looking for a way to automate the merge of amplify environments with pull requests.

Whenever an amplify environment is related to a branch, like the way it's recommended by the docs here: https://docs.amplify.aws/cli/teams/sandbox, and you want to merge said branch through a pull request, after doing the code review w

[2020-06-01 22:21] jpdentone commented on #728
I did a bunch of stuff and after delete the domain and re-added it is working... I noticed there was a cloudfront distribution that was using the same CNAME i needed, could that be the issue? (i deleted the distribution)

[2020-06-01 22:31] yinlinchen commented on #355
Hi @Joycehao19, I didn't have this issue after I upgraded to Amplify/CLI 4.13+

[2020-06-01 22:31] #355 closed

[2020-06-01 22:32] Joycehao19 commented on #728
That should be the reason. @jpdentone

[2020-06-01 22:52] #728 closed

[2020-06-01 23:23] Joycehao19 commented on #720
Hello @PotatoSpud , did you connect your domain to other place before?

[2020-06-01 23:25] Joycehao19 commented on #723
Hi @haohao1331 , do you know the previous appId which you configured custom domain before?

[2020-06-01 23:27] Joycehao19 commented on #697
Hi @procket-live , do you still face the same issue?

[2020-06-01 23:27] Joycehao19 commented on #710
Hi @Issac909 , what issue did you have?

[2020-06-01 23:31] Joycehao19 commented on #678
HI @grownanny , are you able to configure your domain?

[2020-06-01 23:36] haohao1331 commented on #723
Sorry I didn't record that, is it possible to provide you the domain name and then somehow unhook all the CNAMES? Thanks!

[2020-06-01 23:48] Issac909 commented on #710
None anymore. I was making the mistake if looking for a repo on the wrong
server

On Mon, Jun 1, 2020, 4:28 PM Joyce Hao <notifications@github.com> wrote:

[2020-06-01 23:54] PotatoSpud commented on #720
Yes, it appears that multiple certs on the same domain will silently fail.

On Mon, Jun 1, 2020, at 7:23 PM, Joyce Hao wrote:

--
 Aongus Flood
aflood@dengines.com

[2020-06-02 00:00] Joycehao19 commented on #710
Glad you solve the issue. Closing the issue now, if you have same issues, feel free to reopen it!

[2020-06-02 00:00] #710 closed

[2020-06-02 02:12] grownanny commented on #678
Yes I got it working thanks!

On Mon, Jun 1, 2020, 4:32 PM Joyce Hao <notifications@github.com> wrote:

[2020-06-02 04:00] pmillanp opened #729 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dge4akl9hq9ms
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.
Error message: One or more of the CNAMEs you provided are already associated with a

[2020-06-02 04:01] #729 closed

[2020-06-02 06:10] glenkitchen commented on #724
@kahdojay Apologies. I was trying to connect a repository provider without an app in the console.  Resolved.

[2020-06-02 06:10] #724 closed

[2020-06-02 06:26] Apoorva-lokhande commented on #430
how did you resolve?
same issues

[2020-06-02 06:44] Jn-x commented on #714
Hi, I did want to edit my application in Amplify CLI, but when I tried to use the 'Amplify update auth' command, it didn't work as I expected

What I want to say is that I already have two user pools on AWS. Can the 'amplify update auth' command allow me to replace one with the other?

[2020-06-02 10:35] HeinrichTremblay commented on #331
This feature would be great! For Gatsby based projects, the A/B testing approach by using git branches is the one officially recommended in their docs with Netlify. Here's the link: https://www.gatsbyjs.org/docs/ab-testing-with-google-analytics-and-netlify/

[2020-06-02 12:47] UnSciPreneur opened #730 "Node.js build fails due to unneccessarily low default values on memory limit"
I am developing an Angular project using CodeCommit integration. The project builds locally on my Node.js 12 environment but fails to build with a warning "`An unhandled exception occurred: Call retries were exceeded`" in AWS Amplify.

After fiddling around on an EC2 instance with Node.js 10 I have found that (on the EC2 instance)
a) the build process fails with the above warning but
b) succeeds i

[2020-06-02 15:04] rortuno-cbba commented on #709
<img width="1338" alt="Screen Shot 2020-06-02 at 11 03 26 AM" src="https://user-images.githubusercontent.com/62607240/83536049-beccf280-a4c0-11ea-865b-37e6c1eb54f7.png">
Please see attached.

[2020-06-02 16:17] Joycehao19 commented on #678
Great! Closing the issue now. If you face the same issue, feel free to reopen it.

[2020-06-02 16:17] #678 closed

[2020-06-02 17:00] jimvermillion opened #731 "Environment variables not being overridden"
** Please describe which feature you have a question about? **
Environment variables not getting into build

** Provide additional details**
The following steps used to allow me to change an environment variable
- connect a branch
- update environment variable
- build once more
Then, environment variable is successfully in application at runtime. This is no longer the case.
Relevant build settings

[2020-06-02 17:06] zstix commented on #508
+1 for this feature. Our team accepts contributions via the fork & PR workflow.

[2020-06-02 17:20] nagey commented on #725
App Id is d2asg66bjv0dls, branch is master

if it's possible, I want to get my 404s going to /404.html

[2020-06-02 17:23] nagey commented on #725
(accidentally hit "close and comment" rather than comment)

[2020-06-02 17:24] nagey commented on #725
(accidentally hit "close and comment" rather than comment)

[2020-06-02 18:00] hisham commented on #446
In chrome btw, clicking "Next" in this screen just grays out the Next button. I have to do this in Safari, and even in Safari, in the second screen, Next button goes gray but I re-enable it by editing the html:

<img width="535" alt="AWS Amplify Console 2020-06-02 11-59-58" src="https://user-images.githubusercontent.com/81853/83553640-b7114c00-a4c8-11ea-8de2-ffd4e8b6d3c2.png">

[2020-06-02 18:08] hisham commented on #446
Actually for https://github.com/aws-amplify/amplify-console/issues/446#issuecomment-637712379 - it looks like the reason it's happening is because I have EFF Privacy Badger chrome extension installed (https://chrome.google.com/webstore/detail/privacy-badger/pkehgijcmpdhfbdbbnkijodmdjhbjlgp) and it was blocking gitlab cookie.

After running in Chrome Incognito mode everything works fine. So you're

[2020-06-02 18:41] Joycehao19 commented on #730
@UnSciPreneur , Thank you for reporting this issue!

[2020-06-02 18:50] abhi7cr commented on #446
@hisham Thats great, thanks for looking into this! @hepatus do you have similar extension(s) in your Chrome browser which might be causing the gitlab cookie to be blocked?

[2020-06-02 19:14] jimvermillion commented on #731
[UPDATE] we recently started using an `amplify.yml` in the codebase, rather than relying on the amplify console. There was a small difference we listed the env variables as separate steps
[code]

I've reverted the yml file to be like it is in the first comment and it fixed this issue. Sorry for any inconvenience. Closing the issue.

[2020-06-02 19:14] #731 closed

[2020-06-02 20:36] Joycehao19 commented on #723
Hi @haohao1331 , could you please send an email to aws-amplify-customer@amazon.com <aws-amplify-customer@amazon.com> , include the link of the issue(https://github.com/aws-amplify/amplify-console/issues/723)? We will help you from there!

[2020-06-02 20:42] Joycehao19 commented on #720
@PotatoSpud I can't find your app in our service. Did you delete it?

If you used to connect the custom domain with other place, you need to make sure you are not trying to reuse one of the hostnames. This link might help: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

If you still have issues with custom domain, please let us know!

[2020-06-02 22:39] Joycehao19 commented on #716
Do you still have this issue?

[2020-06-02 23:00] Joycehao19 commented on #679
Hi @neildcruz , it seems like you have already deleted this app. Do you still face this issue?

[2020-06-02 23:07] Joycehao19 commented on #692
Hey @badrhombus , it looks like your app d10x66ku5711ka in Ohio(us-east-2) used this domain. You could remove it from d10x66ku5711ka and re-connect to app d2lwend04neamk.

[2020-06-02 23:20] Joycehao19 commented on #672
Hi @danielnewman82 , it seems like your custom domain associate with a deleted app in us-east-2. could you please send an email to aws-amplify-customer@amazon.com , with the link of the issue(https://github.com/aws-amplify/amplify-console/issues/672)? We will help you from there!

[2020-06-02 23:23] Joycehao19 commented on #655
Hello @webpatser , do you still face this issue?

[2020-06-02 23:26] Joycehao19 commented on #650
Hey @innesian , do you still face this issue?

[2020-06-02 23:43] Joycehao19 commented on #675
Hello @dudestein , did you associate the domain to other service? If so, make sure you are not trying to reuse one of the hostnames.

ref: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

[2020-06-03 02:16] dudestein commented on #675
That was exactly the case. The subdomain was initially attached to a
different load balancer.
I ultimately got it to work. I'm having a hard time with the redirects, but
the domain was activated after a while.

Thank you very much!!!

On Tue, Jun 2, 2020 at 7:44 PM Joyce Hao <notifications@github.com> wrote:

[2020-06-03 04:01] HeinMynn commented on #579
Same Issue. Is it already solved? Can you share me how to solve please?

[2020-06-03 04:32] blairtaylor opened #732 "Domain activation failed - custom domain with valid CNAME record"
**App Id**: d2ctnb7fwe3m0u
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

We've followed the steps to as per documentation to set up a custom domain.
The client is using Route53 and has configured the correct DNS CNAME record.

Using whatsmydns we have confirmed the DNS record as per directions
https://www.whatsmydns.net/#CNAME/_56302cf9c095ed1be302ccff8df3f8ef.aquamobileswi

[2020-06-03 05:50] HeinMynn opened #733 ""The domain you entered is invalid or unavailable" while adding custom domain"
**App Id**:arn:aws:amplify:ap-southeast-1:922599857802:apps/d10enxu4hxhc65
**Region**:ap-southease-1
**Step**: adding custom domain
**Status**: showing error 'The domain you entered is invalid or unavailable'

**Issue/question**
I deployed Gatsby app in amplify from Github Repo. It can successfully deploy and build. Then from Domain Management, I tried to add my domain (DNS managed by Cloudflare)

[2020-06-03 05:59] hepatus commented on #446
hi @abhi7cr , sorry but I tried with chrome and safari, included in incognito mode, without success.
I also tried to disable all my Chrome extensions. next button is still disabled

[2020-06-03 06:11] SandaruwanDKM commented on #207
Having the same issue with my custom domain - https://www.woworderz.com/ . But it's working fine with amplify domain. It was working fine a few days but after connecting my node js backend my main domain converted to not secure. I have created my subdomain using this woworderz.com.

Any idea about this issue? Thanks

[2020-06-03 12:04] bclarkicc commented on #579
@HeinMynn My AWS account actually had permission restrictions on it that were preventing me from doing this. Those permissions just had to be added to my account by our administrator, and it was fixed. Obviously may be different for you.

[2020-06-03 15:04] Purii opened #734 "Domain activation is Failed –  One or more of the CNAMEs already associated"
**App Id**: d23ultcrzc1rvs
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I want to migrate two subdomains (www. + preview.) to amplify. After adding preview. I wanted to add www. as separate Custom Domain. Amplify complained, that the domain is already used, so I deleted preview.
-> After waiting ~1.5h I tried to add www. + preview. together. But I got

[2020-06-03 17:54] Joycehao19 commented on #734
Hello @Purii , it would take some time to remove the previous settings. Could you please try after 6 hours. If you are still not able to connect your domain, please let us know.

[2020-06-03 18:07] Joycehao19 commented on #733
Hi @HeinMynn , could you please try following links? if you still have this issue, please let us know.
https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-a-third-party-dns-provider.html
https://github.com/aws-amplify/amplify-console/issues/579
https://github.com/aws-amplify/amplify-console/issues/695

[2020-06-03 19:20] blairtaylor commented on #732
Hi. Could someone advise? I don't see the CloudFront distribution in our account. Is there any way to see the CloudFront distribution generated by Amplify to try to diagnose? We've spent 3 days working on this with the client and they are ready to give up on us. We previously set this up for a different client and it worked without issue.

[2020-06-03 20:15] aniruddhawani opened #735 "Allow multiple github sources/authorizations"
**Is your feature request related to a problem? Please describe.**
Currently, amplify console will ask for github authorization the first time. The next time, it will by default continue with the same github credentials. It is not possible to deploy from more than one github account credentials. It is also not possible to deploy repo from one account and repo from the organization(s) that account

[2020-06-03 21:05] Joycehao19 commented on #732
Hi @blairtaylor , Could you please remove and re-add the domain.  It seems like "aqxxxxxxxxswim.com" doesn't associate with any distribution. If you still face this issue, please let us know

[2020-06-03 21:18] blairtaylor commented on #732
Deleted and re-created the custom domain. I receive the same error.

Something went wrong. Please refer to our troubleshooting guide below to diagnose the issue. After fixing the issue, choose retry below. If retrying fails, please create an issue in our GitHub issue tracker.
Error message: One or more aliases specified for the distribution includes an incorrectly configured DNS record that points

[2020-06-03 21:39] Joycehao19 commented on #714
Hi @Jn-x , are you looking for switching/deleting environments via Amplify CLI?  Could you please take a look of this link: https://read.acloud.guru/multiple-serverless-environments-with-aws-amplify-344759e1be08 ?

[2020-06-03 21:52] Joycehao19 commented on #732
@blairtaylor It seems like your custom domain already has a DNS record which point to another one CloudFront distribution. (ref: https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate-domain-names-restrictions)

Can you delete the DNS records, and if it won't cause disruption, delete and recreate the custom domain?

[2020-06-03 22:08] kahdojay commented on #278
@gins0023 @EllieA @nadirabid @DavidNelsonCordelia @afladmark can you let us know if you're now able to deploy the .well-known folder? We rolled out a change and I was about to do it.

[2020-06-04 00:50] Joycehao19 commented on #436
Hello @Sut3kh , do you still face this issue? did you try adding rewrite rule?

[2020-06-04 02:03] HeinMynn commented on #733
Hi @Joycehao19 , I already tried. I got error in step 5 while I press 'configure domain' button.

[2020-06-04 02:39] blairtaylor commented on #732
Thanks @Joycehao19 . The client has sent me a dump of their DNS config which is in Route53. I only see one CNAME pointing to a CloudFront distribution. I do see a number of "acm-validations" records as we tried this setup several times without success. I can send the dump privately if that helps.

[2020-06-04 12:46] dereklucas opened #736 "Amplify eventually strips headers from proxied requests"
We've been using Amplify to serve the front end of our react app and Lambda to handle our API. To avoid CORS issues, our Amplify is set up to proxy requests to `/api` to the Lambda function. We had this configuration working for a few weeks before it broke: Login requests directly to the lambda function continued to work perfectly, returning 200, proper JSON body, and setting the `set-cookie` head

[2020-06-04 15:41] joekiller opened #737 "amplify_codebuild script"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to test my amplify.yml build prior to pushing it up.

**Describe the solution you'd like**
A script similar to [AWS CodeBuild's codebuild_build](https://github.com/aws/aws-codebuild-docker-images/tree/master/local_builds)

**Additional context**
Thank you for the build image though. That is helpful.

[2020-06-04 16:01] Purii commented on #734
Hello @Joycehao19 ! Thanks, it worked 👍

[2020-06-04 16:01] #734 closed

[2020-06-04 16:09] dletozeun commented on #647
Hello,

I have the same issue athough I used the CLI to remove the environment. An error happened during the environment removal causing an infinite waiting loop in the CLI command.

I can remove manually the environment in team-provider-info.json and manually delete all allocated ressources in the cloud but the backend entry still remain in the Amplify console without any way to force remove it.

[2020-06-04 17:15] jibudeh01 opened #738 "Domain activation is Failed - Activation Failed"
**App Id**: dknz6km7cnvos
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
**Note**: Be sure to check the message for se

[2020-06-04 18:04] Joycehao19 commented on #733
@HeinMynn Could you please share your domain with us?
For example, if the domain is awesomedomain.com.au, you could write abcdefghijklm.com.au

[2020-06-04 18:20] Joycehao19 commented on #732
@blairtaylor when you add domain in `Domain management`, in SSL configuration stage, click `Action` -> `view DNS records` , in `3. Configure DNS provider`, there should have a line looks like `    www    CNAME    d1234567abcd.cloudfront.net`. Can you make sure if this line matches the client's record?

[2020-06-04 18:47] chris opened #739 "Build notices have incorrect deploy URL"
For feature branch continuous deploys, the build notices we get for these have the wrong URL in them. The console has the correct URL, where the slash in "feature/branchname" is converted to a dash, but the deploy notice emails keep the slash, and thus the URL is wrong. Here's an example of the email we get:

[code]

And the correct URL (as shown in the Amplify console) would be: https://feature-s

[2020-06-04 19:06] chris opened #740 "Feature branch deploys access denied, but main branch is fine"
I have a Nuxt/Vue app where I have feature branch auto-deploys configured. My main branch deploys just fine, site works, etc. However, the feature branches all result in an AccessDenied error. This may be related to #436 or #75 or #526 or #591, however I tried adding the SPA redirect rule and that did not fix it. Further, it seems (maybe) this is specific to feature branches since the main branch

[2020-06-04 20:30] EllieA commented on #278
@kahdojay I confirm that in my case the .well-known folder gets deployed, as well as any .files. Thanks!

[2020-06-04 21:43] Joycehao19 commented on #739
@chris Thank you for reporting the bug. We will investigate a fix of it.

[2020-06-04 21:56] Amaury-T commented on #225
Is it really working?
Apple specifically say that we should not use any extension...

cf [developer.apple](https://developer.apple.com/documentation/safariservices/supporting_associated_domains_in_your_app)

[2020-06-04 21:57] Joycehao19 commented on #738
Hi @jibudeh01 Your domain was still associated with other CloudFront distribution. It seems like you could go to CloudFront and disassociate it. The accountid is 992xxxxxxxx9.

For you question, I'm not sure if removing CNAME records on Rounte53 would disassociate the domain. You might find answer in https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/Welcome.html.

[2020-06-04 22:23] Joycehao19 commented on #723
Hi @haohao1331 , we just disassociated your domain. It would take some time to be updated. If you still face the issue after 6 hours, please let us know!

[2020-06-04 22:28] Amaury-T commented on #713
same issue here, @dhaveman did you find a solution?

[2020-06-04 22:38] Joycehao19 commented on #740
HI @chris  would you mind share your appId, branch name and region with us?

[2020-06-04 22:53] Joycehao19 commented on #725
Hi @nagey , I can reproduce this issue. Thank you for reporting. I cut a ticket in our team backlog. We will investigate on the issue.

[2020-06-05 07:02] Vineeth-Avvaru commented on #12
Is this feature available now?
I deployed the following website
frontEnd: React + Amplify
backEnd: apigateway + lambda
I want to restrict the access to only my company network
Made a resource policy to restrict ip access for the APIGateway for the backEnd
I am using the password authentication for now in the frontEnd. But How to add ip restriction in amplify?

[2020-06-05 11:43] kingdopamine opened #741 "Video/mp4 files will not load"
** Please describe which feature you have a question about? **
I am connected to amplify through github; my website has a 1.4mb video(very small), yet all I get is the video player but the video itself refuses to loads

** Provide additional details**
I have tested it with 10 different videos that I know for a fact work, but none of them will load

Here is a link to the page if you want to see for

[2020-06-05 12:32] #741 closed

[2020-06-05 16:20] chris commented on #740
@Joycehao19 the app ID is `d1zq9cj8sfb2r4`, and region is us-east-2. There are currently two branches (which are all the branches) that experience this: "feature/amplify-build-config" and "feature/skeletal-html".

[2020-06-05 16:43] Joycehao19 commented on #723
Hi @haohao1331 , You domain should be able to associate with you current distribution now. Closing the ticket, if you face the same issue, please feel free to reopen the ticket.

[2020-06-05 16:43] #723 closed

[2020-06-05 17:11] chris commented on #739
One other aspect - the emails also use the amplifyapp.com domain, instead of whatever custom domain you have configured. Not a huge deal, but would be cool if they had the custom domain in them for ease and to be 100% sure it's rendering properly on that domain.

[2020-06-05 17:21] chris commented on #739
Sorry, that last comment is not quite in the same vein, but maybe while you're looking at it all (since the custom domain, seems to only apply to the main branch vs. the feature branch builds as far as I've seen).

[2020-06-05 20:53] #675 closed

[2020-06-05 21:43] #655 closed

[2020-06-05 21:57] OzzieOrca commented on #512
Happened to me too. I was trying to migrate a domain off a custom Cloudfront setup to Amplify. Doesn't tell me which CNAME is conflicting and the retry button throws this error. I've deleted the domain from Amplify and readded it several times but I've deleted all the CNAME records I feel comfortable with without breaking other services and am still getting the error.

[2020-06-05 21:59] Joycehao19 commented on #709
@rortuno-cbba could you please remove the https://atoxxxx.atoxxx.com/ redirect rule? and test if your subdomain work?

[2020-06-05 23:26] OzzieOrca commented on #512
I finally found the error. If you previously had a domain setup with Cloudfront, you have to go **into the Cloudfront console** and delete the domain from the **Alternate Domain Names
(CNAMEs)** field (under the general tab).

I made a PR to the docs at https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error. I wasted sev

[2020-06-05 23:52] Joycehao19 commented on #661
Hi, @smakinson would you mind share your package.json, or your repo? It seems like some setting in your code made the yarn always set to 1.16.0

[2020-06-06 00:08] Joycehao19 commented on #666
Hi @gaochenyue you can always create a new app if you need to change the provider. Closing the issue for now. If you have another question, please feel free to contact us.

[2020-06-06 00:08] #666 closed

[2020-06-06 00:36] Joycehao19 commented on #708
Hi @pokehouse , what is your build setting? It was not a common issue. Could you please try this link https://stackoverflow.com/questions/45222464/syntax-error-in-angular-app-unexpected-token

[2020-06-06 09:52] tomyitav commented on #704
Hey @swaminator, changed the order as suggested but the problem persists. Any other ideas?

[2020-06-06 14:25] blairtaylor commented on #732
@Joycehao19 We deleted and re-created the custom domain and it is working now.

[2020-06-06 14:25] #732 closed

[2020-06-07 00:12] smakinson commented on #661
[code]

[2020-06-07 13:48] kimfucious commented on #206
I got distracted by a plague, some riots, and a few other projects, but now I'm back looking at this and it's been since April 28 that @Joycehao19  or @swaminator  has commented here.

I wonder if this is considered working, being ignored, or what by the Amplify Console team?

[2020-06-07 14:49] HeinMynn commented on #733
My domain is abcdef-ghijk.com

[2020-06-08 15:04] gaochenyue commented on #599
When we deploy with AWS cli below, it does use the latest commit, but the commit ID always refers to HEAD while we know that each build uses different commit for sure
`aws amplify start-job --app-id <appid> --branch-name <branchname> --job-type RELEASE`

![Screen Shot 2020-06-08 at 11 02 52 AM](https://user-images.githubusercontent.com/9857112/84046167-bb7daf00-a977-11ea-9214-1a2335dc9d46.png)

[2020-06-08 21:58] Ensive commented on #115
Experiencing this issue as well. Will try to readd branch or switch off the tests 🤦🏻‍♀️

[2020-06-08 22:00] ryanwilsonperkin commented on #115
We got an update from our support rep today that a fix is in progress and ETA is 8 weeks

[2020-06-08 22:26] blazinaj opened #742 "Adding the `--minify` flag to the amplifyPush helper script"
** Please describe which feature you have a question about? **
Our CloudFormation stack is now too large, so we have to use the `--minify` flag when we run `amplify push` from the CLI.

See: [#3520](https://github.com/aws-amplify/amplify-cli/pull/3520)

The [amplifyPush](https://github.com/aws-amplify/amplify-console/blob/master/scripts/amplifyPush.sh) script does not allow me to add the `--minify

[2020-06-08 23:02] pmillan94 opened #743 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dge4akl9hq9ms
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I had an amplify app working perfectly fine (d1jgs32zknzsbx) and my domain was successfully paired to it. However, it somehow got deleted from aws. So I had to create a new project(dge4akl9hq9ms) added same Repo, and tried to add custom domain, but it keeps failing because of the erro

[2020-06-09 03:34] #743 closed

[2020-06-09 14:16] matt-e-king opened #744 "SSL verification is Running over 20 hours, CNAME validated and DNS resolves"
**App Id**: d14ef7i3uf7tc5
**Region**: us-west-2
**Step**: SSL verification
**Status**: Running

**Issue/question**
My Custom Domain configuration has been in the "SSL verification" for about 20 hours now. The current status says "We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain." This comment is misleading, because if that CNAME record exists

[2020-06-09 15:43] NehaBharadwaj14 commented on #663
Good to know that this will be supported. Do we have any timeline for this feature?
We use Amplify console for our application as well(which works like a charm) and since we use cookies with a particular domain, this feature would be really helpful for pre-testing phase.

[2020-06-09 16:06] CoreyPritchard commented on #685
It's been two weeks and I still don't have a solution. Can anyone look into this please?

[2020-06-09 16:55] matt-e-king commented on #744
I deleted the custom domain configuration to attempt this a different way.

[2020-06-09 16:55] #744 closed

[2020-06-09 19:19] ambriglia opened #745 "Custom domain error caused production outage time"
Hello,

We had a production outage today for our amplify application and we are trying to determine the root cause. For some reason, we had a custom domain suddenly start throwing 404 errors. Around the outage time, there were some changes with other custom domains and some unrelated redirects/rewrites, but none of those changes should have affected the specific custom domain that went down. To us

[2020-06-09 19:22] sw-yx opened #746 "[request] auto select item if dropdown only has one item"
**Is your feature request related to a problem? Please describe.**

This happens a lot:

![image](https://user-images.githubusercontent.com/6764957/84190461-900ad980-aac9-11ea-9c78-dcfd6b8b0cb6.png)

![image](https://user-images.githubusercontent.com/6764957/84190482-9600ba80-aac9-11ea-8eae-7ce1d9e32221.png)

**Describe the solution you'd like**

we can make the Amplify Console experience a little

[2020-06-09 20:19] ravibanks54 commented on #595
Any updates on this? It's driving up my build time and costs un-necessarily.

[2020-06-09 20:43] badrhombus commented on #692
Thanks Joyce - This is indeed what I would like to do, but my concern is that if I delete the app in us-east-2 will it remove it sufficiently so that I can connect in us-east-1?

[2020-06-09 22:53] shrirupa opened #747 "Why does Amplify create a read/write deploy key in the github repo instead of just read-only deploy key ?"
I am trying to deploy our organizations public github repo using Amplify, but this was flagged as security concern as Amplify creates a SSH deploy key in repository which is read/write. Why does Amplify need a read/write deploy key ? I have been going over the documentation of Amplify and specifically says here(https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-amplify-app

[2020-06-10 00:53] jm345 opened #748 "Domain activation is Failed"
**App Id**: d2hoek8d0rfkss
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Cannot activate domain in amplify. I have added the records generated by amplify to the dns but I am still unable to activate the domain.

**Error message**
One or more aliases specified for the distribution includes an incorrectly configured DNS record that points to another Cl

[2020-06-11 09:29] edlefebvre opened #749 "Frontend build error: TypeError: Cannot read property 'join' of null - at runPackageManager"
**Describe the bug**
Frontend build doesn't work anymore. I think that maybe it has to do with changing from npm to yarn. Removing yarn.lock and switching back to npm does not seem to help though.

[code]

**To Reproduce**
Unfortunately I am not sure how to guide you to reproduce. Should I try to create another branch / env ?

**Expected behavior**
Build successfully, like it did before :)

[2020-06-11 12:37] stntmaniiac commented on #254
Any solution for this?

[2020-06-11 16:51] swaminator commented on #736
@dereklucas can you share your appID? found in app settings > general?

[2020-06-11 16:53] swaminator commented on #736
Sounds like what you're running to is strange behavior so anything you can provide (sample code, steps to repro) would help us.

[2020-06-11 16:57] ganipcanot commented on #746
Thanks for the suggestion - I've added a task in our backlog.

[2020-06-11 17:43] swaminator commented on #749
@edlefebvre seems like the error you're facing is in the backend step of the build settings.

[2020-06-11 17:45] swaminator commented on #745
@ambriglia this is really hard for us to diagnose without more specifics. It appears from your comment that somehow the Route53 records got changed.

[2020-06-11 18:02] swaminator commented on #740
@chris did you figure it out?

[2020-06-11 18:18] ganipcanot commented on #742
Looks like you want to run `amplify push --minify` using the [amplifyPush](https://github.com/aws-amplify/amplify-console/blob/master/scripts/amplifyPush.sh) script.

Could you clarify how you're currently using the [amplifyPush](https://github.com/aws-amplify/amplify-console/blob/master/scripts/amplifyPush.sh) script?

Also if you feel it could be improved or have suggestions we are open to pull

[2020-06-11 18:25] dereklucas commented on #736
@swaminator Yeah, it's definitely pretty odd! I don't think there's anything out of the ordinary for our usage. The production ARN is `arn:aws:amplify:us-west-2:693079194339:apps/d176snxxwt8519` and the staging ARN is `arn:aws:amplify:eu-west-1:463424886012:apps/db9m4urvmq6ju`.
Both of these apps are identical recreations of the previous instances that have seen this problem. (Production three tim

[2020-06-11 18:50] #278 closed

[2020-06-11 19:06] ambriglia commented on #745
@swaminator I agree this is very hard to diagnose here as well. I was told to come here and open a ticket by AWS premium tech support. I have a whole bunch of other great information to share but most of it is sensitive that I do not feel comfortable sharing publicly. I asked the tech support if I could request a conversation with someone from the Amplify Console team but they told me that is not

[2020-06-11 19:29] ambriglia commented on #745
@swaminator To add more context, a coworker and myself, combed through the Cloudtrail logs on the day of the outage and did not find any changes to the Route53 DNS records at that time.

[2020-06-11 20:20] SwaySway commented on #749
Hello @edlefebvre
Could you send over the project you are using to amplify-cli@amazon.com ? We'd like to see if we can reproduce this build error locally.

[2020-06-11 20:58] chris commented on #740
@swaminator no, waiting on @Joycehao19 to see if they can clarify what the problem is.

[2020-06-12 02:42] blazinaj commented on #742
I'm using the default amplify.yaml in the Amplify Console,
[code]
Is there any way that I can add `--minify` using this .yaml directly? Or could you point me in the right direction on the `amplifyPush` script? I'm not sure where I would put the `--minify` flag.

[2020-06-12 02:55] geoseong opened #750 "Amplify Continuous Deployment Problem: Monorepo settings and can't find aws-exports.js"
Hi.

I'm working monorepo project.
- [github repo: kendra-button](https://github.com/awskrug/kendra-button)
  - I've tried with `temp` branch and `feature-frontend-api` branch.

I've tried so many ways to deploy via `Hosting with Amplify Console (Managed hosting with custom domains, Continuous deployment)`.

the major problem for me is,
- amplify's build image can't pull `aws-export.js` file when

[2020-06-12 03:49] rocketmaniac commented on #750
Thanks, @geoseong!  your debug line, - find . -name "aws-exports.js", helped me to figure out the path i needed in my code, i.e.:

import config from '../aws-exports.js'

Your input, plus removing aws-exports.js from .gitignore helped to get my app up and running again in the short-term.  I'm pretty sure committing aws-exports.js is an anti-pattern, but it keeps me moving forward on my prototype f

[2020-06-12 04:09] geoseong commented on #750
@swaminator I also asked it to Discord to @brene , he said you are an expert on that. please help to get the solution how it works and how to solve the problem 😓

[2020-06-12 04:15] geoseong commented on #750
@rocketmaniac like you said, committing aws-exports.js is anti-pattern and I think there is no reason to use amplify build with that way.

so I will wait for the response, and I will use [amplify-cli-action](https://github.com/marketplace/actions/amplify-cli-action) with S3 distribution..

[2020-06-12 07:10] edlefebvre commented on #749
Hi @SwaySway , I'm afraid I'm not authorized to do that. Is there anything I can do on my hand to help debug this? Or where can I find additional logs?

Thank you

[2020-06-12 12:44] plotka commented on #436
I was having the same 403 error and the issue was that the index.html was not in the root folder. Thanks, @rama3319

[2020-06-12 13:31] anshul0915 commented on #14
+1 for me

[2020-06-12 16:13] rocketmaniac commented on #750
@geoseong did amplify-cli-action work for you?  If so, can you please share a sanitized version of your flow?

[2020-06-12 17:22] geoseong commented on #750
@rocketmaniac I was planning to deploy to s3 bucket in amplify-cli-action and configure CloudFront and custom domain manually.
but I got a better solution to make Continuous Deployment in Amplify Console work.

first, make the shell script to execute `amplify pull`

(be careful with environment naming start with `AWS`. is the AWS's system environment)

I got a hint from [#496 ](https://github.com/

[2020-06-12 18:35] gaochenyue opened #751 "commit ID always refers to HEAD"
When we deploy with AWS cli below, it does use the latest commit, but the commit ID always refers to HEAD while we know that each build uses different commit for sure. So it makes the build history useless. We can't know which commit each build was created from. Also no matter which git branch the build is on, the HEAD link always points to "https://bitbucket.org/project/branch/commits/HEAD", whic

[2020-06-12 20:34] Gowiem commented on #115
Just adding my experience to the chorus here so I can follow along. Experiencing this issue for a client unfortunately.

8 weeks seems like a pretty long time considering multiple Amazon team members have jumped on the thread and said a release was imminent. Agreed to whoever called this a P0 bug... Seems like a deal breaker if you have to tell service users to delete a branch / part of their setu

[2020-06-12 21:30] Athena96 commented on #745
Hi @ambriglia yes we do have an internal ticket for your issue and are investigating, thank you!

[2020-06-12 22:26] dbhagen commented on #750
Ok, so this is my current solve for it. It relies on on pre-post git hooks (using Yorkie: https://github.com/yyx990803/yorkie)
First, setup an EXPORT_KEY environment variable (I have it in my `.zshrc` file on my mac, `export EXPORT_KEY=<some random key>`). Hang on to this variable, you'll need it later.

In your package.json file, add these scripts:
[code]

What you'll see is that it will gpg encr

[2020-06-12 22:27] hussainMansoor876 opened #752 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2f9x3ntwi2kis
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-06-12 23:14] ntson2 opened #753 "Cypress Test hangs indefinitely after preTest"
Hi,

I added Cypress test to my Aws Amplify app but the preTest hang definitely and failed eventually. I did look at this https://github.com/aws-amplify/amplify-console/issues/240 but it's not applicable for me.

[code]
This is my amplify.yml:

[code]

And this is my app https://github.com/ntson2/sworld-website/tree/dev
I really appreciate if someone can help. I looked around and could not find th

[2020-06-13 04:38] ntson2 commented on #753
I believe the problem is there was a process running on port 3000 so that's why "npm start & npx wait-on http://localhost:3000" was hanging. I have no idea how to kill that process in amplify localhost.

[2020-06-13 05:47] shotesmagotes opened #754 "Image and site metadata assets not loading"
**App Id**: d1xq0lkga7elzc
**Region**: us-west-2
**Step**: N/A
**Status**: Available

**Issue/question**
I launched a gatsby site with images and queries from the gatsby-config.js. This works from the master branch deployment on the amplifyapp url but not for my custom domain. The assets themselves are not requested - the images do not show up on the network calls.

**Additional information**

[2020-06-13 06:42] bigdave opened #755 "git-lfs support"
**Is your feature request related to a problem? Please describe.**
I'm currently unable to deploy an application that takes advantage of [git-lfs](https://git-lfs.github.com/). It doesn't look like I can install git-lfs myself based on what Amplify exposes. Could you add git-lfs to the default AmazonLinux2 image?

**Describe the solution you'd like**
`apt-get install git-lfs` before cloning the re

[2020-06-13 11:14] simpson commented on #115
Unfortunately the frequent problems with Amplify have forced us to look for other services that are more stable and production ready. It will be an amazing product, they just need to invest in getting the capabilities to a steady state

[2020-06-13 14:14] bwalsh commented on #288
disappointing

[2020-06-13 19:18] Rudy2612 opened #756 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: drwzqbvaso7jy
**Region**: eu-west-2
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-06-13 19:19] #756 closed

[2020-06-13 19:20] Rudy2612 commented on #756
Sorry for my issues, is an error...

[2020-06-13 20:41] rocketmaniac commented on #750
@geoseong , @dbhagen thanks for your solutions!

I ended up going with the `amplify pull` approach so as not to introduce any more dependancies to the build, and it works great.

It turns out the approach is somewhat documented here:

https://docs.amplify.aws/cli/usage/headless#amplify-pull-parameters

but @geoseong i like your doc better as it illustrates the use of the env vars ;-)

Since the am

[2020-06-13 21:26] danielfranca commented on #595
Please, post some updates regarding this issue, it is really annoying and it is slowing down the development workflow by large

@swaminator

[2020-06-14 00:56] TonyLB commented on #276
Any progress on this?  Forcing users to a failed first build is sort of yuck.  I'd like to avoid.

[2020-06-14 02:33] Cosmodon opened #757 "SSL verification is Failed - [BRIEF DESCRIPTION]"
**App Id**: dhkj2p1jb5vit
**Region**: us-east-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
I registered a domain and created a host record.  i keep getting a warning that they cannot verify ownership

**Error message**
Could not verify ownership of the domain. The status of this certificate request is "Failed". One or more domain names have failed DNS validation. Please chec

[2020-06-14 03:46] roeemz commented on #595
Same here, I am assuming that starting from some version Python 3.8 is a requirement, haven't investigated further.

[2020-06-14 04:49] artchen opened #758 "Incoming webhook fails to trigger for Wordpress.com webhooks"
** Please describe which feature you have a question about? **
Incoming webhooks

** Provide additional details**
Amplify's incoming webhooks did not trigger for Wordpress post/page updates (http://en.support.wordpress.com/webhooks/). However, the Netlify webhooks can be triggered correctly.

[2020-06-14 04:51] artchen commented on #758
I noticed the CURL command has an extra query parameter "&operation=startbuild" than the URL. But adding the query parameter did not get it to work.

[2020-06-14 05:33] SudduK commented on #97
Hi berniedurfee,

  Did you resolve the issue with OIDC callback url not preserving parameters?

  I am trying to implement OKTA authentication (OIDC) for a React based SPA and trying to host the application into AWS Amplify (I tried initially to host SPA in S3 as static website along with Cloudfront  and had PKCE errors not supporting http protocol with S3 website endpoint and eventually ended tr

[2020-06-14 06:22] Flrotm opened #759 "Too many redirects deploying nuxt apllication"
When I try to deploy the app the build completes without errors. When I go to the link provided (https://master.d1h0tympeet9my.amplifyapp.com/) I get ERR_TOO_MANY_REDIRECTS .

My build config:

version: 1
frontend:
  phases:
    preBuild:
      commands:
        - npm ci
    build:
      commands:
        - npm run build
  artifacts:
    # IMPORTANT - Please verify your build output directory

[2020-06-14 09:07] daltonfury42 commented on #468
I observed the same issue today

[2020-06-14 09:35] Galaf opened #760 "JS files download infinite loop using redirect"
**Please describe which feature you have a question about?**

Rewrites and redirects

**Provide additional details**

I am using the current redirect:

Source address: ```</^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>```
Target address: ```/index.html```
Type: ```200 (Rewrite)```

(No other redirect / rewrite)

Which is what the documentation says about SPA and what

[2020-06-14 14:36] SamCullin opened #761 "Adding Custom Domain doesnt work with 'www' subdomain"
**App Id**:
dn3nn8kj2eagn
**Region**:
ap-southeast-2
**Step**:
Domain activation
**Status**:
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

We are adding multiple domains to a single amplify app. We successfully connected 3 out of 6 but had to roll back because the core domain could not complete the process.

**Issue/question**
The domain a

[2020-06-14 16:57] 0c370t opened #764 "Slackbot Notifications during deployments"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
This feature is not related to a problem

**Describe the solution you'd like**
Slackbot deployment messages similar to those available with CI/CD tools like CodePiplines and Jenkins.

**Describe alternatives you've considered**
This

[2020-06-14 17:32] eduardotamaki commented on #44
+1

[2020-06-14 18:20] Flrotm commented on #759
Solved it.

Change -npm run build to -npm run generate
(This creates the index.html by default and converts everything to static)
Change baseDirectory to dist

[2020-06-14 18:20] #759 closed

[2020-06-15 01:33] simpson commented on #174
@patspam I’m curious what you switched to, we also need to move off Amplify

[2020-06-15 01:35] simpson commented on #379
Any updates on this @swaminator ?

[2020-06-15 03:24] patspam commented on #174
We built our own CI/CD pipeline using AWS CodePipeline and CodeBuild. It's not that hard to do, and works pretty much exactly how we want it.

I'm thankful that Amplify helped get us over the line for our first MVP release, but it also badly damaged my opinion of AWS overall - we ran into a large number of blocking bugs with the CLI that had no resolution other than deleting your project and start

[2020-06-15 07:23] obrizan opened #762 "Domain activation is Failed — "Something went wrong""
**App Id**: dmm4nahokt30t
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
1. I've tried activate domain for the Amplify deployment, but the activation completed with errors.

SSL creation — success
SSL configuration — success
SSL verification — success
Domain activation — failure

**Error message**
"Something went wrong. Please refer to our troubleshooting

[2020-06-15 08:34] obrizan commented on #762
It seems it was a CloudFront distribution associated with domains.

[2020-06-15 08:34] #762 closed

[2020-06-15 08:36] SergioRosello opened #763 "Domain activation is Failed - Change from S3 to amplify. problem with domain"
**App Id**: dsq5lwrk60v1g
**Region**: eu-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I had a S3 bucket with a cloudfront to host a website, but now I changed to amplify.
I want to use the same domain, so I removed the domain from cloudfront, but this error mesasge keeps appearing.
Is there anything else I have to do in order to remove the previous connection with the

[2020-06-15 15:16] shrirupa commented on #747
Any updates on the above issue ?

[2020-06-15 17:25] swaminator commented on #763
@SergioRosello could you try deleting and re-adding the domain?

[2020-06-15 21:39] sudeep-quantelai commented on #206
I have tried the stuff on this page and I am still getting the same error. If a workaround exists why is this not fixed in the Amplify CLI? I send the values from the parameters to the console. Here is what I have

`Categories: {"auth":{"googleAppIdUserPool":"878889996620-xxxxxxxxxxxx.apps.googleusercontent.com","googleAppSecretUserPool":"xxxxxxxxx",}} Providers: {"awscloudformation":{"configLevel

[2020-06-15 21:53] denissabramovs opened #765 "Access to VPC inside deployment docker runtime"
Allow AWS Amplify deployment process to access existing default VPC or provide an option as AWS CodeBuild project has here:

https://aws.amazon.com/blogs/devops/access-resources-in-a-vpc-from-aws-codebuild-builds/

We tried to implement sequelize/typeorm database migrations inside AWS Amplify deployment pipeline, but failed to do so, because it's isolated from the existing VPC...

This would be gr

[2020-06-15 21:59] sudeep-quantelai commented on #206
I removed the comma but still the same issue. What am I missing? I am only using Google Federation for now. I have created the myamplifypush.sh, updated the build setting and also created environment variables as mentioned in @vajafari 's thread.

[2020-06-16 08:11] SergioRosello commented on #763
Is this what you are asking me to do?
![image](https://user-images.githubusercontent.com/6085350/84748938-9ad9d880-afb9-11ea-992f-4629c07ce218.png)

I feel this is unnecessary, as I could lose the domain, and domain registration fee, which then I would have to re-purchase.
There has to be a alternative solution to this problem.

[2020-06-16 08:34] lakshmishettappakantha opened #766 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: dt1wemm45dd7m
**Region**: ap-south-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
form passed 10 hrs its in ssl verification state
**Error message**
no error message
**Note**: Be sure to check the message for sensitive information.

**Additional information**

[2020-06-16 08:40] thedgbrt commented on #206
Been using amplify heavily to build my startup since May 2019. I rely on auth, lambdas, storage, GraphQL. I also use  the amplify console, and replaced my CI with it when it introduced tests. I have 15+ years of experience as a full stack dev.

Regarding the present issue, after an afternoon trying to fix it, I simply disabled backend build from the console. I can't just rebuild auth from scratch,

[2020-06-16 09:21] edlefebvre commented on #749
Well, I disconnected the branch, made a bunch of changes (that has nothing to do with the issue), reconnect the branch to test again and it works now... Hope I don't see this again, closing for now :)

[2020-06-16 09:21] #749 closed

[2020-06-16 09:32] kevin-mitchell commented on #206
I think these are great points. It's been really interesting to watch this issue, because I can't really tell if

1. there is just a small set of people who are really using Amplify past doing short lived sample projects?
2. The few of us active in this thread are just somehow doing something "wrong" (it doesn't seem that way)

I suspect that there may be larger customers who are using Amplify, bu

[2020-06-16 09:55] yuyokk commented on #206
second this!

I'm genuinely afraid of doing anything with `amplify cli` as most of the time there are errors.

Been using `serverless` for different projects and my experience so far has been super smooth comparing to amplify :|

[2020-06-16 13:04] sudeep-quantelai commented on #206
@thedgbrt Thanks for that feedback. We are working on a product launch and amplify sounded great because we have limited resources and amplify promises to take care of most of the details. But having listened to the comments here and grappling with many such issues I am rethinking this :-(

[2020-06-16 19:08] sw-yx opened #767 "[Request] show public endpoint of Amplify Functions"
**Is your feature request related to a problem? Please describe.**

currently, in the Functions section of the Amplify Console, i can see "Functions added" and "Logs", then links to AWS Lambda and CloudWatch. This looks like a private lambda, with no indication of API Gateway on top of it. I have no idea what the actual public endpoint looks like.

**Describe the solution you'd like**

This detail

[2020-06-16 19:11] swaminator commented on #174
@aaroncaito @patspam @simpson we just announced better monorepo support and this should be resolved. Checkout the launch blog: https://aws.amazon.com/blogs/mobile/set-up-continuous-deployment-and-hosting-for-a-monorepo-with-aws-amplify-console/

[2020-06-16 19:11] #174 closed

[2020-06-16 19:18] jhockett opened #768 "Lambda Layer displayed ARN version not in sync with selected version"
The copy ARN button should display the same Lambda Layer version as selected below. This happens with two total Layer versions as well.

![Screen Shot 2020-06-16 at 11 56 26 AM](https://user-images.githubusercontent.com/1815789/84817908-8c47ed00-afca-11ea-8279-877b89f72f27.png)

[2020-06-16 19:49] Galaf commented on #760
Any news?

[2020-06-16 19:57] kziemski commented on #373
Has there been any update on timing? i'm tempted to move my repo's out of codecommit

[2020-06-16 22:35] aeflorezm opened #770 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d33ix2z64ma54m
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Note**:

**Issue/question**
I am trying to add a custom domain managed by a third-party DNS provider. I have followed all the steps in the documentation but in the last step (the domain activation) is throwing an error. The thing is that the the third partu DNS provider takes around 2 days in creatin

[2020-06-16 23:35] IsaacTrevino commented on #36
+1 This feature would definitely help our company's web app allowing certain networks gain access like covid-19 work from home situation, and a automated WAF since I am quite new to firewalls.

[2020-06-17 10:55] vankessel-it commented on #115
Experiencing the exact same problem with Amplify after adding 18000 tiny files to a static site. You'd think that would be trivial for Amazon.

[2020-06-17 11:30] vankessel-it commented on #115
Experiencing the exact same problem with Amplify after adding 18000 tiny files to a static site. You'd think that would be trivial for Amazon.

[2020-06-17 12:04] Taelkir commented on #132
Don't suppose you remember what you did to fix this? I've had this problem and accidentally fixed it before - now I'm coming up against it again with no memory of what I did to fix it the first time

[2020-06-17 12:05] ambriglia commented on #745
@Athena96 Any update?

[2020-06-17 12:22] brignano commented on #448
Hi @Joycehao19 , sorry I lost track of this issue but noticed it was moved from pending triage to pending release. Is there anything more from my end I can do to help the team debug this?

[2020-06-17 21:14] ohlr opened #771 "Cache invalidation with gatsby apps"
** Please describe which feature you have a question about? **
[Delta Deployments](https://aws.amazon.com/blogs/mobile/aws-amplify-console-supports-instant-cache-invalidation-and-delta-deployments/)

** Provide additional details**

I have a gatsby-amplify app. If I remove pages, aka paths from my gatsby app and access them afterwards they are not accessible on my local builds but on AWS the CDN s

[2020-06-17 21:34] RossWilliams commented on #379
@swaminator looks like this got released, thanks!

[2020-06-17 21:34] #379 closed

[2020-06-17 21:44] shrirupa commented on #747
@swaminator @Joycehao19 Can anyone please look into this ? Thanks in advance.

[2020-06-17 21:51] jonvanausdeln commented on #379
What was released to support it?

[2020-06-17 22:39] OzzieOrca commented on #763
I might have struggled with the same issue. Does https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355 help?

[2020-06-17 22:41] OzzieOrca commented on #770
That error message sounds like you (or someone) had this domain configured with Cloudfront. Does https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355 help?

[2020-06-17 22:42] OzzieOrca commented on #761
I might have struggled with the same issue. Does https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355 help?

[2020-06-17 22:43] OzzieOrca commented on #752
You don't have much context here but I might have struggled with the same issue. Does https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355 help?

[2020-06-17 22:45] OzzieOrca commented on #748
I might have struggled with the same issue. Does https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355 help?

[2020-06-17 22:48] OzzieOrca commented on #738
I might have struggled with the same issue. Removing it from the Alternate Domain Names
(CNAMEs) field in Cloudfront seems to be the solution. https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355

[2020-06-17 22:49] OzzieOrca commented on #720
I might have struggled with the same issue. Does https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355 help?

[2020-06-17 22:49] OzzieOrca commented on #716
I might have struggled with the same issue. Does https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355 help?

[2020-06-17 22:50] OzzieOrca commented on #697
I might have struggled with the same issue. Does https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355 help?

[2020-06-17 22:51] OzzieOrca commented on #679
I might have struggled with the same issue. Does https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355 help?

[2020-06-17 22:52] OzzieOrca commented on #672
I might have struggled with the same issue. Does https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355 help?

[2020-06-17 22:52] OzzieOrca commented on #650
I might have struggled with the same issue. Does https://github.com/aws-amplify/amplify-console/issues/512#issuecomment-639892355 help?

[2020-06-17 23:39] incr3m opened #772 "Build terminates without error and fails after 30 mins duration"
I got a build to create a new preview environment for our app. The build fails on Frontend with these logs;
[code]

![image](https://user-images.githubusercontent.com/3125784/84961383-bb7b6d00-b136-11ea-9950-3265dd3147dc.png)

![image](https://user-images.githubusercontent.com/3125784/84961399-c33b1180-b136-11ea-9ee3-0e51a20bcc57.png)

Does the build gets terminated after the 30mins mark?

[2020-06-17 23:46] OzzieOrca opened #773 "Support redirecting specific route of a specific subdomain"
**Is your feature request related to a problem? Please describe.**
I'm trying to redirect a specific path of a specific subdomain to another url. The Amplify redirect rules only appear to allow redirecting every route of a subdomain or redirecting a specific route of every subdomain.

Say I have 2 subdomains `redirect.example.com` and `noredirect.example.com`. I would like
1. `redirect.example.com

[2020-06-18 01:01] PotatoSpud commented on #720
@OzzieOrca Yes having any other CloudFront references to your domain will have it fail like this.

[2020-06-18 01:53] LucasAndrad commented on #336
@Taieb comment would be a nice complement to the docs.

[2020-06-18 08:14] RossWilliams commented on #379
https://aws.amazon.com/blogs/mobile/set-up-continuous-deployment-and-hosting-for-a-monorepo-with-aws-amplify-console/

[2020-06-18 09:07] vankessel-it commented on #115
Exact same problem with only 10.000 small files on a static website, after adding another language. No solution than to move away from amplify.

[2020-06-18 11:50] larryle commented on #115
I got same issue,  any update pls...

[2020-06-18 12:12] larryle commented on #115
Just made some progress:
1:  In package.json, I changed
 "build": "ng build" to
"build": "ng build --outputPath=dist/",
Now the amplify publish command finished successfully.

2: But now I got a new problems, when I tried open the APP in web browser. I can only see a blank screen, nothing showed up

Here are more details
1) I am  trying to make simple app to  follow this  TUTORIAL,
https://docs.am

[2020-06-18 14:46] HenryBernreuter opened #774 "SSL verification is Failed - Trying to add domain to blog from Amplify Console, Domain is hosted at Route 53"
**App Id**: dahg57414ijrw
**Region**: us-east-2
**Step**: SSL verification
**Status**: Failed

My domain is hosted on Route 53. I am not sure that it is setup properly, I think an example of how it should be setup for Amplify would help. My nameservers are AWS and I have a CNAME record and SOA record.

**Issue/question**
How do I resolve this?

**Error message**
We could not verify ownership of th

[2020-06-18 16:32] SergioRosello commented on #763
Thanks for the comment.
I went as far as deleting the cloudfront distribution.
![image](https://user-images.githubusercontent.com/6085350/85047034-9536eb00-b191-11ea-85d3-881c081fce68.png)

I supposed it wasn't necessary, as AWS amplify would handle the rest.
Maybe I'm completely wrong.
Now, my problem has transformed, from the mentioned above, to the following:
![image](https://user-images.github

[2020-06-18 17:01] swaminator commented on #768
@jhockett not sure how this is an Amplify Console issue as it appears this is an issue with the Lambda console

[2020-06-18 17:01] #768 closed

[2020-06-18 19:27] alizain5693 opened #775 "CSS Styling not applying"
I deployed a simple react app to amplify. It works fine locally and deployment works as well, however the CSS styling only applies to some pages of the website and not others. I don't experience this issue in my local environment. Anybody know how I can resolve this?

[2020-06-19 00:42] agrant-intix commented on #412
@swaminator is there a timeframe on next JS support with Amplify?

[2020-06-19 05:26] MarianGeorgeMorosac commented on #766
Same issue; stuck in SSL Configuration for a second time in 2 days, left it open overnight.
The mentioned CNAMEs are set accordingly.

[2020-06-19 05:31] oelegeirnaert opened #776 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d2hyvve40idtc2
**Region**: eu-central-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
The process is still running after 8hours.

**Error message**
We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain. If this takes longer than 8 hours, please create an issue in our GitHub issue tracker.

**Additional information**

[2020-06-19 08:14] nickchauhan opened #777 "Custom Headers & Build Settings Options for Manual deployment amplify CRA project"
**Please describe which feature you have a question about?**

Custom Headers & Build Settings for Manual deployment project

**Provide additional details**
I have deployed a project using a CRA-based app, with Amplify CLI. I selected manual hosting as per the tutorial [here](https://docs.amplify.aws/start/getting-started/hosting/q/integration/react).

I wanted to add custom headers for the project

[2020-06-19 09:56] mediamaxdk commented on #247
any solution to this issue?

[2020-06-19 11:12] divsbhalala commented on #44
+1

[2020-06-19 12:46] wbroek opened #778 "Build output lets console page crash"
**Is your feature request related to a problem? Please describe.**
When we where adjusting build settings and create a new build (deployment) we could not get to the detail page of the app build anymore, it gives a lot of javascript errors as posted below. Think it is failing because of the build output which contains non compatible javascript

[code]
**Describe the solution you'd like**
Even when

[2020-06-19 19:28] Attersson commented on #455
Same problem here. Using Chrome, latest

[2020-06-19 20:41] svjacob opened #779 "Regex Syntax in Redirect/Rewrite Feature Not Clear"
** Please describe which feature you have a question about? **
Trying to figure out how to use regex within the redirect/rewrite feature

** Provide additional details**

I wanted "darsx.org" to redirect to "darsx.org/x9" with a HTTP 301
however that ends up looping into "darsx.org/x9/x9/x9/x9".

And so I tried to add a regex match for "darsx.org" without any path trailing, to redirect, so that wh

[2020-06-19 22:04] abarrdev commented on #436
For anyone having this issue with React, the 404 rewrite worked for me as well. Thanks @shide1989 !

[2020-06-19 22:38] ChrisKno opened #780 "Domain activation is Failed - Cannot connect subdomain previously connected to CloudFront"
**App Id**: d1p3q0irdty9gr
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I wanted to connect a subdomain (like app.DOMAIN.com) via Amplify. This subdomain was previously associated with a cloudfront distribution that served an S3 bucket. Even after removing the corresponding CNAME record in Route53 I am unable to connect that subdomain. I already creat

[2020-06-20 08:07] roeemz commented on #595
Is there a way to make the Amplify CLI work with Python 3.7 for now? a verified working version or some tweaking on its files?

I'll update if I find where the dependency comes from and how to temporarily fix it for now. (installing Python 3.8 manually consumes too much time...), just need to find the time to get to it, hopefully there will be a fix before then.

[2020-06-20 08:09] tgwilkins commented on #609
I’d also like to see this feature. In the mean-time, I’ve come up with the below workaround.

1. Replace build/test command with custom Node script
2. Inside the custom script, execute the build/test command as a child process (child_process.exec)
3. In the exec callback, check for the presence of an error and update BitBucket accordingly using their API
4. Exit the process using the code from the

[2020-06-20 11:22] neildcruz commented on #679
Thanks, was able to resolve this.

[2020-06-20 11:22] #679 closed

[2020-06-20 12:41] HenryBernreuter commented on #774
Solved it by deleting domain on Amplify and then adding it back

[2020-06-20 12:41] #774 closed

[2020-06-21 14:52] andrewbtp commented on #750
For anybody using @geoseong 's approach or script, I had to switch `profile` to `true` to make it work.

[2020-06-21 15:27] jmosul commented on #749
Hi @SwaySway
I'm having this exact problem.  Mine is just a personal project, so I can send you details over if they would help.  What details would you need?

[2020-06-21 18:44] MarianGeorgeMorosac commented on #766
Any news on this?

[2020-06-21 23:04] AngelsProjects opened #781 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2jfk7rzk85kpz
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-06-21 23:11] jm345 commented on #748
Thanks for responding. Ill take a look now.

[2020-06-22 00:57] dtelaroli commented on #44
+1

[2020-06-22 14:08] TorstenS73 opened #782 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d10hn728d2er93
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I am trying to add a domain which is a zone in Route53 since yesterday. It keeps failing at the final "Domain activation" step with the above mentioned error message.

**Error message**
One or more of the CNAMEs you provided are already associated with a different resource.
**Note

[2020-06-22 16:24] abhi7cr commented on #782
Hi @TorstenS73

These guides are helpful for common custom domain issues. If those guides can not solve your issues, please let us know.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

[2020-06-22 16:33] TorstenS73 commented on #782
Tried all of this in vain several times.
Sorry, but you may need to look into the actual case.

[2020-06-22 16:44] abhi7cr commented on #782
Sure no problem. Taking a look.

[2020-06-22 17:17] swaminator commented on #754
@shotesmagotes did you set up the proper redirects: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa

[2020-06-22 17:44] abhi7cr commented on #782
Hi @TorstenS73,

Looks like the domain is currently associated with only **one** Cloudfront distribution (_which is correct_). However, CNAME records created by your DNS provider might take some time to propagate. You might not see changes until after the DNS record has fully propagated through your DNS provider and the Time To Live (TTL) has expired on already-served DNS requests.

Also, in your

[2020-06-22 18:51] abhi7cr commented on #776
Hi @oelegeirnaert,

By any chance, was the domain transferred to Route53 from elsewhere? If that's the case, you have to make sure to point the NS records in your domain registrar to the ones found in Route53, and try again.

[2020-06-22 19:00] #659 closed

[2020-06-22 19:01] swaminator commented on #740
@chris can you try this out: https://github.com/aws-amplify/amplify-console/issues/436#issuecomment-629872652

[2020-06-22 19:03] TorstenS73 commented on #782
Hi @abhi7cr !

Yes, I did. Actually in the meanwhile more than 24 hours ago.

Our DNS provider is AWS. The domain is registered through a 3rd party, but the name servers are Route53.

[2020-06-22 19:07] TorstenS73 commented on #782
Can you tell me *which* CNAME we are looking for here?

Queries for domain.tld as well as www.domain.tld come back with a NXDOMAIN.

I understand it's those CNAMEs which the Amplify Console wants to set and which it considers already there? Yet I cannot see them.

[2020-06-22 19:33] abhi7cr commented on #782
The **CNAME** here corresponds to your **domain name** which was attached to the CloudFront distribution. According to CloudFront, at the time of the activating the domain, there was already another CloudFront distribution which had the same CNAME (domain name), hence the error. Can you try deleting and re-adding the domain, if you haven't already?

[2020-06-22 19:40] abhi7cr commented on #781
Hi @AngelsProjects,
Was this domain associated with a previous Amplify app/CloudFront distribution? If so, these guides are helpful for common custom domain issues. If those guides can not solve your issues, please let us know.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-c

[2020-06-22 19:47] blazinaj commented on #742
Any comment on this? This has completely bricked our use of Amplify Console. I would prefer to keep using Amplify Console instead of building out a custom CI/CD pipeline.

[2020-06-22 19:48] chris commented on #740
@swaminator oddly, we haven't changed anything, but now our branches are rendering properly. Even more oddly - the branch that I had that wasn't working right, with no changes, is now rendering! So, I'm at a bit of a loss as to what was going on and/or what fixed it.

[2020-06-22 20:12] swaminator commented on #379
@RossWilliams @jonvanausdeln @simpson as @RossWilliams highlighted we just released support  for this. Please open a new issue if you have anything to report with respect to it.

[2020-06-22 20:13] swaminator commented on #416
@kuindji are you still having this issue. I'm closing it since it's been a while since there hasn't been a response. Please reopen it if you're still struggling with this.

[2020-06-22 20:13] #416 closed

[2020-06-22 20:30] swaminator commented on #30
@talebbits @davekiss We launched monorepo support https://aws.amazon.com/about-aws/whats-new/2020/06/amplify-console-supports-deploying-and-hosting-web-apps-managed-in-monorepos/

[2020-06-22 20:30] #30 closed

[2020-06-22 20:39] swaminator commented on #777
@nickchauhan Currently custom headers is not supported for manual deploys. We are working on addressing this so it applies to both CI/CD and manual deploys. As an interim workaround, please switch to Continuous deployments.

[2020-06-22 20:47] danielfolley commented on #44
+1

[2020-06-22 20:53] TorstenS73 commented on #782
I have now deleted the domain the Amplify-Console and re-created it with only www.domain.tld instead of the default domain.tld with a redirect to www.domain.tld. Now it seems to somehow work better.

I am still waiting for "Domain activation" to finish but I can already access the domain again.

Yet I don't know if this is because of the changed config or because you have done anything.

Sorry, bu

[2020-06-22 21:04] abhi7cr commented on #782
@TorstenS73 we haven't changed anything on our end. Is your domain activated successfully?

[2020-06-22 21:09] abhi7cr commented on #775
Hi @alizain5693,

Could you provide the appId, and region?

[2020-06-22 21:11] abhi7cr commented on #780
Hi @ChrisKno,

Could you try deleting the domain from the amplify app, and re-adding it (if you haven't already tried)?

[2020-06-22 21:12] TorstenS73 commented on #782
Yes, we are back in business.
Maybe deleting and adding the domain again is not the same as using the "Retry" button.
Many thanks for your help.

[2020-06-22 21:35] abhi7cr commented on #782
No problem! :) Feel free to close this issue if you don't find any other related problems.

[2020-06-22 21:42] abhi7cr commented on #778
@wbroek can you share your appid and region?

[2020-06-22 22:04] ChrisKno commented on #780
Hi @abhi7cr,

thanks for your suggestion. I tried that multiple times, in different apps. It always fails saying the CNAME is already associated with a different resource. I tested by continuing to use my old cloudfront distribution with the A ALIAS record under app.DOMAIN.com and then renaming this entry to app-test.DOMAIN.com.
So like this there is no way the CNAME app.DOMAIN.com is even in use,

[2020-06-22 22:31] abhi7cr commented on #764
Duplicate of https://github.com/aws-amplify/amplify-console/issues/271

[2020-06-22 22:31] #764 closed

[2020-06-22 22:48] swaminator commented on #751
@gaochenyue why are you deploying a job via the CLI instead of a code commit?

[2020-06-22 22:59] abhi7cr commented on #771
Hi @ohlr . This seems to be similar to https://github.com/aws-amplify/amplify-console/issues/604 . We have a feature request added to our backlog to address this. Let me know if this helps

[2020-06-22 23:14] abhi7cr commented on #760
Hi @Galaf,

Sorry for the delayed response. Could you provide the appid and region?

[2020-06-22 23:22] swaminator commented on #13
@mwarkentin @kmfreas @RyanHow this feature is now available in the Console

[2020-06-22 23:22] #13 closed

[2020-06-22 23:25] #127 closed

[2020-06-22 23:27] abhi7cr commented on #755
Hi @bigdave , thanks for reporting. I have added this as a feature request to our backlog.

[2020-06-22 23:31] abhi7cr commented on #772
Hi @incr3m,
The default build timeout is **30** minutes (_the docs were not up to date, so I have sent a PR for adding this info_). Meanwhile, if your build takes more than 30 minutes, you can override the default build timeout using an env variable: **_BUILD_TIMEOUT** (_App settings > Environment variables)_. Let me know if you have further questions.

[2020-06-22 23:38] abhi7cr commented on #780
Hi @ChrisKno,

Just to understand, there is no Cloudfront distribution which has the CNAME as your domain name, and when you tried deleting the domain from the amplify app and re-adding it, you still got the same issue?

[2020-06-22 23:53] ChrisKno commented on #780
@abhi7cr your comment totally helped me fix it now. I was always checking that there were no CNAME entries in Route53 - unaware that within the CloudFront settings there is the option to specify a CNAME (which does not appear in Route53, which is why this is confusing...)

I removed it from both Route53 and CloudFront settings, now I was able to add the Domain.

Appreciate your help, thank you!

[2020-06-22 23:53] #780 closed

[2020-06-23 00:01] aeflorezm commented on #770
Yes, that was very helpful.  Thank you very much and I do apologize for the long answer. The third party provider took a while and a was not sure. Thanks again for the quick reply!

[2020-06-23 00:01] #770 closed

[2020-06-23 00:38] abhi7cr commented on #779
@svjacob The reason for the infinite redirects is the following:

Say you have the following 301 rule:

 https://foo.com -> https://foo.com/bar

Now you request the url as https://foo.com. The following happens in sequence:

1. We extract the **host name** from the url (https://foo.com) to a given rule’s **source**.
2. If they match, we then see if its a **301** (in this there is a match with the

[2020-06-23 00:43] gaochenyue commented on #751
Thanks @swaminator
Here are two reasons
1. I don't want to deploy on every commit especially for development branch. Build is not cheap.
2. CLI is an official way to deploy in your documentation

[2020-06-23 01:16] abhi7cr commented on #765
Hi @denissabramovs,

Thanks for reporting this! We have added this as a feature request to our backlog.

[2020-06-23 01:20] abhi7cr commented on #773
Hi @OzzieOrca,

Thanks for the reporting this with a detailed explanation :)  Currently we don't support the functionality to skip certain routes under a given subdomain during redirects. We have added this as a feature request to our current backlog.

[2020-06-23 04:53] TanayGarg01 opened #783 "SSL verification is Failed - [BRIEF DESCRIPTION]"
**App Id**: d33q5tvkrhj7zs
**Region**: ap-south-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-06-23 05:30] ohlr commented on #771
@abhi7cr looking forward to the feature.. closing the issue as it's a duplicate. Thank you for the fast response.

[2020-06-23 05:30] #771 closed

[2020-06-23 05:35] deomanish opened #784 "AWS Amplify build failed"
AWS Amplify always filed to build. please suggest.

2020-06-23T05:25:17.762Z [INFO]: Git SSH Key acquired
2020-06-23T05:25:17.832Z [INFO]: # Cloning repository: git@bitbucket.org:appstacklabs/accessduoui.git
2020-06-23T05:25:17.956Z [INFO]: Agent pid 128
2020-06-23T05:25:17.993Z [INFO]: Identity added: /root/.ssh/git_rsa (/root/.ssh/git_rsa)
2020-06-23T05:25:18.222Z [INFO]: Cloning into 'accessduo

[2020-06-23 06:00] ohlr commented on #604
When can we expect this feature?  Hardcoding redirects and deploying 6x on every build contradict the concept of CI/CD...

[2020-06-23 06:04] swaminator commented on #784
This looks like an error in your frontend code. We cannot help with diagnosing individual build failure issues.

[2020-06-23 06:04] #784 closed

[2020-06-23 06:15] swaminator commented on #745
Closing this ticket as you are corresponding internally.

[2020-06-23 06:15] #745 closed

[2020-06-23 06:22] #450 closed

[2020-06-23 06:27] swaminator commented on #647
@dletozeun currently you can use the AWS CLI as a workaround to delete the backend environment after you have deleted the stack manually via the Console - https://docs.aws.amazon.com/cli/latest/reference/amplify/delete-backend-environment.html

[2020-06-23 06:27] #647 closed

[2020-06-23 07:11] Galaf commented on #760
Hi @abhi7cr

The appid is `dj86un7jwa3et` and region is `us-east-1`

[2020-06-23 07:17] Galaf commented on #760
It is to be noted that the issue happens once you log into the page.
Could you give me a contact address so that I send you credentials for a temporary account?

[2020-06-23 08:19] yhuber opened #785 "Problems publishing App"
I am trying to publish my App. It used to work fine, until I updated my auth with social Provider (federation). Now i get this error message:

2020-06-23T08:11:07.616Z [WARNING]: ✖ An error occurred when pushing the resources to the cloud
2020-06-23T08:11:07.616Z [WARNING]: ✖ There was an error initializing your environment.
2020-06-23T08:11:07.616Z [INFO]: init failed
2020-06-23T08:11:07.617Z [IN

[2020-06-23 08:26] #782 closed

[2020-06-23 10:40] lukehedger opened #786 "Monorepo test phase does not run"
I have configured a monorepo build, as [described in the docs](https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#monorepo-configuration). The `amplify.yml` file looks like this:

[code]

The provision, build, deploy and verify steps all complete successfully. **But the test phase does not appear to run at all and just displays the "Test is still pending or has been canceled

[2020-06-23 12:36] OleksandrPopov-Amway commented on #240
Besides other comments I have added env variable with "CI=true" in amplify console, otherwise Test hangs on Starting Development Server..

[2020-06-23 15:54] abhi7cr commented on #786
Hi @lukehedger.

Thanks for reporting. Can you give your **appid** and **region**?

[2020-06-23 16:01] svjacob commented on #779
@abhi7cr thanks for the detailed response, yeah I figured that was the reason for the infinite redirects, and unfortunately this / to /x9 redirect rule won't work, because I have two domains added to the amplify app, and I only want one of those domains to redirect to x9.

This is why I am trying to use the regex syntax, because I was hoping it wasn't a domain level match and more so a match by re

[2020-06-23 16:07] abhi7cr commented on #760
Hi @Galaf you can send an email to aws-amplify-customer@amazon.com, including the link to this issue(#760).

[2020-06-23 16:08] abhi7cr commented on #785
Hi @yhuber,

Could you give me the appid and region? The app was published through Amplify Console?

[2020-06-23 16:30] yhuber commented on #785
Hi @abhi7cr sure:

App-ID: d2qth7s9qped0u
region=eu-central-1

[2020-06-23 16:50] OzzieOrca commented on #773
Thanks for prioritizing it. 😄 Guess I'll need to make multiple apps for now. 😦 I appreciate the answer and the clarification of the current redirect support.

[2020-06-23 17:28] yhuber commented on #785
@abhi7cr oh i missed that, I published through amplify cli in my terminal and then connected it in the Amplify console with a github repository

[2020-06-23 18:16] swaminator commented on #766
Could you try deleting and re-adding the domain? This is a time-sensitive action and sometimes if you do not do this immediately it can get stuck in pending verification.

[2020-06-23 18:17] swaminator commented on #761
@SamCullin please refer to the @OzzieOrca's solution

[2020-06-23 18:17] #761 closed

[2020-06-23 18:22] swaminator commented on #740
@chris we recently released a fix for dot files https://github.com/aws-amplify/amplify-console/issues/278 don't know if that somehow addressed this issue as well? Closing this for now. Please open a new issue if you encounter this again.

[2020-06-23 18:22] #740 closed

[2020-06-23 21:28] abhi7cr commented on #779
@svjacob  Unfortunately, at the current moment we don't have a redirect feature per sub domain. I have added a similar issue #773 as a feature request yesterday.  Also, the regex currently works only with sub-directories(uri), and not the sub domain. We will let you know once its out :)

[2020-06-23 22:38] jm345 commented on #748
Unfortunately I have never used CloudFront before so I dont have any prior information in there. Perhaps that is part of the problem?

[2020-06-23 22:44] jm345 commented on #748
@OzzieOrca

[2020-06-23 22:44] abhi7cr commented on #785
@yhuber There is a related issue (**Cannot read property 'Mappings' of undefined**) in the cli project that was closed sometime back: https://github.com/aws-amplify/amplify-cli/issues/3576. The root cause mentioned there were duplicate files generated by text editors. Could you check if you have a similar state?  In your case, the cli command is executed via the amplifyPush script.

If that's not

[2020-06-23 22:47] OzzieOrca commented on #748
Well the error sounds like what I experienced with the domain previously attached to a Cloudfront distribution. Sounds like that's not the case though. Maybe it's used by another Amplify app? Idk how it all works. Hopefully someone from AWS or the docs can help... Sorry you're experiencing this :(

[2020-06-23 22:53] swaminator commented on #751
@gaochenyue I understand that but the bug you identified is long way from being prioritized given some of our other focus areas. A workaround to avoid #1: Add `[skip-cd]` to your commit message and this will automatically skip a build: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#skip-build-for-a-commit

[2020-06-23 23:05] abhi7cr commented on #742
@blazinaj Sorry for the delayed response. The solution for now, would be to have your own version of amplifyPush.sh script, where you would add the `amplify push --minify` command flag upon the initialization call(`init_env`). Let me know if this works.

[2020-06-23 23:13] blazinaj commented on #742
How do I run my own shell script in the amplify.yml file in the console?

[2020-06-23 23:23] #123 closed

[2020-06-23 23:29] abhi7cr commented on #742
@blazinaj You can commit your version of amplifyPush.sh file (_adding the amplify push --minify command at the end of the init_env function_) into your root directory. Then the command section in amplify.yml will run your script with the command you have `amplifyPush --simple`

[2020-06-23 23:31] yhuber commented on #785
Hi,
I looked into that related issue and I also have duplicate files..
I've done all steps attilah suggested. But now i have the following error,
when trying to push the env to amplify with "amplify push" :

[code]

[2020-06-23 23:32] yhuber commented on #785
`✖ There was an error pulling the backend environment prod.
An error occured during the push operation: ENOENT: no such file or directory, open '/Users/yannikhuber/Documents/masquick 2.0/Masquick/amplify/#current-cloud-backend/amplify-meta.json'`

[2020-06-23 23:38] svjacob commented on #779
@abhi7cr thank you for the prompt responses. appreciate it.

[2020-06-24 03:36] blazinaj commented on #742
That worked perfectly. Thank you for the detailed answer. For anyone interested, here is the full script
[code]

[2020-06-24 03:36] #742 closed

[2020-06-24 03:59] abhi7cr commented on #767
Hi @sw-yx,

Thanks for reporting. I have added the above as a feature request in our backlog

[2020-06-24 04:00] geoseong commented on #750
@andrewbtp do you mean `\"useProfile\":true` in `AWSCLOUDFORMATIONCONFIG` in shell script? if it is right, I'll take a note

[2020-06-24 04:34] Galaf commented on #760
I sent the e-mail with test credentials.

[2020-06-24 06:55] #323 closed

[2020-06-24 06:55] #650 closed

[2020-06-24 06:57] #751 closed

[2020-06-24 07:00] swaminator commented on #436
Closing this issue - we are going to update the Create app flow to automatically create a 404 rewrite instead.

[2020-06-24 07:00] #436 closed

[2020-06-24 08:47] dn-masaya-nakamura commented on #14
+1

[2020-06-24 09:08] zetsnotdead commented on #206
We are facing the same issue. Can we get a rough estimate of when this will be looked at?

[2020-06-24 09:17] yassati opened #787 "SSL verification is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2fmotv2l2kmz3
**Region**: us-east-2
**Step**: SSL verification
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-06-24 09:39] lukehedger commented on #786
Hey @abhi7cr - thanks for your message. Here's the info:

- appid: duqrkr4cxsc1a
- region: eu-west-2

[2020-06-24 10:08] manni-p opened #788 "Build failure on amplify"
I am experiencing an issue with amplify and all of a sudden this error is appearing:

[code]

This builds successfully locally but not through amplify. The amplify.yml file is default and has been untouched.

Could we have more information on what this error is or could be?

[2020-06-24 11:58] sudeep-quantelai commented on #206
@zetsnotdead I went down @thedgbrt 's route and pulled the backend out of the build and building it manually for now. Was able to move forward that way. The sad part is that unless you keep track of this thread we will not know if the issue has been fixed when it is fixed.

@swaminator Is there a single place for me to check what bugs have been fixed in each release?

[2020-06-24 13:28] abhi7cr commented on #788
Hi @manni-p,

Thanks for reporting. Could you share the appId and region ?

[2020-06-24 13:39] manni-p commented on #788
Hi, here are the details:

**App Id:** d3ttvrjoreeruz
**Region:** us-west-2

[2020-06-24 14:01] gaochenyue commented on #751
Thanks @swaminator
I believe it is a critical bug because it is very important for developers to track which commit is being released.

[2020-06-24 14:17] andrewbtp commented on #750
@geoseong That's it!

[2020-06-24 15:19] blairtaylor commented on #742
Thanks @blazinaj. How were you able to create a clone of the amplifyPush.sh file (myAmplifyPush.sh in your root directory), step 1? Are you using a custom image?

[2020-06-24 15:32] blazinaj commented on #742
We are using a React SPA, so I just copy and pasted the file into the root. (at the same level as `src`, `public`, `build`, `node_modules`, and `amplify` folders). Then just pushed to the git branch that Amplify Console is watching.

[2020-06-24 15:37] abhi7cr commented on #742
@blairtaylor It is still the default image. By default, when we detect a backend environment in an app, we add the `amplifyPush --simple` command in amplify.yml, which executes our version of amplifyPush.sh file.

What we have done here is to override the default behavior by changing the build command to look at your version of the file 😊

[2020-06-24 15:52] blairtaylor commented on #742
@blazinaj @abhi7cr Got it. Thanks.

So the modified build command would look this this, correct?

backend:
  phases:
    build:
      commands:
        - '# Execute Amplify CLI with the custom helper script'
        - chmod u+x myAmplifyPush.sh
        - ./myAmplifyPush.sh --simple --minify

[2020-06-24 15:54] pdegnan commented on #749
I'm seeing this too. I know the issue closed because it went away for the original poster, but does anyone else have insight?

[2020-06-24 15:56] hsbNicolas opened #789 "Amplify build fails. Process is killed with no explanation (Non-Zero Exit Code detected) in the logs."
**App Id**:

arn:aws:amplify:eu-west-1:469809149803:apps/d13wpvainbnduk

**Region**: eu-west-1
**Step**:
**Status**:

Terminating logging...

2020-06-24T14:43:02.983Z [ERROR]: !!! Build failed
2020-06-24T14:43:03.114Z [ERROR]: !!! Non-Zero Exit Code detected
2020-06-24T14:43:03.115Z [INFO]: # Starting environment caching...
2020-06-24T14:43:03.135Z [INFO]: # Environment caching completed

**Issue/

[2020-06-24 16:04] abhi7cr commented on #742
You wouldn’t need the --minify flag when you are executing the script, since we are not adding a new option. We are just changing the init calls to append minify flag.

[2020-06-24 16:10] blairtaylor commented on #742
@abhi7cr Thanks. I see that now.

[2020-06-24 17:19] abhi7cr commented on #753
Hello @ntson2, The reason it is hanging is because of the following:

`npm start & npx wait-on http://localhost:3000` executes the 2 commands in parallel (_the single '&' runs commands in parallel ). So  **localhost:3000** is never up and running, as it's sent to the background. The wait-on command waits for the port to become 'available' (the term _available here is confusing, but essentially it

[2020-06-24 17:24] SwaySway commented on #749
Hi @jmosul
The build error in the logs looked like a build error in functions. I tried to reproduce this with a change in between versions but I was not able to reproduce. If you have steps to reproduce this or send over your project I can dive into this issue.

[2020-06-24 18:01] jsw commented on #614
I'm looking for something similar. We have our dev environment connected to the `master` branch and our prod environment connected to the `prod` branch. Maintaining the `prod` branch is not clean. All we want to do is "promote" the `master` branch to production. In our non-Amplify apps, we are able to simply publish a GitHub release, which triggers a GitHub Action to deploy to prod. Being able to

[2020-06-24 18:23] abhi7cr commented on #760
Hi @Galaf,

When I checked the SPA redirect rule for your app, it had an additional  **\\** before **.(**. Can you remove that, and try again?

**Current rule:**
`</^[^.]+$|\\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>`

**Expected rule:**
`</^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>`

[2020-06-24 18:31] blazinaj commented on #316
I'm also not seeing this option. We cannot re-create our app, but this feature would be nice to use.
![image](https://user-images.githubusercontent.com/39976117/85612981-40bac200-b60e-11ea-9f75-edc2671c5103.png)

[2020-06-24 19:03] blairtaylor commented on #742
@abhi7cr Thanks.

I have implemented and all seems to be working. Is there a way to view the source for the generated policy files to see the difference that the minification has made in the overall size?

[2020-06-24 19:47] swaminator commented on #663
Feature is now supported: https://aws.amazon.com/blogs/mobile/automatically-create-and-delete-custom-sub-domains-for-your-branch-deployments-with-amplify-console/

[2020-06-24 19:47] #663 closed

[2020-06-24 19:48] swaminator commented on #24
@nikovirtala @jimvermillion @mikedizon @adamJLev @hotgazpacho @acq688 this feature is now supported: this feature is now supported: https://aws.amazon.com/blogs/mobile/automatically-create-and-delete-custom-sub-domains-for-your-branch-deployments-with-amplify-console/

[2020-06-24 19:48] #24 closed

[2020-06-24 19:49] swaminator commented on #23
@nikovirtala @mwarkentin @thys-unomena @visusnet @menge101 @federicopuntoni @rkul this feature is now supported: https://aws.amazon.com/blogs/mobile/automatically-create-and-delete-custom-sub-domains-for-your-branch-deployments-with-amplify-console/

[2020-06-24 19:49] #23 closed

[2020-06-24 19:52] abhi7cr commented on #786
Hi @lukehedger,

We have identified the issue, and we are working on a fix. Will let you know once it's rolled out.

[2020-06-24 20:09] swaminator opened #790 "Build failure when teamprovider.json is not checked in to the repo"
If the `teamprovider.json` is not checked into the repo, the build fails for existing backends with hostedUI

https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-619430905

[2020-06-24 20:12] VanTigranyan commented on #753
Hey @abhi7cr . I have exactly the same issue, and I have tried every solution which I found across the internet, and nothing helps it just hangs and after 30 minutes it throws an error and the build fails ->
![image](https://user-images.githubusercontent.com/28480303/85622847-8a3ff700-b678-11ea-8d29-51c8608b9c51.png)
look - it shows the last line and nothing after that.

[2020-06-24 20:14] swaminator commented on #206
@sudeep-quantelai @thedgbrt @zetsnotdead @xitanggg @yuyokk @KidSysco @kevin-mitchell @paulbartocillo @kimfucious @DavidBrear @kaipi apologies for the silence on this issue. While it was tough for us to read some of the comments in this thread, I completely understand and empathize with what you are going through. Just for the record, **all** developer feedback is important to us (not just the folk

[2020-06-24 20:14] VanTigranyan commented on #788
Hi @manni-p. If you have eslint warnings and the CI=true is set in the env variables, that can be the cause.

[2020-06-24 20:15] abhi7cr commented on #789
Hi @hsbNicolas ,

From the logs, it looks like the last successful build had @angular/cli@9.1.7 installed . In the failing buildings, I can see either @angular/cli@9.1.8 or 9.1.9 installed.

Can you check if setting the version explicitly to 9.1.7 solves the issue?

[2020-06-24 20:26] abhi7cr commented on #753
Hello @VanTigranyan,

Could you try copying the above phases (preTest, test and postTest) into the amplify.yml file in your app, and redeploy?

[2020-06-24 20:28] VanTigranyan commented on #753
@abhi7cr It is already configured to run from that file 😅

[2020-06-24 20:30] VanTigranyan commented on #753
@abhi7cr
[code]

[2020-06-24 20:40] VanTigranyan commented on #753
@abhi7cr I have read that there can be a conflict between cypress and node_modules caching, but I cannot confirm this, is there anything like that?

[2020-06-24 21:11] abhi7cr commented on #753
I meant the modification I provided 2 comments above to the yml file😊. It uses pm2 to start localhost in the background (`npx pm2 start npm -- start`):

[code]

[2020-06-24 21:25] VanTigranyan commented on #753
@abhi7cr Got it :D I've tried that too -> the same result

[2020-06-24 21:26] VanTigranyan commented on #753
@abhi7cr the difference is only it now hangs on the stage of running npx pm2... 😂

[2020-06-24 21:37] lukehedger commented on #786
Thanks @abhi7cr 😄

[2020-06-24 22:01] kimfucious commented on #206
Solid response, @swaminator!

I realize the whole excluding `teamprovider` is a bug-bear, so I understand the delay on the fix.

I'll track that issue in the new location and provide info that you might find relevant if/when I come across it.

As for the `first build-only` issue, I've been working around it by simply trashing the front-end on each subsequent build, but it will be great to not have

[2020-06-24 22:57] kevin-mitchell commented on #206
Thank you very much for the update. This is really nice to here, and much appreciated!

[2020-06-24 23:03] abhi7cr commented on #753
That’s weird. It doesn’t even start the app? Could you reproduce this on your local machine by running the following command in your project (after installing pm2):
npx pm2 start npm --start & npx wait-on http://localhost:<PortNumber> && npx cypress run ? Make sure the cypress .json file points to your app with the correct port number

[2020-06-24 23:10] VanTigranyan commented on #753
@abhi7cr The problem is that in my local machine everything works perfectly. But on the ci environment it breaks. Actually I fixed the configuration and now it works. I have tried almost 15 variations of changes before success. I found an npm library which helped with the issue -> this one https://www.npmjs.com/package/start-server-and-test

[2020-06-24 23:12] VanTigranyan commented on #753
Now my config looks like this
[code]

[2020-06-24 23:16] VanTigranyan commented on #753
Here is my package json if it will help someone
[code]

[2020-06-24 23:38] litwicki commented on #115
@larryle @desertmonkey @simpson @Gowiem @ryanwilsonperkin @robmarshall forgive me for not following up on this issue. I dropped the ball and that's on me. I do want to assure everyone that this is our highest operational priority right now.

When I posted several months ago we did believe we had a fix nearly ready but opted not to roll that out as it was frankly not a comprehensive fix that addres

[2020-06-25 05:19] Galaf commented on #760
I tried changing it, unfortunately, it did nothing.
Files still get downloaded over and over.

[2020-06-25 06:21] toritroniks commented on #36
+1 I also would love to have ip whitelisting.

[2020-06-25 07:00] dhoulker opened #792 "Query params being removed"
** Please describe which feature you have a question about? **

Hello, i'm working on a gatsby site deployed using AWS Amplify console, and i'm having problems with URL params.

** Provide additional details**

Steps to reprodcue:

- Navigate to page on site, eg /page-2/ - works ✅
- Navigate to same page with url params /page-2?a=b - ❌  fails - i get redirected back to just /page-2/

I have just o

[2020-06-25 07:26] wbroek commented on #778
@abhi7cr thanks for the response.  We are on the eu-west-1 region and the amplify app Id is d2g2jacde0u8yu
Also did fix it (for now) by adjusting the build settings and make another build.
Think the piece it tripped over was that I put my prebuild commands in a array and it did not parse well:
[code]

[2020-06-25 07:34] davidmatter opened #793 "JS YAMLException crashes amplify console"
**Issue Description**
A JS exception related to the amplify.yml file prevents me from seeing the detail view of my amplify console. Modifying the yaml file in my repo doesn't seem to change that behavior.

**Detailed Steps To Reproduce**
Not sure how to reproduce.

**Copy and Paste Logs + Error Messages (remove sensitive data)**
`main.js:35 uncaught at o YAMLException: duplicated mapping key at li

[2020-06-25 08:28] DanielNetzeriAm opened #794 "VPC Access for Amplify Static Applications"
We are using ECS to deploy ec2 instances as backend api's/microservices, all of those are inside a VPC in our QA and DEV account.

When we try to run Cypress unit tests the application makes http requests to those microservices resulting in timeout as the applications isn't part of the VPC.

a scenario for example:
App Startup -> User Unauthorized -> Send Http Request to Auth Microservice -> Timeo

[2020-06-25 08:47] #640 closed

[2020-06-25 09:02] hsbNicolas commented on #789
Hello and thanks for the quick reply. I have set the angular/cli to version  9.1.7 explicitly by running npm install -g @angular/cli@9.1.7 but  I still get the same error. However , later I tryed removing
npm install -g @angular/cli@9.1.7
npm install @angular-devkit/build-angular
those two lines after npm ci and that worked. Before, those two install it wouldnt work. Anyways, it seems solved for n

[2020-06-25 09:49] manni-p commented on #788
Hi - this has not resolved the problem and it was working fine before with eslint warnings

[2020-06-25 12:28] zetsnotdead commented on #206
Thanks a lot for the update. It's great to hear it will be looked at. 👍

In general, any response about an issue from the amplify team is appreciated 🙏. Even if you let us know the issue will not be fixed soon it can give us a chance to react to it on our end by figuring out some workarounds.

[2020-06-25 14:16] tomreineke opened #795 "--proxy-config parameter not evaluated"
In my Angular 9 app I'm using a proxy configuration in package.json like so:
`"start": "ng serve --proxy-config proxy.conf.json"`
The file proxy.conf.json looks like this:
`{
  "/swp": {
    "target": "http://ec2-18-156-45-215.eu-central-1.compute.amazonaws.com:8080",
    "secure": false
  }
}`
This is to avoid X-origin issues when addressing my backend. Locally this works fine. However, when I go

[2020-06-25 14:55] abhi7cr commented on #792
Hi @dhoulker,

The rule you have is for Single Page Applications in general (_any route that doesn’t explicitly request for the file extensions mentioned in the rule would be redirected to index.html_).
This means all the routing is done on the client side. You would have to define a client route that extracts the query strings on your client router. https://www.gatsbyjs.org/docs/client-only-route

[2020-06-25 15:12] tomreineke commented on #795
Locally it works because I used:
`{ "/swp": { "target": "http://localhost:8080", "secure": false } }`
With the change of the target URL to http://ec2... this doesn't work.
I guess I'm doing it wrong, and I need a gateway or load balancer before the frontend and backend to avoid CORS issues.
Do I understand that correctly?

[2020-06-25 15:34] abhi7cr commented on #795
Hi @tomreineke,

Is the ec2 instance your api server ?

[2020-06-25 15:37] sw-yx commented on #767
thanks :) i'd rate this as a low priority but just filing issues that are nice to have!

possibly related issue: https://github.com/aws-amplify/amplify-cli/issues/4664

[2020-06-25 18:03] oharaandrew314 opened #796 "Domain activation is Failed - for site previously hosted on Cloudfront"
**App Id**: d2citzdco1gyr3
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I'm getting an error when trying to activate a domain for the www and naked subdomains of my `andrewohara.io` domain.

**Error message**
`One or more of the CNAMEs you provided are already associated with a different resource.`

**Additional information**
This app was previously host

[2020-06-25 21:34] mulderje commented on #621
@abhi7cr - I hope you are healthy and well. Just wanted to check in here to see if you had any updates here?

Additionally, if there aren't any direct ways to do this within the Amplify console, are there any other ways to accomplish, e.g. by adding extra tooling with things like lambda@edge? It seems like that is how this is handled generally with AWS with S3/CloudFront, but not sure how to tap i

[2020-06-25 23:01] abhi7cr commented on #621
Hi @mulderje.

We are using Lambda@Edge specifically for providing redirects, custom headers, auth and other dynamic capabilities.

We haven’t been able to get to the code updates to add custom headers during redirects yet, amidst other priorities. That being said, I will let you know once it’s pushed to live.

Thanks for your patience.

[2020-06-25 23:04] geoffwild11 opened #797 "Domain SSL Configuration - Fails to Progress"
**App Id**: d1hwp3a8wmszym
**Region**: us-east-2
**Step**: SSL Configuration
**Status**: Never changes

**Issue/question**
Been trying to connect my custom domain. Consistently stuck on SSL Configuration step

**Error message**
No error message (waiting for well over an hour)

**Additional information**
I recently switch my website to use React, so tried to use Amplify with my custom domain. It di

[2020-06-26 00:59] Mario-Celso opened #798 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: dgw8fgz9nhe80
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-06-26 06:06] tomreineke commented on #795
Hi @abhi7cr ,
yes, exactly.

[2020-06-26 09:08] simmbiote commented on #507
@kahdojay I also get stuck with " Fetching access logs..."
Is there a way to access them outside the console? Would appreciate some links for reference if so?

[2020-06-26 09:10] stela-admin opened #799 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d7qgsjeuxqirb
**Region**: ap-northeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-06-26 11:17] manni-p commented on #788
@VanTigranyan any more ideas?

[2020-06-26 11:51] VanTigranyan commented on #788
Hey @manni-p . I am not a contributor here. But I solved the same problem by myself on my project. Look here the last two comments are mine. Please, refer to them for solving your configuration issues https://github.com/aws-amplify/amplify-console/issues/753#issuecomment-649118098
If the configuration will not solve your issue you can download all logs when build fails, just click here when build

[2020-06-26 12:45] sintaro commented on #249
Any update?

[2020-06-26 13:03] sujan-s commented on #766
Same for me.

Tried removing/adding multiple times, but just doesn’t work. Route53 has all the entries, but still stuck on SSL verification.

[2020-06-26 13:17] tomreineke commented on #795
I'm using the API gateway now for frontend and backend, which seems to work.

[2020-06-26 13:17] #795 closed

[2020-06-26 15:59] abhi7cr commented on #766
Hi @lakshmishettappakantha, I don't see your app anymore. Did you remove it?

@MarianGeorgeMorosac and @sujan-s , could you share the appId and region?

[2020-06-26 16:08] lakshmishettappakantha commented on #766
Hi @abhi7cr , Yes i removed the app.
Anyway the issue was resolved after updating the DNS record.
Many Thanks

[2020-06-26 16:18] abhi7cr commented on #799
Hi @stela-admin,

It could be the case that the CNAME was already attached to another CloudFront distribution at the time of activation. If so, can you remove the CNAME from the Alternate Domains section in CloudFront, then delete this custom domain, and re-add it?

[2020-06-26 16:43] abhi7cr commented on #798
Hi @Mario-Celso ,

Did you recently transfer the domain to Route53 from a different provider? If so, you need to make sure the NS records in the old provider matches the NS records in Route53.

Also, could you verify if you have a similar CNAME record in your Route53/provider. Make sure there is no **.com** or any **TLD**(Top level domain) in the CNAME record name:

![image](https://user-images.gi

[2020-06-26 17:03] abhi7cr commented on #797
Hi @geoffwild11,

Could you look at the comment here to see if it helps: https://github.com/aws-amplify/amplify-console/issues/798#issuecomment-650279695

If not, let me know. I can look further.

[2020-06-26 18:20] #497 closed

[2020-06-26 19:38] CodySwannGT opened #800 "Repository connection is broken when setting up Amplify App via CloudFormation"
Hi there, we're creating an Amplify App using the following [CloudFormation Snippet](https://pastebin.com/SwnrT3Tv)

The app is created just fine, but then when we deploy, [we get this error message](https://www.dropbox.com/s/a6n5bzyy1nj8bhu/Screenshot%202020-06-26%2015.38.16.png?dl=0)

We follow the instructions to re-connect the repository and then deploy and get the same error message

[2020-06-26 20:01] brentley commented on #508
Another +1... I came here after spending quite a while setting up previews only to realize our forking model doesn't work. that could be called out in the documentation until the feature is added. thanks!

[2020-06-26 20:21] CodySwannGT commented on #800
Thanks for jumping on this. I saw via another bug that the Role needs Admin privileges changing resource: amplify:* to * did the trick

[2020-06-26 20:21] #800 closed

[2020-06-26 20:47] oharaandrew314 commented on #796
After waiting another day, deleting my original custom domain, and adding it again, it was added successfully.

[2020-06-26 20:47] #796 closed

[2020-06-26 23:38] theapurvap opened #801 "Domain activation is Failed - Multiple AWS services"
**App Id**: d2w6hc2mk0dy5b
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**

I am trying to set up 2 custom domains `www.xxx.com` and `www-beta.xxx.com` pointing to 2 different branches of my Amplify app. However the domain activation fails on the last step. My DNS provider is Google Domains and I only have 2 `CNAME` records for Amplify (for 2 subdomains poi

[2020-06-26 23:47] mittal11viney commented on #801
Please assist.

[2020-06-27 00:13] abhi7cr commented on #801
Hi @theapurvap,

Thanks for reporting. I am taking a look.

[2020-06-27 00:24] abhi7cr commented on #794
Hi @DanielNetzeriAm,

I believe we don't support hosting in VPC at the moment. I have added it to our feature backlog.

[2020-06-27 00:30] abhi7cr commented on #801
Hi @mittal11viney,

The error suggests you have your domain pointed to another CloudFront distribution. Could you try searching for your domain name in the CloudFront console, and removing it from the CNAME section of the associated CloudFront distribution?

[2020-06-27 00:48] abhi7cr commented on #783
Hi @TanayGarg01 ,

Could you try to follow the guide here as see if it helps: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-troubleshoot-guide.  Linking to a similar issue's resolution: https://github.com/aws-amplify/amplify-console/issues/15#issuecomment-515232292

[2020-06-27 00:51] abhi7cr commented on #787
Hello @yassati,

Could you try to follow the guide here as see if it helps: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-troubleshoot-guide. Linking to a similar issue's resolution: https://github.com/aws-amplify/amplify-console/issues/15#issuecomment-515232292

[2020-06-27 01:33] sujan-s commented on #766
Ok, I found the issue—there was the mismatch in the `NS` records for the domain in the Hosted Zone, and Registered Domains.

I deleted the Hosted Zone for the domain, and recreated it, and it worked.

[2020-06-27 02:56] artchen commented on #758
Hi is there update for this issue?

[2020-06-27 03:44] geoffwild11 commented on #797
Everything has always been managed by Route 53. It matches everything
exactly as specified in the View DNS Records section. I just tried
re-creating the CNAME using the values from it, and it's still not working.

On Fri, Jun 26, 2020 at 12:04 PM Abhishek Raj <notifications@github.com>
wrote:

--
Geoff Wild

[2020-06-27 03:45] abhi7cr commented on #758
Hi @artchen,

I will take a look and get back to you. Thanks for your patience.

[2020-06-27 10:37] stela-admin commented on #799
Hi Abhishek,

Thanks for your advice, I could finish adding a custom domain successfully!

[2020-06-27 10:37] #799 closed

[2020-06-27 10:37] stela-admin commented on #799
Hi Abhishek,

Thanks for your advice, I could finish adding a custom domain successfully!

Best regards

2020年6月27日(土) 1:19 Abhishek Raj <notifications@github.com>:

[2020-06-27 12:40] Mohamed-Abubucker opened #802 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d14xkhsz7ttsp0
**Region**: eu-west-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-06-27 13:56] theapurvap commented on #801
There are no CloudFront distributions in the AWS CloudFront console. I was using one a few months back but I scrapped that a while ago.

[2020-06-27 15:27] #802 closed

[2020-06-27 17:11] MarianGeorgeMorosac commented on #766
Same type of mismatch for me too; the domain was transferred from a different account, the the updates had to be manually provided on the original account too.

[2020-06-27 17:27] abhi7cr commented on #793
Hi @davidmatter,

Thanks for reporting. Just to understand the steps you followed:
 1. You created amplify.yml in your Frontend GitHub repo
 2. You connected your repo in amplify console
 3. In the build phase, you got an error because of an invalid amplify.yml file?
4. When you say you are not able to see app details. Do you mean you see a white screen when you click on the app?

[2020-06-27 21:03] houstonhaynes commented on #717
Sorry this took so long - I never got a notice on your replies. The build is now working (as been since at least the 13th.) so I'm closing it.

[2020-06-27 21:03] #717 closed

[2020-06-27 21:07] houstonhaynes opened #803 "Hugo build - .GitInfo is not picking up the proper branch info"
Right now I'm using the garden-variety build template for Hugo - and it works fine for each branch. However, there's one "wrinkle" that I'm trying to figure out - and that's the GitInfo that Hugo is pulling for my integration builds is coming from my *main* branch.

I'm actually not sure how to parameterize/attribute the hugo command to force it to use the integration branch - since it's already d

[2020-06-27 22:05] abhi7cr commented on #803
Hi @houstonhaynes,

Can you share your appId and region? I’m not too familiar with gitinfo inside Hugo. Does it work per branch or at the repo level?

[2020-06-27 22:37] houstonhaynes commented on #803
Thanks for echoing back so quickly - d1q7tck3hzh79i & it's in us-west-2

Honestly I've used it with Azure Blob storage and GitHub Actions and it has *just worked*. I'm looking back through that site to see if I make head-or-tail of it (to see if I plugged in a param in the hugo statement that I've since forgotten)

[2020-06-28 00:48] joesome-root opened #804 "Your connection to this site is not fully secure"
**App Id**: d14zseik9ovmve
**Region**: us-east-1
**Step**: Done
**Status**: Done

**Issue/question**
Both app URL and custom domain are not secured.

**Error message**
- "Your connection to this site is not fully secure"

**Additional information**
<img width="555" alt="Screenshot 2020-06-28 at 02 43 41" src="https://user-images.githubusercontent.com/19654726/85934859-646d5900-b8e9-11ea-9503-a0be6

[2020-06-28 01:22] #766 closed

[2020-06-28 01:39] ocie commented on #18
This would be a helpful feature to manage this configuration with the rest of the application instead of tweaking things on a config page.

[2020-06-28 03:15] Ivneetwahi opened #805 "Can we deploy a full CI/CD in amplify(including git jobs as well)?"
I am trying to build dev, qa and prod environment.

Here, I need that if all goes good in dev then build and deploy qa and prod env also automatically (in. sequence, like if it passes qa then do it on prod )

I have 3 branches linked to 3 environment.
dev branch linked to dev environment
qa branch linked to qa environment
prod branch linked to prod environment.

There should be no manual interfere

[2020-06-28 04:07] arnabk commented on #206
I tried all the suggestion, but none of them worked. I am using latest amplify cli.

Finally following changes worked for me.

Added following env variables in **Amplify Console > Environment  variables**
![image](https://user-images.githubusercontent.com/446864/85937536-aa162b80-b8c1-11ea-8405-a711563c6a5c.png)

You can get the value of AUTH_RESOURCE_NAME from your project folder `amplify > backe

[2020-06-28 12:35] NicolasMegow opened #806 "Env.Variables during Build for process.env"
** Please describe which feature you have a question about? **
I'm trying to deploy a Gatsby site with auth0.
That requires three variables to be accessible during build in process.env:
      domain: process.env.AUTH0_DOMAIN,
      clientID: process.env.AUTH0_CLIENTID,
      redirectUri: process.env.AUTH0_CALLBACK,
Whichever way I try to pass the variables, I get the same error (if the build succe

[2020-06-28 14:06] houstonhaynes commented on #803
DISREGARD - I believe that the trace in the page that I'm placing is applied to the object. I was expecting the git update to show the latest update for all pages - it doesn't show the update for that page unless that specific object is updated.

[2020-06-28 16:07] abhi7cr commented on #758
Hi @artchen,

Did the CURL command work directly from within a terminal ? Also, what is your appId and region?

[2020-06-28 16:40] artchen commented on #758
Hi @abhi7cr,

Yes the CURL command works from terminal. Region is us-west-2, appId is dh5dx8bwj1njg (I got this from url, not sure if this is what you meant by appId).

[2020-06-28 17:00] abhi7cr commented on #758
Yup that’s the appId. Thanks. I will take a look. Are there any logs from within WordPress for the failed invocations?

[2020-06-28 17:10] artchen commented on #758
I don't have access to logs because wordpress.com is a managed service. You can probably try it out by creating a free account at wordpress.com and register an amplify web hook with publish_post or publish_page event. Then create/edit any post/page to verify if the web hook actually triggered.

I tried set up my wordpress site with both Netlify and Amplify web hook urls, the Netlify one can trigge

[2020-06-28 18:47] hanstf opened #807 "Unable to see the deployment details in web console"
**App Id**: d13jpjw7u1auh
**Region**: ap-southeast-1
**Step**: Done
**Status**: Done

**Issue/question**
In the aws web console -> amplify -> my application -> clicking on one of the branch ([https://ap-southeast-1.console.aws.amazon.com/amplify/home?region=ap-southeast-1#/d13jpjw7u1auh/dev/2](url)) will redirect to blank page.

<img width="871" alt="Screenshot 2020-06-29 at 2 40 45 AM" src="https

[2020-06-28 19:19] abhi7cr commented on #807
Hi @hanstf,

Thanks for reporting this. Could you inspect the browser console to see if there are any errors?  I will look into what’s happening from my side.

[2020-06-28 19:25] hanstf commented on #807
Hi @abhi7cr

It is showing this:
<img width="1368" alt="Screenshot 2020-06-29 at 3 21 40 AM" src="https://user-images.githubusercontent.com/8406334/85956339-c7c5bc80-b9b7-11ea-9d07-ab52627d0fcd.png">

[2020-06-28 19:28] abhi7cr commented on #806
Hi @NicolasMegow,

Thanks for reporting. I will take a look and get back to you. Can you give the appId and region ?

[2020-06-28 19:30] joesome-root commented on #804
- Error `HTTPS URL contains a form posting to HTTP` in DevTools

It look like the issue was because I had a form posting to an HTTP endpoint. Removing that form fixed the issue.

[2020-06-28 19:30] #804 closed

[2020-06-28 20:04] abhi7cr commented on #807
@hanstf Looks like the amplify.yml file is invalid. Could you paste the file? I will add an item in our backlog to show the specific errors on the screen, instead of a white screen.

[2020-06-28 20:13] abhi7cr commented on #805
Hi @Ivneetwahi,

The trigger for our CI/CD pipeline is when you push changes to your repository branch. So, when you push changes to Dev, the Dev pipeline is triggered. Unless the code from Dev branch is merged to Qa branch in git/any other repository, the Qa pipeline wouldn’t be triggered. Same applies to Prod.

Did you want the code merge from Dev to Qa happen as part of the CI/CD workflow itsel

[2020-06-29 01:13] palnil opened #808 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: dsb8bfup7yagv
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I have domain registered at google domains and managed by Route 53 DNS management. I deployed sample react js app to AWS Amplify and trying to map custom domain to it. It fails at Domain activation step with message as shown below.

**One or more of the CNAMEs you provided are already

[2020-06-29 01:35] hanstf commented on #807
Hi @abhi7cr

I am using aws cdk to configure actually and it seems in a valid format
[code]

but strangely, in the aws console, it stays as json format instead of converted to YML, is this aws-cdk issue ?
![Screenshot 2020-06-29 at 9 31 49 AM](https://user-images.githubusercontent.com/8406334/85964275-98c93e00-b9eb-11ea-9a8e-3004d2668920.png)

[2020-06-29 03:06] stevezhang-dstring opened #809 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2im0ktc4w3apd
**Region**: ap-northeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-06-29 05:39] NicolasMegow commented on #806
Hi @abhi7cr ,
sure: us-east-2 and d293hfauc7dro7.
Thanks!

[2020-06-29 07:44] Galaf commented on #760
I found the problem.
In angularjs, unless you use some tricks, the HTML templates are real HTML files that should be downloaded by the browser.

The redirect rule did not exclude html files so every template would download index.html which would in turn download my JS files again and again.

Here is the redirect rule I'm using now: `</^[^.]+$\|\.(?!(html\|css\|gif\|ico\|jpg\|js\|png\|txt\|svg\|wof

[2020-06-29 07:44] #760 closed

[2020-06-29 08:35] Ivneetwahi commented on #805
Here, if the commit is successfully deployed in the dev env, then only I want to initiate commit for the test env and later if it goes good in test env, then only will commit to prod.

[2020-06-29 12:27] juserr opened #810 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3b02k89dp2vqy
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-06-29 14:39] voiladaniel opened #811 "Domain activation is Failed - [BRIEF DESCRIPTION]"
Hello,

I have a problem with activation of a Domain in AWS Amplify.

The error message is: "Error message: One or more of the CNAMEs you provided are already associated with a different resource."

I think that the domain I am trying to use was used before in another AWS Amplify app, but right now the domain have been bought by me.

PS: I ham using only a free tier account.

[2020-06-29 15:42] abhi7cr commented on #811
Hi @voiladaniel,

Could you try deleting and re-adding the domain to the app?

[2020-06-29 15:46] abhi7cr commented on #810
Hi @juserr,

As the error indicates, the domain name was already attached as a CNAME in another cloudfront distribution, when the domain activation took place. Did you have this domain attached to another amplify app or directly to CloudFront? If so, you would have to remove it from the CloudFront distribution via the CloudFront Console. Then you can delete and re-add the domain to your app.

[2020-06-29 15:47] abhi7cr commented on #809
Hi @stevezhang-dstring
The usual cause of this error is that the domain name was already attached as a CNAME in another cloudfront distribution, when the domain activation took place. Did you have this domain attached to another amplify app or directly to CloudFront? If so, you would have to delete the amplify app/ remove it from the CloudFront distribution via the CloudFront Console. Then you can

[2020-06-29 15:49] abhi7cr commented on #808
As the error indicates, the domain name was already attached as a CNAME in another cloudfront distribution, when the domain activation took place. Did you have this domain attached to another amplify app or directly to CloudFront? If so, you would have to delete the amplify app/ remove it from the CloudFront distribution via the CloudFront Console. Then you can delete and re-add the domain to your

[2020-06-29 16:31] juserr commented on #810
That was it, cool! Thanks

[2020-06-29 16:31] #810 closed

[2020-06-29 17:43] abhi7cr commented on #805
Hi @Ivneetwahi,

Currently we don't have an automated workflow **between** **branches** from within the Amplify Console. Once the **dev** environment works as expected, the developer would need to submit a **PR** in Git from **dev** to **qa** branch, and once merged, it would kickoff the qa build in Amplify Console via webhooks.

[2020-06-29 20:31] abhi7cr commented on #806
Hi @NicolasMegow,

The env variables should be added in process.env. I just tested adding some variables in the `env` section as follows:
[code]
I am not sure if you are using webpack, but for my project, I am using it. I had to use the [EnviromentPlugin](https://webpack.js.org/plugins/environment-plugin/) to define these env variables in order for webpack to string-substitute these values during

[2020-06-29 20:40] abhi7cr commented on #797
Hi @geoffwild11,

Did you try deleting and re-adding the custom domain in your amplify app?

[2020-06-29 21:09] abhi7cr commented on #801
Hi @theapurvap,

Could you try deleting the sub-domains from the amplify app, and re-adding them one at at time?

[2020-06-29 22:22] theapurvap commented on #801
Just to be clear, on the DNS side, all sub-domains will have the same address right? `XXXXXXX.amplifyapp.com`? Or should it be `branch.XXXXXXX.amplifyapp.com`?

[2020-06-29 22:42] theapurvap commented on #801
Okay adding the subdomains one at a time worked. Looks like it is a bug on the AWS side. The validation fails when adding multiple subdomains all at once. The workaround is to add one subdomain and get it completely validated. Then add the rest of the subdomains.

Thanks @abhi7cr !!!

[2020-06-29 23:52] geoffwild11 commented on #797
I tried that as well. There is no difference

On Mon, Jun 29, 2020, 3:40 PM Abhishek Raj <notifications@github.com> wrote:

[2020-06-30 02:23] abhi7cr commented on #801
Hi @mittal11viney,

Were you able to resolve the issue

[2020-06-30 02:51] stevezhang-dstring commented on #809
Thanks, after deleting the cloudfront record, it works.

[2020-06-30 06:32] Ivneetwahi commented on #805
Which another service in the aws we can use to achieve this

[2020-06-30 14:08] ohlr opened #812 "Custom domain creates CNAME for subdomain instead of A Alias"
** Please describe which feature you have a question about? **
Adding a domain + subdomain, the subdomain record within Route 53 is of type CNAME.

I wonder if making the subdomain A ALIAS saves money.
According to https://aws.amazon.com/route53/pricing/ A Alias records are free.

[2020-06-30 15:15] nimacks commented on #812
Hi @ohlr,

Modifying the records setup by Amplify may have unexpected results for your App. Can you provide more details on what you're trying to achieve? Are having billing issues related to Route53?

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html
https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-amazon-route-53.html

[2020-06-30 15:19] #789 closed

[2020-06-30 15:21] nimacks commented on #801
Closing, please re-open if this is still an issue.

[2020-06-30 15:21] #801 closed

[2020-06-30 15:22] #809 closed

[2020-06-30 15:37] ohlr commented on #812
records created by amplify:
[code]

I wonder if
[code]
would be better

[2020-06-30 15:42] ohlr commented on #543
@Athena96 what is the stand on this issue? It kills our initial launch plan.

[2020-06-30 15:58] ohlr opened #813 "How to build multilanguage websites with Amplify"
** Please describe which feature you have a question about? **
Say I have 20 Domains example.com, example.fr, example.us...

My initial plan was to add them all to my amplify project, and redirect them to the .com domain.

With the given quota of 5 Domains per [amplify project (currently not adjustable)](https://github.com/aws-amplify/amplify-console/issues/543)  I can't add all of them.

Is there

[2020-06-30 16:11] ohlr opened #814 "Inconsistent and silent DNS behavior"
Having existing records in my route 53 for example.org and www.example.org

The root record (example.org) gets overriden by amplify console while the subdomain (www.example.org) records does not get updated.

All that happens silently.

[2020-06-30 16:20] blairtaylor commented on #543
+1

[2020-07-01 00:08] nimacks commented on #811
@voiladaniel ,

are you still having issues?

[2020-07-01 00:09] nimacks commented on #808
@palnil ,
are you still having issues?

[2020-07-01 01:25] palnil commented on #808
I am good now thanks

Those steps that Abhishek provided worked.

On Tue, Jun 30, 2020 at 8:09 PM Samuel Mensah <notifications@github.com>
wrote:

--
Thanks
Nilesh Patel

[2020-07-01 05:13] FizzBuzz791 opened #815 "Last Commit message incorrect?"
The "Last Commit" message always says "This is an autogenerated message | Auto-build | Github-mybranchname".

I would have expected it to show the last commit for that branch, such as "Added feature X". Am I mistaken?

This is a screenshot of two branches connected and neither are showing the latest commit;
![image](https://user-images.githubusercontent.com/2747764/86205488-96f2ac80-bb9c-11ea-9869

[2020-07-01 06:33] NicolasMegow commented on #806
Dear @abhi7cr,

thanks a lot for looking into this!
Gatsby is using webpack (https://www.gatsbyjs.org/docs/add-custom-webpack-config/).
I've found away to work around env.vars in this case - but I'll definitely come to back to this as I expect to soon need it again :)
The EnvironmentPlugin and console.log would make good additions to the docs.

Really appreciate your quick and thorough help! Thank

[2020-07-01 06:33] #806 closed

[2020-07-01 08:58] akefirad opened #816 "How to properly redirect using regex"
** Please describe which feature you have a question about? **
I'm trying to redirect `/<3-digit-integer>` to `/code/<same-integer>` but for some reason I can't get it working. What I tried so far (I wasn't sure about the exact syntax):
[code]
Can someone please take a look and tell me if I'm missing anything here. Thanks.

[2020-07-01 11:49] hello123456734 opened #817 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2ats8z60hszzo
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Unable to register sub-domain, DNS provider is Route 53.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
Retry

**Additional information**
There is no sub-domain with that name on route 53

[2020-07-01 13:06] ImanuelRichter commented on #807
We experienced exactly the same issue with our amplify stack that was deployed through aws-cdk 1.38.0.
It used to work and without deploying any changes we also experienced that error.
Temporary solution for us was to manually transform the json content of amplify.yml to yml using https://www.json2yaml.com/

[2020-07-01 13:24] j1mr10rd4n commented on #460
I haven't been able to figure out how to add multiple backend as per the [multi-frontend docs](https://docs.amplify.aws/cli/teams/multi-frontend) either. The documentation on that page is very short, and it was only by reading this issue I found the [headless sample script](https://docs.amplify.aws/cli/usage/headless#sample-script-3).
I tried using that sample script as follows:
* start with a wor

[2020-07-01 14:13] j1mr10rd4n commented on #460
I've been trying to set up a second frontend project on an existing amplify front & backend project as well. I got the same negative result  as @smakinson when running `amplify pull` in the new frontend project. I don't think the [Multiple frontends page](https://docs.amplify.aws/cli/teams/multi-frontend) has enough information at the moment. I only found the [amplify pull sample script](https://d

[2020-07-01 15:59] alexkates opened #818 "Amplify Console Hosting and Route53 Weighted Policy"
I have an AWS Amplify app deployed, with 2 custom domains (a.example.com and b.example.com). It's my understanding that these point to 2 separate CloudFront distributions. I am also using AWS Amplify's Console hosting.

I'd like to have a Route 53 weighted policy to route c.example.com to the aforementioned custom domains. Is this possible? If so, how?

[2020-07-01 17:14] nimacks commented on #815
Hi @FizzBuzz791 ,
can you provide your appId and region and we'll investigate this issue for you.

[2020-07-01 17:15] #808 closed

[2020-07-01 17:17] nimacks commented on #817
Hi. @hello123456734 ,
As the error indicates, the domain name was already attached as a CNAME in another cloudfront distribution, when the domain activation took place. Did you have this domain attached to another amplify app or directly to CloudFront? If so, you would have to delete the amplify app/ remove it from the CloudFront distribution via the CloudFront Console. Then you can delete and re-

[2020-07-01 17:18] nimacks commented on #798
Hi @Mario-Celso, are you still having issues?

[2020-07-01 21:03] juanitomint commented on #801
Same issue here but one at a time isn't working form me
is still telling me that
ALso viewDNS is grayed out
![Uploading ksnip_20200701-180242.png…]()

[2020-07-01 21:23] juanitomint opened #819 "Domain activation error Something went wrong"
**App Id**: d2899duog3x4ik
**Region**: us-east-1
**Step**: Domain activation
**Status**: error

been trying to setup this for the last two days
**Issue/question**

**Error message**
Error message: One or more aliases specified for the distribution includes an incorrectly configured DNS record that points to another CloudFront distribution. You must update the DNS record to correct the problem. For

[2020-07-01 21:43] nimacks commented on #813
Hi @ohlr ,

you're right, adding all your domains to a single project would be the easiest approach. Unfortunately due to the restrictions on the number of domains, this isn't possible at the moment. I suggest creating multiple apps tied to the same git repository to give you the ability to use multiple domains.

I'll add an item to our backlog so we can solve this use case for you.

[2020-07-01 22:55] rossgray opened #820 "Hugo build failing when using latest version"
When running a build using Hugo, it is failing even when trying to deploy a commit which previously worked fine.
Looking at the logs it looks like updating to the latest version of Hugo is failing:
[code]

In my build step I think print the Hugo version and it is showing 0.55.6:

[code]

[2020-07-01 23:31] nimacks commented on #814
Can you provide more details on the problem you're trying to solve?

[2020-07-01 23:35] nimacks commented on #816
Please refer to our documentation which provides examples on redirects. https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html

Let us know if that doesn't work for you.

[2020-07-01 23:53] nimacks commented on #819
The error indicates that your domain is already configured with another distribution. Can you try to disassociate the domain before associating in the Amplify Console??

[code]

[2020-07-01 23:58] nimacks commented on #820
We allow you to specify versions of your dependency you need. Can you try that while we investigate? Please send us your appId and region.

![image](https://user-images.githubusercontent.com/4107271/86301876-dd0b3880-bbbb-11ea-9a04-e82eb0dae840.png)

[2020-07-02 00:01] nimacks commented on #818
Hi @alexkates ,

Can you describe what problem you're trying to solve with this approach?

[2020-07-02 00:40] FizzBuzz791 commented on #815
Hi @nimacks - I've narrowed it down a little. It looks like it's not pulling the latest commit when you first link a branch, maybe something to do with the way the webhooks work? Subsequent commits propagate properly.

ARN: arn:aws:amplify:ap-southeast-2:157153681450:apps/dldzc7aaj7fba
Region: ap-southeast-2

Though, if the above is expected behavior, I'm happy to close.

[2020-07-02 06:55] rossgray commented on #820
AppID: d1oap0ocnol2in
Region: eu-west-2

I have tried setting the Hugo version to `0.70.0` instead of `latest` and can confirm it's working

[2020-07-02 07:45] ohlr commented on #814
well:

Say you have an existing website with follwing Route53 Setup
1. example.org A somehting
2. www.example.org Cname somehting

Now you register example.org and www.example.org through Amplify.
The 1. entry in your existing setup will be silently overriden the 2. will remain unchanged (silently)

I suspect this to be a bug rather than a question.

[2020-07-02 09:38] akefirad commented on #816
No, not really. I already talked to AWS support and demoed the whole things. For some reason the exact regex above doesn't work.

[2020-07-02 12:19] alexkates commented on #818
Sure. I have two isolated environments connected to two branches in my Amplify app. Think of these environments two production environments, supported two separate customers. We are trying to drive traffic, and want to dynamically control how much traffic is routed to each environment.

[2020-07-02 13:43] juanitomint commented on #819
Sure... How.!? Amplify doesnt expose any means to do that nor cloudfront does in the same account

[2020-07-03 03:59] FizzBuzz791 commented on #786
Hi @abhi7cr - I think I'm experiencing the same bug... with the exception of the mono-repo / app root part of the yaml, they're pretty much the same and I have the same symptoms.

App ID: dldzc7aaj7fba
Region: ap-southeast-2

Are you able to confirm please?

[2020-07-03 04:05] abhi7cr commented on #786
Hi @lukehedger @FizzBuzz791,

We have patched a fix for the above, and will let you know once it’s deployed.

[2020-07-03 04:40] jairenee commented on #115
I have a new app, only one branch. Artifact size is 200MB. This is a ridiculous bug to exist for so long, and I think we'd all feel a lot better if the issue could be explained and addressed somewhere. The fact that we're waiting for a fix with no explanation whatsoever is a huge slap in the face.

[2020-07-03 04:48] litwicki commented on #115
@jairenee the underlying issue is not precisely the size of the artifact, but moreso the total _count_ of files (including the sum of all branches). If you'd like us to look specifically at your app I'd be happy to connect you with the team and we can see about a possible workaround while the rest of the team continues to work on the fix.

[2020-07-03 05:14] shnjp commented on #468
Same issue today

[2020-07-03 05:21] geoffwild11 commented on #797
Is there anything else I can try?

On Mon, Jun 29, 2020, 6:51 PM Geoff Wild <geoffwild11@gmail.com> wrote:

[2020-07-03 05:35] shnjp commented on #468
I ran into this and subsequent problems, but I was able to solve them.

This message is probably a Token issue in the AWS Console, so I reloaded my browser and moved on.

Next Error

I removed it from the github repos settings page, probably because it looks like amplify failed to deploy halfway through and left a garbage webhook behind.

Last Error

Our version of `amplify.yml` seemed to be out o

[2020-07-03 05:57] abhi7cr commented on #797
Hi @geoffwild11,

Sorry to hear you are still stuck. Let me see if I can find some logs on our end.

[2020-07-03 06:35] jairenee commented on #115
@litwicki So if I'm understanding the issue has nothing to do with the artifact at all then. That's interesting. I'll consolidate to just one branch for development while this is being worked on. I've reached out to you on Chime.

[2020-07-03 08:23] mantsika commented on #599
@swaminator can we just confirm that the expected behaviour is that each amplify build is based on commitID, which will always create detached HEAD?  (we use github).  From the log:
2020-04-16T15:26:49.307Z [INFO]: # Switching to commit: COMMIT_ID
2020-04-16T15:26:49.652Z [INFO]: Note: checking out 'COMMIT_ID'.
                                 You are in 'detached HEAD' state.
If we always create

[2020-07-03 23:10] perima commented on #749
same issue here. Triede a few things but cant find why console build fails. CLI push works fine.

[2020-07-04 07:25] Kaustubh26 commented on #44
+1

[2020-07-04 13:31] jmosul commented on #749
@SwaySway
Sorry for the delay, I've not had chance to work on my project over the last few weeks.

I've sent the link to my [repo](https://github.com/jmosul/dndb) and the AWS Amplify project information to the amplify-cli@amazon.com email address supplied above.  Hope it helps.

For context in the project the `master` branch contains version 1.  The branches `production` and `2.0` contain version

[2020-07-05 00:19] mruzekw opened #821 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d3qygpd3dr0if1
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**

Stuck on the "Domain activation" stage.

From what I can tell the DNS CNAME records are setup correctly to point to the respective *.amplifyapp.com sites (in Google Domains).

I had a lingering record in Cloudfront for www.*.com, but have since removed and retried and still having t

[2020-07-05 14:11] samputer commented on #595
Another sufferer here! Would really appreciate an update on this please guys?

I suppose we could use a custom build image for this, but it seems unnecessarily complex.

[2020-07-05 16:05] mwarkentin commented on #12
@Vineeth-Avvaru nope, not available yet.

[2020-07-06 05:18] asatvilker opened #822 "Access denied error"
I am having troubling deploying my app. I am getting the following error:
<img width="789" alt="Screenshot 2020-07-06 at 06 11 54" src="https://user-images.githubusercontent.com/56475258/86557924-ad5b8800-bf4f-11ea-96e5-91e0e23232d4.png">

note other solutions have suggested the use of rewrites and redirects however after trying all of them nothing happens. Also I tried removing the react routing

[2020-07-06 11:44] FelixRe0 opened #823 "Redirect setup for static generated + SPA sites"
** Please describe which feature you have a question about? **

Rewrites and redirects

** Provide additional details**

The issue #70 should either be opened again and fixed or the [workaround](https://github.com/aws-amplify/amplify-console/issues/70#issuecomment-531711857) should be reflected in the documentation [here](https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#trailing

[2020-07-06 16:44] #820 closed

[2020-07-06 18:57] simpson opened #824 "Builds broken for 20+ hours"
Case ID 7156065351 in the AWS Support System

** Provide additional details**
Our builds have been down for almost 24 hours, the AWS Web UI states there is an issue connecting to Github but Github has no outages and reports their webhooks are working correctly. We have tried reauthorizing the repo and that wasn't successful, we have deleted the webhook and application auth in Github and establishe

[2020-07-06 21:26] nimacks commented on #824
Hi @simpson, sorry to hear that you're having issues with your build. The error shown above indicates that a webhook which is required to trigger builds already exists. Can you check in github under your repository settings -> webhooks. Find the webhook associated with your app (it should have your appId as a parameter in the URL). Delete it, and then re-authenticate your app in the Amplify Consol

[2020-07-06 21:31] simpson commented on #824
hey @nimacks someone else in the Discord recommended that earlier today, we deleted the webhook and oauth application and reinstalled both. Still no luck :(

[2020-07-06 22:14] nimacks commented on #824
@simpson, after deleting the webhook and oauth app, are you getting the same error or something different? Also how many webhooks are associated with that repository?

[2020-07-06 23:18] lorengordon opened #825 "Missing option to configure backend for branch autodetection?"
** Please describe which feature you have a question about? **

[Pattern-based feature branch deployments](https://docs.aws.amazon.com/amplify/latest/userguide/pattern-based-feature-branch-deployments.html)

** Provide additional details**

I created an amplify app and enabled branch autodetection, but the option to configure the backend is not available. This means whenever a new branch is create

[2020-07-07 00:02] mwarkentin commented on #547
@Athena96 any thoughts on this other use case?

[2020-07-07 00:32] ryanrf-ac opened #826 "Build number showing up in URLs - breaking links"
Hi there,

After deploying an app using AWS amplify, the app is displaying the home page, but the links are all going to `https://<domain>/0000000029/<relative path>` where `0000000029` is the build number (#29 in this case). The correct link is show in the html from the home page, and if I manually navigate to that URI the correct object is there.
I feel like this must be a configuration I'm miss

[2020-07-07 00:39] simpson opened #827 "Unable to build multiple apps in monorepo"
** Please describe which feature you have a question about? **
It was recently announced that Amplify would support a monorepo. We setup two apps, each formed with their own approot as defined in the monorepo documentation, it will only build the first app. It looks like our amplify.yaml is formed properly, but it doesn't work so we either have something wrong or the feature doesn't work yet.

We

[2020-07-07 02:26] simpson commented on #91
Any updates?

[2020-07-07 02:30] simpson commented on #20
It would be pretty cool to see this and other analytics passed through from Cloudfront to the Amplify dashboard

[2020-07-07 08:59] YorbenVerhoest commented on #44
+1

[2020-07-07 12:27] HoussemLay opened #828 "Unable to assume specified IAM Role when deploying with AWS Amplify using GitHub"
I was trying to deploy my application with AWS Amplify using github and I got this error :

2020-07-03T10:39:32.225Z [ERROR]: !!! Unable to assume specified IAM Role. Please ensure the selected IAM Role has sufficient permissions and the Trust Relationship is configured correctly.
2020-07-03T10:39:32.348Z [INFO]: # Starting environment caching...
2020-07-03T10:39:32.348Z [INFO]: # Environment cach

[2020-07-07 14:05] gabrielmicko commented on #621
We would like to be HSTS compliant as well. Thanks @abhi7cr for keeping us posted.

[2020-07-07 14:32] cstavaru opened #829 "node_modules folder is not deployed for frontend app"
Hello everyone,

TL;DR: node_modules folder is skipped by the deployment process. If you rename it, it will be included. Why ?

I have an  issue with a web frontend project I'm trying to build and deploy via AWS Amplify. It's a single page application project that uses Google Polymer (including for building), however the problem is not related.

As you may be aware, many new frontend frameworks no

[2020-07-07 14:37] blairtaylor opened #830 "Domain activation is Failed - Unable to retry"
**App Id**: d2ctnb7fwe3m0u
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

After domain activation failure, retry button appears to not be working. Clicking on the button does nothing. Have tested on 2 different desktops and in both Chrome and Edge.

[2020-07-07 15:00] simpson opened #831 "Custom domain failing final step"
**App Id**: arn:aws:amplify:us-east-1:252100588959:apps/d16w4ydm7nszvf
**Region**: us-east-1
**Step**: domain activation
**Status**: failed

**Issue/question**
A digicert certificate exists

**Error message**
Error message: The status of this certificate request is "Failed". One or more domain names have failed validation due to a Certificate Authority Authentication error. Learn more: https://doc

[2020-07-07 15:31] Athena96 commented on #831
Hello @simpson we currently do not support 3rd party SSL certificates, because we provide/manage an ACM certificate by default for apps. We have this as a feature request though.

You will need to disconnect the digicert certificate from your domain, then add your custom domain to your app. Thanks!

[2020-07-07 15:34] simpson commented on #831
@Athena96 I already connected the custom domain, see attached screenshot. All of our DNS is at Cloudflare and other domains work.

<img width="1720" alt="Screen Shot 2020-07-07 at 11 33 34 AM" src="https://user-images.githubusercontent.com/1605737/86805343-cc3c4600-c045-11ea-8bda-2d38f5308a66.png">

[2020-07-07 15:41] Athena96 commented on #828
Hi @HoussemLay what step of the build do you get this error? (e.g. Provision, Build, Deploy,...)

[2020-07-07 15:47] Athena96 commented on #826
Hi @ryanrf-ac can you share your appId and the region your app is in?

[2020-07-07 15:49] HoussemLay commented on #828
Hello, the second step : Build

[2020-07-07 15:51] Athena96 commented on #825
Hi @lorengordon do you have an existing backend setup for your app?

[2020-07-07 15:56] RobertUpchurch opened #832 "Continuous Deployment with Azure Repos"
**Is your feature request related to a problem? Please describe.**
Our company has moved to using Azure DevOps mainly for the Azure Boards and Azure Pipeline features. To keep things simple we have started to migrate our Github repos to Azure Repos. Many of our applications are using AWS Amplify and CD with Amplify console through Github. We are investigating and finding no clear way to connect th

[2020-07-07 15:56] Athena96 commented on #822
Hi @asatvilker can you try adding the following rewrite rule:

source address:
 `</^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>`

target address: `/index.html`

type: `200 (Rewrite)`

[2020-07-07 16:01] lorengordon commented on #825
Yes, there is a backend. I'm not sure what "existing" refers to... I used amplify to create the backend.

Here is a new branch I just pushed to the repo:

![image](https://user-images.githubusercontent.com/8457307/86809088-54175580-c030-11ea-9816-fea9045cd18a.png)

And here you can see I can assign a backend manually:

![image](https://user-images.githubusercontent.com/8457307/86809180-70b38d80-c0

[2020-07-07 16:09] ryanrf-ac commented on #826
@Athena96 Of course. My appId is d3idu9b8upbkgj and region is us-east-1.

[2020-07-07 16:28] gabrielmicko opened #833 "Turning off TLS 1.1 for improving security"
** Please describe which feature you have a question about? **

Security / TLS

** Provide additional details**

We have been using amplify with a SSL certificate provided by aws. We just got our Pen test results. Turns out that on amplify TLS 1.1 is turned on for some reason. Could someone please help out how to turn it off?

![Screen Shot 2020-07-07 at 15 08 13](https://user-images.githubusercon

[2020-07-07 16:29] gabrielmicko commented on #833
https://github.com/aws-amplify/amplify-console/issues/56 - Might be related?

[2020-07-07 18:37] lorengordon commented on #24
@swaminator The backend deletion appears to only work for preview builds, e.g. the prNN backend. When the feature is enabled to autocreate environments for feature branches, and to autocreate the backend for each feature branch, i.e. [this feature](https://docs.aws.amazon.com/amplify/latest/userguide/pattern-based-feature-branch-deployments.html), in that case the backend is *not* deleted when the

[2020-07-07 22:10] mruzekw commented on #821
Just wanted to give you an update: I'm still having the issue after multiple retries today.

I checked on https://www.whatsmydns.net/, and it looks like my DNS settings have propagated correctly.

[2020-07-07 22:21] artchen commented on #758
Hello, any update?

[2020-07-07 22:30] Athena96 commented on #827
Hi @simpson I think the issue is the "." in your amplify.yml file ("appRoot: ./apps/admin-designed-org")
The dot should not be included, the paths are relative. We should call this out better in the documentation.
https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#monorepo-configuration

Let us know if you are still facing issues after you remove the "." from both of your app

[2020-07-07 22:35] mruzekw commented on #821
I was able to resolve this by restarting the whole process over.

Looks like someone should look into that Retry button 😛.

Thanks!

[2020-07-07 22:35] #821 closed

[2020-07-07 23:00] simpson commented on #827
@Athena96 It doesn't build without the period. To demonstrate, I removed the period and committed, created a new app and it immediately fails at build.

![Screen Shot 2020-07-07 at 6 58 50 PM](https://user-images.githubusercontent.com/1605737/86853152-f876b780-c083-11ea-9e2d-d1c004e4ee79.png)

[2020-07-07 23:42] cstavaru commented on #829
For those having issues with node_modules folder not being copied for frontend web app deployment, the solution is of course to rename it. But this impacts the build scripts which must reside in node_modules for NodeJS to be able to require them.

So you have to use a combination of npm (for scripts loaded using NodeJS for build purposes) and yarn with the --modules-path option set to the desired

[2020-07-08 00:11] juanitomint commented on #831
I think is the same as in
https://github.com/aws-amplify/amplify-console/issues/819

[2020-07-08 00:13] ShivamSarodia opened #834 "CNAMEAlreadyExistsException"
**App Id**: None
**Region**: us-west-2
**Step**: Domain Activation
**Status**: Failed

**Issue/question**
I created an app on AWS Amplify and connected my custom domain. I decided not to use AWS Amplify, so I then deleted the custom domain and app.

Now, I am attempting to connect that domain on AWS Cloudfront (distribution ID E37HMY0HCTDR1G). However, I am receiving the error below, even though t

[2020-07-08 03:21] MohitKS5 opened #835 "Config for Authentication"
**Region**: tokyo
**Step**: config

**Issue/question**
What configuration is required for the received cookies to be set on the website hosted by aws-amplify ?
When I deploy exact he same build (react) on firebase or lightsail or  EC2 and point route 53 to it, it works. But the moment I use amplify received cookies aren't set.

**Additional information**
I faced this problem with one more project

[2020-07-08 12:35] juanitomint opened #836 "retry button doesn't work"
**App Id**: d2fvk319y3wfc7
**Region**: us-east-1
**Step**: Domain Activation
**Status**: Domain activation

**Issue/question**
A clear and concise description of what the issue/question is.
Button retry doesn't work

**Error message**
`globalnav-d717b3c6990cbb495eb90755479156d01ffb4e5b.gz.js:31 Refused to load the script 'https://phd.aws.amazon.com/phd/auth?state=hashArgs' because it violates the

[2020-07-08 14:02] lorengordon commented on #595
Using a custom image does indeed work. Tested using `nikolaik/python-nodejs:python3.8-nodejs10`. Much faster than installing python3.8 in a pre-build step!

* https://hub.docker.com/r/nikolaik/python-nodejs/

[2020-07-08 14:32] simpson commented on #831
@juanitomint It looks like we are both stuck on the last step, but the errors are a bit different. @Athena96 are you saying that 3rd party domains are not possible to use? We have other CNAME records that work find with Amplify apps. It also states in Amplify that 3rd party domains are possible

![Screen Shot 2020-07-08 at 10 30 52 AM](https://user-images.githubusercontent.com/1605737/86931648-577

[2020-07-08 16:13] lorengordon opened #837 "CannotPullContainerError: error pulling image configuration: toomanyrequests"
**Is your feature request related to a problem? Please describe.**

When using the custom image feature to pull from dockerhub, how do we specify a username/access token so we do not get rate limited? Here's the error message:

[code]

Yes, retrying the build works, but hopefully we can find a better solution.

[2020-07-08 18:23] davetlewis-van commented on #826
@ryanrf-ac Adding a trailing slash to the links fixed it. There's an existing bug report here that pointed to the solution: https://github.com/aws-amplify/amplify-console/issues/405

[2020-07-08 19:17] eyalcohen4 opened #838 "Domain activation is Failed - "CNAMEs you provided are already associated with a different resource"."
**App Id**: d2sg75ix521uxq
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Trying to add a domain to Amplify. The domain was previously connected to another Cloudfront distribution which I disabled and deleted.
I verified that there is no other usage for this domain in CloudFront, as the Troubleshoot suggests.
I've tried to retry for the last hours with

[2020-07-08 19:20] #838 closed

[2020-07-08 19:23] ryanrf-ac commented on #826
Awesome. Thanks @davetlewis-van!

[2020-07-08 19:23] #826 closed

[2020-07-08 20:11] lhovee commented on #530
I had this same issue intermittently and the issue was I was using the drag and drop option but wasn't zipping the dist directory. After creating a support ticket with AWS they let me know you have to zip it.

[2020-07-08 21:12] cecilgwilliams opened #839 "Getting 403 errors rather than 404"
** Please describe which feature you have a question about? **

How to redirect 403 errors to 404 page.

** Provide additional details**

We are getting what appear to be 403 errors from S3:

[code]

when navigating to a page that does not exist, for example: https://www.industriallogic.com/blog/category/onsite-workshop/

[2020-07-09 00:00] Athena96 commented on #839
Hi @cecilgwilliams can you please share the current Rewrite/Redirect rules you have in place for your app.

[2020-07-09 00:45] cecilgwilliams commented on #839
[
    {
        "source": "/shop",
        "target": "elearning.industriallogic.com/gh/submit?Action=BrowseAlbumsAction",
        "status": "301",
        "condition": null
    },
    {
        "source": "/games/pp.html",
        "target": "/blog/patterns-poker/",
        "status": "301",
        "condition": null
    },
    {
        "source": "/onsite-workshops",
        "target": "/training/",

[2020-07-09 02:00] simpson commented on #827
@Athena96 I also tested without the slash, apps/admin-designed-org but still no dice

[2020-07-09 03:14] simpson commented on #194
@HMilbradt have you tried this again since then? We have tried adding a Cloudflare subdomain multiple times and can’t get it working...

[2020-07-09 08:41] lukehedger opened #840 "GitHub Webhooks"
Is it possible to see the webhooks that Amplify Console has registered with the connected GitHub repository?

Looking at the webhooks settings on a GitHub repository I have connected to Amplify Console, I can see an identical webhook has been registered **10 times**. The webhook URL is something like  https://xxxxxxxxxx.execute-api.eu-west-2.amazonaws.com/prod/github

GitHub imposes a limit of 20

[2020-07-09 11:37] AlexBonilloWefox commented on #552
Hi all!

I'm having the exact same issue. It seems that npm command is not found during build process.

### Error

[code]

### Provision
[code]

### Cloning Repository

[code]

Cannot provide access to the repo, but what I can tell you is that previous build was working then following changes were applied:
- Github actions node ci file
- New npmrc file added to the repo:
[code]
- package.json upda

[2020-07-09 12:39] AlexBonilloWefox commented on #552
Amplify.yml:

[code]

[2020-07-09 15:41] elektronik2k5 commented on #661
I'm facing the exact same issue.

[code]
Results in this failure:
[code]

Has anyone found a workaround for this issue?

[2020-07-09 15:45] nellyans opened #841 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: di50d4y6j7wb5
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-07-09 16:32] Athena96 commented on #840
Hi @lukehedger you can view the webhooks for your app by opening the Repo in GitHub, then going to  Settings / Webhooks.

Multiple webhooks for with the same URL is due to deleting then re-adding the application. To clean up your webhooks, you can click on the webhook url, then scroll to the bottom of the page and find the date. Then keep the one with the latest date and delete the others. Thanks!

[2020-07-09 16:36] Athena96 commented on #839
Please try adding the following 404 redirect rule:
JSON [{“source”: “/<*>”, “status”: “404”, “target”: “/404.html”, “condition”: null}]

https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#trailing-slashes-and-clean-urls

[2020-07-09 16:41] Athena96 commented on #841
Hi @nellyans  Did you have this domain attached to another amplify app or directly to CloudFront? If so, you would have to remove it from the CloudFront distribution via the CloudFront Console. Then you can delete and re-add the domain to your app.

[2020-07-09 20:20] cslogan-red commented on #701
Update will be GA by EOW, closing.

[2020-07-09 20:20] #701 closed

[2020-07-09 20:27] chantlong opened #842 "Notify Slack/Email when amplify push locally."
I often need to test amplify backend (functions /apis) on my feature branch and was wondering is there a way I can trigger a Slack/Email notification on `amplify push`.

I looked at https://docs.aws.amazon.com/amplify/latest/userguide/notifications.html
But that only seems to work if I push to a specific branch (dev, prod), which doesn't seem to work well with feature branches.

[2020-07-09 20:55] nellyans commented on #841
Issue solved! Removed my domain from Amplify and reconnected it. Thanks.

[2020-07-09 20:55] #841 closed

[2020-07-09 22:27] lorengordon opened #843 "Diffs between code in git repo and code retrieved by amplify pull"
**Is your feature request related to a problem? Please describe.**

Running `amplify pull` (or `amplify env checkout <env> --restore` or `amplify env pull`) results in changes due to white space. Very annoying for comparing diffs and working in a cicd workflow.

Seems to primarily affect functions. Using `amplify function add` generates a cloudformation template where spaces are used. After deploy

[2020-07-09 23:45] jasonergle-powerschool commented on #206
So what is the latest on this issue?  I literally got it from one build to the next with nothing on the Auth or backend changing at all.  I am loathe to put in any partial hacks to try and work around it, so when can we expect an actual fix?

[2020-07-10 00:05] simpson commented on #831
https://github.com/aws-amplify/amplify-console/issues/200

Followed these steps and tweaked a few other things (we don’t use universal certs only dedicated) and it worked

[2020-07-10 00:05] #831 closed

[2020-07-10 00:06] simpson commented on #824
Gave up and deleted app

[2020-07-10 00:06] #824 closed

[2020-07-10 03:15] cespin commented on #206
I'm getting this out of nowhere too

[2020-07-10 05:24] litwicki commented on #206
@jasonergle-powerschool @cespin @arnabk @kimfucious @zetsnotdead We have started releasing a fix this week that should be available to all regions before end of week. Both us-west-2 and us-east-* have been updated so please let me or the team know if you still experience any issues.

[2020-07-10 05:26] litwicki commented on #115
Just wanted to share an update that we are still actively working on this and on track.

[2020-07-10 07:21] natashawong opened #844 "Build just times out"
** Please describe which feature you have a question about? **
As Amplify tries to build my project, it stalls below (build logs below). I am unsure why it does this, no additional output comes after this.

** Provide additional details**
[log.txt](https://github.com/aws-amplify/amplify-console/files/4901641/log.txt)

[2020-07-10 09:37] lukehedger commented on #840
Thanks @Athena96

[2020-07-10 09:37] #840 closed

[2020-07-10 12:15] jasonergle-powerschool commented on #206
Thanks for the response.  I am in US-East-1 and still see the issue.  Are you saying that I should define the social creds as environment variables now?

[2020-07-10 12:36] abhi7cr commented on #206
Hi @jasonergle-powerschool,

Yes, that is correct. Once the social sign in creds are added as environment variables, they would default to be used in all branches, and the builds would pick it up. You can override them per branch if you have different social creds  across branches.

[2020-07-10 12:53] kevin-mitchell commented on #206
@litwicki is there a ticket or issue on github we can watch to see changes / make sure we are following along in the right place? I think it would be more useful to just follow along with the progress in that issue / PR / release directly rather than the "is it done yet?!" type questions we might ask here?

Also, thank you! :)

[2020-07-10 15:47] Athena96 commented on #844
Hi @natashawong can you share your appId, amplify.yml (only if you're not using the default), and your package.json please. Thanks!

[2020-07-10 15:58] abhi7cr commented on #758
Hey @artchen,

Sorry for the delayed response. I was able to reproduce the above behavior. We will do some more investigation on our side to see why that's happening, and update you.

[2020-07-10 16:08] litwicki commented on #206
@kevin-mitchell We can use this issue to track progress/updates. As of this message we are rolled out to all regions with the fix. As @abhi7cr mentioned above if you add the social sign in creds as env variables you will be all good to go for all branches. If you notice anything abnormal please let us know here.

[2020-07-10 16:19] Athena96 commented on #815
Hi @FizzBuzz791 yes, when you first link a branch (or if you redeploy a version by clicking "Redeploy this version") then the "Last Commit" text will show that message, but on subsequent commits the actual commit message should show.

[2020-07-10 16:21] Athena96 commented on #385
Closing this ticket, please re-open if you are still facing issues

[2020-07-10 16:21] #385 closed

[2020-07-10 16:24] Athena96 commented on #662
Closing this ticket, please re-open if you are still facing issues

[2020-07-10 16:24] #662 closed

[2020-07-10 16:26] Athena96 commented on #672
Hi @OzzieOrca are you still facing this issue?

[2020-07-10 16:27] Athena96 commented on #683
Closing this issue, please feel free to re-open if you are still facing issues.

[2020-07-10 16:27] #683 closed

[2020-07-10 16:28] Athena96 commented on #692
Hi @badrhombus are you still facing this issue?

[2020-07-10 16:28] OzzieOrca commented on #672
Nope, deleting the domain from the Cloudfront Alternate Domain Names
(CNAMEs) field fixed it for me.

[2020-07-10 16:28] Athena96 commented on #697
Closing this issue, please feel free to re-open if you are still facing issues.

[2020-07-10 16:28] #697 closed

[2020-07-10 16:31] #672 closed

[2020-07-10 16:34] Athena96 commented on #704
Hi @tomyitav are you still facing this issue?
If so, did you try the following build settings:
[code]

[2020-07-10 16:35] Athena96 commented on #706
Closing this issue, please feel free to re-open if you are still facing issues.

[2020-07-10 16:35] #706 closed

[2020-07-10 16:36] Athena96 commented on #707
Closing this issue, please feel free to re-open if you are still facing issues.

[2020-07-10 16:36] #707 closed

[2020-07-10 16:37] Athena96 commented on #716
Closing this issue, please feel free to re-open if you are still facing issues.

[2020-07-10 16:37] #716 closed

[2020-07-10 16:38] Athena96 commented on #720
Closing this issue, please feel free to re-open if you are still facing issues.

[2020-07-10 16:38] #720 closed

[2020-07-10 16:44] Athena96 commented on #754
Hi @shotesmagotes are you still facing this issue?

[2020-07-10 16:45] OzzieOrca commented on #672
I didn't create this issue but hopefully the post author got things working :)

[2020-07-10 16:46] Athena96 commented on #772
Closing this issue, please feel free to re-open if you are still facing issues.

[2020-07-10 16:46] #772 closed

[2020-07-10 16:46] Athena96 commented on #775
Closing this issue, please feel free to re-open if you are still facing issues.

[2020-07-10 16:46] #775 closed

[2020-07-10 16:49] Athena96 commented on #776
Hi @oelegeirnaert are you still facing this issue?

[2020-07-10 16:59] badrhombus commented on #692
I've been reluctant to move it after I got it working. I'll give it a try and disassociate the domain, delete and see how it goes. probably later today.

[2020-07-10 17:37] tomyitav commented on #704
Hi @Athena96, yes. This is my build setting, and unfortunately, it does not work.

[2020-07-10 17:49] Athena96 commented on #786
Hi @lukehedger @FizzBuzz791 ,
We have deployed the fix for this issue. Please let us know if you are still having trouble, thanks!

[2020-07-10 17:59] Athena96 commented on #837
Hi @lorengordon just to confirm, have you setup the "Custom Build Image Requirements" from this doc?
https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html

[2020-07-10 18:07] lorengordon commented on #837
@Athena96 Yes, I was actually testing using a [python3.8-nodejs10 image from dockerhub](https://github.com/aws-amplify/amplify-console/issues/595#issuecomment-655540309). The build image *is* working just fine. It just will occasionally hit that rate limit on the dockerhub API.

[2020-07-10 18:12] Athena96 commented on #836
Hi @juanitomint where is the above error message being displayed on your end, are you inspecting the page and viewing the console logs?

[2020-07-10 18:21] Athena96 commented on #835
Hi @MohitKS5 what are you expecting the response to be (from the pic you attached).
Can you also share your appId. Thanks

[2020-07-10 18:23] Athena96 commented on #834
Hi @ShivamSarodia do you have the appId of the app that you had deleted which was attached to your custom domain?

[2020-07-10 18:24] Athena96 commented on #833
Hi @gabrielmicko yes we do not support custom SSL certificate currently.

[2020-07-10 18:31] Athena96 commented on #830
Hi @blairtaylor did you receive an error message when the domain activation failed?

[2020-07-10 18:34] Athena96 commented on #829
Hi @cstavaru can you try updating the front-end build section of your amplify.yml with the following:
[code]

[2020-07-10 18:37] Athena96 commented on #828
Do you have this IAM role setup?
https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html

[2020-07-10 18:43] blairtaylor commented on #830
Yes but the issue is not the error the issue is that once you correct any DNS config issues you cannot retry the activation because clicking the retry button does nothing.

[2020-07-10 18:52] Athena96 commented on #827
Can you please share the folder structure of your repo, and where amplify.yml is in it.

[2020-07-10 18:55] simpson commented on #827
![Screen Shot 2020-07-10 at 2 53 49 PM](https://user-images.githubusercontent.com/1605737/87188656-3b6f9f80-c2bd-11ea-8711-dbd55267b1ed.png)

@Athena96 We have a single amplify.yml at the root, and a folder named /apps/ which will have our clients. In our amplify.yml, if we remove the . or ./, it won't build

[2020-07-10 18:58] Athena96 commented on #825
Did you have a backend environment setup before you tried to enable the pattern-based feature?
Because in the first screenshot you shared, there is no option for "Branch autodetection - backend environment" like in the docs
https://docs.aws.amazon.com/amplify/latest/userguide/pattern-based-feature-branch-deployments.html

[2020-07-10 19:05] Athena96 commented on #819
You will need to update the CNAME connection the cloudfront distribution you no longer use, through Route53 / 3rd party provider.

[2020-07-10 19:13] lorengordon commented on #825
Yes, exactly, that's exactly what I'm saying. There is no option for it in our project. That's why I shared the screenshot, so you could see what I'm seeing.

Fairly sure, yes, but it's been a long week so who knows. I definitely have disabled and re-enabled branch autodetection to try pick it up. I have also reconnected the repo. The option just is not there.

[2020-07-10 19:49] stugorf commented on #14
+1

[2020-07-10 20:18] lorengordon commented on #825
@Athena96 I went back through our slack workspace and remembered that no, we did not have the backend configured when we _first_ setup the pattern-based feature. I added the backend later. But since adding the backend, I have disabled the branch builds and re-enabled them, and reconnected the repo, several times, to no avail.

[2020-07-10 20:42] ShivamSarodia commented on #834
Hey @Athena96, thanks for the reply. I've actually found a workaround that'll do for my needs, so I'll close out this ticket.

[2020-07-10 20:42] #834 closed

[2020-07-10 20:52] Athena96 commented on #818
Hi @alexkates so if you have 2 custom domains setup, then you can create your 3rd (c.example.com) and configure a Route53 Weighted policy for it linking it to the other two domains: https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-weighted

[2020-07-10 21:28] cstavaru commented on #829
Actually my posted yml has the exact path as you have suggested (which is also the default suggested by Amplify console when creating the app), without the single quotes. But Github's post editor does something when posting and alters the way it looks for readers. So that is actually the path used by my yml. I tried with an without quotes, with a different path, etc. No luck.

[2020-07-10 21:29] Athena96 commented on #814
Hi @ohlr you would need to disassociate your domain old CNAME record before attempting to add it as a custom domain for your amplify app.

[2020-07-10 21:59] HoussemLay commented on #828
Yes, i did

[2020-07-10 22:13] hisham opened #845 "How to handle shared backend for two frontend apps in a monorepo?"
** Please describe which feature you have a question about? **
We have a monorepo with two frontend apps but one backend shared between them. We're planning to use the new monorepo feature but we don't want to do two backend pushes on one commit, since the backend is shared. We want the backend to be pushed once, then the frontend builds run and deployed.

Is this possible? Currently it seems like

[2020-07-10 22:28] Athena96 commented on #823
Hi @FelixRe0 so you are no longer experiencing any issues with your 404 rewrite rule, is that correct?

[2020-07-10 23:06] #815 closed

[2020-07-10 23:13] ohlr commented on #814
@Athena96 yes of course... But for the root I don't (it automatically overrides the root record)
while for the www. I have to... This is undocumented

[2020-07-10 23:15] hisham commented on #845
I see this recommendation: https://docs.amplify.aws/cli/teams/multi-frontend

But does amplify console support the amplify pull command? It seems amplifyPush is the only supported command from previous experience.

And we would want frontend plus backend builds to be atomic. i.e. if the shared backend build fails, we don't want to deploy either frontend.

[2020-07-10 23:56] hisham commented on #845
Hey after looking into this some more, I don't think the current monorepo feature as it stands would work for us. The ideal build process I want is the following: push backend then if backend push is successful, push our two frontends simultaneously.

The example given here of a react and gatsby app is a bit too ideal: https://aws.amazon.com/blogs/mobile/set-up-continuous-deployment-and-hosting-fo

[2020-07-11 01:37] MohitKS5 commented on #835
The response I received is the expected response. Also I found that using "credentials": "include" is saving the cookies and I don't understand why because they both are same origin ( one is root and one is a subdomain). I am closing the issue as I no longer have the problem but if you happen to know any reason for this , I will be glad to know.

[2020-07-11 01:37] #835 closed

[2020-07-11 06:08] benkrejci commented on #206
Just got here (started getting this issue today). Thank you @litwicki and @abhi7cr for fix and replies here, but it is not working for me—your instructions are a bit vague though, so I may not be doing the right thing. Can one of you please explain specifically how to fix the original issue stated in this bug? To clarify my confusion:

1. Does the "fix" actually mitigate the underlying issue (of a

[2020-07-11 06:19] litwicki commented on #842
@chantlong have you tried using a custom `amplifyPush` script?

https://github.com/aws-amplify/amplify-console/blob/master/scripts/amplifyPush.sh

You could leverage that on all builds:

`backend:
  phases:
    build:
      commands:
        - '# Execute Amplify CLI with the helper script'
        - amplifyPush --simple`

[2020-07-11 07:38] kimfucious opened #846 "Access Control does not prompt for password when accessing via custom domain url"
Hi there,

This issue is about the Access Control feature in the Amplify console.

I've found that if I setup access control for a branch, meaning "Apply a global password - OFF" and the branch I want to password protect set to "Restricted - password required", that prompt will show for urls like `https://master.d2cmhzfakefxyz.amplifyapp.com`, but there will be no prompt for custom domains that ha

[2020-07-11 08:11] abhi7cr commented on #206
Hi @benkrejci,

The fix would enable the following 2 things:
1) ability to add environment variables during the first time you connect a frontend to an existing backend.
This would enable the following workflow:
 Once you create a backend in Amplify CLI, with auth configured via Social credentials (Facebook, google, Amazon), when you connect your frontend for the first time,  you would have the op

[2020-07-11 08:45] natashawong commented on #844
Hi, thanks for the reply.

AppID – not too sure where I could get that, but I'm guessing it's a part of this?
arn:aws:amplify:ap-southeast-1:397309950213:apps/ds990smrznud7
If it's not it, let me know where to get it and I'll grab it for you.

As for amplify.yml – I tried two versions (running backend and front end separately as well as using an npm package concurrently to run both at the same tim

[2020-07-11 13:19] cespin commented on #206
Adding only the env vars fixed it for me.

[2020-07-11 17:34] kldeb commented on #750
Does anyone know the parameter to only generate the aws-exports file and not add the amplify directory? I'm testing locally since I can't figure out what it isn't working in the amplify console and it just deployed a stale backend on me, not sure why.

[2020-07-11 21:16] gxwheel152 opened #847 "Domain activation is Failed - migrating from existing S3 bucket to AWS Amplify"
**App Id**: d3atgs1o2q9txg
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Trying to migrate the domain from an existing S3 bucket to AWS Amplify.

**Error message**
_Error message_: One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
Deployment to aws amplify functions properly: https://maste

[2020-07-12 03:46] gxwheel152 commented on #847
This was a bit hard to find --- but

The last step on this page related to CNAME Already Exists solved the issue. I had a Cloudfront distribution in front of the S3 Bucket and once I removed the alternate domain names from that distribution, I was able to set up the domains on AWS Amplify.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

[2020-07-12 03:46] #847 closed

[2020-07-12 05:18] shotesmagotes commented on #754
No longer facing issues- did nothing to resolve it but the image appeared after 3 days

[2020-07-12 05:18] #754 closed

[2020-07-12 05:42] benkrejci commented on #206
@abhi7cr perfect explanation, thank you so much! I changed the environment variable names to the following and subsequent builds have succeeded:
AMPLIFY_AMAZON_CLIENT_ID
AMPLIFY_AMAZON_CLIENT_SECRET
AMPLIFY_FACEBOOK_CLIENT_ID
AMPLIFY_FACEBOOK_CLIENT_SECRET
AMPLIFY_GOOGLE_CLIENT_ID
AMPLIFY_GOOGLE_CLIENT_SECRET

[2020-07-12 09:21] thinhs opened #848 "Amplify not working"
Hi !,

I have two app run on amplify:
App 1: home at domain: https://domain.com
App 2: auth at domain: https://auth.domain.com
mydomain is domain.com
I want to rewrite https://domain.com/auth/<*> then write to https://auth.domain.com/<*>

It not work, the rewrite function work so bad than nginx

[2020-07-12 14:46] jhuizingh commented on #206
I'll add my experience here. This issue started occurring recently where it had been working fine before. Adding the environment variables mentioned by @benkrejci (although I just use google and facebook) made the amplify build work again. I made my test google and facebook app credentials the main env var version, and then did an override for the production specific credentials on my master branc

[2020-07-12 14:51] kimfucious commented on #846
A re-deploy somehow fixed this.  Kindly ignore.

[2020-07-12 14:51] #846 closed

[2020-07-13 09:59] richAtreides commented on #264
How do you make a github action trigger after completion of a successful deploy? I'm struggling to get this to trigger a ZAP OWASP scan after build finishes.