[2022-03-14 16:08] iuyt9003 commented on #2510
Same issue, looks like bucket is not exists. and not idea why or how

[2022-03-14 16:09] kevinphillips81 commented on #794
Hi - is there any update to this please? It would be great to use Amplify to deploy internal applications rather than just externally facing ones. Thanks :)

[2022-03-14 16:16] hloriana commented on #2627
Hi @Khristophor Which branches are you having this issue with? After the build stage completes, are the deploy and verify stages initiated?

[2022-03-14 18:46] hloriana commented on #2647
Hi @marco910 👋🏽 thanks for opening this issue. I'm not able to reproduce this but i can see this behavior happening with your app. I will update once I have more information.

[2022-03-14 18:47] Khristophor commented on #2627
Hi @hloriana, this was occurring between I'd say March 3rd and March 10th. Both the provisioning stage or the build stage would simply stop at the last step and nothing else would happen for hours or days. The other stages would not initiate and I would eventually receive a `Build failed to complete successfully.` error.

As for branches, it was happening on various feature branches off of our mai

[2022-03-14 19:13] muzhaqi16 commented on #702
I keep running into the same error
`UPDATE_IN_PROGRESS amplify-souschef-dev-154932 AWS::CloudFormation::Stack Mon Mar 14 2022 15:08:27 GMT-0400 (Eastern Daylight Time) User Initiated
- Updating resources in the cloud. This may take a few minutes...

UPDATE_IN_PROGRESS authsouschef947aa621 AWS::CloudFormation::Stack Mon Mar 14 2022 15:08:35 GMT-0400 (Eastern Daylight Time)
UPDATE_COMPLETE    authso

[2022-03-14 20:22] brunocasado commented on #2635
sorry but i had to reopen.

last week this problem was solved but now it's again here.

![image](https://user-images.githubusercontent.com/1511338/158254754-5ddb2404-199e-4d38-8fb4-ae8ad5ea831c.png)

@sclavijo93 is right.

[2022-03-14 20:49] hloriana commented on #2627
@Khristophor I will double check with the team for more information. I will update you as soon as possible.

[2022-03-14 20:51] marco910 commented on #2647
Hi @hloriana Thank you for your quick reply!
I think the problem is maybe located between CloudFront and S3/Lambda. Because when I request the site on one device and few seconds later on another device it works very well and without the high TTFB.

[2022-03-14 21:04] hloriana commented on #2635
Hi @brunocasado @sclavijo93 which regions are you trying to deploy in?

[2022-03-15 00:11] Narrator commented on #2518
@rakshithxaloori @newilu We are currently looking into this, but can you please provide us with the access logs from the Lambda@Edge functions deployed in your AWS accounts?

You can find the steps to pull access logs by following this link: https://github.com/aws-amplify/amplify-hosting/blob/main/FAQ.md#access-lambda-edge-logs

[2022-03-15 05:52] bbarbour opened #2650 "problem calling /api routes in nextjs build"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-15 06:28] DavideCarvalho commented on #2343
Just leaving my 2 cents about NextJS 12 on Amplify.

On my team we have a NextJS app with a custom .babelrc. Since we have a custom .babelrc, we don't use swc.

We figured it out that Amplify can handle NextJS until version 12.0.8 without using swc

Trying to upgrade to 12.0.9, 12.0.10 and 12.1.0, we started having @brainer1 error.

We activated "AMPLIFY_NEXTJS_EXPERIMENTAL_TRACE", and the error s

[2022-03-15 10:55] gouravbhardwaj commented on #2392
As a workaround we can use platforms like cloudinary and use their sdks to make image responsive, lazy load, decrease size.

[2022-03-15 11:15] sclavijo93 commented on #2635
Hi @hloriana,  I'm trying to deploy in us-east-1

[2022-03-15 11:23] marco910 commented on #2647
Hi @hloriana
Quick update for you: Today, I deployed a new app with the ID `dwlqy3pibcqzt` to the Amplify Console. The app runs also on Next.js with SSR and I'm facing the same issue as with the other site.
When I have a look in the response header of the site, I'm getting two headers of `x-amz-cf-pop` with two different values. Is that normal or a bug?

[2022-03-15 13:22] brunocasado commented on #2635
us-east-1

but i not tested it again.

[2022-03-15 14:09] newilu commented on #2558
Any progress on it? i'm facing the same problem

[2022-03-15 15:28] ENT108 commented on #1271
Does it mean I can't fix it while running only backend on Amplify? I have tried pretty much everything already except turning the app to fullstack.

[2022-03-15 16:15] dhruvsaxena1998 commented on #2436
Still facing the same issue. A simple hello world build is taking over 9-mins to deploy
No build cache found. Please configure build caching for faster rebuilds.

[2022-03-15 17:51] carlosbvz commented on #2602
Hi @jericopulvera ,

Were you able to overcome this issue?

It seems I am affected again by it since today.

Same behavior as mentioned here: https://github.com/aws-amplify/amplify-hosting/issues/2545

[2022-03-15 18:07] hloriana commented on #2627
The team is still deep diving into this issue but it looks like this happened because of the naming conventions of your feature branches. They seem to be exceeding a 128 character limit for our internal processes which is causing the build to hang and timeout. We have identified this as bug and are tracking this for prioritization.

[2022-03-15 20:58] hloriana commented on #2649
Hi @vishal-dms 👋🏽 thank you for opening this issue. We were able to reproduce and are tracking this for prioritization. Thank you!

[2022-03-15 21:09] tobiasfeil commented on #974
When I delete a stack (that was created by `amplify init`) in CloudFormation, it still shows up in the Amplify dashboard and can't be deleted. This is highly undesirable. As a user, I would like to be able to assume that whenever I delete a stack in CFN, everything associated with it disappears.

[2022-03-15 21:25] hloriana commented on #2649
Update, this appears to be a CLI issue. Will transfer to the CLI team for visibility.

[2022-03-15 22:40] #1934 closed

[2022-03-15 23:12] calavera commented on #2251
This problem has been fixed in newer versions of the CLI, sorry about the trouble.

[2022-03-15 23:12] #2251 closed

[2022-03-15 23:34] jericopulvera commented on #2602
Not really. had to create new app and accept the small down time of domain migration process.

[2022-03-16 00:36] carlosbvz commented on #2602
Thanks for sharing @jericopulvera ,

When you mentioned "create new app" do you mean to re-create the amplify app (if so, did that solve your (all) issues?) , or you meant actually migrating to whole new  tech stack?

[2022-03-16 00:50] whathappenedman commented on #1542
"prioritized" after a year! lol

[2022-03-16 04:08] ivadenis commented on #171
I experience this issue too!

[2022-03-16 06:18] bbarbour commented on #2650
Still getting problems here

503 ERROR
The request could not be satisfied.
The Lambda function associated with the CloudFront distribution is invalid or doesn't have the required permissions. We can't connect to the server for this app or website at this time. There might be too much traffic or a configuration error. Try again later, or contact the app or website owner.
If you provide content to c

[2022-03-16 08:08] mithun35h opened #2651 "How to use amplify hosting preview with mono repo?"
**Please describe which feature you have a question about?**

PR Previews in monorepo

**Provide additional details**
I have a monorepo, which is connect to amplify hosted app

Below is the app structure

apps
-platform
-widget
libs
-ui

I have enabled PR previews, it works, but the problem is, it randomly picks across application and their no way to specify which app to pick the preview from?

I

[2022-03-16 10:16] ParulSharma2622 opened #2652 "Redirection from non www to www url"
We have an amplify react app setup. below are the details:

app id : d280tc8bca7hos
app region : ap-southeast-2

Earlier the domain was mapped without www. But now we have configured www and setup a redirect from non www to www.

Unfortunately, it's working for new users only and not for existing ones.

Existing users dont get redirected to www url until they hard refresh the page and if they agai

[2022-03-16 14:24] WarrenHullStunts commented on #735
+1, I'm having the same issue. I'm also having trouble figuring out where I could go to deauthorize the other Github account in order to authorize this new one.

[2022-03-16 14:50] Khristophor commented on #2627
Thanks for the info @hloriana, that makes sense for most of the timeouts. If the team is poking around, any information on the timeout of the `dev` branch failure (build 134) would also be appreciated.

[2022-03-16 15:27] salv0 commented on #1574
Please please please!

[2022-03-16 15:46] gakinson commented on #2624
I am running a pre-build hook which is in  amplify/hooks. The file name is pre-push.js

Can you try the following process.
1. Delete the contents of pre-push or delete the file entirely.
2. Trigger a CI/CD build, wait until complete. (Look to see if it still executes the old hook)
3. Add hook
4. Trigger CI/CD, see if it executes.

Maybe this issue has already been fixed.

[2022-03-16 16:15] calavera commented on #2650
Sorry about the trouble. We're currently looking at this problem. We already have a different issue open that we're tracking in https://github.com/aws-amplify/amplify-hosting/issues/2518.

I recommend you to go to that issue and click the **Subscribe** button so you can get notified when we have a fix in place. I'm going to close this issue so we don't have duplicated tickets.

[2022-03-16 16:15] #2650 closed

[2022-03-16 16:38] hloriana commented on #2652
HI @ParulSharma2622 👋🏽 thanks for raising this question. I was not able to reproduce this issue but we are still investigating. Will update once I have new information.

[2022-03-16 16:45] #2513 closed

[2022-03-16 16:46] hloriana commented on #2630
Hi @bcien 👋🏽 which DNS provider are you using?

[2022-03-16 16:51] hloriana commented on #2652
I imagine the page is being cached in your existing customers' browsers. They should try clearing their cache to see if this removes this recurring behavior. Please let us know if this does not resolve the issue.

[2022-03-16 17:19] hloriana commented on #2643
Hi @rajinikanth2305 👋🏽 it looks like you didn't add `www` as a subdomain for your app. Can you make sure you've added that subdomain? Just select **Manage subdomains** and add `www`. Please let me know if this does not work.

[2022-03-16 17:32] hloriana commented on #2635
@brunocasado please try again to make sure you are unblocked, thanks!

[2022-03-16 18:54] brunocasado commented on #2635
i dont know if this is working as intended..

![image](https://user-images.githubusercontent.com/1511338/158665472-f84ee60f-b6d8-42e7-9049-acfb432f2612.png)

i can connect to our account but the branch seems wrong. It's appear the name "machine" along all apps available

[2022-03-16 20:24] bbarbour commented on #2518
here is an example from the logs on my side
[log-events-viewer-result(1).csv](https://github.com/aws-amplify/amplify-hosting/files/8273165/log-events-viewer-result.1.csv)

[2022-03-16 20:30] bbarbour commented on #2518
[3_16_2022-access-logs.csv](https://github.com/aws-amplify/amplify-hosting/files/8273373/3_16_2022-access-logs.csv)
full amplify log

[2022-03-16 20:36] #1973 closed

[2022-03-16 20:49] hloriana commented on #2447
If you're still having this issue, please feel free to reopen.

[2022-03-16 20:49] #2447 closed

[2022-03-16 20:54] hloriana commented on #2491
Hi @sorokinvj those names are generated by Amplify when a customer specifies that they want a new backend to be created upon deployment. This is usually indicated when branch autodetection is enabled with "create new backend" feature selected. You said you disabled that feature but more backends were created so we will investigate what other setting could be enabled that is causing this. Will resp

[2022-03-16 21:10] hloriana commented on #2546
@lewisdonovan this was not an issue on your end. @ElyYonce are you still running into this problem?

[2022-03-16 21:11] #2546 closed

[2022-03-16 21:14] hloriana commented on #2167
Closing due to no response. If this is still an issue, please feel free to reopen.

[2022-03-16 21:14] #2167 closed

[2022-03-16 21:17] hloriana commented on #2131
We are unable to reproduce. If anyone else runs into this behavior, please create a new issue. Thank you!

[2022-03-16 21:17] #2131 closed

[2022-03-16 21:20] hloriana commented on #2232
Please reopen if this is still an issue. Thank you!

[2022-03-17 04:22] ParulSharma2622 commented on #2652
yes, If they hard referesh the page i.e.. ctrl+f5 then it work but if they again try to access the same page without www then it doesn't work.

This is strange behaviour and I am not able to understand what's wrong. We've even re-created a new app so that the issue is resolved but it's not for some reasons.

[2022-03-17 05:12] allssu commented on #14
+1 ❤️
I want

[2022-03-17 06:16] rakshithxaloori commented on #2518
@Narrator Thank you for responding. It was an issue in my env variables. I fixed it and the 503 errors are gone. Should I go ahead and delete my previous comment?

[2022-03-17 06:32] jericopulvera commented on #2602
New amplify app. Solved all my issues.

But it happens to me multiple times already and I had to create a new app every time.

They should at least make the domain transfer between Amplify apps because it keeps on getting issues.

[2022-03-17 06:34] bbarbour commented on #2518
what was the change?

[2022-03-17 06:41] rakshithxaloori commented on #2518
I had to change some env variables to PUBLIC. Then it was resolved

[2022-03-17 09:45] alexbahnean commented on #171
I have the same issue ..

[2022-03-17 11:55] bbarbour commented on #2518
I don't think that's the same problem as for me, still getting 503 even without any env variables defined

[2022-03-17 16:23] keichenblat opened #2653 "Github repository does not show up on AWS Amplify console dropdown"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-17 19:16] ryomtoob commented on #2556
I am running into this problem again with a different project with App Id d20my976ongmfk. The project didn't have any custom headers configured, so I added the `Access-Control-Allow-Origin` header via the customHttp.yml editor in the console. I have redeployed my PR preview several times, but the header is not being served. I ensured that my path doesn't have a leading slash as that was the resolu

[2022-03-17 19:32] hloriana commented on #2618
Hi @ahurlburt 👋🏽, thanks for raising this issue. The team is aware that this image is broken; they are working on a fix for this.

[2022-03-17 19:33] wellguimaraes opened #2654 "nvm install x fails while globally installing yarn"
Our builds suddenly started to fail while running `nvm install 16` or `nvm install 17` (which causes an `npm install -g yarn`)

[code]

[2022-03-17 20:42] bbarbour commented on #2518
@Narrator any thoughts on this? sites remain broken

[2022-03-17 20:44] bbarbour commented on #2650
@calavera this is still broken and the associated issue at #2518 appears to be something else, is someone able to take a look or is there another option here?

[2022-03-17 21:31] hloriana commented on #2653
Hi @keichenblat thanks for raising this issue. After committing to the repository, did you hit the refresh button and run into this same behavior?

[2022-03-17 21:32] bbarbour commented on #2650
OK sorry this is resolved - i noticed for some reason next was upgraded to v12 - which is not supported in amplify

[2022-03-17 21:33] bbarbour commented on #2518
my problem is resolved - noticed next was upgraded to v12 - which is obviously not yet supported in amplify

[2022-03-18 05:21] Raghunath-SK opened #2655 "Aws amplify deployment - not deleting existing cloudfront and lambda functions."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-18 05:39] seunghwako opened #2656 "AWS Amplify Build Not Reflecting Changes In Web App"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-18 09:49] fgrs commented on #2518
@bbarbour where do you find info on what latest version of nextjs is supported?

[2022-03-18 10:05] bbarbour commented on #2518
This article calls out v11 specifically, but nothing on v12.  https://aws.amazon.com/about-aws/whats-new/2021/08/aws-amplify-hosting-support-next-js-version-11/

- check package.json dependencies
        "dependencies": {
          **"next": "^11.1.4",**   <<<-----
          "react": "17.0.2",
          "react-dom": "17.0.2"
        },
- run npm install next@11
- fixed the deployment

capabilities

[2022-03-18 11:26] lgastler commented on #2654
We currently have the same problem in all projects that use `nvm install --lts`. Node 16.13 seems to work for us so we are now using `nvm install 16.13`.

[2022-03-18 14:39] hloriana commented on #2629
Hi @hanseungyoo 👋🏽 apologies for the delay. Are you deploying an SSR app that lives in a monorepo? If so, make sure that there is a package.json file at the root of the app folder and add `"build": "next build"` script and add `next` as a dependency. Example:

[code]

Please let us know if this unblocks you.

[2022-03-18 15:19] hloriana commented on #2644
Can you also show us what you see when you click the link displayed?

[2022-03-18 15:26] PhilippS93 commented on #1107
How did you configure cloudfront on amplify? Seems that amplify is configuring cloudfront in the background?

[2022-03-18 17:26] Apfelraeuber commented on #595
I ran into the same issue and tried different options to modify the built script. The solution provided by @jgroom33  was the most efficient solution! Thanks a lot. This issue kept me busy for quite some time and for me it was completly intransparent why the building process fails...

[2022-03-18 19:22] hikeeba commented on #2604
I'm getting this on an Amplify branch. Says the Amplify branch already exists, and it sure does, that's how I set up CI/CD...

[2022-03-18 19:24] hikeeba commented on #2604
Not sure if this is the same issue or not, but it looks slightly similar.

[code]

[2022-03-18 20:16] charlieboles commented on #2611
@hloriana I still cannot add notifications. The page now errors and goes completely blank:
<img width="1622" alt="Screen Shot 2022-03-18 at 1 15 49 PM" src="https://user-images.githubusercontent.com/2379680/159077333-c5b71827-224e-4d47-ba0d-fed8887e4095.png">

[2022-03-18 23:31] swaminator commented on #654
We will be prioritizing this feature this year. Stay tuned..

[2022-03-18 23:41] #2618 closed

[2022-03-18 23:44] carvantes commented on #2618
Hi, @ahurlburt , we just updated the Dockerfile to fix the build issue. Please try it out.

Thanks for reporting the issue!

[2022-03-19 00:44] saadataz commented on #2281
@satispunk we have deployed a fix for this. Can you please confirm if it is working for you now.

[2022-03-19 04:36] mithun35h commented on #2651
ok, amplify posts all the successful build previews as comments, which is perfect as you can preview all apps which are changed

The only problem now seems to be is, the amplify check for github PR checks is failing or in loading state

Next steps, i think it's better to disable AMPLIFY_DIFF_DEPLOY as some libs might be used in apps (which have no changes in the PR), which can be previewed

[2022-03-19 08:51] jamessrose opened #2658 "Root domain not accessible"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-03-19 09:46] satispunk commented on #2281
Great! Will do it next week

[2022-03-19 12:03] quinnturner commented on #2343
If I've learned one thing about Next.js throughout my time deploying with Amplify, it's that Next.js has no qualms with breaking deployment behaviour that external services depend on between patches _all the time_. It's so frequent that it almost looks deliberate. With that in mind, I sympathize with the Amplify team delivering this functionality.

[2022-03-19 12:10] junglesquirrel commented on #2552
Hey all, to further clarify the working fix - the above instructions from @sethjeffery combined with assigning a service role to the application worked for me (also described by @gtondello).

[2022-03-19 13:40] ecc7220 opened #3307 "Token expired during amplify push, leaving environment in an unrecoverable state."

[2022-03-19 13:51] hckhanh commented on #2091
+1

[2022-03-19 14:38] kevcam4891 commented on #654
Thank goodness! Hoping at the very least for this to be an update by the next re:invent!!

[2022-03-19 16:55] StephaneBischoff commented on #2281
Does not seem to work for me with my NextJS app with SSR. fonts are in the `public/fonts` folder.
fonts are stored in S3 Bucket.
I have this `customHttp.yml` file. Yet, the `.otf` file have no` Cache-Control` header in response.
Cloudfront has `x-cache: Miss from cloudfront`

[code]

[2022-03-19 18:54] dewflowersp commented on #171
I have the same issue... facing too much trouble...

[2022-03-20 02:44] ViniBjazevich commented on #1154
I am running into this same issue. I tried reconnecting the repository and sometimes that helps but it seems to be a temporary fix. I never ran into issues with this until today and I've used amplify CI/CD consistently for months now.

[2022-03-20 09:10] alexbahnean commented on #171
I manager to fix The issue some how

I disabled the authentication from console (turn off global password and making sure that I game no password for the branch)

Then I made one new dummy commit
I pushed my code
And then I waited until the build was done on amplify console
Checked the website and the password was not there anymore

somehow this steps helped me bypass the issue

[2022-03-20 13:41] julienlaurent-migso opened #2659 "How to set a sub sub-domain in the Domain management console"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-03-20 18:55] codemachine24 commented on #2612
Hi @hloriana - how far are you all with this fix? Thank you.

[2022-03-20 18:58] stablefi opened #2660 "Stuck - Fetching updates to backend environment: dev from the cloud."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-21 02:43] blackumbrella1 opened #2661 "Build Failed - ResourceNotReady"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-21 03:51] ParulSharma2622 commented on #2652
Hi, @hloriana did you checked it further.

[2022-03-21 05:20] Sebusml commented on #2558
I'm having the same issue

[2022-03-21 18:12] Narrator commented on #1154
@ViniBjazevich Could you please share your App ID/Region?

[2022-03-21 18:52] bbarbour commented on #2518
Yes it was resolved by downgrading

[2022-03-21 20:37] hloriana commented on #2656
Hi @seunghwako 👋🏽, what version of Next are you using?

[2022-03-21 20:43] hloriana commented on #2658
Hi @jamessrose sometimes it takes a while for the root domain to become active. I just navigated to it and was able to load your site. Please try again and let me know if you're running into this issue still.

[2022-03-21 20:45] #2588 closed

[2022-03-21 20:59] jamessrose commented on #2658
Yes thanks, working now - i realised i need to add a ANAME record (which i had to switch DNS to route 53 first) - but all good now thanks

[2022-03-21 20:59] #2658 closed

[2022-03-21 21:09] hloriana commented on #2658
Awesome, what DNS provider were you using before?

[2022-03-21 21:10] jamessrose commented on #2658
GoDaddy - but they don't offer ANAME / Alias - so that was the root issue

[2022-03-21 21:58] saadataz commented on #2281
@StephaneBischoff `*.otf` would match the otf files only in at root e.g `/foo.otf`. If you want to match all the otf files including the ones in sub directories like `public/fonts`, try using `**/*.otf` instead

[2022-03-22 02:51] seunghwako commented on #2656
Hi @hloriana I solved this problem Thanks!

[2022-03-22 03:48] ViniBjazevich commented on #1154
d2n3kwnhtn68zj - US-West-1

On Mon, Mar 21, 2022 at 1:13 PM Kaushik Gnanaskandan <
***@***.***> wrote:

[2022-03-22 04:37] ace-d commented on #1154
I have the same issue starting from today.

[2022-03-22 04:47] neekey commented on #367
@clichedmoog same experience for me. Except all the other amazing feature Amplify provides, the build log / build status part of the integration with Github part is very frustrating

[2022-03-22 04:48] neekey commented on #2575
same issue here

[2022-03-22 06:43] THPubs commented on #2427
May I please know exactly what's done by the `AMPLIFY_NEXTJS_EXPERIMENTAL_TRACE` flag?

[2022-03-22 06:51] ParulSharma2622 commented on #2652
I think the issue is not related to caching. Issue is at domain level.

I have noticed that my updated code isn't getting served from non www url (without hard refresh) which is why it doesn't automatically get redirected to www url.

I don't understand why the updated code isn't reflecting back on non www url.

Please somebody help me resolve this issue.

[2022-03-22 11:32] Braj4github commented on #2639
I am also getting the same access denied error while uploading the artifact into amplify app manually.

**This XML file does not appear to have any style information associated with it. The document tree is shown below.**
<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>AW0AD9DMSJXVKNBP</RequestId>
<HostId>4GE8uzVsiOAyIFiJiV6PL3YuFVBBh7Ndxx8pv7ACoxuir7uXJ6iiSqc0VmbA6OZ

[2022-03-22 12:38] StephaneBischoff commented on #2281
Hi @saadataz,

I have tried with this also and it does not seem to work. I see no `Cache-Content` header returned from requests.
I also tried a different test to see if I could get a header to be returned for any file:
- Added this test header to all files.
- in AWS Amplify console, clicked the Redeploy this version.
![image](https://user-images.githubusercontent.com/9750058/159483221-0f8cfff6-27d

[2022-03-22 15:14] hloriana commented on #1154
@ace-d please share your App ID and region

[2022-03-22 18:44] ace-d commented on #1154
Hi,
Thanks for the reply! The id is **d3b8ar5crt5pri** and region is **us-west-1**. The issue happened around 6:00 pm - 8:00 pm PST on 21st Mar.

The CI/CD feature seems working fine this morning.

[2022-03-22 20:44] acomito opened #2662 "Uptime Robot unable to check on amplify site"
I have a vanilla react app on amplify. I have uptime robot setup but it's just getting "connection timeout" and thinks the site is down.

Some other details

- The site is definitely not down, I checked
- I can hit the website url from things like postman too and I get back the html I want
- When I host the same react app on netlify, I can hit the url with uptime roboto and it gets a correct respo

[2022-03-22 21:06] hloriana commented on #2659
Hi @julienlaurent-migso 👋🏽 did you try following the steps to set up a multilevel subdomain? You'd want to add `<env>.yourdomain.com` as a domain and exclude the root. You would then add `<app>.` as a subdomain. Here are the instructions to do so: https://docs.aws.amazon.com/amplify/latest/userguide/to-manage-subdomains.html#to-add-a-multi-level-subdomain. Please let us know if these steps work fo

[2022-03-22 21:11] hloriana commented on #2656
Hi @seunghwako, glad you are unblocked. Can you share what the issue was in case someone else runs into this?

[2022-03-22 21:11] #2656 closed

[2022-03-22 21:13] hloriana commented on #2660
Hi @stablefi 👋🏽 Since this issue is occurring with the Amplify CLI, we will transfer this issue to that team for better visibility.

[2022-03-22 21:23] hloriana commented on #2652
@ParulSharma2622 which DNS provider is your domain hosted with?

[2022-03-22 21:25] hloriana commented on #2647
Was this new app a basic SSR app? Are you using any specific SSR features by any chance?

[2022-03-22 23:08] saadataz commented on #2281
@StephaneBischoff can you please share your app ID?

[2022-03-22 23:22] StephaneBischoff commented on #2281
@saadataz  AppID: d249fcmqdu6stt Region: ca-central

[2022-03-23 00:24] hughesjj commented on #2343
I concur with your point.  That is the sense I have gotten from the situation by enumeration of the facts.

I think AWS (as a company) needs to pay Vercel if they want to continue using NextJS.  It's dumb that people's lives on both sides of the fence are being wasted to intentionally make things harder, resulting in a significantly degregaded customer experience and breach of trust for end users.

[2022-03-23 00:32] lefnire commented on #2343
@hughesjj very thought-provoking post. I didn't realize what I was remembering (ElasticSearch) till you mentioned it. Will be interesting how this pans out.

[2022-03-23 00:40] hughesjj commented on #2343
Elastic Search is the most prominent, but there are definitely more, and it also extends to retail.  I'd imagine discussion of any "hypothetical" lawsuits in specific would be quickly scrubbed from here, as is legally prudent, so I'll refrain from doing so here.

Still, I mean, google exists.

If you're on that google site, I might also google the genius that is Tim Bray.  Strong leader IMHO, real

[2022-03-23 01:04] hughesjj commented on #2343
Summary of thoughts on my above long post:

I agree with @quinnturner and @b-bot that some compatibility issues might be deliberate.  From my third party perspective influenced solely by github issue commentary and historical releases after being in this Amplify+NextJS space to a small degree for the past few years, I get the sense that both
1. amplify likes to move fast and break things, which in

[2022-03-23 01:38] michaelscheung commented on #2343
Based and laborpilled

[2022-03-23 07:03] jedwardblack commented on #2647
I am experiencing the same issue with my NextJS with SSR on AWS Amplify. 12 seconds TTFB for this site: https://getyourpiece.io

[2022-03-23 07:48] marco910 commented on #2647
@hloriana Yes, it's a basic Next.js app with `getStaticProps()` and Incremental Static Regeneration. All the pages are built at build time or in the background. So, there is nothing that could cause the high TTFB There are no "special" features. When I deploy the site to custom server, it's really fast.
I'm also deploying a Gatsby site with Amplify Hosting. With that, I don't have problems.

@jedw

[2022-03-23 13:17] ParulSharma2622 commented on #2652
@hloriana

our DNS provider is **AWS Route 53**

[2022-03-23 13:48] mdh3hc commented on #2594
Any update on this? We are still not able to use our dev server because of this issue.

[2022-03-23 14:46] jedwardblack commented on #2647
I looked up the x-amz-cf-pop location codes that are in the response headers for my site using this: https://www.feitsui.com/en/article/3

The IAD50-C2 location is Washington Dulles; that makes sense.
The DWF56-P1 location doesn't exist, at least from what I could find.
The other Dallas-Fort Worth locations do exist, but not P1.

It is probably a problem that there are 2 of those headers, but I wo

[2022-03-24 06:29] kwong70 opened #2664 ""Successful" (4/4 green check marks) deployment leads to a 404 error on the cname"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-24 09:03] DeveloperMujtaba commented on #56
Hello, does aws amplify supports custom ssl or not?

[2022-03-24 09:16] Leejjon commented on #2169
This issue happens a lot to us. While disconnecting the branch and connecting it again works, it would be better if this wouldn't happen at all.

[2022-03-24 09:42] ipf-jkang opened #2665 "Is there a way to rename or choose AWS resource names?"
**Please describe which feature you have a question about?**
to rename or choose S3 bucket, Cloudfront, Lambda@Edge names

**Provide additional details**
I'm using Amplify to host Next.js apps. But deployed apps always have non-human-readable resource names on S3 Bucket, Cloudfront, Lambda@Edge.
Is there a way to rename or choose AWS resource names?

**What AWS Services are you utilizing?**
Amplif

[2022-03-24 14:31] bjudson1 commented on #2215
yes this is needed!

[2022-03-24 15:25] calavera commented on #2665
Unfortunately, there is no way to provide descriptive names. Sorry for the inconvenience.

[2022-03-24 16:48] hloriana commented on #2664
Hi @kwong70 👋🏽 I was able to navigate to your website via the Amplify app url. Can you confirm if you're still running into this issue?

[2022-03-24 17:05] hloriana commented on #2653
Closing due to no response. Please re-open if this is still an issue. Thanks!

[2022-03-24 17:52] keichenblat commented on #2653
Apologies for the delay.
Yes, I have tried committing and hitting the refresh button.
I even re-authorized Amplify, as you've once suggested here: https://github.com/aws-amplify/amplify-hosting/issues/1347#issuecomment-1009299429
(but that did not help either)

I have a HAR file that captures this process. Is there a way for me to send it to you privately?
(P.S. it weighs 25MB uncompressed / 6MB c

[2022-03-24 18:17] hloriana commented on #2653
Can you try sending the HAR to aws-amplify-customer@amazon.com?

[2022-03-24 18:26] dn-l commented on #2169
@Leejjon my best suggestion to you: dump amplify and use vercel, your life will be so much easier
(what I did)

[2022-03-24 18:39] hloriana commented on #1154
@ace-d @ViniBjazevich we've been working on resolving this issue. Can you confirm if this behavior is still happening?

[2022-03-24 18:40] keichenblat commented on #2653
Sent 👌🏻

[2022-03-24 18:49] hloriana commented on #2646
Hi @ishansharma 👋🏽 Thank you for opening this issue. I'm working to reproduce this issue and will respond once I have more information.

[2022-03-24 19:40] hloriana commented on #2659
Thank you for providing further clarification. You can share cookies across subdomains within an app but not across multiple apps because a CNAME can only resolve to one distribution. Each custom domain is connected to its own CloudFront distribution and there is no way to associate a domain with multiple distributions.

[2022-03-24 20:00] jpgarbanzo opened #2667 "Unable to deploy backend from app code even though it's unchanged from what amplify-cli generated"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-24 20:14] jayKayEss opened #2668 "Unable to create new Amplify app in console because of CORS error"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-24 22:44] Leejjon commented on #2169
I would but the company I work for wants to use AWS and not too many external systems.
I just managed to solve it by the way. We had this only after a migration. Our package.json specified "next": "11.1.4",  but because we forgot to add the environment variable _LIVE_UPDATES=[{"name":"Next.js version","pkg":"next-version","type":"internal","version":"latest"}] Amplify figured we wanted to use Next

[2022-03-24 22:53] victorccccc commented on #2551
Hi sorry for the inconvenience. Currently, Amplify doesn't support Next 12. If you are seeing 503 error, please try to downgrade to Next 11.

If you are already in Next 11 or lower version, please follow this instruction to attach logs here https://github.com/aws-amplify/amplify-hosting/blob/main/FAQ.md#access-lambda-edge-logs .

Thanks! :-]

[2022-03-24 22:57] victorccccc commented on #2540
Closing this issue but feel free to re-open this if you have questions.

[2022-03-24 23:04] dayhaysoos commented on #2540
@victorccccc  this is still a problem for me. I've tried the advice in here, no matter what I do I cannot get an updated version of the frontend deployed.

[2022-03-24 23:05] victorccccc commented on #2326
Hi @Hadjimina ,  Currently, Amplify doesn't support Next 12. If you are seeing 503 error in Next 12, please try to downgrade to Next 11.

If you are already in Next 11 or lower version, please follow this instruction to attach logs here https://github.com/aws-amplify/amplify-hosting/blob/main/FAQ.md#access-lambda-edge-logs . Thanks

[2022-03-24 23:06] victorccccc commented on #2540
@dayhaysoos Hi, can you share your appId?  Thanks

[2022-03-24 23:08] dayhaysoos commented on #2540
@victorccccc the appId is: `d3vb0tcd5f5lde`

It seems that it only rebuilds the initial deploy I've done when I set this up. I followed the instructions from the docs site on the set up

[2022-03-24 23:09] victorccccc commented on #2518
Hi, sorry for the convenience. Currently, Amplify doesn't support Next 12. If you are seeing 503 error in Next 12, please try to downgrade to Next 11.

If you are already in Next 11 or lower version, please follow this instruction to attach logs here https://github.com/aws-amplify/amplify-hosting/blob/main/FAQ.md#access-lambda-edge-logs . Thanks

[2022-03-25 01:10] jpgarbanzo commented on #2667
It seems like the issue happens whenever I:

- Add relationships to the tables in my model, using the UI
- Pull the changes into my app's local environment
- Attempt to push any changes that trigger a fullstack build

I tried adding just two tables and I get the same problem, am I missing something?

[2022-03-25 05:59] gagharutyunyan1993 commented on #171
Rebuild your branch after changing Access control, it will fix the issue.

[2022-03-25 08:08] lukaszbanasiak commented on #2551
Can confirm that issue is with Webpack 5.

Webpack 5 is a default one in the Next 12 and can't be downgraded to 4. Downgrade to 4 is supported in Next 11 by setting `webpack5: false,` in `next.config.js`.
More info https://nextjs.org/docs/messages/webpack5

Also, be sure to remove Next from "Live Package Updates" in "Build settings" as it will try to bump Next to the latest version during the buil

[2022-03-25 08:17] raja-poudel commented on #941
@ardian-c where can i set npm config in amplify console

[2022-03-25 08:22] julienlaurent-migso commented on #2659
Hi @hloriana,
I am not agree with you, we can share cookies between all apps carried by the same domain.
I am actually doing this thing to be able to share token authentication accross my Amplify Apps.

See below my amplify app:
![image](https://user-images.githubusercontent.com/79509459/160078409-a483c389-7e8f-4c41-9448-64905733fadf.png)

For each app i have defined a related sub domain for each

[2022-03-25 15:11] jayKayEss commented on #2668
It turns out this was caused by insufficient user privs in our SSO setup 😰

I feel like the error could be more informative though!

[2022-03-25 16:34] hloriana commented on #2668
Hi @jayKayEss 👋🏽 glad to see you were able to resolve this. I will close this issue but we are working on improving the logging and I will add this feedback for the team as well. Thank you!

[2022-03-25 16:34] #2668 closed

[2022-03-25 17:49] hloriana commented on #2648
Hi @0afcode 👋🏽 can you provide you AppID and region so we can further investigate this behavior?

[2022-03-25 17:55] hloriana commented on #2642
Hi @leonardof131 I'm able to visit your application via your custom domain. Can you confirm that this is resolved for you?

[2022-03-25 17:56] hloriana commented on #2645
Hi @shefuyuta we are investigating this issue. Will respond shortly.

[2022-03-25 18:47] LightbulbServices commented on #2526
Hi @hloriana
I tried your suggestion...

When I try this I am notified by AWS that I "Cannot create user(s)".
This is the case for full access or manage only.
The user I'm logged in to the AWS Console with has AdministratorAccess.

Thank you for any help you may be able to provide on this!

![image](https://user-images.githubusercontent.com/56498633/160182880-1d335eaf-b9c1-4ae8-96d4-cd495e16f63e.p

[2022-03-25 19:59] hloriana commented on #2645
Can you follow these instructions to list the information for the distribution associated with the CNAME and to troubleshoot: https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/ . If these steps do not help, please provide us with the account number the distribution is deployed in. You can provide this information via email to aws-amplify-customer@amazon.com

[2022-03-25 22:12] atlesp commented on #2479
I had the same problem and solved it by checking out the env locally (`amplify env checkout <my env>`) and then running `amplify push`.

After that, the console build also worked.  What is the difference between a local` amplify push` and the command ` amplifyPush --simple` run in the build?

Is it related to that it imports the existing environment in that [push script](https://github.com/aws-amp

[2022-03-26 00:44] MatheusChein commented on #2518
@victorccccc does it work if we override the package version on the build settings? And set it to NextJs v11? Or do we also have to change that on the package.json file of the project?

[2022-03-26 01:46] beam36 commented on #2563
@Narrator @saadataz It's been almost 2 months. Is there any update? If there's no fix soon, we'll have to consider moving to another platform.

[2022-03-26 20:17] meatberger commented on #2612
Hello! I am having a similar issue. I am using the package override in build settings to match our development Node.js version 16.14.2 and latest Amplify version 7.6.26 .

<img width="1139" alt="Screen Shot 2022-03-26 at 3 59 30 PM" src="https://user-images.githubusercontent.com/17072467/160255339-70c20142-6d18-4b46-9b6f-1339a7b1cdd9.png">

CI/CD fails in the "Build" phase with "Invalid feature fl

[2022-03-27 01:35] nicholasrobertson opened #2669 "Deploy fails with error "No ssrResources.json file" when using aws_cli "aws amplify create-app""
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-27 06:48] decatoncheir commented on #2644
My jekyll deployment have the same issue. The build and deployment ticks are all green, but my jekyll website cannot be displayed.  Instead, a page "Your app will appear here once you complete your first deployment." is displayed.

<img width="1157" alt="Screenshot 2022-03-27 at 2 42 48 PM" src="https://user-images.githubusercontent.com/45692724/160270071-cbedef1a-992c-41c1-bd48-f9dbc3c576d0.png">

[2022-03-27 06:49] decatoncheir commented on #2644
The link of my deployment is [beta.decatoncheir.net](https://beta.decatoncheir.net)

[2022-03-27 13:39] ocbrollingpaper commented on #2175
same happening to latest version, had to downgrade, any update on this?

[2022-03-27 13:50] keichenblat commented on #2653
The issue has resolved itself today, at least for the specific repository that I was trying to connect.
I'm not 100% sure if it's related, but I had to reconnect the repository to amplify on the AWS account where the repository was already linked and working for months.

After going through the reconnect repository process on the other account, I finally started seeing the repository in the dropdo

[2022-03-27 21:53] nicholasrobertson commented on #2669
I managed to get this to build with no error just now.

I'm not exactly sure of the root cause however after running the `get-app` command and comparing my manually created app vs the cli created,

- I made some changes to the auto-build/create settings, and
- I also added some odd looking environment variables, and
- I added a new line to the build.yml but I doubt that did much.

As expected my t

[2022-03-28 02:40] irl-dan commented on #2667
I'm seeing this same exact thing right now.

[2022-03-28 06:32] ParulSharma2622 commented on #2652
@hloriana are you still looking into this issue.

[2022-03-28 09:13] martinburger commented on #2612
I had to use Node.js version 14 to make this work: AWS Amplify Console -> Build settings -> Build image settings -> Live package updates -> Node.js version -> `14`. There, I also set Amplify CLI to `latest`.

See [above comment](#issuecomment-1055957949) by [hloriana](https://github.com/hloriana).

[2022-03-28 15:09] yassinecc commented on #2580
Hello @hloriana , is there anything I can help with regarding this issue?

[2022-03-28 17:36] Davide-WO commented on #2667
Same problem

[2022-03-28 17:47] hloriana commented on #2189
I just tested this out, this feature is now working properly and a new backend is created when branch autodetection is enabled. If you are still running into this issue please feel free to re-open.

[2022-03-28 17:47] #2189 closed

[2022-03-28 20:08] hloriana commented on #2667
Hi @jpgarbanzo @irl-dan @Davide-WO thank you for raising this issue, the team is investigating

[2022-03-28 20:18] hloriana commented on #2669
Hi @nicholasrobertson 👋🏽 thank you for raising this issue and providing a workaround for folks! The team is looking into this.

[2022-03-28 20:26] hloriana commented on #2501
There was likely a delay after the deployment finished but your app should've been available to view. Are you still experiencing this behavior?

[2022-03-28 21:15] jpgarbanzo commented on #2667
Thanks @hloriana and AWS Team.

I will be happy to collaborate to address the issue.

[2022-03-28 23:41] Revhealthkannan opened #2670 "Download amplify binary"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-29 07:48] maziarzamani commented on #64
+1

[2022-03-29 08:19] clawrence121 opened #2671 "Unable to create a NextJS application in a monorepo as SSG, Amplify defaults to SSR and build fails"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-29 09:56] l-hendriks opened #2672 "Build failing with 429 errors from github"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-29 16:48] biller-aivy commented on #2281
any news?

[2022-03-29 16:59] hloriana commented on #2669
We currently don't support manual deploys with SSR applications as stated in this documentation: https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html. If you run into further issues with this manual deployment, please follow these recommended steps for deploying SSR apps: https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html

[2022-03-29 17:01] hloriana commented on #2520
Hi, apologies for the delay it looks like your baseDirectory needs to be set to .next. If you're still running into this issue please feel free to reopen.

[2022-03-29 17:09] #2426 closed

[2022-03-29 18:14] timatperfectco commented on #1157
I am also seeing this with appId d1vnyp07tjmivm and vue .  The install of the mocha files for a cypress e2e test built using the vue cli and amplify studio seem to hang.  Now trying to disable all CI/CD tests to unblock deployment but it's sad it hangs.

[2022-03-29 20:20] aaronksaunders commented on #2443
i am running into this error, what JSON file where there errors in?

[2022-03-29 20:23] ArnaudTouillet commented on #2392
There seems to be something happening with png and transparent backgrounds. I don't know if that is related but when using the Image component, the transparent background becomes black. I noticed this happens only on external urls only.

[Internal url image (works fine)](https://nextjs.djdf1zymc0vt5.amplifyapp.com/_next/image?url=%2F_next%2Fstatic%2Fimage%2Fsrc%2Fassets%2Fimages%2Flogos%2Fhc.31e03

[2022-03-30 00:26] arbass22 commented on #2655
Definitely seeing this as well. Its even more of a problem since there is a low quota for Lambda@Edge distribution so the Amplify builds start to failing with the error: "TooManyDistributionsWithLambdaAssociations: Completing this action would cause the maximum number of distributions with Lambda function associations per owner to be exceeded (maximum allowed is 25)."

So not only does this issue

[2022-03-30 00:35] arbass22 commented on #2424
My company is likely to move off of Amplify as a result of this issue, any updates @hloriana?

[2022-03-30 00:36] arbass22 commented on #2655
Seems like this has been an open issue for a few months #2424 https://github.com/aws-amplify/amplify-hosting/issues/2424

[2022-03-30 02:43] yicru commented on #2605
Is there any update on this?
Because of this issue, CloudFront Distribution is not deleted and the build fails.
I have set up a CI to remove distributions with disabled status, but the status remains enabled and does not seem to be working.
[code]

[2022-03-30 02:52] Alek-S commented on #2655
Also related to #2605

[2022-03-30 03:00] Alek-S commented on #2605
We experienced the Cloudfront issue as well due to resources not being cleaned up and on preview PRs. In our case, a team member was unable to push code for a bug fix due to build failures after we hit our account caps. It required manual intervention to clean up some of them to unblock the PR, but it is frankly hard to identify which resources are from which amplify projects and/or PRs without ma

[2022-03-30 07:57] nirradi opened #2673 "Monorepo and cache don't work together as expected"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-30 09:56] jcardus opened #2674 "Rewrite to Application Load Balancer doesn't work (I suspect its because of TLS1.3)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-30 12:22] may215 opened #2675 "amplify mock not exposing graphql api"
Hi,
I have an amplify graphql api, and when I run `amplify mock`, only the storage is exposed, the api not, the console stays on the following output and do nothing:
`
Mock Storage endpoint is running at http://localhost:20005
GraphQL schema compiled successfully.

Edit your schema at /amplify/test/api/back/schema.graphql or place .graphql files in a directory at /amplify/test/api/back/schema
`

w

[2022-03-30 13:02] arbass22 commented on #2605
Agreed, even if I wanted to create an external process to delete old resources there is no easy way to reliably identify them. I'd love to add a tag to all all of the Amplify managed resources so I know they are Amplify deployment-related.

[2022-03-30 13:20] arbass22 commented on #2575
We are also experiencing this issue

[2022-03-30 15:34] shefuyuta commented on #2645
Hi hloriana,

Thank you for checking.
I could not find distribution within my accounts.

Following is the error message that I got.
Error message: [CNAMEAlreadyExistsException] The following CloudFront distributions are already using one or more of your domains: [Distribution: *******35Z8EU4 in AWS Account: ******182396, Distribution: *******35Z8EU4 in AWS Account: ******182396]. If you own these

[2022-03-30 16:29] repepto opened #2676 "the app stuck on "pending" forever after dragging the folder"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-03-30 18:30] #2004 closed

[2022-03-30 18:49] swaminator commented on #1287
Closing this task and tracking publish errors in https://github.com/aws-amplify/amplify-hosting/issues/1463

[2022-03-30 18:49] #1287 closed

[2022-03-30 20:56] mbuffoQSR commented on #2301
Any other news or updates? Or does anyone have a workaround that drags in the correct link each time?

[2022-03-31 01:25] colemars commented on #367
In my case, the build has succeeded, but github still shows in progress.

[2022-03-31 02:42] hectorakemp commented on #2268
I'm having this issue too, @incraigulous.
Here's my `LIVE_UPDATES` for reference. I'm on Next 11.1.2.
[code]

[2022-03-31 03:27] hectorakemp commented on #2268
I also can confirm that setting LIVE_UPDATES to this works:
[code]

[2022-03-31 08:21] indiejoseph commented on #2653
same here, the dropdown only shown my personal repos, cannot see any repo from org.

[2022-03-31 08:32] Hamza141999 opened #2677 "Unable to connect branch for hosting after OAuth to GitHub App code access for triggering build"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-31 09:51] yukinakanaka opened #2678 "Cannot use GitHub organization repository"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-31 09:54] ParulSharma2622 commented on #2652
anyone looking into this issue.

[2022-03-31 09:59] Athena96 commented on #2677
Hi @Hamza141999 were you by chance trying to connect a repo through an organization you have access to, or was the repo in your own account?

[2022-03-31 10:04] arundna commented on #2678
Hi @yukinakanaka - Thanks for reaching out! We've made some changes in the backend. Can you please test the flow again and let us know if you still face the same issue?

If yes, can you collect the Console Logs from the browser and send an email to aws-amplify-customer@amazon.com?

Thanks!

[2022-03-31 10:40] yukinakanaka commented on #2678
Hi @arundna
It was fixed! Thanks a lot for your help!

[2022-03-31 10:40] #2678 closed

[2022-03-31 11:57] Hamza141999 commented on #2677
I was trying to connect the repo through an organization I have access to, of which I was given the ownership of as well.

[2022-03-31 13:26] indiejoseph commented on #2386
got same issue, with nx monorepo, any idea to resolve it?

[2022-03-31 13:46] arbass22 commented on #2605
I considered doing this, but would also need to delete S3 buckets and Lambdas from old deployments as well. And those don't have the concept of "disabled" so it is hard to identify what can be deleted

[2022-03-31 14:11] hloriana commented on #2677
@Hamza141999 Can you try connecting again? Some changes were pushed. Please let us know if you are still blocked.

[2022-03-31 14:28] indiejoseph commented on #2671
Actually once the project detected your app is SSR, you cannot change it later on, please make sure the branch you connected with next export in your build script for Amplify to detect it correctly.

[2022-03-31 14:40] Hamza141999 commented on #2677
Yeah its working now, thanks!

[2022-03-31 14:45] #2677 closed

[2022-03-31 14:51] blackgerman commented on #259
duplicated fiield in the schema

[2022-03-31 15:15] hloriana commented on #2645
This issue was resolved with AWS support. Closing.

[2022-03-31 15:43] iceye commented on #1250
+1 today eu-central-1 at 16:03-16:15 GMT

[2022-03-31 16:22] victorccccc commented on #2492
Hi, can you try to edit `amplify/hooks/hooks-config.json` and remove  `"node_modules"` from `ignore` as a workaround?

[code]

Thanks

[2022-03-31 17:54] hloriana commented on #2655
Hi @Raghunath-SK @arbass22 @Alek-S 👋🏽 thank you for highlighting this issue and providing feedback. I'm working with the service team to prioritize this issue.

[2022-03-31 18:05] hloriana commented on #2424
@arbass22 The service team is currently working on this. I do not have an exact date for when the fix will be rolled out but this bug is being treated as a top priority.

[2022-03-31 18:20] hloriana commented on #2605
The team is actively working to fix this bug. We understand manually deleting these resources is not ideal and we are working to fix this issue ASAP. I will close this issue as a duplicate of #2424. Please enable notifications for that issue so you will be notified when the fix has been rolled out.

[2022-03-31 18:20] #2605 closed

[2022-03-31 18:21] hloriana commented on #2655
I will close this issue as a duplicate of https://github.com/aws-amplify/amplify-hosting/issues/2424. Please enable notifications for that issue so you will be notified when the fix has been rolled out.

[2022-03-31 18:21] #2655 closed

[2022-03-31 19:23] Alek-S commented on #2424
@hloriana do you happen to know if we are being charged for these undelete services resulting from this bug, and if so, will the accounts be credited back that amount?

Also, although I do appreciate there is not an exact date being that it is a bug, seeing as this has been an open defect with the AWS dev team for four months at the time of writing, loosely speaking are we days, weeks, or months a

[2022-03-31 20:15] colemars commented on #2673
would
[code]
solve your problem?

[2022-03-31 20:37] hloriana commented on #2672
Hi @l-hendriks can you provide you app ID and region so we can further investigate?

[2022-03-31 20:58] tipsysquid commented on #2653
Hi everyone, I ran into this issue myself and found a resolution.

**This is my timeline:**

* I created a new github profile that was given limited (Read Only) access to my repo
* Then I went to Amplify and connected the profile
* First, I was unable to see my repo in the drop down
* I then found this issue #2653 that suggested I make a commit to the repo itself, revoke auth to Amplify from Githu

[2022-03-31 20:58] hloriana commented on #2539
Hi @nbolland thank you for providing these details. So is this feature working as expected for you now?

[2022-03-31 22:04] swaminator commented on #524
This is now addressed: https://docs.aws.amazon.com/cli/latest/reference/amplify/create-branch.html. You can point to a specific backend environment to link it to your branch using the `[--backend-environment-arn <value>]`

[2022-03-31 22:04] #524 closed

[2022-03-31 22:28] mdh3hc commented on #2594
@swaminator Hey following up again here. Not being able to use our dev environment at all has really impacted our workflows so any help on this would be greatly appreciated.

[2022-04-01 00:44] irl-dan commented on #2667
I actually updated the model in the source code and did an `amplify push`.
No DataStore turned on for modeling it in Amplify Studio for me. But same
error logs as above.

On Thu, Mar 31, 2022 at 3:48 PM, hloriana ***@***.***> wrote:

[2022-04-01 03:04] mauerbac commented on #2145
Hi @hloriana - I think this issue has been resolved. I was able to confirm setting `AMPLIFY_DIFF_DEPLOY` did not trigger a deploy.

[2022-04-01 08:29] banut1 commented on #2492
Hi. Thanks, this works for me for now. However, further changes to the script are still not taken into account. The deploment bucket is not updated with the new files.
I will write the scenarios that I tried, because not all worked, maybe it helps others:

1. already existing environment, deployed with hooks-config.json containing node_modules
- build 1 - **success**
- build 2 - **fail** with the

[2022-04-01 10:35] joecritch commented on #2486
@ferdingler Thank you for the response!

[2022-04-01 12:23] Davide-WO commented on #2667
@hloriana no my procedure was identical to that of @irl-dan.

But I add that we are a team, one of the guys could have something wrong during a push.
In the last 2 days I have personally done the "amplify push" and it has not given me more problems.

[2022-04-01 12:30] StephaneBischoff commented on #2281
@saadataz any update? thank you

[2022-04-01 12:41] Sekaiichi commented on #2593
Good day, @hloriana.
Did you see this problem?

[2022-04-01 13:57] l-hendriks commented on #2672
sure! eu-west-1 and d21nzwkm439ia

[2022-04-01 16:21] aalyokhin commented on #2575
Is there any update about this? We’ve got this issue as well and it has significant impact on our workflow.

[2022-04-01 16:26] jcardus commented on #2674
Can anyone help please? Should I redirect somewhere else?

This looks like a serious issue.

Regards.

[2022-04-01 20:10] hloriana commented on #2674
Hi @jcardus 👋🏽 thanks for opening this issue, we are taking a look. Will update once we have more information.

[2022-04-01 23:27] CarsonGH commented on #2639
This seems to be happening to me when I add a custom domain to the amplify app. When I remove the domain it works again.

[2022-04-02 02:03] leighkendell commented on #2564
Possible duplicate of: https://github.com/aws-amplify/amplify-hosting/issues/2127

[2022-04-02 05:28] saadataz commented on #2563
@beam36 This is still work in progress. We will update this thread as soon as the issue fixed.

[2022-04-02 15:51] simaspoldantb commented on #2449
I got same problem. with message
`[INFO]: Cannot find any generated SSR resources to deploy. If you intend for your app to be SSR, please check your app Service Role permissions. Otherwise, please check out our docs on how to setup your app to be detected as SSG (https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html#deploy-nextjs-app)`

`{"code":"7","message":"No

[2022-04-02 19:16] davaya opened #2679 "Cannot delete Amplify backend after deleting bucket"
**Is your feature request related to a problem? Please describe.**
Issue #2456 describes a console problem, the solution provided uses the CLI, and the issue was closed.

**Describe the solution you'd like**
Console allows deleting amplify app without having to use CLI.

**Additional context**
The Amplify All apps page shows apps as big smiley boxes.  Clicking on an app shows "hosting environments

[2022-04-03 08:27] alfonsson commented on #2679
I'm trying to cancel my account but there is an app that I cant delete because I have deleted the bucket amplify-amplifyapp-dev-111349-deployment.

[2022-04-03 13:47] TomJD commented on #2564
AppId: d2e0nl4dryjx58
Region: eu-west-3

[2022-04-03 13:54] TomJD commented on #2127
How is this issue open for such a long time and no fixes have been implemented?
Just as @manelephant said, how can Vercel achieve this working flawlessly and Amazon is still scratching its head?

[2022-04-03 13:58] arshkkk commented on #2127
Considering some caveats while working with AWS amplify for NextJS,  after that getting longer time ( so higher prices )

I moved to vercel, so much easy and hassle free

[2022-04-03 14:02] indiejoseph commented on #2377
Hi forks, i got a good news, after many hours of tried and error, my Nextjs app able to deploy on Amplify without fail, i can visit the site, and SSR rendering same doing fine, but all nextjs API handles return 503 error "Cannot find module '../../../webpack-api-runtime.js"...., still figuring out what is it.

here is my amplify.yml:

[code]

[2022-04-03 18:29] Rafcin commented on #2377
Override the serverless yml by switching to the. SLS package to version
 `​component​: ***@***.******@***.***​'`
This should solve the problem with the 503 on API routes with the latest
version of Next. (Should be fine with next 11 as well)

On Sun, Apr 3, 2022, 7:02 AM Joseph cheng ***@***.***> wrote:

[2022-04-03 20:40] quinnturner commented on #2564
As Leigh mentioned, this is a duplicate of #2127 and should be closed to isolate discussions. This problem is not readily resolvable on Amplify's end. See my comment here for more information: https://github.com/aws-amplify/amplify-hosting/issues/2127#issuecomment-891999266.

[2022-04-03 22:31] indiejoseph commented on #2377
Hi Rafcin, the sls component version seems got redacted

[2022-04-03 22:48] Rafcin commented on #2377
`'@sls-next/serverless-component@3.7.0-alpha.11'`
When you build, using the amplify YML after prebuild run `- cp config/serverless.yml serverless.yml` and just overwrite the generated sls file.
[code]

[2022-04-04 07:55] indiejoseph commented on #2377
Thanks @Rafcin after updated the sls component version, the API backed is working great, but the frontend is return 503 error, and the log show SQS permission error, and then i attached SQS policy into the lambda role, the frontend working immediately. but some pages works, but pages still getting `Minified React error #321` errors..., i think i should switch back to yarn workspace.....

[2022-04-04 08:11] Rafcin commented on #2377
Oh right you are using NX. As of now Amplify and NX don't really work
together. I suggest trying Turborepo, you will def find it better. It's
just as fast and it takes 2 seconds to set up with workspaces.

[image: created with MySignature.io]
<https://mysignature.io/?utm_source=logo>
Raf Szuminski

Developer | TacoTuesdays.com
P:  (949)-338-7506
E:  ***@***.***
<https://mysignature.io/editor/?utm_

[2022-04-04 10:45] indiejoseph commented on #2377
Just figure out the React error actually came from [React v18 issue](https://github.com/vercel/next.js/discussions/35773), after downgrade to v17 my app working well without any problem, my workaround is:
[code]

[2022-04-04 11:18] rmakovyak commented on #614
@swaminator this feature is also something that our team is looking for

[2022-04-04 14:55] tinynumbers commented on #219
From https://docs.aws.amazon.com/amplify/latest/userguide/to-set-up-automatic-subdomains-for-a-Route-53-custom-domain.html -

![image](https://user-images.githubusercontent.com/1790173/161571333-501e885a-382d-428f-b98f-6c4fd1fa0184.png)

Unfortunate. It would be ideal of auto creation of sub-sub domains could work for a setup where the primary domain is already a subdomain.

[2022-04-04 15:59] hloriana commented on #2492
Hi @banut1 we were able to reproduce this issue. You can update the hooks by running `amplify push` locally. We are tracking this as a bug.

[2022-04-04 16:37] josefaidt commented on #2492
Hey @banut1 to add on to @hloriana 's comment above we were able to reproduce using the following steps:

1. `amplify init -y`, `git init` , `gh repo create`...
2. `amplify add hosting` > CI/CD, connect to git
3. push to git, which will trigger a build
4. add a command hook (`post-pull.js`, for example)
5. push to git, which will trigger a build
6. notice hook doesn't get executed nor is it presen

[2022-04-04 18:07] hloriana commented on #2672
Thanks for your communication. Can you also provide the logs that show these 429 errors?

[2022-04-04 20:30] hloriana commented on #2676
Hi @repepto, I was not able to reproduce this behavior. Can you provide a sample repository that produces this bug? Were you able to successfully update your application before?

[2022-04-04 20:34] hloriana commented on #2667
Please try running this amplify push command: `pushAmplify --allow-destructive-graphql-schema-updates --simple`. This should allow your deployments to be successful.

[2022-04-04 21:27] nbolland commented on #2539
Hi @hloriana. Yes, it is working as expected now. To recap:
The first codecommit repo I migrated to amplify worked exactly as expected when creating a new read-only service role.

The issue was with the 2nd codecommit repo I tried to migrate -- it would not create a new read-only service role and instead kept defaulting to the previously created read-only service role which ended up obviously erro

[2022-04-04 22:41] repepto commented on #2676
Hi. I v noticed that happens sometimes.  The app may be updated several times very fast but sometimes it stucks on pending for a very long time.  About 10 hours or even more.  Reuploadings don't solve issue. So waiting is only way.Serhii,Best
-------- Original message --------From: hloriana ***@***.***> Date: 4/5/22  02:01  (GMT+05:30) To: aws-amplify/amplify-hosting ***@***.***> Cc: repepto ***@*

[2022-04-05 03:10] Fightmander opened #2680 "can't get into amplify studio"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-05 06:55] robotsrng commented on #2377
indiejoseph. If I could buy you a beer I would

[2022-04-05 08:12] karanpiplani opened #2681 "Create domain association failed One or more domains requested are already associated with another Amplify app:"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-04-05 13:05] axelkry commented on #1173
@garyleefight @garyleefight Im having the same issue and I wonder if the root cause is the same... But could you clarify if the issue was that there were too many branches in the repo or that there were too many branches where PR previews were enabled?

[2022-04-05 13:34] l-hendriks commented on #2672
Sure, it goes from "clong repository" to "backend" in the pipeline, that log is the following:

[code]

the last few days the error seems to have disappeared though!

[2022-04-05 15:33] calavera commented on #2127
hey folks. We're working on improving this experience in our product. Unfortunately, it's not an easy fix, but we're taking steps in the right direction.

[2022-04-05 15:35] calavera commented on #2377
That's awesome @indiejoseph! Thanks for figuring this out 🙌

[2022-04-05 16:07] TomJD commented on #2127
Totally agree with @CauanCabral

That comment will allow us to patiently wait until the next riot. Thank you for the feedback!

[2022-04-05 16:24] hloriana commented on #2681
Hi @karanpiplani we can see those domains are associated with an Amplify app in another account. Please make sure you check all of your AWS accounts for apps created in the `ap-south-1` region.

Please note we cannot provide support for cross-account issues via GitHub. If you still cannot find the app that is associated with those domains, create a ticket with [AWS Support](https://us-east-1.conso

[2022-04-05 16:49] mauerbac commented on #2520
Hey @hloriana - I think the issue is referring to the service misidentifying Next instead of React. sounds like this developer isn't using Next but rather a React app. Can we reproduce?

[2022-04-05 17:42] m1stermanager commented on #2127
@calavera is there any sort of ETA? if this lands prior to my app growing too large, i may be able to use amplify and just suffer through slow builds in the meantime.

[2022-04-05 17:55] calavera commented on #2127
@m1stermanager unfortunately, I cannot give you an ETA, sorry about that.

[2022-04-05 18:54] sulak2 opened #2682 "I cannot query users created through the lambda function"
I integrated a post confirmation lambda function in my authentication flow (which is build using cognito) to save users in the backend.
When this lambda function runs I can see that user has been created in the 'UserTable' of dynamo DB but I cannot query that user from inside my application and also I cannot see that user from inside of my amplify studio.

[2022-04-05 19:21] hloriana commented on #2682
Hi @sulak2  👋🏽 we're happy to assist you but first, please create a GitHub issue using the **Bug report** template. Thank you!

[2022-04-05 19:21] #2682 closed

[2022-04-05 19:47] hloriana commented on #2591
It looks like your most recent builds have been averaging around 7-8 minutes. Please let us know if this issue is resolved for you.

[2022-04-05 20:02] mbush91 opened #2683 "Cannot Delete/Pull/Push Backend or Open Amplify Studio After Adding Python Symlinks"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-05 20:24] sachscode commented on #2683
Could you please share the following information
1. amplify -v  : version of the CLI being used in the above case
2. How are you working with the application ( is this in Studio or CLI )
3. Please share the errors reported when performing the failed operations ( amplify push, amplify pull )
4. Please confirm that the amplify folder contains the backend resources.

[2022-04-05 20:57] swaminator commented on #2315
@bhattibytes can you try this: https://github.com/aws-amplify/amplify-hosting/blob/main/FAQ.md#environment-variables-workaround

[2022-04-05 21:02] #2119 closed

[2022-04-05 21:50] jpgarbanzo commented on #2667
hi @hloriana any updates on this one? or a workaround?

[2022-04-05 22:22] Athena96 commented on #2136
Hi, closing this issue out as it should be fixed now. Please feel free to re-open if you continue to face the issue. thanks!

[2022-04-05 22:22] #2136 closed

[2022-04-06 00:54] vbhakta8 commented on #794
Is there a timeline on when this might be coming, if not is there any support guide on how we can add amplify apps to our VPC?

[2022-04-06 02:34] sulak2 opened #2684 "I cannot query items created through the lambda function"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-06 03:48] Fightmander commented on #2680
hello, this happens only when i click on "Launch studio"
________________________________
De: hloriana ***@***.***>
Enviado: martes, 5 de abril de 2022 10:07 a. m.
Para: aws-amplify/amplify-hosting ***@***.***>
CC: Fightmander ***@***.***>; Mention ***@***.***>
Asunto: Re: [aws-amplify/amplify-hosting] can't get into amplify studio (Issue #2680)

Hi @Fightmander<https://github.com/Fightmander> 👋🏽

[2022-04-06 06:14] leye195 commented on #2127
Hope it will be fixed soon... it take so long time on SSR build

[2022-04-06 08:48] zhoub commented on #1140
+999999

[2022-04-06 13:40] hloriana commented on #1998
Closing. If you run into this issue again please feel free to reopen.

[2022-04-06 13:40] #1998 closed

[2022-04-06 18:33] ryanhuff opened #2685 "Can't get git commit builds working"
**Please describe which feature you have a question about?**
I'm trying to get the CI/CD release process working so that when I commit to the release branch, it runs the amplify push process.

**Provide additional details**
Note: I am able to `amplify push` locally without any issues (after switching branches and checking out the correct amplify environment).
I have two environments in this applic

[2022-04-06 21:59] reesscot opened #2686 "Amplify Console UI Bug: clicking the "Build" link doesn't do anything"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-07 06:56] rubenchoi2 opened #2687 "Backend environments screen whites out"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-07 09:06] axelkry opened #2688 "Pr previews not created"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-07 09:40] dqcuong93 opened #2689 "Amplify login could not redirect to Canvas LMS app"
**Please describe which feature you have a question about?**
AWS Amplify login

**Provide additional details**
We have the Canvas LMS application and would like to use Cognito as our Identity Pool and customise the login UI by using Amplify. The problem we have met is:
- If we login through Cognito Hosted UI, everything's perfect.
- if we login through Amplify API, we could not make redirect to ou

[2022-04-07 10:45] l-hendriks commented on #2672
Thanks a lot for the reply! I have added the github token, the issue hasn't been going on for a while now so might be that that fixed the issue.

[2022-04-07 10:45] #2672 closed

[2022-04-07 16:53] victorccccc commented on #2549
Hi, sorry for the convenience, we've fixed this issue. Feel free to re-open if issue persists. Thanks

[2022-04-07 16:53] #2549 closed

[2022-04-07 16:54] #2569 closed

[2022-04-07 16:55] victorccccc commented on #2137
Hi, sorry for the convenience, we've fixed this issue. Feel free to re-open if issue persists. Thanks

[2022-04-07 16:55] #2137 closed

[2022-04-07 17:40] yaguirre commented on #64
@swaminator  do you have any updates about this issue??

[2022-04-07 17:42] yaguirre commented on #917
Do you know if there's any update about this issue?

[2022-04-07 18:54] swaminator commented on #1542
@lastmaj @jonahx @fooman @alexBotteri @jorepstein @agostbiro @bigjosh @ellemenno We now support
 GitHub apps to help with this: https://aws.amazon.com/about-aws/whats-new/2022/04/aws-amplify-hosting-github-access-workflows/.

Please let us know if you have any issues.

[2022-04-07 18:54] #1542 closed

[2022-04-07 19:15] hloriana commented on #2604
Hi @hikeeba @spina-a-d can you also share your App IDs?

[2022-04-07 20:52] amphi-live commented on #2679
I also have this issue. I deleted the bucket and cannot delete the apps now (I have multiple like this).

[2022-04-07 21:16] victorccccc commented on #1645
Hi @chrisl777, @hnhegde, @omilovskiy .Sorry for the inconvenience, we've made many improvements on our build system, does this issue still persist on your end?  If you still have questions, please include your AppId in your comment. Thank you!

[2022-04-07 21:18] victorccccc commented on #1587
Hi @ntekka, @shreddish. Sorry for the inconvenience, we've made many improvements in our build system, does this issue still persist on your end? If you still have questions, please include your AppId in your comment. Thank you!

[2022-04-07 21:45] chrisl777 commented on #1645
@victorccccc I haven't seen this issue in a while, since I posted it. I think at the time I was working on a project with an older version of Amplify, and it's since been updated.

[2022-04-07 22:01] victorccccc commented on #2229
Closing this issue, but feel free to re-open if issue persists. Thanks

[2022-04-07 22:01] #2229 closed

[2022-04-08 01:18] jakcst commented on #2550
isn't it docker-compose up? Rather than docker compose up

[2022-04-08 01:36] hnhegde commented on #1645
Haven't seen this message in a while. Good to know improvements are being
made. Thank you!

--
Best Regards,
Harsha N Hegde

On Fri, 8 Apr, 2022, 03:15 Chris Livdahl, ***@***.***> wrote:

[2022-04-08 01:47] davaya commented on #2551
I've been trying to get the Next.js "blog" demo working.  All of the (three) SSR pages were working fine even though I was running Nextjs version 12, but the API lambda was generating the 503 error.  The deployment [Troubleshooting Guide](https://github.com/aws-amplify/amplify-hosting/blob/main/FAQ.md#access-lambda-edge-logs) doesn't include the API lambda; mine looks like
[code]
After I downgrade

[2022-04-08 02:49] CharlieGreenman commented on #59
this helped re: my use case as well

[2022-04-08 08:44] anastasiyamazheika commented on #2550
@jakcst nope, still the same issue "docker: command not found"

[2022-04-08 10:22] Randgalt opened #2690 "Metrics dashboard never displays"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-08 10:43] marco910 commented on #2647
Hi @hloriana Are there any updates on this?

[2022-04-08 12:26] jakcst opened #2691 "How can I delete my Hosting Environment only."
I've created a frontend hosting environment but can't get it to build. I'd like to simply remove it and move to beanstalk. However, I have a backend (auth) setup that I would like to keep in place. How can I accomplish this?

[2022-04-08 14:44] hloriana commented on #2391
The fix has been pushed out for this issue. Closing.

[2022-04-08 14:44] #2391 closed

[2022-04-08 15:12] m1stermanager commented on #2204
this would be a great feature. as long as two amplify apps vs one w/ two envs doesn't impact my cost, its a very reasonable workaround

[2022-04-08 15:26] hloriana commented on #2473
The Amplify CLI appeared to not be installed when running your build. I'm not able to reproduce this behavior. If you're still running into this behavior, please provide an App ID for us to investigate.

[2022-04-08 15:41] calavera commented on #2550
Hi,

That's not possible because your commands run already inside a docker container. We don't have any plans to make that possible, sorry for the inconvenience.

[2022-04-08 15:41] #2550 closed

[2022-04-08 18:19] hloriana commented on #2559
Hi @asabourin can you confirm if you're still running into this issue?

[2022-04-08 18:23] #758 closed

[2022-04-08 18:25] ntekka commented on #1587
@victorccccc thanks for responding.  It may have been an old Amplify build but either way, I've since moved to serverless-nextjs to gain more control over debugging errors.  My project has gotten beyond the intended use of the Amplify console so I do need the extra control.

I still do appreciate the work your team is doing! keep it up!

[2022-04-08 18:41] hloriana commented on #2387
@lindsaybloomsonos @dartmoordunbar are you still experiencing this error? If so please provide your AppID (if you haven't)

[2022-04-08 18:47] hloriana commented on #618
Are you still running into this issue?

[2022-04-08 18:55] #1933 closed

[2022-04-08 19:56] mauerbac commented on #2690
I'm able to reproduce this. Let me engage the team. Thanks for reporting.
![Screen Shot 2022-04-08 at 3 55 13 PM](https://user-images.githubusercontent.com/1507886/162517454-7619ae43-3a99-4457-8e1d-f6bda3695119.png)

[2022-04-08 20:15] hloriana commented on #2690
Thank you for identifying this issue. The team is aware of this bug and is working on a fix. Eventually the metrics dashboard will load. Or if you click on "Alarms" and then go back to "Metrics" then it should load. We will update this issue once a fix has been pushed.

[2022-04-08 20:19] hloriana commented on #2691
Hi @jakcst 👋🏽 thanks for opening this issue. Two things here:
1. What issues are you running into with building your application on Amplify? Please provide an AppID so we can investigate and help to unblock you.
2. You can continue to manage your backend via the [Amplify CLI](https://docs.amplify.aws/cli/) or using the [Amplify Studio](https://docs.amplify.aws/console/)

[2022-04-08 20:34] jcardus commented on #2674
Hello @hloriana, do you have any update? Regards.

[2022-04-08 21:24] #1587 closed

[2022-04-08 21:25] #1645 closed

[2022-04-08 21:25] victorccccc commented on #1645
Closing this issue, but feel free to re-open. Thanks

[2022-04-08 21:25] victorccccc commented on #1587
Closing this issue, but feel free to re-open. Thanks

[2022-04-08 22:03] victorccccc commented on #1647
hi @tscole, @franklin113 , @dpickett. Sorry for the inconvenience, we've made many improvements in our build system, does this issue still persist on your end?

[2022-04-08 22:08] victorccccc commented on #1835
Hi, sorry for the inconvenience, we've made many improvements in our build system. I can see builds of this app completed successfully recently. Closing this issue, feel free to reopen if issue persists, thanks!

[2022-04-08 22:08] #1835 closed

[2022-04-08 22:30] #1575 closed

[2022-04-09 03:01] ShanonJackson commented on #2343
https://nextjs.org/docs/advanced-features/output-file-tracing

NextJS is adding a few things to make it easier for people to host outside Vercel this new feature makes it significantly easier to do a lot of things that these community based libraries have had a hard time with.

[2022-04-09 06:57] AlessandroVol23 commented on #2551
I followed all of these workarounds but it is still not working:

- Next 11
- `weboack5: false`
- Removed package override

Error
[code]

The first thing I am doing when visiting the site is redirecting to an API route to handle auth via Auth0.

[2022-04-09 08:31] YashMarmat commented on #1674
**here's a try:**

Before pushing the code to AWS amplify try to generate the build locally
`npm run build`
(in my case it was SVG issue, which AWS console was not detecting)

[2022-04-09 18:17] hikeeba commented on #2604
My App ID is `d2d5rf58axme3s`. This issue went away after doing an env pull and the trying again. Not sure if it is related to the issue reported here.

[2022-04-09 18:29] Saswatxp opened #3028 "How to host multiple reactJs web app under one domain in amplify?"
I've 2 different reactJs applications which can be deployed independently to aws-amplify. Is there a way I can configure them to the different context paths of the same domain?

www.mydomain.com/app1
www.mydomain.com/app2
Is it possible using amplify?

[2022-04-09 18:31] Saswatxp opened #2692 "How to host multiple reactJs web app under one domain in amplify?"
I've 2 different reactJs applications which can be deployed independently to aws-amplify. Is there a way I can configure them to the different context paths of the same domain?

www.mydomain.com/app1
www.mydomain.com/app2
Is it possible using amplify?

[2022-04-10 03:52] zadrafi opened #2693 "Can an existing cloudfront distribution be linked to amplify?"
I have an amplify app that's a web hosting app. When I created it, it created a custom S3 Bucket and a CloudFront distribution that I can't seem to find but I'm having difficulty finding out whether its possible to link the app to an existing distribution. Any help is appreciated.

Thank you

[2022-04-10 07:13] seokjungms commented on #2449
According to the aws amplify nextjs doc, amplify detects whether it's SSG by seeing the 1) package.json has "next-export" script and 2) Build settings have "out" as baseDirectory. In my case, I was missing next-export in my pakcage.json when I first created Amplify app. Even if I changed the package.json and build settings, the error still occured. I also downgraded the next.js according to https:

[2022-04-10 07:25] nirradi commented on #2673
@colemars thanks but I have a workaround, I was simply pointing out that there's either a bug or a documentation issue.

[2022-04-10 16:53] colemars commented on #2673
@nirradi you're not reading the correct path is my point..

You specified node_modules/*, but you're wanting frontend/app/node_modules/*

There's no way to get to the latter from the former.

Not really in the scope of the library to teach file paths imo

[2022-04-11 08:37] egd-gledoux commented on #2579
Hi, the auto-renewal problem is still there. And this is really problematic because deleting and creating a custom domain takes several minutes. Do you plan to do anything about it?

Thank you

[2022-04-11 08:40] egd-gledoux commented on #2579
Ok I find the point on the documentation : "The certificate generated by AWS Certificate Manager (ACM) is valid for 13 months and renews automatically as long as your app is hosted with Amplify. Note that Amplify can't renew the certificate if the CNAME verification record has been modified or deleted in the DNS settings with your domain provider. You must delete and add the domain again in the Am

[2022-04-11 09:38] mattryall commented on #2579
That documentation is not correct. As mentioned above, my SSL certificate was generated by Amplify originally (in early 2021) and did not automatically renew after 13 months.

Or perhaps it did renew (in ACM), but the renewed certificate was not picked up by the Amplify app hosting.

Anyway, it’s definitely glitchy and requires the domain to be deleted and added even if you haven’t messed with any

[2022-04-11 10:04] kicaal opened #2694 "[BUG] Couldn't find a `pages` directory. Please create one under the project root"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-11 11:19] vandreleal commented on #2424
Hi @hloriana, any updates on this matter? Thank you for providing feedback on all GH issues created highlighting this issue. My team is facing the same issue on a product we are working on at the moment, which is a monorepo with 2 SSR projects that have staging and production environments with preview links enabled. That has been a cause of concern because each build left behind leaves the followi

[2022-04-11 12:36] NotLuksus opened #2695 "Changing Access control has no affect"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-11 14:53] hloriana commented on #2686
Hi @reesscot 👋🏽 thank you for raising this issue. This is a bug with the UI. We will add this to our backlog for prioritization. Thank you!

[2022-04-11 15:11] Alek-S commented on #2424
@hloriana

Got contacted by our manager due to a developer with a failed PR preview build due to maxed-out lambdas occurring again last Friday when I was on PTO so they were left stuck.

[code]

@hloriana If we cannot be given more explicit mitigation steps and/or proper fix timelines from AWS on this, I will have to advise the company to abandon AWS Amplify for Next.js apps and migrate to a compe

[2022-04-11 15:18] rtscosta opened #2696 "ModuleNotFoundError: Module not found: Error: Can't resolve 'electron'"
Hi guys. I am trying to use Amplify with a React / Next / web3 project. When I tried to build the project, I got the following error on the Frontend build part.

Does any have this erro before or know how to solve it?

2022-04-10T03:00:11.543Z [ERROR]: Error: Command failed with exit code 1: node_modules/.bin/next build
                                  warn  - No ESLint configuration detected. Ru

[2022-04-11 15:42] vandreleal commented on #2424
Hi @Alek-S , I understand that the following suggestion require manual action, which is not ideal, but I thought it would be worth mentioning in case they help you and your team. You can remove disabled distributions from the CloudFront panel to remove lambda associations that are counted in the total of associations even though they are not in use. Another suggestion would be going to the `Rewrit

[2022-04-11 15:42] hloriana commented on #2688
Hi @axelkry 👋🏽 thanks for opening this issue. We're taking a look to see if there is a limit you've exceeded. I will update you once I have more information.

[2022-04-11 15:44] hloriana commented on #2662
Hi @acomito I'm not familiar with uptime robot but I will take a look and see if I can reproduce.

[2022-04-11 15:52] #2688 closed

[2022-04-11 16:21] hloriana commented on #2673
Hi @nirradi 👋🏽 thanks for pointing this out!

[2022-04-11 17:10] hloriana commented on #2518
For anyone experiencing this 503 bug, please try to redeploy your SSR app. We just rolled out an update that should fix this issue.

[2022-04-11 18:11] vandreleal commented on #2424
I understand @Alek-S , it's indeed time-consuming and a manual process that becomes a burden to the team. As you said, preview builds are particularly troublesome to review even though resources are usually created under a common pattern `\d{6-7}-\d{6,7}`. Our number of active buckets, lambda functions, IAM roles, and CF distributions started spiking around the time @arbass22 posted a new comment

[2022-04-11 22:48] raboomar opened #2697 "Hosting react app on AWS Ampilfy"
I'm trying to host a react app on was amplify but during the building stage, I keep getting an error. I have attached pics of my setup.

CustomerError: Artifact directory doesn't exist: build

`version: 1
frontend:
  phases:
    # IMPORTANT - Please verify your build commands
    build:
      commands: []
  artifacts:
    # IMPORTANT - Please verify your build output directory
    baseDirectory: b

[2022-04-11 22:48] raboomar commented on #2697
`version: 1
frontend:
  phases:
    # IMPORTANT - Please verify your build commands
    build:
      commands: []
  artifacts:
    # IMPORTANT - Please verify your build output directory
    baseDirectory: build
    files:
      - '**/*'
  cache:
    paths: []`

[2022-04-11 23:30] jakejcheng commented on #14
+1

[2022-04-12 00:02] ritika2291 commented on #2667
Im facing the same issue as well

[2022-04-12 02:46] xenyinnaya opened #2698 "domain activation not completed"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-04-12 06:05] nicolasmplus opened #2699 "Stuck at build and deploy steps"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-12 06:54] nicolasmplus commented on #2699
Sometimes, the log is saying the deployment is completed but it is not reflected on the UI.

<img width="686" alt="image" src="https://user-images.githubusercontent.com/53163737/162898762-9d82d765-e26d-4563-a715-6eb7d9b5a7a8.png">

[code]

[2022-04-12 08:02] axelkry commented on #2688
@ganipcanot Thanks! And just to clarify for future reference, the issue is that our "Branch autodetection pattern" matches more than 50 branches. And not that we have more than 50 branches in the github repo. Right?

[2022-04-12 09:50] axelkry commented on #2688
Understood 👍 .. Will PR-preview envs count towards this quota? I'm asking since each PR preview env is listed with the formad "pr-[number]" as "branches" in App Settings -> General

[2022-04-12 10:13] Pijuli commented on #331
🤔🤔🤔

[2022-04-12 13:02] ShivamJoker commented on #150
Hello please reopen this issue.
I am still facing it on gitlab

[2022-04-12 16:29] #2694 closed, assigned to nobody

[2022-04-12 16:31] calavera commented on #2693
If you're using Amplify Hosting, you don't have direct access to the S3 Bucket, or CloudFront distribution. It's not possible to link an app to a distribution that you control.

[2022-04-12 16:31] #2693 closed

[2022-04-12 16:32] #2692 closed

[2022-04-12 18:36] crow7m commented on #1140
+++++9999999

[2022-04-12 19:13] DanielJSottile commented on #367
For my team, this is still an issue.  The checks are not consistent either, as some will pass/fail, while others will stall indefinitely. Build/deployment succeeds but we can't use the check right now to verify PR's

[2022-04-12 19:13] DanielJSottile commented on #2575
Same issue here. For my team, the checks are not consistent either, as some will pass/fail, while others will stall indefinitely. Build/deployment succeeds but we can't use the check right now to verify PR's

[2022-04-12 19:16] DanielJSottile commented on #1458
For my team, this is still an issue.  The checks are not consistent either, as some will pass/fail, while others will stall indefinitely. Build/deployment succeeds but we can't use the check right now to verify PR's

[2022-04-12 20:45] ganipcanot commented on #367
We recently released a fix where Failed builds would not correctly update the GH status check.

There is a separate scenario where if you open a pull request then add some changes on top of it - this will queue up another build.  We had a bug in that scenario where the GH status check would get "hung" i.e. stuck in progress.  That fix has been merged but not yet deployed.

[2022-04-12 23:09] victorccccc commented on #1647
Closing this issue, feel free to create new issue or reopen this if issue persists. Thanks

[2022-04-12 23:09] #1647 closed

[2022-04-12 23:26] andreroggeri commented on #2402
So sad to see an incredible effort to explain a basic workflow and get no answer from AWS.

And everyone that comes here hoping to solve the problem and leaves wondering what Nick did to solve that 😞

[2022-04-13 03:21] jonschoning opened #2700 "js error in AWS Amplify console which causes screen to go blank, preventing usage of amplify console"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-13 08:43] sleukhin opened #2701 "Next.js Rewrites object with `fallback` option causes 503 ERROR"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-13 13:13] acomito commented on #2662
Thanks @hloriana . I remember we had some issues with reflect.run running against our site as well... maybe a header setting that needs to be changed from the amplify defaults to allow services like this to programmatically hit the website?

[2022-04-13 15:29] hloriana commented on #2700
Hi @jonschoning 👋🏽 thanks for raising this issue. Which tabs/settings were you clicking around in that produced this behavior?

[2022-04-13 15:32] hloriana commented on #2699
Hi @nicolasmplus 👋🏽 thanks for raising this issue. For us to figure out why your deployments are failing, we need to investigate a bit further. Can you provide you App ID?

[2022-04-13 15:36] hloriana commented on #2697
Hi @raboomar can you provide you App ID?

[2022-04-13 15:41] jonschoning commented on #2700
Amplify > BackendEnvironments > "MyDevEnv" > API

[2022-04-13 15:41] hloriana commented on #2701
Hi @sleukhin 👋🏽 I was able to reproduce this behavior. Currently investigating if we support this and if theres a workaround.

[2022-04-13 16:05] nicolasmplus commented on #2699
Hello @hloriana! I now have 2 apps suffering from the issue recently. They are `d1mxwac2gxvx2l` and `d2ucgbk8kwui22`. Thanks!

[2022-04-13 22:36] Narrator commented on #2603
@bilafish Please wrap your command within single quotes like so:

[code]
The `:` character in the YAML needs to be escaped or quoted. You can check how your YAML file is parsed using this online tool: https://jsonformatter.org/yaml-to-json.

[2022-04-14 00:00] bilafish commented on #2603
@Narrator After modifying my build.yml as above, the builds are failing now with error: `!!! CustomerError: Base Directory not specified for artifacts, unable to create build artifact.` in the build log.

[2022-04-14 00:24] Narrator commented on #2603
@bilafish Your build spec is malformed. This is the build spec you have right now:
[code]

`baseDirectory` and `files` should not be under `phases`. They should be under `artifacts`. Here's the corrected YAML:
[code]

[2022-04-14 00:40] bilafish commented on #2603
Thanks for your help @Narrator! Issue seems to be resolved now.

[2022-04-14 00:40] #2603 closed

[2022-04-14 01:02] ivansf commented on #2551
Having the same issue.

[2022-04-14 02:19] UncleSnail opened #2702 "Amplify Console "Settings -> General" Page Crashes After Failed Repository Update"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-14 03:17] lehoai opened #2704 "Using domain (Route53) : all query parameters are cleared!!"
**Which Category is your question related to?**
Domain Route53
**Amplify CLI Version**
7.6.9
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
Route53
**Provide additional details e.g. code snippets. _Be sure to remove any sensitive data._**

I've registered a domain in route53, then add it into amplify app.
The problem is if I don't

[2022-04-14 07:12] buzzbites commented on #457
### Follow the Screenshot

![Untitled](https://user-images.githubusercontent.com/102157977/163333123-18a356ab-aa45-41f7-ad29-6cf3d8fcbd23.png)

[2022-04-14 07:13] sannjayy commented on #457
### Follow the screenshot

![Untitled](https://user-images.githubusercontent.com/52757722/163333272-ad6bd3dd-7f02-4b4b-8129-0b11fa617d8c.png)

[2022-04-14 11:15] Sef1995 commented on #609
Any updates on this?

[2022-04-14 11:20] brandalive commented on #2702
I am experiencing the exact same problem for App Id djtcp9yl28a69 (eu-west-1)

[2022-04-14 11:50] osnodegeoffrey commented on #44
+1

[2022-04-14 12:10] TimmDay commented on #2127
@calavera Thanks for the update!
Don't know if this is possible - but maybe a temporary salve could be to provide a config option to turn on/off the cloudfront part of the amplify service, (or at least restrict it to edge locations in the local region where the s3 buckets are), so that build related debugging can happen faster?

[2022-04-14 15:44] hloriana commented on #2387
A fix was pushed for this. If you're still experiencing this issue please re-open.

[2022-04-14 15:44] #2387 closed

[2022-04-14 15:44] Kiougar commented on #2579
Same issue with our custom domain. The certificate was automatically renewed in ACM but it's not being picked up from the amplify app. We haven't changed the CNAME record...

**Can someone please fix this asap? This should be treated as an outage...**

[2022-04-14 15:58] #2361 closed

[2022-04-14 16:15] UncleSnail commented on #2702
Thank you for the suggestion. Unfortunately, that is solving a slightly different issue. I did have a GitHub account already linked and working, similar to what is described in the referenced article.
The issue came up when trying to switch the repository of an existing app from this working GitHub app connection to GitLab.
Although I may be able to get the old GitHub working again, it doesn't cha

[2022-04-14 16:50] karwalr commented on #2432
Did you solve this? I have the exact same issue

[2022-04-14 17:03] hloriana commented on #2684
Hi @sulak2 👋🏽 apologies for the delay. We will work to reproduce this issue and find a solution/workaround.

[2022-04-14 17:43] hloriana commented on #2304
Hi @riyanefendy are you still running into this issue?

[2022-04-14 18:19] swaminator commented on #2160
We now support GitHub apps to help with this: https://aws.amazon.com/about-aws/whats-new/2022/04/aws-amplify-hosting-github-access-workflows/.

Please let us know if you have any issues.

[2022-04-14 18:19] #2160 closed

[2022-04-14 18:23] #2331 closed

[2022-04-14 18:27] #2413 closed

[2022-04-14 20:32] zadrafi commented on #2693
Yes, but what about the documentation that shows that one can import existing resources via the amplify CLI such as using amplify import storage, or amplify configure hosting?

[2022-04-14 20:38] zmays commented on #1163
There is a redirect section in amplify settings that auto makes a rule that does not include the .otf file extension. Edit it to add otf to the list:
<img width="1152" alt="Screen Shot 2022-04-14 at 3 37 58 PM" src="https://user-images.githubusercontent.com/4370615/163471572-5f49ebf8-2c53-4086-97c0-1556b5734aec.png">

[2022-04-15 00:01] johnstonmatt commented on #2575
Same issue here, failures are not being communicated back to GitHub, developers unfamiliar with this quirk can waste a lot of time waiting for a build that will never finish

[2022-04-15 09:53] marco910 commented on #2599
I'm also facing the same issue when using SSR. When deploying static sites, it works very well with `eu-central-1`.
Maybe it's because `us-east-1` is the "main" AWS region?

[2022-04-15 14:06] hloriana commented on #2424
Hello everyone, apologies for the delay in update. The engineers have been working on a fix for this issue and it will be rolled out soon but I do not have an exact date for when the rollout will be complete. We will provide another update when the bug fix has been deployed.

[2022-04-15 14:44] yassinecc commented on #2580
Any news  @hloriana ?

[2022-04-15 15:50] hloriana commented on #2475
Hi @GiancarlosIO and @Thanzex apologies for the delay. We have not yet root caused why this behavior happens but it has been added to our backlog for prioritization. Can you try editing the build script (setting `baseDirectory: .next`)so that Amplify builds the app as SSR:

[code]
Please let me know if this works for you while we root cause.

[2022-04-15 18:56] ganipcanot commented on #2575
We recently addressed and fixed this issue.  Please give it another try and let us know if you are still experiencing issues.

[2022-04-15 19:14] aimeeu commented on #2575
The build failed in under a minute in Amplify. The GitHub UI did return a build failure about 3 minutes after the commit.

[2022-04-15 20:08] hloriana commented on #2664
Closing due to no response. If you're still experiencing this issue please feel free to re-open.

[2022-04-15 20:08] #2664 closed

[2022-04-15 20:42] hloriana commented on #2458
I just deployed an SSR app with tests and the test section showed in the pipeline so this seems to be fixed. If this bug appears again please feel free to re-open.

[2022-04-15 20:42] #2458 closed

[2022-04-15 20:46] ganipcanot commented on #2575
Great!  Thanks for double checking I’ll close this issue for now.  Feel free to reopen or open a new issue if you find something else that needs fixing!

[2022-04-15 20:46] #2575 closed

[2022-04-15 20:54] hloriana commented on #2491
It looks like you still have branch autodetection enabled. Please let us know if you're still experiencing this behavior when the feature is disabled.

[2022-04-15 20:55] #2501 closed

[2022-04-15 21:18] hloriana commented on #2541
Closing due to no response.  @jothikannan89  please re-open if you run into this issue again.

[2022-04-15 23:21] thejasonfisher commented on #206
I can't believe this is still an issue. This project is a complete joke.

[2022-04-16 12:45] sh319941 commented on #2501
It's resolved now

On Sat, Apr 16, 2022, 2:25 AM hloriana ***@***.***> wrote:

[2022-04-18 06:58] aungbobotun commented on #2127
Even my local machine with RAM8GB just took Max:2min to build. Why not this issue is not resolvable on Amplify's end?

[2022-04-18 16:10] LuisBrime commented on #2111
Hi @sergioviniciuss! Do you have any updates on this? Building the project is no issue now but the automatic language detection and redirection are not working on the deployed app. Running it locally works fine tho.

@mhamendes were you able to make it work on your case?

[2022-04-18 17:23] zzBrunoBrito opened #2705 "What happens with my backend if I enabled amplify studio?"
**Please describe which feature you have a question about?**
I have an existing amplify app with a lot of custom backend lambdas. Also have social sign up enabled. I would like to know what happens if I enable amplify studio, it will override my current backend with amplify studio?

**Provide additional details**

**What AWS Services are you utilizing?**
Amplify, amplify studio

**Provide addition

[2022-04-18 18:25] calavera commented on #2171
We're trying to reproduce this problem but it looks like everything is working ok, can you let us know if it's working as expected now?

[2022-04-18 18:29] #2171 closed

[2022-04-18 20:13] hloriana commented on #2627
Hi @Khristophor, we've deployed a fix for this issue so you should no longer be running into this problem. Please re-open if this issue is still occurring for you. Thanks!

[2022-04-18 20:13] #2627 closed

[2022-04-18 22:09] calavera commented on #1975
Sorry for the late reply. Since it's been a long time since this was open, I'm going to close it because we don't have enough information to reproduce it. Let us know if you want us to investigate further and we'll happily reopen the issue.

[2022-04-18 22:09] #1975 closed

[2022-04-18 23:25] swaminator commented on #2705
@zzBrunoBrito no it won't. It will just give you a visual interface to view the backend.

[2022-04-19 08:56] SebastianSchenk commented on #2599
So I tried the CLI version, but no luck there. All resources are being deployed in `us-east-1`.

However, I guess I figured out why this is happening. As described [here](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/edge-functions-restrictions.html) a limitation of lambda@edge is, that it has to be deployed in `us-east-1`. Besides that, is doesn't really matter which region t

[2022-04-19 10:15] vojtech-simko opened #2706 "PR Preview env can't be created with env variables"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-19 10:27] vojtech-simko commented on #2706
I'd also be good if the parameter ` -e "${AWS_BRANCH}"` was actually respected and used for the new env name. Right now there's `USER_BRANCH` variable for each PR env that's overriding the `-e` input.
I know amplify env name has a strict naming conditions (no dashes, no uppercase, 10 chars) but that can be stripped out from the input.
I'd make more sense to have the envs named after git branches o

[2022-04-19 14:18] hloriana commented on #2706
Hi @vojtech-simko 👋🏽 thanks for providing details and reproduction steps. We're taking a look into this issue.

[2022-04-19 14:24] hloriana commented on #2705
Amplify Studio will allow you to use a visual interface to view and interact with your backend resources. You can enable Amplify Studio for any of your existing Amplify apps in the console by navigating to **App settings** -> **Amplify Studio settings** -> Enable Amplify Studio.

[2022-04-19 14:24] #2705 closed

[2022-04-19 15:29] jcardus commented on #2674
Hello @hloriana, is there any workaround?

[2022-04-20 00:56] ferdingler commented on #2326
Hi, we have deployed a fix for NextJS API routes throwing a 503 error. To get the fix, simply rerun a build/deploy on your app again.

[2022-04-20 00:56] #2326 closed

[2022-04-20 00:59] #2518 closed

[2022-04-20 01:04] ferdingler commented on #2086
https://github.com/aws-amplify/amplify-hosting/issues/1876

[2022-04-20 01:16] ferdingler commented on #1876
Hi, this issue happens only for AWS accounts that were created recently, as it turns out that S3 transfer acceleration takes a while to be available for a new account to prevent abuse of the feature. While we figure out a solution, [please contact AWS Support](https://aws.amazon.com/contact-us) and ask them to enable S3 Transfer Acceleration for you.

[2022-04-20 06:41] spina-a-d commented on #2604
@hloriana the App ID for me should be `d2gc0o88uvhlzz`. I just tried re-running the pipeline now to see if anything had changed, and still the same issue.

@hikeeba Could you describe exactly how you fixed it?

[2022-04-20 12:48] dar0xt commented on #1889
same issue.

[2022-04-20 14:19] 121940kz commented on #1554
Same issue. Surprised this is still an issue over 1 year later. On an existing amplify app that never had the repository configured, it would be nice if you could click "Reconnect Repository" and be able to choose Github or Gitlab. Right now that button kicks you over to GitHub only.

[2022-04-20 15:14] hloriana commented on #1937
Artifacts are stored in Amazon S3 after successful deployments. Currently, those objects will remain in S3 unless you delete them by running commands such as `delete-job` to delete artifacts for a specific job or `delete-branch` to delete objects for all of the jobs for a specific branch (and delete the branch itself).

https://docs.aws.amazon.com/cli/latest/reference/amplify/delete-job.html
https

[2022-04-20 15:39] hloriana commented on #1554
This bug has been added to our backlog for prioritization. We will update this issue once a fix has been pushed. Thank you!

[2022-04-20 15:47] hloriana commented on #1889
Hi @dar0xt what error are you seeing? Can you share your appID and region?

[2022-04-20 15:48] calavera commented on #2557
we have increased the expiration timeout for that token to 60 minutes. That's how much we can extend it without major changes internally.

[2022-04-20 15:58] hloriana commented on #1554
@121940kz what were you trying to update? I just updated the app name of a manually deployed app via the cli and it ran successfully.

[2022-04-20 15:59] hloriana commented on #2604
@spina-a-d thank you for providing this information. Taking a look.

[2022-04-20 16:17] 121940kz commented on #1554
I know it's specifically when trying to update the repository.
`aws amplify update-app --app-id AMPLIFY_APP_ID --repository REPOSITORY_URL --access-token ACCESS_TOKEN`

So i'm trying to add my repository connection to an amplify app which i created, and initially I specified that I would manually publish the app. Now i'm trying to circle around and add the repository connection for CI/CD but I fac

[2022-04-20 17:08] bcien commented on #2630
After restarting it today, it finally worked.

If someone else face this issue, I recommend to check the following:

1. If you bought/transfer the domain to AWS, go to Route53 and make sure the DNS config is as Amplify requires.
2. If you bought the domain outside AWS and have not transfered it, and if you want to use Route 53: visit the webpage where you bought the domain and make sure the namese

[2022-04-20 17:08] #2630 closed

[2022-04-21 07:42] nxia416 opened #2709 "Where can I see the Nextjs SSR logging?"
**Which Category is your question related to?**
Hosting, logging

**Amplify CLI Version**
7.6.26

**What AWS Services are you utilizing?**
Amplify Hosting

**Provide additional details e.g. code snippets. _Be sure to remove any sensitive data._**
I am using NextJS SSR and API... Now I have some logging from the API for debugging, however, I can't see where is the output, any help?

here is the cod

[2022-04-21 07:56] LuckyBeardDev commented on #44
+1

[2022-04-21 08:17] hung1e opened #2707 "SSR Build failed due to RequestEntityTooLargeException"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-21 11:23] chris-bloomfield opened #2708 "Next.js build process hanging"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-21 13:42] siegerts commented on #2709
Hi @nxia416, you can find the logs by following the steps here - https://github.com/aws-amplify/amplify-hosting/blob/main/FAQ.md#access-lambda-edge-logs

[2022-04-21 14:47] picosam commented on #2499
Hello, any news on this please?

[2022-04-21 16:13] hloriana commented on #2699
@nicolasmplus apologies for the delay. Thanks for providing the app IDs , we're investigating.

[2022-04-21 17:00] hloriana commented on #2708
Hi @chris-bloomfield 👋🏽 thanks for raising this issue. It looks like you cancelled the build after 4 minutes, during that time the build process was still running, the logs are just delayed. SSR apps can take longer to run due to the additional resources that need to be provisioned. Try building your application again and waiting about 10-12 minutes. (Although it may not take that long).

[2022-04-21 17:30] chris-bloomfield commented on #2708
Ah thanks you're right it builds in around 8 mins.  Problem solved - I just need to learn to be more patient.

[2022-04-21 17:30] #2708 closed

[2022-04-21 17:56] hloriana commented on #2473
Feel free to re-open if you run into this issue again.

[2022-04-21 17:56] #2473 closed

[2022-04-21 18:03] hloriana commented on #2685
@ryanhuff Apologies for the delay, can you provide your app ID and region so we can investigate this build issue?

[2022-04-21 18:28] hloriana commented on #2681
If you're still running into this issue, please feel free to re-open.

[2022-04-21 18:28] #2681 closed

[2022-04-21 19:24] hloriana commented on #2671
If you're still running into this issue, please feel free to re-open. Thank you!

[2022-04-21 19:24] #2671 closed

[2022-04-21 19:45] hloriana commented on #2670
Hi @mwarkentin there aren't any binaries. With manual deploys, we just unzip and deploy the given files as is. In any case, if there are files that you need to access, it's best to open a case with [AWS Support](https://us-east-1.console.aws.amazon.com/support/home?region=us-east-1&skipRegion=true#/) so you can verify your identity and they can help you access the information you're seeking.

[2022-04-21 19:45] #2670 closed

[2022-04-21 21:03] davearel commented on #2386
Same— to make this even more odd, I have the same codebase deployed to two entirely different aws-amplify instances (under entirely different accounts) and one builds just fine, while the other does not. Anyone able to fix this?

[2022-04-21 23:50] haidarkarrar opened #2710 "Deployment is failing even tho it is working on vercel or netlify"
I am trying to deploy my React app to amplify but it is failing on npm run build, I have tried to deploy to netlify and vercel, everything is working correctly there

here is the build log

`
                                 # Starting phase: preBuild
2022-04-21T22:49:30.401Z [INFO]: # Executing command: npm ci
2022-04-21T22:49:46.268Z [INFO]: > node-sass@7.0.1 install /codebuild/output/src0338975

[2022-04-22 04:21] swanmatch commented on #2554
I have the same problem.
I hope this issue will be solved.

[2022-04-22 09:45] Ikearius opened #2711 "How to find API key, do i need to create a new key?"
Trying to connect my Matterport model to show in AWS, i already created an API in API Gateway page and im using the 'invoke url' link to link to my code but it's not working.

[2022-04-22 14:09] entest-hai opened #2712 "Build fails from second time with enabled cache"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-22 20:33] swaminator commented on #2404
@arianaamx can you not use re-writes with custom domains to give your end customer the same experience?

[2022-04-23 18:17] MathieuLarocque opened #2713 "Domain name is used by CloudFront distribution"
I don't have a CloudFront distribution but when I try to use Amplify to link with my domain, it says it is already used by a CloudFront distribution and I don't know how to delete something I don't see anywhere.
It says this:

"Something went wrong. Please refer to our troubleshooting guide below to diagnose the issue. After fixing the issue, choose retry below.
Error message: [CNAMEAlreadyExistsE

[2022-04-23 20:01] CoachBenedetto commented on #2509
Getting the same issue ...

Any of you found a working fix?

[2022-04-24 21:47] victorccccc commented on #1458
Sorry for the inconvenience , we've fixed this issue. Feel free to reopen if issue persists

[2022-04-24 21:47] #1458 closed

[2022-04-24 21:48] victorccccc commented on #550
Sorry for the inconvenience, we've fixed this issue. Feel free to reopen if issue persists

[2022-04-24 21:48] #550 closed

[2022-04-24 21:50] victorccccc commented on #1183
Sorry for the inconvenience, we've fixed this issue. Feel free to reopen if issue persists

[2022-04-24 21:50] #1183 closed

[2022-04-24 21:54] victorccccc commented on #2366
Sorry for the inconvenience, we've fixed this issue. Feel free to reopen if issue persists

[2022-04-24 21:54] #2366 closed

[2022-04-24 21:55] victorccccc commented on #2598
Sorry for the inconvenience, we've fixed this issue. Feel free to reopen if issue persists

[2022-04-24 21:55] #2598 closed

[2022-04-25 13:42] maykelesser opened #2714 "NextJS - SSR Pages and Link Component returning 503 error when opened in new tabs (using rewrites)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-25 17:59] PierreBalazuc opened #2715 "AWS amplify "Configuration SSL" pending"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-04-25 18:39] Morrious commented on #1472
Is it not possible to access NPM package version when performing Amplify builds?

[2022-04-26 06:14] neilferreira commented on #262
Related https://github.com/aws-amplify/amplify-hosting/issues/44

[2022-04-26 13:34] danidin opened #2719 "Prevent 301 when trailing slash in URL"
Question about Rewrites and redirects:

Is there a way to avoid 301 redirect when requesting URLs without trailing slashes?

[2022-04-26 14:38] james-e-morris opened #2720 "NPM Package Version as ENV Variable"
Accessing the NPM Package Version within an Amplify hosted application is incredibly helpful for many sites and important features. The front end should be able to track its own version, and format pages accordingly. A simple example need would be version tracking for error reporting. A service like [Sentry](sentry.io) uses the site version to track errors between versions. This is currently impos

[2022-04-26 18:02] weiw05 opened #2721 "Deploy failed with "No ssrResources.json file" message"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-26 18:26] maykelesser commented on #2714
I've removed the beforeFiles condition and fallback params, and it worked.

[2022-04-26 18:49] austinpickett commented on #2696
Running into this issue as well- builds fine on Vercel...

[2022-04-26 19:05] calavera commented on #2696
It looks like[ `got` doesn't support electron anymore](https://github.com/sindresorhus/got/blob/9022f9643313839eb4b8bb35b0d51a5ea46f679c/documentation/tips.md#electron-net-module-is-not-supported), but somehow your application is using it. You're probably bumping into this issue because you're requiring that library without being present in your node modules.

[2022-04-26 19:11] calavera commented on #2714
Thanks for investigating this issue. It looks like it's a duplicated of https://github.com/aws-amplify/amplify-hosting/issues/2701.

We're currently working on improvements for Next.js support, and this problem is in our radar. I'm going to close this issue so we don't have duplicated tickets. Feel free to subscribe to #2701 so you get notified when we resolve this problem.

[2022-04-26 19:11] #2714 closed

[2022-04-26 19:16] austinpickett commented on #2696
@calavera thx for the reply, below is the log where the issue appears:

`
2022-04-26T16:58:26.215Z [INFO]: Starting SSR Build...
2022-04-26T16:59:57.758Z [ERROR]: Error: Command failed with exit code 1: node_modules/.bin/next build
                                  warn  - The `target` config is deprecated and will be removed in a future version.
                                  See more info her

[2022-04-26 19:49] StefanV85 commented on #1860
+1

[2022-04-26 21:02] dod-jwulf commented on #2713
If you are taking a domain over from someone it's possible that they could have a coudfront setup for the same domain name, in which case they would need to take theirs down first, and after those changes have propagated you should be able to connect yours.

[2022-04-26 23:35] austinpickett commented on #2696
@rtscosta this shows a solution to ignore the deprecated package via webpack/nextjs config: https://github.com/sindresorhus/got/issues/345

[2022-04-27 03:38] croossin commented on #219
@davad Curious what solution you went with? We are using a non-subdomain url and I also don’t see that option. We are running into the same issue as you did.

[2022-04-27 03:42] croossin commented on #663
@swaminator does the below seem to work?

[2022-04-27 11:16] mj-jadhav opened #2722 "Nextjs app fails to build SSR with error UnexpectedParameter: Unexpected key 'ResponseHeadersPolicyId'"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-27 13:42] joaopgsilva commented on #2723
Although my solution allowed for cookies to be passed, these cookies are then cached, causing unexpected responses.
So it is not a valid solution.
Using Amplify to deploy I am unable to get cookies on `getServersideProps` or inside any API call.

[2022-04-27 15:29] Michael-Rimmer commented on #2552
As well as this, I had to run 'amplify upgrade' on my local development device.

[2022-04-27 20:06] calavera commented on #1926
This issue should be fixed already. Let us know if it's not the case and we'll reopen it.

[2022-04-27 20:06] #1926 closed

[2022-04-27 20:06] #1988 closed

[2022-04-27 20:08] calavera commented on #2192
This might be a duplicated of #1876

[2022-04-27 21:38] Athena96 commented on #2385
Closing this out as this issue is resolved now. Please feel free to re-open if you continue to face the issue. Thanks!

[2022-04-27 21:38] #2385 closed

[2022-04-27 21:38] Athena96 commented on #2145
Closing this out as this issue is resolved now. Please feel free to re-open if you continue to face the issue. Thanks!

[2022-04-27 21:38] #2145 closed

[2022-04-27 21:56] Athena96 commented on #2475
@GiancarlosIO can you please share the your appId that is facing this issue

[2022-04-27 23:44] indiejoseph commented on #383
after a year, Still struggling with this problem, 20% of the build failed due to yarn install cache failed

[2022-04-28 07:44] rupam-kundu opened #2724 "Build failed to complete successfully."
Hello,

When trying to host my React app on Amplify hosting build is failing. Please find attached below the build log file.

[log.txt](https://github.com/aws-amplify/amplify-hosting/files/8580457/log.txt)

Please find below the contents of my amplify.yml file.

[code]
The application is running successfully locally.

Please help me resolve this issue.

[2022-04-28 09:26] ronyfhebrian commented on #1889
I'm using NextJS v12 and getting this error, Can't resolve 'webpack'
<img width="1340" alt="Screen Shot 2022-04-28 at 16 25 06" src="https://user-images.githubusercontent.com/15209354/165721923-aae07b50-9aa3-4fad-bb09-17298bd5c7c4.png">

[2022-04-28 12:54] julienlaurent-migso commented on #2659
@hloriana any update on this subject ?

[2022-04-28 15:49] ronyfhebrian commented on #2098
Any update on these? I'm just starting to add sentry to NextJS and hosting it to amplify and it crashed.

Saying Module not found for serveral modules like webpack, any help?

[2022-04-28 15:59] wvidana opened #2725 "pipenv install fails for no apparent reason (same commit worked last week)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-04-28 16:09] hisham commented on #2385
@Athena96 - can you clarify, is the issue resolved as in a fix was made to support custom scripts, or the issue resolved as in "working as designed - won't fix"?

[2022-04-28 16:34] DeriDesign opened #2726 "www not redirecting to /"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-04-28 20:45] #2709 closed

[2022-04-28 21:13] hloriana commented on #2700
Apologies for the delay, I was able to reproduce this bug. We are tracking this bug for prioritization.

[2022-04-28 21:45] hloriana commented on #2710
Hi @haidarkarrar apologies for the delay. Can you try running your build locally and see if it succeeds? Also, please provide your App Id and region so we can further investigate this issue. Thanks!

[2022-04-28 21:49] mdh3hc commented on #2594
@hloriana @swaminator Any update on this?

[2022-04-28 21:57] hloriana commented on #2712
There could have been issue with caching, can you try adding that step back into the amplify.yml to see if it will continue to fail?

[2022-04-28 22:00] hloriana commented on #2715
Hi @PierreBalazuc 👋🏽 thanks for reaching out. What DNS provider are you using?

[2022-04-28 22:03] hloriana commented on #2715
Can you also provide a screenshot of what you see during this step in setting up your custom domain? There may be instructions to add CNAME records or some other type of instructions.

[2022-04-28 22:10] hloriana commented on #2719
Hi @danidin 👋🏽  is the call a reverse-proxy?

[2022-04-28 22:15] hloriana commented on #2719
If you could share an example of the URL and also a screenshot of the 301 response in the network tab that would be helpful for us to investigate this behavior. Thank you!

[2022-04-28 22:22] hloriana commented on #2721
Hi @weiw05 can you share which build is throwing this error? Also, it looks like there may be a permissions issue. Can you share what permissions you're using?

[2022-04-29 11:35] NotSoShaby commented on #2284
I'm having the same issue. I'm not using yarn berry (for all I know). This happens after updating to next12 version. @victorccccc I followed the instructions and even admin access to the amplify-backend-deployment role did not work. I think this should be reopened

[2022-04-29 11:41] NotSoShaby commented on #1250
Happens now as well us-east-1

[2022-04-29 18:48] #2710 closed

[2022-04-29 20:58] jeff-polls commented on #252
@swaminator thanks for your input on this, but this solution isn't really scalable for us and I wanted to second the feature request.

Many other SaaS companies like mine will have multi-tenanted architecture where the same code-line is deployed to several domains (a separate subdomain for each customer). We have a single code-line, however we change the behavior at both compile-time and run-time

[2022-04-29 21:14] hloriana opened #2727 "Test"
**Please describe which feature you have a question about?**

**Provide additional details**

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**

[2022-04-29 21:14] #2727 closed

[2022-04-29 23:42] #2715 closed

[2022-04-30 18:35] #1986 closed

[2022-04-30 22:09] phuongtlnguyen opened #2728 "lambda edge node report runtime issue while same version is working for localhost"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-05-01 05:33] phuongtlnguyen commented on #2728
This is fixed.  We still have the deprecated warning but managed to fix the graphql call.
Thanks

[2022-05-01 05:33] #2728 closed

[2022-05-01 14:19] p3v9d5ui commented on #1250
Happening for now with eu-central-1. "Updating Edge config" been stuck for almost 4 hours.

[2022-05-02 05:27] psjishnu commented on #2317
Most probably you may have forgot to change the fetch/axios.get URL inside the getServersideprops function.

[2022-05-02 09:56] danidin commented on #2719
@hloriana here's the screenshot of my network tab:
![image](https://user-images.githubusercontent.com/2697983/166216911-486b9dac-74ff-4aac-9315-9aa0282ef8dd.png)

[2022-05-02 17:02] navdeep710 commented on #2722
facing same issue !! any progress ?

[2022-05-02 17:13] Athena96 commented on #2475
closing this, feel free to re-open if you continue to face the issue. thank you!

[2022-05-02 17:13] #2475 closed

[2022-05-02 17:14] Athena96 commented on #1941
this issue should be resolved, feel free to re-open if you continue to face the issue. thank you!

[2022-05-02 17:14] #1941 closed

[2022-05-02 17:41] ddmora opened #2729 "Problem Hosting a Static Website in AWS Amplify Console"
**Please describe which feature you have a question about?**

AWS Amplify hosting a static website.

**Provide additional details**

I am using AWS Amplify to create a static website. This website contains an html form that will send the form information to a lambda function, and provides and answer.  I am using this [tutorial](https://aws.amazon.com/getting-started/hands-on/build-web-app-s3-lambd

[2022-05-02 18:31] blanchma opened #2730 "Install and authorize GitHub App returns not enough permissions"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-02 18:34] blanchma opened #2731 "I can't "Connect branch""
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-02 19:58] #2691 closed

[2022-05-02 19:59] #2697 closed

[2022-05-02 20:45] hloriana commented on #2724
Hi @rupam-kundu can you provide your App ID so we can further investigate and also make sure you can build locally as well

[2022-05-03 00:41] bmccann36 commented on #2039
I am having the exact same issue as described

[2022-05-03 07:13] chrysanthoslianos opened #2732 "error creating Amplify Branch: BadRequestException: Failed to create branch. The branch is deleting for the app. Please wait a few minutes before re-create this branch."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-03 09:11] NotSoShaby commented on #2520
We are getting the same error when trying to remove next from our project. Currently the project does not contain next.js and works fine locally, but on the server fails on the deploy stage with the same error. How can we remove this coupling to next? I also see that the `Framework` section in the general settings is grayed out and uneditable

[2022-05-03 10:19] georgeperry1 commented on #2558
We're also having this issue, not found any way around this yet but any work arounds would be appreciated! @carlosbvz did you find any solution?

[2022-05-03 13:55] hikeeba commented on #2604
I think my issue was different, and it seemed to resolve itself after about 15 minutes. I just did a env pull and the tried again and it started working.

[2022-05-03 14:18] carlosbvz commented on #2558
Hi @georgeperry1 ,

The problem here seems to be a massive and duplicated amount (and size) of the Cognito cookies.
(I have not found a nice solution for this one yet...)

The workaround here is to "some how manage those cookies"...

I my particular case, the webbApp was leaving duplicated cognito related cookies (from a previous session) and sending them back to the server along with the new cred

[2022-05-03 15:29] Tobsikrid commented on #14
+1 would need that feature right now, but hope it gets added for future generations :)

[2022-05-03 19:15] MiroslavZB commented on #2679
open AWS CloudShell and run cmd: aws amplify delete-app --app-id <your_app-id>

you can find amplify app id at amplify app detail

[2022-05-03 21:38] jtmthf opened #2733 "Unable to connect to Github"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-03 21:48] hloriana commented on #2689
Hi @dqcuong93 👋🏽 apologies for the delay, I will sync with the team to determine if there is a solution that will unblock you.

[2022-05-04 04:56] rupam-kundu commented on #2724
Hi @hloriana . Thanks for your reply. My App Id is `d10nw5r62oxier`. I am able to build my application locally.

[2022-05-04 12:06] TxusBlack commented on #2551
Same issue. But I thing it's about the permissions.

[2022-05-04 13:02] ctopherwilliams commented on #2424
Any updated ETA here?

[2022-05-04 13:30] yiurenma opened #2734 "403 ERROR The request could not be satisfied."
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-05-04 16:02] hloriana commented on #2695
Hi @NotLuksus 👋🏽 I was able to reproduce this bug. We have added this to our backlog for prioritization and will respond as soon as this is fixed.

[2022-05-04 16:06] hloriana commented on #2695
I was able to work around this by creating a new password for a new user.

[2022-05-04 16:55] hloriana commented on #2695
Closing since this original bug was resolved. The bug I found will be tracked separately. If you are still experiencing issues with disabling, enabling, or changing passwords for access control please re-open.

[2022-05-04 16:55] #2695 closed

[2022-05-04 17:23] parikls commented on #97
Any updates regarding this? It **should not** work like this

[2022-05-04 17:36] hloriana commented on #2698
Hi @xenyinnaya you should be to find the DNS records that need to be added in the dropdown menu under **Actions**. Please let us know if you're still running into this problem.

[2022-05-04 17:39] l-hendriks commented on #97
No it still works like that afaik, we're currently moving away from amplify ci/cd completely to github actions so we have more control. The "solution" I posted earlier is still how we handle things which is running stable for months now, but it's kind of a non-solution.

[2022-05-04 18:43] hloriana commented on #2725
Hi @wvidana and @cdezz can you please provide an App ID so we can investigate the build errors?

[2022-05-04 18:49] hloriana commented on #2726
Hi @DeriDesign it looks like you properly configured the rewrite. For a 200 rewrite, the www url remains present but the content of the root domain is displayed: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html. Is this not the case for you?

[2022-05-04 20:08] davad commented on #219
We ended up not making use of the PR auto-builds

[2022-05-04 21:10] tyfuji commented on #1761
Hi there, we are experiencing this same problem with a SSR Next.js app. TTFB is regularly 300ms+ on all resources. We are testing using the provided amplify domain, not a custom domain, so the domain shouldn’t be a factor. Can anyone help with this?

[2022-05-04 21:10] tyfuji commented on #2647
Hi @hloriana we are experiencing the same problem with a SSR Next.js app. TTFB is regularly 300ms+ on all resources. We are testing using the provided amplify domain, not a custom domain, so the domain shouldn’t be a factor. Can anyone help with this?

[2022-05-04 21:13] derekleenzx opened #2735 "Downloading a PDF file in ReactJS works locally but doesn't work on Amazon Amplify AWS"
**Please describe which feature you have a question about?**
Display and download PDF files in ReactJS on Amplify.

**Provide additional details**
Our SPA is in ReactJS. I've deployed our website from my local to Amplify. Everything looks good in my local and our current server. But something wrong with the web page listing down the pdf files when it is running on Amplify. The pdf files are locate

[2022-05-04 21:54] swaminator commented on #97
@parikls @l-hendriks we just launched support for this: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#query-strings-and-path-parameters

[2022-05-04 21:55] swaminator commented on #1040
@chris we just launched support for this: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#query-strings-and-path-parameters. Let us know if this works for you.

[2022-05-04 22:22] tyfuji commented on #2647
To add some more information:
* The high response times are always accompanied by a "x-cache: Miss from Cloudfront" response header.
* Reloading the page immediately is fast (within 2 seconds) and all the resources Hit from Cloudfront.
* Loading a static resource in a new tab, we get Hit from Cloudfront and the resources are fast

The default Amplify Cloudfront TTL policy seems to be 2 seconds, co

[2022-05-05 03:31] thibauld commented on #2647
Hi @hloriana :wave: Same issue here.

We have a Next.js SSR app hosted on Amplify with the same High TTFB issue **for the `text/html` content** (no issue for other type of content as far as I can see).

Our app id is `d3pufjj6b49muy` on `us-east-1`

Here's more context:

* App is deployed from `production` branch where performance mode is enabled
![image](https://user-images.githubusercontent.com/

[2022-05-05 06:41] ParulSharma2622 commented on #2652
anyone there, who can help me with this issue.

[2022-05-05 07:12] acn-monilsinghal commented on #2725
Same issue here as well App ID - ddivbg1xep66s

[2022-05-05 07:22] cdezz commented on #2725
Hi @hloriana, my App Id is d3h7ft6bt64jis.

[2022-05-05 07:44] derekleenzx commented on #2735
Solution

https://stackoverflow.com/questions/68507437/downloading-a-pdf-file-in-reactjs-works-locally-but-doesnt-work-on-amazon-ampli

https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html

[2022-05-05 07:44] #2735 closed

[2022-05-05 08:20] mj-jadhav commented on #2722
Any update on this issue? Our production build is failing b/c of this. We can't release new changes. Otherwise, we will have to move out of amplify.

[2022-05-05 08:36] woolimi commented on #331
Any news about it ?? please, we really need this 🙏

[2022-05-05 09:18] wvidana commented on #2725
Also, I did some testing in a fresh app, using same amplify CLI version... seems to work fine. So there has to be something in there, maybe a feature flag, or some other generated config. I'm still investigating so I'm unsure what's the issue yet. Does the console do container caching or some other caching for the build environment? Maybe the virtualenv folder gets re-used? It would be useful if t

[2022-05-05 12:18] ivantichy commented on #2297
The same problem here:
App Id
d2f5kmurvds6th

Region
eu-west-2

Amplify Console feature
Previews

Describe the bug
Github PR web previews are not generating on the console / admin ui when a PR is opened. Using Github private repo.

[2022-05-05 14:30] hloriana commented on #2733
Hi @jtmthf 👋🏽  thanks for raising this issue. We are working to reproduce and find a solution.

[2022-05-05 14:38] marco910 commented on #2647
Hi @thibauld I'm facing the same issue as you on two different Amplify apps.

One app has a config for custom headers that looks like this:
[code]

[2022-05-05 14:45] hloriana commented on #2722
@navdeep710 can you share your app ID as well please?

[2022-05-05 16:01] MichaelDAbrams opened #2736 "Logging into Amplify Studio issues"
**Please describe which feature you have a question about?**
No longer able to log into Amplify Studio, no users listed anymore, just spinner and never loads

**Provide additional details**
Hi, so my team and I have run into an issue when we tried to add a new team member. It wont let anyone launch studio even when logged in through AWS. and it won't show any users at all in the studio settings. N

[2022-05-05 16:14] swaminator commented on #1510
@tomasswood @YelyseiLukin we just launched support for this: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#query-strings-and-path-parameters. Let us know if this works for you.

[2022-05-05 16:14] #1510 closed

[2022-05-05 21:26] hloriana commented on #2704
@lehoai if you're still running into this issue can you provide your App ID so we can look into this behavior further

[2022-05-05 22:34] Athena96 commented on #1250
hi @p3v9d5ui can you share your appId

[2022-05-05 22:37] bart commented on #1860
I might found a way to at least host a Nuxt 3 app via Lambda. Will further investigate and hopefully find a way to host it with Amplify, even it currently doesn't seem to be possible via Amplify Hosting. The creation of a custom Lambda function (in Amplify) might work based on my following solution. Last but not least I can't understand why it seems to be so difficult for the Amplify team to imple

[2022-05-05 22:37] hloriana commented on #1250
@iceye @NotSoShaby @p3v9d5ui we are currently working on mitigating this. In the mean time, can you try re-deploying your apps? Also try to minimize the number of concurrent builds you have running, if this applies to your use case.

[2022-05-05 23:35] hloriana commented on #2736
Hi @MichaelDAbrams 👋🏽 thanks for raising this issue. I'm not seeing this behavior when I navigate to Amplify studio settings. Can you try again and see if the issue persists while we investigate?

[2022-05-05 23:58] #2567 closed

[2022-05-06 00:04] hloriana commented on #2647
@marco910 apologies for the delay. Can you provide the other app ID for the app that's experiencing this issue? @thibauld thanks for providing these details. They will definitely help us determine the root cause. @tyfuji can you provide your app ID as well?

[2022-05-06 02:45] IndusCreations opened #2737 "Unable to activate domain - CNAMEAlreadyExistsException"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-05-06 03:22] CSHaze opened #2738 "Failed to pull the backend. "no such file or directory" in layer node_modules/.bin"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-06 04:05] navdeep710 commented on #2722
hey @hloriana d2cn4htefwf90t, thanks again for looking into it 🙏 , quick help will be super appreciable

[2022-05-06 07:00] CSHaze commented on #2738
I think I solved this using `amplify push --force` it seemed to get things back in sync. Am I misunderstanding the design?  Is this intended?

[2022-05-06 07:49] AlexandreFauchard opened #2739 "How to make 200 redirect ONLY when there is no file"
**Please describe which feature you have a question about?**
Redirects and rewrites

**Provide additional details**
Hello,

I have a problem with the 200 rewrites.
Imagine I have a pre-generated news website with Gatsby.
I have some generated html files with the path `/news/xxx` and some news non-generated with the same path.

To handle non-generated news I have a static file `/loader/news` which

[2022-05-06 07:50] p3v9d5ui commented on #1250
@Athena96 , my app id is ddgrnop6ksu96.

I'm experiencing multiple serious issues with Amplify now. There's this issue, but even when a deploy does succeed, as happened just now, an old version is still being served.

And, frustratingly, if the deploy succeeds, and the resulting app version is correct, it will then **revert** to an old version after some time -- usually within 30 minutes.

Can som

[2022-05-06 11:02] Tony-OAA opened #2740 "Our dev environment turned to poo yesterday and wont accept amplify push. it in DELETE_FAILED state and can not be updated."
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-05-06 11:10] wvidana commented on #2725
Hey @hloriana the issue seems to be from whatever new version of `amplifyPush` AWS is using. The old script (no updates for 2 years) from this repo seems to fix the problem https://github.com/aws-amplify/amplify-hosting/blob/d79d8b814f5b93b0f7c605369c355b90a696f44c/scripts/amplifyPush.sh

Can you please update this repo with the recent script and image? This would help us greatly for future issues

[2022-05-06 12:28] Tony-OAA commented on #2740
Hi,

Good news  - we managed to fix the issue by increasing the build timeout.

It would have been helpful to see an error indicating a timeout issue in the console. - Thanks

[2022-05-06 14:24] Tony-OAA commented on #2740
Hi,

Bad News - error has returned, Amplify is a nice idea but feels so fragile... We shouldn't need  to cross fingers and issue a small payer before every push!

Error : **An error occurred during the push operation: Resource is not in the state stackUpdateComplete**

We are running CLI v8.1.0

[2022-05-06 15:41] hloriana commented on #2297
@ivantichy can you try disabling previews, reconnecting your repo, and then re-enabling previews?

[2022-05-06 16:18] hloriana commented on #2740
Hi @Tony-OAA 👋🏽  where there any changes pushed to the backend resources between this failed build and the most recent successful build?

[2022-05-06 16:47] hloriana commented on #2737
Hi @IndusCreations 👋🏽  please follow the guides we have in our FAQ to resolve this: https://github.com/aws-amplify/amplify-hosting/blob/main/FAQ.md#cnamealreadyexistsexception

[2022-05-06 18:34] #2304 closed

[2022-05-06 19:34] mikefrancis commented on #2436
Ended up this issue and just wondering if anyone is seeing the same.

I am getting long builds while following the docs instructions to cache the `.next` dir.

However, looking at the Amplify logs, it doesn't seem to be the build that's actually the problem, it's the SSR build? See below - it takes ~9 minutes.

<img width="553" alt="Screenshot 2022-05-06 at 20 32 32" src="https://user-images.githu

[2022-05-06 19:37] Athena96 commented on #1250
Thanks @p3v9d5ui is this behavior happening on every new build (where after 30m it reverts to an old version)?
If not, can you share the jobs it this behavior is happening? i.e. new job Id and job it reverts back to.

[2022-05-06 20:33] Athena96 commented on #2733
Hi @jtmthf have you tried out these steps here: https://docs.aws.amazon.com/amplify/latest/userguide/setting-up-GitHub-access.html#setting-up-github-app-cloudformation

[2022-05-06 21:30] mikefrancis commented on #2127
Spitballing temporary fixes just in case it helps...

Is there a reason to actually do anything to that pertains to SSR if nothing has changed?

I've just pushed 2 empty commits and they're both 10+ minutes build times.

It's pretty crude but would something that simply checks if there's no diff in src/pages/api/**/* in the commit, skip the SSR build entirely?

[2022-05-06 21:38] hloriana commented on #2729
Hi @ddmora 👋🏽  do you receive any errors after uploading your zip folder to Amplify? Please share any screenshots or error logs you may have.

[2022-05-06 22:44] qwertyMu commented on #2521
For anyone else still having build issues after implementing PwnCNC's fix, make sure you've added an IAM role in the AWS console to allow Amplify to deploy the backend environment. [THIS](https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html) will be useful.

[2022-05-06 23:12] hloriana commented on #2730
Hi @blanchma 👋🏽  I was able to reproduce this issue. This appears to only be happening for repositories owned by Github organizations. I've added this to our backlog for prioritization and syncing with the team for a possible workaround.

[2022-05-07 14:45] simo97 commented on #44
+1

[2022-05-07 17:26] zachylimwl commented on #987
Hi, I am having a similar issue:
<img width="804" alt="Screenshot 2022-05-08 at 1 20 39 AM" src="https://user-images.githubusercontent.com/15140377/167265049-fc878cb2-7857-475e-b440-ace2f0ce2fad.png">

And here is my build yml:
<img width="577" alt="Screenshot 2022-05-08 at 1 24 08 AM" src="https://user-images.githubusercontent.com/15140377/167265115-966fc54b-97f7-4606-ab25-4b697f20ab57.png">

Wou

[2022-05-07 20:42] andreroggeri commented on #2189
This still fails for me. I'll open a new issue

[2022-05-07 20:56] andreroggeri opened #2741 "Backend environment not created branches"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-08 06:24] ahlag opened #2742 "Unable to create user to log in to Amplify Studio ?"
**Please describe which feature you have a question about?**

Amplify Studio

When I try to pull my backend via cli like this:
I'm presented with the Amplify Studio login in a browser.
I've tried using giving myself `AdministratorAccess-Amplify` but I still couldn't login. I have also tried inviting myself with my gmail account but I wasn't able to create the user.

**Provide additional details**

[2022-05-08 08:03] en3sis commented on #2696
Did you manage to solve it? @rtscosta ?
I'm having the same scenario and it's super annoying. I still don't understand why it would compile on one side and not the other.

I tried with next.config.js
[code]
Does not seems to help.

[2022-05-08 09:58] p3v9d5ui commented on #1250
Hi @Athena96 , I'm not sure how to get this information. Are you referring to the build number?

Also, note that AWS support is also working on this issue.

[2022-05-08 20:45] samuelemedici commented on #425
Still happening. Unacceptable for production builds.

[2022-05-09 01:18] IndusCreations commented on #2737
I do not see any duplicate app using this. I had my account suspended and reactivated few months ago - is it the case that thse are state entries from the previous app instance. I cannot seem to find where they are.

[2022-05-09 01:19] IndusCreations commented on #2737
Please help resolve this - all my domains are blocked 22yards.com, 22yards.com and ipltable.com!

[2022-05-09 04:39] ParulSharma2622 opened #2743 "Redirection to www based url not working"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-05-09 07:33] cdezz commented on #2725
Hi @hloriana do you have any update on this bug?

[2022-05-09 08:12] kshitijcode commented on #1039
This issue is still happening for me as well.

[2022-05-09 08:13] kshitijcode commented on #283
Still observing this issue.

[2022-05-09 08:27] georgeperry1 commented on #2558
Thanks @carlosbvz, thats pretty much exactly the same as our experience. Specifically the hosting of separate environments that were being tested in the same browser.

I'll try the same workaround and hope AWS figure it out!

[2022-05-09 08:38] ag14774 commented on #367
This still happens for me. If you open a PR and merge before the build for the PR preview is done, the preview is correctly destroyed on AWS but on github it stays pending forever @ganipcanot

[2022-05-09 13:44] wvidana commented on #2725
I'm not entirely sure that my workaround works... I think the old script doesn't work correctly, on my STAGE environment the lambda functions were not updated, and they did have changes in the code as well as the `Pipfile` file

[2022-05-09 16:14] hloriana commented on #2491
Closing due to age. Please re-open if this issue occurs again.

[2022-05-09 16:14] #2491 closed

[2022-05-09 16:36] #2539 closed

[2022-05-09 16:42] hloriana commented on #2444
Hi @michael1976 this is due to the platform our containers use to build your applications. If this poses any issues for you, please let us know. Thank you!

[2022-05-09 16:43] #2591 closed

[2022-05-09 16:45] #1864 closed

[2022-05-09 17:42] hloriana commented on #2621
You said your app runs locally but can you ensure that it builds locally as well. If it cannot build locally then the issue is most likely with the configuration of the app.

[2022-05-09 18:16] #2643 closed

[2022-05-09 18:35] hloriana commented on #2644
It looks like the links are loading your website correctly now. If you run into this issue again please feel free to re-open.

[2022-05-09 18:35] #2644 closed

[2022-05-09 19:20] hloriana commented on #2642
Please re-open if you're still experiencing this issue. Thank you!

[2022-05-09 19:20] #2642 closed

[2022-05-09 19:22] hloriana commented on #2676
So is this only happening after repeatedly updating the app in a short period of time?

[2022-05-10 03:31] repepto commented on #2676
Yes. And sometimes, not every time. Last few updates went smoothly

[2022-05-10 07:21] apal21 commented on #97
@swaminator Thanks for the update.

This is working properly if I define the redirects manually like this:
[code]

But it is not working for dynamic URLs using `*`. Sometimes it is throwing `502`.
Any idea on how to implement this?

[2022-05-10 07:23] falken42 commented on #2725
We also ran into this issue as well over the weekend.  Whatever changed in the `amplifyPush` script that's called from the build settings / `amplify.yml` results in the same `pipenv install` failure when trying to update dependencies, and we're unable to deploy any previous builds that worked fine in the past.

We did try @wvidana 's suggestion with replacing the default called `amplifyPush` scrip

[2022-05-10 09:37] andychoww opened #2745 "Test phrase passed even though Test cases failed"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-05-10 10:02] Fedeorlandau commented on #2343
Hello there, how are you?

Is there any updates or plan to support Next.js 12 on Amplify?

Thank you :)

[2022-05-10 11:34] ii-igku commented on #2731
same here

[2022-05-10 12:29] emilpriverrc opened #2744 "Some pages becomes randomly white useing next.js with ISR."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-10 13:33] MichaelDAbrams commented on #2736
hi @hloriana the issue is still occuring, still unable to add users and unable to log in

[2022-05-10 19:20] hloriana commented on #2725
Hi everyone, if you're using the latest version of the CLI, try downgrading to an earlier version like 7.5.5

[2022-05-10 19:23] hloriana commented on #2725
Transferring to CLI team for visibility.

[2022-05-10 21:55] hloriana commented on #2744
Hi @emilpriverrc 👋🏽 thanks for raising this issue. Can you provide a code snippet for how you're implementing ISR and also a screenshot of your next.config.js file while we investigate?

[2022-05-10 22:37] hloriana commented on #2745
Hi @andychoww 👋🏽  can you try implementing the workaround suggested here please: https://github.com/aws-amplify/amplify-hosting/issues/2409#issuecomment-1027401956

[2022-05-10 22:58] hloriana commented on #2743
Hi @ParulSharma2622 👋🏽  thank you for raising this issue. We are investigating.

[2022-05-10 23:00] hloriana commented on #2742
HI @ahlag can you try creating a user via the Amplify Console? Please follow this guide: https://docs.amplify.aws/console/adminui/access-management/

[2022-05-10 23:02] benhurley commented on #2743
Following (having same issue too, dont want to have to port to Route 53 to fix).

[2022-05-10 23:53] hinaaman commented on #588
+1 to allowing `postDeploy` configuration. I find the lack of hooks b/w the various phases very limiting but adding post deploy support would be a good start.

[2022-05-11 00:57] lisbuenas commented on #2551
I've checked the logs and seems that were a permission error, related to missed credentials on function. So I've introduced the credentials on api folder and solved the problem.

[2022-05-11 01:38] andychoww commented on #2745
Hi @hloriana tried but the test phrase still passes

[code]

[2022-05-11 01:58] andychoww commented on #2745
I even tried below but still not working

[code]

[2022-05-11 03:29] maximilianomarelli opened #2746 "I deployed from zipfile a static app and only index.html works, all resources have access problem"
I delivered an app that have in root folder one index.html file and several subfolders such as lib (with js), img (with png) and others subfolders with it own index.html.

Deploy ends ok, and i pointed it into a registered domain into route53.

The problem its that only index.html files are accesibles all others isn't.

When I inspected the resources not avalible I realized that each one of them h

[2022-05-11 05:02] ahlag commented on #2742
@hloriana
Thank you for the follow up!

[2022-05-11 08:17] wvidana commented on #2725
Thanks @hloriana on the update, we are actually using version `6.4.0` since we are not ready for the transformer v2 upgrade yet. Any chance you can update the `amplifyPush.sh` script in the repo? It would be great if we can try to customize a temporary fix in the meantime, or an actual contribution if the fix is right :)

[2022-05-11 09:38] Evellior commented on #1266
To anyone having this issue, be sure to check that the 301 is actually being served by AWS Amplify, not just recalled from your browser cache:
![image](https://user-images.githubusercontent.com/1830420/167817532-6ecfa49c-e1bb-4f59-8125-bcbd9129d7be.png)

It gets set to the 301 in cache when you try to access the file in a build that doesn't have the file. I assume this happens because Amplify (or

[2022-05-11 09:47] Evellior commented on #1265
I noticed your comments on #1266, and it sounds very similar, but I wouldn't expect curl to cache the response.

According to [this thread](https://serverfault.com/questions/698077/does-curl-cache-requests), it could be the response server caching the 301.  If that's the case, there's a header you should be able to include in your curl (`"Cache-Control: no-cache"`) to see if that's the case.

If t

[2022-05-11 10:00] wvidana commented on #2725
It seems that a recent `pipenv` change was at fault. I haven't run more tests locally, but locking to a previous version with `amplify.yml` did the trick.

[code]

[2022-05-11 10:00] #2725 closed

[2022-05-11 13:52] ken-nah commented on #2647
Hi @hloriana I am experiencing a similar issue as well.

[2022-05-11 13:57] christophersutton opened #2747 "Builds not being triggered after migration to github app"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-11 15:23] emilpriverrc commented on #2744
Sure!

next.config.js
[code]

Example of getStaticProps:
[code]

Example of getStaticPaths
[code]

Something good to add to the issue is that we use next version `10.1.2`

[2022-05-11 17:39] hloriana commented on #2731
Hi @blanchma 👋🏽  can you try going to General Settings and select "reconnect repository" to migrate to the GitHub app? Please let us know if this unblocks you.

[2022-05-11 19:41] hloriana commented on #2742
@ahlag please let us know if you're still blocked. Thank you!

[2022-05-11 19:46] hloriana commented on #2744
@emilpriverrc thank you for providing these details, we're taking a look.

[2022-05-11 20:29] hloriana commented on #2725
@wvidana Thank you for this update. I'll sync with team on updating the amplifyPush.sh in the repo and keep you posted.

[2022-05-11 21:25] joshmeads opened #2748 "Multiple 404 Redirects"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-11 21:48] hloriana commented on #2740
It looks like your most recent builds for the dev branch are successful. Have you resolved this issue?

[2022-05-11 22:02] hloriana commented on #2737
Can you please create a support case following this guide: https://docs.aws.amazon.com/awssupport/latest/user/case-management.html#creating-a-support-case. They will be able to help you associate your custom domain to your app.

[2022-05-11 22:08] hloriana commented on #2698
Please re-open if you're still running into domain activation issues. Thank you!

[2022-05-11 22:08] #2698 closed

[2022-05-11 22:43] hloriana commented on #2745
@andychoww please add `- npx pm2 start npm -- start` under `preTest` like in this example for running Cypress tests:

[code]

[2022-05-11 22:45] hloriana commented on #2685
Please re-open if you're still running into this issue.

[2022-05-11 22:45] #2685 closed

[2022-05-11 22:52] hloriana commented on #2648
If you're still running into this issue, please feel free to re-open.

[2022-05-11 22:52] #2648 closed

[2022-05-11 22:54] #2653 closed

[2022-05-11 23:02] hloriana commented on #2652
Hello, apologies for the delay, we have not yet root caused this behavior and we have not been able to reproduce this. I'm syncing with the team for an update. Thank you for your patience!

[2022-05-12 00:27] itseasy21 commented on #2427
Thanks for this, setting `AMPLIFY_NEXTJS_EXPERIMENTAL_TRACE=true` worked for me as well with NextJs 12, but is there a permanent solution, as target flag would be deprecated in future

[2022-05-12 02:01] p3ket3o commented on #2635
Look like it happended agains, please help

[2022-05-12 06:46] vgazioglu opened #2749 "An error occurred while processing your request: nullDelete app XXXXX failed with reason: ValidationException - An error occurred while processing your request: null"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-12 08:09] ronyfhebrian commented on #2343
I need update for Next.JS 12 on Amplify, especially working on webpack 5.
Thank you

[2022-05-12 10:00] Hoxni commented on #2635
+1

[2022-05-12 14:10] OlgaMaslova opened #2750 "Amplify cannot oauth gitlab"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-12 14:42] hloriana commented on #2747
Hi @christophersutton 👋🏽 I'm working on reproducing this behavior and syncing with the team on a workaround. In the mean time, have you tried reconnecting your repository in general settings?

[2022-05-12 14:45] christophersutton commented on #2747
Hi @hloriana, thanks for taking a look. I just reconnected in general settings and pushed to a feature branch but it's still not picking up the commit.

[2022-05-12 15:21] dominguez-gaston commented on #2722
Hi @hloriana any updates on this issue? We've been trying every avenue to resolve it without much success. Thank!

[2022-05-12 16:23] kahdojay commented on #2273
Closing in favor of https://github.com/aws-amplify/amplify-hosting/issues/2424, but please let us know you're still experiencing the issue.

[2022-05-12 16:23] #2273 closed

[2022-05-12 16:35] TimTimT commented on #2750
Same problem since about 12 hours ago. Unable to make any new deployments using Gitlab.

[2022-05-12 16:46] hloriana commented on #2750
Hi @OlgaMaslova @TimTimT 👋🏽  We're investigating connectivity issues for customers trying to create new applications with GitLab. We will update once we have more information.

[2022-05-12 17:45] kahdojay commented on #2645
We've pushed an update to improve this error message which will hopefully help those in the future who run into this issue.

[2022-05-12 18:49] christophersutton commented on #2747
That webhook workaround is easy enough, many thanks. And yes the repo does belong to a Github organization.

[2022-05-12 18:49] hloriana commented on #2722
Hi @dominguez-gaston thank you for your update. If you can provide your app ID as well it can help us figure out this build issue. We are not able to reproduce this behavior but we are investigating. We appreciate your patience.

[2022-05-12 19:13] j2d2 commented on #892
_A year later this is the top result for my search, so to close this clearly & reduce scrolling next time, for me at least..._
Fixed by changing `amplify.yml` path to  `artifacts:` `baseDirectory: '/dist'`

...in case you're using Nx 14 & Angular 13:
Also had to change the Nx configuration ([docs](https://nx.dev/configuration/packagejson#outputs)) to output the `dist` to be within the app base_dir

[2022-05-12 19:30] j2d2 commented on #582
_A year later this is the 3rd result for my search (after  issue #892 then #313  ), adding this in case it's helpful to anyone:_
Fixed by adding the preceeding `/` in `artifacts:` path to  `baseDirectory: /dist` in your `amplify.yml`

[2022-05-12 19:36] j2d2 commented on #313
_A year later this is the 2nd result for my search (after  issue #892 ), adding this in case it's helpful to anyone:_
Fixed by adding the preceeding `/` in `artifacts:` path to  `baseDirectory: /dist` in your `amplify.yml`

[2022-05-12 20:07] charlesdarkwind commented on #1273
Hello, I think I have a similar issue.

Our web app is using the manual hosting an it is not connected to a repo so I don't think that https://github.com/aws-amplify/amplify-hosting/issues/233 applies. @brnmye

I have the domains `dev.app.dreamx.ai` and domain `dev.drea.mx`

I want to redirect `dev.drea.mx/home` to `dev.app.dreamx.ai/home`, is it possible using Amplify? I tried setting up a 301 re

[2022-05-12 20:29] charlieboles commented on #2348
@Rafcin @fnavarrodev and anyone else who needs headers, I would suggest lobbying for this feature to be rolled out officially by the amplify team. After opening a ticket with AWS support they got back to me and the internal amplify team is refusing to add headers to Amplify managed distributions.

[2022-05-12 20:36] Rafcin commented on #2348
@charlieboles I managed to solve the header issue although it requires staff intervention to prevent the proxy from removing the headers, and I brought this up with Nikhil recently on a chime call. Hopefully this is something that's integrated.

If not I'm going to have to apply for an Amplify job and do it myself 😅.

[2022-05-12 21:42] raphaelfavier commented on #649
same same

[2022-05-12 21:42] hloriana commented on #2740
Hi @Tony-OAA thank you for this information. The team is deep diving to investigate the issue

[2022-05-12 21:48] hloriana commented on #649
Hi @plusplushq @FelipeGerolomo 👋🏽  can you try migrating to the GitHub app. Here is a guide: https://docs.aws.amazon.com/amplify/latest/userguide/setting-up-GitHub-access.html#migrating-to-github-app-auth

@raphaelfavier Are you seeing this issue after migrating to the GitHub app?

Also did logging out and back into the console resolve this issue for you?

[2022-05-13 05:25] ymsrk commented on #654
+1 would love to control build instance size

[2022-05-13 06:12] fnavarrodev commented on #2348
@charlieboles thanks for the effort. We moved our next.js app to just serverless, we discarted using Amplify but I'm sure more people will be interested in having those headers. Is great that Cloudfront offers those headers, why not forward them?

[2022-05-13 09:06] bajere commented on #379
@swaminator Has this release been completed? As I still cannot use variables in the `baseDirectory` ... the workaround above also fails; `TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type object` .  Bit stuck now

[2022-05-13 15:09] hloriana commented on #2732
Hi @chrysanthoslianos 👋🏽  thank you for raising this issue. I was able to reproduce and have added this to our backlog for prioritization.

[2022-05-13 15:13] ymsrk opened #2751 "Credentials may not be refreshed on long build."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-13 15:37] hloriana commented on #2750
The fix for this bug has been pushed so you should be able to connect to your GitLab repositories now. Thank you!

[2022-05-13 15:37] #2750 closed

[2022-05-13 16:20] universalsequences opened #2752 "Site Updates not Publishing Unless Clearing Browser-Cache"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-13 17:05] yassinecc commented on #2580
ping @hloriana , no feedback on this for 2 months now :-(

[2022-05-13 18:09] swaminator commented on #2700
@jonschoning can you still reproduce this? We are no longer able to repro. What browser are you using?

[2022-05-13 19:05] universalsequences commented on #2752
Actually nevermind! Serviceworker was forcing the cache reload on my end, everything's good!

[2022-05-13 19:05] #2752 closed

[2022-05-14 02:46] jonschoning commented on #2700
![image](https://user-images.githubusercontent.com/137183/168408019-f05d60f7-1706-4cb3-a4e7-fb9915652738.png)
chrome Version 101.0.4951.64 (Official Build) (64-bit)

[2022-05-14 03:13] CSHaze commented on #2738
Nevermind, I am still seeing this issue pop up. I am trying to figure out a reliable workaround. It is failing all my backend builds.

[2022-05-14 12:41] tkhmy commented on #2742
@hloriana
Hi, I also have this problem, I follow the instruction https://docs.amplify.aws/console/adminui/access-management/#to-invite-team-members-to-access-a-project to send the invitation to another email, but the another member do not receive any invitation email.
![image](https://user-images.githubusercontent.com/41041286/168426080-1ce16b6f-e655-450e-8b61-3b11e0f41990.png)

Do we need to crea

[2022-05-15 18:58] jayprakash02 commented on #579
Get a certificate from ACM and add it to your Route53 records after your certificate validates try again in the Amlipy it will work this time.

[2022-05-15 20:19] leftys commented on #2281
customHeaders don't work for me at all. no matter if set via customHttp.yml or via Amplify interface in AWS console.

[2022-05-16 02:43] andychoww commented on #2745
@hloriana I have added that in `preTest` but still not working

[2022-05-16 06:14] mskierski commented on #2479
As stated by rosmu above.

In my case the issue was a spelling mistake during manual upgrade ot relationships with an error message "Your GraphQL Schema is using "@primaryKey"... .

Running "amplify api gql-compile" generated the same error about version of transformers.

After adding the above two entries into cli.json "amplify api gql-compile" command, generated appropriate error messages and I

[2022-05-16 06:37] jeremyrajan commented on #1889
Same here +1

[2022-05-16 06:47] Rafcin commented on #2343
@ronyfhebrian So fun fact. Sentry will not work, I've tried ten thousand times.

[2022-05-16 14:28] dominguez-gaston commented on #2722
Hey @hloriana dlyqnfuuk0fox, thanks so much! Any guidance here would be extra helpful

[2022-05-16 18:35] tyfuji commented on #2647
We actually found some important information on this: It seems to be linked in our case to a cookie that gets modified on each pageload. It appears that changes to a browser cookie invalidate the Cloudfront cache, which by default this should not be the case. When we load our resources in fresh tabs, they become hits in Cloudfront, and future refreshes continue to stay hit, and have low TTFB. It i

[2022-05-16 21:17] Narrator commented on #97
@apal21 Could you please share the exact redirect rule that you're using and elaborate on your intended behavior? Thank you!

[2022-05-16 21:18] Narrator commented on #2039
@bmccann36 Could you please share your app id and region?

[2022-05-16 22:45] cmeyer opened #2753 "Rewrite all URLs ending in .php to .html"
**Please describe which feature you have a question about?**
Rewriting rules

**Provide additional details**
My files exist in a subfolder. And I would like URLs of the form:

`/x/abc.php`

to be redirected (200) to the file:

`/x/abc.html`

**What AWS Services are you utilizing?**
AWS Amplify

**Provide additional details e.g. code snippets**

I would expect this to work:
[code]

Is this possible

[2022-05-17 16:12] mingyeungs commented on #2347
Came across the same issue today while adding ISR to a previously static next.js site.

For me, the IAM associated with Lambda already allows sqs:SendMessage (though I am not sure whether the "Resource" defined in the IAM is correct...), and redeploying doesn't make any difference.

The issue seems to be tied to the 'branch' instead of the app. So other than creating a new app, disconnecting the b

[2022-05-17 16:20] M-Harty21 commented on #2361
Has this been resolved, I have the same probelm

[2022-05-17 16:20] eliottparis commented on #97
@swaminator Thanks for the update, but I think we are still facing the same problem here, query parameters are not passed to the rewritten URL.

Our redirection rule:

[code]

[code]

From the [documentation](https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#query-parameters):

You can use query parameters for more control over your URL matches. Amplify forwards all query paramet

[2022-05-17 16:35] M-Harty21 opened #2755 "An error occurred during the publish operation: Branch dev not found."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-17 17:09] maximilianomarelli commented on #2746
hi, thanks for your answer.

I solved deleting all app and deploying it again.

Previously in my local environment i changed permissions and attributes to all files, because not all was the same, and some of them had mac's extended attributes.

I don't know if that was the reason but it worked !!!

[2022-05-17 17:09] #2746 closed

[2022-05-17 18:11] kahdojay commented on #2424
Ok, closing this one for now, but please re-open and provide details if you're still running into this issue!

[2022-05-17 18:11] #2424 closed

[2022-05-17 20:40] spazou opened #2756 "Authorize GitHub App permission error"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-17 21:02] CharlyWheels commented on #2741
Same error here. Did you get any answer?

[2022-05-17 21:11] andreroggeri commented on #2741
Nope, I just opened a question on SO
https://stackoverflow.com/questions/72280575/how-can-i-configure-amplify-to-create-a-new-backend-environment-for-each-branch

Em ter., 17 de mai. de 2022 18:02, Carlos Rueda ***@***.***>
escreveu:

[2022-05-18 01:23] yukinakanaka opened #2757 "Custom domain status is available but 404 error occurs"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-05-18 04:40] ronyfhebrian commented on #2343
@Rafcin Have you solved sentry nextJS problem? What did you do to make it work?

[2022-05-18 06:25] shreyas3336 commented on #2747
This solution is working, thanks!

[2022-05-18 07:45] kitsunde opened #2758 "It seems like amplify will sometimes get 404 redirects to / when restoring files"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-18 10:09] apal21 commented on #97
@Narrator
We have some redirect URLs for OAuth like this:
[code]

But I have to put all the rules manually. In some cases, there are multiple query params (`?code=<code>&state=<state>`).
I thought since this is a pattern, is there a way to have a single rule I can write for this? That way I have to maintain a single redirect only.

Thanks.

[2022-05-18 12:23] p3v9d5ui opened #2759 "Extend custom domain verification timeout to 7 or 14 days"
**Is your feature request related to a problem? Please describe.**

We offer our customers the option of using their own custom domain for our SaaS application, hosted on Amplify. When they choose a custom domain, we provide the two necessary DNS changes they must make -- one to add a CNAME for domain verification, and another CNAME for the custom domain.

The problem is that Amplify stops trying

[2022-05-18 12:32] ahlag commented on #2742
@hloriana
I have fixed it on the UI. Thank you!

[2022-05-18 12:32] #2742 closed

[2022-05-18 12:54] hsynakgul commented on #44
+1

[2022-05-18 12:54] markcraig opened #2760 "Redirecting to non-clean URLs?"
**Please describe which feature you have a question about?**

Rewrites/redirects that result in non-clean URLs.

I have failed to figure it out reading <https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html>, and <https://github.com/aws-amplify/amplify-hosting/blob/main/FAQ.md#redirects>, and by browsing the issues here.

**Provide additional details**

I am trying to redirect to a s

[2022-05-18 19:21] hloriana commented on #2745
Thank you for testing that out @andychoww. We are tracking this as a bug and will update you once it's been fixed. In the mean time, we are still investigating a possible workaround. Thank you for your patience!

[2022-05-18 19:35] SaqibZafar commented on #44
+1

[2022-05-18 21:55] ocordova commented on #1889
Adding config to serverSideTranslations fixed it for me.
`...(await serverSideTranslations(locale, ['common'], nextI18NextConfig)),`

_Originally posted by @crathert in https://github.com/isaachinman/next-i18next/issues/990#issuecomment-943438144_

[2022-05-18 22:11] hloriana commented on #2755
Hi @M-Harty21 👋🏽  thanks for raising this issue. It'd be helpful if we can look at the logs for this failed deployment to further investigate but it appears this app has been deleted. Is there a different app where you're running into this issue? If so, try running `aws amplify list-branches --app-id <value>` to make sure the `dev` branch exists. I was not able to reproduce this behavior.

[2022-05-18 23:18] hloriana commented on #2760
Hi @markcraig 👋🏽  thank you for raising this issue. The `.html` should not be removed from the target url. We are looking into this.

[2022-05-18 23:19] hloriana commented on #2759
Hi @p3v9d5ui thank you for opening this feature request. We have added this to our backlog for prioritization.

[2022-05-18 23:25] hloriana commented on #2756
Hi @spazou 👋🏽  does your repository belong to a GitHub organization? If so, please make sure that the permissions are also given to the organization.

[2022-05-19 03:27] xiaoxiaosaohuo opened #2761 "nextjs image cache strategy can not be changed"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-05-19 03:44] xiaoxiaosaohuo commented on #2392
yeah, webp is not working for me too, it works in local, but in production, the image is still jpeg or png, I'm using nextJS 12

[2022-05-19 06:31] spazou commented on #2756
Hi @hloriana no it's not.

[2022-05-19 06:49] neilferreira commented on #44
+1

[2022-05-19 07:11] nuriakman commented on #44
+1

[2022-05-19 07:58] bronzemoon81 commented on #44
+1

[2022-05-19 08:30] M-Harty21 commented on #2755
Hi there, had to reinitialize the app, but did it through the Amplify Studio/Console instead of the CLI. There is something really buggy about using the Amplify CLI... had no idea what could've been the actual issue.

[2022-05-19 08:30] #2755 closed

[2022-05-19 08:35] M-Harty21 commented on #2755
My educated guess after hours and hours of trying to figure this stuff out is that: when done through the CLI it creates a "dev" backend environment that is linked to the frontend. When using the Amplify Console/Studios it seems to instead create a environment called "staging", when deploying to the CI/CD it seems to work with the staging environment then the dev environment... As I said my experi

[2022-05-19 08:50] 3rkan0zturk commented on #44
+1

[2022-05-19 12:53] tjordanahp commented on #2039
Testing out Auth with Amplify, the same issue.

Following the documents here: https://docs.amplify.aws/start/getting-started/installation/q/integration/vue/

When I got to the add **"Add authentication"**, then ran this command [ amplify add auth ], the build failed after a push. The build error is below.

If you want, I'll keep the App Id: d2lervtrgi1bea up. Region: us-east-1

2022-05-19T04:17:58

[2022-05-19 13:26] aullrich commented on #2747
Same for us.

[2022-05-19 16:10] #1360 closed

[2022-05-19 16:46] glenhayes commented on #2345
@chrisbonifacio, Wondering if there have been any updates to this issue. I am running into the same problem when hosting with Amplify and using Next.js' i18n functionality for locale switching between domains. I tested the functionality on Vercel, where it works as intended but not on Amplify it is serving the wrong locale.
The issue seems related to pages that share the same path for different lo

[2022-05-19 21:48] apetrov-monivolt opened #2762 "The request multipart/form-data is truncated unexpectedly if its size exceeds 1mb in Next Js api hosted on Amplify."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti