[2020-11-13 16:22] #1219 closed

[2020-11-13 16:57] litwicki commented on #1201
@simpson this is the same app `arn:aws:amplify:ap-southeast-1:252100588959:apps/d12hn9rteao8a1` right? I'll ask the team to cross reference that time window on our end and see what we can find.

[2020-11-13 16:59] simpson commented on #1201
@litwicki Yessir. Interesting how similar the duration is, the time is different though

[2020-11-13 16:59] litwicki commented on #1097
@wenruiliau that error indicates the CNAME is already in use by another resource. For the domain to work on Amplify will need that CNAME record.

[2020-11-13 17:17] #1208 closed

[2020-11-13 17:36] nimacks commented on #1217
@profit4x is this still an issue?

[2020-11-13 18:32] PeteDuncanson opened #1223 "How to insert an array of strings in a GraphQL mutation?"
** Please describe which feature you have a question about? **

I have a type in my schema that accepts an array of strings and a @key on that array to help be search by it (at least that is the idea). However when I try to create that type using a GraphQL mutation I get an error when trying to insert the values for the string array. Am I doing something wrong?

** Provide additional details**

Sa

[2020-11-13 21:21] kylekirkby commented on #331
I'd also love for this feature to be added!

[2020-11-13 22:45] akash345 opened #1224 "Other users cannot see my deployed Amplify App"
** Please describe which feature you have a question about? **
User management for AWS Amplify

** Provide additional details**
Although I have successfully deployed my web app, my team cannot see it or access it despite being root users.

[2020-11-13 22:59] nimacks commented on #1224
@akash345 access control in the Amplify Console is done by setting a user name and password. Are you saying that you've created a `root` user with password in the console and users are not able to get into the site?

[2020-11-13 23:06] akash345 commented on #1224
@nimacks They are able to access AWS Amplify but they cannot see the Web App we deployed. I am the only one who can see it. For them, the Amplify Console is blank.

[2020-11-13 23:30] nimacks commented on #1224
Alright, just to be clear you're saying your team can access the AWS Amplify Console. However they cannot see the deployed app created using the Amplify Console? If that is accurate, then you need to ensure that your team has permissions to access it via IAM.

![image](https://user-images.githubusercontent.com/4107271/99130286-c7276e80-25c4-11eb-9488-3a5e61ec8c97.png)

[2020-11-13 23:31] ericmick commented on #1204
If I'm reading that guide correctly, I need to wait 1 or possibly up to 6 hours. Meanwhile, I can't use cloudfront to serve that domain, so I would either need to have an outage, or temporarily migrate to some other hosting solution. Seems like something that ought to be documented or worked around.

[2020-11-13 23:31] #1204 closed

[2020-11-14 00:16] dougleville commented on #1069
@litwicki OK sure - with #150 closed, is there any guidance on how to clone private submodules with Amplify without adding encoded ssh keys as environment variables?

[2020-11-14 00:21] sasakirione opened #1225 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d3euxos4nf9qtk
**Region**: ap-northeast-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Pleas

[2020-11-14 04:24] sanjeetiitr opened #1226 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3j2z1g8shkddr
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I had already an active CloudFront distribution and Route53 setup for my domain.
Earlier my static website was hosted from S3 and not I am using Amplify.
I disabled the existing distribution and removed all CNAME and A records and then initiated the amplify add domain. And i am getti

[2020-11-14 08:53] AshwaniChoudhary commented on #1207
Hi @kahdojay and @nimacks

Here you can see my build history
![image](https://user-images.githubusercontent.com/4927229/99143376-d79e1e80-2682-11eb-9b8c-67f6eccb36ba.png)

After updating custom header like below, my build is failing
<img width="1373" alt="Screenshot 2020-11-14 at 2 04 53 PM" src="https://user-images.githubusercontent.com/4927229/99143323-855cfd80-2682-11eb-9402-476381c88c0f.png">

[2020-11-14 08:56] AshwaniChoudhary commented on #1207
Attaching the build log
[log (2).txt](https://github.com/aws-amplify/amplify-console/files/5540404/log.2.txt)

[2020-11-14 10:19] chazarabriseis commented on #595
@wvidana  Thanks for your prompt answer!

When I build the docker image and run it locally I get the following for java version and alternatives:

   bash-4.2# java -version
      openjdk version "11.0.7" 2020-04-14 LTS
      OpenJDK Runtime Environment 18.9 (build 11.0.7+10-LTS)
      OpenJDK 64-Bit Server VM 18.9 (build 11.0.7+10-LTS, mixed mode, sharing)
   bash-4.2# alternatives --config java

[2020-11-14 15:29] aeflorezm commented on #1103
It was bue I just deleted it and created again a  few days ago. Thank you so much

[2020-11-14 15:29] #1103 closed

[2020-11-14 18:35] litwicki commented on #1220
@subhashnalluru I'll have the team take a look at this. Can you verify your build has `aws-exports` in the build environment?

[2020-11-14 18:46] Arocmd17 opened #1227 "Deployment failed! when running amplify publish"
** Please describe which feature you have a question about? **

** Provide additional details**
I have already published my app on amplify. Then I added some features and publish it but it is showing Deployment failed

ile sizes after gzip:

  224.68 KB  build\static\js\2.7dce62c6.chunk.js
  3.67 KB    build\static\js\main.7ef4b260.chunk.js
  1.4 KB     build\static\js\3.3f972b83.chunk.js
  1.17 K

[2020-11-14 20:12] stephensander1161 commented on #1176
me too, just trying to get my little app on amplify

Generated by cloudfront (CloudFront)
Request ID: d2u8bOwtRrnLEvsXSVieZSzhIH1KmizsGpYCCu2O-P8mzVLIdHOXHQ==

[2020-11-14 23:57] pnm563 opened #1228 "mdb bootstrap project - Invalid React Hook call error"
Hi there,

I have created a React project using `create-react-app` and successfully deployed it to AWS Amplify.

Next I have installed the mdbootstrap.com `mdbreact` package and added some content to my App.js file.

The page and components load up with no problems when running `npm start` and browsing to `https://localhost:3000`

However, the version running here `https://main.d19qlnqhs16f85.ampl

[2020-11-15 02:14] subhashnalluru commented on #1220
Thanks @litwicki for getting back to me on this. This is actually my first time using Amplify. Can I just verify whether you mean if I have aws-exports on my repo? Because, I do not have the file in my repo. When I did amplify init, followed by an amplify add auth later, I ensured to also run amplify push. In my build settings, I also have backend: phases: build: commands: amplifyPush --simple. Do

[2020-11-15 08:58] kirankc commented on #1036
Can you please help disable it for my app - d2esoszu03i9k9

[2020-11-15 09:02] kirankc commented on #833
@behrooziAWS can you please help disable it for my app with custom domain? App ID: d2esoszu03i9k9

[2020-11-15 11:56] ypolon7kiy commented on #1036
Same for - d1yqeouzhvgtz
Thx

[2020-11-15 16:39] blackdevil22 opened #1229 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dq2wes1kgdd48
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fe

[2020-11-15 19:06] sasakirione opened #1230 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d3euxos4nf9qtk
**Region**: ap-northeast-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Pleas

[2020-11-15 20:02] chazarabriseis commented on #595
Thanks @wvidana for your fast reply! I was trying out stuff and I got the java installation working now by installing it from a wget and setting the path at the end. I also set the path for gradle and it finds it now but complains about the version:
Update Gradle to >=5. Download link: https://bit.ly/3aGYDj6

Not sure what could go wrong there since I am installing and pointing to verison 6.7 and

[2020-11-15 20:51] RohitChattopadhyay commented on #599
You can trigger builds using **webhooks**, the build uses the HEAD commit.
https://docs.aws.amazon.com/amplify/latest/userguide/webhooks.html

[2020-11-15 22:34] litwicki commented on #1220
This will include your environment cache and app details, but will not include the parameters necessary to build your backend. Try including `aws-exports` in your build, and if that doesn't work we'll have the team take a look tomorrow.

[2020-11-16 00:28] isbkch commented on #876
I have the same issue with `amplify --version 4.32.1` on Mac Os Big Sur
it only started after I added sms notifications

[2020-11-16 03:41] nimacks commented on #1224
@akash345 are you still having issues?

[2020-11-16 06:08] wsh-startup commented on #1179
Hi @gwryssekk,

We will be checking the links you provided.
However, just to give context and background to what our setup is currently, please see the details below.

1. Domain name is bought from GoDaddy.
2. Landing page (static web app) is hosted via Netlify. Pointed domain details from GoDaddy to our Netlify account.
3. Our Web app (dynamic web app) is hosted at AWS.

What we want to achieve i

[2020-11-16 06:25] jngbng commented on #1107
@swaminator custom headers is to add a custom header to responses. I don't figure it out how that feature may solve my problem. More detailed description would be greatly appreciated.
I hope to branch on REQUEST header (Accept-Language header) on server-side, not to add custom header to response.

[2020-11-16 06:27] Alk3m1st opened #1231 "Support output from unit tests (not just Cypress E2E tests) in test section of console"
**Is your feature request related to a problem? Please describe.**
Currently the amplify console supports E2E tests with Cypress and can show the report and artifacts in a nice format within the test section of each build. Unfortunately there is not a way to show unit test results (from Jest for example) in this section. Even if you run your tests in this section, a non-zero exit code won't actual

[2020-11-16 06:54] mailelucks opened #1232 "Migrate s3 bucket to amplify and 301 redirects"
** Please describe which feature you have a question about? **
Domains and Redirects

** Provide additional details**
Connecting our domain that is currently in use by our s3 bucket failed (which makes sense). What would be the best steps to go about migrating with minimal downtime?
However...before doing this, I want to make sure that 301 redirects are working properly. I setup a few and am viewi

[2020-11-16 07:00] pbc0810 opened #1233 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dr6rck2owijrm
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-16 07:00] #1233 closed

[2020-11-16 15:02] alexcamerondev commented on #1188
@nimacks no longer an issue but the error messages could still be much better in that scenario to prevent wasted time.

[2020-11-16 15:02] #1188 closed

[2020-11-16 15:20] nathanqueija commented on #1096
I have the same issue here. Any workarounds?

[2020-11-16 15:29] nathanqueija commented on #1224
Since my last deployment, I started to get this blank screen as well. I see some API calls failing in the console, but nothing is shown on the screen.

[2020-11-16 15:40] nathanqueija opened #1234 "Blank screen after deployment"
Hi there,

Since this morning every new deployment of my app results in a blank screen.
All the stages succeed in Provision, Backend, Frontend, and deployment, but the result is a blank screen.
I see that the application is loading somehow because I see some API calls being sent, but other than that there is just a blank screen.
It was working normally and I didn't change anything in the build pip

[2020-11-16 16:37] nimacks commented on #1188
@alexcamerondev Can you share some insights so we can make this experience better? What problems did you run into?

[2020-11-16 16:38] nimacks commented on #1230
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2020-11-16 16:38] nimacks commented on #1229
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2020-11-16 16:39] nimacks commented on #1226
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2020-11-16 16:40] nimacks commented on #1225
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2020-11-16 16:55] nimacks commented on #1199
@rz-robsn the domain www.ac********e.ca configured for the app `d8lvf17uysti1` works for me. Can you confirm that this works for you now?

[2020-11-16 16:58] nimacks commented on #1234
@nathanqueija  Can you provide an appId? Also, can you confirm that you didn't make any changes to code?

[2020-11-16 17:47] nimacks commented on #1227
@Arocmd17 , can you provide an appId?

[2020-11-16 18:28] nathanqueija commented on #1234
I did some minor changes to the code that shouldn't cause any crashes. I tested them locally. They are really small so I don't see why this would cause this only after deployment. The app id is d21wf9h30kgumj

[2020-11-16 21:20] blackdevil22 commented on #1229
Hi. This domain:
is a fresh ( new )
not have record in route 53 ( except SOA and NS)

Error:
![image](https://user-images.githubusercontent.com/33642262/99309581-fa366000-2859-11eb-8813-18580e78eeb1.png)

[2020-11-16 21:21] kahdojay commented on #1234
Hi @nathanqueija I looked through our logs and your builds/deploys seem to be working fine but when I visit both your staging and prod endpoints in the network tab I also see 200s for the js files but repeated 401s for requests being made to your api endpoint. It seems like something in your frontend code might be failing auth against your api and possibly preventing the rest of the js to execute?

[2020-11-16 21:30] thusnani opened #1235 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2n2k94r3psfx7
**Region**: ca-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please f

[2020-11-16 21:43] nathanqueija commented on #1234
This api call fails on local env as well it was happening before the last deploys become blank, it's normal as it will be tried again. Locally it is tried again and then the app continues normally, even before failing I can see the application running locally. What is weird for me is that I can't see anything at all on the screen and it happens only on amplify deployment. I tried to upload the sam

[2020-11-16 22:21] fewzikrasny opened #1236 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d3jz287bc15xmv
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-11-16 22:36] kahdojay commented on #833
@kirankc @Szasza your apps have been updated, responded to your emails

[2020-11-16 22:56] Szasza commented on #833
Thank you @kahdojay , it is working perfectly.

[2020-11-16 23:48] pnm563 commented on #1228
The troubleshooting guide from the link in the error has a guide for adding debug logging. This printed out `true` for me so I had to try something else. In the end an `npm dedupe` worked.

[code]

Sorted :-D

[2020-11-16 23:48] #1228 closed

[2020-11-17 08:04] nathanqueija commented on #1234
I tried three more times and now it works. 🤷🏼‍♂️ I'll close the issue as I don't quite understand yet where the problem is. I'll come back if I find the root.

[2020-11-17 08:04] #1234 closed

[2020-11-17 08:16] leighkendell commented on #280
Weirdly the AWS Amplify documentation seems to say that this is possible: https://docs.aws.amazon.com/amplify/latest/userguide/access-control.html

But all the branch specific inputs are disabled when setting a global password so this is not achievable.

[2020-11-17 09:59] iuyt9003 commented on #206
Same goes here @jackscotti thanks for posting!

[2020-11-17 10:03] dimeloper commented on #979
@nimacks probably yes, my amplify build is stuck on this step too. CNAME record is in place since a few days.

[2020-11-17 14:54] GunnarSturla commented on #1207
I'm having the same problem, initially using a custom header configuration, but also using @AshwaniChoudhary's configuration.

Here's the tail of my build logs, it's not showing any errors but does terminating earlier than a successful build
[code]

[2020-11-17 15:19] shayelbaz1 commented on #615
I have the same issue every time when I do deploy to amplify I cant see the changes for a long time until i clear the cache in the browser. is there any way to clear the cache on every deployment?

[2020-11-17 15:43] shayelbaz1 opened #1238 "Can't see changes in the PWA app after deploy until clearing the cache."
After I do deploy I can't see the changes until I clear the cache in the phone.

I can't see any changes for a long time on the domain and on the downloaded PWA app to the Home Screen the version stays the same.

How to fix it?
How to see the changes?

additional details:
PWA Build with VUEjs

[2020-11-17 16:46] pendurthi05 commented on #1176
me too getting same error message.
502 ERROR
The request could not be satisfied.
The Lambda function result failed validation: The function tried to add, delete, or change a read-only header. We can't connect to the server for this app or website at this time. There might be too much traffic or a configuration error. Try again later, or contact the app or website owner.
If you provide content to c

[2020-11-17 17:13] kahdojay commented on #1221
@j-yamamoto can you provide you app id and region, the affected branch(es), and example job numbers? Please also provide steps to reproduce with expected behavior.

[2020-11-17 17:27] kahdojay commented on #1224
I believe @nathanqueija 's issue is being handled here https://github.com/aws-amplify/amplify-console/issues/1234

@akash345 can you let us know if you're still having issues and whether it's the AWS Amplify Console or the deployed web app that's having issues (and if possible steps to reproduce)

[2020-11-17 17:32] kahdojay commented on #1226
@sanjeetiitr this can happen even if you've deleted the CNAME record from your DNS provider if the name is still associated with an existing cloudfront distribution, or if not enough time has passed since the removal. I just checked your app and both your www and root domain seem to be working now though, so I'll close this but feel free to reopen if you're still having issues.

[2020-11-17 17:32] #1226 closed

[2020-11-17 17:34] kahdojay commented on #1227
@Arocmd17 in addition to appId can you provide the affected branch and example job number?

[2020-11-17 17:42] kahdojay commented on #1229
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlined in the docs above) depending on your current

[2020-11-17 17:45] kahdojay commented on #1231
Thanks for your input! We've taken this as a feature request

[2020-11-17 18:04] kahdojay commented on #1232
@mailelucks can you provide some details on the redirect issue? e.g. appId, region, branchname, repro steps

[2020-11-17 18:06] kahdojay commented on #1235
Hi, can you provide some more details and let us know which steps in the troubleshooting guide you've followed: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

[2020-11-17 18:06] kahdojay commented on #1236
Hi, can you provide the requested details and let us know which steps in the troubleshooting guide you've followed: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

[2020-11-17 18:12] thusnani commented on #1235
![image](https://user-images.githubusercontent.com/56053494/99429723-6060c880-28d6-11eb-98e0-efb6106250af.png)

[2020-11-17 18:12] thusnani commented on #1235
I get a problem that is not listed in that troubleshooting guide.

[2020-11-17 18:49] kahdojay commented on #1238
@shayelbaz1 do you have performance mode enabled?
https://docs.aws.amazon.com/amplify/latest/userguide/ttl.html

If so try turning it off for instant cache validation. If not please provide appId / region / branchname and we can take a closer look.

[2020-11-17 21:13] rz-robsn commented on #1199
@nimacks

Yes the domain works but only partially. I essentially have 2 issues that are believe are related to each other :

1. I still get "domain activation failed" error on my amplify console.
1. For some reason any network call to my app redirects to `/index.html`. This is not something that I set up on my app. This systematically happens even though I don't get such behavior when developing l

[2020-11-17 21:58] akash345 commented on #1224
@kahdojay I am still having issues despite adding the IAM provisions. I'm not sure which part is having problems as I can see the app on the Amplify Console but none of my team can

[2020-11-17 22:07] drclohite opened #1239 "Amplify CLI rejecting build since CLI update"
Hi I have a customer live deployment prod and a dev. I upload to dev first to spot bugs, test etc. I write code and test first on my PC. I currently have a live prod and my pc, machine versions are different although both work fine. The dev works to a level uploaded about 10 days ago.

I have had occasional errors in the past where it did not like the code, that was a long time ago and the error m

[2020-11-17 22:40] poojakota17 opened #1240 "Amplify not getting deployed, stuck in some loop by detecting changes on its own."
I changed the build settings for backend and did redeploy this version. It got stuck somewhere, not even showing the progress bar of provision ,build and all. Continously detecting some undefined branch also and then changes to original branch and this loop is going on.

[2020-11-17 23:47] thiagoarruda commented on #925
Hi @abhi7cr, any updates on this? I found another behavior that seems to be related:

I'm using a rule to redirect most requests to `index.html` for our SPA to handle, using the following regex with a `200 (Rewrite)`: `</^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json|webmanifest|xml)$)([^.]+$)/>`

With this rule, files with the above extensions that exist on the server can be retri

[2020-11-18 00:45] Alk3m1st commented on #1231
Thanks @kahdojay much appreciated.

[2020-11-18 01:00] kahdojay commented on #1201
@simpson I do see that ordinarily the healthcheck is running constantly, requests `/`, and gets 200, but sometimes will get 302 and receive index.html which can happen if a non-existing resource is requested with a trailing slash and a 404 redirect rule is in place (which your app does have), i.e.:

[code]

So I'm wondering if any of your health checks are configured to look for a non-existing fil

[2020-11-18 01:51] j-yamamoto commented on #1221
Hi, @kahdojay. Unfortunately, I cannot share my app information because I would like to keep it private.
But, here is the steps for reproduction. Let's say your branch on Github is already connected to your Amplify Console app.

1. Add lambda layer resource with amplify cli
1. Add lambda function resource and attach the lambda layer to it with amplify cli
1. Run amplify push
1. Commit changes on g

[2020-11-18 04:36] roykingtree commented on #1176
I had this same issue, but solved it by fixing my build settings on the amplify console (editing the amplify.yml file in console). You need to make sure your build command is included and your baseDirectory is correct. Here is an example of what the yml file should look like, though your specific build commands and baseDirectory location may differ: https://gridsome.org/docs/deploy-to-amplify/

[2020-11-18 05:23] AshwaniChoudhary commented on #1207
Hello Guys, Any update??

[2020-11-18 09:00] shayelbaz1 commented on #1238
Hi, performance mode is not enabled.
app: *bitin_wallet*
region:
Europe (Frankfurt)eu-central-1
<https://eu-central-1.console.aws.amazon.com/amplify/home?region=eu-central-1#/d3o18v3n6w795f>

 branchname : master

How do I find the appId?

On Tue, Nov 17, 2020, 20:49 Don J. Kahn <notifications@github.com> wrote:

[2020-11-18 11:19] abgaryanharutyun commented on #991
Hey, I have the same issues.

I temporarily resolve this issue by removing all existing rules and changed my URL from `https://example.com/page?id=1` to `https://example.com/page/?id=1`

[2020-11-18 12:38] joshm91 opened #1241 "Webhooks broken and SSL cert invalid in eu-west-2"
Hi,

The SSL certificate used for https://webhooks.amplify.eu-west-2.amazonaws.com appears to be invalid meaning I have to pass a `--insecure` flag to curl in order to post to the webhook. This obviously isn't ideal and seems to be an error since the webhook url for us-east-1 looks to be correct.

[2020-11-18 12:42] joshm91 commented on #1241
In fact, POSTing to the webhook url displayed in the amplify console doesn't seem to work at all and returns this content:

[code]

[2020-11-18 14:00] simpson commented on #1201
@kahdojay here are the settings in which Fathom uses to run, it just hits our base domain

![Screen Shot 2020-11-18 at 8 54 21 AM](https://user-images.githubusercontent.com/1605737/99539664-804ac780-297c-11eb-8df8-adb6e61c2a48.png)

[2020-11-18 15:19] sanjeetiitr commented on #1226
Thanks @kahdojay . It worked after removing all existing CloudFront distribution.

[2020-11-18 15:56] florina-chesaru opened #1242 "Domain activation is Failed - 2 Subdomains with the same error"
**App Id**: d1ssmf0dotutno
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

**Issue**
I have 2 subdomains for 2 applications in Amplify:

For these subdomains the CNAMEs have been added and the SSL configuration works, but the 3 step "Domain activation" is failing.

**Error message**
Something went wrong. Please refer to our troubleshooting guide below to diagnose the issue

[2020-11-18 17:46] kahdojay commented on #1201
@simpson do you mind emailing us at aws-amplify-customer@amazon.com? I can send you some more details, it'd be worth checking with Fathom to see if they're doing any of their own checks outside of your config.

[2020-11-18 17:56] kahdojay commented on #1239
we're investigating, potentially related to https://github.com/aws-amplify/amplify-cli/issues/5862

[2020-11-18 18:11] simpson commented on #1201
@kahdojay email sent! Thank you for the help!

[2020-11-18 19:34] kahdojay commented on #1221
@j-yamamoto you can email the info to aws-amplify-customer@amazon.com

[2020-11-18 19:53] chazarabriseis opened #1243 "Amplify can't find Gradle6.7 on build phase of CI/CD"
I want to deploy an app that is using python and java lambdas.

I got the amplify backend build working by using the docker image wvidana/amplifybuildimage:python38.

To get the amplify backend build for the java environment working I took the above mentioned image and added java and gradle to it and published a new docker image chazarabriseis/amplifybuildimage:python38java11gradle6

Amplify build

[2020-11-18 21:02] kahdojay commented on #1240
@poojakota17 can you share more details using our [bug report issue template](https://github.com/aws-amplify/amplify-console/blob/master/.github/ISSUE_TEMPLATE/bug_report.md)? Apologies it wasn't in the issue template set of options, we'll fix that as well.

[2020-11-18 21:23] kahdojay commented on #1241
Hi, thanks for reporting - we've pushed a fix and this should work now. Please re-open if you're still seeing issues.

[2020-11-18 21:23] #1241 closed

[2020-11-18 21:41] toroberts commented on #1241
Thanks - will do.

Tom Roberts
Head of Digital Studio
t.roberts@dewynters.com<mailto:t.roberts@dewynters.com>

On 18 Nov 2020, at 21:23, Don J. Kahn <notifications@github.com> wrote:

﻿

Hi, thanks for reporting - we've pushed a fix and this should work now. Please re-open if you're still seeing issues.

—
You are receiving this because you are subscribed to this thread.
Reply to this email direct

[2020-11-18 21:58] kahdojay commented on #1243
@chazarabriseis can you provide your appId, region, branch name, and example build number so we can take a closer look?

[2020-11-19 07:35] DaveOrDead opened #1245 "Build failing - no error in logs"
**Describe the bug**
My last 4 builds have failed resulting in the following screenshot.
<img width="435" alt="Screenshot 2020-11-19 at 18 26 49" src="https://user-images.githubusercontent.com/1312905/99634559-d27f0c00-2a94-11eb-9f24-e009eb000558.png">

I have looked at the logs and also downloaded them, but there is no mention of an error anywhere - in fact they say the build was successful:
[cod

[2020-11-19 09:46] DaveOrDead commented on #1245
Ah, I've actually now discovered that it is because I added cutom security headers - removing those allows it to build again - although not ideal.

Will add my issue to https://github.com/aws-amplify/amplify-console/issues/1207

[2020-11-19 09:46] #1245 closed

[2020-11-19 09:47] DaveOrDead commented on #1207
I have the exact same issue. Build fails, but logs show it being successful.

Removing custom headers allows build to work again.

[2020-11-19 11:02] joshm91 commented on #1241
Great, thanks!

[2020-11-19 12:00] ubaySG commented on #56
Some brief update would be great as it will help making a migration decision.

[2020-11-19 13:03] bryantbiggs commented on #56
@ubaySG / @jnapprogs / @econtentmaps / @winston-dhanraj see https://github.com/aws-amplify/amplify-console/issues/833 - its a duplicate issue where AWS has stated: https://github.com/aws-amplify/amplify-console/issues/833#issuecomment-719079156

[2020-11-19 13:07] econtentmaps commented on #56
This request is about being able to 'see' the Amplify certs created by Amplify from other AWS services, I thought?

[2020-11-19 13:10] bryantbiggs commented on #56
no, for example we had 18 amplify apps that we sent AWS and they set the min TLS version to 1.2 for us. it sounds like we should be able to control this through the console in the very near future but at least that helped out a lot until then

[2020-11-19 14:06] chazarabriseis commented on #1243
@kahdojay thanks for looking in to it!
Here the info for the failed build:
"AmplifyAppId": "d15zxau0438qdt"
"Region": "eu-central-1",
Branch name: master,
build number: 73

I was able to get a successful build just then, build number 72, by adding the installation to the amplify.yaml file. This hack would mean it downloads it every build time... so I guess it would be better and cleaner if it woul

[2020-11-19 15:28] chazarabriseis opened #1246 "python template hello world function does not work"
**Describe the bug**
Using the amplify client adding a path with a python lambda function to a REST API, the hello world template does not work out of the box.

**To Reproduce**
Using the amplify cli:
1. amplify update api
? Please select from one of the below mentioned services: REST
? Please select the REST API you would want to update ReSoBuAPI
? What would you like to do Add another path
? Pro

[2020-11-19 16:00] nirkra commented on #595
proper resolution:
[code]

[2020-11-19 16:02] poulter7 commented on #595
Does this installation on the fly approach dramatically increase buildtimes
though?

On Thu, Nov 19, 2020 at 11:00 AM Nir Krakowski <notifications@github.com>
wrote:

[2020-11-19 16:06] nirkra commented on #595
yes

[2020-11-19 18:10] simpson commented on #1201
@kahdojay @litwicki We have an active outage, hit designed.org

[2020-11-19 20:04] dmudro commented on #1140
I am now able to replicate the same issue as described by @dessskris

In addition the Redeploy this version button is gone.

This happened after I converted my application to a monorepo so I understand the context now as indicated [above](https://github.com/aws-amplify/amplify-console/issues/1140#issuecomment-708622110).

[2020-11-19 20:12] dmudro opened #1247 "Redeploy this version button not available in monorepo"
**Is your feature request related to a problem? Please describe.**
I am not able to rollback the application in a monorepo - the redeploy button is gone when I set appRoot in the yml config.

**Describe the solution you'd like**
Parity with non-monorepo application, i. e. the redeploy button should be visible:

![image](https://user-images.githubusercontent.com/1648143/99718739-a15e0600-2aab-11eb-

[2020-11-19 20:21] dmudro opened #1248 "Monorepo config best practice"
How should I structure the amplify.yml given I have two applications in my mono repo:
- should I provide one large amplify.yml with two appRoots as [described here ](https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#monorepo-configuration)and mentioned in this [official guide](https://aws.amazon.com/blogs/mobile/set-up-continuous-deployment-and-hosting-for-a-monorepo-with-aw

[2020-11-19 20:23] dmudro commented on #1248
Just reading someone else's comment on https://aws.amazon.com/blogs/mobile/set-up-continuous-deployment-and-hosting-for-a-monorepo-with-aws-amplify-console/

_This doesn't work, we have two unique approots defined and it just deploys whichever is listed first, twice_

Please confirm and fix the docs.

[2020-11-20 01:11] hdb commented on #1209
I'm experiencing the same issue for urls without trailing slashes but strangely only for branches that contain a backslash in the branch name.

[2020-11-20 01:22] huphtur opened #1249 "Upgrade to Node.js 12.13 or higher"
** Please describe which feature you have a question about? **
How does one use Node.js 12.13 (or higher) when deploying?

** Provide additional details**
Currently trying to deploy a site with Tailwind 2.0, which now [requires Node.js 12.13 or higher](https://tailwindcss.com/docs/upgrading-to-v2#upgrade-to-node-js-12-13-or-higher). Getting build errors with current set up. Looking in log, I think

[2020-11-20 03:33] nagacheruvu commented on #979
You can close it...issue resolved

On Thu, Nov 12, 2020, 1:12 PM Sam <notifications@github.com> wrote:

[2020-11-20 04:17] khoadecormatters opened #1250 "[ERROR] Amplify Stuck at Deploy Step (Updating edge config)"
Hi. My deployment is currently stuck at the Deploy Step:
2020-11-20T04:02:17 [INFO]: Starting Deployment
2020-11-20T04:02:17 [INFO]: Updating Edge config

The weird thing is that it worked just fine earlier today.. Now its stuck on all branches at this step.

My app Id:
d90xeq8gkrh7t (us-east)

Thanks.

[2020-11-20 04:45] davad commented on #837
I'm periodically getting the same error.

[2020-11-20 04:51] yuanworks commented on #1250
I am in `us-east-1` and having the same issue, so I imagine it's just a hiccup or rolling update on their servers.

I will comment again here when I have any update on it.

[2020-11-20 04:55] khoadecormatters commented on #1250
Thank you @yuanworks. Thought it was just me.

[2020-11-20 05:03] litwicki commented on #1250
Hi folks, we're experiencing increased faults in `us-east-1` and will update here when the issue is resolved.

[2020-11-20 05:24] yuanworks commented on #1250
Thank you for the notice @litwicki.
My build just succeeded after 32 min. 💯💯💯

[2020-11-20 05:38] martcklm commented on #833
Hi There,
We have been using amplify app provided by aws. We have done the PT and came to know that TLS1.1 is offered. We would need to disable this ASAP Could someone please help out how to turn it off?
The recomendations are as below:
It is recommended to reconfigure the SSL certificates configuration in the affected applications. While configuring the
following may be considered:
• Support only

[2020-11-20 07:47] beerth commented on #435
I ran into the same issue after creating a new environment and doing a "amplify push".
Doing also a "amplify publish" solved my issue.

[2020-11-20 08:07] bobhy opened #1251 "Domain activation is Failed - Cloudfront alias error"
**App Id**: d163eh18wxq7or
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Issue seems to be the cloudfront alias for my app, and I'm not sure about the CNAME for blog.bobhy.com.
The cloudfront distribution number changes each time I retry the registration process, and I can only see the DNS records *while* the process is running (if I look under `Actions`)

[2020-11-20 08:11] sergiucurea opened #1252 "SSL configuration is Running - Stuck in SLL Configuration"
Hello, I have an app hosted on aws amplify with a custom domain, and the ssl certificate recently expired, I have reconfigured the custom domain in the domain management but it is stuck more than 8 hours in the "SLL configuration" step.

The message displayed reads as follows:

"We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain. If this takes lo

[2020-11-20 09:51] dmudro opened #1253 "Redeploy this version button does not build from correct commit when previously deployed with webhook"
**Describe the bug**
Redeploy this version builds and deploys incorrect version when using webhook.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn off auto build in Amplify console for a particular branch (e. g. master)
2. Push code to master
3. Trigger webhook deploy from master branch to deploy build #1
4. Push more commits to master
5. Trigger webhook deploy from master branch to de

[2020-11-20 12:28] nkashyap commented on #1248
@swaminator  It looks like the above article was written by you. please can you confirm if it used to work as mentioned in the article.

[2020-11-20 13:07] lukaskoeller commented on #178
We are using Amplify to deploy our app but received several `ChunckLoadError`s. Is this feature of keeping old assets not enabled by default? Is there a way to enable it?

[2020-11-20 14:43] sammarks commented on #225
While the file appears to be deploying, it seems Amplify is still trying to add a trailing slash to the end of the file. Following [the solution mentioned above](https://github.com/aws-amplify/amplify-console/issues/225#issuecomment-600765836) worked for me.

[2020-11-20 15:02] johspaeth commented on #595
The solution by @nirkra worked for me. Thanks for sharing!

[2020-11-20 16:15] huphtur commented on #1249
Found an [answer on SO](https://stackoverflow.com/a/63813005/4155883).

Added `- nvm install 12` command to the prebuild, and now things are deploying as expected.

[2020-11-20 16:15] #1249 closed

[2020-11-20 16:45] sergiucurea opened #1254 "SSL configuration is Running - Stuck in SSL Configuration"
**App Id**: d302bkns913825
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
I have configured a custom domain for the an amplify hosted app, but the process is stuck on the SSL verification of domain ownership and doesn't move forward for more than 8 hours. The DNS Management is done by Route 53 and the process should not stall here.

[2020-11-20 17:07] litwicki commented on #1250
Closing this as it was due to an issue last night that is now resolved. If this issue happens again please reopen or create a new issue.

[2020-11-20 17:14] ddouras commented on #249
There is no need to create a test target to your amplify file if you just want to run unit tests. I got this working with following steps:

Set your amplify.yml to be :

frontend:
  phases:
    preBuild:
      commands:
        - npm ci
        - wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
        - yum install -y ./google-chrome-stable_current_*.rpm
        - n

[2020-11-20 17:26] kahdojay commented on #1207
@AshwaniChoudhary it appears you have a monorepo app - can you set your custom header spec settings as follows:

[code]

And let me know if this fixes it. We will be updating the docs to include this instruction for monorepo apps as well.

[2020-11-20 17:30] jstanley70 opened #1255 "Pull Rate Limit Hit even after 12 hour break"
**Describe the bug**
We keep running into the pull rate limit for pulling docker containers. Today it has become unmanageable.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up for auto deploy of a env.
2. Deploy it, previously was not an issue but is now seemingly locked completely
4. See error
[BUILD_CONTAINER_UNABLE_TO_PULL_IMAGE: Unable to pull customer's container image. CannotPull

[2020-11-20 17:41] kahdojay commented on #1251
Hi, you'll need to first remove the CNAME and wait at least the duration of your ttl (1h in this case, and likely longer to be safe) before retrying otherwise that record will not have yet expired from DNS caches and CloudFront will return that error.

[2020-11-20 17:45] #1251 closed

[2020-11-20 17:48] kahdojay commented on #1252
@sergiucurea can you share the appid and region?

[2020-11-20 17:54] kahdojay commented on #1253
Thanks for your feedback. We'll look into this behavior and whether it should change.

To learn more about your use case: are you only using incoming webhooks to trigger builds? If you're using the standard ci/cd git push process as well you can roll back to those commits.

[2020-11-20 17:55] kahdojay commented on #1252
closing in favor of https://github.com/aws-amplify/amplify-console/issues/1254

[2020-11-20 17:55] #1252 closed

[2020-11-20 18:31] kahdojay commented on #1255
@jstanley70 can you provide your appid, region, and example job number?

[2020-11-20 19:49] kahdojay commented on #837
Hi, this is a known issue with custom images - please track the fix in #1009, closing this one

[2020-11-20 19:49] #837 closed

[2020-11-20 19:49] #1255 closed

[2020-11-20 20:20] sschoe85 opened #1256 "amplify add api -- "cannot read property 'includes' of undefined" (enabledProviders)"
I am trying to add an api to my react app, by running "amplify add api" in the console. I get the error "cannot read property "includes" of undefined. Seems to have something to do with enabled providers...I can't recall enabling any providers while setting up the app (following the tutorial to create a react app with aws).

Here is the corresponding code where the error occurs:
` Object.keys(supp

[2020-11-20 20:34] kahdojay commented on #1218
@Alk3m1st https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-amplify-app.html

[2020-11-20 20:34] #1218 closed

[2020-11-20 21:38] lbatasu opened #1257 "AuthError - no matter what I do now"
**Describe the bug**
I am not sure what update/npm install or otherwise caused this to happen, however, I am unable to get auth working on an existing project or even on a new project. I receive the following message when loading the app:

[ERROR] 24:32.124 AuthError -
            Error: Amplify has not been configured correctly.
            The configuration object is missing required auth proper

[2020-11-20 21:41] bobhy opened #1258 "Domain activation is Failed - aliases distribution error"
**App Id**: d163eh18wxq7or
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I'n not sure I have correct CNAME configured in my domain.  Doc implies (but never comes out and says) that it should be in cloudfront domain.  If this is true, that is hard to do.  The necessary DNS records are only visible on the Amplify console *while* the activation process is ru

[2020-11-20 21:53] rubfergor commented on #1167
Hi @litwicki !

Is there any advance? Can I help you somehow in debugging the issue?

[2020-11-20 22:21] kahdojay commented on #1201
@simpson based on our email conversation I believe we've found the cause of the outages, I'll close this for now but please reopen if you feel that the issue is still with Amplify

[2020-11-20 22:21] #1201 closed

[2020-11-20 23:28] lbatasu commented on #1257
I've also performed npm clean-install to no avail.

[2020-11-21 00:00] litwicki commented on #1167
@rubfergor we have not started working on the permanent fix for this issue yet. Are you able to use the workaround proposed here: https://github.com/aws-amplify/amplify-console/issues/1167#issuecomment-725862271

[2020-11-21 01:02] kjaunslavietis opened #1259 "'amplify publish': An error occurred during the publish operation"
**Describe the bug**
On 'amplify publish' getting the following output:

Meanwhile the automated build from github succeeds just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Run 'amplify publish'

**Expected behavior**
'amplify publish' works

**Desktop (please complete the following information):**
 - OS: Windows

**Additional context**
App ID: d20qjn0cqfpz84
Region: eu-central-1
A

[2020-11-21 04:18] joebernard commented on #1259
Having the same problem. I was only able to work around it by creating a new environment connected to my GitHub branch and deploying that way. `amplify publish` doesn't work.

[2020-11-21 08:47] noobling opened #1260 "Missing point branch to environment option for previews feature"
**Describe the bug**
Missing point branch to environment option for previews feature.  This is my arn arn:aws:amplify:ap-southeast-2:501501192460:apps/d21ryid21oxovg

**To Reproduce**
Steps to reproduce the behavior:
1. Go to amplify console
2. Click on previews
3. Click on preview settings
4. Select branch and click manage
5. This is what i see
![image](https://user-images.githubusercontent.com/2

[2020-11-21 10:49] sschoe85 commented on #1256
Tried several things to reset the project:
amplify status --> "you are not working inside a valid Amplify project. Use "amplify init...."
amplify pull --> EACCES: permission denied, rename "/../../myproject/amplify -> "../../myproject/amplify-backup"
amplify init --> Project already exists error when setting of ressources in the cloud

[2020-11-21 13:57] sschoe85 commented on #1256
Deleted project in the cloud, set up a new one. It is now working.
Not sure if problems resulted from switching branches in git...?

[2020-11-21 13:57] #1256 closed

[2020-11-21 14:13] ThomasErhel opened #1261 "SSL configuration is Running - [Configuration SSL is blocked]"
**App Id**: dnzdlkpj867t1
**Region**: eu-west-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
Hello, the SSL certificate expired and did not automatically renew.
Then I decided to remove the custom domain in the app settings: Domain management and add the same custom domain.
But it looks like the configuration SSL is blocked.

**Error message**
We validated that the CNAME rec

[2020-11-21 16:51] dmudro commented on #1253
The team is using only webhooks on that particular production branch. Am not sure what you mean by standard push process but if it is the auto build then that's disabled on the production branch.

[2020-11-21 17:05] AshwaniChoudhary commented on #1207
@kahdojay is still not working.
1. I updated the configuration like below.
![Screenshot 2020-11-21 at 12 57 35 PM](https://user-images.githubusercontent.com/4927229/99882867-73162d00-2c49-11eb-9eb7-346330af5c35.png)

2. It shows that the configuration is saved.
![Screenshot 2020-11-21 at 12 57 51 PM](https://user-images.githubusercontent.com/4927229/99882881-8f19ce80-2c49-11eb-86f2-f4bd32751fc1.pn

[2020-11-21 17:07] nkashyap opened #1262 "Application with micro frontend architecture in a mono-repo"
Amplify currently support monorepo setup by creating multiple `connect app` for the same repo but with `appRoot`
(NOTE: this functionality is currently broken through https://github.com/aws-amplify/amplify-console/issues/1248). This means you have to switch between apps to see progress and also, build is triggered on all the apps even when the code is not changed for the related micro-app.

#####

[2020-11-21 19:23] maximelebastard opened #1263 "Browser cache not invalidated after a deployment"
**Describe the bug**
Expected bebavior: I deploy a new version of my frontend app for a project using Amplify. I go back to the app URL, the browser loads the new version of the frontend files.

Actual behavior: I deploy a new version of my frontend app for a project using Amplify. I go back to the app URL, the browser loads the previous version of the app (from cache). I have to manually refresh

[2020-11-21 19:57] djensen47 commented on #1009
I'm periodically running into this issue. Given all the other bugs have been closed as a duplicate of this, I just want to make sure this issues does not get lost. Given the new Docker rate limits, this should likely be addressed ASAP. This is like a P0 or a P1 at worst.

[2020-11-21 21:44] rdyar commented on #1224
maybe they are in the wrong region?

[2020-11-21 22:11] drclohite commented on #1239
This may be of use. I am using amplify to run as dev on my pc, it is working with the data on AWS dynamoDb for sure. I changed the structure of my table and that operated correctly. There is no advice to upgrade anything. The only thing, and obviously critical thing that does not work is when I upload my source code to github. Github triggers amplify and then Amplify tries to install the code and

[2020-11-21 22:17] GunnarSturla commented on #1207
@kahdojay Yes, my app is also in a monorepo. My region is us-east-1 and the appId is `dgps1ni1lzrz9`

I tried the custom header spec as you recommended, both where the `appRoot` had a trailing slash, and also without one.  Unfortunately, I had the same problem as @AshwaniChoudhary , where the spec disappeared after reloading the configuration page. The build did succeed, but the headers did not ge

[2020-11-21 22:32] sorin-sabo opened #1264 "Error message: One or more of the CNAMEs you provided are already associated with a different resource."
**Describe the bug**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
This already happens in range of more than 96 hours after removal of previous CNAME. (I retried multiple times in this time range)
Propagate of DNS takes a max of 48 hours so either the check done by AWS Amplify is completely off - or you actually check  if it was ever used

[2020-11-22 00:22] mmacfadden opened #1265 "Jekyll App Deployment Results in many HTTP 301 Redirects"
**Describe the bug**
I have a Jekyll site that runs perfectly locally. When I try to deploy it with amplify many of the CSS and Javascript files fail to load.  It appears that they are getting redirected with a trailing slash appended, followed by a 403 error.

The web site is deployed here:

https://master.d1rbvrsz7elg3.amplifyapp.com/

**To Reproduce**
Steps to reproduce the behavior:
1. curl -v

[2020-11-22 02:19] mmacfadden commented on #1265
In case you need it:

**Region**: us-east-2
**API Id**: d1rbvrsz7elg3

[2020-11-22 06:10] bobhy commented on #1258
I fixed this myself, deleted and recreated the whole registration.
If you're reasons this latter,  I think Google Domains UI let me down.
When I pasted the verification verification domain into the DNS record,  I left off the trailing period.  Google helpfully autocompleted my own domain name and I didn't notice.   If you add the trailing period as provided by Amplify console, Google leaves the va

[2020-11-22 06:10] #1258 closed

[2020-11-22 07:58] matschaffer commented on #1146
I came across this via the first error (bundler version). I worked around that by adding `gem install bundler --version $(tail -n1 Gemfile.lock)` to my build script, but looks like the ruby in the docker image is too old (2.4.6) to run the version of active support I picked up via jekyll-mentions.

This is a site which I was originally planning to use github pages for but decided to try amplify af

[2020-11-22 20:01] forTomorrow commented on #22
@swaminator i was following same steps as above to move my s3 static website to aws amplify. subdomain is working fine where as actual domain https://example.com not working i am getting site cant be reached error can you able to help me here.

thanks in advance
sam

[2020-11-23 00:38] dchura opened #1266 "Amplify incorrectly redirects some static images in a react.js SPA with trailing slash; others work correctly"
This is a React.js SPA. It works locally and in other clouds (IBM).
Now porting to AWS Amplify, with the SPA redirect to /index.html as per the documentation:
</^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>   200 rewrite to /index.html

It all works fine, except some static images in the app are redirected with a trailing slash, which fails to be displayed as an image

[2020-11-23 00:49] redBaron23 opened #1267 "Frontend build error: TypeError: Cannot read property 'join' of null - at runPackageManager"
**Describe the bug**
Frontend build doesn't work anymore. I tried creating a new branch and uploading it to amplify but build always fail.

2020-11-23T00:37:07.489Z [INFO]: # Cloning repository: git@github.com:redBaron23/nora.git
2020-11-23T00:37:07.498Z [INFO]: Agent pid 122
2020-11-23T00:37:07.529Z [INFO]: Identity added: /root/.ssh/git_rsa (/root/.ssh/git_rsa)
2020-11-23T00:37:07.744Z [INFO]: C

[2020-11-23 01:01] mmacfadden commented on #1266
I feel like this is the same issue I am having over here: #1265.  I am seeing static files like .js and .css files randomly being appended with a trailing slash and then redirected.

[2020-11-23 01:01] mmacfadden commented on #1266
For info, I am not doing a SPA, just a static web site. So I didn't have any redirects at first.  I did add one for a 404 to try to solve this but it didn't help.

[2020-11-23 01:08] dchura commented on #1266
Yes that probably is the case – I don’t really understand why Amplify is adding slashes.  It does appear to impact random files, though for me it is consistently the very same ones over and over.

I don’t think it is the SPA aspect of my app.  If I remove the SPA rewrite, the error just becomes 403 permission error.  So we probably have the same thing going on.

I feel like I have the simplest cas

[2020-11-23 01:11] dchura commented on #1265
I have the very same curl output as you.  In my case, I have two URLs that are identical except for a filename, and one fails and one succeeds.  It seems possible that the amplify code to add trailing slashes could be error prone, as it appears to be a hueristic to solve some problem (though I don't know what problem it does solve).   Seems there's no way to shut off the automatically-add-slashes

[2020-11-23 01:12] mmacfadden commented on #1265
Yep. And some files work fine.. and others don't work at all.  I can't figure out the pattern.

[2020-11-23 01:13] dchura commented on #1265
Right - that's why I'm considering re-naming my files.  However, the react.js compiler mangles all filenames so I can't control the exact names used

[2020-11-23 01:20] dchura commented on #1265
To be perfectly honest, I'm not sure I'm reported the error in the right place.  There's a bunch of amplify projects

[2020-11-23 01:43] ayotise opened #1268 "Unable to connect a CodeCommit repository"
**Describe the bug**
We have been using the Amplify CI pipeline for a couple of months now. A team member of mine mistakenly disconnected the application on the amplify console and everytime i try to connect app with the same repository we had earlier, we keep getting the error when I try to connect an existing CodeCommit repository:

**There was an error detecting your build settings.
SyntaxError

[2020-11-23 05:38] djensen47 commented on #1009
Scratch that, this is now a **regular** issue.

I use Amplify because of it's simplicity, I don't have to set up Github Actions + S3 + CloudFront. But despite this issue being open for nearly 3 months and constant warning from Docker that rate limiting will and did happen, nothing is done. What am I paying for if I cannot deploy or constantly have to hit the "Redeploy" button until it is successfu

[2020-11-23 05:41] djensen47 commented on #1255
What fix? Nothing has happened for 3 months.

[2020-11-23 05:47] nickchauhan commented on #833
@kahdojay @behrooziAWS
We've sent an email to aws-amplify-customer@amazon.com requesting to disable TLS 1.1 but got no response.
We have custom domain enabled on our app.
App ID : d2yup0ag2jfw76

[2020-11-23 08:24] asendia commented on #1009
CMIIW but there is workaround by using your own image stored in AWS ECR. It probably will cost you < $1/mo, see [cost](https://aws.amazon.com/ecr/pricing/).

[2020-11-23 10:21] DaveOrDead commented on #1207
@kahdojay hey mate, yep also a monorepo, had the exact same experience as both @GunnarSturla and @AshwaniChoudhary on reload.

AppId: d3o3z3a0jc9olh
Region: ap-southeast

thanks for your help so far!

[2020-11-23 10:50] lbatasu commented on #1257
Update - Removed Node and did a complete reinstall of node + amplify + amplify cli. I am still receiving the error.

[2020-11-23 11:14] dmudro opened #1269 "Ability to authenticate with external container registry"
I need to use custom docker images for AWS Amplify builds. I tried publishing the image in following registries:
- Docker Hub
- GitHub Container Registry
- GitLab Container Registry

AWS Amplify does not seem to work with any of these as there is no way of authenticating with them:

Docker Hub [limits access for anonymous pulls](https://docs.docker.com/docker-hub/download-rate-limit/):
![image](ht

[2020-11-23 11:17] lucafronterotta commented on #408
Hello all,I'm having the same problem, my backend console is empty even if the services I configured (analytics, notifications, pinpoint) are working well.

The strange thing I see is that:
- if I create everything from my personal AWS account with administration rights everything is ok and I can see the backend in the Amplify console;
- if I create everything from my Company account where I have

[2020-11-23 11:46] dmudro opened #1270 "Invalid URLs in notification emails sent by Amplify Console"
AWS notifications send incorrect URL for build URLs.

I have a branch named `feature/my_CoolBranch`, the build URL for in Amplify Console is therefore:
`https://feature-my-coolbranch.<id_generated_by_amplify>.amplifyapp.com`.

However, the URL in the email notification is corrupt and the same branch reads
`https://feature/my_CoolBranch.<id_generated_by_amplify>.amplifyapp.com`

I'd expect the URL

[2020-11-23 12:27] dmudro commented on #1248
Also the **slash** in appRoot as per doc does not seem to work, must be `package-a` and NOT `/package-a` in my experience:

[code]

Please confirm.

[2020-11-23 12:28] dmudro commented on #1262
are the root slashes supposed to work?

`appRoot: /packages/auth`

or just

`appRoot: packages/auth`

[2020-11-23 15:50] jstanley70 commented on #1255
So the work around is to create your own private Amazon Elastic Container Service (ECS) and docker repo. It seems a bit excessive for the amplify target market but it works fine.

[2020-11-23 17:32] djensen47 commented on #1009
Okay, thanks for the update.

[2020-11-23 17:41] karice commented on #1009
@asendia Amplify Console does not allow you to pull custom images from ECR for some reason.Only docker hub. https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html

@div5yesh AWS is planning on releasing a public image hosting service to work around Docker Hub limits. No hard release date yet and don't know when they will change Amplify Console to work with it or ECR. It might

[2020-11-23 17:43] jpschibul commented on #833
@kahdojay @behrooziAWS
Hi, we also sent an email last Thursday to aws-amplify-customer@amazon.com requesting to disable TLS 1.1 with no response so far.
App ID: d2yup0ag2jfw76
Thanks for updating this

[2020-11-23 17:50] kahdojay commented on #1164
@gaurav-agarwal27 closing this issue for now, please re-open if you're still experiencing the issue

[2020-11-23 17:50] #1164 closed

[2020-11-23 18:43] michaelbrewer commented on #833
@behrooziAWS
Could you also please disable TLS 1.1 for

App ID: dxpkt19g6tfmo

[2020-11-23 19:23] michaelbrewer commented on #833
@behrooziAWS
Could you do the same for the following and turn off TLS1.1

App ID: d15x25lnddr88x

[2020-11-23 19:32] drptbl commented on #1176
When it comes to next.js - actually, it seems that `npm run build` should also include `next export` command and that is the issue.

If your `npm run build` has only `next build`, it's not enough.
You have to make `npm run build` to be `next build && next export`.
Also remember that `next export` output destination is `out`, so you have to change your `baseDirectory` to `out` in this case (not `.n

[2020-11-23 19:56] bvirlet commented on #1176
Hello @aws-amplify-ops,

We've been having this problem for quite some time now. Is there some ETA on a fix?

Thanks!
Bruno

[2020-11-23 20:03] kahdojay commented on #833
@jpschibul @michaelbrewer you should see the changes this afternoon, let us know if you don't see them by the end of today

[2020-11-23 21:02] martcklm commented on #833
@Szasza @kahdojay
Did you get a chance to look into this ? Much appreciated your help.
Thanks

[2020-11-23 21:33] Szasza commented on #833
Hi @martcklm ,

I definitely did not look into it from Amplify perspective given that I am not a member either of the Amplify team or the broader AWS team.

That being said according to my knowledge CloudFront currently doesn't support individual cipher configuration, one can only choose from predefined set of security policies: https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/se

[2020-11-23 21:56] michaelbrewer commented on #833
@kahdojay @behrooziAWS - is there an option like this for AppSync and Cognito?

[2020-11-23 22:08] dchura commented on #1266
I have a update.  I deployed the identical react.js app into a new Amplify project, with no redirects (yet).   All of the images that failed before now work.  However, I haven't added any redirects yet (which I must have to process shortened urls).

[2020-11-23 22:17] roldanreno commented on #1176
Hi

I'm still having this issue. Is there any workaround?

[2020-11-23 22:23] martcklm commented on #833
@kahdojay @behrooziAWS
Could you help me to disable the TLS 1.1 as I mentioned in the comment please.

[2020-11-23 23:30] NikitaVr commented on #1147
Having the same issue after creating a new app in amplify

[2020-11-23 23:46] dchura commented on #1265
Not sure if you saw a comment I made in my bug report.  I created a new Amplify app from scratch, populated it with the identical web-app build (that was failing) and it had no redirect issues.  It also worked after I added the SPA redirect (which I feared was the issue). The only thing I haven't done is move to my custom domain name for that app.

Of note is that the file names in the new app are

[2020-11-24 02:37] kahdojay commented on #1207
Thanks for confirming. This is a bug on our end - in the meantime, you can deploy `customHttp.yml` file in your project root as described in the docs using the monorepo format to configure the custom headers. Once the format is fixed in the gui we'll update here at which point you'll be able to switch back.

[2020-11-24 08:39] fujiwaka2408 opened #1271 "amplify import auth causes build failure - auth headless init is missing the following inputParams userPoolId, webClientId, nativeClientId"
Hi,

I used `amplify import auth` to import an existing Cognito UserPool into my project. I committed my code to git and pushed, which kicked off an Amplify Console pipeline, the build of the backend failed with the following error message.
`Error: auth headless init is missing the following inputParams userPoolId, webClientId, nativeClientId`

Since `amplify push` worked fine from the local machi

[2020-11-24 10:33] lucafronterotta commented on #408
I solved the problem requesting amplify:* permissions on my AWS Company account; it seems that the Amplify web console, when permissions are missing, simply tells that you have no backend instead of saying something like "You have no right to do this task"

[2020-11-24 13:44] mmacfadden commented on #1265
I'll give it a shot

[2020-11-24 13:50] iuyt9003 opened #1272 "Can't see all amplify backend environment in the UI. limit to 10 (We have more than 10 envs)."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Amplify Dashboard'
2. Click on 'Specific amplify app with more than 10 backend environments, then click on backend environments'
3. Try to locate the backend environment which not found
4. You will not see it

**Expected behavior**
Pagination, filter, to see the bac

[2020-11-24 15:25] mmacfadden commented on #1265
Tried re-deploying a new app. Unfortunately. I had had the same result. :-(

[2020-11-24 17:13] ganipcanot commented on #1260
Are you using a private git repository?  PR previews are only supported for private repos.

[2020-11-24 17:51] dchura commented on #1265
Dang.  I think I just got lucky then, though I’m now suspicious of how long it might last….

Dave Chura
Founder
[A picture containing shape  Description automatically generated]
www.enclayvegroup.com<http://www.enclayvegroup.com>

From: Michael MacFadden <notifications@github.com>
Reply-To: aws-amplify/amplify-console <reply@reply.github.com>
Date: Tuesday, November 24, 2020 at 7:25 AM
To: aws-amp

[2020-11-24 17:54] nkashyap commented on #1262
I tried with both and in both cases, it always picked 1 `appRoot`

[2020-11-24 17:57] OsenLiu commented on #1271
I have the same issue with importing auth. I get it working with the script. It saved me.

[2020-11-24 18:33] ganipcanot commented on #1268
I tried creating a CodeCommit repository and connecting this app: https://github.com/aws-samples/aws-amplify-appsync-graphql-real-time-canvas

I was then able to disconnect and reconnect properly.

1. Did you modify your build settings at all between the time you disconnected and reconnected the repository?
2. Would you mind sharing your build settings?
3. Is this a [mono-repo](https://aws.amazon.

[2020-11-24 18:45] ganipcanot commented on #296
If anyone is still having issues please feel free to re-open this ticket.

Generally speaking there could be a couple issues:
1. We have a maximum number of concurrent builds/jobs that customers can run in a single account/region (Check the Service Quotas dashboard)
2. For very large manual deployments (Very large zip files) there is an issue which can cause builds to hang.  We are currently deplo

[2020-11-24 18:45] #296 closed

[2020-11-24 18:52] ganipcanot commented on #1058
Closing for now please re-open if you are still experiencing issues.

[2020-11-24 18:52] #1058 closed

[2020-11-24 18:53] ganipcanot commented on #753
Seems the problem was resolved if you are still having issues feel free to re-open the ticket or open a new one.

[2020-11-24 18:53] #753 closed

[2020-11-24 20:35] x5hwuk7nc6jsudcc opened #1273 "Path component ignored on 301 redirect to different subdomain"
**Describe the bug**
301 redirects from `https://subdomain.example.com/my-path/` -> `https://www.example.com/new-path/` seem to be ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect a custom domain to your app
2. Add a subdomain in 'domain management'
3. Create a 301 redirect from `https://subdomain.example.com/my-path/` to `https://www.example.com/new-path/`
4. Do `curl -I htt

[2020-11-24 20:44] dchura commented on #1266
Yet another update.  New deployment of the react.js project worked right away, but then after several updates to the app it is failing again.  Same files with identical filenames and paths that worked are now being redirected incorrectly and fail.

This seems to make Amplify an interesting project, but not suitable for production!

[2020-11-24 20:46] dchura commented on #1265
Well I was right.  I’ve updated my app several times and now it fails just as it did before.  And the files that fail have identical names and paths as when they worked.

This all makes me think Amplify just isn’t ready for a production system.   I hope someone from Amplify sees this.

Dave Chura
Founder
[A picture containing shape  Description automatically generated]
www.enclayvegroup.com<http:/

[2020-11-24 23:27] jknapp25 opened #1274 "Amplify deployed backend to a different region than frontend"
** Please describe which feature you have a question about? **
AWS Amplify

** Provide additional details**
Amplify deployed my backend to a different region than my frontend. I now want to migrate the frontend to where the backend is...

us-east-1 -> us-west-2

I tried just deleting the existing frontend on the backend environment (no idea where that came from) and replacing it with the correct o

[2020-11-25 00:28] jknapp25 opened #1275 "Amplify generating duplicate files"
** Please describe which feature you have a question about? **
AWS Amplify

** Provide additional details**
Why does `amplify pull` generate multiple versions of the same file?

![4CE8A313-A583-47C8-ACA4-565A369BC683_4_5005_c](https://user-images.githubusercontent.com/3934326/100166634-02058e00-2e72-11eb-8cec-e3663ee45869.jpeg)

[2020-11-25 00:28] DaveOrDead commented on #1207
@kahdojay hey mate, I've deployed `customHttp.yml` in a few different formats but none seem to apply the headers.

Initially I tried in the root of my wider project - but this didn't take hold, which makes sense as it isn't part of the build / deployment.

I then tried putting it in the root of my monorepo directory (`client`) the following combinations:

[code]

with a trailing slash:

[code]

an

[2020-11-25 01:07] DaveOrDead commented on #1207
Update! Managed to get it working.

I added the following `customHttp.yml` in the root of the wider app - not the monorepo that gets deployed. (note no trailing slash on the `appRoot` value - I tried this it broke the build.)

[code]

Amplify then cancelled the build saying no changes detected - which technically there weren't within the monorepo.

Headers not displaying.

I then pushed some arbit

[2020-11-25 02:37] kim00425 commented on #979
@nagacheruvu how did you solve it? i have face on that issue.

[2020-11-25 03:04] ayotise commented on #1268
@ganipcanot Thanks for the prompt response.

1. Did you modify your build settings at all between the time you disconnected and reconnected the repository? **No**
2. Would you mind sharing your build settings?
[amplify.txt](https://github.com/aws-amplify/amplify-console/files/5594168/amplify.txt)
3. Is this a mono-repo application? **No**

**Update**: I had to create another CodeCommit repo, copy

[2020-11-25 04:41] mmacfadden commented on #1265
FYI.. I used the manual deploy method to just deploy the built folder by dragging it to the browser. That deployed just fine and works with no problem.  I am starting to think the the build / deploy step might not be copying over all the files consistently.

Is it possible that sometimes some of the files are not being copied / deployed. Resulting in the "clean url" mechanism kicking in and trying

[2020-11-25 04:42] mmacfadden commented on #1265
For reference, here is the manual deploy version.

https://test.d379gtxws90n8j.amplifyapp.com/

[2020-11-25 05:28] StrayCat1 commented on #1189
I'm having the same problem.

Started a react app with auth. Got it to build once, then the subsequent build (on the same commit) caused the backend build to throw
[code]

[2020-11-25 06:18] StrayCat1 commented on #1220
I'm having the same issue.

Started a new react app, added auth, and it built successfully once. Then without making any changes my backend started failing to build with the same error.

[code]

This appears to be the same issue as this one- https://github.com/aws-amplify/amplify-console/issues/1189

[2020-11-25 06:52] litwicki commented on #1220
@StrayCat1 can you verify your build contains the `amplify` directory, and the `aws-exports` file please?

[2020-11-25 07:39] dchura commented on #1265
I have been using the manual deploy method as well – just dragging the build folder over.   And yes, it worked perfectly the first time in each of my apps. I’m not sure if it failed the very next time I dragged the folder to amplify but after 3 or 4 times it was broken.

I think you are on to something as to which files might not be copied correctly.  I haven’t used the amplify cli, but I did inst

[2020-11-25 13:58] MrHertal commented on #1170
Hi, do you have an ETA?

[2020-11-25 14:21] JodyPSmith commented on #1250
I'm having the same problem this morning (us-east 1) after a successful build it's been updating edge config for the last 17 minutes...
app Id: d31w19erw7l3sg

[2020-11-25 14:46] ea-tal commented on #1250
Same here.
30min+++ to deploy an app that used to take less than 10 min

[2020-11-25 14:47] JodyPSmith commented on #1250
2020-11-25T14:03:14 [INFO]: Starting Deployment
2020-11-25T14:03:14 [INFO]: Updating Edge config
020-11-25T14:44:04 [INFO]: Beginning deployment for application d31w19erw7l3sg, branch:beta, buildId 0000000008
ped: 92 files
2020-11-25T14:44:07 [ERROR]: Deployment terminated unsuccessfully

doesn't even complete after 30 min

[2020-11-25 14:57] alphathesis commented on #1250
I'm having the same issue as well. Been running for about 10 minutes now

[2020-11-25 15:02] jimmy-owoa commented on #1250
Same here, It's taking more than 15 minutes

[2020-11-25 15:04] alphathesis commented on #1250
Clearly something is going on at Amplify - can someone with previous experience with this issue advise whether we should let Amplify do its thing or Cancel the deploy?

[2020-11-25 15:29] ea-tal commented on #1250
should we stop using amplify for production?

[2020-11-25 15:38] mmacfadden commented on #1265
I am not sure if this is the issue but I see this in the logs:

[code]

When I zip the _site directory myself it is more like 11MB.  Then in the deploy phase I see this:

[code]

Note the 53 files...  When I look at my local machine and do the following:

[code]

It looks like many of the files are not being zipped up into the archive for deployment.

[2020-11-25 15:54] nicoalonsop commented on #1165
@litwicki, today start happening to me.

[2020-11-25 15:55] SJI-ParthaSarathi commented on #727
Same issue is still there!

[2020-11-25 16:21] StrayCat1 commented on #1220
Thanks for the quick response!

Well I thought I had the amplify dir checked in but I guess not... Here is the repo - https://github.com/StrayCat1/archive-amplified

As for the aws-exports, I was having an issue with that not being found when the front end built, but then I added that build configuration for the backend that does `amplifyPush --simple` and it built fine, everything worked. Then I

[2020-11-25 16:22] au1120 opened #1276 "Deploying build artifacts to the Amplify Console..Job Timeout before succeeded"
**Describe the bug**
 `Deploying build artifacts to the Amplify Console..Job Timeout before succeeded.`
 This is the only message I receive with no verbose logging of what exactly occurred to cause a timeout

**To Reproduce**
Steps to reproduce the behavior:
`amplify publish`

This is a `Vue` application.

using `yarn build` for my build script

[2020-11-25 16:29] StrayCat1 commented on #1220
Yeah that fixed it for me. Should have considered that wasn't checked in, but I was thrown off by the fact that it had built once before. Thanks for the help and keep up the good work! Only been using amplify for 24 hours, but I love it already.

[2020-11-25 16:37] subhashnalluru commented on #1220
Are we supposed to check in the aws-exports file as file? I assumed that we shouldn't since it has information regarding pool IDs, etc

[2020-11-25 16:43] dchura commented on #1265
Interesting – maybe I should try to zip the directory and drag that over, versus just dragging the folder itself.  I wouldn’t be surprised if Amplify tried to do something “smart” like trying to figure out what files had changed when you just drag the folder

BTW, I didn’t find a “clean” in the CLI as I thought would be there… haven’t spent much time though

Dave Chura
Founder
[A picture containin

[2020-11-25 16:46] StrayCat1 commented on #1220
@subhashnalluru there are a couple issues around that and from what I understand that file shouldn't be checked in, it should be first built by the backend.

See https://github.com/aws-amplify/docs/issues/503

The solution is to add this to your CI/CD settings before `frontend`.

[code]

[2020-11-25 16:59] subhashnalluru commented on #1220
Ahh perfect, thanks @StrayCat1 . I've added this now and it works, cheers

[2020-11-25 17:07] DanielCBezerra opened #1277 "Stuck after building"
**Describe the bug**
I released a new version in GitHub, but the auto-build can't complete, and now is stuck. I can't even delete the environment to create it again.

**Environment**
https://console.aws.amazon.com/amplify/home?region=us-east-1#/d1qbn72uvd8xiq/development/

**Screenshots**
![image](https://user-images.githubusercontent.com/50606009/100259703-801b7080-2f16-11eb-8649-2fdc6a2e9ee9.png

[2020-11-25 17:22] thennktmt opened #1278 "ExpressJS using EJS fail to load static assets when deployed on AWS Amplify"
I am developing a web app using Express JS and EJS view engine and it will be deployed on AWS Amplify. Everything works fine in localhost, but has an issue with loading static files (css, js) when I deploy it on Amplify. The detail of this issue is described as following:
**1. Issue description:**
- On Amplify, the root path of the website (`/index`) works fine, and the static files are loaded
![e

[2020-11-25 17:31] alangodoi opened #1279 "Stuck at provisioning"
**Describe the bug**
Just updated my React JS code at Github and Amplify got stuck at provisioning.
I've also tried to trigger it from curl and the same occurs.

**Screenshots**
[Build](https://imgur.com/a/GGyELrT)
[History](https://imgur.com/a/8Y64F6B)

I've created another build from a development branch and the same occurs.

[2020-11-25 17:44] mr-rubnawazqureshi opened #1280 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: da11m6yjwrccd
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-25 18:04] drclohite commented on #1239
support is great when support is provided. Why is no one providing any useful support?

[2020-11-25 18:37] drclohite commented on #1239
I decided to run Amplify to see if there had been a cli update. There had been so I ran it, then tried to upload my files again. I got a different error, this time claiming a file was missing, report attached. I also found the file that was missing in place as expected. Also attached.

[log (83).txt](https://github.com/aws-amplify/amplify-console/files/5598616/log.83.txt)
[local-env-info.txt](http

[2020-11-25 18:59] DannyMoerkerke commented on #1279
I have this same problem!
I cannot even delete the branch nor the app, everything seems stuck.
I created a new app and the first deployment is also stuck at provisioning

[2020-11-25 19:18] litwicki commented on #1165
@nicoalonsop are you in us-east-1? We are investigating elevated error rates in this region this morning.

[2020-11-25 19:19] alphathesis commented on #1250
My deploy is still running - anyone have any updates? My instance id is: d33emglgeqmzt1

[2020-11-25 19:19] litwicki commented on #1220
@StrayCat1 @subhashnalluru is there anything else we can help with here? Please let us know or we can close this issue if you're all set. Thanks!

[2020-11-25 20:01] hyei commented on #307
I see the button, but haven't used it. I had assumed redeploy was using the previous artifact rather than pulling it from the branch and rebuilding from scratch, and was using a manual trigger instead. If redeploy version doesn't work this way, i think it needs to be renamed to "Redeploy this branch".

[2020-11-25 20:12] rbtool commented on #1279
I have the same issue.  I have tried multiple ways to build my app and each is stuck in provisioning.  I can't delete through the web interface or CLI.  I need to get these deleted.

[2020-11-25 20:17] qxzzxq commented on #1279
Same issue too. Stuck at provisioning. I can't even cancel the build

[2020-11-25 20:23] pocket5s commented on #296
Running into this myself, on us-east-1. Tried to cancel and redo a few times with no success. a few have hung for a couple hours.

[2020-11-25 20:28] gasPoweredSticks commented on #296
Having some issues with deployment as well. two builds have been stuck on provision for a few hours now. us-east-1

[2020-11-25 20:39] ganipcanot commented on #296
AWS is experiencing a Large Scale Event (LSE). Please follow the [AWS Service Health Dashboard](https://status.aws.amazon.com/).

Business/enterprise customers may contact their Technical Account Manager.

[2020-11-25 20:46] litwicki commented on #1250
Hi folks, there is an ongoing event in us-east-1 that is causing increased error rates. We are actively monitoring and will update here when it has been resolved.

[2020-11-25 20:47] alphathesis commented on #1250
Thank you @litwicki for the update. And godspeed!

[2020-11-25 20:51] nicoalonsop commented on #1165
@litwicki Yes, I am. I see it some minutes ago, thanks!

[2020-11-25 20:52] subhashnalluru commented on #1220
Hey @litwicki I think we can close this issue. Thanks a bunch for helping with this!

[2020-11-25 21:18] DannyMoerkerke commented on #1279
I guess it's this issue: https://phd.aws.amazon.com/phd/home#/event-log?eventID=arn:aws:health:us-east-1::event/AMPLIFY/AWS_AMPLIFY_OPERATIONAL_ISSUE/AWS_AMPLIFY_OPERATIONAL_ISSUE_f2e47794-daa0-4522-a28d-90c0e479ac74&eventTab=details

[2020-11-25 21:23] StrayCat1 commented on #1220
You can close this, thanks!

[2020-11-25 21:25] #1220 closed

[2020-11-25 21:28] alangodoi commented on #1279
It now moved to "Deploy". It's running more than 2 hours.

[2020-11-25 21:43] gkpty commented on #1124
Im having the same issue. runnning amplify publish fails and drag and drop in the amplify console also fails. Just updated to version 4.35 of the cli but still failing..

[2020-11-25 21:47] vguhesan opened #1281 "Unable to delete both of my Amplify apps"
**Describe the bug**
In the AWS Amplify console, I have two apps - [SimplePillMinder_www, SimplePillMinder_web]. I would like to delete them both so that I can recreate them using CloudFront due to SSL provisioning issues. But I'm unable to delete them. Console says "Deleting ..." as a growl notification but even after a few hours, the apps remain.

**To Reproduce**
Steps to reproduce the behavior

[2020-11-25 21:50] litwicki commented on #1124
@gkpty are you in us-east-1? We are continuing to investigate increased API error rates in US-EAST-1 region.

[2020-11-25 21:50] gkpty commented on #1124
@litwicki Yes, the app is in us-east-1

[2020-11-25 21:51] lucian-pop opened #1282 "Domain activation is Failed - [BRIEF DESCRIPTION]"
App Id: d3645ygs2rw2ba
Region: eu-west-2
Step: Domain activation
Status: Failed

Issue/question
Not able to activate the custom domain with Route53

Error message
One or more of the CNAMEs you provided are already associated with a different resource.

Additional information
I delete all resources created as recreated the applicatin with the same error message

[2020-11-25 21:55] lucian-pop commented on #1282
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

[2020-11-25 23:08] JoeDoba opened #1283 "Amplify Stuck at Deploy Step again?"
Hi,
I saw this issue happened a couple days ago and was already solved. For some reason, I encounter similar issue again at us-east-1 and my app building is stuck at deploy procedure for over an hour.

2020-11-25T22:13:38 [INFO]: Starting Deployment
2020-11-25T22:13:40 [INFO]: Updating Edge config

I don't if it is my personal issue or something else.

[2020-11-25 23:15] rbtool commented on #1279
How did you move to Deploy?

[2020-11-25 23:16] #1283 closed

[2020-11-25 23:33] rudolfbyker commented on #425
I'm seeing a similar problem.

This screen shot is taken about **1 hour** after starting the deployment. It usually takes less than a minute:

![image](https://user-images.githubusercontent.com/10025342/100291667-15564d80-2f87-11eb-85dc-6ddf8d4e2ad4.png)

Somehow it's building and deploying simultaneously? On the build tab, it seems to have completed the build. It's not deploying.

[2020-11-26 01:04] dimitrirostavo commented on #225
Is there a way to not have the trailing / at the end of the file? Apple clearly says it won't allow redirects. Can someone confirm if this has worked for the use with universal links?

[2020-11-26 01:18] wpsystems commented on #1276
I have the same problem with my react JS app.

amplify publish
...
√ Zipping artifacts completed.
| Deploying build artifacts to the Amplify Console..Job Timeout before succeeded
× Deployment failed! Please report an issue on the Amplify Console GitHub issue tracker at https://github.com/aws-amplify/amplify-console/issues.
Cannot read property 'name' of undefined
TypeError: Cannot read property 'n

[2020-11-26 01:34] ZownIt commented on #425
A similar problem is occurring to me also

![image](https://user-images.githubusercontent.com/64085014/100297852-a284ac80-2f5d-11eb-9f76-6e43609f7ce1.png)

[2020-11-26 02:23] hectorcarrillostrata commented on #1250
Facing same issue here.

[2020-11-26 03:14] dchura commented on #1265
Michael – this is unbelievable.

I zipped my build directory to get build.zip on my laptop (a mac).  In the Amplify console, I dragged and dropped that zip file instead of the directory itself.

And it fixed the redirect problems!  This is the first time I used the zip file method, as I’ve always just dragged the folder.

It’s breaking news, so needs to be repeated and stand the test of time befor

[2020-11-26 03:31] dchura commented on #1265
Well – it didn’t take long to break it again.  The very next publish failed where a set of static image files had bad redirects.

I have deployed the app several times using the same zip file and then using the same folder, all without any changes in between.  It’s a mess – sometimes everything gets fixed, then sometimes some files work and some don’t, then a different set breaks.

The Amplify CLI

[2020-11-26 04:21] carlosortizpacheco commented on #1250
Facing same issue....

[2020-11-26 04:26] RoyceLeonD commented on #1250
Thanks, @litwicki, just started the deployment right now. Will stay updated.

[2020-11-26 04:27] DanielCBezerra commented on #1250
I'm trying to deploy a new version for the 6 time today and still never ending... I have also some tries that are still "canceling". Experiencing these issues since this morning. My application is running in us-east-1 also. At least, I can't find any running applications that stopped to work. Just can't deploy new code to Amplify.

[2020-11-26 04:36] DanielCBezerra commented on #1277
I'm closing this as looks like it's related to the us-east-1 outage. So will try again when services are fixed.

[2020-11-26 04:36] #1277 closed

[2020-11-26 04:54] litwicki commented on #1250
Existings apps should not be experiencing any issues. In US-EAST-1 there are elevated error rates impacting builds and deployments that we are continuing to monitor due to an ongoing event.

[2020-11-26 04:56] hectorcarrillostrata commented on #1250
@litwicki is there an issue we could use to keep track of this ? or just keep referencing this one, even though it's closed ?

[2020-11-26 04:59] gdickison commented on #1250
I was having this same problem. The above comments say it's related to `us-east-1`. To get around it I just went to the upper right menu and changed servers to `us-west-1`. I had to go through the initial setup steps again, but I just used the defaults and it was easy peasy. Within one minute my app was deployed and good to go.

[2020-11-26 04:59] litwicki commented on #1250
@hectorcarrillostrata you can check https://status.aws.amazon.com/ for general updates

[2020-11-26 05:11] pocket5s commented on #296
9 hours later, still no remedy...

[2020-11-26 05:40] accujazz opened #1284 "SSL configuration is Running - Verifying domain hosted at Route 53 takes longer than 8 hours."
**App Id**: d3f0cl1l8q685y
**Region**: eu-north-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
Verifying domain hosted at Route 53 takes longer than 8 hours. Stuck at SSL configuration step while setting AWS Amplify.

**Error message**
We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain. If this takes longer than 8 hours, pl

[2020-11-26 06:18] valgaze commented on #1276
+1 similar error (```Cannot read property 'name' of undefined```) for vuejs app

- Node: v10.23.0

- Amplify CLI: 4.28.0 (same behavior on lower version before upgrading)

@wpsystems @au1120 Can you add your node & Amplify CLI versions?

Could also be part of broader service issue [11/25/2020], ex **https://status.aws.amazon.com**:

[code]

[2020-11-26 07:52] DannyMoerkerke commented on #1279
I just did a build and for me it's working again.

[2020-11-26 07:59] lucian-pop commented on #1282
The problem was because of https://www.theverge.com/2020/11/25/21719396/amazon-web-services-aws-outage-down-internet

[2020-11-26 07:59] #1282 closed

[2020-11-26 07:59] lucian-pop commented on #1282
https://www.theverge.com/2020/11/25/21719396/amazon-web-services-aws-outage-down-internet

[2020-11-26 08:17] jeyashankher opened #1285 "Build failing: Failed to pull the backend."
**Describe the bug**
I'm using Console to automatically trigger builds from my github. I'm getting the following error (tried this three times). It built fine until yesterday.

[code]

**To Reproduce**
Amplify console build logs showing this error

**Expected behavior**
Expect build to complete, but it is failing

**Screenshots**
Attached
![Screenshot 2020-11-26 at 1 47 09 PM](https://user-images.

[2020-11-26 08:28] rudolfbyker commented on #425
After letting it run all night, it finished the deployment, but is still stuck on "verify". Weird.
![image](https://user-images.githubusercontent.com/10025342/100326010-0e086180-2fd2-11eb-8627-434d72708358.png)

[2020-11-26 08:52] pedromrcosta opened #1286 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d328o013q3y8nz
**Region**: eu-west-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
 We will now verify ownership of the domain. If this takes longer than 8 hours, please create an issue in our GitHub issue tracker.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additiona

[2020-11-26 09:26] yoyokalin opened #1287 "Failed to load resource: the server responded with a status of 403"
Hi,
I use amplify publish to publish my site to dev server (https://dev.d23nf6vy****.amplifyapp.com). In cli it shows
√ Zipping artifacts completed.
√ Deployment complete!
https://dev.d23nf6vy****.amplifyapp.com

But I can not go to this page. It shows error

Failed to load resource: the server responded with a status of 403 ()
/themes/saga-blue/theme.css/:1 Failed to load resource: the server res

[2020-11-26 09:50] DesoCT commented on #1279
I am experiencing this issue currently :(

[2020-11-26 10:03] bvirlet commented on #1176
I found that we had the issue because we had a 404 Rewrite instead of a 404 Redirect:

<img width="942" alt="image" src="https://user-images.githubusercontent.com/792706/100336779-dea82380-2fd6-11eb-963d-70b06344e822.png">

Are 404 Rewrite brokens?

[2020-11-26 10:54] jeyashankher commented on #1285
I noticed that @aws-amplify/cli package is 4.36.0 for the failed current build, but was 4.35.0 for the previous successful build.

Successful build:
[code]

Failed current build:
[code]

[2020-11-26 11:25] alangodoi commented on #1279
I removed all running build and started again. Now it's working.

[2020-11-26 11:26] alangodoi commented on #1279
I removed all running builds and started a new one. Now it's working.

[2020-11-26 11:26] #1279 closed

[2020-11-26 11:37] jeyashankher commented on #1285
Update: I overrode the cli version in Amplify Console -> Build Settings to 4.35.0 and the build went through.

[2020-11-26 12:32] sferencik opened #1288 ""amplify api update" creates policies not specific to the path"
**Describe the bug**
When I first create my API (`amplify api add`), the inline role policy allows invocations of the specific paths specified (e.g. `.../POST/foo/*`). However, when I update it with new paths (`amplify api update`) the policy suddenly changes to allow * paths (e.g. `.../POST/*`).

**To Reproduce**
Steps to reproduce the behavior:
1. Create some functions (`amplify function add`).

[2020-11-26 12:39] jimmy-owoa commented on #1250
Thanks @litwicki, now it's working fine

[2020-11-26 13:44] allanitis commented on #1285
Same problem but at a different key broken with 4.36.0

`TypeError: Cannot read property 'hostedUIProviderCreds' of undefined
`

What command did you use to override the cli version in Build settings?

[2020-11-26 13:53] wpsystems commented on #1276
Published successfully this morning.  Looks like it was related to the outage yesterday.

[2020-11-26 14:19] allanitis commented on #1285
Update: at the bottom of the Build setting page. 4.34 solved my problem.

<img width="967" alt="Screenshot 2020-11-27 at 01 16 51" src="https://user-images.githubusercontent.com/10580223/100361408-3f267780-304e-11eb-92a9-0e051e6c24f6.png">

In the meantime, I discovered that 4.36 (latest) is aggressively marked "NOT FOR PRODUCTION". A reminder to pin dependency versions.

<img width="954" alt="Scr

[2020-11-26 14:27] carlosortizpacheco commented on #1250
@litwicki Hi, now itś working fine

[2020-11-26 15:21] qxzzxq opened #1289 "Chinese characters can not be correctly displayed in the Verify tab"
**Describe the bug**
Chinese characters (or maybe other UTF-8 characters) can not be correctly displayed in the **Verify** tab.

**Screenshots**
![image](https://user-images.githubusercontent.com/17144939/100367772-03b28b80-3003-11eb-9b34-4a8431e35baa.png)

![image](https://user-images.githubusercontent.com/17144939/100367840-1a58e280-3003-11eb-9fee-99853cce6ba4.png)

[2020-11-26 15:55] JMIHC opened #1290 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d3rt83u8ojd4p7
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
SSL configuration has been running for more than 8 hours. The CNAME DNS record is resolving correctly. The domain is registered at GoDaddy. I have added the ns nameserver records to GoDaddy and have now the records in my hosted zone to work with. I'm not sure what's wrong. Thank you

[2020-11-26 15:57] wglane opened #1291 "SSL configuration is Running - stuck on certificate verification"
**App Id**: dh560tidatacw
**Region**: us-west-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Linking my domain is stuck on this step, and has been

[2020-11-26 16:17] borisdayma opened #1292 "SSL configuration is Running - Status stuck"
**App Id**: d1uqaeyzqpypj2
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
SSL configuration is stuck

**Error message**
If there is an error message, please include it here.
![image](https://user-images.githubusercontent.com/715491/100373555-92f27b80-2fd0-11eb-8096-44cb0cf2b704.png)

**Additional information**
Please add any other relevant information. Pl

[2020-11-26 17:06] contractorwolf opened #1293 "AWS Amplify build stuck on "Provision" without any progress for more than 24 hours"
**Describe the bug**
I have a small Amplify project (Vuejs)  that was working fine a few days ago but as of yesterday (Nov 25) my build progress never gets past the **Provision** step.  The output from the provision process doesnt appear to have an issue, but it never moves to the **Build
** step.  Here is the output:

[code]

**Expected behavior**
I would expect it to move on to build or register

[2020-11-26 17:54] Gamedoper opened #1294 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3e2xikkscic4d
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-26 17:56] JMIHC commented on #1290
Solved! I deleted my domain record and created a new one. Then it said I needed to update my cname record. After doing that, it validated the SSL cert and activated the domain correctly.

[2020-11-26 17:56] #1290 closed

[2020-11-26 18:05] litwicki commented on #296
@pocket5s the event has since cleared and operations are working normally now. Can you please try a new build and let us know if you have any issues.

[2020-11-26 18:06] litwicki commented on #425
There was an unrelated AWS event yesterday in US-EAST-1 that was causing some issues. Please try a fresh build and let us know if you have any issues.

[2020-11-26 18:36] ZownIt commented on #425
Yes, it was resolved now :-)

[2020-11-26 18:53] pocket5s commented on #296
The app deployed at 12:15 AM central. So about an hour after my last comment.

[2020-11-26 19:01] Gamedoper opened #1295 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3e2xikkscic4d
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
UNABLE TO ADD SUBDOMAIN TO AWS AMPLIFY TO HOST STATIC Website

**Error message**
Error message: The status of this certificate request is "Failed". One or more domain names have failed validation due to a Certificate Authority Authentication error. Learn more:

**Additional informati

[2020-11-26 19:10] rudolfbyker commented on #425
Mine is now stuck on the provision step. How long is that usually supposed to take? Using the default image.

[2020-11-26 19:41] viniciuspardini commented on #412
Hey guys, do you have any sample application or maybe a boilerplate of a next application that you are running on amplify?

[2020-11-26 20:19] litwicki commented on #425
@rudolfbyker if you have more than 5 concurrent builds going on in any one account any additional will get stuck in the provisioning step. This is a bug we are working on prioritizing as soon as we can.

[2020-11-26 20:32] Infantsabin opened #1296 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d23qh8upztegq2
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-26 20:44] mikhael28 commented on #1180
I have an almost identical bug - react-scripts build
2020-11-26T19:16:12.721Z [INFO]: Creating an optimized production build...
2020-11-26T19:17:41.006Z [INFO]: <--- Last few GCs --->
                                 [2076:0x3884990]    88554 ms: Scavenge 1352.7 (1418.9) -> 1352.4 (1419.4) MB, 2.2 / 0.0 ms  (average mu = 0.178, current mu = 0.161) allocation failure

[2020-11-26 20:48] mikhael28 commented on #1180
It's a simple Create React App, that builds fine on my MacBook Air i3 from 2020 (God I wish I waited for the Apple Silicon0

[2020-11-26 21:02] Usama-Tahir commented on #1124
I am also facing the same issue. My region is also us-east-1.

[2020-11-26 21:05] litwicki commented on #1124
The issue in US-EAST-1 is now resolved. However builds that were in progress may need to be restarted as a result. If you're not able to cancel/restart any build that was "stuck" please let us know here.

[2020-11-26 21:05] saurabhj commented on #1209
Experiencing the exact same issue as reported here: https://github.com/aws-amplify/amplify-console/issues/1209#issuecomment-723909578

[2020-11-26 21:58] campbellwarren commented on #1124
I never got this to work. I was able to work around it by uploading the
build to S3 and then importing from s3 to amplify.

On Thu, Nov 26, 2020, 4:02 PM Usama Tahir <notifications@github.com> wrote:

[2020-11-26 23:09] kahdojay commented on #1239
looks like an issue with the latest amplify cli version - please see this thread for workaround and to track the fix:

https://github.com/aws-amplify/amplify-cli/issues/5931

closing this issue in favor of that thread, please report in that thread if the downgrade workaround doesn't resolve your issue

[2020-11-26 23:09] #1239 closed

[2020-11-26 23:41] litwicki commented on #1293
@contractorwolf sorry for the trouble. Is your app in US-EAST-1 region? We had an event yesterday that caused builds to have intermittent failures. Have you tried canceling this build altogether and starting fresh?

[2020-11-27 01:15] sadrataban commented on #225
This issue still exists for me. Amplify seems to be ignoring . in the path.
I tried to add a redirect rule, but it seems that Amplify automatically removes  the dot in the path.

[2020-11-27 01:24] sadrataban commented on #225
I tried the same thing. I had to create two new redirect rules. Now I can access the file, but Apple validator still complain.

This is the error on Apple Validator:

Error no apps with domain entitlements
The entitlement data used to verify deep link dual authentication is from the current released version of your app. This data may take 48 hours to update.

[2020-11-27 02:57] jeyashankher commented on #1285
Yes. That's exactly what I did as well.

[2020-11-27 04:17] signaturexe opened #1297 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d2lshfjmo8jk27
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
**Verification of domain ownership is not resolved after 8 hours (as specified on Amplify Dashboard). CNAME records exists in the DNS file.**

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

*

[2020-11-27 04:43] contractorwolf opened #1298 "AWS Amplify console fails to build: ✖ There was an error initializing your environment."
**Describe the bug**
This was a previous working project that suddenly as on yesterday (Nov 25th) has issues building.

The build process fails with the following:
[code]
The "newsarticlebuildwordcloud" is one of my functions and hasnt had any changes and can be run using amplify mock function without issues.  Initially it had one of my other functions listed as failing so I removed to function (i

[2020-11-27 04:47] contractorwolf commented on #1293
thx for the advice @litwicki, I hadnt noticed the cancel button before you mentioned it.  That got me past the "provision" issue but now I am failing on Build, I put in another issue here with more details:
https://github.com/aws-amplify/amplify-console/issues/1298

[2020-11-27 06:17] monckey100 opened #1299 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d26idexkgyegnv
**Region**: ca-central-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain. If this takes longer than 8 hours, please create an issue [in our GitHub issue tracker](https:

[2020-11-27 06:44] divya12391 commented on #1025
No it is resolved. Thank you.

On Thu, 12 Nov 2020 11:42 pm Sam, <notifications@github.com> wrote:

[2020-11-27 13:26] manoj10101996 opened #1300 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2hzj6jgxc2xul
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Not able to verify with my google domain

**Error message**
**Note**: Be sure to check the message for sensitive information.
Error message: Hard limit reached; unable to record function association
**Additional information**
Please add any other relevant information. Please feel fr

[2020-11-27 13:28] rossbishop commented on #1124
Having what could be the same problem on eu-west-2. I'm doing manual CI/CD via GitHub actions and get this error in my output:

`Publish started for amplifyhosting
command execution terminated with error
An error occurred during the publish operation
Error: Process completed with exit code 1.`

At first I thought there was an issue with the Amplify CLI action I was using but it seems like there is

[2020-11-27 14:42] TrierHealth opened #1301 "SSL configuration is Running - [for a very long time]"
**App Id**: d1t1u19ejwi4lu
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-11-27 17:01] arealmaas commented on #259
I get the same error. Could it be that the name and queryField has the same name?

using 4.34.0

I had:

@key(name: "byClaimCode", fields: ["claimCode"])

changed it to

@key(name: "byClaimCode", fields: ["claimCode"], queryField:"byClaimCode")

And then i got that same error.

[2020-11-27 17:30] arealmaas commented on #259
The reason is because I didn't include the list query... once I remove this line it worked: ✅
```queries: { get: "getXX" }```

[2020-11-27 17:42] Johannes-Engler commented on #1298
I had the same error. Downgrading the amplify-cli fixed it for me:

![image](https://user-images.githubusercontent.com/30771235/100474057-0df68780-30e0-11eb-887d-a127952784c7.png)

[2020-11-27 18:02] contractorwolf commented on #1298
Hey @Johannes-Engler that fixed it for me thx.  On a side note looks like there is a bug in the "latest" version of Amplify CLI.  To reiterate the fix that solved this issue I went to the Build Settings in the menu and updated to 4.34.0 like @Johannes-Engler  suggested.  Then I just re-ran the build and the issue was fixed and the build completed.

<img width="672" alt="Screen Shot 2020-11-27 at 1

[2020-11-27 18:41] husain3 commented on #1176
I had this issue as well, but what I noticed was that when I was trying to build a new project it was looking for my source code one folder above where my project was located.

Amplify looking at: 'swagger-webpage/<react-js-contents>'

My actual code located at: 'swagger-webpage/swagger-webpage/<react-js-contents>'

The reason why my code was located there was because I created a repo called 'swag

[2020-11-27 19:14] krflol opened #3029 "Amplify serving .wasm with text/html content type"
As it says above.
`Unexpected error in loadWasm. [Message: Failed to execute 'compile' on 'WebAssembly': Incorrect response MIME type. Expected 'application/wasm'.]`

In the request, text/html it shown as the content type.

[2020-11-27 19:14] monckey100 commented on #1299
Redoing the domain fixed it.

[2020-11-27 19:14] #1299 closed

[2020-11-27 19:40] forTomorrow opened #1302 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d329w4dtlrd6ec
**Region**: eu-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-27 20:46] dangreenisrael commented on #1265
This is impacting us as well

[2020-11-27 21:19] dchura commented on #1265
Take a look at some of my comments and my own reported issue, which is essentially the same but fails for static image files.

In short, I found the Amplify behavior to be unpredictable – that is, repeated publishing of the exact same build directory (or exact same build.zip) results in different behavior. That is, sometimes everything works, then some image files fail, then other image files fail

[2020-11-27 21:27] Bariah96 opened #1303 "ios deep linking in a react native - react native web app with Amplify"
** Please describe which feature you have a question about? **
Amplify hosting

** Provide additional details**
i was trying to implement deep linking in my react native app (web and mobile) with amplify, and ios requires serving apple-app-site-association file in your web server, so i'm not sure where this file should be placed in case of serverless architectures, any ideas or suggestions ?

[2020-11-27 21:40] Tarun-S commented on #1265
I wonder why this began happening only recently. Must've been due to an update on Amplify's side.

[2020-11-27 23:05] litwicki commented on #1124
@rossbishop really sorry to hear about your difficulties, this is not how things should be working. Can you share your appId here, or if you have anything else you can share with us to verify/reproduce the problem with please send to aws-amplify-customer@amazon.com and we will do whatever we can to get you unblocked.

[2020-11-28 00:08] kjones commented on #685
Installing .NET on every build worked for me. The install is super quick if you believe the build timestamps. Less than 10 sec.

Here is the `amplify.yaml` file I used:
[code]

Build Log
[code]

[2020-11-28 05:35] ShubhamJain0 opened #1304 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d12nyf05bcexrm
**Region**: ap-south-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
It has been more than 8 hours and still my domain isn't verified. It's stuck at SSL configuration.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any o

[2020-11-28 11:22] dheeraj-allamaneni opened #1305 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2fkyl8f97cah2
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-11-28 12:54] dheeraj-allamaneni opened #1306 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2fkyl8f97cah2
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Unable to get domain activation done.

**Error message**
Hard limit reached; unable to record function association
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel free to include scr

[2020-11-28 12:55] dheeraj-allamaneni commented on #1300
Have you found any solution for that ?

[2020-11-28 14:36] dhoulker opened #1307 "Monorepo project builds & deploys on any change"
I'm using the Amplify console to deploy a site. Originally this site was in its own githib repo, but i've just moved it into a monorepo.

The application now live in the standard monorepo structure which is, for example `packages/app-a` next to a whole load of other packages.

I don't want to set up a new app in Amplify as i have lots of data. For this reason i have just clicked re-connect repo, b

[2020-11-28 17:49] #1293 closed

[2020-11-28 17:58] bajunkins opened #1308 "SSL configuration is Running - Has Taken Longer Than 8 Hours"
**App Id**: d10ki40i75xjy1
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
Trying to use a custom domain for an Amplify app and the SSL configuration step has taken longer than 8 hours (13 now). Has this happened for other people? Should I just wait longer or is there a suggested fix.

**Error message**
It says " We validated that the CNAME record exists i

[2020-11-28 18:48] masapasa opened #1349 "Module not found '../aws-exports'"
Module not found: Can't resolve '../aws-exports' in '/codebuild/output/src240068493/src/nnews/next/pages'
build:
commands:
echo Amplify build...
amplifyPush --simple
While deploying through the console with an ECR image
Can someone please help?

[2020-11-28 21:12] thebongy opened #1309 "Domain activation is Failed - Hard Limit Reached"
**App Id**: d2t8nya7etf12c
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Configuring a new custom subdomain under an existing route53 domain seems to throw the following error:
![image](https://user-images.githubusercontent.com/7080652/100526173-631fbf80-31ec-11eb-8d6f-a6c2a9e2803d.png)

**Error message**
Hard limit reached; unable to record function ass

[2020-11-29 01:31] kevinold commented on #661
I have been able to override yarn successfully with the following:

[code]

[2020-11-29 07:24] cravelight commented on #661
@kevinold solution worked for me - Thank You!

[2020-11-29 11:04] boxcee opened #1310 "[QUESTION] Access preview URL via environment variable?"
** Please describe which feature you have a question about? **
When using the preview feature for pull requests, is there a way to get access to the preview URL during build time?

E.g.
[code]

[2020-11-29 11:47] ThomasErhel commented on #1261
The problem is solved, thank you.

[2020-11-29 11:47] #1261 closed

[2020-11-29 17:42] jchung00 opened #1311 "SSL configuration is Running - CNAME record verified, but waiting on ownership of domain verification"
**App Id**: d35kbw26b22mge
**Region**: ap-northeast-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
Following this from the management console: "We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain. If this takes longer than 8 hours, please create an issue in our GitHub issue tracker."

[2020-11-29 17:49] krishnakumar-git opened #1312 "SSL configuration is Running even after DNS verification"
**App Id**: d2rcjztg1r5tk1
**Region**: ap-south-1
**Step**: SSL configuration
**Status**: Running

**Message**:
"We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain. If this takes longer than 8 hours, please create an issue"

[2020-11-29 18:54] emilio-martinez commented on #1009
We face this issue every week now. Is there a projected fix for this? It seems like a relatively simple use case.

[2020-11-29 18:57] Xantier commented on #1250
@litwicki This issue is back.

[2020-11-29 19:13] litwicki commented on #1250
@Xantier can you please open a new issue with your app details and we can have the team take a look. If you're in `eu-west-1` this is unrelated to the issue from us-east-1.

[2020-11-29 19:39] Xantier opened #1313 "[ERROR] Amplify Stuck at Deploy Step (Updating edge config)"
Hi. My deployment is currently stuck at the Deploy Step:
2020-11-29T19:00:24 [INFO]: Starting Deployment
2020-11-29T19:00:24 [INFO]: Updating Edge config

The weird thing is that it worked just fine earlier.

My app Id:
d3gpao1uvtwh19 (eu-west-1)

Created as a continuation to: https://github.com/aws-amplify/amplify-console/issues/1250
as requested by @litwicki

Thanks.

[2020-11-29 19:45] kevinold commented on #1009
I faced this all day yesterday literally not able to run a build without waiting at least 10 minutes to trigger another build. I ended up dropping back to a AmazonLinux container with additional scripts to add what I need from the Docker image

[2020-11-29 20:14] loveshgrover commented on #1306
@dheeraj-allamaneni did you find the solution? Facing the same issue

[2020-11-29 20:51] estyh commented on #412
I am waiting for this feature - deploying via amplify. I don't need SSR, just support for /api routes with the new ssr context.

[2020-11-30 03:40] akilisosa commented on #1281
I have had the same problem. I created like 6-7 dummy projects.

[2020-11-30 04:32] 5arthak opened #1314 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d308xo6neugliu
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-11-30 05:36] simondw opened #1315 "Domain activation failed - Adding custom domain fails at "Domain Activation" stage"
**App Id**: d2w0upzpxvfiml
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I am attempting to add a custom domain which is a sub domain **staging.mydomain.com** with no redirection from www. .

**Error message**
"We had issues connecting your custom domain" displays after going through SSL Creation & SSL Configuration stages successfully.

**Additional

[2020-11-30 06:36] hyungjunk commented on #1009
Still experiencing this issue here

[2020-11-30 07:22] prog585 commented on #749
For me it seems a problem in autogenerated schema file in build folder. I deleted auto generated schema file and recompiled using `amplify api gql-compile` pushed the changes again and that problem gone. That file was modified by a team members to add comments in it.

[2020-11-30 07:28] prog585 commented on #1031
For me it seems a problem in autogenerated schema file in build folder. I deleted auto generated schema file and recompiled using amplify api gql-compile pushed the changes again and that problem gone. That file was modified by a team members to add comments in it.

[2020-11-30 08:35] Xantier commented on #1313
Issue is likely due to versions of Amplify ala https://github.com/aws-amplify/amplify-console/issues/1298

Downgrading to 4.32.0 helps the build and deployment succeed.

[2020-11-30 08:35] #1313 closed

[2020-11-30 08:53] fedortver opened #1316 "An error occurred during the publish operation"
Describe the bug
On 'amplify publish' getting the following output:

√ Zipping artifacts completed.
× Deployment failed! Please report an issue on the Amplify Console GitHub issue tracker at https://github.com/aws-amplify/amplify-console/issues.
An error occurred during the publish operation

If I drag'n'drops files than deployment end successfully

To Reproduce
Steps to reproduce the behavior:

R

[2020-11-30 11:03] #1316 closed

[2020-11-30 11:49] intonumbers commented on #331
I would also be highly interested in this feature!

[2020-11-30 14:15] manum176 commented on #1306
Same issue for me as well

[2020-11-30 16:01] EMazzaglia commented on #1029
+2

[2020-11-30 16:25] narayanshivansh49 commented on #1306
Same issue

[2020-11-30 16:52] lucashenning commented on #1009
+1 I've created an AWS ticket regarding this issue. They recommend pushing a custom image to ECR and using it as a build image. The AWS support referenced the following links (incl. this thread) in their response:

[1] Custom Build Image: Cannot pull container error Too Many Request - https://github.com/aws-amplify/amplify-console/issues/1009

[2] Data transfer (number of pulls allowed per 6 hours

[2020-11-30 16:55] sanganagouda-k commented on #833
@behrooziAWS  @kahdojay I have dropped a mail, please disable TLS 1.1 for my application too.
App id: d19jl7ud99yyui

[2020-11-30 17:18] ganipcanot commented on #1276
Closing for now - please re-open if you are still having issues.

[2020-11-30 17:18] #1276 closed

[2020-11-30 17:20] ganipcanot commented on #1287
Could you please share your appId and region?

[2020-11-30 17:21] ganipcanot commented on #1281
Are either of you still having this issue?  If so could you please share your appId and region where this is happening?

[2020-11-30 17:25] ganipcanot commented on #1298
Closing for now based on CLI issue please re-open if you are still experiencing issues.

[2020-11-30 17:25] #1298 closed

[2020-11-30 17:38] IsaacTrevino commented on #12
@pauljflo

If you use `amplify add hosting` and choose `s3andCloudFront` which is `PROD` build you have the ability to modify these settings through cloudfront directly, however if you mean choosing `S3Hosting` which is `DEV` perhaps through there you may add those settings you mentioned however you are limited to `http` and not `https`.  You could create a cloudfront distribution directly and add

[2020-11-30 18:03] emilio-martinez commented on #1009
I was able to make Amplify provision with a custom image by publishing a new image version in Docker hub... but can't have our team doing this every time though! Lol

We tried adding items as scripts during preBuild, but it's just too slow of a deploy, so this has quickly turned into a major blocker 😕 we may have to migrate elsewhere, at least temporarily, until this is fixed

[2020-11-30 19:05] akilisosa commented on #1281
arn:aws:amplify:us-east-1:************:apps/d19msw6n9ca06c  - this one is a practice with the elastic search geo location search feature which i have had problems with.  I don't know if this is the info you need, or if something else. I deleted the stacks, and elastic search ec2 instance, and when i click on the app, it says backend successfully deleted, but it still shows up on my screen.

Some o

[2020-11-30 20:20] xavierraffin opened #1317 "Custom headers not applied"
**Describe the bug**

According to [this documentation](https://docs.aws.amazon.com/amplify/latest/userguide/ttl.html) I should be able to define a _Cache-Control_ header from a file _customHttp.yml_ at the root of my project.
I tried and it fails

**To Reproduce**
Steps to reproduce the behavior:
1. At the root of an Amplify project add a file _customHttp.yml_ with that content:

[code]

2. Push

[2020-11-30 20:23] ycedror commented on #526
hi:

The error can solve change the @Athena96 source addres.. only need to change
source: </^[^.]+$|**\**.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>

greets

[2020-11-30 21:17] jurandircastro commented on #1250
I have the same problem, my server is on us-west-2. Any news?

[2020-11-30 22:03] vguhesan commented on #1281
The issue was intermittent. It is now resolved. Closing issue. Thank you.

[2020-11-30 22:03] #1281 closed

[2020-11-30 22:58] cslogan-red commented on #1291
Looks like this app has since been deleted, if you're still having issues please re-open and provide latest app Id.

[2020-11-30 22:58] #1291 closed

[2020-11-30 23:03] cslogan-red commented on #1295
Closing as duplicate of #1294

[2020-11-30 23:03] #1295 closed

[2020-11-30 23:04] cslogan-red commented on #1294
It looks like the custom domain has since been removed, there are a number of reasons for the DNS error you encountered: https://docs.aws.amazon.com/amplify/latest/userguide/understanding-dns-terminology-and-concepts.html Please feel free to reopen if you're still experiencing an issue.

[2020-11-30 23:04] #1294 closed

[2020-11-30 23:14] ganipcanot commented on #1281
There was a large scale event (LSE) that was affecting multiple services sometime last week in **us-east-1 (IAD)** so this may have just been an intermittent issue.  If anyone is still experiencing issues please feel free to re-open this ticket or open a new one.

[2020-11-30 23:25] akilisosa commented on #1281
![image](https://user-images.githubusercontent.com/18223349/100677557-3af1a700-3339-11eb-8df7-125b3826a27d.png)

That is cool, but i still have all these random projects in my project folder that I am unable to delete. When i select delete, it goes through the motions and i get a little blue box at the top, that says it is deleteing things but nothing happens

[2020-12-01 00:12] akilisosa commented on #1281
ok it works now... 👍

[2020-12-01 00:13] krikork commented on #412
Hey guys, is there a tentative ETA on Amplify support for Next.js? A ballpark timeline would help me in making a decision on how to proceed.

[2020-12-01 00:41] agrant-intix commented on #412
I managed to follow this solution to get setup. It ideally seems that if this process could be replicated within the AWS console on builds then everything would all work out?

[2020-12-01 00:54] tariqinaam commented on #412
I ended up using vercel for frontend app, and whole solution is working nicely.
I have appsync for backend/api and frontend deployed on vercel. Only thing I couldn't figure out was aws-export.js, I had to commit it in repository for two system to work together.

[2020-12-01 01:44] SFaraji commented on #1042
What is going on? Why no one responsible to solve this issue. This is causing a huge issue for us for not allowing us to create any branch from the console.
cc: @abhi7cr @Athena96 @ericclemmons @hyandell

[2020-12-01 01:52] yoyokalin commented on #1287
Hi,
My  appId d23nf6vykic0li,
Region: us-east-1
BR

[2020-12-01 02:42] thusnani opened #1318 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2n2k94r3psfx7
**Region**: ca-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please f

[2020-12-01 05:43] hershdhillon opened #1319 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d13o91pejzvxig
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-12-01 05:48] hershdhillon commented on #1319
403 ERROR
The request could not be satisfied.
Bad request. We can't connect to the server for this app or website at this time. There might be too much traffic or a configuration error. Try again later, or contact the app or website owner.
If you provide content to customers through CloudFront, you can find steps to troubleshoot and help prevent this error by reviewing the CloudFront documentation

[2020-12-01 06:38] #1284 closed

[2020-12-01 08:30] levross opened #1320 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d11hd6puey2d39
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-12-01 08:31] #1320 closed

[2020-12-01 11:06] arturocanalda commented on #1042
Same issue here. Actually in my case I could manage to connect branches from the console until I had to migrate my repo and update the link of my Amplify App (which btw, can only be done from the command line). It seems from the Console Amplify tries to read Github's branches by using the old OAuth token.

Amplify has great things but also horrible ones that make you easily feel like loosing contr

[2020-12-01 11:10] SFaraji commented on #1042
Exactly right @arturocanalda, Amplify is so great for managing web apps but this bug regarding managing multiple branches for prod, sandbox, and pre-release make it annoying to use the command line in order to connect a new branch.

I'm looking forward they will fix this issue ASAP 🤞

[2020-12-01 14:25] smajhi opened #1321 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d36ztmni2n0r01
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-12-01 15:23] Chuqing opened #1322 "Amplify console stuck at 'Retrieving deployment details'"
I was adding a new environment and my initial deployment was pending. Then redeployment for my existing environment also remained pending. I have tried to redeploy but it did not work.

My app info:
ap-southeast-1:apps/dokyr610f0y0q

<img width="1267" alt="Screenshot 2020-12-01 at 11 07 44 PM" src="https://user-images.githubusercontent.com/4216435/100758129-20e3c180-342a-11eb-81c4-8bf30b42e7b3.png

[2020-12-01 18:14] clovus commented on #727
Same issue! About to give up on Amplify and go back to Netlify. Never had an issue like this.

[2020-12-01 18:20] clovus commented on #357
This is still an issue and the steps above are not working for many users (https://github.com/aws-amplify/amplify-console/issues/727), including me.

Please reopen this!

[2020-12-01 18:40] ganipcanot commented on #1322
Are you doing a manual deployment?  If so how are you doing the manual deployment?

1. Drag and drop folder (unzipped)?
2. Upload via a ZIP folder?
3. Upload ZIP to S3 bucket and deploy from there?
4. Specifying a source URL?

There is a known issue with a large number of files hanging for manual deployment - a workaround for now would be to upload a ZIP artifact to S3 and do a manual deployment f

[2020-12-01 19:05] ganipcanot commented on #1322
I went ahead and cancelled some pending jobs that got stuck - please try the workaround by zipping the files and uploading to an S3 bucket and deploying from there.

[2020-12-01 20:51] cslogan-red commented on #1286
It looks like the most recent update on your domain is failed DNS verification, the easiest thing to do is to remove and re-add your custom domain and make sure the DNS records are entered correctly, it can take up to 24 hours for DNS validation to succeed: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-troubleshoot-guide

Please reopen if you're still exper

[2020-12-01 20:51] #1286 closed

[2020-12-01 20:54] cslogan-red commented on #1296
It looks like the most recent update on your domain is failed DNS verification, the easiest thing to do is to remove and re-add your custom domain from the Console and make sure the DNS records are entered correctly, it can then take up to 24 hours for DNS validation to succeed: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-troubleshoot-guide

Please reopen

[2020-12-01 20:54] #1296 closed

[2020-12-01 20:58] cslogan-red commented on #1297
It looks like your domain has since completed verification and has been successfully created, please reopen this if you're still having issues.

[2020-12-01 20:58] #1297 closed

[2020-12-01 22:18] thebongy commented on #1309
Issue resolved on it own, after retrying again today

[2020-12-01 22:18] #1309 closed

[2020-12-01 22:40] #1292 closed

[2020-12-01 22:40] cslogan-red commented on #1292
It looks like your domain has since completed verification and has been successfully created, please reopen if you're still experiencing issues.

[2020-12-01 22:45] cslogan-red commented on #1300
It looks like your domain has since successfully verified and been created, please reopen this issue if you're still experiencing problems.

[2020-12-01 22:45] #1300 closed

[2020-12-01 23:18] cslogan-red commented on #1280
It looks like you've since removed this app, if you're still experiencing issues with a new app, please open a new issue.

[2020-12-01 23:18] #1280 closed

[2020-12-01 23:22] cslogan-red commented on #1301
It looks like this has since completed based on current status, please reopen this issue if you're still experiencing a problem.

[2020-12-01 23:22] #1301 closed

[2020-12-01 23:37] cslogan-red commented on #1302
It looks like this has since successfully verified and been created, please reopen this issue if you're still experiencing a problem.

[2020-12-01 23:37] #1302 closed

[2020-12-01 23:40] cslogan-red commented on #1304
It looks like this has since successfully verified and been created, please reopen this issue if you're still experiencing a problem.

[2020-12-01 23:40] #1304 closed

[2020-12-02 01:12] descaloni-cc commented on #1281
Im having this issue in us-east-1 and us-west-2
I have about 4 test apps I cannot delete

[2020-12-02 02:27] subtlegiant opened #1323 "Cannot deploy backend via console"
**Describe the bug**
Build step fails on GraphQL schema error when deploying backend.
[code]

Here is the backend section taken from my amplify.yml

[code]

I am able to push using the CLI/amplify push with no errors. If I include my aws-exports.js file in git and do not do the above built step, deployment works fine.

**To Reproduce**
Try to deploy app from console.

**Expected behavior**
To be a

[2020-12-02 02:50] hyungjunk commented on #500
Is this documented or officially announced? I am relying on USER_BRANCH value to which database connection is made in my App, but I am afraid if it would change in the future.

[2020-12-02 02:52] kevinold opened #1324 "Manage only user unable to login to Amplify Admin UI"
**Describe the bug**
A manage only user receives "This app is not valid or was deleted." after login to the Amplify Admin UI

**To Reproduce**
Steps to reproduce the behavior:
1. Pre-existing app deployed to Amplify Console (prior to Amplify Admin UI)
2. Enable the Amplify Admin UI
3. Create "Manage only" user
4. Login to Amplify Admin UI with email and temporary password
5. Update password in pro

[2020-12-02 03:03] kevinold opened #1325 "Deployment failed after "Enable DataStore and deploy" in Amplify Admin UI"
**Describe the bug**
A pre-existing Amplify Console app fails to upgrade the data model to use the DataStore via the Amplify Admin UI.

**To Reproduce**
Steps to reproduce the behavior:

1. Pre-existing app deployed to Amplify Console (prior to Amplify Admin UI) (using demo app https://github.com/dabit3/amplify-photo-sharing-workshop/tree/main)
2. Enable the Amplify Admin UI
3. Navigate to Amplify

[2020-12-02 05:27] mybNa opened #1326 "How to apply custom headers to auth Login call Response?"
We are using AWS Amplify and Cognito framework for our application. We are trying to embed tableau dashboard in our application. And using Cognito as OpenID for SSO.

After signing into application when we try to connect to tableau server even though the login is successful (200 response), Cognito login call blocks the iframe with "x-frame-options: DENY" in call response.
We want to override this

[2020-12-02 05:32] mybNa commented on #1317
We have noticed the same issue. How do we apply the custom headers to deployed application?

[2020-12-02 05:37] hankyupark commented on #405
this works for me

[2020-12-02 05:45] mybNa commented on #1207
We have the same issue. We have only one application and we are using amplify for the first time. Since "amplify publish" is not working for us and due to security reasons we can't use GitHub and gitlab (we host our own gitlab behind VPC), we are using manual deployment method via S3. We are trying to add custom headers but it's not working. Here is the screenshot of setting we added using console

[2020-12-02 05:45] spilist commented on #1317
What we experienced were similar. We used the following setting:
[code]

1. Placing `customHttp.yml` with the above contents in the root directory: nothing happened.
2. Manually set custom headers in aws console: security related headers (e.g., X-Frame-Options) are set, but cache-control is not set.

cache-control problem is definitely a bug (https://github.com/aws-amplify/amplify-console/issues/1

[2020-12-02 06:03] mybNa commented on #1317
@spilist you mentioned security related headers worked for you and you set them manually in AWS console. After setting them did you have to deploy the app? We did set them in console but no luck. This is what we have in the console.

<img width="1249" alt="Screen Shot 2020-12-01 at 9 40 57 PM" src="https://user-images.githubusercontent.com/11697860/100834570-00fbd000-3421-11eb-96a7-408809060d66.pn

[2020-12-02 06:14] mybNa commented on #1124
We have the same issue. Since day one "amplify publish" has not worked for us. Also, since we use 3rd party who create roles/policies for us; and is not willing to add IAM policies in the amplify service role. We get exact same error mentioned in the first comment.
We would like to know exactly what policies we need in the role to get this working. And if policy is not the issue what could be the

[2020-12-02 07:37] spilist commented on #1317
As far as I know, if you manually set "rewrite/redirect" and "custom headers" settings in Amplify console, they are immediately applied to the deployed frontend. You don't need to re-deploy.

Changing environment variables is needed to be re-deploy to be applied.

[2020-12-02 08:13] SJI-ParthaSarathi commented on #727
Update:
fixed the issue https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html
https://github.com/aws-amplify/amplify-console/issues/572

[2020-12-02 08:30] Chuqing commented on #1322
Thank you so much. The problem is solved.
Previously I uploaded my files in S3 and got stuck.

[2020-12-02 08:30] #1322 closed

[2020-12-02 08:56] hsbNicolas opened #1327 "Amplify Hosted Website SSL Certificate Expired?"
THE SSL certificate manager expired with no prior notice. The certificate is supposed to be renewed annually, because the domain is hosted in AWS route 53 and the certificate issued by Amazon Certificate Manager (ACM). Also in AWS Amplify HTTPS options for the website it says "HTTPS is automatically enabled for your custom domains to secure traffic." Certificate Issuer Amazon Certificate Manager (

[2020-12-02 12:14] jamesjessian commented on #288
[code]
... worked for me, transferring from one github account to another github account and repo. I know it's not quite what the OP was doing, but thought it may be worth noting that:

- The AMPLIFY_APP_ID is the last bit of the app ARN (e.g. dXXXXXXXXXXXXX)
- For github repositories, the access token is a Personal Access Token (https://github.com/settings/tokens).
- I gave it all of the _repo_ a

[2020-12-02 13:19] MrHertal commented on #1170
I have migrated custom headers following the new [documentation](https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html)

<img width="730" alt="snap" src="https://user-images.githubusercontent.com/11944221/100877492-27fde480-34a9-11eb-82f9-c09bcdb02289.png">

Without success.

I get `cache-control: max-age=0` and also a miss from CloudFront.

[2020-12-02 13:51] hsbNicolas commented on #1327
I have reconfigured the domain and issued the certificate manually and it worked.

[2020-12-02 13:51] #1327 closed

[2020-12-02 16:22] Jupdi commented on #288
Did anyone manage this with Bitbucket Cloud where you cannot generate access token? I tried to get a token when connecting another app but getting an error:
`An error occurred (BadRequestException) when calling the UpdateApp operation: There was an issue setting up your repository. Please try again later.(Invalid Authorization header)`

[2020-12-02 17:34] rossbishop commented on #1124
My actual issue is detailed here - it was a defaults issue with build commands for projects created on Windows that were then being deployed on Linux in the cloud. See https://github.com/aws-amplify/amplify-cli/issues/5990.

Thanks.

[2020-12-02 17:34] bobbykilteevan commented on #1029
getting same error, any update?

[2020-12-02 20:12] osmac984 opened #1328 "Failed domain activation, provided CNAMEs already associated with different resource"
**App Id**: d1tf44ml8hnpf9
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
My subdomain has not been activated because the DNS record name used to verify ownership, is currently being used by my root domain. How can I get a different verification DNS record?

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with

[2020-12-02 20:50] jknapp25 commented on #1274
Is this the correct place to ask this question? Or should I use a different forum?

[2020-12-02 20:57] BennettSmith commented on #1187
We just ran into this issue with custom parameters that are set in our `team-provider-info.json` file for our environments. It seems like non of the current recommendations (using environment variables, using a custom amplify build script, using team-provider-info.json) work for AWS Console Previews.

This mostly defeats the purpose of opening PRs and having them run through the preview workflow b

[2020-12-02 21:16] gildniy commented on #619
@karrettgelley your solution works for me

[2020-12-03 05:40] marcioibm commented on #1271
Got the same issue and the script fixed my issue! thanks!

[2020-12-03 06:59] amalik18 commented on #1189
Can anyone help out?

[2020-12-03 09:55] birsi commented on #943
👍 on this feature request. any updates here would be highly appreciated.

[2020-12-03 13:00] benwainwright opened #1329 "An error occurred during the publish operation"
**Describe the bug**
Attempting to run `amplify publish` I get the following error message

[code]
**Desktop (please complete the following information):**
 - OS: MacOS 10.14.6 - Also ubuntu-latest Github Action

I don't want to use the build in CI, but I might have to go back to it because any attempt to use `amplify publish` just fails.

[2020-12-03 14:10] pedroapfilho opened #1330 "Can't delete test app: `Removing backend envs for app XXX failed`"
**Describe the bug**
Can't delete test app from the dashboard

![Screenshot 2020-12-03 at 15 07 11](https://user-images.githubusercontent.com/13142568/101030503-a033db00-3579-11eb-828c-4fd495350494.png)
![Screenshot 2020-12-03 at 15 07 51](https://user-images.githubusercontent.com/13142568/101030536-a2963500-3579-11eb-8cba-c80e887027eb.png)
![Screenshot 2020-12-03 at 15 09 18](https://user-images.

[2020-12-03 15:58] patrickcze commented on #1271
Also am seeing the same issue

[2020-12-03 17:36] litwicki commented on #1189
@amalik18 I know this was mentioned above, but based on the error log `Error: You are not working inside a valid amplify project.` indicates the `amplify` folder is not part of your build. Can you verify the `amplify` folder is not part of `gitignore` and *is* in the build?

[2020-12-03 17:45] amalik18 commented on #1189
@litwicki Yep that was the issue. The `amplify/` directory was in the `.gitignore`file. Thanks for that. I'm gonna close this out.

[2020-12-03 17:45] #1189 closed

[2020-12-03 18:51] Junhano opened #1331 "I don't know are those problem connected or what"
First is I can't clone backend and view details of my app backend. Then also when I try to set up amplify admin ui it always return this error "A valid backend environment was not specific"

As you can see in the first image. I don't know when it started to happen, when I try to click storage, auth, api it always return a 404 error along with a "Uncaught (in promise) TypeError: Cannot convert unde

[2020-12-03 18:55] dunethomas commented on #1330
I'm having this exact same problem... I've tried everything and I can't delete an app

[2020-12-03 19:10] kahdojay commented on #1207
@mybNa what's your appId and region? Are you able to deploy customHttp.yml in your project root with the settings?

[2020-12-03 19:40] gruckionvit commented on #399
Would love to have this feature

[2020-12-03 22:46] juliomoreira opened #1332 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d2pi1qpk1ptmfm
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-12-03 22:46] #1332 closed

[2020-12-04 01:19] Alk3m1st commented on #1218
Just to add to finally, it would be useful to have an example in the CloudFormation documentation. It took some time and failed attempts to figure out that I needed to keep `customHeaders:` in the `CustomHeaders:` CFN property. I initially assumed it could be just the `- pattern:` if that makes sense.

[2020-12-04 01:47] kjones opened #1333 "Build failure in Amplify Console using 4.37.1 CLI (.NET function)"
**Describe the bug**
Amplify project with a React frontend and a combination of JS and .NET backend fails to build and deploy the backend when Amplify CLI 4.37.1 is used.

**To Reproduce**
Steps to reproduce the behavior:
1. Commit to GitHub or hit Redeploy this Version to start a new build
2. Build fails stating it can't find the file `package.json` on a .NET Core 3.1 Lambda function during `ampl

[2020-12-04 03:38] jrmccoy64 commented on #1330
I too am having the same problem.

[2020-12-04 10:08] swaminator commented on #1330
@jrmccoy64 @dunethomas @pedroapfilho we'll look into this asap and post an update.

[2020-12-04 10:09] arrivabeni commented on #1330
Same error here.

[2020-12-04 11:09] geeodee commented on #1330
Hi I am having the same issue error here

[2020-12-04 12:23] danielvasas opened #1334 "Amplify build unable to clone CodeCommit repo"
Hi,

**I have a CodeCommit repo:**
Repository ID
042e1b2d-65f9-407e-81a7-13d1956c5cbd
Repository ARN
arn:aws:codecommit:eu-central-1:035570781852:ddady-frontend

**which I'm trying to deploy to AWS Amplify App. I created this app through the Amplify CLI:**
App ARN
arn:aws:amplify:eu-central-1:035570781852:apps/d2l5jmllbeznlf

The build fails though:
![image](https://user-images.githubusercontent.c

[2020-12-04 13:57] robmarshall commented on #225
Also having the trailing slashing issue. Cannot find any solution to this.

[2020-12-04 15:11] SSAT commented on #1329
Having the same issue on latest Ubuntu OS

[2020-12-04 15:41] joscarras opened #1335 "amplify init failed to complete and created an undeletable app"
**Describe the bug**
I have been trying to learn amplify, and today in one of my tests `amplify init` failed to complete due to:
**DeploymentBucket amplify-test-dev-155008-deployment already exists**

After that I was unable to do anything so I deleted the folder and went into the amplify console to delete that test app (so I can restart) however it failed with the following error:
**Removing back

[2020-12-04 17:41] mybNa commented on #1207
@kahdojay we added the custom header settings in amplify dashboard itself. We are using Cognito as OpenID. We use 3rd party dashboards which we need to embed in our application. Unable to display the dashboard with following error:

`Refused to display 'https://AUTH.DOMAINNAME.com/login?response_type=code&client_id=CLIENT_ID&redirect_uri=https%3A%2F%2Ftableau-con.DOMAINNAME.com%2Fvizportal%2Fapi%2

[2020-12-04 18:55] litwicki opened #1336 "Gatsby Default Starter Auth signup bug"
**Describe the bug**
Sample app: https://github.com/aws-samples/aws-amplify-gatsby-auth
Signup error message on gatsby auth sample is misleading.

**To Reproduce**
Steps to reproduce the behavior:
1. https://master.d2q2cbdzve9k5c.amplifyapp.com/app/signup
2. Enter a basic insecure password
3. Error message presented is

`errorMessage: {
 "code": "InvalidParameterException",
 "name": "InvalidParame

[2020-12-04 19:40] k-vamshi commented on #1247
I am facing the same problem

[2020-12-04 19:44] shrhawk-entertainer commented on #1335
same issue

[2020-12-04 19:45] shrhawk-entertainer commented on #1330
same issue

[2020-12-04 19:45] ideaplan commented on #1330
same issue i am facing right now

[2020-12-04 20:21] kahdojay commented on #1207
There are a couple issues going on here.

@xavierraffin I believe your pattern may need to be `/assets/**/*.svg` or `/assets/**/*`

As for others, we are actively working on rolling out a fix for Cache-Control customer headers unable to be set which should be in all regions within the next few weeks. Please note however that for apps with performance mode disabled, apps will re-use cache-control h

[2020-12-04 21:02] kahdojay commented on #1317
There are a couple issues going on here.

@xavierraffin I believe your pattern may need to be /assets/**/*.svg or /assets/**/*

As for others, we are actively working on rolling out a fix for Cache-Control customer headers unable to be set which should be in all regions within the next few weeks. Please note however that for apps with performance mode disabled, apps will re-use cache-control heade

[2020-12-04 21:47] #1311 closed

[2020-12-04 22:03] mattk-ce opened #1337 "Troubles escaping bash commands in amplify.yml"
**Describe the bug**
When using bash commands that require escaping, getting various errors...

**To Reproduce**
I have this `amplify.yml` configuration:
[code]

Running the build results in this message appearing in the console (and build failing):

[code]
It almost looks like it's erroring on the `echo` that amplify added rather than the command itself...

**Additional context**
I'm wondering If

[2020-12-04 22:48] kahdojay commented on #1317
@spilist @mybNa  can you provide your appId, region, and job number of the job you deployed customHttp.yml in repo root?

[2020-12-04 22:49] kahdojay commented on #1207
@mybNa I see your custom header config exists but your branch has been deleted, can you redeploy any branch (can just be a placeholder site) so I can try to repro?

[2020-12-04 22:51] kahdojay commented on #1207
@mybNa I see your custom header config exists but your branch has been deleted, can you redeploy any branch (can just be a placeholder site) so I can try to repro?

[2020-12-04 22:58] kahdojay commented on #1326
closing in favor of discussion in this thread: https://github.com/aws-amplify/amplify-console/issues/1207

[2020-12-04 22:58] #1326 closed

[2020-12-04 23:00] kahdojay commented on #1170
Hi, we are actively working on rolling out a fix for Cache-Control customer headers unable to be set which should be in all regions within the next few weeks.

[2020-12-04 23:25] mybNa commented on #1207
@kahdojay we used "amplify publish" to deploy. And that creates branch itself. Due to limited role policy I don't have access to branches. I just published again and you will have check if you see any branch.

Question: Where can we see the branch information in amplify dashboard?

[2020-12-04 23:58] xavierraffin commented on #1317
@kahdojay I confirm this fix the problem on my side.
Thanks
Feel free to close from what I am concerned of

[2020-12-05 13:47] jrmccoy64 commented on #1330
As a follow up, I discovered my problem is that I tried to delete via the Amplify console, though I had originally created via the cli. In an attempt to clean up manually, I deleted an associated S3 bucket. Now, I’m unable to delete via cli as it fails due to bucket not found. There does not appear to be a way to manually clean things up. My backend is shown as deleted, but the app doesn’t delete,

[2020-12-05 17:14] ahkai86 commented on #1330
same issues unable to remove amplify app after setup as test app

[2020-12-05 19:44] cabernal opened #1338 "Front-end build not using provisioned node version"
We have a front-end configured to provision node to version `$VERSION_NODE_10`, which is set to `10.16.10`.

The front-end has been deploying successfully for many months now, but has been failing on the build step in our latest deployment this morning.

The error logs show the following:

[code]

I find it odd that the logs indicate the current environment to be using **Node 12.x**, given that ou

[2020-12-05 19:56] abhi7cr commented on #1338
Hi @cabernal,
We recently updated the default image which includes using node v12 as the default. Are you using the default image? If you want to continue using node v10, you can set it using nvm use $VERSION_NODE_10 in the build commands, or if you want to use node 12, you can run: npm rebuild node-sass to update the sass bindings for node 10. The dockerfile shown under the provisioning step is s

[2020-12-05 20:07] cabernal commented on #1338
Hi @abhi7cr,

We're using the default image, but it looks like the provision step is already setting the node version to ` $VERSION_NODE_10`.

[2020-12-05 20:12] makiyov commented on #1335
The same situation.
I tried to create first demo project with Amplify CLI, but in init process my Mac was crashed! I tries it several times and always was this result. And now I have several non-deletable demo apps :((

[2020-12-05 20:17] abhi7cr commented on #1338
yes the above DOCKER file (_seen under Provision tab_) doesn't reflect the latest file used in the build.  We are going to update the above to the latest early next week.

[2020-12-05 20:47] cabernal commented on #1338
@abhi7cr I see. Is it possible to specify the node version for the build step in the amplify.yml spec file under `Build setting` via nvm?

[2020-12-05 21:20] abhi7cr commented on #1338
@cabernet  yup, in the build settings -> amplify.yml -> build -> commands,  you can set node v10 using the below command:
`nvm use $VERSION_NODE_10`

[2020-12-05 22:02] amlcodes commented on #412
same here. is there an official word on this practice?

[2020-12-05 23:17] DivonC commented on #1197
I'm having this same issue. Any word on how to fix this?

[2020-12-06 00:07] abbysudario opened #1339 "SSL configuration is Running - Currently stuck in Domain Activation for 48 hours now"
**App Id**: d33lhfk33ox87d
**Region**: us-west-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
Trying to connect a third party domain and is stuck on Domain Activation

**Error message**
No Error so far from the AWS Amplify UI

**Additional information**
Checked my DNS and it is propagating correctly.

[2020-12-06 07:36] icecog opened #1340 "Build fails due to File project: data should NOT have additional properties: 'graphqltransformer'"
**Describe the bug**
Amplify backend build fails during deployment with the error: ' File project: data should NOT have additional properties: 'graphqltransformer''. This should probably not happen.
I might be wrong, but I don't think it failed prior to updating amplify-cli.

**To Reproduce**
`amplify --version 4.37.1`
Running AWS Amplify with 'amplify add codegen --apiId <apiId>' results in a gra

[2020-12-06 07:40] icecog opened #1341 "Template error: instance of Fn::GetAtt references undefined resource <imported Auth ID>"
**Describe the bug**
Amplify backend build fails during deployment with the error: ' Template error: instance of Fn::GetAtt references undefined resource <imported Auth ID> '. This should probably not happen.

**To Reproduce**
`amplify --version 4.37.1`
Running AWS Amplify with 'amplify **import** auth' results in error below when deploying. It runs fine locally.

During build 'AmplifyPush --simpl

[2020-12-06 07:53] icecog commented on #1341
@renebrandel I've been following your tutorial, but then I run into this issue. I hope it's just me that's messing up.
https://aws.amazon.com/blogs/mobile/use-existing-cognito-resources-for-your-amplify-api-storage-and-more/

[2020-12-06 10:01] DaveHudson commented on #412
I wouldn't commit `aws-export.js`. it’s git ignored for a reason, it’s full of secrets.

If you need to use Vercel for SSR support I'd recommend replacing the entire DevOps pipeline Amplify provides for you. You could do this with GitHub actions. It's essentially a two step process:

1. Run an `amplify pull` command in headless mode https://docs.amplify.aws/cli/usage/headless to download an Amplif

[2020-12-06 12:09] kirtap7 commented on #1330
Using the AWS CLI command for Amplify [delete-backend-environment](https://docs.aws.amazon.com/cli/latest/reference/amplify/delete-backend-environment.html) might help.

[2020-12-06 12:21] morgler commented on #1271
Thanks for the script. Unfortunately it didn't work for me (my `AMPLIFY_USERPOOL_ID` and so on are still empty).

I hope the Amplify console team can adopt the CI/CD soon to the new `amplify import auth` feature.

[2020-12-06 13:42] jrmccoy64 commented on #1330
Hi, in my case the backend is already deleted and trying to use the cli produces an error because of a missing s3 bucket, which I deleted in an attempt to manually clean up.

Sent from my iPad

[2020-12-06 16:47] gaochenyue opened #1342 "Are you going to support regions in China anytime soon"
We want to deploy our amplify application for customers in China. How soon are you going to support China regions

[2020-12-06 17:10] icecog commented on #1341
Fixed this.
Added this environmental variable:
[code]
Conclusion: Amplify was using version 4.29.4 (could be seen in the logs, if you check during the provision stage, or download the logs.

This caused a different error to appear thought, but at least there is progress.

New error:
[code]

I fix this after reading [this post](https://github.com/aws-amplify/amplify-cli/issues/4806), that pointed m

[2020-12-06 17:10] #1341 closed

[2020-12-06 17:12] icecog commented on #1340
Turns out I needed get a newer version of Amplify-CLI to be used in the console.
Added this environmental variable:

_LIVE_UPDATES | [{"name":"Amplify CLI","pkg":"@aws-amplify/cli","type":"npm","version":"latest"}] | All branches

Also see [this](https://github.com/aws-amplify/amplify-console/issues/1341)

[2020-12-06 17:12] #1340 closed

[2020-12-06 18:39] subtlegiant commented on #595
Worked for me as well, thanks @nirkra

[2020-12-06 18:42] subtlegiant commented on #1323
Was able to fix this issue by installing the latest version of amplify cli on install.
[code]
Anyone know of a better way to set the cli version in the build envirionment?

[2020-12-06 21:12] harenadata opened #1343 "Source Repository field keeps flipping from real repo to an undefined repo"
**Describe the bug**
I created an amplify application on my dev account for AWS.  I pointed it to a repo on github.  I have used this same repo on my production account, where it worked.  Now, instead of building, it just flips between the repo URL and some undefined repo.

I have a video of this happening.  I let it run on an app for a couple hours, hoping it would fix itself.  I then deleted tha

[2020-12-06 21:15] harenadata commented on #1343
@duaneenterprises, FYI

[2020-12-06 22:17] aethr commented on #925
@abhi7cr is there any update on this? The bug has been in production for more than 4 months.

Having a regression go unaddressed (and with absolutely minimal feedback) for so long is making us lose confidence in Amplify as a product.

[2020-12-07 01:46] Rolando-Barbella commented on #1340
I ran `curl -sL https://aws-amplify.github.io/amplify-cli/install | bash && $SHELL` and it works

[2020-12-07 03:42] Aryaman19 commented on #965
Go to the actions (in the image which you have shown - at the top right corner) . Then follow step 4 given in this documentation (https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-godaddy.html).

1. Go to actions(in image which you have shown , there is one action button) and then go to View DNS Records.
2. Copy whatever(like xxxxxxx.cloudfront.net) is written

[2020-12-07 07:16] mailelucks commented on #1232
Hi Don,

To view the issue, view our aws-bugs branch. Below is a link, I am unsure
if you are able to access it. If you are not, please let me know.

https://aws-bugs.d2dtsudg4ck68g.amplifyapp.com/bookings

I would like this link to 301 redirect to /schedule-a-workshop. Ive been
using routing to force the redirect on production (you can see this with
/workshops or /schools) but for SEO purposes a

[2020-12-07 09:34] cardeol opened #1344 "Removing backend envs for app d10q5ulfqk56ws failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Select your application
2. Click on the Dropdown 'Actions' located at the top and select 'Delete app'
4. See error: 'Removing backend envs for app d10q5ulfqk56ws failed'

**Expected behavior**
The application should be deleted

**Desktop (please complete the following info

[2020-12-07 10:25] arrivabeni commented on #1330
I was able to delete after run the command proposed by @kirtap7 .

If you got stuck at the same point as me, you won't be able to see the app-id in the AWS console, to find it just try to delete app again and it will be exposed in the error message. After run the delete-backend command go back again to the console and delete the app.

[2020-12-07 11:04] NomanGul commented on #1338
any update on this?

[2020-12-07 11:43] na018 commented on #373
we would love to use previews with CodeCommit as well - any updates here?

[2020-12-07 13:21] yoyokalin commented on #1287
Hi,
After updating amplify cli, when add dev hosting, I encounter
× Deployment failed! Please report an issue on the Amplify Console GitHub issue tracker at https://github.com/aws-amplify/amplify-console/issues.
An error occurred during the publish operation

Please help me!

[2020-12-07 17:36] AntonioJacksonII opened #1345 "JSONValidationError for the graphqltransformer preventing build from completing"
**Describe the bug**
I am receiving `File project: data should NOT have additional properties: 'graphqltransformer'` and `File project: data should NOT have additional properties: 'graphqltransformer'` errors when attempting to complete the build at the end of Module 3 of the [Build a Full-Stack React Application](https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/modu

[2020-12-07 18:35] hsspain commented on #1344
@cardeol Can you please provide the region in which this app exists?

[2020-12-07 18:38] hsspain commented on #1339
@abbysudario Please ensure that the proper CNAME records are present in the domain you are trying to verify.

You can also try to remove and re-add the domain to restart the verification process.

[2020-12-07 18:39] hsspain commented on #1342
@gaochenyue This item is on our roadmap but we cannot provide any details on when this will be available at this time.

[2020-12-07 18:39] #1342 closed

[2020-12-07 19:39] davegravy commented on #1271
Also can confirm the same issue

[2020-12-07 20:02] leandrodamascena opened #1346 "Domain activation is Failed - Activation domain failed"
**App Id**: d1qmctt2zb9igg
**Region**: sa-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I can't activate the custom domain to simplexr.bugaboostudio.com.br. I don't want to use the www/@ (apex) and I just created the subdomain "simplex.bugaboostudio.com.br.". Amplify successfully completes steps 1 and 2 (SSL Creation / SSL Configuration) but fails to attempt the third s

[2020-12-07 20:43] hoffination commented on #1092
@litwicki I decided to go with the AWS CDK to simply my deployment with other parts of my architecture. Revisiting my existing setup there is now an error where appRoot wasn't found. I'll try a couple of things and message back if I get to a new spot with this working.

[2020-12-07 20:52] hsspain commented on #1346
@leandrodamascena It appears that the domain you are attempting to associate with this application is already associated with another CloudFront distribution.  You or whoever associated that will need to remove it from that distribution before you can associated with this app.

[2020-12-07 20:56] amanas commented on #1344
Hi, I am having exactly the same problem. Frankfurt region. Any idea why this is happening?

[2020-12-07 21:13] leandrodamascena commented on #1346
Thank you my friend! I don't know what's happened, but the application was deployed in ap-northeast-1 and we don't use this! I removed the app and now I think it's working.

Thank you so much.

[2020-12-07 21:13] #1346 closed

[2020-12-07 21:16] jerelmiller commented on #478
We could also really use this feature. We have a script that runs to sync some data to a remote service. We would ideally like to trigger that script after a deployment of the site so that we can guarantee that the new data is in place.

[2020-12-07 21:39] mrubin-cornell opened #1347 "No Github Repos Appear In AWS Amplify "Add repository branch" Page"
When starting a new AWS Amplify project, no Github repos qppear in the AWS Amplify "Add repository branch" page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the AWS Console Amplify page https://us-west-2.console.aws.amazon.com/amplify
2. Click on Deliver\Host your web app\Get Started
3. In the "Host your web app" page, in "From your existing code" select "Github" , the Continue
4.

[2020-12-07 21:59] wbeyda opened #1348 "Missing Favicon"
**Describe the bug**
favicon.ico not showing up in browsers. If I inspect the element and open in new tab it opens the favicon location with a trailing forward slash.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.fullstackcheatcodes.com'
2. Look at browser. No favicon image
3. inspect element Line 32  <link rel="shortcut icon" href="favicon.ico" type="image/jpg">
4. Right click

[2020-12-07 22:45] hsspain commented on #1348
@wbeyda This can happen if somehow the favicon was not included in your build.

However, when navigating to https://www.fullstackcheatcodes.com/favicon.ico, I see the favicon loaded.  Can you verify the behavior still persists from your end?

[2020-12-07 22:54] hsspain commented on #1347
@mrubin-cornell Can you verify that the Github account your are currently logged into is the same account that houses the repositories you are expecting in the Amplify console?

[2020-12-07 22:55] mrubin-cornell commented on #1347
Verified.

Michael Rubin
Data Architect
Cornell Pump Company | Clackamas, OR 97015 | 503.653.0330

________________________________
From: hsspain <notifications@github.com>
Sent: Monday, December 7, 2020 2:54:29 PM
To: aws-amplify/amplify-console <amplify-console@noreply.github.com>
Cc: Michael Rubin <mrubin@cornellpump.com>; Mention <mention@noreply.github.com>
Subject: Re: [aws-amplify/amplify-c

[2020-12-07 23:21] wbeyda commented on #1348
I still can't go to that URL. It
![Screenshot from 2020-12-07 16-21-22](https://user-images.githubusercontent.com/3403342/101417037-48161500-38a8-11eb-954f-ca868292c85e.png)
 just redirects me with a trailing forward slash to https://www.fullstackcheatcodes.com/favicon.ico/

[2020-12-07 23:45] hsspain commented on #1348
@wbeyda Can you clear your browser cache and try again?  It may have a cached a response that redirects to the forward slash.

[2020-12-07 23:51] hsspain commented on #1274
@jknapp25 Can I get the app ID which you had your backend deployed to a different region for?

[2020-12-07 23:56] wbeyda commented on #1348
Okay that was it. I didn't clear my cache. Thank you. We can close this issue.

[2020-12-07 23:56] #1348 closed

[2020-12-08 00:04] kjones commented on #685
Is it just me or have new build images with .NET 3.1 installed been deployed? My above amplify.yaml now fails because all of the .NET install commands in the preBuild section are no longer needed.

[2020-12-08 00:28] jknapp25 commented on #1274
I ended up deleting and recreating after saving my data via csv export. Closing this issue.

[2020-12-08 00:28] #1274 closed

[2020-12-08 01:31] fennean1 opened #1350 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: dj787nksbarkg
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-12-08 01:49] #1331 closed

[2020-12-08 02:34] jrmccoy64 commented on #1330
Awesome! I was able to get it to work too.
Thank you for your support.

[2020-12-08 02:53] harenadata commented on #1343
I deleted the webhook from my repo, removed Amplify access from github, and deleted all amplify apps.  I recreated this on the original account, and it still does not work.  The "source repository" keeps disappearing.  You can see the "source repository" change on the build screen and on the app settings screen.

[2020-12-08 03:13] tfmorris commented on #1271
Just hit this issue as well. Two weeks and not even acknowledgement from the AWS Amplify team?

[2020-12-08 04:06] fujiwaka2408 commented on #1271
@tfmorris No contact yet from AWS Amplify team.

[2020-12-08 08:18] #1334 closed

[2020-12-08 08:19] danielvasas commented on #1334
Was solved by adding a missing role as described here: https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html

[2020-12-08 08:42] vemundeldegard commented on #44
This is a blocker for me too. It is very useful to have wildcards for multi-tenant systems.

[2020-12-08 10:20] cardeol commented on #1344
Of course, the region is us-east-1. rgs

[2020-12-08 10:32] ahkai86 commented on #1330
yes and many thanks to @kirtap7 ! was able to delete it using the cli command  =)

[2020-12-08 12:01] atlesp commented on #685
yes, it has to have been fixed since the default image now works.

[2020-12-08 12:46] louisandkatherine commented on #1247
Any update on this?

[2020-12-08 13:53] pedroapfilho commented on #1330
Confirmed, after deleting the environment with:

[code]

I can go to the `Amplify Console` and delete the app there.

Thanks @kirtap7 !

@swaminator I think this gives you a clue about what's going on, and how to fix it. I'll keep this issue opened until you guys fix it.

[2020-12-08 14:57] k-vamshi commented on #1247
- I guess there may be some temporary problem as the **monorepo** support has been recently introduced.
- I managed to build the applications by cd navigation into and out of the base location as the **yml** as a normal application.
- Maybe we shall expect an update from the **AWS** PM anytime sooner.

[2020-12-08 14:59] mrubin-cornell commented on #1347
This issue has been open a long time, and it's fairly pressing.
When can I expect some assistance?

[2020-12-08 15:47] TLaue commented on #1345
I am facing the same problem with a project which did build till yesterday. Any ideas what might be the source of this problem?

[2020-12-08 17:27] hsspain commented on #1347
@mrubin-cornell We are actively looking into this and have been unable to reproduce the behavior so far.

One way to possible work around the issue would be to log in using your browser in Incognito mode.  Can you try that and let us know if it then works?

You can email aws-amplify-customer@amazon.com with any GitHub repository details that could help use further help if possible.

[2020-12-08 17:52] mrubin-cornell commented on #1347
This turns out to be an AWS Amplify Console issue, and I've updated a ticket with that service.
I'll close the issue.

Thanks

[2020-12-08 17:52] #1347 closed

[2020-12-08 18:01] quiquegarcia commented on #1339
Remove and re-add the domain was the solution for me a few months ago

[2020-12-08 18:12] jknapp25 opened #1351 "Update item via GraphQL API appends to array of strings instead of replaces"
**Describe the bug**
When I update an array of strings field ([String]) on one of my tables via my AppSync GraphQL API. The field is appending items to the array instead of replacing the array. This was not happening before yesterday though, I made no changes to the specific field in the schema.

**To Reproduce**
Steps to reproduce the behavior:
1. Update an array of strings field
2. See appended

[2020-12-08 18:27] theelk801 opened #1360 "Feature request: Merged build previews"
As far as I can tell, a PR's preview is only based on the source branch's code and not on what the result of merging the PR into the target branch would give. Given that other PRs could be merged into the target branch in the meantime, I'd like to have build previews that show, assuming no merge conflicts, how changes in the target branch could affect the preview without necessarily having to merg

[2020-12-08 18:33] hsspain commented on #1350
@fennean1 Are you having issues setting up a custom domain?  This process can take a while.  Ensure your CNAMEs are configured properly and your domains should be verified in time.

[2020-12-08 18:42] swaminator commented on #1344
@cardeol @amanas while we work on a fix, please try this workaround: https://github.com/aws-amplify/amplify-console/issues/1330#issuecomment-740632418.

[2020-12-08 18:46] quiquegarcia opened #1352 "Error updating repository (e.g. Gitlab repo to Github repo)"
**Describe the bug**
I created an App with a Gitlab repository, added backend functionality and months later want to change my Git provider to Github.

Tried re connecting branch from the AWS console web and only branches in Gitlab were detected, so I tried via AWS Cli and repository was updated, but now I cannot update my app or access to re connect my new branch.

**To Reproduce**
Steps to repro

[2020-12-08 19:08] dcfranca opened #1353 "Amplify Admin UI App Content stuck on "Fetching items""
**Describe the bug**
When I open the new Amplify Admin UI on the console I can go to the user management section, to Authentication, to GraphQL API, and so on...
All of them are loading fine.
However, the `Content` never leaves the state of "Fetching items", I had let it run for several minutes, no signal of finishing load the items, neither an error message is displayed.

**To Reproduce**
Steps t

[2020-12-08 19:10] #1046 closed

[2020-12-08 19:11] litwicki commented on #1039
@gspeicher are you still experiencing this issue?

[2020-12-08 19:13] litwicki commented on #29
@CodySwannGT are you still having trouble with this?

[2020-12-08 19:16] #171 closed

[2020-12-08 19:17] litwicki commented on #92
@masterofkfit @thedgbrt can you please let us know if you're still experiencing this as it should be resolved.

[2020-12-08 19:18] litwicki commented on #281
@bekatom @ajohnson1968 @zackthoutt this should be resolved now. If you notice any recurrence please reopen this issue.

[2020-12-08 19:18] #281 closed

[2020-12-08 19:20] litwicki commented on #595
In addition to @nirkra comment above, we have also updated our default build image with the latest version of python. Please reopen this issue if you notice anything working incorrectly. Thanks!

[2020-12-08 19:21] litwicki commented on #615
@laranicolas @shayelbaz1 are you using performance mode as documented here? https://docs.aws.amazon.com/amplify/latest/userguide/ttl.html

[2020-12-08 19:23] alanpilloud commented on #171
@abhi7cr sorry for responding this late. I did not experienced this issue since then. Thanks a lot !

[2020-12-08 19:24] litwicki commented on #704
@tomyitav are you still having any issues?

[2020-12-08 19:25] litwicki commented on #708
Please reopen this issue if there is anything we can help with.

[2020-12-08 19:25] #708 closed

[2020-12-08 19:27] litwicki commented on #685
@kjones yes we rolled out a new default image this week. If you have any questions please reopen this issue.

[2020-12-08 19:27] #685 closed

[2020-12-08 19:28] litwicki commented on #750
@geoseong are you still having any issues or can we close this issue?

[2020-12-08 19:28] #866 closed

[2020-12-08 19:32] fennean1 commented on #1350
This is what I'm getting after all the CNAMEs are configured properly.

[image: Screen Shot 2020-12-08 at 2.19.10 PM.png]

So far I've tried creating a CAA record for the domain in Route 53 and
requesting a certificate. My certificate was denied for the same reason
shown above.

- Andrew

On Tue, Dec 8, 2020 at 1:33 PM hsspain <notifications@github.com> wrote:

[2020-12-08 19:37] hsspain commented on #1350
@fennean1 I am sorry, but the screen shot did not come through.  What errors are you seeing?

[2020-12-08 20:35] #29 closed

[2020-12-08 20:36] fennean1 commented on #1350
It reads:

The status of this certificate request is Failed. One or more domain names
have failed validation due to Certificate Authority Authentication Error.

I've connected all the DNS/CNAME files and the SSL configuration succeeds.
It's the domain activation that doesn't work.

Not sure what the issue is, I had no trouble hosting this on heroku with
the same custom domain.

- Andrew

On Tue, D

[2020-12-08 20:38] huphtur commented on #1338
Switching back to older node versions does not work, [see error log](https://gist.github.com/huphtur/c9d2a4929bd14180e77e6508b827b9e5).

We have multiple sites that can not be build now. Any help with this please?

[2020-12-08 20:44] gspeicher commented on #1039
Yes — in fact I got tired of waiting and finally disabled the test block in
amplify.xml again yesterday (Dec 7th) to get our first successful
build+deploy since late October. After committing the update to
amplify.xml, I had to kill the previous build that was stuck in the Deploy
phase since Nov 23rd.

[2020-12-08 20:52] abhi7cr commented on #1338
@huphtur,

Could you run `npm rebuild node-sass` In the preBuild step in amplify.yml file under build settings ?

[2020-12-08 20:54] hsspain commented on #1350
@fennean1 Can you try removing the custom domain and re-adding?

[2020-12-08 21:01] fennean1 commented on #1350
Yes I have tried that many many many times.

On Tue, Dec 8, 2020 at 3:54 PM hsspain <notifications@github.com> wrote:

[2020-12-08 21:03] huphtur commented on #1338
negative @abhi7cr, still getting build errors. used the following build script:
[code]

[2020-12-08 21:23] abhi7cr commented on #1338
Okay couple of things you can try:
1. If you want to use node 10,  you can move the `nvm use $VERSION_NODE_10` command to preBuild section before the yarn install command.
2. If you want to use node 12, you won’t need the nvm use command. You can keep the  `node rebuild sass` command in the preBuild section, but define it after the yarn install command.

[2020-12-08 21:47] huphtur commented on #1338
Tried several scenarios, all of them failing. Was worried it was a problem with our repo, but things build fine locally and on Netlify.

[code]

and

[code]

always errors as such:

[code]

It errors out before node-sass rebuild even?

[2020-12-08 21:53] kahdojay commented on #1207
@mybNa when I visit your test branch I see the custom headers:

<img width="534" alt="Screen Shot 2020-12-08 at 1 49 05 PM" src="https://user-images.githubusercontent.com/8794073/101545714-866d0c00-395c-11eb-857e-01f067c1b413.png">

Which I also see were properly configured. If you still don't see them, let me know which header(s) you're not seeing, as well as how I can reproduce what you're doing

[2020-12-08 22:00] abhi7cr commented on #1338
@huphtur can you share your appId ? Will look at the logs on our side.

[2020-12-08 22:07] huphtur commented on #1338
@abhi7cr d12hr921eys2px (us-west-2)

[2020-12-08 23:54] jparkhurst3 commented on #1181
Apologies for the lack of response here - my github notifications here were going to my spam folder so I'm just now seeing this. I still haven't been able to resolve, but now I'm getting a different error "One or more of the CNAMEs you provided are already associated with a different resource".

[2020-12-08 23:55] jparkhurst3 commented on #1181
My domain name is joannaparkhurst.com and is managed by Route53

[2020-12-09 00:31] abhi7cr commented on #1338
@huphtur not sure what version of node-sass is installed in your build, but could you try installing the latest version of `node-sass` ? https://www.npmjs.com/package/node-sass. Looks like any version equal or above`4.12` should be compatible with node v12.

[2020-12-09 01:00] swaminator commented on #1323
@subtlegiant please refer to https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates

[2020-12-09 01:00] #1323 closed

[2020-12-09 01:14] NikolaBo commented on #206
I followed the instructions for setting up the environment variables in the web console for my automatic github deploys and that worked well for me. Afterward I ran into issues where amplify push would fail after adding user pools to my auth. I was able to fix it by amplify pulling which prompted me for my identity provider keys, and the next push worked. For anyone that runs into the same issue.

[2020-12-09 01:15] keanthai opened #1354 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d2x8tcretx2z4u
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-12-09 01:41] jparkhurst3 commented on #1181
And it's working now after following these instructions: **https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error**

Thanks for the follow up!

[2020-12-09 01:49] #1181 closed

[2020-12-09 02:12] #1260 closed

[2020-12-09 02:14] swaminator commented on #1271
@fujiwaka2408 @tfmorris @davegravy @morgler @patrickcze @marcioibm @OsenLiu @fujiwaka2408 apologies for the delayed response. We're going to look into this and provide an update.

[2020-12-09 02:25] swaminator commented on #1263
@maximelebastard Amplify does not control the browser caching - you might have service workers running in your app or have client-specific ttl settings.

[2020-12-09 02:25] #1263 closed

[2020-12-09 02:37] gaochenyue commented on #1338
The same issue here.

[2020-12-09 03:01] gaochenyue commented on #1338
The following preBuild commands work for me
`frontend:
  phases:
    preBuild:
      commands:
        - nvm use $VERSION_NODE_10
        - npm install
        - npm rebuild node-sass
    build:`

[2020-12-09 05:11] mybNa commented on #1207
@kahdojay  yeah, we noticed the custom headers are working now. Thanks for you help.

This still does not solve one of our biggest issue, we were hoping the custom headers will fix the x-frame-options: deny issue set in the Cognito idp response headers.

[2020-12-09 08:35] spilist commented on #1317
@kahdojay Missed the notification from github. :(

- appId: `d241v514fg7chg`
- region: `ap-northeast-2`
- job number: The most recent one is `5`. You may refer to the [history](https://ap-northeast-2.console.aws.amazon.com/amplify/home?region=ap-northeast-2#/d241v514fg7chg/production/history).

FYI, we're using manual deployment(after build from jenkins), and customHttp is setup by amplify console

[2020-12-09 09:21] mlecoq commented on #1271
I have followed this one :

https://docs.amplify.aws/cli/auth/import

And all worked well except deployment in Amplify console as mentioned in this issue

[2020-12-09 09:47] TLaue commented on #1345
I have just found the solution to this issue in [Amplify-CLI repo](https://github.com/aws-amplify/amplify-cli/issues/6117).You have to set an package override for the Amplify CLI.

![image](https://user-images.githubusercontent.com/36646404/101613295-e2db3480-3a0b-11eb-862d-824ae31ab606.png)

[2020-12-09 10:03] icecog opened #1355 "Amplify codegen api (appsync) does not create aws_appsync_* settings in aws-exports.js from Console"
Hi,
I have imported an AppSync api (GraphQL) and everything works fine locally.
But when I push the code to the cloud I am getting the error "No graphql endpoint provided." in the chrome console.

On further inspection (export everything from build through amplify.yml) I see that aws_appsync_ settings are missing in aws-exports.js.

I have been having major issues with all kinds of things, so I ma

[2020-12-09 10:30] Cheederah commented on #1197
Please has this been resolved? As i'm currently experiencing the same issue

[2020-12-09 11:16] d-luk opened #1356 "Feature request: Allow auto-subdomain creation when root domain is a subdomain"
**Is your feature request related to a problem? Please describe.**
In _Domain management_ there is usually a option available called _Subdomain auto-detection_ as seen below:

![image](https://user-images.githubusercontent.com/14964441/101622181-03f55280-3a17-11eb-849a-b5cd2abe58bf.png)

_(Source: [AWS blog](https://aws.amazon.com/blogs/mobile/automatically-create-and-delete-custom-sub-domains-for

[2020-12-09 11:34] cbettridgehs commented on #1330
Im experiencing the same issue. When running the aws cli delete command suggested above I get:

"An error occurred (NotFoundException) when calling the DeleteBackendEnvironment operation: App d2ncju1xmfjiad not found".

The app id and environment name I am using are correct. Region is eu-west-1. When I first encountered this issue I manually deleted the underlying resources including the cloud for

[2020-12-09 12:09] VED-StuartMorris commented on #943
Also tried to implement the same and got to the exact same point.

[2020-12-09 14:28] amanas commented on #1344
Worked for me. Thanks @swaminator.

[2020-12-09 14:49] jackfreeman279 commented on #1197
I also have this same issue when deploying a fresh CRA instance **d3syxt6d8mx8lh** following the tutorial video, only using Bitbucket instead of Github. When clicking through to the branch, master, it gives me a blank screen; looks like there's a 403 error within amplify's main.js

[2020-12-09 15:49] cabernal commented on #1338
Yeah, adding `nvm use $VERSION_NODE_10` before installing dependencies is the way we worked around this.

[2020-12-09 17:58] huphtur commented on #1338
Ugh, so I kept editing the build settings in the Amplify Console Web UI, not realizing there was an `amplify.yml` file in the root of the repo, which takes precedence. Added `nvm use $VERSION_NODE_10` to that file and everything is building as expected now.

![embarrassed](https://media4.giphy.com/media/njPdRtrrdyoVO/giphy.gif)

Thanks @abhi7cr and @gaochenyue for the assists.

[2020-12-09 18:05] tfmorris commented on #1271
I did the same as @mlecoq. I'm importing/reusing a Cognito user pool defined in a different Amplify app.

[2020-12-09 18:07] hsspain commented on #1209
We are currently working to fix this issue and will provide an update as soon as we have one.

[2020-12-09 18:15] hsspain commented on #1356
@d-luk Thank you for the suggestion!  We will discuss this feature and prioritize along with other requests.

[2020-12-09 18:17] hsspain commented on #1354
@keanthai It can sometimes take a while to verify your custom domain with Amplify.

If you are having issue with adding a custom domain to your app, clicking "Retry" after a failure or removing and re-adding the domain can sometimes get around issues.  Please let us know if you are seeing a specific error.

[2020-12-09 18:18] hsspain commented on #1352
@quiquegarcia We are currently investigating this issue and will update you as we reproduce and track down a solution.

[2020-12-09 18:20] hsspain commented on #1350
@fennean1 You may be running into issue due to using that domain with a different provider in the past.  Ensure that you follow the docs as linked here:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html

The SSL certificates should be automatically created for you through our process.

[2020-12-09 18:21] hsspain commented on #1343
@harenadata We are working on a fix for this.  We will keep you updated as we find a solution.

[2020-12-09 18:28] hsspain commented on #1337
@mattk-ce We are actively working on a solution for this.  We will keep you updated as we find and deploy a fix.

[2020-12-09 18:55] lebull commented on #357
I'm this behavior as well after setting up a second amplify project pointing to the same repository.  Removing the webhooks and reconnecting the repository does not fix the issue.

Is this worth another issue?

[code]

[2020-12-09 19:15] masapasa commented on #1349
@sammartinez I did. The first deployment works. Then I change something and git push. Amplify automatically starts to build. During frontend build I see this error. Any hints?

[2020-12-09 19:40] kahdojay commented on #1207
@mybNa Amplify will control the custom headers returned by your site, if your app is making additional calls to other services (via ajax/etc) those headers would be returned from those services.

It sounds like in this case Cognito is returning the x-frame header. Are you able to open a support case with Cognito to confirm whether this use case is supported?

[2020-12-09 20:01] murvinlai commented on #1345
change Amplify console version: go to Amplify console -> app settings -> build settings.  scroll down to  "Build Image Settings" section and click Edit

Change Amplify CLI to latest or specific version. :)

[2020-12-09 20:04] mybNa commented on #1207
@kahdojay  unfortunately, Cognito team mentioned they do not support this use case. And the 3rd party uses iframe for authentication. So we are kinda stuck in this situation.
Thanks for following up. Really appreciate your timely replies.

[2020-12-09 20:36] swaminator commented on #1271
@tfmorris @mlecoq could you please follow these instructions as well: https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html#creating-a-new-backend-environment-with-authentication-parameters

[2020-12-09 20:37] swaminator commented on #1344
CLosing this to to track in #1330

[2020-12-09 20:37] #1344 closed

[2020-12-09 20:54] #1268 closed

[2020-12-09 21:16] #658 closed

[2020-12-09 22:09] MichaelRoberts-FlashParking commented on #614
I'm looking for the same thing. I was able to use the "Incoming webhooks" feature to get amplify to only builds the app when a "release" event is triggered in GitHub, but it's still building the latest version of the branch, making reverting to a previous release/branch in GitHub pointless. It would be great if Amplify could be configured to just track the latest tag/release.

[2020-12-09 23:06] kahdojay commented on #1317
@spilist no worries! I actually don't see any `customHttp.yml` file in the zip file you uploaded. Can you double check to confirm that the zip your jenkins job is sending to Amplify does in fact have the file?

In any event, you should be able to make the change in the Amplify console for your app if that works, no need to do it in both places. That being said, once you successfully deploy a `cust

[2020-12-09 23:11] kahdojay commented on #1207
Ok, I'm sorry to hear that. I've renamed this issue to scope it to monorepo-specific issues with custom headers, so that those affected by that issue can track the fix in this thread.

Other custom header issues not related to monorepo can be discussed here in #1317

[2020-12-10 01:07] swaminator commented on #90
@jonlow we redesigned our deployment service to be much faster. Closing this issue.

[2020-12-10 01:07] #90 closed

[2020-12-10 01:07] #92 closed

[2020-12-10 01:10] #409 closed

[2020-12-10 01:22] #1338 closed

[2020-12-10 01:22] spilist commented on #1317
I knew `customHttp.yml` will override the setting from console. I did set in console because my `customHttp.yml` didn't work.

Anyway, I didn't know `customHttp.yml` was not included in the uploaded zip. 😱  I'll check that out. Thx.

[2020-12-10 01:34] swaminator commented on #1307
@dhoulker you need to first define the build settings in the amplify console, run a build, and then move it to the `amplify.yml`. Here's instructions: https://gist.github.com/swaminator/3f2e400675f3322ed76bad82a59b393b

[2020-12-10 01:34] #1307 closed

[2020-12-10 01:35] swaminator commented on #1351
@jknapp25 could you please post here instead: https://forums.aws.amazon.com/forum.jspa?forumID=280.

[2020-12-10 01:35] #1351 closed

[2020-12-10 01:37] swaminator commented on #1352
@quiquegarcia we do not currently support this workflow.

[2020-12-10 01:37] #7 closed

[2020-12-10 01:50] #1350 closed

[2020-12-10 02:30] contractorwolf opened #1357 "Build Failed with "Reason: Parameter ScheduleExpression is not valid""
**Describe the bug**
I am CLI version 4.21.3 and just created a new simple function that just does some scraping on a schedule and logs data to console log (all runs fine when mocking the new function), but when attempting to deploy via the CLI it fails with the following in the log on the command line:

[code]

When I push my project up to github to deploy my front end and amplify I get this

[co

[2020-12-10 02:43] fujiwaka2408 commented on #1271
@swaminator  Yes, I have followed this instructions: https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html#creating-a-new-backend-environment-with-authentication-parameters
As far as I can see from the documentation, userPoolId, webClientId, and nativeClientId are not available by default.

I added userPoolId, webClientId and nativeClientId to the environment variables fr

[2020-12-10 03:02] contractorwolf commented on #1357
UPDATE: I looked up the "Parameter ScheduleExpression is not valid" and found that it seemed to suggest that the cron schedule I had used may have been invalid.  I had used the CLI to add scheduling to the function and it seemed to have no issues with the numbers I had used when using the CLI, but I decided to go back through them by using:

and then making sure the number I chose for the schedule

[2020-12-10 03:40] srchulo commented on #446
I am also seeing the Next button greyed out

[2020-12-10 03:46] spilist commented on #1317
@kahdojay Would you let me know how to check the contents of deployed zip file? I'm having some trials & errors.

[2020-12-10 04:18] SFaraji commented on #1042
Please look over the issue with the wrong GitLab id which is used in amplify and that stops us from connecting our branches. So annoying.

[2020-12-10 04:28] abhi6689-develop commented on #1197
@Cheederah @jackfreeman279 it ended up being a permissions issue for me, but the way aws works, never received an error which said I didn't have the necessary permissions, the thing just wouldn't work. Ask your administrator for full amplify access(the suggested json file on aws docs doesn't give you all of them). Cheers!

[2020-12-10 09:04] stefvanderwel commented on #1124
I fixed this by adding the AdministratorAccess permission to my Amplify IAM user.

[2020-12-10 09:57] jackfreeman279 commented on #1197
Checked and re-checked my Amplify permissions and they are all in order, but I still experience the same issue.

What's peculiar is that the successfully built application and a correct screenshot of it is present in the "All Apps" dashboard, but when going into the app from there I still get this issue.

[2020-12-10 13:09] FeliceGeracitano commented on #882
I got the same issue:

<img width="900" alt="Screenshot 2020-12-10 at 14 08 44" src="https://user-images.githubusercontent.com/6695231/101776505-53a84c80-3af1-11eb-9a21-46d1ee333f5c.png">

<img width="1590" alt="Screenshot 2020-12-10 at 14 04 42" src="https://user-images.githubusercontent.com/6695231/101776376-1e036380-3af1-11eb-90bc-489b87d4dc65.png">

I've created a BE for testing, but can't del

[2020-12-10 13:10] SreejithNS opened #1358 "Domain activation is Failed - CNAME associated with different resource"
**App Id**: d3e2oonqdi56r4
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
As the error message says, It was linked to another resource before, A cloudfront resource, but I disabled it, even after disabling the aws service this error comes up when i try to add the subdomain to my amplify application.

**Error message**
 One or more of the CNAMEs you provid

[2020-12-10 13:38] #1358 closed

[2020-12-10 15:38] ayotise opened #1359 "Amplify unable to pull backend after importing existing storage"
I imported an existing storage by following the instructions [here](https://aws.amazon.com/blogs/mobile/use-an-existing-s3-bucket-for-your-amplify-project/). It works fine locally, but the build pipeline fails when i pushed the code.

Steps to reproduce the behavior:
1. Follow the 'Import an existing S3 bucket into your Amplify project' instructions on [here](https://aws.amazon.com/blogs/mobile/us

[2020-12-10 15:39] lukehedger commented on #469
Is test parallelization on the roadmap?

[2020-12-10 17:06] ericclemmons commented on #1349
Can you share your full `amplify.yaml`?  This looks like a Next.js site, so I assume you're using `next build && next export` to build?

[2020-12-10 17:28] kahdojay commented on #1317
@spilist good to hear you were able to get the customHttp.yml included in your zip. I'm going to go ahead and close out this issue.

Please track the fix for Cache-Control header in #1170

Users with Monorepo app can track the fix for updating custom headers in the console in #1207

[2020-12-10 17:28] #1317 closed