[2022-01-24 10:43] marco910 commented on #92
Are there any updates on the issue with custom headers?
Just tried to deploy a site with custom header and the last header of the `customHTTP.yml` is applied to all files.

@dottodot That's true, it is confusing.
Static assets should have a Cache-Control of `public, max-age=31536000, immutable` and all other `public, max-age=0, s-maxage=60, must-revalidate` (or depending on your needs). When deplo

[2022-01-24 11:59] AlexKomm commented on #2281
@laketea, I would really appreciate it if you could explain in a more detailed way how you managed to solve this issue by adding these Cloudfront overrides you mentioned

[2022-01-24 12:31] StephaneBischoff commented on #1107
I had an issue with my amplify not detecting the `accept-language` header on my home page. Figure out that it was because I was not letting CloudFront cache by that  `accept-language` header.  Just go to CloudFront Default route and add that header and the detection should work after that.
See https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/RequestAndResponseBehaviorCustomOrigin

[2022-01-24 13:54] its-wufu commented on #1180
Did you find a solution? I got this problem, after upgrading aws-amplify from 2.x to 4.3.12 (yes, we waited a while).

[2022-01-24 16:27] hloriana commented on #2524
Hi @scolestock thank you for commenting, this issue has been reproduced and we will be prioritizing this bug. We will update this issue once it's been fixed. Thank you!

[2022-01-24 16:36] hloriana commented on #2438
Hi @entest-hai, if you changed your username then you'll need to reconnect the repository because Amplify will still be looking for changes to your repository with the former GitHub url.

[2022-01-24 16:38] hloriana commented on #2450
Closing due to no response. If you're still having this problem please submit a new issue.

[2022-01-24 16:38] #2450 closed

[2022-01-24 16:41] hloriana commented on #2526
You're welcome! 🙂

[2022-01-24 16:41] #2526 closed

[2022-01-24 16:47] hloriana commented on #2509
Hi @isaac-rosterlab and @batelhi 👋🏽, apologies for the delay. We are working on reproducing this and will provide an update once we have more information.

[2022-01-24 17:10] spharsh commented on #2479
Hi,
I am getting this issue too. I did all the above steps, but nothing seems to work. Can someone please help here?

[2022-01-24 17:16] hloriana commented on #2531
Hi @jayKayEss 👋🏽, thank you for raising this issue and for providing feedback on your experience with these features. I will update this issue once I have more information from the team.

[2022-01-24 17:29] spharsh opened #2536 "Amplify push is not working. Pops error "GraphQL Schema is using "@connection" directive from an older version of the GraphQL Transformer""
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-01-24 19:23] econtentmaps opened #2537 "Deployment of backend fails with IAM permissions error, event though the backend role has all the suggested permissions"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-24 19:45] anilsavani commented on #1459
Facing same issue that nothing gets deployed to the S3 bucket.
Though same thing is working fine if we do amplify publish from cli

appId = d2qksd9d6escp7
resion =  us-east-1

------
2022-01-24T19:33:30 [INFO]: Starting Deployment
2022-01-24T19:33:30 [INFO]: Updating Edge config
ue, buildId 0000000001
2022-01-24T19:33:30 [INFO]: Got archive: 4395275 bytes
2022-01-24T19:33:32 [INFO]: Deployment com

[2022-01-24 20:12] roliverio commented on #56
Also bumping the issue for our AWS overlords to add this functionality to Amplify.

[2022-01-24 20:13] hloriana commented on #2481
Closing. If you need assistance please open a new issue and fill out the prompts so we can better assist you. Thanks!

[2022-01-24 20:13] #2481 closed

[2022-01-24 20:27] spharsh opened #2538 "withAuthenticator is giving lots of errors"
I have created a small app and linked it with dynamoDB. It is a simple blog app, and I can see and retrieve my posts. But the moment I add withAuthenticator after doing amplify add auth, my website is not working, and there are so many errors.

All these errors go away, moment I remove this withAuthenticator from App.js.

Can someone please help me with this? I need to add sign-in and sign-out and

[2022-01-24 22:36] andrewvenson commented on #2362
Having this same exact issue. Logs not really descriptive on the reason for forced termination.

[2022-01-24 22:46] nbolland opened #2539 "Amplify console not creating new service role for CodeCommit repo with read-only access, defaults to existing service role from other app"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-24 23:05] alastairayliffe opened #2540 "BUG - Amplify is not serving correct build"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-25 01:14] paulocoutinhox opened #2544 "One-click deploy does not work"
**Which Category is your question related to?**
Python as Frontend Generator

**Amplify CLI Version**
7.6.12

**What AWS Services are you utilizing?**
amplify only

**Provide additional details e.g. code snippets**
Hi,

I made a project called Kaktos that is a static site generator using Python (don't have/need backend).

To generate i only need execute two things:

[code]

It will generate a fold

[2022-01-25 05:05] jothikannan89 opened #2541 "Backend build not working(timed out)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-25 08:27] anastasiyamazheika commented on #2488
Hello @hloriana,

Thanks for your message. Unfortunately, the solution you provided didn't help me. The result is still the same, the Test stage is marked as passed.

[2022-01-25 13:02] Ahmad-Jamal commented on #2343
kindly update on this ? @swaminator

[2022-01-25 16:49] ganipcanot commented on #2525
@Weetbix Could you share your `appId` and `region` for this app?

[2022-01-25 17:00] #2534 closed

[2022-01-25 20:35] hloriana commented on #2541
Hi @jothikannan89 👋🏽, thank you for raising this issue. Did you happen to delete this app?

[2022-01-25 22:23] hloriana commented on #2540
Hi @alastairayliffe 👋🏽, if you are merging locally then you'll have to push the changes in your `develop` or `production` branch after merging from `local`. Merging locally won't trigger a new build because Amplify is hosting code stored in the remote repository on GitHub. Additionally, if you open a pull request to merge from `local` to another branch that is deployed in Amplify and approve the m

[2022-01-25 22:26] hloriana commented on #2540
Please let me know if I misunderstood your issue or if I can provide more assistance.

[2022-01-26 04:27] julesrenaud opened #2542 "Next.js dynamic routes under a rewrite fail to regenerate via ISR"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-26 06:33] kptac commented on #996
Ran into the same issue! Had to remove and add domain again to fix the problem! App ID: d3jafph357pom3

This is horrible from Amplify - we had a lot of customers calling in!

[2022-01-26 06:54] ferdingler commented on #2532
Hi @skrg-kotani, I just tested Preview and it's working fine for me both locally and on Amplify.

Here is my preview page (pages/preview.js)

[code]

Here is my preview api (api/preview.js)
[code]

Visiting the preview api (/api/preview) will enable preview mode and set the proper data on the cookies, then redirect the user to the preview page (/preview) where the data will be shown.

Feel free to

[2022-01-26 06:54] #2532 closed

[2022-01-26 06:56] #1443 closed

[2022-01-26 07:01] ferdingler commented on #2542
Hi @julesrenaud, this is an interesting observation, thank you for reporting it. We will look into it.

[2022-01-26 07:06] ferdingler commented on #2523
Hi @sohammondal, based on the screenshot provided, I can tell that your app was not recognized as an SSR app but rather as a static Next.js app (SSG). Your app needs to meet the following criteria to be recognized as SSR:

- Output directory be `.next` in your amplify.yml
- Build script in your package json must not say `next export`
- Your app needs to have an IAM role attached to it.

One of tho

[2022-01-26 07:06] #2523 closed

[2022-01-26 10:08] justyn-clark commented on #2127
Same here and I'm ready to throw my laptop out of the window!!!

I'm testing an issue only happening in Amplify and it takes 15mins each time for only a few pages.

This is very painful.

[2022-01-26 10:11] alastairayliffe commented on #2540
Hi @hloriana,

Thanks for the response and apologies for the confusion.

Just to confirm, I'm pushing my 'local' branch up to git. Within Git, I'm then merging my 'local' branch into the 'develop' and 'production' branches (in hindsight, I shouldn't call a branch 'local' as this is making it mega confusing :)...

But to clarify, I'm not merging locally (all merging is done in git).

So currently,

[2022-01-26 11:54] Beancow opened #2543 "GitHub repo's not showing in list even with recent commits."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-26 16:22] marco-debortoli commented on #44
+1

[2022-01-26 16:43] ferdingler commented on #2217
Hi @bobrossthepainter, that's correct, there are 2 CloudFront distributions fronting an SSR app. On a deployment, we flush (invalidate) the cache on the distribution deployed on your account. However, if you have enabled Performance Mode or added cache-control headers to increase cache time on your Amplify App, there is no way to invalidate the cache of the managed distribution at the moment. You

[2022-01-26 16:43] #2217 closed

[2022-01-26 16:52] ferdingler commented on #2247
Hi @guykogel, apologies, this fell out of my radar and I missed your response. I assume you  no longer have this issue but just for future reference: There is no need to manually configure any AWS credentials during your build. We assume the IAM role that you attach to your Amplify App and those credentials are automatically available during a build. This is how we are able to deploy SSR resources

[2022-01-26 16:52] #2247 closed

[2022-01-26 17:01] Drnoodle commented on #44
Hello,

I encountered the same problem while developing a project. I solved it by implementing a reverse ssl proxy with the following features :

- Clients can choose a subdomain
- Clients can link their own domain name
- HTTPS and automatic renewal of the clients certificates
- Possibility to manage domains : remove entry, check if the domain already exists...

Would you be interested in a servic

[2022-01-26 17:13] ferdingler commented on #2517
Hi @chrisdelambert, we always provision a certificate that covers all subdomains within the provided root domain. This is so that if you deploy new subdomains to Amplify for new branches, we can reuse the same certificate.

What I recommend is for you to associate `sub.ambulance.com` as the root domain so that the certificate we provision ends up being `*.sub.ambulance.com`. If you are hosting thi

[2022-01-26 17:13] #2517 closed

[2022-01-26 19:09] vladimir-virlan commented on #2250
Try this guide if you don't already have a service role for Amplify deployments: https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html

[2022-01-26 20:04] vladimir-virlan opened #2552 "These feature flags are defined in the "amplify/cli.json" configuration file and are unknown to the currently running Amplify CLI:"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-27 04:51] victorccccc commented on #2322
Please make sure you attached correct permission to the service role.

Feel free to re-open if issue persists. Thanks!

[2022-01-27 04:51] #2322 closed

[2022-01-27 05:02] victorccccc commented on #2330
Sorry for the delay. Your builds succeeded, the account was suspended at some point. I've recovered your account.

Feel free to reopen this, if issue persists

[2022-01-27 05:02] #2330 closed

[2022-01-27 05:16] victorccccc commented on #1180
Hi, sorry for the inconvenience. Have you tried to set `NODE_OPTIONS` environment variable to `--max_old_space_size=4096` as mentioned below? Thanks

https://github.com/aws-amplify/amplify-console/issues/890#issuecomment-663760571

Feel free to re-open if issue persists

[2022-01-27 05:16] #1180 closed

[2022-01-27 05:20] victorccccc commented on #1247
Hi, We've updated the monorepo feature, and you can see `Redeploy this version` button for Monorepo Apps now

[2022-01-27 05:20] #1247 closed

[2022-01-27 05:44] michaelcuneo commented on #2442
@hloriana for some reason, I have still not received any access details for my problem. I have checked all spam/other/held emails, and there is nothing from AWS helping me with this. I have also responded via email on the 21/01 a week ago, with no reply?

[2022-01-27 08:49] amorealz commented on #342
Hello guys.

I'm sorry to comment in this old thread, but the issue is still happening. I can confirm that it places the file in the wrong or default directory (./src) and ignores the SourceDir configuration.

In  my specific case is a monorepo setup, and maybe that needs to be checked as well somewhere.

Also there is a lot of people with the same pain on this issue in the docs: [503](https://git

[2022-01-27 14:52] Jangholm commented on #2297
Im still experiencing this issue, using a monorepo under an organization account.

[2022-01-27 15:17] hloriana commented on #2438
If you are still having this issue, feel free to re-open. Thanks!

[2022-01-27 15:17] #2438 closed

[2022-01-27 15:18] #2451 closed

[2022-01-27 17:14] carlosbvz opened #2545 "Deploy Failure: No ssrResources.json file"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-27 17:20] AlexKomm commented on #1170
This ticket shouldn't be closed. I am experiencing the same problem as others have. Patterns are not working in Next.js SSR App. I think it's a critical issue that has to be solved, because it basically makes Next.js SSR app unusable because of a poor performance and lack of ability to cache statics properly. @kahdojay , do you have any updates regarding this? A lot of people are experiencing this

[2022-01-27 17:49] carlosbvz commented on #2545
Update:

As stating, not new branches seems to complete the whole process.

I did clone one this branches locally, and pushed it to the repo to trigger a build, and I got a pretty odd message in the "Deploy" tab:

[code]

[2022-01-27 18:07] mai1015 commented on #2540
I have a similar issue, that the new build does not reflect on the production site. One thing I notice is that the build time was normally around 15 mins, but it is now  6mins and nothing is updating. It is SSR backed by next.js and served in performance mode in amplify.

[2022-01-27 18:13] ganipcanot commented on #367
For anyone that is having this issue could you share details such as:

`appId` or `appArn`
`branchArn`

The time or rough time when the issue happened - this will help is dig into it further to figure out where things are getting stuck.

[2022-01-27 18:15] timclark97 commented on #2540
Similar issue. Using next.js. Made updates to master branch, pushed to github, amplify build is triggered and runs successfully, then go to the site and its serving the old version of master. I looking in the S3 for the amplify project and it looks like no new files are added and nothing is changed from the build.

I have not changed anything about how I deploy, and even has a successful deploymen

[2022-01-27 18:52] Athena96 commented on #2529
@subaruMax thanks for following up with the solution. closing for now, feel fee to reopen if the issue persists

[2022-01-27 18:52] #2529 closed

[2022-01-27 18:55] lewisdonovan opened #2546 "All of my apps have disappeared from Amplify"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-27 19:26] lewisdonovan commented on #2546
Just a quick update, I've managed to successfully run `amplify push` on one of my apps, after deleting the stack and associated resources and re-running `amplify init`, but the app is still not showing in my dashboard. I'm now absolutely stumped, it feels like the dashboard and my actual account state are not in sync.

[2022-01-27 19:40] hloriana commented on #2500
@AndyW22 apologies for the delay, can you try implementing your tests using these build scripts for the test phase:

[code]

[2022-01-27 20:32] GeoffreyLong commented on #2537
I'm running into the same issue! I made a couple small UI updates, tried to redeploy, and ran into this error. I even tried to redeploy a previously passing build, but that also failed.

The fact that you are running into the same issue reassures me. Perhaps an amplify / AWS update broke the pipeline?

[2022-01-27 21:11] kahdojay commented on #2545
@carlosbvz thanks for reporting - we're investigating

[2022-01-27 21:14] kylemilden237 commented on #2545
we are seeing the same issue.

[2022-01-27 21:50] victorccccc commented on #2545
Sorry for the inconvenience, we are actively working on the fix.

[2022-01-27 21:59] MEaston12 commented on #2545
Same problem here, just went through and wiped everything related to Amplify from the account and restarted my build from scratch, here's my app id if it helps: d1t8f7v7uqkz9e

[2022-01-27 22:03] tmaxfieldaa commented on #2540
Also using Next.JS and SSR. I am also experiencing this issue (seemingly no propagation of changes to Cloudfront) as my Cloudfront has a last modified date of 1 week prior to Amplify's last successful build and timestamp (1/27/2022).

[2022-01-27 22:05] StephaneBischoff commented on #2545
Same problem. Where can we check for Amplify live issue. Is there a website? Just found out by finding this open issue which is not great experience

[2022-01-27 22:38] nathanthorpe commented on #2478
fixed it by using this instead `cdk.Fn.ref('functionPubWebFileTransferAuthorizerArn');`

[2022-01-27 23:08] shubhamsharma04 commented on #2537
Hi @econtentmaps . Thanks for bringing this to our attention. Can you please try fixes described here -
https://github.com/aws-amplify/amplify-cli/issues/9480#issuecomment-1017075033

and let us know if this fixes the issue you are facing.

[2022-01-27 23:11] econtentmaps commented on #2537
Yes - I did that via the console and it works (i.e. added a custom policy for that specific permission). Does that mean that the new CLI has the fix for this? Do I need to do anything to ‘have’ the fix or is the manual “add via IAM on the console’ enough?

[2022-01-27 23:33] StephaneBischoff commented on #2545
Same problem here. Any update? Our website is down.

[2022-01-28 00:10] ferdingler commented on #2545
@StephaneBischoff websites should not be down. This issue is only impacting new deployments. Our hosting service is not impacted. We are deploying a fix right now.

[2022-01-28 00:12] charlieboles commented on #2545
@ferdingler That's great to hear. Will this also fix #2540? After experiencing that issue I created a new branch and ran into this one.

[2022-01-28 00:14] charlieboles commented on #2540
Any update on this? I can no longer update several production sites.

[2022-01-28 00:14] ferdingler commented on #2545
Sounds related. This issue started happening today though. New apps are seeing deployment errors. Existing apps may not see any deployment error, but their latest changes won't be deployed.

Appreciate the patience while we push a fix. 🙏

[2022-01-28 00:57] iqaldebaran opened #2547 "Next js App - Deploy failed to complete successfully."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-28 01:46] LuisBrime commented on #2284
I got the same issue and spent hours trying to figure out what was wrong, finally, I realized that I was using `yarn`'s **berry** version to manage my project, and when Amplify builds the app; it uses the **classic** version. So after installing again the dependencies with the **classic** version, it finally worked.

I was using NextJs version 12 and initially thought that was the problem, but I m

[2022-01-28 02:31] victorccccc commented on #2545
Thanks for the patience. This issue has been resolved

[2022-01-28 02:31] #2545 closed

[2022-01-28 04:42] ferdingler commented on #2547
Hi @iqaldebaran thanks for reporting, this issue has been resolved. Duplicate ticket: https://github.com/aws-amplify/amplify-console/issues/2545

[2022-01-28 04:42] #2547 closed

[2022-01-28 05:35] victorccccc commented on #1823
Hi, sorry for the inconvenience. This issue has been fixed. Feel free to re-open if issue persists

[2022-01-28 05:35] #1823 closed

[2022-01-28 05:41] victorccccc commented on #1707
Hi, We've added this feature in Amplify Console. You can now use backends across apps. Please take a look at https://docs.aws.amazon.com/amplify/latest/userguide/reuse-backends.html

[2022-01-28 05:41] #1707 closed

[2022-01-28 05:52] ehouse opened #2548 "Unable to delete application or environment"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-28 06:03] victorccccc commented on #2363
Hi, sorry for the inconvenience. From our database record, I saw the status is `SUCCEED` for `pr-93` branch `build 1`. Are you still seeing the inconsistency in Amplify Console?

[2022-01-28 06:12] victorccccc commented on #521
Hi, we've improved our backend build feature and `amplifyPush script` is no longer necessary. Here is the user guide to deploy backend https://docs.aws.amazon.com/amplify/latest/userguide/deploy-backend.html

Feel free to re-open this issue if you have any question

[2022-01-28 06:12] #521 closed

[2022-01-28 06:15] nguyenthihaitk opened #2549 "My application not show in Amplify Console"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-28 06:36] victorccccc commented on #2344
Hi, thanks for your information.  `postBuild` phase is currently running in `Build` step as it's defined in build settings (buildspec). We actually deploy you build artifacts in `Deploy` phase.

I'll mark this as a feature request to enhance our `Notifications` feature.

[2022-01-28 06:49] victorccccc commented on #1793
Hi, sorry for the inconvenience. From our logs, `master` backend has been deployed successfully for `zipclix` app.

Feel free to re-open this if issue persists. Thanks

[2022-01-28 06:49] #1793 closed

[2022-01-28 07:03] victorccccc commented on #1942
Hi, can you specify the use case for this in build phase? What's script you are running in the "start" property of `package.json` ?

[2022-01-28 07:10] #1310 closed

[2022-01-28 07:18] GeoffreyLong commented on #2537
For anyone who is new to AWS like me and running into the same issues: adding a new inline policy to the the role `amplifyconsole-backend-role` to allow the `UpdateEventSourceMapping` action in the `lamdba` service fixed my amplify github hook deploys! 🎉

Thank you!!

[2022-01-28 07:19] victorccccc commented on #1566
Hi, we've improved our backend build feature, you can now configure the Amplify backend across apps. Details can be found here: https://docs.aws.amazon.com/amplify/latest/userguide/reuse-backends.html

Feel free to re-open this issue if you have any question. Thanks!

[2022-01-28 07:19] #1566 closed

[2022-01-28 07:26] victorccccc commented on #2137
Hi, sorry for the inconvenience. Can you please send your Account Id to aws-amplify-customer@amazon.com? (Please include this Github issue link as the reference) Thanks!

[2022-01-28 09:30] shishkin commented on #2284
I had the same issue and thought yarn would look into `.yarnrc.yml` file to look for yarn implementation.

[2022-01-28 10:07] skrg-kotani commented on #2532
#@ferdingler

Thank you for testing!!

I tried with your reproduction code on Amplify.
But preview page shows  "none none".

I guess that  my Amplify settings is incorrect.

Excuse me,
What is the Next version of your Next app and Amplify Build Image settings??

[2022-01-28 11:29] yehonadav commented on #2110
i would also like to see this working, i'd even be happy to assist

[2022-01-28 13:00] 0x6c23 commented on #1009
This is such a big issue how is this not priorised

[2022-01-28 13:25] anastasiyamazheika opened #2550 "How to use docker compose in Amplify pipeline?"
Hello!
I want to launch my tests in docker in Amplify pipeline.

Dockerfile:
[code]

docker-compose.yml

[code]

amplify.yml
[code]

Amplify console

[code]

Did I forget something that docker isn't recognized?
Why error _docker: command not found_ is recognized only as **WARNING** instead of **ERROR**?

[2022-01-28 14:05] anastasiyamazheika commented on #2488
Dear Amplify Team,
My question is why failed info in logs is marked as [WARNING] not [ERROR]?
And when it will be fixed?

[2022-01-28 14:22] Alissonsleal commented on #2540
I was having the same problem yesterday, it started working today again, didn't have to change anything on my end

[2022-01-28 14:33] carlosbvz commented on #2545
Thanks for addressing this @ferdingler,
I can confirm it all went back to normal.

[2022-01-28 14:45] alastairayliffe commented on #2540
Hi, I just tried again and it's still not working for me (serving old builds).

Thanks,

[2022-01-28 15:16] shubhamsharma04 commented on #2537
@econtentmaps The fix for issue : https://github.com/aws-amplify/amplify-cli/issues/9480 was released with version 7.6.10. Using this version of Amplify CLI and adding `lambda:UpdateEventSourceMapping` via console should be enough.

[2022-01-28 15:23] Leandros commented on #654
Has there been any official word on this? Our builds now take over 30 minutes.

[2022-01-28 18:21] hloriana commented on #2548
Hi @ehouse 👋🏽 thank you for providing reproduction steps. Can you try deleting the backends with this AWS CLI command: `aws amplify delete-backend-environment --app-id <YOUR_APP_ID> --environment-name <THE_BACKEND_ENVIRONMENT_NAME>`

[2022-01-28 18:29] swaminator commented on #2549
@nguyenthihaitk are you sure you're looking at the right AWS region?

[2022-01-28 18:30] carlosbvz opened #2551 "Nextjs Lambda function associated with the CloudFront distribution is invalid..."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-28 18:33] swaminator commented on #2540
@Alissonsleal @charlieboles are you still facing hte issue?

[2022-01-28 18:36] ferdingler commented on #2540
@alastairayliffe any chance this is related to caching? Do you have custom headers configured where you may be setting a `cache-control` header with a long `max-age` value?

[2022-01-28 18:46] ehouse commented on #2548
That worked! Thank you for the quick turnout on a resolution.

[2022-01-28 19:17] charlieboles commented on #2540
@swaminator I cannot tell, now instead of failing silently, existing branches experience this issue #2551 on redeploy. Here's an app id for reference: dbq6c91n3hrjc. This issue is more severe as now sites will experience downtime instead of defaulting to the last working build.

[2022-01-28 19:34] carlosbvz commented on #2540
@charlieboles , agree on the severity.
This issue has taken our site practically down since most of the data cannot be served to the Front End.

[2022-01-28 19:54] MarvineGothic commented on #367
it also happens for us. This Preview stuck on a first build if it failed. Then I fixed the code and re-run the build. So the last preview build is successful, but this one in the PR is still 'in progress' and the link points to the first build.

[2022-01-28 19:56] MarvineGothic commented on #367
<img width="1352" alt="Screenshot 2022-01-28 at 20 55 00" src="https://user-images.githubusercontent.com/29262588/151612881-f5bbf8bb-a2f8-431f-a535-a58499a8665e.png">
<img width="1371" alt="Screenshot 2022-01-28 at 20 55 14" src="https://user-images.githubusercontent.com/29262588/151612883-00f2f70a-5308-46b0-b14d-344c236c122f.png">

[2022-01-28 20:03] alastairayliffe commented on #2540
I don't think so. I don't have any caching set up...

[2022-01-28 20:31] hloriana commented on #2546
Hi @lewisdonovan 👋🏽 thanks for raising this issue. Can you make sure that you're looking in the correct AWS region? If your console is set to a different region from where the apps are actually deployed then you won't be able to see them.

[2022-01-28 21:18] jhockett commented on #2552
@vladimir-virlan glad to hear you're unblocked! The issue has been transferred so that the Console team can look into why you weren't getting the `@latest` Amplify CLI version by default.

[2022-01-28 21:31] yehonadav commented on #2110
I managed to solve my issues.
Here are some errors I encountered along the way,
maybe if you had those you can solve the problem yourself like I did:

* error in amplify amplify build
build fails, usually without an error message.
Eventually I saw that I had a static directory inside my public directory that messed up something in cloud front.

cause:
static directory inside the public directory

[2022-01-28 23:05] Alissonsleal commented on #2540
no, it's working fine on us-east-2, it's slower than yesterday but atleast it's working now.

![image](https://user-images.githubusercontent.com/19809377/151633609-6977bbca-3d67-4738-932d-8a612650a7ba.png)

The 4 minute builds weren't being deployed, but the 11 minute ones are working fine

[2022-01-29 02:04] carlosbvz commented on #2551
Hi, Any update on this one?
Is it related to the #2540?

[2022-01-29 19:20] brysadler commented on #2362
I'm seeing `'info - Using webpack 4. Reason: webpack5 flag is set to false in next.config.js`. Removing `webpack5: false` from next.config.js seems to have done the trick for me

[2022-01-29 20:38] AndyW22 commented on #2500
I've tried this script and has the same result, frontend is still getting deployed when the tests fail

[2022-01-30 12:23] matart15 commented on #2127
1. created a new `nextjs` app.
2. just in case deleted `pages/api`. only 2 pages. `index.js` and `404`
3. `next build`.  Not `next build && next export` because we will use both SSG and SSR in the future.

|local|amplify on aws|
|---|---|
|time yarn build| phase.build.commands|
| 10.41s|12 minutes 39 seconds|

[2022-01-30 13:45] carlosbvz commented on #2551
Update:

New branches are randomly working (in regards to the lambdas).

Those working are presenting the same behavior after some hours (lambdas are invalid or without permission)

[2022-01-30 14:46] BrianJenney commented on #1416
App Settings -> Writes and Redirects

Add `mp4` to your source address

`</^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json|mp4)$)([^.]+$)/>`

[2022-01-30 22:41] carlosbvz commented on #2551
Update #2.

I moved my "nextjs" lambdas to aws lambas (rest API + function) as a mitigation step...

[2022-01-30 23:35] hughesjj commented on #2343
I don't think we're getting this functionality until Next.js (Vercel) themselves get their own house in order.  There's a bunch of unstable functionality in their spec, and there doesn't exist a replacement tool for their `export serverless ` target.

See: https://nextjs.org/docs/advanced-features/output-file-tracing

[2022-01-31 00:39] #2402 closed

[2022-01-31 00:53] aspiers commented on #657
Thanks for that @RobertAron! In case anyone else is wondering how to try the above hint, the Amplify app id is the string after the `/` in the App ARN, obtained by going to the app's general settings.  It is also the subdomain of `amplifyapp.com` embedded in the deployment URLs.

[2022-01-31 00:58] aspiers commented on #657
Also, `CI_PROJECT_ID` can be found by going to the project page > View Source > search for `project_id` in the HTML source.

[2022-01-31 00:59] mhamendes commented on #2110
I played a little bit with this today and still no luck, but I'm not using only next-pwa, I'm also using other plugins

In the console I don't get any of the errors you got along the way, it just shows that the service worker is not installable in the manifest area in the application menu on dev tools.

This is my next.config.js file:

[code]

and this is my manifest.json file:

[code]

[2022-01-31 04:07] nimacks commented on #2167
@rallona your repro steps are not clear
[code]
Can you clarify what you mean by `api call creating amplify app`?

[2022-01-31 05:58] gakinson opened #2553 "amplifyPush --simple fails when removing graphql API model"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-31 07:58] skrg-kotani opened #2554 "Next.js Preview mode doesn't work on Amplify?"
**Please describe which feature you have a question about?**

Do I have to set the Next.js version to a specific value(version) to implement the Next.js preview mode?

I trying to implement the Next.js Preview mode.
Next.js Preview mode is refer to: https://nextjs.org/docs/advanced-features/preview-mode

But Next.js Preview mode doesn't work on Amplify.
( I checked Preview mode is correct working

[2022-01-31 08:20] carlosriveroib commented on #2343
Well, redirects and image plugin is from NextJS 11 and it's not working on Amplify

[2022-01-31 08:55] marcelweigle opened #2555 "custom post-push.sh command hook not getting executed in amplify-console"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-31 08:56] dylan-westbury commented on #2541
@hloriana

I am facing this issue also, build just keeps failing due to timeout. I have tried 2 branches with the same backend (staging), disconnect and reconnect. I also re-select the branch to build the env.

App ID d1wuh42i6cy93b

At once stage many new backends were created for one of the branch, could have been my fault, but it was timing out for new env also.

[2022-01-31 09:19] dogma-systems-c3x commented on #2545
Hi @ferdingler I'm getting the same issue today (1/31/2022) with a new app (d16stj20da1jq0), you said issue has been resolved, there is something we need to do or change to make it work? Thanks in advance

[2022-01-31 10:22] marcolucio opened #2556 "customHttp.yml Cache-Control directive not applied anymore"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-31 13:32] aspiers commented on #657
One more tip - I found that the above YAML worked great, but in contrast it didn't if instead I added the `curl` command to an existing CI job.  In that case for some reason it wasn't considered a [merge request pipeline](https://docs.gitlab.com/ee/ci/pipelines/merge_request_pipelines.html), therefore [predefined variables for merge request pipelines](https://docs.gitlab.com/ee/ci/variables/predef

[2022-01-31 14:00] biller-aivy commented on #2556
Same for

[code]

[2022-01-31 14:11] iceye commented on #2556
here I'm experiencing the same issue

[2022-01-31 14:20] lewisdonovan commented on #2546
Hi @hloriana, yes I have double checked the region and have also changed and changed back to the correct region. The apps are still not displaying.

[2022-01-31 15:07] hloriana commented on #2546
Okay thank you for checking we are investigating this internally and will get back to you with more information.

[2022-01-31 16:29] hloriana commented on #2556
Hi @marcolucio 👋🏽, thanks for raising this issue. I was able to reproduce this behavior with the `'**/*.html' ` pattern. We are currently investigating this.

[2022-01-31 16:40] marcolucio commented on #2556
Thank you @hloriana.
Let me know asap, we are heavily relying on caching so this issue is really critical for us. If it could help: our traffic pattern on CDN changed  the 21th of January. Any temporary workaround while waiting for fix is welcome.

[2022-01-31 16:49] hloriana commented on #2556
@marcolucio I was able to get this to work; have you tried to re-deploy your app to make sure the headers are being picked up?

[2022-01-31 17:00] aherschel commented on #1157
@ganipcanot I spent some time over the weekend following this guide https://docs.aws.amazon.com/amplify/latest/userguide/running-tests.html and still encountering this issue. It seems to specifically hang when installing `mochawesome-report-generator`. Is that required for hosting to render my test results properly in the ui? If not I'm happy to remove the dep.
This app id is d2ji25jg59jbd7 and I'

[2022-01-31 17:34] gakinson opened #2557 "ExpiredToken: The provided token has expired"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-01-31 17:43] marcolucio commented on #2556
@hloriana our last deploy ended at 6.20 CET.

I performed some tests and the `**/*.html` seems to work properly now (it reports `Cache-Control: public, max-age=0, s-maxage=120, must-revalidate`)

Hovever other paths are still reporting the wrong `Cache-Control: public, max-age=0, s-maxage=2`.

If you have a look at our `customHttp.yml` we have also a bunch of paths like:
[code]

They are all repor

[2022-01-31 18:11] ryomtoob commented on #2556
I am also experiencing the problem with the `Access-Control-Allow-Origin` header. We didn't make any changes, and it stopped serving the header sometime over last weekend.

[2022-01-31 18:35] hloriana commented on #2556
@biller-aivy @iceye @ryomtoob can you share your App ID and the region they're deployed in?

[2022-01-31 18:42] biller-aivy commented on #2556
d1fc4aexqs2mpi

eu-central-1

[2022-01-31 18:51] ryomtoob commented on #2556
dx4a6kvkkrewc
us-east-1

[2022-01-31 19:41] marcolucio commented on #2556
@hloriana, If it cloud help the problem for us is starting on 26th of Jan at 6.00 AM CET, immediately after the first deploy of the day, thank you

[2022-01-31 20:14] carlosbvz commented on #2545
Hey @dogma-systems-c3x ,

I take back the "all went back to normal"

There is something still going on with Amplify, since we are facing still some issues.

In my case, I am facing this one now: https://github.com/aws-amplify/amplify-console/issues/2551

[2022-01-31 21:04] hloriana commented on #2533
Hi @trevorkirchnerID can you try to console.log the user data

[2022-02-01 00:19] carlosbvz opened #2558 "Pages not loading: RequestHeaderSectionTooLarge"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-01 01:10] asabourin opened #2559 "Requests cached even with Cache-Control: private"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-01 02:13] hughesjj commented on #2343
I'm not sure what NextJS 11 has to do with this issue, but since we've broached the subject of whinging..

After bashing my head against nextjs since 2019, my current take is that it's actually hot garbage.  They keep cramming new features into every release but rarely fix long standing, wide impact bugs from several versions ago, and often introduce new ones upon new release.  There's a lot of co

[2022-02-01 06:22] michaelcuneo commented on #2442
It has been almost 2 months since my initial request to an urgent matter, and I still have had no response, can someone please respond to this?

[2022-02-01 08:55] skrg-kotani commented on #2554
Hi! I understand the cause.
The cause seemed to be cookies(of preview mode) were not allowed in the origin request on CloudFront by default.
![CloudFront_Settings](https://user-images.githubusercontent.com/89175252/151937989-f89a0a41-cd7c-4a53-a18c-fbf56109bd26.png)

So I have a question.

- How should I set CloudFront to control cookies (add / delete cookies) from Next.js API Route?  I think I pr

[2022-02-01 10:51] duranmla commented on #2553
In my case what I have done is to come to my branch _(the intended one to be deployed)_ and deploy from my local machine using the flag `--allow-destructive-graphql-schema-updates` in the end `amplifyPush` suppose to be a script to deploy detecting the right env to deploy but if we manually deploy from local we know what and where to deploy. In my case:

1. `git checkout develop`
2. `git pull`
3.

[2022-02-01 11:35] iceye commented on #2556
@biller-aivy the appid/region is in the first comment from @marcolucio, I try to create a new app with the same code and the issue is still there.

[2022-02-01 12:10] drashtibpatel opened #2560 "Integrate dynamic subdomain with Amplify App"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-02-01 13:48] anastasiyamazheika commented on #2488
As there's no activity from Amplify team, I found a workaround for this issue.

Add this script after tests finish:

[code]
I had such settings in my `playwright.config.ts`:

[code]

[2022-02-01 14:19] salv0 commented on #1860
Is there any news about this? :)

[2022-02-01 14:40] biller-aivy commented on #2556
reDeplyod the Produktion Branch and now it is working again.

[2022-02-01 15:50] ryomtoob commented on #2556
I am still having the issue. I tried redeploying, but the header still isn't showing up.

[2022-02-01 16:10] iceye commented on #2556
Our app App Id d33tomgegl6zji - Region eu-central-1 (is the first comment one from @marcolucio ) too, it's flushing every ~1h but no changes yes

[2022-02-01 16:13] hloriana commented on #2442
Customer has confirmed receipt of necessary information via email and has been unblocked. Closing.

[2022-02-01 16:35] alastairayliffe commented on #2540
Hey, having run a few tests, it might actually be the cache :)... Does Amplify create a cache automatically? Is there a way I can clear this when running a build from git?

Thanks

[2022-02-01 18:03] ganipcanot commented on #2519
PR previews are only supported for **private repos**: https://docs.aws.amazon.com/amplify/latest/userguide/pr-previews.html

[2022-02-01 18:04] #2205 closed

[2022-02-01 18:29] #1978 closed

[2022-02-01 18:35] hloriana commented on #2553
Hi @gakinson thank you for raising this issue. Can you please try @duranmla's suggestion so you can move forward with this change? We will further investigate this behavior on our end.

[2022-02-01 18:58] hloriana commented on #2556
@marcolucio can you please try this pattern:

[code]

If you make this change in the customHttp.yml file please make sure you re-deploy.

[2022-02-01 19:40] utilscottquested commented on #550
+1

[2022-02-01 19:42] utilscottquested commented on #367
<img width="838" alt="Screenshot 2022-02-01 at 19 41 59" src="https://user-images.githubusercontent.com/97965067/152039449-a8059af2-19d8-4119-8b3f-ea6eef3aa356.png">
Happening every other PR now. ETA on a fix?

[2022-02-01 19:55] gakinson commented on #2553
Hello,

I was able to do this for our beta environment, but for some reason, when I did another deploy after using the CI/CD, it was still failing saying it was destructive. Not sure if there was some sort of amplicy cli issues with the staged/tiered deploy.

In the end we were able to overcome this by changing our deploy pattern, but we are still unable to delete the tables. This is something we

[2022-02-01 20:08] hloriana commented on #2556
@iceye and @ryomtoob can you modify your pattern by removing the leading slash and see if this resolves the issue? For example, try `file.txt` instead of `/file.txt`.

[2022-02-01 20:13] nilyin commented on #2066
Hi, any progress on that? How can I clean garbage left in multiple AWS spaces from Amplify trial projects in easy way (not by visiting directly DynamoDB and other services multiple UIs and finding/deleting unused records manually?)

[2022-02-01 20:41] kirkmin-clearmarket commented on #171
This is still an issue for us in 2022.
Despite the console stating that it's publicly viewable, the login prompt is still showing up
![image](https://user-images.githubusercontent.com/77646458/152047358-d91fd133-26bc-4df2-ac74-3d1effa50a3b.png)

[2022-02-01 22:43] hloriana commented on #2536
Hi @spharsh, you need to replace `@connection` with a more explicit directive such as `@hasOne`, `@hasMany`, `@belongsTo`, `@manytoMany`. More information can be found here: https://docs.amplify.aws/cli/migration/transformer-migration/#relationship-mappingconnection-changes

[2022-02-01 22:45] #2536 closed

[2022-02-01 23:04] hloriana commented on #2535
Hi @kevinpowe it looks like you have apps in us-east-1 as well as ap-southeast-2. You can try to run the `get-app` command to get more information about your app https://docs.aws.amazon.com/cli/latest/reference/amplify/get-app.html. You can then try to delete the domain association from the app in us-east-1 by using this `delete-domain-association` CLI command https://awscli.amazonaws.com/v2/docum

[2022-02-01 23:08] #2537 closed

[2022-02-01 23:20] shubhamsharma04 commented on #2409
Hi @cfbo , sorry for the late reply. An app for which tests fail shouldn't be deployed, and adding test section to an existing app adds the test step in the workflow. I was unable to reproduce both the scenarios, I am still investigating why this issue happened with you.

[2022-02-01 23:22] hloriana commented on #2543
Hi @Beancow 👋🏽 thank you for raising this issue. It seems like this is intermittent behavior without clear reproduction steps. I've not been able to reproduce this behavior so far. Please update this issue if this behavior occurs again.

[2022-02-01 23:42] #2543 closed

[2022-02-01 23:47] hloriana commented on #2409
The tests should run on the next deployment. Is this not happening after you've modified the amplify.yml and re-deployed?

[2022-02-01 23:51] hloriana commented on #2409
Also can you try installing the `pm2` package in the `preTest` phase and then add the `npx pm2 kill` script to the `postTest` phase as shown in the default [Cypress build scripts](https://docs.aws.amazon.com/amplify/latest/userguide/running-tests.html) to try and get the pipeline to fail upon test failure?

[2022-02-02 08:09] wattanakorn495 opened #2562 "Cannot deploy Go function Command failed with exit code 1: go mod tidy -v"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-02 09:07] marcolucio commented on #2556
@hloriana we changed our `customHttp.yml` removing all leading `/` from paths and it works properly.
Is it correct to assume that all paths must not start by `/` or do you plan to fix the behaviour?

Thank you for your support.

[2022-02-02 10:36] Develliot commented on #2519
This is not a full stack app, it is a frontend only app it should let me create previews, I have no backend at all

@ganipcanot  please can you re-open

I also don't understand why this is a thing because as the github repo owner I can control who can push/merge anyway. It's basically saying if you want to publish npm modules you can't use Amplify previews for your docsite, very annoying I might a

[2022-02-02 14:56] BMayhew commented on #2488
Thanks for your workaround I am running across this same issue.

[2022-02-02 15:38] ryomtoob commented on #2556
@hloriana removing the leading slash and redeploying resolved the issue thank you.

[2022-02-02 17:08] StephaneBischoff commented on #2317
I have a similar issue with the redirect clause in `next.config.json`.
[code]

It works locally and the build is correctly handled in Amplify.
But, I get a 503 from amplify when trying to hit `https://domain.com/robots.txt`.  Is this a CloudFront mapping issue?

[2022-02-02 21:53] hloriana commented on #2527
Hi @jacobsapps  👋🏽 apologies for the delay. It's suggested in the documentation that you migrate your DNS to Route53 in order to configure your root domain since GoDaddy doesn't support ANAME/ALIAS records. The workaround would be to setup a domain forward in GoDaddy. Please see step 6 of [Add a custom domain managed by GoDaddy](https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-

[2022-02-02 22:08] hloriana commented on #2540
@charlieboles and @carlosbvz can you try @alastairayliffe's workaround to see if this unblocks you? We are investigating this further.

[2022-02-02 22:50] tomhirschfeld commented on #2557
Hi @renebrandel @litwicki,

We're still blocked here. I don't mean to be a pain but this is blocking our deployments. From our explorations here it looks like it could be a simple fix and is related to token expiry due to our app being much larger than most amplify apps. Any chance you could connect us with an engineer we can work with to unblock this?

[2022-02-03 04:12] ferdingler commented on #2560
Hi,

We do not support wildcard subdomains at the moment. We have a feature request in our backlog, feel free to +1 on it: https://github.com/aws-amplify/amplify-console/issues/44

Thank you

[2022-02-03 04:12] #2560 closed

[2022-02-03 04:14] drashtibpatel commented on #44
+1 for wildcard domain/subdomain support

[2022-02-03 04:20] ferdingler commented on #2559
Hi @asabourin,

Your observation is correct. We have a minimum TTL defined on our distributions that forces responses to be cached for at least 2 seconds. However, we also cache based on the `Authorization` header which prevents your end users from getting mixed responses. For example, `User A` will not get a cached response from `User B`. Assuming that you use the Authorization header with a bear

[2022-02-03 04:25] ferdingler commented on #2557
Hi @tomhirschfeld , this seems to be related with your build times taking longer than 1 hour. One of my colleagues noticed that your build was reduced to 25 minutes and it appeared to finish successfuly. Is this not the case?

[2022-02-03 04:59] tomhirschfeld commented on #2557
hi @ferdingler, thanks for the reply

we reduced the build times to 25 minutes by making each deploy very small by reducing the number of changes in the graphql schema. When we include more than a small number of updates to our graphql schema the build fails. I believe we are the largest, or one of the largest projects using the amplify framework in terms of resource use and we have had other bugs

[2022-02-03 06:25] hokidoki opened #2563 "miss cloud front on browser"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-03 11:21] Develliot commented on #2519
@hloriana can you please re-open this issue

[2022-02-03 13:25] danitul commented on #654
Same for us. This would be much appreciated ! E2E tests take more than 30 minutes to run on amplify compared to about 15 minutes locally.

[2022-02-03 14:35] ganipcanot commented on #2519
Discussed internally.  The reason why we don’t support PR previews on public repos is because a bad actor could submit multiple erroneous pull requests which then you the customer would be billed for (build time).

[2022-02-03 14:46] Narrator commented on #2563
Hello, this is a known issue and we are working on a permanent fix.

As a workaround, please disable caching in your SSR distribution (Go to **Behaviors** in the CloudFront console and set min/max TTL to 0 for all behaviors). This should resolve the issue until we have a permanent fix in place.

[2022-02-03 15:00] #1519 closed

[2022-02-03 15:02] #1613 closed

[2022-02-03 15:52] #1694 closed

[2022-02-03 16:00] hloriana commented on #1582
Hi @thobson 👋🏽 are you still experiencing this issue?

[2022-02-03 16:05] hloriana commented on #2313
@AlessandroVol23 This is not possible at the moment. `AMPLIFY_DIFF_DEPLOY` will skip building a frontend if there aren't any changes detected in the `src` folder so the frontend won't be updated but it will be hosted.

[2022-02-03 16:05] #2313 closed

[2022-02-03 16:09] hloriana commented on #2232
@josea2pp If you're still having this problem, can you try @VidorX's suggestion

[2022-02-03 16:26] hloriana commented on #1762
@jackcodej are you still experiencing this issue? If so, please share your AppID and region.

[2022-02-03 16:43] arshkkk opened #2564 "Why my basic NextJS build is taking 15 minutes, that takes less than 30 seconds locally to build"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-03 16:46] daxenberger opened #2565 "Using ruby 2.6+ with jekyll/bundler"
**Please describe which feature you have a question about?**

I am building a static website with a jekyll version that requires ruby 2.5+, but I haven't found a way to do so using the (default) linux:2 build image. Even though I explicitly specified the ruby version in the `Gemfile`, I only see
[code]

I also tried setting `VERSION_RUBY_DEFAULT` in the pre-build settings without effect.

**Provid

[2022-02-03 17:12] hloriana commented on #2565
Hi @daxenberger 👋🏽 thank you for raising this issue. We are investigating this and I will report back with an update.

[2022-02-03 18:33] darmane commented on #755
@bigdave @abhi7cr Hi! I'm facing the same problem... did you find a solution?

I tried using a custom image, this is the Dockerfile.

[code]

I have tried several modifications of this Dockerfile but now I'm always getting the same error at the preBuild frontend stage.

[code]

Of course I also tried adding "yum install -y npm"

Any help will be appreciated. thanks

[2022-02-03 18:48] hloriana commented on #2564
Hi @arshkkk 👋🏽 thanks for raising this issue. With new SSR apps, it can take time for the Amazon CloudFront distribution to deploy in your account. Were all of your builds taking 15 minutes to execute? If you create a new SSR app and determine this continues to happen after the first build, we can investigate what else could be causing this behavior while the app is up.

[2022-02-03 19:22] hloriana commented on #2546
@lewisdonovan can you confirm that you're able to see your apps now?

[2022-02-03 19:24] hloriana commented on #2539
Hi @nbolland  👋🏽 thank you for raising this issue. We are looking into this.

[2022-02-03 20:38] ferdingler commented on #2557
@tomhirschfeld thanks for the detailed response. We confirmed that this is related to the expiration time we set on the temporary credentials we embed during builds. We will work on a fix to support longer running builds. But in the meantime, anything you can do to keep the build duration < 45 minutes will be helpful to give us some time to work on this. Will keep this thread updated with more inf

[2022-02-03 20:45] darmane commented on #755
Solved, thanks to [Slawek Kolodziej](https://github.com/slawekkolodziej/aws-amplify-lfs)'s Dockerfile.

This is my final Dockerfile for a NextJs static site with git-lfs.

[code]

[2022-02-03 20:50] arshdeep-delhivery commented on #2564
Hi @hloriana
Yes, i made around 3 builds with very template provided by NextJS
All of them took 15 minutes.
I was hoping to use amplify for my upcoming project.
Also I'm not able to create lambd , while pushing gives error,

Will raise seperate issue for that

[2022-02-03 21:07] wwb00 commented on #2414
Hi, I am having the same issue. My site deploys properly on the amplify subdomain, but fails to load CSS on the custom domain.

[2022-02-03 21:24] nbolland commented on #2539
Thanks @hloriana , very much appreciated. I've been able to replicate it several times with other CodeCommit repos (obviously it's related specifically to CodeCommit) and each time I replicate it it does the same thing, defaults to an existing service role I'm currently using for a separate Amplify app from a CodeCommit repo in the same region even though I'm selecting create a new service role.

[2022-02-04 01:55] hokidoki commented on #2563
@Narrator hello Narrator

it work .but It's not a good idea to manually set the TTL every time I deploy.

When I asked the support team, they said that TTL is set by default and there is no way I can change it before deployment. Does any way exist?

[2022-02-04 02:33] hokidoki commented on #2564
I am in a similar situation.

in my case Logs are recorded for 2 minutes, no more updates, and after 10 minutes, everything is finished and a log is created. Obviously, it takes 116 seconds according to the done message, but it takes about 10 minutes to receive the SSR build complete message after starting SSR, which is the work after that.

sir build complete message is not appear my local

[2022-02-04 05:06] andrew0x1A4 commented on #1458
I have also just experienced this.  Not only did the preview build complete successfully and not have the success reflected in GitHub properly.

Additionally, but probably worthy of a separate issue, the Amplify Builds are taking forever! From 10 to nearly 20 minutes for a very small, frontend only, Next.js project. Locally this is less than a second build. The Preview Builds feel like they take t

[2022-02-04 08:24] iceye commented on #2556
@hloriana I confirm too

[2022-02-04 08:49] nguyenthihaitk commented on #2549
today, more one Amplify application not show in Amplify console.
Region: Tokyo
Application name: uz-front-member-suigeitei
note that each region default max 25 application. But we request to increase quotas to 300.

[2022-02-04 08:51] nguyenthihaitk commented on #2549
@swaminator
yes am sure right region!

[2022-02-04 10:47] asabourin commented on #2559
Thanks for confirming @ferdingler, so is there no way to configure the minimum TTL to be 0?

This is a blocker for us because we have some speed sensitive workflows where a user triggers a refresh of some data within 2s of that data being loaded initially. The same data is fetched from the cache which results in confusion as the user doesn't see the effect of their action.

[2022-02-04 12:57] myroslavmail commented on #773
some scenario is needed,  but would be also perfect to allow some access (per redirect) per IP address. Cause I do not want everybody to watch things which I do not want to share at a specified time

[2022-02-04 16:57] hloriana commented on #2549
@nguyenthihaitk What's the application ID? Try running this command to find it: https://docs.aws.amazon.com/cli/latest/reference/amplify/list-apps.html

[2022-02-04 17:56] hloriana commented on #2541
Hi @dylan-westbury what region is your app deployed in?

[2022-02-04 20:36] hloriana commented on #2564
@arshkkk @hokidoki can you share your appID and region?

[2022-02-04 21:01] hloriana commented on #2405
Hi @perdomofranklindev 👋🏽 it seems like your redirect is working now. If you're still running into this issue please feel free to re-open.

[2022-02-04 21:01] #2405 closed

[2022-02-04 22:30] lisbuenas commented on #44
At moment solved without Amplify, combining Codepipeline with S3 bucket and configuring the wildcard subdomain to a root application, to map subdomain and configure the application on runtime.

[2022-02-05 01:01] zgr024 commented on #44
I solved this issue by using the AWS SDK to create/update the subdomains as needed. I did this after asking them to increase my limits which was a feat in and of itself. No need for wildcards anymore.

[2022-02-05 04:22] danielqba commented on #882
no progress? same problem here!

[2022-02-05 05:02] arshdeep-delhivery commented on #2564
AppId: d1mns4pye3d2fz
Region: ap-south-1

[2022-02-05 06:22] jakejcheng commented on #2552
holy moly I spent two hours adding/removing config files, re-pulling amplify, redeploying commits and researching this issue and eventually found this https://github.com/aws-amplify/amplify-cli/issues/9498. But it was still no help and finally forcing the Amplify CLI version in build settings works!

So how this issue was triggered for me was:
- Everything was fine until 4 hours ago (last frontend

[2022-02-05 10:27] tradingpits commented on #56
I am moving away from Amplify. In my case this is a strong deal braker.

[2022-02-05 11:11] multivoltage commented on #1987
Any news 2?

[2022-02-05 11:42] mrxder commented on #1987
For me, this solution solved the issue:
[](https://github.com/aws-amplify/amplify-console/issues/1987#issuecomment-885217940)

[2022-02-05 11:43] mrxder commented on #1987
For me, this solution resolved the issue:
[https://github.com/aws-amplify/amplify-console/issues/1987#issuecomment-885217940](https://github.com/aws-amplify/amplify-console/issues/1987#issuecomment-885217940)

[2022-02-05 12:39] multivoltage commented on #1987
Ok good but i think is not a good idea to implement

[2022-02-06 09:18] mrudulp opened #2566 "unable to delete amplify apps"
Hi,

I am unable to delete AWS Applify apps created while following [tutorial](https://aws.amazon.com/getting-started/guides/deploy-webapp-amplify/module-one/).

I have looked up with a related thread (https://github.com/aws-amplify/amplify-console/issues/1330) and tried things suggested on the thread.
I have deleted CloudFormation Stacks and S3 Buckets but that has not helped.
Also tried to `aws

[2022-02-06 10:11] amitvchaudhary commented on #2552
Facing same issue while checking out the branch. Below is the error message.

Invalid feature flag configuration

These feature flags are defined in the "amplify/cli.json" configuration file and are unknown to the currently running Amplify CLI:
  - graphqltransformer.showfieldauthnotification

This issue likely happens when the project has been pushed with a newer version of Amplify CLI, try updat

[2022-02-06 10:14] dottodot commented on #2392
I'm seeing the same behaviour as @shaunchander. Any idea when this might be fixed?

[2022-02-06 10:39] dottodot commented on #2343
Netlify supports nextjs 12 https://github.com/netlify/netlify-plugin-nextjs/blob/main/docs/release-notes/v4.md so I would have thought it is possible

[2022-02-06 16:23] duyetphamm commented on #2552
I got the same issue. Please help

[2022-02-06 16:51] duyetphamm commented on #2552
you should update version of Amplify CLI first. Go to source folder and run npm i -g @aws-amplify/cli @amitvchaudhary

[2022-02-06 17:36] ivanlori commented on #2203
I have the same problem, how did you solve that?

[2022-02-06 19:07] Abdeluswho commented on #2552
Adding amplify-cli to the build setting fixed the issue for me. Thanks

[2022-02-06 21:56] j-mastr commented on #2479
I experienced the same issue and tried to apply the same measures as described above.

In the end, I solved it by using `amplify pull` (as it can be copied from the backend env in the console), reverting the changes introduced by this except for the `team-provider-info.json` change, and `amplify push` locally. Afterwards, `Redeploy this version` from the console worked as expected for me.

For thi

[2022-02-06 22:12] simpson commented on #56
Check out Cloudflare Pages + Workers, unreal performance, no cold painfully slow cold starts

[2022-02-07 00:03] jonahx commented on #1542
Is fixing this on the roadmap?

[2022-02-07 00:05] hokidoki commented on #2564
@hloriana

AppId : d2joh8jz57nkvq
region : ap-northeast-2

[2022-02-07 00:50] mawhtin commented on #2371
Thank you! 🙂

[2022-02-07 03:57] dersven98 opened #2567 "Domain activation not working!"
Hi, I have also a bit confusing Problem.

You can see on this Screenshot, that I have added all CAA on my domain:
![CleanShot 2021-12-23 at 13 07 58](https://user-images.githubusercontent.com/75265769/147238362-50b852f6-f041-448b-b0f9-b224923fde16.png)

Next I go to the AWS-Console, and start the Verfification Process.
And here I get the following Problem:
![CleanShot 2021-12-23 at 13 10 15](https

[2022-02-07 05:26] nguyenthihaitk commented on #2549
Hi @hloriana
below the applications are not displaying.
1.   App ID: ddgmed7h1b6ts
      App Name: uz-front-member-moripa
2. App ID: dowdj0k9jpet2
     App Name: tsunagri-front-ec-furutorie-nakamura
3. App ID: du9i89ylccqk2
     App Name: tsunagri-front-ec-onedropfarm
4. App ID: dbsywzyneh1n2
    App Name: uz-front-member-suigeitei

Could you check please.
Thanks

[2022-02-07 09:32] aminshamim opened #2568 "Cannot assign custom domain with my app"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-02-07 14:15] zamargab opened #2569 "Can not access list of Amplify apps"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-07 15:18] lewisdonovan commented on #2546
@hloriana yes, thanks so much! Do we know what the issue was? Want to avoid this happening again in future, so would be good to know if it's anything our end. Thank you.

[2022-02-07 15:35] SantoshRaoMea commented on #2509
Hello,
Im having the same issue:

2022 15:22:07 GMT+0000 (Coordinated Universal Time) Invalid AttributeDataType input, consider using the provided AttributeDataType enum. (Service: AWSCognitoIdentityProviderService; Status Code: 400; Error Code: InvalidParameterException; Request ID: 7682f3b7-b042-498c-b35b-e2c9848b51c5; Proxy: null)
                                 UPDATE_ROLLBACK_IN_PROGRESS amp

[2022-02-07 16:39] aminshamim commented on #2568
resolved the issue automatically.

[2022-02-07 16:39] #2568 closed

[2022-02-07 17:06] hloriana commented on #2539
Hi @nbolland I was able to successfully create a new role when hosting my app in CodeCommit and did not come across this behavior. When you create this new role, what policies are you adding? Also if you could provide a screen shot of the role used being different from the role you created and selected, that would be helpful. Thanks!

[2022-02-07 18:09] mmirus commented on #2409
I also hit this problem (failed tests didn't stop deployment). Using `pm2` as suggested above fixed it (failed tests now stop deployment). Thanks for the recommendation.

Can you help me understand what `pm2` is doing here and why it's needed?

-----

Here's what I had that was not working, for a standard create-react-app project that runs tests with jest:

[code]

## Expected results

Failed test

[2022-02-07 23:02] nbolland commented on #2539
Hi @hloriana thanks for looking into it, I just gave it another try and I'm still seeing the same behavior. To clarify, I'm not manually creating the new service role, I'm just selecting the create new service role with read-only permissions option on the configure build settings page and then going through as normal, however it fails and then I look at the build settings page and I see there was

[2022-02-08 06:04] xiaoxiaosaohuo commented on #2566
yeah, I have this problem too, so strange, I also have tried all the solutions, however, all of them are not helped. Actually, when I delete the app in the console, the remove api status code is 404 ,`https://amplifybackend.ap-northeast-1.amazonaws.com/backend/d2b3nfswdza4da/remove`

[2022-02-08 07:40] exchangebooks-in commented on #664
https://dev5640.d37vslkboi4t5y.amplifyapp.com/ not working.
showing This site can’t be reachedThe webpage at https://dev5640.d37vslkboi4t5y.amplifyapp.com/index.html might be temporarily down or it may have moved permanently to a new web address.
ERR_TUNNEL_CONNECTION_FAILED

[2022-02-08 09:31] gnsslrrcs commented on #2569
Hello, we are also experiencing the same issue? What is the fix for this?

[2022-02-08 09:50] #2522 closed

[2022-02-08 09:53] captainbrod opened #2570 "Next JS / Node Google API - client network socket disconnected before secure TLS connection was established"
I am truing to connect to a googleApi to push some  data to a google sheet. This all works fine locally. Is this a limitation of amplify. i.e. you can't call an api. I am calling it from pages/api as the google credential cannot be exposed client side.

FetchError: request to https://www.googleapis.com/oauth2/v4/token failed, reason: Client network socket disconnected before secure TLS connection

[2022-02-08 10:32] nenjamin2405 commented on #1876
I've just created my new AWS account and followed exactly what is suggested above with no luck. I use the recommended permissions and attached the new created policy to the role. Hi @ferdingler, could you please help us to check this issue?

[2022-02-08 12:18] zamargab commented on #2569
Hello.. have you looked into this? also, its not possible to submit an App id as this issue isn't specific to a particular app but rather the entire console. It doesn't even load my apps and I have already submitted details for region

[2022-02-08 17:53] MjdBh commented on #2426
@shubhadip I used the following command and it worked for me.

[2022-02-08 18:35] gawshan commented on #2552
@Abdeluswho , where did you add it? I am still having the issue.

[2022-02-08 19:41] hloriana commented on #2566
Hi @mrudulp 👋🏽 thanks for raising this issue. It appears that those have been delete, are they still visible in your console?

[2022-02-08 19:49] hloriana commented on #2566
@xiaoxiaosaohuo your application also appears to have been deleted. Can you confirm if they're still showing up in the console?

[2022-02-08 19:59] Abdeluswho commented on #2552
In the Amplify UI if you go to build settings and scroll all the way down there is a section for packages. Add it there and set it to latest. That should work

[2022-02-08 20:08] hloriana commented on #2569
Hi @zamargab and @gnsslrrcs can you confirm that your user has permissions to list apps: https://docs.aws.amazon.com/amplify/latest/userguide/security_iam_permissions-reference.html

[2022-02-08 20:50] gailuron1964 commented on #2427
I was experiencing issue with build failing due to some local imports not working.

2022-02-08T19:59:26.299Z [WARNING]: ./src/documents/document.js
                                    Module not found: Can't resolve '../appBar' in '/codebuild/output/src625325068/src/portfolio-app/src/documents'
                                    Import trace for requested module:

[2022-02-08 21:45] hloriana commented on #2026
Hi @drumcircle if you're still running into this issue please refer to these guides:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps tha

[2022-02-08 22:26] hloriana commented on #2027
If you're still seeing this log message please feel free to re-open.

[2022-02-08 22:26] #2027 closed

[2022-02-08 22:49] hloriana commented on #1817
Hi, if you still need help with this, please feel free to re-open.

[2022-02-08 22:49] #1817 closed

[2022-02-08 23:33] hloriana commented on #2016
I was not able to reproduce this behavior. If you're still running into this issue please feel free to re-open.

[2022-02-08 23:33] #2016 closed

[2022-02-09 00:10] #2031 closed

[2022-02-09 00:18] #2044 closed

[2022-02-09 01:15] nguyenthihaitk commented on #2549
@swaminator @hloriana
Hi support team,

I'm trying to remove Basic authentication, but when I checked the Amplify Console screen, it seems that the top page of TSUNAGRI (tsunagri.com) disappeared.
APP ID: d803qk67ysiqo
App Name: tsunagri-top
This is important application. So, could you check and resolve this as soon as possible please!

Thanks

[2022-02-09 06:00] dersven98 commented on #2567
hi, thanks, i am using cloudflare, but i will test your instructions.
Am 8. Feb. 2022, 22:17 +0100 schrieb hloriana ***@***.***>:

[2022-02-09 07:26] tsundzu-skylight opened #2571 "XML file does not appear to have any style information associated with it"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-09 09:52] SergeyPoznyakAkvelon opened #2572 "Many Amplify apps, Github Webhook limit"
**Please describe which feature you have a question about?**
Amplify Auto Deployment from Github

**Provide additional details**
We have many white label apps which are all built from the same monorepo, in addition to that we have multiple testing environments for each. Total number of apps is just below 20, which is the Github Webhook limit, when trying to add a new white label we can't connect t

[2022-02-09 11:06] zamargab commented on #2569
![Screenshot 2022-02-09 at 00 02 16](https://user-images.githubusercontent.com/75364779/153185877-9afe94f9-8b66-4524-84fa-06ed846876b2.png)
Yes , the user has permissions to list apps, Everything was working just a couple of days ago and I didn't change any settings at all.

[2022-02-09 12:03] thembimoyo2020 commented on #1009
Its amazing how such a HUGE problem has not clear solution.

[2022-02-09 13:31] PixellUp commented on #2127
A very simple Next JS website took a whooping 40 min to deploy. This is unacceptable!!!

![image](https://user-images.githubusercontent.com/4704339/153211130-51e9a009-1d3d-4994-8497-82651addf4bd.png)

[2022-02-09 15:25] 3kumar commented on #2436
I am getting a similar warning and with the same amplify.yml config. Did you manage to find a fix for this?

[2022-02-09 16:07] McLeroy commented on #2569
I have this same issue.
I used to have 5 apps on the Amplify Console. Just yesterday I logged in and all my apps were gone.
I even tried creating a new app but immediately I navigate to "All apps" the app is gone. Yes, I know Amplify is region specific. I created the app in "us-east-1" and tried to query it in "us-east-1".
I have attached a drive video link to better explain.

[https://drive.googl

[2022-02-09 16:12] McLeroy commented on #2549
I have this same issue.
I used to have 5 apps on the Amplify Console. Just yesterday I logged in and all my apps were gone.
I even tried creating a new app but immediately I navigate to "All apps" the app is gone. Yes, I know Amplify is region specific. I created the app in "us-east-1" and tried to query it in "us-east-1".
I have attached a drive video link to better explain.

[https://drive.googl

[2022-02-09 16:59] ganipcanot commented on #1360
Maybe I don't fully understand the request could you help me understand?

As it stands currently if you have your mainline branch say `main` which is just a static HTML page with "Hello" on it.

And you're working on `coolnewfeature` branch configured for previews against `main`.

When you make a text change on `coolnewfeature` to change "Hello" to "Hello World" and submit it for preview it will b

[2022-02-09 17:03] theelk801 commented on #1360
What if I have a branch called `anothernewfeature` that changes something else and I merge it before merging `coolnewfeature`, and then I push something new to `coolnewfeature`?

[2022-02-09 18:01] sohammondal commented on #1935
I downgraded to v11.1.3 and set webpack5 to false and then it worked for me.

[2022-02-09 18:38] justyn-clark commented on #2127
Dude I'm done with this setup and possibly Next altogether after this. Do yourself a favor lol ike I did and join the Remix.run team. It will change your life.

[2022-02-09 18:41] justyn-clark commented on #2127
Dude I'm done with this setup and possibly Next JS and Gatsby altogether after this.

Do yourself a favor like I did and join the Remix.run team and deploy on Fly.io. It will change your life.

[2022-02-09 19:30] jmwaffle opened #2573 "Main branch/site works but dev branch site returns 404"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-02-09 20:08] ganipcanot commented on #1360
This sounds like something that can be solved with the following git workflow:

You can to rebase `coolnewfeature` against `main` to get the latest changes from `anothernewfeature` which was checked into `main`.

Then once you do that you can push changes to `coolnewfeature` which would have both changes.

**So the workflow would be:**
1. Check-in `anothernewfeature` changes
2. `git pull` to get l

[2022-02-09 20:47] nilyin opened #2574 "How to fix AppSync corrupted query schema for Amplify app' backend"
**Please describe which feature you have a question about?**
My App was deployed using Amplify Web GUI and link to git repo. After a while I have changed the code-base and merged it into the linked git repository branch. The app was automatically redeployed. My app web frontend client started giving errors. I've researched it and found that AWS corresponding resource in AppSync (actually my GraphQ

[2022-02-09 21:00] jmwaffle commented on #2573
tried assigning sub domain again, did not work.

https://dev.dbrhmwygg9vys.amplifyapp.com , dev.hypex.io does not work but
https://master.dbrhmwygg9vys.amplifyapp.com does

[2022-02-09 21:12] jmwaffle commented on #2573
changed the redirect rule to 200, works now

[2022-02-09 21:12] #2573 closed

[2022-02-09 22:37] petr0sec commented on #56
Also considering moving away from Amplify if we don't have an option to use a custom certificate in ACM (or in general). Hoping this is being resolved.

[2022-02-10 00:45] amermoosa commented on #2566
yes still showing for me to id [441809585417] its a glitch inside your system fix that without given no meaningful answers by asking still showing or not (westing time) figure out that and solve it  .

[2022-02-10 00:54] myartsev commented on #2553
+1.
This issue appears to prevent anyone from removing graphql models while using the Amplify CI/CD pipeline.
@gakinson, how did you modify your deploy pattern to get your subsequent CI/CD builds to work?

[2022-02-10 04:07] nallibtermatrac commented on #1876
Same here. I followed every step in Amplify Studio.
When I deploy... permission denied.
<Code>AccessDenied</Code>
<Message>Access Denied</Message>

[2022-02-10 09:35] NivBraz commented on #1271
same issue for me, is there anything better then this script ?

[2022-02-10 11:03] andypanix commented on #2284
Same error as above, `No ssrResources.json file`. The build procedure was stopping at the SSG phase, and was skipping the SSR build.

I've a mixed SSG and SSR nextJS 12 app and I solved the problem adding this line  `"export": "next build && next export",` to the `package.json` script.

[code]

[2022-02-10 11:21] genert commented on #280
You can achieve this by creating a stage branch, and setting password on that.

Otherwise manual intervention is required as far I am aware.

Other option would be create duplicate app, and set global password for it, and use it for testing. You need to disable preview for the original app though for this to work.

[2022-02-10 12:50] gakinson commented on #2553
@myartsev Instead of deleting the resource, I just ended up leaving it existing until the amplify team can resolve this issue. But if we wanted to, we could pull the environment locally and push the change, but we are refraining from that for now since it is okay that the resource sits there unused until this is addressed.

[2022-02-10 12:53] gakinson commented on #2553
@myartsev Sorry, I didn't really answer your question. I should have mentioned that my initial goal was to delete and rename a model with different indexes. We ended up keeping the same model name, but deployed each key change. I should have clarified this on my earlier comment as it was kind of irrelevant to the main issue.

[2022-02-10 12:57] gakinson commented on #2553
@hloriana I was wondering if there was any progress/update on this issue?

[2022-02-10 15:13] anastasiyamazheika commented on #2550
Hello @hloriana, are there any updates?

[2022-02-10 16:42] glazovg commented on #2341
Having same issue, does anyone figure out how to fix it? 😞
CC @hloriana

[2022-02-10 17:23] aimeeu commented on #367
I also experience this problem when the build fails. AWS Amplify doesn't notify GitHub of the failure.

I am evaluating AWS Amplify as a host for my company's static docs site, which uses Hugo. I deliberately created a commit that I know will not build, pushed to existing PR, the build fails in Amplify in under 2 minutes, but the GH PR doesn't reflect that failure - stuck in "In progress - This ch

[2022-02-10 17:55] aimeeu opened #2575 "Build failure not communicated to GitHub pull request"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-10 18:23] dominicfarr opened #2576 "CI/CD failed because of invalid feature flag configuration during getting-started hands-on react tutorial"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-10 19:47] aroradev-dms opened #2577 "Not able to access Existing Apps in Amplify console"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-10 19:51] dominicfarr commented on #2576
I have to recreate app due to another issue. Here is the new AppID: dxjcsqpgcj27z Region: eu-west-2

Unfortunately, fixing the build image amplify cli to 7.6.15 [the same as the amplify cli on my local]

I now get an `Could not initialize 'staging': Access Denied`

Here is the full log [log.txt](https://github.com/aws-amplify/amplify-console/files/8043865/log.1.txt)

[2022-02-10 19:51] gakinson opened #2578 "Nothing is building due to git connection issues"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-10 20:13] gakinson commented on #2578
Builds seem to be working again. I am guessing it was a transient issue. Feel free to close if there is nothing to look into.

[2022-02-10 20:21] adi518 commented on #2341
No fix and it's probably stupid easy to fix, yet they don't prioritize it.

[2022-02-10 21:14] ericYagerResume commented on #991
I've been struggling with redirects and images not loading for about a week and this ^^^ fixed both issues. Just wanted this right at the bottom for anyone else coming here for input.

[2022-02-10 22:43] hloriana commented on #2572
Hi @SergeyPoznyakAkvelon 👋🏽 thank you for raising this question. If you were to remove any of the GitHub webhooks for your monorepo, then the applications associated with those webhooks would not deploy.

[2022-02-10 22:50] #2578 closed

[2022-02-11 00:46] mattryall opened #2579 "SSL certificate expired on web after auto-renewed in ACM"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-02-11 00:49] mattryall commented on #2579
Just to mention, I don't think this is a CloudFront issue, as it was reported by a user in Ireland, and I'm in Sydney seeing the same problem. It seems like the expired SSL certificate caching must on the ELBs or in Amplify itself (depending on what terminates the SSL connections).

[2022-02-11 02:41] douglas1850 commented on #2417
I'm getting this same error on the root user account - admin access to everything, and MFA is set up.

[2022-02-11 02:53] ktravelet commented on #2353
👍

[2022-02-11 12:17] yassinecc opened #2580 "Get custom domain host in SSR application"
**Please describe which feature you have a question about?**
Custom domains

**Provide additional details**
We are using Amplify to deploy an SSR application and have set up subdomains with wildcard e.g. "*.myapp.com" through Cloudfront as an alternate domain name. Everything is working fine, except that the SSR application picks up the lambda function name as host and not *.myapp.com
The applicat

[2022-02-11 12:26] sorokinvj commented on #2491
@hloriana sorry for being silent! how do I know the version of the CLI when I first created this app? current is latest, 7.6.15. Autodetection was "on" when this issue appeared. I deleted now all Studios and turned it off, after that nothing popped up again

[2022-02-11 12:27] sorokinvj commented on #2491
@swaminator nope, they were created I don't know how and for who. These are fake names

[2022-02-11 13:53] multivoltage commented on #1987
Please can you say me where go secrets vars using the trick:
`
env: {
    pippo: process.env.pippo
}
`

[2022-02-11 15:16] multivoltage commented on #1170
???? any news

[2022-02-11 16:12] multivoltage commented on #2281
Me too

[2022-02-11 16:18] dominicfarr commented on #2576
I ran this build with the image fixed to 7.6.19 and it didn't improve my situation.

[code]

[2022-02-11 17:21] hloriana commented on #2569
@zamargab @McLeroy @gnsslrrcs we are investigating this currently. I will update you all shortly.

[2022-02-11 17:23] hloriana commented on #2577
Hi @aroradev-dms, are you only able to see a few of the apps and not all of them? Or are you not able to see any apps in the console at all?

[2022-02-11 17:23] dominicfarr commented on #2576
@hloriana Is there anything I can do to move this forward? Can I fix the version of libraries and images to something to that allows we to add Auth to a project. Build in a different order or method. Import an image from docker. Something?

[2022-02-11 17:46] carlosbvz commented on #2540
Hi @hloriana ,

Not really,
I made a test this morning (enabling my NextJs lambdas again), but I got the same error:
[code]
<img width="807" alt="Screen Shot 2022-02-11 at 11 45 51" src="https://user-images.githubusercontent.com/8539233/153642433-29815ec4-ef85-4290-ba31-232a0236ce5f.png">

[2022-02-11 17:48] carlosbvz commented on #2551
Update #3.

Hi @hloriana ,
Thanks for looking into this one.

I made a test this morning going back to my NextJs lambdas removing our cache from the amplify.yml file as suggested in https://github.com/aws-amplify/amplify-console/issues/2540 , but got not positive results.

[2022-02-11 17:54] hloriana commented on #2577
The team is working on a fix for listing apps when the count exceeds 200.

[2022-02-11 20:24] repepto opened #2581 "App stucks on "Retrieving deployment details..." after drag&drop deployment."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-11 22:13] ferdingler commented on #1987
An alternative approach is to use `.env` files as described in the NextJS documentation https://nextjs.org/docs/basic-features/environment-variables. With this approach you don't need to specify the variables in your next.config.js file.

[2022-02-12 06:04] shetshrikant commented on #36
Any update on this one?

[2022-02-12 10:22] sufiyank97 commented on #2436
Any Update?

[2022-02-13 15:05] hnajera commented on #654
+ 1

[2022-02-13 18:05] pogorsky commented on #2190
Any updates on this issue?

[2022-02-13 19:56] shyos commented on #2465
Do you have an update on this?

[2022-02-13 20:52] alacret commented on #2175
UPDATE:
This was happening to me on next@12.0.9, After testing many many things, I just downgraded the version to next@12.0.8 and it started working normally.

[2022-02-14 03:43] alzotov opened #2582 "An error occurred during the push operation: Cannot iteratively rollback as the following step does not contain a previousMetaKey: {"status":"DEPLOYING"}"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-14 07:24] joninaosk opened #2583 "CNAME already exists"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-02-14 08:31] dqunbp commented on #2345
@SebastianSchenk any updates?

[2022-02-14 08:33] anastasiyamazheika opened #2584 "Install docker on Amplify build agent"
**Please describe which feature you have a question about?**
Amplify CI

**Provide additional details**
Hello, I have a question. Does your team have a script on how to install the properly docker on Amplify build agent?
Thanks!

Regards,
Anastasiya

[2022-02-14 08:42] dqunbp commented on #2551
Confirm this problem

[code]

[2022-02-14 09:46] Ifeanyi-Kingsley-Nwabor commented on #2576
@dominicfarr, @hloriana, I am also experiencing the same situation. Please is there any way I could get past this.
``
                                 # Starting phase: build
2022-02-14T07:26:38.728Z [INFO]: Note: It is recommended to run this command from the root of your app directory
2022-02-14T07:26:44.036Z [WARNING]: - Initializing your environment: staging
2022-02-14T07:26:44.115Z [INFO]: Co

[2022-02-14 10:01] SebastianSchenk commented on #2345
No, nothing new here. I ended up not using the i18n domain feature and instead, changed the default language based on the brunch in CI/CD. This means I have one prod branch for each language. This workaround is quite tedious, but it helped me passing by this problem.

[2022-02-14 10:18] Orange289 commented on #14
+1

[2022-02-14 11:37] dqunbp commented on #2345
@SebastianSchenk @chrisbonifacio
I looks like that issue is gone, my app renders correctly for each language

[2022-02-14 19:53] nimacks opened #2585 "test"
**Please describe which feature you have a question about?**

**Provide additional details**

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**

[2022-02-14 19:55] #2585 closed

[2022-02-14 20:06] hloriana opened #2586 "Test"
**Please describe which feature you have a question about?**

**Provide additional details**

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**

[2022-02-14 21:07] #2586 closed

[2022-02-14 23:03] walesdata commented on #296
Hello!

If you are having this problem, I was able to fix it by:
1. Go to the app dashboard where you can see your stuck deployment
2. Click the "provision" step in the stuck deployment, this will take you to a provision tab on another page.
3. On that page, click the orange "View build history" button in the upper right
4. On the build history page, you'll see your 'stuck' builds. Go to each one

[2022-02-15 00:47] dylan-westbury commented on #2541
@hloriana

us-east-1.

I believe the issue is, AWS created duplicated pinpoint resources, I removed one thinking it wasn't in use but it actually was.

https://github.com/aws-amplify/amplify-cli/issues/5079

[2022-02-15 08:07] swaminator commented on #2461
@24jr you need to connect a new repo, and then when you connect the branch you should be able to connect it to a backend from a different app.

[2022-02-15 08:14] ssokl601 opened #2587 "Build timed out in preTest phase: Cypress CI Angular project"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-15 12:57] beam36 commented on #2563
@Narrator I tried the workaround you suggested but doesn't seem to work for me
My app id is d3aaj2ksbpdnai, region ap-southeast-1
We use this script to test
[code]

[2022-02-15 15:42] dominicfarr commented on #2576
@Ifeanyi-Kingsley-Nwabor have you tried anything that gave you progress? If so can you share it with this thread. Thanks

[2022-02-15 19:07] dominicfarr commented on #2576
Adding a new role worked. 🎉

However, I'd like to understand why the generated role was not correct...or if the new role I have created is too wide. @hloriana Can you answer this question?

[2022-02-15 20:20] jamessrose opened #2588 "Status stuck at Domain Activation stage"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-02-15 21:25] joninaosk commented on #2583
I am so really stuck here, any idea what could be wrong?

[2022-02-15 21:29] #2587 closed

[2022-02-15 22:02] saadataz commented on #1594
@bazoukiwi judging by the error

it looks like you need to install the dependency `pg_config` or `pg` in the build container before running the `npm install` step

[2022-02-15 22:33] hloriana commented on #2448
If you're still having this problem, feel free to re-open.

[2022-02-15 22:33] #2448 closed

[2022-02-15 22:50] luiskcs89 opened #2589 "Build succeeds but backend changes are not deployed"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-15 23:22] BrandonEscamilla commented on #2386
How did you solve this? I update next auth to v4 and its happening to me

[2022-02-15 23:23] cobaltplay commented on #2417
hey all. just sharing. I had the same problem as above. Looks like the problem was because I had manually set my Mac system time to the wrong zone. Ie. I'm in South America (-3 GMT), and I wanted my mac clock to show UK time (GMT-0) because I'm working based on a UK timezone. Looks like AWS didn't like this. Setting my clock back to the correct timezone (GMT-3) based on my physical location seemed

[2022-02-16 05:46] nickmcmillan commented on #2127
[justyn-clark](https://github.com/justyn-clark) The problem this thread is discussing relates to Amplify's slow SSR build system, the bottleneck has nothing to do with using NextJS, even less to do with Gatsby.

[2022-02-16 06:59] jimxzai opened #2590 "can't pull or switch environment"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-16 07:03] jimxzai commented on #2590
correction: this should be amplify-cli bug

[2022-02-16 07:06] kirkmin-clearmarket commented on #2348
@ferdingler Any updates on this?

[2022-02-16 07:24] Rafcin commented on #2348
@kirkmin-clearmarket I would recommend reaching out to the Amplify team over Discord or email and asking if they can enable the location headers. They were able to manually enable the headers for my deployed applications.

You'll also need to slightly tweak your deployment, I'm using Next and it uses @sls-next/serverless-components, so you'll need to create a new serverless config in your project

[2022-02-16 07:29] Rafcin commented on #2348
Also if anyone from the Amplify team stumbles upon this, don't close this until a working solution is added to the CLI or console.
If you do close it, I'll open another one.
I'm watching 👀

[2022-02-16 08:57] kirkmin-clearmarket commented on #2348
@Rafcin Thanks a ton, Raf! Will try that out! c:

[2022-02-16 14:08] tscole opened #2591 "Build fails on front end stage with no error"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-16 14:25] hloriana commented on #2579
HI @mattryall thank you for raising this issue, we are investigating this.

[2022-02-16 14:37] hloriana commented on #2584
Hi @anastasiyamazheika 👋🏽 here are the instructions to setup a custom build image with your preferred dockerfile: https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html

[2022-02-16 14:37] hloriana commented on #2584
If you need further assistance, feel free to re-open this issue. Thanks!

[2022-02-16 14:37] #2584 closed

[2022-02-16 14:46] hloriana commented on #2580
Hi @yassinecc 👋🏽, can you provide your App ID and region so we can further investigate?

[2022-02-16 19:11] gakinson commented on #2557
Hello,

Following up on this to see if there has been any work on fixing this?

Thank you

[2022-02-16 19:12] hloriana commented on #2569
@zamargab @McLeroy @gnsslrrcs if you're still experiencing this issue can you please provide an AppID and region so we can further investigate what could be preventing you from listing your apps?

[2022-02-16 19:43] McLeroy commented on #2569
@hloriana I don't know how to get an AppID when I can't even create apps. I just noticed this happens in only "us-east-1" region

[2022-02-16 20:52] hloriana commented on #2569
see if you can run this command via the CLI: https://docs.aws.amazon.com/cli/latest/reference/amplify/list-apps.html

[2022-02-17 02:01] joebernard commented on #2400
Here is the config I wound up using. Thanks all.
[code]

[2022-02-17 02:01] #2400 closed

[2022-02-17 02:03] GabrielOnike commented on #1876
Same Issue; ACCESS DENIED during FrontEnd Stage build

[2022-02-17 06:11] McLeroy commented on #2569
@hloriana This is the result of `aws amplify list-apps`
{
    "apps": []
}

But I get all the apps I created in `us-east-2` when I run `aws amplify list-apps --region us-east-2`

[2022-02-17 06:38] arman-ab commented on #2347
I fixed this without recreating app, find the role for the Lambd@edge function starting with “Default” and then update the roles permissions to allow the SQS:sendMessage action on the queue that was created for the ISR functionality. The queue’s name would be similar to the function names and the bucket that was created to hold the NextJS files. An example IAM policy would look as follow:
[code]

[2022-02-17 13:21] beam36 commented on #2563
After turned on the performance mode, the script does return 'Hit' but when I look at the network tab in Chrome, I still see 'Miss'

[2022-02-17 13:25] akash87 commented on #2548
Thank you this worked! There was an error when calling the DeleteBackendEnvironment operation: The security token included in the request is invalid. but it was resolved with passing --profile <aws_profile> parameter.

[2022-02-17 15:12] mageyuki commented on #64
+1

[2022-02-17 19:14] ajest commented on #2127
Same problem here, we need to a solution

![Captura de Pantalla 2022-02-17 a la(s) 16 12 29](https://user-images.githubusercontent.com/4982093/154553671-4d1606c7-872a-4607-aefc-7ece2790d5f7.png)

[2022-02-17 20:26] armenr commented on #1009
This is going to sound insane, but I tried to fix this issue for days...I mean, 9 hours a day, experimenting and poking at things, for about 8 straight days.

Finally, I thought to myself: "If I were AWS, how/where would I be testing or building?"
Answer: On an EC2, maybe?

So, I spun up an EC2, and built + pushed my Dockerfiles from that host.

Magically, my custom images began to work (getting p

[2022-02-17 22:39] hloriana commented on #2591
Hi @tscole 👋🏽 thanks for raising this issue! It looks like your builds are timing out after 1hr.  Through the console, you can adjust the build timeout to up to 8 hours.

It also looks like you're running `nvm install 12.19.0` and `nvm use 12.19.0` in the preBuild and build phases. You only need to install once and that version will persist for all subsequent phases unless you install and use a di

[2022-02-17 22:42] tscole commented on #2591
@hloriana the builds shouldn't take 60 minutes or even close. When they succeed they complete in about 20 minutes. Something else is going on here. Perhaps a memory issue? Are you able to look into this further please? Simply increasing the timeout is not going to fix the issue.

[2022-02-18 00:23] traianturcu commented on #1987
This bug is a pretty big deal - I can't see how we can use Amplify for CI/CD until this gets fixed..

[2022-02-18 01:16] cespin commented on #1009
You can fix this quickly if you put your image in a public ECR repository and configure your Amplify project in Build Settings to use that

[2022-02-18 04:02] tyirvine commented on #2405
For anyone stumbling across this thread in the future, be aware of the rule's position. For example, if you want to redirect `https://www.example.com -> https://example.com` that rule would have to be placed first.

I discovered this in this thread → https://repost.aws/questions/QUB5Y06NtjSFqCpz7LAb256w/amplify-redirect-www-to-apex

[2022-02-18 15:40] hloriana commented on #2569
@McLeroy and @zamargab Please email aws-amplify-customer@amazon.com with your information and the link to this GitHub issue. We would need an AppID and region or an account number to further investigate since this doesn't appear to be a policy issue. Alternatively, you can also open up a ticket with AWS Support: https://console.aws.amazon.com/support/home#/

[2022-02-18 21:29] sundersc opened #2592 "deployment requires new notification resource creation stuck in ci/cd"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-18 21:31] sundersc commented on #2592
**Workaround:**
1. Download the most recent amplify cli. (npm i -g @aws-amplify/cli).
2. From the project folder, pull the recent changes of healthy environment (`main`) from cloud backup using 'amplify pull' command.
3. Now switch to the problematic environment using 'amplify env checkout beta'.
4. If you notifications configurations are missing for the environment, CLI will prompt to enter those

[2022-02-18 22:15] pnedelko commented on #2551
Get the same error :(

[2022-02-18 22:29] hughesjj commented on #2343
@dottodot

It's possible (since Vercel themselves support it), but it's DIY and unstable.  Per their contract, they could totally break/change their nft.json logic in a minor version update.  They used to have a "serverless" target spec Amplify/Serverless/Netlify could work against, but they deleted it without providing equivalent supported functionality in nextjs 12.

I will note that `next expor

[2022-02-19 00:03] traianturcu commented on #2097
Is there any plan to fix this bug?

[2022-02-19 01:09] soplan commented on #1416
I can confirm this works. Love you man! saved us a lot of headache figuring out why it was happening.

[2022-02-19 02:39] tjohnwu commented on #654
+1 would love faster deploys

[2022-02-19 04:49] sachscode commented on #2582
Hi @alzotov
1. Could you please provide more details as to which commands did you execute before you got to this state.
2. Do you have any manual changes in the cloud ?
3. Could you please  provide the file-names of all the files in your deployment bucket.

[2022-02-19 07:03] PixellUp commented on #2551
I got the same issue. Turns out that AWS Amplify doesn't support Webpack 5 with is the default and only option in Next JS 12+. That being said either you have to download to Next 11 with next js config `webpack5:false` flag.

[2022-02-19 08:55] multivoltage commented on #1987
@traianturcu
For the first point, I tried a s small check. Putting variables on config do not expose any data to browser. I tried to search on Chrome console for the secret i put on config, and did not found.

[2022-02-19 10:38] beam36 commented on #2563
@saadataz I don't disable cache. Screenshot attached
<img width="1368" alt="Screen Shot 2022-02-19 at 5 37 16 PM" src="https://user-images.githubusercontent.com/13551560/154797381-687a2157-186a-4423-aed1-13055e610bc1.png">

[2022-02-19 10:45] traianturcu commented on #1987
When declaring two variables in env.local - one NEXT_PUBLIC_VAR1 and one VAR2, VAR2 is undefined in the frontend if you try to use it/output it/console.log it, and only the NEXT_PUBLIC_VAR1 is available. VAR2 is available only in the backend (for the pages/api handlers).
Unfortunately that is not the case when using the next.config.js hack offered as a solution above - all variables are defined in

[2022-02-19 10:52] multivoltage commented on #1987
I did not undestand. I used AAA_VAR in next config. This var is available on files under /api. And searching on code I cannot find that secret on browser.
I used AAA_VAR_2 in .env (without next config) and my server side code (getStaticProps) read that var correctly.

[2022-02-19 11:13] traianturcu commented on #1987
I apologize for not explaining properly - I've recorded a very short video to show you the difference between Amplify vs. local/ Vercel /expected behavior - https://www.screencast.com/t/At4iOMAl

[2022-02-19 13:33] multivoltage commented on #1987
@traianturcu thank for video. That is what I understood after my experience (deploy next ssr without next export).

- if you want a env var on browser put prefix NEXT_PUBLIC.
- if you need access to process.env.VAR on backend code (getStaticPath, getServerSideProps,getStaticProps) you can define your var simply with VAR=xxx
- if you need access to process.env.VAR inside /api/some-js-file you need

[2022-02-19 17:30] therk commented on #1866
@[victorccccc](https://github.com/victorccccc) your approach mostly works, but the build inside app/reactapp fails on shared libs components. Looks like it can't properly build dependent projects. Example error:
../../libs/common/src/lib/Access.ts
Module parse failed: Unexpected token (3:7)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process

[2022-02-20 15:52] Sekaiichi opened #2593 "Next.js redirect with conditions"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-21 02:59] mawhtin commented on #2551
Same issue. Pretty big break. Is there an ETA on this fix?

[2022-02-21 09:18] Sekaiichi commented on #2593
Hi it's exactly related to next.js redirects.
that part not working on aws amplify(
![image](https://user-images.githubusercontent.com/15075961/154924892-a4d4d802-53df-49e3-a598-7401868e14e0.png)

[2022-02-21 12:48] Sekaiichi commented on #2593
@calavera @ErikCH @mwarkentin @hyandell

[2022-02-21 14:07] carlosbvz commented on #2551
Hi @PixellUp ,

When you said "doesn't support" you mean is not longer supported or never was?

Reason I am asking is because all lambdas were woking before with no issues.

[2022-02-21 15:45] PixellUp commented on #2551
It hasn't been supported yet @carlosbvz

[2022-02-21 16:40] calavera commented on #2593
Thanks for opening this issue. We get notified when issues are open, there is no need to ping people 😄 We've added it to the backlog.

[2022-02-21 17:10] hloriana commented on #2592
Hi @sundersc 👋🏽 thank you for opening this issue and for providing detailed reproduction steps. We will reproduce the behavior and add it to our backlog.

[2022-02-21 18:42] hloriana commented on #2591
Hi @tscole yes we are looking into this further. Will update asap.

[2022-02-21 19:00] hloriana commented on #2591
@tscole can you confirm that your builds are successful locally?

[2022-02-21 19:01] tscole commented on #2591
Yes, they are building fine locally on my mac.

[2022-02-21 19:47] hloriana commented on #2576
@dominicfarr Apologies for the delay. When adding a backend, Amplify needs to be able to assume a role that has permissions to provision and interact with backend resources. That role is not being applied automatically which causes the build to fail. We've identified this as a bug and are prioritizing this.

[2022-02-21 20:15] annymosse commented on #1860
So excited to try this feature 👍

[2022-02-21 21:28] hloriana commented on #2588
@jamessrose thank you for opening this issue, we are investigating to determine the cause of this. Will update once I have more information.

[2022-02-21 22:19] mdh3hc opened #2594 "Auth not being able to sign in"
**Please describe which feature you have a question about?**
Amplify Auth.

**Provide additional details**
When my branch auto deploys to dev, the login and sign up links do not work. These work locally pointing to the same Cognito, but then fail in dev with the error message of
[code]

I have tried running the command ```yarn list --pattern amplify | \
  grep -o -e '@\?aws-amplify[^ ]*' | \
  sor

[2022-02-22 00:14] saadataz commented on #2563
Thank you for confirming @beam36. We are actively working on fixing the issue.

[2022-02-22 04:43] ElyYonce commented on #2546
Hi @hloriana, I'm experiencing the same issue.

appid - d1u56ep7p49azn

`aws amplify list-apps --region us-east-1` returns
{
    "apps": []
}

The app is up, running, and connected to my CodeCommit repo, although, the app isn't displaying in the console. The app was created in the east-1 region and I've checked there and in all other regions and no dice.

[2022-02-22 05:39] wottpal commented on #2343
@brainer1 have the same issue you described. did you find any workaround in the meantime?

[2022-02-22 07:23] biiishal commented on #2554
Did you manage to find a solution to this @skrg-kotani ? I tried going with `Cache policy and origin request policy (recommended)` option, and then selecting `Amplify` option for `Cache Policy` for all paths except `_next/static/*` and `static/*`, which seemed to fix the problem.

But unfortunately the settings seem to re-set on every new build.

[2022-02-22 07:38] marcelweigle commented on #2555
On analysing the app environment variables, I found that the value of "AMPLIFY_BACKEND_PULL_ONLY" is set to true. This environment variable is added by Amplify automatically in case of not enabling the full stack CI/CD option. This causes the app to run in pull only mode.

Navigate to front-end environment -> Edit -> check the option "Enable full-stack continuous deployments (CI/CD)" and save.

[2022-02-22 07:38] #2555 closed

[2022-02-22 10:10] martinburger commented on #2552
It seems I've stumbled upon the same and a similar issue, respectively.

On my local machine, I am using version `7.6.21` of the `@aws-amplify/cli` package.

The backend build fails due to the following errors:

[code]

To fix this, I configured the build image settings to override the default installed version of package Amplify CLI to above-mentioned version `7.6.21`.

Now, it seems that Amplify

[2022-02-22 11:33] lastmaj commented on #1542
okay so this is a dealbreaker for me. was comparing amplify, vercel and netlify when i stumbled on this. I guess I will be going with anything but amplify.

[2022-02-22 11:39] Randgalt opened #2595 "How do I set up an MX record given that Amplify uses the root domain?"
**Please describe which feature you have a question about?**

My DNS is hosted by Network Solutions. I set the root domain as required by Amplify. I would like to add an MX record so I can get mail but that's not possible given that Amplify has the root domain. How is this handled?

[2022-02-22 14:31] Sekaiichi commented on #2593
Thank you very much

[2022-02-22 14:58] martinburger commented on #2552
Same issue with Node.js 16:

[code]

[2022-02-22 19:34] mhinton opened #2596 "Unable to delete application"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-22 21:58] tdwebb opened #2597 "Unable to create Step Function from Amplify CLI"
I am trying to create a new step function using Amplify's new custom resource functionality.  I am receiving this authorization issue:
**************
Resource Name: StateMachine2E01A3A5 (AWS::StepFunctions::StateMachine)
Event Type: create
Reason: Resource handler returned message: "User: arn:aws:sts::773544361988:assumed-role/us-east-1_T3koRnO6t_Full-access/amplifyadmin is not authorized to perfo

[2022-02-22 22:18] tdwebb commented on #2597
App Id:
arn:aws:amplify:us-east-1:773544361988:apps/debkk2m5u58we
Region:
[us-east-1]

[2022-02-22 22:44] oste commented on #2552
I am also facing this issue. Currently looking at using a custom image to rule out if maybe something is off with the live update to latest. Interestingly, if I work back from version 7.6.21 it eventually started to fail at a `amplify --version` instead of `amplifyPush --simple`. I tried all versions of node as well with no luck.

[2022-02-23 01:41] seunghwako commented on #2558
Is this problem solved?

[2022-02-23 03:19] xavierraffin commented on #2243
+1 on this

[2022-02-23 06:20] martinburger commented on #2552
You find sections `backend` and `frontend`  of my applications's configuration file below. I added some commands to verify the Amplify and the Node.js version, respectively.

[code]

Now, the backend build fails already at command `amplify --version` in phase `preBuild`:

[code]

[2022-02-23 06:30] martinburger commented on #2552
Thanks for the hint. I use `npm` in the frontend section only:

[code]

And, I already use `npm ci` to install packages.

[2022-02-23 06:33] martinburger commented on #2552
I did that as well:

[code]

To no avail as well:

[code]

[2022-02-23 06:50] martinburger commented on #2552
I just tried to update global package `@aws-amplify/cli` in my build script:

[code]
Both, with overriding Amplify CLI to latest and without overriding that package, same result:

[code]

So, although it seems that package `@aws-amplify/cli` had been updated, the backend build still failed with the same `Invalid feature flag configuration` error. Well, I've run out of ideas.

BTW, without overridi

[2022-02-23 14:01] beam36 commented on #2563
@saadataz  So there is no workaround?

[2022-02-23 14:25] donalbertico commented on #2552
updating amplify cli helped for me `sudo npm i -g @aws-amplify/cli`

[2022-02-23 14:38] noahgorstein opened #2598 "Github check never completes - reports build is in progress multiple hours after completion"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-23 14:57] tscole commented on #2591
@hloriana any update? This is a production site and if we can't get builds to succeed I need to come up with an alternative plan asap. Is there any indication of what this issue is?

[2022-02-23 15:09] martinburger commented on #2552
In my case, using `sudo` causes the following error:

[code]

[2022-02-23 15:37] hloriana commented on #2596
Hi @mhinton, please try this command: `aws amplify delete-backend-environment --app-id <YOUR_APP_ID> --environment-name <THE_BACKEND_ENVIRONMENT_NAME>`

[2022-02-23 15:43] SebastianSchenk opened #2599 "How to set Nextjs SSR resource region?"
**Please describe which feature you have a question about?**
I use Amplify console to deploy an Nextjs SSR app. Even though the amplify region is set to eu-central-1, all associated resources (lambda, s3,...) are deployed in us-east-1. How can I tell amplify to deploy all resources to eu-central-1?

**Provide additional details**

**What AWS Services are you utilizing?**
Amplify console

**Provide

[2022-02-23 16:00] mhinton commented on #2596
@hloriana thanks for the response but this is what happens when I issue that command.

[code]

Here's my app details to confirm the app id.

![CleanShot 2022-02-23 at 09 58 41](https://user-images.githubusercontent.com/23145/155357190-cb9824ad-5993-4f80-a7a8-4558d127049b.png)

[2022-02-23 16:45] hloriana commented on #2594
Hi @mdh3hc can you provide the App ID and Region?

[2022-02-23 16:51] siegerts commented on #2597
Hi @tdwebb  :wave:, thanks for raising. I'm going to transfer to the CLI repo to get some more eyes on it. Do you mind sharing how you are configuring the custom resource (CDK, CFN, etc)?

[2022-02-23 17:02] leonardof131 commented on #171
I'm facing this exact issue on my amplify web app. Is this bug back ?

[2022-02-23 17:30] mdh3hc commented on #2594
App ID: dyluw0e49nx5t
Region: us-east-1

[2022-02-23 18:26] hloriana commented on #2588
Update: I was able to successfully reproduce this behavior and confirm that the process is stuck in domain activation phase without error.

[2022-02-23 18:36] ritika2291 commented on #2552
I'm also facing the same issue, using version 7.6.21.

[2022-02-23 18:44] naydin2 commented on #8
any solution to this other than creating a custom CloudFront?

[2022-02-23 19:06] jamessrose commented on #2588
Thanks - does 'without error' mean you don't think any problem? i.e. issue is elsewhere?

Any recommendation how to remediate from here? i.e. i have followed guides and troubleshooting and is all correct - so shall i just delete domain and start again?

[2022-02-23 19:52] qingjamazon opened #2600 "App frontend failed with no code change"
Hello,

I am new to this tool and try to find out why a tool built in AWS Amplify failed. There is no code change in the past half year, but front end UI has been not working anymore since begining of Feb this year. I am unable to find any error message or useful log in Amplify.

This tool allows users to upload excel file and triggers lambda function to pass the excel file to a S3 location. But t

[2022-02-23 19:58] hloriana commented on #2588
I meant there's no error being thrown for a customer to be able to see what's wrong. Can you try to set your domain up again? I attempted again and it's gone through successfully so it should work now.

[2022-02-24 02:04] igpastor commented on #2247
Hi @ferdingler

I'm having the same issue but I have the service role created with all the permissions and the trust you mentioned. It is associated with the amplify app and the weird thing is that in IAM it shows that this role it has not been used, but I tried several deployments and made sure the app in General/Settings/Service role has the role I created. Do you think on another thing I could

[2022-02-24 02:21] isaac-rosterlab commented on #2509
@hloriana Any updates? I'm still getting the same issue

[2022-02-24 03:57] junyaogz commented on #1410
bug still exists

[2022-02-24 07:02] asumvp opened #2601 "200 Rewrite not working when the source is a subdomain with complete path"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-24 08:44] jericopulvera opened #2602 "Deploy phase failing suddenly Next.js"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-24 09:09] swaminator commented on #1542
@lastmaj @jonahx @fooman @alexBotteri @jorepstein @agostbiro @bigjosh @ellemenno this feature has been prioritized and we are hoping to release this in the coming weeks. Stay tuned.

[2022-02-24 09:10] jericopulvera commented on #2545
Happens again on #2602

[2022-02-24 09:11] swaminator commented on #2160
Please read this: https://github.com/aws-amplify/amplify-console/issues/1542#issuecomment-1049639904. Closing this thread so we can track it there.

[2022-02-24 10:02] bilafish opened #2603 "Deployments failing at Build phase suddenly"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-24 10:56] Sivaroyal2580 commented on #400
Hi @cslogan-red, Sorry to tag you. I got stuck in the same problem, changes are not detected after the push and giving an error amplify trigger destination failed.

[2022-02-24 16:57] brunoksato commented on #171
I have same issue today!

[2022-02-24 17:08] GlenWise commented on #1410
Agreed, we're still having this issue

[2022-02-24 21:11] charlieboles commented on #2348
@ferdingler Can you enable the location headers on this app: `d2cou5stxzl22`

[2022-02-24 22:07] Rafcin commented on #2348
I would open a ticket through the AWS console, @ through GitHub might not
be ideal due to the number of issues on the repo.

On Thu, Feb 24, 2022, 1:12 PM charlieboles ***@***.***> wrote:

[2022-02-25 00:11] carlosbvz commented on #2551
Thanks for sharing this info @PixellUp .

I can confirm downgrading to Next11 from Next 12 got my nextJS lambdas working.

[2022-02-25 04:23] kasukur opened #2604 "amplify build failed with AlreadyExistsException (bucket exists)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-25 06:47] EvilTeliportist opened #2605 "SSR Preview Deployment Resources Not Being Deleted After PR Merge/Close"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-25 08:32] exonis commented on #2427
Thank you so much, I lost a lot of time on this...

[2022-02-25 12:38] xavzoc commented on #56
+1

[2022-02-25 15:54] hloriana commented on #2605
Hi @EvilTeliportist 👋🏽, thank you for opening this. This is a bug that the team is aware of and are prioritizing to be fixed.

[2022-02-25 16:13] cabcookie opened #2606 "DestructiveMigrationError in continuous deployments"
**Please describe which feature you have a question about?**
I am using the continuous deployment feature in Amplify Console and I have an issue when I am doing a destructive model change.

**Provide additional details**
Locally, I did a change on my GraphQl API model. I deleted a table that I didn't need. When issuing `amplify push` I received a `DestructiveMigrationError` message:

[code]

Local

[2022-02-25 17:42] hloriana commented on #2596
@mhinton interesting. Can you confirm if the CloudFormation stack still exists? If not then the backend is deleted so you should be able to delete the frontend application from the console now. Please let me know if you're still not able to delete the application.

[2022-02-25 17:48] #2045 closed

[2022-02-25 17:54] hloriana commented on #2417
@douglas1850 do you have an AppID or region we can use to investigate? We can also investigate using your account ID. If you'd like to provide this information privately you can email aws-amplify-customer@amazon.com

[2022-02-25 18:27] EvilTeliportist commented on #2605
[code]

Here's an example deployment log from Amplify. Is there any way for me to get the CloudFront Domain ID, SSR Lambda IDs, and S3 Bucket ID through the AWS Amplify CLI? If so, we could automate this process in our pipeline while you guys are working on a fix.

[2022-02-26 02:48] pencilcheck commented on #1349
https://stackoverflow.com/questions/27502608/resolving-require-paths-with-webpack

I used the answer
[code]

[2022-02-26 02:50] oste commented on #2478
I am getting this same error. In my case it is for the storage resource. I tried @nathanthorpe suggestion to use camel case but that gives this error:
[code]

Can we reopen @erikash

[2022-02-26 17:28] hexdecimal16 commented on #2417
for me the problem was solved by correcting my system date and time

[2022-02-26 19:58] soplan commented on #654
+1 here.

[2022-02-27 08:36] hanna-becker commented on #2513
For me setting these environment variables actually *did* provide a workaround.
AMPLIFY_FACEBOOK_CLIENT_ID
AMPLIFY_FACEBOOK_CLIENT_SECRET
AMPLIFY_GOOGLE_CLIENT_ID
AMPLIFY_GOOGLE_CLIENT_SECRET

It's set to use the latest aws-cli, which should be v7.6.22, atm.

[2022-02-27 11:01] bojidaryovchev opened #2610 "Next.js fails to build the front end since yesterday, I just tried with a brand new setup using v11 and it has the same problem"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-02-27 16:14] tmosmant commented on #97
Hello, this is still needed and unfortunately the workarounds are still workarounds...

[2022-02-27 16:23] Calandri commented on #97
AGree! FIXXXXXXX

[2022-02-27 16:23] Calandri commented on #97
AGREE

Il giorno dom 27 feb 2022 alle ore 17:14 Thomas Mosmant <
***@***.***> ha scritto:

[2022-02-27 16:34] anurag128 opened #2608 "404 redirects appending /index.html"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-27 20:00] mhinton commented on #2596
Thanks, I was finally able to delete the application.

[2022-02-27 20:00] #2596 closed

[2022-02-28 00:29] mwarkentin commented on #654
How do you do that?

[2022-02-28 07:11] GabrielOnike commented on #1876
If your build works locally but fails on Amplify, you probably need to try it on a new account. That was my final solution.
Sucks especially when you're hosting an app suite under one account.
In my case i tried different policies and roles and also used the policy in the troubleshoot. Also; Tried changing the regions, Tried changing basedirectory, Tried Full Admin privileges for s3, tried to rewo

[2022-02-28 07:14] GabrielOnike commented on #1876
If your build works locally but fails on Amplify, you probably need to try it on a new account. That was my final solution.

Sucks especially when you're hosting an app suite under one account.
In my case i tried different policies and roles and also used the policy in the troubleshoot. Also, Tried changing the regions, Tried changing basedirectory, Tried Full Admin privileges for s3, tried to rew

[2022-02-28 07:36] soplan commented on #654
1. Amplify console
2. Select project
3. Build Settings
4. scroll down "Build Image Settings"
5. Delete Amplify CLI from "live update packages"

[2022-02-28 07:38] soplan commented on #654
Damn... and for that reason we stayed away from using Amplify to manage our backend deployments. We had long debates about to include backend in Amplify or not.. After 1 week of trialing we already entered in to some bumps and we felt this was not mature enough so we used serverless framework and CDK. We only use Amplify for CI/CD our frontend and that is going good 9 out of 10 times.

[2022-02-28 09:17] RavianXReaver commented on #482
Is this currently being worked on? Because I can't seem to use **create_domain_association** as well.

[2022-02-28 12:17] cloudgeek7 opened #2609 "Add support for self-hosted Gitlab(CE) or GitHub Enterprise to run CI/CD workflows in Amplify"
**Is your feature request related to a problem? Please describe.**
We cannot enable CI/CD workflows for self-hosted gitlab repositories in Amplify. It only works for the GitHub and Gitlab public versions. There are many customers I support who are blocked by the lack of this feature. Customers are adopting workarounds or moving away from Amplify.

**Describe the solution you'd like**
Currently the

[2022-02-28 16:51] hloriana commented on #2598
Hi @noahgorstein , thank you for opening this issue. This is a known bug that the team is working to fix.

[2022-02-28 22:00] julesrenaud commented on #2605
Hope I'm not paying for these deployments...

[2022-03-01 00:53] charlieboles opened #2611 "Cannot add or remove email notifications"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-03-01 13:22] banut1 commented on #2492
Hi, did you manage to fix this? I'm encountering the same issue, it only happens for the amplify CI/CD.
In my case, when I first connect a branch to a new environment, it works fine. But on all subsequent commits that trigger the deployment, I get
🛑 internal/process/esm_loader.js:74
                                 internalBinding('errors').triggerUncaughtException(

[2022-03-01 14:29] lardyNiji commented on #2499
Hi,
Any news on this, perhaps a work around while waiting some fixes ?

[2022-03-01 15:41] hloriana commented on #2611
Hi @charlieboles 👋🏽 thanks for opening this issue. I attempted to reproduce and I did see some errors in the console but I was able to setup email notifications normally and I received notifications upon building. Were you at least able to setup notifications for this app?

As for the redacted email, is it grayed out when you select **Manage notifications**?

[2022-03-01 17:07] martinburger opened #2612 "Overriding default version of package Amplify CLI results in error"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-03-01 17:52] tchenu commented on #2340
I've literally been on this issue for 3 days, it's the worst possible service to deploy a Next (SSR) application, honestly. I have to do X applications per domain and run with an environment variable to indicate the current domain. :introducing-facepalm-here:

[2022-03-01 19:44] kahdojay commented on #2464
@ernestostifano Either approach would technically work, you would be trading off increased provisioning time (with a custom image, since you wouldn't be using the Amplify-provided image) against increased build time (with nvm commands, your actual build process may take longer). The latter generally works well for a small number of commands but if you have requirements for the container to have de

[2022-03-01 19:56] victorccccc commented on #2398
Feel free to re-open this if issue persists. Thanks

[2022-03-01 19:56] #2398 closed

[2022-03-01 20:36] #2383 closed

[2022-03-01 20:36] saadataz commented on #2383
Closing this due to inactivity

[2022-03-01 21:44] swaminator commented on #2594
@mdh3hc can you share a screenshot of your configuration?
1/ Go to App settings > General and share your app settings
2. Share the 'Hosting environments' tab with the pipeline view.

[2022-03-01 21:51] swaminator commented on #2591
@tscole sorry to hear you're running into this. We do not want you to move away.

[2022-03-01 21:52] calavera commented on #1416
Thanks a lot for providing an answer @BrianJenney !

[2022-03-01 21:52] #1416 closed

[2022-03-01 21:56] calavera commented on #1429
@Eric-ett can you check that you have `.gz` in the expression that redirects to your SPA? If you don't have it, we might be trying to download the index file instead of the javascript file:

This expression should include `gz` to avoid the redirect:
[code]

[2022-03-01 21:59] #2467 closed

[2022-03-01 23:16] hloriana commented on #2612
Hi @martinburger 👋🏽 thank you for opening this issue. This bug occurs as a result of executing live updates with Amplify CLI and Node versions 15+. You shouldn't run into this issue if you use the default Node version 14. We understand customers are using later versions of Node and we are working on a fix for this issue.

[2022-03-01 23:39] hloriana commented on #2591
Hi @tscole, apologies for the delay. We are still investigating what would cause your builds to start failing and what may have changed prior to your last successful build. Will update you asap.

[2022-03-01 23:44] tscole commented on #2591
I managed to get a build to complete by reducing the number of pages. This isn't a long term solution for us

On 1 Mar 2022, at 23:39, hloriana ***@***.*** ***@***.***> > wrote:

Hi @tscole, apologies for the delay. We are still investigating what would cause your builds to start failing and what may have changed prior to your last successful build. Will update you asap.

—
Reply to this email dir

[2022-03-02 00:54] ganipcanot commented on #2591
How long do your builds take when you run them locally?

[2022-03-02 01:55] tscole commented on #2591
Just a front end build to test: 232.23s - i.e. less than 4 minutes.

[2022-03-02 06:13] oosswwaalldd commented on #1881
I can confirm that I'm experiencing the same problem with Nextjs v12.1.0

[2022-03-02 10:39] c950291 commented on #14
+1

[2022-03-02 14:07] afsalcodehack opened #2613 "angular 13 build error"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-03-02 16:48] calavera commented on #1490
I could not reproduce this problem with MS Edge. Let us know if you're still bumping into it and we'll investigate further.

[2022-03-02 16:48] #1490 closed

[2022-03-02 18:22] calavera commented on #2124
@fdoyanes you can increase the time that your builds run by setting the `_BUILD_TIMEOUT` environment variable in your app settings. You can read me about this variable in the docs linked below:

https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html#amplify-console-environment-variables

Let me know if the problem still persists after setting that variable, and I'll happil

[2022-03-02 18:22] #2124 closed

[2022-03-02 18:24] calavera commented on #1940
I think this is a duplicated of https://github.com/aws-amplify/amplify-console/issues/1520 I'm going to close this issue to centralize all the information in one single place.

[2022-03-02 18:24] #1940 closed

[2022-03-02 18:49] nimacks commented on #1991
We are unable to reproduce this issue. Re-open if you are still facing this issue.

[2022-03-02 18:49] #1991 closed

[2022-03-02 19:12] nimacks commented on #2461
@24jr Let us know if the steps mentioned above does not resolve your issue. Feel free to re-open.

[2022-03-02 19:12] #2461 closed

[2022-03-02 19:14] ganipcanot commented on #2172
Can you share your `appId`?

[2022-03-02 19:17] ferdingler commented on #2487
Hi, I'm going to route this issue to Amplify CLI repository as they should be able to better help. We at Amplify Hosting run the `amplify cli push` command and it looks like your backend is failing at this step.

[2022-03-02 19:19] victorccccc commented on #2390
Feel free to re-open if issue persists, thanks!

[2022-03-02 19:19] #2390 closed

[2022-03-02 19:23] saadataz commented on #2613
@afsalcodehack can you please share the build logs. I cannot find the app, is it deleted?

[2022-03-02 19:25] ferdingler commented on #2486
Hi, we don't have a way to retrieve this programmatically in any of our APIs unfortunately. But we add this redirect rule automatically for you during the Deployment phase, which is when the CloudFront distribution is created in your account. You shouldn't need to add it manually.

If this rule is not being created for you, it's likely because your app is not recognized as SSR. Make sure that your

[2022-03-02 19:25] #2486 closed

[2022-03-02 19:27] victorccccc commented on #2314
If you are using CI/CD workflow in Amplify Console, we won't deploy those files into your s3 bucket. Instead, we'll generate the distribution to serve your application.

Feel free to re-open if you have other questions, thanks.

[2022-03-02 19:27] #2314 closed

[2022-03-02 19:30] #2302 closed

[2022-03-02 19:30] ferdingler commented on #2482
We haven't heard back from you. Feel free to re-open if you have additional information.

[2022-03-02 19:30] #2482 closed

[2022-03-02 19:32] ganipcanot commented on #2382
Closing due to workaround posted above.

[2022-03-02 19:32] #2382 closed

[2022-03-02 19:32] victorccccc commented on #2284
Hi, here is the docs for deploying SSR App (Package.json file settings) https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html#deploy-nextjs-app

Feel free to re-open this if issue persists, thanks!

[2022-03-02 19:32] #2284 closed

[2022-03-02 19:36] ferdingler commented on #2466
Secrets are placed in an environment variable named $secrets (lowercase). It is a stringified JSON object so accessing it via bash script may be a little complicated to manipulate. Unless you use `jq` or a similar tool, I recommend writing a JS script that reads them like so:

[code]

https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html#environment-secrets

[2022-03-02 19:36] #2466 closed

[2022-03-02 19:39] victorccccc commented on #2209
Hi, looking at your build history, can you try to add build command so that amplify know how to build your application?
Please refer to this docs https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html

Feel free to re-open if your have questions, thanks

[2022-03-02 19:39] #2209 closed

[2022-03-02 19:41] ganipcanot commented on #2566
I'm still seeing `d3g1n8b3zor650` in our system.

Is there any error message displayed in the console or network tab when you try to delete?

[2022-03-02 19:42] ferdingler commented on #2452
Thanks for raising this. I agree with the requested feature. We have added it to our backlog.

[2022-03-02 19:46] calavera commented on #2199
This is the default behavior. As explained in a previous comment, the lambda functions are distributed, although the information says that they are in us-east-1.

[2022-03-02 19:46] #2199 closed

[2022-03-02 19:48] ganipcanot commented on #1969
Looks like this app has been deleted.  If you are still experiencing issues please feel free to re-open this ticket or open a new one.

[2022-03-02 19:48] #1969 closed

[2022-03-02 19:49] ganipcanot commented on #2528
Closing due to age - please re-open if you are still experiencing issues.

[2022-03-02 19:49] #2528 closed

[2022-03-02 19:49] saadataz commented on #1883
@johnkavanagh, Sorry for the delayed response. I see the app no longer exists.
Can you please reopen this issue (with your appID) if it reproduces again.

[2022-03-02 19:49] #1883 closed

[2022-03-02 19:53] Athena96 commented on #1582
Closing this issue, If this is still an issue please feel free to reopen. Thank you!

[2022-03-02 19:53] #1582 closed

[2022-03-02 20:08] hloriana commented on #2328
Hi @tscole, it looks like you were able to successfully push changes after this issue was created. If this is still a problem, please feel free to reopen. Thanks!

[2022-03-02 20:08] #2328 closed

[2022-03-02 20:23] tscole commented on #2328
This is still a problem

[2022-03-02 21:42] hloriana commented on #2249
Closing due to no response. If you are still having this issue, feel free to re-open. Thanks!

[2022-03-02 21:42] #2249 closed

[2022-03-02 22:30] shaynos opened #2614 "Amplify apps for ap-southeast-2 (Sydney) are not showing in the dashboard"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-03-02 23:44] amermoosa commented on #2566
my id is (441809585417) (amermoosa) please delete all application  except (sevenden ) because it was deleted but still show in my console

[2022-03-03 01:07] hloriana commented on #2614
Hi @shaynos 👋🏽 thank you for opening this issue and providing details. The team is investigating this behavior. We will respond once we have more information.

[2022-03-03 04:19] Hadjimina commented on #2326
Hi sorry to open this up again. I'm still having this issue. I followed @interstellard 's guide but it still seem broken. Is there any updates on this? Cheers

[2022-03-03 05:05] khacminh opened #2615 "Amplify Console not compatible with IAM v2"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-03-03 05:38] mattryall commented on #2579
Unfortunately, I couldn't leave my site down for so long, so I had to work around this issue myself.

What I tried:

- Redeployed the site in Amplify. Didn't fix it. SSL certificate was still expired.
- Removed my custom domain, and re-added it. This fixed it.

When I re-added the custom domain, I could see the following happen in the console UI: SSL certificates were (re-)provisioned, the CNAME r

[2022-03-03 06:52] aniketsingh30 commented on #1084
I am also getting same issue when trying to build using the CI/CD of amplify. Everything works fine locally, but won't build when commit to aws codecommit. I am getting below error.
go executable was not found in PATH, make sure it's available. It can be installed from https://golang.org/doc/install

[2022-03-03 09:37] #2610 closed

[2022-03-03 11:36] rakshithxaloori commented on #2518
@newilu I'm facing the same issue. Any luck fixing the errors?

[2022-03-03 13:46] jgroom33 commented on #595
The default Docker image (as of the date of this post) contains:
* python 3.7
* python 3.8.0
* python 3.9.0

If those versions are sufficient, symlink like this:

[code]

[2022-03-03 14:18] noahgorstein commented on #2598
Thanks @hloriana. Will you update this issue when a fix is in place or is there a changelog I can refer to?

[2022-03-03 15:24] kondo-to commented on #654
+1   I got such a error to build java Lambda function with graalVM for native-image. looks memory is not enough.
now I gave up to use useful Amplify CI/CD flow and need to deploy it via Cloud9 manually for backend part.😢
I really hope this improvement.

[code]

Thanks.

[2022-03-03 18:42] #2613 closed

[2022-03-03 19:05] victorccccc commented on #1864
Hi, sorry for the inconvenience. Are you still seeing this issue with the latest CLI ? thanks!

[2022-03-03 19:16] ganipcanot commented on #1942
Closing due to age - please reopen or create a new ticket if you are still having issues.

[2022-03-03 19:16] #1942 closed

[2022-03-03 19:17] ganipcanot commented on #2363
Closing due to age - please re-open or create a new ticket if you are still having issues.

[2022-03-03 19:17] #2363 closed

[2022-03-03 19:19] hloriana commented on #2533
Closing due to no response, if you are still having this issue please feel free to re-open. Thanks!

[2022-03-03 19:19] #2533 closed

[2022-03-03 19:21] victorccccc commented on #390
Closing due to age. Feel free to re-open this or create a new issue if this problem persists

[2022-03-03 19:21] #390 closed

[2022-03-03 19:21] oliver-leung commented on #1808
Hi @Coteh , do you still need assistance with this? If not, we'll be closing this issue soon.

[2022-03-03 19:23] hloriana commented on #2591
We've investigated the build behavior but in order for us to determine what is possibly causing this, we will need to be able to reproduce the behavior. Is it possible for you to provide a sample project that produces this same issue? Or can you provide more detailed steps for us to reproduce this?

[2022-03-03 19:45] #1373 closed

[2022-03-03 21:39] gtondello commented on #2552
For me, in addition to setting the Amplify CLI version to the latest in the build settings, I had to edit the App details in the General settings and select a Service Role. After that, it worked.

Thank you for this thread, it was really helpful so I could find a solution quickly.

[2022-03-04 01:11] rmaafs opened #2616 "Own self generated SSL on Amplify page"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-03-04 07:28] november11th commented on #2392
I am having the same issue....
Are this bug still not fixed?

[2022-03-04 08:03] fnavarrodev commented on #2348
Hi everyone I was able to get those headers from my next.js application forwarding them from Cloudfront(the one created by Amplify). But maybe is not the best approach when we want those headers in all the available environments. For production with the definitive cloudfront is fine to have it this way, I see as a temporary solution.

<img width="495" alt="Screenshot 2022-03-04 at 08 56 38" src="h

[2022-03-04 08:08] fnavarrodev commented on #2348
Here you can see what I mean:
- Going thru cloudfront as production would do -> https://d2uzplva7g9enx.cloudfront.net/test
- New branch environment -> https://amplify-test.d1umqss2anlknu.amplifyapp.com/test

[2022-03-04 09:13] Rafcin commented on #2348
The reverse proxy strips the headers, I definitely agree they should be
allowed by default.

On Fri, Mar 4, 2022, 12:08 AM Francesc Navarro ***@***.***>
wrote:

[2022-03-04 09:35] fnavarrodev commented on #2348
Did anyone get any reply from AWS about it?

[2022-03-04 12:25] AnilSonix commented on #2434
Is there a way to remove old artifacts via cli ?

[2022-03-04 14:45] israx opened #2617 "Unable to delete Amplify App - Invoking remove all backends execution failed"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-03-04 16:15] hloriana commented on #2617
Hi @israx 👋🏽 can you try running this command to delete the backend:
`aws amplify delete-backend-environment --app-id <value> --environment-name <value> `

[2022-03-04 17:15] ahurlburt commented on #737
Agreed, i have a build error I can't reproduce. Seems to be missing a dependency when running npm build. Everything works fine locally.

Are there any suggestions/instructions on how to debug this? If I pull the build image what steps do I run inside the container? I don't even have an amplify.yml in my project dir? I'm sure I could reverse engineer from the logs but if anyone has helpful suggesti

[2022-03-04 18:22] dartmoordunbar commented on #2387
Still nothing?

[2022-03-04 19:14] ahurlburt opened #2618 "Docker build fails on latest image"
### Describe the bug

Building the latest image of the docker image fails:

using docker desktop for mac: 4.4.2 (73305)

Here is output.

First
[code]

Then run the build command, it fails partway through. I am using command specified in amplify repo.

[code]

### Expected behavior

The docker image would build.

### Reproduction steps

1. `git clone git@github.com:aws-amplify/amplify-console.git`

[2022-03-04 19:18] hloriana commented on #2616
Hi @rmaafs 👋🏽 this is currently not supported but we are tracking this feature request for prioritization.

[2022-03-04 19:42] hloriana commented on #2615
Hi @khacminh 👋🏽 thank you for opening this issue. We are tracking the first bug. As for the 2nd bug, I was not able to reproduce this. Are you not able to edit the build settings for any of the apps?

[2022-03-04 22:26] hloriana commented on #2614
You should be able to view your apps, can you check again and confirm that you're able to see them in the console?

[2022-03-04 23:10] hloriana commented on #2600
Hi @qingjamazon your frontend is password protected so I can't see what could be happening. Are there any errors being thrown in the browser? Have you tested that the uploads are successful when running the app locally?

[2022-03-04 23:16] #2600 closed

[2022-03-04 23:16] qingjamazon commented on #2600
I was able to troubleshot with a software enginner from our team to resolve it. Thank you.

[2022-03-05 17:17] israx commented on #2617
The command doesn't work, I'm not even able to pull the project to my local machine

[2022-03-05 18:19] plusplushq commented on #649
same problem exists

[2022-03-06 03:14] rawfalafel commented on #2572
Hi @hloriana , I'm also at the 20 webhook limit, but it seems like deleting Amplify apps does not reduce the total number of GitHub webhooks. Do you have any suggestions for how to reduce webhooks without accidentally deleting one of our important webhooks?

[2022-03-06 06:46] khacminh commented on #2615
hi @hloriana

## about bug 2

If I create a new app with option **host web app,** I can edit the build commands. However, when I add the hosting environment to a existing app, the bug occurs

Here are the steps to re-produce the bug:

1. In my case, there are 2 backend environments in my app: `dev`, `stag`.
2. I add a hosting environment connecting to a gitlab repo, choose 1 branch, for example: `

[2022-03-06 13:59] dottodot commented on #2551
seeing the same, tried `AMPLIFY_NEXTJS_EXPERIMENTAL_TRACE=true` but this makes no difference on api routes

[2022-03-06 19:02] code-runner-2017 commented on #1987
@bojidaryovchev does this solution solve the problem of not exposing secret env vars to the browser?
Is it going to work as expected, i.e. only evn vars with NEXT_PUBLIC_...  prefix are exposed to the browser?

[2022-03-06 19:26] multivoltage commented on #1987
@code-runner-2017 and... Is this valid solution in a case of normal build or only for next export build

[2022-03-07 06:53] manalab17 opened #2619 "Is there a way to stop generating meta tags about AWS amplify?"
**Please describe which feature you have a question about?**

**Provide additional details**

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**

Hi, I use amplify for host service apps.

So, I want to add diffrent meta tags for each apps.

I decided to delete default meta tags in my app. But, amplify generated meta tags about its'info

e.g)
[code]
Is there

[2022-03-07 11:30] fnavarrodev commented on #2316
What's the status of this request?

[2022-03-07 11:49] daxenberger commented on #2565
Any updates on this one? The issue persists ...

[2022-03-07 14:18] fnavarrodev commented on #2348
@ferdingler Is it possible to add those headers? I'm evaluating not to use Amplify because this is a real issue for us.

[2022-03-07 18:28] calavera commented on #1429
I'm going to close this issue. Don't hesitate to let me know if you still have trouble and I'll be happy to reopen it.

[2022-03-07 18:28] #1429 closed

[2022-03-07 18:59] calavera commented on #2619
Can you give us more information about your application? having the URL can be useful.
- Are you using Amplify Studio to build your app?
- Are you using the Amplify CLI?
- Are you using any of the Amplify Libraries?

[2022-03-07 19:26] Rafcin commented on #2348
@fnavarrodev are you in the Discord? I would bring this up there in the hosting channel, I'll link the issue there as well.

[2022-03-07 19:50] fnavarrodev commented on #2348
Hi Raf, my username is fnavarrodev#3748

Thanks

El lun., 7 mar. 2022 20:27, Raf ***@***.***> escribió:

[2022-03-07 20:16] igloopigloo opened #2621 "Deploying Nextjs app on AWS: Build fails"
Hi,

I am trying to deploy my nextjs app on aws through github repository. But the build is failing and giving me below pasted message. In terms of aws services, I am using auth, appsync, s3 storage. The whole app is working fine on localhost but I need to deploy it to aws for the whole team.

Can someone please tell me what am I doing wrong? I have pasted structure of my package.json.

**My packa

[2022-03-07 20:45] igloopigloo commented on #2621
Hi,

I am updating my question. Sorry for any inconvenience. But I found what was the issue and why I was getting backend error. My configuration was not correct, so I rectified that. But my build is still failing and I am getting frontend error.

**Please see below pasted error:**. As you can see from the error, it suggests building the app. I tried that too, but it didn't help.

My appid is d2jq

[2022-03-07 20:50] igloopigloo commented on #2621
npm run build gives me following error:
Error: Could not find a production build in the 'C:\Users\sh55451\Documents\UGA\brookdodo\data-app\.next' directory. Try building your app with 'next build' before starting the static export. https://nextjs.org/docs/messages/next-export-no-build-id
    at C:\Users\sh55451\Documents\UGA\brookdodo\data-app\node_modules\next\dist\export\index.js:158:19
    at a

[2022-03-07 21:41] ValYouW commented on #829
@swaminator This issue should get reopen or at least be closed with some explanation, like is it on purpose? why?

Anyway, if anyone else is looking for a workaround this is what I did:
In the build script rename `node_modules` to `nodemodules` (`fs.renameSync`) and then add a rewrite rule like:
`
/node_modules/<*> | /nodemodules/<*> | 200 (Rewrite)`

[2022-03-07 21:48] taylorsmithgg commented on #400
+1 As well, seeing inconsistent builds which I'm having to manually correct for our engineers

[2022-03-07 22:58] StephaneBischoff opened #2622 "CloudFront settings reverting on each deploy"
**Please describe which feature you have a question about?**
I am deploying AWS Amplify NextJS app using Git deployment.
I also apply specific configuration headers manually in AWS Console for the CloudFront distribution. I set "Accept-Language" as a cache key header under Behaviors for Default (*) route in CloudFront .

But, these settings keep reverting. I believe this happens each time I deploy

[2022-03-08 00:49] manalab17 commented on #2619
I'm using aws-amplify console without any libraries.
When I said 'Application' it mean web app.

e.g page is here! -> https://myy.smartbookingplus.com/

![image](https://user-images.githubusercontent.com/30038115/157143052-44008396-d2ae-48a0-bc8d-19126fb36d10.png)
It can be overwritted meta tag attributes, but I don't want to create any meta tags about amplify for SEO.

[2022-03-08 02:28] gakinson opened #2624 "Hooks are not getting uploaded"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-03-08 05:48] shahid139 opened #2625 "Build settings for node as backend and react as frontend"
**Please describe which feature you have a question about?**
Amplify build settings
**Provide additional details**
When we try to host and app having node as backend and react as frontend. Using "yarn build" for frontend and "yarn start" for backend. Build failing with timeout error.
**What AWS Services are you utilizing?**
AWS Amplify
**Provide additional details e.g. code snippets**
`version: 1

[2022-03-08 07:26] brnysn commented on #2617
Did you delete the related bucket from Amazon S3? It can be related to this issue:

#2456

[2022-03-08 08:48] yassinecc commented on #2580
Hello @hloriana :wave: one such app ID is `d2kumq5x0abp49`, and the app is hosted on the `eu-west-3` region

[2022-03-08 11:28] tasarsu commented on #44
+1 Amplify is great we already use it but it would be much more great to have wildcard subdomain support for multi tenant applications

[2022-03-08 15:39] silent-vim opened #2626 "Console has stopped loading due to undefined (reading 'githubToken')"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-03-08 15:47] Khristophor opened #2627 "Build hanging on frontend stage with no error"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-03-08 15:58] silent-vim commented on #2626
Looks like others are also experiencing issue - https://twitter.com/Scampiuk/status/1500082411891269640

[2022-03-08 16:17] israx commented on #2617
It worked. Thanks !

[2022-03-08 16:32] hloriana commented on #2626
Hi @silent-vim thanks for providing this information; I responded to your email as well. We are investigating this and will update you shortly.

[2022-03-08 16:48] PaulRbl opened #2628 "HTTP request doesn't work when i add my custom dns"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-03-08 17:04] FelipeGerolomo commented on #649
same problem

[2022-03-08 17:11] hloriana commented on #2611
Closing due to no response. If you still need assistance with this issue, please reopen. Thanks!

[2022-03-08 18:16] hanseungyoo opened #2629 "Next.js deploy is succeed, but s3 bucket not deployed."
**Please describe which feature you have a question about?**
My amplify hosting app is deployed succeed. (build and deploy)
but S3 bucket is not updated and Deployed pages are also not updated.
Can that tell me the cause?

**Provide additional details**
App ID: dhvud1kidbn8m
Region: ap-northeast-2

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**

[2022-03-08 18:33] hloriana commented on #2621
Hi @igloopigloo 👋🏽 we are looking into this, will update with more information shortly

[2022-03-08 19:48] bcien commented on #2588
Hello,
I am experimenting a similar issue, but with the domain hosted at Route53.
AppID: d2lb4m0otlxg3
Region: us-west-1

Stuck at: "SSL configuration"
![stuck](https://user-images.githubusercontent.com/20447470/157313636-554bcd46-0d22-4fb2-80cd-af4558771cef.png)

If you think this correspond to a separate ticket, I can create one and remove this reply.

Thanks for the help

[2022-03-08 20:53] nbolland commented on #2539
Hi @hloriana - just wanted to give you an update on this issue. I went ahead and created a new service role manually for this amplify app/code commit repo and it worked fine once I had manually assigned that new service role.

Here is the interesting part though: I then went to migrate a few other code commit repos to amplify, and when I went through the way I was doing it before and selected the

[2022-03-08 21:18] calavera commented on #2619
I've checked with the team, and it doesn't look like we're adding those headers to the code. I'd recommend you to go through the source to verify that they are not in your repository. They might be there because the site started from a template, or something similar, but we don't have access to it.

[2022-03-08 21:18] #2619 closed

[2022-03-08 22:29] jamessrose commented on #2588
Mine was stuck on Domain Activation stage - i deleted and re-added and it now works fine (as per [hloriana] advice)

So you may need a different ticket i'm afraid

[2022-03-08 23:17] hloriana commented on #2621
There's a typo in your package.json.
Replace `"build": "next build & next export",` with `"build": "next build && next export",` (logical AND)

[2022-03-09 00:04] hloriana commented on #2628
Hi @PaulRbl 👋🏽 thanks for opening this issue. Is there a specific error you run into when accessing your website? Can you provide screenshots of what you see?

[2022-03-09 00:36] bcien opened #2630 "Status stuck at Domain Activation stage"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-03-09 01:19] tjohnwu opened #2723 "NextJS getServerSideProps() missing cookies"

[2022-03-09 04:14] acomito opened #2631 ""For security purposes, previews only work with private repositories for fullstack apps using the Amplify CLI.""
The docs state that

Does this mean if you're just using amplify to host a spa, you can't use previews? Reading through the issues in this repo, it sounds like others are getting previews of the non-"fullstack apps", but mine aren't building. Wanted to confirm that it should be building before  dig into the issue any further.

Or is this read as "if you are using a fullstack app, it only works if

[2022-03-09 07:07] PaulRbl commented on #2628
Hello @hloriana ,
I have this error : "Access to XMLHttpRequest at 'https://api.metaplex.solana.com/' from origin 'https://www.fluxers-official.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status."
![image](https://user-images.githubusercontent.com/83174709/157390152-a9d8b157-5150-4c5c-9e2f-6def6926a084.png)

[2022-03-09 08:56] jamessrose commented on #2588
Hi - Have reopend.....

Readded the domain solved the amplify not domain activated issue (now all green).

However, now the root domain https://fplalerts.com is not accessible however https://www.fplalerts.com is working fine ?

Any ideas?

[2022-03-09 11:22] karoly-gergely opened #2632 "NextJS Build Fails without any code-change (same build was previously working)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-03-09 11:52] sdavis-amido opened #2633 "Team Environment issue"
**Please describe which feature you have a question about?**

We're using a few Git code branches to manage the lifecycle (`dev`,`qa`, `pre-prod`, `main`) and have a working Application on the `dev` branch. I can `amplify push` and it all works OK for `dev`.

There are 5 Java lambda functions in the codebase as well as their associated API Gateway endpoints.

I have git merged the codebase from `d

[2022-03-09 11:55] DarylSerrano commented on #14
+1 Can you kindly prioritize this for Bitbucket too

[2022-03-09 12:40] sdavis-amido commented on #2633
OK, so I tried a few things and this seemed to work; it was the amplify init that seemed to re-add all of the missing functions

[code]

[2022-03-09 13:54] dalekatwork opened #2634 "Unable to host apple-app-site-association to a reactjs deployment on Amplify"
**Unable to host static file apple-app-site-association from the react project root**

**Using**
1. AWS Amplify
2. Reactjs project react@17.0.1

**How to reproduce**
I tried the solution mentioned here: https://github.com/aws-amplify/amplify-hosting/issues/1983

I have the `apple-app-site-association` at the root of my react project and the redirect code on amplify(Rewrites and redirects) from the

[2022-03-09 15:57] marceloch2 commented on #1472
Same here for me, any news about this issue.

[2022-03-09 16:05] brunocasado opened #2635 "Amplify can't connect to gitlab ( previously it worked )"
**Please describe which feature you have a question about?**

We are trying to connect amplify to gitlab, this started to occurs in the last two days. We can't anymore connect on gitlab account and select branchs. Is this a bug?

**Provide additional details**
After press on reconnect repository we got the following error on gitlab:

The redirect URI included is not valid.

![image](https://user-i

[2022-03-09 17:02] calavera commented on #1983
Thanks for providing the solution to this issue @tamagokun ! I'm going to close this issue, and I will open a new one in the docs repository so we can add this to our docs.

[2022-03-09 17:02] #1983 closed

[2022-03-09 17:02] calavera commented on #2634
@dalekatwork the right solution is at the bottom of that thread, see https://github.com/aws-amplify/amplify-hosting/issues/1983#issuecomment-881549611

[2022-03-09 17:05] calavera opened #2716 "Document how to host Apple's apple-app-association files"

[2022-03-09 17:05] calavera commented on #2634
I'm going to close this issue. Let me know if that information doesn't work and I'll happily reopen it.

[2022-03-09 17:07] calavera commented on #2633
Thanks for letting us know that you were able to solve this issue. I'm going to close this ticket. Let me know if you still have difficulties with the environment and I'll happily reopen it.

[2022-03-09 17:07] #2633 closed

[2022-03-09 17:15] calavera commented on #2626
hi folks, between March 7 9:13 PM and March 8 9:55 AM PST, we experienced increased error rates connecting with GitHub in the US-EAST-1 Region. The issue has been resolved and the service is operating normally.

If you bump into this again, like @Sherdycoder mentions, try reloading the page without caching so the UI tries to refresh the token again.

[2022-03-09 17:15] #2626 closed

[2022-03-09 17:26] kahdojay commented on #2635
@brunocasado thanks for reporting, we've pushed a fix, can you clear your cache and let us know if you're still seeing the issue?

[2022-03-09 17:29] calavera commented on #2628
Hi @PaulRbl. The reason why it doesn't work is because api.metaplex.solana.com doesn't allow certain type of requests based on their CORS policy.

Make sure the CORS policy for api.metaplex.solana.com allow requests from your new domain. You can read more about CORS headers in these two articles:

https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

This is usually a missconfiguration between t

[2022-03-09 17:29] #2628 closed

[2022-03-09 17:35] calavera commented on #2614
@shaynos let us know if the problem still persists, and we'll reopen the ticket.

[2022-03-09 18:58] hloriana commented on #2632
@karoly-gergely the team has been working on this. Can you try to build again and confirm if you're still experiencing this issue?

[2022-03-09 19:03] igloopigloo commented on #2621
Hi,

That did fixed the issue, but now when I am deploying it to aws, it is throwing backend error. Please see below pasted message. I googled the error and did following steps:
npm cache clean --force
delete node_modules and package-lock.json
npm install
npm start
npm run dev

Again the whole thing is working fine on localhost but deployment is failing
The error is:
2022-03-09T18:50:17.846Z [WARN

[2022-03-09 20:06] hloriana commented on #2603
Hi @bilafish can you try running the build again to see if you're still running into this issue?

[2022-03-09 20:08] hloriana commented on #2598
We will update this issue once the bug has been fixed.

[2022-03-09 20:08] karoly-gergely commented on #2632
@hloriana First of all, I wanted to mention that we really appreciate the rapid response and solving of the issue, it really means a lot as this is a very stressful period for us. Yes, we've tested and it now seems to be working again. Thank you very much!, you can close this issue now :D Wish all support interactions could be this efficient.

[2022-03-09 20:08] #2632 closed

[2022-03-09 21:00] Thanzex commented on #2475
Hi, we are getting the same poblem, one of our project hosted on Github works just fine, but the exact same repository duplicated in Gitlab is not recognized by Amplify as a Next.js SSR App.

[2022-03-09 21:07] Ajit-Singh-Brar commented on #2552
Hi everyone, I am facing the same issue. Can you guys help me out as my cli/json file looks like this:
[code]

Can you help me with this as it shows the
`                                 # Starting phase: build
2022-03-09T17:41:19.266Z [INFO]: [31mInvalid feature flag configuration[39m
2022-03-09T17:41:19.267Z [INFO]: [31mThese feature flags are defined in the "amplify/cli.json" configuration f

[2022-03-09 21:10] Ajit-Singh-Brar commented on #2552
I want to understand which place I can update the CLI to make my project work

[2022-03-09 21:53] calavera commented on #2616
I'm going to close this issue as duplicated, since we're tracking the work with this one https://github.com/aws-amplify/amplify-hosting/issues/56

Thanks a lot for opening the ticket @rmaafs

[2022-03-09 21:53] #2616 closed

[2022-03-09 21:56] calavera commented on #93
Custom headers are automatically added to all files that you have deployed, you don't have to purge all files anymore. I'm closing this issue as fixed.

[2022-03-09 21:56] #93 closed

[2022-03-09 22:28] #2346 closed

[2022-03-09 22:30] calavera commented on #2104
I've opened a ticket to track the documentation work in https://github.com/aws-amplify/docs/issues/4112. That should give more visibility to the pendind addition to the docs. I'm going to close this issue, thanks for reporting it @chrisworman-pela.

[2022-03-09 22:30] #2104 closed

[2022-03-09 22:32] calavera commented on #247
This is a duplicated of https://github.com/aws-amplify/amplify-hosting/issues/2125 I'm going to close this issue, so all communications are centralized in one place.

[2022-03-09 22:32] #247 closed

[2022-03-09 22:50] calavera commented on #527
Thanks for posting the solution to this problem @jeveloper . As you point, the configuration is like the second example that we have in [our docs](https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#simple-redirects-and-rewrites), but using 200 for a rewrite instead of 301.

I'm going to close this ticket since this is a known behavior.

[2022-03-09 22:50] #527 closed

[2022-03-09 22:53] calavera commented on #755
Thanks for posting your solution here @darmane. As explained, you can use a custom image for your use case 🙌

I'm going to close this issue.

[2022-03-09 22:53] #755 closed

[2022-03-09 22:55] calavera commented on #665
We're never going to do this. It's a very serious security risk.

[2022-03-09 22:55] #665 closed

[2022-03-09 23:17] calavera commented on #1565
This has been fixed already.

[2022-03-09 23:17] #1565 closed

[2022-03-09 23:29] calavera commented on #2015
I'm going to close this issue for lack of activity. Let us know if the problem still exists and we'll be happy to reopen the ticket.

[2022-03-09 23:29] #2015 closed

[2022-03-10 06:45] bilafish commented on #2603
Hi @hloriana, the builds seems to be working after I remove this command from my build yaml: `echo "Github Commit SHA1: $REACT_APP_VERSION"`.

[2022-03-10 06:50] fnavarrodev commented on #2348
@Rafcin I'm in discord but I don't get a reply about this issue. It would add a lot of value to forward those headers for geolocation.

[2022-03-10 06:55] Rafcin commented on #2348
@fnavarrodev Hello! I'm sorry no one was able to help you out, I suggest you open a ticket in the AWS console with the issue then, that way they can be notified better. Beyond that you can't do much but wait for a response, unfortunately for now parts of the hosting system are locked down so as devs we can't change much until the Amplify team adds that as a feature with the CLI or console.

[2022-03-10 07:26] LeonZhu695 opened #2636 "Cannot connect or delete amplify env"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-10 07:26] LeonZhu695 opened #2638 "Cannot connect or delete amplify env"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-10 08:57] dalekatwork commented on #2634
Hi @calavera the solution doesnt resolve it for me.

I have moved my `apple-app-site-association` file under my root at `public/.well-known/apple-app-site-association`.

I added the following to the top of my redirects on amplify

[code]

When I try to curl the url, I get the following

[code]

[2022-03-10 09:41] sethjeffery commented on #2552
Setting Amplify CLI to latest in the build image settings worked for me.

<img width="626" alt="image" src="https://user-images.githubusercontent.com/1628558/157634345-23ebbf0d-273a-47f9-8adb-06019ca199f5.png">

- Click **Build settings** from the left
- Click **Edit** button in the Build Image settings box
- Click **Add package version override** and select **Amplify CLI**
- Save changes and rebu

[2022-03-10 11:11] #2291 closed

[2022-03-10 12:18] rkokhatskyi commented on #2575
I'm also facing this issue. If the related Amplify build fails - PR build will stuck in progress state without any feedback

[2022-03-10 12:25] spina-a-d commented on #2604
Got the same issue on a long-existing project that has always worked.  Now all-of-a-sudden it says I can't deploy to the existing deployment bucket, which doesn't make sense, because it always existed before as well, that's where it deploys to.

[2022-03-10 13:31] kellymakesstuff opened #2637 "Expired API key preventing calls to DataStore (but cognito pool is default)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-10 15:52] sealabcore commented on #588
+1, the `postBuild` step will run before tests, and run before the actual successful deploy happens so if any of those steps fail, I've still incorrectly ran a `postBuild` command that I only wanted to run after the deploy step.

[2022-03-10 17:22] salman-shezad opened #2639 "Access denied while accessing the application."
I was deploying the code to the aws amplify and for that I have created my zip and pasted the same in the S3 bucket
But when I try to run the deployed application it gives me error while accessing the deployed url

This XML file does not appear to have any style information associated with it. The document tree is shown below.
<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<Req

[2022-03-10 19:10] calavera commented on #2639
Can you give us a little bit more information about your application?
do you have an appId that you can share with us?
how are you uploading that file?

[2022-03-10 19:14] calavera commented on #2634
Can you give us more information about your app?
What's the url, and appId for your it?

[2022-03-10 19:46] kdaulton-chwy commented on #2575
I'm getting the same issue with any build failures in Amplify:

![Screen Shot 2022-03-10 at 2 45 39 PM](https://user-images.githubusercontent.com/64433365/157742771-92223a23-d191-42fe-be4a-aa63bf5d9133.png)
.

[2022-03-10 21:11] dalekatwork commented on #2634
hi @calavera, here is the `apple-app-site-association` file

[code]

I am trying to host it on `app.dillali.com` under specific url `app.dillali.com/.well-known/apple-app-site-association`
`app.dillali.com` is a react app hosted on Aws Amplify

I am following this documentation: https://docs.expo.dev/guides/linking/#universal-links-on-ios

[2022-03-10 21:18] bmw46033 opened #2640 "Building backend with a Lambda Shared Layer"
**Please describe which feature you have a question about?**
Lambda Layers and Auto Build

**Provide additional details**
I created and added a lambda layer.  With amplify push, all works swimingly.  When I try to deploy, however, I appear to get an error looking for a file in the node_modules of my layer. Do I need to adjust the build settings to install the node modules for this layer?

Also, wh

[2022-03-10 22:18] hloriana commented on #2625
Hi @shahid139 it looks like you were able to successfully build after posting this, do you still need assistance with this issue?

[2022-03-11 02:27] clichedmoog commented on #367
I want to add to @aimeeu 's comment
When the preview build failed once, even if I click the "Redeploy this version" button on PR's AWS Amplify's web console.
AWS Amplify does not notify GitHub, so the PR's checks are not updated and are still stuck in the "In progress" state.

![Screen Shot 2022-03-11 at 11 23 53 AM](https://user-images.githubusercontent.com/1225082/157790276-6dc59d45-8666-4b49-9e

[2022-03-11 10:19] ikoichi opened #2641 "Not able to deploy Next.js SSR app"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-11 11:08] dalekatwork commented on #2634
hi, I have figured out where I went wrong.

My `apple-app-site-association` is now under my root at `public/.well-known/apple-app-site-association.json`.

I am using a redirect rule as the following:

[code]

curl call on the url works, and my app is working as expected.

[2022-03-11 11:08] #2634 closed

[2022-03-11 13:40] Alek-S commented on #2343
+1

[2022-03-11 13:51] leonardof131 opened #2642 "Custom domain 404 but Cloudfront URL Works"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-03-11 16:46] calavera commented on #2641
hi @ikoichi, can you give us more information about your app? Which version of Next.js are you using?

[2022-03-11 18:53] ikoichi commented on #2641
Hi @calavera I'm using Next.js 12

[2022-03-11 19:04] calavera commented on #2641
thanks for letting us know @ikoichi, that's what I suspected. We currently don't support that version, we're working on it.

You can keep track of our progress by clicking the "**Subscribe**" button in this issue 👉  #2343

I'm going to close this ticket so we don't keep duplicated ticket around.

[2022-03-11 19:04] #2641 closed

[2022-03-11 20:53] hloriana commented on #2624
Hi @gakinson 👋🏽 I'm not able to reproduce this issue. I'm able to trigger CI/CD builds that execute hooks during the build phase. What kind of command hooks are you trying to run during the build process (how are they named)?

[2022-03-12 02:39] rajinikanth2305 opened #2643 "Getting tHis site cant be reached after deploying with custom domain"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-03-12 02:59] rajinikanth2305 commented on #2643
Yes I have added. Pleas help me with this issue and I have been facing this issue for the last one day.

[2022-03-12 05:19] stokaace commented on #2326
There are several issues still with getting Next and Amplify to work nicely.  The best two pages I found are here
https://github.com/aws-amplify/amplify-hosting/blob/main/FAQ.md#error-accessdenied-access-denied
And here
https://aws.amazon.com/blogs/mobile/host-a-next-js-ssr-app-with-real-time-data-on-aws-amplify/
(Including the comments below the blog post)

In my case I made several key changes
1

[2022-03-12 09:14] wottpal commented on #2641
@calavera do you have an official ETA for nextjs-12 support. would love to use aws for my app but vercel just has the better arguments atm.

[2022-03-12 11:35] truecolintracy commented on #2377
Seeing this error with yarn workspaces and was hoping to find some useful information here or a potential solution. Seems like a big oversight considering many builds with next are using monorepos at this point. Any help would be much appreciated.

[2022-03-12 13:10] bojidaryovchev commented on #1987
@code-runner-2017 @multivoltage  not sure guys, you should test it out

[2022-03-12 14:09] rajinikanth2305 commented on #2643
Please help me . I got stuck here and I have to deploy website on custom domain

[2022-03-12 17:34] acomito commented on #2631
Thanks for clarifying @hloriana. I'm not seeing my PRs previews deploy, but I'll double check everything and if I still can't get it, I'll open a separate ticket with more details.

Closing this ticket though!

[2022-03-12 17:34] #2631 closed

[2022-03-12 19:49] Rafcin commented on #2377
If I remember correctly you need to spin up a new project so the amplify system can detect it's a monorepo setup, when setting up you'll be given the option to specify your target as apps/appname or however your structure looks and that should work then.

[2022-03-12 21:28] dleyyy opened #2644 "Build successful but link not opening"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-13 11:55] PatrickCleary commented on #2576
Hi, I am having the same issue. With a few slight differences: I am not deploying from Amplify console, I am trying to configure an env in GitHub Actions with this libray: https://github.com/marketplace/actions/amplify-cli-action

I have tried on Node 15.x, 16.x, and 17.x
I have also made sure I am on the latest amplify version (Currently 7.6.23)

The configuration works if I remove these flags, b

[2022-03-13 13:30] shefuyuta opened #2645 "CNAMEAlreadyExistsException with error message including unknown AWS account ID"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-03-13 15:49] ishansharma opened #2646 "Webhook payload with missing commit payload silently fails"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-14 09:40] marco910 opened #2647 "High Time to First Byte (TTFB)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti

[2022-03-14 10:13] TonyKnibb-MakaraHealth commented on #977
I switched my domain to Route53 because my registrar did not support ANAME, exactly as AWS instructed.

But nothing I've tried in Route53 works either.

It also doesn't clearly indicate how to create an ANAME. I've tried using CNAME with alias checked on, and also A and AAAA with alias checked on.

Nothing seems to work.

[2022-03-14 13:21] sclavijo93 commented on #2635
Hi @kahdojay , I'm facing the same issue. I've tried clearing the cache, using incógnito, but still not working :(

[2022-03-14 14:26] 0afcode opened #2648 "Issue with setting up CI/CD with mono repo"
**Please describe which feature you have a question about?**
Amplify Monorepo build

**EDIT** : added file attachment to show build config with proper styling and indents
[build.txt](https://github.com/aws-amplify/amplify-hosting/files/8245713/build.txt)

I have a react project that is setup in a monorepo fashion. I am trying to set up CI/CD triggered by updates to my git repo. The build config th

[2022-03-14 15:15] hloriana commented on #2622
Hi @StephaneBischoff  have you tried adding that header directly in the Amplify Console? Here is a guide for adding the headers: https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html#setting-custom-headers

[2022-03-14 15:55] calavera commented on #2644
Hi, what's the URL for your website? The screenshot you posted shows the Amplify dashboard, which looks correct to us.

Make sure you set the SPA redirect in your dashboard, if you didn't already:
https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa

[2022-03-14 16:08] vishal-dms opened #2649 "amplifyPush --simple triggers command hooks more that once"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-hosting/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-hosting/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosti