[2021-08-12 15:53] siegerts commented on #2156
In that scenario, can the [Skip build for a commit](https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#skip-build-for-a-commit) help? Larger PRs merged into `main` can be squashed and preprended with`[skip-cd]`.

[2021-08-12 15:53] akanungo22 commented on #2156
I will try that..

[2021-08-12 15:55] akanungo22 commented on #2156
Hope it does not skips the CD which is implemented by CodePipeline. As we have mono repo with UI and Backend code together

[2021-08-12 16:23] swaminator commented on #2155
@dlin-me can you check with region your `dev` environment is in?

[2021-08-12 16:27] matulkum commented on #1271
Adding those env vars works for me for deployment. Unfortunately when I try to delete the Frontend app I get  **Deletion failed Command failed with exit code 1:**, with the same error "headless is missing the following inputParams userPoolId...".

I also imported Cognito, instead of created it with amplify cli.

[2021-08-12 16:45] swaminator commented on #2154
@akanungo22 that is by design. An Amplify app just consists of the actual project resources. To trigger a build you could use deploy hooks: https://docs.aws.amazon.com/amplify/latest/userguide/webhooks.html

[2021-08-12 16:46] #2154 closed

[2021-08-12 16:50] akanungo22 commented on #2154
@swaminator then webhook creation is not available in Amplify Cloudformation ?

[2021-08-12 17:19] Athena96 commented on #2153
Can you please share your appId and we can investigate

[2021-08-12 17:45] Athena96 commented on #2140
Hi @imiosga Terraform is a 3rd party tool. If you are also experiencing this issue with CDK, can you provide CDK repro steps and we can take a look, thanks!

[2021-08-12 18:02] Athena96 commented on #2145
@frank-unovica I noticed you are using CodeCommit. When I was attempting to repro I was using GitHub (which worked fine), but when I use CodeCommit I am having issues getting [skip-cd] working, so I am investigating this more and will get back.

[2021-08-12 18:03] henryodinakamin opened #2158 "Domain activation"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2021-08-12 18:12] henryodinakamin opened #2159 "Domain activation"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2021-08-12 18:18] Athena96 commented on #2152
Hi @ludokx has the build failed because the branch already existed from the very start, or did it fail with a different error the first time?
Can you try disconnecting the branch, and deleting the backend environment, then re connect the branch following the same steps you list?

[2021-08-12 18:34] ludokx commented on #2152
Hi @Athena96 the build always failed with the same error. I tried another branch name and same issue.

I also already tried disconnecting the branch, deleting the backend environment and reconnecting it. It's always the same issue unfortunately

[2021-08-12 18:38] siegerts commented on #2159
Duplicate of #2158

[2021-08-12 18:38] #2159 closed

[2021-08-12 19:06] imiosga commented on #2140
Well, @hughesjj might be able to provide a reproducer for CDK, but looking at the behaviour I'd assume that the root cause is within the Amplify implementation. After all, there seem to be config options that are not fully exposed through the Amplify API or auto-populated within the implementation.

[2021-08-12 19:28] iyoman commented on #1271
Did you delete it with the client or console? For me, I could only delete it by removing auth in the cli and then going to the console.

[2021-08-12 20:52] Athena96 commented on #2158
Hi @henryodinakamin is this still an issue? When I visit https://www.min.ng/ I am able to view the site successfully?

[2021-08-12 21:13] Athena96 commented on #2145
@frank-unovica I was able to repro with AMPLIFY_DIFF_DEPLOY + CodeCommit as well

[2021-08-12 21:21] Athena96 commented on #2156
@akanungo22 `[skip-cd]` will only skip with the Amplify build

[2021-08-12 22:04] hughesjj commented on #2140
Previously I was having trouble setting this up, but after some iteration my CDK now works to set this up, with a few caveats & confusions

1. even though I've now deleted the master branch again, amplify still claims my app to be mastered on the "master" branch, giving me a dead link
2. Until the first build succeeds, the amplify site link is malformed when listing the "production branch" on the

[2021-08-12 23:48] Athena96 commented on #2152
@ludokx can you confirm if the s3 bucket for your backend still exists in your account? It should have the prefix of `amplify-*` and would include `dev` in the bucket name

[2021-08-12 23:53] ludokx commented on #2152
@Athena96 yes I have it for `dev`, `main` (actually named `prod`) and `demo`

[2021-08-13 00:17] ludokx commented on #2152
Unfortunately that failed as well

[2021-08-13 00:59] henryodinakamin commented on #2158
Thanks Jared.

Everything is working fine now

Odinaka Onah
Software Engineer 

MIN.ng

---- On Thu, 12 Aug 2021 21:52:32 +0100 Jared Franzone ***@***.***> wrote ----

Hi https://github.com/henryodinakamin is this still an issue? When I visit https://www.min.ng/ I am able to view the site successfully?

—
You are receiving this because you were mentioned.
Reply to this email directly, https://gith

[2021-08-13 07:53] DSSLab-code commented on #1837
Also have this error. I have already dig for a day.

[2021-08-13 09:33] wvidana commented on #1963
@hoangnguyencong-agilityio did amplifyPush worked? For me I had to add the script to my repo and edit it to make amplifyPush able to read the env vars `AMPLIFY_USERPOOL_ID`, `AMPLIFY_WEBCLIENT_ID`, `AMPLIFY_NATIVECLIENT_ID`, `AMPLIFY_IDENTITYPOOL_ID` from `amplify.yml`

https://github.com/aws-amplify/amplify-console/issues/2039

------

Also manually modifying the script resulted in the CI/CD to n

[2021-08-13 12:33] a-h opened #2160 ""Amplify Console requires you to have admin access to the repository." - Why?"
I've set up a Personal Access Token for a Github user that's used for CI purposes. The token gives access to the repos, but the console complains that admin access is required.

<img width="700" alt="Screen Shot 2021-08-13 at 13 26 17" src="https://user-images.githubusercontent.com/1029947/129357194-248620da-c116-46a1-8df4-900d83c5aac3.png">

App ID can't be provided, because I can't create an app

[2021-08-13 15:00] a-h commented on #2160
For clarity, I really wanted to use CDK:

[code]

This was giving me the followign error message.

[code]

To debug the problem, I was trying to use the console.

In the console, I saw this message about a requirement to be an admin user (this isn't mentioned elsewhere I don't think).

I realised that deploying my CDK project from the CLI worked fine for me when I used my Github personal access to

[2021-08-13 16:16] Athena96 commented on #2140
Thank you for this feedback, we'll investigate the discrepancies between console features and CDK/CFN options.

[2021-08-13 16:19] Athena96 commented on #2156
closing, feel free to re-open if you have any other questions. thanks!

[2021-08-13 16:19] #2156 closed

[2021-08-13 16:19] #2158 closed

[2021-08-13 16:22] matulkum commented on #1271
Thank for the tipp. I tried to delete it in the console. Int the end I used the CLI for deleting the whole app, which worked.

[2021-08-13 17:56] chrisl777 commented on #1645
I'm having this issue as well.

[2021-08-13 18:10] seankovacs opened #2161 "SSR request loses original headers"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-13 21:47] Athena96 commented on #2152
is there also a CloudFormation stack for demo? can you try deleting that as well

[2021-08-13 23:13] amandarose42 commented on #2136
+1

[2021-08-13 23:15] dn-l opened #2169 "Next.js deploy failed: Error: CloudFront input failed validation. Could not find next.js pages for "_next/image*""
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-13 23:53] lwatawala1953 commented on #2141
Sorry I had accidentally deleted the old app. I have created a new app, and have the same issue. I confirm that I zipped just the contents of the folder, in fact just one HTML file of the Hello World example.

The App ARN on the new app I deployed is -  arn:aws:amplify:us-west-2:468629295631:apps/d2er68ihyi9odj

[2021-08-13 23:59] lwatawala1953 opened #2162 "Access denied error in deploying the sample app"
AWS amplify -

Build a Basic Web Application - Create a Web App with Amplify Console

I diligently followed the steps described in the getting started tutorial:
https://aws.amazon.com/getting-started/hands-on/build-web-app-s3-lambda-api-gateway-dynamodb/module-one/?e=gs2020&p=build-a-web-app-intro

But, after uploading my zipped up Hello World HTML file (Index.html.zip file from MacBook Pro laptop

[2021-08-14 04:45] HeejongLee-aws commented on #64
+1 Please update. I have a same problem. we will change github to code commit, but AWSAmplify could access code commit repo in another account.

[2021-08-14 12:36] sowhatdoido commented on #1815
The org I'm in has some kind of strange setting where I can create a deploy key but amplify isn't able to create one even if I authorized it to. The ability to generate an ssh key and upload it to amplify would be incredibly helpful in this case.

Or even better, allow "manual reconnect repository", where it lists the SSH public key and web hook you can configure on the github side - all this woul

[2021-08-14 18:04] syngate commented on #2132
We are also having the same issue using AWS Amplify, the CNAME records do get created but an error appears at the validation stage suggesting that the CNAME is already associated to another resource.

As a workaround I seem to be able to use a different subdomain, however, when trying with the root domain we keep getting this error message despite having removed the records before retrying.

![ima

[2021-08-14 18:51] sowhatdoido commented on #1639
I'm encountering the same issue - removing `eval "$(ssh-agent -s)"` results in an error but does not hang as mentioned above, indicating a problem specifically with this command.

[2021-08-14 20:46] sowhatdoido commented on #1639
For those running into the same issue, you have to make sure you remove the new line characters from your base64 encoded string before adding it to DEPLOY_KEY. That solved the problem for me.

[2021-08-15 03:05] hoangnguyencong-agilityio commented on #1963
@wvidana thanks for the message, it worked for me since I have added my self script instead of.

[2021-08-15 22:48] rallona opened #2167 "Build error in backend after createapp and createbranch using the amplify nodejs api"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-15 23:10] jknapp25 opened #2163 "Resource is not in the state stackUpdateComplete -> API: s3:SetBucketEncryption Access Denied"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-16 00:24] enier290188 opened #2164 "User email only sign in"
**Please describe which feature you have a question about?**
User Pool atributes.

**Provide additional details**
I want my users to login using only their email, I have been doing the following. See image bellow:
<img width="1927" alt="image-001" src="https://user-images.githubusercontent.com/24461835/129497033-50b2d997-be55-4009-a643-16dc90a189e7.png">

When I use the command "amplify push" and

[2021-08-16 03:19] evcodes commented on #436
So I am building a React Application and using Antd for the frontend and this worked for me too!
Original Address: </^((?!.(css|gif|ico|jpg|js|png|txt|svg|woff|ttf)$).)*$/>
Destination Addres: index.html
Redirect Type: 200

I am not sure if this makes a difference but it's my first rule.
Cheers!

[2021-08-16 05:17] nimacks commented on #1906
This domain is now available m***m**.io. Reopen if you have any further issues

[2021-08-16 05:17] #1906 closed

[2021-08-16 05:19] nimacks commented on #1908
This domain is now available. s-----i----.com. Reopen if you have any further issues

[2021-08-16 05:19] #1908 closed

[2021-08-16 05:21] nimacks commented on #1931
Our records indicate that this app has been deleted.

[2021-08-16 05:21] #1931 closed

[2021-08-16 05:22] nimacks commented on #1964
Our records indicate that this domain is now available. b----------.eu

[2021-08-16 05:22] #1964 closed

[2021-08-16 05:23] nimacks commented on #1965
Our records indicate that this app has been deleted

[2021-08-16 05:23] #1965 closed

[2021-08-16 05:29] nimacks commented on #1970
Our records indicate that this domain is now available.

[2021-08-16 05:29] #1970 closed

[2021-08-16 05:30] nimacks commented on #1979
Our records indicate that this domain is now available.

[2021-08-16 05:30] #1979 closed

[2021-08-16 05:32] nimacks commented on #1199
Our records indicate that your app no longer exists. Re-open if you are still having issues getting setup.

[2021-08-16 05:32] #1199 closed

[2021-08-16 05:35] nimacks commented on #1179
Our records indicate you no longer have a custom domain associated with this app. Re-open if you're still having issues.

[2021-08-16 05:35] #1179 closed

[2021-08-16 05:41] nimacks commented on #1990
Our records indicate that the domain you are trying to associate is `amplifyapp.com`. You can verify this information here : https://docs.aws.amazon.com/cli/latest/reference/amplify/get-domain-association.html. In order to remove this error message you will need to choose a different domain.

[2021-08-16 05:42] nimacks commented on #2005
Our records indicate that this domain is now available.

[2021-08-16 05:42] #2005 closed

[2021-08-16 05:44] nimacks commented on #1994
Our records indicate that this app is no longer available.

[2021-08-16 05:44] #1994 closed

[2021-08-16 05:47] nimacks commented on #2089
Our records indicate that this domain is now available.

[2021-08-16 05:47] #2089 closed

[2021-08-16 05:49] nimacks commented on #2063
@Megha0612, can you ensure that you've cleaned up the old CNAME record that was associated with your previous app? This would explain the error message you're getting at the moment in regards to CNAME Already associated with an existing resource.

[2021-08-16 05:51] nimacks commented on #2058
Our records indicate that this app no longer exist. Re-open if you're still experiencing issues with your custom domain.

[2021-08-16 05:51] #2058 closed

[2021-08-16 05:52] nimacks commented on #2056
Our records indicate that this domain is now available.

[2021-08-16 05:52] #2056 closed

[2021-08-16 05:55] nimacks commented on #2054
Hi @felipehv ,
The CAA error happens when your domain has a CAA DNS record that does not specify Amazon as an approved Certificate Authority. The solution is to either remove your CAA records entirely, or add at least one of these records to your domain DNS:

[code]

[2021-08-16 05:59] nimacks commented on #2132
We are working on surfacing this information in the console to make it easier for customers to view associated resources.

Looks like your domain is resolving now app*.g****.w***

[2021-08-16 05:59] #2132 closed

[2021-08-16 06:00] nimacks commented on #1665
Re-open if you're still having issues.

[2021-08-16 06:00] #1665 closed

[2021-08-16 06:03] nimacks commented on #2122
Our records indicate that this app is no longer available.

[2021-08-16 06:03] #2122 closed

[2021-08-16 06:04] #2117 closed

[2021-08-16 06:05] nimacks commented on #2115
Our records indicate that this domain is now available. Re-open if you're still facing issues.

[2021-08-16 06:05] #2115 closed

[2021-08-16 06:08] nimacks commented on #1884
Hi @receeveBackes, apologies for the delay. We are currently working on providing a list of resources  that have conflicting CNAMEs in the console. This will provide you with the necessary information you need to troubleshoot.

[2021-08-16 06:46] essudhir opened #2165 "Error Message"
Sir,

When I am go through AWS Amplify - All apps GettingStarted Add environment & trying to uploading the index.html RAR file into the program, it will gives error message i.e. "Unsupported Content Please zip your project's root directory and try again.". I am uploaded the file from my computer, then how it will make from project's root directory? please give me a solution.

Regards,

Sudhir Kuma

[2021-08-16 10:25] adlershai commented on #2063
Thanks, now it's OK

[2021-08-16 12:04] GeekRishabh opened #2166 "Amplify CI/CD just for backend repo."
How can one add ci/cd to their repository which has just the backend code in it?

I am using bitbucket/GitHub for amplify repo. I don't have graphql schema with this repo

**YML build file I am  using**

`version: 0.1
backend:
  phases:
    preBuild:
      commands:
        - update-alternatives --install /usr/bin/python3 python3 /usr/local/bin/python3.8 11
        - /usr/local/bin/pip3.8 install

[2021-08-16 13:44] chrisbonifacio commented on #2167
transferred from js repo

[2021-08-16 14:36] rallona commented on #1966
and how can I uncheck this  "Enable full-stack continuous deployments (CI/CD)" option when I am deploying the app using the AWS NODEJS API?

[2021-08-16 14:38] rallona commented on #1966
If I attach the `AMPLIFY_SKIP_BACKEND_BUILD` = true environment variable it doesn't generate me the aws-export.js file...

I have read and the aws-export file is generated when you build the backend isn't it?

Any solution to this??

[2021-08-16 14:39] rallona commented on #1966
If I use `AMPLIFY_SKIP_BACKEND_BUILD` the build doesn't generate me the aws-export file...

[2021-08-16 16:09] #2063 closed

[2021-08-16 16:13] nimacks commented on #2064
Hi, @Joaker4, if your domain is hosted in Route53 you do not need to make any manual changes in Route53. Amplify does that on your behalf. You should be able to select the domain in Amplify and follow the wizard to setup the domain. For your reference. https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

One or more domain names have failed DNS validation. Pl

[2021-08-16 17:01] Athena96 commented on #2146
Closing, feel free to re-open if you have any related issues. thanks!

[2021-08-16 17:01] #2146 closed

[2021-08-16 17:05] Athena96 commented on #2162
Hi @lwatawala1953 can you try renaming the file to something like "name.zip". Also be sure you are zipping only the contents of the folder and not the folder itself

[2021-08-16 17:12] siegerts commented on #2164
Hi  :wave:, thanks for raising. I'm going to transfer to the Amplify CLI repo to get some more eyes on it.

[2021-08-16 18:18] wyatt-troia commented on #1923
@saachitech @kahdojay  Thank you! I also just had to provide an arbitrary value for `configFilePath`. Definitely tough to figure this one out with the error message given

Here was my final test section of my config:

[code]

[2021-08-16 18:18] #1923 closed

[2021-08-16 20:24] chmod opened #2168 "Failed to identify framework when used with CDK"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-16 21:32] ACPK commented on #2073
Any updates on this? AWS fixed this for us twice but we have hit it again for the first time. The issue seems to occur for us every five weeks.

[2021-08-16 21:32] lwatawala1953 commented on #2162
Thanks. I renamed the zip file name to be “index.zip” and updated the App with it on Amplify. But I still get the same error.

The zip was created by directly compressing the index.html file. Without the folder. Please see the attached zip file.

Please let me know what I should do.

Thanks
Lakshman

On Aug 16, 2021, at 1:05 PM, Jared Franzone ***@***.***> wrote:

Hi @lwatawala1953 <https://github

[2021-08-16 21:50] ACPK commented on #1863
@Athena96 We hit the issue (third time now) again today. The "framework" in the CLI keep going blank. We've deployed 30+ times successfully, but then hit the issue randomly.

Here's the screenshot of the AWS Amplify CLI > General. This should to say Next.JS SSG.

https://www.loom.com/i/e5ae98a56d994eafa389f9021f2762ff

[2021-08-16 22:18] behrooziAWS commented on #2168
Just for confirmation, you are using the same repo/branch when you use the console as you do when you use the cdk and the package.json contains something like [this]? (https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html#deploy-nextjs-app):

[code]

[2021-08-16 22:32] behrooziAWS commented on #2163
Your role likely hasn't expired, but the amplify cli >4.50 requires additional permissions.  Try adding the following permissions to the role you are using:

[code]

[2021-08-16 22:37] rallona commented on #2167
The problem is that if I use the new environment variable to avoid to deploy the backend, I don’t generate the aws-export.is file in the build, so I get one error.

And if I build the full-stack (front and backend environment) the build process try to find the name of the branch in Frontend and also in backend and also fails.

I use the nodejs aws api for createbranch

[2021-08-16 22:39] behrooziAWS commented on #2166
Is this a duplicate of https://github.com/aws-amplify/amplify-cli/issues/1773?

[2021-08-16 22:44] behrooziAWS commented on #2165
RAR is not a supported zip format.  Please use zip.  Details on the manual deploy process [here](https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html)  If you continue to have issues, provide your app id and region.

[2021-08-16 22:44] #2165 closed

[2021-08-16 22:56] dn-l commented on #2169
@edwardfoyle you're right the issue happens when I push to the repo and Amplify CI deploys the Next.js app. So yes, it happens on the Amplify Console side

[2021-08-16 23:04] behrooziAWS commented on #2162
Case matters in the naming of your index.html file, yours is called Index.html instead of index.html
Try renaming it to index.html, as is it is available here:

https://dev.d2er68ihyi9odj.amplifyapp.com/Index.html

[2021-08-16 23:04] #2162 closed

[2021-08-16 23:10] hughesjj commented on #2168
Have you attempted to actually build the app yet?

When I make an SSR app via CDK, it doesn't display a detected framework until after my first attempted build.  It looks like that field is "lazily populated" upon first build, and some call in the web console but not in cdk/cfn sets it

[2021-08-16 23:10] hughesjj commented on #2140
FWIW I'm no longer seeing this issue

[2021-08-16 23:16] hughesjj commented on #1889
When adding sentry to my application, the issue with webpack not being recognized/found during the SSR portion of the build started appearing for me.

This is super annoying because nextjs has essentially no built in error support, and they strongly suggest using sentry for any error handling.

[2021-08-16 23:26] johnjensenish commented on #1889
I'm having an issue like this, when adding `sentry/nextjs` and overriding creating error handling [like this example](https://github.com/vercel/next.js/blob/canary/examples/with-sentry/pages/_error.js). The error message I get when building is:`[DEP_WEBPACK_CHUNK_HAS_ENTRY_MODULE] DeprecationWarning: Chunk.hasEntryModule: Use new ChunkGraph API`

[2021-08-16 23:31] hughesjj commented on #2098
I'm having similar issues after adding sentry to my application.  If anyone has a working sentry configuration (one which avoids this issue), please let me know.

[code]

[2021-08-17 00:14] hughesjj commented on #2153
If we are an SSR Next.js app, what would the minimum permissions on the backend be?

[2021-08-17 00:37] liamegan commented on #2098
We've ended up having to move to Vercel here. Not ideal as everything else to do with the application is within the AWS sandbox, but there it is.

[2021-08-17 00:47] hughesjj commented on #1889
I'm using aws amplify's logging instead now.  I see logs available in cloudwatch for my regional lambda@edge distribution.  Giving up on sentry for now.

[2021-08-17 00:57] Onibenjo opened #2171 "Nextjs Contentful not showing all images"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-17 06:18] chmod commented on #2168
Yes.
@hughesjj I have build the app, but it fails to identify it as SSR and instead just zips it.

This is the same repo, same branch build output but using CDK
<img width="776" alt="Screenshot 2021-08-17 at 08 13 16" src="https://user-images.githubusercontent.com/614067/129673278-b7201ec1-05b7-4762-b575-66b3f094a7a7.png">
while this is using the UI
<img width="812" alt="Screenshot 2021-08-17 at 0

[2021-08-17 06:52] RealDrewKlayman commented on #2098
Any update @siegerts @Athena96 ?

[2021-08-17 06:57] nimacks commented on #553
@pbishnupuri, is this still an issue for you?

[2021-08-17 07:40] Hans-ABC opened #2172 "Unable to access Amplify App from multiple ISPs"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-17 07:50] chmod commented on #2168
https://github.com/chmod/nextjs-test/tree/main is a out of the box project. I tried deploying it using the CDK on the initial comment and the results are the same. Used both CDK v1.118 and v1.67. App made with CDK refuses to identify it as SSR

[2021-08-17 08:24] Onibenjo commented on #2171
But it works with the cloudfront url

[2021-08-17 08:28] uspai opened #2173 "Amplify is not passing headers on custom domains"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-17 11:10] lwatawala1953 commented on #2162
Thank you. By renaming the file name as you suggested the access error got corrected.

However, now when I click on the link https://dev.d3h6dtsk467k0n.amplifyapp.com <https://dev.d3h6dtsk467k0n.amplifyapp.com/> , it does not render the html page on the browser as expected by the getting started tutorial says. Instead it simply opens the file in the browser.

Please let me know what I need to do.

[2021-08-17 12:59] dlin-me commented on #2155
@swaminator   it is in the same region with other environments. us-east-1

[2021-08-17 13:04] cmnstmntmn opened #2174 "customHttp.yml not passing headers to the cloudfront distribution"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-17 14:16] parkerthegeniuschild commented on #2098
what module is throwing the error?
` canvas`

webpack version (4 or 5)
` 5`

Next.js version
` 11`

new or existing app
` new app`

Build image
` default Amazon Linux 2`

Extra
`canvas is not listed in package.json but also fails when listed or added to webpack ignorePlugins too`

[2021-08-17 14:19] mwiekens commented on #2098
I use Sentry as well. Next-sentry to be exact.

[2021-08-17 15:08] cs-ava commented on #2123
hi, this is also happening to our SSR app, the cdn distribution + s3 bucket stays even after we closed the pr (on GitHub)

[2021-08-17 15:33] andrewgadziksonos opened #2175 "[NextJS][ISR] intermittent 503 errors for ISR pages"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-17 15:56] quinnturner commented on #2175
I had to update the IAM policy of the Lambda manually to include:

[code]

Does your Lambda have the correct permissions?

I am in the process of writing a GitHub issue dedicated to this problem.

[2021-08-17 16:08] andrewgadziksonos commented on #2175
Yeah I can confirm that I have the proper IAM policy.

Here's the CloudWatch logs

![image](https://user-images.githubusercontent.com/31038519/129761616-69588e22-21ab-4545-a6c1-b512eb2e91f1.png)

[2021-08-17 16:20] nicksemansonos commented on #2098
We're having this issue as well, both with webpack version 4 and 5.

What module is throwing the error?
With webpack 5, `_http_common`
With webpack 4, `jose`

webpack version (4 or 5)
`5, but have tried 4 as well as a potential workaround to no avail`

Next.js version
`11.1, but have tried 11.0 and 10.2.3 too`

New or existing app
`New`

Build image
`default build image`

Extra
Using `next-auth` a

[2021-08-17 17:36] adi518 commented on #2096
I found out `envCache` is actually working, but it has a fatal bug, as it lowercases the key that's passed to it, therefore when it tries to get the default variable (`envCache --get stackInfo`), it fails! Not only that, it seems the default variable name gets overridden at an empty value, rendering it useless. It's such a critical issue that it should be prioritised ASAP.

[2021-08-17 17:59] Athena96 commented on #2175
yes, if you create an app initially not using ISR, then you add an ISR page, then you will need to manually update the IAM policy on the lambda.

[2021-08-17 19:07] adi518 commented on #2123
@cs-ava You're probably better off working around it by setting up the webhooks yourself.

[2021-08-17 22:01] LucasAndrad commented on #1837
I have this same error, @equivalent and @JohnHershberg described exactly what is the problem.

[2021-08-17 22:37] LucasAndrad commented on #1837
@ferdingler any updates on this one?

[2021-08-17 23:08] inssein commented on #736
@swaminator what is the issue? None of my set cookie calls seem to be working, but I don't have the luxury of re-creating this app as its a production application.

[2021-08-17 23:11] nicksemansonos commented on #2098
Update: we were able to get our app deployed successfully after downgrading `prisma` and `@prisma/client` to v2.18 in case anyone else is using this dependency. Haven't narrowed it down to the exact version that broke yet but I can confirm the build works perfectly with 2.18 and fails with the error we're all describing on the latest `2.29.1`

[2021-08-17 23:49] behrooziAWS commented on #2168
It looks like you haven't set a [role](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-amplify.App.html#rolespan-classapi-icon-api-icon-experimental-titlethis-api-element-is-experimental-it-may-change-without-noticespan) A role is required to provision ssr resource like the cloudfront distribution in your account.

[2021-08-18 06:18] dwmkerr commented on #264
It would be great to have the option to have the Amplify Console comment on the pull request with the preview URL. At the moment, the flow is:

1. Find the status message and choose "Show all checks"
2. Choose "More details" in the AWS Amplify Console check
3. Find the link the AWS page showing the pull request (quite hard to see)
4. Open the link to AWS **potentially requiring auth** which can sl

[2021-08-18 06:52] MartinCura commented on #2098
Hi. I'll add another dependency that causes the `Cannot find module 'webpack'` error on SSR Build: `next-pwa@5.3.1`.
This after setting Next.js version to `latest` in Amplify as recommended (using 11.0.1).

[2021-08-18 08:11] cmnstmntmn commented on #1928
and also Next version 11

https://aws.amazon.com/about-aws/whats-new/2021/08/aws-amplify-hosting-support-next-js-version-11/

[2021-08-18 08:11] cmnstmntmn commented on #1928
i could not make the image optimization work ..

[2021-08-18 08:12] chmod commented on #2168
Thanks, i added a role
[code]
but still same output.

[2021-08-18 08:52] cs-ava commented on #2123
@adi518 appreciate if you could shed some lights on how are you setting up amplify webhook to do post clean up

[2021-08-18 09:58] QB3L commented on #1928
I retried now that it has support but still not go. Logs are still not very descriptive either

`

2021-08-17T11:51:07.912Z [WARNING]: npm ERR! A complete log of this run can be found in:
                                    npm ERR!     /root/.npm/_logs/2021-08-17T11_51_07_906Z-debug.log
2021-08-17T11:51:07.912Z [HELP]: Outputting the npm debug log
                                 0 info it worked

[2021-08-18 11:08] MColorado opened #2176 "Migrate Amplify Flutter app to a different appId"
Greetings

I was working in a project for college but due to a family illness I had to stop. When I came back I noticed that I can no longer access my previous AWS account.

I still have all my source code and I was wondering if it's possible to migrate my project to a new appID on a new AWS account easily without having to manually repeat all the modelling steps in the AdminUI. Some sort like whe

[2021-08-18 11:11] MColorado commented on #2176
My project repo in case it helps https://github.com/MColorado/Nerites

[2021-08-18 12:26] ilansh opened #2177 "Add ability to aggregate amplify metrics and logs by environment"
**Is your feature request related to a problem? Please describe.**
I have an amplify app with several environments configured, including a production environment which I would like to be able to monitor and alert on separately from other environments.

**Describe the solution you'd like**
I would like to be able to aggregate amplify metrics and logs by environment, similar to the current aggregati

[2021-08-18 13:01] cmnstmntmn commented on #1928
@QB3L try with a fresh next 11 install (just for testing) it worka;
the problem tho, is that the image optimizer is not converting images to next gen formats ..

[2021-08-18 13:16] king0120 opened #2178 "Amplify Tries to Build Static React App with Next.js config."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-18 13:19] quinnturner opened #2179 "ISR Regeneration Lambda fails with "A header you provided implies functionality that is not implemented""
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-18 13:27] quinnturner opened #2180 "Web previews suddenly stop registering (incorrect number of active branches)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-18 13:28] LucasAndrad commented on #1837
Not sure if this is related, but I started to have this problem after the user who connected the Github repo with Amplify was removed from our Github organization. Since then, I'm having the same problem described by @JohnHershberg.

[2021-08-18 14:32] PTaylour commented on #264
The preview link is predictable so as a _temporary_ workaround we use:

[code]

[2021-08-18 15:30] mathvbarone commented on #657
Same here!

[2021-08-18 15:35] ericclemmons commented on #264
@PTaylour Thanks for sharing that GitHub Action!  I really like the messaging, too :D

[2021-08-18 15:56] behrooziAWS commented on #2168
@chmod Per your last update it sounds like you got it working?  If so, please close this issue.

[2021-08-18 16:05] behrooziAWS commented on #2180
I see: "Failed to create branch. You have reached the maximum number of branches in this app." We limit the number of branches to 50/app are you able to remove some of your branches?

[2021-08-18 16:29] behrooziAWS commented on #2151
Hi, you are correct that the most granular you can setup metrics is per app.  The current workaround is to use a different app for your non-prod environments.

[2021-08-18 17:18] quinnturner commented on #2180
Thanks for getting back to me! The remote GitHub repo has 21 branches and roughly 5-8 pull requests. Amplify recognizes 3 pull requests. Is there anything I can do on my end to help?

[2021-08-18 18:34] king0120 commented on #2178
Figured out the issue! Hopefully this post can help others that run into this problem.  Unfortunately, the Amplify Console UI was no help and I was only able to diagnose and resolve this through the `aws amplify`  cli.  When I ran `aws amplify list-apps` I found that the "platform" key was "WEB_DYNAMIC". Updating this to "WEB" fixed the issue with deployment.

This is the exact command that fixed

[2021-08-18 18:45] #2168 closed

[2021-08-18 20:35] leofrozenyogurt commented on #97
this is still an ongoing issue; so the workaround hack isnt great for now

[2021-08-18 23:19] pachiraDIG commented on #341
@swaminator I'm having a similar issue, although my frontend build phase repeats the preBuild step twice, and then hangs indefinitely until hitting 30m timeout. Using CLI "latest" version (5.3.0). Triggering deploy manually or via PR trigger creates the same behavior. Tried several times over the past couple hours. Also, see `amplify.yml` below log.

[code]

[code]

[2021-08-18 23:28] Athena96 commented on #2098
### Webpack / Cannot find Module / ModuleNotFound / NotImplemented
Hi @RealDrewKlayman and others,
If you are facing Webpack errors (Cannot find module/ ModuleNotFound) as a result of the new Webpack 5 default, or the "A header you provided implies functionality ..." NotImplemented Error.
Can you try the following:
1. Try a Next.js 10 version  e.g. `"next": "10.2.3",` in `package.json`
2. Create a

[2021-08-18 23:29] Athena96 commented on #2179
Hi @quinnturner can you try my suggestion [here](https://github.com/aws-amplify/amplify-console/issues/2098#issuecomment-901495280), I think it might be related to the issue you are facing. Thanks!

[2021-08-18 23:30] Athena96 commented on #2171
hi @Onibenjo what version of Next.js are you using? and can you share any configurations you have in your next.config.js file. thanks

[2021-08-19 00:02] quinnturner commented on #2180
`aws amplify list-branches --app-id d3fdiq126p9gfo` returns a list of 3 branches. Does it seem like a bug in counting the number of active branches in Amplify? I even have scripts to clean up the underlying CloudFronts/SQSes/S3 buckets on PR closes.

[2021-08-19 00:10] quinnturner commented on #2180
https://github.com/aws-amplify/amplify-console/issues/1537 this might be related

[2021-08-19 00:11] quinnturner commented on #1537
I think I am having the same error as well, `d3fdiq126p9gfo` `us-east-1` https://github.com/aws-amplify/amplify-console/issues/2180

[2021-08-19 00:14] quinnturner commented on #2179
Thanks, @Athena96. Setting `target: "serverless"` on Next.js `11.1.0` did not work. Unfortunately, I would strongly prefer to not downgrade to Next.js 10.x due to performance issues during local development. Could this be as simple as adding the `Content-Length` header in the S3 request on Amplify's side?

[2021-08-19 00:28] pachiraDIG opened #2181 "Build phase hangs at preBuild step"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-19 01:33] terryds commented on #44
+1 for wildcard domain support

[2021-08-19 05:26] zeroonea commented on #1866
I'm also facing the same issue

[code]

Any update on this?

[2021-08-19 05:40] Onibenjo commented on #2171
@Athena96
Next.js version 11.0.1

[code]

[2021-08-19 06:20] suyog2370 opened #2182 "Auto build is not triggering for apps created using aws js v3 SDK"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-19 06:20] suyog2370 opened #2905 "Auto build is not triggering for apps created using aws js v3 SDK"

[2021-08-19 10:51] CodySwannGT commented on #1472
Just started happening on another application. Any help is greatly appreciated

[2021-08-19 12:57] amu-digid8 opened #2183 "app hosted using manual deploy is working fine. But another page in the app is throwing 403"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-19 13:30] king0120 commented on #2178
So while this does work to change the deploy script to what I need, it looks like on additional changes of my application the platform changes back to "WEB_DYNAMIC". There is nothing in that I can think of in my package.json that should toggle this.  Can I get some feedback on this?  I've attached the full package.json here

[code]

[2021-08-19 16:13] vighnesh1987 commented on #221
Hello there! I need to georestrict my Amplify deployment to US only. I'm considering creating a new CloudFront distribution with my custom domain so I can set up the georestriction. I'd need to associate the new CloudFront distribution with the AWS Amplify app somehow... I imagine there's a way to do so using "Origins" tab in the CloudFront distro. Can someone sanity check this approach? Thank you

[2021-08-19 17:24] ferdingler commented on #736
@inssein are you saying that the request includes `Set-Cookie` headers but they are being stripped out on the Amplify reverse proxy?

[2021-08-19 17:30] quinnturner commented on #2180
I have filed for a service limit increase in the meantime, Case ID: `8750458911`

[2021-08-19 17:43] sriramreddyrao commented on #896
I am still facing this issue. Even after changing the branch access to "publicly viewable", username & password is being enforced.

[2021-08-19 17:43] quinnturner commented on #2123
Specifically, here are the resources that stay when merging web previews on SSR builds:

1. CloudFront distribution
2. SQS queue (when using Nextjs' ISR)
3. S3 bucket
4. IAM roles
5. Lambdas: Regeneration, Image, SSR

I was able to write scripts that auto-delete these resources using a complicated set of scripts that include multiple back and forths between Amplify and GitHub:

1. On `postBuild` o

[2021-08-19 18:04] dn-l commented on #2169
Also opened ticket 8725464361

[2021-08-19 18:06] sriramreddyrao commented on #896
@spdiamstu If you are using Next.js - SSR framework, rebuilding should work.

[2021-08-19 19:56] dn-l opened #2184 "Data: blank screen when custom key which is not ID"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-19 20:53] leighton-tidwell opened #2186 "404 Redirect with NextJS not working"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-19 22:39] behrooziAWS commented on #2180
I see 3 branches, and 47 pr branches on my side ranging from 332-477. I notice that enable auto branch deletion is turned off for your app which may be causing this residue.  Would you like me to clean up some of these non-active branches so you can create new ones while I investigate?

[2021-08-19 22:48] behrooziAWS commented on #2173
It looks like you've made some changes since when you cut this issue.  Namely, you are no longer hosting the custom domain on amplify and instead you own the distribution and are setting the amplify app as the origin.  Are you still having issues?  What were the header names that stopped being sent to the reverse proxy?

[2021-08-19 23:34] nimacks commented on #2087
@iamzoh our records indicate that this domain is now available. iam***.com. Re-open if you have any other issues.

[2021-08-19 23:34] #2087 closed

[2021-08-19 23:37] nimacks commented on #1911
Our records indicate that this domain is available. alf****.ru. Re-open if you encounter any further issues.

[2021-08-19 23:37] #1911 closed

[2021-08-19 23:40] nimacks commented on #1929
Our records indicate that this domain is now available. c******.media. Re-open if you run into any further issues.

[2021-08-19 23:40] #1929 closed

[2021-08-19 23:42] nimacks commented on #1932
Our records indicate this app no longer exists. Please re-open if you encounter any further issues with an Amplify App.

[2021-08-19 23:42] #1932 closed

[2021-08-20 00:02] Athena96 commented on #2179
Hi @quinnturner, it looks like its a separate issue, but we have a fix for this that will allow you to us Next.js 11, as a workaround you can downgrade to Next.js `10.2.3` and we'll follow up here when this is rolled out.

[2021-08-20 00:21] matthewmichel opened #2185 "Amplify Admin UI Deployment - auth headless is missing the following inputParams googleClientId, facebookAppId."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [x] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-20 00:45] pachiraDIG commented on #2181
I was able to track down the problem in my nuxt static build. However, the logs in console above never showed several lines that it should have in order to understand the source of the problem right off the bat.

In my specific instance, these lines should have shown in the logs before the "hang":

[code]

Is there anything that can be done about this?

[2021-08-20 00:50] quinnturner commented on #2179
Woohoo! Thank you @Athena96

[2021-08-20 01:10] jknapp25 commented on #2163
@behrooziAWS I was searching for those roles but I can't find them. Can you direct me to some documentation?

[2021-08-20 02:07] behrooziAWS commented on #2163
Look for the role called amplifyconsole-backend-role in the iam console: https://console.aws.amazon.com/iam/home?region=us-east-1#/roles

[2021-08-20 02:19] jknapp25 commented on #2163
@behrooziAWS I found the role, but I don't see how to add the permission

[2021-08-20 05:13] pankajsoni19 commented on #97
Is there any ETA on resolving this? Most of our sites are on Amplify. For this particular issue we would have to migrate couple of our sites to firebase hosting.

[2021-08-20 06:13] Calandri commented on #97
We are going to migrate 4 sites next week for this issue, it's 10 months
that we are asking to solve this issue

Il giorno ven 20 ago 2021 alle ore 07:13 Pankaj Soni <
***@***.***> ha scritto:

[2021-08-20 09:14] Giedrius-Lau commented on #2029
Also having this issue >:(

[2021-08-20 11:12] quinnturner commented on #2180
Interesting, I will turn auto-deletion on. Yes, please remove all PR branches except 459. The only branch that should exist is develop (and master on another app).

[2021-08-20 12:34] quinnturner commented on #2180
If having the `auto-deletion` setting was the issue, I'd still probably consider this a bug where the end-user cannot purge these branches. If you agree, we can open up a different GitHub issue specifically focusing on that topic and close this one (assuming the `auto-deletion` setting resolves the issue).

[2021-08-20 15:46] behrooziAWS commented on #2163
Docs on how to modify the role are [here](https://docs.aws.amazon.com/IAM/latest/UserGuide/roles-managingrole-editing-console.html#roles-modify_permissions-policy).  If the role already has AdministratorAccess, the issue is something else.  If it doesn't add these two permissions to it:

s3:GetEncryptionConfiguration
s3:PutEncryptionConfiguration

[2021-08-20 16:28] iamzoh commented on #2087
Hey @nimacks iam***.com is new domain I bought because the one I first purchased won't work with my Amplify App.

If you see Amplify App `d2qr5ws0tmr8wq`, there's domain failing to register and I'm asking for assistance with that.

[2021-08-20 17:32] victorccccc commented on #2152
Feel free to reopen this if issue persists

[2021-08-20 18:19] victorccccc commented on #1602
Feel free to reopen this if issue persists

[2021-08-20 18:19] #1602 closed

[2021-08-20 18:30] leighton-tidwell commented on #2186
App ID: d2b11cw3mfd5jw
Region: us-east-1

[2021-08-20 18:34] Lasim commented on #97
Any updates?

[2021-08-20 18:35] ganipcanot commented on #408
Resolving this issue based on the update to permissions on your end.

Feel free to re-open if still experiencing issues.

[2021-08-20 18:35] #408 closed

[2021-08-20 18:37] ganipcanot commented on #674
@kldeb Closing for now due to the age of this issue.  If you are still seeing issues please feel free to re-open and we will investigate further.

[2021-08-20 18:37] #674 closed

[2021-08-20 18:52] behrooziAWS commented on #1575
The build actually proceeds further and it fails to run 'tr' and 'npm' to patch the amplify-cli.  We should properly catch this, report it as an error and fail the build, but while we update our code to do that, please make sure the [necessary software packages](https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html) has been correctly installed on your custom image.

[code]

[2021-08-20 19:48] victorccccc commented on #1981
Hi, sorry for the inconvenience. We've fixed this preview issue, feel free to reopen this if issue persists

[2021-08-20 19:48] #1981 closed

[2021-08-20 20:41] jayvolr commented on #343
Ditto here, files on Amplify are not being gziped. Are we all missing something? Is lack of gzip intentional?

[2021-08-20 21:10] behrooziAWS commented on #1337
There was a code change made that would escape " in the command before attempting to echo it so it wouldn't fail.  That was deployed in December 2020 however.

@houmark or @viraxslot Can you provide an example command that fails when you escape the double quotes and the resulting logs so I can understand if the same issue persists or it has shifted to a new issue?

[2021-08-20 23:11] viraxslot commented on #1337
@behrooziAWS hi, I moved my bash commands to separate scripts and that's my workaround. Sorry, I don't remember what problem I had exactly, so I can't help with an example to reproduce.

[2021-08-20 23:24] behrooziAWS commented on #1337
Great, thanks for providing that workaround.

[2021-08-20 23:59] Joshua-Zhang-S opened #2188 "Amplify Admin UI show credential error"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-21 00:49] jknapp25 commented on #2163
It does have `AdministratorAccess`

[2021-08-21 01:08] borisilic commented on #97
Anyone have a good resource for removing Amplify hosting but keeping the rest of the infrastructure? The workaround doesn't work amazingly well with Angular.

[2021-08-21 02:22] behrooziAWS commented on #2163
Are you seeing this error locally?  I don't see any builds on our side for 5 months.  If so then it has to do with the credentials you are using the run the amplify cli.  Does your user have AdministratorAccess?  This talks about that user: https://docs.amplify.aws/cli/start/install/#option-2-follow-the-instructions

[2021-08-21 06:09] pankajsoni19 commented on #97
I confirm things work well with firebase hosting. The deployment/migration is a breeze too, without much downtime.

[2021-08-21 09:36] Calandri commented on #97
Great I will do that soon

Il Sab 21 Ago 2021, 08:09 Pankaj Soni ***@***.***> ha scritto:

[2021-08-21 09:52] amu-digid8 commented on #2183
The fix suggested in this link worked for me. But didn't understand the root cause of the issue.
https://victorleungtw.medium.com/fix-aws-amplify-angular-app-error-on-access-denied-error-73c9476f9552

[2021-08-21 11:21] adam-nygate opened #2189 "Unable to deploy new backend for autodetected branch"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-21 19:52] Joshua-Zhang-S commented on #2188
Tried many options. Finally it showed me login page so I can use the invited user to get in.

[2021-08-21 22:48] yogeshydvme opened #2190 "ISR pages are not regenerating on time"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-22 02:25] reyts commented on #2132
I have a similar issue and the website has been down for a week now.
![image](https://user-images.githubusercontent.com/73900693/130339881-7206e296-245d-42a9-bcc6-a3c24f925a10.png)
I don't have any cloudfront setup. So I can't even troubleshoot as described in this document https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

I really like AWS Amplify when it

[2021-08-22 02:31] reyts opened #2191 "AWS Amplify: Domain Activation Failed"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2021-08-22 08:39] #2176 closed

[2021-08-22 14:36] allanitis commented on #2080
This still has not been resolved. AWS Support has suggested reducing the size of the amplify.yml + customHttp.yml limit. However this has not helped. I have reduce the build file (combination fo both) to 776 characters total, and the issue has not been resolved.

[2021-08-22 20:00] Oyetayo opened #2194 "Can't deploy react site to amplify"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-22 23:33] behrooziAWS commented on #2180
I've manually cleaned up these branches.  We currently have an issue with PR requests and Next.js apps where it starts the deletion process, but doesn't completely clean up the branches.  Let's leave this open for tracking.

[2021-08-23 07:20] heikkikurkela opened #2192 "Build fails with "Starting SSR Build... ERROR: AccessDenied: Access Denied""
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-23 07:47] CLMichel opened #2193 "DNS_PROBE_FINISHED_NXDOMAIN on custom Domain"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2021-08-23 13:21] pananapread opened #2195 ""App with id: ###### not found" message is scary"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm always frustrated when I switch environments to check on another Amplify app and the banner is all red, scary, and obtrusive!

![image](https://user-images.githubusercontent.com/12780104/130453344-35ce9db0-7967-4b20-9a51-14176aa2892c.p

[2021-08-23 15:09] Pwniesaurus opened #2196 "penetration testing"
With penetration testing engagements, it is standard practice for a client to provide information that is necessary to test, i.e. scope of work, rules of engagement, instruction letter, etc. I have written instructions from the client, including URL to test, but that's it .. In essence, I need to assess the security of an app in dev, at amplify. I need to understand what if any requirements you ma

[2021-08-23 15:49] victorccccc commented on #2080
Sorry for the inconvenience, I can see your app has large buildSpec in Amplify console so could you try to delete it? (`amplify.yml` and `customHttp.yml` in your app root folder are predominant buildSpecs). Thanks.

[2021-08-23 17:02] nimacks commented on #2019
Our records indicate that your domain is now available nine*********.club. Reopen if you have any further questions

[2021-08-23 17:02] #2019 closed

[2021-08-23 17:05] nimacks commented on #2020
Our records indicate that this app has been deleted.

[2021-08-23 17:05] #2020 closed

[2021-08-23 17:07] nimacks commented on #2025
Duplicate of #2026

[2021-08-23 17:07] #2025 closed

[2021-08-23 17:09] nimacks commented on #2028
Our records indicate that this domain is now available: p*********a**d************t.com

[2021-08-23 17:09] #2028 closed

[2021-08-23 17:10] nimacks commented on #2032
Our records indicate that this domain is now available: co********s.d*******.g**.v*

[2021-08-23 17:10] #2032 closed

[2021-08-23 17:11] nimacks commented on #2037
Our records indicate that this domain is available c********.z********.com

[2021-08-23 17:11] #2037 closed

[2021-08-23 17:15] nimacks commented on #2043
Our records indicate that this domain is now available m*****i***d******.com

[2021-08-23 17:15] #2043 closed

[2021-08-23 17:16] nimacks commented on #2048
Our records indicate that this app has been deleted.

[2021-08-23 17:16] #2048 closed

[2021-08-23 18:22] heikkikurkela commented on #2192
Hi,

This is urgent for us. If possible, could you check this out and tell me where this might come from?

Thanks in advance.

BR,
Heikki

[2021-08-23 22:26] iceye commented on #588
+1, REALLY IMPORTANT to be able to clean custom CDN and to have an hook for post-build operations

[2021-08-23 22:28] ixartz opened #2198 "[Next JS] Server-side rendering support on classic AWS Lambda instead of Lambda@EDGE"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

After the release of https://github.com/aws-amplify/amplify-console/issues/412, it's annoying we can't deploy Next JS with AWS Amplify on class/vanilla AWS Lambda instead of Lambda@Edge.

Lambda@Edge has more limitation compare to classic

[2021-08-23 23:37] arledesma commented on #2196
@Pwniesaurus if they have not already talked with their TAM (if they have one) then they should probably do so before proceeding.  Everyone involved should review https://aws.amazon.com/premiumsupport/knowledge-center/penetration-testing/ and https://aws.amazon.com/security/penetration-testing/ in order to determine if they will need to fill out https://console.aws.amazon.com/support/contacts?#/si

[2021-08-24 02:04] achadee opened #2199 "Default build setup deploys Lambda functions to a different region than the one the app was created in"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-24 02:28] reyts commented on #2191
Can anyone help with this ticket?

[2021-08-24 05:12] guygreenleaf commented on #2029
Hi, I have a solution for this:

In the root directory of your project run:

`amplify init`

And follow the prompts.

That tutorial needs updating for a lot of things. I've reached out to 3 people so far who apparently work on Amplify offering to change their docs for them (for free, mind you) just so that devs don't get hung up on these issues and they have yet to give me the time of day. 😅

You'

[2021-08-24 06:51] waqasdilawar commented on #609
Dead end. @tgwilkins can you please update blog url?

[2021-08-24 08:59] tgwilkins commented on #609
Thanks for letting me know, looks like my DNS got wiped! It should be back up now.

[2021-08-24 09:38] arximughal commented on #221
@vighnesh1987 this might help: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#region-based-redirects

I have yet to discover any other concurrent way to achieve this within the Amplify console.

[2021-08-24 11:21] aaronmcadam opened #2200 "Build stuck on patching packages"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-24 11:50] sananbintahir commented on #2200
Facing the same issue

[2021-08-24 12:10] VincentvdE commented on #2200
Having the same issue since a few hours.

[2021-08-24 12:12] aaronmcadam commented on #2200
A few people on my Twitter thread saying they're having problems with Yarn and NPM: https://twitter.com/aaronmcadam/status/1430128253579284504?s=20

[2021-08-24 12:35] ParulSharma2622 commented on #2200
I am also facing same issue from past 2 hours.

[2021-08-24 12:44] heavyskyl commented on #2200
Looks like a network error, 1 time Patching step finished, but then I got a yarn install network timeout error.

[2021-08-24 13:14] Pwniesaurus commented on #2196
Hey, thanks for that. Yeah, I am  really familiar with the AWS requirements for a Pen Test, so I am Okay with that. I was just trying to find out if you guys had any special requirements, thats all. I won't be doing any infrastructure testing and I won't be testing DDoS/DoS/Network/Server resilience. So if you're gtg, then me too. Watch the logs ;)

[2021-08-24 13:25] VincentvdE commented on #2200
For me it's working again in "eu-central-1"

[2021-08-24 13:33] aaronmcadam commented on #2200
Yes, it's working for me now too, thanks for the update!

I'm going to leave this issue open in case one of the team wants to add better error handling over patching packages.

[2021-08-24 14:05] felipehv commented on #2132
@reyts I had to check at Cloudfront if the domain was assigned to any distribution, no matter if the cname is pointing to the cloudfront distribution of the Amplify deploy.
Just unassign the domain of the other cloudfront distribution or delete the distribution and it will work.

[2021-08-24 14:06] felipehv commented on #2132
If you don't have cloudfront set up, check another resources such as elastic beanstalk, API Gateway, etc.

[2021-08-24 14:36] reyts commented on #2191
I am going to go ahead to close this ticket I found a temporary workaround.

I went to AWS Amplify to add one of the spare domains I had purchased on GoDaddy.
Followed the instructions [here](https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-godaddy.html) and as prompted on AWS amplify.

Then went to Route 53 to redirect/forward from route 53 hosted domain to t

[2021-08-24 14:36] #2191 closed

[2021-08-24 17:34] Athena96 commented on #1065
closing, feel free to re-open if you are still facing this issue, thank you!

[2021-08-24 17:34] #1065 closed

[2021-08-24 17:35] Athena96 commented on #552
closing, feel free to re-open if you are still facing this issue, thank you!

[2021-08-24 17:35] #552 closed

[2021-08-24 17:38] Athena96 commented on #451
closing, feel free to re-open if you are still facing this issue, thank you!

[2021-08-24 17:41] Athena96 commented on #788
closing, feel free to re-open if you are still facing this issue, thank you!

[2021-08-24 17:41] #788 closed

[2021-08-24 17:47] jdeeburke commented on #2136
Little update here, I disconnected my `master` branch and attempted to re-connect, which only made things worse. It wouldn't re-create the deploy token needed to get _any_ further code updates from git, even when triggered manually.

Since this breaks our build process I resorted to creating a new Amplify app and moving things over, abandoning the old one.

Still can't get previews to work on the

[2021-08-24 18:22] CLMichel commented on #2193
I find a beginning of explanation :

- I change the subdomain dev to devenv
- I change the subdomain test to testing

And now It works. I think that it comes from  reserved name ? I'm not sure about the explanation.

[2021-08-24 19:07] amandarose42 commented on #2136
A workaround for this bug would be to re-setup web hooks. I know this is a little too late for @jdeeburke but for anyone else who gets stuck on this issue:

https://aws.amazon.com/blogs/mobile/use-the-amplify-console-with-incoming-webhooks-to-trigger-deployments/
- _**I only needed to do Step 5 & 6 from the article linked above!**_
**Start at Step 5 (creating the webhook in Amplify) & mimic Step 6

[2021-08-24 21:40] ferdingler commented on #1537
@quinnturner, I only see 11 branches on your app. I assume you manage to clean them up? I see that you also have enabled the Branch auto-disconnection configuration. That is a good idea so that when you delete branches from your repo, they automatically get deleted from Amplify.

@nicki9knuckles your app does have 50 branches so you have already reached the quota. You don't have enabled the auto-d

[2021-08-24 21:41] ferdingler commented on #1537
@nicki9knuckles by the way, you can disconnect the branches yourself if you go to your Amplify app, under App Settings > General you'll see the list of branches. Simply select the ones you no longer need and click Actions > Disconnect branch.

Let us know if you need further assistance. Thanks

[2021-08-24 21:41] #1537 closed

[2021-08-24 21:59] quinnturner commented on #1537
@ferdingler I had another AWSer delete all of them. Unfortunately, there's a bug in Next.js (SSR) apps in Amplify where branches are not cleaned up despite having auto-delete branches on. My previously linked issue tracks that lack of closing issue.

[2021-08-25 01:30] dn-l commented on #2169
Disconnected my branch and connected it again. Deploy works again

[2021-08-25 01:30] #2169 closed

[2021-08-25 05:31] ganeshp0001 commented on #177
I managed to ignored Backend check & push by adding following setting to build: Amplify.yml

[code]

[2021-08-25 06:06] hiroki225 opened #2201 "Not Showing Pull Request in Amplify Web Preview"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-25 07:01] heikkikurkela commented on #2192
Hi,

I fixed this myself following the instructions https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md#convert-an-ssr-app-to-ssg. I did this before and again this problem came up. I don't understand this hassle associated with SSR/SSG recognizing. Our Next.js Amplify app is just static SSG and we are not using any SSR features at all. Our Amplify build pipeline fails from time to ti

[2021-08-25 12:29] brennoflavio commented on #1937
Hey, I'm also facing this issue. For me, it shows 5GB of free tier storage used in Amplify, and in S3 console it shows 4.1 GB consumed. Do you know if there is a way to clear the Amplify Storage? Probably it is storing logs or artifacts that is not needed anymore (like old builds).

[2021-08-25 13:03] king0120 commented on #2178
Does anyone have a clue on why this might be happening? While I am now able to deploy, having to manually change my config every single day does not give a great dev experience.  I'd be happy to take a stab at a PR to resolve it, but I don't know where to begin with the logic that controls that 'platform' value.

[2021-08-25 13:36] quinnturner commented on #2180
Thank you @behrooziAWS! Is there a way on our end to manually clean branches? When I do `aws amplify list-branches --app-id {}` it only returns the ones I can see on the console, not the ones that need pruning. I don't mind having to manually clean branches in the interim if it results in fewer AWS tickets until this is resolved.

[2021-08-25 13:44] Jordan-Mesches commented on #1469
So has anyone figured out a solution to this problem?

[2021-08-25 16:20] victorccccc commented on #1995
Hi Gary, could you try to follow this instruction: https://docs.aws.amazon.com/amplify/latest/userguide/monorepo-configuration.html and add ```applications``` in your build spec? Thanks

[2021-08-25 16:31] behrooziAWS commented on #2180
Unfortunately the branches stuck in the "deleting" state aren't visible to the developer so you can't take action on your end.  I've raised your limit 100 in the interim.  There are a couple of quick things we can do on our side like ignore "deleting" branches in the limit check so even if we can't resolve the underlying issue quickly, we can make some surgical changes so you don't encounter this

[2021-08-25 16:32] garysm commented on #1995
Here is the build spec that I've been using:
[code]
This same build spec was used for previous builds without any issues.

[2021-08-25 16:34] victorccccc commented on #1995
Hi, can you share your AppId?

[2021-08-25 16:41] quinnturner commented on #2180
That seems like a decent interim solution until the underlying issue is resolved. I can appreciate that it's not a "clean" approach and may result in other apps that have the same issue growing to a large amount of un-pruned branches. I suspect the deleting state issue is not a trivial fix. However, if there's a way on your end to do a "bulk" (i.e., across all Next.js SSR apps on Amplify) prune po

[2021-08-25 16:44] quinnturner commented on #2201
Is it a private repo? Only private repos are supported.

[2021-08-25 16:48] quinnturner commented on #2194
The error that is reported seems pretty clear, you need to update the IAM policies or roles associated with the user you're trying to push with. The user does not have authz to perform some Amplify functions.

[2021-08-25 16:48] garysm commented on #1995
**d313d3b5r9k86x**

[2021-08-25 16:54] victorccccc commented on #1995
Hi @garysm , I noticed you are using ```customHttp.yml```.  Can you also try to add ```applications``` and ```appRoot``` by following this instruction: https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html#custom-header-YAML-format ?  thanks

[2021-08-25 17:07] no-creative-name opened #2202 "Amplify Console not showing backend selection for previews"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-26 02:47] andrei-zgirvaci opened #2203 "Domain Activation Failed"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2021-08-26 08:25] watilde opened #2204 "Rewrites and redirects per environment"
**Is your feature request related to a problem? Please describe.**
As a developer, I want to test redirection rules for only dev environment so that I do not affect production environment.

**Describe the solution you'd like**
Having an option "environment" to rewrite and redirects.

**Alternative solutions**
1) Having an environment variable
2) Set environment query string with https://github.com

[2021-08-26 12:04] akanungo22 opened #2205 "How many PRs can be run at a time in Amplify? From documentation it was 5. But can it be increased ?"
**Please describe which feature you have a question about?**

**Provide additional details**

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**

[2021-08-26 21:23] lseemann opened #2206 "Removing deleted backend environments"
**Please describe which feature you have a question about?**

Backend environment list

**Provide additional details**

I've had several environments get corrupted beyond repair. I've managed to delete them—in some or all of them by deleting their stack in CloudFormation—but they still show up in the list of backend environments.  I would like them to disappear.
Selecting “Delete” from the Actions

[2021-08-27 08:32] kim00425 opened #2207 "i wanna use meta tag on each subdomain"
**Please describe which feature you have a question about?**

i want to set different meta tags in each subdomain. but i only use 1 master branch. and i never set SSR.

i cant make sense for it.

**Provide additional details**
my project use NUXT

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**

[2021-08-27 11:08] akanungo22 opened #2208 "Amplify.yml file as per the environment"
I have a monorepo and only one branch main. And from one main, I have to set up 3 amplify apps with different build setup.
So I tried creating amplify_dev.yml and amplify_prod.yml. But the amplify app did not recognize.

I have created the apps using cloudformation template.

Can we not rename the amplify.yml? Has it to be always amplify.yml?

In CodeBuild, we are able to rename the buildspec.yml

[2021-08-27 15:24] selhari opened #2209 "My page can't be found - Even the default setup doesn't work"
I am deploying a React.js web app on Amplify, have done before both React.js and HTML/CSS applications, and didn't cross any issues.
 But, this time even when deploying the core create-react-app template setup, it's show a error 404 page and doesn't show the application.
 Have read some articles, setup the original project and some test one's, but couldn't figure out why is this happening.

 Can a

[2021-08-27 16:22] coa00 opened #2210 "AMPLIFY_DIFF_DEPLOY is no working when new Branch connect"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-28 03:16] coa00 commented on #2210
@jamesaucode
Thanks.

[2021-08-28 17:41] uspai commented on #2173
Hi  behrooziAWS, it was a production version I had to do changes.
I am using now Amazon Api Gateway, with some URL rewriting (it's not a good solution).
Did you see anything in your side?

[2021-08-28 19:40] AbeEstrada commented on #2186
I noticed the problem only happes on the `amplifyapp.com` domain if I use the `cloudfront.net` domain I get the correct 404 pages (`/pages/404.js`)

[2021-08-28 23:44] leighton-tidwell commented on #2186
This is literally the same case for me. It doesn't work on amplifyapp.com or my custom domain.

[2021-08-29 00:00] camello222 opened #2211 "I created and deleted an AWS amplify app. I created a new one and I can't point it to the same domain I used before."
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2021-08-29 06:04] Oterem commented on #2021
@mja2128  happend to me the same thing. worked for the first time, but  next deploy it kept returning 403

[2021-08-29 19:11] IsraelWebDev commented on #2121
I'm experiencing the same issue after adding the test phase to my config

region=us-west-2
App Id: d2it2wyaz5znpu
branch: tests

Currently I'm not seeing the test output though it seemed to happen when the tests ran and passed previously.

`
version: 1
frontend:
    phases:
        preBuild:
            commands:
                - yarn install
        build:
            commands:
                -

[2021-08-30 04:28] katsa9 commented on #64
+1 Please can this feature be implemented. Most organisations want a separate prod account that can access the same code as the dev environment.

[2021-08-30 04:31] Dovalization opened #2212 "[INFO]: Starting SSR Build... [ERROR]: AccessDenied: Access Denied"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-30 05:04] grimsa opened #2213 "Disconnecting a branch does not clean up notifications for it"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-30 13:13] bobrossthepainter opened #2214 "Allow to select s3 bucket region for static contents"
**Is your feature request related to a problem? Please describe.**
Hi! We are currently experiencing some performance loss with our next.js webapp hosted via Amplify. The server-side-rendered webapp contents are generated via Next.js ISR Lambda@Edge, put into S3 and served from there over CloudFront CDN. Whenever now the contents expire in the CDN, the data is fetched from S3 via a Nex.js Lambda@E

[2021-08-30 14:38] bobrossthepainter commented on #2199
Hi @achadee,
even though your Edge-Lambda is displayed as being in the region us-east1, it is in fact distributed across all the CloudFront regions. us-east1 is displayed, because CloudFronts control-plane runs there.

Are you using SSR or ISR with next.js? What does slow mean, what is the mean response time of some static contents?
I created today an issue regarding the s3 location, maybe this fe

[2021-08-30 16:02] mbarneyjr opened #2215 "Use an `AWS::CodeStarConnections::Connection` for connecting an `AWS::Amplify::App` to an external repository"
I'd like to be able to connect my Amplify Apps to GitHub via a CodeStarConnection resource, rather than passing a GitHub token secret through CloudFormation.

So when provisioning an Amplify App via CloudFormation, it could look like this:

[code]

Or via the API

[code]

[2021-08-30 17:23] swaminator commented on #2195
@pananapread Agreed on the regions `appid not found issue`. However, the **new app** dropdown today says: "create app backend" and "Host web app". What specifically are you suggesting?

[2021-08-30 17:39] pananapread commented on #2195
I would like to see the same dropdown options even in regions where "create app backend" is not available (with an informational explaining why)

Also consistency in language -- rather than "Connect" it should be "Host web app"

![image](https://user-images.githubusercontent.com/12780104/131380969-6d20ea36-920a-4ece-a84f-d1c605a696e7.png)

![image](https://user-images.githubusercontent.com/1278010

[2021-08-30 18:16] JDHalm commented on #1860
yes please

[2021-08-30 19:07] nicksemansonos commented on #2175
We're having a similar issue with a Next.js app. The API routes we configured often can take more than 10 seconds so we'd love to be able to configure the default timeout on the auto-generated Lambdas. It's possible to change it on the Lambda manually, but it will get overwritten next time the project builds.

[2021-08-30 20:11] CodyMoore240 commented on #1472
Any word on this. Just experienced this issue.

[2021-08-30 22:47] menottiRicardo opened #2216 "Amplify creates duplicated files"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-31 00:37] RealDrewKlayman commented on #2098
Hello? @Athena96 @siegerts

[2021-08-31 07:50] bobrossthepainter opened #2217 "Unable to manually invalidate cached files in CloudFront"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-31 08:42] marksteven opened #2218 "301 Redirect"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-31 10:25] achadee commented on #2175
Having the same issues, some feedback:

- next/image is only loading sometimes
- some pages update with ISR some don't

In the end we had to make the move to another provider, Half our stock was not correct and we were loosing a ton of sales because the ISR wouldn't update from the API.

Maybe i'll move back to amplify one day, but I need it to be more stable before I run this on production.

[2021-08-31 10:30] achadee commented on #2199
We're using `ISR`

[2021-08-31 13:10] andrewgadziksonos commented on #1669
Hey @Athena96 - I'm also running into this issue with NextJS apps created from CDK/CloudFormation.  Do you happen to have any updates you can share with us?

Thank you in advance!

[2021-08-31 13:11] siegerts commented on #2216
Hi  :wave:, thanks for raising. I'm going to transfer to the CLI repo to get some more eyes on it.

In the meantime, do you mind verifying that:

- You're you're using the latest version of the Amplify CLI (<img src="https://img.shields.io/npm/v/@aws-amplify/cli.svg" />). Run `amplify version` to check.

- Check to see if any similar issues exist in that repo

[2021-08-31 14:53] vighnesh1987 commented on #221
I figured out how to do this properly. When I deployed my app via Amplify, a Cloudfront distribution was automatically created. I confirmed that my app was loading on the URL of that CloudFront distribution. I believe that this is the underlying CloudFront distro that Amplify is using. This is was something I was able to verify when I saw the CloudFront distro URL inside my "Rewrites and Redirects

[2021-08-31 15:59] vieirin opened #2219 "Allow to set files to accompanish the lambda build for Next.js"
**Is your feature request related to a problem? Please describe.**

I'm trying to make the mongo driver work on a Next server, but due to the webpack process of amplify there's a binary file missing that comes along with the saslprep package.

The mentioned file is under: `node_modules/saslprep/code-points.mem`. And I need at least to have it copied to the root of the project to make the server wo

[2021-08-31 16:36] siegerts commented on #2188
Hi  :wave:, thanks for raising. I'm going to transfer to the Admin UI repo to get some more eyes on it.

[2021-08-31 16:43] gmaniac commented on #2035
still waiting for this...

[2021-08-31 17:28] Zecento commented on #70
Same on my end.
I have my redirect setup like this:
`/<*>` => `/not-found`

With 404 (rewrite) i get the default chrome HTTP ERROR 404 page (I attached a screenshot)
With 404 (redirect) it "works" fine, even though it doesn't give the desired behavior that was mentioned when opening this issue (keeping the same url but changing the page).
![Capture](https://user-images.githubusercontent.com/834541

[2021-08-31 17:30] yhvh009 opened #2220 "Always get a auto-build failure after a git commit"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-31 19:58] ferdingler commented on #2160
Hi @a-h, thank you for reaching out.

When you create an Amplify app using GitHub as source, we use the provided oauth token to create a [Webhook](https://docs.github.com/en/developers/webhooks-and-events/webhooks/about-webhooks) and a [Deploy Key](https://docs.github.com/en/developers/overview/managing-deploy-keys) on your repository. The Webhook is used to listen for GitHub events to trigger Amp

[2021-08-31 20:27] nicksemansonos opened #2221 "502 error on Amplify SSR Functions if uncompressed response size is over 1MB"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-31 21:03] ferdingler commented on #2212
Hi @Dovalization, thank you for reaching out.

I see that you currently have specified support for NextJs v9 in your Amplify App settings. However, your project is using NextJs v10 and I also see that you want to leverage Image Optimization and ISR. Can you please update your settings to use either `v10` or `latest` and try again? I suspect the access denied you are seeing is related to this misco

[2021-09-01 02:15] dsk6677 commented on #213
After the long research, the AWS amplify is not supporting the https://example.com, it only redirect URL to www by using the domain forward option with our domain provider, The solution was we need to replace our AWS Route 53 NS Records with our domain provider NS record, then it will work with https://example.com

Anyone have better solution please share here

Thanks in Advance

[2021-09-01 02:46] Dovalization commented on #2212
I feel like this issue can be closed, as I eventually gave up and deleted my aws account and created a new one, which worked and Next was deployed pretty much automatically without any issues.

[2021-09-01 02:46] #2212 closed

[2021-09-01 08:24] mameli opened #2222 "Amplify deploy in a different S3 region"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-01 09:52] equivalent commented on #1837
@LucasAndrad my opinion is that this will not be fixed in near future (or not so near future)

What we done in our team is that we created fresh Github user, we connected all SPAs from scratch and we  told every developer in the team **not to ever ever ever disconnect/reconnect/remove/touch anything with those SPAs on Github** configuration or in AWS Amplify (we have just one person responsible to

[2021-09-01 09:55] equivalent commented on #1837
One more note if AWS Amplify ever implement this https://github.com/aws-amplify/amplify-console/issues/1815  (SSH keys) then I'm 80% sure this will solve this issue as well

[2021-09-01 10:27] tomof commented on #112
I'm having the same problem.
I have a total of 16 personal repositories, and if I do the same with Netlify, it lists 16 candidates, but Amplify only shows 8.

### Netlify
<img src="https://user-images.githubusercontent.com/1369376/131654891-7b0739b9-ec2b-41cb-ad7e-bf08f3c92073.png" width="300">

### Amplify
![image](https://user-images.githubusercontent.com/1369376/131655038-5181c54f-ebe4-4afe-a5a

[2021-09-01 12:59] CGarces commented on #157
Same issue.
It happens after --force-with-lease operation

[2021-09-01 13:35] Oterem commented on #14
👍

[2021-09-01 13:39] bobrossthepainter commented on #2214
I just wanted to add some finding.
We set up [Serverless Next.js](https://github.com/serverless-nextjs/serverless-next.js), which is a kind of self-managed version of running the Next.js stack in AWS. With this solution, we were able to set the S3 (and SQS) regions closer to us (eu-central-1).
We accomplished an immense boost in performance.
Initial Rendering of a page - from ~1.1s to ~350ms
Fetch

[2021-09-01 15:08] yhvh009 commented on #2220
And this env keeps facing this issue, while another env with the exactly same code works fine every time

[2021-09-01 17:15] jtmthf opened #2223 "Failure to detect Next SSR with CDK"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-01 18:55] ferdingler commented on #2223
Hi @jtmthf,  Looking at the logs of your last build I see permission denied errors where your created Role doesn't have access to the Amplify App. Based on the code snippet you provided it doesn't seem like you are assigning any permissions to the role.

Since this role needs access to deploy SSR resources on your account like CloudFront distributions, Lambda@Edge functions, S3 bucket and potentia

[2021-09-01 19:26] juliomilani commented on #641
Hi, I faced the same issue.

For testing purposes we exctracted the environment variables with window.location.href. Works like a charm.

[2021-09-01 20:36] ferdingler commented on #2222
Hi @mameli, the resources created by an SSR application are created in us-east-1 because Lambda@Edge functions (which run your SSR app) must always be created on that region. I hope this helps answer your question, if not, feel free to reopen the ticket.

[2021-09-01 20:36] #2222 closed

[2021-09-01 21:03] jdeeburke commented on #2201
Having this same issue on organization repo only. Private repo works fine

[2021-09-01 22:32] jtmthf commented on #2223
@ferdingler thanks for the quick response. Sorry I omitted the iam policy for conciseness earlier, but reviewing it now I realize that I hardcoded the amplify app id to a previous value in the resources section. I've included the full policy as of now. Also I ended up redeploying the stack and the id is now `d1b3v6taan5pst`. I'm still getting AccessDenied for `GetBackendEnvironment` but I presume

[2021-09-01 22:34] ferdingler commented on #2221
Hi @nicksemansonos, thank you very much for the detailed report. This is indeed interesting. Are you positive that NextJs should be gzipping the content of SSR pages? Running it locally may not be an accurate comparison with the deployed version as their local server may behave differently than a production build.

Their documentation suggests that you should enable this on your proxy to offload t

[2021-09-01 22:54] ngeprint-io-team commented on #614
@swaminator I think this is a must have feature. AWS CodeBuild support this feature, why Amplify can't?

[2021-09-01 22:58] swaminator commented on #1928
@cmnstmntmn can you describe a bit what you mean by next gen formats? Also, do you have a repo that could help with reproduction?

[2021-09-01 23:10] #1889 closed

[2021-09-01 23:20] #2057 closed

[2021-09-02 11:13] VidorX opened #2224 "Build fails with "Starting SSR Build..." - No Error"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-02 16:15] SusanaVelez opened #2225 "BUG: The API for my app won't load"
Hi,
I've entered my app and I clicked "API", but nothing appears. My internet connection is working, but I have no idea why this screen won't load. Could it be a permissions issue?

`App ID` d2sguvrv2tq3uo
`Region` us-east-1

Tks

<img width="2034" alt="Screen Shot 2021-08-31 at 18 00 45" src="https://user-images.githubusercontent.com/88371851/131879917-d60c00d9-4de2-40c0-b7a9-df2c9f482ef8.png">

[2021-09-02 16:41] ferdingler commented on #2223
Hi @jtmthf,

Thanks for the additional info. So we actually run the logic to identify whether an app is SSR or not in 2 occasions:

- The first time we build your app.
- Whenever the `build` command on the `package.json` changes.

In this case, what I think happened is that the first build of your app failed because of lack of permissions on your IAM role. The problem is that due to the failure, w

[2021-09-02 16:59] dcfranca commented on #1469
@Jordan-Mesches Unfortunately, it doesn't seem so =/

[2021-09-02 17:11] dcfranca opened #2226 "Amplify build fails due to a layer that was removed already"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-02 17:23] dhowland opened #2227 "Deployment stuck at "Retrieving deployment details""
I'm trying to deploy a simple static website from an S3 bucket, but the AWS Amplify console gets stuck every time.  I've manually uploaded my site to my S3 bucket.  I've dragged and dropped a zip file.  It never works.  Just stuck at "Retrieving deployment details..."

This is merely a single index.html file at this point.  Not very impressed with this service so far.

[2021-09-02 17:59] dhowland commented on #2227
After much trial and error I discovered the problems. None of this is documented anywhere, but the site has to be in a zip file, and in the root of the zip file.

[2021-09-02 17:59] #2227 closed

[2021-09-02 18:16] ferdingler commented on #2214
Hi @bobrossthepainter, thanks for raising this feature request. We will add it to our backlog for it to be prioritized. I'm glad you found a solution in the meantime by using Serverless Next.js.

[2021-09-02 18:33] swaminator commented on #206
@adi518 did you follow https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html#creating-a-new-backend-environment-with-authentication-parameters @DeerajTheepshi could you also share your appid?

[2021-09-02 18:53] ferdingler commented on #2192
Hi @heikkikurkela, @Dovalization apologies for the delay with this ticket. Just for future reference, we currently identify that an app is SSR if the following criteria is meet:

- A service IAM role is attached to the app.
- The app uses Next.js.
- The `build` script on the `package.json` is not `next build && next export`.

Once an app is treated as SSR, the only way to switch it back to SSG is

[2021-09-02 18:59] dcfranca commented on #2226
Is there a way to locally publish my changes without having to go through the console pipeline? So I can still have my changes deployed even with the console pipeline broken?
I have tried using `amplify publish --invalidateCloudFront`
but it doesn't seem to work, is there something I am missing?

[2021-09-02 19:02] marcelweigle opened #2228 "use gradle nativeBuild instead of gradle build for java lambda function build with Graal"
**Please describe which feature you have a question about?**
In amplify cicd in the backend section I need to use gradle nativeImage to build my lambda function. Probably gradle build is executed instead by default. Can I somehow in the amplify.yml specify that gradle nativeImage should be used?

this is my build.gradle file
plugins {
    id 'org.springframework.boot' version '2.5.3'
    id 'io.sp

[2021-09-02 21:22] swaminator commented on #2190
@yogeshydvme what version of Next are you using?

[2021-09-02 22:03] ixartz commented on #2198
@swaminator Lambda@Edge is way more expensive than the classic AWS Lambda
Lambda@Edge don't have access to to Lambda layer.

[2021-09-03 04:57] ferdingler commented on #2224
Hi @VidorX,

I see the following logs on the last build of your app:

[code]

It seems like you are not using the public npm registry and the package you are attempting to install is not on it. Does this build ever succeed when run locally?

[2021-09-03 09:22] ScarletSpidey opened #2229 "Amplify build fails and times out for React App"
I have been using Amplify to deploy my react application for a few months now, never faced any issues during the build stage, I have also tried to contact aws support services but this particular problem is a bit puzzleing for them too.

Here is the log build log file:-
https://drive.google.com/file/d/1Ams-sLIHMscFS1j7o9fyBfI53FtMN3eC/view?usp=sharing

Here are my build settings:-
https://drive.go

[2021-09-03 11:51] r-moore commented on #1854
@Athena96 what do you do if you are not even using Next.js as your Amplify deploys have started failing? I've never used SSR in this create-react-app project.

<img width="147" alt="Screenshot 2021-09-03 at 12 49 40" src="https://user-images.githubusercontent.com/366280/132000723-a816d198-5798-458b-ac61-02ddaa4e7276.png">

<img width="1269" alt="image" src="https://user-images.githubusercontent.co

[2021-09-03 12:08] r-moore commented on #2042
I also have this issue but it's harder for us to remove the next packages from the root pacakge.json as we have a monorepo

Is there any way to explicitly disable or override the SSR auto-detection?

[2021-09-03 12:30] a-h commented on #2160
The documentation says to use a Personal Access Token with the repo scope which is what I gave it.

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-amplify.GitHubSourceCodeProviderProps.html

[code]

So the documentation is certainly part of the problem.

I don't want Amplify to create a Github Webhook and deploy key because that means giving a CI user admin rights.

I want to pass Am

[2021-09-03 13:23] fossamagna opened #2230 "Next.js deployment gives the error `ERROR: AccessDenied: Access Denied`"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-03 16:13] behrooziAWS commented on #2220
Hi, it seems like this same backend is associated with 2 apps the one you listed above and: d33z6<snip> When you commit, both of these apps cause the backend to build resulting in this error.  If you configure one with the environment variable `PROCESS_SKIP_BACKEND` set to true, only one of them will build the backend and you will not receive this error.

[2021-09-03 16:34] behrooziAWS commented on #2229
For the build you linked above, this is the error:

[code]

[2021-09-03 16:54] RealDrewKlayman commented on #2229
Looks related to:
https://github.com/aws-amplify/amplify-console/issues/2098

But, they have not been responding on that issue.

[2021-09-03 17:22] j3lev commented on #1866
I'm getting this same error for a Next 11 build in a yarn 1 workspaces monorepo

[2021-09-03 19:58] sasedlock commented on #64
+1 from another team that is facing the same challenge.

[2021-09-03 20:29] jacksonHendric commented on #2135
Any updates on this?

[2021-09-03 20:29] behrooziAWS commented on #2200
This seems to be the reason: https://status.npmjs.org/incidents/bydjtj102gsn?u=tw8bmmsq4wgy
It appears that your job 13, which took 28 minutes to patch the cli and failed due to network errors cached that package so that subsequent builds didn't have to pull it down.

[2021-09-03 20:29] #2200 closed

[2021-09-03 21:20] ferdingler commented on #2230
Hi @fossamagna,

Apologies for the confusion on the necessary IAM permissions. The reason why we are not prescriptive about it is because customers may have all kinds of resources in their Amplify Apps, like AppSync APIs, DynamoDB tables, Lambda functions, etc. And so the IAM policy highly depends on your environment needs.

However, in this case, it looks like you are trying to deploy a basic Nex

[2021-09-03 21:41] ferdingler commented on #2230
I have added this to our FAQ in the meantime for anyone who comes across this in the future.

https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md#error-accessdenied-access-denied

[2021-09-03 21:41] #2230 closed

[2021-09-03 22:45] behrooziAWS commented on #2181
This is the error on our side:

[code]

It should be possible to surface this, I've added a task to research and fix why it is being suppressed.

[2021-09-03 23:48] behrooziAWS commented on #2135
It should be accessible here because I see the .zip file correctly uploaded:

https://test-jumparound.dao95hbd985ep.amplifyapp.com/static/media/WinkSystem_Routing_namefix.d5a68bda.zip

However, there is a [redirect rule for SPA apps](https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa) that doesn't include .zip which is redirecting it to your

[2021-09-04 01:08] josea2pp opened #2232 "AWS Amplify using private github repositoy"
AWS build.yml

I have a problem at the moment that i try to use a private repository in my case locally first i have to login to my registry to start using my private packages but im tryng to replicate this using the preBuild features but it seems that is not able to login and no install the packages

Does anybody had a situation like this?

version: 1
frontend:
  phases:
    preBuild:
      comma

[2021-09-04 05:43] ziw opened #2233 "[ERROR]: Failed to deploy for Vuejs"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-04 10:43] VidorX commented on #2224
Hi @ferdingler Thank you for your response. Yes one package is coming from a private repo and it seems logging into that was forcing all packages to use the repo. I've updated my build scripts so all packages are now installed correctly.

However related to [Issue 2098](https://github.com/aws-amplify/amplify-console/issues/2098 ) I'm now facing webpack errors.

The build is working locally but it

[2021-09-04 10:43] #2224 closed

[2021-09-04 10:44] VidorX commented on #2098
Also facing this issue with 'electron' module:

what module is throwing the error?
electron

webpack version (4 or 5)
4

Next.js version
11

new or existing app
new app

Build image
default Amazon Linux 2

[2021-09-04 11:33] vijisugumaran commented on #1815
I am also same issue. Is this issue fixed? any way to share SSH key to git from amplify?

[2021-09-04 13:31] KidSysco commented on #206
I only showed up here to get off of this list. I submitted this issue nearly 2 years ago. I have since changed jobs, and I work on the Google Cloud Platform now which has no issues like this. Let's face it folks, Amplify is a mess and it is not at all what AWS has claimed it should be. IMO, Amplify still needs a few more years before it is ready for production use.

Mainly, I just want this issue

[2021-09-04 13:31] #206 closed

[2021-09-04 13:41] reedshea commented on #1544
I am also still seeing a related issue, even after including environment variables as described above. In the Amplify Console (not Admin UI), the build succeeds and deploys fine. On the home page of the Amplify Admin UI, however, in the "Deployment activity" table, I see one failed job:

    Category: jobCategory.GenerateBackendAPIModels
    Status: FAILED
    Reason: storage headless is missing t

[2021-09-04 14:18] fossamagna commented on #2230
Thank you. By attaching the permissions you showed me, I was able to deploy without error.

[2021-09-04 14:52] NikolaBo commented on #206
you can unsubscribe

On Sep 4, 2021, at 3:31 PM, Ryan Segura ***@***.***> wrote:

﻿

I only showed up here to get off of this list. I submitted this issue nearly 2 years ago. I have since changed jobs, and I work on the Google Cloud Platform now which has no issues like this. Let's face it folks, Amplify is a mess and it is not at all what AWS has claimed it should be. IMO, Amplify still needs a f

[2021-09-04 15:13] adi518 commented on #206
Yeah, our user-generated environments work just fine. It's these preview builds that have issues. However, at this point in the time, I already found the bug, it's the `envCache` service! it lower-cases whatever key you give it and also seems to override `stackInfo`, so even when you fix it to be `stackinfo`, you still don't get the environment metadata for the subsequent builds, hence an "already

[2021-09-04 18:36] camello222 commented on #2211
Hello, can I expect any support from this issue?

[2021-09-05 12:07] grimsa commented on #551
Found a workaround: `git branch --show-current` produces `pr-123` which can then be used as needed.

For example, to access only the PR #, you can do something like `echo "PR key (like 123) = $(git branch --show-current | cut -d '-' -f2)"`

But having Amplify provide an environment variable that holds this value would be much easier.

[2021-09-06 04:21] #2135 closed

[2021-09-06 08:36] yhvh009 commented on #2220
Oh, I get it, there's an old project assosiated with the same git repo, i've deleted the old one, and i'll check if it worked. Thanks a lot.

[2021-09-06 08:36] #2220 closed

[2021-09-06 09:40] Lettly opened #2240 "Error: Component "@sls-next/-component@undefined" was not found on NPM nor could it be resolved locally."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [x] I have done my best to in

[2021-09-06 11:36] VidorX commented on #2232
@josea2pp I managed to get the following working for our private repo:

 `- echo -e "always-auth=true\n@MY_ORG:registry=https://npm.pkg.github.com/\n//npm.pkg.github.com/:_authToken=$NPM_TOKEN" > .npmrc
- yarn install`

`- cat .npmrc`
To confirm the .npmrc file was set correctly:

`always-auth=true
@MY_ORG:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=TOKEN_REMOVED`

[2021-09-06 14:32] VidorX commented on #2098
Temporary fix to ignore the plugin allows build to succeed:

In next.config.js:

`config.plugins.push(new webpack.IgnorePlugin(/^electron$/));`

[2021-09-06 15:02] ziw commented on #2233
Re-started the entire flow and removed `auth` from the project. Deployment is now working.

[2021-09-06 15:02] #2233 closed

[2021-09-06 15:08] AnlyDcouth commented on #656
Hi,

I know its not relevant to the question but how long does it take to complete zipping artefacts.
My application is taking more than 12 hours and the zipped file is around 750GB so far

[2021-09-06 16:12] dcfranca commented on #2226
Anyone?

[2021-09-06 17:19] RealDrewKlayman commented on #2098
In some cases it will be a never ending journey. I ignored one and then another popped up and that went on for like 10+ and then I gave up.

[2021-09-06 17:35] giricr commented on #491
[skip-cd] is supposed to save money from unwanted builds. AWS should take this on priority at-least for dignity sake! i dont like it when malfunctioning feature cost us money and its not even our mistake.

[2021-09-06 17:35] yogeshydvme commented on #2190
10.2.3

[2021-09-06 18:47] timclark97 commented on #1876
Any updates on this? I am running into this too.

[2021-09-06 20:27] j-mastr commented on #2111
Hi @mhamendes, sorry for my late response, I'm not actively working on the project at the moment as it has low priority.

@all:
My last insight with some more debugging was, that it looks like the missing translations are not copied into the SSR Lambda as well, which brings me back to the initial question:

Is there anyone from the Amplify team who can tell how Amplify determines the files to copy

[2021-09-06 23:30] opqpop commented on #2230
Thank you, how do we use a custom role for Amplify frontend? In the AWS Amplify console, I'm only able to get the default created one that uses managed AWS policies to show up (role created following https://docs.aws.amazon.com/es_es/amplify/latest/userguide/how-to-service-role-amplify-console.html)

![image](https://user-images.githubusercontent.com/5566843/132265558-13d6b8b2-c645-4869-ada1-a2d99

[2021-09-07 00:02] fossamagna commented on #2230
@opqpop I have added the permissions indicated in Issue to an existing role as an inline policy. That works fine.

[2021-09-07 00:24] opqpop commented on #2230
Ah thanks that worked! I had the concepts mixed up.

The role has a managed AWS policy which can't have permissions edited, so the fix is to just attach a second policy to the role that has above permissions. In my case, I just attached the AdministratorAccess policy alongside "AdministratorAccess-Amplify", which fixed the issue now that my permissions are less restrictive

[2021-09-07 01:28] michaelbrewer opened #2234 "Python 3.9 support"
**Is your feature request related to a problem? Please describe.**
Now that Python 3.9 is officially supported by AWS Lambda and comes with some performance updates, it would be great if the Amplify console also supported it for the build process.

**Describe the solution you'd like**

Add Python 3.9 to the build process (and instructions on how to enable it)

**Additional context**

[2021-09-07 07:21] sakti opened #2235 "Cannot parse ".yml" error when building nextjs SSR"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-07 09:00] sakti commented on #2235
Fixed by explicitly set environment variable on selected branch.

[2021-09-07 09:00] #2235 closed

[2021-09-07 11:24] mounika-avantgarde opened #2236 "Amplify is not uploading all nextjs SSR build files to Lambda @edge"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-07 11:50] mounika-avantgarde opened #2237 "Amplify PR previews not being created"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-07 12:39] GeorgiStavrev commented on #1847
I'm running into the same issue. My app id is `d2ohstmzpe02tu`

[2021-09-07 13:36] r-moore opened #2238 "Amplify Hosting - React app (CRA) builds but will no longer deploy due to erroneous detection of Next.js"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-07 13:38] r-moore commented on #2238
Seems to be the same issue as https://github.com/aws-amplify/amplify-console/issues/1854 but the resolution there didn't work for me.

[2021-09-07 13:49] r-moore commented on #2238
Also posted this on the Amplify discord under #amplify-hosting last week - no response as yet

[2021-09-07 14:30] r-moore commented on #1472
I am going to open a support case via AWS console as there just seems to be tumbleweed here....

[2021-09-07 14:34] bart commented on #1860
Is there any estimate when this feature is available? Like @sharaola said it's very misleading information in the corresponding blog post / announcement. As far as I can see AWS has to solve this issue by adding some special workflow when detecting a NuxtJS app during deployment, right? I think it's unfortunately not an open source issue the community can solve, right?

[2021-09-07 15:49] ericclemmons opened #2239 "Auto-deploy branches for Next.js – Cannot parse ".yml""
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-07 17:40] #2134 closed

[2021-09-07 17:51] btgann opened #2717 "[Feedback] Update Hosting Tutorial with Cloud9 Config"
**Page**: [`/start/getting-started/hosting/q/integration/[integration]`](https://docs.amplify.aws/start/getting-started/hosting/q/integration/js/#publish-your-app)

**Feedback**:

Make a note for users following the tutorial using cloud9 to add the following config to their webpack file.
    devServer: {
        disableHostCheck: true
    }

[2021-09-07 19:05] wjatx opened #2241 "Amplify React Native app fails to build"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-07 20:12] ferdingler commented on #2211
Hi @camello222, may I ask what is the domain name that you are trying to associate? By any chance, do you have the appId for the app that you deleted?

[2021-09-07 23:49] dylan-westbury commented on #2111
Also occurring when specifying "latest" for next.js version.

[2021-09-08 04:04] swaminator commented on #1876
@timclark97 can you try this: https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md#error-accessdenied-access-denied

[2021-09-08 07:51] r-moore commented on #2238
Opened as an AWS Support Center case 8844234121

[2021-09-08 09:42] xiaoxiaosaohuo commented on #2174
I have the same problem, configure the customHeaders, however, the response header is `x-cache:Miss from cloudfront` ,the network latency is too long ,almost 1000ms

[2021-09-08 13:08] Lettly commented on #2240
appId `d2k9a1cllgs6e`
Region `eu-central-1`

[2021-09-08 13:11] LucasAndrad commented on #1837
Yes @equivalent I agree, it's very frustrating to pay for a service and sunddely start to face issues like this one with no feedback/support from the team. I already reported many issues on amplify projects and I never got any feedback with less than 3 months (unreal right ??) I decided it doesn't worth any more, Amplify it's just for very very simple MVPs, I don't recommend to use it with real pr

[2021-09-08 13:14] Lettly commented on #2240
**Build Settings**
[code]

[2021-09-08 14:11] marvinbernd commented on #331
+1

[2021-09-08 14:44] ShrutiC-git commented on #654
Yes, would definitely like this feature to be supported. Currently, some of the webpack builds take 10+ minutes, and adding the ability to offload heavier builds to a compute-optimized machine would be really nice.

[2021-09-08 15:23] #2207 closed

[2021-09-08 16:38] timclark97 commented on #1876
@swaminator I changed the app to SSG so it is working now. Prior to doing that though, I followed [this tutorial](https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html) to create an IAM role with the `AdministratorAccess-Amplify` policy, which I assume had all the permissions listed in that FAQ you shared. Does that policy not have all the necessary permissi

[2021-09-08 17:30] behrooziAWS commented on #1833
I've updated the code so that if you remove the cache from your buildspec it doesn't download the old cached artifacts and updated the FAQ accordingly.

[2021-09-08 17:30] #1833 closed

[2021-09-08 19:15] RealDrewKlayman commented on #2240
Could be related to: https://github.com/aws-amplify/amplify-console/issues/2098

[2021-09-08 19:56] blaineo commented on #1537
@ferdingler I work with @nicki9knuckles on the same application and we need our PR branches pruned. We have turned on the auto-disconnection, but have no way to clean up the unfinished deletions due to our use of Next.js.

[2021-09-08 21:27] ferdingler commented on #1876
@timclark97 the `AdministratorAccess-Amplify` policy is useful for creating your backend environments via the Amplify CLI. But with SSR apps we create a CloudFront distribution, an S3 bucket and Lambda@Edge functions in your account without using CloudFormation, which is why that policy doesn't work.

We are working on making this experience with IAM permissions and SSR apps smoother. In the meant

[2021-09-08 22:08] ferdingler commented on #2211
I found the domain name you are trying to add and looks like it is associated to an app in the us-east-2 (Ohio) region under the same AWS account. You'll need to delete it from there first so that you can re-associate it to a new Amplify app.

[2021-09-08 22:08] #2211 closed

[2021-09-08 22:18] behrooziAWS commented on #2133
@sebastian-bustillo The usual cause for this is that the role associated with your app doesn't have the necessary codecommit:GitPull permissions.  These permissions are not included in the AdministratorAccess-Amplify managed policy  and must be added.  If this is still happening, please reopen and provide a current appid and what permissions or managed-policies you have associated with the role.

[2021-09-08 22:18] #2133 closed

[2021-09-08 23:05] behrooziAWS commented on #1561
We have deployed some changes to how we do caching:

1. We limit the folder depth of the cache in case you accidentally have recursive symlinks leading to OOM errors during caching
2. We automatically omit node_modules/.cache to prevent intermediate files from bloating your cache size
3. We don't download old cache artifacts if you previously had a cache section in your buildspec but removed it

I

[2021-09-08 23:05] #1561 closed

[2021-09-09 00:48] behrooziAWS commented on #1861
I believe this is actually an issue with downloading the cache, not with the git checkout.  At the time both the checkout and downloading the cache were done in parallel, not serially so it looks like the git checkout took a long time when what really took the time was the downloading of the cache.

2021-05-19T00:28:57.689Z [INFO]: # Retrieving cache...
2021-05-19T00:53:08.934Z [INFO]: # Extractin

[2021-09-09 00:48] #1861 closed

[2021-09-09 01:26] behrooziAWS commented on #1814
You should be able to test the command locally.  You'll likely need to use a [tool like jq](https://stackoverflow.com/questions/35154684/how-to-parse-a-json-string-with-jq-or-other-alternatives) if you want to unescape the string

Using the example from [here](https://docs.aws.amazon.com/cli/latest/reference/secretsmanager/get-secret-value.html) your command might look like this to get the databas

[2021-09-09 01:33] behrooziAWS commented on #1814
Not info info to troubleshoot the issue with cypress tests, create a new issue with the appid/region etc if you still need assistance.

[2021-09-09 01:33] #1814 closed

[2021-09-09 03:19] xiaoxiaosaohuo opened #2243 "Feature request: Option to disable caching based on cookies"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-09 04:34] Selenestica commented on #1209
Pardon the noob question, but where do we put this custom rule?

[2021-09-09 08:11] ric-sapasap commented on #614
Any updates on this feature?

[2021-09-09 08:32] xiaoxiaosaohuo commented on #1761
yes, this is painful, @chriskinzel do you have found how to solve this problem ?

[2021-09-09 09:01] xiaoxiaosaohuo commented on #2243
I find the cookie of the domain--`.amplifyapp.com` always change when the page refresh, this maybe the main problem which cause the cache invalidation, but, how to solve this ?

[2021-09-09 09:36] annix-markcl commented on #2192
I have this issue as well and we need to use SSR. How to fix?

[2021-09-09 13:02] jtmthf commented on #2223
@ferdingler that did the trick, thank you!

[2021-09-09 13:02] #2223 closed

[2021-09-09 13:12] jtmthf commented on #2098
What worked for me was to opt out of webpack5 when using Next 11.

[code]

[2021-09-09 15:38] siegerts commented on #2209
Hi :wave: - thanks for raising this!  To get a bit more context, do you mind using the formatted template here:

- [bug report](https://github.com/aws-amplify/amplify-console/issues/new?assignees=&labels=&template=1.bug_report.yaml)

This will help the team determine the best approach to take.

[2021-09-09 19:15] kyleownsaterrier opened #2244 "zen-observable-ts broken import"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-09 19:17] quinnturner commented on #2237
This might be related to #2180. I had to contact support to get my branches pruned.

[2021-09-09 20:43] Emily-Thomas commented on #70
Also having the same issue on a nextjs app hosted with amplify.
With 404 (rewrite) getting the default chrome HTTP ERROR 404 page
With 404 (redirect) it works visually but does not have the intended behavior.

[2021-09-09 21:12] christianwensel commented on #1457
same issue

[2021-09-09 22:49] christianwensel commented on #1457
I was able to resolve by deleting all environments and reconnected the repository. Not a workflow I would like to repeat.

[2021-09-09 23:38] JKalm commented on #2243
Hi @xiaoxiaosaohuo,
Your observation is correct, cookies are used as part of caching key in CloudFront, this behavior currently cannot be changed.

But you should have control over what cookies are used on your website. I checked your app and it seems that it has [_ga cookies](https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage#gtagjs_google_analytics_4_-_cookie_u

[2021-09-10 01:28] behrooziAWS commented on #1811
Just dug into this today, it appears that what is going on is that it is trying to parse this variable as json and failing: AMPLIFY_STORAGE_TABLES=geee-catalog-dev,geee-inquiry-dev,geee-rfq-dev,geee-rfq-market-dev,geee-biz-dev

Can you configure it as json per this guidance:
https://github.com/aws-amplify/amplify-console/issues/1544#issuecomment-833691049

It was unused until the above was fixed w

[2021-09-10 02:26] Mystsra opened #2245 "An error occurred during the publish operation: User: arn:aws:sts::407223949779:assumed-role/us-east-2_iispTEBq7_Full-access/amplifyadmin is not authorized to perform: amplify:ListJobs on resource: arn:aws:amplify:us-east-2:407223949779:apps/d1vqj8u2diu92j/branches/prod/jobs/*"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-10 02:59] Vindi-Van opened #2246 "AWS Amplify gets error when running "amplify push""
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-10 04:47] xiaoxiaosaohuo commented on #2243
thanks , some cookie will change, but I want to cache my page on CloudFront, so,  I think Amplify should provide a method to control this by user.

[2021-09-10 06:14] Kamilius commented on #373
Same question here. Awkward that Amazon is not supporting Previews for its own platform VCS in the first place :( Would be really handy

[2021-09-10 07:47] guykogel opened #2247 "Getting CredentialsError when deploying nextjs app"
**Please describe which feature you have a question about?**
nextjs SSR app

**Provide additional details**
Following this guide:
https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html

I am trying to deploy my nextjs app and I am getting the following error after the `Starting SSR Build...` step:

[code]

What am I missing?

[2021-09-10 09:38] stefanoeb commented on #1987
If someone else did all of the above and is hopeless as I was:
1. Delete the app from amplify
2. Create it again through the wizard (connect repo)
3. Declare the environment variables on the wizard

My guess is there was some cache somewhere and my changes on the `next.config.js` were not getting picked up 🤷

[2021-09-10 09:48] joekendal commented on #2107
Can you be more specific? Try to log the cookie to check it's been set by your preview route.

Did you manage to resolve this?

[2021-09-10 13:35] siegerts commented on #2245
Hi @Mystsra, is this related to using the Amplify CLI?

[2021-09-10 13:40] siegerts commented on #2246
Hi  :wave:, thanks for raising. I'm going to transfer to the CLI repo to get some more eyes on it.

In the meantime, do you mind verifying that:

- You're you're using the latest version of the Amplify CLI (<img src="https://img.shields.io/npm/v/@aws-amplify/cli.svg" />). Run `amplify version` to check.

[2021-09-10 13:53] siegerts commented on #2086
Hi @zugger14, does this help? https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md#error-accessdenied-access-denied

[2021-09-10 13:59] siegerts commented on #2247
Hi @guykogel, thanks for raising. Can you provide a bit [more information](https://github.com/aws-amplify/amplify-console/issues/new?assignees=&labels=&template=1.bug_report.yaml) on the steps to reproduce this? Any app customizations, build spec, first deployment, etc? Thanks!

[2021-09-10 14:04] ericclemmons commented on #2239
I could add an environment variable within the GUI manually, but that doesn't scale well all the branches matching `docs/**`:

[2021-09-10 14:14] siegerts commented on #2244
Hi  :wave:, thanks for raising. I'm going to transfer to the JS repo to get some more eyes on it.

Do you mind providing a bit [more information](https://github.com/aws-amplify/amplify-js/issues/new?assignees=&labels=&template=1.bug_report.yaml) about your app? Mainly, any frameworks/versions/code snippets that may help :)

[2021-09-10 14:21] siegerts commented on #2241
Hi @wjatx, Amplify Hosting doesn't support hosting React Native applications. The backend infrastructure for these apps can be provisioned/hosted (i.e. GraphQL APIs, Lambda Functions, Auth, etc.) but the "mobile" app itself is not.

More information can be found here about Single Page App deployments - https://docs.aws.amazon.com/amplify/latest/userguide/getting-started.html.

Hope that this helps

[2021-09-10 16:16] adnan-iqbal-ch commented on #64
+1

[2021-09-10 18:43] #2241 closed

[2021-09-10 19:50] Fitux commented on #1298
Is there any update on this issue.
I'm having the same issue after integrating OAuth into my project

[2021-09-10 20:00] r-moore commented on #2238
Today I tried commenting out the cache section of my build settings and adding a line to ‘rm -rf node_modules’ before ‘yarn install’, but this didn’t seem to help

[2021-09-10 20:26] BitShepherd commented on #36
We would also be interested in adding WAF to an Amplify App at my company.

[2021-09-10 21:07] swaminator commented on #1928
Hi all, we've recently made improvements to our SSR error logging and have added support for Next.js 10/11.
Please follow this guide to upgrade to our latest support of Next.js: https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html#update-app-nextjs-version

[2021-09-10 21:07] #1928 closed

[2021-09-10 21:10] swaminator commented on #1866
@tamagokun @j3lev @zeroonea @Schubidu can you please share sample repos if possible? we are struggling to repro the problem.

[2021-09-10 21:24] swaminator commented on #2238
@r-moore we are going to be looking at this. Do you have a sample repo to share?

[2021-09-11 04:16] camello222 commented on #2211
@ferdingler  Thank you. I thought that app was deleted. Hadn't noticed it was in another region.

[2021-09-11 16:55] christophby commented on #1310
According to [this](https://stackoverflow.com/a/66590155/4628602) you can use:

`https://pr-${AWS_PULL_REQUEST_ID}.${AWS_APP_ID}.amplifyapp.com`

as `AWS_PULL_REQUEST_ID` and `AWS_APP_ID` are predefined environment variables.

[2021-09-11 20:13] wa1id commented on #2111
using
[code]
Also struggling with this, currently using Vercel to deploy..

[2021-09-11 23:02] jaubrey-ebar commented on #1271
I confirm this issue still exists in amplify 5.5.0.

Amplify is useful but I've run into countless error cases like this that are frustrating and slow to debug. It could use a vast amount of polishing.

[2021-09-12 12:18] r-moore commented on #44
+1

[2021-09-12 15:58] harryxp commented on #1448
In case somebody is still trying to figure this out, you could try to update the name servers of the registered domain to be the same as the name servers of the hosted zone NS record.

[2021-09-12 19:41] r-moore commented on #2238
Thanks @swaminator its a private repo but I’ve just granted you access - let me know if you need anyone else adding

[2021-09-12 19:42] jigote opened #2249 "CustomerError: Unable to clone repository due to user error code: 128"
Hi, I'm using **Amazon Amplify** trying to host a simple web app from a **AWS CodeCommit** repository, I'm following [this tutorial](https://aws.amazon.com/es/getting-started/hands-on/build-serverless-web-app-lambda-apigateway-s3-dynamodb-cognito/module-1/) step by step but when I deploy it, it pass the provission stage but fails at the **build** stage, where say it was unable to access the reposi

[2021-09-13 03:32] siegerts commented on #2192
@annix-markcl , for SSR, you may need more permissions. Can you check the role permissions against https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md#error-accessdenied-access-denied to see if that helps.

Hope that this helps.

[2021-09-13 04:44] ensj opened #2250 "Build failed to complete successfully."
Build succeeds, but console reports that "Build failed to complete successfully."

region: us-east-2
app Id: d4kqileokj5kp

AWS Amplify

[code]

[2021-09-13 05:35] newilu opened #2251 "Failed to pull the backend. The "path" argument must be of type string. Received undefined."
region: eu-west-1
appId: d3r87oryjejcv2

[code]

[2021-09-13 06:05] Murphstarr commented on #1219
Any suggestions oh what to try if I have configured the rewrite rule and it still does not work on Amplify?

[2021-09-13 09:51] JanJakes opened #2252 "Deleting a branch doesn't always delete associated display name"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-13 11:43] pm2877 commented on #621
@abhi7cr Is there any way we can achieve this using Lambda@Edge?

[2021-09-13 13:54] iskandar47 commented on #1271
i fixed this error by setting the variables in the console directly : App settings > Environment variables .

![Screen Shot 2021-09-13 at 2 50 22 PM](https://user-images.githubusercontent.com/67127725/133096270-28f4ed81-7eca-44d4-8f9f-96226da520ca.png)

[2021-09-13 17:34] QB3L commented on #1928
@swaminator I went through the upgrade guide and it seems the previous issues are no longer there. I have a pre-build issue now where the Amplify is stuck.. I am tryin to install postgresql-devel on pre-build via yum but it the logs just say its stuck resolving dependencies and nothing else is posted

[code]

[2021-09-13 19:13] Athena96 commented on #2179
Hi @quinnturner this should be resolved now. Can you try with the latest version of next: `next: 11.1.2` and the `latest` version of Amplify SSR (in the Build Settings, set the Next.js Version to `latest`: https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html#update-app-nextjs-version)

[2021-09-13 19:16] Athena96 commented on #2190
@yogeshydvme can you try with the latest version of next: `next: 11.1.2` and the `latest` version of Amplify SSR (in the Build Settings, set the Next.js Version to `latest`: https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html#update-app-nextjs-version)

[2021-09-13 19:43] truecolintracy commented on #2240
I'm also experiencing this issue with latest amplify-cli and nextjs. Haven't been able to resolve it thus far.

[2021-09-13 19:57] behrooziAWS commented on #1875
Your buildspec is still incorrect with the last build on 6/12/2021.  If this is not a monorepo app, you need to:

1. remove the appRoot portion or your buildspec
2. unset the AMPLIFY_MONOREPO_APP_ROOT [environment variable](https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html#setting-env-vars).

i.e. for #1
[code]

If it is a monorepo app, you need to put `applications`

[2021-09-13 20:23] truecolintracy commented on #2240
Build went through with SSR. I updated the build settings to the following:

[code]

Amplify CLI: 5.5.0
Nextjs version: latest

[2021-09-13 22:28] behrooziAWS commented on #1967
Something in your build is running `node server.js`, likely as part of the `yarn run build` command.  Remove anything that is running `node server.js` from the build script in the package.json and move it so it only runs as part of the `npx pm2 start npm -- start` command in your preTest phase.  Since you've deleted the app, I'm going to resolve this.  Please cut a new issue and reference this if

[2021-09-13 22:28] #1967 closed

[2021-09-14 01:14] behrooziAWS commented on #1957
It looks like the issue was that your cache had reached a size that was causing the build container to run out of memory.

2021-06-15T02:52:46.541Z [INFO]: # Cache artifact is: 4379MB

Coincidentally we deployed a few cache related fixes to reduce cache size on 6/16 and it looks like your cache came back down in size and you can build again:

2021-06-17T14:18:44.688Z [INFO]: # Cache artifact is: 6

[2021-09-14 01:14] #1957 closed

[2021-09-14 01:29] behrooziAWS commented on #1949
I was able to find your appId in the logs.  Seems like the error is that you've accidentally set your baseDirectory to `.frontend/build` instead of `frontend/build` in your amplify.yml.  You don't have a folder named `.frontend` but do have one named `frontend`.

[2021-09-14 01:29] #1949 closed

[2021-09-14 01:45] behrooziAWS commented on #1921
Resolving, I searched the logs and looks like you were able to build if your app was dt48h6lwdzstp.

[2021-09-14 01:45] #1921 closed

[2021-09-14 02:52] oste opened #2253 "cloudfront:ListDistributionsByLambdaFunction invalid action"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-14 03:31] oste commented on #2253
As a follow up I am still receiving the same permission error after adding the above permissions to my service role

Error:
[code]

Permission policy:

[code]

[2021-09-14 03:37] oste commented on #2253
I tried adding the `AdministratorAccess` policy and that didn't seem to fix the permission issue.

I am using a role within an organization account so maybe that is causing the issue.

[2021-09-14 08:38] cpv123 commented on #2240
@truecolintracy do you mean that you got things working? If so, what exactly did you change in those building settings to make it work?

[2021-09-14 09:10] cpv123 commented on #2240
Same for me - setting the Nextjs version to "11" does not work, but setting it to "latest" works fine.

[2021-09-14 09:14] cpv123 commented on #2192
I think this was the case for me. Using the standard `Amplify - Backend Deployment` service role gave me this `Access Denied` error.

I attached the `AdministratorAccess` policy to my Amplify service role and the deployment worked.

[2021-09-14 09:16] cpv123 commented on #2086
For me, it was that the standard `Amplify - Backend Deployment` service role didn't have all the permissions required for an SSR Nextjs deployment. I had to attach the `AdministratorAccess` policy to my Amplify service role to make it work.

I think this issue is a duplicate of https://github.com/aws-amplify/amplify-console/issues/2192

[2021-09-14 10:38] Lettly commented on #2240
For me none of the settings seem to work: webpack 4, webpack 5, node 11, node latest, node 10, amplify CLI 5.5.0, amplify CLI latest, yarn, npm... I don't know what else to try. I decided to create a custom docker image.

[2021-09-14 14:55] r-moore commented on #2238
Hi @swaminator I have connected the same repo to a new AWS Amplify app and it builds & deploys successfully.

Noted that it is detected as a `Web - Amplify - Cypress` app.
<img width="202" alt="image" src="https://user-images.githubusercontent.com/366280/133280674-1416b51f-f0ea-4bf2-bfcc-9db33e0905d8.png">

I need to keep the original Amplify app though really as we have custom domains associated.

[2021-09-14 16:49] victorccccc commented on #1880
We've fixed this issue, feel free to reopen if issue persists. Thanks!

[2021-09-14 16:49] #1880 closed

[2021-09-14 17:50] behrooziAWS commented on #2228
I'm not sure I follow. Are you saying that the gradle command that you have put in your amplify.yml today is causing gradle to build without nativeImage?  Can you provide appid/region/branch/build id so we can review?

I'm not familiar with Graal or Gradle.  When building with the build.gradle file locally using the same gradle build command does it use nativeImage?

[2021-09-14 18:56] CauanCabral opened #2254 "What is the correct way to customize NextJS lambda@edge"
**Please describe which feature you have a question about?**

Amplify to deploy NextJS with SSR, SSG and _api_'s.

**Provide additional details**

Amplify build the NextJS and delivery it using CloudFront.

They create a Lambda for each of _api_ and _SSR_ routes.

Accessing Lambda console, I can see _memory_, _runtime_ and other configurations for my  lambdas. I can even edit any of then. But in n

[2021-09-14 20:59] simonjpartridge commented on #816
I'm experiencing this exact same problem

[2021-09-14 21:22] behrooziAWS commented on #2226
It looks like recent builds have been succeeding and there were some updates in the other thread.  If you need to temporarily skip the backend build in the future, one option is to set the environment variable `PROCESS_SKIP_BACKEND` to `true` for that branch.  Reopen if there are still outstanding issues.

[2021-09-14 21:22] #2226 closed

[2021-09-14 21:29] behrooziAWS commented on #2208
Although it must be named amplify.yml, you should be able to use a technique similar to [this](https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#branch-specific-build-settings).

If you set [environment variables](https://docs.aws.amazon.com/amplifyenvironm/latest/userguide/build-settings.html#branch-specific-build-settings) for each app differently you can have one buildspe

[2021-09-14 21:29] #2208 closed

[2021-09-14 21:51] ganipcanot commented on #2249
Did you check the permissions of that role and it does have access to code commit?

Have you tried it again with another role with full Admin permissions?

[2021-09-14 21:57] ganipcanot commented on #2250
You need to make sure that their IAM role associated to the Amplify App has access to Secrets Manager and KMS keys to decrypt the secrets.

[2021-09-15 00:50] oste commented on #2086
In my situation I was first not able to clone the repo during the BUILD step getting `fatal: unable to access 'https://git-codecommit.us-east-2.amazonaws`
I was able to resolve that by adding `AWSCodeCommitReadOnly` permission to my service role

However, I then ran into the issue described in this Jira `[ERROR]: AccessDenied: Access Denied`

The odd thing is that even adding `AdministratorAccess`

[2021-09-15 07:22] marcelweigle commented on #2228
appid: angeldesk.io, region EU-Central-1, branch dev (backend function dealStatus)

Yes executing the command "gradle build" - which is the standard to build the project with gradle - the native images does not get build (only normal jar)
Instead the command "gradle nativeBuild" has to be used.

It is the same locally. You can build a native image locally by using "gradle nativeBuild". The Problem

[2021-09-15 09:02] mijoel opened #2255 "CustomHeaders not applied to Web page"
**Please describe which feature you have a question about?**
AWS Amplify Custom Headers
**Provide additional details**

Added CustomHeaders for webpage, but it is not updating for this certain app.
![image](https://user-images.githubusercontent.com/73587933/133403937-5f08a382-2a62-4363-87a5-90f8bc1d9b4b.png)

**What AWS Services are you utilizing?**

Amplify, Cloudfront, Route53.

**Provide additi

[2021-09-15 09:05] Lettly commented on #2240
Ok, I solved this problem by:

1. Create a new amplify project from the cli
2. Recreating all the resources from scratch (from the cli)
3. Created my docker image, and hosted on Elastic Container Registry because all the image hosted on the docker-hub cannot be downloaded because all aws infrastructure exceeded the docker-hub's limit (BTW: the command to log in with docker in ECS is wrong only som

[2021-09-15 10:39] baruchvlz opened #2256 "Webhook is not added after reconnecting repository"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-15 13:05] baruchvlz commented on #2256
Fixed it by linking a different repo then reconnecting to the actual repository I need. I'm going to keep the issue open though because I don't think this is the intended UX.

[2021-09-15 17:28] quinnturner commented on #2179
This issue is resolved. I am experiencing a different ISR issue related to inconsistency between branches/apps but I will open up a new issue for that. Thanks!

[2021-09-15 17:28] #2179 closed

[2021-09-15 18:43] emacaz commented on #965
Hi everyone, I'm having the same issue, I've tried making the same settings that I've seen here but it hadn't work yet. My DNS provider is Wordpress. Could somebody help me with it? Thank you!!!

[2021-09-15 21:02] tomasff opened #2269 "Hosting with imported Cognito Auth fails to build the backend"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-09-15 21:18] janajri commented on #2107
I'm seeing a similar issue on my end. Here is an example preview link being generated in Contentful: https://www.hautehijab.com/api/preview?secret=d0yia0Ok8q&slug=jersey-hijabs. This endpoint hits the Lambda API, sets the cookie and redirect appropriately but fails to generate the preview (I receive a 500 response from cloudfront)

[2021-09-15 21:20] janajri commented on #2190
I'm seeing a similar issue on my end. Our app id is: d1xm76k8s6lqms. I've set all revalidations to 1 minute and do not see the latest changes reflected after publishing our CMS / Contentful content. We've recently migrated away from Vercel into AWS directly, so I can verify that nothing has been changed during the migration.

[2021-09-15 23:20] ganipcanot commented on #2252
I'm not seeing the branch `renovate-graphqlcodegenerator-monorepo` for appId `d1srck04ciclxn` in `eu-west-1` on our end.  We may need to forward this issue to the Amplify CLI team.

[2021-09-16 00:03] superjose opened #2257 "Amplify Console somehow caching the repository independently of how many pushes and breaking changes I push"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-16 00:58] jaubrey-ebar commented on #1271
Any suggestions on how to make this work for multiple environments?

Setting the 3 environment variables (AMPLIFY_USERPOOL_ID, AMPLIFY_NATIVECLIENT_ID, AMPLIFY_WEBCLIENT_ID) was enough to get a continuous integration build working with CodeCommit.  However, I have multiple environments (i.e. dev, beta, prod)  and I'm trying to figure out how to have different values for each environment - currentl

[2021-09-16 00:58] behrooziAWS commented on #1773
At that time we had a issue where if you didn't have a cache section in your buildspec, you might get that error.  We have better error checking now so that should not happen.

[2021-09-16 00:58] #1773 closed

[2021-09-16 01:12] ensj commented on #2250
Hello, attaching a service role to the app solved this problem, but only partially. At first I got the following message:

`There was an issue connecting to your repo provider, click "Reconnect repository" in General Settings, and then try your build again.`

I In order to fix this problem, I tried adding several permissions to the service role:

- SecretsManagerReadWrite
- AWSCodeCommitFullAccess

[2021-09-16 01:28] jaubrey-ebar commented on #1271
I'll answer my own question here.  Three solutions are ranked from best to worst:

1) Amplify is improved so the following aren't necessary.

2) Invoke a script from amplify.yml. This way you can parse the amplify/team-provider-info.json to extract the settings and set them in the environment.  The settings are now only in one place.

3) If you're ok with the same settings in amplify/team-provider

[2021-09-16 02:32] jaubrey-ebar commented on #1271
Following my previous post, here's my solution (2):

**amplify.yml**: supplemented with getAmplifyBuildEnvVars usage:
[code]

**getAmplifyBuildEnvVars.js**: Be sure to make this script executable (ie `chmod +x`)
[code]

[2021-09-16 05:11] jaubrey-ebar commented on #1457
I see this problem chronically with Amplify and CodeCommit and both only have a single repo...  It's bizarre that it already has the inputs it needs and knows the action to take but then prompts me to do it? Seriously?! And then if I do it it often doesn't work for MANY attempts with about 5 minutes lost on each attempt.

The problem occurs regardless of whether the trigger is a git push or a manu

[2021-09-16 05:24] Djelnar commented on #550
Same

[2021-09-16 05:32] anoroozz opened #2258 "Admin UI no longer works"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-16 07:44] iDavidB opened #2259 "Amplify never spins up Next server when using Nx monorepo"
**Please describe which feature you have a question about?**
Deploying a Next.js 11 app with a Nx monorepo

**Provide additional details**
It appears that using the monorepo feature (checkbox while creating an app) in Amplify Console makes it so that it doesn't recognize there being a Next.js app inside. This results in the build running fine but it never actually spins up the next server. It seem

[2021-09-16 08:13] JanJakes commented on #2252
@ganipcanot Thanks for looking into it.

Yes, that's correct. As I've described, the branch is deleted but I cant create a branch with that name as `aws amplify create-branch --app-id d1srck04ciclxn --branch-name renovate/graphqlcodegenerator-monorepo` outputs:

[code]

[2021-09-16 08:57] cpv123 commented on #277
Would love an update on this. Having to manually delete resources is really slowing things down for me.

There's a "pending release" label on this issue but I don't see any associated PRs. Any idea if this is _actually_ going to be released soon?

Similar discussion going on at https://github.com/aws-amplify/amplify-console/issues/2123

[2021-09-16 11:36] andrewgadziksonos commented on #1574
Also looking for this feature

[2021-09-16 11:51] superjose commented on #2257
Well. I ended up nuking the entire app late at night (deleted amplify).
I once again set it up, and now it's working.

I'd like to extend a deeper testing when it comes to monorepos. It seems after a while, and after several failed attempts, something somewhere hangs and throws build errors.

I don't know if it has anything to do with Puppeteer or caching with yarn.

Nonetheless, thanks for the he

[2021-09-16 12:49] CloudWindSolutions commented on #868
+my team

[2021-09-16 13:51] siegerts commented on #2258
Hi  :wave:, thanks for raising. I'm going to transfer to the AdminUI repo to get some more eyes on it.

[2021-09-16 14:04] siegerts commented on #2259
Hi 👋🏻 @iDavidB, can you try updating the application type using https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md#convert-an-ssr-app-to-ssg.

Hope that helps!

[2021-09-16 14:09] siegerts commented on #2255
Hi @mijoel, thanks for raising. Do you mind providing more context on the app and steps to reproduce?  You can use this [form as a guide](https://github.com/aws-amplify/amplify-console/issues/new?assignees=&labels=&template=1.bug_report.yaml).  Mostly looking for the type of app and any explicit steps that you took (new app?, were the headers working before?, etc.)

Thanks!

[2021-09-16 15:14] iDavidB commented on #2259
Hi @siegerts, I appreciate your help. I ran both commands, these, to be exact.
[code]
While it did change the framework to `Next.js - SSR`, it seems to have no impact on the deployment process. I forgot to mention that it is an SSR based app, if that makes any difference?

When running it without it being a monorepo, it starts a process saying `[INFO]: Starting SSR Build..` after the build process

[2021-09-16 17:04] medelman17 commented on #2127
Just wanted to comment that this remains an outstanding issue--have been dealing with excessively long build times just today.

<img width="540" alt="Screen Shot 2021-09-16 at 12 47 13 PM" src="https://user-images.githubusercontent.com/14793389/133654805-0342677f-de34-4dc8-9bf6-4c91ddce80cb.png">

At the very least, can the team provide any clarity with respect to what exactly is going on during t

[2021-09-16 19:23] ganipcanot commented on #2238
Can you share your package.json file?  We have some internal logic to determine if app is SSR/SSG there may be some config in your package.json which is triggering our autodetection logic.

[2021-09-16 21:40] siegerts commented on #2259
Is it along the lines of https://github.com/aws-amplify/amplify-console/issues/1866? If possible, it'd help to see a same app structure or repo to help the team repro.

[2021-09-16 22:05] iDavidB commented on #2259
I don't think so, as that issue seems to run into a specific error, ours just builds but never runs the next steps.

I will spend some time tomorrow morning to create a reproduction repo.

[2021-09-16 22:12] ganipcanot commented on #2238
To fix this issue please run:

`aws amplify update-app --app-id <APP_ID> --platform WEB --region <REGION>`

[2021-09-17 01:11] behrooziAWS commented on #1698
Hi I've reviewed the logs and it appears that the build artifact is too large.  When you increased the timeout, it was able to successfully generate the build artifacts post build, but we currently have a 5GB compressed limit on hosted artifact size.  Is it expected for your build to output this much content?  If not, maybe you have your artifacts baseDirectory set wrong.

[2021-09-17 02:00] behrooziAWS commented on #1678
I see you were successfully able to build master on 4/2/2021.

[2021-09-17 02:00] #1678 closed

[2021-09-17 06:56] mijoel commented on #2255
I have checked to see if my question is addressed in the FAQ. *
 I have searched for duplicate or closed issues. *
 I have read the guide for submitting bug reports. *
 I have done my best to include a minimal, self-contained set of instructions for consistently reproducing the issue. *

App ID: d1qks5y13jyp0e

Region: Europe (Frankfurt)

Amplify Console feature: CustomHeaders

Describe the bug:

[2021-09-17 07:45] iDavidB commented on #2259
Hi again, @siegerts! I created a reproduction repo, you can find it [HERE](https://github.com/iDavidB/mono-repro). I deployed it in the same way I have with my original repo and I can confirm I have the same issue.

AppId: d3s2lbk203au2l
Region: eu-west-1

amplify.yml of this app:
[code]

Let me know if you can work with this or if you need any additional info.

[2021-09-17 08:07] iba-1 commented on #1698
Glad you could review the logs, we switched to another provider and yes, we were expecting our build to output this much content.

[2021-09-17 08:07] #1698 closed

[2021-09-17 08:35] joekendal commented on #2107
Maybe you need to modify the CloudFront Cache Policy to forward the Authorization header. Can you confirm with your browser cookies that you've been given the preview token?

[2021-09-17 08:36] frank-unovica commented on #595
Still no fix.
if Amplify offers python lambda functions, it should support python without every customer running into problems...
Amplify is too incomplete and buggy in every way and should be marked as a beta product.

[2021-09-17 09:04] r-moore commented on #2238
Many thanks, can confirm this has resolved the issue!

Presumably because this was quite an old amplify project.

[2021-09-17 10:16] frank-unovica opened #2260 "Allow overriding NODE_DEFAULT_VERSION @ automatic build"
**Is your feature request related to a problem? Please describe.**
The automatic build uses nvm to install node and then additionally selected packages such as yarn and amplify cli. But the version is still hardcoded to 12.

As a workaround I manually install node 14 but then the additional packages are not available, so have to be manually installed as well. Every customer using automatic build w

[2021-09-17 13:18] siegerts commented on #2255
Hi @mijoel, did you update the headers in the UI editor or using the `customHTTP.yml` file in your app? If you did this in the UI, did you also try redeploying the app after the changes? A re-deployment is needed for the changes to be pushed out.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html#setting-custom-headers

[2021-09-17 13:23] siegerts commented on #2245
Closing for now. Please reopen if the issue occurs again.

[2021-09-17 13:23] #2245 closed

[2021-09-17 13:23] simpian commented on #1596
i'm having this issue as well as soon as I added test.
Can anyone please check what's going on?

arn:aws:amplify:us-east-2:506294172018:apps/d2nia5b95k9fww

[2021-09-17 14:00] jtmthf commented on #2259
@iDavidB I ran into something similar earlier and I believe it has to do with framework detection. It's done by looking at the package.json in monorepo root (which there is none in your case being nx) and looking at the build commands https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html#package.json-settings.

See if you can create a stub package.json with the li

[2021-09-17 16:13] kotprav commented on #464
Hello, I have the same situation when move jest tests to the test phase - tests pass and deployment phase just stucks.

Also I make one test to fail, Amplify console showed in logs that the test failed and put the label "Tests successfully completed".
+ the console shows logs with really bad formatting:

                                    [31m✕[39m [2mshould pass (3ms)[22m

[2021-09-17 17:13] iDavidB commented on #2259
Hi @jtmthf, I linked to a reproduction repo in my previous reply. Our Nx setup does use a single package.json at the root, but you would be right to say that it probably doesn't recognize the Next commands due to there not being any on that level. However, I did change the framework to `Next.js - SSR` manually with the commands shown in one of my earlier replies.

The final build ends up in `dist/

[2021-09-17 20:10] behrooziAWS commented on #2260
Thanks @frank-unovica, I've added this as a feature request.

[2021-09-17 22:00] behrooziAWS commented on #2257
Looking at the build logs for d2c48o68a0m4gs:  It was always building the `home` app because that was the first application in the amplify.yml and there was no [AMPLIFY_MONOREPO_APP_ROOT set](https://docs.aws.amazon.com/amplify/latest/userguide/monorepo-configuration.html#setting-monorepo-environment-variable) and no approot set for the app.  Had you wanted d2c48o68a0m4gs to build the `app` app in

[2021-09-17 22:57] dnoji commented on #614
@swaminator Any updates? 🙏

[2021-09-17 23:17] Athena96 commented on #2259
Hi, are you trying to deploy a [Next.js Custom Server](https://nextjs.org/docs/advanced-features/custom-server)?
Amplify does not support [Next.js Custom Servers](https://nextjs.org/docs/advanced-features/custom-server) at this time.

[2021-09-18 07:18] iDavidB commented on #2259
Hi @Athena96,

No custom server. Just basic Nx with a Next app in it generated through the Nx CLI.

This reproduction repo has the exact setup we use in it except cleared of our actual code ofcourse.
https://github.com/iDavidB/mono-repro

[2021-09-18 08:10] ArneTesch commented on #2029
Hi Guy,

After running `amplify init`, should I run `amplify add api` and `amplify push` to get the backend environments tab?
For me after running `amplify init`and the push the code to my connected branch, the backend environment tab is still not visible.

[2021-09-18 19:03] janajri commented on #2107
I can confirm the cookies have been set appropriately. Perhaps I'm missing something but why does the authorization header need to be forwarded?

[2021-09-18 19:14] joekendal commented on #2107
Can you check the logs from Lambda@Edge in CloudFront. Please bear in mind the logs may be in a different region to where you deployed or are located.

[2021-09-18 20:08] erick-nguyen opened #2261 "Amplify Frontend build failed with react-scripts: command not found"
I am new to AWS Amplify and follow instructions from AWS to host a frontend for create-react-app application which using react-scripts module in scripts. I setup a simple app, connect to Amplify, created some APIs. However after connected my Git repo the Amplify Frontend build got failed.
Provision, Cloning Repo, Backend stage ran well without issue but Frontend got the error "react-scripts: comma

[2021-09-19 07:28] adnanaslam475 commented on #1585
![image](https://user-images.githubusercontent.com/38522696/133919178-bd372144-cca7-4819-89c2-6a833adc07e6.png)
can anyone answer this problem?

[2021-09-19 12:35] allanitis commented on #2080
This resolved the issue - thank you

[2021-09-19 12:35] #2080 closed

[2021-09-19 12:41] Pablion commented on #882
I have the same problem.
Is there any progress?

[2021-09-19 17:50] kovan commented on #2104
Yeah, I am facing the same question. Should the app load at .cloudfront.net URL or not?

[2021-09-20 02:10] andrewgadziksonos commented on #2254
Also interested in customizing these settings

[2021-09-20 04:23] Pablion commented on #1271
I removed then imported a new auth then encountered the same problem.
following (damianthekreeeytor's answer)[https://github.com/aws-amplify/amplify-console/issues/1271#issuecomment-766311681] I get it resovled.
The value for these ENV VARs can be found in Admin UI
![image](https://user-images.githubusercontent.com/36828324/133956910-f7fd2a1a-9424-465b-9ece-d1b17804ac8c.png)

[2021-09-20 08:02] newilu commented on #2251
Hey, can anyone answer me?

[2021-09-20 11:00] NobbuMajankwe opened #2262 "No 'Access-Control-Allow-Origin' header is present on the requested resource."
I'm using a REST API that triggers Lambda functions but I keep getting a CORS policy error: No 'Access-Control-Allow-Origin' header is present on the requested resource.
Even when I have specified 'Access-Control-Allow-Origin' and I'm calling the API from the Origin I defined on 'Access-Control-Allow-Origin' (i.e. http://localhost:3000)

AWS Amplify, API(REST),  Lambda

// Enable CORS for all meth

[2021-09-20 13:05] mounika-avantgarde commented on #2236
hi ,
Any update on this ?

[2021-09-20 14:47] siegerts commented on #2262
Hi @NobbuMajankwe, are you using the CLI for this? I'm going to transfer this to the CLI repo.

In the meantime, do you mind trying with the `...Allow-Origin`/`...Allow-Headers` set to `*`? Can you try setting the headers allong the lines of:

[code]

https://docs.amplify.aws/guides/api-rest/node-api/q/platform/js/#3-updating-the-function-code.

[2021-09-20 16:03] truecolintracy commented on #614
Also looking for this feature coming over from github actions.

[2021-09-20 16:37] siegerts commented on #2261
Hi @erick-nguyen  👋🏻  - Can you share your `package.json`?

1. create app with `create-react-app`
2. push to get
3. host app in Amplify -> link to repo
4. deploy with the below `package.json` and build settings

Were there any other steps before deploying that you ran/customized? Thanks!

<details>

<summary>package.json</summary>

[code]

</details>

<details>

<summary>build settings</summary>

[2021-09-20 17:18] ensj commented on #2250
Additional help would be highly appreciated, if they could be given! I really have no idea what's happening when the logs show that the build completes successfully.

[2021-09-20 17:41] ludokx commented on #2152
@Athena96 finally circling back, there is no CloudFormation stack for demo after I deleted everything, I double checked. I tried again to connect the demo branch and it failed with the same issue

[2021-09-20 18:07] siegerts commented on #2225
Hi @SusanaVelez, is this still happening?

[2021-09-20 18:25] swaminator commented on #2175
@nicksemansonos @drmzio we have updated the default timeout to 30sec. Please let us know if you're still having issues.

[2021-09-20 19:40] SusanaSVelez commented on #2225
Not anymore.

Thank you.

[2021-09-20 19:41] michaelbrewer opened #2263 "Amplify Console SSR support for Gatsby 4"
**Is your feature request related to a problem? Please describe.**

Amplify currently only support SSR for NextJS, but the up coming release of Gatsby 4 also support SSR

**Describe the solution you'd like**

Transparent support for SSR for Gatsby 4 much like NextJS.

**Additional context**

- https://v4.gatsbyjs.com/docs/how-to/rendering-options/using-server-side-rendering/

[2021-09-20 19:44] brich2018 commented on #440
@atlesp - yup that did the trick. been dealing with this issue for weeks. cheers mate:

build:
  image: node:14.17.6

[2021-09-20 21:27] guygreenleaf commented on #2029
Hey Arne,

Yeah, so by default `amplify init` should have given you a choice to create an API (whether that be REST or GQL). Afterwards you will have to do an `amplify push`.

In the case that it doesn't create an API for you, try the `amplify add api` command prior to the push. Let me know if it solved the issue for you.

[2021-09-21 00:41] opqpop opened #2264 "aws console DOES NOT let you edit build command inline"
5### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cons

[2021-09-21 00:51] opqpop opened #2265 "Backend build fails without any error. Just says "Starting phase: build""
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-21 01:53] opqpop commented on #2265
I figured this out after hours of debugging, it's because I use FontAwesomePro and it needed the env variable since I install it through my .npmrc file. Would have saved me so much time if I could have just seen this error.

The way I found the error was to deploy it on Vercel... which ended up spitting out the error

[code]

[2021-09-21 06:40] kahdojay commented on #2264
Hi @opqpop I'm not able to reproduce this in my own app. Are you seeing it in other apps of yours / repro it consistently? Can you provide an appId so I can dig further into this?

[2021-09-21 06:42] Nxtra opened #2266 "An error occurred during the publish operation: Deployment file has not been uploaded"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-09-21 06:43] opqpop commented on #2264
Hmm very strange, now I can't repro it. I'm able to successfully edit inline. I don't think I changed anything.

[2021-09-21 11:35] matteoxplo commented on #1107
@jngbng I'm trying to redirect based on user language without success, have you found a solution to this problem?

[2021-09-21 13:28] #2225 closed

[2021-09-21 15:41] s4geraldyeong commented on #343
Hey all, there is this thing call the performance mode. After you've enabled in "General" > "Settings" > "Your branch", you should start seeing your resource being served as gzip.

[2021-09-21 15:42] s4geraldyeong commented on #330
Hey all, I'm not from the amplify team, but there is thing call performance mode.

https://docs.aws.amazon.com/amplify/latest/userguide/ttl.html#Instant-cache-invalidation-with-instant-deploys

[2021-09-21 15:48] SatadruBhattacharjee commented on #2111
+1

[2021-09-21 21:07] Nxtra commented on #2266
@rcambrj , for me the jobs are already in failed state. I cannot cancel them anymore.
+ yes, indeed the problem is only happening for when I deploy using my CI pipeline. (headless deploy)
I can still deploy from my local machine. Ofc, that's not what I wanna do for prod deploys :)

Any ideas on how to fix this "An error occurred during the publish operation: Deployment file has not been uploaded "

[2021-09-22 07:41] dcfranca commented on #595
@frank-unovica I feel your pain... it has been quite frustrating for me to set up an application with Amplify... I'm not even in 100% production environment yet, and I end up on so many issues with Amplify, sometimes the only solution was to rebuild the whole environment (which is not an option if you are in production), and I know there are good workers there trying to help, but it doesn't seem t

[2021-09-22 09:25] frank-unovica commented on #595
The developers here are great people, but the Amplify approach is a complete disaster and belongs in the bin.
Switch to AWS CDK - it's so easy. I finally found what I'm looking for but it's not even listed in AWS services..
I had to throw away and rebuild our application as well due to DataStore, AppSync, federated sessions, automatic build, mocking, etc. not living up to promise, no SES or custom

[2021-09-22 11:14] shetshrikant commented on #2186
In Amplify console, for the app giving this issue, in "Rewrites and redirects", I removed the entry

/<*> /index.html 404 (Rewrite)

On removing this, the 404 redirections started working. My 404.js page is still in the pages folder of NextJS.

[2021-09-22 11:21] dcfranca commented on #595
@frank-unovica are you still using AppSync? Have you followed some documentation or guide to move away from Amplify?

[2021-09-22 11:31] l-hendriks commented on #97
How can this still not work? We don't have a single page app so the redirect rule fix doesn't apply. UTM tracking is impossible now on any amplify app ever, we can't ask of people to always include a trailing slash (which is a bad workaround because refreshing removes the querystring again anyway). It's issue number 97, so it's basically been reported since day 1?!

We are fixing this by deploying

[2021-09-22 12:12] leighton-tidwell commented on #2186
Well shoot! That seems to of fixed the problem! That's so weird.

Thank you so much!

[2021-09-22 12:12] #2186 closed

[2021-09-22 13:34] iDavidB commented on #2259
Hi @siegerts, any updates on this? Were you able to reproduce the issue with my repo?

[2021-09-22 13:51] ludwigward opened #2267 "Amplify build fail to generate gatsby SSR after amplify updates"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-22 14:27] l-hendriks commented on #97
The issue has several components:

- When S3 static web hosting encounters an url without trailing slash, it tries "x.html". If that can't be found, it will do a 301/2 redirect to "x/" and then tests "x/index.html", which works with static websites like Gatsby. S3 removes the query string and there is no way around it
- Gatsby by default (or actually reach router) wants to remove trailing slashes

[2021-09-22 14:46] SatadruBhattacharjee commented on #2111
I can able to make it work with Next.js 11 and Webpack 5, Thanks @j-mastr for the tips.
For reference:
https://github.com/SatadruBhattacharjee/nextjs-i18n-country-path-dynamic-routing

[2021-09-22 16:07] ludwigward commented on #2267
Thanks for looking into it! You should know that the latest redeploy of a previously failed branch now built successfully and I can push and make new successful builds.

[2021-09-22 16:15] TheRyanBurke commented on #2266
I unblocked myself by installing the latest version of Amplify CLI `npm i -g @aws-amplify/cli` (6.0.1). Despite the docs for the geo module specifying CLI version 5.6.0-geo.0 is required, I am able to publish my app once again. Perhaps I only need the geo version to make changes to Amazon Location resources and can otherwise use the main CLI branch?

[2021-09-22 16:16] frank-unovica commented on #595
Documentation? Guide? Welcome to disaster.

[2021-09-22 16:42] michaelbrewer commented on #595
Yep @frank-unovica the docs for this should be on the main amplify site, and not hidden in a FAQ section on github

Basically this is the fix to ensure python 3.8 is the preferred version.

[code]

[2021-09-22 19:34] Nxtra commented on #2266
We were able to move forward at a certain point but don't know what changed. We had not updated our amplify cli version (still on 5.6.0) and suddenly it worked again.

No Amazon Location in our project, so for us the issue was independent of amplify location.

[2021-09-22 19:36] andrewgadziksonos opened #2268 "[NextJS] ISR not triggered for paths returned back from getStaticPaths (prerendered pages)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-22 20:44] kovan commented on #1937
Hi, same issue here. Probably the space is coming from keeping older builds artifacts.
The question is, how to manage them? the keep piling up forever, or how does this work?.
I haven't seen any option in the menus for this, and I have looked at the CLI utility and haven't found anything either. Nor there is an S3 bucket in my case.

Help appreciated.

[2021-09-22 21:00] #2238 closed

[2021-09-22 21:26] #2264 closed

[2021-09-22 22:10] jackcodej commented on #1762
Any chance you figured it out on your own? I seem to be having the same issues

[2021-09-22 22:29] kahdojay commented on #2007
Hi @mb-genvis, we will be rolling out TLSv1.2_2021 to all distributions within the new few weeks, some have already been updated. If you need your specific app updated urgently, please raise a case with AWS Support and we can take a look.

[2021-09-22 22:29] #2007 closed

[2021-09-22 22:32] JoelRummel commented on #1219
@Murphstarr I also configured the rewrite rule and found that Amplify simply wasn't deploying a PDF of mine.

My PDF was in a subfolder within `public`, so my download link was `example.com/resources/my-file.pdf`. This link worked while hosting a build on localhost, but not on Amplify (the PDF simply didn't exist).

I solved it by moving the PDF out of the `resources` subfolder and into the root `

[2021-09-22 23:36] kahdojay commented on #2266
@Nxtra glad to hear you were able to unblock yourself. If you run into more issues with Amplify Console/Hosting feel free to open an issue in our repo: https://github.com/aws-amplify/amplify-console/issues/

[2021-09-22 23:36] #2266 closed

[2021-09-22 23:41] justinpezzack opened #2270 "Root domain does not connect"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-console/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2021-09-22 23:43] kahdojay commented on #2267
@ludwigward thanks for reporting, it sounds like you were able to get your Amplify Console jobs working, if you run into any more issues feel free to provide your app id/region, and fill out other details from the relevant issue template:

https://github.com/aws-amplify/amplify-console/tree/master/.github/ISSUE_TEMPLATE

[2021-09-23 00:54] Michaelmw17 commented on #1042
I have a single branch and no errors on localhost but am seeing this same error on my site, sometimes it only appears once running lighthouse  then the URL will add a``/``  to the end like so : ``https://www.jdpelectrical.com.au/About/``

I see the error :
``Failed to load resource: the server responded with a status of 404 () www.jdpelectrical.com.au/:1 ```

Original URL: ``https://www.jdpelectri

[2021-09-23 08:37] abiro commented on #1542
This is a dealbreaker for me. Other providers like Netlify and Vercel don't require such extensive permissions.

[2021-09-23 09:04] halbrd commented on #1542
I ended up using Cloudflare Pages, which only requests read permission and only to the repository I specified.

[2021-09-23 13:31] Michaelmw17 commented on #1042
Reference : https://github.com/aws-amplify/amplify-console/issues/1042#issuecomment-925434086

I have a single branch and no errors on localhost but when pushed to AWS Amplify am seeing this same error on my Live site, sometimes it only appears once running lighthouse then the URL will add a ```/```  to the end like so : ```https://www.jdpelectrical.com.au/About/```

I see the error :
```Failed to

[2021-09-23 14:57] icy-meteor opened #2271 "Next.js 11 SSR - Error: Component "@sls-next/-component@undefined" was not found on NPM nor could it be resolved locally"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-23 15:33] quinnturner opened #2272 "[Next.js SSR] - Use a single stack of resources per application"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-23 16:04] siegerts commented on #2265
Hi @opqpop, thanks for raising this. Sorry to hear that this was a blocker -  I'm taking this feedback back to the team to help improve the logging for SSR build phases. Closing this for now since resolved but can reopen if needed.

[2021-09-23 16:04] #2265 closed

[2021-09-23 16:14] siegerts commented on #2240
@Lettly, thanks for taking the time to step through this. Reopening as this should be tracked to improve/fix.

[2021-09-23 16:21] akanungo22 opened #2273 "PR not getting deleted from the Preview even after its merged to Main Branch"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-23 16:36] cfbo opened #2274 "Option to setup a frontend redirection to maintenance page during build process"
### Is this related to a new or existing Amplify category?

api, hosting

### Describe the feature you'd like to request

As an amplify developer/administrator, I would like an option for the build process allowing to redirect all users currently connected to the (react) frontend while the process is ongoing.
So that users would see something like that:
![image](https://user-images.githubuserconte

[2021-09-23 17:04] hloriana commented on #2259
Hi @iDavidB, thanks for providing that repo and the build commands. I was able to reproduce the issue and get the same behaviors. I'll follow up with the team and provide an update once I get more information.

Reproduction steps:
1. Select New app -> Host web app
2. Select the GitHub repo `username/mono-repro`
3. Check monorepo box
4. Specify file path for the next app `apps/mono-repro`
5. Edit b

[2021-09-23 17:52] ferdingler commented on #2272
Hi @quinnturner, thank you for bringing up suggestions and ideas to improve Amplify Hosting. We really appreciate it.

Let me add some clarification here. You are correct that we create a new stack of resources for every  branch, however, we do not deploy to all branches on every build, we only deploy the branch that had changes. So combining all branches into the same stack of resources will not

[2021-09-23 17:55] swaminator commented on #2239
@ericclemmons the fix is in the pipeline and should be out soon.

[2021-09-23 17:58] ferdingler commented on #2272
Forgot to mention that we have fixed the bug in which resources were left behind for disconnected branches. It should not be happening anymore.

[2021-09-23 21:13] ferdingler commented on #2270
hi @justinpezzack , are your Route53 records in a different account than your Amplify app? Because if they are on the same account, we take care of adding the proper DNS records automatically for you.

[2021-09-23 21:23] behrooziAWS commented on #2180
We have deployed fixes to omit "deleting" branches from being included in the limit check and a fix for the issue that was causing them to get stuck in deleting.  Please reopen if you see recurrence.

[2021-09-23 21:23] #2180 closed

[2021-09-23 21:43] justinpezzack commented on #2270
They are on the same account! For future reference did I set something up incorrectly? If you need more information / specific sensitive info I can reach out via email .

[2021-09-23 23:07] #1875 closed

[2021-09-23 23:12] #1639 closed

[2021-09-23 23:23] #1434 closed

[2021-09-23 23:23] behrooziAWS commented on #1617
We've made a change so it should cancel the second check-run when it collapses commit 3 into job 2.  Are you still seeing this behavior?

[2021-09-23 23:25] swaminator commented on #1349
Please refer to this https://aws.amazon.com/blogs/mobile/complete-guide-to-full-stack-ci-cd-workflows-with-aws-amplify/ improvement we've made. You can now connect a frontend to a backend without checking in the aws-exports.

[2021-09-23 23:25] #1349 closed

[2021-09-23 23:29] #1243 closed

[2021-09-23 23:54] kahdojay commented on #1472
@CodySwannGT @r-moore @CodyMoore240 @nbyodai This looks to be related to the version of npm we're using:

https://github.com/npm/cli/issues/2731

We'll need to update the version we use in the default build container. As a workaround in the meantime, can you try updating npm as part of your build commands, for example:

[code]

Let us know if this doesn't work

[2021-09-24 06:45] rafaelfaria commented on #1347
I am having similar issues, with the main difference being i can see all my branches except `development`.
Note: this branch was connected before and i disconnected it. Now i can't connect it again.

[2021-09-24 08:44] ShahAnuj2610 commented on #2243
Hey, @JKalm @xiaoxiaosaohuo did you find any solution to control cookie caching in AWS amplify? We're facing the same issue where if cookie changes were getting a miss from CloudFront.

[2021-09-24 08:48] nrmilstein opened #2275 "Environment stuck on "Retrieving deployment details...""
**Please describe which feature you have a question about?**

My frontend environment is stuck on "Retrieving deployment details." I have already cancelled all active deployments.

I originally tried deploying via the CLI and received:

An error occurred during the publish operation: Deployment file has not been uploaded, please make sure you uploaded the deployment file prior to invoke this api

[2021-09-24 12:34] cfbo commented on #2274
appId d3i83n9mlag28r
region eu-central-1
envName devfab

By the way, we have completed our own custom implementation, which is integrated with preBuild and postBuild backend phases.
We are using a SystemStatusEvent graphql type and create a MAINTENANCE event in prebuild and then OPERATIONAL event at the end of the build.
In the frontend we subscribe to that table and when we receive the MAINTEANCE

[2021-09-24 13:24] tamagokun commented on #1866
@swaminator I don't get the same error, but I also cannot seem to figure out to get this to be an SSR app. It doesn't seem to be doing the SSR build in the build output when I deploy.

https://github.com/tamagokun/next-amplify-monorepo-test

[2021-09-24 13:51] iosif-eolas commented on #613
I am having exactly the same problem and logging in and coming back doesn't solve it for me.
<img width="1467" alt="Screenshot 2021-09-24 at 14 46 13" src="https://user-images.githubusercontent.com/78685282/134685172-bfd9b04f-2170-461d-aaf9-4ce26afcba9b.png">
<img width="1156" alt="Screenshot 2021-09-24 at 14 46 31" src="https://user-images.githubusercontent.com/78685282/134685179-7dbf1250-5215-49

[2021-09-24 15:48] iosif-eolas opened #2309 "Issue when moving repo from Github to Bitbucket"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-24 16:21] swaminator commented on #2268
@andrewgadziksonos  can you goto your build settings page in the console and see what is set for the live updates field? Wondering whether it's set to `latest` https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html#update-app-nextjs-version

[2021-09-24 17:00] kahdojay commented on #2255
Per @siegerts suggestion, the update requires re-deployment, going to close this one for now, please re-open if the above doesn't resolve the issue.

[2021-09-24 17:00] #2255 closed

[2021-09-24 17:06] jonathanlemonsonos commented on #2268
@swaminator can confirm, Next.js version is set to `latest` in the console

[2021-09-24 17:22] kahdojay commented on #2275
@nrmilstein will take a look. Looks like you previously used ci/cd deploys but now you're attempting to use manual. Did you disconnect the branch first?

[2021-09-24 17:34] kahdojay commented on #2275
It looks like your zip file isn't being successfully uploaded. Is your zip uploaded successfully? Can you share screenshots and a zip file to repro? (You can email it or a presigned url to aws-amplify-customer@amazon.com)

[2021-09-24 18:15] Athena96 commented on #2268
Hi, @andrewgadziksonos @jonathanlemonsonos what version of [`next`](https://www.npmjs.com/package/next) are you using in your `package.json` ?
Can you try with the setting it to the newest version `11.1.2` in your `package.json`

[2021-09-24 18:54] jtmthf opened #2276 "Nextjs deployment resources not updated after build"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-24 19:54] nrmilstein commented on #2275
I just tried to manually upload via zip file, and it said deployment success, but the entire site was down and I got an AccessDenied page.

I then tried to remove hosting from the prod environment, which worked, but it would not let me re-add it from the CLI, saying "You have already connected branches to your Amplify Console app. Please visit the Amplify Console to manage your branches." I tried

[2021-09-24 20:00] nrmilstein commented on #2275
I've sent an email with our zipped bundle to aws-amplify-customer@amazon.com.

[2021-09-24 20:26] nrmilstein commented on #2275
The Access Denied is an Amazon S3 error.

[2021-09-24 20:33] nrmilstein commented on #2275
I have tried deploying via zip upload to our dev environment, and that is now down with S3 AccessDenied as well.

[2021-09-24 20:48] kahdojay commented on #2275
@nrmilstein can you ensure you're zipping the contents of the folder and not the folder itself? See the bottom of https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html

[2021-09-24 21:02] kahdojay commented on #1036
This has been done for all apps

https://github.com/aws-amplify/amplify-console/issues/833#issuecomment-749821840

[2021-09-24 21:02] #1036 closed

[2021-09-24 21:06] kahdojay commented on #285
@pabloroz we're rolling out TLSv1.2_2021 to all apps over the next few weeks, some have already been updated, more details here

https://github.com/aws-amplify/amplify-console/issues/2007

https://aws.amazon.com/about-aws/whats-new/2021/06/amazon-cloudfront-announces-new-tlsv12_2021-security-policy-for-viewer-connections/

[2021-09-24 21:07] nrmilstein commented on #2275
Thanks for your swift reply, that was the problem with the zip upload, we're back online.

I believe I may still be having the original CLI issues with publishing (and pulling now it would appear), but as it is nearing midnight here, I will address any problems next week by either commenting here or opening a new issue :)

Thanks.

[2021-09-24 21:11] kahdojay commented on #2275
sounds good, I'll close this one for now, thanks!

[2021-09-24 21:11] #2275 closed

[2021-09-24 21:55] kahdojay commented on #2270
@justinpezzack it looks like you've setup a redirect from your apex domain to www subdomain, but you didn't setup www, so when you visit your root domain it attempts to redirect there but it doesn't exist.

Go to App Settings > Rewrites & Redirects and delete the rule that redirects from root to www, then it should work again.

Hope this helps, closing this one for now, please re-open it if this d

[2021-09-24 21:55] #2270 closed

[2021-09-24 22:21] justinpezzack commented on #2270
Fixed it! thank you @kahdojay

[2021-09-24 22:26] chrismilleruk opened #2277 "Backend Branch Builds: Use a different auth configuration for Prod Environment"
**Please describe which feature you have a question about?**

I'm using [Team workflows](https://docs.aws.amazon.com/amplify/latest/userguide/team-workflows-with-amplify-cli-backend-environments.html#standard) with [Federated Auth](https://docs.amplify.aws/lib/auth/advanced/q/platform/js/#federate-with-auth0) and [pattern based branch deploys](https://docs.aws.amazon.com/amplify/latest/userguide/p

[2021-09-24 22:35] chrismilleruk commented on #2277
`App Id`: `d16xma096tmdk6`
`Region`: `eu-west-1`

[2021-09-25 00:23] LakedaemonLive commented on #2098
Any progress on resolving this?  I've tried all the suggested work-arounds with no success.  I'm using next-auth and it is triggering the error.  I've tried the webpack 5 false and target serverless.  I've also tried ignoring includes, but that ended up chasing over a dozen modules with no end in sight.

[2021-09-25 03:39] #2126 closed

[2021-09-25 03:40] ferdingler commented on #2126
Hi @shashikantvani, can you please provide more information about your issue/question. Feel free to reopen if you have additional info so we can help you better.

[2021-09-25 07:41] NoahKr commented on #1298
Same issue here.