[2019-12-14 09:42] diego-palmeira commented on #46
Hi, I have a big doubt! When I've created my project and publish it by using amplify push + publish in cli tool, then it generated a s3 url for the static site. Now, I've switched to the Amplify Console (web), and I obtain another URL to access my app through HTTPS, but my old domain created my the cli exposed in the S3 bucket is still there. What do I have to do to remove it? Do I have to do ampl

[2019-12-14 16:40] l0609890 commented on #113
Hi suhabe, I am also facing the same problem. Did you have to delete the amplify application that is already using the domain, to connect it to the new amplify app?

[2019-12-16 03:48] ravishwetha commented on #311
Hi @kahdojay I've gone through those steps.
1. I realised that I had one distribution attached to this domain and deleted it. I then retried but still got this message:

Something went wrong. Please refer to our troubleshooting guide below to diagnose the issue. After fixing the issue, choose retry below. If retrying fails, please create an issue in our GitHub issue tracker.
Error message: One or

[2019-12-16 08:08] Egliote opened #315 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d16cg8frttq3nu
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
AWS Amplify can't connect to my domain and shows error below. I didn't change anything in the configuration of CNAMES and they are not used with any other resources. I tried to delete domain and add it again, but the error persists. Please help.

**Error message**
We had issues conne

[2019-12-16 15:46] 2ng-james opened #316 "Branch Auto-detection - Backend Environment Selection"
Hi,

I am attempting to follow the steps for Pattern-based feature branch deployments: https://docs.aws.amazon.com/amplify/latest/userguide/multi-environments.html

I am currently unable to complete step 3 of the instructions as I do not get the option to configure backend environments for each auto-detected branch.

This is what I see in Amplify console:
![image](https://user-images.githubusercon

[2019-12-16 15:53] #315 closed

[2019-12-16 16:02] ascorbic commented on #115
@kahdojay See build d301w3ojpkhzjt/search-page/7 for an example

[2019-12-16 17:00] davekiss opened #317 "Builds in console taking 20+ minutes to complete"
** Please describe which feature you have a question about? **
How long do builds typically take to complete? I'm running `amplifyPush --simple` as part of my build process and the whole process from updating my CFN stack and building my React app is taking 20+ minutes, which feels pretty outlandish. Is there something I'm missing here?

** Provide additional details**
Happy to provide a build ID

[2019-12-16 18:18] mcbergsma commented on #318
It's auto-generated correct? I just noticed it is in .gitignore, so it doesn't go into the repo the CI/CD monitors. I thought I was just failing to understand the difference between `amplify publish` and what gets build by the CI/CD pipeline (I guess I still don't understand the difference!) - thanks for looking into it though.

[2019-12-16 18:18] Nexlen opened #319 "Domain activation is Failed - Amplify Deployment"
**App Id**: arn:aws:amplify:us-east-1:755512850762:apps/d2lwcpwspjhqnx
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I have checked out DNS records and we have no CNAME with account.corsava.com set. We had a cloudfront distribution setup at one point so perhaps that's still conflicting.

**Error message**
Something went wrong. Please refer to our troubles

[2019-12-16 20:38] abouroubi commented on #296
AppID : d3egu8kdaurpmi
Build Settings :
[code]

Build ID that hangs: Build #10

[2019-12-17 00:00] kahdojay commented on #296
@abouroubi I see the build failed. If you visit the console are you able to see the build logs?

[2019-12-17 00:02] kahdojay commented on #296
@steverandy I see these builds finished. If you go into the console after the fact, are you able to see them (i.e. now)? I wasn't able to reproduce - how long did you wait? If you can reproduce it again, does refreshing the console after some time show the right thing? Just trying to narrow it down.

[2019-12-17 00:15] kahdojay commented on #317
Hi @davekiss , can you please fill out our bug/issue template, thank you: https://github.com/aws-amplify/amplify-console/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

You can get the build number from looking at the console - click on the branch name in your app and you can scroll through builds

![Screen Shot 2019-12-16 at 16 15 10](https://user-images.githubusercontent.com/8794073/70953757-4

[2019-12-17 00:16] steverandy commented on #296
<img width="960" alt="Screenshot 2019-12-17 at 8 13 27 AM" src="https://user-images.githubusercontent.com/525332/70953690-21623b80-20a5-11ea-8d68-4eb6db528809.png">

@kahdojay it does not show finished for me. It shows it only reaches provision step and I can't see any logs. I had to manually cancel this deployment and manually re-deploy in order to resume it.

Refreshing the console shows the sam

[2019-12-17 00:29] nimacks commented on #301
@rb365 , The fix for this issue has been deployed.

[2019-12-17 00:29] #301 closed

[2019-12-17 00:30] nimacks commented on #302
@hisham , the fix for this issue is now available.

[2019-12-17 00:30] #302 closed

[2019-12-17 00:42] kahdojay commented on #115
@ascorbic This looks like a different issue, I see the build failed outright, you should see it in your console - if not please share a screenshot from that build of what you see. I also see some js errors in the log that I believe you should as well.

[2019-12-17 01:46] kahdojay commented on #296
@steverandy thanks. Just to confirm, this issue happens inconsistently for webhook-triggered deploys, whereas for manually triggered deploys, everything works fine?

[2019-12-17 03:05] steverandy commented on #296
@kahdojay yes that's correct.

The branch is release.

[2019-12-17 03:28] ejoonie opened #322 "Domain activation is Failed - app disappeared and an recreated app failed"
The reason that I recreated an app was because the previous app associated with the domain(str-temp.com) had been disappeared in the amplify console.

**App Id**: d2h9x5raax7b74
**Region**: ap-northeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include i

[2019-12-17 03:57] ravishwetha commented on #311
Just to update, I am currently using S3 to host my React app but I would like to switch to AWS Amplify asap. If you need me to update the dns to point back to the cloudfront distribution, let me know. I can do it between 2am and 5am UTC (10am and 1pm SGT)

[2019-12-17 09:06] ascorbic commented on #115
@kahdojay No, the build succeeded. You must be looking at the wrong one. This is the one: https://eu-west-1.console.aws.amazon.com/amplify/home?region=eu-west-1#/d301w3ojpkhzjt/search-page/7
![image](https://user-images.githubusercontent.com/213306/70981112-70f83580-20ac-11ea-9d6d-83f1d8122631.png)

[2019-12-17 09:41] matejicekme opened #323 "SSL verification failed"
**App Id:** arn:aws:amplify:eu-west-1:135698021310:apps/d3jiusk3083nw2 AND arn:aws:amplify:eu-west-1:135698021310:apps/d8lmhakle718x
**Region:** eu-west-1
**Step:** Domain activation
**Status:** Failed

**Issue/question**
Looks like domains verification failed for both apps. Can't add custom domain and the given error isn't clear enough to correct anything...

**Error message:**
 The status of thi

[2019-12-17 13:56] abouroubi commented on #296
@kahdojay I had to cancel it and relaunch a new build

[2019-12-17 14:22] apanagos commented on #293
Oh yeah, duhh. Thanks. Yes it worked correctly and removed that stray backend. Thanks

[2019-12-17 14:27] hellokingdom commented on #240
I am seeing this very issue after one or two successful builds. Nothing changed other than a minor tweak to a test and now it hangs when attempting to run Cypress. No error is given it just hangs.

I've tried different ports and various other tweaks but so far nothing will get it running again.

[2019-12-17 15:36] swaminator commented on #318
@mcbergsma it is autogenerated during the CI process. Some questions:
1. Which backend env are you connecting to?
2. Can you share your AppID? (App settings > General)

Thanks

[2019-12-17 15:40] swaminator commented on #320
@eacp can you share a sample repo to reproduce the same or a screenshot of what you're seeing? Is it accurate to say your CSS isn't being applied properly?

[2019-12-17 15:42] swaminator commented on #322
@ejoonie we do not delete apps on behalf of the customer. Are you sure the first app you created was in the same region as this one? To switch regions, choose the region list to the right of your account information on the navigation bar.

[2019-12-17 15:48] #293 closed

[2019-12-17 15:50] swaminator commented on #318
@mcbergsma can you try this:  https://github.com/aws-amplify/amplify-console/issues/163#issuecomment-536236794

[2019-12-17 16:15] swaminator commented on #317
@davekiss it shouldn't take that long unless you're running something really big. Same for CFN deployments, if you're tweaking settings that should be quick, but if you're deploying infrastructure (userpools) for the first time it takes about 10 mins.

[2019-12-17 16:35] swaminator commented on #317
@davekiss what region is your app in?

[2019-12-17 17:00] BardiaN commented on #88
This is back on version 4.6!

[2019-12-17 17:41] BardiaN opened #324 "Console broken again Throttling: Rate exceeded (probably related to aws-amplify/cli 4.6.0)"
This issue has happened before and also solved before like in #88
So again the same story, all resources could be pushed via `amplify push` on my local system without a single issue, but build pipeline fails to build it with the error below:
                                 # Starting phase: build
                                 # Executing command: amplifyPush --simple
2019-12-17T17:22:04.214Z [

[2019-12-17 17:54] kahdojay commented on #313
hi @slhernandez can you share your buildspec?

[2019-12-17 18:06] kaustavghosh06 commented on #324
@BardiaN Are you able to reproduce this error? Can you re-build the backend of your app?

[2019-12-17 19:13] BardiaN commented on #324
Hey @kaustavghosh06
Thanks for your reply. Well, as I mentioned in the issue description, I can easily deploy all resources by running ‘amplify push’ on my local system. I’m using Amplify CLI V4.6.0. (Same as the console is using currently)
Also, if I push “redeploy this version” button, it might work, I really don’t know what it depends on.
If you guys think posting my appId could help, I’ll post

[2019-12-17 19:13] apanagos commented on #293
Thanks @swaminator for closing the ticket but I am checking if the bug has been recorded somewhere to follow up? @anatonie mentioned above that the issues has been found and a fix is int he pipeline. Do we have a link to follow up on? Thanks so much.

[2019-12-17 20:02] swaminator commented on #324
@BardiaN CFN is throttling the calls as we're requesting information from the stack to display logs. If you are doing simultaneous backend builds or done a push back-back this error can pop up. We are working on a fix to handle this scenario more gracefully.

[2019-12-17 20:15] BardiaN commented on #324
@swaminator Thanks for getting back to me. Actually, no, I haven’t throttled it at all!
I simply merged a request in my git system which caused a new build and it went straight to failed status. After that, I tried deploying using my local CLI and it worked, but the problem is that my CLI can’t deploy the frontend, so I’m stuck.
I event tried changing the CLI version in my build settings, still th

[2019-12-17 20:25] kaustavghosh06 commented on #324
@BardiaN  Can you please re-deploy the app using the latest version of the CLI using the console now? If you see the same error, could you please provide your appID?

[2019-12-17 21:05] BardiaN commented on #324
I just did and same thing happened. So here’s my appId: d1haz5673z20fp

[2019-12-17 21:50] kahdojay commented on #296
@abouroubi I see you had some successful builds afterward and were unable to unblock yourself.

To help us investigate further, were you able to reproduce the issue consistently, or is it the same as steverandy's situation where it happens inconsistently, and only for webhook-triggered builds?

[2019-12-17 22:23] mcbergsma commented on #318
@swaminator That did it! Thanks very much!

[2019-12-17 22:23] #318 closed

[2019-12-17 23:45] kahdojay commented on #115
@ascorbic thanks, you're right I was looking at the wrong one. It looks like you're running into the large artifact issue as well. We are actively working on a fix for this, in the meantime if you have any unused branches, you can try deleting them. Another potential workaround would be to deploy to a separate Amplify app.

[2019-12-17 23:59] kahdojay commented on #182
Closing this issue, please feel free to reopen if the solution didn't work

[2019-12-17 23:59] #182 closed

[2019-12-18 09:41] stevensacks commented on #240
@Joycehao19 Sorry for the delay getting back with you.

When I run it locally, I see my login.spec.js as expected.

<img width="912" alt="Cypress Local" src="https://user-images.githubusercontent.com/162252/71074556-d5f37e80-21c5-11ea-9d7b-17417eeb3587.png">

I have the `cypress.json` file in the root of my project with `"baseUrl": "http://localhost:3000/"`.

[2019-12-18 10:39] hellokingdom commented on #240
I have spent a few hours trying to figure out what is going on with my build. It worked correctly initially but nothing I do now will get it past hanging on running Cypress.

I've curled the server to check for a response and it looks to be running fine. I've tried an Express server and the CRA Server. The same code is currently working correctly with a custom Bitbucket Pipeline so I know it works

[2019-12-18 13:32] abouroubi commented on #296
@kahdojay just reproduced it yesterday, a Webook triggered the build, and it's stuck on provisionning.

I can unlock my self by cancelling and starting a new build but it's not sustanable, the webhooks are triggered when a new article is added to a Blog, I can't afford to give access to the amplify console to my copywriters, and tell them to check the builds each time they write a blog post

[2019-12-18 15:47] diego-palmeira commented on #56
Hi,
Custom certificates from Certificate Manager (similar to API Gateway) is a must to have, definitively.

Are you working on it? When it will be integrated?

[2019-12-18 16:24] swaminator commented on #56
This is on our 2020 roadmap. We'll notify you when we are close to ready.

[2019-12-18 17:00] harryd31 commented on #317
We are also seeing the same thing on our side, started 2 days ago. it compiles successfully  but just stops there until it build time out kicks in.

<img width="1101" alt="Screen Shot 2019-12-18 at 11 58 54 AM" src="https://user-images.githubusercontent.com/6937848/71106820-f6074b80-218d-11ea-8672-9e56d2adfcc7.png">

[2019-12-18 17:49] kahdojay commented on #317
Hi @harryd31 if you can provide some more details we can take a closer look, [e.g., App ARN, branch name, build number](https://github.com/aws-amplify/amplify-console/blob/master/.github/ISSUE_TEMPLATE/bug_report.md). How long did it take previously? Did anything change two days ago?

[2019-12-18 17:51] kahdojay commented on #296
@abouroubi I understand it's not a sustainable solution, just trying to confirm whether it's the exact same issue as steverandy's since it will help us better understand the problem and come up with a  fix. steverandy mentioned it happens inconsistently, i.e., sometimes the webhook-triggered build fails, but other times it works for a given branch. Is it the same experience for you?

[2019-12-18 18:01] kahdojay commented on #316
Thanks for reporting this, we're rolling out a fix this week.

[2019-12-18 18:13] kaustavghosh06 commented on #223
@mcg5de In the following section of the script (the one bolded out), could you replace that with

 amplify init --amplify ${AMPLIFY} --providers ${PROVIDERS} --codegen ${CODEGEN} --categories ${CATEGORIES}  --yes;

init_env () {
    ENV=$1
    AMPLIFY=$2
    PROVIDERS=$3
    CODEGEN=$4
    AWSCONFIG=$5
    CATEGORIES=$6
    echo "# Start initializing Amplify environment: ${ENV}"
    if [[ -z ${STA

[2019-12-18 18:35] cplankey opened #325 "Deploy to custom S3 and leverage Amplify's CI/CD"
** Please describe which feature you have a question about? **
Question is specifically around amplify hosting.

** Provide additional details**
Currently I have my app deployed to my own S3 bucket but am struggling for the best CI/CD to make updates to the contents in the bucket. The amplify tutorial [here](https://aws.amazon.com/getting-started/tutorials/deploy-react-app-cicd-amplify/#) is great

[2019-12-18 19:23] swaminator commented on #325
@cplankey  if you're looking to use your own S3 bucket, then you can use the manual deploys feature to upload new content: https://aws.amazon.com/blogs/mobile/deploy-files-s3-dropbox-amplify-console/

However you will have to set up your own CodePipeline that deploys to the S3 bucket if you want CI/CD setup. One of the benefits of Amplify is that we manage all the for you.

[2019-12-18 19:32] harryd31 commented on #317
The App ARN is:  arn:aws:amplify:us-east-1:248178383705:apps/d1ne5iotblnclm and the build where thing started going slow is 194. And now we didn't make any real changes to the project. I increased the timeout to see if that will help,  it seems to have a bit.

[2019-12-18 19:53] ei08047 opened #326 "after failling to build it doesn't detect a fixed version on github"
I've added a new commit to github; on amplify it picks up the commit but fails to build.
After i commit a fixed version, amplify desn't pick up the new commit.. what can i do?

** Provide additional details**

[2019-12-18 20:53] lauraalkhoury-youitv commented on #176
Ran into this issue too - turned out to be because my amplify.yml in the console didn't have a `test` section, same as @thedgbrt.

I'd like to underscore how problematic it is to have two sources of truth, especially since the docs say that the .yml in source control always takes precedence. While I understand this is a fairly new feature, it would be nice for this quirk to be documented, or for t

[2019-12-18 21:59] DamickDoni commented on #250
After w8ing and w8ing, I removed amplify and use my own implementation.

[2019-12-18 21:59] #250 closed

[2019-12-18 22:00] mcg5de commented on #223
@kaustavghosh06 That seems to have fixed it so now all of my branches are building correctly. Thanks for the help with the fix.

[2019-12-18 22:00] #223 closed

[2019-12-19 06:00] stevensacks opened #327 "Output on Amplify console is digital noise and not the pretty UI in your docs"
My output looks nothing like the screenshot on the page.

This is what it's supposed to look like (a nice UI list):
![image](https://user-images.githubusercontent.com/162252/69002972-63308280-093d-11ea-8523-784030a9117a.png)

But this is what mine looks like (noise garbage):
<img width="1070" alt="Screen Shot 2019-11-17 at 13 23 25" src="https://user-images.githubusercontent.com/162252/69002978-80

[2019-12-19 06:02] stevensacks commented on #327
@Joycehao19 Since this issue is unrelated Cypress not running at all, I decided it needed its own thread.

[2019-12-19 10:04] jimitab opened #328 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3m1fpustoelzl
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-12-19 22:38] ckamps opened #329 "Amplify Console appears to request excessive access to GitHub.com accounts"
** Please describe which feature you have a question about? **

When I attempted to connect an app to a repository in my GitHub.com account, I was presented with a dialogue stating that extensive read and write access to my GitHub.com account was being requested rather than only read-only access that is stated on the connect app web page in the Amplify Console.

Am I misunderstanding the degree of

[2019-12-19 22:46] #325 closed

[2019-12-19 23:53] Nexlen commented on #319
Found the cause:

I had entered the subdomain in the first screen instead of the root domain.

Seems like there should either be validation here or at least a warning. Our root domain isn't  in Route53 or hosted on AWS so it didn't seem right to put in in there. On the next screen it asked for subdomains, but as a user I don't know that next screen exists when entering info in the next screen so I

[2019-12-19 23:53] #319 closed

[2019-12-20 01:13] rallona opened #343 "Its possible to send gzip js bundle instead of only plain .js one?"
I am using AWS AMPLIFY CONSOLE to launch a React App

I have created the React App using Amplify Auth and Amplify core.

My app is built and running very well, but the main .js bundle size is 1,3MB. Too high!!

I want to reduce the bundle size, but I don't know how to force to serve only the .js.gz (gzipped version of the bundle) instead of the plain js version.

Its possible to get this in AWS Am

[2019-12-20 01:27] rallona opened #330 "Allow Cloudfront to serve GZIP bundle?"
I have a question, I am using AWS AMPLIFY CONSOLE to run a React App

My app is built and running very well, but the main .js bundle size is 1,3MB. Too high!!

I want to reduce the bundle size, but I don't know how to force to serve only the .js.gz (gzipped version of the bundle) instead of the plain js version.

Its possible to get this in AWS Amplify Console?

Thanks in advance,

[2019-12-20 14:50] maxnatt commented on #296
Same issue with app dpv4no0oh3u0r at eu-central-1.
Webhook-triggered build sometimes gets stuck at Provision stage, but always works after cancelling and starting it manually.

[2019-12-20 17:42] DavidNelsonCordelia commented on #278
@swaminator   Thanks for the pointer.   I tried this workaround and it does not work for me.  the actual file is slightly different then @afladmark lists.
I need to redirect the file:
`/public/.well-known/apple-developer-merchantid-domain-association`
not
`/public/.well-known/apple-developer-merchantid-domain-association.txt`
Note the lack of a file extension

I did try a redirect on
`/.well-known

[2019-12-21 06:57] zappys opened #331 "A/B testing based on git branches"
Can we setup A/B tests using git branches ?
We are thinking to move from netlify to amplify-console but this is holding us back.

You can see how netlify implements this here: https://docs.netlify.com/site-deploys/split-testing/#run-a-branch-based-test

Is there any way we can setup a split test with ampify-console ?

[2019-12-21 10:38] chandel87 opened #332 "Domain activation is Failed - [CNAME Issue]"
**App Id**: d65s6ggjckq4x
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Pleas

[2019-12-21 12:07] #332 closed

[2019-12-21 12:07] chandel87 commented on #332
Issue resolved

[2019-12-21 18:08] slhernandez commented on #313
Hi @kahdojay.  I am no longer using Amplify.  Decided to go in a different direction with my deployment.  I am going to close this issue.  Thanks!

[2019-12-21 18:08] #313 closed

[2019-12-22 01:51] solphe opened #333 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d1fvfdw480vr9s
**Region**: us-east-2
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2019-12-22 20:04] paulbartocillo commented on #206
Confirming @Joycehao19 's workaround. This worked also on my end. Just did a little adjustment on the AUTH_CONFIG for social feds authentication. Created config variables per `environment` on the Environment variables tab and use it in my custom amplify push script `myamplifypush.sh` like below.

\"googleAppIdUserPool\":\"${GOOGLE_CLIENT_ID}\",\
\"googleAppSecretUserPool\":\"${GOOGLE_CLIENT_SECRET

[2019-12-23 04:23] zulhilmi-zolkfli opened #334 "Unable to select production backend environment on amplify console"
Background:

- Build from github to amplify console
- Using PR Preview on github
- Connecting production backend environment to the master branch

Current behavior:

- Pull request is merged into master branch but failed to build because the settings was set to PR environment from master branch
- I tried to change the settings on amplify console by wanting to select the production environment but

[2019-12-23 12:47] bsithub opened #335 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d156rr84lt9kay
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2019-12-23 13:20] abouroubi commented on #296
@kahdojay had to delete and create a new app, but the issue seems to appear on every webhook call for me.

[2019-12-23 17:16] kahdojay commented on #335
Hi @bsithub if you can fill out the requested fields it will help us help you.

[2019-12-23 17:17] kahdojay commented on #333
Hi @solphe if you can fill out the fields it will help us help you.

[2019-12-23 18:11] kkuriata commented on #316
I have the same issue here. These options are not visible for me as well.

[2019-12-23 19:06] kahdojay commented on #326
@ei08047 can you provide more details? If you can fill in the details from the [bug reporting template](https://github.com/aws-amplify/amplify-console/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) (e.g., steps to reproduce, expected behavior, errors, etc), it will help us understand the issue.

[2019-12-23 19:38] kahdojay commented on #316
A fix was rolled out for new apps but we need to look into addressing existing apps which seem to be still experiencing this issue. If deleting and recreating is an option, that should work for the time being, otherwise we'll update this thread once we've fixed it for existing apps as well.

[2019-12-23 21:54] kahdojay commented on #330
@rallona Are you hosting using CloudFront? If so, I believe we configure distributions to serve compressed assets, so it should just happen [as long as clients are passing the correct `Accept-Encoding` header.](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html). If

Can you share the url for your app?

[2019-12-24 09:03] canofpopcom commented on #296
Same here just gets stuck on provisioning via the webhook and that then blocks updates from Git Branch, we had to revert to our fall back i.e. using: netlify.com which isn't ideal.

Do we think the issue will be resolved any time soon?

Andy.

[2019-12-25 00:55] arihantsol opened #337 "Rewrite rule for sub domains to sub directory"
I have setup React SPA CRA apps
Need help in configuring on AWS amplify
Apps are using wildcard sub domains. Each user will have its own vanity url to access different apps
1) Auth Module
https://xxx.example.com/auth
- Above url is used to login and select which app he/she wants to access
2) Consumer Module
https://xxx.example.com/consumer/
3) Sales Module
https://xxx.example.com/sales/
4) Other M

[2019-12-25 14:03] sudhirkaushk opened #338 "AWS Amplify removed my app"
Couple of weeks ago I logged in to AWS Amplify, saw that amplify will now be supporting backend as well for serverless application. Felt happy, danced a little bit and closed my laptop.

Weeks later, today, I decided to start adding backend to show User Comments on my blog which is Gatsby js application, Amplify main page asking me to "Get Started"

In one simple line, all my efforts and all my wo

[2019-12-25 14:11] sudhirkaushk commented on #338
Ummm, sorry. my bad.

I logged in and Landed with **N Virginia** as primary location. Choosing "Ohio" brought it back. I freaked out.

But still that need to be fixed.

[2019-12-25 14:11] #338 closed

[2019-12-26 02:01] RobotCharlie opened #340 "Amplify Console - Build Failing - BackendEnvironment already exist"
**Describe the bug**
After I made updates to my amplify project. I did `amplify push` and after the command succeeded, I pushed my code to the repo, which kicks off a build, but the build keeps failing on the amplify console which says the the `BackendEnvironment feature already exist`. (I was pushing my feature branch, which already has a feature backend env created and I have already built succe

[2019-12-26 08:17] yuyokk opened #339 "Amplify Console fails to initialize existing environment with @aws-amplify/cli v4.8.0"
Hi Team,

Not sure if it is the right place to ask a question on my Amplify Project but my Backend App started to fail while building today on Amplify Console

Failed build today

[code]

Successful build yesterday

[code]

Please advise what might cause this issue and how to resolve it?

Thanks

[2019-12-26 08:44] yuyokk commented on #339
The difference I see in the logs is

Today

[code]

Yesterday

[code]

[2019-12-26 09:04] yuyokk commented on #339
Updating `_LIVE_UPDATES` Environment variable from `[{"name":"Amplify CLI","pkg":"@aws-amplify/cli","type":"npm","version":"latest"}]` to `[{"name":"Amplify CLI","pkg":"@aws-amplify/cli","type":"npm","version":"4.7.0"}]` fixes the issue for me.

[2019-12-26 11:40] rallona commented on #330
I use the Amplify Console. I cant change or choose any parameter like I can do it in CloudFront

[2019-12-26 15:51] #339 closed

[2019-12-26 20:29] RobotCharlie commented on #340
@jordanranz Thanks!

[2019-12-26 20:49] youjinp opened #341 "Amplify Console - Stuck on Prebuild 4.8.0"
**Issue Description**
Amplify console fails to continue building the project and gets stuck on `preBuild` stage after upgrading to `amplify-cli` 4.8.0.

![Screen Shot 2019-12-27 at 9 47 23 AM](https://user-images.githubusercontent.com/15708500/71490097-f5f20480-288d-11ea-9630-6d912a153c51.png)

it gets stuck here until it times out

**Buildspec**
[code]

in the makefile there's this
[code]

**Addi

[2019-12-27 14:06] asyschikov opened #342 "amplifyPush ignores SourceDir and puts aws-exports.js to a wrong path"
**Describe the bug**
I have the following  amplify/.config/project-config.json

[code]

When I do `amplify push` on my machine it works fine, the aws-exports.js is created where SourceDir points to. When amplifyPush is executed during the build in the console it generates the file in ./src, ignoring SourceDir setting.

**Amplify CLI Version**
4.6.0

[2019-12-27 21:49] eacp commented on #320
Hello. Our team decided to just use S3 and manually upload the files from the dist/ folder.

[2019-12-27 21:49] #320 closed

[2019-12-28 17:31] ojassinha opened #345 "Not able to connect to the DNS after setting up custom domain"
**App Id**:d2nxsn1faxo9t7
**Region**: us-east-1
**Step**: custom domain
**Status**: Blank hits (unreachable)

**Issue/question**
I have setup the GoDaddy hosting for my amplify app. My amplify app is connected to a simple React github repository and working fine for the amplify.com URL but when I connected to GoDaddy via CNAME for subdomain and pointed that to the amplify.com URL, the subdomain ur

[2019-12-28 21:05] refundr opened #346 "Domain activation is Failed"
**App Id**: d2ja55o4b4vfgo
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

Error message: One or more aliases specified for the distribution includes an incorrectly configured DNS record that points to another CloudFront distribution. You must update the DNS record to correct the problem. For more information, see https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperG

[2019-12-28 22:09] ajhool commented on #115
@kahdojay

It seems like there are multiple issues going on in this thread and the request to "provide more details" is difficult when the only details provided from the Console logs are:

2019-12-28T21:31:00 [INFO]: Starting Deployment
2019-12-28T21:31:00 [ERROR]: Failed to deploy
2019-12-28T21:31:00 [INFO]: Deployment finished.

We're deploying a basic Vue.js app (the app is generated using the

[2019-12-29 11:01] bsithub commented on #335
Resolved- Issue

Deleted Domain From AWS Amplify Console and Re-Create and Configured Goddady CNAME Records - Now it's working.

[2019-12-29 11:01] #335 closed

[2019-12-29 21:56] ajohnson1968 commented on #281
I'm seeing the same behavior with my amplify page.  What I see in the deployment is 'N' (4 or 5) commits behind what I'm publishing to github.  Also, like you mention, if I 'force' it to redeploy, it moves up one commit (but still not in-sync with the latest commit).  Very strange.

[2019-12-30 02:04] steverandy commented on #296
@kahdojay do you have any updates on this issue?

[2019-12-30 14:20] jeececab opened #347 "BUG - Deployment test phase hangs indefinitely once all the tests are completed (using Cypress)"
When I try to deploy, the tests run as usual, but the test step hangs indefinitely once the tests are over, therefore the deployment never happens. Had no similar problem before. I did a deployment last week with no problem whatsoever. I didn't change the build settings.

![bb](https://user-images.githubusercontent.com/33330556/71590311-fab8f180-2af5-11ea-8316-5156324dcc0f.png)

Build settings:

!

[2019-12-30 16:15] laurachevalier4 opened #348 "Custom Google Domain fails even with documented steps completed"
**App Id**: d1yqog4tmthcsh
**Region**: us-east-1
**Step**: SSL Configuration
**Status**: Running

**Issue/question**
I have a domain configured in Google Domains which I am trying to use for my Amplify app. The amplify URL and ACM certificate records are configured within Google Domain's DNS view, but the app is failing to get past SSL configuration. Thinking this was a problem with Google's domai

[2019-12-30 18:42] kahdojay commented on #296
@steverandy not at this time unfortunately, we are still investigating a fix.

[2019-12-30 18:46] kahdojay commented on #347
@jeececab are you using 3.4.1? Please see https://github.com/aws-amplify/amplify-console/issues/115#issuecomment-564810589

[2019-12-30 18:53] kahdojay commented on #330
@rallona can you share your app ARN, and the endpoint you're using to access your app?

[2019-12-30 18:54] jeececab commented on #347
Hey! Thanks for the follow up,
Nah, I was using 3.7.0. It was working well until last week. I also tried 3.8.1 and no luck

[2019-12-30 19:23] BabyDino commented on #342
I am running into the same issue. I can confirm `amplifyPush --simple` places the file into `./src`

[2019-12-30 20:42] afladmark commented on #41
Since you were previously directing people to email, I contacted you on December 10th there. On the 18th you replied asked me to post here, so I'm doing so, but I really would appreciate a timely response with a resolution or some guidance please.

I manage a relatively large Gatsby site on AWS Amplify Console. We recently added a fairly large amount of image content (a couple thousand images, for

[2019-12-31 16:45] laurachevalier4 commented on #348
Update: it's still hanging on SSL configuration after >24 hours

[2019-12-31 18:09] laurachevalier4 commented on #348
Oh yay, for a while I would click "View DNS records" and there would be nulls where there should have been Cloudfront URLs, but now there are Cloudfront URLs. Going to try adding these as DNS records to Google Domain and see if that does it... Should that be blocking SSL configuration, in any case?

[2019-12-31 19:02] swaminator commented on #341
@youjinp can you try 4.10? This should be fixed

[2019-12-31 21:30] youjinp commented on #341
I tried both 4.10 and 4.11 and unfortunately they both failed with the same problem

[2020-01-01 16:21] laurachevalier4 commented on #348
Still stuck on SSL configuration. Any insight here? I'm not able to add subdomain forwarding through Google Domain to the Cloudfront URL because I get an error that `The SSL Certificate for this domain hasn't been created yet`

[2020-01-01 16:49] laurachevalier4 commented on #348
Also I'm getting mixed messages about what CNAME record to add for the validation certificate; the console tells me to add:
`_2e19bxxxxxxxxxxx.studentwellness.cc. CNAME _0e52cxxxx.acm-validations.aws.`
but "View DNS Records" displays:
`_2e19bxxxxxxxxxxx CNAME _0e52cxxxx.acm-validations.aws.`

Does it make a difference which of these I use?

[2020-01-01 17:49] canofpopcom commented on #296
@kahdojay - HNY, we've got a site going live for CES 2020 tomorrow and we really need this to be resolved and an alternative workaround suggested (i.e. use an alternative datacentre) any ETA or are we to keep doing manual builds?

[2020-01-02 02:19] laurachevalier4 commented on #348
Ok, I resolved this:
* The validation cert DNS record was not set to the correct value
* Cloudfront records did not need to be added in Google Domain
* Synthetic records did not need to be added in Google Domain

These issues would have been avoided had the validation cert been set up correctly initially, so my main suggestions coming out of this are:
1) Set SSL configuration timeouts with error m

[2020-01-02 10:37] danieletieghi commented on #206
@Joycehao19 's workaround seemed to work for me for the "Backend" phase of the build process which now passes, but now it hangs on the "Frontend" phase (which was working fine before I ended up in this mess) because it seams the file aws-exports.js is no longer generated. Any suggestions?

[2020-01-02 14:27] matejicekme commented on #323
UP ! Bug still persist... Can we have any support from AWS ? We're doing the exact same thing on GCP & Firebase without any problem, why is it so complicated here ?

[2020-01-02 14:58] NL33 opened #349 "Is streaming media from S3 to an Amplify app free?"
** Please describe which feature you have a question about? **

This question is focused on an app hosted through Amplify.

I am trying to understand how AWS costs can be incurred for streaming media with such an app.

I plan to store audio files on S3. On my Amplify app, I will call these files with the html audio player, like:
[code]
**When a user plays this audio, how will it be charged?**

**

[2020-01-02 16:51] kahdojay commented on #296
@canofpopcom no ETA yet, please bear with us and use the workaround for the time being while we continue investigating a fix

[2020-01-02 16:52] kahdojay commented on #347
@jeececab can you try 3.4.1? Let us know if you still experience the issue using that version of Cypress.

[2020-01-02 20:06] danieletieghi opened #350 "Amplify Console build fails (API/RDS). Is team-provider-info.json ignored?"
I have a simple (for now) Amplify Project with a GraphQL API with an RDS (Aurora Serverless) datasource.
Everything is working fine with "amplify push" but the build from the console (same environment) fails because it hangs with an input like if the datasource in the environment was never initialized (? Provide the region in which...):

![AWS_Amplify_Console](https://user-images.githubusercontent

[2020-01-02 20:20] neilbts commented on #347
I have the same problem and confirmed it exists on 3.8.1 as well as 3.4.1.

[2020-01-02 23:20] danieletieghi commented on #347
Same problem for me (v3.8.1). I would try with 3.4.1, but now I'm blocked by another problem in the build phase.

[2020-01-03 02:07] lion-and-lotus commented on #231
Been a while since I heard back. Can someone please help?

[2020-01-03 02:35] harryd31 commented on #317
@kahdojay We're still experiencing the same problem, any luck so far?

[2020-01-03 10:11] 2ng-james commented on #316
This is now working for my app - thanks.

[2020-01-03 10:11] #316 closed

[2020-01-03 17:08] hellokingdom commented on #115
arn:aws:amplify:eu-west-2:673653084816:apps/d26tysq5iwv37v

Failing to deploy if tests are enabled.

The tests complete successfully but instant fail on deploy step.

[2020-01-03 21:31] kaustavghosh06 commented on #341
@youjinp Are there any Amplify CLI specific logs that you can observe in the backend build step?

[2020-01-03 21:32] swaminator commented on #340
@RobotCharlie can you try 4.10? This was fixed.

[2020-01-03 21:38] swaminator commented on #348
@laurachevalier4 thank you so much for providing your solution. Would you be willing to get on a call sometime? We'd like to learn more about where exactly you got stuck.  Would you be open to chatting? I can setup a screenshare and you can walk us through your settings. Please email aws-amplify-customer@amazon.com with your availability. Thanks!

[2020-01-03 21:39] #348 closed

[2020-01-03 21:39] kaustavghosh06 commented on #341
Also, does this work with CLI v 4.7?

[2020-01-03 21:43] swaminator commented on #116
@codermeisje were you able to get your domain connected?

[2020-01-03 21:43] #205 closed

[2020-01-03 21:44] #211 closed

[2020-01-03 21:44] #215 closed

[2020-01-03 21:44] RobotCharlie commented on #340
@swaminator Thanks! Sure, I will try it tomorrow! I will let you know.

[2020-01-03 21:44] #230 closed

[2020-01-03 21:45] #245 closed

[2020-01-03 21:45] #267 closed

[2020-01-03 21:46] #95 closed

[2020-01-03 21:49] #220 closed

[2020-01-03 21:52] #246 closed

[2020-01-03 21:52] #248 closed

[2020-01-03 22:10] swaminator commented on #41
@afladmark are you seeing the following deploy error?
[code]

[2020-01-03 22:27] swaminator commented on #343
Closing as duplicate of #330

[2020-01-03 22:27] #343 closed

[2020-01-03 22:29] binary-finary opened #351 "Domain activation is Failed, but all sub-domains are fully resolving on whatsmydns"
**App Id**: d2rux13124surn
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I setup my site on your console, but then something happened where all configurations etc disappeared.  The website was still up, so not a big deal, but all the settings were gone.  So I set it all up again, but I keep getting the message that the domain activation fails even though

[2020-01-03 22:34] #305 closed

[2020-01-03 22:43] swaminator commented on #253
This is linked to #206

[2020-01-03 23:00] afladmark commented on #41
@swaminator Yes, the build step is marked with a green check suggesting it has completed (though the build log itself if incomplete. It is unclear if it's truncated or unfinished as It doesn't say anything, it just cuts off). But the deploy step started and just says:
[code]
That's from build 291 on the staging branch I referenced above.

[2020-01-03 23:08] youjinp commented on #341
@kaustavghosh06 No, there isn't any Amplify CLI specific logs, the log just gets stuck and wouldn't continue past
[code]

^This is part of a custom `amplify.yml`
[code]

And yeah, 4.7.0 works without any issues

[2020-01-04 23:31] favour121 commented on #44
Any update on wildcard subdomains?

[2020-01-05 14:33] yuyokk commented on #206
Facing `Error: auth headless init is missing the following inputParams facebookAppIdUserPool, facebookAppSecretUserPool, googleAppIdUserPool, googleAppSecretUserPool` as well.
Unfortunately, [the workaround](https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-552548466) did not help us :(

[2020-01-05 14:54] yuyokk commented on #206
Based on the [comment](https://github.com/aws-amplify/amplify-console/issues/223#issuecomment-567148310), the following script worked for me

[code]

[2020-01-06 09:10] AZOM commented on #345
I am experiencing a similar issue. Have a DNS CNAME record on Cloudflare that throws HTTP 404 - but in the Amplify console everything looks fine and I doubled checked that both CNAME under "View DNS records" are set properly on Cloudlfare.

[2020-01-06 14:39] canofpopcom commented on #296
@kahdojay - any news?

[2020-01-06 16:40] despau commented on #291
I have the same issue and I have been struggling with it for the past 6 days. I am really frustrated about this amplify work.

[2020-01-06 21:56] justinharding commented on #283
I also have this problem - deploy fails only if I run tests - if I override the environment variable USER_DISABLE_TESTS so that tests are not run, deployment succeeds. My yml file

version: 0.1
frontend:
  phases:
    preBuild:
      commands:
        - nvm install lts/erbium
        - nvm use lts/erbium
        - yarn install
    build:
      commands:
        - nvm use lts/erbium
        - yarn

[2020-01-06 22:21] Joycehao19 commented on #327
Hi @stevensacks , sorry that you face this issue. Can you provide the sample code that we could test with?

[2020-01-07 09:42] steverandy commented on #70
@ariadne-github @swaminator  there is a side effect with the above configuration.
When you load a non html file that does not exist, it shows `AccessDenied` page instead of 404.

[2020-01-07 13:02] germain-receeve commented on #347
Same issue here, downgrading to cypress 3.4.1 didn't help.
Anybody figured out a way around?

[2020-01-07 13:03] germain-receeve commented on #115
Same issue here, downgrading to cypress 3.4.1 didn't help.
Did anybody figured out a way around this issue?

[2020-01-07 16:13] TLaue commented on #64
Will this feature be supported in the near future? Any information about this?

[2020-01-07 16:27] binary-finary commented on #351
Operator error.  I was using different regions.  Sorry for the noise.

[2020-01-07 16:27] #351 closed

[2020-01-07 16:36] patleeman commented on #347
I have the same issue.

The build hangs on test, or gets past test and shows a deploy failed. I've been trying many different variations with no luck.

ARN `arn:aws:amplify:us-east-1:641747502493:apps/dd79gp2sncpp1`

[2020-01-07 18:45] patleeman opened #352 "Breaking change in mochawesome-merge affects cypress test step"
** Please describe which feature you have a question about? **
E2E testing with Cypress.

[Link to guide provided by Amplify Team](https://aws.amazon.com/blogs/mobile/run-end-to-end-cypress-tests-for-your-fullstack-ci-cd-deployment-with-amplify-console/)

** Provide additional details**
Error received when attempting to merge mocha reports generated by Cypress.

[code]

In the guide linked above t

[2020-01-07 18:52] patleeman commented on #347
For those having issues see https://github.com/aws-amplify/amplify-console/issues/352#issue-546445910

[2020-01-07 19:09] swaminator commented on #352
@patleeman thanks for reporting this. We are actively working on solving this.

[2020-01-07 19:17] canofpopcom opened #354 "Redirect Rooting and ignores"
** Which Category is your question related to? **
Redirects in Console
** What AWS Services are you utilizing? **
Amplify / S3 / other - Client has Route 53
** Provide additional details e.g. code snippets **
Current Requirement is to bind home domain to specifc new domain folder
i.e. siteA.com to> siteB.com/landingpage/

Whilst redirecting all existing urls back to other paths (and avoiding the n

[2020-01-07 20:40] tinder-kyleboss commented on #256
I am running into the same issue with a standard CodeBuild/CodePipeline set-up.

[2020-01-07 20:49] tinder-kyleboss commented on #256
I would like to point out that I believe this is related to the issue @sirichards is facing here: https://github.com/gatsbyjs/gatsby/issues/17990

It looks like the issue here is that Gatsby uses the absolute path of the previous build to architect `.cache`. Unfortunately, the absolute path will change with every build.

[2020-01-07 22:08] swaminator commented on #115
@ajhool @germain-receeve @hellokingdom we are aware of the Cypress issue causing deploy failures. Please refer to #283. We are actively working on a fix here and will let you know when that is rolled out. Apologies for the inconvenience. In the meantime to unblock yourself, set an environment variable called USER_DISABLE_TESTS to true to disable your tests from running.

[2020-01-07 22:37] swaminator commented on #313
@slhernandez sorry to see you go. Any particular reason why you moved away?

[2020-01-08 07:56] danieletieghi commented on #350
Does anybody have the same problem (or nobody using RDS nowadays...)?
Any workaround for this?
Thankyou!

[2020-01-08 13:40] RobotCharlie commented on #340
@swaminator I have verified the 4.10.0 fixed the issue. Thanks!

[2020-01-08 17:51] ajlanghorn opened #353 "Too Many Redirects when deploying Hugo site"
I have a Hugo site deployed in to AWS Amplify Console. So far, so good. Locally, the site works when I run `hugo build && hugo serve`, and static files are output to the public/ directory.

When I connect Amplify up to the Git repository, and the project is built, then I end up with a Too Many Redirects error from both the Amplify-provided and custom URLs attached to the project. cURL suggests tha

[2020-01-08 18:02] swaminator commented on #353
Please refer to https://github.com/aws-amplify/amplify-console/issues/28#issuecomment-545271048

[2020-01-08 19:41] ajlanghorn commented on #353
The build directory is set to `public` (but I've also set it to `public/` to trial that, to no avail). When I run `hugo` locally, without a `public` directory, one gets created and my site is built in to it. So, I'm fairly confident that's the right directory.

The comment in #28 you refer to isn't directly related here, I don't think - the user there is using a completely different build system w

[2020-01-09 10:19] stevensacks commented on #327
Which part of the code do you want? The amplify.yml?

I can't post the entire repo. It's got our AWS codes, etc.

[2020-01-09 15:14] canofpopcom commented on #296
@kahdojay is this now fixed?

[2020-01-09 18:48] swaminator commented on #353
@ajlanghorn whats your `baseDirectory`?

[2020-01-10 01:41] ajlanghorn commented on #353
@swaminator

In the Build Settings in the Amplify console, it's set to:

[code]

Locally, if I run `hugo build` from the root of the repository, then the base directory (as in, where my static files are generated in to) becomes `public`, too. I think that's set up correctly...

[2020-01-10 09:15] stevensacks commented on #327
I just created a brand new Amplify Create React App project from scratch and got the same thing. Ugly noise in the test panel. I'm using yarn. Do you think that might have something to do with it?

[2020-01-10 09:18] stevensacks commented on #327
Here's my package.json. Do you think it might be one of the libraries that's causing an incompatibility? Maybe testing-library, or fontawesome?

[code]

[2020-01-10 15:07] talebbits commented on #251
Can confirm this behaviour, what we also having after add 404 redirect.

[2020-01-10 15:19] yinlinchen opened #355 "Amplify previews build failed after @aws-amplify/cli 4.8.0"
Hi!

We found that the Previews failed to build when the @aws-amplify/cli 4.8.0+. We have a project deployed in the Amplify console and use @aws-amplify/cli 4.5.0 last year. Our build settings using Amplify CLI latest version.

We found that the build failed in Previews when we submit new PR due to``` Current environment cannot be determined``` when using @aws-amplify/cli  is 4.11.0. We change the

[2020-01-10 17:20] lettertwo commented on #251
We managed to work around this (for now) by implementing the 404 redirect as suggested in [this comment](https://github.com/aws-amplify/amplify-console/issues/70#issuecomment-531711857).

[2020-01-10 17:53] swaminator commented on #355
@yinlinchen can you share your build settings?

[2020-01-10 19:50] thedgbrt commented on #355
Just experienced the same problem now. I had updated to 4.11 a week ago, and did a ton of builds, but now I have this error too.

[2020-01-10 20:27] yinlinchen commented on #355
@swaminator Please see the build settings below
[code]

[2020-01-11 02:58] kyleboss commented on #256
I've been hacking away at this for several days and finally found a work-around (not a solution).

*buildspec.yml*
[code]

Gatsby assumes that the absolute path to `.cache` is consistent between builds. This is not very compatible with CodeBuild since the build directory changes for each build. Because of this, Gatsby isn't able to locate the cached files and throws an error.

For this reason, cre

[2020-01-11 03:00] sergiorodriguez82 opened #356 "Console failing in build->backend process with Graphql API"
Hello, Im having trouble with my app deployment.

In my pc i have amplify cli 3.0.0 and my project works just fine. The amplify push command works with no problems at all.
When I pushed my changes, Im getting errors during the AmpliyPush command execution.
This is the issue:

UPDATE_FAILED      apibsc                     AWS::CloudFormation::Stack Sat Jan 11 2020 02:58:26 GMT+0000 (Coordinated Uni

[2020-01-11 03:25] sergiorodriguez82 commented on #356
I upgrade the cli to the lastest and deployment works!

[2020-01-11 03:25] #356 closed

[2020-01-11 03:28] pooja8bhatt opened #357 "Build started failing with Unable to clone github repository error"
**App id**:arn:aws:amplify:us-east-1:261481771863:apps/d3lnafpf6f1oy3
**Region**:us-east-1

**Issue/question**
Our build has started failing since yesterday(10th Jan 2020) with `Permission Denied` error when cloning the git repository. Everything was working before that. We have not made any changes to our settings in Github. We have admin rights in Github. Tried to reauthenticate app many times a

[2020-01-11 13:21] ilyador commented on #59
I am having the same issue.
What rules did you give to have the router working?

[2020-01-11 21:53] ben-elsen commented on #347
I am facing the same issue!

[2020-01-12 00:13] trietjack commented on #347
I temporarily fix it by running cypress tests in the build phase. But you can't download the videos if tests fail

[2020-01-12 04:14] nozen opened #358 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d162vsf9m8tb5j
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Used the default settings to create the custom domain in amplify.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

[2020-01-12 22:21] pefi1011 commented on #56
Is the other way around possible?  Can I use a certificate which AWS Amplify generated for my Application Load Balancer?

[2020-01-13 02:30] CaptainChemist commented on #59
I'm running into the same issue with a gatsby.js app and gatsby. The routing is great initially, but when I refresh my page, I get redirected to index.html and nothing loads. My redirects in the amplify profile looks like this:

|source address | target address | type|
|-|-|-|
|/<*> | /index.html | 404 (Redirect)|

What am I missing?

[code]

[2020-01-13 02:48] CaptainChemist commented on #59
Oh I got it! You need a `404 (Rewrite)` not a `404 (Redirect)`. Thanks everyone, I hope that works for you @ilyador

[2020-01-13 06:59] ilyador commented on #59
@CaptainChemist Still getting redirected to `index.html` when entering or refreshing any page that is not root.
Things work fine when navigating inside the app.

[2020-01-13 14:55] jeececab commented on #347
@kahdojay Hi! No 3.4.1 didn't resolve the issue.

[2020-01-13 17:51] #340 closed

[2020-01-13 18:08] #326 closed

[2020-01-13 18:34] manuelministro opened #359 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: da0hh5a7x06eh
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-01-13 19:44] ajlanghorn commented on #353
In the end, I resolved this by stopping using the theme Hugo is using as a Git submodule, and instead brought the files within under the control of the repository. This was a bit trial and error to get to this stage, and it doesn't make much sense to me why this worked, but... it did.

Closing off.

[2020-01-13 19:44] #353 closed

[2020-01-13 19:52] cslogan-red commented on #357
Hi @pooja8bhatt , this can happen if the SSH deploy key that the Console creates when you initially connect your repo accidentally gets deleted from the Github repo (Github repo > Settings > Deploy keys) You can reset this with the "Re-authenticate app" button in General Settings, however for Github repos it also requires you first delete the webhook that the Console creates to listen for repo act

[2020-01-14 05:02] pooja8bhatt commented on #357
HI @cslogan-red, thank you for solving the mystery for us. As you mentioned deploy keys were missing. But we didn't know that for reauthenticating a github repo we need to delete webhooks! Will delete the webhooks and reauthenticate. Thanks again 😌

[2020-01-14 05:02] #357 closed

[2020-01-14 17:15] HMilbradt commented on #251
Thanks @lettertwo, we'll give this a try

[2020-01-14 22:02] asyschikov opened #360 "amplifyPush doesn't work well with "notifications" category"
I have hard time figuring out what is going wrong because amplifyPush source code is not readily available.
I do following locally:
[code]
Then I commit the code and I expect `amplifyPush` to do nothing because there are no changes. Instead it starts to provision "notifications" resources all over again (as if I ran amplify notifications add) but this is an interactive process (you need to add Api

[2020-01-15 01:11] theapplegates opened #361 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d24eso9w5zgucm
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I am trying to get an SSL cert for my domain

**Error message**

Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Note**: Be sure to check the message for sensitive information.

**Additional information**
I have deleted all C

[2020-01-15 11:38] Taieb commented on #336
I am using dotenv-webpack which gets my env variables from my local .env file.
I also added env variables in the amplify console !
But I still can't access/use env variables .

Thanks !

[2020-01-15 12:52] danieletieghi commented on #350
Anything I can do to help solve this problem?

[2020-01-15 14:03] Taieb commented on #336
I just set webpack EnvironmentPlugin and it works for me.

[2020-01-15 14:18] theapplegates commented on #361
I have also deleted all cloudfront distrubutions and a lambda function. I will wait longer since the lambda function was discovered this morning, so it has not been 6 hours for it.

[2020-01-15 15:45] rpostulart opened #362 "Stripe .redirectToCheckout not working on AWS amplify but does on Netlify for example"
I have got a Gatsby website created with a component that just does the redirection to stripe.
But I receive a blank screen and I don't see any errors in the console. I have not added any customer headers.

I also deployed the same website to Netlify without changing any variables and it's working as expected. So I expect this is an AWS Amplify issue.

Component:
[code]

[2020-01-15 17:46] lightsofapollo commented on #334
I hit this too :(

[2020-01-15 17:54] lightsofapollo opened #363 "Bug - Cannot select existing environment for previews"
Hello!

I noticed an issue where my preview builds were creating new backend environments unsuccessfully. I was confused as I had thought I configured to use an existing env only. Below is what at least looks like a bug where the setting is not persisted.

![amplify-bug-gif](https://user-images.githubusercontent.com/322957/72457990-fa228b00-3784-11ea-8fc4-205696998c46.gif)

I am not sure what else

[2020-01-15 19:16] swaminator commented on #362
@rpostulart what's the error you're getting?

[2020-01-15 19:29] swaminator commented on #354
@canofpopcom with your first rule (`stiteA.com/folder/folder/item`), what is the expected behavior?

[2020-01-15 19:59] theapplegates commented on #361
This has been fixed. I just deleted everything and started over. Things work fine now.

[2020-01-15 19:59] #361 closed

[2020-01-15 20:12] rpostulart commented on #362
No error. As long as the session is valid here your can see the difference:

[(https://www.runyourdinner.nl/payment?session=cs_test_nSFMfxh9TW3wCmIXYyGZlpCpGbMVPoLsdIzCyJXWdT2b7R8uJcZ2TEOH)]

or

[https://ryd.netlify.com/payment?session=cs_test_nSFMfxh9TW3wCmIXYyGZlpCpGbMVPoLsdIzCyJXWdT2b7R8uJcZ2TEOH]

The second link is redirecting.

[2020-01-15 21:13] jeh26033 opened #364 "SSL verification is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2wqg4b36m462q
**Region**: us-east-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
Error message: The status of this certificate request is "Failed". One or more domain names have failed DNS validation. Please check your domain name validation routes and try re-adding the custom domain

[2020-01-15 21:40] thedmeyer commented on #264
This feature would be a great enhancement to the PR Preview experience.

[2020-01-15 22:25] jeffscottlevine opened #365 "Allow use of SNS topics for AWS Amplify Build Notifications"
**Is your feature request related to a problem? Please describe.**
The AWS Amplify console allows the submission of e-mail addresses to receive build notifications.  After an address is entered, an SNS topic is created and the e-mail address is subscribed to it.  It is not possible to specify an existing SNS topic.

**Describe the solution you'd like**
I would like to see the Amplify console allow

[2020-01-16 01:21] cslogan-red commented on #115
Quick update: fixes are pending release. This issue has two parts (and each applied only when using Cypress test suites); an improperly bubbled exception scenario resulting in builds that either; hung until the build timeout, or builds that showed "successful" in the Console and immediately failed to deploy, each without logging the full exception details, as well as a command update.

For **exist

[2020-01-16 01:24] cslogan-red commented on #352
Thanks for the update @patleeman , an update has been provided in #115 , fix is pending release.

[2020-01-16 01:26] cslogan-red commented on #283
Related to the latest explanation on #115 and is pending release.

[2020-01-16 15:02] smakinson commented on #91
Thank you for investigating!

[2020-01-16 16:02] heitorlessa commented on #342
Same here. Added this temporary fix in my `amplify.yml` file for now before my frontend build:

[code]

[2020-01-16 18:56] evannico opened #366 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2hqbiih5w1s8u
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I do have a CAA record.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.
Error message: The status of this certificate request is "Failed". One or more domain names have failed validation due to

[2020-01-16 19:42] thedmeyer opened #367 "Pull-Request Previews Check does not return result. Stuck in Queue"
**Please fill out all fields before submitting**

1. **Issue Description**

When a PR is opened, the Pull-Request Preview check runs, but intermittently refuses to return a result to GitHub. The status gets stuck as "In Queue" on Github. When checking the amplify console, the PR preview did finish building, but Github was never notified of this.

See below.

<img width="452" alt="amplifystuck" src

[2020-01-16 19:45] thedmeyer commented on #367
This issue is intermittent. It occurs on some PRs or after new pushed changes.

[2020-01-16 21:08] #366 closed

[2020-01-16 21:14] BabyDino commented on #206
For some reason I am really struggling with the --categories parameter on `amplify init`. I cannot find any documentation on it and I cannot get the `CATEGORIES` with `AUTHCONFIG` to work. At this point I'm not even sure if I am in the right direction.

Every time I run the script, I am unable to add environment variables like @paulbartocillo to the script.

In the team-provider-info.json file I e

[2020-01-16 21:39] Bryan-Rojas opened #368 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d36xj5vdib794g
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I have no idea how to resolve this issue. I'm hoping for some guidance or perhaps some troubleshooting guides on this issue.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

Edit: This site has previosuly was

[2020-01-16 21:47] aprabhakar90 opened #369 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3hrm7k8egypi9
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-01-16 21:48] aprabhakar90 commented on #231
Created the same app again with new app id. Reopened it as a new issue. Closing this one. Thanks!

[2020-01-16 21:48] #231 closed

[2020-01-16 22:26] cslogan-red commented on #347
As per @patleeman (#352) and our latest comment on #115 , the recent change in mochawesome-merge syntax is causing this behavior, the exception is being eaten and not re-thrown properly, as described on #115, each fix is currently pending release and will be GA next week. In the meantime updating the syntax of the final postTest command as described will get your tests working again.

[2020-01-16 22:40] swaminator commented on #350
@danieletieghi we have been looking into it and have a fix on the way!

[2020-01-16 22:51] cslogan-red commented on #368
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlined in the docs above) depending on your current

[2020-01-16 23:00] cslogan-red commented on #369
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlined in the docs above) depending on your current

[2020-01-17 00:31] #238 closed

[2020-01-17 04:35] ardation opened #370 "Domain activation is Failed - subdomain but not root domain"
**App Id**: dxaejndypzj8d
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Wondering if this is being caused by not including the root domain.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

[2020-01-17 08:19] danieletieghi commented on #350
Thank you very much! And thank you @UnleashedMind!

[2020-01-17 12:18] bmosoane opened #371 "SSL verification is Running - verification has taken longer than 8 hours"
**App Id**: d2dbjdmx65kh6v
**Region**: eu-west-1
**Step**: SSL verification
**Status**: Running

Verification of ownership my domain has taken longer than 8 hours.

[2020-01-17 16:29] Bryan-Rojas commented on #368
@cslogan-red Thanks for the trouble shooting guides. So apparently the site was previously hosted on a different CloudFront distribution but I don't have access to this old account. How should I proceed with this scenario? I own the domain now btw.

[2020-01-17 18:16] rpostulart commented on #362
@swaminator  can you reproduce it?

[2020-01-17 18:50] cslogan-red commented on #368
Hi @Bryan-Rojas no problem, AWS supports transferring the CNAME to another distribution, even between accounts. In the first link provided above, there are some steps to take with your DNS provider, and then a link is provided to create a case with AWS support at the bottom, they will need to validate ownership of your domain and should be able to assist in removing the CNAME from the old account'

[2020-01-17 19:51] Bryan-Rojas commented on #368
Thank you @cslogan-red for the information! I contacted "aws-amplify-customer@amazon.com" and I'm awaiting a response.

[2020-01-17 20:16] cslogan-red commented on #368
Hi @Bryan-Rojas - we've since moved that Amplify support alias to this issues tracker :)

https://console.aws.amazon.com/support/cases#/create

If you submit a support case there and explain you're trying to remove a CNAME for domain you own from a CF distribution in another AWS account that you can't access, they'll get it to the CloudFront team to help you out, as we do not have access to do tha

[2020-01-17 20:43] Bryan-Rojas commented on #368
What if I'm enrolled under the "basic" support plan as a student @cslogan-red ? I can't seem to submit technical support cases without upgrading my plan.

[2020-01-17 22:16] #116 closed

[2020-01-17 22:23] cslogan-red commented on #368
Hi @Bryan-Rojas , you can use the same above support URL to create an "Account and billing support" case about ownership transfer with the free basic plan, additionally, you can try posting directly on the CloudFront AWS Forums, but as this is really an issue with accessing resources in a non-owned AWS account, I would start with the case.

[2020-01-17 23:25] cslogan-red commented on #367
Hi @thedmeyer , I haven't been able to repro this with some quick repeated testing however it's still possible this is an issue on our side or with the Checks API, we'll have to investigate this one a little further.

[2020-01-18 19:11] yuyokk opened #372 "Amplify Console does not show API"
**App Id**: d13i1b7z68hgm9
**Region**: us-east-1

Hi Team,

`amplify-cli` locally shows the following info

[code]

But API is missing on Amplify Console

![image](https://user-images.githubusercontent.com/1225343/72669135-a0dd8480-3a2e-11ea-84f0-2ccf4b6d99a9.png)

Please let me know if I have some misconfiguration or is it a bug on Console side?

Thanks 🙏

[2020-01-18 19:30] swaminator commented on #372
@yuyokk are you using REST or GraphQL? Currently the Amplify Console only shows the GraphQL category for API.

[2020-01-18 19:36] yuyokk commented on #372
@swaminator I use REST. Thanks for clarifying.

[2020-01-18 19:53] mdlavin commented on #341
I'm seeing build hangs too. I have an `amplify.yml` file that runs `npm install -g @aws-amplify/cli@4.12.0` and the build often gets stuck during that execution. When I look in the AWS console, I can't find a way to change the CLI version anymore. Is that still possible in the UI?

[2020-01-19 03:25] youjinp commented on #341
if you go into amplify console > hamburger menu > `app settings` > `build settings`,

you should see

![Screen Shot 2020-01-19 at 4 23 53 PM](https://user-images.githubusercontent.com/15708500/72674139-48fb5800-3ad8-11ea-9bb8-8d308f850ee9.png)

[2020-01-19 14:33] mdlavin commented on #341
Thanks you. It's been so long since I expanded that menu I forgot it was
there. Changing the Amplify CLI to v4.12.0 didn't seem to help my build.
I'm experimenting now with building my own custom image to run some
pre-build work there instead.

On Sat, Jan 18, 2020 at 10:25 PM youjinp <notifications@github.com> wrote:

[2020-01-19 21:40] mdlavin commented on #341
Creating a custom image and avoiding the `npm install -g @aws-amplify/cli@4.12.0` by using the custom image didn't seem to fix the hangs either. As soon as the backend deploy starts, the build hangs without any output.

[2020-01-20 00:09] kieran9176 commented on #353
@ajlanghorn mind elaborating on your solution a bit? I'm having the same issue.

[2020-01-20 15:47] asyschikov opened #374 "The Push Notifications category seems to be broken entirely (FCM at least)"
There is a whole constellation of bugs, some of which are hard to reproduce, so I will try to explain as best as I can, please feel free to ask me for any clarifications.

1) The first strange thing is that `amplify notifications add` creates an Amazon Pinpoint project straight away. My understanding was that `add` commands are without immediate side effects on the infrastructure, unless you do a

[2020-01-20 18:30] Joycehao19 commented on #370
Hi @ardation , to make sure your question. Did you mean that you own www.example.com, and you add abc.example.com? If it is, we recommend you enter your root domain in domain management page.

ref: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html

[2020-01-20 18:53] Joycehao19 commented on #364
Hello @jeh26033 , Sorry that you facing this issue. Can you re-adding the custom domain to your app and following https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-troubleshoot-guide (making sure CName and Nameserver is correct)?

[2020-01-20 18:54] Joycehao19 commented on #371
Hi @bmosoane , It seems like your app is working now. If you have further question with related to custom domain, please let us know.

[2020-01-20 18:58] Joycehao19 commented on #371
Hi @bmosoane , did your custom domain work now?

[2020-01-20 19:48] kziemski opened #373 "Support Codecommit repositories for Amplify Console Previews"
**Is your feature request related to a problem? Please describe.**
I get an error saying Previews are not yet available for AWS CodeCommit repositories.

**Describe the solution you'd like**
Is there an ETA or is there someway that CodeCommit Repo's are insufficient to support this functionality.

**Additional context**
It seems weird that this wasn't supported first.

[2020-01-20 20:30] abhishekdixit1508 commented on #36
@swaminator Thanks for taking this up to the next level. Just checking if you have any updates on the implementation? Regards Abhi

[2020-01-21 00:25] swaminator commented on #336
@Taieb can you provide more steps to help out @GWSzeto? Thanks again for your contribution!

[2020-01-21 02:34] swaminator commented on #352
Closing. Please reopen if it is not fixed.

[2020-01-21 02:34] #352 closed

[2020-01-21 02:35] swaminator commented on #347
@jeececab @neilbts  @trietjack @ben-elsen Please verify the fix. Closing the issue.

[2020-01-21 02:35] #347 closed

[2020-01-21 09:10] asyschikov opened #375 "Publish sources of `amplifyPush` or better the whole build toolset"
The behaviour of amplifyPush is sometimes unclear, unpredictable and most importantly not consistent with the full `amplify push`. I tried to look into it doing `cat which amplifyPush` in the build but this is not the proper way. The ideal way is to have a full build container/Docker file with all the build environment including scripts.

Also the Docker file in the provisioning section seems inco

[2020-01-21 13:07] TLaue opened #376 "Deployment process does not finish "Provision" step"
Since this morning I am facing a very strange problem. I am pushing code to CodeCommit but the connected Amplify Console branches do not run anymore. All of them keep pending in the "Provision" step for hours. There seems to be no process at all:

![Screenshot from 2020-01-21 14-03-33](https://user-images.githubusercontent.com/36646404/72807114-f5fbdf00-3c56-11ea-80f0-56243066171c.png)

I have eve

[2020-01-21 18:58] swaminator commented on #375
@asyschikov thanks for the feedback. We are currently working out ways to remove the reliance on amplifyPush but still provide ways for customers to run custom backend commands. Will provide more context when we have next steps.

[2020-01-21 19:01] swaminator commented on #376
@TLaue we are investigating this with priority

[2020-01-21 19:07] Joycehao19 commented on #376
Hi @TLaue  , did you try re-deploying your app? Would you mind to provide the region as well?

[2020-01-21 19:49] TLaue commented on #376
Hello @Joycehao19, I am working in "eu-central-1". I have tried to re-deploy the app serveral times as the problem happened for different branches and on different apps. I cancelled the deployments several times and tried to re-deploy them but all pipelines kept running the provision step forever.

[2020-01-21 20:39] ardation commented on #370
@Joycehao19 the issue is that we already run a site on the root domain. I think the problem was that the subdomain I was using already had a CloudFront distribution. I have since deleted that but no luck as 24 hours later it is still not working.

[2020-01-21 21:00] Joycehao19 commented on #376
@TLaue Sorry that you are facing this issue. Did you delete your app? Would you mind to connect and deploy it again? Thank you!

[2020-01-21 21:04] Joycehao19 commented on #363
Hi @lightsofapollo , sorry that you are having this issue. we are currently investigating it.

[2020-01-21 21:15] TLaue commented on #376
@Joycehao19: I have just deleted the app and created a new one for the same CodeCommit branch but the result is the same. It is still not progressing. New appID; d26clkjd3gqprk

[2020-01-21 21:18] Joycehao19 commented on #362
Hi @rpostulart , we put your question in our customer oncall list and is currently pending investigation. We'll update you when we identify the issue. Thank you!

[2020-01-21 22:23] #370 closed

[2020-01-21 22:54] Joycehao19 commented on #370
@ardation Sorry that you are having this issue. I will recommend you to take a look of this link if you haven't seen before: https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/.

If you still have CNAME issue,  you could submit a support case (link: https://console.aws.amazon.com/support/cases#/create) and explain you're trying to remove a CNAME for domain you

[2020-01-22 06:55] swaminator commented on #91
@smakinson apologies we didn't get to this sooner. We had a number of other priorities that came above this. At this point, it is close to the top of our list of issues and I'm hoping to have a response here in the next 2-3 weeks.

[2020-01-22 07:22] swaminator commented on #349
You should only be paying for the GB served via the Amplify Hosting distribution to the end user browser. We're using CloudFront under-the-hood so there won't be any internal data transfer.

[2020-01-22 07:22] #349 closed

[2020-01-22 08:18] TLaue commented on #376
@Joycehao19: as additional info: the same project runs successfully in another account. It seems that the problem is somehow related to this specific AWS account. I have just created a new default React project using create-react-app (without any amplify integration), pushed the code to a new codecommit repo and created a new Amplify Console app. Unfortunatelly, the result is still the same. The p

[2020-01-22 11:50] spencer-aerian commented on #115
Taking the mantel from @ascorbic as he's moved over to other things , we are STILL seeing this Failed to Deploy error in the Deploy console. Whats' the actual ETA of this getting into production? Tests disabled, verify is disabled etc.

[2020-01-22 13:41] RossWilliams opened #379 "Support multiple apps in monorepo with amplify.yml file"
**Is your feature request related to a problem? Please describe.**
I use a monorepo which hosts multiple frontends with a single backend. I would like to keep all configuration in source control, but amplify.yml is not extensible enough to work against multiple frontends. Specifically, for frontend builds the artefacts baseDirectory takes a location string , which each frontend would need a differ

[2020-01-22 14:21] smakinson commented on #91
@swaminator That sounds great! Thank you!

[2020-01-22 15:46] CaptainChemist commented on #59
@ilyador I just realized that I'm getting the same behavior as you. What tricked me is that although I did fix the problem where I refresh my page and I get redirected to an index.html page that is blank, the consequence of creating the 404 Rewrite rule is that I do get redirected to index.html for non-root pages which messes up the google metatags and any SEO that I'd want for that page.

Such a

[2020-01-22 19:13] anatonie commented on #336
Hi @Taieb

Do you have the **systemvars** property set to true in your webpack-dotenv config?

```systemvars (false) - Set to true if you would rather load all system variables as well (useful for CI purposes).```
[From the properties section of the webpack-dotenv README](https://github.com/mrsteele/dotenv-webpack/blob/master/README.md#properties)

[2020-01-22 19:29] Joycehao19 commented on #376
@TLaue Thank you for your additional info. I can't reproduce this issue. I did the same thing, create a default react project --> push to codecommit --> create a new Amplify Console app. It worked fine on my console. I think this is a known issue for us that the build getting periodically stuck in provisioning. We are still investigating a fix. Can you double check if the aws account you use has c

[2020-01-22 20:03] TLaue commented on #376
@Joycehao19 The service role used by Amplify Console has administrator access permissons and the role used by my account user has power user permissons (we are accessing this account by an assumed role from another account). However I am assuming that this is not the reason of this problem as the same project works without any problems in another account whose assumed role has only read only permi

[2020-01-22 21:11] swaminator commented on #379
@RossWilliams thanks for the request. There is a present workaround. Amplify Console has [system variables](https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html) you could leverage such as `AWS_APP_ID`. You could do something like
[code]
We are looking at improving our monorepo support by adding support for selective build triggers, autodetection of monorepos. Let me kno

[2020-01-22 21:30] Joycehao19 commented on #337
Hi @arihantsol , to make sure your question. Do you want to:
Source: https://xxx.example.com/auth/<*>
Target: /auth/<*>
status: 301

Then all request will be redirected to /auth/<*>
ref:https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html

[2020-01-22 23:34] beeembeeem commented on #345
ANY FIX???

[2020-01-23 00:42] Joycehao19 commented on #359
Hi @manuelministro did you connect this domain to other application before?

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error
https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will nee

[2020-01-23 00:44] anatonie commented on #336
Hi @GWSzeto

How are you attempting to access the environment variables in your webpack? I don't see any reference to ```process.env``` in the snippet you posted.

Also, can you please give a bit more detail on the distinction between build time (where you can access the variables) and in your webpack (where you can't)?

Much appreciated!

[2020-01-23 00:48] Joycehao19 commented on #358
Hi @nozen

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlined in the docs above) depending on yo

[2020-01-23 00:59] nozen commented on #358
Hi @Joycehao19,

I did find the problem after all, wasn't amplify, had to track down the issue.

Thank you.

[2020-01-23 00:59] #358 closed

[2020-01-23 03:43] Mangosteen-Yang opened #380 "Build stuck in Provision for hours"
**App Id**:
d260dpi6bzq5q
**Region**:
ap-southeast-2
**Step**:
commit - push - auto build triiged - stuck in provision
**Status**:
provision

**Issue/question**
Wroks several hours ago then one build stuck in provision.
I tried other branchs, all stuck in provision.

**Error message**
no error message

**Additional information**
provision output:
[code]

[2020-01-23 04:23] JoshuaTruscott commented on #380
I'm having the same issue in the last few hours

[2020-01-23 04:26] JoshuaTruscott commented on #376
I'm also having this issue. No changes made to permissions made, yesterday was deploying fine.

[2020-01-23 04:56] swaminator commented on #376
@JoshuaTruscott what region is your app in

[2020-01-23 04:56] nimacks commented on #380
We have identified the cause of the increased application build error rates in the AP-SOUTHEAST-2 Region and continue working towards resolution.

[2020-01-23 07:40] NinaKWelch opened #381 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d20laet6xu0noq
**Region**: eu-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I am unable to connect my domain with AWS Amplify where my static web pages are located.

**Error message**
One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
I would like to have the domain connected with Amplify inst

[2020-01-23 08:28] nimacks commented on #380
Between 4:40 PM PST and 11:31 PM PST we experienced increased error rates and latencies for building applications due to an issue affecting EC2 in the AP-SOUTHEAST-2 Region. The issue has been resolved and the service is operating normally.

[2020-01-23 08:28] #380 closed

[2020-01-23 09:19] hamasayu opened #382 "Maintenance mode"
**Is your feature request related to a problem? Please describe.**
Sometimes we want to stop serving our web app temporarily for database migration, updating backends, etc. Currently there seems to be such feature provided.

**Describe the solution you'd like**
We want a capability of Amplify Console to switch their webapp to Maintenance mode, where a maintenance page is served with specific statu

[2020-01-23 10:44] TLaue commented on #376
@Joycehao19 I have just switched to another region (eu-west-1) to check if the amplify console app is running correctly there. No problem. This issue is in our case only related to (eu-central-1). Any ideas how to solve it?

[2020-01-23 12:25] RossWilliams commented on #382
It sounds like you want to allow the Rewrites and Redirects configuration to select 500 status codes from the dropdown, which currently only support 200-404, but cloudfront supports 500-503 ranges as well.

[2020-01-23 12:28] Taieb commented on #336
Actually, if you are using webpack without amplify (I mean in your local machine or in your hosting server) you can create .env file and put in your env variables then you need dotenv webpack module to provide this variable. https://www.npmjs.com/package/dotenv-webpack
In case of using Amazon amplify, you dont need the .env file, you need to add your env variables through Amplify and set up webpac

[2020-01-23 12:47] RossWilliams opened #383 "Yarn cache has problems for ~10% of deploys"
** Please describe which feature you have a question about? **
I seem to run into deployment problems with yarn's cache, only when doing console deploys, and usually for a different package each time. The last few are below.

I don't have caching turned on in build settings, or any other exotic configuration, just running yarn install in the build step causes these issues. Is there a setting I can

[2020-01-23 13:11] danieletieghi commented on #350
With @aws-amplify/cli@4.13.0 now works! Thank you everybody!

[2020-01-23 13:11] #350 closed

[2020-01-23 15:14] neilbts commented on #347
@swaminator  I confirmed it is working as of this morning. Thank you!

[2020-01-23 17:49] BhanukaUOM commented on #223
Include **googleAppIdUserPool** and **googleAppSecretUserPool** in auth categories flag.
[code]

[2020-01-23 18:00] Joycehao19 commented on #376
@TLaue We are investigating this issue now. We will response as soon as we figure it out.

[2020-01-23 18:15] gvnttdata commented on #313
I am having this exact issue, I am trying to host a Nuxt project and for some reason I see the build script being run but not being able to be found right after.

this is what I'm getting in my logs:

[code]

and this is my build instructions
[code]

Any idea where this is going wrong? This is just a basic nuxt project, I did not think starting with Amplify would be such an investment.

[2020-01-23 18:39] Joycehao19 commented on #381
Hi @NinaKWelch , the reason is a CNAME alias (domain) can only be used with a single CloudFront distribution at a time. These guides are helpful for getting started with custom domains:
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

Please let us kn

[2020-01-23 19:21] gvnttdata commented on #313
I tried changing my baseDirectory to '.nuxt' and the build succeeded but I'm getting the error "xxxxx redirected you too many times." This is still the initial setup so I have yet to see my page actually work so I'm not sure if this made things better or worse but it might be a step in the right direction.

[2020-01-23 20:46] sw-yx opened #384 "[bug] Amplify Console Dark Mode bug"
![image](https://user-images.githubusercontent.com/6764957/73022394-8709bc00-3df7-11ea-8438-697a33db08a2.png)

my path: https://console.aws.amazon.com/amplify/home?region=us-east-1&code=564f27153040679132a4#/dsw4gfc33xhg7/create/addfrontend/github

[2020-01-23 20:48] TLaue commented on #376
@Joycehao19 There is another app (det3qgey9p43n) showing the same problem in the same region.

[2020-01-23 21:01] Joycehao19 commented on #376
@TLaue Could you please add AWSCodeCommitFullAccess permission and try again?  (Console:IAM-Users-Permissions-Add permissions -> add AWSCodeCommitFullAccess)

[2020-01-23 21:06] TLaue commented on #376
@Joycehao19 I will try tomorrow as I do not have the necessary permissions to upgrade my IAM permssions at the moment. Is the arn:aws:iam::aws:policy/PowerUserAccess policy not powerfull enough to run Amplify console?

[2020-01-23 21:08] gvnttdata opened #385 "Getting "Page Redirected too many times" error"
**App Id**: dnqx9fxprg7z7
**Region**: us-east-2
**Step**:  Complete
**Status**: Getting "Page redirected too many times" error

**Issue/question**
A clear and concise description of what the issue/question is.
I am getting all green check-marks when I deploy but when I go to the url listed in my amplify console I get "This page isn’t working <site address> redirected you too many times."

**Error

[2020-01-24 00:17] Joycehao19 commented on #376
@TLaue Hi, could you please try to create a new app again without set AWSCodeCommitFullAccess permission?

[2020-01-24 05:16] blairtaylor opened #386 "Adding multiple subdomains hangs amplify console"
We have an application that is deployed with some customization based on the url (subdomain).

We have successfully deployed an app with an initial url.

When we add additional subdomains using domain management, the console hangs after clicking on "Update". It appears to be working but the progress logo on the update button appears for several minutes. Eventually it seems to complete (no error) b

[2020-01-24 06:30] Bulletninja opened #387 "Domain activation is Failed - [Removing everything i can see doesn't solve it]"
**App Id**: d35rsxvfnyh81y
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Can't enable custom domain name.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
Tried removing everything i had in my aws account, but the error persists

[2020-01-24 08:20] TLaue commented on #376
@Joycehao19 Everything is working again - without any permission changes or any other action conducted by myself. I do not know what you have done respectively what was the solution to this problem but thank you very much for your support!

[2020-01-24 08:21] #376 closed

[2020-01-24 12:11] cnbrkkaya opened #388 "Failed to load resource: the server responded with a status of 403"
I am trying to deploy a basic application to amplify console. When i work with localhost everything is perfect but when i try to build it with console i dont see any errors in console but when i click the domain i dont see anything just blank page i these errors in chrome console.
![5](https://user-images.githubusercontent.com/36765181/73068199-9b41cd80-3e78-11ea-98ee-a4b1e0db448d.JPG)

Here is so

[2020-01-24 14:56] ravishwetha commented on #311
Any updates?

[2020-01-24 15:16] nelsynelz opened #389 "Google Font not loading on Amplify deployed site"
Issue: My App hosted on Amplify doesn't seem to be loading my custom font which I'm importing via CSS import statement in my VueJS app. The font loads fine on the same computer/browser when working in my local development environment.

URL to Amplify Site (congrats you guys get to see the product I'm working on before launch :grin: ):
https://master.d3atxduymnnyre.amplifyapp.com/

Here is the scre

[2020-01-24 15:18] nelsynelz commented on #389
The font isn't working for anyone else I've shared the site with. Nor is it working on my iPhone in Chrome or Safari.

The only info I could find about this topic is this article, but this obviously is not Amplify hosting: https://docs.wp-rocket.me/article/24-resolving-issues-with-cdn-and-fonts-icons

[2020-01-24 16:25] SethGunnells opened #390 "Using a 200 Rewrite to a headless CMS results in 504"
** Please describe which feature you have a question about? **
This question is related to 200 rewrites.

** Provide additional details**
I have a headless CMS (Craft CMS) that I'm hosting on an EC2 in the same region and account as my Amplify App. I've set up a 200 rewrite like so:
[code]

When I attempt to go to `myapp.com/admin`, the page sits in a loading state for maybe 10 seconds and then cu

[2020-01-24 16:33] NinaKWelch commented on #381
Thank you.

I managed to sort it out as instructed.

Nina

On Thu, Jan 23, 2020 at 6:39 PM Joyce Hao <notifications@github.com> wrote:

[2020-01-24 17:38] gvnttdata commented on #385
Not sure if it matters but when I look at the Network tab the redirects are giving a 302 code.

[2020-01-24 18:07] Joycehao19 commented on #388
@cnbrkkaya Sorry that you are having this issue. Can you provide your appId, region and build number? Do you have some sample app we could test with?

[2020-01-24 18:18] Joycehao19 commented on #387
@Bulletninja This CNAME is already associated with a different CloudFront distribution. These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlined in the docs above) depending on your current hosting and DNS providers.

A CNAME alias (domain) can only be used with a single CloudFront distribution at a

[2020-01-24 22:25] Joycehao19 commented on #389
Hi, can you provide your appId, region and build number? Thank you!

[2020-01-25 02:44] adamaltman opened #391 "SSL verification is Running -"
**App Id**: dwcgpjxiowb7m
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

SSL verification ran for a few days.  I tried to remove the domain and add it again (that didn't fix it).  In other amplify projects in the same account, the root domain is verified and other subdomains of it are in use.

**Issue/question**

**Error message**
If there is an error message, please include

[2020-01-25 04:42] karrettgelley opened #413 "CI/CD Best Practices for Amplify"
**Which Category is your question related to?**
multiple environment, CI/CD

**Amplify CLI Version**
4.12.0

**What AWS Services are you utilizing?**
AppSync, Cognito

**Provide additional details e.g. code snippets**
This is a question for the experienced amplify developers in the community. I've been working on an app for about two months now and I feel like I've gotten the hang of amplify a lit

[2020-01-25 06:46] invisioncorellc opened #392 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d15wow0v7sl0af
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-01-25 07:22] Robstaa opened #393 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d14jmp6tprcyi
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I am using the naked domain for a load balancer but wanted to create a subdomain for a React App on Amplify. Before that I used a subdomain wildcard to redirect traffic to the load balancer. But I deleted all that (also the CNAMEs and CloudFront distribution from Amplify created be

[2020-01-27 15:02] nelsynelz commented on #389
Hi Joyce, I have build number and region but I don't know what you mean by appId. I don't see any field in my amplify app containing that. Do you mean either App Name (not sure if they're unique) or do you want the App ARN (which I know is unique)?

[2020-01-27 18:05] Joycehao19 commented on #389
@nelsynelz Yes. It is the last part of the app arn arn:aws:amplify:${region}:${accoundID}:apps/${appID}

[2020-01-27 18:08] nelsynelz commented on #389
@Joycehao19 got it!

Appid: d3atxduymnnyre
Region: us-east-2
Build Number: 71

[2020-01-27 18:56] donkahn commented on #346
Hi @refundr, this may be due to the DNS record already pointing to an existing distribution. A CNAME alias (domain) can only be used with a single CloudFront distribution at a time. These guides are helpful for getting started with custom domains:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowl

[2020-01-27 18:57] kahdojay commented on #346
Hi @refundr, this may be due to the DNS record already pointing to an existing distribution. A CNAME alias (domain) can only be used with a single CloudFront distribution at a time. These guides are helpful for getting started with custom domains:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowl

[2020-01-27 18:58] kahdojay commented on #289
Hi @hjkimu, this may be due to the DNS record already pointing to an existing distribution. A CNAME alias (domain) can only be used with a single CloudFront distribution at a time. These guides are helpful for getting started with custom domains:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowle

[2020-01-27 18:59] kahdojay commented on #286
Hi @bpatrick3412, this may be due to the DNS record already pointing to an existing distribution. A CNAME alias (domain) can only be used with a single CloudFront distribution at a time. These guides are helpful for getting started with custom domains:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/

[2020-01-27 19:00] kahdojay commented on #273
Hi @MathewGrg, this may be due to the DNS record already pointing to an existing distribution. A CNAME alias (domain) can only be used with a single CloudFront distribution at a time. These guides are helpful for getting started with custom domains:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/kno

[2020-01-27 19:15] kahdojay commented on #247
Hi @stevensacks, thanks for reporting this. We will need to take a closer look and have added this to our backlog.

[2020-01-27 19:26] kahdojay commented on #328
Hello @jimitab, please see the following docs:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlin

[2020-01-27 20:43] kahdojay commented on #329
Thanks for your feedback @ckamps - we've added this to our backlog to investigate further.

[2020-01-27 20:54] kahdojay commented on #295
@Burry thanks for reporting this. We'll need to investigate this further on our end to see what's going on. Can you provide your Amplify App ARN in the meantime?

[2020-01-27 21:50] Bulletninja commented on #387
I waited, and i don't have cloudfront distributions left. How do i remove such CNAME? I don't see it in route53

[2020-01-27 23:24] kahdojay commented on #342
@asyschikov @BabyDino can you please upgrade Amplify CLI to 4.13 and let us know if the issue persists?

[2020-01-28 00:32] elimence opened #437 "Cannot create new env: AlreadyExistsException: Stack [amplify-myproj-samdev-152827] already exists"
**Describe the bug**
I cloned an existing project and initialized an env called `prod`.
I tried creating a new env `samdev` (I removed it with `amplify env remove` earlier when `amplify push` kept failing on that env) but I keep getting the following error:
[code]

Running `amplify env remove samdev` says the env doesn't exist

I also check https://console.aws.amazon.com/appsync/home?region=us-eas

[2020-01-28 00:36] Bulletninja commented on #387
Solved it. Had to recreate my hosted zone (even though it didn't have any CNAME anymore).

[2020-01-28 04:20] guruprasad211 opened #394 "AWS Amplify deployment issue with spring Boot application"
Deployed and verified springboot application successfully in AWS amplify, but not able to access the domain url.

All steps like Provision, Build, Deploy and Verify is successfull

Not able to access the url given in aws Amplify

[2020-01-28 13:17] BabyDino commented on #342
Looks good! Thank you! :)

[2020-01-28 16:47] kahdojay commented on #390
@SethGunnells thanks for reporting this, we'll have to take a closer look to see whether this is a bug on our end. Are you able to use the redirect workaround for the time being?

[2020-01-28 17:00] kahdojay commented on #391
@adamaltman have you verified that the verification CNAME does in fact resolve correctly (for example using dnschecker.org or dig), and that your NS records are properly configured?

[2020-01-28 17:04] kahdojay commented on #393
Hi Robstaa, does the issue still persist? Please see:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as

[2020-01-28 17:06] kahdojay commented on #392
Hi @invisioncorellc, can you share the error message you're getting?

[2020-01-28 18:31] heitorlessa commented on #342
Just upgraded to 4.13.1, kicked a new build and it's now fixed.

Thank you @kahdojay and team

[2020-01-28 19:58] Robstaa commented on #393
Thank you for your response!

I am doing everything in Route 53, so no different hosting provider, though I moved the domains from one AWS account to the current one. But on the old one I deleted the registered domains and hosted zones (approx. 4 days ago). For the current one, I do have one subdomain (www) with a CNAME record pointing to a CloudFront distribution on the old AWS account.

The goal

[2020-01-28 20:59] SethGunnells commented on #390
The redirect is working fine for now. It may be the only viable solution anyway, but I figured giving a rewrite a chance would be worthwhile.

[2020-01-28 22:07] julien-tamade opened #395 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d37sqsirhqa81j
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I restarted setting up my domain with amplify so domain activation failed because the dns hadn't yet propagated to the new cname record pointing to cloudfront. Now that those new records have propagated, I'm trying to retry the domain activation. The status says "retry in progress" f

[2020-01-28 23:45] #342 closed

[2020-01-29 07:22] cnbrkkaya commented on #388
Thanks for your interest.
I made a small mistake i will explain for people having the same issue.
There was a homepage prop in my package.json file that points wrong github url. I delete that prop so everything is fine now.
Thanks

[2020-01-29 17:10] kahdojay commented on #394
Hi @guruprasad211 if you can fill out our [bug template](https://github.com/aws-amplify/amplify-console/blob/master/.github/ISSUE_TEMPLATE/bug_report.md), it will help us investigate. Thanks in advance.

[2020-01-29 17:19] kahdojay commented on #389
Hi @nelsynelz I see the fonts https://master.d3atxduymnnyre.amplifyapp.com/ in Firefox and Safari and a 200 from fonts.googleapis.com, were you able to sort it out?

[2020-01-29 17:19] kahdojay commented on #388
Thanks, closing this for now.

[2020-01-29 17:19] #388 closed

[2020-01-29 17:23] kahdojay commented on #386
Hi @blairtaylor can you provide your App ARN/ Thanks

[2020-01-29 17:42] blairtaylor commented on #386
arn:aws:amplify:us-east-1:102792536330:apps/d14xpxqf0qgvff

It is really hit or miss. Sometimes hangs for hours and sometimes seems to work.

[2020-01-29 18:34] adamaltman commented on #391
Solution:

1. Delete domain from project
2. Add domain back to project.

SSL issued successfully within 15 minutes.

[2020-01-29 18:34] #391 closed

[2020-01-29 18:41] kahdojay commented on #385
@gvnttdata can you share a copy your build settings (minus any sensitive data)? (From amplify.yml if you're using it, or from the console). Also can you confirm what redirects your app has in place?

[2020-01-29 18:51] kahdojay commented on #387
Thanks for letting us know, closing this for now.

[2020-01-29 18:51] #387 closed

[2020-01-29 18:52] kahdojay commented on #381
Thanks for letting us know - feel free to let the us and the community know what the specific blocker was in case they experience the same. Closing this for now.

[2020-01-29 18:52] #381 closed

[2020-01-29 19:03] dasiarg commented on #41
@afladmark good afternoon

Im facing a similar issue while trying to deploy a React build by npm from Bitbucket's Amplify Console integration.

I just installed the pipeline.

2020-01-29T16:51:56.458Z [INFO]: # Completed phase: build
2020-01-29T16:51:56.460Z [INFO]: ## Build completed successfully
2020-01-29T16:51:56.561Z [INFO]: # Starting caching...
2020-01-29T16:51:56.628Z [INFO]: Creating cach

[2020-01-29 19:09] kahdojay commented on #393
@Robstaa thanks for sharing. Can you confirm that staging.plurapolit.de is resolving as expected? I don't see it on my end.

If you are positive no CloudFront distribution exists (including in other accounts) using this domain, and only if it would not be disruptive to any currently running services, you might try deleting and recreating the hosted zone and starting from scratch: https://docs.aws.

[2020-01-29 23:54] matteomelani commented on #296
Same issue here

[2020-01-30 03:31] Burry commented on #295
Hi @kahdojay, thanks for the response. The ARN is `arn:aws:amplify:us-west-2:405458141541:apps/d19p17l5qdw305`

[2020-01-30 19:15] evertson90 commented on #206
Any update on this issue that is not the workaround mentioned above?

[2020-01-30 19:56] evertson90 commented on #206
Make sure you have the right amount of quotes and backslashes when adding your own "AUTH" variables.

It didn't work for me either because I had a "/" too much.

[2020-01-31 01:25] HMilbradt opened #396 "How to CNAME to an Amplify app without adding it as a custom domain"
** Please describe which feature you have a question about? **
Custom domains

** Provide additional details**
Hey there,

We have a use case where we'd like to be able to CNAME to our Amplify app without needing to go through the hassle of setting up the custom domain.  For example, if we have `example.com` added as a custom domain for our Amplify app, we'd also like to be able to add a CNAME rec

[2020-01-31 15:11] CaptainChemist commented on #277
Out of curiosity, is there any way manually to get those old branches to clear from the amplify console? Is it just a matter of manually deleting the s3 bucket and everything else will get cleaned up or will doing that break the cleanup process from happening once this PR gets merged?

[2020-01-31 16:21] JoeShi opened #397 "Domain activation is Failed - [Cannot create a custom domain after delete an Amplify APP]"
**App Id**: d3551lhhsg3xbj
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain Activation Error

**Error message**
Error message: One or more aliases specified for the distribution includes an incorrectly configured DNS record that points to another CloudFront distribution. You must update the DNS record to correct the problem. For more information, see

[2020-01-31 17:03] talebbits opened #398 "Auto Cancelling a Redundant Build"
**Is your feature request related to a problem? Please describe.**
If you are frequently pushing changes to a branch, you increase the chances of builds queueing. This means you might have to wait for an older version of a branch to finish building before the most recent version builds.

**Describe the solution you'd like**
Automatically cancel any queued or running builds when a newer build is tr

[2020-01-31 17:49] kahdojay commented on #396
@HMilbradt unfortunately not - you'll need to setup a custom domain and validate your ownership of the domain prior to allowing requests via that CNAME and establishing https connections. Hope this helps, closing this for now, feel free to reopen if you have any other questions.

[2020-01-31 17:49] #396 closed

[2020-01-31 23:22] Robstaa commented on #393
My fault. On another account I had a CloudFront distribution with a wildcard CNAME on that domain. That distribution was disabled but not deleted. Deleted it and now it works.

[2020-01-31 23:22] #393 closed

[2020-02-01 01:44] JoeShi commented on #397
After I delete APP d3551lhhsg3xbj, and create another Amplify APP, it finally got deployment

[2020-02-01 01:53] hassankhan opened #399 "Build badges"
**Is your feature request related to a problem? Please describe.**
CodeBuild provides build badges, however Amplify CI does not seem to expose them.

**Describe the solution you'd like**
Would be great to get build badges for repo READMEs

[2020-02-01 01:58] whitesnow9291 opened #400 "Latest commit not deployed"
It was working until yesterday, the 150th build.
but when I have commit and push code, it doesn't start deployment and it shows old commit as last commit.
There is nothing I updated in amplify configuration side and github.
Is there limit of building count?

[2020-02-01 18:36] mikodayo opened #401 "SSL verification is Running - verification has taken longer than 8 hours"
**App Id**: dikd6h5rpob7c
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
I added a domain, but it has been "SSL verification" for more than 8 hours.

**Error message**
It doesn't seem to get any errors. Please tell me if there is a screen to check other than "Amplify".

Checking www.mydomain.com at https://www.whatsmydns.net/ now returns an unstable respon

[2020-02-02 16:25] nelsynelz commented on #389
@kahdojay yeah it all seems to be good now. I didn't make any changes but I also no longer see the issue. I'm going to close this.

Thanks all for the help.

[2020-02-02 16:25] #389 closed

[2020-02-03 03:31] mikodayo commented on #401
The problem has been resolved. My DNS record management system was abnormal and I had to rewrite my NS records in two different places.

[2020-02-03 03:31] #401 closed

[2020-02-03 09:47] ozanbulut commented on #400
I am having exact same problem. It was working fine until yesterday. I had to disconnect - reconnect branch to deploy a new version.

[2020-02-03 12:43] thanhtai-personal opened #402 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dhkcqgcjf5klf
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-02-03 12:44] #402 closed

[2020-02-03 18:40] ganipcanot commented on #345
Hi @ojassinha, I tried navigating to your domain at "pulse-staging.optacity.com" and it seems to load correctly.  Are you still experiencing an issue?

[2020-02-03 21:57] ganipcanot commented on #384
Just curious @sw-yx if you are using a specific browser?  I tried this in Chrome and Firefox and it seems to toggle between Light and Dark just fine.

[2020-02-03 22:08] IsaacTrevino opened #403 "SSL verification is Failed - [BRIEF DESCRIPTION]"
**App Id**: daaxdtohx0ws6
**Region**: us-east-2
**Step**: SSL verification
**Status**: Failed

**Issue/question**
I am implementing a domain name I recently purchased from route53, though I have had issues with amplify console integration.

**Error message**
Error message: The status of this certificate request is "Failed". One or more domain names have failed DNS validation. Please check your dom

[2020-02-03 22:21] munkhbayar17 commented on #247
Hi guys, how is it going? @kahdojay . My domain is also not resolving with DNS_PROBE_FINISHED_NXDOMAIN though I have configured CNAME as requested on Cloudflare.

[2020-02-04 02:28] vedran opened #404 ""Operation Failed: Too many requests" saving environment variables"
**Issue Description**

"Operation Failed: Too many requests" error when pressing "Save" on the Environment Variables management screen.

**Detailed Steps To Reproduce**

1. Visit `App Settings -> Environment Variables`
2. Ensure you have at least 5 environment variables / overrides
2. Press "Save"
3. See the error below: (field values omitted from the screenshot)

![image](https://user-images.gith

[2020-02-04 04:30] sw-yx commented on #384
chrome. oh dear i didnt really specify what the bug was did i? Just the white-on-grey "light/dark" text up on the top right.

[2020-02-04 11:22] idrisov-ri opened #405 "Amplify Console redirects to wrong url when trailing slash required"
Not sure this is right place for my question.

From AWS Amplify documentation:

In App we are working at now the second scenario is not true.

When user inputs `/about` (no trailing slash in the end)and needed to be redirected to `/about/`(have trailing slash in the end), instead he is being redirected to  a url similar  to something like `/0000000030/about/`. Where the `0000000030` part  of the u

[2020-02-04 16:39] flyfisherdeveloper opened #406 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3u11owfti6r3u
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I am getting a Domain Activation failure, and I am not sure how to resolve it. This domain was created with Route 53 with Hosted Zones.

**Error message**
If there is an error message, please include it here.
Error message: Oops, something went wrong. Please try again later.

**Addit

[2020-02-04 18:58] ganipcanot commented on #406
Hi @flyfisherdeveloper domain activation can take up to 24 hours, give it some time and check back again soon: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#custom-domain-route53

[2020-02-04 19:42] munkhbayar17 opened #407 "Custom domain is stuck in verification"
**arn:aws:amplify:eu-west-2:932072193757:apps/dovytrqeyojo8**:
**ue-west-2**:
**Domain verification**:
**SSL configuration**:

**Issue/question**
I had my domain verified but the domain name was not resolving with `DNS_PROBE_FINISHED_NXDOMAIN`. So I removed my domain and added again. However, it has been stuck in verification step since 2 Feb. I have configured CNAME record on my DNS provider (Clo

[2020-02-04 21:57] ganipcanot commented on #384
@sw-yx Thanks for the additional info!  I just tried on chrome incognito and wasn't able to repro:

![lightvsDark](https://user-images.githubusercontent.com/21091073/73790907-2a42c580-4756-11ea-8503-3e27a7d18c3b.gif)

Maybe you have some custom settings/browser add-ons affecting the text color?

[2020-02-04 21:59] ganipcanot commented on #400
@whitesnow9291 Can you give the appId and region where this is happening?

App Id: ???
Region: ???

[2020-02-04 22:23] sw-yx commented on #384
mmh. yeah my browser has been VERY funky around aws in general. no idea whats going on. thanks for confirming.

[2020-02-04 22:23] #384 closed

[2020-02-04 22:38] ozanbulut commented on #400
I have created a new amplify app and connected the same repository. It is working on a new app.

I haven't deleted old one. It's still broken.
Here is my broken app's id:  arn:aws:amplify:eu-central-1:192681667700:apps/d3uz4iijgjkdi

[2020-02-04 22:53] jhoffmcd opened #408 "Backend Environments Tab in Amplify Console is Empty"
** Please describe which feature you have a question about? **

The tab in Amplify that is supposed to show Backend Environments seems to be empty in my project, even though we have definitlely have two declared environments.

** Provide additional details**

What is actually supposed to show here? We have two environments that do seem to work other than what we see in this tab. Here is what we ar

[2020-02-04 23:07] ganipcanot commented on #404
@vedran Sorry you saw this issue.  I was able to see it working below:

![environmentVariables](https://user-images.githubusercontent.com/21091073/73795642-f79dca80-475f-11ea-953e-7e6429fdd36f.gif)

Maybe you can retry updating the environment variables?

Also if you can give any more detail on how you were able to see this failure:

Did you try to update 5 all at once?  1 at a time?

[2020-02-04 23:51] #233 closed

[2020-02-04 23:51] #235 closed

[2020-02-04 23:52] #263 closed

[2020-02-04 23:52] #265 closed

[2020-02-05 00:48] whitesnow9291 commented on #400
@ganipcanot
This is app id and region.
Region: Ohio
Id: d30hazi5jm4rje 

[2020-02-05 11:06] MaximilianFranke opened #409 "Build successfull but is marked as failed"
Hey guys,
my problem is that the deploy process not start, cause the frontent build seems to be failed. But the build should successfull, how you can see in the log:

[code]

Here are my build settings:
[code]

[2020-02-05 14:48] ArturKp commented on #400
We're also experiencing issues since last week.

arn:aws:amplify:eu-central-1:981789534438:apps/d3eotlz5taz563
arn:aws:amplify:eu-central-1:981789534438:apps/d3gmfhwjopea0t

Seems to be working when creating a new project, but that's quite a lot of work to transfer both apps without downtime and all the domain configurations.

---

If nothing has changed in Amplify, in our case there's a small cha

[2020-02-05 15:06] whitesnow9291 commented on #400
@ArturKp
1. I am using github, not gitlab
2. I never changed url of repo, it's just stop auto building without any config update.
Ofcourse, source code has been updated. but not other things such as build yaml, git repo, git username, password, and so on.

[2020-02-05 15:58] ribeirojose opened #410 "Inconsistency between Amplify CLI and Amplify Console"
** Please describe which feature you have a question about? **
Amplify publish hosting v. Amplify Console frontend hosting

** Provide additional details**
When running `amplify publish` under an amplify environment in the CLI, I'd expect that the frontend application has its own environment in Amplify Console. However, that is not the case, and frontend deploy has to be manually setup in Amplify

[2020-02-05 17:00] vedran commented on #404
@ganipcanot thanks for replying. I can reproduce the issue even if I don't add any additional environment variables. If the 5 variables that are in the previous screenshot are already defined, all I need to do is visit the environment variables management screen, and press save to trigger it. I just tried this and was about to cause the issue again.

![2020-02-05 08 59 53](https://user-images.gith

[2020-02-05 17:56] swaminator commented on #409
Can you please share your AppID? It's found in AppSettings > General under AppARN

[2020-02-05 23:42] swaminator commented on #410
@ribeirojose currently the Amplify Console's Hosting feature (CI/CD, managed hosting) is not available in the Amplify CLI. The Amplify CLI has support for adding hosting with CloudFront and S3. To modify those resources, please goto the CloudFront/S3 consoles respectively. To get a frontend environment to show up, please add it through the Amplify Console's UI.

[2020-02-05 23:47] z3by commented on #115
We are facing the same issue here, is this gonna be solved soon?

[2020-02-06 02:38] jehrenheim commented on #400
We are also having the same issue. Github is still connected in Amplify, and nothing has changed in our configuration, but Amplify has stopped building on pushes to our connected branches

[2020-02-06 06:47] steverandy commented on #296
@kahdojay is there any update? thanks.

[2020-02-06 07:03] MaximilianFranke commented on #409
App ARN arn:aws:amplify:eu-central-1:064480943479:apps/d3s4jihdbyzh2

[2020-02-06 07:25] ArturKp commented on #400
In case there are others who don't know how to trigger a manual build with latest code... Today I found that it's possible to create a webhook and manually trigger a build. While this issue is being investigated, the webhook can be used as a workaround.

`Amplify Console → Build settings → Incoming Webhooks → Create Webhook. `

Then it's possible to use the curl command to trigger a new build.

[2020-02-06 11:08] blomm opened #411 "subdomains wont resolve"
**App Id**: d2meqvq92i0efd
**Region**: eu-west-1
**Step**: domain registration succeeds
**Status**: navigating to root domain works, subdomains does not: DNS_PROBE_FINISHED_NXDOMAIN

**Issue/question**
Why wont my subdomains resolve? It really feels like I've done everything right, but nada. I'm a little suspect about the fact that when I create subdomains via the console, all subdomains (dev/stag

[2020-02-06 13:13] ChristopheBougere opened #412 "Server-side rendering support / SSR"
**Is your feature request related to a problem? Please describe.**
I created a web app using Amplify+React. Now I need to work on the SEO, but this requires server-side rendering (I am using [react-helmet-async](https://github.com/staylor/react-helmet-async) to change `<title>` and `<meta>` tags dynamically, but google and other search engines stick with the static versions in `index.html`. Note t

[2020-02-06 14:10] RossWilliams commented on #379
@swaminator I have not been successful implementing your suggestion, nor variants to echo the response, or even a simple case which removes the case statement.

The documentation states frontend -> artefacts -> baseDirectory is of type "location". Attempting to use a script array as an argument results in the following console error for all variants tested:

2020-02-06T13:18:41.803Z [WARNING]: !Ty

[2020-02-06 17:14] ganipcanot commented on #411
Hi @blomm did you create your domains/subdomains and configure them through Route53 or some other provider?

[2020-02-06 17:19] ganipcanot commented on #408
@jhoffmcd Does your application only have a front-end?  Or does it also have a back-end?  Also could you provide your app-id (app ARN) in order to assist you further?  Thanks!

If your application has only deployed a front-end then you wouldn't see a backend environment.

[2020-02-06 18:16] swaminator commented on #400
@ArturKp @jehrenheim @whitesnow9291 @ozanbulut we are looking into this proactively.

[2020-02-06 18:22] #173 closed

[2020-02-06 18:39] garyleefight commented on #33
It's possible to deploy specific branch with one-click deploy right now.
https://github.com/${repository}/tree/${branchname}
You can define the branch name in the repository url like above. But note that, we do not support deploy branch contains '/'

[2020-02-06 18:57] ganipcanot commented on #400
@whitesnow9291 I only see 1 build in us-east-2 for d30hazi5jm4rje and it looks like the build succeeded.  Is this the correct info?

[2020-02-06 19:16] bogdandanila commented on #390
I sort of had the same issue happen to me. I set it up about a week ago and found it broken today. Here's my experience:

I have set up a 200 redirect on my Amplify front-end app to point to an API Gateway like this:
[code]
But I kept getting a 302 redirect response, even though calling the gateway directly returned the correct json respone.

After many attempts, I finally added a new redirect fro

[2020-02-06 19:36] blomm commented on #411
Hey @ganipcanot , I created the subdomains via the amplify console, which has automatically updated route 53

[2020-02-06 20:58] jhoffmcd commented on #408
It does also have a backend (auth/cognito) component.

App ARN: arn:aws:amplify:us-west-2:059525859496:apps/d2zqif4mv6lhdb

[2020-02-06 21:30] munkhbayar17 commented on #407
I have deleted my domain from Amplify console. Then migrated my DNS to Route 53 and added the domain again on the console. My domain is verified and SSL is issued. I think you guys have done nice job there! But my domain is still not resolving with DNS_PROBE_FINISHED_NXDOMAIN.

[2020-02-06 22:08] swaminator commented on #413
@karrettgelley have you heard of the Amplify Console? It offers a CI/CD workflow for feature branches. Checkout: https://docs.aws.amazon.com/amplify/latest/userguide/multi-environments.html

[2020-02-06 22:20] ferdingler opened #414 "Deleting an app without permissions doesn't show an error in the console, it fails silently"
**App Id**: Any app
**Region**: us-east-1

**Issue/question**
I was trying to delete an Amplify App from the console and it wouldn't get deleted. I tried it many times without understanding why it wasn't being deleted. Turned out that my IAM role policy had an explicit `Deny` for `amplify:deleteApp`. I realized that after opening the Developer console in my browser and seeing a log that said _User

[2020-02-07 00:15] hisham opened #415 "Ability to modify CORS headers?"
** Please describe which feature you have a question about? **
I'm building an angular element app that will be hosted in various domains. I'm using AWS Amplify Console to deploy the app.

When I try to include a script from the app in another domain. My browser gives error: `Access to script at 'https://<my-amplify-domain>/main-es2015.js' from origin 'http://localhost:4200' has been blocked by CO

[2020-02-07 00:17] hisham commented on #415
Oh I see https://github.com/aws-amplify/amplify-console/issues/216. Ok I'll try that.

[2020-02-07 00:17] #415 closed

[2020-02-07 00:55] whitesnow9291 commented on #400
@ganipcanot , yes, because I reconnected branch because auto build not working.
Nowadays, I am repeating disconnect/connect to deploy :(

[2020-02-07 01:22] cslogan-red commented on #400
@ArturKp @jehrenheim @whitesnow9291 @ozanbulut we've identified the issue and are in the process of a deploying an updated reconnect flow that will allow you to get your existing apps building again, will post an update here once the update is available in all regions.

[2020-02-07 06:39] kuindji opened #416 "Amplify build stuck on old graphql endpoint - how to update?"
** Please describe which feature you have a question about? **
Hi!
Recently I removed the graphql db/endpoint and created a new one. Everything works fine locally. Everything builds fine in Amplify Console except one thing - it uses old graphql endpoint (or some random endpoint - i don't know; definitely not the one I have right now).

How do I force Console to use new endpoint?

** Provide additi

[2020-02-07 08:38] keiscool2468 opened #417 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d3jr9okllrs5gn
**Region**: ap-southeast-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-02-07 09:10] blomm commented on #411
hi @swaminator, could you please take a look for me? confirm that amplify has created the dns records in route 53 correctly?

[2020-02-07 13:02] arelaxend commented on #92
I can also see the following parameter in the request "public, must-revalidate, max-age=0". Is there any advancement or temporary solution for this ? Thank you for the good work

[2020-02-07 15:08] munkhbayar17 commented on #407
Thanks guys. It is resolved now.

[2020-02-07 15:08] #407 closed

[2020-02-07 15:23] arelaxend commented on #92
Hm, do you agree that is not the expected behavior that Chrome or any browser can not cache to disk any files provided by cloudfront, JS, CSS files and so on ?

[2020-02-07 18:53] isi-gach commented on #92
have you tried something like this?
`amplify.yml`
[code]

[2020-02-07 20:43] #413 closed

[2020-02-07 20:57] arelaxend commented on #92
[code]

[2020-02-07 21:11] ganipcanot commented on #411
@blomm I don't think we have visibility into that since the dns entries, domains, subdomains would exist in your account and not ours.

On our end it looks like dev/stage/uat and the root domain are all AVAILABLE and they have different cloudfront distribution IDs.

[2020-02-07 21:14] supersetapp commented on #92
@arelaxend setting those Cache-Control headers can be super useful, but be careful you’re not caching content that you want to update at some later time. Doing `pattern: '**/*'` would set that Cache-Control header on your HTML files and other things that usually don’t want such extreme caching (usually you only want aggressive caching on just images, JS, CSS—especially if they have a content hash

[2020-02-07 21:45] ganipcanot commented on #280
@thedgbrt Have you tried global password protection in access control?

![image](https://user-images.githubusercontent.com/21091073/74068266-0ed2f700-49b0-11ea-9746-c0a90dca5bd7.png)

[2020-02-07 22:25] jhoffmcd commented on #404
We've been having this issue since we've started with Amplify (about 7 months ago). If you want another application to check: `arn:aws:amplify:us-west-2:059525859496:apps/d3a05gjdxb8h74`

[2020-02-08 01:28] hisham opened #418 "What does the cache field do?"
** Please describe which feature you have a question about? **

Pardon my ignorance, but what does the cache field in amplify.yml do? The documentation at https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html explains all commands excluding that one.

[2020-02-08 10:26] pbenipal61 opened #419 "Amplify custom domain worked for a while and then it stopped"
So i setup a react app on amplify with a custom domain that's registered with namecheap.com .
I setup a route 53 hosted zone and linked it to my app in the amplify console. The new custom domain worked for a while. It showed my app when i visited the domain but now i just see a random page probably provided by namecheap by default.

[2020-02-09 07:14] ekim1707 opened #420 "Content missing after deploy"
**App Id**: kfllc
**Region**: us-east
**Step**:
**Status**: running

**Issue/question**
I just deployed my project using a direct pull from github, and everything looks fine except some of my content is missing. 4 images just aren't showing at all, and on the form section of my site, none of the inputfields show their placeholders anymore. I checked locally to confirm, and locally they are still t

[2020-02-09 12:32] vajafari commented on #206
I face this problem and solve it.
1- Create **amplfypush.sh** file and add it to the root of project and put the following scripts in it:
[code]
2- In amplify console  --> App Settings ----> Environment variables add  **FACEBOOK_CLIENT_ID, FACEBOOK_CLIENT_SECRET, GOOGLE_CLIENT_ID, GOOGLE_CLIENT_SECRET** to the environment varibale and set values for each environment

3- Change console  --> App Set

[2020-02-09 12:44] thedgbrt commented on #280
@ganipcanot the problem is I don’t want my production branch to be password protected. It’s missing a feature where I can exclude it from the global setting.

[2020-02-09 18:27] JoseAmericoValadao opened #421 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d38jxm8wv4imtd
**Region**: eu-west-2
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-02-10 03:22] aaroncaito commented on #174
Any updates on this?

[2020-02-10 03:23] patspam commented on #174
I no longer use Amplify.

[2020-02-10 10:17] danim47c opened #422 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2zjc42zx1daxo
**Region**: eu-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I'm getting this error after I updated my dns records on my domain.

**Error message**
One or more aliases specified for the distribution includes an incorrectly configured DNS record that points to another CloudFront distribution. You must update the DNS record to correct the proble

[2020-02-10 12:43] jugonzalez-cchs opened #423 "SSL verification is Running - Stuck for 2 days."
**App Id**: d2rezpudsnz4wl
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
Stuck on SSL-verification. Has been at this status for 2 days.
A clear and concise description of what the issue/question is.

**Additional information**
Please add any other relevant information. Please feel free to include screenshots.

[2020-02-10 13:31] #423 closed

[2020-02-10 15:16] IsaacTrevino commented on #59
This worked for me, I was able to navigate without any refresh problems.
I will update if behavior changes.

[2020-02-10 15:23] CaptainChemist commented on #59
@IsaacTrevino watch out- as I mentioned in a later post, you might run into problems if you submit that particular link to the facebook share debugger so it is worth checking that crawlers can properly index the page when you use the 404 Rewrite even though the page appears to load fine when manually going to the page.

This might only be an issue with Gatsby but if you notice, that you get a 206

[2020-02-10 17:00] Joycehao19 commented on #420
@ekim1707 Sorry that you are facing this issue, would you mind provide your appID and region?(like us-east-1 or us-east-2) Don't put you accountID here.(console->App setting-> App ARN (arn:aws:amplify:${region}:${accountID}:apps/${appID})

Thank you.

[2020-02-10 17:24] Joycehao19 commented on #419
@pbenipal61 Sorry that you are facing this issue, would you mind provide your appID and region? Don't put you accountID here.(console->App setting-> App ARN (arn:aws:amplify:${region}:${accountID}:apps/${appID})

[2020-02-10 17:50] ekim1707 commented on #420
I actually think I troubleshooted the issues and now I’m fine. Thanks for
your help anyway though!!

Eugene

On Mon, Feb 10, 2020 at 12:00 PM Joyce Hao <notifications@github.com> wrote:

[2020-02-10 18:29] Joycehao19 commented on #420
@ekim1707 Great! Close the issue now.

[2020-02-10 18:29] #420 closed

[2020-02-10 18:47] kziemski opened #424 "SSL verification is Failed - Was Previously Verified and have lost DNS Verification"
**App Id**: d2bskyqm09dyg8
**Region**: us-east-1
**Step**: SSL verification
**Status**: Failed

I'm not sure when but at somepoint  today i lost my custom domain for one of the projects i have in amplify. interesting enough i have a another application connected to the same branch but different build setting and that looks fine.

**Issue/question**
A clear and concise description of what the issue

[2020-02-10 19:22] ekim1707 commented on #420
Sorry about that.. I’m new to this. Thank you..

On Mon, Feb 10, 2020 at 1:29 PM Joyce Hao <notifications@github.com> wrote:

[2020-02-10 19:34] Joycehao19 commented on #420
@ekim1707 Don't feel sorry! Always feel free to contact us!!!

[2020-02-10 20:19] rama3319 opened #425 "Manual Deploy gets stuck in Build"
We recently started working on Amplify. When we try to deploy front end using Zip(which is actually S3 content), is taking forever to deploy.

[2020-02-10 20:39] ekim1707 commented on #420
Thanks :)

On Mon, Feb 10, 2020 at 2:34 PM Joyce Hao <notifications@github.com> wrote:

[2020-02-10 21:06] Joycehao19 commented on #425
@prasaddattu478  Sorry that you are facing this issue, would you mind provide your appID and region? Don't put you accountID here.(console->App setting-> App ARN (arn:aws:amplify:${region}:${accountID}:apps/${appID})

[2020-02-10 21:10] prasaddattu478 commented on #425
HI Aws-Amplify/Amplify-Console/Joyce,

Here is the appID: apps/*d3px7gwvqi6isz*

On Mon, Feb 10, 2020 at 3:06 PM Joyce Hao <notifications@github.com> wrote:

--
Regards,
Krishna Prasad,
+91 8861138545

[2020-02-10 21:24] Joycehao19 commented on #422
@danim47c  Hi, sorry that you having the custom domain issue. Could you please check if the DNS record is correct? If it is, please let us know. Thanks.

Here is a useful link to show you how to do it.https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

[2020-02-10 21:25] Joycehao19 commented on #421
Hi @JoseAmericoValadao , could you please share the error message? Thanks!

[2020-02-10 22:07] Joycehao19 commented on #417
Hi @keiscool2468 , could you please copy the error message?

Could you please take a look of the following links? If those links can't solve your question, please let us know.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

[2020-02-10 22:21] prasaddattu478 commented on #425
Can we deploy Sapper application(which is in S3) to Amplify?.

[2020-02-10 22:49] swaminator commented on #416
@kuindji how many frontend and backend environments do you see in the Console?

[2020-02-10 22:49] #410 closed

[2020-02-10 23:39] Joycehao19 commented on #418
Hi @hisham , the cache path’s are automatically suggested build-time dependency path's (like node_modules) at the time you connect your app to Amplify Console, based on the package manager and framework you’re using. Amplify Console caches these path’s on the first build and reuses them on subsequent builds, when possible, to speed up build execution time.

[2020-02-11 00:48] Joycehao19 commented on #425
@prasaddattu478 We are investigating the manual deploy issue now. For Sapper application deployment, did you see any error message when you build it?

[2020-02-11 03:55] Joycehao19 commented on #424
@kziemski Hi, did your custom domain fail to connect after Build 17 succeeded? your domain is w********ce.app?

[2020-02-11 03:58] kziemski commented on #424
the sequence feels right.

yes thats my domain.

On Mon, Feb 10, 2020 at 10:55 PM Joyce Hao <notifications@github.com> wrote:

[2020-02-11 04:01] Joycehao19 commented on #409
Hi @MaximilianFranke , can you provide the build number as well? Thanks

[2020-02-11 04:04] prasaddattu478 commented on #425
Hi Joyce,

I have not seen any error in the console or in the log.

On Mon, Feb 10, 2020 at 6:48 PM Joyce Hao <notifications@github.com> wrote:

--
Regards,
Krishna Prasad,
+91 8861138545

[2020-02-11 04:42] hisham commented on #418
Ok thanks for letting me know. Amplify did not detect my project it seems, probably because I'm using a mono-repo with multiple frontends, but no package.json was in the root dir at the time (new project). So I wrote my own amplify.yml. Will add the appropriate node_modules in the cache param. It's probably helpful to add some documentation about this setting, what to fill it with, and how the cac

[2020-02-11 05:48] Joycehao19 commented on #408
Hi @jhoffmcd , this is a known issue for us. We are still investigating a fix to pass custom parameters when creates backend env. The current workaround is here: https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-552548466

[2020-02-11 06:15] Joycehao19 commented on #418
@hisham Thank you for sharing your thought with us. We will add more documentation about the cache field and how to set amplify.yml.

[2020-02-11 06:31] Joycehao19 commented on #406
@flyfisherdeveloper Did you re-connect the custom domain? Could you please check if the name servers on your domain match the name servers that the Amplify app created?

[2020-02-11 06:47] Joycehao19 commented on #341
@mdlavin Did you still have this issue? Can you provide your appARN, branch-name and build number? Did you try re-connect a new app?

[2020-02-11 06:51] Bryan-Rojas commented on #368
Closed. Thanks for your help by the way @cslogan-red

For anyone facing this issue:

- I contacted AWS support and they helped me out but the process with a little slow to which I just decided to use Cloudflare DNS instead.

Definitely check out: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html

[2020-02-11 06:51] #368 closed

[2020-02-11 06:58] kuindji commented on #416
I have only one environment called "test".
I have three apps building different parts of one monorepo, they all use the same test environment and they all stuck with old graphql endpoint.

Locally `amplify env list` shows the same one environment.

[2020-02-11 07:00] kuindji commented on #416
Graphql is a different point of frustration, not relevant to this case.
But I run `amplify remove api` and `amplify add api` almost every day.

[2020-02-11 07:00] Joycehao19 commented on #403
Hi @IsaacTrevino , Did you check if the name servers on your domain match the name servers that the Amplify app created?

[2020-02-11 12:02] MaximilianFranke commented on #409
Since a view days its works again with out any Problems.
Some affected build samples:
Dev Build#364 - Build#372

[2020-02-11 12:08] mdlavin commented on #341
I worked around my issue by using a custom image to avoid as much work as
possible. It *seemed* like filesystem heavy commands like mom installs made
it hang.

On Tue, Feb 11, 2020, 1:47 AM Joyce Hao <notifications@github.com> wrote:

[2020-02-11 15:59] Chett23 opened #426 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1my21op7zm0sr
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Amplify says it can not activate the domain because of the following error message

Error message: One or more of the CNAMEs you provided are already associated with a different resource.

I have tried to clear all CNAME DNS records except the ones used for Amazon Workmail.

**Error

[2020-02-11 16:36] flyfisherdeveloper commented on #406
Where are the name servers that the Amplify app created? I can't find them.

[2020-02-11 17:31] prasaddattu478 opened #427 "Domain is throwing AccessDenied error after successfull deployment"
I have deployed a  sample app and it is throwing "AccessDenied" Error.

**App ID: apps/dqkwpdygnzgei
Deployment type: Manual(drag & drop zip file)
Domain: https://dev7969.dqkwpdygnzgei.amplifyapp.com**

I have assigned service to this app. here is the Service role name
**AmplifyConsoleServiceRole-AmplifyRole**

Error:

<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>D

[2020-02-11 18:05] Joycehao19 commented on #426
Hi @Chett23 , did you try to re-connect your custom domain on Amplify Console after at least 6 hours?

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlined in the docs above) depending on your current hosting and DNS providers.

A CNAME alias (domain) can only be used with a single CloudFront di

[2020-02-11 18:23] Chett23 commented on #426
Yes, I was able to reconnect it after removing the old SSL certificate through AWS certificate manager and it finally went through Thanks!.

[2020-02-11 18:23] #426 closed

[2020-02-11 18:51] Joycehao19 commented on #405
Hi @idrisov-ri we cut a ticket in our customer oncall backlog, will investigate your issue later. Thank you for understanding.

[2020-02-11 18:55] Joycehao19 commented on #424
@kziemski What is the DNS provider of this domain?

[2020-02-11 19:12] Joycehao19 commented on #427
Hi @prasaddattu478 , we cut a ticket in our customer oncall list, now is pending investigating.

[2020-02-11 19:14] prasaddattu478 commented on #425
Hi Joyce,

I have just deployed a sample app to amplify to see how does it run. Deployment was successful but when I try to access domain I am getting error "Access Denied" from Cloudfront. you can refer below the issue about the error.

Good Part is that Deployment is successful for sample app with you getting stuck in the middle.

https://github.com/aws-amplify/amplify-console/issues/427

[2020-02-11 19:34] prasaddattu478 commented on #427
The location of the index.html file was under export. So closing the issue.

[2020-02-11 19:34] #427 closed

[2020-02-11 20:47] Joycehao19 commented on #418
pr: https://github.com/awsdocs/aws-amplify-console-user-guide/pull/16/files

[2020-02-11 20:47] #418 closed

[2020-02-11 20:52] kziemski commented on #424
Route 53

Mobile:+16463454567

On Tue, Feb 11, 2020 at 1:55 PM Joyce Hao <notifications@github.com> wrote:

[2020-02-11 21:17] Joycehao19 commented on #424
@kziemski  Could you please check if the name servers on your domain match the name servers that the Amplify app created?

[2020-02-11 21:35] kziemski commented on #424
this hosted zone was created before the amplify app was created.
i think not sure i can check this as i had to redo the app.
appreciate the help.
there are clearly still some bugs understandable given what you're trying
to do.

any chance on AWS CodeCommit previews functionality?

Mobile:+16463454567

On Tue, Feb 11, 2020 at 4:17 PM Joyce Hao <notifications@github.com> wrote:

[2020-02-11 23:17] Joycehao19 commented on #424
@kziemski Yeah... Sorry I was thinking if there was something happened on our side, didn't pay attention on your logs. ;/
It seems like that your code had some issues.

[code]

[2020-02-11 23:21] kziemski commented on #424
apologies for not being clear  --> the above stuff is what Amplify Console
in chrome console is spitting out.
They weren't errors from my code.
the isFailed is seems like some code related to cloudfront or route53
enumeration if iremember correctly.

Mobile:+16463454567

On Tue, Feb 11, 2020 at 6:17 PM Joyce Hao <notifications@github.com> wrote:

[2020-02-11 23:52] dhait commented on #314
I have a copyright lawyer after me to delete a file and I can't.  This is a big problem.

[2020-02-11 23:54] Joycehao19 commented on #424
@kziemski what is the Branch name, build ID and the time you deploy the app?

[2020-02-11 23:56] kziemski commented on #424
let me close this for now.
i will make sure if it happens again to document these things.

Mobile:+16463454567

On Tue, Feb 11, 2020 at 6:54 PM Joyce Hao <notifications@github.com> wrote:

[2020-02-12 00:05] Joycehao19 commented on #409
Hi @MaximilianFranke , your build are failing on "dev" branch due to a known issue related to the maximum size of the cache artifact that's possible for a given branch. This bug currently limits the maximum size of that artifact to 1GB, which you has exceeded for the "dev" branch with the failing builds (the builds are eventually timing out and causing the failures).

You can work around this by c

[2020-02-12 00:47] Joycehao19 commented on #424
@kziemski Thanks. Would you mind take a screen shot of that page? Please don't post any sensitive information.

[2020-02-12 00:55] Joycehao19 commented on #406
@flyfisherdeveloper Sorry, I thought you own a three-party domain and recently transferred it domain to Route53. Did you try remove your custom domain and add it again?

[2020-02-12 01:21] Joycehao19 commented on #411
@blomm Hi, did you try delete the custom domain and re-add it on the console?

[2020-02-12 01:31] #371 closed

[2020-02-12 02:21] flyfisherdeveloper commented on #406
@Joycehao19 I will try that. Thanks for the suggestion.

[2020-02-12 04:22] jhoffmcd commented on #408
Thanks for the update @Joycehao19, I'm glad to hear the team is on it. I can probably wait of a true fix to this, the work around looks to be a bit bulky and we are able to survive with out it for a while longer I think.

[2020-02-12 07:24] blomm commented on #411
Hi @Joycehao19 @ganipcanot
I couldn't get my subdomains to work, so instead I registered each subdomain as a custom domain.
Thanks very much for your helps on this.

[2020-02-12 07:24] #411 closed

[2020-02-12 08:29] #33 closed

[2020-02-12 08:30] swaminator commented on #210
We currently do not have plans to support Electron app builds in the Console. Closing this issue as won't fix.

[2020-02-12 08:30] #210 closed

[2020-02-12 08:31] #297 closed

[2020-02-12 08:32] #333 closed

[2020-02-12 08:32] #354 closed

[2020-02-12 08:33] idrisov-ri opened #428 "Email notification need satisfy regular expression pattern"
Good day!

For the first time tried to use Amplify Console's  Email notification feature.

 Steps I made:

1. typed email address
2. selected target branch
3. hit "Save" button

every time I make these 3 steps loading spinner spins forever and nothing happens.
SNS topic is not created and subscription confirmation email is not sent.

I made some investigations and found out that API request to `ht

[2020-02-12 09:18] marksy-91 opened #429 "Amplify Backend build error through amplify CI"
We're currently getting the error below when deploying changes on amplify console ci:

![image](https://user-images.githubusercontent.com/35209732/74320680-2c032d80-4dd5-11ea-9830-3423800e450c.png)

The the backend environment that we've connected to this front-end build is 'prod', but it seems to be picking up 'popfit-rel'

[2020-02-12 09:26] sebsto commented on #412
Christophe, see https://github.com/aws-amplify/amplify-js/issues/1613

[2020-02-12 12:58] MaximilianFranke commented on #409
ok thank you, if its happens again. i will try it!

[2020-02-12 14:44] ilyador opened #430 "React app with React-Router deployed on Amplify Console, redirects to index.html"
Whenever I open the app from the root URL and navigate, all is fine.
However, if I go directly to, or refresh `app.com/login` or any other non-root URL, I get redirected to the non-existent `index.html`.

I have tried the solutions from this issue, but nothing seems to work https://github.com/aws-amplify/amplify-js/issues/2498

I did not configure any other routing or URL related things in my app

[2020-02-12 15:20] tomasyaya commented on #59
Hello Guys.
Im copying and pasting the example from AWS docs into the json, but it gives me a parsin errror in the source. . .
Did anyone encounter such a thing?
Cant believe copy paste from the docs don't work . . .

Json from the docs
`[{“source”: “</^[^.]+$|.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>”, “status”: “200”, “target”: “index.html”, “condition”: null}]`

[2020-02-12 15:27] tomasyaya commented on #59
Does somebody know if you can update the routing through the amplify cli?

[2020-02-12 15:40] getbehindthmule opened #431 "Amplify Console - Build Failing"
**Describe the bug**
The build stage is failing when using Amplify Console.

Note that the same application version builds successfully via **npm run build** when run locally on the development mac).

The error occurs in the Frontend stage, but the error is not very informative  :-

2020-02-12T15:11:25.956Z [WARNING]: npm WARN
2020-02-12T15:11:25.958Z [WARNING]: deprecated bower@1.8.8: We don't re

[2020-02-12 17:44] Joycehao19 commented on #431
Hi @getbehindthmule
It seems like you need to add something (--allow-root) to your command.
[code]

[2020-02-12 17:47] Joycehao19 commented on #429
Hi @marksy-91 The reason of `Build failed` is `Environment name should be between 2 and 10 characters(only lowercase alphabets)`(line 7). If you change the Amplify environment name, it should be fixed.

[2020-02-12 18:19] getbehindthmule commented on #431
I will have a look but this '-allow-root' is associated with the WARNING message starting with "Since bower is a user command, there is no need to execute it with superuser permission". I don't believe that this is the cause of the failure. Note that these commands are not invoked manually, but as part of the npm install sequence which runs successfully from my local machine

[2020-02-12 18:29] Joycehao19 commented on #430
Hi @ilyador , did you try
[code]
or change source to:
` </^((?!\.(css|gif|ico|jpg|js|png|txt|svg|woff|ttf)$).)*$/>`

[2020-02-12 19:00] Joycehao19 commented on #431
@getbehindthmule
I am not very sure how to solve your issue now. You could take a look of -allow-root
In the beginning of the logs:
[code]
I think you could also consider to use `Yarn and Webpack or Parcel` or install peer dependencies (Something like `npm install -g npm-install-peers`)

[2020-02-12 19:07] Joycehao19 commented on #428
Hi @idrisov-ri , I just added email notification to my app. It works fine. Could you please refresh the page and re-add the email notification?

What I did:
[code]

[2020-02-12 19:54] Joycehao19 commented on #59
@CaptainChemist were you able to get the 404 rewrite to not redirect to `index.html`? I'm reading conflicting text in different responses so just checking in.

[2020-02-12 19:57] Joycehao19 commented on #408
@jhoffmcd what version of the CLI are you using?

[2020-02-12 20:20] randytorres opened #432 "I can't find my env in the console"
**App Id**: d3u1esrvizobbf
**Region**: us-east-1
**Step**:
**Status**:

**Issue/question**
A clear and concise description of what the issue/question is.

I can't find my env in the console, I can only see older ones. The url provided from `amplify-console` gives this error `App with id: d3u1esrvizobbf not found`. I'm able to make changes to the env from the cli at least but I need to access the r

[2020-02-12 20:29] amey91 commented on #210
Are there any timelines for Electron support?

[2020-02-12 20:56] swaminator commented on #432
Are you sure you're in the right region from which you deployed?

[2020-02-12 21:12] AshwiniRaysecur opened #433 "pagination failure (Invalid pagination token given) on a function"
Description: We have a user view which presents records from a DynamoDB table to the end user. The control causes records to be fetched 10 at a time and a 'next token' is retrieved for pagination to advance the listing when more than 10 records are available. The feature had been working as expected but recently has started throwing an error when the 'next' button is used.

----

Expected result:

[2020-02-12 21:15] ilyador commented on #430
@Joycehao19 Yes, this is what I did. No luck.
<img width="1100" alt="72205123-0cb17180-34b2-11ea-899f-5744d5bc79b0" src="https://user-images.githubusercontent.com/703551/74377879-b8fdb500-4ddc-11ea-8861-96428f8c7897.png">

[2020-02-12 21:19] randytorres commented on #432
Oh wow thats embarrassing 😭I was not in the right region. Thanks for the quick response!

[2020-02-12 21:19] #432 closed

[2020-02-13 00:00] swaminator commented on #433
@AshwiniRaysecur are you using the Amplify Console for hosting this app?

[2020-02-13 00:55] incr3m opened #434 "Keep getting auth errors on console build"
My current builds are failing right now due to auth errors. It happened after I upgrade amplify-cli version on build settings from 3.17 to 4.13.

![image](https://user-images.githubusercontent.com/3125784/74391045-f9d9e600-4e3d-11ea-905a-35d102eec95f.png)

Already tried click that "Re-authenticate app" button on General Settings and rebuld but it still throwing the same issue

[2020-02-13 00:56] Joycehao19 commented on #425
@prasaddattu478 Can you re-deploy your app? If you still face this issue, please let us know.

[2020-02-13 00:59] jcalvoch commented on #425
Hi, I am also experiencing this same issue. Tried to re-deploy as you mentioned and nothing. I am trying to deploy on Oregon dp7ullmksghe and d2mpy2rjd2n3ss. They are pretty much the same, just different attempts.

[2020-02-13 01:18] incr3m commented on #434
ended up using the old amplify/cli version (3.15.0) and the build is working again. Hoping this gets fixed on the latest version :/

[2020-02-13 01:19] SwaySway commented on #434
Hello @incr3m does your schema include two `@auth` directives? See below for an example:
[code]

[2020-02-13 01:54] idrisov-ri commented on #428
Hi, @Joycehao19
Thanks for quick response!

I tried one more time with a short branch name and it worked!
Looks like problem starts only when the branch name is long.

[code]
that works just fine

[code]
and this fails with `400 (Bad Request) InvalidParameter: Invalid parameter: Topic Name` error

Please check if it the same for you.
And thanx again! Now at least we know that with a short branch n

[2020-02-13 03:27] marksy-91 commented on #429
Hi @Joycehao19, thanks, but that doesn't quite explain the issue I'm facing. Although the cli-console output is showing the environment as 'popfit-rel', in actual fact our only backend environments are 'prod' and 'dev'. See below:

![image](https://user-images.githubusercontent.com/35209732/74398821-ec882000-4e6c-11ea-93bf-5c1c4b55083a.png)

For some reason, the CLI doesn't pick up the environment

[2020-02-13 05:04] jcalvoch opened #435 "Getting 403 accessing recently deployed app"
**App Id**: d2keoun3hapo8
**Region**: Oregon (us-west-2)

Getting 403 accessing recently deployed app:

curl -i https://prod.d2keoun3hapo8.amplifyapp.com
HTTP/2 403
content-type: application/xml
date: Thu, 13 Feb 2020 04:47:32 GMT
server: AmazonS3
x-cache: Error from cloudfront
via: 1.1 6970aae0c617a1b9b328fc27b7cb6e3c.cloudfront.net (CloudFront)
x-amz-cf-pop: ORD51-C2
x-amz-cf-id: n54wG0aHLCuGD2g

[2020-02-13 10:07] getbehindthmule commented on #431
thanks for your help, I'll look at changing the default settings auto-configured by amplify for the project

[2020-02-13 10:15] faizanbashir opened #436 "Access Denied error after deploying Vue.js application"
I am trying to deploy a vue.js application, once the deploy completes I am getting the below error:

[code]

[2020-02-13 15:17] AshwiniRaysecur commented on #433
@swaminator Yes, we are using the Amplify Console to host the app

[2020-02-13 16:05] prasaddattu478 commented on #425
Hi Joyce,

I just did a deployment and it got stuck again.

[2020-02-13 16:13] prasaddattu478 commented on #435
We got a similar issue. in our case, index.html was under /xyz/xyz/ subdirectory path instead of being at root level. To fix it we went inside the directory where index.html is present & did a zip. deployed the zip file and we are able to access it.

[2020-02-13 16:14] prasaddattu478 commented on #436
We got a similar issue. in our case, index.html was under /xyz/xyz/ subdirectory path instead of being at root level. To fix it we went inside the directory where index.html is present & did a zip. deployed the zip file and we are able to access it.

[2020-02-13 16:20] jcalvoch commented on #435
@prasaddattu478 thank you for your reply. I did see your post before but in our case the index.html is on the root

[2020-02-13 18:10] teemuniiranen commented on #36
I thought that this could be done by just specifying WebACLId to the generated CloudFormation template under CloudFront distribution but seems like it is not used when requested through amplifyapp.com URLs (although it was created correctly).

[2020-02-13 18:17] jhoffmcd commented on #408
Looks like `4.13.1`

[2020-02-13 18:37] Joycehao19 commented on #429
@marksy-91  For me, it seems like that you used backend environment: 'popfit-rel'.
Did you ever set `popfit-rel` environment? Can you find `popfit-rel` in amplify/team-provider-info.json?

[2020-02-13 19:01] Joycehao19 commented on #428
@idrisov-ri Thank you for reporting this bug. We cut a ticket in team backlog to throw error if customer can't create email notification.

The reason that you can create a email notification of branch `Branch: feature/amplify-setup` is:

[code]

CloudWatch need the branch name satisfy regular expression pattern: [\.\-_A-Za-z0-9]+. You branch name contains '/'. You could reproduce this step in Clou

[2020-02-13 19:11] cslogan-red commented on #400
Update is rolling out and will be available in all regions by 2/18, once available in your region, you'll have a new "Reconnect repository" button in your app under App settings > General:

![Screen Shot 2020-02-13 at 11 01 14 AM](https://user-images.githubusercontent.com/1307688/74469004-ac1aa900-4e50-11ea-8681-6620d02724e9.png)

Clicking this button will allow you to re-authenticate and reconnec

[2020-02-13 21:30] Joycehao19 commented on #433
@AshwiniRaysecur  Hi, we cut a ticket in our customer oncall list, now is in pending of investigation.

[2020-02-13 22:18] nick-secur commented on #433
Thanks we'll stand by and continue monitoring this ticket...

[2020-02-13 23:10] Joycehao19 commented on #425
Hi @prasaddattu478 , I think that is a bug on our console. We cut a ticket in our team backlog, will investigate a fix.

A temporal workaround for manual deployment: Are you interested in `drag and drop`? (https://aws.amazon.com/blogs/mobile/deploy-files-s3-dropbox-amplify-console/)

or you could deploy your app from git providers.

[2020-02-13 23:48] Joycehao19 commented on #430
@ilyador Did you have a sample app we could test? Did you set anything we need to pay attention?

[2020-02-14 02:14] idrisov-ri commented on #428
@Joycehao19 thanx for kind response and explanation!
Throwing an error would be a good solution.

When this issue is not needed any more please feel free to close it or let me know so I"ll close it for myself.

Have a good day!

[2020-02-14 09:27] hamasayu opened #438 "Usage of _LIVE_UPDATES environment variables"
**Please describe which feature you have a question about?**
Usage of _LIVE_UPDATES environment variables is not described in the [public documentation](https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html#amplify-console-environment-variables). Please consider adding description to the docs.

**Provide additional details**
By default, the following environment variable

[2020-02-14 12:56] ilyador commented on #430
@Joycehao19 This is weird: I have one app that works fine, and another that doesn't with the same stack (react + react-router) and same settings.
This is the one that doesn't: https://www.photowin.net/

[2020-02-14 13:35] HumbleBeck commented on #150
Hey, I faced this issue today as well. So what I did is next:
- created service account and gave read access to secrets manager
- attached this account to app in amplify console
- created secret manager secret with ssh key, ssh in body directly as plaintext
- in amplify build settings
[code]
So now each build it will get private key from secrets manager and inject it into env, so whenever you inst

[2020-02-14 18:45] eterry1388 commented on #115
Same issue for us. Build works fine without specifying `test`. But as soon as we put in `test` in the `amplify.yml` config in any fashion, it always fails.

[2020-02-14 19:07] Joycehao19 commented on #425
@prasaddattu478 What is the size of your zip file?

[2020-02-14 19:20] Joycehao19 commented on #438
Hi @hamasayu , `_LIVE_UPDATES: [{"name":"Amplify CLI","pkg":"@aws-amplify/cli","type":"npm","version":"latest"}]` is used to upgrade the amplify cli tool to the latest version. I'll update the documentation. Thanks.

[2020-02-14 19:42] Joycehao19 commented on #435
Hi @jcalvoch , sorry that you have this issue. Did you use manual deploy from S3?

[2020-02-14 19:48] jhoffmcd commented on #288
Seems odd that `aws amplify update-app` has a `--repository` argument available to it if we can't use it :(

[2020-02-14 19:49] Joycehao19 commented on #438
Send PR

[2020-02-14 19:49] #438 closed

[2020-02-14 20:18] jcalvoch commented on #435
@Joycehao19 Manual copy and paste

[2020-02-14 20:21] jcalvoch commented on #435
Update: Tried manual deploy from S3 and I am having the same issue.

[2020-02-14 21:07] jhoffmcd commented on #400
To be clear this will solve the issue where we've renamed our repos and the webhooks are not registering for auto builds right?

[2020-02-14 21:25] cslogan-red commented on #400
@jhoffmcd correct, you'll be able to reselect your updated repo on the dialog.

[2020-02-15 00:07] Joycehao19 commented on #436
Hi @faizanbashir , sorry that you have this issue. Which amplify cli version did you use? Can you provide you appId and region? Thanks.

[2020-02-15 00:17] aprabhakar90 commented on #369
Sorry again for the delay in responding. I have checked this AWS account as well as other AWS accounts and none of them have the CNAME in any CloudFront distribution. This is starting to become an urgent issue as this is going to be our public facing company website soon and we would like this issue resolved as soon as possible. I know my delay in responding doesn't help move this along and I sinc

[2020-02-15 00:21] #422 closed

[2020-02-15 00:23] #421 closed

[2020-02-15 03:48] marksy-91 commented on #429
The ```popfit-rel``` environment doesn't exist in our project, athough, it may have been an environment that we previously used.  Our current amplify/team-provider-info.json is as follows.

[code]

Also, the output from amplify list env is:
[code]

Any further thoughts?

[2020-02-15 05:36] faizanbashir commented on #436
@Joycehao19 I deployed it from the amplify console for continuous deployment, there is no amplify cli involved. Also when I deploy the same vue.js app using amplify cli it works perfectly but using the amplify console it is giving me the aforementioned error. No amplify backend services are used in this application.

[2020-02-16 01:18] MrBokeh commented on #115
For now, I need to use mochawesome-merge@3.0.0, but the merge only merges one random JSON file but not all JSON files...

Here is the "working" test step:
`
test:
  artifacts:
    baseDirectory: cypress
    configFilePath: '**/mochawesome.json'
    files:
      - '**/*.png'
      - '**/*.mp4'
  phases:
    preTest:
      commands:
        - npm install
        - npm install wait-on
        - npm i

[2020-02-16 03:20] MrBokeh commented on #115
I found a working solution by running custom script such as node cypress.js and then merge the report with mochawesome-merge... which is quite hacky...

[2020-02-16 03:21] MrBokeh commented on #115
The way to actually merge the report:
npx mochawesome-merge --reportDir cypress/report/mochawesome-report > cypress/report/mochawesome.json

[2020-02-16 14:12] ShehryarKh opened #439 "sudo command not found? in /amplify.sh?"
** Please describe which feature you have a question about? **
Build fails on deploying Frontend

** Provide additional details**
2020-02-16T03:14:38.602Z [INFO]: DONE  Build complete. The dist directory is ready to be deployed.
2020-02-16T03:14:38.602Z [INFO]: INFO  Check out deployment instructions at https://cli.vuejs.org/guide/deployment.html

2020-02-16T03:14:38.647Z [INFO]: # Executing comma

[2020-02-16 14:48] ShehryarKh commented on #439
i removed the line from Build settings & it worked.

[2020-02-16 14:48] #439 closed

[2020-02-17 08:09] Albert-Gao commented on #257
@Joycehao19 The problem is there is no such section...

![image](https://user-images.githubusercontent.com/18282328/74634885-b549a400-51c9-11ea-9e2c-c7cc64788c67.png)

Where can I find this env var section on Amplify's AWS GUI?

[2020-02-17 08:16] KristineTrona commented on #257
@Albert-Gao that is very strange, the environmental variables, should be there:

<img width="245" alt="Screenshot 2020-02-17 at 09 13 37" src="https://user-images.githubusercontent.com/39855778/74635191-c9f45080-5165-11ea-91ba-26a8fc46149b.png">

[2020-02-17 08:20] #273 closed

[2020-02-17 08:20] #286 closed

[2020-02-17 08:20] #289 closed

[2020-02-17 08:53] SimonLegg opened #440 "Build Fails with Latest Angular CLI (>8.3.21) and devkit"
## Description
Build fails in the console with the most recent versions of @angular/cli and @angular-devkit/build-angular

## Recreation
* Create Angular Project
* Initialise Amplify
* Setup console for frontend build/deployment
* Edit package.json
  * "@angular-devkit/build-angular": "^0.803.25",
  * "@angular/cli": "^8.3.25",
### Recreation Results
* Backend build will succeed
* Frontend build w

[2020-02-17 08:57] SimonLegg commented on #440
## Additional Notes
* Possibly Related - https://github.com/angular/angular-cli/issues/15493
  * seems like the version change has added extra processing, which might be causing resource issues on build servers but no clear solution apart from down grading

[2020-02-17 09:21] Albert-Gao commented on #257
I do not even have the build settings...
OK, so this is not an outdated doc...

Maybe it is because I am not using amplify to manage my front-end code's deployment?

And this disabled the Env Var section for me to use in the back-end code...

[2020-02-17 09:28] Albert-Gao opened #441 "Can not find the Environment variables section in AWS Console."
** Please describe which feature you have a question about? **

This is my AWS amplify console:

![image](https://user-images.githubusercontent.com/18282328/74634885-b549a400-51c9-11ea-9e2c-c7cc64788c67.png)

** Provide additional details**

I don't use Amplify to manage my front-end deployment.
But I want to use the environment variables to control the build of my lambda code.

[2020-02-17 11:02] pbenipal61 commented on #419
Hey, i managed to fix it. It was a DNS problem.

[2020-02-17 12:24] MaximilianFranke opened #442 "Deploy Failed (Build Backend and Build Frontend never run)"
The deploy step failed with this log:
[code]
This happens, since 2h before everthing works fine.
In the Build step is just "Cloning Repositiory" available. The  "Build Backend" and "Build Frontend" Tab is complete missing.  I also tried to build without the cache path in the build settings. Like the descriped workaround of my other issue  #409

AppID:
`App ARN arn:aws:amplify:eu-central-1:06448094

[2020-02-17 12:31] stuartkuentzel opened #443 "error 429 Too Many Requests on build"
Issue Description
Running a small Angular project. Build always fails due to `error 429 Too Many Requests`.

Detailed Steps To Reproduce
As soon as I push to github, it automatically tries to run a build and then errors. It always fails on a different dependency.

Copy and Paste Logs + Error Messages (remove sensitive data)
[code]

Expected behavior
Build completes

Application Details

a. Please

[2020-02-17 12:31] ddotx commented on #442
Extraction completed
Retrieving environment cache...
Retrieved environment cache
Ensuring NPM package '@aws-amplify/cli' is version: 'latest'
Patching NPM package '@aws-amplify/cli' from 1.12.0 to 4.13.3...
Retrieving environment cache...
Retrieved environment cache
Ensuring NPM package '@aws-amplify/cli' is version: 'latest'
 Patching NPM package '@aws-amplify/cli' from 1.12.0 to 4.13.3...

[2020-02-17 12:33] ddotx commented on #442
I think the problem come from amplify version 4.13.3

[2020-02-17 12:40] MaximilianFranke commented on #442
I run already 7 succesfully builds today.  I think there the process should already use 4.13.3 too?!

[2020-02-17 12:53] heitorlessa commented on #443
Having the same issue -- Seems like NPM is throttling everyone as it also happens in my laptop

Update from NPM registry: https://status.npmjs.org/

[2020-02-17 13:02] sachinkarale opened #444 "Blue/green deployment strategy"
Is it possible to configure Blue/Green deployment strategy with Amplify ?

Basically I wanted to use amplify for static website hosting with blue/green deployment strategy, my backends are running on ec2.

[2020-02-17 13:59] stuartkuentzel commented on #443
@heitorlessa thanks for the response. I'll keep an eye on the status, thanks for the link.

[2020-02-17 17:25] heitorlessa commented on #443
hey @stuartkuentzel maybe you want to try again - Successfully deployed 10x in the last 2 hours and no single glitch from NPM this time.

[2020-02-17 18:05] anatonie opened #445 "200 rewrites and custom headers not working"
I have 2 Amplify Apps (both in us-east-2)
**Parent** appId is ```d8l7t3188xrku```
**Child** appId is ```d2odpmx6x4fi0k```
Both are using **master** branch

**Child** deploys a JS file to https://master.d2odpmx6x4fi0k.amplifyapp.com/header.js
**Parent** has a 200 rewrite rule for to send requests for ```/header.js``` to the **child** app's JS file referenced above

JSON for the rewrite rule in **pa

[2020-02-17 19:34] ganipcanot commented on #441
Hey @Albert-Gao can you provide some additional details?  What is your app ID/region?

Also it seems you have only deployed a backend (But not a front-end).

Did you deploy it through the amplify CLI?

[2020-02-17 19:36] ganipcanot commented on #443
This looks to be throttling from NPM side.  Please try it again and see if you are still facing issues.

[2020-02-17 21:14] Albert-Gao commented on #441
It is `dd12d0y1kpown` in `us-east-1`.

I only use amplify for my back-end, from the CLI

[2020-02-18 00:22] stuartkuentzel commented on #443
Builds are running fine now, thanks for the help!

[2020-02-18 00:22] #443 closed

[2020-02-18 05:25] vientang commented on #318
I've encountered an issue that's very similar - in deployment there was an error updating the cloudformation stack because it couldn't find the right API key for AppSync. It was clearly an old api key.

After following the steps to override the Amplify CLI version [setup live updates](https://github.com/aws-amplify/amplify-console/issues/163#issuecomment-536236794), the build passed. Hopefully thi

[2020-02-18 08:46] hepatus opened #446 "Add Gitlab branch Next button is grey"
Hello,

I have setup an amplify app for my reactjs website. I have deployed master branch of gitlab repository with success.

But ... when I try to connet an other branch (development in my example) I can connect to gitlab, I can see my branch list but the "next" button to add my new branch stay disabled even if I wait a very long time

<img width="965" alt="Capture d’écran 2020-02-18 à 09 45 29

[2020-02-18 11:22] MaximilianFranke commented on #442
My builds run again, without real changes, this is good but the random build errors scaries me at the moment. I hope this will not happens in critical moments

[2020-02-18 15:34] jeh26033 opened #447 "Connection Timed Out"
**d2wqg4b36m462q**:
**us-east-1**:
**Done**:
**Complete**:

**Issue/question**
When going to my Custom Domain, I get a ERR_CONNECTION_TIMED_OUT error, and everything seems to be set correctly as far as settings go. Using Route 53. I've done the 'one click' setup, and it succeeded.

**Error message**
ERR_CONNECTION_TIMED_OUT
**Note**: Be sure to check the message for sensitive information.

**Addit

[2020-02-18 16:02] jcalvoch commented on #435
Any update here?

[2020-02-18 16:17] prasaddattu478 commented on #425
The ZIP file size is around 300MB. We tried deploying from S3, drag & drop method. Both ways of deployment got failed. For initial POC we try using the manual process from S3 or drag & drop the zip whichever works. We have a complete pipeline setup in our CICD process which generates a zip file in S3. From S3 we would like to deploy to Amplify.

[2020-02-18 17:00] ganipcanot commented on #446
Can you provide your:

[2020-02-18 17:22] ganipcanot commented on #446
Also - just curious if maybe the branch autodetection feature could help you in this case (https://aws.amazon.com/about-aws/whats-new/2019/07/aws-amplify-console-support-git-based-branch-pattern-detection/):

![image](https://user-images.githubusercontent.com/21091073/74760952-1015e680-5230-11ea-8059-8cd231a4b81a.png)

[2020-02-18 17:36] ganipcanot commented on #447
How long ago did you configure your custom domain?  It can take up to 24 hours:

"Note: It can take up to 24 hours for the DNS to propagate and to issue the SSL certificate. For more information about the status messages, see Associating a Domain."

Ref: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html

[2020-02-18 17:46] ganipcanot commented on #447
You can also try removing and re-adding the domain if it has been more than 24 hours.

[2020-02-18 18:04] ganipcanot commented on #424
Seems it is available when I check here: https://dnschecker.org/#NS/

Closing this issue for now - if you have additional issues please create another ticket.

[2020-02-18 18:04] #424 closed

[2020-02-18 18:20] ganipcanot commented on #341
@mdlavin Are you still experiencing issues?

Also @youjinp are you still experiencing issues (I see recent successful builds so I assume it is now working for you) if so what were you able to do to resolve the issue on your end?

[2020-02-18 18:24] jeh26033 commented on #447
It's been about a week now since I've finished the update. I'll try that now and see if it fixes it.

[2020-02-18 19:34] ganipcanot commented on #435
It looks like there is some misconfiguration in your application.  I tried it in my test account and I am seeing the same issue related to this file: favicon.ico.

![image](https://user-images.githubusercontent.com/21091073/74771205-8e7b8400-5242-11ea-8b6d-21ca3881e8cf.png)

Maybe check that your favicon.ico is in the correct spot?

[2020-02-18 20:21] #447 closed

[2020-02-18 20:40] youjinp commented on #341
Yep, I’ve just tried 4.13.3 and it still gets stuck on preBuild.

I’ve just been using 4.7.0 and it gets built fine.

[2020-02-18 20:52] swaminator commented on #444
@sachinkarale Amplify Console offers atomic deploys and instant cache invalidation which is essentially offers the same functionality as blue-green. With atomic deploys, we only update your site once the build is succesful, and those changes are available instantly. Is there anything else you're looking for?

[2020-02-18 21:46] swaminator commented on #441
@Albert-Gao the env variables are not available as they are related to the CI/CD process.

[2020-02-18 21:56] annaira commented on #113
Hi I have the same problem, I already deleted the running application a few hours ago. How long does it take until the error is resolved?

[2020-02-18 22:40] Albert-Gao commented on #441
and the CI/CD is not for the backend?
For the back-end, I just want to set up some env var which I don't to commit to the repo for the security reason.
How could I do it? Thanks

[2020-02-19 01:24] swaminator commented on #442
@MaximilianFranke let us know if we have to reopen this. Closing for now.

[2020-02-19 01:24] #442 closed

[2020-02-19 04:14] brignano opened #448 "No option to use existing environment for preview"
Hi,

Not sure if this is related to #363 or not but, I don't see any option to configure a default backend for previews in my console anymore. Is that the expected behavior?

I checked the latest [AWS Amplify - Console User Guide](https://docs.aws.amazon.com/amplify/latest/userguide/amplify-console-ug.pdf) and Page 45 seems to indicate that I should expect the view pictured below to have an extra

[2020-02-19 04:38] sachinkarale commented on #444
no, thanks for the clarification.

[2020-02-19 04:38] #444 closed

[2020-02-19 04:53] spac3-monk3y opened #449 "Domain activation is Failed - CNAMEs you provided are already associated"
**App Id**: d2gjgryma4lhpz
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
amplify failed to add connect domain to app.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

[2020-02-19 05:18] spac3-monk3y commented on #449
Deleting domain and add it again solved my issue.

[2020-02-19 05:18] #449 closed

[2020-02-19 11:51] jcalvoch commented on #435
The favicon.ico is on the document root on the same folder than the index.html. I have other React projects like this one deployed on AWS that use the same structure.

[2020-02-19 14:37] ArturKp commented on #400
@jhoffmcd @cslogan-red Doesn't look like I can reconnect my repository if the repo has been renamed. Request returns:

[2020-02-19 15:58] cjuszczak opened #450 "Unable to Add Custom Domain"
**App Id**: d39hhmbxkor2c2
**Region**: us-west-2
**Step**: Adding custom domain
**Status**: Unable to add custom domain

**Issue/question**
Unable to add custom domain in Amplify console.

**Error message**

No option to add domain:

<img width="883" alt="Screen Shot 2020-02-18 at 1 35 29 AM" src="https://user-images.githubusercontent.com/4083073/74849129-351c5f00-52ed-11ea-8f85-c8984a772815.png">

[2020-02-19 16:34] nick-secur commented on #433
Please note this issue is the same as reported here: [aws-amplify/amplify-cli#3411](https://github.com/aws-amplify/amplify-cli/issues/3411)

And it has been fixed in aws amplify version 4.13.4 ...

[2020-02-19 17:10] jhoffmcd commented on #400
@ArturKp same here, tried this morning and got the same errors in the console.

[2020-02-19 17:26] cslogan-red commented on #400
@ArturKp @jhoffmcd you're good to go now if you refresh the console and give it another try, backend resources were still propagating until just now, update is now available in all regions.

[2020-02-19 18:13] jhoffmcd commented on #400
@cslogan-red Works! Thanks for keeping Amplify flexible to our needs 👍 🎉

[2020-02-19 18:33] ganipcanot commented on #400
Yay! Thanks @cslogan-red 👍

[2020-02-19 18:39] #400 closed

[2020-02-19 18:40] #328 closed

[2020-02-19 21:26] swaminator commented on #450
@cjuszczak currently Amplify Console and Amplify CLI do not have the same hosting options. Hosting with Amplify CLI will create and S3/Cloudfront distribution. Please enable hosting through the Amplify Console and the custom domain options will show up.

[2020-02-19 21:27] swaminator commented on #448
@brignano is your repo private? The backend PRs are only enabled for private Git repos.

[2020-02-19 22:19] swaminator commented on #433
This isn't an issue with the Amplify Console and is instead an issue with the service. Closing since reported fixed.

[2020-02-19 22:19] #433 closed

[2020-02-19 22:26] swaminator commented on #437
@olivoil @elimence did you get your issue resolved?

[2020-02-20 01:27] brignano commented on #448
Thanks for the quick reply @swaminator.

Originally, my repository was public but, after noticing pull request previews weren't being triggered, I re-read the documentation and updated my repository to be private. After doing so, I can see pull request previews being successfully triggered but I do not have an option to set the **Backend environment** anymore.

![image](https://user-images.githubu

[2020-02-20 02:44] cjuszczak commented on #450
@swaminator Thanks for following up. That’s disappointing news for sure but I will give that a try. Is there any intent on adding this functionality in the future?

[2020-02-20 15:53] khrome83 commented on #425
@Joycehao19 - hey, we already have our infrastructure to build out the contents in place. Integrating via git connection to GitLab really does not make sense for us since we have an investment in EC2 and Faregate instances to handle our builds.

Additionally, we can not paralyze the builds within Amplify the way that we can externally. So for all purposes, we are just a flat-file site. The zip arc

[2020-02-20 16:44] elimence commented on #437
@swaminator Yes, my issue is resolved.

[2020-02-20 17:33] hepatus commented on #446
I tried, unfortunately it doesn't change anything. What is very strange is that one of my colleagues manages to add a branch without any problem.

appId: d3sw3i683rr12o
region : eu-west-1

[2020-02-20 18:05] ganipcanot commented on #446
@hepatus I just verified this in my test account:

Enable branch autodetection and set the autodetection pattern to "*" meaning "all" or put another way: this will autodetect all your branches automatically with no name restriction!

![image](https://user-images.githubusercontent.com/21091073/74964404-3ec6c500-53c8-11ea-9afe-3d5e2460ab2d.png)

I have observed that once you enable this feature it w

[2020-02-20 18:32] JonVisc commented on #97
@hzhenmin , Re-asking the question that @patleeman asked.

If we use regex to get a capture group, can we reuse that group?
`</^([^\.]+(?<!\/))$/>` will match for:
`/test`

But not match for:
`/test/`
`/test.html`

So if a user hits `https://example.com/test` is there anyway to say we want to redirect them to `https://example.com/test/` using that capture group?

You mentioned the functionality of

[2020-02-20 19:16] ganipcanot commented on #440
This seems unrelated to Amplify specifically - seems on angular side:

An unhandled exception occurred: Call retries were exceeded
                                    See "/tmp/ng-FdB7IL/angular-errors.log" for further details.

If you have questions related to amplify specifically please feel free to open another issue.

[2020-02-20 19:16] #440 closed

[2020-02-20 20:01] #256 closed

[2020-02-20 20:02] ganipcanot commented on #367
Not able to reproduce it etiher - please open a new issue if this continues.

[2020-02-20 20:02] #367 closed

[2020-02-20 20:04] #428 closed

[2020-02-20 20:24] ganipcanot commented on #436
@faizanbashir Can you share your build settings?  There might be something wrong with how you are generating your output/artifacts folder/directory.

[2020-02-20 20:46] SimonLegg commented on #440
@ganipcanot - thank you for your response - I understand your perspective and view but would like to think that there is another way to look at it...
* the Angular CLI works on my machine and builds without issue
* through the Amplify Console - the same CLI fails to build
* this could be explained by build environment differences
* the environment which is incompatible with the latest Angular CLI

[2020-02-20 21:06] deybhayden opened #451 "amplify.sh Killed"
**App Id**: d3bpomoo30yiqc
**Region**: us-east-1
**Step**: Build
**Status**: Failed

**Issue/question**
About 10 minutes into our Vuepress site Build process, the build abruptly dies, and there is no context as to why.

**Error message**
[code]

**Additional information**
The docs build locally without issue. Not sure how to move on, as we've tried all of the following:

* increasing the timeout l

[2020-02-20 21:24] ganipcanot commented on #435
@jcalvoch I was able to get it working to the point where it would load your index.html but your site was still unable to find some CSS files.

When you are uploading the zip folder make sure you **zip the contents of your bulid output and not the top level folder**.  For example **if your build output generates a folder named "build" or "public" first navigate into that folder, select all of the

[2020-02-20 21:26] rpostulart commented on #362
@Joycehao19 Ok, I don't know what that means, but thank you

[2020-02-20 21:29] swaminator commented on #64
@TLaue @rfpedrosa @timothy-baker we have prioritized this work and will update you when we have it ready.

[2020-02-20 21:30] swaminator commented on #64
@rfpedrosa can you be a little more explicit about what you mean?

[2020-02-20 22:03] singledigit opened #452 "Proper rewrites"
** Please describe which feature you have a question about? **
Rewrites and Redirects

** Provide additional details**
I am trying to configure a domain to host both the client and API behind it. The application is a URL Shortener. Here is an example of what I am trying to do using use cases.

1. User hits https://mydomain.com -> directed to the amplify console application (including all resource

[2020-02-21 00:43] ganipcanot commented on #429
@marksy-91 Could you give your appId and region so we can look into it further?

[2020-02-21 00:54] steverandy commented on #256
@ganipcanot is this issue fixed now?

[2020-02-21 01:09] ganipcanot commented on #256
@steverandy

- I closed it based on age
- There is a workaround for now
- We are aware of users having issues with gatsby sites and are prioritizing that work

If you want to re-open for tracking purposes feel free.

[2020-02-21 03:04] marksy-91 commented on #429
@ganipcanot we were able to bypass the issue by creating an `amplify.yml` file in our repository and deleting the backend environment in the AWS Amplify console.

If you're still interested in investigating though, our App Id is `db28ewqe9qw8o`

[2020-02-21 08:37] hepatus commented on #446
thank you @ganipcanot

I tried to setup Branch autodetection and a commit on all branches but it doesn't work anymore.
My new was not added;
And when I try manually, the next button is always disabled 👍
![image](https://user-images.githubusercontent.com/15123428/75017654-c1fe1e80-548d-11ea-8f77-f1a6b88dc325.png)

[2020-02-21 13:30] ilyador commented on #430
@Joycehao19 I think I know what went wrong: for some reason, my domain is no longer managed by the Amplify console.
When I go to the URL I still get to the app, but It does not appear in the domain management section. When I try to connect it again I get an error that it is already in use.

[2020-02-21 14:12] ilyador opened #454 "Domain disconnected from management console, but still connected to hosting"
**App Id**: `d1cmyetdr5npbg`
**Region**: eu-central-1
**Step**:
**Status**: Connected the domain, but it no longer appears in the Amplify console.

**Issue/question**
I have registered a domain with an Amplify app. At first it worked fine, but later I realized I have a redirects issue. This is when I saw that the domain does no longer appear in the console. The URL still works, but I can no longer

[2020-02-21 16:16] husamuddin commented on #296
any anydate?

[2020-02-21 16:16] husamuddin commented on #296
any update on this?

[2020-02-21 17:16] thedgbrt commented on #177
@swaminator I've used the console extensively for months, and I always have a minimum of 2min backend build times, even though I almost never make changes to it. Any idea why?

[2020-02-21 19:28] ganipcanot commented on #454
@ilyador You can find your appID within the app arn:

![image](https://user-images.githubusercontent.com/21091073/75065186-368c8980-549d-11ea-99a4-dfadbc475f46.png)

[2020-02-21 20:55] ilyador commented on #454
@ilyador thanx, so the number I put is correct: 007140722602

[2020-02-21 21:43] gwryssekk commented on #296
@steverandy @husamuddin @canofpopcom @matteomelani @abouroubi @maxnatt

Hi All.  Just wanted to update everyone that we have identified a fix for this issue and will be rolling it out soon.

[2020-02-21 22:21] swaminator commented on #454
@ilyador no.. the appid is after the /

[2020-02-21 22:33] ilyador commented on #454
@swaminator got it: `d1cmyetdr5npbg`

[2020-02-21 22:40] ganipcanot commented on #454
That’s actually your account id.  In the image I posted above the appId is “d14bgamial4wrt”.

[2020-02-22 14:38] ilyador commented on #454
@swaminator `arn:aws:amplify:eu-central-1:XXXXXXXX:apps/d1cmyetdr5npbg`

[2020-02-23 00:21] singledigit commented on #452
So here is some more info. The following works but seems more than needed.

[code]

I feel like I could reduce this with soimething like...

[code]

[2020-02-23 11:05] aleksejkozin commented on #316
@kahdojay hi
I have the same issue, can you help me?

[2020-02-23 14:30] stigalvestad opened #455 "Cannot edit build commands when connecting frontend web app - due to CSP?"
I've selected Github repo, and I've come to step 2, where I should "configure build settings". I want to edit the auto-generated build and test settings, so I click "Edit". But in the dialog that opens, I cannot edit anything. In the Chrome console, I can see the following error:

My chrome version is:
Version 80.0.3987.116 (Official Build) unknown (64-bit)

[2020-02-23 14:35] stigalvestad commented on #450
This information should be stated on the "Domain management" section - I also spent time trying to understand why I could not setup my custom domain - when I had an app and available domains in Route53, until I found description given by @swaminator .

[2020-02-23 14:37] jcalvoch commented on #435
Awesome. That's what I needed to know, thank you for your support.

[2020-02-23 14:37] #435 closed

[2020-02-23 18:24] aleksejkozin opened #456 "Amplify github pull request previews are not working"
1. Issue Description
Amplify console Previews feature is not working
I enabled this feature for my branches and installed the github app and have pull requests open. But I can't see the pull requests in Console and I have no Amplify active checks in the pull requests

2. Detailed Steps To Reproduce
- Created blank Gatsby application in a github repository subfolder
- Have basic amplify.yml in the

[2020-02-23 19:03] aleksejkozin commented on #456
I see
This restriction is not prominent, I missed it

[2020-02-23 19:03] #456 closed

[2020-02-23 22:02] vientang commented on #441
I'm curious about this too. If I misread the documentation, please let me know. Here's my setup.

I'm using Amplify Console to deploy my front end and back end. In my front end code (React), I've configured Amplify with the env vars.

[code]

I can read these locally. But when its deployed, whether through CI/CD or manually clicking the "Redeploy this version" button, the errors I get when I visit

[2020-02-24 06:16] panslava opened #457 "Restart app to apply new env variables"
** Please describe which feature you have a question about? **
Is it possible to restart react frontend app manually? I just changed environment variables in aws amplify gui and I want app to restart to apply them

** Provide additional details**

[2020-02-24 11:38] nagey opened #458 "redirects are working, but I don't know why"
**App Id**: d2daw8z19isuby
**Region**:us-east-1
**Step**:verify
**Status**:complete

**Issue/question**
I've recently installed storybook-static as a build step on my branch `build-storybook`

This means (I thought), that I need two rules ideally with the ability to stop after one matches (but IDK if these redirects do passthrough like htaccess does).

I added the rule:
[code]
and it didn't work.

[2020-02-24 11:45] nagey commented on #458
ok, so i do know why they weren't "breaking" when I removed the rule, it was just redirecting everything to the index file first and I didn't notice.

However, this still leaves the question of how do I *exclude* a path from being matched? I assume it has something to do with the `condition` field, but can't find docs on how that works (beyond for geographies)

[2020-02-24 18:17] Joycehao19 commented on #457
@panslava do you mean redeploy the app? If you click `redeploy this version` on the specific branch of your app, the app will be redeployed and applied all of environment variables.

[2020-02-24 18:34] swaminator commented on #329
@ckamps to connect your GitHub account we use GitHub oauth. The scopes are specified here and are full access: https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/#available-scopes

However, the service stores only a deploy key in our account, thus keeping read-only access to your repo.

[2020-02-24 18:34] #329 closed

[2020-02-24 18:54] Joycehao19 commented on #455
@stigalvestad Thank you for reporting this bug. We will investigate on this issue. I tested on  Version 80.0.3987.106 (Official Build) unknown (64-bit) and
Version 80.0.3987.122 (Official Build) (64-bit)
They all works fine. If you refresh the page and reconnect your app, would it work? If you don't mind, would you mind upgrade chrome to version 122 and try connecting your app?

[2020-02-24 22:12] timeconsumer opened #459 "Amplify Build configuration, Lambda environment variables being overwritten"
** Please describe which feature you have a question about? **
Amplify Build Preview

** Provide additional details**
I have previews enabled for my git repo and when I build using the build settings file configured, the build wipes out the existing environment variables for the Lambdas configured for hooks such as PreSignup, CustomMessage...etc. Am I missing something as to how this is supposed t

[2020-02-24 22:44] Joycehao19 commented on #459
Hi @timeconsumer , did you follow the instruction here: https://egghead.io/lessons/react-how-to-enable-pull-request-previews-with-amplify-console-hosting

[2020-02-24 22:45] #392 closed

[2020-02-24 22:49] Joycehao19 commented on #369
@aprabhakar90  What is the error message that you get?

[2020-02-24 22:49] dyangelo-grullon opened #460 "Multiple frontends: What is the workflow for pulling programmatically"
**Which Category is your question related to?**
`amplify pull` and https://aws-amplify.github.io/docs/cli-toolchain/quickstart#multiple-frontends

**Amplify CLI Version**
4.12.0

**What AWS Services are you utilizing?**

Amplify, Cognito, Lambda, AppSync and more.
https://aws-amplify.github.io/docs/cli-toolchain/quickstart#multiple-frontends

I have three environments maintained in a separate repo

[2020-02-24 23:00] Joycehao19 commented on #454
@ilyador Do you mean that you connected an app, then you connected it again? Can you see 2 same app on `All apps` page? If you do, you need to remove the custom domain from the app you don't use and add domain to the new app.

[2020-02-24 23:26] Joycehao19 commented on #458
@nagey Hi, what do you mean by`how do I exclude a path from being matched?` ?
Are you looking for something:
(/index.html will go to /index.html, other 200 response pages will go to /abc.html)
| Source  | Target | Type |
| ------------- | ------------- | ------------- |
| /index.html  | /index.html  | 200 |
| /<*>  | /abc.html  | 200  |

[2020-02-24 23:30] nagey commented on #458
@Joycehao19 no — my current rule matches any url that doesn't have a file extension, or has a file extension that is not one of one of `css, woff, png, gif, ico, js, jpg, json, png, txt, svg, woff, or ttf`

I want to do the same thing, but also have it not include urls that start with `storybook`