[2020-10-05 17:48] #932 closed

[2020-10-05 17:51] hisham commented on #1104
Yes. I'm just curious why my build image always defaults to 1.12.0 of the amplify cli each time?

[2020-10-05 17:58] ganipcanot commented on #934
Looks like the app associated with `d2pjmkqzpaoen9` has since been deleted.

If you are still experiencing issues you can try following these steps:

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use www.domain.com on this app
- You can use other h

[2020-10-05 17:58] #934 closed

[2020-10-05 18:04] ganipcanot commented on #976
Sounds like you got a handle on it - if you are still having issues please re-open this ticket.

[2020-10-05 18:04] #976 closed

[2020-10-05 18:09] ganipcanot commented on #1112
It looks like this domain is active and available.  If you are still experiencing issues please re-open the ticket.

**Else you can try the following:**

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use www.domain.com on this app
- You can use oth

[2020-10-05 18:09] #1112 closed

[2020-10-05 18:11] ganipcanot commented on #1113
It looks like this domain is active and available.  Closing for now, if you are still experiencing issues:

**You can try following these steps:**

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use www.domain.com on this app
- You can use other hos

[2020-10-05 18:11] #1113 closed

[2020-10-05 18:34] ericclemmons commented on #412
@damian-tripbuddi If you have more information or suggestions, please share 🙏

[2020-10-05 19:27] litwicki commented on #1104
That's the version in place on the default image, but we are in the process of updating that within the next month or two in fact.

[2020-10-05 19:28] litwicki commented on #115
@fitzgers @AustinZhu we are re-enabling individual regions after they have been verified with the appropriate updates. That will begin today with eu-west-2.

[2020-10-05 19:42] #1104 closed

[2020-10-05 21:11] ganipcanot commented on #1093
Looks like this app has since been deleted - resolving for now.  If you're still experiencing issues you can re-open the ticket.

**Otherwise you can try following these steps:**

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use www.domain.com on

[2020-10-05 21:11] #1093 closed

[2020-10-05 21:13] ganipcanot commented on #1091
Looks like this app has since been deleted.  If you are still experiencing issues please re-open the ticket and provide the new `appId` and `region`.

**Else you can try following these steps:**

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use ww

[2020-10-05 21:13] #1091 closed

[2020-10-05 21:15] ganipcanot commented on #1071
Looks like the domain associated with this app is available and running.

**If you are still experiencing issues you can try these steps:**

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use www.domain.com on this app
- You can use other hostnames,

[2020-10-05 21:15] #1071 closed

[2020-10-05 21:16] ganipcanot commented on #1070
Looks like this appId has since been deleted.  Going to resolve this ticket.

**If you are still experiencing issues you can try following these steps:**

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use www.domain.com on this app
- You can use ot

[2020-10-05 21:16] #1070 closed

[2020-10-05 21:20] ganipcanot commented on #1049
Looks like this app has since been deleted - moving to resolved.

**If you are still experiencing issues you can try following these steps:**

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use www.domain.com on this app
- You can use other hostname

[2020-10-05 21:20] #1049 closed

[2020-10-05 21:23] ganipcanot commented on #757
Looks like the domain associated with this application is up and running - closing this issue.

**If you are still experiencing issues you can try following these steps:**

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use www.domain.com on this ap

[2020-10-05 21:23] #757 closed

[2020-10-05 21:27] ganipcanot commented on #894
Looks like the domain associated with this appId `df53bmrf7e6ui` is up and running.  Resolving this ticket for now.

**If you are still experiencing issues you can try following these steps:**

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use www.

[2020-10-05 21:27] #894 closed

[2020-10-05 22:37] ganipcanot commented on #1088
It looks like you have multiple domains configured for this application - all of which appear to be working now.

**If you are still experiencing issues you can try following these steps:**

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use www.dom

[2020-10-05 22:37] #1088 closed

[2020-10-05 22:44] ganipcanot commented on #1110
Could you share your `appId` and `region` please?

Also have you tried [this](https://forum.ionicframework.com/t/cannot-find-module-ionic-native-camera-ngx/190719)?

[2020-10-05 22:50] ganipcanot commented on #1108
Looks like the app was successfully deployed here: `https://cameras.d32brpwi32pe77.amplifyapp.com/`.  Closing for now.  If you are still experiencing issues please re-open this ticket.

[2020-10-05 22:50] #1108 closed

[2020-10-05 22:55] ganipcanot commented on #1109
It looks like you were able to figure this out since the link is now working as far as I can tell.

If you are still experiencing issues please re-open this ticket and provide your `appId` and `region` (appId is part of your app ARN in the `General` tab under `App Settings`

[2020-10-05 22:55] #1109 closed

[2020-10-05 23:12] ganipcanot commented on #1114
Check here: https://github.com/aws-amplify/amplify-console/tree/master/images

Closing - please re-open if you have additional questions.

[2020-10-05 23:12] #1114 closed

[2020-10-05 23:27] mansiva commented on #177
+1

[2020-10-06 03:58] aeflorezm commented on #1103
Sure, my apologies, I missed it before the id is: d1m6sqvqt0dsa5

[2020-10-06 06:51] Espen-Ellevseth commented on #171
I also managed to remove the password using @alanpilloud's procedure with the difference that my password was global.

What I did:

1. Turn off the global password
2. Set a branched password and save.
3. Remove the branched password using the procedure (Removing the text in username/password and setting public).

[2020-10-06 07:32] joshclawson opened #1115 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d117c2egjv0rin
**Region**: us-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is:

Attempting to add a custom domain to amplify is failing though I've ensured the correct configuration in Cloudflare multiple times. I've tried with proxy on and off.

**Error message**
If there is an error message, pleas

[2020-10-06 13:37] PeteDuncanson commented on #1031
I'm having a similar error when our CI is trying to do a pull. Any pointers on what the issue actually is and what I can do to clear it?

[code]

[2020-10-06 13:46] tscole commented on #115
After previous successful deployments in eu-west-2 I am now seeing issues again. As before, large static side with tens of thousands of files is hanging in the deploy phase.

App ID: d3iczrv56cp0p5

[2020-10-06 14:23] skoch commented on #1101
## Solved.

Steps to re-authorize provider as follows.
1. Navigate to personal Github account (or where auth has already been granted)
1. Settings -> Applications
1. You may see Amplify listed in the first tab however you are concerned with the `Authorized OAuth Apps` tab
1. From the `Authorized OAuth Apps` tab, Revoke access.
1. Navigate to your Amplify app and then click the `Reconnect repositor

[2020-10-06 14:23] #1101 closed

[2020-10-06 15:02] elliottyates opened #1116 "Easier access to pull request preview build results"
**Is your feature request related to a problem? Please describe.**
From what I can tell, seeing github-linked preview build/test results is only possible by manually going to the Preview part of the Amplify console and clicking into one of the `pr-*` links.

**Describe the solution you'd like**
The reported github status for the build would also provide a link directly to the build results (not ju

[2020-10-06 15:04] elliottyates commented on #538
I believe we have seen this issue when a pull request based off of a feature branch (vs main branch) was rebased against master (after the feature branch was merged, github automatically rebased it). It did not generate a build/deploy for the secondary pull request. (Actually, I'm not sure why a preview build/deploy wasn't created in the first place for that feature-branch-derivative pull request.

[2020-10-06 15:10] duiliodaniele commented on #1110
o my god! .. I see that 3d but I didn't see the difference .. I try just now it works!!

thank you very much!

[2020-10-06 15:10] #1110 closed

[2020-10-06 18:32] ganipcanot commented on #918
Some references:
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error
https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

These guides are helpful for getting started with custom domains, for existing domains there are number of steps that will need to be completed (as outlined in the docs above) depending

[2020-10-06 19:01] Jattwood90 commented on #1035
So I managed to delete the app, via the AWS CLI. Every command I was running told me it no longer existed, so in my mind there shouldn't have been a confliction.

However, when I tried the process of linking the domain to the new app I still received an error message. I have a feeling it's something to do with the security certificate that still appears to be linked to the previous app. Numerous a

[2020-10-06 21:06] swaminator commented on #70
@shankinson @kylegwalsh @ryanbagwell can you please confirm?

[2020-10-06 21:09] ryanbagwell commented on #70
@swaminator looks good on my end. Many thanks.

[2020-10-06 22:29] aethr commented on #925
I've been told that this is related to #70 , which has a fix being deployed, and I've been instructed to try re-deploying my app to see if the issue is resolved. I'll report back here once I've had a chance to verify.

[2020-10-07 04:52] sapasaa commented on #965
hi there, did you fix it?

[2020-10-07 07:56] SFaraji commented on #1042
@Athena96, any solution?

[2020-10-07 07:57] SFaraji commented on #1042
This bug is very annoying and causes integration manually.

[2020-10-07 10:13] carlcassar commented on #97
Can we please have an update on this issue?

I can confirm that @cmaycumber's solution works, but query parameters are an essential feature of web apps. We often don't have control over the code that is calling the uri and can't enforce the addition of a trailing slash.

In my case, I am unable to use [Utterances](https://utteranc.es/) until this issue is resolved since the token is appended to a

[2020-10-07 11:28] daroczig commented on #550
I'm also experiencing this issue.

[2020-10-07 12:37] shankinson commented on #70
Appears to be fixed.

[2020-10-07 13:14] anubnair commented on #965
not yet for me!

[2020-10-07 13:17] Erlpil commented on #833
We also have to leave Amplify for projects with this security requirement. Would love to be able to disable TLS 1.1 or bring our own SSL certificate ref: #56

[2020-10-07 13:29] asatvilker commented on #965
If your stuck on the same page i was in that screenshot, and ur domain is with goDaddy then the steps I mentioned above should work. Remember when you click actions > view dns records. The value it shows for the CNAME has to be put in the current CNAME record you have already put in from the step before. So ur updating a current dns record not creating a new one. Maybe try starting from the start?

[2020-10-07 13:46] kylegwalsh commented on #70
@swaminator The issues was fixed on our end as well.

[2020-10-07 15:34] ibrahimcesar opened #1117 "Configure build settings not editable on hosting creation"
** Please describe which feature you have a question about? **
I'm using amplify hosting in order to make a CI/CD pipeline for NextJS apps. And works great! But every time I add a new env and need to edit the configure build settings on console, the edition is "disabled", and I need to change the default ".next" to "out".

** Provide additional details**
- Only in the creation. After that I can ed

[2020-10-07 15:45] mansiva opened #1118 "Set build time in environment variable"
** Please describe which feature you have a question about? **
Amplify Console build settings

** Provide additional details**
Using an Amplify project setup with continuous deployments, I would like to know if there is a way to set an environment variable that contains the datetime or timestamp of when the build was made.

We currently have an environment variable in the console `REACT_APP_VERSIO

[2020-10-07 16:01] ilyador opened #1119 "Gatsby custom URL using Reach Router is being ignored"
this is my gatsby-node.js file:

[code]

The paths should be configured in Reach Router, and this also works fine in Netlify.
In Amplify I get the "no permissions" page. Is there anything I should configure to get it working?

<img width="764" alt="Screen Shot 2020-10-07 at 17 00 28" src="https://user-images.githubusercontent.com/703551/95356476-9d40a500-08be-11eb-8910-55a41e076da0.png">

This is

[2020-10-07 16:12] ganipcanot commented on #1117
You should be able to add the build settings to your repository in the root directory.  Please see: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html.

Namely: `Save the build settings in your repository - Download the amplify.yml file and add it to the root of your repository`

If you are still experiencing issues please re-open the ticket.

[2020-10-07 16:12] #1117 closed

[2020-10-07 16:48] ganipcanot commented on #1058
Are you doing a manual deployment via the console?  Have you checked [this documentation](https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html).

Specifically: `When you create the zip folder, make sure you zip the contents of your build output and not the top level folder. For example, if your build output generates a folder named “build” or “public”, first navigate into that

[2020-10-07 17:50] #70 closed

[2020-10-07 18:29] ganipcanot commented on #925
Working on a fix which is actively being deployed: https://github.com/aws-amplify/amplify-console/issues/70#issuecomment-699150598.

should be live in `eu-west-2` now... slowly rolling through our pipeline to all regions.

For now you can test in `eu-west-2`.  For `ap-southeast-2` it will probably be ready by early/mid next week.

[2020-10-07 20:15] p-bustos opened #1120 "Domain activation is Failed - DNS record points to another CloudFront distribution."
**App Id**: d1wvmtd4svhkjn
**Region**: ca-central-1
**Step**: Domain activation
**Status**: Failed

when trying to setup a custom domain in amplify we get the error below, we look in our cloudfront distribution console and it is empty, we see no distributions at all, we would expect to see the previously setup environments

**Error message**
Error message: One or more aliases specified for the dis

[2020-10-07 21:18] litwicki commented on #115
@tscole we've re-enabled the new deployer service in eu-west-2. We're not seeing any failures, but can you please let us know if you're not able to proceed?

[2020-10-07 21:25] tscole commented on #115
@litwicki it seems to be working today. I can see both my environments appear to have successfully deployed. Will let you know if I see any further problems

[2020-10-07 21:26] ibrahimcesar commented on #1117
But even if create a file, still not able to edit in the first run... so just reporting some kind of error in the UI of Amplify

[2020-10-07 22:40] sapasaa commented on #965
Yep! deleted all DNS records that I made and started again.

[2020-10-07 22:57] ganipcanot commented on #1120
It looks like you still have an application associated to the domain in question under appId `d5chxq18wr8ul` in `us-east-2`.

[2020-10-07 22:59] Trevor-mc2 commented on #412
Could someone please update https://aws.amazon.com/blogs/mobile/ssr-support-for-aws-amplify-javascript-libraries/ to change `component: "@sls-next/serverless-component@1.16.0"` to `component: "@sls-next/serverless-component@1.17.0"`?

[2020-10-07 23:00] ganipcanot commented on #1118
You could probably use `AWS_COMMIT_ID` for this.  Ref: https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html

[2020-10-08 02:45] aethr commented on #925
@ganipcanot thanks for updating this ticket.

My team member deployed our Amplify app to `eu-west-2` this morning but unfortunately we are not seeing a resolution to the 404 responses being mangled and returned as 301s. I'll update this ticket today or tomorrow with some more details of what we tried, but it will essentially be the same as above, just in `eu-west-2`.

[2020-10-08 04:54] michaelbrewer commented on #177
+1 some issue

[2020-10-08 05:10] coshua opened #1123 "502 InternalServerError when API fetching"
**Describe the bug**
I use amplify for full-stack application deployment. When I fetch API with the backend environment, an error occurs.

**Details**
I set CORS in the backend environment. However, CORS error occurs.

**Error Message**
Access to XMLHttpRequest at 'https://s8b795ky1j.execute-api.ap-northeast-2.amazonaws.com/dev/items/result' from origin 'https://test.jutopia.net' has been blocked

[2020-10-08 07:05] jericopulvera opened #1121 "Domain activation is Failed"
**App Id**: dptgqyo1az3e7
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain activation failed and I followed the steps correctly.

**Error message**
Something went wrong. Please refer to our troubleshooting guide below to diagnose the issue. After fixing the issue, choose retry below. If retrying fails, please create an issue in our GitHub issue t

[2020-10-08 08:31] okaluhina opened #1122 "Domain activation is stuck in pending state"
**First App Id**: d31kllttcnaaf0
**Second App Id**: d2ecrnu0hed04n
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Pending

**Issue/question**
Due to some bureaucracy issues the CNAMES were added too late and now app is stuck in pending domain activation state. Is there some way to manually trigger aws to restart domain activation step?

**Additional information**
![image](https://us

[2020-10-08 09:03] isi-gach commented on #115
@litwicki, do we know when would be the rolling out to `eu-west-1`?

[2020-10-08 13:26] p-bustos commented on #1120
where can I see that application? it does not show on our cloudfront? our cloudfront dashboard is empty

[2020-10-08 16:35] tslater commented on #357
@cslogan-red I am having a hard time finding the "re-authenticate app" button in general settings...

![Uploading image.png…]()

[2020-10-08 16:36] tslater commented on #357
@cslogan-red I am having a hard time finding the "re-authenticate app" button in general settings...

![image](https://user-images.githubusercontent.com/449326/95487852-13dab280-0952-11eb-9670-2512bfa4879c.png)

[2020-10-08 16:44] hsspain commented on #115
The new deployer service has been enabled in `us-east-2`.  We will update this thread as more regions are enabled.

[2020-10-08 17:36] mansiva commented on #1118
Thanks, good idea. I saw that there's also a `AWS_JOB_ID` which works even better. Still would have been nice to have a datetime value though.
[code]

[2020-10-08 17:36] #1118 closed

[2020-10-08 17:39] ganipcanot commented on #1073
@Liguo-Ma could you share your `appId` and `region` please?  Also we had a fix for 404 re-writes that is deploying now but should be live in `eu-west-2` and `us-east-2` if you wanted to give it a try in one of those regions.

[2020-10-08 17:42] ganipcanot commented on #1092
@hoffination Could you share your `appId` and `region` please?

[2020-10-08 17:47] ganipcanot commented on #1092
Also can you confirm: It looks like you're using a build setting YAML for monorepo but it looks like you only have 1 application defined.  Is that your intention?  [Here is the reference doc for mono repo config](https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#monorepo-configuration).

[2020-10-08 18:12] litwicki commented on #115
@isi-gach I can't give an exact date yet, but I can say it's in progress.

[2020-10-09 00:17] swaminator commented on #1122
@okaluhina can you try to delete and readd the domain.

[2020-10-09 00:21] swaminator commented on #1074
CLosing.. need more info.

[2020-10-09 00:21] #1074 closed

[2020-10-09 03:30] swaminator commented on #725
@nagey this has been resolved.

[2020-10-09 03:30] #725 closed

[2020-10-09 03:37] swaminator commented on #94
@nomiddlename @colinking @alexkates a fix has been deployed.

[2020-10-09 03:37] #94 closed

[2020-10-09 03:43] #900 closed

[2020-10-09 03:49] #587 closed

[2020-10-09 03:49] #559 closed

[2020-10-09 03:50] swaminator commented on #807
This has been fixed.

[2020-10-09 03:50] #807 closed

[2020-10-09 03:57] swaminator commented on #1080
@adrian-kriegel we have reverted the behavior of storing the last 6 builds based on a lot of complaints. This should work for you now.

[2020-10-09 03:57] #1080 closed

[2020-10-09 04:00] #475 closed

[2020-10-09 04:02] swaminator commented on #704
@tomyitav the version should show in App settings > Build settings > Live updates

[2020-10-09 04:03] #848 closed

[2020-10-09 04:07] swaminator commented on #923
@Dextavision appears the headless CLI doesn't work well with Aurora. Transferring to the CLI repo.

[2020-10-09 04:08] #1006 closed

[2020-10-09 04:17] swaminator commented on #1043
@SandeepKoparde @Kyohey-Kondo the tutorial has been updated: https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/module-three/

[2020-10-09 04:42] swaminator commented on #1119
@ilyador this seems to be working now?

[2020-10-09 04:45] swaminator commented on #1107
@jngbng we support custom headers: https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html

[2020-10-09 04:53] #1106 closed

[2020-10-09 06:36] okaluhina commented on #1122
@swaminator  I could, but the problem is that will change CNAMES, and bureaucracy is not going anywhere any time soon. So I would really hoping for another solution. Am I right, there is no such solution?

[2020-10-09 06:39] swaminator commented on #845
@hisham @simpson please check this out: https://gist.github.com/swaminator/6270806f38048552af9ce699a568a581

[2020-10-09 10:15] ilyador commented on #1119
Yes, I added the following 200 redirect in the Amplify console:

From '/webinar/<*>' to '/webinar/index.html'

[2020-10-09 12:59] campbellwarren opened #1124 "An error occurred during the publish operation"
** Please describe which feature you have a question about? **
AWS Amplify Console

** Provide additional details**
I'm trying to follow the tutorial to create a fullstack app with node/react/graphsql (https://docs.amplify.aws/start/getting-started/hosting/q/integration/react).  I get all the way to the very last step, (amplify publish) and I get an error:
√ Zipping artifacts completed.
× Deployme

[2020-10-09 14:48] tscole opened #1125 "Redirection Rules"
I am trying to use the Rewrites and Redirects section to add a large number of rules (around 11,000) via a JSON object in the text editor. When I click save the page hangs / nothing seems to happen.

Is there a limit to the number of rules I can have? Is there another (better) way for me to upload my redirect rules?

Thanks

[2020-10-09 15:50] hoffination commented on #1092
@ganipcanot my region is `us-east-1` and appId is`d2kf333b37g83y`

Ah, yes. I'm in a monorepo with only one Amplify app. The other folder in the repo has a AWS CDK configuration. I went with this approach because I wanted to access everything in the subfolder and thought that `appRoot` was a good way of getting at the subfolder without having to change directory across the each command.

I can giv

[2020-10-09 16:32] ganipcanot commented on #1124
Would you be able to share your `appId` (It's part of the app ARN on the General Settings page) and `region`?

[2020-10-09 16:57] p-bustos commented on #1120
Found the deployments

[2020-10-09 16:57] #1120 closed

[2020-10-09 16:58] ganipcanot commented on #1125
Currently this is a service limitation (a large number of rewrite/redirect rules). We have opened an internal ticket to track this item and treating it as a high priority. Unfortunately we cannot provide a time estimate to when this will be resolved.

[2020-10-09 17:04] litwicki commented on #1125
@tscole In addition to what @ganipcanot said above, there is an upper bound we will be working to define/publish for customers, but in the meantime if possible the workaround would be to publish a subset of the 11,000 rules which will work until you've hit that limit.

[2020-10-09 17:28] tscole commented on #1125
What is the current limit?

[2020-10-09 18:30] campbellwarren commented on #1124
d2i4pheun49pcp
us-east-1

Note: I have been able to workaroud the problem by zipping the contents of the build folder,uploading to S3 and importing. 'drag and drop' failed similarly to "amplify publish".  While the workaround helps, I would love to be able to get it working as it should.

[2020-10-09 19:51] litwicki commented on #1125
We aren't certain yet what the exact number is, but are working on it. Can you ping aws-amplify-customer@amazon.com with your appId and we can see about your specific scenario?

[2020-10-09 20:26] tomyitav commented on #704
It says "No live package updates configured". Should I update the build image setting? @swaminator

[2020-10-09 23:24] azeveco commented on #530
I'm facing the same problem. I'm zipping the dist and nothing seems to work.

THe funny thing: earlier today we deployed without a problem. And before this one that is stuck, we deployed to staging environment. Now trying to deploy to production and I get this message.

Any clues?

[2020-10-10 04:29] #1099 closed

[2020-10-10 04:30] anubnair commented on #1122
You need to create NS records and that will resolve the problem

[2020-10-10 05:50] lucaluke88 commented on #530
be sure that you zip the browser subfolder of dist in order to have the index.html and the First level files of your project as the First level of the zip (no zip with folder browser as only first level child, for clarity). Doing this, you should have a safe deploy

[Luca Costantino - Chat @ Spike](https://spikenow.com/r/a/?ref=spike-organic-signature&_ts=pycl1)	[pycl1]

On October 9, 2020 at 23:2

[2020-10-10 15:15] hisham commented on #845
@swaminator I took a brief look. It involves using the amplify pull command, does AWS Amplify Console support this command in a headless way?

[2020-10-10 20:35] 11grossmane opened #1126 "Sound Bug"
When I deploy my site on Amplify, my website doesn't have any sound.  When I run it locally, the sound is there.  When I build a production version locally, the sound is there, but when it gets deployed through Amplify something gets rid of it.  Here is my build file.

`
version: 0.1
frontend:
  phases:
    preBuild:
      commands:
        - nvm install 13.8.0
        - nvm use 13.8.0
        - n

[2020-10-10 20:35] 11grossmane commented on #1126
version: 0.1
frontend:
  phases:
    preBuild:
      commands:
        - nvm install 13.8.0
        - nvm use 13.8.0
        - npm ci
    build:
      commands:
        - npm run build
  artifacts:
    baseDirectory: build
    files:
      - '**/*'
  cache:
    paths:
      - node_modules/**/*

[2020-10-10 20:36] 11grossmane commented on #1126
unfortunately, your system doesn't let me upload a yml file

[2020-10-11 08:02] oliverandersencox commented on #742
+1

[2020-10-11 08:14] admissionguidance opened #1127 "Quick Notes AI"
** Please describe which feature you have a question about? **
I am unable to deploy the react app based on the sample provided by AWS, Quick Notes AI cannot be deployed.

** Provide additional details**

[2020-10-11 15:35] MatthewFrench opened #1128 "How to combine separate repos into a single frontend build?"
** Please describe which feature you have a question about? **
My website is separated into three repositories. I'd like the first to show up at web path /, the second to show up at path /forum/ and the third to show up at path /game/.
Is there a way I can have all the build artifacts go into the same website?

[2020-10-11 18:20] Hadayo opened #1129 "YAMLException: non-printable characters with Hebrew letters in config file"
I'm trying to deploy my Jekyll site that is present in a GitHub repository. It is working fine locally and I was running it for a few weeks on CloudCannon services with no problem. However when I'm importing the repo with the Amplify interface, I get the following error:

**There was an error detecting your build settings.**
YAMLException: the stream contains non-printable characters at line 4, co

[2020-10-11 23:15] mrcoles opened #1130 "Production site suddenly 404'ing “x-cache: Error from cloudfront”"
**App Id**: d32cgdvim65k7p
**Region**: us-east
**Step**: n/a
**Status**: n/a

**Issue/question**

My app suddenly started 404'ing. No code updates or configuration changes for over a week and it was working before.

The dev one is working fine: https://dev.d32cgdvim65k7p.amplifyapp.com
The master (production) one is 404ing: https://gofullpage.com/ OR https://master.d32cgdvim65k7p.amplifyapp.com OR

[2020-10-12 01:50] anubnair commented on #965
My issue got resolved.

1) Make sure that you added CNAME  provided by aws to your 3rd party DNS provider properly
2) You need to create and  add the NS recreated by route 53 to DNS provider

[2020-10-12 02:14] litwicki commented on #1130
@mrcoles we're investigating this now.

[2020-10-12 02:18] stevechanvii commented on #296
Have same problem this couple of weeks (region Sydney). Some times stuck at provision, once I click cancel the status of provision change from pending to success, but other steps failed. Manually rebuild the project would successfully build the project.

[2020-10-12 02:35] mrcoles commented on #1130
@litwicki thx! From reviewing my logs this looks like it started between 8–9AM EDT on Saturday October 10 and has been impacted since.

[2020-10-12 02:41] abhi7cr commented on #1130
@mrcoles Can you reload the app and check?

[2020-10-12 02:53] litwicki commented on #1130
@mrcoles I believe we have it resolved, but please let us know if there is anything else we can do.

[2020-10-12 02:56] mrcoles commented on #1130
@abhi7cr and @litwicki thanks! It looks like it’s working now.

However, one of my rewrite rules isn’t updating. https://gofullpage.com/connect is still showing the “Temporarily unavailable” page, even though I removed that rule and even went so far as to add an explicit rule for it to rewrite to /index.html?

[code]

It’s odd, because the other rewrite updated immediately, but just this one is st

[2020-10-12 03:55] abhi7cr commented on #1130
@mrcoles, We noticed the `/connect` was being served through `cloudflare` cache first before hitting `cloudfront`:

Response header: `server: cloudflare`.

Is it possible that route is cached in cloudflare?

[2020-10-12 04:05] mrcoles commented on #1130
@abhi7cr good question!

This is the file: https://mrcoles.com/media/fpsc/gofullpage-down-message/index.html

I already updated it, that above URL will show you “Loading…” while my non-updating page (https://gofullpage.com/connect?signin) still shows “Temporarily unavailable”

I previously tried purging files from my cloudflare cache (just in case) and told it to purge the following (just did it a

[2020-10-12 04:21] mrcoles commented on #1130
If I had access to the cloudfront instance, I would probably try to invalidate the files for those URLs? https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Invalidation.html Is this possible?

[2020-10-12 05:04] hsspain commented on #1130
@mrcoles We are still seeing CloudFlare responses when requesting https://gofullpage.com/connect

Other paths, such as https://gofullpage.com and https://gofullpage.com/demo-editor-inline do not have these same response headers.  Is is possibly that you are utilizing Page Rules or other mechanisms within CloudFlare?

[2020-10-12 05:17] mrcoles commented on #1130
gofullpage.com is an Amplify site.

Earlier today when everything was broken (see original post on this issue), I created a page on another site (mrcoles.com Cloudflare site) and I added it as a “200 rewrite” for the /connect path **for my Amplify site**, e.g.,

[code]

I was able to edit and modify the underlying page and I would see it update when I loaded gofullpage.com/connect

when the origin

[2020-10-12 05:33] hsspain commented on #1130
@mrcoles We have ensured that all cache is invalidated from your CloudFront distribution for the affected paths.

CloudFlare has ways of changing behavior of specific pages or paths that could account for what we are seeing.  https://support.cloudflare.com/hc/en-us/articles/218411427-Is-there-a-tutorial-for-Page-Rules-#summary-of-page-rules-settings this link has an overview of some ways the old p

[2020-10-12 05:55] mrcoles commented on #1130
@hsspain what specific page PageRules are you looking for?

When I load the [url in question](https://gofullpage.com/connect) I am seeing an old version of the page that no longer exists on the Cloudflare server. **Also, nothing in my Amplify app’s rewrite & redirect rules references the Cloudflare site anymore.**

This experience suggests to me that CloudFront has cached the old, no-longer-availa

[2020-10-12 06:10] hsspain commented on #1130
@mrcoles I apologize for the confusion. In our logs we no longer see any redirects or rewrites to the mrcoles.com site. We do see requests to index.html when hitting the /connect path.  This should serve index.html for /connect similar to other paths. The only difference we are able to detect for the /connect path are the server response headers. When tracing the request to the /connect path, we g

[2020-10-12 06:18] mrcoles commented on #1130
The domain is in Route53. It has no CloudFlare references. This really looks like old cached content from the brief period of time in which I set an Amplify rewrite rule to proxy the mrcoles.com aka CloudFlare site.

The only other quirk with DNS, is that when I check the Amplify DNS records for gofullpage.com I see the following:

[code]

But when things were originally broken, I tried provisioni

[2020-10-12 06:46] hsspain commented on #1130
@mrcoles The issue appears to be resolved.  /connect now hosts the proper files. We will continue to investigate root cause. Please let us know if this looks resolved from your end.

[2020-10-12 13:01] nimrodp commented on #833
Same Issue, out Amplify domain is scoring B on ssl test (https://www.ssllabs.com/ssltest/)
This is a major problem for our clients.

[2020-10-12 13:30] eincs commented on #1017
Thank you!

[2020-10-12 15:05] mrcoles commented on #1130
@hsspain looks like it’s working now, thanks! CloudFront is returning the right content now. There’s still some local browser caching, but that’s fine and not on you guys.

I’d love to hear more about root cause, so I can make sure it doesn’t happen again. IDK if by being an older project (in Amplify terms) there are maybe some configuration things that caused my app to be impacted but not newer o

[2020-10-12 15:20] ganipcanot commented on #1126
Could you please share your `appId` and `region` for this app?  The `appId` can be found as part of the `appArn` on the general settings page.

[2020-10-12 15:29] ganipcanot commented on #1128
You could host the 3 separate sites on 3 different amplify apps and have a main application which handles the redirection to the other two namely `/forum/` and `/game/`.

If you are interested in combining the 3 repositories under distinct folders (monorepo) we have support for that.  [Check this out](https://aws.amazon.com/blogs/mobile/set-up-continuous-deployment-and-hosting-for-a-monorepo-with-

[2020-10-12 15:29] #1128 closed

[2020-10-12 15:30] ganipcanot commented on #1129
Would you be able to share your `appId` and `region` please?  The `appId` can be found as part of the `appArn` on the general settings page.

[2020-10-12 16:18] Hadayo commented on #1129
I'm not sure I can find the `appId` as I was not able to create an app in the first place. This error occurred during the creation of the app so I could not finish the process. I might have understood you wrong regarding the meaning of `appId`.
Also, the `region` I'm using is 'Frankfurt (eu-central-1)'.

I hope I gave you the right information, I'm new to AWS.

[2020-10-12 16:24] ganipcanot commented on #1129
Ah okay.  Would you be able to share your `_config.yml` file?  You can share it here or if you didn't want to share it here you can send it to `aws-amplify-customer@amazon.com` - please include the issue link (`https://github.com/aws-amplify/amplify-console/issues/1129`) in the email.

[2020-10-12 16:32] Hadayo commented on #1129
Just sent it to the mail.

[2020-10-12 17:59] swaminator commented on #1127
@admissionguidance what error are you getting?

[2020-10-12 18:11] samvillasmith opened #1131 "AWS Amplify Deploy React App Error Access Denied"
**Issue/question**
I am following the tutorial for AWS Amplify, deploy a react app, and I continue receiving an error message for "access denied". I have done everything exactly as requested.

**Error message**
<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>(Omitted for Security Reasons) </RequestId>
<HostId> (Omitted for Security Reasons) </HostId>
</Error>

**Addit

[2020-10-12 18:14] swaminator commented on #1131
@samvillasmith can you share your build settings as well as the AppID?

[2020-10-12 18:15] #1119 closed

[2020-10-12 18:39] swaminator commented on #1130
@mrcoles we released a new deployment service to fix issues with deploy failures. Apologies for the issue. I'll reach out to you via email for more info.

[2020-10-12 18:39] #1130 closed

[2020-10-12 19:02] #950 closed

[2020-10-12 19:02] #1100 closed

[2020-10-12 19:04] swaminator commented on #704
@tomyitav please use the latest version of the Amplify CLI: https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates

[2020-10-12 19:45] 11grossmane commented on #1126
arn:aws:amplify:us-east-2:187401640486:apps/d1oavtoprkpzct

region is ohio us east

also, I've now successfully deployed the app WITH sound on both firebase and heroku, so something must be different about the the way you guys build the app.

[2020-10-12 20:18] samvillasmith commented on #1131
For some context, there is no backend architecture at all, and no s3 buckets, I'm following the tutorial strictly. https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/module-one/

[2020-10-12 20:40] swaminator commented on #866
@joshkadis were you able to get this resolved?

[2020-10-12 20:48] swaminator commented on #1131
@samvillasmith for your build settings go to, App settings > Build settings. Appid (or App ARN) can be found under App settings > General

[2020-10-12 21:14] swaminator commented on #786
Fix has released. Please reopen if you find issues.

[2020-10-12 21:14] #786 closed

[2020-10-12 21:43] swaminator commented on #656
When you open the Amplify console web page, can you goto App settings > General and see what the appID is?

[2020-10-12 21:48] samvillasmith commented on #1131
Oh ok, in this case it is arn:aws:amplify:us-east-1:371892882034:apps/d1dtb9u45ep0au

[2020-10-12 22:59] swaminator commented on #827
@simpson @azgorov we figured out the issue. This is a design limitation with the current approach and requires you to follow a sequence of operations to get monorepos building properly.

1. Connect appA
2. Connect appB
3. After connecting *both* apps build a combined buildspec.yml. If you do step number 3 before number 2 the monorepo feature will not work.

[2020-10-12 23:20] #892 closed

[2020-10-12 23:28] swaminator commented on #897
@ernestostifano sorry for the late response. Couple of points:

1. What was the problem with keeping two totally different branches in a single repository?
2. To share the same backend across amplify apps: https://gist.github.com/swaminator/6270806f38048552af9ce699a568a581

[2020-10-12 23:40] swaminator commented on #898
@ernestostifano please refer to https://github.com/aws-amplify/amplify-console/issues/827#issuecomment-707386423. Closing this issue as it is the same as that one. Please respond there.

[2020-10-12 23:40] #898 closed

[2020-10-13 01:09] specter01wj commented on #357
"re-authenticate app" becomes "Reconnect repository"

[2020-10-13 03:53] frankclaassen opened #1132 "How to overcome JavaScript heap out of memory issue by using larger build server?"
** Please describe which feature you have a question about? **
Amplify console seems to use a small build server and my front-end app now keeps failing with JavaScript heap out of memory errors.

So how do I increase the build server size OR use CodePipeline to bo my Amplify builds / releases?  This issue is causing critical issues as we cannot update our production system

** Provide additional d

[2020-10-13 04:16] frankclaassen commented on #890
This does not work for me with the same problem

[2020-10-13 05:36] aethr commented on #925
As I mentioned last week, my team member deployed our Amplify app to `eu-west-2` last week, appId `d1qcmfdxdovis8`. We crafted a request that our back-end API will respond with a 404 by requesting a resource with an id that we know doesn't exist.

When we hit the API directly, we get:
[code]

When we send the same request to our Amplify proxy route, we get:
[code]

Both the transformation from 404

[2020-10-13 05:51] #656 closed

[2020-10-13 06:53] stuartkuentzel commented on #221
Any update on this? We're facing the same issue, we need to restrict certain countries from using the app.

[2020-10-13 08:08] cteodor opened #1133 "SSL configuration is running for more than 8h"
**App Id**: d10m1x8o097ctt
**Region**: eu-west-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
Added a domain, in Domain Management, but still stuck in SSL configuration.

**Error message**
No error message.
![Untitled](https://user-images.githubusercontent.com/4574450/95833528-0cdde680-0d3c-11eb-8a3b-1bed4106ba06.png)

**Additional information**
Please add any other relevant

[2020-10-13 08:39] dvirben123 commented on #59
You just save me at least one hour of debugging why it happing, thank you !!!

[2020-10-13 11:31] eardenercruk opened #1134 "PR previews using CSP in settings instead of amplify.yml"
## Issue Description
PR previews are using the Content Security Policy from the build settings defined in the Console instead of amplify.yml file in root.

![image](https://user-images.githubusercontent.com/57360840/95854859-74e9f800-0d4f-11eb-90cc-20156b9a2df4.png)

## Application Details
arn:aws:amplify:eu-west-2:145300272324:apps/d9slrnc36kbq7

[2020-10-13 14:11] cmeans opened #1135 "App Load Problem"
I have a Vue app that builds fine (a few warnings), but will no longer render from amplifyapp.com.

It runs fine locally (yarn serve).

Browsers complain that the app is taking too long to load.

The app has gone through a lot of changes as I've been testing out new Components...is there some sort of a cache, server-side, that's maybe a bit polluted a this point? (One that can be cleared.)

[2020-10-13 15:39] eduardohki commented on #974
I found the same issue while testing Amplify Console deployments via CDK.

To remove the orphaned environments, I had to go to CloudFormation and delete the Stacks myself to clean the resources + delete the s3 buckets manually.

[2020-10-13 16:34] servappgit opened #1136 "Our master branch stopped deploying the changes uploaded to GitHub"
** Please describe which feature you have a question about? **
The frontend enviroment in which we deploy one of branches wasn't updating the changes we uploaded to github.

** Provide additional details**
We got no errors, everything went smooth and we got green check boxes in the 4 stages (provision, build,deploy and verify). The github repository seems to be working fine, since we made sure tha

[2020-10-13 16:44] jonvanausdeln opened #1137 "Preview build not deleted after Github Pull Request was closed"
We have 1 instance where a github pull request was closed, but the Preview Build (and subsequent URL) still exists.  This is the first time we've seen this.

[2020-10-13 17:58] samvillasmith commented on #1131
Everyone, I'm sorry, the issue was with my commits to github, I appreciate your time, also the rewrites helped. Thanks again.

[2020-10-13 20:10] swaminator commented on #259
Cannot reproduce anymore.

[2020-10-13 20:10] #259 closed

[2020-10-13 20:19] swaminator commented on #1083
@superjose please email aws-amplify-customer@amazon.com and I'll set up some time to chat.

[2020-10-13 20:20] #1072 closed

[2020-10-13 22:58] abhi7cr commented on #1019
Is your `404` page nested under a `404` folder, something along these lines: `404/index.html` ?  If so, could you change the rewrite rule to be:

[code]

[2020-10-14 02:13] AustinZhu commented on #295
I have the same problem here when I switched my production branch from develop to master. They have exactly the same folder structure and I think AWS should be able to detect the framework (React) we are using.

[2020-10-14 02:23] AustinZhu opened #1138 "Amplify Console failed to detect Framework after production branch change"
Hi! I am deploying a React SPA on Amplify. We connected the develop branch at first for testing. However, when I switched the production branch to master, the Framework description disappeared. Will it effect future integration with Amplify? I think even after changing the production branch, Amplify console should be able to redetect the Framework.

![image](https://user-images.githubusercontent.c

[2020-10-14 05:42] abhi7cr commented on #1137
Hi @jonvanausdeln,

Can you share your appId and region?

[2020-10-14 05:45] abhi7cr commented on #1138
Hi @AustinZhu,

Thanks for reaching out. I will investigate and get back to you.

[2020-10-14 05:47] abhi7cr commented on #1135
Hi @cmeans, can you share the region in which this app is deployed?

[2020-10-14 05:48] cmeans commented on #1135
I solved my problem...had an infinite render loop that just wasn't obvious.  Thanks.

[2020-10-14 05:48] #1135 closed

[2020-10-14 05:51] abhi7cr commented on #1134
Hi @eardenercruk,

Thanks for reaching out, will take a look and get back to you.

[2020-10-14 05:56] abhi7cr commented on #1132
Hi @frankclaassen,

Can you try adding an env variable `NODE_OPTIONS` with a higher value for Max_space _size

[2020-10-14 06:14] abhi7cr commented on #1133
Hi @cteodor,

Is it still stuck in ssl configuration? Also is this a Route53 domain or a 3rd party one? Meanwhile, I will take a look at my side to see what’s going on.

[2020-10-14 07:42] bvirlet commented on #1019
No, the 404 page isn't nested.

[2020-10-14 08:46] petetak commented on #115
In the past few days we started getting this issue in `us-east-1` with the deployment error
`2020-10-14T08:42:03 [ERROR]: Failed to deploy`
It's causing huge problems for my client so if there are any workarounds we could use in the meantime then I'd really appreciate it!

[2020-10-14 09:48] wvidana commented on #595
Here is a publicly available build of this project's fork (the above PR), with Python 3.8 added `wvidana/amplifybuildimage:python38`.

Don't forget to install `pipenv` on your `amplify.yml`:
[code]

[2020-10-14 11:00] dessskris opened #1140 "Trigger a re-build without having any new commits"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I have changed my build settings or environment variable, and need to rebuild my Amplify app, but I can't. There's no manual build trigger. I have tried setting up a webhook and triggering that, but it cancels my rebuild because it detects no changes in the repo (but what about changes in the build setti

[2020-10-14 11:19] tomlandau commented on #115
@litwicki
hi, we're experiencing the same issue, for app: arn:aws:amplify:us-east-1:161809446696:apps/d16bd6505exenn.
Can you please take a look?
We have only one branch, and no tests configured.

[2020-10-14 11:57] petetak commented on #115
We have a few branches on the repo but not a lot more than we've had for a while. We don't have tests configured. The app is arn:aws:amplify:us-east-1:846087266623:apps/d3icy4rih41kkd

[2020-10-14 13:13] thiagoarruda commented on #925
I'm also having this issue on `sa-east-1`, it's completely breaking our error handling, as we have quite a few endpoints that may return a 404. Any ETA on the fix?

Response when hitting the API directly:

[code]

Response when going through the Amplify proxy:

[code]

[2020-10-14 14:20] zoosissoos commented on #963
I was able to find a resolution to this through AWS support:

====================================================================

The issue seems to be that running cypress overwrites the production build. In the yml build config, you must make a new directory:

Hi,

I really appreciate your patience.

After deep diving the weird behavior of current build and test with Cypress, I was able to ide

[2020-10-14 14:25] zoosissoos commented on #963
So I was able to find a resolution to this through AWS support. It seems that running cypress was overwriting the folder containing the artifacts needed, so that the development was overwriting production. I was provided with a yml that fixed my problem.

[code]

[2020-10-14 14:25] #963 closed

[2020-10-14 15:57] ganipcanot commented on #1019
@bvirlet Did you change your app since you last deployed?  Looking at your latest deployment I see a folder structure like `/404/index.html` relative to the root of the application.  If that's the case then the above rule should work.

[2020-10-14 18:22] fitzgers commented on #115
@litwicki To add one to your list, we are now experiencing a deployment failure on pretty much every push. This seems to have regressed in the last couple of days. I can usually fix by re-deploying, but it is a laborious process to say the least.  We're down to one branch and no configured tests.... Our app is arn:aws:amplify:us-west-2:790675203832:apps/dhc11nf9dhtm2

[2020-10-14 19:14] petetak commented on #115
@litwicki would you mind also mentioning @jbradday in your response as I'm not in the US timezone - thanks!

[2020-10-14 19:22] SourceCode commented on #446
Here is my hot take on this one.

`amplify console` opens up the Amplify console.  You do a few things, then attempt to wire up a branch.  Your session at AWS isn't either fully authenticated or validated, and when you attempt to connect the branch, what happens is that the service just fails to load correctly when you are in this dialog in the AWS Amplify console.

Log out, clear session/delete b

[2020-10-14 19:26] zoosissoos commented on #1109
@tnorlund Do you have a solution to this available? I am currently having the same issue.

[2020-10-14 19:30] tnorlund commented on #1109
@zoosissoos I ended up committing my code again, and it fixed whatever it was. Make sure that your pages are uniquely identified in your `src/pages` and that the slug is declared in `Gatsby-node.js`.

[2020-10-14 19:43] zoosissoos commented on #1109
Ok thanks. Would it be possible to copy/paste your redirects config in the amplify console?

Whenever I click a link within my deployed gatsby site, it will go to the correct page, but if I enter within the browser bar it goes to the root index.

[code]

[2020-10-14 19:46] abhi7cr commented on #1140
Hi @dessskris, thanks for the feedback. This is added as a `feature request` to our backlog, and will let you know when we have any updates related to this.

[2020-10-14 21:01] zoosissoos opened #1141 "Gatsby redirects always going to root only."
** Please describe which feature you have a question about? **
Rewrites/Redirects

** Provide additional details**
I am having an issue with redirects within my gatsby site hosted in Amplify Console.

If I navigate to https://master.d1rnnz8nwkatw5.amplifyapp.com/ , It shows the root page. If I click on the link to bring me to https://master.d1rnnz8nwkatw5.amplifyapp.com/page-2/ it works as expecte

[2020-10-14 22:20] aethr commented on #925
My team would also really appreciate an indication of when this is going to be worked on.

[2020-10-14 23:56] frankclaassen commented on #1132
@abhi7cr I did try setting NODE_OPTIONS as an environment variable which did not work. AWS Support advised to set NODE_OPTIONS as an export in the pre-build command which I have not tried yet.  I found that the problem was being caused by large source maps being generated and have turned these off by setting GENERATE_SOURCEMAP false as an environment variable which resolved the build issue

[2020-10-14 23:56] #1132 closed

[2020-10-15 00:04] litwicki commented on #115
@fitzgers Sorry to hear about the trouble you're having. We are rolling out a change tomorrow morning that will be resolving this for `us-east-1` and will follow up with you directly to verify when it's live.

[2020-10-15 03:37] fitzgers commented on #115
@litwicki Thanks! We're in `us-west-2`, so any update on status for that region would be great!

[2020-10-15 12:56] zoosissoos commented on #1141
It seems this was the setting for if I wanted a SPA. I removed the second rule and it seems to be working now.

[2020-10-15 12:56] #1141 closed

[2020-10-15 13:03] piotrduszynski opened #1142 "Hosting bucket is empty"
There is a problem that the hosting bucket that should contain my front-end application is empty after I did deployment from Amplify Console. It is worth to mention, that S3 is populated with the frontend app when I do deployment from cli. However, the application is magically working in the amplifyapp.com domain, which is provided by Amplify Console. The bucket is even empty when I use the CloudF

[2020-10-15 17:26] swaminator commented on #1142
Amplify hosting is a fully managed solution which means we do not upload files into your own S3 account. This allows us to offer features such as instant deploys, custom headers, redirects, and more.

[2020-10-15 17:26] #1142 closed

[2020-10-15 18:55] halimb commented on #115
@litwicki I'm facing a similar issue here on `eu-west-1` however, it happens when I have cypress test artifacts. Any idea how to solve this? (while still uploading the files)

[2020-10-15 21:54] amersaw opened #1143 "Building a VueJs app takes forever for the first time with no details"
**App Id**:d2y71mdaufgd7e
**Region**:eu-west-1
**Step**: First deployment (build)
**Status**: Unknown

**Issue/question**
When connecting a new branch the build process takes forever without any additional information.
The connected branch is for simple vuejs app (below is the `amplify.yml` file content).
Locally I can build and serve the app

**Error message**
No Error Message

**Additional infor

[2020-10-15 23:16] aethr commented on #925
My team would like to tear down the Amplify app we created in `eu-west-2` (app id `d1qcmfdxdovis8`), since this was only created to test the fix in #70 .

If you'd like us to leave it up for your investigation, please let me know before Tues, Oct 20th.

[2020-10-15 23:29] drake-smith opened #1144 "Strange 301 redirect behavior when checking against redirect tool"
I have a deployed Gatsby website and have this redirect in Amplify:

Source: `/services/<*> `
Target: `/solutions/<*>`
301 Redirect

This redirect works and appears fine when I type in a URL in my browser and I see it redirect to the target URL. However, when I check the URL on a redirect tool like http://redirectcheck.com/index.php, I see that there is what looks to be essentially an infinite loo

[2020-10-16 00:19] abhi7cr commented on #925
Hello @aethr,

I will be investigating the above app this week, and will get back to you with my findings. Apologies for the delay.

[2020-10-16 00:28] woodsae commented on #614
@swaminator Is there any movement on this?

Just to be clear, this is what I want to accomplish:
* Dev branches use the PR Preview functionality and each have a unique URL
* Staging points to the master branch and has a consistent custom domain URL
* Production points to the latest tag/release in Github and has a consistent custom domain URL

This would be hugely beneficial if we can accomplish th

[2020-10-16 02:55] aethr commented on #925
Thanks for the update @abhi7cr , I'll leave the app up for a while, please let me know when you're finished so I can tear it down.

[2020-10-16 06:47] litwicki commented on #115
@halimb We're hoping to be live in `eu-west-1` tomorrow 10/16; I will follow up with the team here. @fitzgers `us-west-2` is in progress now and likewise we will update here as soon as it's live.

[2020-10-16 07:19] fnavarrodev commented on #307
I can not even see the `Redeploy this version` option. Does still exist? The true is that rollbacks are becoming a nightmare using Amplify

[2020-10-16 07:48] GooBall commented on #115
@litwicki Thanks for the update. We were having issues when too many PRs were connected and clearing them down would fix the problem. However now we have some branches that simply do not deploy at all and nothing seems to be fixing them.

[2020-10-16 09:43] kunalkhadke01 commented on #1138
when i clicked on my Production branch URL i got blank page .fist i got my page but after some deploymen i got blank page.what should i do to get my web page back ?
production url:https://master.d3eby3l0g0a216.amplifyapp.com/
when you click on that url you will get blank page with url:https://master.d3eby3l0g0a216.amplifyapp.com/src/
(page target address is index.js )

[2020-10-16 12:26] gregbkr opened #1145 "Import data from "file.csv" not showing in amplify, but ok locally or in s3 hosting"
** Please describe which feature you have a question about? **
Import data from "file.csv" not showing in amplify, but ok locally or in s3 hosting

** Provide additional details**
The code is here: https://github.com/gregbkr/crypto-stats
- I deploy locally or via s3hosting: http://stats-test-gg-2.s3-website-eu-west-1.amazonaws.com/ , I can see 4 graphs with data.
- I deploy via amplify: https://st

[2020-10-16 14:05] amersaw commented on #1143
The issue was related to the `apmlify.yml` where the `frontend` node ought to be in the root not inside the `applications` node, like the following:

[code]

But it would be very useful to have an indication about the current application deployment status, AWS amplify isn't even show any progress nor logs nor error message, which is very confusing.

[2020-10-16 14:05] #1143 closed

[2020-10-16 14:45] bumbleparrot commented on #876
I've been experiencing this issue too. I'll try @kjetilge suggested.

[2020-10-16 16:29] gfest commented on #115
Hi @litwicki, any news on this? I'm having the same problem for a project in `eu-central-1` since this morning: arn:aws:amplify:eu-central-1:415944032879:apps/d13fes5e3vrcjo

[2020-10-16 16:50] litwicki commented on #115
@gfest We are in progress with `eu-central-1` early next week, as with previous updates, as soon as we're live there we will update this thread.

[2020-10-16 19:09] tnorlund commented on #1109
I'm not using redirects.

[2020-10-16 22:44] bumbleparrot commented on #876
The problem also went away for me after doing the same thing in a non iCloud synced folder.

I think using an iCloud synced folder is the issue. @kjetilge

[2020-10-17 01:20] litwicki commented on #115
@GooBall took longer than we had originally planned but we're officially live in `eu-west-1` now as well. Please let us know if you see any issues!

[2020-10-17 09:57] stevenphaedonos commented on #550
I'm able to reproduce this consistently via the following two scenarios (let's assume master branch triggers the preview to be built):
1. Open a PR against a **non-master** branch, then switch the base branch of the PR to master branch.
2. Have a PR that was opened against master branch, with previews working. While a build is in progress, push a new commit to the PR branch.
In both of the above c

[2020-10-17 17:35] allanitis commented on #280
Exactly the same use case is required.

[2020-10-17 19:37] thekeith opened #1146 "Some applications will not use ruby version specified in Gemfile and fail to build, while others are fine"
I have two separate Jekyll applications. Each has exactly the same Gemfile and use the same ruby version, with the Gemfile.lock also being the same. Each provisioned instance is also exactly the same as per the provision output logs.

App A builds without issue, with the bundler version on the docker instance being 2.1.2 even though the Gemfile calls for 2.1.4
App B fails to build, with bundler on

[2020-10-17 19:51] thekeith commented on #1146
Note: Changing ruby versions in the Gemfile allowed it to successfully build, but the issue remains that two functionally identical apps are not able to both be built.

[2020-10-17 22:47] davad commented on #219
FYI, looks like this option isn't available if you deploy your root domain _is_ a subdomain. You can manually create sub-subdomainds, but not automatically.

E.g. If the root domain for app is `demo.myapp.com`, you can manually create `pr-27.demo.myapp.com`, but the option to creatae it automatically isn't there.

![Screenshot from 2020-10-16 18-54-27](https://user-images.githubusercontent.com/190

[2020-10-18 23:02] woodsae opened #1147 "Domain activation is Failed - DNS records hidden"
**App Id**: d26qxrq0tb7jkb
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
When domain activation fails, the **View DNS Records** button is disabled, which makes it nearly impossible to try and debug.

**Error message**
The error message I received was:

[2020-10-19 02:39] hisham opened #1148 "Add Scully CLI to build image"
**Is your feature request related to a problem? Please describe.**
I see the default build image that comes with Amplify comes with Gatsby and Hugo.

Scully is an up and coming static site generator for Angular. We plan to use it soon. It would be nice if Amplify Console team considers adding it to the default build image. It is new and v1 was just released so perhaps not as popular yet as Gatsby

[2020-10-19 03:22] #150 closed

[2020-10-19 03:32] litwicki commented on #296
@stevechanvii @gregeatworld @shide1989 @maksym-bordun-ynd @judygab We are revisiting this issue this week and will update here as soon as we have more information.

[2020-10-19 03:35] litwicki commented on #291
@rnaresh are you still experiencing any issues? This is a duplicate of https://github.com/aws-amplify/amplify-console/issues/115 as stated above. Closing this issue.

[2020-10-19 03:35] #291 closed

[2020-10-19 03:35] litwicki commented on #283
Closing this as duplicate of https://github.com/aws-amplify/amplify-console/issues/115 that we're in-progress fixing.

[2020-10-19 03:35] #283 closed

[2020-10-19 03:37] litwicki commented on #253
Resolved with #206

[2020-10-19 03:37] #253 closed

[2020-10-19 03:49] litwicki commented on #448
@brignano we're going to revisit this and give a proper update this week.

[2020-10-19 04:00] litwicki commented on #600
`{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "VisualEditor0",
            "Effect": "Allow",
            "Action": [
                "amplify:CreateApp",
                "amplify:CreateBackendEnvironment",
                "amplify:CreateBranch",
                "amplify:DeleteApp",
                "amplify:DeleteBackendEnvironment",
                "amplify:Delet

[2020-10-19 04:00] #600 closed

[2020-10-19 04:11] litwicki commented on #966
@AlexSCorey @asatvilker This can also happen if your build directory is not set correctly. For example if your frontend is built to `build` your buildspec will need to point to that or you will see this error.

For more info: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#yml-specification-syntax

[code]

[2020-10-19 04:12] #1007 closed

[2020-10-19 04:12] litwicki commented on #1008
@garrettpinto can you verify your `CNAME` records are correct please?

[2020-10-19 04:13] litwicki commented on #1037
This will be addressed with #115

[2020-10-19 04:13] #1037 closed

[2020-10-19 04:18] litwicki commented on #1055
Please reopen this issue if you experience any further issues.

[2020-10-19 04:18] #1055 closed

[2020-10-19 04:21] litwicki commented on #1089
This error results when your CNAME is associated to another resource. Please check your Route53 hosted zones/records in any regions you have resources and verify that CNAME is not in use anywhere else.

[2020-10-19 04:22] litwicki commented on #1098
If you continue to experience this issue, please reopen with the appropriate information.

[2020-10-19 04:22] #1098 closed

[2020-10-19 04:23] litwicki commented on #1127
This has been resolved, please let us know if you continue to experience any issues.

Please see this for reference: https://github.com/aws-samples/aws-amplify-quick-notes/issues/3

[2020-10-19 04:23] #1127 closed

[2020-10-19 04:24] #1131 closed

[2020-10-19 05:52] acsrujan commented on #115
Hey, is the fix rolled out to ap-south-1? Is there a place where we can track which regions is the fix rolled out to?
Facing an issue with few branches, despite size being less than 100mb. Failing at Uploading to Edge.

[2020-10-19 06:10] khrome83 commented on #425
Wait, are you serious you just closed a bug that you committed to fix, and then didn’t fix and didn’t give any updates on?

[2020-10-19 07:55] sreejith421 opened #1149 "Private Dns not resolving"
**App Id**:
**Region**:Oregon
**Step**:
**Status**:

**Issue/question**
I have amplify deployed in  Oregon region and all the backend apis are publicly exposed previously . Now i internalized publicly exposed api to internal aws alb but after that amlify frontend apps are not communicating to backend apis both are on same region . is there anything additional setup need to be done    ?
**Error mes

[2020-10-19 10:13] ChristopheBougere commented on #412
To follow up on this, the current solution using Serverless Next.js component shows huge perfomance issues for SSR and cold starts (the "require JS execution time" to be more specific, see this issue: https://github.com/serverless-nextjs/serverless-next.js/issues/547).
There is a chance this could be linked to my app itself (and accumulation of react HoC), but I wanted to try deploying on Vercel t

[2020-10-19 10:45] nhc-motosumo commented on #1068
This problem has reappeared for us.

App id: dm197t2mo7xbv
Region: eu-west-1

Both `master` and `develop` seem to get stuck in "Deploy". Cancel button does not seem to react for minutes. Redeploying does not help. Pushing a new commit does not help.

[2020-10-19 11:35] dabernathy89 commented on #1124
I had the same issue, and the resolution for me was to use a profile with administrator access in the Amplify CLI. I tried using a profile with this policy at first:

https://docs.amplify.aws/cli/usage/iam

So there must be some missing permission in that policy, but which particular one is absent is not obvious from the error message.

[2020-10-19 12:22] sugi-s commented on #115
@litwicki  to add a little more context:
we are running amplify builds in eu-west-1
After the fix the deployment stage never completes with the following message in the console :
[code]
any help would be appreciated..... As a workaround  moving e2e test to pre build phase seems to work but unable to get the test artefacts when running the e2e tests as part of pre build phase. Is there a way to get

[2020-10-19 12:56] jroebu14 commented on #1087
I ran into this problem too. Amplify uses nvm to manage versions of node so you do something like this:

[code]

[2020-10-19 13:05] fnavarrodev commented on #91
Hi @arturocanalda and @theforager How did you exactly make it work? I'm using the Amplify console, so I can't access to the S3, Cloudfront and execute LamdaEdge functions. Should I start a new project just using the cli and use the S3Cloudfront hosting? What are the steps to make it work? The documentation is quiet poor. Thanks

[2020-10-19 13:20] dabit3 commented on #412
Thanks @Trevor-mc2, we've updated [the post](https://aws.amazon.com/blogs/mobile/ssr-support-for-aws-amplify-javascript-libraries/)

[2020-10-19 18:20] swaminator commented on #1148
@hirochachacha thanks for your request. Happy to hear from the community to see if the demand is there.

[2020-10-19 18:42] GooBall commented on #115
Thanks @litwicki, everything seems to have run ok today! I'll let you know if that changes.

[2020-10-19 18:45] abhi7cr commented on #925
Hi @aethr,
I was able to reproduce the `404s` getting converted to `301s` with the `location` header set to the `invalid-resource`. I have added this to our backlog, and will update here when the fix is in-place.

Thanks for your patience.

[2020-10-19 19:29] behrooziAWS commented on #747
Keys created after 6/24/2020 are correctly configured as read_only.  To create a new read-only key click **Reconnect Repository** under **App**->**General** and follow the instructions.  Upon completion the read-write key is no longer necessary and may be deleted.

[2020-10-19 20:02] dnbtr commented on #572
Had the same issue.
I deployed an app in the wrong region and had to delete it. But the role it created remained.

Solved by deleting the previous role - AWSAmplifyExecutionRole-[instanceID], as it was pointing to the wrong instance, then let AWS create a new role by selecting "Read-only access to your repository with a new service role".

[2020-10-19 20:50] litwicki commented on #425
@khrome83 @gkdg my mistake on closing without a comment, so sorry! It was supposed to link to #115 which we're rolling out as a fix as we speak. Again, sorry for the confusion!

[2020-10-19 20:53] litwicki commented on #115
@sugi-s Are you seeing this issue since 10/16? I'll have the team investigate either way but please let us know.

[2020-10-19 21:35] hervenivon commented on #884
You can set the `hugo` version from the console: "App settings" > "Build settings" > "Build image settings" > "Live package updates" > "Add package version override"

![image](https://user-images.githubusercontent.com/1057302/96514341-cddff180-1263-11eb-8bbf-9f96f60e22c3.png)

[2020-10-19 21:56] litwicki commented on #115
@acsrujan We haven't published a timeline because it is very indeterministic unfortunately. As soon as a new region is live we're updating this thread. We are hoping for `ap-south-1` this week but will keep this thread updated.

[2020-10-19 22:01] aethr commented on #925
Hi @abhi7cr , thank you for the update. I'm going to tear down the `d1qcmfdxdovis8` stack if your team doesn't need it anymore.

[2020-10-19 22:55] abhi7cr commented on #925
Hi @aethr,  yes we don't need it anymore. You can delete it, thanks!

[2020-10-20 00:52] eugene-kim commented on #1029
@nimacks any update on this?

[2020-10-20 02:10] yoshi-star opened #1150 "stuck in provision state sometime"
** Please describe which feature you have a question about? **

Freeze at provision state sometime.
If deploying the same version again , it always works correctly.

** Provide additional details**

Resion: ap-northeast
Program: Gatsby.js and Ghost Pro Service

I edit blog on Ghost CMS and hook Aws Amplify console by webhook.
Source code which made by Gatsby.js  is on the AWS Code Commit.

▼Souce

[2020-10-20 02:22] gwryssekk commented on #115
@sugi-s ... can you share your appId and region?  I'm not having issues with test artifacts in eu-west-1, so I'd like to understand how your tests are configured.

[2020-10-20 03:46] theforager commented on #91
Hey @fnavarrodev,

As you noted, you don't have access to any of the "behind the scenes" tools for Amplify (S3, Cloudfront, etc.), so you actually need to stand-up a _new_ Cloudfront distribution that points to the remote origin of your Amplify URL. You can then create the Lambda@Edge functions, attach them to your new Cloudfront distribution, and direct an incoming origin-request to either Preren

[2020-10-20 04:19] drake-smith commented on #314
@swaminator Is there an update since you picked up this issue on the priority list? Needing to manually run 6 consecutive builds is not a feasible solution to remove a page from cache when, as others mentioned, there may be legal concerns. An update would be much appreciated.

[2020-10-20 04:22] prcongithub commented on #14
+1

[2020-10-20 05:56] fnavarrodev commented on #91
@theforager Thanks so much for your quick response. Amplify is a great tool/framework but to me still looks very uncompleted and all those "behind the scenes" things happening just make it worst. We are evaluating if we should continue using amplify or, as you did, have more control with a more customized CI/CD pipeline.

First I'll try having 2 cloudfront distributions like you suggested and see

[2020-10-20 06:39] gkdg commented on #425
Thanks @litwicki for the info. Much appreciated.

[2020-10-20 07:39] michaelbrewer commented on #595
Hopefully this can be resolved soon so we can officially support python functions.

[2020-10-20 11:21] ypolon7kiy commented on #1036
@swaminator  Hi, Any plan on removing TLS 1.1  support ? Thx

[2020-10-20 11:53] sugi-s commented on #115
@litwicki we started seeing this issue since we integrated test phase to our pipeline which was around 15th Oct

[2020-10-20 12:00] sugi-s commented on #115
@gwryssekk
appId: d1n442ck0l1wax
region:  eu-west-1
concerned branch is in preview (PR)

[2020-10-20 12:28] varunmehta1986 commented on #965
I am getting the same issue as well. Although my website is running fine.

@anubnair, I tried to follow 2nd point you mentioned and updated the NS at GoDaddy. Now GoDaddy says "We can't display your DNS information because your nameservers aren't managed by us." and on AWS Amplify Domain Management I see its still stuck on Domain Activation

[2020-10-20 12:40] harvminhas opened #1151 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d3gqbnkjynanus
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-10-20 13:48] kevcam4891 commented on #654
My Cypress tests in some cases are using too much memory when I launch more than one `visit` in a test function. I'm really needing more memory to run my tests how I'd like them to run.

[2020-10-20 15:47] arturocanalda commented on #91
@fnavarrodev I only have one Cloudfront distribution. It's the one created by Amplify as "Hosting" resource (for production environments - S3AndCloudFront). I didn't have to setup a new one on my own.

What I had to setup on my own is the Lambda function (Lambda@edge when executed/deployed by CloudFront) and modify the CloudFormation template in order to trigger the function as part of the `Defaul

[2020-10-20 16:10] gcphost commented on #115
Our PRs started randomly failing today, we did not make any changes to our amplify config, code base was passing earlier.

* us-west-2#/d3akotsuqtmpig/pr-1017/3
* d3akotsuqtmpig/pr-1019/1

[2020-10-20 19:31] behrooziAWS commented on #1150
Hi yoshi-star@ we are looking into our internal retry logic on transient build failures.  Right now, it can be up to 1 hour before automatic retry and we'd like to reduce that to minutes.  In your case, do you recall whether you immediately retried or whether it was > 1 hour?  An app id, region, and approximate timestamp with timezone would allow us to trace exactly the timings and what happened t

[2020-10-20 20:19] behrooziAWS commented on #1151
Have you followed the troubleshooting steps here to rule out the common causes?:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error

[2020-10-20 21:21] litwicki commented on #115
@gcphost `us-west-2` is being updated today as I type this and will be done before EOD. We'll follow-up here.

[2020-10-20 22:54] x5hwuk7nc6jsudcc commented on #115
We are experiencing the issue in `ap-southeast-2`, is there any information on when this region will be updated?

[2020-10-20 22:58] harvminhas commented on #1151
Yes, I have followed the troubleshooting steps.

I do not have  a cloudfront distribution using the domain.

Also, it does add 1 A Record and 2 CNAME Records before it errors out. Also, afterwards if I try to access the domain from the browser, it takes me to a 'hello world' page. I am not sure where this page is located.

[2020-10-20 23:39] gwryssekk commented on #115
@sugi-s -- still investigating your situation.  All my attempts with tests have been succeeding so I need to understand the difference.  Do you use testcafe for the other branches that succeed?

[2020-10-20 23:57] maczamora commented on #36
Sounds like there is some work arounds that have been attempted using Cloudfront... We are needing to figure out a way to allow a source IP Address to our front-end and validate it's the white listed IP Address if not return to the previous service. Sounds like there isn't a direct way to do this. I'm thinking at this point to have that functionality I'd probably have to migrate away from Amplify

[2020-10-21 03:19] JeffWeim commented on #412
@dabit3 - I think some people are viewing [your post](https://dev.to/dabit3/the-complete-guide-to-next-js-authentication-2aco) on dev.to (I did) that mention `1.16.0`,  might be good to update there as well

[2020-10-21 03:21] dabit3 commented on #412
Thanks @JeffWeim, just updated there as well.

[2020-10-21 03:21] behrooziAWS commented on #1151
I think its because www.<yourdomain> is bound to your apigateway cloudfront distribution.  You can remove the www when following the amplify steps, otherwise you need to disassociate www with your apigateway distribution first.  https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-amazon-route-53.html

[2020-10-21 04:05] theforager commented on #91
@arturocanalda Were you building your entire app with the Amplify CLI? I was actually searching around, and it appears with the Amplify CLI you _can_ actually make some modifications to the S3 and Cloudfront distributions by setting up a backend deployment. I had connecting my frontend via the Amplify Console only to deploy the SPA, and I was separately managing all the backend pieces.

[2020-10-21 04:08] meop opened #1152 "amplify console appears to fail build looking for function layer version"
Hello, we have an Amplify project that builds / deploy the backend fine with the CLI locally, but fails with this error in the console CI/CD setup:

`
2020-10-21T03:20:28.714Z [INFO]: Adding Lambda layer nodejsapilayer to prod environment.
2020-10-21T03:20:28.728Z [INFO]:
2020-10-21T03:20:29.712Z [INFO]: Note: It is recommended to run this command from the root of your app directory
2020-10-21T03:

[2020-10-21 07:29] Roee-Malis commented on #115
We started having similar issues 2-3 days ago.
All linked branches and branch previews are getting stuck at as if the "deploy" stage is in progress.
Deploy logs show: [INFO]: Finish deploying test artifact.
Canceling the build and starting manually does not help.

We did not make any changes to our amplify config, code base was passing earlier.

App id: d19adm9khpw574
Region: us-east-1

Help would

[2020-10-21 07:39] kennandavison commented on #750
Clean way to do this is to set your Amplify project-config.json destination path to your mono repo's common folder and import from there.

[2020-10-21 08:03] arturocanalda commented on #91
@theforager yes, I built it entirely through the CLI. Just the Lambda@edge configuration was done manually by modifying the CloudFront CloudFormation template (many clouds... :).

[2020-10-21 09:06] fnavarrodev commented on #91
@arturocanalda Yes is true, using the CLI you have more control, but I don't really see how to connect my github repository to that backend hosting(S3AndCloudFront) and get all the magic with new subdomains for branches and so on.

[2020-10-21 09:40] arturocanalda commented on #91
@fnavarrodev I had no issues connecting to my github repository. At the moment I have 3 branches = 3 backend environments (dev-stg-prd). But CI/CD with all the magic happening... that will be another battle (which I try to ignore/postpone so I can still sleep in the night :)

[2020-10-21 10:21] harvminhas commented on #1151
That was it!
Thanks a lot.

[2020-10-21 10:21] #1151 closed

[2020-10-21 12:05] marksteven commented on #661
HI Guys,
Have another sort of solution that worked for me so far.
Been on same road as few I see here trying to work out failed uploads via github that work perfectly if used drag drop
Using yarn not npm
and this in the build on AWS
Be aware in case you do not know ( I didn't up until not long ago) that the yml file has to have everything line up exactly seemingly Eg dashes above each other etc.
<

[2020-10-21 12:23] rudyhadoux opened #1153 "PWA deployment errors"
Hi,

I have an "hello world" Angular app here (ng new app) :
https://github.com/rudyhadoux/pwa

I want to deploy the PWA files in the folder dist/essai with this very simple amplify.yml :
 version: 1
frontend:
  phases:
    preBuild:
      commands:
    build:
      commands:
  artifacts:
    baseDirectory: dist/essai
    files:
      - '**/*'
  cache:
    paths:
      - node_modules/**/*

And the

[2020-10-21 12:44] fnavarrodev commented on #91
I added the hosting like they explain here https://docs.amplify.aws/cli/hosting#custom-domain-redirects-and-more so now I have a backend environment(S3AndCloudFront), but still don't see how is connected to my repo. I need to go to the console now? I do commit/push and no magic yet

[2020-10-21 13:29] arturocanalda commented on #91
@fnavarrodev indeed, that part has to be done from the console. `App settings -> General`. You should see a button to connect your repository. I don't know the name of the button, because my repo is already connected. But I attached the screenshot of how it looks after.

![Screenshot 2020-10-21 at 15 27 16](https://user-images.githubusercontent.com/63000086/96726331-26250980-13b2-11eb-9592-85f48a0

[2020-10-21 13:38] fnavarrodev commented on #91
Thanks, I'm just giving up this is what I get:
<img width="247" alt="Captura de pantalla 2020-10-21 a las 15 37 37" src="https://user-images.githubusercontent.com/1215631/96727567-7a7cb900-13b3-11eb-819b-20ed256f6f94.png">

[2020-10-21 13:48] fnavarrodev commented on #91
So after an infinite loading... I tried from frontend environments, and works but now I have 2 hosting. Is it any guide to follow somewhere?

[2020-10-21 14:13] Jordan-Eckowitz opened #1154 "Amplify CI/CD - Branch changes are sometimes not detected"
**Describe the bug**
Sometimes when I merge changes into a branch Amplify does not detect the update on Github. It's happened on multiple branches I am trying to deploy. I have tried `Reconnect Repository` as well as disabling then re-enabling branch `Auto-build` but it doesn't do anything. Most of the time my builds work so I know my setup works but this has started to occur with more regularity.

[2020-10-21 16:02] it-stalwartjourneys opened #1155 "It would help to be able to group Apps"
**Is your feature request related to a problem? Please describe.**
It is difficult to have to navigate through multiple unrelated apps to get to the one or one's we need.

**Describe the solution you'd like**
I think a nested folder system would be useful. When you click on all apps, you'd have an option to view them by folder/group and you'd see a list of groups instead of the individual apps.

[2020-10-21 16:15] sugi-s commented on #115
we are running same set of testcafe tests in develop as part of build phase and it works.....

[2020-10-21 16:31] swaminator commented on #1036
@ypolon7kiy @bryantbiggs @pabloroz can you please share your app IDs?

[2020-10-21 16:32] swaminator commented on #833
@gabrielmicko @nimrodp @Erlpil can you please share your appid?

[2020-10-21 16:47] gabrielmicko commented on #833
Sure, but can you tell me where to find it pls?

[2020-10-21 16:57] pabloroz commented on #1036
d2bifi4djm8gdl

[2020-10-21 16:58] pabloroz commented on #833
@swaminator d2bifi4djm8gdl

[2020-10-21 17:11] ypolon7kiy commented on #1036
@swaminator
dvshiacesqtgl

[2020-10-21 18:12] bryantbiggs commented on #1036
@swaminator I think its safe to post the IDs publicly but I'd rather not since they are a client's. We have 18 apps right now with a few more slated in the next month, but currently those are being considered for other avenues due to Amplify constraints (Vercel, Netlify, etc.). Email me and I can provide some nonprod app IDs - `bryantbiggs` at `gmail` dot `com`

[2020-10-21 21:09] gabrielmicko commented on #833
@swaminator d3di9id37v0dc7, dtkq5tm6uhbkn

[2020-10-21 21:11] Erlpil commented on #833
@swaminator d2rbpazo33lhs8

[2020-10-21 22:02] behrooziAWS commented on #1154
Can you send a send app id/region to aws-amplify-customer@amazon.com and reference this issue?

[2020-10-21 22:59] behrooziAWS commented on #1153
To clarify your question, you are wondering why https://master.dwusr9lvds6ht.amplifyapp.com/manifest.webmanifest is populated with the content of index.html?

[2020-10-21 23:05] litwicki commented on #1152
@meop are you seeing this after running `amplify push` or is this happening *in* the Amplify Console build step?

[2020-10-22 00:54] yoshi-star commented on #1150
Thank you. Sorry for late reply.
In my case I recall  immediately retried ( in 10～20min).

It's difficult to tell you just timings because it's not written in history
![image](https://user-images.githubusercontent.com/71750189/96804888-3ccb6f00-144b-11eb-8ccf-62bfe0772d44.png)

Could you use the following information to investigate?

Applicaiton Name : moving-accelerate-production
Repository : mas

[2020-10-22 00:55] behrooziAWS commented on #1153
I've confirmed with a coworker, that we automatically apply this rule for single page webapps to send you back to index.html

https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa  I will make a note to update the docs.

[2020-10-22 00:57] meop commented on #1152
@litwicki yes, _in_ the console during the build step.

CLI `amplify push` has no errors locally deploying the backend.

[2020-10-22 02:58] tomhirschfeld opened #1157 "test hangs during deploy"
Test hangs during deploy on my app

the last step never ends

amlify.yml here:

[code]

logs
[code]

[2020-10-22 03:31] tomhirschfeld commented on #1157
and when I try to download build artifacts I get this:

[code]

[2020-10-22 06:13] rudyhadoux commented on #1153
Thanks for answers.
So, how to achieve the hosting of a PWA and SPA Angular app ?

[2020-10-22 06:45] rudyhadoux commented on #1153
I have deleted the two redirect rules ans the PWA works.

[2020-10-22 06:45] #1153 closed

[2020-10-22 10:57] yangtopia commented on #1061
"iam:ListRoles"

[2020-10-22 15:00] YajJackson commented on #330
@swaminator why was this issue closed? What is the recommendation for Amplify users who want to use content-encoding?

[2020-10-22 15:43] litwicki commented on #1152
Are you using a specific version of the CLI or the latest 4.30.0?

[2020-10-22 16:00] meop commented on #1152
The latest locally. The console build setting has the option set to overlay the latest on the image. The console has not been successful building the backend ever since I added the NodeJS function layer and functions using it.

[2020-10-22 16:06] swaminator commented on #1140
@dessskris are you using a monorepo?

[2020-10-22 16:08] dessskris commented on #1140
Yes and the Amplify app has been set up to point to a directory in the monorepo.

[2020-10-22 17:12] smerth commented on #1087
Thanks. That solves the issue for me and now I know about using nvm in Amplify!  I am going to close the issue since this seems to fix it.

[2020-10-22 17:12] #1087 closed

[2020-10-23 07:05] swaminator commented on #833
@Erlpil @gabrielmicko @nimrodp @pabloroz apologies but i also need the region of your app. Please edit your comment and append the region to avoid confusion.

[2020-10-23 07:23] #1073 closed

[2020-10-23 08:15] anubnair commented on #965
1) Create hosted zone (for domain/subdomain) in aws
2)You need SSL certification. Say your website is xyz.com you can request SSL certificate for *.xyz.com in that way this is a certificate for main and the subdomains
3) After that, go to hostedzone, fetch the "NS" created by aws and add to go daddy. (still website is not up yet)...
3) Once you do everything, go to amplfy app, created custom domai

[2020-10-23 09:08] MoPE-hub opened #1159 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d3pljl87b0jjgu
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-10-23 11:04] abhishek-sapient opened #1160 "Deployment of test artifacts instead of build artifacts"
Hi

Getting an error while deploying a gatsby site through amplify console. Instead of pushing the build artifacts to the amplify site, the workflow is pushing the test artifacts.

I am using a monorepo structure, and doing a gatsby build for frontend. post build  I wish to run Lighthouse analysis and Structured data tests and access their results from console and then proceed with the deployment

[2020-10-23 11:47] rgevrek commented on #727
Hi,

I have also the issue

`There was an issue connecting to your repo provider, click "Re-authenticate app" in General Settings, and then try your build again.`

in Amplify. I used CodeCommit as git provider.
The APP ARN is arn:aws:amplify:eu-central-1:356761004113:apps/d34faikz7imb88

[2020-10-23 13:14] lorenzk commented on #163
Update: It is still necessary today to set live updates to "latest" or else you are using the broken amplify CLI version that silently swallows `aws_appsync_authenticationType`.

<img width="571" alt="grafik" src="https://user-images.githubusercontent.com/74110/97007654-0290c900-1542-11eb-93e6-15cc0fb026d5.png">

It is confusing to me, that this ticket is closed while the default state of the ampl

[2020-10-23 14:23] tscole opened #1161 "Can not use yarn with node v12?"
Using build settings:

[code]

Results in error:

[code]

[2020-10-23 14:25] #1161 closed

[2020-10-23 15:51] behrooziAWS commented on #1159
This process can take up to 24 hours to complete.  Can you follow the troubleshooting steps [here](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#how-do-i-verify-that-my-cname-resolves) and report back if you still have issues?

[2020-10-23 17:13] rajibganguly opened #1162 "SSL configuration is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1d3pjzug73mv2
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-10-23 17:20] rajibganguly commented on #1086
My custom domain name is https://w3earth.com which purchased from godaddy. When I typed w3earth in the URL it redirected to my amplify app, which is expected but I want to keep url as w3earth

[2020-10-23 18:02] danielesalvatore commented on #103
+1

[2020-10-23 18:35] gwryssekk commented on #1160
Hi @abhishek-sapient -- can you please share your appId and region?

[2020-10-23 23:17] behrooziAWS commented on #833
We were able to locate all of these with just app id, no region is needed.  All apps mentioned in this thread have been updated to CloudFront's [TLSv1.2_2019](https://aws.amazon.com/about-aws/whats-new/2020/07/cloudfront-tls-security-policy/)

[2020-10-23 23:21] behrooziAWS commented on #1036
All apps mentioned in this thread have been updated to CloudFront's [TLSv1.2_2019](https://aws.amazon.com/about-aws/whats-new/2020/07/cloudfront-tls-security-policy/)

[2020-10-23 23:28] benmj commented on #833
@behrooziAWS -- glad to see you on the thread! Would you also be able to set this for *d1hpxxb2zvm1vh* ?

Is the plan to have this be self-service in the future?

[2020-10-24 00:22] behrooziAWS commented on #833
@benmj yep, updated the last one you mentioned.  We will discuss internally on exposing it.  Likely we start by making new apps to use the latest recommended first, but if we do expose it, do you have any feedback on exposing it something like this at the app level?

- Track latest recommended (default)
- TLS 2019 1.2
- TLS 2018
- ...

[2020-10-24 09:53] OmarKhattab opened #1163 "Custom .otf font does not load when deploying with amplify through GitHub continuous deployments"
** Please describe which feature you have a question about? **
Custom font gives an error in my developer console: "Failed to decode downloaded font"
(index):1 Failed to decode downloaded font: https://master.d3nkhrlzri10v1.amplifyapp.com/static/media/SofiaProRegular.bd0a6d0d.otf

** Provide additional details**
My custom fonts show up on localhost when developing my react application.

[2020-10-24 12:40] nimrodp commented on #833
Thanks @behrooziAWS for addressing this!
I see that for my Amplify original domain this is now fixed - master.doutfkma2xq6.amplifyapp.com
But when registering a custom domain, Amplify gives me this domain to set a DNS CNAME: d1n8d4w5jygk7q.cloudfront.net
And this domain still supports TLS 1.1.
Can the cloudfront domain be fixed as well?

[2020-10-24 12:59] abhishek-sapient commented on #1160
Hi @gwryssekk  -
region - eu-west-1
app id - d36e86hd4onh9w

[2020-10-24 13:03] bryantbiggs commented on #833
same as what @nimrodp stated - great to see it on the `*.amplifyapp.com` domain but its not on the custom domains which is where its really needed at

[2020-10-24 13:25] redixhumayun opened #1164 "AWS Amplify Build Not Reflecting Changes In Web App"
Hi, I have been using the AWS Amplify console to deploy and distribute a React application successfully for almost a year now.

I have connected my master branch and develop branch to point to the production & staging build of my web application.

However, over the last week or so I've noticed an issue where the Amplify Console build runs fine for the connected branches of my repository, but the c

[2020-10-24 15:31] abhishek-sapient commented on #1160
Hi @gwryssekk

With some help from AWS support team, I was able to get the application deployed. Adding a dummy configFilePath entry in test artifacts section solved the deployment issue, although its not useful for my project since I am not running cypress test cases.
 This is how my amplify.yml looks now
    test:
      phases:
        preTest:
          commands:
            - mkdir -p ci-test/

[2020-10-25 13:10] jackscotti commented on #583
👍  on @keponk suggestion to update the docs as they're still outdated. I figured how to make cypress run correctly only thanks to this GitHub issue.

[2020-10-25 14:21] gargshantnu commented on #1164
I have also faced the same issue. Link: https://github.com/aws-amplify/amplify-console/issues/893

[2020-10-25 15:18] rikhiljain opened #1165 "Build Successfully but Deployment Failed without any error on console"
My app was being deployed perfectly from last few months but suddenly my app changes were stopped getting reflected. After investigation, I noticed that build and deploy steps are successful but the deploy step does not have any log other than below 2 lines.

2020-10-25T05:48:41 [INFO]: Starting Deployment
2020-10-25T05:48:42 [INFO]: Updating Edge config

My APP ARN - arn:aws:amplify:ap-south-1:98

[2020-10-26 04:11] gaurav-agarwal27 commented on #1165
I am facing the exact issue. I tried reconnecting my branch and now it shows default Amplify's `Welcome page`. Redeploying from the amplify console deploys the expected result.

[2020-10-26 04:11] gaurav-agarwal27 commented on #1164
I am facing the exact issue. I tried reconnecting my branch and now it shows default Amplify's `Welcome page`. Redeploying from the amplify console deploys the expected result.

[2020-10-26 04:13] gaurav-agarwal27 commented on #893
I am facing the exact issue. I tried reconnecting my branch and now it shows default Amplify's `Welcome page`. Redeploying from the amplify console deploys the expected result.

[2020-10-26 15:29] dtelaroli commented on #44
With clouldfront you can get it, but you can't use another subdomain together in amplify, because cloudfront doesn't allows between different accounts. I have tested too much workaround, but there is no way.
I think that amplify use another account and it is this the limitation.

By the history, in 2 years the aws will solve it.

[2020-10-26 16:46] cjimenezber commented on #44
I have come to the same conclusion, we ended up buying a different domain to use in dev for this reason.

[2020-10-26 16:54] dtelaroli commented on #44
I'm using different domain as a new hosted zone as subdomain of mine root domain (eg. dev.mydomain.com). But I don't like using different environment configuration. Now, I'm migrating the all 4 apps to CloudFront/S3 (one uses wildcard). If I would have some new surprise, I'll migrate to the CloudFlare.

[2020-10-26 17:00] cjimenezber commented on #44
I fully agree with not wanting to use different environment configuration, we plan to eventually get out of amplify once we finish some critical functionality since we really really need the wildcard subdomains, but that means setting up our own pipeline rather than using a premade one, which is a shame, but the only option we got in order to not have multiple environment configurations.

[2020-10-26 17:18] emmafass opened #1166 "Cannot load static media - gets 404"
Hi there, I have a prod env and a dev env. Both have been working fine, I made no changes, no new pushes. Then some of the static images stopped loading. I tried re-deploying but that didn't help.

The dev site can be seen [here](https://dev.d1t3q9es6y9lqj.amplifyapp.com/).

You can see where the images are supposed to be, but they don't load.

I thought it may have something to do with the way I

[2020-10-26 19:12] rubfergor opened #1167 "Amplify get stuck on deploy after test phase"
Hi,

I'm running a site using a Create React App monorepo. The first build was successful, but after I added a test section Amplify run the tests and tries to publish the test artifacts instead of the frontend ones in a similar scenario to #1160. If I don't put anything in the artifact section of the test, the build complete but the test phase fails but if I put a dummy file with a report from jes

[2020-10-26 20:28] litwicki commented on #115
Hey all, just sharing an update that we're hoping to be wrapped up with all regions in the next day or two. We continue to monitor and are not observing any issues. @Roee-Malis @sugi-s we're continuing to investigate, but your issues do not appear related to deployments but a different issue that is manifesting incorrectly at the deployment step. We are actively investigating.

[2020-10-26 21:10] Roee-Malis commented on #115
@litwicki Thanks for the update. The issue my team was facing was taken care of by AWS support and is no longer recurring as of yesterday.

[2020-10-26 22:31] waltermvp commented on #632
Same here, would love to have it build backend only, and have another service eg Vercel to build the frontend. This makes sense especially since nextjs does not work out of the box. I tried to comment out the frontend build steps in build.yml but that only causes missing build errors

[2020-10-27 01:33] jericopulvera opened #1168 "Domain activation is Failed"
**App Id**: dptgqyo1az3e7
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain activation failed.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
N/A

[2020-10-27 11:16] kazdegroot opened #1169 "Domain activation is Failed"
**App Id**: dil6asd0qqbfk
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain activation failed, even though all chosen domains point to cloud flare.

**Error message**
If there is an error message, please include it here.
**Note** One or more of the CNAMEs you provided are already associated with a different resource.

[2020-10-27 12:31] bryantbiggs commented on #833
@behrooziAWS / @swaminator any thoughts on this ☝🏼 - I think most users are using custom domains which is where the TLS changes are desired

[2020-10-27 15:56] MrHertal opened #1170 "Custom Cache-Control header does not work"
Hi,

I followed [instructions](https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html) to add a custom `Cache-Control` header for every HTTP response. Here is my `amplify.yml`:

[code]

After redeploying I do a HTTP request and successfully get `custom-header` in the response. But `Cache-Control` has this value: `public, max-age=0, s-maxage=2`.

Am I missing something?

Thanks fo

[2020-10-27 16:29] gwryssekk commented on #1162
Hi @rajibganguly -- I see that there is an SSL certificate attached to your app.  Are you still experiencing this issue?

[2020-10-27 16:58] gwryssekk commented on #1167
Hi @rubfergor -- I'm looking into this.

[2020-10-27 20:37] #1166 closed

[2020-10-27 21:53] JoshVandeWalle commented on #833
I’m using amplify to host a React app. I would like to turn off TLS/SSL altogether for testing purposes. Is that possible? I am using the default .amplifyapp.com domain.

[2020-10-28 06:41] rafikiass commented on #604
@litwicki any update on this ?

[2020-10-28 08:08] kristian-netflix opened #1171 "CREATE_FAILED rCreateContainerLambda when trying to add video"
**App Id**: d1krklz2q4zgk0
**Region**: ap-southeast-1
**Step**: rCreateContainerLambda
**Status**: CREATE_FAILED

**Issue/question**
Been following the [Introducing AWS Amplify Video](https://aws.amazon.com/blogs/media/introducing_aws_amplify_video/) blog post to test out the AWS Amplify Video setup.

When trying to push the setup to the AWS Console in the cloud, I get the follow errors in the loc

[2020-10-28 08:46] mads79 opened #1172 "Builds getting stuck in deploy"
Our builds suddenly started getting stuck in deploy for one of our projects.
Nothing significantly changed in that project, and the other project we have works fine.
Cancelling and restarting doesn't work.
Stopping all builds in all projects and restarting them one at a time doesn't help.

See: https://eu-west-1.console.aws.amazon.com/amplify/home?region=eu-west-1#/dm197t2mo7xbv/feature-video-conn

[2020-10-28 09:41] x5hwuk7nc6jsudcc commented on #115
Deploy issues are resolved for us on `ap-southeast-2` with no change to our code or buildspec

[2020-10-28 09:58] abhishek-sapient commented on #1160
Hi @gwryssekk -

I have hit a blocker again on this, where the deployment phase is getting stuck. Could you please update us on the queries and help me resolve this issue. Below are the details you may need

region - eu-west-1
app id - d36e86hd4onh9w

`version: 1
applications:
  - appRoot: packages/web
    frontend:
      phases:
        preBuild:
          commands:
            - npm ci
        b

[2020-10-28 10:01] eardenercruk opened #1173 "PR previews not being created"
## Issue Description
PR previews are no longer being generated for new branches since yesterday. This appears to be intermittent though no preview detection settings have been changed and our branches are created in the same way.

Note: We also have issue #1134 open.

## Application Details
arn:aws:amplify:eu-west-2:145300272324:apps/d9slrnc36kbq7

[2020-10-28 12:38] dtelaroli commented on #44
@cjimenezber today I understand why you have used another domain to development env. It's impossible use another subdomain wildcard because cloudfront does not allow also. Eg.: *.rootdomain.com and *.dev.rootdomain.com.
Now, it is a blocker missing feature for me. I also will need to buy another domain or migrate to another service.

[2020-10-28 13:11] gspeicher commented on #1039
I see a lot of activity on #115 but this problem is still unchanged for me. Our Amplify project is stuck in the Deploy phase of the pipeline as of yesterday:

`2020-10-27T15:10:31 [INFO]: Starting Deployment
2020-10-27T15:10:31 [INFO]: Updating Edge config
2020-10-27T15:10:32 [INFO]: Start deploying test artifact
2020-10-27T15:10:32 [INFO]: Deploying output.json
2020-10-27T15:10:32 [INFO]: Finish

[2020-10-28 15:20] tonykaram1993 commented on #436
We had the same issue, and we where trying to follow the amplify documentation: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa (Redirects for Single Page Web Apps (SPA)).

It did not work, but instead of: `</^[^.]+$|.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>` we used `</^((?!.(css|gif|ico|jpg|js|png|txt|svg|woff|tt

[2020-10-28 16:03] swnuk opened #1174 "Domain activation is Failed on re-try after fixing cloudfront DNS records"
**App Id**: d13i6q9t6hsp92
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
due to SSL validation timeout we have had to recreate custom domains records in AWS amplify. The CNAME records for previous domains already existed in the domain records. We have fixed the cloudfron dns name in the domain but the re-try for Domain Activation keeps failing.
In both ca

[2020-10-28 17:23] gwryssekk commented on #1168
Hi @jericopulvera --- can you check to make sure your cname is not used elsewhere?

[2020-10-28 17:25] gwryssekk commented on #1168
If you provide the domain you are trying to add, I can check.  Also, please have a look here:  https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

[2020-10-28 17:27] gwryssekk commented on #1169
Hi @kazdegroot.  Can you verify that the CNAME you are attempting to add does not exist elsewhere?

If you provide the domain you are trying to add, I can check. Also, please have a look here: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

[2020-10-28 17:50] behrooziAWS commented on #833
@bryantbiggs Good point, I'll work on getting the distributions associated with custom domains and get those updated as well.

[2020-10-28 17:52] litwicki commented on #115
We have now resolved all our deployments through all regions and are confident this issue is resolved. At this time we are closing this issue and in the event of any deployment issue encourage customers to create a new issue.

[2020-10-28 17:52] #115 closed

[2020-10-28 18:08] kazdegroot commented on #1169
Found that FAQ article a bit after I submitted this; associates the CNAME mention in the error with R53, not with cloud front.

Deleting the conflicting cloud front distribution, waiting 24 hours and retrying still gave this error, but deleting and re-adding the custom domain seems to have solved it.

Thanks!

[2020-10-28 18:08] #1169 closed

[2020-10-28 18:09] swaminator commented on #1163
@OmarKhattab do you have your SPA rewrite in place: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa

[2020-10-28 18:36] gwryssekk commented on #1173
Hi @eardenercruk -- we are looking into this.  I'll update with any findings.

[2020-10-28 18:37] gwryssekk commented on #1172
Hi @mads79.  Sorry you are experiencing this.  We are looking into the issue and will update here with findings.

[2020-10-28 19:15] rohit-aggarwal-cpi opened #1175 "Build is succeeding but intended app is not rendering"
App ARN : _arn:aws:amplify:ap-south-1:199186229877:apps/d1cb2d1xbbqoeo_

Amplify Console doesn't show any errors either during build or deploy cycle, but the correct app is not getting deployed. What's strange is that it seems like the deploy cycle didn't complete. Here are the logs from both:

**Build (last few lines)**
[code]

**Deploy**
[code]

After the build completes the URL shows the defaul

[2020-10-28 19:16] gwryssekk commented on #1164
Hi.  Thanks for reporting.  We will look into this.

[2020-10-28 19:49] gwryssekk commented on #1170
Hi.  We were able to recreate this issue and have identified a fix.  Will update when we have an ETA.

[2020-10-28 19:50] gwryssekk commented on #1173
Hello.  I am unable to reproduce this issue -- PRs for new branches are being generated for my app. Are PRs working for existing branches?

[2020-10-28 19:51] gwryssekk commented on #1175
Hi @rohit-aggarwal-cpi.  Thanks for reporting this.  We will investigate.

[2020-10-28 20:37] gwryssekk commented on #1164
Hi @gaurav-agarwal27 @gargshantnu @redixhumayun .  Can you please provide the impacted AppIds and the AWS region you are deploying in?

[2020-10-28 20:40] gwryssekk commented on #1174
Thanks for reporting this.  We will investigate.

[2020-10-28 22:15] kahdojay commented on #694
Thanks for sharing @simpson!

[2020-10-29 00:00] agrant-intix opened #1176 "502 ERROR The request could not be satisfied."
I connected my Next JS app a while ago and was consistently getting an index.html not found cloudfront error.

About two weeks ago (I don't have a specific date and time) I started seeing a new error as below.

The Lambda function result failed validation: The function tried to add, delete, or change a read-only header. We can't connect to the server for this app or website at this time. There mig

[2020-10-29 00:46] litwicki commented on #604
@rafikiass @drake-smith @joshkadis we've recently rolled out a new version of our deployment system via #115 that we are validating resolved this in all regions as well. We'll be following up with doc updates and confirmation ASAP.

[2020-10-29 01:48] jericopulvera commented on #1168
Sorry forgot to close the issue. This has been fixed. It was connected to a different account CloudFront distribution since the domain is transferred from one account to another.

[2020-10-29 01:48] #1168 closed

[2020-10-29 05:57] rlmmuthukumar opened #1177 "SSL Configuration -- still shows verify ownership"
I have created hosting zones in route 53 and configured aws-amplify for moonmart.net of website hosting but still the ssl ceritifcate is not working and also the cname i created in hosting zones are not propagating.

[2020-10-29 09:10] mads79 commented on #1172
We have been experimenting by connecting and disconnecting branches (so the link provided above is gone now, but the problem persists in the project.). Nothing seems to help.

I've noticed some things that might or might not be useful:
When you are on the detail page of a build it proceeds all the way to verify, and it gets marked as succeeded in the user interface, so it looks like the whole proc

[2020-10-29 09:42] mads79 commented on #1172
We also save the build number in a static file, so we can verify that the deploy step has actually completed successfully, even if it's not reflected in your system.

[2020-10-29 09:43] mads79 commented on #1172
Any timeframe for a fix?

[2020-10-29 10:55] gaurav-agarwal27 commented on #1164
Hi @gwryssekk, for me it was **ap-south-1**
AppID : **dhwl0qjevqs0i**

[2020-10-29 12:44] xhiroga opened #1178 "Ask users if it's ok to stop the service when disconnecting branch"
**Is your feature request related to a problem? Please describe.**
Disconnecting branches stopped a service I'm working on which was not expected. I was expecting the service will be kept hosting as is. I also forgot that a custom domain had been connected to the branch.

**Describe the solution you'd like**
When users do disconnect a branch, it should make a prompt to ask if it's ok to stop the s

[2020-10-29 13:20] lorenzk commented on #1167
We are having the same issue. Our preview app deployment hangs on `Finish deploying test artifact` indefinitely. We are using Cypress for our tests.

- App id: `d1zweq2xy6txw5`
- Region `eu-central-1`

<details>
<summary>amplify.yml</summary>

[code]
</details>

I moved the tests into the build phase as a workaround (hat tip to https://github.com/aws-amplify/amplify-console/issues/115#issuecomment

[2020-10-29 13:35] wsh-startup opened #1179 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource"
**App Id**: dv97k1v3h2snr
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
We had issues connecting your custom domain: wesoarhigh.com

**Error message**
One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
Trying to connect an Amplify hosted application as a subdomain served on Netlify.
Fo

[2020-10-29 17:38] gwryssekk commented on #1178
Hi @xhiroga, thanks for the feedback!  I'll submit this as a feature request for the team to evaluate.

[2020-10-29 17:42] litwicki commented on #1172
@mads79 you've summarized this correctly. We do not have a timeline yet, but we will be estimating this fix and hope to have a better idea as late as Monday.

[2020-10-29 17:45] tscole opened #1180 "Build failing due to FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
region: eu-west-2
app id: d3iczrv56cp0p5

I have a static site built using gridsome. As of today we are trying to add around 8500 new pages and the build is now failing with the error:
[code]
Builds succeed locally on my mac (which has 32Gb of memory).

My current build command is set to
[code]
This uses the same version of node I use locally and introduces --max_old_space_size which is suggested

[2020-10-29 18:21] swaminator commented on #1175
@rohit-aggarwal-cpi this should be resolved. Try redeploying your app to see the latest.

[2020-10-29 18:55] rohit-aggarwal-cpi commented on #1175
@swaminator Thanks a lot. Worked perfectly 👍🏼

[2020-10-29 18:56] #1175 closed

[2020-10-29 18:58] gwryssekk commented on #1164
We had an issue in ap-south-1 that could have been responsible for this.  We have corrected that issue.  Can you please try again and see if the issue has been resolved?

[2020-10-29 18:59] gwryssekk commented on #1164
@gaurav-agarwal27 -- We found in issue in ap-south-1 that could have been a potential cause for this.  We have corrected the issue.  Can you please try again to see if you are still experiencing the problem?

[2020-10-29 19:26] houmark commented on #924
@swaminator @Athena96 Any update on this? I've sent anything you requested, so please remove the `pending-customer-response` tag.

Currently, I am releasing to production using Console and it's been building the backend for 14 minutes, and just started all over and are uploading files for the second time. This means a release is closer to 30 minutes than the 8-12 minutes normal time before this pr

[2020-10-29 19:33] jparkhurst3 commented on #1177
I'm having the same issue - I've double checked that my records match and it's been stuck in the "SSL Configuration" stage for over 24 hours.

[2020-10-29 19:34] jparkhurst3 commented on #1159
Hi - I'm having a similar issue, I've been stuck in the SSL configuration stage for over 24 hours and I've double checked that the records match. Any pointers?

[2020-10-29 19:38] jparkhurst3 opened #1181 "Custom Domain stuck in SSL Configuration for over 24 hours"
**App Id**: dkpjqhk7788eq
**Region**: us-east
**Step**: Domain Management - Custom Domain
**Status**: SSL Configuration

**Issue/question**
It's been in the "SSL Configuration" step for over 24 hours. Should I keep waiting or assume something is wrong at this point?

**Error message**
No error message given

**Note**: Be sure to check the message for sensitive information.

**Additional informatio

[2020-10-29 19:43] swaminator commented on #924
@houmark can you try the latest version of the CLI?

[2020-10-29 22:01] leizhao-lesmills commented on #833
@behrooziAWS , we are facing the same issue. Is it possible for you to manually disable TLS 1.1 on our apps for now as well? Thanls.

[2020-10-29 22:19] behrooziAWS commented on #1149
We don't have VPC support at this time, resolving as a feature request.

[2020-10-29 22:19] #1149 closed

[2020-10-29 23:01] houmark commented on #924
I'm on 4.29.8 which is almost latest. Considering some bugs were reported with 4.30 we are holding back on upgrading as we don't want regressions. Are there any changes in 4.30+ that will potentially fix this?

[2020-10-29 23:11] swaminator commented on #924
@houmark the bug that you're talking about is fixed in `4.31.1`. Upgrade to that and your issue should be resolved.

[2020-10-29 23:22] houmark commented on #924
OK, I will close my eyes and cross my fingers and toes and attempt and update and hope nothing breaks one of the upcoming days, and report back here with the results.

Thanks!

[2020-10-29 23:23] behrooziAWS commented on #833
@nimrodp @bryantbiggs I've set it to 1.2 for the custom domains on the apps you provided. @leizhao-lesmills I don't have an app id for you, either post it here or send it to aws-amplify-customer@amazon.com and reference this github issue.

For all others, we are starting to update *all* cloudfront distributions to use [https://aws.amazon.com/about-aws/whats-new/2020/07/cloudfront-tls-security-poli

[2020-10-29 23:26] behrooziAWS commented on #833
@JoshVandeWalle

We don't support turning off TLS/SSL.

[2020-10-30 00:07] gwryssekk commented on #1179
Hi @wsh-startup -- This means that the CNAME you are attempting to add is associated with another cloudfront resource.  Check out the following:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error
https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

[2020-10-30 00:08] gwryssekk commented on #1176
Hi @agrant-intix -- can you provide your app Id and region?

[2020-10-30 00:09] gwryssekk commented on #1177
Sorry that you are running into this.  Can you please provide provide the appId and region for all impacted apps?

[2020-10-30 00:32] agrant-intix commented on #1176
region: ap-southeast-2
appId: d2c0j3a5mbuogw

[2020-10-30 03:40] braytonstafford opened #1182 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d3e3pao7vhudul
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Custom domain activation is failing with Amplify. The domain DNS is managed at Route53 and I do see the subdomains being created in Route53 but the activation is still failing.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a diff

[2020-10-30 04:26] deboboy commented on #1176
Getting same error as agrant-intix trying to deploy my Next JS app from the Amplify console.

The Lambda function result failed validation: The function tried to add, delete, or change a read-only header. We can't connect to the server for this app or website at this time. There might be too much traffic or a configuration error. Try again later, or contact the app or website owner.
If you provide

[2020-10-30 07:28] no-creative-name opened #1183 "Amplify Console GitHub check stuck at 'Expected — Waiting for status to be reported'"
**Setup**
We setup up Amplify Console with branch autodetection for our feature branches. Additionally we added branch restrictions to only be able to merge PRs when the Amplify build check runs through.

**Expected behaviour**
Previews are deployed for the feature branches and when they are successful, the check in the accompanying PR is allowing us to merge.

**Current behaviour**
Previews are d

[2020-10-30 13:06] zachary822 opened #1184 "Domain activation is Failed - CNAME Associated with different resource"
**App Id**: d2otjtlll6rgqh
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**

The domain is originally used in another cloudfront distribution. I have since deleted it, changed DNS records, and trying to reuse it with amplify.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive informat

[2020-10-30 19:39] gwryssekk commented on #1180
Hi @tscole -- we'll take a look.

[2020-10-30 19:40] gwryssekk commented on #1181
Hi @jparkhurst3 -- sorry you're running into this.  We'll take a look.

[2020-10-30 19:42] gwryssekk commented on #1182
Hi @braytonstafford.  Thanks for reporting this issue.  We'll look into it.

[2020-10-30 19:43] gwryssekk commented on #1183
Thanks, @no-creative-name -- we'll investigate.

[2020-10-30 20:11] gwryssekk commented on #1184
Hi @zachary822 -- are you able to share the domain you are attempting to add?

[2020-10-30 20:25] gwryssekk commented on #893
@gaurav-agarwal27 @redixhumayun -- Can you please share your impacted appId and region?  If it is ap-south-1, we had an issue there that may have caused this that has since been corrected.

[2020-10-30 20:38] Jordan-Eckowitz commented on #1154
@behrooziAWS I sent the email but still waiting on a reply...

[2020-10-30 21:11] kahdojay commented on #873
@spinningrachel apologies for the delay here. I took a look and it looks like there may have been an issue with the zip file being deployed - I wasn't able to reproduce the issue (having both access control and custom domain setup as well), and see that you have some subsequent / successful deploys.

Can you please let me know if you're still seeing the issue, and if so, also provide the environme

[2020-10-30 21:16] Athena96 commented on #671
Hello, sorry you're facing this issue.

1. Can you please share what commands you're running in `e2e-tests`
2. Also, can you please try updating your amplify.yml to be the following

[code]

[2020-10-30 21:24] malcomm commented on #163
Shouldn't Amplify CLI: "latest" be the default? This is confusing, if you want a specific version then you should pin it. But it sure seems like latest should be the default.

[2020-10-30 21:49] zachary822 commented on #1184
thoughtbank.app

[2020-10-30 22:41] rich4j commented on #884
I tried to set the hugo package to extended_{version} using the _LIVE_UPDATES env var but it didn't seem to do the trick..

I settled on a manual install in my amplify.yml

`
    preBuild:
      commands:
        - wget https://github.com/gohugoio/hugo/releases/download/v0.76.5/hugo_extended_0.76.5_Linux-64bit.tar.gz
        - tar -xf hugo_extended_0.76.5_Linux-64bit.tar.gz hugo
        - mv hugo

[2020-10-31 02:20] Hayden-Neilson commented on #1176
I have the same error with my react app when deploying with amplify too. This has been my issue for the last couple days it was fine on tuesday but then it started happening wednesday for me.

502 ERROR

The request could not be satisfied.

The Lambda function result failed validation: The function tried to add, delete, or change a read-only header. We can't connect to the server for this app or w

[2020-10-31 11:52] SuddalaSurajachary commented on #1176
I am facing the same issue with my Vue JS application when deploying with amplify. This is the case from last 6 days since i set it up for the first time.

502 ERROR

The request could not be satisfied.

The Lambda function result failed validation: The function tried to add, delete, or change a read-only header. We can't connect to the server for this app or website at this time. There might be t

[2020-10-31 11:56] vishnuku opened #1185 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2cgvtc9k0znfy
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Not able to activate the custom domain purchased with godaddy

**Error message**
One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
I have added route 53 DNS to go daddy account

[2020-10-31 20:20] matansagee opened #1186 "Build failed on Error: Could not find a schema at /codebuild/output/src .... schema.graphql"
After changing my graphql schema and pushing successfully build is failing while doing
`                                 # Starting phase: build

                                 # Executing command: amplifyPush --simple`

amplify pull --appId d39p6g819u0zli --envName dev

Build Logs
`                               # Starting phase: build
                                 # Executing command: ampli

[2020-10-31 22:54] gannaramu commented on #399
It would be helpful if we could have this feature!

[2020-11-01 11:14] jackscotti commented on #206
@abhi7cr @swaminator as by 01/11/2020 this issue still appears when I turn on PR Previews that create a new backend environment for every PR.

I have done as suggested in [your comment](https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-660498668), the required env variables are set for all branches:

<img width="681" alt="Screenshot 2020-11-01 at 11 05 43" src="https://user-im

[2020-11-01 14:57] jackscotti opened #1187 "[PR Previews] Amplify Console Build Failure"
**App ARN**:
arn:aws:amplify:eu-west-1:742504421912:apps/d2tzquzvkco6a2
**Region**:
eu-west-1
**Issue**
The backend environment build fails for PR previews on applications with social sign-in.

The issue **only** applies on the preview environments.

### `dev` branch preview settings:
<img width="825" alt="Screenshot 2020-11-01 at 14 53 48" src="https://user-images.githubusercontent.com/5038475/97

[2020-11-01 19:14] alexcamerondev opened #1188 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d2s8z7iw0zcj4i
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
When trying to add my domain, it fails and provides the error message below. I have removed all CNAMEs that would be relevant to this domain as it was recently setup in cloudfront/s3 prior to attempting to move to amplify

**Error message**
Next to useless error message: Error messa

[2020-11-01 20:49] #1186 closed

[2020-11-01 22:48] amalik18 opened #1189 "Backend Deployment Failing with 'not in a valid amplify project'"
**App Id**: do1m04bp6tvo2
**Region**: us-east-1
**Step**:
**Status**:

**Issue/question**
So when I deploy my Amplify app it gets to the `BUILD` section and keeps failing under the `Backend` section.

**Error message**
Here is the full-stack trace for the error:
[code]

**Additional information**
Please add any other relevant information. Please feel free to include screenshots.

 additional sampl

[2020-11-01 22:50] lindasaffiotti opened #1190 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d197t9t20ur1e
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-01 22:54] #1190 closed

[2020-11-02 02:22] gwryssekk commented on #747
Issue resolved as of 6/24.  Please reopen if you are still seeing this behavior.

[2020-11-02 02:22] #747 closed

[2020-11-02 02:24] gwryssekk commented on #1089
Closing for now as pending > 14 days. Please reopen if you are still experiencing this issue.

[2020-11-02 02:24] #1089 closed

[2020-11-02 02:57] gwryssekk commented on #982
No response since 2020-08-21.  Closing for now.  Please reopen if this is still an issue.

[2020-11-02 02:57] #982 closed

[2020-11-02 05:09] narenandu opened #1191 "SSL configuration is Running - for more than 8 hours"
**App Id**: d33a0sgi1unz6j
**Region**: us-west-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
Waited for more than 8 hours for the SSL Configuration to finish, before trying ou ta new one

**Error message**
There was no visible error except the fact that SSL configuration was just shown in progress for more than 8 hours

**Additional information**
Gets stuck there forever !

[2020-11-02 05:12] narenandu commented on #1191
I deleted and retried the step again. Seems to  have passed through now and on to Domain Activation
![image](https://user-images.githubusercontent.com/7259491/97832128-e77f3100-1c86-11eb-9b0c-326f70e03747.png)

[2020-11-02 05:12] #1191 closed

[2020-11-02 08:43] sugi-s commented on #1167
@litwicki @gwryssekk we are facing similar issue when running Testcafe e2e tests in test phase.....

_Logs from deploy phase:_
`2020-11-02T08:24:28 [INFO]: Starting Deployment
2020-11-02T08:24:28 [INFO]: Start deploying test artifact
2020-11-02T08:24:28 [INFO]: Deploying test-report.json
2020-11-02T08:24:28 [INFO]: Finish deploying test artifact
2020-11-02T08:24:28 [INFO]: Updating Edge config`

_

[2020-11-02 11:25] congnguyendinh0 opened #1192 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dfckroecex4sn
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-02 11:41] IamManchanda commented on #412
Hey @ericclemmons
Will the AWS Amplify JS + AWS Amplify Console support (SSR) also plans to include this feature 👇
=> https://nextjs.org/docs/basic-features/image-optimization (released on oct 27)

[2020-11-02 11:43] congnguyendinh0 opened #1193 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dfckroecex4sn
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-02 11:50] congnguyendinh0 opened #1194 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dfckroecex4sn
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-02 12:52] johanlantz commented on #1176
Same here, pushed an existing react app (frontend only) to amplify and got this error.

[2020-11-02 14:03] eardenercruk commented on #1173
Our PR previews are working again now and will continue to monitor. Not sure what resolved the issue but we have cleared out some old closed branches as per recommendation.

[2020-11-02 14:03] #1173 closed

[2020-11-02 15:04] mads79 commented on #1172
The problem seems to have resolved itself, hopefully it won't pop up again :crossed_fingers:

[2020-11-02 15:27] jsumande opened #1195 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: dewf4h09nwfx3
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-02 16:57] litwicki commented on #1172
@mads79 Glad to hear it; I'll close this but if anything happens in the future please don't hesitate to reopen a new issue!

[2020-11-02 16:57] #1172 closed

[2020-11-02 19:10] kahdojay commented on #873
@spinningrachel based on my investigation above I'll close this for now but please don't hesitate to re-open this issue and let me know if you're still experiencing the issue and need more help here.

[2020-11-02 19:10] #873 closed

[2020-11-02 19:18] narenandu commented on #59
Had to remove the last rule which seems to have fixed my issue

https://www.narenvadapalli.com/blog/gatsby-site-redirecting-to-homepage-aws-amplify/

[2020-11-02 21:17] tmwlsh commented on #828
@HoussemLay, @swaminator, Any more news on this? i think i have a similar issue.

[2020-11-02 21:21] tmwlsh opened #1196 "Your app does not have a role and you're attempting to interact with AWS resources"
I'm following the ['Build a full stack react application' tutorial](https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/module-three/?e=gs2020&p=build-a-react-app-two), and when i get to the end of Module 3, and push my code, i am seeing the following error:

[code]

When i click 'Fix This':
![image](https://user-images.githubusercontent.com/16941984/97920401-4f9a4980-1

[2020-11-02 21:23] swaminator commented on #1196
@tmwlsh Please follow this: https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html

[2020-11-02 21:28] tmwlsh commented on #1196
thanks @swaminator, can this be added to the tutorial?

[2020-11-02 21:58] #1196 closed

[2020-11-02 22:40] abhi7cr commented on #171
@Espen-Ellevseth @mansiva  @BenSaus @alanpilloud , we rolled out a fix recently for the above issue. Could you verify if it works on your end?

[2020-11-03 05:55] houmark commented on #924
After a hiccup on the first build, which seems unrelated to this issue (build log below), I was able to build the backend just once in about 6 minutes, so this seems to be fixed — thank you!

Build log from failed build 518 (redacted sensible information):

[code]

[2020-11-03 10:03] leonardoviada commented on #399
Any update?

[2020-11-03 11:01] KLaci commented on #97
Any progress with this? It's not okay that I have to update all my links to the ridiculously looking `/page/?param=value` structure due to the breaking change in Amplify's redirect behavior. I seriously consider migrating to Netlify because of this issue.

[2020-11-03 12:55] abhi6689-develop opened #1197 "Amplify console stuck at 'Your build is being queued. If your build has not started in over a minute, click the button below.'"
** Please describe which feature you have a question about? **
Having an issue with the Amplify Deploy feature.

** Provide additional details**

I was trying to deploy a webapp using Amplify(using a github repository). Got no errors in the process but the status is stuck at "Your build is being queued. If your build has not started in over a minute, click the button below."

[2020-11-03 13:21] congnguyendinh0 opened #1198 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: dfckroecex4sn
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-03 14:43] nimacks commented on #481
@leelakrishnachava @simpson @thapakazi, we've made enhancements to our deploy service which will resolve the issues mentioned. Are you still running into this issue?

[2020-11-03 15:00] bryantbiggs commented on #221
This is a much needed feature - if Amplify allowed exposing most of the configs for the underlying CloudFront distro that would be perfect for a lot of these issues

[2020-11-03 16:17] arturocanalda commented on #1029
+1

[2020-11-03 16:54] simpson commented on #481
The new deploy mechanism is a game changer, everything clear for me

[2020-11-03 17:12] behrooziAWS commented on #1046
We don't have a list of permissions or a managed policy that can help here at this time.  One thing you can do to reverse engineer the policy is to create a user with admin privileges and execute the amplify commands that you expect them to perform.  Then go to CloudTrail and filter by requests made by that user.  There is a 15-20 minute delay, so if you don't see the requests in cloudtrail immedi

[2020-11-03 19:32] Athena96 commented on #1197
Hi @abhi6689-develop can you please share your appId. Also, how many Amplify apps do you have in your account? Thanks!

[2020-11-03 21:01] #481 closed

[2020-11-03 21:02] #1038 closed

[2020-11-03 21:04] #924 closed

[2020-11-03 22:35] rz-robsn opened #1199 "Domain activation is Failed - CNAMEs you provided are already associated with a different resource."
**App Id**: d8lvf17uysti1
**Region**: ca-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I've been trying to point my custom domain to my amplify app instance with no success. Even after deleting the domain on amplify and recreating it several times following the steps outlined in the [guide](https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-m

[2020-11-03 22:50] litwicki commented on #1152
@meop are you still experiencing this issue? If so can you verify your `team-provider.json` file part of your build?

[2020-11-04 00:49] jhortale opened #1200 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: dfgmxft5n21w7
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-04 01:01] #1200 closed

[2020-11-04 01:26] Athena96 commented on #1158
Hi @Nirjhar100 just so I understand you:
1. created an app in us-east-2 (OHIO) and a code-commit repo in us-east-2 (OHIO)
2. created a new code-commit repo in us-east-1 (N. Virginia) and a new app in us-east-1 (N. Virginia)
3. then when you tried to build your us-east-1 app you received the cloning error you shared above
Is this correct?

Also when you set-up your 2nd app, what option below did yo

[2020-11-04 04:45] #1158 closed

[2020-11-04 06:28] abhi6689-develop commented on #1197
The appId is: d2kn574eeb7h1y, I have one amplify app in my account. Thanks!

[2020-11-04 08:05] redixhumayun commented on #1164
@gaurav-agarwal27 The region is **ap-south-1** and the app id is ** da4x7s6gzq4ld**

[2020-11-04 08:06] redixhumayun commented on #893
@gwryssekk The region is **ap-south-1** and the app id is **da4x7s6gzq4ld**. If you don't mind me asking, what was the issue and how has it been resolved?

[2020-11-04 10:35] arturocanalda commented on #868
+1

[2020-11-04 12:19] simpson commented on #481
@swaminator @nimacks @litwicki Have any additional patches gone out? Our production app at designed.org is down

[2020-11-04 12:33] simpson opened #1201 "New deploy process breaking redirects?"
** Please describe which feature you have a question about? **
We haven't made any changes to our config in months and now our production level app is down. It looks like this might be related to the major updates you pushed to fix the  amplify deploy process. Is it breaking redirect settings?

** Provide additional details**
Our production app, designed.org, is stuck in a redirecting loop and we

[2020-11-04 12:34] simpson commented on #1201
@litwicki @ericclemmons @swaminator @nimacks  Any other reports of builds being broken with the new deploy process?

[2020-11-04 14:27] dmudro commented on #1140
This is doable via webhook as you said. Totally works in my React SPA, all I have to do is to fire curl with the webhook endpoint as per doc. The build gets triggered and finishes despite no code change.

_Redeploy this version_ button in build detail should work as well in your case.

Had a similar question some time ago in https://github.com/aws-amplify/amplify-console/issues/929

[2020-11-04 14:41] dessskris commented on #1140
I've just tried that again, yes the webhook triggers the pipeline HOWEVER it does not rebuild the app

It simply says:
`Build cancelled - no diff detected from previous commit`
Even if you've updated the build specs on Amplify or the environment variables.

See screenshot below:

![image](https://user-images.githubusercontent.com/16229203/98124922-b2075d00-1eab-11eb-8f9c-7a2d793abe0f.png)

[2020-11-04 14:45] dmudro opened #1202 "Ability to provide void value in env variable override"
I want to provide a void value for a particular environmental variable for a particular. This is not possible in Amplify Console UI because the value field is required:

![image](https://user-images.githubusercontent.com/1648143/98124767-e717ad80-1eb3-11eb-9b4e-c89b90489b4b.png)

What is the feasibility of providing a UI control to "nullify" the value in the override?

[2020-11-04 17:10] Athena96 commented on #1202
Hi @dmudro yes, env variables require some value. Could you provide a value of "null" and treat that as null in your app code?
Can you also explain your use case and we can consider a feature request for this. Thanks!

[2020-11-04 17:25] congnguyendinh0 opened #1203 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: dfckroecex4sn
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.
 verify ownership of the domain takes longer than 8 hours
**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information

[2020-11-04 17:37] dmudro commented on #1202
Yes the "null" workaround is pretty much what we are doing. It's not a real _null_ obviously but stringify'd as env vars are always strings.

The use case is feature toggling. Let's say I want to enable a particular feature based on a presence of an ENV VAR, such as `API_URL=https://api.example.com/v1` in all branches but master / production.

So now to disable the new api dependent feature in pro

[2020-11-04 17:59] nimacks commented on #481
Hi @simpson, i'm able to access designed.org. are you still having an issue?

[2020-11-04 18:02] ericclemmons commented on #1201
@simpson Is the redirect loop still happening? I just visited https://www.designed.org/ in both Chrome & Firefox (macOS) and didn't see anything out of the ordinary.  (If you have any other details (screenshot or HAR file from DevTools' Network panel), I would appreciate it)

Or is the issue with the build process within Amplify Console?

[2020-11-04 18:09] nimacks commented on #1201
@simpson I'm not seeing any issues with https://www.designed.org/ in chrome or Firefox. Please send us some details if you are having issues and we'll look into this for you.

[2020-11-04 18:37] Athena96 commented on #1197
Hi, yes it looks like your build was queued, but never actually started. And it appears you have not re-tried the build yet, can you retry by opening your app in Amplify Console, then clicking on the branch name, then clicking the "Redeploy this version" button. Please let us know if you continue to face this issue.

[2020-11-04 18:51] simpson commented on #1201
@ericclemmons @nimacks It looks like we had about a 3hr outage, from around 0700-1000am EST. We haven't touched or changed anything on our end. It was a redirect loop returning no response.

![Screen Shot 2020-11-04 at 1 49 45 PM](https://user-images.githubusercontent.com/1605737/98155763-c72cbd80-1ea4-11eb-976a-f2ce49ed67f9.png)

[2020-11-04 18:54] ericclemmons commented on #1201
@simpson Do you have more information on the redirect loop?  I'm curious if it was a `301` / `302` or had a specific `location: ...` header to query for...

[2020-11-04 18:56] simpson commented on #1201
@ericclemmons this is all I have

[code]

[2020-11-04 18:59] Athena96 commented on #1189
Hi @amalik18 it looks like you have since deleted your project. If you are still facing the issue, can you please share your new appId and/or your build spec so we can attempt to repo. thanks!

[2020-11-04 19:02] amalik18 commented on #1189
Hey yea, i thought that maybe deleting and restarting would help but unfortunately it hasn't.

New AppID: d2v7a8w6dj2azu
Region: us-east-1

[2020-11-04 19:02] ericclemmons commented on #1201
@simpson Just what I needed. Thanks! That's a circular redirect for sure, so now to determine _why_. (Especially during a nearly exact 3 hour window)

[2020-11-04 19:22] Athena96 commented on #1189
Great thanks! Can you also share the folder structure of your app folders/files please

[2020-11-04 19:43] amalik18 commented on #1189
Of course,

amplifydemo:
* amplify/
** .config/
*** local-aws-info.json
*** local-env-info.json
*** project-config.json
** #current-cloud-backend/
*** auth/
**** amplifydemo52ac9539/
***** amplifydemo52ac9539-cloudformation-template.yml
***** parameters.json
**** amplify-meta.json
**** backend-config.json
**** tags.json
** backend/
*** auth/
**** amplifydemo52ac9539/
***** amplifydemo52ac9539-clou

[2020-11-04 22:28] Athena96 commented on #1123
Hi @coshua so `s8b795ky1j.execute-api....` is an API that you created and you're trying to call from your Amplify app is that correct? Are you returning the CORS headers in your APIs response?
[code]

[2020-11-04 22:43] chrisdemetriad commented on #399
I'd like to know that too

[2020-11-05 00:01] Athena96 commented on #1042
Hi, @SFaraji are you still facing this issue? If so can you provide any additional repro steps, I have not been able to repro on my end. Thanks!

[2020-11-05 00:12] SFaraji commented on #1042
Hi @Athena96, yes I'm still facing this issue.

Here the repro steps:
1. Click connect branch
2. Select the Repository service provider, in my case is "Gitlab" and click Next button
3. The screen will be locked and if you open from inspect element you can see `Failed to load resource: the server responded with a status of 404 ()`

Please advise what to do.

[2020-11-05 03:40] abhi6689-develop commented on #1197
Hey, tried doing that, but clicking on the branch name leads to a blank screen.

[2020-11-05 07:44] OmarKhattab commented on #1163
Just saw your comment thanks for referencing the aws docs that was the solution but I figured it out from another source.

[2020-11-05 07:44] #1163 closed

[2020-11-05 08:00] dmudro commented on #1140
Strange, works in my case and without needing to change anything in the code. It's just a manual trigger as you would expect. Hopefully someone from the Amplify team will look into this.

I wonder if _Redeploy this version_ could be useful for your case:
![image](https://user-images.githubusercontent.com/1648143/98213338-39ed7580-1f45-11eb-8361-c1f6556089e1.png)

[2020-11-05 08:26] econtentmaps commented on #56
+100 I have a non-amplify app in the same account that I need to be able to use on a subdomain of the domain managed by amplify . Being unable to access the certificate from cloudfront prevents this, afaict.

[2020-11-05 16:13] KomaGR commented on #329
I don't feel comfortable giving full-access to an OAuth app that claims it nees read-only access to work.

[2020-11-05 17:40] Athena96 commented on #671
Closing this issue, please feel free to re-open if you are still facing the issue

[2020-11-05 18:36] pauljflo commented on #12
if you are hosting the frontend in S3 could you not apply a bucket policy to restrict access to certain IP addresses?
Something like:
` "Version": "2012-10-17",
  "Id": "IPRestrict",
  "Statement": [{
    "Sid": "IPRestrict",
    "Effect": "Deny",
    "Principal": "*",
    "Action": "s3:*",
    "Resource": [
      "arn:aws:s3:::awsexamplebucket",
      "arn:aws:s3:::awsexamplebucket/*"
    ],

[2020-11-05 19:27] Athena96 commented on #1189
Thanks for the info. Can you also share your build spec. You can view this from the console by selecting your app, then clicking "Build settings" in the left hand corner.

[2020-11-05 19:45] amalik18 commented on #1189
Yep here you go. I only added the backend section.

[code]

[2020-11-05 20:31] dcfranca commented on #595
Quite often I get the error that I have reached the pull limits

`[BUILD_CONTAINER_UNABLE_TO_PULL_IMAGE: Unable to pull customer's container image. CannotPullContainerError: Error response from daemon: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading`

Is it at least possible to login into Docker hub from the Amplify console to incr

[2020-11-05 22:25] johnhill2424 commented on #595
Using the Codebuild AWS image worked for me:

![image](https://user-images.githubusercontent.com/32116706/98303342-f23e0c80-1f8b-11eb-8b6a-ee3c0f4908a7.png)

[2020-11-06 00:07] waelio commented on #749
Me too. Such a spaghettis flow. I love Italian food but like this, not at work. Having to redo my project for the 5th or 6th time. Every time it a bug, reconnect to git, versions. I hoped going serverless might save me time but I see every deploy is like unprotected intercourse with a prostitute

[2020-11-06 05:47] michaelbrewer commented on #18
Currently the best option it to do this via CDK

[2020-11-06 10:48] raveslave commented on #14
+1

[2020-11-06 15:45] sarcoma commented on #552
I have the same issue, I also have a .npmrc in the root of the React project with config for a private CodeArtifact repo.

[code]

[2020-11-06 15:51] 293nav commented on #876
I am facing the issue despite moving the project to a non iCloud synced folder.

I started seeing this issue while running amplify push for the first time after deploying

[2020-11-06 16:20] bumbleparrot commented on #876
@293nav , try deleting all the generate files and re-creating the amplify resources. you probably still have a bunch of the duplicate files in the amplify backend folder.

[2020-11-06 16:43] jcf commented on #612
I came across this issue while researching how to create a robust CSP with Amplify and CSS-in-JS solutions like styled-components, emotion, MUI etc.

My understanding is that you should generate a new nonce for each response whereas the solution above suggests doing so at build/deploy time.

The section on use of a `nonce` in your CSP over on [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP

[2020-11-06 17:49] Athena96 commented on #1201
Hi @simpson can you please share your appId

[2020-11-06 18:17] simpson commented on #1201
@Athena96 We are in southeast-1

App ARN
arn:aws:amplify:ap-southeast-1:252100588959:apps/d12hn9rteao8a1

[2020-11-06 19:31] ericmick opened #1204 "SSL configuration is Running - Error message: One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d2rex0if3gt493
**Region**: us-west-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
How do I migrate a custom domain from a regular cloudfront distribution to amplify?

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
**Note**: Be sure to check the message for sensitive information.

**Additio

[2020-11-06 22:40] meop commented on #1152
I manually triggered a build and this time it worked. Not sure what changed. I can reopen if it happens again. Thank you.

[2020-11-06 22:40] #1152 closed

[2020-11-06 23:26] bryantbiggs commented on #621
any update?

[2020-11-07 13:03] ayeganyan opened #1205 "Amplify CI logs are incomplete or command failed without proper error reporting"
** Please describe which feature you have a question about? **
Amplify CI

** Provide additional details**
I have the following build script for Amplify CI
[code]

I have added the test part, and like to install nodejs 12 package first, then run my initialize script to create automation user (which will be later to test APIs ).
this scripts are working just fine in amazon linux 2 docker container,

[2020-11-07 16:56] ergunpp opened #1206 "Deploying with aws amplify via GitHub"
Hi,
I am building a dynamic app using gatsbyjs, and cognito authentication.
I have added the aws cli and initialized a project with the cli and setup user pools.
I am pushing the project to GitHub, from where it is pulled to aws amplify app and deployed.
Build runs ok on amplify, but whenever I am trying to login to app, get the following error:

`AuthError -
            Error: Amplify has not bee

[2020-11-08 01:23] juanlucky commented on #1058
hi there, I tried to publish a simple default Vue.js Hello World following the Amplify Vue.js tutorial (https://docs.amplify.aws/start/getting-started/hosting/q/integration/vue#add-hosting-to-your-app) and it fails at the last publishing step with this teminal output :
Zipping artifacts completed.
× Deployment failed! Please report an issue on the Amplify Console GitHub issue tracker at https://gi

[2020-11-08 02:45] MatteoInfi commented on #400
same bug here

[2020-11-08 03:08] MatteoInfi commented on #288
Umm, nope, it is still showing the old one

[2020-11-08 09:03] AshwaniChoudhary opened #1207 "(Monorepo App) Unable to set custom headers"
Hi, I am trying to set the custom security and cache header, as mentioned [here](https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html#setting-custom-headers).

But after doing that my build is failing.

Steps to replicate:
1. create a new project by linking bitbucket repo.

** After successfully build and deployment.

2. Set custom headers for an app in the AWS Management Conso

[2020-11-08 13:30] tim-giblin opened #1208 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: dxku4vtlhfebq
**Region**: eu-west-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
Has been stuck on SSL configuration for over 24 hours. The SSL didn't renew so I removed the domain and re-added it but now the SSL won't configure.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive informati

[2020-11-08 14:03] juanlucky commented on #1058
hi again, I complete my previous post with new tests.
I created a completly new test webapp with simple default Vue.js Hello World following the Amplify Vue.js tutorial (without API, Auth).
I added a manual deployment hosting service ((https://docs.amplify.aws/start/getting-started/hosting/q/integration/vue#add-hosting-to-your-app) and in this case it worked fine and I could access to the deployed

[2020-11-08 16:00] juanlucky commented on #1058
I found the origin of my "access denied" error...
My webapp is located in a root directory /xxx of my Git Repo so I'm in the case called "[Monorepo](https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#monorepo-configuration)" in the Amplify documentation.
It is a little bit confusing (at least for me!) to work with the amplify CLI in the /xxx directory of my repo (running init

[2020-11-09 00:12] janicduplessis opened #1209 "Files with no extension are not working"
I'm trying to upload a `apple-app-site-association` file which needs to be at `/.well-known/apple-app-site-association` but instead of returning the file content it redirects to `/.well-known/apple-app-site-association/` and 404s. I have another file in the same directory with a .txt extension and it works properly.

App arn: arn:aws:amplify:us-west-2:087361454497:apps/dcfixisztquqr

Problematic f

[2020-11-09 03:05] Hayden-Neilson commented on #1189
I am getting the same issue with my react app and not sure where to go or how to fix this Please help?

[2020-11-09 04:02] #1184 closed

[2020-11-09 04:04] jnapprogs commented on #56
Is it common for AWS teams to leave comments with no updates for 1+ years?  What's everyone up to?  People rely on these services and all we get is ridiculous response times

[2020-11-09 04:56] ayeganyan commented on #1205
Additionally, I am installing Node12 to use aws-exports.js to get things like user pool ID etc.
Is there any other way to do?

[2020-11-09 07:17] matsuihidetoshi opened #1210 "Custom domain: subdomains limit"
** Please describe which feature you have a question about? **
- I built Nuxt.js application, and deployed it on AWS Amplify Console.
- I wanted to add subdomains which connect to the same application.
- I could do this, but I don't know the maximum number of subdomains.

** Provide additional details**
- I want to know if there is a limit of number of subdomains, or not.
- And if so, I want to kn

[2020-11-09 07:32] matsuihidetoshi commented on #1210
## Maybe this records quota relates about this issue.
https://docs.aws.amazon.com/general/latest/gr/r53.html

[2020-11-09 10:06] kulikala commented on #1209
This happens to me too.

It seems "Trailing slashes and clean URLs" having troubles.
https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#trailing-slashes-and-clean-urls

| User inputs in browser | Expected redirects | Actual redirects |
|------------------------|--------------------|-----------------|
| `/about (when about.html returns 404)` | `/about/` | `/0000000001/about` |

`00

[2020-11-09 10:32] tariqinaam commented on #412
I am following guide on [aws](https://docs.amplify.aws/start/getting-started/hosting/q/integration/next). I was able to run the app locally successfully.
Deployed using above serverless component, cli shows successful deployment. However when visiting the cloudfront app url. I get following error:
`The Lambda function associated with the CloudFront distribution is invalid or doesn't have the requi

[2020-11-09 10:35] pankajbokdia opened #1211 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d3fgli4zqhyc6
**Region**: ap-south-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-11-09 13:25] dmudro opened #1212 "How to fire a post deploy onSuccess notification?"
Is there mechanism in AWS Amplify Console to trigger a custom action after the deployment is successful?

For example I want to fire a webhook notification after the deployment has been successfully completed.

I see 3 phases in the build section - `prebuild`, `build`, `postbuild`: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html

I am after a `postDeploy`

[2020-11-09 14:04] ohlr commented on #412
@tariqinaam  you need to redeploy (run `serverless`) to create the new pages

[2020-11-09 14:19] tariqinaam commented on #412
It's failing on existing page. E.g homepage which obviously exist

[2020-11-09 14:37] orizens commented on #612
hi @jcf
we're are serverless based product - so - we dont have access to each response.
thanks for reviewing 👍

[2020-11-09 17:26] Athena96 commented on #1123
Closing this, please feel free to re-open if you are still facing the issue, thanks!

[2020-11-09 17:26] #1123 closed

[2020-11-09 17:51] Athena96 commented on #1019
Closing this as there has been no response, please feel free to re-open if you are still facing the issue. Thanks!

[2020-11-09 17:51] #1019 closed

[2020-11-09 18:48] Athena96 commented on #1107
closing, please feel free to re-open if you are still facing this issue

[2020-11-09 18:48] #1107 closed

[2020-11-09 19:27] kahdojay commented on #1207
@AshwaniChoudhary just making sure, are you entering the config into the custom headers settings GUI? Or are you deploying it as a `customHttp.yml` file? (if the latter note the filename must be customHttp.yml)

Once potential issue is that your config must be nested inside a top level customHeaders field, i.e.:

[code]
(you may have done that already but I don't see it in your example, so just ma

[2020-11-09 20:17] SourceCode commented on #262
Has anyone come up with any approaches for this yet?

[2020-11-09 21:10] hobyfrezk commented on #727
same here, after try the "Re-authenticate app" button, the issue still here.

[2020-11-09 22:10] simpson commented on #827
@swaminator FYI, we followed these steps exactly and it still doesn't work

[2020-11-09 22:11] simpson commented on #898
FYI, we followed these steps and it still doesn't work. Both issues are closed now

[2020-11-09 23:14] jasona7 commented on #1176
Also experiencing this issue.  Local render works but get the error below after pushing a Vue.js SPA with redirect type 404 (Rewrite)

**502 ERROR
The request could not be satisfied.**
The Lambda function result failed validation: The function tried to add, delete, or change a read-only header. We can't connect to the server for this app or website at this time. There might be too much traffic or

[2020-11-10 05:05] #671 closed

[2020-11-10 07:50] litwicki commented on #604
Closing this as we have resolved with #115 -- in the event of any regression please recreate a new issue.

[2020-11-10 07:50] #604 closed

[2020-11-10 07:52] litwicki commented on #1201
@simpson are you still experiencing any issues? We have not been able to reproduce or identify any issues on our end.

[2020-11-10 07:53] litwicki commented on #481
@simpson can you confirm this is no longer an issue?

[2020-11-10 07:55] litwicki commented on #1167
@sugi-s  This particular scenario is something we are investigating a root cause for and prioritizing as soon as we can. In the meantime are you able to use the workaround proposed?

[2020-11-10 11:33] joshkadis commented on #604
thanks @litwicki

[2020-11-10 11:50] simpson commented on #1201
@litwicki we have not had any additional outages since that, we will continue to monitor

[2020-11-10 12:21] bjohn96i opened #1213 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d1m7hh10wmthal
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

[2020-11-10 12:34] lukehedger commented on #1134
@abhi7cr Anyone update on this? We are still seeing the problem.

[2020-11-10 15:07] bvirlet commented on #1176
Same issue on our apps as well.

Generated by cloudfront (CloudFront)
Request ID: 2FJCpsdZXrf3FBrGJg2tHpEYFCj-FlvBJ-8hsyabGXUQ5qmldCXypQ==

[2020-11-10 15:39] JohnCashmore commented on #254
Given the recent changes to the docker hub pull policy could this be looked at?

[2020-11-10 16:14] dmsolutionz commented on #412
Increase the timeout to 25, try again. It could be the cold start.

[2020-11-10 16:38] lukehedger commented on #837
@hsspain Would be good to understand whether [Docker's changes to rate limits](https://www.docker.com/increase-rate-limits) is going to impact Amplify builds?

[2020-11-10 16:55] lucashenning commented on #837
+1
![image](https://user-images.githubusercontent.com/12414494/98705381-a7d1dc80-234b-11eb-97dd-b08ec9f851fe.png)

[2020-11-10 17:08] chriswolmarans commented on #991
I'm having a similar issue - I've deployed a gatsby site for a client (https://argentocpa.ca) to Amplify through the Amplify Console and followed this https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa.

These are my current rules:
[code]
I cannot refresh a page or navigate directly (via browser address bar) to any link other than the root. W

[2020-11-10 17:22] jhortale opened #1214 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dfgmxft5n21w7
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Why I cannot assign a custom sub domain to AWS Amplify?

**Error message**
One or more of the CNAMEs you provided are already associated with a different resource.

[2020-11-10 18:09] nimacks commented on #1213
Can you provide more details about what the issue here is? Is your custom domain hosted is Route53 or is it hosted in a 3rd party DNS provider?

[2020-11-10 18:15] chriswolmarans commented on #991
Here is an example repo to better illustrate the behaviour explained in https://github.com/aws-amplify/amplify-console/issues/991#issuecomment-724839076:

https://github.com/chriswolmarans/gatsby-starter-mobx-react-hooks-context-api

Deployed to Amplify via console here:
https://master.d1f0rl59yms54k.amplifyapp.com/
- redirects to root on refresh
- cannot deep link to any page other than root

---

[2020-11-10 18:36] arximughal opened #1215 "AWS Build Failed: error @ava/babel@1.0.1: The engine "node" is incompatible with this module."
All AWS Amplify Builds suddenly started failing due to this error.
[code]

I am not sure if it's safe to share my complete provision and/or build logs here. Please let me know if you need anything more.

Here are the node versions and other variables defined at the top of Provision Logs:

[code]

[2020-11-10 18:55] litwicki commented on #1201
@simpson thanks for following up. I'm going to close this but if anything similar happens again please reopen or create a new issue, thanks!

[2020-11-10 21:19] nimacks commented on #1195
Refer to our documentation to troubleshoot domain setup. https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

Let us know if you're still facing issues.

[2020-11-10 21:20] nimacks commented on #1214
Refer to our documentation to troubleshoot domain setup.

- https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
- https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error

Let us know if you're still facing issues.

[2020-11-10 21:20] nimacks commented on #1213
Refer to our documentation to troubleshoot domain setup.

- https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
- https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error

Let us know if you're still facing issues.

[2020-11-10 21:21] nimacks commented on #1211
Refer to our documentation to troubleshoot domain setup.

- https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
- https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error

Let us know if you're still facing issues.

[2020-11-10 21:23] nimacks commented on #1208
Can you provide more information regarding how the SSL didn't renew?

[2020-11-10 21:24] nimacks commented on #1207
@AshwaniChoudhary any updates?

[2020-11-10 21:27] nimacks commented on #1204
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2020-11-10 21:27] nimacks commented on #1203
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2020-11-10 21:29] nimacks commented on #1199
The error says that the CNAME you provided is already associated with a different CloudFront distribution.

Refer to our documentation to troubleshoot domain setup. Can you verify that you haven't used the domain/subdomain with another Amplify app or CloudFront distribution?

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexcept

[2020-11-10 21:30] nimacks commented on #1198
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error

Let us know if you're still facing issues.

[2020-11-10 21:30] nimacks commented on #1194
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2020-11-10 21:31] nimacks commented on #1192
This is duplicate of #1193

[2020-11-10 21:31] #1192 closed

[2020-11-10 21:31] nimacks commented on #1193
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2020-11-10 21:32] nimacks commented on #1194
This is a duplicate of  #1193

[2020-11-10 21:32] #1194 closed

[2020-11-10 21:32] nimacks commented on #1188
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2020-11-10 21:33] nimacks commented on #1185
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error
Let us know if you're still facing issues.

[2020-11-10 21:50] rz-robsn commented on #1199
Thank you Sam for taking a look,

The troubleshooting documentation is not particularly useful for me as I’ve never used Cloudfront and so I don’t have any cloud front distributions. Also I don’t have any other amplify project aside from this one (this is my first amplify app). However I used to have a different domain name that pointed to this app.

Additionally as I’ve mentioned in the issue des

[2020-11-10 21:56] nimacks commented on #1212
We currently do not have a postDeploy phase. However, I can provide an alternative approach.

### 1. Setup an email notification in the console

![image](https://user-images.githubusercontent.com/4107271/98737815-a27c8e00-235b-11eb-80ef-9c9f917b3e0e.png)

### 2. In your AWS account, Go to EventBridge. You'll see an eventbridge email rule created for your app.
![image](https://user-images.githubuse

[2020-11-10 21:59] nimacks commented on #1215
Can you try using something like this in your build spec.

[code]

[2020-11-10 22:06] nimacks commented on #1182
The error message says `One or more of the CNAMEs you provided are already associated with a different resource.`
Check that you don't have that domain associated with an existing CloudFront domain.
Refer to https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error

[2020-11-10 23:48] theelk801 commented on #405
Hi, I'm also having this issue. Will there be a fix soon?

[2020-11-11 01:16] evanlarkin10 commented on #1176
I am having the same issue

[2020-11-11 01:24] kahdojay commented on #777
@nickchauhan we've released the ability to configure custom headers for manual deploy apps as well, details in updated docs: https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html

[2020-11-11 01:24] #777 closed

[2020-11-11 03:55] amalik18 commented on #1189
@Athena96 Any luck?

[2020-11-11 05:38] talhaabbasi commented on #296
Same issue for me:
![image](https://user-images.githubusercontent.com/28659121/98773083-02ca0900-240a-11eb-9cb8-07a7e556efc6.png)

@litwicki any update on this?

[2020-11-11 05:46] litwicki commented on #296
@talhaabbasi are you running multiple builds on 1 or more apps? There is a maximum number of concurrent builds that can be ran at once, and an issue we are working to resolve where that limit isn't displaying correctly in some cases. While I know this isn't ideal, are you able to cancel and "Redeploy this version" with any success?

[2020-11-11 05:48] talhaabbasi commented on #296
Yes, I am running multiple builds.
Yes, it works fine when I cancel and redeploy.

[2020-11-11 07:33] soumik-mukherjee commented on #991
@chriswolmarans
I had to setup URL rewrites everytime I had **client-only routes** in my Gatsby application. For static pages, it should work as it is (i.e. `yarn build` and then deploy the `public` folder to amplify frontend)

I checked the codesandbox, seems like you have static routes at `/temperature-page` and `/counter-page`. If these static routes are your deep links, try removing any rewrit

[2020-11-11 08:25] tim-giblin commented on #1208
The SSL had expired for a few days, I couldn't see a way of renewing it within AWS Amplify, I thought that it would do it automatically. As I couldn't find anything I removed the domain and re-added it from the App.

[2020-11-11 09:44] eincs opened #1216 "Amplify Build Failured"
**Please describe which feature you have a question about?**
I pushed changes to my connected repository, and amplify automatically starts build, but build fails.
I checked logs, but no failure message on log.

**Provide additional details**
App Id: d2sv4yqjnui3id
Region: ap-northeast-2
Step: build
Status: Failed

**Error message**
Build failed to complete successfully

[2020-11-11 09:58] eincs commented on #1216
Here is log file contents:
[code]

[2020-11-11 11:37] profit4x opened #1217 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dg7dvpvifq721
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-11-11 12:05] tariqinaam commented on #412
I have increased it to 30sec, but somehow response failing in 10 sec. Is there anything need to be changed to cloudfront side?
One thing I noticed that serverless created cloudfront and lambda in us-east-1 region by default. whereas my application is in eu-west-1 region. could there be any permission issue between regions?

[2020-11-11 12:24] dmsolutionz commented on #412
Cloudfront is distributed, it doesn't matter what region it is deployed to, what are your logs saying?

[2020-11-11 12:36] VED-StuartMorris commented on #380
Opening this open, seeing the same issue occur in eu-west-2 currently.

[2020-11-11 13:20] tariqinaam commented on #412
log aren't much helpfull. it only says "Task timed out after 10.01 seconds" even though lambda execution is set to 30 sec

[2020-11-11 13:39] AlessandroVol23 commented on #595
Worked for me as well with the image: aws/codebuild/amazonlinux2-x86_64-standard:3.0

Left in the menu on **Build Settings** -> Scroll down to **Build image settings** -> Edit -> **Build image** in Dropdown -> Enter **aws/codebuild/amazonlinux2-x86_64-standard:3.0**

[2020-11-11 17:07] chriswolmarans commented on #991
Thank you @soumik-mukherjee, here are the rewrite/redirect rules for the app at https://master.d1f0rl59yms54k.amplifyapp.com/:

[code]

The app behaves as intended now after removing the above rules and changing them to:

[code]

After applying the same steps to the main site (not the example repo) it took some time for the change to take effect, which initially appeared as if it isn't working at

[2020-11-11 17:09] litwicki commented on #1144
@MarkAtwood without knowing how that tool operates it's difficult for us to take any actions on this. Can you give us a full URL example and we can dig into seeing if there's anything we can optimize on our end?

[2020-11-11 17:11] litwicki commented on #1145
@gregbkr anything that's part of your artifact directory will be hosted on amplify as the root directory. You'll need to point your app to the proper path, and make sure that file is part of your deployment artifact.

[2020-11-11 17:14] litwicki commented on #1146
@thekeith if I'm understanding correctly your build depends on a version of ruby that is not the standard part of the build container. When true, you'll need to do exactly as you said here where updating the Gemfile will properly define the version to use for the build and install it to the container.

[2020-11-11 17:18] litwicki commented on #1157
@tomhirschfeld Are you seeing this as a timeout, or as the app being stuck in deployment?

[2020-11-11 17:20] litwicki commented on #1165
@rikhiljain @gaurav-agarwal27 are you still experiencing this?

[2020-11-11 17:20] litwicki commented on #1181
@jparkhurst3 are you still experiencing issues with this?

[2020-11-11 17:21] nimacks commented on #1210
Refer to this document for limit information : https://docs.aws.amazon.com/general/latest/gr/amplify.html

[2020-11-11 17:21] #1210 closed

[2020-11-11 17:22] litwicki commented on #1138
@kunalkhadke01 are you still experiencing this?

[2020-11-11 17:22] litwicki commented on #1137
Closing due to inactivity, if this issue persists, please reopen.

[2020-11-11 17:22] #1137 closed

[2020-11-11 17:26] litwicki commented on #1133
Closing due to inactivity, if this issue persists please reopen this issue.

[2020-11-11 17:26] #1133 closed

[2020-11-11 17:26] nimacks commented on #1208
Did re-adding the domain resolve your issue?

[2020-11-11 17:27] litwicki commented on #1129
@Hadayo are you still experiencing any issues?

[2020-11-11 17:28] kunalkhadke01 commented on #1138
No , I am not facing any issue now.
thank you

On Wed, 11 Nov 2020, 10:52 pm Jake Litwicki, <notifications@github.com>
wrote:

[2020-11-11 17:33] litwicki commented on #1124
@campbellwarren are you still experiencing any issue? Does the proper profile/policy work for you as well?

[2020-11-11 17:35] litwicki commented on #1122
Closing this issue as the NS records are the required solution. If this issue persists even with NS records please reopen.

[2020-11-11 17:35] #1122 closed

[2020-11-11 17:35] litwicki commented on #1121
@jericopulvera are you still experiencing any issues?

[2020-11-11 17:38] litwicki commented on #1115
@joshclawson are you still experiencing issues?

[2020-11-11 17:38] litwicki commented on #1097
@wenruiliau are you still experiencing any issues?

[2020-11-11 17:39] litwicki commented on #1095
@Vaaljan Thanks for your insight; I agree that follow-up behavior is a bug that we'll work on fixing. Regarding the actual domain validation issue, are there any issues or are you all set now?

[2020-11-11 17:40] litwicki commented on #1092
@hoffination are you still experiencing issues?

[2020-11-11 17:41] litwicki commented on #1086
@rajibganguly If your domain is validated correctly, can you elaborate on what you believe is not working correctly?

[2020-11-11 17:42] litwicki commented on #1085
@llorenspujol Is this a SPA? If so you'll need to add a rewrite rule for static assets if you're using something like react-router

[2020-11-11 17:43] litwicki commented on #1083
@superjose are you still experiencing any issues?

[2020-11-11 17:44] litwicki commented on #1069
@dougleville are you still experiencing any issues here?

[2020-11-11 17:50] tariqinaam commented on #412
alright, I got it working. All I did was amplify push and npx serverless again.
It seems (at least for my app) that amplify push was needed after running npx serverless.

[2020-11-11 18:00] llorenspujol commented on #1085
hi @litwicki ! yes is an SPA. Yes I had the rule for static assets and all going on. I also found the issue, so I am gonna close the ticket (I didn't remember to do it)

The issue was somehow related to the zip method I used to zip the app... Really strange since I tried on several machines to unzip it and the output was totally correct (environments: windows, ubuntu and linux). I don't know in wh

[2020-11-11 18:00] #1085 closed

[2020-11-11 18:21] dougleville commented on #1069
@litwicki I was never able to get this working so I fell back to the environment variable approach. Is this something that you'd expect to work in principle? If so I can go back and try it again.

[2020-11-11 18:23] heinrich-fresh commented on #1095
@litwicki  Yes We sorted out the domain validation.  Thanks.

[2020-11-11 19:35] #1138 closed

[2020-11-11 19:37] litwicki commented on #1069
@dougleville no this would not be expected to work, so let's consider this closed and if you experience any similar issues please reopen

[2020-11-11 19:37] #1069 closed

[2020-11-11 19:37] #1095 closed

[2020-11-11 20:33] soumik-mukherjee commented on #991
I think the amplify web hosting is backed by a cdn, and I would assume the rewrite rules also stay on the edge service. While amplify will manage invalidating objects intelligently for you, you should expect a delay when you change things.

[2020-11-11 21:06] jericopulvera commented on #1121
No.

[2020-11-11 21:06] #1121 closed

[2020-11-11 22:00] jhortale commented on #1214
Worked Thanks, there was a wildcard *.domainname.com and I just removed

[2020-11-11 22:00] #1214 closed

[2020-11-12 00:21] matsuihidetoshi commented on #1210
@nimacks Thank you! I just wanted this information.

[2020-11-12 02:40] theelk801 commented on #405
Just to add some info, I've noticed that the problem doesn't happen on build previews, only on main deployments.

[2020-11-12 03:23] Hayden-Neilson commented on #1189
Not yet I have looked at some forums and the aws site for it but no I not found a fix yet.

[2020-11-12 05:14] Alk3m1st commented on #284
Has there been any progress on documenting this yet? Even to just get an idea of what reporter formats are supported so we can possibly use the test phase for jest unit tests, etc. would be great.

[2020-11-12 06:12] Alk3m1st commented on #1167
Just noticed this issue and it's similar to what I was experiencing. In my case I was missing configFilePath in the tests > artifacts section. Once I added that pointing to my test report file it starting working. An example is configFilePath: '**/mochawesome.json' as in the documentation here - https://docs.aws.amazon.com/amplify/latest/userguide/running-tests.html (just before the disabling test

[2020-11-12 07:31] Alk3m1st opened #1218 "No way to add customHttp.yml to AWS::Amplify::App CloudFormation"
** Please describe which feature you have a question about? **
I've been using CloudFormation to automate the creation of Amplify Apps and with the recent change of shifting Custom headers out of the amplify.yml file and into customHttp.yml I wanted to find out how this can be done through CloudFormation now?

** Provide additional details**
There is a BuildSpec param currently documented here - h

[2020-11-12 09:36] wvidana commented on #595
@swaminator can you clarify? Should we use the codebuild image or wait for https://github.com/aws-amplify/amplify-console/pull/1139 ? I don't mind on discarding the PR if not necessary

[2020-11-12 09:43] greenled commented on #727
same issue here

[2020-11-12 09:46] gregbkr commented on #1145
OK, thanks for your answer. You may close.

[2020-11-12 09:46] #1145 closed

[2020-11-12 10:30] Hadayo commented on #1129
Hi, to be honest I switched to a different hosting service it is irrelevant now. Thanks anyway!

[2020-11-12 10:30] #1129 closed

[2020-11-12 13:38] arximughal commented on #1215
THanks @nimacks , this worked. I had to do some package updates later on but this is what I needed to fix the error mentioned.

[2020-11-12 13:38] #1215 closed

[2020-11-12 13:43] tim-giblin commented on #1208
No, it just hangs on SSL Configuration. It's been configuring for a few days now. I've tried it multiple times. I've even created a new app and added the domain to that to see if it works and that didn't do anything either.

[2020-11-12 14:25] bvirlet commented on #604
@litwicki we're still seeing the problem on our website (arn:aws:amplify:us-east-1:324915367782:apps/d2zlsiaic5yx2j).

The /docs/ folder doesn't exist anymore on our website; it should return a 404, yet it still returns an old page.

[2020-11-12 15:21] shabanbx commented on #1186
hi were you able to solve this issue, in my case this issue comes when you have multiple .graphql files in api/{apiname}/schema directory instead of using api/{apiname}/schema.graphql

[2020-11-12 16:03] Voice-ux-lab commented on #1027
This was an issue for me to.  I ended up converting my font files to a different format but it would be nice if I didn't have to do that!

[2020-11-12 16:41] braytonstafford commented on #1182
Thank you, I did find an existing Route 53 entry that i removed and then reactivated the custom domain and its working. Thanks for your help

[2020-11-12 16:41] #1182 closed

[2020-11-12 16:53] nimacks commented on #1212
Re-open if you need further information.

[2020-11-12 16:53] #1212 closed

[2020-11-12 16:54] nimacks commented on #1213
@bjohn96i are you still facing issues?

[2020-11-12 17:00] luishdez commented on #773
I'm facing the same scenario we have a project `landings` that contains a ton of miniprojects for marketing, etc and we would want to use subdomains

[2020-11-12 17:33] bjohn96i commented on #1213
No, thank you!

[2020-11-12 17:55] #1213 closed

[2020-11-12 17:55] nimacks commented on #1211
@pankajbokdia are you still having issues?

[2020-11-12 17:59] nimacks commented on #1203
@congnguyendinh0 are you still having issues?

[2020-11-12 18:03] litwicki commented on #604
@bvirlet when was your last deployment?

[2020-11-12 18:08] nimacks commented on #830
@blairtaylor we have released a fix for the retry button. Let us know if this is still an issue.

[2020-11-12 18:08] nimacks commented on #918
@kewp is this still an issue for you?

[2020-11-12 18:09] nimacks commented on #940
@joaovescudero is this still an issue for you?

[2020-11-12 18:11] nimacks commented on #979
@nagacheruvu is this still an issue?

[2020-11-12 18:12] nimacks commented on #1025
@divya12391 is this still an issue?

[2020-11-12 18:16] kahdojay commented on #1218
Hi @Alk3m1st we'll be rolling out CloudFormation support for the new customHeaders field on the App resource in the next week, and the docs will be updated to reflect the new property.

[2020-11-12 18:21] kewp commented on #918
Hey @nimacks I can't tell, I opened this 3 months ago. I must have found a work-around. Can't even remember what I was doing... happy to close this unless @kiat-huang you have more details?

[2020-11-12 18:29] #918 closed

[2020-11-12 18:31] nimacks commented on #1217
Refer to our documentation to troubleshoot domain setup.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#i-get-a-cnamealreadyexistsexception-error

Let us know if you're still facing issues.

[2020-11-12 18:33] nimacks commented on #1103
@aeflorezm is this still an issue?

[2020-11-12 18:34] nimacks commented on #1188
@alexcameron1992, Is this still an issue?

[2020-11-12 18:34] nimacks commented on #1193
@congnguyendinh0, is this still an issue?

[2020-11-12 18:36] nimacks commented on #1195
@jsumande are you still having issues?

[2020-11-12 18:36] nimacks commented on #1204
@ericmick are you still having issues?

[2020-11-12 18:39] bvirlet commented on #604
Our last deployment was a couple hours ago.

[2020-11-12 19:14] litwicki commented on #604
@bvirlet thanks, we're going to take a closer look at this

[2020-11-12 19:18] nhhaidee opened #1219 "Download static file does not work after deploying react app with aws-amplify"
Hi all,

I have a problem that is download static file does not work after deploying react app with aws-amplify, the size of downloaded file is very small in comparison with actual file. This code works perfectly on localhost. I don't really know what is problem. Can anyone experience this problem like me?

I placed files that I need to download in the public folder

Please see below is my code
<d

[2020-11-12 19:21] nhhaidee commented on #1219
<a href="asset/files/VolunteerApplicationForm_v1.pdf" target="_blank" rel="noreferrer noopener" download="VolunteerApplicationForm.pdf">
                                </a>

[2020-11-12 19:23] nhhaidee commented on #1219
Here is my code:
<a href="asset/files/VolunteerApplicationForm_v1.pdf"
              target="_blank" rel="noreferrer noopener"
              download="VolunteerApplicationForm.pdf">
</a>

[2020-11-12 19:29] Jordan-Eckowitz commented on #1154
@behrooziAWS I got an email 2 weeks ago from someone saying they're looking into this. I have followed up multiple times but they never reply.

Can I please get an update. This has become a significant issue for my team.

[2020-11-12 19:30] pankajbokdia commented on #1211
Hello,

The issue has been resovled. Thanks

[2020-11-12 19:50] congnguyendinh0 commented on #1193
@nimacks Yes it is :/

[2020-11-12 19:51] congnguyendinh0 commented on #1203
Yes I am trying to host a hostinger domain but it doesnt work somehow

[2020-11-12 20:08] andre-scheffer commented on #730
@UnSciPreneur I was at the exact same point. This is most likely no issue of the assigned RAM but of your "Building Settings" in the AWS Amplify Console. My solution to this looks like this:

In the AWS Amplify Console you can go to the menu item "App Settings -> Build Settings". There you can see the section "Build image settings". There you need to provide the exact version of your local node th

[2020-11-12 20:39] nimacks commented on #1219
@nhhaidee can you provide an appId? Is the download triggered by just clicking a link?

[2020-11-12 20:47] nhhaidee commented on #1219
<a href="asset/files/VolunteerApplicationForm_v1.pdf" target="_blank" rel="noreferrer noopener" download="VolunteerApplicationForm_v1.pdf">

[2020-11-12 20:49] #1211 closed

[2020-11-12 20:49] nhhaidee commented on #1219
### <a href="asset/files/VolunteerApplicationForm_v1.pdf" target="_blank" rel="noreferrer noopener" download="VolunteerApplicationForm_v1.pdf"> ####

[2020-11-12 20:52] nimacks commented on #1203
Looks like you have multiple tickets opened for the same issue. Linking to #1193

[2020-11-12 20:52] #1203 closed

[2020-11-12 21:30] nimacks commented on #1154
@Jordan-Eckowitz , I'm looking into this. Does your team run more than 5 concurrent builds at a time?

[2020-11-12 22:43] nimacks commented on #1198
Duplicate issue to #1193

[2020-11-12 22:43] #1198 closed

[2020-11-12 22:44] nimacks commented on #1185
@vishnuku are you still having issues?

[2020-11-12 22:47] #830 closed

[2020-11-13 00:07] subhashnalluru opened #1220 "Project stops building on Amplify and says project is not configured with Amplify"
Similar to #115

Hi, I seem to be facing an issue when I try to link my project with Amplify. The build works the first time and fails thereafter. I even try to redeploy a previously working build and it fails again and I get the following error:

[code]

AppID: d3d1uv58phsfdw
eu-west-2 (London)

@litwicki I noticed you assisted a lot in resolving #115 and was wondering if you could help me out wi

[2020-11-13 00:58] Alk3m1st commented on #1218
Thanks @kahdojay looking forward to it.

[2020-11-13 01:47] nimacks commented on #1208
Looks like you got this working with a different app with Id: _d2beveju1oigg4.

[2020-11-13 03:11] wenruiliau commented on #1097
Hi,

We're still experiencing issues and in the interim, used netlify for our project needs. Will love to get this resolved so we can get back on AWS.

[2020-11-13 06:38] j-yamamoto opened #1221 "Amplify Console does not update lambda layer"
** Please describe which feature you have a question about? **

Amplify Console CI/CD (Backend)

** Provide additional details**

Amplify Console creates lambda layer successfully on first deployment. However, after the second deployment, it does not update lambda layer although I update the lambda layer source. (I have also updated package.json in lib/nodejs, but Amplify Console did not detect an

[2020-11-13 07:17] Szasza commented on #833
@behrooziAWS I hope you are well. I have sent an email to aws-amplify-customer@amazon.com with two app IDs two days ago but unfortunately there is no response yet.

Could you please let me know if you have received it and if it will be actioned?

Thank you for your help, it is much appreciated.

[2020-11-13 08:22] chazarabriseis commented on #595
@wvidana Thanks for the wvidana/amplifybuildimage:python38 docker image! It helped me to get my python lambdas working with amplify :)

But now I also have java lambdas that I would like to host on the same project with amplify so I thought I just fork your image, add java and gradle to it and I should be good to go. However, using the updated dockerimage chazarabriseis/amplifybuildimage:python38j

[2020-11-13 08:26] jcf commented on #612
@orizens Amazon have the following article on adding security headers to each response using Lambda@Edge, which leads me to believe this problem can be solved in a serverless architecture:

https://aws.amazon.com/blogs/networking-and-content-delivery/adding-http-security-headers-using-lambdaedge-and-amazon-cloudfront/

All the best.

[2020-11-13 09:17] guillesha commented on #472
Hi, I am facing a similar issue, i created and merged a PR with a preview, the entry in pull requests was removed but the environment is still there one day after merging. has any one faced this issue?

[2020-11-13 10:18] wvidana commented on #595
@chazarabriseis without the output from the build nor trying it myself, I can only guess, but it looks like:

1. You are not updating java alternatives, which means that even if Java 11 is installed, the command `java` is pointing to another version. From the link you shared, check the **step 3** https://tecadmin.net/install-java-on-amazon-linux/
I assume you can do something similar of what I did

[2020-11-13 10:38] tim-giblin commented on #1208
Yeah, the SSL configuration finally failed. I then re-added the domain and it worked.

[2020-11-13 10:57] guillesha commented on #277
Same here, it is really annoying that we have to remove them manually, it looses a bit the meaning of the preview. Also is not valid according to the documentation.

[2020-11-13 11:22] congnguyendinh0 opened #1222 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dfckroecex4sn
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Error message: The status of this certificate request is "Failed". One or more domain names have failed validation due to a Certificate Authority Authentication error. Learn more: https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting-caa.html

**Error message**
Error messag

[2020-11-13 11:23] congnguyendinh0 commented on #1193
Error message: The status of this certificate request is "Failed". One or more domain names have failed validation due to a Certificate Authority Authentication error. Learn more: https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting-caa.html

[2020-11-13 11:36] congnguyendinh0 commented on #1193
![DNS Zone Editor 2020-11-13 12-32-10](https://user-images.githubusercontent.com/44774137/99068419-c97dce80-25ac-11eb-8833-8cd80fac3d1a.png)
![DNS Zone Editor 2020-11-13 12-33-01](https://user-images.githubusercontent.com/44774137/99068428-cc78bf00-25ac-11eb-8ddb-a0c1a776f0d2.png)

[2020-11-13 11:36] congnguyendinh0 commented on #1193
I use Hostinger

[2020-11-13 13:26] nhhaidee commented on #1219
How can I get appID? I copied my code into comments but not sure why it became https://github.com/aws-amplify/amplify-console/issues/asset/files/VolunteerApplicationForm_v1.pdf

After I deploying with amplify the link is https://www.<my_domain>/asset/files/VolunteerApplicationForm_v1.pdf, I used a tag to implement download this file, but when I click and download it, the actual file size ie very s

[2020-11-13 13:30] simpson commented on #1201
@litwicki @Athena96 The ghosts in the machine strike again, we had another 3hr outage from 1:03AM EST to 4:05AM EST
![Screen Shot 2020-11-13 at 8 29 40 AM](https://user-images.githubusercontent.com/1605737/99077232-69763080-258a-11eb-8e5f-22d309364aad.png)

[2020-11-13 14:18] simpson commented on #1201
I spoke with Cloudflare again and we found that the AWS origin is in fact returning high amounts of 302 in those timeframes.

![Screen Shot 2020-11-13 at 9 14 16 AM](https://user-images.githubusercontent.com/1605737/99081444-d1c81080-2590-11eb-8788-a224c3996483.png)

![Screen Shot 2020-11-13 at 9 17 41 AM](https://user-images.githubusercontent.com/1605737/99081642-210e4100-2591-11eb-9a26-fec0c71db

[2020-11-13 15:19] nhhaidee commented on #1219
I have found the root cause of the problem: in the Rewrites and redirects Rule of my app missing pdf file extension, so I added pdf into source and it works fine.

{
        "source": "</^[^.]+$|\\.(?!(css|pdf|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>",
        "target": "/index.html",
        "status": "200",
        "condition": null
    }

[2020-11-13 15:46] orizens commented on #612
thank you so much @jcf