[2020-04-13 20:34] kevin-mitchell commented on #206
Has this been resolved yet and documented, or is the current "fix" still
customizing the deployment script? I'm havinga slightly difficult time
keeping track with all of the discussion here. Thank you!

On Mon, Apr 13, 2020, 8:21 PM Ryan Segura <notifications@github.com> wrote:

[2020-04-13 20:49] swaminator commented on #585
@lionzan have you tried: https://docs.amplify.aws/lib/auth/getting-started?platform=js

[2020-04-13 21:10] adriencg commented on #291
Hard to tell, but may be related to https://github.com/aws-amplify/amplify-console/issues/115 . Will look at our internal logs and provide an update.

[2020-04-13 21:20] swaminator commented on #206
@kevin-mitchell refer to this post: https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-611036436

[2020-04-13 21:21] swaminator commented on #206
@KidSysco send me an email via aws-amplify-customer@amazon.com and I'll set up time with you.

[2020-04-13 21:36] adriencg commented on #584
@NL33 So I can better root-cause the issue, would you be able to provide your AppId?

You can find your APP-ID and REGION by looking at the amplify console:

App Settings --> General --> AppArn: It will look something like this:

arn:aws:amplify:REGION:accountId:apps/APP-ID

[2020-04-13 21:54] NL33 commented on #584
Hi there. I am not able to provide this over github, but if there is another way for me to send it to you I would be glad to do so.

[2020-04-13 22:59] adriencg commented on #584
@NL33 Please shoot an email to aws-amplify-customer@amazon.com with the AppID's and regions in question.

[2020-04-13 23:02] NL33 commented on #584
Awesome. I'll do that now. I've just seen that one of the missing files had this in the debug:
"x-cache: Miss from cloudfront"

Seems like it is an AWS caching issue. I'll send over the email now.

[2020-04-13 23:06] swaminator commented on #314
@simpson @dhait @stefangomez we have picked this up on our priority list and will work on a fix. Will update when we have something ready.

[2020-04-13 23:08] adriencg commented on #577
@AshwiniRaysecur  Assuming I understand correctly, you're using https://github.com/aws-amplify/amplify-js to create this table. Please go ahead and create an issue in that repo (feel free to link to this one so you don't have to repeat everything)

[2020-04-13 23:08] #577 closed

[2020-04-13 23:30] adriencg commented on #582
@goldmont So currently environment variables are only accessible to commands; this is a feature we're aware customers want, however cannot comment/commit to any specific timeline.

The best workaround I can think of is defining some static destination directory e.g. `/deploy` and then `mv`'ing the artifacts there as the last step in the postBuild i.e. something like:
[code]

You'd also wanna delet

[2020-04-14 01:05] adriencg commented on #584
@NL33 Moving any further debug-chatter to email, so please make sure to check for any replies there.

Will update this issue with a resolution/root-cause once we have one.

[2020-04-14 01:26] NL33 commented on #584
Sounds great. Thanks!

[2020-04-14 03:53] prashantkbhardwaj commented on #554
On Mon, 13 Apr 2020 at 11:57 PM, Adrien Guerard <notifications@github.com>
wrote:

Hey, I was successfully able to connect my app, thanks a lot for your help.

[2020-04-14 03:57] adriencg commented on #554
Glad to hear it, @prashantkbhardwaj ! Will wait for @jacob-a-hall to confirm they're able to connect their app before closing this issue.

[2020-04-14 04:50] kimfucious commented on #206
Hi @swaminator thanks for the reply.

I did try following those instructions in #206, but to no avail.  I got frustrated after a few flailing attempts.  Again, I was stuck with a bad "prod" backend in the console that I could not deploy to or get rid and that the CLI could not checkout or pull.

This came about by:

1.  `amplify init` (env "dev")
2.  `amplify auth add` (with Federation sign in)
3.

[2020-04-14 04:55] adriencg commented on #584
@NL33 Every email I try to send is getting bounced. Can you email another address I can try to the same amplify email I mentioned before?

[2020-04-14 07:10] usbcombine opened #586 "SSL configuration lasts 12 hours"
**App Id**: d2kwnekpp7gsav
**Region**: US East (Ohio)us-east-2
**Step**: SSL configuration
**Status**: Pending

**Issue/question**
SSL configuration lasts 12 hours and more... The domain is registered on Amazon Route 53. NS record set is the same in "hosted zone" and "registered domain" sections.

[2020-04-14 09:14] kimfucious commented on #206
I decided to come at this from another angle.

1.  Delete the app from the console.
2.  Delete all stacks related to prod
3.  Delete lingering S3 buckets
4.  On my local dev machine run (where I already have a `dev` env), run `amplify env add:
[code]
5. `amplify push`
6. In amplify console, the app is there with no front end (correct), and it's got "prod" for backend (correct)
7. Connect a front e

[2020-04-14 10:45] woodsae commented on #568
Hi @adriencg I did find that there was an old disabled Cloudfront distro in one of my AWS accounts that had a CNAME for **www.trabr.com**.  I removed that this morning and am giving a bit of time to see if that resolves the issue.  Is there any way for you to check on your end to see that there are no other distros pointing to my primary domain?

[2020-04-14 11:01] NL33 commented on #584
Just re-sent. Thanks.

[2020-04-14 11:22] kimfucious commented on #206
Thanks for the follow up, @swaminator

Here's where I'm at:

**Started from a clean slate.  Brand new app just to test this:**
1.  Ran `amplify init` on my local, creating "dev"
2.  Ran `amplify auth add`

[code]
3.  `amplify push`
4.  git push to repo
5.  In Amplify console, new app appears with "dev" back-end configured,
6.  Click Connect a frontend web app
7.  Click Connect branch
8.  Enter rep

[2020-04-14 13:04] derekw023 opened #587 "Successful Backend Deployment, but No Backend In Console List"
**App Id**: d1oddychzhcfop
**Region**: us-west-2
**Step**: build
**Status**:

**Issue/question**
When kicking off a CD deployment from backing branch, Amplify sequences a rebuild of the serverless backend. This backend appears to pass build, but there is no matching backend for the branch present in the backend list

**Error message**
No errors, build appears to pass

**Additional information**
Am

[2020-04-14 14:34] avner-hoffmann opened #588 "Post Deploy Phase!"
**Is your feature request related to a problem? Please describe.**
One thing that is very much missing from amplify is a "post deploy" phase in which one can write scripts or perform operations after the full CI CD process succeeded.
e.g. run a script which creates a github release for the just deployed release.

**Describe the solution you'd like**
Add a post deployment phase to make amplify more

[2020-04-14 14:41] avner-hoffmann opened #589 "Check previous phase status"
** Please describe which feature you have a question about? **
Is there any way to check the previous phase status on the current phase?
e.g. the postTest phase always runs after the test phase, no matter if the test phase succeeded or not. Is it possible to know if the test phase succeeded in the postTest phase? Something like the exit code of the last test phase command, maybe simplified in an a

[2020-04-14 15:17] hancharou opened #590 "Domain activation is Failed - [Tried several times. Still doesn't work. Yes, it used to be on another app]"
**App Id**: d38l7gms2jhcnt
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-04-14 17:13] adriencg commented on #587
@derekw023 Mind clarifying which branch is having the issue? And I assume you selected "Create a new backend environment" when connecting the branch, correct?

[2020-04-14 17:16] adriencg commented on #588
@avner-hoffmann I'll let our product manager know about your suggestion.

One question: Would a notification work just as well? Similar to our build notifications?

[2020-04-14 17:16] NL33 commented on #584
Just spoke with @adriencg and he did an awesome job talking me through this.

It's not fully clear why the manual build process (dragging and dropping the build folder directly into the amplify console) started failing before, but it looks like uploading a zip file of the build to S3, and then deploying from there works.

To upload from S3:
1. main app folder: `$ ng build --prod`
(creates the buil

[2020-04-14 17:17] derekw023 commented on #587
Sure. The branch with the issue is `staging`. The branch was already connected via that process, and working as of the last deployment, it developed this issue as of the last automatic CD deployment.

More information:
- The backend that matches this branch name is shown on the CLI from `aws amplify get-backend-environment` with a very stale deployment date.
- `aws amplify list-backend-environment

[2020-04-14 17:26] adriencg commented on #584
@NL33 Glad we could help you out.

I'm going to cut a ticket internally to investigate further what might've happened w/ the drag-n-drop, but would suggest anyone that finds this issue b/c they're experiencing a similar behavior to first try and upload via zip. **Please make sure to zip the contents of the output directory, and not the directory itself (i.e. follow the steps mentioned here https:/

[2020-04-14 17:26] #584 closed

[2020-04-14 18:08] adriencg commented on #587
I'm able to see the backend environment, and it looks like the latest build in staging did run amplifyPush:
`2020-04-13T21:22:49.453Z [INFO]: # Executing command: amplifyPush --simple --environment staging` and
`2020-04-13T21:22:59.658Z [WARNING]: ✔ All resources are updated in the cloud`

Are you able to view these environments in the console GUI? _Note_: the `updateTime` returned by `get-backend

[2020-04-14 18:13] adriencg commented on #589
@avner-hoffmann Is this question specifically about cypress testing? Or are you asking about between all phases in general (build/postBuild, test/postTest)?

[2020-04-14 18:18] derekw023 commented on #587
My CLI and console are both in `us-west-2`. The Amplify GUI in the console, under the `backends` tab does not list the `staging` backend, on the `frontends` list the `staging` frontend is there but it does not say its linked to any backend.
![image](https://user-images.githubusercontent.com/20305986/79259447-b9f1a800-7e5a-11ea-84ba-7f2ee636fe07.png)
![image](https://user-images.githubusercontent.c

[2020-04-14 18:31] derekw023 commented on #587
We also have a couple of open application issues, most of those are ruled out but we're working on them in parallel. But there is definitely some front-end weirdness happening in the Amplify console.

[2020-04-14 19:07] david-wallace-croft commented on #249
I created a new clean project:
ng new amplify-protractor

arn:aws:amplify:us-east-1:xxxxxxxxxxxx:apps/dd0x2t9ylfft9

[2020-04-14 19:50] adriencg commented on #587
@derekw023 Thanks. This might just be GUI bug, but to confirm:
Can you try adding a resource to staging, and just verifying in your AWS account that it's created? e.g. a new DDB table or something similar you can delete afterwards

Also do you remember if you created the backend via the CLI or the Console?

[2020-04-14 20:26] adriencg commented on #590
@hancharou We're currently working on an issue causing intermittent failures in create domain. Yours was impacted. Will update this issue when you can delete the domain and try again (we're currently working on a fix).

[2020-04-14 21:05] derekw023 commented on #587
Using the Amplify CLI I was able to add an S3 resource to the cloudformation stack, and it showed changes in the console. I didn't personally create the backend, but I am pretty certain it was created with the CLI.

[2020-04-14 21:15] adriencg commented on #587
@derekw023 Glad to hear functionally things are OK (not dismissing your frustration). My suspicion is that when the BE's are created in the CLI, they may not show up correctly in Console. I want to see if i can repro it quickly locally, and will update w/ the results here.

Last question: roughly how long ago was this app/env created? Want to know if it was pre Q4 2019 when we officially launched

[2020-04-14 21:22] derekw023 commented on #587
I believe this particular backend was created January 29 2020.

Also yes, after the initial deploy updates were definitely via CI/CD in the Console

[2020-04-14 21:38] adriencg commented on #590
@hancharou It's up to you if you'd like to try again; there's a good chance it will succeed (error rate is pretty low).

Can you delete the domain, and then recreate it?

[2020-04-14 21:39] hancharou commented on #590
I'm doing retry. If it doesn't help, I'll delete the domain and add it again. Thx

[2020-04-14 21:40] adriencg commented on #589
@avner-hoffmann Quick update: So this is only the case w/ test phase b/c we need to upload the artifacts even if the test step failed.

The best way to check for test failures is to parse the test output yourself in postTest, and look for success/failed tests.

[2020-04-14 21:40] #589 closed

[2020-04-14 21:41] adriencg commented on #590
To clarify: I just mean delete the domain from Amplify Console (not Route53).

[2020-04-14 21:49] usbcombine commented on #586
It is still waiting for SSL configuration. 27 hours passed. Is it normal, should I wait?

[2020-04-14 22:42] adriencg commented on #586
No. You should go ahead and delete the domain in Amplify Console, and re-add it.

If that doesn't fix it, please LMK and I'd be happy to dig in further.

[2020-04-14 22:59] hancharou commented on #590
I've removed the domain from the console. And restarted the process. Let's see. Will let you know. Txh

[2020-04-15 00:29] adriencg commented on #581
@Maheshkumar094 One more q: Would you mind sharing your rewrite/redirect configuration? Also if you don't mind providing your appId and region:
You can find your APP-ID and REGION by looking at the amplify console:

App Settings --> General --> AppArn: It will look something like this:

arn:aws:amplify:REGION:accountId:apps/APP-ID

[2020-04-15 02:17] adriencg commented on #540
@tmeckhoff So you should only need one hosted zone for the root (i.e. postlight-lmm.com). Assuming you created the others to try and get Amplify working, I'd go ahead and delete those.

Does the 400 prevent you from clicking 'Configure Domain'?

[2020-04-15 02:52] adriencg commented on #582
@goldmont I'm gonna close this for now if you don't mind, but feel free to reopen if you've any more q's or this doesn't work as expected.

[2020-04-15 02:52] #582 closed

[2020-04-15 02:57] muhalitas opened #591 "Access Denied Error for all URLs except homepage"
**App Id**: d2iqngmka368lt
**Region**: Frankfurt
**Step**: After Deployment - Usage
**Status**:  Pending

**Issue/question**: We deployed ReactJS app using Amplify from web console. We can access to homepage but got "access denied" error with XML format from AWS for any other URLs. It also happens when we refresh the page.
We read all of docs but could not find a solution for this.

**Error messag

[2020-04-15 03:26] hancharou commented on #590
Added it again, it's in SSL configuration step. Still waiting...

[2020-04-15 05:58] Maheshkumar094 commented on #581
@adriencg
Thank you for your reply
Arn:-arn:aws:amplify:ap-southeast-1:054746742825:apps/d3vjvp53w86h9f
Rewrite/ Redirect
sourece:-  /<*>
Target address:- /404.html
Type:- 404 (Rewrite)
Domain:-https://food.hexashuttle.com
Redirect Domain:- https://food.hexashuttle.com/paymentCallback
Please let us know for any other query.

[2020-04-15 07:53] usbcombine commented on #586
I have deleted and re-added domain.  Still pending on SSL configuration. 9 hours passed. How long it usually takes? 15-30 minutes?

[2020-04-15 10:37] ShoubhikBanerjee commented on #571
Any one here to help?

[2020-04-15 12:19] hancharou commented on #590
It's still in SSL verification. Haven't finished yet.

[2020-04-15 12:57] gargshantnu opened #592 "Getting "x-cache: Miss from cloudfront""
**App Id**: d1v8ph9qar406v
**Region**: us-east-1
**Step**:
1. Connected GitHub repository
2. in domain setup, added my domain and then excluded root, and added one for specific for the app.

**Status**: not sure what to fill here

**Issue/question**
I have simply integrated amplify for testing purposes of react code and in the domain setup added a new sub-domain there. Now in browser, I am receivi

[2020-04-15 15:24] alexkates opened #593 "Deployment and Downtime Clarification"
** Please describe which feature you have a question about? **
Deployments

** Provide additional details**
I have a few general question about deployments and downtime.
1. During the backend phase of the build when CloudFormation stacks are updating, what kind should I expect. Does it depend on the change set and services changing? Can you offer some information about how the main services are af

[2020-04-15 16:05] adriencg commented on #590
@hancharou I believe your domain isn't hosted in Route53, in which case you'll have to make sure to follow the extra steps mentioned in ["Connecting to Third-Party Custom Domains"](https://docs.aws.amazon.com/amplify/latest/userguide/howto-third-party-domains.html). When it's stuck in this step, it typically means you haven't setup the CNAME so that we can verify you own the domain name; the Ampli

[2020-04-15 16:27] adriencg commented on #586
@usbcombine I looked into your domain, and your domain might not be configured correctly (could be a Route53 issue, or a setting/transfer issue). `https://www.whatsmydns.net/#NS/<your-domain>` <- Use this link to see what I'm talking about; the DNS isn't propagating everywhere, which is likely causing ACM to be unable to verify dns ownership. What's the status of the domain in Route53? I'd suggest

[2020-04-15 16:33] adriencg commented on #593
For (1) I'll need to transfer this issue over to the CLI team.

The answer to (2) is there's no downtime. We perform an atomic config change so that the latest assets are served instantly. We also continue to serve the assets for the last 6 deploys (resolving to the latest version if the name is the same but contents are not), so old assets don't suddenly disappear for users currently using the si

[2020-04-15 17:07] alexkates commented on #593
Thanks for the timely and detailed response! WRT the front end deployment, this is perfect. Feel free to close/transfer me to the CLI team for the backend answer.

[2020-04-15 18:09] usbcombine commented on #586
@adriencg  I figured out the problem with ns records. Now it works, thanks.

[2020-04-15 18:09] #586 closed

[2020-04-15 18:21] tmeckhoff commented on #540
@adriencg

`you currently have no custom domains configured, correct? `
Correct. We needed to remove the custom domains we had added before.

`So you should only need one hosted zone for the root (i.e. postlight-lmm.com)`
When I try to add the following subdomain (screen-app.staging.postlight-lmm.com) using our root (postlight-lmm.com) hosted zone I get this erro. This is why I switched to adding

[2020-04-15 18:44] adriencg commented on #581
@Maheshkumar094 I see you've a redirect set up, which is why /paymentCallback redirects to /404.html .

It's unclear why a redirect from the payment gateway would work differently w/o seeing an example URL. Would you mind providing more steps to repro the issue (you can also email us at aws-amplify-customer@amazon.com if you don't wanna post it on GH)? It's possible this is an issue with the redir

[2020-04-15 18:50] kaustavghosh06 commented on #593
@alexkates The CLI uses Cloudformation to deploy stacks and changes to configurations. The downtime would depend on what changes you're making to your schema or API. If you're deleting a model@ and adding a new one - which your frontend depends on, then you'll have a downtime until the old table is deleted and the new one is created as a part of the Cloudformation deployment. There wouldn't be any

[2020-04-15 18:58] adriencg commented on #592
Does this mean the page isn't loading as expected?

[2020-04-15 19:04] adriencg commented on #591
The "Redirects for Single Page Web Apps (SPA)" section of [this wiki](https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html) mentions setting up a 200 rewrite for any path that doesn't match a potential static asset (image, js, css, etc.).

Can you try adding this to your redirects/rewrites to see if it fixes the problem?

[2020-04-15 19:50] adriencg commented on #585
@lionzan I'm going to close this issue in the meantime...feel free to reopen this one or cut an issue to the JS platform team if you've further questions.

[2020-04-15 19:50] #585 closed

[2020-04-15 20:16] gargshantnu commented on #592
No, pages are loading fine, but I think they are not being served from edge location but from origin.

[2020-04-15 20:27] adriencg commented on #540
I see. I _think_ I know what the issue may be:

Terminology: When i say "create domain", I'm only referring to the Amplify Console Management page. You only need a single Route53 hosted zone with postlight-lmm.com for this to all work.

When creating the domain, go ahead and put the "root" subdomain you want (in this case staging.postlight-lmm.com).

When adding the prefix, just add "screen-app".

[2020-04-15 20:38] adriencg commented on #592
@gargshantnu This is expected. Amplify's hosting isn't your standard Cloudfront distribution setup; I've confirmed with my app that I receive Cloudfront cache miss headers as well (using both a custom domain and the amplifyapp domain). If you experience performance issues, please cut us an issue and we'd be more than happy to look into it.

[2020-04-15 20:38] #592 closed

[2020-04-15 20:48] adriencg commented on #581
https://github.com/aws-amplify/amplify-console/issues/571 is this a duplicate issue?

[2020-04-15 20:48] adriencg commented on #571
https://github.com/aws-amplify/amplify-console/issues/571 This issue appears to be duplicated. If they are, can we close this and follow-up on 571?

[2020-04-15 20:53] hancharou commented on #590
Both CNAMEs are in my CloudFlare DNS names. Still sits on "SSL verification" step.

[2020-04-15 20:54] adriencg commented on #549
Your server-side rendering component would execute in the backend as a lambda. Reassigning to CLI so they can provide further assistance on getting that set up.

[2020-04-15 21:05] tmeckhoff commented on #540
@adriencg

Yes, it works now, thank you! The documentation plus this message in the UI definitely lead me to think it had to come up as an option in the drop down in order to add it.

![Screen Shot 2020-04-15 at 3 34 34 PM](https://user-images.githubusercontent.com/5074013/79388413-e842b680-7f32-11ea-9442-f1f4a82910d5.png)

But I see now why that wouldn't be the case. Thanks again!

[2020-04-15 21:08] hancharou commented on #590
Did everything according to instructions. Added 2 CNAMES: one for verification and one for forwarding. Double checked with https://mxtoolbox.com/CNAMELookup.aspx and see it's propagated. When I created first amplify application it used to verify it fast and without any issues. But I deleted the app and created a new one and hooking up the same sub-domain.

[2020-04-15 21:15] adriencg commented on #590
I can see the SSL verification CNAME is setup, but unable to confirm forwarding to the amplifyapp. How exactly did you verify that your root domain is pointing to your amplifyapp domain?

[2020-04-15 21:17] hancharou commented on #590
I didn't setup for root domain. Only for dash.mydomain.dev. I see it moved forward to "Domain Activation" step.

[2020-04-15 21:20] adriencg commented on #590
Got it. Yes, if that's the only subdomain you created (and you excluded root) then everything should finish successfully

[2020-04-15 21:24] adriencg commented on #540
I've cut an internal task for cleaning this up so that it's more intuitive for others in the future. Thanks for your patience, and if you've any other issues please feel free to open an issue. Closing for now.

[2020-04-15 21:24] #540 closed

[2020-04-16 00:18] adriencg commented on #590
@hancharou I see the domain is now activated, and things should be worked. Closing this issue, but please reopen if something is still not working.

[2020-04-16 00:18] #590 closed

[2020-04-16 02:01] adriencg commented on #583
I was able to repro the issue following the tutorial guide you mentioned; should have a fix soon.

[2020-04-16 02:12] rolandoesc commented on #385
I'm facing the same issue, here's my amplify.yml

`version: 0.1
frontend:
  phases:
    preBuild:
      commands:
        - npm ci
    build:
      commands:
        - npm run build
  artifacts:
    # IMPORTANT - Please verify your build output directory
    baseDirectory:  /
    files:
      - '**/*'
  cache:
    paths:
      - node_modules/**/*`

[2020-04-16 02:46] adriencg commented on #327
@stevensacks Since you can repro w/ a toy app, mind creating a public github repo with it and including your amplify.yml (the build spec) so we can try it out locally?

I just created a new react app and my test output is the pretty version you expected but aren't seeing.

[2020-04-16 02:53] adriencg commented on #583
Hey @BigTom,
This is a bug w/ our default boiler-plate. I'm pasting below the preTest/test/postTest that should fix it:
[code]

The main issue was that `npm start` was getting stopped as soon as it was sent to the background. This simply runs `npm start` within `pm2` process manager, so that it doesn't get stopped (more info on why this happens: https://stackoverflow.com/questions/17621798/linux-p

[2020-04-16 02:53] #583 closed

[2020-04-16 04:31] hisham commented on #446
Any update on this issue? It's been ongoing for a while and a major blocker for gitlab users (fortunately I can re-enable the button by editing the html and workaround this...)

[2020-04-16 06:40] abhi7cr commented on #446
@hisham We had fixed a general issue of the disabled next button occurring between the connection of 2 branches (without refreshing the page). But this seems to be a specific issue with gitlab. We are working on our end to reproduce this issue, and will get back to you with an update. Thanks for your patience.

[2020-04-16 07:04] mharrvic commented on #206
I got it working on my end. I guess it only happens upon pulling auth settings to new project
`$ amplify pull --appId yourID --envName yourENV`

Just copy the `team-provider-info.json` from your original setup and paste to other setup. And `amplify push`

here's my `team-provider-info.json`
[code]

[2020-04-16 08:10] BigTom opened #594 "Test step stays "pending or cancelled" after build completes."
Following on from issue: [583](https://github.com/aws-amplify/amplify-console/issues/583)

Thanks @adriencg for getting the build working again.

The build now runs to completion and has deployed.

The Test step, however, remains as a "grey clock" rather than a "green tick" and reports `Test is still pending or has been canceled for this build`.  I cannot find any additional logging or monitoring

[2020-04-16 08:25] Maheshkumar094 commented on #581
@adriencg
Is there is any encoding occurs on URL in amplify side because on completion of payment  amplify redirect on some arbitrary URL endpoint
 https://food.mydomain/CrVsaVO22BHWm1PRWQLsUiCzxb1guqOzlSurAjBBQ/
and this url endpoint is not constant.
We send mail on aws-amplify-customer@amazon.com with detail steps.
Thank You

[2020-04-16 08:35] dcfranca opened #595 "Amplify can't find Python3.8 on build phase of CI/CD"
** Please describe which feature you have a question about? **
Amplify Console CI/CD

** Provide additional details**
On the build phase of the default amplify configuration for deployment:
`- amplifyPush --simple` I'm getting an error as it can't find the Python3.8 installed

                                 You must have python >= 3.8 installed and available on your PATH as "python3". It can be

[2020-04-16 10:24] gauravhanda25 commented on #436
I did same for frontend. My baseDirectory is out but still getting AccessDenied

[2020-04-16 10:47] gauravhanda25 commented on #436
@2manoj1  Can you provide your amplify.yml after success?

[2020-04-16 11:27] 2manoj1 commented on #436
`version: 0.1
backend:
  phases:
    build:
      commands:
        - '# Execute Amplify CLI with the helper script'
        - amplifyPush --simple
frontend:
  phases:
    preBuild:
      commands:
        - yarn install
    build:
      commands:
        - yarn run export
  artifacts:
    baseDirectory: out
    files:
      - '**/*'
  cache:
    paths:
      - node_modules/**/*
`

[2020-04-16 11:30] 2manoj1 commented on #436
@gauravhanda25 --> in package.json -> "export": "next build && next export".

[code]

[2020-04-16 11:47] gauravhanda25 commented on #436
@2manoj1  So you made it work with amplify cli. So it didnt work with amplify console ?

[2020-04-16 12:21] 2manoj1 commented on #436
@gauravhanda25 in Amplify console -> build settings
<img width="1392" alt="Screen Shot 2020-04-16 at 5 48 16 PM" src="https://user-images.githubusercontent.com/15128569/79455562-abe28980-800a-11ea-9526-fb858ca17433.png">

in package.json -> script changes
**"export": "next build && next export".**

[2020-04-16 12:32] gauravhanda25 commented on #436
Still no luck. Deployment is always green tick but Access Denied is always there.
https://master.d1pgdow2brm58j.amplifyapp.com/

[2020-04-16 12:41] apoorvmote opened #596 "Manual deployment doesn't connect to backend"
**Issue/question**
I deployed 2 different project's manually. (Not using git repo).
Both are built with react & uses only congito auth & graphql backed by dynamodb.
And its not syncing with GraphQL API. I am using datastore so its handling CRUD operation offline.
The Auth is working. I am able to log in and do everything except sync.
Both work properly in devlopment version locally.
But not workin

[2020-04-16 13:38] 2manoj1 commented on #436
@gauravhanda25 Can we connect in Skype? So I will help you.

[2020-04-16 14:52] derekw023 commented on #587
I found some new information, we had a lot of backends hanging around from a development cycle, and I just cleaned them up. It looks like the beckend tab can only list so many items, and there is no mechanism to show multiple pages (and also when a backend isn't shown it won't be "linked" with the associated frontend environment in the console). Staging shows up now and everything looks like it sh

[2020-04-16 15:16] muhalitas commented on #591
Thank you very much, works like a charm!

[2020-04-16 16:11] nagey commented on #277
@swaminator I'm also not seeing DDB tables as being removed if they have any data in them — is that also something that will be resolved? I know it's a slightly different deletion policy than standard, but given that DDB tables are limited per account, would be really nice to have without have to go through and manually delete them

[2020-04-16 16:52] adriencg commented on #596
@apoorvmote Mind referencing any docs/guides you followed?

[2020-04-16 18:37] swaminator commented on #596
@apoorvmote do you have the aws-exports.js file as part of your build output?

[2020-04-16 19:14] adriencg commented on #594
If you wouldn't mind providing me with just your appId and region that'd let me investigate what might be happening:

You can find your APP-ID and REGION by looking at the amplify console:

App Settings --> General --> AppArn: It will look something like this:

arn:aws:amplify:REGION:accountId:apps/APP-ID

Note: I do not need your AWS account ID; just the appId + region.

[2020-04-16 19:48] Zurdge opened #597 "https.domain.co.uk - "Attackers might be trying to steal your information""
App Id : arn:aws:amplify:us-east-1:001683458534:apps/d2senbpo6qq3x7
Region : us-east-1
Step : setting up custom domain
Status : working but not perfect

Hi,
I have a custom domain setup after following these steps
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html
https://docs.aws.amazon.com/amplify/latest/userguide/howto-third-party-domains.html

1 - http://domain.co.uk -> r

[2020-04-16 20:55] adriencg commented on #534
@levu48 The two places to check are:
- Route53 RecordSet for your hosted zone
- CloudFront distributions

Since you said you deleted/removed all associated CF resources, I'd look at R53. It's likely that you have a CNAME pointing to a CF distribution there as well as an A record ALIAS to CF. Please make sure you remove all of those as well.

If your domain isn't registered with Route53, you'll nee

[2020-04-16 22:33] lionzan commented on #585
Hey sorry, I missed the response from swaminator.
Anyway, I don't see the connection with the link I mentioned.

[2020-04-16 22:51] BigTom commented on #594
Hi,

Here you go.

Region: eu-west-1
AppID: d3vle8i2wz8y9o
App ARN: arn:aws:amplify:eu-west-1:633213239760:apps/d3vle8i2wz8y9o

Thanks

Tom

[2020-04-16 22:55] adriencg commented on #585
@lionzan The suggestion was to use Amplify auth, which is just using cognito under the hood.

I'd suggest opening an issue with https://github.com/aws-amplify/amplify-js if you've more questions about integrating Amplify auth into your web app.

[2020-04-16 23:43] adriencg commented on #594
Hey @BigTom,

Looks like the indentation got screwed up when you copy/pasted. Make sure that the phases block of the yaml is indented relative to the top-level `test` block (just above artifacts). Pasting the entire "Build settings" this time for convenience

[code]

[2020-04-16 23:44] #594 closed

[2020-04-16 23:46] woodsae commented on #568
Hi @adriencg, I can confirm that there are no Cloudfront distros that I am managing in any of my AWS accounts that have a CNAME to my root domain.  Is there any way for you to see any hidden distros that Amplify is managing?

[2020-04-17 00:02] adriencg commented on #568
@woodsae Did you try creating the custom domain again recently? If not, can you go ahead and try again, please.

[2020-04-17 00:26] adriencg commented on #581
@Maheshkumar094 Can you try a 200 rewrite instead of a 404 rewrite in your redirects/rewrites to see if that fixes the issue? Also i sent a reply for more info via email, so please check that as well. Thanks

[2020-04-17 01:42] apoorvmote commented on #596
@adriencg  [https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html](https://docs.aws.amazon.com/amplify/latest/userguide/manual-deploys.html)
This is the guide that I followed.

@swaminator I didn't change anything from default settings. I built app with
- `create react app`
- `amplify init`
- `amplify add api`
- `amplify push`
- `npm run build`
I didn't touch default webpack set

[2020-04-17 01:56] woodsae commented on #568
@adriencg Thank you very much for your help.  Deleting and recreating did finally solve the problem.

To summarise what the fix was in my case:
- Go through all of your AWS accounts to verify that no existing Cloudfront distros have a CNAME to the domain you're trying to use
- If you find one, delete it
- Once any existing distros are deleted, wait a while (in my case I left it for a day just to b

[2020-04-17 02:56] apoorvmote commented on #596
Today I tried 2nd method.
- First tested if it can sync in deveopment mode on localhost
- `amplify add hosting`
- `Hosting with Amplify Console`
- `Manual deployment`

Again it syncs on development mode but doesn't sync in production mode.

### The email based cognito auth is working. Only graphql sync is not working.

[2020-04-17 03:13] youjinp commented on #341
Hey, just tested with 4.18.0 and everything is working fine!

[2020-04-17 03:13] #341 closed

[2020-04-17 06:27] Bulletninja commented on #293
I've been getting this `NoSuchBucket` error for days and haven't been able to resolve it. Would be great if we had the link @apanagos mentions

[2020-04-17 06:31] Bulletninja commented on #293
And by the way, in my case the Deployment bucket actually exists, so i can't fix it creating it manually.

[2020-04-17 07:07] apoorvmote commented on #596
I am using typescript with react. So I tested by createing `config.ts` and copied everything from `aws-exports.js`
Same result. It doesn't sync.

I manually copied everything from `aws-exports.js` to `index.tsx`
Same result. It doesn't sync.

I checked the build folder and in `build/static/js/mainxxxxchunk.js.map` has actual graphql endpoint.
Still it doesn't sync in production but syncs in develo

[2020-04-17 07:53] aleherse opened #598 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource"
**App Id**: d2g3rhl6m8iag7
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I had a custom domain for API Gateway and another for Amplify. I deleted to Gateway custom domains and recreated the one for amplify and got this error.

I have checked Certificate Manager and got one linked to a cloudfront distribution that is not in my account (EH4IJLMK6HE5U) I thi

[2020-04-17 08:42] gargshantnu opened #599 "Amplify is doing checkout to old commit."
1. **Issue Description**
When I am clicking on "Redeploy this version", after cloning the repository, amplify is doing git checkout to an old commit, which I think is of the time when I connected the branch.

1. **Detailed Steps To Reproduce**
    1. integrate a branch and deploy it.
    2. disable Auto-Build for that branch.
    3. commit something in the branch.
    4. try "Redeploy this version

[2020-04-17 09:51] BigTom commented on #594
Thank you!

[2020-04-17 15:37] maksimfedin commented on #527
@adriencg Hi Adrien, kind reminder. thanks

[2020-04-17 15:58] aleherse commented on #598
I found the issue. Thanks anyway!

[2020-04-17 15:58] #598 closed

[2020-04-17 17:16] swaminator commented on #599
@gargshantnu currently there isn't a way to trigger to the latest commit (it's in our backlog and we'll get to it pretty soon). Workaround for now is to re-enable autobuild and do a commit.

[2020-04-17 17:39] swaminator commented on #596
Just to better understand,  you have two backend envs `dev` and `prod`? Things work in `dev` but not in `prod`?

[2020-04-17 17:44] swaminator commented on #206
@kimfucious thanks for the detailed post. We're investigating this now.

[2020-04-17 18:12] araphiel opened #600 "Restrict IAM user to only Amplify Console"
**Please describe which feature you have a question about?**

I want to restrict the user access to *only* the Amplify Console.
The IAM user should have no CLI access but the ability to manage the console itself (i.e. add new projects, add redirects, env variables, general settings)

Could you help me determine the proper IAM policy needed to do this?

Something like this?

[code]

[2020-04-17 21:43] askpatrickw commented on #595
I have also experienced today on my first attempt to use amplify-console. Project is ReactNative with Python based lambda REST APIs.

amplify-cli (amplify push) worked as I was doing my dev work. It is only the console builds.

[2020-04-18 00:51] apoorvmote commented on #596
no React development env vs React production env. On localhost it runs on react development environment and it syncs but on custom domain or amplify app domain its in react production environment where it doesn't sync.

[2020-04-18 01:56] apoorvmote commented on #596
even in latest [amplify blog post](https://aws.amazon.com/blogs/mobile/amplify-framework-announces-new-rearchitected-ui-component-and-modular-javascript-libraries/) they are using `aws-amplify` vs `@aws-amplify/core` So to add config I tried both ways.

Again in both ways it syncs on react development build on localhost. Doesn't sync on react production build on custom domain or amplify app domain

[2020-04-18 03:57] rnsnknyu opened #601 "About amplify command not found"
**Issue/question**
I've been using AWS Amplify to build my backend in a test environment for some time now. When I use the amplify command in production, "npm install -g @aws-amplify/cli" succeeds, but "amplify configure" command fails with "-bash: amplify: command not found”.

**Error message**
Also, even in test projects where amplify commands were previously available, running amplify related c

[2020-04-18 06:07] kimfucious commented on #206
Thanks, @swaminator

It could very well that I'm doing something dumb, but I feel like I've tried everything you've recommended.  Do let me know if I can try something else and/or provide more detail.

[2020-04-18 07:50] gargshantnu opened #602 "Wrong URLs, and Branch name Under Domain management Section"
1. **Issue Description**
Wrong URLs, and Branch name Under Domain Management Section

1. **Detailed Steps To Reproduce**
    1. create a branch with `.` in the name.
    1. connect that branch in amplify.
    1. goto "Domain management" section, under `amplifyapp.com` you will see wrong branch URLs and names
![Screenshot 2020-04-18 at 1 09 32 PM](https://user-images.githubusercontent.com/23008972/

[2020-04-18 07:59] gargshantnu opened #603 "Questions"
I am having 2 questions about
![Screenshot 2020-04-18 at 1 26 01 PM](https://user-images.githubusercontent.com/23008972/79631710-9b502180-8178-11ea-8e39-1ea6b8bc8c72.png)

1. What's the point of the "Production branch"? Why is it used?
2. What's the point of the "Service role"? Why is it used?

[2020-04-18 08:04] gargshantnu commented on #599
@swaminator for a workaround, can we do
[code]

since Github is initialized in the folder, and `RSA host key for IP address` is also added, as seen from logs.
Can this work? Also, when can we expect the feature release for the same?

[2020-04-18 09:20] Sut3kh commented on #436
Same problem here with the connected branch frontend build.

We have 4 projects using amplify and only 2 of them have this problem. The 2 that work do not have an amplify backend - which implies there is some hidden or default config being triggered?

1 of the projects with the 403 problem has exactly the same amplify.yml as the 2 that work (no backend section) so just a manually pushed backend ap

[2020-04-18 14:58] bvirlet opened #604 "Deployment doesn't delete/invalidate some cache"
I'm using Jekyll and Amplify. I had a file under `/file.html`. I moved the file under `/file/index.html` so that it doesn't return a 404 for `/file/`. That part works fine.

However, after doing this, it seems that when I request my website with `/file`, I still get the old page (`file.html`) instead of being served the new path (`/file/index.html`).

I see during the deploy step that the step doe

[2020-04-18 20:39] akhockey21 commented on #206
We need the user pool environment variables as well. https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-607499826

That will at least make new auth deployments usable for people on new amplify projects.

[2020-04-19 05:04] Giddyrino commented on #440
@atlesp thank you so much. I spent around a day trying to fix this problem and I was about ready to ram my head through a wall.

Now I can finally move on, this was driving me so insane I'm tearing up now that it's finally solved.

[2020-04-19 05:15] ckampfe opened #605 "WASM compression"
Amplify seems to be compressing my js assets with gzip by default. I also have wasm assets in my application, and Amplify does not seem to compress wasm, which is a bummer, as wasm blobs can be quite large. I have searched the Amplify console, docs and elsewhere and I am unable to find anything about how I would be able to get Amplify to compress wasm. Thank you!

[2020-04-19 14:53] kevin-mitchell commented on #206
@kimfucious thanks for taking the time to post those details, it saved me from trying to start over from scratch. I have one (mainly unrelated if i were honest!) followup if you have time: you mentioned excluding `amplify/team-provider-info.json` from your project - I'm wondering if this is normal to do or if you had to work around this somehow?

This is likely dumb (or at least lazy?) question, b

[2020-04-19 16:03] kimfucious commented on #206
Hi @kevin-mitchell

The reason, for me at least, to exclude the `team-provider-info.json` file from my repo is because my repo is public and, since I'm using federated sign in, not excluding it would **expose the secret keys** for my external auth providers (e.g. Amazon, Facebook, Google).

I believe that the `team-provider-info.json` is there to make it super easy for teams to work on a project,

[2020-04-19 16:43] avner-hoffmann commented on #589
@adriencg - It will be very efficient if amplify will be able to supply the result of the test phase as an env variable or so, such that in the post test phase we can know if the tests succeeded or not. the post test phase may require running operations according to the test result

[2020-04-19 17:57] goldmont commented on #582
Hi,

I've solved...

This is the `amplify.yml` I use:
[code]

Unlike `phases`, it seems that `artifacts` and `cache` sections are chrooted to the project root directory.

Furthermore, I can't remove `cache` section because the following error is raised:
`TypeError: Cannot read property 'paths' of undefined.`

By the way, my configuration leaves only `amplify.yml` file and `deploy` directory once t

[2020-04-20 05:30] ShoubhikBanerjee commented on #571
yes please close it

[2020-04-20 06:58] kimfucious commented on #206
Hi @swaminator

Adding some possibly (un)related detail here.

I have another project (separate than the one that I used to provide detail with above) that has federated identify providers configured in the User Pool of the "dev" environment.  And it's been working.  I have not yet attempted to push the code changes to the repo to see what happens in the console.

Regardless, now a few weeks later

[2020-04-20 07:10] ShoubhikBanerjee commented on #581
@adriencg . It does not work with 200 rewrite.

Things to note : its build with ceate-react-app and does not have any backend. All server side are communicated with APIs.

[2020-04-20 07:56] #601 closed

[2020-04-20 08:35] adriencg commented on #597
I believe you're facing this issue: https://www.godaddy.com/community/Managing-Domains/Root-Domain-Forwarding-with-SSL-and-without-IP/td-p/156935 I was able to repro w/ my GoDaddy domain and couldn't find an easy workaround.

I'd suggest https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-transfer-to-route-53.html if you're going to be hosting with Amplify, which definitely supports b

[2020-04-20 08:35] #597 closed

[2020-04-20 08:39] adriencg commented on #581
https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa Sorry, I initially didn't understand the intended behavior/issue. This link will show you how to configure a rule which will:
- serve associated JS/CSS/image assets (based on the suffix)
- else: do a 200 redirect to the configured index.html (in your case 404.html). This preserves the locatio

[2020-04-20 08:40] #591 closed

[2020-04-20 08:40] #571 closed

[2020-04-20 08:45] rnaresh commented on #291
@swaminator All our preview builds started failing again from the past few weeks. node_modules folder size is 160MB.

[2020-04-20 08:48] adriencg commented on #527
https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#reverse-proxy-rewrite

Looking at the attached screenshot from @sanjeevghimire , the issue might be that the path is included in the destination. Please try adding the rewrite such that source is the root-path (i.e. /api) and destination is the API server hostname (i.e. https://myserver.com) w/ a 200-rewrite just like the example

[2020-04-20 09:00] adriencg commented on #546
@helloPiers The three phases are borrowed from CodeBuild terminology, and primarily meant to organize _your_ commands into sections; you could stick them all in a single phase and it'd work all the same. The only thing the runner guarantees is the run-order (preBuild > build > postBuild).

The "we" is a bit confusing in that section, since it refers to what _your_ commands did in the build phase (

[2020-04-20 09:00] #546 closed

[2020-04-20 09:05] adriencg commented on #496
@vchaddha Are you still facing this issue/have a question? If so, I can transfer this to CLI issues tracker as it's primarily a question about how to use the CLI in a custom CI setup.

If not, feel free to close/let me know and I'll close it.

[2020-04-20 10:00] ShoubhikBanerjee commented on #581
@adriencg A lot hearty thanx from me and @Maheshkumar094 . Our issue was resolved by following our link and by using "Reverse Proxy Rewrite".

The final redirect rule is :

`[
    {
        "source": "/paymentCallback",
        "target": "https://my-domain/paymentCallback",
        "status": "200",
        "condition": null
    },
    {
        "source": "/<*>",
        "target": "/404.html",

[2020-04-20 10:30] kevin-mitchell commented on #206
Thanks for the response to my Q @kimfucious ! I had (wrongly it seems!) assumed it was required for the build pipeline on the Amplify side (for handling the automated backend deployments and such). I might purge it from my repo though, the fact that it contains secrets and is under source control is the reason I currently have my Amplify project private.

FWIW, in my situation I am only use Google

[2020-04-20 12:00] kimfucious commented on #206
Hi @kevin-mitchell I'm happy to help and trying to provide as much info here as possible toward a solution.

I had my hesitations about adding `team-provider-info.json` some time back and got an official reply [here](https://github.com/aws-amplify/amplify-cli/issues/1779#issuecomment-508854570), that states:

So I've been running with that advice.

Regarding whether or not you're using federated s

[2020-04-20 13:50] rfpedrosa commented on #64
@swaminator I think I was using `amplifyPush --simple` in Amplify Console and `amplifyPush --simple`didn't look on `team-provider-info.json` file to find out, for example, what is the `AmplifyAppId` to use for the environment I was deploying. That makes  `amplifyPush --simple` to fail when I was using a single Amplify console setup and 2 AWS regions for prod & non-prod environments. Does that make

[2020-04-20 17:14] #581 closed

[2020-04-20 19:57] dabit3 commented on #601
Hi @rnsnknyu , this definitely sounds like some sort of issue with your environment installation path and node.js. Has there been any changes to your node.js installation?

One recommended fix is to remove your node.js installation and re-install using node version manager ([NVM](https://github.com/nvm-sh/nvm)). Then, installing the Amplify CLI. NVM has a better track record of being stable with t

[2020-04-20 21:17] #568 closed

[2020-04-20 21:50] swaminator commented on #603
@gargshantnu
1. The production branch is a label attached to a branch and doesn't have any direct consequences yet. We will be working on features to enable more workflows for production (e.g. rollbacks and pre-production stages).

2. The service role is used for backend deployments: https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html

[2020-04-20 21:50] #603 closed

[2020-04-20 23:48] abhi7cr commented on #604
Hello @bvirlet. Thanks for reporting. Can you provide your app id and region?

[2020-04-21 05:31] bvirlet commented on #604
@abhi7cr thanks for looking into this.

The app id is d3b21b977rb7wd (us-east-1).

The real name of the duplicate files would be `enterprise.html` and `/enterprise/index.html`. It looks like `enterprise.html` has been left instead of being deleted.

[2020-04-21 07:31] avner-hoffmann commented on #588
I'm not sure I understood the question. Are you asking if amplify will need to provide another notification as for the success or failure of the post deploy phase ?

[2020-04-21 08:03] rnsnknyu commented on #601
I couldn't get amplify to work properly because the node path was wrong. ( I installled node via homewbrew.  This way(npm (-g@ ) was wrong.)
Thanks for letting me know!

[2020-04-21 09:41] avner-hoffmann opened #607 "Are test artifacts deployed as well?"
**Describe the bug**
I connected my amplify project to a custom domain. On the Deploy section it seems that the test artifacts are being deployed as well. Why ?
And the more important question, does that somehow affects the bundle size when loading the site?

[2020-04-21 09:48] MShah-Fintech opened #606 "RegEx Usage not clear or bug"
** Please describe which feature you have a question about? **
I have made model with @searchable directive

Schema is as follows:

type Category @model @searchable {
	title: String!
	hierarchy: String
}

Now I want to search for string using RegEx in hierarchy field with searchCategory query.

My data items are stored in following fashion.

Sports#Cricket#
Sports#Cricket#T20#

My RegEx is `^Sport

[2020-04-21 16:06] gins0023 commented on #604
We're experiencing the same behavior. +1

[2020-04-21 16:42] magjack commented on #206
Hello, I had a preexisting environment with auth. I then added federated signin with the cli `amplify auth update`. It all worked fine when deploying locally. Then when I went onto the console I ran into the error **Parameters: [hostedUIProviderCreds] must have values**. I then followed the instructions  in [this comment](https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-61103

[2020-04-21 21:11] swaminator commented on #605
@ckampfe do you have an example link on Amplify you can share with the WASM blob?

[2020-04-21 21:39] abhi7cr commented on #602
Hi @gargshantnu. Thanks for reaching out. We will be fixing this shortly.

[2020-04-21 23:04] abhi7cr commented on #604
When we deploy, we restore assets from the last 6 build artifacts. This is done to support serving of old assets. In addition, we have a set of rules through which we run the requested url:

1. If the resource is /foo, we first check for /foo.html
2. If foo.html does not exist, we then check for foo/index.html (Which is what you want in this case)

In this case since foo.html still exists from the

[2020-04-22 06:11] bvirlet commented on #604
Thank you, @abhi7cr for this clear explanation. The 6 times information is helpful. Looking forward to this update.

[2020-04-22 08:52] apoorvmote commented on #596
Aparantly its solved in https://github.com/aws-amplify/amplify-js/issues/5448

But I can't verify until next stable release. Still I am closing this issue. Will open again if it fails.

[2020-04-22 08:52] #596 closed

[2020-04-22 09:04] manakbhard opened #608 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: djxmevwb0b1d4
**Region**: ap-south-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
How much time will it take for ssl verification and domain activation and our main site is also not working.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please a

[2020-04-22 12:39] ankhuve opened #609 "Provide build and deploy status for BitBucket repos"
Essentially a copy of [this issue for GitHub repos](https://github.com/aws-amplify/amplify-console/issues/173), but for BitBucket.

**Is your feature request related to a problem? Please describe.**
I guess I could manually call the [BitBucket endpoint](https://developer.atlassian.com/server/bitbucket/how-tos/updating-build-status-for-commits/) to update the status in my build script, but I feel l

[2020-04-22 13:37] alientang opened #610 "SSL verification is Running - [>8 hours verifying]"
**App Id**: d1lt6u1r37tpca
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
- Domain transferred from Google to AWS Route 53
- Nameservers updated yesterday ~11am
- May have created some additional record sets in Route 53 for the hosted domain, which I cannot seem to delete

**Error message**
- No error message

[2020-04-22 14:12] linusws opened #611 "Domain activation is Failed"
**App Id**: d2s0jhwgpjmiq9
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I'm trying to use my custom domain for my amplify implementation. As you can se it fails on with the following error message: "Error message: One or more of the CNAMEs you provided are already associated with a different resource."

**Error message**
"Error message: One or more of th

[2020-04-22 15:03] rnaresh commented on #291
@swaminator this is blocking our build pipeline? can you let us know what could be the reason for build failures in the last few weeks?

[2020-04-22 16:07] linusws commented on #611
I've now removed all CNAMES associated with the domain I'm trying to set up, however, still receives the "Error message: One or more of the CNAMEs you provided are already associated with a different resource."....

[2020-04-22 17:22] abhi7cr commented on #611
Hi @linusws. Thanks for reaching out.  I can see that the activation of the custom domain was in progress, and just finished. Are you still noticing this issue?
This issue occurs when you have the CNAME already associated with another cloud front distribution either via another amplify app, or by your own. Usually, it's safe to wait up to an hour  for the disassociation of the CNAME from the old d

[2020-04-22 21:57] swaminator commented on #206
@kevin-mitchell @magjack Make sure you add the environment variables **before** connecting the new branch. If you add it after, it won't currently work.

Just to reiterate the workflow (assuming you're starting from scratch).

1. Install the Amplify CLI. Setup env `dev`.
2. Run `amplify add auth` and setup social sign-in. Run `amplify push`
3. Commit changes to `dev` branch.
4. Connect `dev` branc

[2020-04-23 00:10] orizens opened #612 "With CSP enabled vis amplify.yml results in Errors"
**App Id**: xyz (sensitive)
**Region**: us-east-1
**Step**: Post-Domain Activation
**Status**: Activated

**Issue/question**
We deployed out app.
Front end is React.
We defined the required **CSP** policy, but we're seeing the errors attached below:
We're creating the **CSP** through amplify.yml, but nonce is needed for css and js.
We also tried using a client side csp generation tool (Webpack - *

[2020-04-23 02:31] abhi7cr commented on #612
Hi @orizens. Thanks for reaching out. From the docs you linked, it looks like you are required to generate a new nonce in every request from the server middleware. How are you managing to do that? Also, can you see the CSP Header in the response header?

[2020-04-23 06:10] linusws commented on #611
@abhi7cr  I thought it was enough to disable the CloudFront distribution that contained the CNAME but apparently I had to delete them. It's now working. Thanks!

[2020-04-23 06:10] #611 closed

[2020-04-23 08:35] kimfucious opened #613 "Cannot select BitBucket with Connecting a frontend web app"
This is a new, weird, issue, and I've logged out of the aws-console and re-opened the aws-console in a new browser window to start clean and recreate the below.

In short, when I try to connect a Bitbucket repo, I am presented with GitHub as the Repository service provider.

1.  Open existing app in Amplify Console that previously had a front-end connected to Github, but that branch has been delet

[2020-04-23 09:01] kimfucious commented on #613
Potentially related to this is:

As I mentioned I had previously connected front-ends to Github branches.  These were public branches.  I deleted these front-ends in Amplify Console, as I wanted to test using a private repo (related to a separate issue #206).

The reason I am now trying to connect to a Bitbucket repo is because when attempting to Connect a frontend web app with the GitHub private

[2020-04-23 10:05] kimfucious commented on #206
Hi @swaminator, I know that [the above](https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-618062205) was addressed to others, it got me thinking, as I usually never actually create a front-end for "dev".

I know I'm probably over-communicating here, but I really would like to find a solution for this soon.

What I usually do is:

1.  create "dev" env on local
2.  run `amplify

[2020-04-23 10:18] kimfucious commented on #613
Oddly, I went away and came back a few hours later to this and it auto-magically fixed itself.

I did push an entirely separate app via the CLI with `amplify push` during the meanwhile.

How that fixed a separate app in the Amplify Console, I knoweth not.

I'm gonna leave this here in case it shows again, and close this if it doesn't in a couple few.

[2020-04-23 10:47] woodsae opened #614 "Custom domain pointing to latest tag in repo"
I currently have a custom domain set up to point to my **master** branch.  I would also like to have a consistent staging environment URL, but having a long-lived **staging** branch would introduce unnecessary overhead to our development process.  The way I have done this in non-Amplify projects is to have the production environment be a deployment of the latest tag in the repo.  This would then l

[2020-04-23 12:06] truefalse10 commented on #470
Thanks, i had the same problem and this did it for me. I wonder why this step is never mentioned in the official docs https://docs.amplify.aws/

[2020-04-23 14:33] laranicolas opened #615 "Isn't a way to manually clear cache for amplify apps?"
** Please describe which feature you have a question about? **

There many times when I want to deploy a feature and I couldn't see the change in a short time (~5-10 m), it seems the cache clearing behavior isn't working normally... I would like to know if it exists a manual way to clear/invalidate them.

** Provide additional details**

[2020-04-23 15:27] abhi7cr commented on #615
Hi @laranicolas. Thanks for reporting.

When we deploy, we restore from the last 6 build artifacts. This is done to preserve old assets. The old file would still be there if it was deployed within the last 6 builds. We have added a feature request in our backlog to invalidate the old build artifacts upon deploy.

That said, if you **overwrite** the file contents and deploy, it should **always** se

[2020-04-23 15:34] laranicolas commented on #615
Hi @abhi7cr. Thanks for the quick response.

I am not having issues when overwriting files, it is more that I think it works quite well.

I am having problems when adding new things, weird because they shouldn't have problem with cache as they didn't exist before, and sometimes I wait more than 1 hour and nothing, it is quite cumbersome.

I have tried forcing using new commits or amending commits

[2020-04-23 16:08] abhi7cr commented on #615
@laranicolas Like you mentioned, when you deploy new files, they should not be affected by the cache. Are these new files part of a new server-side route(i.e a non-SPA), or are they bundled together and served through an SPA? In case of an SPA, the index.html would have the new hash for your static assets.

[2020-04-23 16:12] laranicolas commented on #615
@abhi7cr yes it should be the expected behavior but sometimes isn't working on my side.

I will continue working with these apps during the day and if saw again this issue I will report here in this thread.

Any suggestion or recommendation you will want me to share if I saw this issue is repeated again?

[2020-04-23 16:26] abhi7cr commented on #610
Hi @alientang.

We are working internally with another team which does the CNAME record verification, to understand why it is stuck in pending verification state.

When you say you updated the Name servers, did you lower the TTL in Google, before updating them to match the ones in Route 53? Usually they take 172800 seconds, or two days to take effect.

Thank you for your patience.

[2020-04-23 16:28] abhi7cr commented on #615
@laranicolas If you see the issue again, you can provide the appId and region, and we can take a look at what's happening.

[2020-04-23 17:43] abhi7cr commented on #608
Hi @manakbhard,

Usually, domain activation (including verification) should be done within minutes. That said, there are couple of factors affecting this state:

1. Make sure your domain name is able to resolve with the CNAME and NS records listed in your Route 53 hosted zone. If  You can check it here: https://dnschecker.org/
2. Are you transferring the domain to Route53? In this case, the NS rec

[2020-04-23 17:45] alientang commented on #610
Deleted record sets and re-added the custom domain. Worked 👌

[2020-04-23 17:45] #610 closed

[2020-04-23 18:41] orizens commented on #612
hi @abhi7cr
Previously, we generated nonce during build time (with the csp webpack plugin).

this the CSP response header which we're getting the errors i mentioned:
[code]

what are we missing?

[2020-04-23 18:51] abhi7cr commented on #613
Hi @kimfucious. Thanks for reporting.
The first issue (incorrect provider after disconnecting all branches, and connecting a repo) is a bug. We have added to our backlog.
As far as the second one, I was able to connect a private github repo. Not sure if the first issue was impacting your ability to connect a private repo, since at that point its in an invalid state.

[2020-04-23 19:20] laranicolas commented on #615
@abhi7cr I have deployed around 10 minutes ago and when I want to load the file it says "Too many redirects". I still have the same problem when creating a new folder/file.

?region=us-east-1#/d3fy0ag823g66u

I suppose the app id is the above appeared in the URL right?

[2020-04-23 19:22] abhi7cr commented on #612
Hi @orizens. It looks like self, unsafe-eval, and unsafe-inline need to be surrounded by quotes.
You can check here: https://csp-evaluator.withgoogle.com/

That said, I don't think you need the unsafe values in style-src when you use a nonce and JSS adds the nonce to the inline style tags. Not sure if you are using inline script tags in which case you need the unsafe-inline for script-src.
Ref: ht

[2020-04-23 19:37] kimfucious commented on #613
Hi @abhi7cr

Thanks for the response.

I've got a feeling that the second one cleared up when the first one did, as they both went away at the same time.

So if you've got this in your backlog, I'll close this out.

[2020-04-23 19:38] kimfucious commented on #613
Sorry, I'll leave this open, so you can link this to another issue or close it.

[2020-04-23 19:46] abhi7cr commented on #615
@laranicolas Thanks for the information. Taking a look.

[2020-04-23 20:07] swaminator commented on #613
Closing as we're tracking it in our backlog. Thanks for reporting @kimfucious

[2020-04-23 20:07] #613 closed

[2020-04-23 20:17] abhi7cr commented on #609
Hi @ankhuve.

Thanks for reporting. We currently don't send build updates back to our source providers.We have added this as a feature request in our backlog.

[2020-04-23 20:17] swaminator commented on #614
@woodsae thanks for the feature request. Some questions:
1. Do you want to have a flow where you can create a branch deployment from a specific tag? (e.g. release)
2. Can you tell us what tags you use specifically in your workflow?

[2020-04-23 20:19] swaminator commented on #607
@avner-hoffmann Test artifacts are not deployed to your hosted URL.

[2020-04-23 20:57] abhi7cr commented on #615
@laranicolas  It looks like there is no index.html in the latest build. Log message -  "No index.html detected in deploy folder".
Can you check if index.html is found in the root folder? If it's in another folder, you would need to specify the output folder in **baseDirectory** key in amplify.yml (build settings).

[2020-04-23 21:09] laranicolas commented on #615
@abhi7cr I am not using `html` for that container. Why you are matching with an `index.html`. What if I want to use it as a container?

[2020-04-23 21:27] abhi7cr commented on #615
@laranicolas When you mentioned too many redirects, I assumed you were talking about loading the site with the default url (master.foo.amplifyapp.com), for which we default to index.html (we try to find one in the build output directory). If we don't find, it would result in too many redirects.

I am not sure I understand what you mean by a container in this context. If you are loading a specific

[2020-04-23 23:10] woodsae commented on #614
Hi @swaminator, thank you for the response.

When I want to deploy to production I would make a tag in the format **v1.0.0**, so any tag starting with **v** means a production tag.  I would like my custom domain, **app.trabr.com**, to point to a deployment of the latest tag.  So when I make a new tag starting with **v**, a deployment would happen and that code would now be serving production.

Doe

[2020-04-24 03:45] JuliusHimself opened #616 "Domain activation is Failed - After CNAME confirmed"
**App Id**: d23x1yjr8cg4n
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
The domain activation is failing, even though we can see the CNAME is correct on https://www.whatsmydns.net/

Error message: One or more of the CNAMEs you provided are already associated with a different resource

[2020-04-24 03:54] Phangster opened #617 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d243cbs54v8mx2
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

My Domain activation name failed, any solution to get it working ?

[2020-04-24 07:29] ankhuve commented on #609
Thanks for your reply @abhi7cr !

I have another question then, perhaps you can help me answer it. I'm now currently trying to report the build statuses to BitBucket using [their API](https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Bworkspace%7D/%7Brepo_slug%7D/commit/%7Bnode%7D/statuses/build), but I can't find a way to report failed builds when they happen as it

[2020-04-24 13:56] laranicolas commented on #615
Yes, I am using to load a specific file via the URL, e.g: https://master.d3fy0ag823g66u.amplifyapp.com/countdown-timer-redirection/countdown-timer-redirection.js, right now is working perfect because I deployed yesterday but each time I deployed takes a lot of time to be alive in production.

[2020-04-24 16:21] abhi7cr commented on #615
and this is the file you are overwriting with each deploy? As long as the content changes with the same file name, it should invalidate our CloudFront cache. Could you give a timestamp of when you received the old file after a deploy, or if possible can you make a fresh deploy, make a request to the file, and let me know? I can check the logs to see what's going on.

[2020-04-24 16:22] abhi7cr commented on #617
@Phangster Thanks for reporting. Taking a look.

[2020-04-24 16:34] laranicolas commented on #615
No, remember "overwriting" isn't the problem. I am having issues when uploading a new folder with new js files, then I try to load them but they start doing many redirects.

[2020-04-24 16:36] abhi7cr commented on #616
@JuliusHimself  This error message states this domain is already associated with another CloudFront distribution (either through an amplify app or directly using CloudFront).
In this case, this is the appId associated with the domain: **d2cpzf13tj7nag** . You would need to disassociate the domain from this app (Clear CNAME/A records pointing to the old app in Route53/domain provider you chose) bef

[2020-04-24 17:01] abhi7cr commented on #615
okay sure. Can you give me the timestamp of when you were getting the redirects once you deployed? I will take a look at the logs. This is the new folder and file you added: **countdown-timer-redirection/countdown-timer-redirection.js** ?

[2020-04-24 17:05] Joycehao19 commented on #206
@kimfucious thank you for the detailed post. I'll work on investigation, and keep updating here.

[2020-04-24 17:09] laranicolas commented on #615
It was yesterday, now it is working fine, it seems cache it has a big delay. Next deploy I will pass you the timestamp so you can review it.

[2020-04-24 20:49] stefangomez commented on #519
Having same problem here where a redirect won't work for us. we need the domain to stay the same.

[2020-04-24 20:55] alimoeeny commented on #519
Any updates on this would be very much appreciated :)

[2020-04-24 21:58] sthulb opened #618 "One-Click Issue"
The one click deployer for Amplify Console (https://docs.aws.amazon.com/amplify/latest/userguide/one-click.html) currently on works when only specifying the repo (https://github.com/user/repo) format. If you specify a path (as allowed in the docs: https://github.com/user/repo/tree/branch/path), the Amplify console prompts you to "Connect to GitHub", after pressing the button, you're moved to anoth

[2020-04-24 23:01] karrettgelley opened #619 "This XML file does not appear to have any style information associated with it."
**Describe the bug**
When I reload a page in my dev or master environments (served with amplify console/S3) I get the following error: `This XML file does not appear to have any style information associated with it.`. To be specific, if I type in a url like `masterenv.com/somepage`, or reload the page at that point I get the error. In the dev console, the browser throws a 403 error on the page. Ho

[2020-04-25 00:25] abhi7cr commented on #618
@sthulb Thanks for reporting. Will take a look and get back to you.

[2020-04-25 01:29] orizens commented on #612
is there any example to add nonce  on amplify's yml?

[2020-04-25 13:41] magjack commented on #206
I tried the instructions [decribed  ](https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-618062205)again with a new amplify console config but still see the same error. Will continue with using CLI to setup backend.

[2020-04-25 18:13] michaelbrewer opened #620 "Domain activation is Failed - CNAMEs you provided are already associated with a different resource."
**App Id**: d1bcl5elzj0u0n
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
We are trying to migrate an existing site hosted by an AWS Cloudfront distribution that we don't control.

So when we try to move it to Amplify we get "One or more of the CNAMEs you provided are already associated with a different resource."

**Error message**
One or more of the CNAM

[2020-04-25 19:41] kimfucious commented on #206
Thanks @Joycehao19.  While you're at it, here's more info for you.

- I've got an existing app on Amplify that has a dev and prod backend.
- It has a front end for prod (only), created by connecting the master branch of a public repo.
- This project, to date, has had auth configured w/o federated sign-in.
- I've added federated sign-in to the dev backend, and it works testing locally
- Ultimately

[2020-04-25 23:46] karrettgelley commented on #619
@jordanranz Worked like a charm! Thanks. For those who are wondering, I had to set up a rewrite in the amplify console that [redirects all traffic to index.html for a spa](https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html).

[2020-04-25 23:46] #619 closed

[2020-04-26 06:20] #620 closed

[2020-04-26 12:00] kevin-mitchell commented on #206
FYI @swaminator I believe i followed the steps you outlined [here](https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-618062205) exactly but am seeing what seems to be inconsistent behavior. Following the steps you outlined, I have had both `prod` and `dev` environments build, but also both fail with

`Parameters: [hostedUIProviderCreds] must have values`

One thing I noticed (

[2020-04-26 13:49] kimfucious commented on #206
Hi @Joycehao19 & @swaminator

Trying something new here, for the sake of simplicity, as I know my posts on this have been long and probably have some mistakes in them.

1. Use this article [Feature branch deployments and team workflows](https://docs.aws.amazon.com/amplify/latest/userguide/multi-environments.html) from the _AWS Amplify Console User Guide_ as a starting point.

2. Follow the steps i

[2020-04-26 14:26] kimfucious commented on #206
よー @kevin-mitchell,

I know I've written some long posts, and some things might not have been clear, despite my best intentions.

To clarify this from [here](https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-619538199):

My mention of `prod` in [this post](https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-619430905) is for a pre-existing Amplify app that w

[2020-04-26 17:40] mulderje opened #621 "Custom headers missing from redirect response"
**Please describe which feature you have a question about?**
Is it possible to have headers in a redirect response? As an example, if I want to be able to set `Strict-Transport-Security: max-age=63072000; includeSubDomains; preload` to be [HSTS compliant](https://infosec.mozilla.org/guidelines/web_security#http-strict-transport-security) is that possible? I need to be able to serve that on example

[2020-04-27 00:27] nadirabid commented on #278
same issue - @afladmark thanks for trick

[2020-04-27 08:53] kannieWeesNie opened #622 "Vue AWS Amplify fail to get credentials"
cannot get credentials after successful signin using authentication.

i am using AWS Amplify for authentication in a Vue app.

i am able to login successfully but cannot get credentials using Auth.currentUserCredentials() and Auth.currentCredentials().

i'd appreciate any help to sort out the problem.

after signing in, i notice this in the console log:

`POST https://localhost/ net::ERR_CONNECTIO

[2020-04-27 13:49] Purii opened #623 "Frontend build fails: Yarn requires Node.js 4.0 or higher to be installed."
** Please describe which feature you have a question about? **

Added a new Gatsby project via Git, which can't be deployed.
The same project worked before.

[code]

Other Gatsby project using npm:

[code]

[2020-04-27 14:31] lionzan commented on #585
Thanks!

[2020-04-27 14:35] shide1989 commented on #436
ahd the same issue, went to Amplify console to add a redirect rule on my application that works perfectly :
<img width="802" alt="Capture d’écran 2020-04-27 à 16 35 23" src="https://user-images.githubusercontent.com/7138331/80384404-20d47f80-88a5-11ea-9379-3828134ff072.png">

[2020-04-27 15:22] abhi7cr commented on #623
Hi @Purii. Thanks for reporting. Could you share your appId and region?

[2020-04-27 15:26] Purii commented on #623
Hi @abhi7cr!

Sure.

AppId: `d1zjd9uoi9tlpm`
Region: `eu-central-1`

[2020-04-27 15:39] RCopeland opened #624 "Is it possible to restrict access to a deployed site by IP address?"
I've only seen restricting access by passwords on a branch in the docs. I've got a site I want to deploy using amplify, but I want to restrict access to it so that only users on my network are able. Is this possible?

[2020-04-27 15:57] cmendes0101 opened #625 "How to set Preview to use PR destination Environment variables"
** Please describe which feature you have a question about? **
The setup is not using Amplify backend.

We are currently using PR Previews. When building it appears to use the default Environment variables for all branches. When we are making a PR for dev branch we would like the PR Preview to use dev Env's. Is this possible?
It makes it harder to test FE dev against production API since they are

[2020-04-27 16:05] abhi7cr commented on #621
Hi @mulderje. Thanks for reporting.

During the 301 response to the browser, the connection is still in **http** mode, and the HSTS header would be ignored (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security). **After** the 301 is returned back to the browser from the first http request, there would be a second request made to the **https** site. Do you see the HST

[2020-04-27 16:07] abhi7cr commented on #622
Hi @kannieWeesNie. Thanks for reporting. We will take a look at this issue, and get back to you shortly.

[2020-04-27 16:26] abhi7cr commented on #617
@Phangster Is your domain registered in Route53 or elsewhere? Also, are you transferring the domain to Route53?

It looks like the CNAME record is not resolving correctly. Can you make sure you have the same CNAME record in your domain configuration, as specified in the *View DNS records* section, in the Custom Domains page of your app?

[2020-04-27 16:41] swaminator commented on #624
@RCopeland there's a feature request being tracked #8 and #12. Please upvote there and closing this for now.

[2020-04-27 16:41] #624 closed

[2020-04-27 17:43] abhi7cr commented on #618
We have added this to our backlog. We will let you know once this fix is deployed.

[2020-04-27 18:33] Joycehao19 commented on #206
@magjack  Hi, sorry that you are still having this issue. Would you mind provide your appId, region and buildId? I can check from the logs to find out why it failed.

[2020-04-27 19:17] abhi7cr commented on #612
Hi @orizens. We don't have an example specifically for nonce. We have a custom headers section example listed [here](https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html) that includes CSP.
I did try the nonce example with my test app and it seemed to work as expected. This is what I did:

1. Added the customHeaders section in the build.yml as follows:
[code]
2. Added a test sc

[2020-04-27 20:13] sthulb commented on #618
Thanks @abhi7cr

This issue is currently holding up a release in https://github.com/awslabs/aws-well-architected-labs

[2020-04-27 21:53] alientang opened #626 "Domain activation is Failed - [CNAMEs already associated with a different resource.]"
**App Id**: d36ivyynncxdo8
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
- Domain transferred from Google to AWS route 53
- Custom domain used to be associated with s3 bucket, which has since been deleted
- Setting up custom domain via AWS amplify passes SSL verification but at `Domain Activation`

**Error message**
```One or more of the CNAMEs you provid

[2020-04-27 21:58] abhi7cr commented on #618
Hi @sthulb
Unfortunately, it looks like this fix would be part of a bigger effort that we are planning to address.
Meanwhile, we will update the docs to reflect the current state. Sorry for the inconvenience caused, we will update you once we have this rolled out.

[2020-04-27 22:39] jake-carr opened #627 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d32rr1rlojb5sz
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Deleted older version of an app and deployed a new one. Having trouble re-assigning my domain name to new one.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
**Note**: Be sure to check the message for sensiti

[2020-04-27 22:44] cslogan-red commented on #626
Hi,

The below can be helpful for troubleshooting (in the case of your domain, I can see it's still associated to the CF distribution that was created for the S3 hosting bucket, you'll need to remove it from this distribution first, and then reconnect the domain to Amplify Console):

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https:/

[2020-04-28 00:13] challenger1963 opened #628 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1k9b3c2d0hux5
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-04-28 00:16] challenger1963 commented on #628
Reading the docs and it hasn't been 6 hours so I'll re-open if its still an issue.

[2020-04-28 00:16] #628 closed

[2020-04-28 06:21] kkesley-shine opened #629 "Error: ENOSPC: System limit for number of file watchers reached"
Hi,

we're getting this error in my "Test" phase using cypress.

                                    throw er; // Unhandled 'error' event
                                    ^
                                    Error: ENOSPC: System limit for number of file watchers reached

It was fine in the previous build. I'm not sure what to do now. We've tried a solution from https://github.com/gatsbyjs/gat

[2020-04-28 06:44] kkesley-shine commented on #629
Setting `CHOKIDAR_USEPOLLING=1` in environment variable seems to work. Closing this.

[2020-04-28 06:44] #629 closed

[2020-04-28 08:48] no-creative-name commented on #559
@ganipcanot any update on this?

[2020-04-28 13:44] afsaneGhafouri commented on #352
@patleeman I guess they dropped the `--reportDir` in version 4. I've checked the documentation and found this:
https://github.com/Antontelesh/mochawesome-merge#cli-1

[2020-04-28 14:22] sferencik opened #630 "Domain activation is Failed - Retry button not working"
**App Id**: dje4umfxudl7v
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
My domain won't activate.

The domain was previously registered through CDK. I've deleted the respective CloudFormation stack and made sure the domain was removed from Route53. However, 3 hours later Amplify is still telling me

As per the [Troubleshooting guide](https://docs.aws.amaz

[2020-04-28 15:40] patleeman commented on #352
@afsaneGhafouri Yeah, they removed it in [this commit](https://github.com/Antontelesh/mochawesome-merge/commit/5488967ec193cbe4bcffcf5dad01696ae2e1c321)

[2020-04-28 17:31] BartomeuTortella opened #631 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d3ae6fyi0io5rn
**Region**: eu-west-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-04-28 19:06] mulderje commented on #621
Hi @abhi7cr -

Thank you for the response. I do not see it on the second redirect, only on the final redirect and call to https://www.example.com. I put the first two above for http://example.com --> https://example.com. Below is the final where the HSTS (and other) headers are included. I would think the header would show on the https://example.com call that redirects to https://www.example.com,

[2020-04-28 20:16] abhi7cr commented on #621
@mulderje thanks for the clarification.

So if i look at the first rule above, it is configured for **"http://example.com"** to go to **"https://www.example.com"**. In this case there would be only 2 requests right? One for the http://example.com, and second for https://www.example.com. Are you saying browser first goes from http://example.com to https://example.com and then to https://www.example

[2020-04-28 20:36] mulderje commented on #621
Yes that is exactly right. The browser has to go from http://example.com --> https://example.com --> https://www.example.com. I would expect the below (in addition to whatever other headers are desired by an end user). This way the HSTS headers are set on both the root and www domain.

[code]

[2020-04-28 20:37] kimfucious commented on #206
Hi, @Joycehao19 @swaminator, got any thing for me yet?  I'm still dead in the water.

[2020-04-28 21:48] greenstation opened #632 "Build and Deploy backend only project"
** Please describe which feature you have a question about? **
I have different services that do not have frontend. Can I use Amplify Console to deploy backend only projects? i.e. using it as part of CI/CD pipeline

[2020-04-29 02:13] abhi7cr commented on #621
Makes sense, thanks! From a security standpoint, we can include the HSTS header (possibly other security related ones like X-Frame-Options and X-XSS-Protection; we will have to investigate in more detail). I will add this to our backlog and get back to you once we have rolled this out.

This still won't guarantee protection in the initial http request, since that can be intercepted by a Man-in-the

[2020-04-29 03:29] connorford2 commented on #425
Heads up to everyone on this thread. AWS support reached out to me and acknowledged that this is indeed an issue on their end. I haven't tested it out yet, but this is the temporary fix I got from them:

[2020-04-29 04:34] hiennguyen-agilityio opened #633 "Incoming webhook don't add to amplify app with CloudFormation"
** Please describe which feature you have a question about? **
I have issue with Incoming webhook when create amplify via CloudFormation template. The incoming webhook added to github but don't appear on Amplify app

** Provide additional details**
Cloudformation template
[code]
The webhook added to github

![Screen Shot 2020-04-29 at 11 34 27](https://user-images.githubusercontent.com/5277254/805

[2020-04-29 14:44] FergusMcGlynn opened #634 "Email notifications don't work if git branch name > 22 characters"
**Describe the bug**
Email notifications don't work if the name of the git branch exceeds 22 characters

**To Reproduce**
Steps to reproduce the behavior:

1. Set up a React app or similar in a git branch with a name longer than 22 chars (e.g. `abcdefghijklmnopqrstuv` - 23 chars) - note: only tested with Bitbucket
2. Go to AWS Amplify console, click "Connect app" and follow instructions to connect

[2020-04-29 15:58] mulderje commented on #621
Thank you for the update. I actually cannot register on that site in the current setup because you are not setting the headers on the 301 redirect from https://example.com to https://www.example.com and they will not allow the registrations of sub domains. It puts out the error, "Response error: No HSTS header is present on the response." for example.com. And for www.example.com it says, "`www.exa

[2020-04-29 16:10] abhi7cr commented on #621
ah okay, in your case you have the 'www' sub domain. Sorry about that. I will let you know once the fix is deployed. Thanks for your patience!

[2020-04-29 17:23] prasaddattu478 commented on #425
Thanks for the update @connorford2.

@Joycehao19, I have tried using S3 url as suggested using zip file at root still deployment got struck at line number 27373(may vary). Please take a look at it as soon as possible. Our dead lines are close by. Please provide a fix at the earliest.

[2020-04-29 17:32] DaveHudson commented on #558
Had a similar issue, dropdown for previews just showed `dev` an environment which had been deleted long ago.

Found an old environment variable set in Amplify Console of `USER_BRANCH dev master`. Deleted that env var and the environments re-appeared as I expected in the preview dropdown.

[2020-04-29 17:53] abhi7cr commented on #609
@ankhuve Sorry missed this! We currently don't have an onError hook. I will add this as a separate item in our backlog.

[2020-04-29 21:10] jbeveland27 commented on #508
Just adding that I'd really like to see this feature. Our team functions primarily through a fork+PR flow and it's how we encourage others to interact with our project(s) as well. Having PR previews work for forks is highly desirable.

[2020-04-29 22:14] danielfranca commented on #595
Any updates?

[2020-04-30 00:09] fsiddiqui-ets opened #635 "Build settings amplify.yml"
** Please describe which feature you have a question about? **
most recent build settings amplify.yml not used when  new build triggered by gitlab code checkin

** Provide additional details**

yml file had an error.  After I corrected the error, new file is not being used.  I can see the old line which triggered the error in the build logs.

How do I  make the build use the current amplify,yml?

[2020-04-30 00:15] sumeet07 commented on #612
Hi Abhi,
Nonce is generated by build process; is inserted into index.html and it's different for every build. These nonce string are not available to add to amplify.yml unless build is complete but nonce can't be applied post build via amplify.yml. It seems like amplify.yml is added during build not post-build. Any thoughts?

[2020-04-30 01:13] abhi7cr commented on #612
Hi @sumeet07,

amplify.yml is used during the build. In this case, the index.html would have the nonce, but the CSP header in the yml file can’t be modified at this time. This is because we don’t support modifying the amplify yml values at runtime.

I will add this to our backlog and discuss with the team to see how we can address this. Thanks for your patience.

[2020-04-30 01:29] #635 closed

[2020-04-30 01:35] fsiddiqui-ets commented on #635
nvm  need coffee

[2020-04-30 01:58] sumeet07 commented on #612
Sounds like no dynamic nonce going to work unless we have hard coded nonce on both index.html and amplify.yml.

[2020-04-30 03:07] abhi7cr commented on #612
@sumeet07 Unfortunately, I don’t see any other solution apart from the hard coding of nonce, until we have come up with a solution to address the dynamic nature of nonces on our end. We will get back once we have come up with a solution.

[2020-04-30 04:32] sumeet07 commented on #612
Thank you So much!

[2020-04-30 08:48] Purii commented on #623
Found the cause for the error:
There has been a `/.npmrc` file which needed a specific env var.
This var hasn't been set.

-> Still the error is quite confusing, because it implies that there's no `node.js` environment available

[2020-04-30 08:48] #623 closed

[2020-04-30 14:34] Charan-Kumar opened #636 "Domain activation is Failed - [BRIEF DESCRIPTION]"

[2020-04-30 14:35] #636 closed

[2020-04-30 15:15] Monoradioactivo opened #637 "SSL verification is Running - [BRIEF DESCRIPTION]"
**App Id**: d2yxbolshog9m4
**Region**: us-east-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-04-30 15:16] #637 closed

[2020-04-30 17:18] abhi7cr commented on #623
Glad you figured it out! The error message seems to come if the “node” or “nodejs” command is not found. https://github.com/yarnpkg/yarn/blob/master/bin/yarn#L31
As you mentioned, when it’s trying to do yarn install, it’s reading from .npmrc , and since the env variable hasn’t been set, it errors out. But if you have an env that’s not set, you should be getting this ‘Failed to replace env in confi

[2020-04-30 20:10] G07cha commented on #584
I experience this issue as well @adriencg, also with ZIP file. Just sent my AppId and Region to aws-amplify-customer@amazon.com.

[2020-04-30 20:35] #627 closed

[2020-04-30 23:07] cslogan-red commented on #634
Thank you for reporting, we've added this to our backlog and it's pending prioritization.

[2020-04-30 23:17] cslogan-red commented on #625
Thank you for reporting, you're correct in that each new PR Preview always only inherits environment variables defined for all branches, regardless of the source or target branch. As a workaround, once your PR Preview branch is created in the Console; if your environment variable already exists, you can then manually add branch overrides for your specific PR branch that match whichever branch that

[2020-04-30 23:28] cslogan-red commented on #630
It looks like your domains have since come up, let us know if you still have any questions.

[2020-05-01 00:35] mewc commented on #470
Same here @truefalse10 @harrysolovay - it feels as this is a critical component of cicd deploying and is brushed over. I'd suggest that it be in the `build spec` by default when detected to have an amplify backend.

[code]

[2020-05-01 06:08] #236 closed

[2020-05-01 06:28] swaminator commented on #251
@HMilbradt @lettertwo @talebbits  we released a fix. Could you please verify?

[2020-05-01 06:30] #59 closed

[2020-05-01 06:30] #311 closed

[2020-05-01 06:31] #317 closed

[2020-05-01 06:32] #484 closed

[2020-05-01 06:32] #526 closed

[2020-05-01 06:34] #630 closed

[2020-05-01 06:35] #616 closed

[2020-05-01 10:29] fbiering opened #638 "Custom domain activation is Failed"
App Id: dvo5vbc3ne4u1
Region: eu-central-1
Step: Domain activation
Status: Failed

My Custom Domain activation name failed, any solution to get it working?

[2020-05-01 16:22] Joycehao19 commented on #428
Hi @idrisov-ri , we released a fix. Now, if the branch name doesn't satisfy regular expression pattern, the save button would be disabled.

[2020-05-01 16:31] stigalvestad commented on #115
Is there any news on this case, @adriencg ?

[2020-05-01 21:41] ckampfe commented on #605
@swaminator https://www.rasterize.live/ is my app, hosted on amplify. If you monitor the network tab, the wasm blob is called `rat.wasm`.

[2020-05-01 21:42] ckampfe commented on #605
Also, you can see the full source of the app here: https://github.com/ckampfe/rat
Not sure if that is useful.

[2020-05-02 00:36] shrirupa opened #639 "How to Exclude draft PRs in github from the Enable Preview feature"
How to Exclude draft PRs in github from the Enable Preview feature

I don't want the preview to be enabled for draft PR and only want this enabled if the PR is marked ready for review.

[2020-05-02 09:46] taeemo commented on #254
@Joycehao19 The [documentation](https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html) and what you're saying is very misleading. It makes us think we can have public ECR images but that doesn't seem to be the case. What am I missing?

[2020-05-02 17:48] loera140 commented on #347
I came across this as my project started to hang while starting the development server.
![Screen Shot 2020-05-02 at 10 40 10 AM](https://user-images.githubusercontent.com/31187251/80871460-981d6100-8c61-11ea-9b38-bc9f7ee2ecd6.png). For me I was able to narrow it down to something to do with react-scripts. I found that ```"react-scripts": "^3.4.1"``` could not start my app within Amplify. However,

[2020-05-02 19:32] gins0023 commented on #278
+1 - Using this for apple pay w/ stripe and stripe won't let me add our domain because of this.  Tried the rewrite hack, but doesn't work because stripe rejects the redirect.

[2020-05-03 08:46] kevinwolfdev opened #640 "Console does not detect React framework if react-scripts is a devDependency"
If I add `react-scripts` as a `devDependency`, the console doesn't detect React as my Frontend framework.

[2020-05-03 12:31] MatanYadaev opened #641 "Environment variable per domain"
I want to have 3 environments on different domains:
1) Production - using `master` branch
2) Staging - using `develop` branch
3) Testing - same as staging, using `develop` branch

Is that an option to provide different environment variables for staging and testing?

[2020-05-03 20:05] gauravghai opened #642 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3u8v35ymz5akl
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-05-03 20:28] #638 closed

[2020-05-04 06:44] DanielNetzeriAm commented on #379
@RossWilliams as a workaround till Amplify will support variables in the baseDirectory i added a command to the postBuild stage that copy the relevant app files into a directory specific for that and I just added that directory to the baseDirectory path.

[2020-05-04 11:14] rallona commented on #331
Hi!! Any improvement related with A/B testing? I need it working on amplify.

[2020-05-04 11:15] rallona commented on #511
Are there any improvement related with split testing on amplify? I need it for my app!

[2020-05-04 11:47] fullstackfool commented on #625
+1 for PR env vars. We're using amplify cookie-based storage for cognito, and the domain value needs to be set correctly for it to work.

There is already one which is added automatically for each PR:
<img width="832" alt="Screenshot 2020-05-04 at 12 43 14" src="https://user-images.githubusercontent.com/14146557/80962369-d4d58d80-8e04-11ea-9e07-910a6df026d9.png">

@cmendes0101 One thing that may h

[2020-05-04 15:03] nagey opened #643 "Assigning an app to a TLD where the TLD is not associated with the app (subdomain only hosting)"
**Issue/question**
There doesn't seem to be any particular way to associate an amplify app with all of the subdomains of a domain, while leave the main domain name for a marketing site that is not an amplify app. I had thought that I would be able to do with an appropriately configured cloudfront configuration, but I cannot find the appropriate headers to pass through to "fool" amplify's CF distri

[2020-05-04 16:21] gins0023 commented on #225
@swaminator any update on this?

[2020-05-04 17:10] FergusMcGlynn opened #644 "Can't use environment variables in custom headers section of amplify.yml"
Environment variables are not interpolated (i.e. their names are treated as literals) in the `customHeaders` section of amplify.yml (at least when `amplify.yml` is hosted in Amplify Console and not in the git repo).

For example, if `amplify.yml` contains:
[code]
then when https://trusted.example.com tries to fetch a file from this app it will be blocked by CORS because the app is sending the head

[2020-05-04 17:25] Joycehao19 commented on #641
Hi @MatanYadaev , we don't support connect same branch twice in the same application. You could connect 2 applications, 1: Production and Staging, 2: Testing.
For different environments variables: 1. you could use amplify cli to create different backend environments and push to the cloud. (ref: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#quickstart) Then in Amplify Console, you cou

[2020-05-04 17:52] Joycehao19 commented on #642
Hi @gauravghai  What is the error message?
These guides are helpful for common custom domain issue. If those guides can not solve your issues, please let us know.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

[2020-05-04 17:55] Joycehao19 commented on #640
Hi @kevinwolfdev , would you mind tell us how you set it? I'll investigate on your issue

[2020-05-04 18:18] nagey opened #645 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dujkbofvrl3he
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I have a particular subdomain for this project that *always* tries to redirect from https://subdomain.domain.com to https://www.subdomain.domain.com/ — even though i've not set it up that way

[2020-05-04 18:18] #643 closed

[2020-05-04 21:12] Joycehao19 commented on #645
Hi @nagey , could you please take a look on your `rewrites and redirects` section? Anything here?

[2020-05-05 05:02] abir4u opened #646 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1lw35bfe58ojw
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-05-05 05:15] kakriti007 commented on #440
I am still getting same issue.
Any workaround for this?

[2020-05-05 07:31] Joycehao19 commented on #646
Hi @abir4u  What is the error message?

These guides are helpful for common custom domain issue. If those guides can not solve your issues, please let us know.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

[2020-05-05 08:12] hirochachacha opened #647 "Allow users to delete backend environments on console without requesting cli"
**Is your feature request related to a problem? Please describe.**

There're many backend environments I don't use now.

![image](https://user-images.githubusercontent.com/898442/81045826-fb252700-8ef1-11ea-8c7a-77a191b49e44.png)

I'd like to delete these environments, however when I choose `Delete` from `Actions` drop menu, I see

![image](https://user-images.githubusercontent.com/898442/81045952

[2020-05-05 08:27] Joycehao19 commented on #644
Hi @FergusMcGlynn , Thank you for reporting. We cut a ticket in our customer oncall list. We will investigate your issue soon.

[2020-05-05 09:02] michalmikolajczyk commented on #115
Hi we have the same problem. Our app ARN arn:aws:amplify:us-west-2:329268793000:apps/d2o4y68d25axi5

This seems related to the tests. The problem only started showing after I added the `test:` paragraph to amplify.yml and when it was removed, the build deploys. With that section, I get

[code]

I went around this problem by moving the commands for tests into the _preBuild_ phase for `frontend` (I

[2020-05-05 12:03] dsoegijono opened #648 "Frontend deployment missing files"
I'm trying manual deployment for a frontend environment, and I uploaded a .zip file. The zip file has `vendor.js` and `favicon.ico` but they seem to be missing in the deployed app, therefore when I go to the URL provided the app wouldn't load due to the missing vendor.js

Using `amplify publish` from CLI with the same dist folder works though, so I'm not sure why they're behaving differently.

[2020-05-05 13:46] nagey commented on #645
yep. good to know that the console is putting it in there i suppose. would be neat to have a link from where it says "redirects to" to the redirects panel. I had assumed it was handled within something internally (like the cloudfront distro, for example)

[2020-05-05 13:47] #645 closed

[2020-05-05 15:44] ankhuve commented on #609
Great, thanks! Looking forward to it as our failed builds now still show as ongoing in BitBucket :slightly_smiling_face:

[2020-05-05 15:58] ankhuve commented on #551
I'll +1 this feature request, I need it to build a proper URL to the build status page to send in a webhook during my builds.

@ganipcanot 's suggestion seems like a finicky way to find out which specific # a PR has. I kind of assumed AWS_BRANCH would be the one used in the PR previews, but as you mention, it's not.

A new env variable with the PR display name would be nice, perhaps it would only

[2020-05-05 16:05] Joycehao19 commented on #648
Hi @dsoegijono ,  which one did you try, drag and drop or Amazon S3?

Here are 2 useful comments, I hope those could help you. If those comments do not help you, please provide your appId and region to us. I'll investigate on it
App Settings --> General --> AppArn:
arn:aws:amplify:REGION:accountId:apps/AppId

https://github.com/aws-amplify/amplify-console/issues/584#issuecomment-613570006
https://

[2020-05-05 16:55] MR-Neto commented on #44
Any updates? I am in need of this feature.

[2020-05-05 18:25] Joycehao19 commented on #534
Closing for now. If you still face same issues, please feel free to reopen it!

[2020-05-05 18:25] #534 closed

[2020-05-05 18:27] Joycehao19 commented on #486
Hi @mtorriani , do you still have this issue?

[2020-05-05 18:30] Joycehao19 commented on #385
Hi @rolandoesc  , thank you for sharing amplify.yml and package.json. Could you also share what redirects your app has in place?

[2020-05-05 18:44] Joycehao19 commented on #334
Hi, Thank you for reporting! we cut a ticket in our team backlog. We will investigate a fix.

[2020-05-05 18:56] Joycehao19 commented on #554
Closing for now. Feel free to reopen it if you still have the same issue!

[2020-05-05 18:56] #554 closed

[2020-05-05 19:00] #607 closed

[2020-05-05 19:06] Joycehao19 commented on #608
Hi @manakbhard , it seems that your domain works now. Closing the issue for now. If you have the same problem, please feel free to let us know!

[2020-05-05 19:06] #608 closed

[2020-05-06 02:01] woodsae commented on #614
Hi @swaminator , do you have any thoughts around my previous comment?

[2020-05-06 02:23] steinybot opened #649 "Unable to connect Git repository"
I am unable to connect my Git repository to my app in the AWS Amplify Console. I get to the final screen and click the button "Save and deploy" and it does nothing.

On inspecting the console I see that it failed with a 400 error saying "You should at least provide one valid token".

<img width="1678" alt="Screen Shot 2020-05-06 at 2 15 23 PM" src="https://user-images.githubusercontent.com/4659562

[2020-05-06 04:23] fabidick22 commented on #264
Any updates on this?

[2020-05-06 06:49] sudeep-quantelai commented on #595
I am encountering this issue too.

[2020-05-06 10:25] d-luk commented on #115
Thanks for the workaround @michalmikolajczyk.

We are having the exact same problem. With the `test` step the deployment fails, but without it it succeeds. We are also just running `yarn test` on our Create React App project.

@adriencg Can you give an update on the fix you mentioned?

[2020-05-06 12:41] dsoegijono commented on #648
Hi @Joycehao19 thank you for your response, those links helped.

I was doing the drag and drop method. My built app is located inside `dist/my-app` and I was originally creating a zip of `my-app` folder instead of the file contents.

The deployment was marked successful even though it was missing `vendor.js`. And checking the deploy logs, I didn't see anything around `vendor.js`

<details><summary

[2020-05-06 12:49] innesian opened #650 "Domain activation is Failed while transferring between AWS accounts"
**App Id**: d3av0syqkxkpyw
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain activation won't go through despite the domain's name servers being served in Route 53

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
We've recently moved th

[2020-05-06 16:30] Joycehao19 commented on #648
@dsoegijono I'm glad the drag and drop works for you. `Skipping deploying of existing file vendor.js` because you vendor.js has already uploaded. Would you mind provide you appId and region? It would be helpful for us to debug why  S3 didn't work

[2020-05-06 21:23] itdoh opened #651 "The Deploy freezes after a success Build"
We have problems with some deploying. The provisioning and the build finish successfully, but the Deploy freezes without any information about any problem. We tried to set up in different regions in EU but the problem still.

[2020-05-06 22:08] ZachMurray commented on #412
Same Problem I Have.

[2020-05-06 22:18] dsoegijono commented on #648
@Joycehao19 Which I think is strange because in the previous deploy, `vendor.js` did not show up in the logs and wasn't uploaded properly. When I tried going to the site, it couldn't find `vendor.js`. My confusion is around when it actually got uploaded.

As for ARN, I'll get this in the next few hours.

[2020-05-07 00:41] Joycehao19 commented on #651
@itdoh , I'm sorry that you are having this issue. Would you mind share your appId and region? I'll investigate your issue.

[2020-05-07 01:08] itdoh commented on #651
Hi @Joycehao19 thank you for your response. These are the information:
appId: arn:aws:amplify:eu-central-1:000098351948:apps/d3lfc9pdtt3gfv
region: eu-central-1
Thanks!

[2020-05-07 02:04] dgnabasik opened #652 "SSL verification is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3fs0vdmimg8k8
**Region**: us-west-2
**Step**: SSL verification
**Status**: Failed

**Issue/question**
1) I successfully transferred my **flyingmonkeyssocialclub.com** domain to Amazon. You sent an email dated May 4 with the message "We have finished transferring your domain registration for the domain flyingmonkeyssocialclub.com from your previous registrar to Amazon Route 53." I have

[2020-05-07 03:52] ohsik commented on #503
I think I'm having the same issue but not sure what to do haha

[2020-05-07 06:33] rnaresh opened #653 "Amplify console - Build successful but fails to deploy"
Hi,

We are using Amplify to build a new website using docusaurus. It started failing to deploy for preview branches from the past 20 days

![image](https://user-images.githubusercontent.com/4458618/81261902-891c2180-905a-11ea-990f-59695c4779e8.png)

App ARN - arn:aws:amplify:us-east-2:582734241681:apps/dpwfbpxczhwpr
The artifact size is ~76MB
node_modules folder size is 160MB.

this is blocking o

[2020-05-07 09:57] shide1989 opened #654 "Provide settings to increase the build instance capacity"
**Is your feature request related to a problem? Please describe.**
For now the build instances are hosts with 4 vCPU, and 7GB memory.

**Describe the solution you'd like**
I'd like to be able to increase the CPU, Memory, and maybe other settings to decrease the build time of my project.

**Additional context**
I'm working on a +1 year project, and so far the build time has increased since we added

[2020-05-07 12:47] webpatser opened #655 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1cupcx2bjjgh4
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
No error is given. Besides that it just fails.

**Error message**
No message..

**Additional information**
Please add any other relevant information. Please feel free to include screenshots.

[2020-05-07 14:26] EllieA commented on #278
@gins0023 try a rewrite, not a redirect - it worked for me with Stripe. @DavidNelsonCordelia I saved the file with a .txt extension and added the file name to the rewrite to make it work.

[2020-05-07 14:58] gins0023 commented on #278
@EllieA My mistake it actually was a rewrite, but I didn't specify the file in the rewrite or use the .txt extension.  After changing that it worked.  Thank You!

[2020-05-07 14:59] kimfucious commented on #206
@swaminator @Joycehao19 Any progress on this.  @steinybot 's post gave me some hope, but it was fleeting, as I faced the same issue when creating a new backend via the console from a connected (private) repo branch (team-provider-info.js included, env vars added in the console) with this:

[code]

[2020-05-07 15:39] kaipi commented on #206
same thing giving errors whatever of the tricks i do mentioned here.

[2020-05-07 16:17] Joycehao19 commented on #655
Hello @webpatser , sorry that you are having this issue. Could you please try remove and re-add your custom domain?

[2020-05-07 17:57] lee-merrill opened #656 "Deployment fails on "amplify publish""
My ARN is arn:aws:amplify:us-east-1:556961531046:apps/d3fjd2czg1c5dd

When I do an "amplify publish", I get:

✔ Zipping artifacts completed.
✖ Deployment failed! Please report an issue on the Amplify Console GitHub issue tracker at https://github.com/aws-amplify/amplify-console/issues.
App d3bd4mny5g2wb4 not found.
NotFoundException: App d3bd4mny5g2wb4 not found.
    at Object.extractError (/usr/l

[2020-05-07 18:04] lee-merrill commented on #656
That ARN should have been arn:aws:amplify:us-east-1:556961531046:apps/d2d3y5fqocr2ed

[2020-05-07 22:07] steinybot opened #657 "GitLab previews"
** Please describe which feature you have a question about? **

I have configured previews for my app where the code is hosted in a GitLab repository. AWS Amplify does detect my Merge Requests and starts a build but it does not add any kind of status to the Merge Request in GitLab. Is there any way to do this? I'm assuming that it is not possible to work with the GitLab Pipelines feature but even

[2020-05-07 22:11] Joycehao19 commented on #656
Hi, @lee-merrill sorry you are facing this issue. Do you mean when you do `amplify publish` locally, and it failed? Did you try upgrade amplify cli tool -> npm install -g @aws-amplify/cli@latest and run `amplify publish`?

[2020-05-08 08:04] webpatser commented on #655
Did that twice already.. Same result.. 3 green steps. The final step fails. It says the domain already points to an address. Even after removing the records from route53 they cannot be created.

[2020-05-08 09:01] kimfucious commented on #206
Hi @swaminator @Joycehao19,

I had a thought about this after having looked at the stack trace of the error, which points to `node_modules/@aws-amplify/cli/node_modules/amplify-category-auth/provider-utils/awscloudformation/index.js`.

I could be completely off-base, but here it goes anyhow:

There's a line item (492 in v 4.18.1) in that file that looks for the inclusion of the text `accounts.goog

[2020-05-08 09:11] ben-elsen opened #658 "The test phase is hanging with a Vue js project"
** Please describe which feature you have a question about? **
I have a basic vue js project with cypress tests but the Amplify console keeps hanging in the test phase.

When I do the commands on my macbook, everything works.

Thanks for the help!

My amplify.yml is:
`version: 0.1
frontend:
  phases:
    preBuild:
      commands:
        - npm ci
    build:
      commands:
        - npm run build

[2020-05-08 14:04] Munsterberg commented on #331
Any progress on this?

[2020-05-08 17:45] Joycehao19 commented on #658
@ben-elsen Sorry that you are facing this issue. Would you mind share your appID, region and build setting with us?

[2020-05-08 18:38] Joycehao19 commented on #646
Please let us know if you still have same issue!

[2020-05-08 18:38] #646 closed

[2020-05-08 18:39] #641 closed

[2020-05-08 18:48] #642 closed

[2020-05-08 19:18] jchris opened #659 "Custom lambda for deploy bucket security"
** Please describe which feature you have a question about? **

We are using the basic auth feature to protect our application assets. However, we'd rather use our existing single-sign-on (Okta) and only allow authenticated users to read the deploy buckets. Is it possible to customize the bucket security lambda?

** Provide additional details**

We have create a proof of concept CloudFront lambda,

[2020-05-08 20:14] HMilbradt commented on #251
@swaminator Unfortunately, we decided to migrate off Amplify to netlify due to #396, so I'm unable to test.

[2020-05-08 20:45] cnegrisanu commented on #596
@apoorvmote
I still have the same issue. I spent the entire last week trying to troubleshoot. Works fine on localhost and syncs to the backend env no matter which one I choose, but when deployed to amplify hosting... there's no attempt to connect to the backend api to sync records.

[2020-05-08 23:15] ben-elsen commented on #658
hi @Joycehao19,
Thanks for reaching out!
Yes off course!
The appID is d3l9k6n4w6fsrl
The region is eu-west-1
The build setting are attachted.
[amplify.txt](https://github.com/aws-amplify/amplify-console/files/4602116/amplify.txt)

[2020-05-09 04:31] iocuydi commented on #207
Having this same exact issue now. ssl works for the amplify domain but not for my domain.

However, I'm hosting it on godaddy and I couldn't set up the ANAME record, only the www one. Instead I'm having godaddy forward the base domain to www.

But https://www.mydomain.io still returns unsecure warnings. Any idea on how to fix this? Thanks!

[2020-05-09 13:52] simpson commented on #541
@ganipcanot seems like the problem is back! Our deploys are failing again

[2020-05-09 13:52] simpson commented on #541
@Athena96

[2020-05-09 14:08] simpson opened #660 "Constantly failing deploys"
** Please describe which feature you have a question about? **
Failing deploys are back again, halp!

** Provide additional details**
https://github.com/aws-amplify/amplify-console/issues/541

[2020-05-09 20:37] dgnabasik commented on #652
What is the exact string that replaces the string "sg-091bd5407b047bafc" in 3 places in the https-lbsecuritygroup.config file?

[2020-05-10 00:16] simpson commented on #660
@swaminator @ericclemmons @jpeddicord @cslogan-red @litwicki

can we get a check in health check in place for the backend deploy pipeline dependency that reports to the AWS status page? It is frustrating to reach out to AWS support and they say everything is fine because the status page is green...

[2020-05-10 00:17] simpson commented on #660
@ganipcanot @Athena96

[2020-05-10 17:22] magjack commented on #206
I am seeing this error again.

`2020-05-10T17:15:37.026Z [INFO]:
2020-05-10T17:15:37.028Z [INFO]: For more information on AWS Profiles, see:
                                 https://docs.aws.amazon.com/cli/latest/userguide/cli-multiple-profiles.html
2020-05-10T17:15:37.380Z [INFO]: Amplify AppID found: d2avikkcqe0wq. Amplify App name is: roundin-customer
2020-05-10T17:15:37.440Z [INFO]: Backend en

[2020-05-10 18:06] kimfucious commented on #206
Hi @magjack

For what it's worth, the only way that I've got this to semi-work again, is to follow @Joycehao19 's recommendation [here](https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-552548466).

In short, create custom push script and hard-code the AUTHCONFIG section with your ids and secrets.  Then, manually edit the `amplify.yml` file under build settings as shown in @Jo

[2020-05-10 20:00] kevin-mitchell commented on #206
@kimfucious こんにちは ：）
I feel like this shouldn't be that complicated to fix, and I keep downloading the `amplify-cli` source to try to figure it out, but so far I've lost motivation every time I start looking into this (it's for a "fun" project so nights and weekends).

One thing I recently did is switch my AWS account to an "organization" structure and created a brand new account specifically for

[2020-05-10 22:48] leontp587 commented on #244
@swaminator , can you please explain how to use headless scripts to send parameters to CloudFormation templates via amplify console? The link you provided doesn't explain this.

[2020-05-11 13:16] kimfucious commented on #206
Hi @kevin-mitchell,

I agree it shouldn't be complicated, but we're dealing with a bug-workaround, so it is what it is, until that bug is fixed.

The workaround suggested by @Joycehao19 [here](https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-552548466) **does work**, but not consistently, as far as I can tell.  It appears that any changes to `auth` will cause the error to occ

[2020-05-11 13:22] simpson commented on #660
This problem is back, AWS support won't help..

[2020-05-11 13:39] Joycehao19 commented on #655
"It says the domain already points to an address." It seems like you connected  your domain with other application. Did you remove it?

[2020-05-11 14:29] smakinson opened #661 "Overriding yarn properly?"
** Please describe which feature you have a question about? **
I am trying to use a newer version of yarn for the frontend build and I'm not sure if I'm doing it wrong or if this is a bug. I have tried overriding it in the "Edit build image settings"/"Live update packages" area, but it still uses v1.16.0:

![Screen Shot 2020-05-11 at 10 23 30 AM](https://user-images.githubusercontent.com/16784/815

[2020-05-11 14:30] mikedizon commented on #316
I'm seeing this now as well. Recreating my app is not an option. @kahdojay

[2020-05-11 14:59] simpson commented on #660
@swaminator @ericclemmons @jpeddicord @cslogan-red @litwicki

Any help? Deploys have been broken for over 4 days for us.

[2020-05-11 15:05] simpson commented on #660
@dabit3 @ ericclemmons @harrysolovay @jamesonwilliams @jpignata @kneekey23 @manueliglesias @mauerbac @palpatim @rohitchandalurivt @royjit @wooj2

[2020-05-11 15:21] simpson commented on #660
@gsans

[2020-05-11 15:38] litwicki commented on #660
@simpson Are you experiencing this in the same appId as your previous post #541? How many branches are in your repo? Do you know off hand how many files per branch on average?

[2020-05-11 15:41] simpson commented on #660
@litwicki Same two branches as before, we are pretty simple with staging and production branches that build off the develop and master branch in Github. I think they have about 5k files, but a significant portion don't update each deploy

[2020-05-11 15:44] gsans commented on #660
Thanks for reaching out. Sorry to hear about this @simpson. By the looks of it someone needs to take a look at your setup to properly diagnose these intermittent deployment failures once for all. Sorry if it takes a bit longer to find a fix.

[2020-05-11 15:48] litwicki commented on #660
@simpson we're going to have @donkahn work with you on this shortly. To recap you have `production` and `staging` branches for hosted environments, and then `develop` and `master` branches your team works off? Am I correct you would have 4+ branches, where at most there are ~5k files?

[2020-05-11 15:57] simpson commented on #660
@litwicki  Sorry I wrote that confusing before. We have two branches, master = production, develop = staging. They are usually very close in nature, we almost always merge develop to master after every single successful build

[2020-05-11 15:57] lee-merrill commented on #656
Thanks for your reply. Yes, I ran "amplify publish" locally, and I had
the 4.18.1 version, I upgraded and I now have version 4.19.0, but I
still see the problem.

Lee

On 5/7/20 6:11 PM, Joyce Hao wrote:

[2020-05-11 16:23] simpson commented on #660
@donkahn to the rescue! Thanks @litwicki !

[2020-05-11 16:27] litwicki commented on #660
@simpson are you up and running now then?

[2020-05-11 16:31] simpson commented on #660
nope, deploys still failing. Hoping that @donkahn can help us track down the problem. It must be something on our end if all Amplify customers aren't impacted

[2020-05-11 17:41] kahdojay commented on #660
@simpson It looks like you're running into one of the issues from #115 due to having several open pull requests creating multiple branches. Whlie we work on fixing the underlying issue, a workaround would be to close the PR's and potentially move your development branches into a separate Amplify app (i.e. Connect your non-prod branches to another Amplify app and use the same app to test your PRs)

[2020-05-11 17:45] swaminator commented on #653
It looks like you're running into one of the issues from #115 due to. While we work on fixing the underlying issue, a workaround would be to close the PR's and potentially move your development branches into a separate Amplify app. Closing to track in one place.

[2020-05-11 17:45] #653 closed

[2020-05-11 17:54] simpson commented on #660
@kahdojay it seems strange that external branches will break master. I can't delete the PRs but i'm happy to delete the previews, is there a way to remove the preview branch builds? I can't find anything in the UI.

I'll also look at setting up a new app to see if that helps

[2020-05-11 18:58] simpson commented on #115
We've been experiencing this over the past few weeks

[2020-05-11 19:03] simpson commented on #115
Before I go and delete all of our PRs, can someone confirm if that actually fixes anything?

[2020-05-11 21:22] simpson commented on #660
@kahdojay it is failing in the new app but I think I just don't have everything setup yet. Is there an ETA on the failing deploys before I start deleting important PRs?

[2020-05-11 21:29] kahdojay commented on #660
@simpson the only way to do it currently is to close the PR in github which will automatically delete the Amplify branch.

You may need to work on a smaller number of PRs at a time if possible to circumvent the issue.

Re ETA, I don't have one to share at this moment but we are actively working on it and #115 is the issue to watch for updates.

Let me know if you're still not able to get things wo

[2020-05-11 21:33] simpson commented on #660
@kahdojay I just removed all of our PRs, I sure hope this works. I can't even redeploy master because it is hung up on something
![Screenshot 2020-05-11 17 32 33](https://user-images.githubusercontent.com/1605737/81614118-8f3d3580-93ad-11ea-83d2-5a8baf9d38a6.png)

[2020-05-11 22:02] kahdojay commented on #660
@simpson I see the recent failure ~15m ago was for the same issue - I still see four pr branches in place against one of your non prod branches. Can you check?

[2020-05-11 22:36] swaminator commented on #659
@jchris have you seen this: https://docs.amplify.aws/lib/auth/advanced/q/platform/js#federate-with-auth0.

While we do not have docs for Okta, the process would be similar. Check this out for reference: https://aws.amazon.com/premiumsupport/knowledge-center/cognito-okta-saml-identity-provider/

[2020-05-11 22:45] simpson commented on #660
@kahdojay staging deployed but master won't... It has failed twice since removing all PRs

[2020-05-12 07:52] danielfranca commented on #595
@swaminator It is almost a month in `pending triage` state, do you have any updates on it?

[2020-05-12 20:45] edonadei commented on #112
Any news on this issue ? Having the same problem, recently moved a repository to one of my organizations, and cannot use it with Amplify.

[2020-05-12 20:53] mcg5de commented on #112
@edonadei My issue was this here: https://github.com/aws-amplify/amplify-console/issues/270#issuecomment-558411896. Once I authorized the team it showed up.

[2020-05-13 01:13] grigull commented on #59
@CaptainChemist were you able to find the solution to get it to work with metatags and SEO?

[2020-05-13 01:39] CaptainChemist commented on #59
@grigull I think there is some issue the redirects when hosted on amplify. With that said, I was able to get around it by having all of my login and redirects under a /user/* namespace instead of the root /. I use the /<*> source address, /index.html target address and 404 (redirect).

[2020-05-13 06:44] tomyitav commented on #59
Hi, how can I change Rewrites and Redirects in amplify console?

[2020-05-13 09:29] lambda0xff opened #662 "[Post deploy issue] API and Storage not working"
I have a nuxt js project with amplify.
Amplify set up with Auth, API and Storage
Working fine on local machine.

After successfull deploy, the site is up and running.
Auth is working.

API is not working: the dataStore is not making any graphql calls to sync
Storage is not working: trying to upload an image fails with message: `S3 upload error TypeError: Cannot read property 'put' of null`

[2020-05-13 13:13] Munsterberg opened #663 "Map preview branches to custom domain"
We want to automate preview branches but our backend systems require the same domain for sessions and cookies to work properly. Instead of building preview branches to `https://pr-299.d3ka6awcf02t21.amplifyapp.com` we want them to map to our custom domain:

`https://pr-299.d3ka6awcf02t21.customdomain.com`

Is this possible currently, and if not is it something we can request?

[2020-05-13 13:43] ben-elsen commented on #658
Hello @Joycehao19,
Is there already any update on this?
Best regards,
Ben

[2020-05-13 13:57] H6 commented on #408
Hi. And old ones will never be visible here?

I have an old amplify project. And I just migrated to the current CLI and was also wondering, that the backend tab was empty.

[2020-05-13 14:50] arddluma commented on #115
+1

[2020-05-13 15:07] 07Gond opened #664 "Page can’t be found in all my *.amplifyapp.com pages."
Hi!

I have been working with Amplify console for a while and have a project with branches connected and PR previews.

Suddenly today all my branches and PR Previews URL fail with a "HTTP ERROR 404" The weird part is all the Build and Deploy works fine and doesn't show any error. But the Verify part shows me nothing.

![image](https://user-images.githubusercontent.com/2708687/81829682-c839ef00-950

[2020-05-13 15:39] jchris commented on #659
Is there a possible workaround? The best we came up with is running our own SSO proxy that applies the basic auth credentials (which we'd otherwise keep secret) for users that have signed in.

[2020-05-13 16:03] Joycehao19 commented on #658
Hi @ben-elsen  could you please try this: https://github.com/aws-amplify/amplify-console/issues/583#issuecomment-614385089 ?

[2020-05-13 16:29] ben-elsen commented on #658
Hi @Joycehao19 I tried this en this didn't resolved the problem. The test phase kept freezing..

[2020-05-13 16:32] MaralKay commented on #238
We would like to mount the host machine's `/var/run/docker.sock` to the build container (from our custom build image), because we need the Docker daemon running in it. Is this somehow configurable in the Amplify console?

[2020-05-13 16:38] MaralKay opened #665 "Mount host machine's docker.sock to build container"
** Please describe which feature you have a question about? **
Custom Build Image

** Provide additional details**
We would like to mount the host machine's `/var/run/docker.sock` to the build container (from our custom build image), because we need the Docker daemon running in it. Is this somehow configurable in the Amplify console? Or we have absolutely no control over the container run's parame

[2020-05-13 17:23] adamJLev commented on #24
Please for the love of god add this. AWS amplify needs a lot of work to be a viable alternative to netlify or zeit or any of the others.

[2020-05-13 17:36] magjack commented on #206
@kimfucious I agree with all your observations in that these work arounds can get a successful build and but fail soon after any changes in auth.

I have now opted for a different workaround in that I removed the backend build command `- amplifyPush --simple`  from amplify.yml so it now just acts as a front-end CI/CD pipeline and I will deploy the backends manually with the cli. This also involved

[2020-05-13 17:47] alexkates commented on #331
+1

[2020-05-13 20:07] swaminator commented on #664
@07Gond did you change anything in your app code?

[2020-05-13 20:10] 07Gond commented on #664
Hi @swaminator
Thanks for the answer.
About your question:
On my PR branches, yes.
But none of my branches are currently working.
Neither our master branch.

[2020-05-13 20:48] pechisworks commented on #206
I am also getting these errors now on an **existing** environment.
On the commits yesterday it was working fine. I've tried to redeploy yesterdays working build from build history, but this also fails.

`Parameters: [hostedUIProviderCreds] must have values`

`Error: auth headless init is missing the following inputParams facebookAppIdUserPool, facebookAppSecretUserPool, googleAppIdUserPool, google

[2020-05-13 20:52] 07Gond commented on #664
This is weird.
Some teammates just told me in some countries they can access to the our pages.
But in others is not posible.
I just tried changing my country trough VPN and it's true.

[2020-05-13 22:02] gaochenyue opened #666 "Reconnect repository - bitbucket"
** Please describe which feature you have a question about? **

When click on Reconnect repository, it only allows me to connect Github, but my code is in bitbucket. can I have options to choose which I want to reconnect?

** Provide additional details**

[2020-05-14 00:07] travelerr opened #667 "AWS Amplify Build Settings for React Application"
** Please describe which feature you have a question about? **
Using Amplify I'm having difficulty deploying a React application which I believe is due to the build settings.

** Provide additional details**
When trying to deploy the default build settings provided are shown below:
![Screen Shot 2020-05-13 at 7 59 55 PM](https://user-images.githubusercontent.com/30609733/81877918-78851300-9554-11e

[2020-05-14 04:34] diegorey commented on #664
Same happening here. 404 on all Amplify projects... Both custom domains and amplifyapp domains... This is really bad.

[2020-05-14 05:26] nimacks commented on #664
@diegorey can you share your app Id and the region it's located in?

[2020-05-14 05:28] diegorey commented on #664
Thanks @nimacks
d1eidccxtm3b0v
us east 2

[2020-05-14 05:35] nimacks commented on #664
@diegorey, this app is loading on my end without issue. Are you still having this issue? Can you provide a screenshot?

[2020-05-14 05:52] diegorey commented on #664
Blank page, this appears on console...
<img width="650" alt="Screen Shot 2020-05-14 at 00 51 23" src="https://user-images.githubusercontent.com/4524865/81897870-1d1b4b00-957d-11ea-891b-bd04ad500bf4.png">

[2020-05-14 05:53] diegorey commented on #664
Did you guys did any DNS or domain related changes?

[2020-05-14 06:00] nimacks commented on #664
![image](https://user-images.githubusercontent.com/4107271/81898358-5cda3680-956d-11ea-819b-72df51f24b88.png)

Are you connected to a VPN? Custom domain also loads fine for me.

[2020-05-14 06:20] diegorey commented on #664
No VPN. My internet has been failing, but that doesn't seem to be the reason. I'll check again first thing tomorrow. Thanks a lot for the help.

[2020-05-14 06:32] weisisheng opened #668 "Can a CLI upgrade break appsync?"
** Please describe which feature you have a question about? **

Amplify/Appsync

** Provide additional details**

Yesterday I had a properly working API setup (Amplify / Appsync).  I upgraded the system aws-amplify cli from 4.13.0 to 4.19.0 on Unbuntu 19.04.  Today making changes to the graphql schema, I get the error "cannot update more than one GSI at a time".  This is regardless if I am adding

[2020-05-14 11:11] dannyshisler opened #669 "SSL verification is Running - [For almost 24 hours now]"
**App Id**: d3b46x4w8d7qrd
**Region**: eu-west-2
**Step**: SSL verification
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-05-14 13:03] 07Gond commented on #664
Hi!
This is still happening to me.
It seems to be a regional issue or something like that.
In some countries my app is inaccessible.
I can’t see any of my amplify URLs.
Could you help me please?

[2020-05-14 13:20] diegorey commented on #664
Same here still. It seems like when you visit in one Internet Provider (Movistar) it doesn't work. On the other one (Claro) the pages work. All my pages have this problem like 10-12 hours no.

@07Gond Gerson, he visto que somos los dos de Lima. En Movistar no me funciona ninguno de mis dominios. En Claro funciona bien. A ver si encontramos una solución. Saludos

[2020-05-14 13:21] diegorey commented on #664
FYI the same domain that doesn't work on amplify works outside of amplify just fine. It's something to do with Amplify DNS and Movistar I presume.

[2020-05-14 13:29] diegorey commented on #664
<img width="1199" alt="Screen Shot 2020-05-14 at 08 29 00" src="https://user-images.githubusercontent.com/4524865/81940271-098fd480-95bd-11ea-8bbd-79bbfbba600e.png">

[2020-05-14 13:51] cardapfysj commented on #664
I am facing the same problem.

All of my apps deployed in Amplify are out.

Does anyone know if there is any inconsistency?

[2020-05-14 13:54] diegorey commented on #664
Maybe has to do with some propagation issue?
https://www.whatsmydns.net/#NS/amplifyapp.com

[2020-05-14 14:00] cardapfysj commented on #664
No, everything seems to be ok with the propagation
URL: https://prototipo.d3lyaldmsq62k1.amplifyapp.com/

[2020-05-14 14:01] diegorey commented on #664
FYI I can't see the link you sent.

[2020-05-14 14:01] 07Gond commented on #664
Yep, me neither.

[2020-05-14 14:41] brustrokes commented on #664
Same problem here, all my amplify web apps works in US and Europe but not in Brazil.
It's the first time in 6 months thats something like that happened.
I already change all my productions to EC2 because of that.

[2020-05-14 15:08] blerand123 opened #671 "Test phase hangs on even if the cypress tests successfully pass"
When I try to deploy my application to amplify it passes the build phase but then it hangs on in the test phase even though I get the message:  `# Completed phase: test, ## Tests completed successfully`. First i tried with the cypress version 4.4.1, and after this I tried with 3.8.1 but still hangs on.
amplify.yml file it is like this:
![amplify44](https://user-images.githubusercontent.com/1635602

[2020-05-14 15:08] diegorey commented on #664
@swaminator What can all this be about?

[2020-05-14 15:29] swaminator commented on #664
@diegorey @brustrokes @07Gond @cardapfysj we are actively working on a fix. Can you all please share your appids?

[2020-05-14 15:32] diegorey commented on #664
All mi apps are down. This is the main one for me now:
"AmplifyAppId": "d1eidccxtm3b0v"

[2020-05-14 15:33] kahdojay commented on #660
Hi @simpson can you provide a recent example of the branch and build number that failed for d12hn9rteao8a1?

[2020-05-14 15:34] 07Gond commented on #664
@swaminator Thanks for that.
Mine: "dcafkenry5r1s"

[2020-05-14 15:45] brustrokes commented on #664
Thanks @swaminator
d1oqvea6agt043
d1pqai6zizkyws

[2020-05-14 15:53] diegorey commented on #664
Don't know if related but yesterday I updated @aws-amplify/cli to 4.19.0 and push commits.

[2020-05-14 15:53] cardapfysj commented on #664
Thanks @swaminator

I changed US East(Ohio) to US East(N. Virginia), deployed a new app (same branch) so I was able to get my running. But I wouldn't like to settup all my apps again.

I've tried to create a new app and using the region US East(Ohio) and I am getting the same error (for new apps)

apps:
appId: d3krtq2ap4no57
appId: d30ylowmgspppn
appId: d2rq0zlx8ozyr1
appId: d2otc9dftt6wnk
appId:

[2020-05-14 16:02] diegorey commented on #664
All pages work fine for me if using Internet Provider Claro (I'm in Peru). The problem only occurs with Internet Provider Movistar for me...

[2020-05-14 16:04] swaminator commented on #664
@diegorey @brustrokes @07Gond @cardapfysj  all your apps are accessible from outside of the Sau Paulo region currently (e.g. I'm sitting in Seattle can access your apps). We have an issue we are urgently working to fix. Will update as we make changes.

[2020-05-14 16:04] brustrokes commented on #664
Thanks @swaminator , All my apps are now accessible

[2020-05-14 16:07] cardapfysj commented on #664
ok @swaminator, thanks. I am located in Sao Paulo, so probably I will have to wait for the fix.

Thanks.

[2020-05-14 16:53] swaminator commented on #671
@blerand123  can you try this https://github.com/aws-amplify/amplify-console/issues/583#issuecomment-614385089

[2020-05-14 16:57] juandans01 commented on #664
Hi! just to let you know, same problem here, from Argentina

[2020-05-14 16:58] swaminator commented on #656
@lee-merrill you are probably in a different region on your local AWS profile (vs the app that's in the cloud). Which region is your amplify console app in?

[2020-05-14 17:01] kahdojay commented on #662
@lambda0xff can you provide your AppId and region?

[2020-05-14 17:02] swaminator commented on #664
@juandans01 we don't have visibility into how your internet provide maps DNS requests. We have a fix and are testing it in beta right now.

[2020-05-14 17:09] juandans01 commented on #664
Awesome for the fix, is there any way i can check that I'm having the same issue ?
Thanks

[2020-05-14 17:10] kahdojay commented on #666
@gaochenyue Reconnect will use the provider that was used to create the app, you can create a new app using the Bitbucket repository

[2020-05-14 17:20] kahdojay commented on #667
@travelerr correct, you will need to provide the build commands that builds your app. Can you try:

[code]

[2020-05-14 17:27] lambda0xff commented on #662
@kahdojay
region: us-east-1
app ARN: arn:aws:amplify:us-east-1:544250939827:apps/d8el6qegalxiu

[2020-05-14 17:29] swaminator commented on #662
@lambda0xff in your amplify console app, how many frontend and backend envs do you have?

[2020-05-14 17:31] swaminator commented on #659
@jchris I'm a little confused about your point on the deploy buckets. Amplify Hosting is fully managed so the S3 bucket in which we store your assets is not public to the world.

[2020-05-14 17:31] lambda0xff commented on #662
@kahdojay : 1

[2020-05-14 17:32] swaminator commented on #663
@Munsterberg currently it isn't available. We are working on a capability to support automatic subdomains for PRs (so you can get `https://pr-299.customdomain.com` automatically)

[2020-05-14 17:33] swaminator commented on #657
@steinybot just to be clear on your requirement - you want the ability to post to a PR on the status of a build with a link to the frontend URL

[2020-05-14 17:51] swaminator commented on #664
If you're having the same problem as reported here you have the same issue @juandans01

[2020-05-14 17:53] #667 closed

[2020-05-14 17:55] juandans01 commented on #664
Silly question haha, sorry.

[2020-05-14 17:56] jchris commented on #659
There is an option to password protect my app UI. Instead enforcing basic auth credentials in the CloudFront lambda, I need to customize that callback, so that it uses Okta. That way users who are not authenticated via my SSO can be denied access to index.html etc

[2020-05-14 18:02] swaminator commented on #659
@jchris I understand that for which the path you're taking of attaching roles to cognito users seems valid. Seems like what you want is if anyone outside your SSO requests the index.html it should return `AccessDenied` instead of your SSO login UI? Is that correct?

[2020-05-14 18:06] rafaelcamaram commented on #664
Still having this issue here :/

[2020-05-14 18:06] danielnewman82 opened #672 "Domain activation is Failed - CNAMEAlreadyExists"
**App Id**: d2o0rxo6ojduah
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
It says "Error message: One or more of the CNAMEs you provided are already associated with a different resource." I deleted the CNAME records from my hosted zone in Route 53, and they should never have been associated with any other resources in the first place. How do I fix that?

*

[2020-05-14 18:08] jchris commented on #659
I haven't fully specified the behavior I need in lieu of basic-auth check. I think it would probably redirect to the SSO UI, and then come back once the JWT has been established, or whatever the specifics turn out to be. I'm mostly focussed on finding the extension point in the stack.

I went looking for a CloudFront lambda that perhaps Amplify would have deployed into my AWS account along with my

[2020-05-14 18:23] swaminator commented on #661
@smakinson can you update your buildspec to:
[code]
Suspect there's something going on after the quasar CLI install.

[2020-05-14 18:41] smakinson commented on #661
@swaminator I'll give it a try and see what happens.

Setting yarn in the Live package updates area is definitely a no go?

[2020-05-14 18:46] lee-merrill commented on #656
I'm using us-east-1.

Lee

On 5/14/20 12:58 PM, Nikhil Swaminathan wrote:

[2020-05-14 18:51] G07cha opened #673 "Environment variable override name is not updated after origin env's name is changed"
**Reproduction steps:**

1. Open app's environment variables
2. Create variable and make override for it
3. Change variable's name

Expected result: Variable's override should update it's name to be the same as origin
Actual result: Override keeps previous value and since user is unable to change it from UI the only option is to copy the value and recreate all dependent overrides.

[2020-05-14 18:52] swaminator commented on #639
@shrirupa you currently cannot. A lot of customers have *asked* for PRs to be supported in draft PR mode so not sure we are going to prioritize this. As a workaround, submit draft PRs to another branch and when you're ready, update the PR to point to a different branch.

[2020-05-14 18:52] #639 closed

[2020-05-14 18:57] cardapfysj commented on #664
Now it is working. Thanks @swaminator.

[2020-05-14 18:59] kldeb opened #674 "Deployment fails to update appsync schema"
Intermittent issue. I occasionally have to redeploy a build because the schema changes in connected branch are not visible in the AppSync app schema tab.

[2020-05-14 19:00] 07Gond commented on #664
Me too

[2020-05-14 19:02] kahdojay commented on #664
@07Gond we're still rolling out the fix to all regions, please standby

[2020-05-14 19:11] smakinson commented on #661
@swaminator I tried and I still see the issue

[code]

[code]

[2020-05-14 19:16] dudestein opened #675 "Domain activation is Failed - CNAME was in use before"
**App Id**: dn7cz6uoj1m3z
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain validation is failed because during the first attempt the CNAME was attached to a Cloudfront Distribution already.

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
The CNAME wa

[2020-05-14 19:19] diegorey commented on #664
It appears to be fixed for me. Thanks @swaminator @kahdojay !!

[2020-05-14 19:30] kahdojay commented on #664
@07Gond can you please try again

[2020-05-14 19:44] 07Gond commented on #664
Yep. It's working now!
Thanks!

[2020-05-14 19:48] swaminator commented on #674
@kldeb can you provide more details? What is your appid? What changes did you make that didn't reflect?

[2020-05-14 19:49] kahdojay commented on #664
Great! Resolving this one for now, if any other apps are still experiencing this issue please reopen.

[2020-05-14 19:49] #664 closed

[2020-05-14 19:49] swaminator commented on #656
can you see what region your local profile is in? It might be a different region. When you type `amplify console` from the CLI does it open your app?

[2020-05-14 20:06] kldeb commented on #674
@swaminator it was a schema change - adding new queries with outside amplify project function resolver.

Is there a delay in refreshing the AppSync schema editor page? It's there now...

By appid you mean the arn? if so: arn:aws:amplify:us-east-1:761018932039:apps/d191sgobvml2os

[2020-05-14 20:56] swaminator commented on #674
@kldeb there shouldn't be. Could you explain what you mean by 'outside amplify project function'? The steps you are taking would be helpful for us to reproduce.

[2020-05-14 20:56] #186 closed

[2020-05-14 21:00] swaminator commented on #396
@HMilbradt I don't fully understand the usecase. Do you mean:
1. Connect `www.example.com` to an Amplify app
2. Redirect `www.example.com` to `example2.com`

[2020-05-14 21:00] swaminator commented on #251
@HMilbradt sorry to see you go. I added a clarifying question on #396.

[2020-05-14 21:00] #251 closed

[2020-05-14 21:01] #327 closed

[2020-05-14 21:02] kldeb commented on #674
@swaminator create a lambda custom resolver outside the amplify project. reference that lambda inside the schema using the `@function` directive then deploy via amplify console / git push.

[2020-05-14 21:04] #528 closed

[2020-05-14 21:23] travelerr commented on #667
Thank you for providing those, and I updated `package.json` to the following
[code]
After doing this the application deployment is successful, however when I open the application in the browser, nothing is rendered. Looking at the dev console there is no information either which is making this hard to debug. Any ideas on why this is, I was thinking it may have to do with the rewrites and redirects

[2020-05-14 21:47] CoreyPritchard opened #676 "amplifyPush --simple not working with dotnet"
**Describe the bug**
I am working on setting up the console using the new [dotnet Amplify support](https://aws.amazon.com/blogs/developer/introducing-net-core-support-for-aws-amplify-backend-functions/). I have a react front-end with a dotnet serverless back-end. I setup my app with the default build settings that are generated as part of the documentation (i.e. `amplify.yml`):
[code]

However, wh

[2020-05-14 22:06] swaminator commented on #647
@hirochachacha are you saying that you already deleted these envs from the CLI but they are still showing up in the console?

[2020-05-14 22:15] swaminator commented on #676
@CoreyPritchard  .net is not installed in the build container. Could you try adding `sudo yum install dotnet-sdk-x.x` to your amplify.yml

[2020-05-14 22:16] swaminator commented on #674
Got it. So you're saying that it just takes time for the change to show up in the AppSync editor? Or it sometimes doesn't show up?

[2020-05-14 22:28] swaminator commented on #662
@lambda0xff just to be clear, you are hosting your frontend on Amplify Console with CI/CD? What are your backend envs named?

[2020-05-14 22:30] swaminator commented on #659
Just to be clear Amplify Console offers fully managed hosting so we don't expose any of the CloudFront/S3/Lambda@Edge distros to you as an end user.

[2020-05-14 22:41] itdoh commented on #115
We've been experiencing this over the past few weeks too.
[#651](https://github.com/aws-amplify/amplify-console/issues/651)

[2020-05-14 22:44] swaminator commented on #651
Closing this to track in #115.

[2020-05-14 22:44] #651 closed

[2020-05-14 22:50] itdoh commented on #651
Hi @swaminator ,

The issue persists. Now we are trying in a new APP with the same code that other APP that is Deploying well:

These are the APP with problems to deploy:
**ARN:** arn:aws:amplify:eu-central-1:000098351948:apps/d2k00by58w5diy
**region:** eu-central-1

These are the APP Deploying well:
**ARN:** arn:aws:amplify:eu-central-1:000098351948:apps/d2fbd8k0un5fqf
**region:** eu-central-1

T

[2020-05-14 23:06] jchris commented on #659
One option is for us to put all the sensitive resources in a restricted
bucket and have only a minimal login bootloader in the deploy bucket. It
forces a constraint on our apps which runs counter to our goal to be able
to host generic react apps.

Maybe something like what you suggest, where we can restrict access to the
deploy bucket via a cognito role, can be combined with a public login app,
wh

[2020-05-15 00:07] jcalvoch opened #677 "Manual deployment not working with S3"
On the past few months we have been using manual deployment using a S3 bucket since drag and drop is almost always broken. Now not even S3 bucket is working anymore. When I select any of my S3 buckets and then click to expand on the "Zip file" field I am not seeing any file anymore, the list doesn't populate any file whatsoever.

App: https://prod.d2keoun3hapo8.amplifyapp.com/

[2020-05-15 01:52] gaochenyue commented on #666
@kahdojay thanks. What if I use manual deployment first and later I want to use bitbucket?

[2020-05-15 02:25] CoreyPritchard commented on #676
@swaminator Thanks for looking into this for me! I added `sudo yum install dotnet-sdk-3.1`, which complained about `sudo`, saying `line 5: sudo: command not found`. So, I tried it without, and got the error `No package dotnet-sdk-3.1 available.`.

For reference, here's my updated amplify.yml:
[code]

[2020-05-15 02:32] hirochachacha commented on #647
@swaminator I'm not sure about that. I don't always use CLI for deleting resources. I often use CloudFormation console to delete them. In any case, I have no way to delete them now.

[2020-05-15 06:11] lambda0xff commented on #662
env name is `amplify`
![Screen Shot 2020-05-15 at 08 10 00](https://user-images.githubusercontent.com/38687176/82017498-943b0700-9683-11ea-9008-fe5f47f842f4.png)
![Screen Shot 2020-05-15 at 08 10 19](https://user-images.githubusercontent.com/38687176/82017505-969d6100-9683-11ea-99f5-5b500db953e8.png)

[2020-05-15 11:52] blerand123 commented on #671
After i updated my amplify.yml now it passess the test phase but it does not run the tests:
![image](https://user-images.githubusercontent.com/16356021/82047415-1393ff00-96b3-11ea-9db7-6664389a6e91.png)
My amplify.yml:
![image](https://user-images.githubusercontent.com/16356021/82047501-358d8180-96b3-11ea-8238-5aeba3ef8c09.png)

[2020-05-15 14:47] jcalvoch commented on #677
Additional info. Getting the following on my browser's console when I try to select any of the available buckets:

main.js:81 POST https://us-west-2.console.aws.amazon.com/amplify/api/s3 400 (Bad Request)
handleRequest @ main.js:81
a @ main.js:81
(anonymous) @ main.js:81
callListeners @ main.js:55
emit @ main.js:55
emitEvent @ main.js:81
e @ main.js:81
n.runTo @ main.js:81
(anonymous) @ main.js:81

[2020-05-15 16:19] kahdojay commented on #677
@jcalvoch Thanks for reporting - we are investigating. When was the last time S3 deploy worked for you?

[2020-05-15 16:27] jcalvoch commented on #677
@kahdojay Thank you, on April 30th we were able to deploy using S3 without problems. After that we didn't try to deploy anything until yesterday where it failed.

[2020-05-15 21:32] kahdojay commented on #677
@jcalvoch can you give it another try?

[2020-05-15 22:03] hisham commented on #446
Any update on this? It's still occurring.

[2020-05-16 11:34] danielfranca commented on #595
1 month anniversary 🎂

[2020-05-16 12:04] grownanny opened #678 "SSL verification is Failed - Transfered domain from GoDaddy. Manually added 4 provided ns records and deleted the 2 existing ns records. SSL configuration passed but SSL verification failed. Using Amplify with react."
**App Id**: d3tsifa5c8drqy
**Region**: us-east-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-05-16 15:31] neildcruz opened #679 "Domain activation is Failed - Unable to set up a custom domain"
**App Id**: d21d0l8v98v7tf
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I'm unable to setup a custom domain using amplify. I was using the same domain on a different amplify project earlier but have deleted the domain from there

[2020-05-17 12:38] joshqq opened #680 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d404zjnb7u8e3
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-05-17 16:40] roopeshrnair opened #681 "Domain activation is Failed - Had it hosted manually in cloudfont before"
**App Id**: d19mtrfujrib0j
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I had my godaddy domain point to route53 and then to cloudfront. Was trying to change it to amplify and got the error

**Error message**
Error message: One or more of the CNAMEs you provided are already associated with a different resource.
**Note**: Be sure to check the message for

[2020-05-17 19:20] simpson commented on #156
@bsithub did you ever figure this out?

[2020-05-17 19:20] simpson commented on #156
@ChadVerity did you ever figure this out? I'm getting the ERR_SSL_VERSION_OR_CIPHER_MISMATCH

[2020-05-17 19:32] simpson commented on #56
Is this still being considered?

[2020-05-17 21:39] simpson opened #682 "ERR_SSL_VERSION_OR_CIPHER_MISMATCH with Third-Party Subdomain"
**App ARN**: arn:aws:amplify:ap-southeast-1:252100588959:apps/d2xks58rvcvn6p
**Region**: Southeast 1
**Step**: DNS is configured through Cloudflare
**Status**: Unable to reach Amplify

** Please describe which feature you have a question about? **
We're building an app with Amplify, we've connected the domain and the DNS appears to be all correct, but we are getting ERR_SSL_VERSION_OR_CIPHER_MISMA

[2020-05-17 22:46] gvelez-postmates commented on #436
Ah!  the  404 (rewrite) worked for me!  I had been getting the same error, and had been following some other suggestions for a 200 rewrite rule (that make sense to me), but the 400 rule

![image](https://user-images.githubusercontent.com/41213676/82161924-93f26580-9855-11ea-8b4f-696dca4483d2.png)

worked!  no more 403..

![image](https://user-images.githubusercontent.com/41213676/82161846-0878d480

[2020-05-17 22:47] gvelez-postmates commented on #436
actually this worked, but broke images - I will replace with a regexp to exclude img files

[2020-05-18 11:19] appasahebs commented on #595
Any updates on this? I am facing same issue.

[2020-05-18 12:07] jcalvoch commented on #677
Hey @kahdojay. Yes, this is working now. Thank you very much.

[2020-05-18 12:07] #677 closed

[2020-05-18 14:07] ejbogantes opened #683 "SSL verification is Failed - Please re-run"
**App Id**: d2khnx1r1d7mbx
**Region**: us-east-2
**Step**: SSL verification
**Status**: Failed

**Issue/question**
SSL verification is Failed.

**Error message**
Retry function didn't work, please can you re-run the SSL verification.

**Additional information**
No.

[2020-05-18 14:13] lee-merrill commented on #656
My $HOME/.aws/config file has "region=us-east-1", and typing "amplify
console" brings up the Amplify console web page.

Lee

On 5/14/20 3:50 PM, Nikhil Swaminathan wrote:

[2020-05-18 14:58] CoreyPritchard commented on #676
I'm still having issues. Can anyone help?

[2020-05-18 15:33] lebenasa opened #684 "Existing resource blocks backend deployment"
** Please describe which feature you have a question about? **
I need a correct `aws-exports.js` when building my frontend in Amplify Console, so I setup my amplify.yml like this:
[code]

However it keeps failed due to resource already exists (did a `amplify push` from CLI).

[code]

Why does this make my deployment fail? I can delete them from CloudFormation or start a new environment, but this b

[2020-05-18 16:38] kahdojay commented on #677
Thanks for confirming @jcalvoch - you also mentioned in your original post about drag and drop manual deploy issues as well. If you have the time to describe it and provide steps to reproduce in a new issue we can investigate that as well.

[2020-05-18 17:37] Athena96 commented on #684
Do you know what the state of your CloudFormation stack was before you tried this deploy? If it wasn't in 'stackUpdateComplete' or 'stackCreateComplete' then this could be why your re-deploy is failing.

[2020-05-18 18:50] mikedizon commented on #24
I don't even have the option to enable creating a new backend for new branches. Is there a configuration that I'm missing to enable that option?

[2020-05-18 19:03] CoreyPritchard opened #685 "dotnet lambda command not found when using amplifyPush --simple"
**Please describe which feature you have a question about?**
I'm implementing the backend build for a [dotnet 3.1 application](https://aws.amazon.com/blogs/developer/introducing-net-core-support-for-aws-amplify-backend-functions/). I had a rocky start (#676), but finally got dotnet 3.1 properly installed. I'm now running into a new issue that prevents the `amplifyPush --simple` command from proper

[2020-05-18 19:04] CoreyPritchard commented on #676
I finally was able to get dotnet installed with the following amplify.yml file. I'm now running into a new issue (#685) that requires a restart.

[code]

[2020-05-18 19:04] #676 closed

[2020-05-18 22:23] orizens commented on #612
hi.
For future reference and for anyone's who encounters the same problem - this is the solution we've come up with:
1. we use https://github.com/slackhq/csp-html-webpack-plugin in create-react-app in order to generate a meta tag with the relevant csp policies we need for our product.
2. we created a postbuild script (in package.json) that extracts this csp meta tag value and creates a new amplify

[2020-05-18 22:24] #612 closed

[2020-05-18 22:38] Joelith opened #686 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2xkxlj8xleh58
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Deleted my domain information on an Amplify app and then re-created with the same domain name. I left the DNS details the same, which caused an error. After deleting my DNS records (and waiting) Amplify is stuck trying to activate the domain

**Error message**
Something went wro

[2020-05-18 22:41] dannyshisler commented on #669
This was never resolved, it failed and timed out after several days. I deleted the domain and re-created it and it worked.

[2020-05-18 22:41] #669 closed

[2020-05-18 23:07] #686 closed

[2020-05-18 23:09] jimvermillion commented on #24
I was wondering if you were successful with the Github Action approach. If so, how did you actually disconnect the AWS Amplify branch? I can't find a webhook/way to disconnect one.

[2020-05-19 00:15] CharlieMcD2 opened #687 "[Feedback]Image shows a React App and not an Angular App"
**Page**: [`/start/getting-started/data-model/q/integration/angular`](https://docs.amplify.aws/start/getting-started/data-model/q/integration/angular#connect-frontend-to-api)

**Feedback**:

Also after running amplify publish the site shows up with an error that is not seen locally:

![image](https://user-images.githubusercontent.com/45334569/82270917-56b8d100-9944-11ea-8738-5346f2eb8350.png)

[2020-05-19 02:51] lebenasa commented on #684
The CloudFormation stack for backend, cognito and analytics was in 'CreateComplete' status after `amplify push` with CLI.

I removed all the environment and tried again, this time I only did `amplify add analytics` from CLI to generate code and did not push with CLI at all. Same amplify.yml.
It failed again but with fresh error:
[code]

[2020-05-19 03:02] lebenasa commented on #684
Overriding the amplify-cli version in build image seems to fix the issue for me.
[code]

[2020-05-19 06:59] nikovirtala commented on #573
Preview link posted as a separate comment to the pull request would solve the visibility issue?

The rest is somewhat duplicate with #24? – Deleting preview deployment only in the case that source branch is deleted would allow you to keep it even when the pull request is merged is closed :)

[2020-05-19 16:16] Athena96 commented on #687
Hi @CharlieMcD2 can you try adding the 200 rewrite/redirect rule as described in the issue [here](https://github.com/aws-amplify/amplify-console/issues/489).

Let me know if you have any questions on how to add rewrite/redirect rules. Thanks!

[2020-05-19 18:14] Athena96 commented on #662
What's the error message for your graphql api calls that fail?
Also ensure you are [configuring 'Amplify'](https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/js#configure-your-application)
`Amplify.configure(awsconfig);`

[2020-05-19 18:41] Athena96 commented on #681
Hi @roopeshrnair
These guides are helpful for common custom domain issue. If those guides can not solve your issues, please let us know.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

And this guide shows how to use your GoDaddy Domain with an ampli

[2020-05-19 18:44] Athena96 commented on #675
Hi @dudestein
These guides are helpful for common custom domain issue. If those guides can not solve your issues, please let us know.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

[2020-05-19 18:45] Athena96 commented on #672
Hi @danielnewman82
These guides are helpful for common custom domain issue. If those guides can not solve your issues, please let us know.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

[2020-05-19 19:18] khrome83 commented on #425
@Joycehao19 - we still have not received any updates on this...

[2020-05-19 21:09] kldeb commented on #674
@swaminator it just happened again but this time a type just disappeared! i was testing and suddenly got the error that the standard get (by id) query on the type is not defined!

the schema in my build dir has it but the schema downloaded from appsync console does not have it.

No issues reported with the build.

[2020-05-19 21:51] badrhombus opened #688 "Prior deleted deploy showing up instead of newly deployed site"
**App Id**: d2lwend04neamk
**Region**: us-east-1
**Step**: 2  Troubleshoot Domain -
**Status**: Domain activation -X- Failed
**Error Message**: One or more of the CNAMEs you provided are already associated with a different resource.

**Issue/question**
I Used Route 53 to set up A Record, CNAME domain and CNAME www records, in addition I created a test.myDomain.com CNAME record.

They all point to

[2020-05-19 22:31] blairtaylor opened #689 "Pointing a customer DNS to an Amplify site"
We are using Amplify and hosting subdomains for clients using the Amplify console. Setting up clients using subdomains like myclient.mydomain.com with our domain hosted at Route 53. All working fine.

We have new clients asking to build landing pages which link to our site. So the client would host landingpage.clientdomain.com and wants that to point to their subdomain myclient.mydomain.com on our

[2020-05-20 01:09] badrhombus commented on #688
So I may be getting **CNAMEAlreadyExistsException** with a prior, now deleted version of the app. How can I remove the old content and delete the CNAME association to the original CloudFront.net distribution? I need to delete CNAME association and replace it with the new one.

[2020-05-20 01:31] CharlieMcD2 commented on #687
To be honest, that post is not all that helpful... at least to someone who has never created a redirect rule previously.  I still am getting the same problem after adding a redirect rule similar to the one in the following link: https://github.com/aws-amplify/amplify-js/issues/2498 and after reading a bit on: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html.  I'll keep digging b

[2020-05-20 01:52] CharlieMcD2 commented on #687
My current redirect rule looks as follows:
![image](https://user-images.githubusercontent.com/45334569/82396045-f779c000-9a1a-11ea-919f-f827e0300546.png)
but this doesn't seem to fix the access denied coming from S3.

[2020-05-20 02:43] dertel opened #690 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d29jv1jrldrzpb
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I had a previous amplify app at a subdomain, let's call it x.mydomain.com . The DNS settings were working perfectly for that app for a few weeks. Then today I deleted the app and created one with the same app name, connected it to a different GitHub repo, and tried to set it up at th

[2020-05-20 02:54] #690 closed

[2020-05-20 12:10] simpson commented on #682
We meet again @kahdojay !

[2020-05-20 12:28] simpson opened #694 "ERR_SSL_VERSION_OR_CIPHER_MISMATCH with Third-Party Subdomain"
App ARN: arn:aws:amplify:ap-southeast-1:252100588959:apps/d2xks58rvcvn6p
Region: Southeast 1
Step: DNS is configured through Cloudflare
Status: Unable to reach Amplify

** Please describe which feature you have a question about? **
We're building an app with Amplify, we've connected the domain and the DNS appears to be all correct, but we are getting ERR_SSL_VERSION_OR_CIPHER_MISMATCH and I have n

[2020-05-20 13:27] jwoehrle opened #691 "Inconsistent behaviour between web ui and CFN / Missing CFN feature to modify build settings"
I'm using amplify console to deploy an amplify backend.

When creating the Amplify app from the webui it automatically sets the amplify cli version to LATEST via the "Build image settings":

![image](https://user-images.githubusercontent.com/14852794/82450788-73244d00-9aad-11ea-8764-e22a2393f913.png)

When using cloudformation to create the app there seems to be no way of influencing the amplify v

[2020-05-20 13:39] badrhombus opened #692 "CNAME provided is already associated with a different resource"
**App Id**: d2lwend04neamk
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
logs indicate that cloudfront.net references still **d1al6j15fy5a30** even though the CNAME record references app **d2lwend04neamk.cloudfront.net**

How do I get cloudfront to stop using d1al6j15fy5a30 and start using **d2lwend04neamk**?

[2020-05-20 13:46] badrhombus commented on #688
I found the prior App Id **d1al6j15fy5a30** but do not know where it is being maintained other than the cloudfront.net cache, Is it possible to purge it entirely so that I can create a new CNAME reference without conflict?

[2020-05-20 14:08] uuykay opened #693 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dtbrp5xjorsgi
**Region**: ap-southeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I am trying to add a domain with AWS Amplify but I am getting this error message:
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

**Error message**
Error message: One or more of the CNAMEs you provided are already associate

[2020-05-20 15:28] kldeb commented on #674
Now a new table was dropped?!?! what the hell is going on?

[2020-05-20 15:32] jwoehrle commented on #691
I've found a workaround. It seems that the Build Image Settings itself are nothing but env variables.

Setting:
`_LIVE_UPDATES='[{"pkg":"@aws-amplify/cli","type":"npm","version":"latest"}]'`

adds the setting from cloudformation

[2020-05-20 15:35] kldeb commented on #674
I suspect the issue is that i deployed the wrong pk for the table so i removed the `@model` directive, redeployed then added the `@model` directive back with the proper `@key` for the pk etc...

[2020-05-20 16:29] danielnewman82 commented on #672
Yep, I already tried those.

[2020-05-20 17:15] kldeb commented on #674
Commented out new type, deployed then un-commented and deployed. that seems to be working now. Still not sure why the schema doesn't always update right away.

[2020-05-20 17:25] kldeb commented on #674
the table disappeared again.

[2020-05-20 17:37] swaminator commented on #691
@jwoehrle that is correct. Glad you were able to figure it out.

[2020-05-20 17:37] #691 closed

[2020-05-20 17:46] kldeb commented on #674
it's there now because i ran `amplify push` from the cli

[2020-05-20 18:59] swaminator commented on #674
@kldeb in order to help you we need to understand the steps you took. Could you please fill in the blanks?

1. Add @model with incorrect pk
2. git push
3. Triggered a build in AC that did not make changes to the added type (???)
4. Removed @model but kept the type
5. ????
6. Added back @model
7. `git push` that triggered a build in AC but dropped a table (??)
7. Run `amplify push` from the CLI tha

[2020-05-20 20:03] ben-elsen commented on #373
Is there some update about this request? I would love it as well to have the web previews with our code being in Codecommit.

[2020-05-20 20:20] swaminator commented on #687
@CharlieMcD2 that's probably because your build settings are off. Can you check what your artifacts directory has in your build settings (App settings > build settings)

[2020-05-20 20:58] jorgekleeen commented on #552
Does not make sense to have a `preBuild` phase where to install dependencies, if you are not able to use it on later phases...

Any updates on this?

[2020-05-20 21:33] badrhombus commented on #692
What do I need to do to get someone to move the CloudFront distribution from where bad **d1al6j15fy5a30** to use the new **d2lwend04neamk**? I see no options on the aws site to do so without a service agreement.

[2020-05-20 22:06] CharlieMcD2 commented on #687
Currently my build settings for dev are as follows:
![image](https://user-images.githubusercontent.com/45334569/82502216-a8886500-9ac4-11ea-93ea-428c93c4e164.png)

[2020-05-20 22:15] CharlieMcD2 commented on #687
And the errors showing up in the logs are:
![image](https://user-images.githubusercontent.com/45334569/82502786-ee91f880-9ac5-11ea-93a9-acf582621b12.png)

[2020-05-21 01:37] kimfucious commented on #206
Hi @Joycehao19 @swaminator,

I just did a build off a connected repo in Amplify Console that included `auth` changes, and it didn't fail!

Is this a fluke, or did something get fixed?

PS:  I still have the custom `myAmplifyPush.sh` script in place.

[2020-05-21 04:29] danielz02 opened #695 ".cc domain reported as Invalid or Unavailable"
**App Id**: arn:aws:amplify:us-east-1:561184600871:apps/d3kk5m7ah579by
**Region**: us-east-1
**Step**: Add domain
**Status**: The domain you entered is invalid or unavailable
**Note**: I'm using AWS Educate account

**Issue/question**
In the domain management panel, I tried to add my custom domain (icso.cc). However, after clicking on "Configure domain," I got an error message saying "The domain y

[2020-05-21 07:04] swaminator commented on #687
@CharlieMcD2 those are not your build settings. Your build settings look like: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html

[2020-05-21 07:52] #486 closed

[2020-05-21 07:52] #617 closed

[2020-05-21 08:03] swaminator commented on #278
@gins0023 @EllieA @nadirabid @DavidNelsonCordelia @afladmark we are currently working on a fix and should have something shortly.

[2020-05-21 08:06] MatthiasLHK opened #696 "Missing react-router-dom module in AWS"
**App Id**:
**Region**:
**Step**:
**Status**:

**Issue/question**
Can't get my React app to build in AWS amplify. It fails as they say there is no react-router-dom module found. How do i add that to my AWS? I can run npm run build locally and it is successful.

**Error message**
If there is an error message, please include it here.
2020-05-21T07:41:31.605Z [INFO]: Git SSH Key acquired
2020-05-21T0

[2020-05-21 11:07] CharlieMcD2 commented on #687
Just a reminder, this is an app entirely set up by following this script: https://docs.amplify.aws/start/getting-started/installation/q/integration/angular

So, if the build settings are off, then the script or commands followed did not set up the correct build settings.

I see two files mentioned in the link you provided:  package.json... which I can find, and amplify.yml, which I cannot find...

[2020-05-21 14:34] joehand commented on #659
@jchris this sounds like it may be similar to what you are looking for: https://aws.amazon.com/blogs/networking-and-content-delivery/authorizationedge-using-cookies-protect-your-amazon-cloudfront-content-from-being-downloaded-by-unauthenticated-users/

[2020-05-21 16:35] Athena96 commented on #696
Hi @MatthiasLHK can you share your `package.json` (minus any sensitive info). Thanks

[2020-05-21 16:39] Athena96 commented on #695
Hi @danielz02
this [guide](https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-a-third-party-dns-provider.html) is helpful for adding custom domain from a third party. If the guide doesn't not solve your issues, please let us know. Thanks

[2020-05-21 16:43] danielz02 commented on #695
Thanks! I have seen this guide but I got stuck at the the first step.

[2020-05-21 16:54] Athena96 commented on #694
Hi @simpson was your domain linked to an SSL certificate from a 3rd party before you tried registering it with your Amplify App?

[2020-05-21 16:55] Athena96 commented on #693
Hi @uuykay
These guides are helpful for common custom domain issue. If those guides can not solve your issues, please let us know.
https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html#cnamealreadyexistsexception-error

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/

[2020-05-21 18:14] kldeb commented on #674
@swaminator this just happened again where changes committed are not showing up appsync console.

I'll fill this in best i can:

in this case, the changes here were done and ddb table was created with pk i defined (wrong field for key was my fault)

committed the change to the repo and triggered a new build AC.

i don't know exactly because i wasn't watching but the table with the corrected pk exi

[2020-05-21 22:35] Athena96 commented on #626
Closing this issue. Please re-open if you are still facing issues.

[2020-05-21 22:35] #626 closed

[2020-05-21 22:44] Athena96 commented on #684
@lebenasa great, please feel free to re-open the issue if you have any more trouble. Thanks

[2020-05-21 22:44] #684 closed

[2020-05-21 22:46] Athena96 commented on #682
closing as this is a duplicate of https://github.com/aws-amplify/amplify-console/issues/694

[2020-05-21 22:46] #682 closed

[2020-05-21 22:58] uuykay commented on #693
Hello @Athena96 I used these two guides when I have first tried to solve this problem. I don't have premium support, so I cannot message Amazon, but I have created a TXT record that matches my CNAME. Are you able to help me?

[2020-05-21 23:05] simpson commented on #694
@Athena96 @donkahn Here is the Cloudflare solution but it should be similar to other places!

I'll try to be descriptive for the others with this problem. The problem is that Amplify prefixes the records with WWW, but it doesn't tell you that in the DNS settings (you should clarify that probably). So if you view the image, you need to add two additional CNAME records in Cloudflare with the www. pr

[2020-05-21 23:05] #694 closed

[2020-05-22 00:11] CharlieMcD2 commented on #687
I've received feedback from the AWS case listed above and AWS Support was able to recreate this issue when following the AWS Amplify CLI instructions listed in the link above.  It does seem to only occur when using Angular.  The fix is still pending... no workable work around yet.  I will post here once the fix is available or if I'm instructed in regard to a work around that alleviates the proble

[2020-05-22 08:52] roland-batovski commented on #35
I am running into the same issue right now. Updated my schema and the `amplify push` now fails every time with:

`UPDATE_FAILED               Answer                                               AWS::CloudFormation::Stack Fri May 22 2020 09:28:17 GMT+0100 (British Summer Time) Parameters: [CreateAPIKey, DynamoDBEnableServerSideEncryption] do not exist in the template`

This error message is thrown

[2020-05-22 12:23] procket-live opened #697 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2jpr8z2bbseai
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-05-22 13:49] joshqq commented on #693
Hey... check if you have the app created in another region. I have created the app in region A and another in Region B without me knowing. It passes all SSL etc until the last steps and keep telling me cname has already been used.

[2020-05-22 13:52] joshqq commented on #680
Solved.

I have created the app in region A and another in Region B without me knowing. It passes all SSL etc until the last steps and keep telling me cname has already been used.

Once I delete the duplicated app, it all works wonderfully.

[2020-05-22 14:50] uuykay commented on #693
Hey @joshqq I only have 1 Amplify App on this account. In the past I used the same domain on a different AWS account using Amplify, but I have deleted that account and all resouces (as far as I know) from that account 2 days ago. I want to be using the current account. Could you please check on it? https://www.educats.com.au/

[2020-05-22 21:01] gsohn opened #698 "Deployment blocked"
I'm using manual deployment, with a zip file on a S3 bucket. The deployment never ends and stay in status "deploying", blocked at 70%.

Could you tell me how to unblock my builds ? Thanks for your help

Here is my amplify id : d3ec14hvw65uy0.amplifyapp.com/

[2020-05-22 22:02] cjsedwards opened #699 "Amplify build fails to provision"
It was working 30 minutes ago, I also tried to rebuild to see if it would work:

[BUILD_CONTAINER_UNABLE_TO_PULL_IMAGE: Unable to pull customer's container image. CannotPullContainerError: Error response from daemon: Get https://395333095307.dkr.ecr.us-west-2.amazonaws.com/v2/: x509: certificate is valid for *.dkr.starport.us-west-2.amazonaws.com, *.dkr.starport.us-west-2.vpce.amazonaws.com, not 3

[2020-05-22 22:05] InternalVoiceKOT opened #700 "Using redirects for multilingual SPA application"
I'm interested in how to compose redirect rule for multilingual SPA application. I have english version which URLs begin with"/en/" and icelandic version which URLs begin with "/is/". English version is default, so root "/" should be redirected to "/en" only if requested URL doesn't start with one of predefined prefixes of other language versions.

[2020-05-22 22:12] cjsedwards commented on #699
This appears to now have been resolved.

[2020-05-22 22:38] Athena96 commented on #698
Hi @gsohn sorry you're having trouble. Can you please share the aws region your app is built in?

[2020-05-22 22:51] cjsedwards opened #701 "Move the "Redploy this version" so you don't accidently press it"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/6901289/82714590-9802f680-9c4c-11ea-9f36-2d661a78b1dc.png)

![image](https://user-images.githubusercontent.com/6901289/82714544-68ec8500-9c4c-11ea-8215-162f7439bcec.png)
See the two screen grabs above, if you're scrolling through builds (clicking the right arrow frequently), you ca

[2020-05-23 02:58] #680 closed

[2020-05-23 03:40] #688 closed

[2020-05-23 03:52] badrhombus commented on #688
My issue was cause by a forgotten Amplify Console app generated in another region.
The advise by @Athena96 was to identify the App ID and Zone of the prior apps that I made.
It turns out, that although I thought I had deleted all prior apps and resources. One remained in another Region (which was selected inadvertently).

The puzzler was that the creating DNS entries for the new region with new Ap

[2020-05-23 05:29] julianeon commented on #59
For people googling this and ending up here, the rewrite solution above (while not great for SEO) will work.

Add a rule in Amplify page for your site, Rewrites and Redirects.
enter source address as:
</^[^.]+$\|\.(?!(css\|gif\|ico\|jpg\|js\|png\|txt\|svg\|woff\|ttf)$)([^.]+$)/>
target as:
/index.html
type as:
200 (Rewrite)

Then, in the head section of index.html, add this:
<base href="/" />

Aft

[2020-05-23 07:18] joshqq commented on #693
This is what I see...
<img width="975" alt="image" src="https://user-images.githubusercontent.com/27541954/82724360-0f499080-9d08-11ea-81fe-93168307e957.png">

I have to go to all the "region" and see if I have used amplify to create an app.
I can't tell you exactly how to resolve it completely but the following:
1. Ensuring the DNS in Domain Registered and Zone are the same.
2. Make sure that I h

[2020-05-23 07:44] gsohn commented on #698
Hi @Athena96 , the application is build in eu-west-1 (Ireland). The build for the staging environment still appears in error.

[2020-05-23 09:41] uuykay commented on #693
Hey @joshqq thanks so much for your help. I had to go to work and couldn't reply earlier. You were actually right with your first comment about a possible instance of the app being created previously in a different region. I am not totally sure how this happened - I may have set that one up in the past and forgot about it - but it was in the Ohio region.

I discovered this when I went to my S3 buc

[2020-05-23 09:41] #693 closed

[2020-05-23 13:14] #698 closed

[2020-05-23 16:47] gHashTag opened #702 "Resource is not in the state stackUpdateComplete"
**Describe the bug**
Resource is not in the state stackUpdateComplete
An error occured during the push operation: Resource is not in the state stackUpdateComplete

**Amplify CLI Version**
4.20.0

**To Reproduce**
The third time I'm trying to create a service
`amplify add api`

add a simple model

[code]

`amplify push`
 and get the same error:

[code]

**Expected behavior**
A clear and concise des

[2020-05-23 22:11] kushan-gunasekera commented on #150
This [article](https://medium.com/@cristiano.ventura/working-with-git-submodules-in-codepipeline-83e843e5d0a) helped me to fix this issue.

[2020-05-23 22:49] stefan736 commented on #225
I have the same problem trying to delegate matrix configs
/.well-known/matrix/client
/.well-known/matrix/server

Solved with removing the . and adding file extensions like @tmbtech said! Hugely frustrating behavior of amplify!

[2020-05-24 01:41] guizler commented on #56
You can use s3 bucket website hosting point cloudfront on it that has attached custom certificate.

[2020-05-24 02:05] matiboy commented on #595
Same issue; just to mention one workaround (as mentioned by @danielfranca) is to build from source: add the following to `amplify.yml` in the AWS console under App settings -> Build settings:

[code]

It would be nice if Amplify's build used the same features/options as CodeBuild's one (which includes specifying the runtime versions of Python/Java/etc)

[2020-05-24 05:07] leewenjie commented on #44
+1 to this feature request, or the next best solution for wildcard subdomains

[2020-05-24 07:26] gHashTag commented on #702
I reproduced the problem in [this video](https://www.dropbox.com/s/vb8vm55nb09o973/bug.mov?dl=0)

[code]

[2020-05-24 12:00] prakash-mu opened #703 ""Amplify Publish" fails - Cannot read property 'name' of undefined"
Hello,
When I perform "amplify publish" it fails with the message that  `Cannot read property 'name' of undefined at Object.publish (/usr/local/lib/node_modules/@aws-amplify/cli/node_modules/amplify-console-hosting/index.js:39:13)**`

I am using cloud9 IDE with a docker for react-native-expo.

I package.json I has added the line in scripts "build": "expo build:web",

⠦ Deploying build artifacts to

[2020-05-24 19:04] tomyitav opened #704 "Inconsistent backend deployment with amplify push"
Hi, I set-up an appsync backend environment with the following simple build settings:

<img width="591" alt="Screen Shot 2020-05-24 at 19 28 57" src="https://user-images.githubusercontent.com/16193919/82762506-1789f480-9e0a-11ea-9086-383617ed2c14.png">

When my Frontend environment accesses the backend, I get the following error:
[code]

After I do ```amplify push```, the query to appsync works pe

[2020-05-25 06:11] blairtaylor opened #705 "Unable to route client domain to Amplify application"
A client wishes to have our application appear as one of their subdomains.

We asked the client to add the following CNAME to their DNS settings:

CNAME
Name=clientsubdomain
Host=oursubdomain

oursubdomain = client.ourdomain.com - this subdomain is set up and working via the Amplify console.

When a client navigates to to the CNAME, they get the following Cloudfront error

403 ERROR
The request co

[2020-05-25 07:27] Cyborganic commented on #44
The feature is most definitely required

[2020-05-25 07:57] blairtaylor commented on #705
We've also tried pointing the CNAME record directly to the cloudfront distribution. The results in a "page can’t be found" error.

[2020-05-25 08:11] gsohn opened #706 "Blocked in deploy status"
My staging app is blocked with deploy status. Looks like deploy never ends. Could you help me ? Thanks

Here's my domain :
https://www.alacaza.dev

[2020-05-25 08:35] nordinh opened #707 "SSL verification is Running - seems blocked since saturday"
**App Id**: d1p0brm2y6prq5
**Region**: eu-west-1
**Step**: SSL verification
**Status**: Running

**Issue/question**
We registered a custom domain and applied the DNS records this saturday. However, the process seems stuck in the step "SSL Verification", message says: "We validated that the CNAME record exists in your DNS file. We will now verify ownership of the domain. If this takes longer than 8

[2020-05-25 12:51] pokehouse opened #708 "Conflict between Angular 7 Routing and Rewrites and Redirects"
Hello, I have some angular 7 sites deployed with drag and drop on Amplify. I need to apply a rule in rewrites and redirects to avoid 403 errors when use Angular Routing from address bar (or with F5).
I have applyied this one:

[code]
But, sometimes, after a new deploy, the site won't load and this error appears:
`Uncaught SyntaxError: Unexpected token '<'  `
This error persists for some time and i

[2020-05-25 13:12] gHashTag commented on #702
I changed the eu-west-1 region to eu-west-2 and the problem went away.

[2020-05-25 13:12] #702 closed

[2020-05-25 20:07] danielz02 commented on #695
I figured it out. It looks like that I can't add any custom domain with AWS Educate account. I switched to a normal account and it worked!

[2020-05-25 20:07] #695 closed

[2020-05-26 09:47] arlyon commented on #174
We're using a lerna-style monorepo setup with two frontend apps in the /packages/ folder and running into the same issue.

[2020-05-26 13:08] kalenyk commented on #389
@kahdojay , I got the same issue.
I have react project with a custom font. font works fine on my local computer in chrome, Mozilla and safari.
site: https://master.d341hhj24admog.amplifyapp.com

In response of font loading get a message "You need to enable JavaScript to run this app." and response header content-type: "text/html"

[2020-05-26 19:08] jcvalerio commented on #496
@vchaddha can you help me to understand from where you got the `envCache`

I'm trying to build a custom Docker image but I have no clue on how to make this line to work

`COPY envCache /usr/local/bin`

because `envCache` is not in my Mac OS x environment, it is not available on `CodeBuild` env too.

I didn't found any package to install it.

I really appreciate you help!!

[2020-05-26 20:22] #699 closed

[2020-05-26 21:33] swaminator commented on #706
@gsohn what's your appid? Also what error are you getting in deploy?

[2020-05-26 21:36] swaminator commented on #700
@InternalVoiceKOT please refer to: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#region-based-redirects

[2020-05-26 21:36] #700 closed

[2020-05-26 21:37] swaminator commented on #704
@tomyitav you need to update your backend before your frontend.  Can you update your buildspec to add the backend phase before hte frontend phase?

[2020-05-26 23:06] crantini commented on #343
Hello all,

My question is identical to @rallona's.

Did anyone ever figure out how to serve GZip-ed web assets when hosting an Amplify Front-End with the AWS Amplify Console?

[2020-05-27 02:26] DanielWFrancis commented on #288
This is kind of infuriating btw

[2020-05-27 04:14] Tporkka commented on #330
I'm having the same issue and trying to reduce my bundle size. Is serving gzipped bundles possible with Amplify?

[2020-05-27 04:20] Tporkka commented on #343
Having the same issue here trying to reduce my bundle size using the Amplify console instead of Cloudfront directly. It says "file size after gzip" in the build logs is ~3mb, however, when I run it through a website analyzer (gtmetrix.com), it says it is over 17mb so doesn't seem like it's actually compressed.

[2020-05-27 06:33] gsohn commented on #706
My gatsby client generates 10K pages. It seems this is too much for the deployment process as it takes more than two hours to copy all files. So I deleted my amplify applications. Do you have any coming action to improve deploy process ?

Thanks for your help

[2020-05-27 12:00] blydewright commented on #455
@daunce are you able to share how to overcome this bug to be able to edit the build command? I'm stuck and unable to continue..

[2020-05-27 12:08] blydewright commented on #455
I see that the problem only occurs when setting up your amplify app and linking it to GitHub. After saving and deploying, editing the build command through App settings -> build settings works as expected 👍

[2020-05-27 15:06] rortuno-cbba opened #709 "Redirection failing"
**App Id**: d35aybm0j2pzux
**Region**: us-east-1
**Step**:
**Status**: Available

**Issue/question**
The configuration has been completed in both Amplify and 3rd party dns service but the redirection is not getting complete, the domain is being wrongly forwarded.
As you can see in the screen shot, there are no errors but would like to know if we are missing something. The configuration in the 3rd

[2020-05-27 15:42] Issac909 opened #710 "SSL verification is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1od682vv5d96v
**Region**: us-east-1
**Step**: SSL verification
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-05-27 16:31] kahdojay commented on #701
Thanks for your feedback!

[2020-05-27 16:40] kahdojay commented on #706
@gsohn in general yes but it's difficult to speculate what issue you're hitting without more data, if you can provide us with an example app id / region / build number and any error messages you're seeing we can better understand what's happening with your particular deploys.

[2020-05-27 16:49] manpreet-singh10196 opened #711 "what is issue"
**App Id**:
**Region**:
**Step**:
**Status**:

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel free to include screenshots.

 additional sample

[2020-05-27 17:08] wizage opened #712 "Amplify init doesn't call prepush plugin hook"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When using the [amplifyPush](https://github.com/aws-amplify/amplify-console/blob/master/scripts/amplifyPush.sh) script from the amplify console, it auto moves from `amplify init` to `push` without prompting. Since no prompt is given PrePush plugin hook is not called so all plugins de

[2020-05-27 17:45] #711 closed

[2020-05-27 17:51] shide1989 commented on #59
The above couldn't fix the issues for me. I'm going to try what's here if it can help anyone :
https://www.gatsbyjs.org/docs/deploying-to-s3-cloudfront/#setting-up-cloudfront

[2020-05-27 17:58] shide1989 commented on #59
had the same issue when refreshing a page called "profil" path `/profil/?summoner=SinyZ`.
I simply created the following rule and it worked :
[code]

[2020-05-27 18:10] dhaveman opened #713 "Serving apple-app-site-association as json"
I need to host the apple-app-site-association file from an amplify hosted project.  I see two solutions to help that:

- custom rewrites: this lets me map apple-app-site-association.json -> apple-app-site-association
- custom headers ( in the build settings ):

[code]

Whenever i download the file howerver the content type is just `application/octet-stream`

Any guidance would be appreciated

angu

[2020-05-28 03:47] Jn-x opened #714 "How do I modify the Auth in an environment variable"
** Please describe which feature you have a question about? **
I want to modify the user pool in Amplify, but I don't know how. How can I replace the current user pool with an existing one

** Provide additional details**

[2020-05-28 08:27] gsohn commented on #706
I don't have any log as I deleted the applications, sorry. But this happened during the deploy phase, when copying files, and generally around 25K copy. But you can close the issue as I don't use amplify any more. Thanks