[2020-08-24 19:28] hsspain commented on #989
@nagacheruvu

Can you please provide us with more information regarding the specific failure you are seeing?

https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-a-third-party-dns-provider.html

Here is some documentation around custom domains in Amplify.

[2020-08-24 19:31] hsspain commented on #1000
@ericpapasit

Amplify hosts API's a bit differently than what you have configured.

https://docs.amplify.aws/lib/graphqlapi/create-or-re-use-existing-backend/q/platform/js

Please view the linked documentation and let us know if you run into an issue deploying your API that way.

[2020-08-24 19:33] hsspain commented on #999
@gdelvalle99 We are looking into this now. Did you transfer the domain to Route 53?

[2020-08-24 19:35] gdelvalle99 commented on #999
Yeah, I did.

[2020-08-24 19:42] hsspain commented on #963
@zoosissoos

Can you provide us the AppID and region you are hosting your Amplify app in?

[2020-08-24 19:47] hsspain commented on #966
@asatvilker @AlexSCorey Please try setting up a SPA redirect rule detailed here: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa

[2020-08-24 19:52] ofek-rusaev commented on #994
Yes it's there, sorry didn't realize the region effects my display.
Thanks for you help! 🥇

[2020-08-24 19:52] #994 closed

[2020-08-24 19:55] ianmartorell commented on #206
Shouldn't the `amplify-cli` add these variables automatically, or at the very least [the documentation](https://docs.amplify.aws/lib/auth/social/q/platform/js) be updated? As a new Amplify user following the official docs, the first build will fail with a cryptic error and they'll have to Google the error to find this thread and then read the entire thing to find the correct answer. Not the best s

[2020-08-24 19:58] hsspain commented on #946
@lightninglife It looks like this domain is associated with another CloudFront distribution. Did you happen to have used it with another AWS service?

[2020-08-24 20:04] ericpapasit commented on #1000
@hsspain yes I understand, but I'm not trying to use the API of amazon, the thing is, we already created the API already, which is running in our local node js server perfectly, by invoking the command of 'npm run start', so we are thinking that it is running as a standalone app itself, so we are wondering if there is a way in aws amplify console to run this app and we can't find a reason why it s

[2020-08-24 20:09] yuyokk commented on #995
oh empty value is equal to `*`!

Thanks for reply

[2020-08-24 20:09] #995 closed

[2020-08-24 20:10] hsspain commented on #1000
@ericpapasit Unfortunately, we don't support hosting custom Node apps within Amplify. Other AWS services can potentially fit your use case, but you will need to use the supported methods to host an API with Amplify.

[2020-08-24 20:10] #1000 closed

[2020-08-24 20:43] hsspain commented on #999
@gdelvalle99 It appears that the DNS checks are failing for your domain. Can you ensure that the CNAME records are being set properly in your name server?

[2020-08-24 20:49] gdelvalle99 commented on #999
What should I look for? I have 6 records: 3 CNAME records, one SOA record, one NS record and one A record. One of the CNAME records corresponds to the same CNAME that Amplify shows me. Should I delete the other that doesn't match?

[2020-08-24 20:50] hsspain commented on #959
@brad07 I have verified that there is a custom domain on that app which has been verified and live. Is this regarding a separate custom domain? Are you still having this issue?

[2020-08-24 20:53] ehawk61 commented on #996
For clarity, what do you mean by re-verifying the DNS records? Is that something I need to do or is done in the creation of the domain in the app?

[2020-08-24 20:55] hsspain commented on #999
It will be a CNAME record that looks something like:

randomtoken.domain.com. CNAME randomtoken.random.acm-validations.aws.

The exact record will be displayed in the custom domain settings screen.

[2020-08-24 21:03] gdelvalle99 commented on #999
The CNAME records match. Is there a specific setting that it should have?

[2020-08-24 21:08] hsspain commented on #996
You just need to ensure that the CNAME DNS records match what the Amplify Console is displaying for that custom domain. If they match, then no action is necessary.

[2020-08-24 21:09] hsspain commented on #999
@gdelvalle99 Sometimes, DNS records take some time to propagate (up to 24 hours). Please retry and let us know if it is still failing after that time.

[2020-08-24 21:43] pjamieson opened #1001 "Can't "see" AWS Amplify environment variables"
I have a React/Gatsby client with GitHub source control and continuous build/deployment enabled with a webhook. All builds and works fine, until the client needs to use an environment variable. (All works as expected from my local dev environment.)

I have the variables in the Environment variables section of the Amplify console. I've also added them under both env: variables: and build: commands:

[2020-08-24 22:23] hsspain commented on #1001
@pjamieson Can you please provide your AppID and region you are hosting in?  Thanks.

[2020-08-24 22:30] pjamieson commented on #1001
AppID? Is that different from the App ARN?

App ARN: arn:aws:amplify:us-east-2:846179201391:apps/dd50y66k2av5i

Region: us-east-2

Thanks!

[2020-08-24 22:31] hsspain commented on #962
Please try using the AWS CLI:

```aws amplify update-app --app-id AMPLIFY_APP_ID --repository REPOSITORY_URL --access-token ACCESS_TOKEN```

While this is currently unsupported in our Console, the CLI should enable you to change repositories.

[2020-08-24 22:31] hsspain commented on #1001
That is perfect, thank you. We are investigating now.

[2020-08-24 22:50] hsspain commented on #288
The AWS CLI command outlined above will change an Amplify app's source repository provider/account along with the URL:

```aws amplify update-app --app-id AMPLIFY_APP_ID --repository REPOSITORY_URL --access-token ACCESS_TOKEN```

Please keep in mind that the --access-token expectations are different for each of the providers as they handle authentication differently.

[2020-08-24 23:15] hsspain commented on #1001
It appears that your buildspec.yml file in your repository does not include those environment variables and that is the build spec that the app uses during build/deployment.

Try updating that, or removing it to use the Console saved settings.

Here is some documentation surrounding our build process:

https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html

[2020-08-24 23:29] pjamieson commented on #1001
Thanks for getting back so quickly. I think you nailed it identifying that buildspec.yml that was left behind from when the site was on S3. Makes sense that that's what's causing the problem.

So again, thank you VERY MUCH!

[2020-08-25 00:21] linfiesto commented on #958
SOLVED: To those who may have experience similar problem just check your IAM > Access management > Account settings. Make sure you're STS permission is active for that region, in my case Asia pacific (Sydney) was inactive which was causing the error.

![image](https://user-images.githubusercontent.com/4402009/91108896-d7a60800-e6ab-11ea-9fe5-a0c7445e9271.png)

[2020-08-25 00:31] #958 closed

[2020-08-25 01:02] asatvilker commented on #966
Unfortunately that spa redirect rule isn’t the solution. Very weirdly when I tried to use it, it works in the sense i don’t get an access denied error however all my css files seem to be missing and all the styling of every page is gone? I cannot explain the reason behind this. However, i added my own redirect rules which solved the issue.

I simply added a rule for: /blog/<*>, destination: index.

[2020-08-25 01:12] asatvilker commented on #967
Hi,
No unfortunately i tried rebuilding and it made no difference.
The issue started because for a certain route i was getting and access denied error. I tried adding the spa redirect rule stated in the docs and then it gave me access however i got the issue above. I didn’t realise it was the spa rule as when i removed it the styling didnt come back. I eventually realised the browser had cached a

[2020-08-25 02:18] gbr5 commented on #998
I had my website running on amplify already, but as the ssl certificate wasn't working on godaddy, I changed the NS from godaddy to amazon route53. That's when my website when down and never came up again.

But it's the same website on amplify, I don't even have another application running, it's my first and only, lol.

[2020-08-25 02:55] brad07 commented on #959
We finally got it to complete the activation process.

Thanks

[2020-08-25 02:55] #959 closed

[2020-08-25 03:59] judygab commented on #992
@swaminator sure! I believe this is the one 'd3a2ok9za0no6w' or do you need App ARN?

[2020-08-25 05:27] #1001 closed

[2020-08-25 05:27] pjamieson commented on #1001
Removing the unwanted buildspec.yml from the repository, and prepending GATSBY_ to the variable names in the console (and changing the variable names to match where used in the code), made it all work. Thanks!

[2020-08-25 07:49] mathvbarone commented on #987
I am having the same issue...when I trigger the pipeline without the test stage all works as expected, however, if I add the test stage I get the exact same error. The baseDirectory is the same in both cases.

[2020-08-25 08:48] mathvbarone commented on #987
Here is my `amplify.yml`:

[code]

[2020-08-25 09:43] teemuniiranen commented on #976
Any progress?

[2020-08-25 14:30] genert opened #1002 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d12vwpfgp9fawb
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
After configuring a domain for Amplify Console app, I get a following error:

When I check the CNAME records in Route53, there exists only 1 record value that was created by Amplify Console process.

When I remove, and retry, still same error appears.

**Error message**

**Additional

[2020-08-25 14:45] shweta-codeprism opened #1003 "Your deployment is being queued..."
Forever having above status

[2020-08-25 15:29] hsspain commented on #967
Thank you for the followup. I will close out this issue and take a look at possible edge cases with our documented SPA redirect rule.

[2020-08-25 15:29] #967 closed

[2020-08-25 15:42] gdelvalle99 commented on #999
@hsspain I retried the process this morning but it still fails. I am wondering if the issue might be with the console instead. Whenever I click retry, it perpetually stays there for hours without any indication that the process is happening. When I refresh the page or open up the console on another browser, it says that the process failed.

[2020-08-25 15:51] hsspain commented on #1002
We are looking into this now.

The error message suggests that your domain mydomain.pl or www.mydomain.pl are already associated with a CloudFront distribution through another app. If you have done that yourself, you will need to remove that association to use with another Amplify app.

[2020-08-25 15:53] hsspain commented on #1003
Can you please share your region and AppID?  You can find the AppID in App setting > General

[2020-08-25 16:08] hsspain commented on #1002
We don't see any record of www.mydomain.pl or mydomain.pl being associated with your app.

It does look like the domain you are attempting to activate is associated with another CloudFront distribution, however. That domain will need to be removed from the other distribution before you can associate it with your app.

[2020-08-25 16:28] hsspain commented on #975
Closing this issue. Please feel free to reach back out if you still need help.

[2020-08-25 16:28] #975 closed

[2020-08-25 16:41] hsspain commented on #999
@gdelvalle99 Please remove the custom domain from the Amplify app and re-add it. Because this is a Route 53 domain now, it goes through a different verification path.  Let us know if that resolves the issue.

[2020-08-25 16:59] hsspain commented on #935
I am going to close out this issue.  If you are still having problems, feel free to reach out again.

[2020-08-25 16:59] #935 closed

[2020-08-25 17:02] hsspain commented on #931
@jknapp25 I believe you may be looking in us-east-1, but the other Amplify app is in us-east-2.  Change your region and let us know if you see the app there.

[2020-08-25 17:25] swaminator commented on #991
@ilyador I'm keeping one open issue as you filed two issues with the same problem. This issue is still open and we'll investigate it. Any way you can provide us with a sample repo to help with reproducing your scenario?

[2020-08-25 17:32] hsspain commented on #996
@ehawk61 When an SSL certificate is renewed our systems first verify that the CNAME records still match the verification records you set when first associating your custom domain.

In this instance, the records did not match or were not found so the certificate did not renew. If you re-add them, you should again have a valid SSL certificate. Please let us know if this works for you.

[2020-08-25 17:39] gdelvalle99 commented on #999
I did and now it works. Thanks for all the help!

[2020-08-25 17:40] hsspain commented on #999
You are welcome.

[2020-08-25 17:40] #999 closed

[2020-08-25 18:59] dcfranca commented on #595
@shawnmmatthews I think the best solution so far is to use a custom image like mentioned on @lorengordon post
I'm using the same image and it is working fine: https://hub.docker.com/r/nikolaik/python-nodejs/

[2020-08-25 21:30] jknapp25 commented on #931
YES!!! Removing the domain on the app located on us-east-2 worked! Thank you so much!

[2020-08-25 21:30] jknapp25 commented on #931
And now my client side routing is working as well!

[2020-08-25 21:31] #931 closed

[2020-08-25 21:33] shawnmmatthews commented on #595
@dcfranca is there a recommended method for using a custom image? Or should I be looking into something like this https://docs.aws.amazon.com/lambda/latest/dg/runtimes-walkthrough.html. I see a dropdown from the Lambda console for custom, but no somewhere to specify which image to use. Thanks for reaching out.

[2020-08-25 22:29] fitzgers opened #1004 "Stuck on 'Fetching access logs'"
** Please describe which feature you have a question about? **
Access Logs : Stuck on Fetching access logs

** arn **
```arn:aws:amplify:us-west-2:790675203832:apps/dhc11nf9dhtm2```

** Provide additional details**
I've been trying to pull access logs for this site, both from Amplify console and the CLI and have had no success. The CLI (generate-access-logs) returns a result of:

```An error occur

[2020-08-25 22:36] ehawk61 commented on #996
Working on the first domain, found in the DNS record that the CNAME record provided in the amplify creation process was not listed in the domain previously. Added the CNAME record provided by the amplify SSL configuration step to the DNS record.

[2020-08-25 23:29] LostSummer-Anson commented on #446
Hello, I've ran into the same issue, and what I did was I logout and back using my manager's account, and that account uses an email exactly the same one she registered with gitLab, and all went through well. The connection is disabled again when I changed back to my own account (although authorized with many permissions).

[2020-08-25 23:43] swaminator commented on #704
@tomyitav sorry for dropping the ball here, did you get it working>? If not, could your appid (App settings > general). Also are you using the latest version of the Amplify CLI in the build container?

[2020-08-26 05:44] Roger-Takeshita opened #1005 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3cejlxi1c5gny
**Region**: ca-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
How can I associate my domain with a different repo?
I recently removed workmail from my acc, but maybe I might have removed something else with the workmail because my domain is not showing on "AWS amplify > Domain management"

**Error message**
One or more of the CNAMEs you prov

[2020-08-26 05:49] tomyitav commented on #704
Hi @swaminator , it didn't work out. I can share my ARN privately with you if that can help.
How can I tell the version in the build container? Is it version 0.1 in the yml, or is there another version?

[2020-08-26 07:08] marko-asplund commented on #115
Any ETA for making a fix generally available?

[2020-08-26 08:05] shweta-codeprism opened #1006 "Deployment of nextjs project served by a server.js is taking forever"
<img width="914" alt="Capture" src="https://user-images.githubusercontent.com/25504208/91277835-ff2acc80-e7a0-11ea-8d56-ea8c78226841.PNG">

[2020-08-26 14:26] keponk commented on #583
@adriencg the boilerplate here allowed tests to run after half a day of trying to figure this out. Would be great of documentation could be updated in some of the official docs:

- https://aws.amazon.com/blogs/mobile/run-end-to-end-cypress-tests-for-your-fullstack-ci-cd-deployment-with-amplify-console/
- https://docs.aws.amazon.com/amplify/latest/userguide/running-tests.html

[2020-08-26 14:38] bill-medved opened #1007 "SSL configuration is Running - Cant verify R 53 domain name, even though other R 53 domain name worked"
**App Id**: d1g1hnr0xrme76
**Region**: us-west-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.
I have a R53 domain name.  I tried to associate this amplify application to the domain name, and it was stuck in "SSL Configuration" for more than 8 hours, which I was surprised as the R 53 integration with Amplify works

[2020-08-26 14:52] bill-medved commented on #1007
As an aside, I needed to get this Amplify app live, so I attached a 2nd domain name that I had in R53 that was available.  This worked fine, though it is less then ideal as it is not the ultimate domain name I prefer to use.  I left the original domain name pending verification--it seems like the platform (Amplify?  R 53?) can't verify ownership even though the R53 domain verification (Amplify) re

[2020-08-26 16:55] hsspain commented on #1005
@Roger-Takeshita You need to remove the domain association that your domain has with any other Amplify app.  It looks like it is already used in another account, possibly your workmail account.

[2020-08-26 16:56] hsspain commented on #1006
@shweta-codeprism Can you please provide us with your region and App ID?  The App ID is found in App settings > General

[2020-08-26 16:58] hsspain commented on #1007
@bill-medved Please try removing the custom domain association from the Amplify app and re-adding it. Depending on the order of operations, Amplify uses a slightly different process for Route 53 domains.

[2020-08-26 16:59] hsspain commented on #1004
@fitzgers This is a known issue that we are working towards a resolution for. If you retry today are you still getting errors?

[2020-08-26 16:59] litwicki commented on #115
@marko-asplund We're working with customers this week to preview our changes, and will update end of week on next steps.

[2020-08-26 17:01] bill-medved commented on #1007
I did remove the Amplify domain name association from the Amplify app, and
re-adding it.  Same result.

On Wed, Aug 26, 2020 at 9:58 AM hsspain <notifications@github.com> wrote:

[2020-08-26 17:10] fitzgers commented on #1004
@hsspain I just tried again from the CLI. I was successfully able to generate a log for a 10 second and 1 hour time range, but unsuccessful when trying to do a 24 hour range.

The same error as before:
`An error occurred (InternalServerErrorException) when calling the GenerateAccessLogs operation (reached max retries: 2): Endpoint request timed out`

[2020-08-26 17:11] hsspain commented on #1007
@bill-medved The DNS propagation can sometimes take up to 24 hours. Please give it some time and let us know if it still is not verified after that time period.

[2020-08-26 17:12] hsspain commented on #1004
@fitzgers Thank you for the update. We will make sure to get a resolution our as soon as possibly to allow you to generate longer time period access logs.

[2020-08-26 17:16] bill-medved commented on #1007
Ok - I let it run for about 12 hours yesterday.

I just removed it and added it back again after your last email.

It is odd that I was able to register two amplify - R 53 domains name in 30
minutes though this one R 53 domain name does not work.  I would understand
if the domain name I was trying to register was not being managed by R 53,
though this is not the case.

Thank you for your assistanc

[2020-08-26 17:48] dcfranca commented on #595
@shawnmmatthews You can do it from the Amplify Console.
Go to the Amplify Console, open the menu on the left, Click on "Build Settings", scroll down until you see "Build Image Settings", on the dropdown select Custom, then enter the image name on the field just below it

[2020-08-26 17:58] shawnmmatthews commented on #595
Awesome. I assumed I was just missing the setting somewhere. Thank you so much @dcfranca!

[2020-08-26 18:38] hsspain commented on #829
@cstavaru Sorry for the delay. Your posted YML shows ```- node_modules//*``` and we recommend the path ```- node_modules/**/*```

Please try this and let us know if that works for you.

[2020-08-26 20:44] sw-yx commented on #921
+!

[2020-08-26 21:21] Roger-Takeshita commented on #1005
@hsspain I think there is a bug on `Amplify Console > All app` after refreshing/accessing the page several times, out of nowhere my old app (app 1) showed up and then I was able to delete the old app (app 1). One thing strange is that my old app (app 1) showed up but my new app disappeared (app 2).
Then I created a new app (app 3) and successfully connected to my domain. Now my website is online,

[2020-08-26 21:38] hsspain commented on #1005
@Roger-Takeshita I will take a look at this.  Please keep in mind that apps only show up in the region that they were created in.

[2020-08-26 21:57] Roger-Takeshita commented on #1005
@hsspain ohh I didn't know that 🤦🏻‍♂️. Now that I've changed to the right region, I can see my app.
Thank you for your help!

[2020-08-26 21:57] #1005 closed

[2020-08-26 23:05] swaminator commented on #1003
Dupe of #1006

[2020-08-26 23:05] #1003 closed

[2020-08-27 08:04] ywroh opened #1015 "nextjs gatsby app amplify build error : aws-exports.js .gitignore"
**Describe the bug**
I am currently developing an ecommerce application with nextjs and gatsby. When deployed to amplify, the build fails with "Module not found: Can't resolve'../aws-exports' in ~" during the build process, because .gitignore is processed.

**To Reproduce**
Commenting out the aws-exports.js file in the .gitignore file really builds.

Please refer to it when working.

[2020-08-27 08:24] maksym-bordun-ynd commented on #296
Are there any news? Fix was deployed about 5 months ago, but builds still get stuck on Provision from time to time (and always work when build gets restarted manually), as described in the first message.

[2020-08-27 13:12] zoosissoos commented on #963
Not to be rude, but is there a way I can privately send you these things?

[2020-08-27 15:27] hsspain commented on #963
No worries, please use aws-amplify-customer@amazon.com to send us the information.

[2020-08-27 15:54] artchen commented on #758
Thanks for the tip 👍

[2020-08-27 18:38] MarcoEmm commented on #441
Any update on this ?
I still cannot make the env vars working properly    =/

[2020-08-27 19:23] hometap-devops opened #1008 "SSL configuration is Running - and never completes"
**App Id**: dbq7uq37xcc4s
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**

Amplify domain management sits in the SSL Configuration step for over a day without making progress.
This is with a custom domain controlled by Route53.

Note that it has a multilevel subdomain (e.g. x.y.z.com)

**Error message**
If there is an error message, please include it here.

[2020-08-27 19:30] david-wallace-croft commented on #249
I figured it out.  The main problem was a missing configFilePath in the test artifacts section.  Excluding configFilePath causes the test phase to appear to succeed including generating successful test artifacts but with the deploy phase reported as failing for no apparent reason.  I am not sure why configFilePath is required or what it is used for in the context of Angular Protractor tests but it

[2020-08-27 20:11] hsspain commented on #1008
@hometap-devops It looks like the CNAME records for the domain mapping itself is missing on your domains.  Can you verify that those exist?

[2020-08-27 21:10] karice opened #1009 "Custom Build Image: Cannot pull container error Too Many Request"
I've been experiencing an issue today with building using a custom image. The error is telling me the Docker Hub is running into a request limitation. The limit is 100 pull requests per 6 hours fo anonymous access. We definitely haven't gotten close to 100. I can also still pull the image to my computer. We have a few other builds AWS Console which are using the same custom image without issues.

[2020-08-27 22:59] bill-medved commented on #1007
Hello,
It has been more than 24 hours and the Amplify is still not verifying the
domain name.  Should I send you the domain name?
Thank you
Bill

On Wed, Aug 26, 2020 at 10:16 AM Bill M <bill.medved@gmail.com> wrote:

[2020-08-27 23:38] hsspain commented on #1009
@karice We are looking into this and will let you know when we can resolve this for you.

[2020-08-28 04:45] aleksei-tro commented on #300
I just had the same issue and I found a neat solution
modify your amplify.yml and add
`- amplifyPush -e $AWS_BRANCH --simple`
after `npm ci`

[2020-08-28 06:43] marko-asplund commented on #115
@litwicki We'd like to participate in previewing, if possible. I sent an email about this to aws-amplify-customer@amazon.com on wednesday.

[2020-08-28 08:16] vidhyasagarj opened #1010 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d3rg9crrppu2tu
**Region**: ap-southeast-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Pleas

[2020-08-28 09:50] sp0033212000 opened #1011 "It is possible change region of existing app?"
** Please describe which feature you have a question about? **
I want move my amplify app to another region, may I achieve this case?

** Provide additional details**

[2020-08-28 10:00] ShaneCLuzern commented on #685
I am having the same issue , Any solution yet?

[2020-08-28 11:42] ParulSharma2622 opened #1012 "Use different css for each instance connected with different branch of same repository"
**Is your feature request related to a problem? Please describe.**
I have created multiple amplify app's which are connected to a different branch foreg : **frontend-development** and **frontend-development-new** of same repository say **my-frontend-app**.

Now what I want to do is to have different styles for each instance. To overcome this problem I added a file which returns a json object havin

[2020-08-28 13:17] brenofrodrigues opened #1013 "Failed to Deploy"
** Please describe which feature you have a question about? **
Guys, We get this error on deploy.

2020-08-25T16:11:15 [INFO]: Updating Edge config
2020-08-25T16:11:16 [ERROR]: Failed to deploy
2020-08-25T16:11:16 [INFO]: Deployment finished.

I try increase BUILD_TIMEOUT, but no success.

** Provide additional details**

[2020-08-28 13:37] lorengordon commented on #1009
fwiw, pretty sure this is a duplicate: https://github.com/aws-amplify/amplify-console/issues/837

[2020-08-28 13:50] okaluhina opened #1014 "Custom headers absent for monorepo continuous deployment"
** Please describe which feature you have a question about? **
I am trying to add custom security headers. And adding customHeaders in amplify.yml works for traditional repo, but fails to add headers during monorepo deployment.

** Provide additional details**
This is my amplify.yml file:
[code]

[2020-08-28 14:32] karice commented on #1009
#837 is asking about adding authentication for the request to docker hub to avoid the rate limit which is 100 requests per 6 hours for anonymous access. We haven't even come close to hitting this limit. We were able to push a different build using the same image a few times but this one is hung up on this error and won't go thru.

[2020-08-28 14:35] aprilmintacpineda commented on #59
None of the solutions above worked perfectly. It's amazing how difficult it was to find a solution that worked, here's the regex that worked for me:

`</^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json|webp)$)([^.]+$)/>`

It will direct every request to index.html except for static files.

[2020-08-28 15:17] lorengordon commented on #1009
#837 is about exactly this error, I authored it, so I am quite certain. Any solution would be fine, having some way to set authentication is just one possible solution.

It's not _you_ hitting the limit. It's the amplify build service, and the IP that docker hub sees. Which is probably a small-ish pool of IPs across *all* amplify jobs.

[2020-08-28 15:29] hsspain commented on #1010
@vidhyasagarj SSL configuration can take up to 24 hours to complete. Please see the linked documentation and let us know if you still do not have an associated domain in that time frame.

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html

[2020-08-28 15:31] hsspain commented on #1011
@sp0033212000 At this time it is not possible to move an Amplify app to another region.

You could use CloudFormation to define your Amplify Console infrastructure so that it is easily replicable across accounts and regions.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/AWS_Amplify.html

[2020-08-28 15:32] hsspain commented on #1012
@Shivishika Can you provide your App ID and region? This sounds like a caching issue but we can help to debug.

[2020-08-28 15:34] hsspain commented on #1013
@brenofrodrigues There is an open bug currently which occurs when a total number of files for an app exceeds an internal limit.

We are actively working towards a solution for this and should have a fix live in the next few weeks.

[2020-08-28 15:35] hsspain commented on #1014
@okaluhina Can you please provide your App ID and region? I will start investigation this.

[2020-08-28 17:00] hsspain commented on #927
@alexkates Yes, that will work.

[2020-08-28 17:17] hsspain commented on #848
@thinhs Can you please share the redirect rule you are using?

[2020-08-28 17:19] hsspain commented on #889
Closing this ticket. Please let us know if you need further assistance.

[2020-08-28 17:19] #889 closed

[2020-08-28 17:27] alexkates commented on #927
Thanks... I'll give that a shot.

[2020-08-28 17:27] #927 closed

[2020-08-28 20:12] ehawk61 commented on #996
@hsspain The SSL configuration process is stalled after waiting 48 hours. Can you assist?

[2020-08-28 22:45] hsspain commented on #1015
@ywroh Can you provide your App ID and region? We will look into this for you.

[2020-08-29 04:17] daghanacay opened #1016 "I have deleted amplify project from console but environment URL is still active"
** Please describe which feature you have a question about? **
I have deleted Amplify console pipeline and created a new on on a same code base. older test branch URL was test.d3defgifiyxueg.amplifyapp.com new test environment URL is https://test.d2pa5dvahxqepk.amplifyapp.com/

they are both responding, how can I force remove service worker on client side after I move URL or the amplify applicatio

[2020-08-29 08:10] ywroh commented on #1015
Thank you for your interest in the issues I have registered.

I am wondering if there will be any security issues with the app ID and region information.

First of all, the region is ap-northeast-2.

[2020-08-29 08:35] Shivishika commented on #1012
@hsspain

here is the :

app id : d1uka8klqzvprn

region : ap-southeast-2

URl 1 : https://frontend-development-new.d1uka8klqzvprn.amplifyapp.com/

URL 2 : https://frontend-development.d1uka8klqzvprn.amplifyapp.com/

[2020-08-29 18:08] Redid commented on #206
For those who still have problems verify if you don't have whitespaces in front or at the end. This was my stupid issue, because of copy-paste. :+1:  for not adding this variables by hand :)

[2020-08-30 09:54] okaluhina commented on #1014
@hsspain thank you. App ID: d31kllttcnaaf0, region eu-west-1

[2020-08-30 18:51] lukehedger commented on #943
@ganipcanot Do you have a rough timeline of when this could be implemented? 🙏

[2020-08-31 05:03] eincs opened #1017 "Domain activation is Failed (Was originally connected to firebase)"
**App Id**: dsgpreubdr89w
**Region**: ap-northeast-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.
[code]

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.
[code]

**Additional information**
Please add any other relevant inform

[2020-08-31 07:09] teemuniiranen commented on #976
@cslogan-red It is soon two weeks since placing this issue.

[2020-08-31 13:57] zoosissoos commented on #963
Sent the information to the email provided.

[2020-08-31 14:21] ehawk61 commented on #996
Got a failure messaging saying the CNAME verification was not in my Route53 DNS record, double-checked the record and it exists. Retrying the SSL configuration process.

[2020-08-31 14:31] marko-asplund commented on #115
@litwicki Any news on next steps?

[2020-08-31 16:02] hsspain commented on #1017
@eincs I am sorry to hear you are having problems. It looks like the domain you are trying to add has already been associated with another CloudFront distribution. This could be another Amplify app or something outside of Amplify.

If you can, remove the association from the other distribution before you add the domain to your Amplify app.

[2020-08-31 16:03] hsspain commented on #1016
@daghanacay I am sorry to hear that you are having issues. The delete process is not immediate and may take a bit to complete.  Are you still seeing the same behavior?

[2020-08-31 16:08] hsspain commented on #851
Closing this ticket.  If there are further questions, please let us know.

[2020-08-31 16:08] #851 closed

[2020-08-31 16:10] hsspain commented on #823
Closing this ticket.  Please let us know if you have further issues.

[2020-08-31 16:10] #823 closed

[2020-08-31 16:11] hsspain commented on #822
Closing this ticket.  Please let us know if you have further issues.

[2020-08-31 16:11] #822 closed

[2020-08-31 16:11] hsspain commented on #798
Closing this ticket.  Please let us know if you have further issues.

[2020-08-31 16:11] #798 closed

[2020-08-31 16:18] hsspain commented on #779
Closing this ticket.  Please let us know if you have further questions.

[2020-08-31 16:18] #779 closed

[2020-08-31 16:21] hsspain commented on #996
@ehawk61 I will look at this right now.

[2020-08-31 16:28] litwicki commented on #115
@marko-asplund sorry we didn't respond again last week, we've been processing through all stages with our testing. However, we're planning to proceed this week with deploying to all regions. We will update this thread when we have more concrete detail.

[2020-08-31 16:40] hsspain commented on #996
@ehawk61 It looks like the validation timed out on the new certification. You will need to update your CNAME verification records when you remove/add a custom domain.  Please try again today and we will keep an eye on it for you as well.

[2020-08-31 16:55] mbast100 commented on #987
@cslogan-red  that makes sense ! Thank you so much, updating the base directory worked :)

<img width="681" alt="Screen Shot 2020-08-31 at 12 53 14 PM" src="https://user-images.githubusercontent.com/44484872/91745547-1f83ce00-eb89-11ea-9ed7-0bed640f2228.png">

[2020-08-31 16:55] #987 closed

[2020-08-31 17:54] cslogan-red commented on #976
@teemuniiranen our customer on-call this week will take a look at this for you, as of now I see two custom domain CF distributions (one for each app Id you provided) and each is configured for the same domain root, I'm not seeing any ADN's (prefixes) configured on either distribution, so these are conflicting w/ each other.

I would delete both of the custom domains you added to the Console and ad

[2020-08-31 18:04] ehawk61 commented on #996
Removed the CNAME record in AWS Route53 and restarted the SSL verification

[2020-08-31 19:56] xavierraffin opened #1018 "Domain activation is Failed - CNAMEs already associated"
**App Id**: d1w6ukzxsonliz
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
After removing a previous cloudfront distribution I still cannot associate the domain to AWS Amplify console.
I did the change on Friday and retrying today still failed.
I deleted the CF distribution and other CNAMES (and even the A record pointing to the CF)

**Error message**
[code

[2020-08-31 20:01] swaminator commented on #1016
@daghanacay test.d3defgifiyxueg.amplifyapp.com can no longer be accessed.

[2020-08-31 20:01] #1016 closed

[2020-08-31 20:02] swaminator commented on #1015
@ywroh you have two choices:

1. Commit the `awsexports.js` file to your repo.
2. Add the backend phase to the buildspec: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#frontend-with-backend

[2020-08-31 20:27] hsspain commented on #996
@ehawk61 Can you remove the custom domain, re-add the domain, then verify that the CNAME records are correct in Route 53?  Retrying the process may not work in this case.

[2020-08-31 20:39] #1018 closed

[2020-08-31 20:39] xavierraffin commented on #1018
Solved

[2020-08-31 22:11] ehawk61 commented on #996
Removed, re-added and verified the CNAME records match both in Route53 and Google Domains.

[2020-08-31 23:37] ehawk61 commented on #996
First domain cleared. Did the above steps for the 2nd domain, currently waiting for SSL Configuration

[2020-09-01 05:20] teemuniiranen commented on #976
@cslogan-red ok, these are conflicting each other even "exclude root" has been selected. I try again one at a time. Thank you!

[2020-09-01 06:56] ywroh commented on #1015
Thank you for answer. Let's work well with reference.

[2020-09-01 07:27] daghanacay commented on #1016
Hi @swaminator,

Yes the environment is fine. Thanks for checking. My question still exist though. Is there a way to uninstall service workers in client browsers.

Problem is, although the URL doors but exist, workers continue to work offline and provide the old content to the users. I want the workers associated to that domain to be uninstalled as well. If it is at all possible.

[2020-09-01 08:25] Shivishika commented on #1012
can somebody look into this and help me to find a better solution to achieve this requirement.

[2020-09-01 12:52] bvirlet opened #1019 "404 Rewrite returns XML Access Denied page. 404 Redirect works properly."
Hello,

We want to display a 404 page without changing the URL if someone tries to access a non-existent URL. To achieve this, we thought we could rely on 404 Rewrite rules.

As our last redirect rule we have set up a 404 rewrite rule:

<img width="1522" alt="image" src="https://user-images.githubusercontent.com/792706/91853368-60034a80-ec62-11ea-9952-56408c8e96ff.png">

This breaks and returns an

[2020-09-01 13:24] teemuniiranen commented on #976
@gwryssekk I deleted the domain from both application. Subdomain is configured now only on dtsnuk3sgyg34 with "exclude root" option but Domain activation part fails with the same error. Host name is resolving to correct cloudfront domain name.

[2020-09-01 14:14] pabloroz commented on #997
Hi, is there anyway I can help with this? It's important to one of our customers

[2020-09-01 14:19] jlcampos-iies commented on #97
Same problem here... stopping an ec2 and starting amplify... everything ok except some issues... one of them refer to authentication from usr/pwd provider during user registration with specific token and tokenId sent by email to the user.... then the user confirm from email through url similar to https://example.com/confirmRegistry?token=value1&tokenId=value2

Adding trailing slash seems not to so

[2020-09-01 16:26] bill-medved commented on #1007
Hello - do you have a status on this?  I have now connected 3 Route 51
Amplify sites w/o any issues.

I have invested in this domain name from a band name equity perspective,
and I still can't use it.

Please advise

Thank you

On Thu, Aug 27, 2020 at 3:59 PM Bill M <bill.medved@gmail.com> wrote:

[2020-09-01 16:44] #1015 closed

[2020-09-01 17:09] gwryssekk commented on #1019
Hi @bvirlet.  Sorry you are running into this.  I'll take a look and get back to you.

[2020-09-01 17:12] gwryssekk commented on #1014
Hi @okaluhina.  We've identified a bug here and are working on a fix.

[2020-09-01 18:38] alexkates commented on #685
+1

[2020-09-01 18:48] gwryssekk commented on #1012
Hi @Shivishika.  I am looking into this.  Can you help me better understand the issue?  I noticed that both branches return identical css files (static/css/main.7ff68380.chunk.css) with identical contents.  Is the expected behavior that each branch should have a different css file or should it be the same file but have different contents, or something else?

[2020-09-01 18:52] slatemates commented on #440
Yes it helped in a create react app build . Thanks

[2020-09-01 18:53] raveendradarsi opened #1020 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d3921pv3pvowra
**Region**: us-west-2
**Step**: SSL configuration
**Status**: Running

Domain Activation is taking very long time

[2020-09-01 21:11] #1011 closed

[2020-09-02 00:57] hamidgh opened #1021 "AWS doesn't show my app. It shows JS exceptions in chrome console"
When I go to my app, it shows almost an empty page
![image](https://user-images.githubusercontent.com/2271701/91919915-1845e880-ec8d-11ea-99ba-e0dca82e1f6a.png)

When I open the chrome dev console, it shows bellow error:
![image](https://user-images.githubusercontent.com/2271701/91919891-07957280-ec8d-11ea-9be0-9993b88cbe27.png)

Would you please help me understand what is wrong here?

[2020-09-02 00:58] hamidgh commented on #964
I had to change it like this:

preTest:
      commands:
        - npm ci
        - npm install wait-on
        - npm install pm2
        - npm install mocha mochawesome mochawesome-merge mochawesome-report-generator
        - npx pm2 start npm -- start
        - 'npx wait-on http://localhost:3000/#/'

[2020-09-02 00:58] #964 closed

[2020-09-02 02:01] hamidgh commented on #1021
I found the issue,
I had to remove the version 0.1 on the yml file.
But it should not return JS Exception for the page. It should give the user an appropriate error on the screen. I read the chrome dev tool to understand and fix the issue

[2020-09-02 05:11] Shivishika commented on #1012
yes, it's expected behaviour that each branch should have different css  i.e.. each instance will have identical functionalities but UI will be different. So I will create multiple amplify apps with each branch.

When I checkout different branches on my local then it works perfectly fine and shows desired output but when it's deployed to amplify then it doesn't.

Do I need to setup some build sett

[2020-09-02 07:27] bvirlet commented on #1019
Thanks

[2020-09-02 11:52] ambriglia commented on #685
I honestly can not fathom why the amplify team would not have .net core support on their build images by default. It feels like a major oversight to me.

@CoreyPritchard FWIW, the workaround my awesome team member, @alexkates , came up with was to create our own custom build image. See details here, https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html

[2020-09-02 12:00] alexkates commented on #685
In an attempt to save someone several hours... here is the step-by-step procedure to get this to work.

1. `git clone https://github.com/aws-amplify/amplify-console.git`
2. `cd images/latest && docker build -t amplify-console/buildimage:latest .`
3. Create your own Dockerfile with the following...
[code]
4. Build and push your image to Dockerhub.
5. In the Amplify Console, wire up your custom imag

[2020-09-02 12:06] alexkates commented on #676
I know this ticket is closed, but our team ran into this issue yesterday. We weren't big fans of changing the build script to support this, because that would require dotnet core to be installed on every build. We opted to swap in a custom docker build image. I wrote up the steps we performed to handle this here: https://github.com/aws-amplify/amplify-console/issues/685#issuecomment-685684624

[2020-09-02 12:25] soumik-mukherjee commented on #991
@ilyador I am running a few gatsby projects on amplify, havent come across a similar issue though. I have plenty of stuff going on in my `gatsby-browser` api over rides, routing works (both dynamic client-only routes as well as pre-compiled gatsby static routes).
It would be interesting to have a look at that sample repo.

[2020-09-02 13:47] ehawk61 commented on #996
Issue resolved. Closing issue.

[2020-09-02 13:47] #996 closed

[2020-09-02 19:41] swaminator commented on #206
@ianmartorell good feedback. We are updating the docs with the relevant info: https://github.com/awsdocs/aws-amplify-console-user-guide/pull/36

[2020-09-02 23:33] gwryssekk commented on #1021
Hi @hamidgh.  Thank you for reporting this.  Can you elaborate a bit more on "I had to remove the version 0.1 on the yml file along with the old steps".  I'd like to understand the opportunity we have to improve the customer experience and understanding your issue a bit more could help with that.

[2020-09-02 23:39] gwryssekk commented on #1020
Hi @raveendradarsi.  I see that the domain associated with this app resolves.  Are you still experiencing issues?

If you haven't already done so, please check out our troubleshooting guide for custom domain issues: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

[2020-09-02 23:48] gwryssekk commented on #1012
@Shivishika .  Thanks for the info.  I'm still having a bit of an issue understanding the use case.  You mention:

_Now what I want to do is to have different styles for each instance. To overcome this problem I added a file which returns a json object having information regarding which css file will be loaded for that particular branch and it's working as expected. I am getting desired output whe

[2020-09-03 03:07] Alk3m1st commented on #1014
Just to add to this, I'm also experiencing this issue when attempting to add a CORS policy with an Access-Control-Allow-Origin customHeader. Hopefully the fix is not far off.

[2020-09-03 04:54] teemuniiranen commented on #976
@gwryssekk I retried in the console just but I got the same error. Something went wrong. Please refer to our troubleshooting guide below to diagnose the issue. After fixing the issue, choose retry below. If retrying fails, please create an issue in our GitHub issue tracker.
Error message: One or more aliases specified for the distribution includes an incorrectly configured DNS record that points t

[2020-09-03 04:55] ParulSharma2622 commented on #1012
The reason for having different css rules for each branch is I am developing an application which can be used by multiple brands and each brand will have their own style i.e.. css but functionality remains same across all the domains.

To achieve this functionality, I decided following workflow :

1. Suppose I have 3 brands i.e.. brand A, brand B, and brand C
2. I will create three different branc

[2020-09-03 12:10] christodupreez opened #1022 "Auto-build failing"
I started getting build failures with the message below:

**There was an issue connecting to your repo provider, click "Re-authenticate app" in General Settings, and then try your build again.**

I re-authenticated the app but still no luck.

The cloning repository log shows the following and hangs for long before failing:

[code]

Any other suggestions?

[2020-09-03 13:31] hamidgh commented on #1021
My yml file looked like this:
`version: 1
frontend:
  phases:
    preBuild:
      commands:
        - yarn install
    build:
      commands:
        - yarn run test --watchAll=false && yarn run build
  artifacts:
    baseDirectory: build
    files:
      - '**/*'
  cache:
    paths:
      - node_modules/**/*
test:
  artifacts:
    baseDirectory: cypress
    configFilePath: '**/mochawesome.json'

[2020-09-03 14:19] cjmartin commented on #316
Also not seeing this option, is there a way to get it back without recreating our app? We're in us-west-2 if that might have something to do with it...
<img width="604" alt="image" src="https://user-images.githubusercontent.com/936/92127005-192a6780-edbe-11ea-83b6-5e1bff393edb.png">

[2020-09-03 15:55] rghamilton3 opened #1156 "Project name validation inconsistency"
**Describe the bug**
Amplify CLI produces project name error after using the console to set a project's name to include non-alphanumeric characters.

**Amplify CLI Version**
4.28.0

**To Reproduce**

1. Create a project via `amplify init` and set name to _companyswebsite_
2. Using the console set the name to _Compay's Website_
3. Try to configure the project via `amplify configure project`

**Expe

[2020-09-03 16:59] gwryssekk commented on #1022
Hi @christodupreez.  Sorry you are experiencing this.  Has anything changed in your amplify.yml recently?  Also, can you provide me with your application ID and region so that I can take a look at the app?

[2020-09-03 17:32] swaminator commented on #219
@mwarkentin @adamaltman this is supported: https://aws.amazon.com/blogs/mobile/automatically-create-and-delete-custom-sub-domains-for-your-branch-deployments-with-amplify-console/

[2020-09-03 18:24] pchevallier opened #1023 "function Python backend build failure"
I've been pretty succesfull building and using a NodeJS function without any issues but when it comes to Python, I'm running into some packaging issues.

This is a copy of the messages from the console when the backend tries to build :

[code]

**To Reproduce**
1. Create a function Python base
2. commit and push your code into github
3. wait for the build to execute, and ultimately fail:
4. See er

[2020-09-03 19:11] gwryssekk commented on #1021
Ok, thanks, @hamidgh.  We'll create a backlog item to fix this.

[2020-09-03 19:20] 719media commented on #1018
Sooo, care to enlighten anyone with what the solution was?

[2020-09-03 20:58] #1012 closed

[2020-09-03 21:51] tom-huguenard opened #1024 "Amplify CI does not build front end"
** Please describe which feature you have a question about? **
![image](https://user-images.githubusercontent.com/20403116/92177100-7564aa00-ee05-11ea-9316-86f4d867514e.png)

** Provide additional details**
version: 1
backend:
  phases:
    build:
      commands:
        - '# Execute Amplify CLI with the helper script'
        - amplifyPush --simple
frontend:
  phases:
    preBuild:
      commands

[2020-09-03 21:54] swaminator commented on #1024
@tom-huguenard there's sometimes a UI bug that occurs. Can you try refreshing hte page or clicking on the URL for the site?

[2020-09-03 21:57] swaminator commented on #1023
@pchevallier please refer to https://github.com/aws-amplify/amplify-console/issues/595#issuecomment-633165993. We will be adding support for 3.8 in the container shortly. Closing this issue. Please track there.

[2020-09-03 21:57] #1023 closed

[2020-09-03 23:16] xavierraffin commented on #1018
I had to delete domain association and recreate it from the beginning in Amplify console. The retry button was not enough

[2020-09-04 04:32] christodupreez commented on #1022
Hi @gwryssekk, I recently updated my Amplify CLI.

My amplify.yml file has not changed as far as I know.

I have two apps doing the same, their ids are d3fzcbhjzhy0vx and dalkyjjnj26u4, the region is eu-west-2

[2020-09-04 05:54] ParulSharma2622 commented on #1012
Why this issue has been marked as CLOSED. I haven't get any solution yet. @swaminator

[2020-09-04 10:09] divya12391 opened #1025 "Domain activation is Failed - [Error message: One or more of the CNAMEs you provided are already associated with a different resource]"
**App Id**: d3inwlgcgg1zwo
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-09-04 14:28] pchevallier opened #1026 "No more File Storage information displayed any longer"
**Issue Description**
Although it is properly listed on the CLI (see below), the File storage view does not display the details
All the other tabs (Overview, Authentification,...) work just fine.
![Screen Shot 2020-09-04 at 10 18 01 AM](https://user-images.githubusercontent.com/20049529/92249364-f7051800-ee97-11ea-8921-1df3dbe5b105.png)

 **Detailed Steps To Reproduce**
I have no idea how to repro

[2020-09-04 15:37] paya-cz opened #1027 "Hosted woff2 fonts have wrong content type"
I use Amplify managed hosting for my Angular project. The project assets include a .woff2 fonts that are deployed together with the app.

Amplify hosting serves the font with `application/octet-stream` content-type, while the correct content type is `font/woff2`.

I don't see a way in the console to change the content type of individual files or files based on extension. The only workaround is to

[2020-09-04 16:45] gwryssekk commented on #1025
Hi @divya12391 .  This error occurs when you are attempting to associate a domain to a cloudfront distribution when it is already tied to another distribution.  Do you have other cloudwatch distributions associated with this domain name?

[2020-09-04 16:50] gwryssekk commented on #1027
Hi @paya-cz .  We have an update in progress of some of our hosting functionality and it has upgraded the way content-type is set.  I will verify that the upcoming process handles .woff2 fonts correctly.

[2020-09-04 18:44] drake-smith opened #1028 "Webhook fails when triggered by Contentful CMS"
**App Id**: #######
**Region**: us-east-1

**ISSUE**
I created a webhook in Amplify and added it to the Contentful CMS to trigger on any content publishes. The webhook fails (see error response below). It DOES work when I manually trigger it with the cURL command. It is extremely important that this webhook works when the content editors publish updates to the website.

Here is the response:
Respo

[2020-09-04 20:29] drake-smith commented on #1028
Update: Closing this as I was able to update and get it working.

For anybody who might be adding their Amplify webhook to Contentful, make sure to update the Content Type in Contentful to 'application/json'. By default it does not use that.

[2020-09-04 20:29] #1028 closed

[2020-09-04 20:39] drake-smith commented on #604
@litwicki  Hi, wanted to follow up to see if this is on the roadmap and if there is any update?

[2020-09-04 21:13] gwryssekk commented on #97
Hi @jlcampos-iies -- Can you give more detail on your use case?  What is the expected result when the user tries to confirm via https://example.com/confirmRegistry?token=value1&tokenId=value2 and what is the actual result?

[2020-09-05 06:31] jlcampos-iies commented on #97
Hi @gwryssekk , parameters are used into component to run the provider function that confirms the registry...

`params = new URLSearchParams(window.location.search);`
`token = this.params.get('token');`
`tokenId = this.params.get('tokenId');`

`ngOnInit(){`
`confirmUser(this.token, this.tokenId)`
`.then( () => {`
`... `
`})`
`.catch( err => console.log(err));`
`}`

The confirmUser function its an

[2020-09-06 10:59] divyavanmahajan opened #1029 "Amplify Monorepo + Cloudformation - Error: V2 amplify.yml found with multiple appRoots and no target appRoot set"
To reproduce

1. Create a monorepo setup with a single folder webapp. The webapp folder has a build.sh - which creates a simple webpage.
2. Amplify.yml at the root - with a single appRoot entry for webapp
3. Use Cloudformation to create an Amplify App and branch for this.
4. Build the branch. In the build phase, Cloning step - you get an error.

[code]

[code]

[code]

[2020-09-06 11:03] divyavanmahajan opened #1030 "Amplify monoRepo + AWS CLI - no support for appRoot when creating a branch."
AWS CLI does not support setting the appRoot when creating an Amplify Branch.
Version:

[code]

[2020-09-06 18:20] netmarkjp opened #1031 "`amplifyPush --simple` failed with error `TypeError: Cannot read property 'join' of null`"
** Please describe which feature you have a question about? **

- amplify: 4.29.0
- amplifyPush.sh: 82724ef
- frontend: react(typescript), yarn
- backend: API, function(go)
- build/deploy on amplify console

I've got the error "TypeError: Cannot read property 'join' of null" while `amplifyPush --simple`.
Finally, I found workaround below.
I don't know why these errors occurred, and why I can avoid

[2020-09-07 04:25] ParulSharma2622 opened #1032 "Use different css for each instance connected with different branch of same repository"
Is your feature request related to a problem? Please describe.
I have created multiple amplify app's which are connected to a different branch foreg : frontend-development and frontend-development-new of same repository say my-frontend-app.

Now what I want to do is to have different styles for each instance. To overcome this problem I added a file which returns a json object having information re

[2020-09-07 05:43] karimjp commented on #331
Any updates?

[2020-09-07 06:02] FelixRe0 commented on #97
Use `https://example.com/confirmRegistry/?token=value1&tokenId=value2` and it will work. Notice the / before the query parameters.
Still, the amplify team should make any url work...

[2020-09-07 06:04] teemuniiranen commented on #976
@cslogan-red & @gwryssekk have you checked what might be the issue? Thanks!

[2020-09-07 11:11] sindhukp commented on #509
Any updates regarding this?

I set  _BUILD_TIMEOUT to 180  in the environment variable but still timeout in 60 min.

[2020-09-07 11:41] bvirlet commented on #1019
Hi @gwryssekk,

Do you have any update on this?

Thanks!
Bruno

[2020-09-07 14:34] Oscarsgc opened #1033 "Can't connect custom subdomain with amplify application"
**App Id**: d35aybm0j2pzux
**Region**: us-east-1
**Step**:
**Status**: Available

**Issue/question**
The configuration has been completed in both Amplify and 3rd party dns service(Namecheap) but the redirection is not getting complete, I have created two subdomains but none of them seems to be working.

As you can see in the screen shot, there are no errors but would like to know if we are missing

[2020-09-08 04:39] ParulSharma2622 commented on #1032
anyone looking into this.?

[2020-09-08 07:05] nino-moreton commented on #742
Is there a PR / issue I can follow on this? Just because there's a hacky workaround doesn't mean the issue is resolved. Not to mention the author opened another issue related to this that the only solution was to move out of using Amplify Console @abhi7cr

[2020-09-08 13:01] vidhyasagarj commented on #459
Any update on this! stuck with the same issue

[2020-09-08 13:08] teemuniiranen commented on #976
@cslogan-red & @gwryssekk it is now 3 weeks since opening the issue. Integration with 3rd party DNS shouldn't be this hard. This is holding us from production roll out.

[2020-09-08 13:23] marko-asplund commented on #115
@litwicki Any news on this? 😃

[2020-09-08 17:17] mansiva commented on #171
Hello, we're facing the same issue.

I added access control individually per branch but password wasn't being asked for everyone, maybe due to caching. So I removed access control from all branches but password it still being asked a few hours after the change was made, does anyone know if there's a delay or something? I've tried clearing the local cache and using a different device in incognito b

[2020-09-08 18:26] nimacks commented on #1029
@divyavanmahajan, thanks for reporting this issue, we are investigating and will update this ticket shortly.

[2020-09-08 18:27] nimacks commented on #1033
Thanks for reporting this issue, we're investigating and will update this ticket shortly

[2020-09-08 18:55] teemuniiranen commented on #976
@nimacks I saw your response in https://github.com/aws-amplify/amplify-console/issues/1033. Sounds like similar issue here also.

[2020-09-08 19:42] mwarkentin commented on #56
@swaminator We have a similar (but not directly related issue) where we would like to replace an email-validated ACM certificate with a DNS-validated certificate, however our Amplify Console applications are connected to the email-validated cert with no way to swap out for the newer one.

We want to delete (or let expire, delete preferable) the old email-validated cert but we can't do so until we'

[2020-09-08 20:03] nimacks commented on #1030
Hi, @divyavanmahajan the amplify console defines how to build your app via the build spec. It looks something like this. This is where we define the appRoot.

[code]
You can view the build spec via this CLI command `aws amplify get-app --app-id [APP-ID] --region [REGION]`

To update you can run something like this `aws amplify update-app`.

See here for syntax details : https://docs.aws.amazon.com

[2020-09-08 20:07] nimacks commented on #1032
@ParulSharma2622 can you provide details of the file returning a JSON object for switching? Also, describe how you are switching between local branches locally.

[2020-09-08 20:19] nimacks commented on #1026
Thanks for reporting this issue. We will try and reproduce the issue.

[2020-09-08 22:50] nimacks commented on #1031
Thank you for the feedback, we'll use this information to improve how Amplify works.

[2020-09-08 22:50] #1031 closed

[2020-09-09 00:48] #1010 closed

[2020-09-09 01:00] niknokseyer commented on #44
Can the limit be increased? We are using it so that each account have their own subdomain.

[2020-09-09 01:02] dtelaroli commented on #44
I have tried and received no as answer

[2020-09-09 03:50] litwicki commented on #115
@marko-asplund we're beginning to roll out to all regions this week, under extreme caution. As new regions are available we will update this thread. Thanks for checking in and keeping me honest!

[2020-09-09 09:07] ParulSharma2622 commented on #1032
To achieve this functionality, I decided following workflow :

1. Suppose I have 3 brands i.e.. brand A, brand B, and brand C
2. I will create three different branches from master (master will always have latest code but I will not use master to deploy on production due to some reasons). So now I have three branches i.e.. branch_a, branch_b and branch_c. I used these three branches to create ampli

[2020-09-09 12:34] dragosiordachioaia opened #1034 "Amplify Console is blank all of a sudden"
I have a few projects all running fine on Amplify, but for one of them, about a week ago, the main console view started showing a blank page.

All of the other projects work completely fine.

All of the sub-pages on the problem project also work fine (General, Domain Management, Previews etc) if I navigate to them directly, but they do also break depending on what sequence of pages I go through. T

[2020-09-09 12:45] dragosiordachioaia commented on #1034
After further investigation, it turns out that the problem was caused by the YAML file uploaded to the "build settings" section, which had a duplicated section. This happened because when doing Cmd+a in the editor, and then "paste", "delete" or really anything else, it doesn't actually delete the selected content, it just ignores it.

This highlights 2 things:
1) Having an error with the YAML file

[2020-09-09 13:30] mansiva commented on #171
In case anyone else has the issue I was able to resolve by setting a new password for the branches that had issues, waiting a bit (not sure if that's necessary) and then removing the password.

[2020-09-09 14:46] jlcampos-iies commented on #97
Hi everyone!

Adding from backend / before the query parameters had desired effect.

Thanks again!

Regards,
Jose Luis Campos

[2020-09-09 15:27] Jattwood90 opened #1035 "Domain activation is Failed - CNAME associated elsewhere."
**App Id**: dwskx68os089p
**Region**: eu-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Repeated failure of domain activation.

**Error message**
One or more of the CNAMEs you provided are already associated with a different resource.

**Additional information**
Domain name was originally associated with an S3 bucket for a Flask app that I have since deleted. I have trie

[2020-09-09 17:24] pabloroz opened #1036 "Disable TLS 1.1"
**Is your feature request related to a problem? Please describe.**
TLS 1.1 is now considered insecure.
Amplify offers 1.2 and 1.3 but it would be much better if TLS 1.1 is disabled

**Describe the solution you'd like**
Disable TLS 1.1

**Additional context**
https://blog.mozilla.org/security/2018/10/15/removing-old-versions-of-tls/

[2020-09-09 19:35] rpostulart opened #1037 "Speed up deploying to test Content Security Policies"
Via the build settings in de AWS Amplify Console you can set Content Security Policy Headers in the customer headers section.

But setting and testing headers is sometimes trail and error. To deploy each time takes 10 minutes approx. Is there a way to speed this up?

[2020-09-09 21:31] Athena96 commented on #1014
Hi @okaluhina thank you for your patience. We have deployed a fix to the region your app is in. Can you please try adding custom headers again and let us know if your issue is resolved? Thanks!
(the fix will be deployed to all of our regions by the end of the week)

[2020-09-10 05:22] ea-tal commented on #262
same here.
we're switching from amplify because of this.

[2020-09-10 07:33] bekatom commented on #281
Same problem here, Any solutions?

[2020-09-10 08:08] christophebeling commented on #595
I'm astonished that there is still no fix for this. Pretty disappointing.

[2020-09-10 08:10] roeemz commented on #595
@christophebeling , its pretty crazy that practically Amplify Console is broken and this is not getting a fix...
Even if this fix requires some cross-teams work.

[2020-09-10 11:41] vankessel-it commented on #115
@litwicki That sounds great, I hope it works, we've just added a new language to our website and it won't deploy anymore.

![image](https://user-images.githubusercontent.com/47424895/92724378-cb3bd380-f36a-11ea-9146-bdddc238cad9.png)

[2020-09-10 13:31] danielmhair commented on #581
For those in the future that might have this issue where it gives a 403 when doing a request to the API Gateway setup by amplify, I had to make sure that the body I sent to the request (for a GET request was null). For some reason, I was passing in an object with a GET request. I received this issue. When setting the body to null for GET requests, it fixed this.

[2020-09-10 15:25] siegerts commented on #595
@christophebeling @roeemz , the build has been working fine utilizing the solution mentioned above (i.e. swapping the build image). This can be done with the https://hub.docker.com/r/nikolaik/python-nodejs/ or your own.

[2020-09-10 15:30] okaluhina commented on #1014
@Athena96 working like a charm, thank you.

[2020-09-10 19:07] Jattwood90 commented on #1035
Just to add to this, I have checked my Cloudfront distribution settings and there is nothing there. I have deleted the CNAME records again and still nothing appears to change.

[2020-09-10 20:16] nimacks commented on #1034
@dragosiordachioaia we're working on fixing this.

[2020-09-10 20:18] nimacks commented on #1036
@pabloroz, Thanks for submitting this request. We'll review and get back to you.

[2020-09-10 20:23] nimacks commented on #1035
Hi @Jattwood90, I've located the CloudFront Distribution associated with the domain. Please look out for an email with this information.

[2020-09-10 20:27] nimacks commented on #1030
Hi @divyavanmahajan  is this still an issue for you?

[2020-09-10 20:43] #997 closed

[2020-09-10 22:49] Athena96 commented on #1014
Great! Going to close this issue, feel free to re-open if you face another related issue.

[2020-09-10 22:49] #1014 closed

[2020-09-11 05:07] swaminator commented on #1019
@bvirlet do you have a `404.html` file at the root?

[2020-09-11 05:10] #43 closed

[2020-09-11 05:13] swaminator commented on #217
This is fixed. @stefangomez

[2020-09-11 05:13] #217 closed

[2020-09-11 05:16] swaminator commented on #404
Fixed.

[2020-09-11 05:16] #404 closed

[2020-09-11 05:38] #989 closed

[2020-09-11 05:39] #981 closed

[2020-09-11 05:39] #888 closed

[2020-09-11 05:41] #930 closed

[2020-09-11 05:41] #946 closed

[2020-09-11 05:41] #1002 closed

[2020-09-11 05:41] #1017 closed

[2020-09-11 05:42] #1020 closed

[2020-09-11 05:42] #1022 closed

[2020-09-11 05:42] #1024 closed

[2020-09-11 05:44] #818 closed

[2020-09-11 05:46] swaminator commented on #660
Closing this issue in favor of #115. We are in the process of deploying an update to fix deploy failures. Please track progress there.

[2020-09-11 05:46] #660 closed

[2020-09-11 05:47] #689 closed

[2020-09-11 05:48] #776 closed

[2020-09-11 05:48] #783 closed

[2020-09-11 05:48] #787 closed

[2020-09-11 05:49] #819 closed

[2020-09-11 09:00] travispaxton opened #1038 "Amplify behind Cloudfront"
** Please describe which feature you have a question about? **

I'm trying to use an Amplify app as an origin for Cloudfront. I'm aware that there are issues with using Cloudfront in front of other Cloudfront/API Gateway setups when you try to pass headers like Host to the origin. In my case, I'm not passing any headers whatsoever. When I visit the Cloudfront domain (e.g. example.com), the URL is

[2020-09-11 12:13] bryantbiggs commented on #833
@Athena96 - any update on this? we will have to eject from Amplify because we can't pass security requirements without being able to make adjustments to the TLS/SSL versions/cipher suites utilized

[2020-09-11 12:14] bryantbiggs commented on #1036
@nimacks we will have to eject from Amplify because we can't pass security requirements without being able to make adjustments to the TLS/SSL versions/cipher suites utilized

[2020-09-11 12:15] bryantbiggs commented on #56
@swaminator - any update on this? we will have to eject from Amplify because we can't pass security requirements without being able to make adjustments to the TLS/SSL versions/cipher suites utilized

[2020-09-11 16:12] divyavanmahajan commented on #1030
The comment above is documented and I have used it to create a multi approot amplify build script.
appA
appB

As part of the build I need to create two separate Amplify apps. One for appA and another for appB

What is the CLI to create Amplify app for the approot appA.
What is the CLI to create Amplify app for the approot appB

[2020-09-11 17:35] dragosiordachioaia opened #1039 "Deployment fails with no error message"
I added Cypress tests to my build process about a week ago, and initially it worked. Then I added visual snapshots to my tests, which produce .png artifacts, as well as the .mp4 ones normally generated by Cypress. I am skipping these tests on my master branch (via a Node.js script), but the snapshots are always there. This leads to 2 situations:
- PR previews run the tests ok, but fail on deployme

[2020-09-11 22:32] swaminator commented on #569
@MatiMenich we had an issue in the latin american regions previously and recently fixed this. Closing this issue. Please reopen if its still a problem.

[2020-09-11 22:32] #569 closed

[2020-09-11 22:54] swaminator commented on #1032
@ParulSharma2622 this is something specific to your app. You can use config within your application to determine which css to load. We cannot provide a recommendation on a specific workflow.

[2020-09-11 22:54] #1032 closed

[2020-09-11 23:21] #829 closed

[2020-09-12 00:14] chris opened #1040 "Query parameters being removed and redirected"
** Please describe which feature you have a question about? **
This likely falls under the Rewrites category...

** Provide additional details**
I have a Nuxt app that has a page that can accept query parameters. This page works fine if it gets navigated to from another page within the app (e.g. I do this: `this.$router.push({ path: '/somepage', query: { someparam: somevalue } })` . But if I direc

[2020-09-12 01:42] garrettpinto commented on #1007
Having the same issue, any update on resolving this issue?

[2020-09-12 01:42] garrettpinto commented on #1008
Having the same issue, any update on resolving this issue?

[2020-09-12 02:16] bill-medved commented on #1007
I removed the hosted domain again - had R 53 create it again, and it still
can't find it...

On Fri, Sep 11, 2020 at 6:42 PM garrettpinto <notifications@github.com>
wrote:

[2020-09-12 04:32] SFaraji opened #1042 "Issue in connecting feature branch to Amplify"
I'm trying to add a new feature branch to our amplify project, but when I'm trying to "Add repository branch" it failed and return a Failed to load resource: the server responded with a status of 404 () and doesn't allow us to add any branches, but our limit for adding branches is the default 50.

Please advise what to do.

![image](https://user-images.githubusercontent.com/6940197/92987299-a84527

[2020-09-12 22:15] denonade commented on #36
@tchalvak, Is it feasible that pointing the public domain name of Amplify app in Cloudfront as orgin? If so,  is the traffic pass through internet back and forth to Amplify ?

[2020-09-13 00:47] akabynga commented on #214
Hi there, did you resolve the issue? I have the same :)

[2020-09-13 00:56] tchalvak commented on #36
As long as you pick the non-amplify, cloudfront hosting, you can attach a waf to that cloudfront.  If you use the amplify as an origin for a cloudfront, I haven’t tried that, and would expect it to get very annoying because I expect amplify hosting is an invisible cloudfront of theirs. With amplify hosting you do not have a bucket under your control.

So then you would be pointing a cloudfront ori

[2020-09-13 02:48] garrettpinto commented on #1007
Did you verify the servers are the same by using this link?

https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#my-domain-hosted-with-amazon-route-53-is-stuck-in-the-pending-verification-state

"My domain hosted with Amazon Route 53 is stuck in the Pending Verification state"

[2020-09-13 09:33] SandeepKoparde opened #1043 "Amplify Tutorial: Error while deploying build using AWS Amplify Console"
[AmplifyError.txt](https://github.com/aws-amplify/amplify-console/files/5213868/AmplifyError.txt)

I am trying to execute the tutorial at:
https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/

I am able to get through first 2 modules and most of module 3,
I am able to run the app locally after adding the auth module.

However, after committing the code to GitHub, the au

[2020-09-13 13:58] Jattwood90 commented on #1035
Thanks @nimacks. The details you provided me in the email relate to my account, but I am still unable to find the distribution you refer to, on my console. According to my account I have no Cloudfront distributions set up.

I've noticed that I have the exact same problem as this issue that was raised: https://github.com/aws-amplify/amplify-console/issues/797 - which didn't have a solution rather s

[2020-09-13 15:47] blazinaj commented on #36
Yeah, we currently are hosting using the Amplify CLI Hosting Category with Cloudfront and attached our WAF and it works fine. We then just manually cloned the Amplify Console CI functionality using AWS Code Pipeline and stopped using Amplify Console.

You can use the Amplify Console CF as your own Cloudfront Origin, but since you can't configure the Amplify Console managed Cloudfront distribution,

[2020-09-13 16:07] Jattwood90 commented on #1035
Right, progress. Have found a way of identifying the distribution - resource-groups/tag-editor/find-resources - this gave me the ability to search by the number.

Solved one problem and found another... Having tried to delete the CF Distribution, I'm prompted with the response that the delete failed:
"Deleting RestApi auvccspw0k failed. Please remove all base path mappings related to the RestApi i

[2020-09-13 16:25] yinlinchen commented on #856
@sean-smith @lorengordon @abhi7cr  I create a [amplify-preview-actions](https://github.com/marketplace/actions/amplify-preview-actions) for this. Basically, you can define your own rule (e.g. combine GitHub review_requested, tags and pull_request) to trigger this GitHub action to deploy a version in your Amplify app console with either a existing backend env or other backend env under the same Amp

[2020-09-13 19:07] maiconcarraro commented on #214
hey @akabynga yeah, there are 2 approaches:

1 - Unregister service worker, it will prevent caching. On your `app.js`:

[code]

2 - Manage to reload everytime has a new registration (automatically), during register you can send onUpdate logic
[code]

[2020-09-14 02:25] sledwith opened #1044 "Domain activation is Failed - CNAME Exists Error"
**App Id**: dl7f5usz6ipk4
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-09-14 07:53] Kyohey-Kondo commented on #1043
I'm also suffered from that error.

[2020-09-14 08:32] dragosiordachioaia commented on #1021
I've had the same issue (and I opened a similar bug to this one). It has nothing to do with the "version 0.1". The issue is, like it says in the console, that there is a duplicate key in the yml file and while it reports the error, the Amplify Console isn't handling, so it just crashes.

[2020-09-14 08:47] keponk commented on #868
Have had same annoyance since the beginning of using Amplify. So far I ran with the assumption this is by design but now tracking this issue since I'd also appreciate being able to deploy only the frontend.

[2020-09-14 08:57] Kyohey-Kondo commented on #1043
I also suffered from this error.
In my case, the error caused when the additional code as
[code]
added in the module 3 of the tutorial.

The error text in amplify console is
[code]

As mentioned in the text 'Cannot find file './aws-exports' in './src'.', it may the problem that the AWS amplify cannot find aws-exports.js folder although the folder exists in local environment.
The folder is negligib

[2020-09-14 11:40] fitzgers commented on #115
@litwicki Please do keep us updated... Appreciate all the help in wrapping it up. I'm extra curious about us-west-2, as that is where my current headache around this resides....

[2020-09-14 15:12] sledwith commented on #1044
Started over from the beginning, and its all working now. No idea what changed.

[2020-09-14 15:12] #1044 closed

[2020-09-14 15:26] vankessel-it commented on #115
@litwicki eu-central-1 is not working yet. Tried it 8 hours ago and just now. I'll try again tomorrow. It is surprising, in the end it is just one branche with a 14000 tiny files, most of which remain unchanged. A few months ago we worked around it by moving all images to a bucket... but we have no such option now. Hope you can fix it, cheers, Marc

[2020-09-14 16:27] lorengordon commented on #595
Any maintainers tracking or working this issue? While it is easy enough to workaround the problem using the custom image when the source is GitHub, it's more of a pain when the source is CodeCommit. This is because the "cloning repository" step attempts to run the `aws` command to setup the credential-helper, but the custom image does not have the aws-cli installed. So we're back to either install

[2020-09-14 17:41] sean-smith commented on #856
@yinlinchen Is there a link to the generated preview available to the reviewer?

[2020-09-14 17:57] litwicki commented on #115
@fitzgers @vankessel-it We will update as new regions are live. As of today we are live in `eu-west-2` and `us-east-2` and in progress with `ap-southeast-1`

As new regions are live we will update this thread.

[2020-09-14 18:15] SunderApps opened #1045 "Custom Domains Not Working - No Error"
**App Id**: d2txrp5nj1jgzz
**Region**: us-east-2
**Step**:
**Status**:

**Issue/question**
Two of my Route53 domains aren't working after successfully adding them to Amplify projects.  I got no error message, but when I navigate to the url it can't be reached.  I don't think I've done anything different from my working domains.

Using whatsmydns.net, it looks like something went wrong with DNS pro

[2020-09-14 18:16] swaminator commented on #1043
@Kyohey-Kondo  This is because you do not have the backend builds configured as part of your CI/CD. In order to get this to work you have 2 options:
1. Option 1: Commit the aws-exports that in gitignore
2. Option 2: Enable frontend+backend builds: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#frontend-with-backend

[2020-09-14 18:35] connorford2 commented on #570
I'm having the exact same problem and also tried  "<*>", "<$1>", and "<1>", </\0/>, <\0>.

No luck. Any update on this?

[2020-09-14 18:38] swaminator commented on #1040
@chris currently this is not supported. However we have a workaround as mentioned here: https://github.com/aws-amplify/amplify-console/issues/886#issuecomment-668249281

[2020-09-14 18:40] #1040 closed

[2020-09-14 18:46] #714 closed

[2020-09-14 20:01] fsids commented on #1034
I saw this error today as well.  deleted the yaml from the build settings. project has a amplify.yaml in the code.  This resolved the blank console error

🙏🏼

[2020-09-14 20:09] swaminator commented on #827
@simpson @azgorov apologies it took so long to get to this. We're looking into it now.

[2020-09-14 20:28] dragosiordachioaia commented on #1034
Deleting the file is not the solution, catching the validation error and handling it appropriately is.

[2020-09-14 20:35] kahdojay commented on #89
We've added a feature whereby Amplify Console will automatically add the [SPA redirects](https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa) for React, Angular, Vue, Vuepress, or Gatsby. It should reach all regions by the end of the week.

[2020-09-14 20:35] #89 closed

[2020-09-14 22:05] chris commented on #1040
@swaminator I can't get path based pages to work either - does Amplify not work with ANY dynamic pages? e.g. if I change the above to be https://example.com/somepage/somevalue/ (where `somevalue` is the dynamic part), that seems to always give me an access denied error (I get an HTTP 403 response).

[2020-09-15 02:55] #1043 closed

[2020-09-15 05:17] swaminator commented on #938
Closing as this was due to an npm outage. Please reopen if you have the same issue.

[2020-09-15 05:17] #938 closed

[2020-09-15 05:30] swaminator commented on #792
Track this in #97. Closing

[2020-09-15 05:30] #792 closed

[2020-09-15 05:35] swaminator commented on #559
@no-creative-name are you still dealing with this issue?

[2020-09-15 05:36] swaminator commented on #849
Closing as this is not easily reproducible.

[2020-09-15 05:36] #849 closed

[2020-09-15 05:38] swaminator commented on #408
@jhoffmcd @H6 are you still facing this issue?

[2020-09-15 05:48] H6 commented on #408
Yes, my backend tab is still empty in the console.

[2020-09-15 05:55] swaminator commented on #225
For anyone who lands here, we fixed the issue. It was a bug with dot files not deploying.

[2020-09-15 05:55] #225 closed

[2020-09-15 05:56] #452 closed

[2020-09-15 05:57] #648 closed

[2020-09-15 05:59] swaminator commented on #924
@houmark sorry for the late response. Were you able to get this addressed?

[2020-09-15 06:00] houmark commented on #924
Nope, still happening on CLI 4.29.1.

[2020-09-15 06:00] swaminator commented on #921
@thecondolencebook we need more info in order to reproduce this. Can you please let us know what steps you followed?

[2020-09-15 06:03] swaminator commented on #924
Repro steps?

[2020-09-15 06:04] swaminator commented on #44
This issue was closed so we missed this. Reopened it and tracking it as an active feature request.

[2020-09-15 06:08] vyasnikhil123 commented on #1045
Same issue i got

[2020-09-15 06:09] vyasnikhil123 commented on #1045
Kindly tell me how can i solve this after adding my custom domain but it is not redirecting

[2020-09-15 06:11] houmark commented on #924
I just deploy using the Console as I always have. Build settings are the same. Happens in all environments. Nothing has changed in my end. I've sent logs and build configuration to the above email almost a month ago.

[2020-09-15 06:14] swaminator commented on #924
@houmark apologies. I found your email and will ensure someone looks at this.

[2020-09-15 06:18] houmark commented on #924
Thank you! Looking forward to a resolution.

[2020-09-15 06:29] niknokseyer commented on #44
Can the subdomain limit be increased? We are using it so that each account have their own subdomain.

[2020-09-15 07:54] jwoehrle commented on #973
when using the monorepo approach this also happens when the amplify.yml is changed in the root of the project folder. I'd consider changing the amplify.yml an event which should trigger the build. What do you think?

[2020-09-15 08:18] timothy-bailey-redbox commented on #570
Hey @connorford2,

I was never able to get the regex to work and as I had to go live I ended up writing out a seperate rule for every static file in my root directory. Which is a pain as it needs to be maintained whenever a file is added or removed.

[code]

I suspect this approach won't work for you if you are dealing with more than a limited set of files, or files that frequently change.

Would

[2020-09-15 08:28] Kyohey-Kondo commented on #1043
Thank you for your comment.
I,ll check my code again.

[2020-09-15 09:30] daltonfury42 commented on #264
There is a GitHub action that creates a preview branch and adds a comment to the PR with the link

https://github.com/yinlinchen/amplify-preview-actions

This is pretty useful as Amplify Preview feature is not supported for public repos.

[2020-09-15 09:44] maknahar commented on #869
We have a similar setup in my company as well. Amplify console has read access to a private repo. Would be nice if Amplify console pulls the package from GitHub.

[2020-09-15 11:39] maximelebastard opened #1046 "Which IAM action is used with Amplify Push ?"
Hi 👋

**Please describe which feature you have a question about?**

IAM with Amplify

**Provide additional details**

I'd like to restrict the ability to deploy an Amplify backend only to the environment matching the AWS Console username.
 For example, I'd like the aws user `johndoe` to only be able to do an `amplify push` on the environments called `johndoe`.
When I try to create an IAM policy fo

[2020-09-15 11:44] tscole commented on #115
@litwicki just been testing a copy of one of my projects in eu-west-2. Was previously failing (in eu-west-1) in the deploy stage. It's a static site with around 32,000 files output by the build stage. Has **successfully deployed** in eu-west-2 and the whole process took less than 6 minutes. Previous attempts to build were taking 30+ mins and failing.

So this looks pretty promising! Thanks. Lookin

[2020-09-15 13:26] atlesp commented on #685
@swaminator  is it any ETA on when this will be fixed?

[2020-09-15 14:03] Jattwood90 commented on #1035
Further progress but still no resolutions. I'm still prompted with the fact that the domain is linked to another distribution. However on the AWS CLI when I search: list-distributions, I get nothing in response. Annoyingly there's a certificate from my old app, that I can't delete for this reason. It responds saying I need to remove the association before removing the certificate.

[2020-09-15 14:03] marko-asplund commented on #115
Sounds good! 👍 Any ETA for `eu-west-1`?

[2020-09-15 14:23] dtelaroli commented on #44
The short answer is NO

[2020-09-15 14:39] bill-medved commented on #1007
That did it.  Thank you for your assistance.

Please note the last time I tried to add the domain, a new message appeared
(attached to the email).  I hadn't seen this message before.  The "Fix this
for me" button did not correct the problem, though when I manually updated
the name servers Amplify was able to find the domain.

Thank you - Please close the ticket.
[image: Screen Shot 2020-09-15 at 7

[2020-09-15 14:50] litwicki commented on #115
@tscole that's great to hear, please let us know if you have any issues or recommendations for additional improvements!

[2020-09-15 14:56] difosfor commented on #829
I'm running into this issue as well. We need node_modules files to be deployed along with the other files. I don't understand why this issue was closed because renaming that directory not a solution. It would be very impractical for us. And like cstavaru said, he already configured the cache paths as you told him, it was just GitHub's Markdown converting the asterisks into bold formatting. Also, I

[2020-09-15 15:17] niknokseyer commented on #44
What’s gonna be the workaround for that? Are wildcards possible?

[2020-09-15 15:23] codingme commented on #572
I tried this and it worked!
[Adding a Service Role to the Amplify Console When You Connect an App
](https://docs.aws.amazon.com/amplify/latest/userguide/how-to-service-role-amplify-console.html)
So it is the role problem.

[2020-09-15 15:28] dtelaroli commented on #44
No, you can use wildcards configuring it directly at route53, cloudfront and acm, but amplify does not support yet. We are waiting for aws team to solve this issue.
I also need this feature, but following the time that AWS takes to solve some issues (near to 3 years), I will move my project from amplify to an own configuration at cloudfront ou cloudflare when I would have 50 customers.

[2020-09-15 15:41] ambriglia commented on #1039
Also, as a workaround for this, you can comment out the files block in the amplify.yml file and your tests will still run, but no files will attempt to be uploaded. See image below. What is in red is what we removed.

![image](https://user-images.githubusercontent.com/9729776/93232766-4674ff00-f748-11ea-9e6e-2d36e833fa23.png)

[2020-09-15 16:17] swaminator commented on #44
@dtelaroli that isn't really going to help us prioritize the issue. Can I understand a bit more in detail why the subdomain autodetection will not work for you? Again, apologies that this issue slipped under the rug as it was closed. But given I reopened it, I'd like to understand the usecase a bit more.

[2020-09-15 16:35] garyleework commented on #663
@julieReitter Yes. You can register the root domain as customsubdomain.customdomain.com and enable autosubdomain feature for PR branch.

[2020-09-15 17:24] fsids commented on #1034
agree...   just sharing that this thread was helpful

[2020-09-15 17:53] YOEL311 commented on #943
Great feature
Is there an estimated time to add it?

[2020-09-15 18:08] wufuhimself opened #1047 "Completed builds are showing weird status"
**Issue Description**

When viewing builds in Amplify that are older than the current build, the status/results of that older build appear to be different than they were at time of completion. For example, if there were tests that passed in an older build, they will show as pending.

Old build that previously showed passing tests:
<img width="1504" alt="Screen Shot 2020-09-15 at 2 05 29 PM" src="h

[2020-09-15 18:32] rickirea opened #1048 "Amplify delete is taking too long, hours and it still not deleted!!!"
**App Id**:
**Region**:
**Step**:
**Status**:

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel free to include screenshots.

 additional sample

[2020-09-15 18:38] connorford2 commented on #570
Thanks for that @timothy-bailey-redbox

Yes, unfortunately I have a lot of static files and would like to avoid updating them every time! Lol - that definitely sounds like a pain. I just pinged AWS premium support who said they'll give the team a nudge. Hopefully that'll help and we should hear back soon.

Connor

[2020-09-15 18:43] swaminator commented on #44
@niknokseyer not currently but we will enable limit increases soon.

[2020-09-15 18:52] dtelaroli commented on #44
@swaminator because I don't want to create one subdomain per branch, but one subdomain per customer. I'm creating via sdk a new subdomain to each my customer, but the limit of 50 subdomain limits my app to get maximum of 50 customers. If you increase the limit, it's good, but imagine my r53 zone with a huge number of entries for acm validation and cnames.

The better solution still being wild card

[2020-09-15 18:59] jhoffmcd commented on #408
@swaminator I don't work on that project anymore so I can't say for sure.

[2020-09-15 19:47] RossWilliams commented on #408
I still have the issues with multiple apps. They became duplicated in the console, and the “active” app has an empty backend tab.

[2020-09-15 20:07] PeterLAxakon commented on #400
for me this was triggered after following enviroment variables setup at https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html
turns out my bew build script did not like build:$BUILD_ENV (I'm using yarn)

[2020-09-15 20:24] cslogan-red commented on #115
@frazbot can you please provide your app Id so we can take a deeper look at logs?

[2020-09-15 20:30] Ustrave249 commented on #115
@cslogan-red we're having an issue with `arn:aws:amplify:us-east-2:626294045888:apps/dxfl9a7zsfcnt`

[2020-09-15 21:01] cslogan-red commented on #115
@frazbot and @Ustrave249 can you each cancel any pending build and redeploy? We've made a small tweak on our end that we believe to be the culprit of the behavior you were seeing.

[2020-09-15 21:14] butoramatus opened #1049 "Domain activation is Failed - One or more aliases specified for the distribution includes an incorrectly configured DNS record that points to another CloudFront distribution."
**App Id**: d1ek1qbwqtobe9
**Region**: eu-central-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
First time I added my custom domain to the amplify

[2020-09-15 21:42] Ustrave249 commented on #115
Thanks @cslogan-red that's fixed it

[2020-09-15 21:49] dabit3 commented on #412
@Nickman87 Amplify hosting support for SSR is in the works! In the meantime, you can use the [Serverless Next.js Component](https://github.com/serverless-nextjs/serverless-next.js) to deploy Next.js to AWS with SSR and API routes.

Here's how:

1. Create a file called `serverless.yml` in the root of your Next.js app
2. Add the following 2 lines of configuration:

[code]

[2020-09-15 22:20] ericclemmons commented on #412
@Nickman87 Agreed!  We have @dabit3's suggestion documented on our Next.js' [Getting Started](https://docs.amplify.aws/start/getting-started/hosting/q/integration/next) page, including a short video.

I tested it myself & it worked great 💪

[2020-09-16 01:47] chris commented on #1040
I've abandoned the path params, as ultimately that doesn't work with static sites either (for a generic any value path param).
As mentioned in #97 but also in #792 , a workaround for this is to put a trailing slash after the page name, and before the query params, e.g.:  `/somepage/?param=value`.

[2020-09-16 02:10] SandeepKoparde commented on #1043
Hi Nikhil,I will verify your suggestions in a couple of days and give you feedback.
However, I think this issue should not be closed unless the tutorial document is updated to reflect the points mentioned above,
There is no way for a user executing the tutorial to know about these two points.

[2020-09-16 03:49] aichnowski opened #1050 "One or more of the CNAMEs you provided are already associated with a different resource"
**App Id**:
**Region**:
**Step**:
**Status**:

**Issue/question**
We encountered an issue creating a custom domain in the AWS amplify console. We ensured that the A record and CNAME record for the domain we are trying to create do not exist, as well as the CNAME record for the SSL certificate. When creating the custom domain, these records are all created successfully in Route53. We then get the b

[2020-09-16 04:49] servappgit opened #1051 "One of the connected branches suddenly stopped deploying the changes uploaded to github"
** Please describe which feature you have a question about? **
The frontend enviroment in which we deploy one of branches wasn't updating the changes we uploaded to github.

** Provide additional details**
We got no errors, everything went smooth and we got green check boxes in the 4 stages (provision, build,deploy and verify). The github repository seems to be working fine, since we made sure tha

[2020-09-16 08:22] prempal88niet opened #1052 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d2n9ovkj16exsm
**Region**: eu-west-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-09-16 08:53] teemuniiranen commented on #976
@cslogan-red, @gwryssekk: it is now full month since placing the ticket. We are still waiting for the production domains. Any news?

[2020-09-16 09:03] spdiamstu commented on #896
I have this same issue. Enabled password and when I remove it still enforces it.

[2020-09-16 15:34] igroff opened #1053 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1oviraa9q0713
**Region**: us-east-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Domain activation failed due to an existing Cloudfront distribution that was associated with the CNAME we are interested in using. We have since removed the CNAME association with the old Cloudfront distribution but Amplify is still refusing to activate providing the same error messa

[2020-09-16 16:08] Athena96 commented on #1051
Hi @servappgit can you please share you appId, region, and branch name.

[2020-09-16 16:14] Athena96 commented on #1047
Thanks for the detailed repro steps, we'll log this as a bug.

[2020-09-16 16:17] Athena96 commented on #1046
Hi @maximelebastard you should be able to achieve this using a "Condition" Statement in your IAM Policy:
https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_condition_operators.html#Conditions_String

[2020-09-16 16:19] maximelebastard commented on #1046
Hi @Athena96, thanks. On which field should I add a condition ? Could you please provide a quick example of a such policy ?

[2020-09-16 16:19] Athena96 commented on #1042
Hi @SFaraji can you please share your appId and also if possible the number of branches in your repo. Thanks!

[2020-09-16 16:23] Athena96 commented on #1013
Closing this issue as the fix for this bug is being tracked here #115
Please feel free to re-open if you think you are experiencing a separate issue. Thanks!

[2020-09-16 16:23] #1013 closed

[2020-09-16 16:25] Athena96 commented on #1039
Hi @dragosiordachioaia can you please share your appId

[2020-09-16 16:32] Athena96 commented on #1038
Hi @travispaxton thanks for reaching out. Can you please share more info on your setup. It's not possible to have an Amplify app be an origin for another CloudFront distribution. https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/DownloadDistS3AndCustomOrigins.html

Would you be able to achieve a similar result by using subdomains?

[2020-09-16 16:35] Athena96 commented on #1037
Hi @rpostulart, when you say "sometimes trail and error" are you experiencing any build/deployment failures or are you referring more to the time it takes to deploy each time you want to update your custom headers? Thanks!

[2020-09-16 16:38] Athena96 commented on #1030
Hi @divyavanmahajan there is no CLI command specific for monorepos. You would create your apps, and define the monorepo in the amplify.yml like how @nimacks showed.

[2020-09-16 16:39] servappgit commented on #1051
Hi Athena96,

heres the branch name: pre_produccion
Region:US-EAST-2
appid:arn:aws:amplify:us-east-2:305346604475:apps/d3le97war7ov3p

[2020-09-16 16:49] Athena96 commented on #1019
Hi @bvirlet to achieve this, you need to use a 404 Redirect, not Rewrite:
https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html
Thanks!

[2020-09-16 16:54] Athena96 commented on #212
Closing this issue, please feel free to re-open if you are still facing issues.

[2020-09-16 16:54] #212 closed

[2020-09-16 16:56] Athena96 commented on #461
Closing this issue, please feel free to re-open if you are still facing issues.

[2020-09-16 16:56] #461 closed

[2020-09-16 16:58] Athena96 commented on #746
Closing this as we have implemented this with the two use cases you mentioned. Please feel free to re-open if you have any other related issues.

[2020-09-16 16:58] #746 closed

[2020-09-16 17:02] rpostulart commented on #1037
No failures. Indeed the second. When adjusting the headers and to validate if the settings are correct, I have to do a full deployment which takes approx 10 minutes over and over again.

[2020-09-16 17:09] bishonbopanna commented on #435
How did you folks solve this ? I am running into the same issue, when I push the app from the terminal using amplify publish, it works but when configure and build through the amplify console i get 403.

[2020-09-16 18:05] sw-yx commented on #746
thanks Jared!

[2020-09-16 18:09] jpvajda commented on #508
+1 one for this feature as well!

[2020-09-16 19:09] Athena96 commented on #1051
Hi @servappgit thanks for the info.
We've recently identified an issue related to what you described and have deployed a fix. Can you please try to build/deploy again and let us know if you're still facing the issue. Thanks!

[2020-09-16 19:29] bvirlet commented on #1019
@Athena96 if I use a redirect the URL will change, correct?

[2020-09-16 20:06] servappgit commented on #1051
The issue has been resolved, thank you so much Athena96.

Have a good one !

[2020-09-16 20:13] EyasMj opened #1054 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d342kiut3829bz
**Region**: eu-central-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-09-16 20:24] SFaraji commented on #1042
Hi Athena96, here is the Amplify App ID: d4i8d52zi6kcj and we got 3 branches for this repo.

[2020-09-16 20:33] igroff commented on #1053
I deleted everything and started over instead of waiting on this, I'll close this if that works.

[2020-09-16 20:42] igroff commented on #1053
That fixed it.

[2020-09-16 20:42] #1053 closed

[2020-09-16 21:46] #1051 closed

[2020-09-16 23:45] cslogan-red commented on #976
@teemuniiranen unfortunately I can only confirm that CloudFront returns this error when your domain's DNS records are associated w/ another resource, see the following.

https://aws.amazon.com/premiumsupport/knowledge-center/resolve-cnamealreadyexists-error/#:~:text=Short%20description,associated%20with%20another%20CloudFront%20distribution.

The last time you attempted to connect this subdomain,

[2020-09-17 00:05] Athena96 commented on #1054
Hi @EyasMj you can find our docs for setting up custom domains here: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html

Please let us know if you are still facing issues, thanks!

[2020-09-17 00:05] Athena96 commented on #1052
Hi @prempal88niet  you can find our docs for setting up custom domains here: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domains.html

Please let us know if you are still facing issues, thanks!

[2020-09-17 01:04] sbaden opened #1055 "Hanging up on SSL Configuration"
**App Id**: d36j8sy9a817hr
**Region**: us-west-1
**Step**: Domain Management
**Status**: SSL Configuration

**Issue/question**
I connected a react app from my github repo in Amplify.
I'm trying to connect my app with my custom domain that I registered in Route 53.
When I select my domain and start configuration the SSL Creation is successful but then it hangs up on SSL Configuration.

**Error mess

[2020-09-17 04:42] grahamd711 commented on #97
@hzhenmin has there been any progress in adding support for this feature? This is a critical need for simply redirecting from a naked domain https://example.com to the WWW version --> https://www.example.com

We are not able to preserve any UTM parameters that are crucial to our Jekyll site. Please let me know if there is any type of transparency into the backlog.

Thank you!

[2020-09-17 05:08] divyavanmahajan commented on #1030
Jared,
I am not creating a monorepo ( it already exists). The amplify script has multiple appRoots as explained in the monorepo docs.

I am reporting a bug.

In the Web Console - you can enter the folder in a text box when you create the amplify branch

In the CLI/Cloudformation - there no option to specify the folder and the build fails, because the amplify script has appRoots but the branch has

[2020-09-17 06:53] dragosiordachioaia commented on #1039
the appId is d18apgfog4c8xo

[2020-09-17 06:54] dragosiordachioaia commented on #1039
@ambriglia yes, I this started happening all of a sudden

[2020-09-17 08:56] teemuniiranen commented on #976
@cslogan-red thank you for your response! Could it be that this is happening because the root domain (or naked domain name) has an A record to a static IP address which redirects to www sub domain? Www is an alias for other CloudFront distribution that is provisioned outside Amplify. Could it be that this root domain still is somehow affecting even you don't use it and tick the "exlude root". Is t

[2020-09-17 13:31] teemuniiranen commented on #976
We removed the A record for the root from the DNS and retry from the Amplify console tomorrow.

[2020-09-17 14:46] iaguirre88 commented on #576
I'd love to see this feature implemented. So far we are forced to close the PR (usually with review comments and approves) and opening it again pointing to the branch where the preview links are enabled. It's pretty annoying

[2020-09-17 15:52] connor-minielly-north60 opened #1056 "Setting Up Previews Fails Due To Private Github App"
Hey there, this seems like the best spot I could find to submit this issue but I may still be barking up the wrong tree. In any case: I'm trying to add deploy previews to my production branch, which is deployed in ca-central-1. When I click the button in the console to install the github app I'm met with the message " AWS Amplify (ca-central-1) is a private GitHub App." and I'm not able to install

[2020-09-17 16:13] atlesp commented on #685
If any other needs it, so have I made a [github repo](https://github.com/Microprog-as/amplify_dockerbuild_image_dotnet) that can be used to build the docker image in an AWS Codebuild project. Then you do not have to struggle to set up Docker on your machine if you do not have it already and you are following DevOps principials :)

[2020-09-17 16:27] sean-smith commented on #856
I've gone ahead and implemented @yinlinchen **amplify-preview-actions** action on my github repo. My only complaint is it seems to only work when the PR is created by diffing 2 branches on the same repo. Not fork!

This is because github secrets are only accessible on actions triggered by a PR from a local diff and not a remote fork. There's probably good reasons for this but it's still annoying b

[2020-09-17 16:47] djreddy316 opened #1057 "SSL configuration is Running - Unable to add subdomain"
**App Id**: dwui5g0031v6s
**Region**: ap-south-1
**Step**: SSL configuration
**Status**: Running

**Issue/question**
We are trying to assign a domain in the amplify . got struck at SSL configuration. tried all the docs but could not get a solution.

**Error message**
No Error message ..

**Additional information**
We have added a subdomain successfully with same domain previously to another app in

[2020-09-17 17:07] yinlinchen commented on #856
@sean-smith Yes, GitHub won't let you access the secret from Fork. There is nothing we can do and currently, this is the best we can do. I use this in our team projects to enable public repos having Amplify PR preview, at least for my team. It is definitely better than we just lose the PR preview once we make our project public!

[2020-09-17 17:18] yinlinchen commented on #856
BTW, I found multiple posts about that too, just paste two here.

-  [Allow secrets to be shared with forks from trusted Actions](https://github.community/t/allow-secrets-to-be-shared-with-forks-from-trusted-actions/16525).
- [Make secrets available to builds of forks](https://github.community/t/make-secrets-available-to-builds-of-forks/16166/35)

[2020-09-17 17:54] niknokseyer commented on #44
Looking forward to that. Our use case is for url branding purposes. When a new client / company signs up on our application they get their vanity url (e.g. <company>.webapp.com) to login to their dashboard. We've reached more than 50 account sign ups so we were surprised reaching the 50 subdomain limit. @swaminator

[2020-09-17 19:54] Athena96 commented on #793
Hello all, thank you for you patience. We have deployed a fix for this, so it should no longer be an issue. Feel free to re-open this ticket if you continue to face this or related issue. Thank you!

[2020-09-17 19:54] #793 closed

[2020-09-17 22:08] davidmatter commented on #793
@Athena96 thanks! I still have this question that is absolutely unclear from the docs as well as the UI:

[2020-09-17 23:14] richardtapendium commented on #115
Is anyone else having issues now with branches not being picked up? I'm unable to enable pull request previews, it asks me to authenticate with github, which I do, and then I get presented with the same screen:

![image](https://user-images.githubusercontent.com/65693691/93537614-57fc1800-f98f-11ea-801a-41d7b1592648.png)

[2020-09-17 23:34] Athena96 commented on #1021
Hello all, thank you for your patience. We have deployed a fix for this, so it should no longer be an issue. Feel free to re-open this ticket if you continue to face this or related issues. Thank you!

[2020-09-17 23:34] #1021 closed

[2020-09-17 23:35] Athena96 commented on #1034
Hello all, thank you for your patience. We have deployed a fix for this, so it should no longer be an issue. Feel free to re-open this ticket if you continue to face this or related issues. Thank you!

[2020-09-17 23:35] #1034 closed

[2020-09-17 23:35] Athena96 commented on #727
Hello all, thank you for your patience. We have deployed a fix for this, so it should no longer be an issue. Feel free to re-open this ticket if you continue to face this or related issues. Thank you!

[2020-09-17 23:36] Athena96 commented on #969
Hello all, thank you for your patience. We have deployed a fix for this, so it should no longer be an issue. Feel free to re-open this ticket if you continue to face this or related issues. Thank you!

[2020-09-17 23:36] #969 closed

[2020-09-18 00:07] Athena96 commented on #1056
Hi @connor-minielly-north60 I'm not able to repro this. Can you try signing out of your GitHub account and signing back in then try to setup Previews. I't possible your sign-in with github expired. Let us know if you continue to face the issue. Thanks!

[2020-09-18 00:22] #1052 closed

[2020-09-18 00:22] #1054 closed

[2020-09-18 00:43] bishonbopanna opened #1058 "Amplify deployed app giving 403"
Getting 403 when accessing an app deployed through amplify console.

[code]

Questions -
[1] Having added hosting service to the app, and pushing the changes from terminal using amplify push and amplify publish commands the app works _without_ issues. So are there any special permission to be given when the app is deployed through amplify console ? When accessing the web url, it gives a 302 and th

[2020-09-18 03:59] econtentmaps commented on #56
+1 - this is starting to be a deal breaker for us. Shame there's been no update from the team. 2020's running out!

[2020-09-18 06:05] mmomasters opened #1059 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1x8cl62ighple
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Cannot add domain to amplify app (domain is available in route53)

**Error message**
One or more of the CNAMEs you provided are already associated with a different resource.

[2020-09-18 08:24] ankhuve opened #1060 "Enable PR previews by default with branch auto detection"
**Is your feature request related to a problem? Please describe.**
Before a release, we usually create a release branch which follows the naming convention "version-X-Y-Z", which makes it easy to enable branch auto detection in the Amplify Console with a simple pattern like "version-*". That's working great, awesome feature! However, code usually need to be merged into the release branch during th

[2020-09-18 08:54] frebouje commented on #56
👍
Around +25 production sites we could consider migrating to Amplify this year once the custom SSL are delivered.
And at least 30 new ones next year that could be implemented directly on Amplify as well.

@swaminator : Kindly provide some high level visibility if possible on your end, as Amplify could become one of our key pillars for our digital platform next year :)

[2020-09-18 09:18] teemuniiranen commented on #976
@cslogan-red same thing still. There is only one DNS provider used but I think that root level A record to static IP misled you.

Is that retry even working? You see "retry in progress" when you press retry button but it's never finished. If I refresh the page I get the same error. Now we have only www in place in other non-amplify created CloudFront distribution and root A record pointing to loca

[2020-09-18 13:25] teemuniiranen commented on #976
Ok retry is not working. Now after removing the root A record redirect AND recreating the domain settings it is working for the first application. We continue with the second.

[2020-09-18 13:29] lorengordon opened #1061 "Pre-create role used by "Subdomain auto-detection""
**Is your feature request related to a problem? Please describe.**

Cannot enable "Subdomain auto-detection" for a custom domain.

When editing a custom domain, there is an option to enable "Subdomain auto-detection." Checking that box, it exposes an input window with a bit of tiny text below it: "Amplify will create a role in your account to access and update your Route53 hosted zone."

However,

[2020-09-18 16:32] Athena96 commented on #1058
Hi @bishonbopanna thanks for reaching out
1. can you please share your appId and any repro steps so re can try to repro the issue.
2. our service manages the hosting, so the hosing resources won't be in your account.
3. you can view the access logs for your application by going to the Amplify Console then Your App / App settings / Access logs

[2020-09-18 16:44] Athena96 commented on #1060
Hi @ankhuve thanks for your input! We will log this as a feature request

[2020-09-18 19:11] edaemon commented on #1019
This is also affecting us. With this rule in place:

[code]

Accessing a URL that doesn't exist yields a `403`. Changing the redirect type to a plain `404` -- "404 (Redirect)" -- a proper 404 is displayed but the URL changes.

[2020-09-18 20:56] Athena96 commented on #1039
Hi @dragosiordachioaia are you still experiencing this issue? I'm not able to repro on my end.
Can you please share the file structure of your app (including cypress tests). You can share here or email aws-amplify-customer@amazon.com
Thank you!

[2020-09-18 21:14] Athena96 commented on #1056
Resolving this issue, please feel free to re-open if you continue to face the issue. Thank you!

[2020-09-18 21:14] #1056 closed

[2020-09-18 21:38] Athena96 commented on #924
Hi @houmark can you share your `amplify/backend/backend-config.json` file?
You can post here or email aws-amplify-customer@amazon.com
Thanks!

[2020-09-18 22:00] Athena96 commented on #1061
Hi @lorengordon thanks for reaching out. We will note this as a feature request. In the meantime, here's the roll that is create at this step when you enable Subdomain auto-detection:
[code]

[2020-09-18 22:18] houmark commented on #924
@Athena96 Yep, just emailed it now. Please confirm it's received.

[2020-09-18 22:20] lorengordon commented on #1061
thanks @Athena96! is there a specific role-name that amplify is looking for? how about the trust policy? or does that just need to be added to the service-role already set in the app settings?

[2020-09-18 22:20] houmark commented on #924
Oops, another email coming with package.json from the root folder. Missed that one on the first email.

[2020-09-18 22:21] lorengordon commented on #1061
Hmm, no not the service-role, that already has AdministratorAccess (plus our permissions boundary).

[2020-09-19 05:14] SandeepKoparde commented on #1043
Hi @Kyohey-Kondo ,
I can verify that the error goes off when I comment the "aws-exports.js" entry in .gitignore file.
I was able to complete the entire tutorial, though I had to rectify a few more instructions.
Thanks for your help.

Hi @swaminator ,
I didn't quite understand your second option.
Request you to please let me know what should be exact contents of the amplify.yml file.
Should they be

[2020-09-19 05:35] SandeepKoparde commented on #1043
@Kyohey-Kondo
Please do let me know if you were able to get the tutorial working by following the "Option 2" mentioned by @swaminator

Regards
Sandeep Koparde

[2020-09-19 09:25] developer0116 opened #1062 "Domain Activation"
When I set up domain in Amplify, an error occurred like below.

Something went wrong. Please refer to our troubleshooting guide below to diagnose the issue. After fixing the issue, choose retry below. If retrying fails, please create an issue in our GitHub issue tracker.
Error message: One or more of the CNAMEs you provided are already associated with a different resource.

I'd like you to mention

[2020-09-19 16:39] kingchikason opened #1063 "Amplify auth login for Android, application must restart after login in other to access User information"
**Amplify**
**Amplify Authentication login**
**Android studio application**

After logining with the Amplify auth, I can't access the information of the user, meaning that it is still seen that their is no login until the application is restarted.

It is an Android application.
The login page is on a fragment inside navigation component.

I don't know if I needed to refresh the Amplify auth after

[2020-09-19 18:59] bishonbopanna commented on #1058
thank you @Athena96 for the response, please find the response below

1. appId : d11c3secxgd3oa
2. Steps to reproduce

  - Add hosting with Manual deployment (same problem when tried directly on the amplify console, with direct connection on the branch and custom domain name)

`~/source/wf » amplify add hosting
? Select the plugin module to execute Hosting with Amplify Console (Managed hosting wit

[2020-09-20 05:01] yinlinchen commented on #856
@sean-smith I just did some diggings and I found this [PR previews only work for branches on origin, not for forks.](https://github.com/aws-amplify/amplify-console/issues/508). So github Fork > Push > PR does not support by Amplify console, even in a private Github repo.

See [GitHub Actions improvements for fork and pull request workflows](https://github.blog/2020-08-03-github-actions-improvement

[2020-09-20 06:40] peterpham opened #1064 "Enable Test for specific branch only"
** Please describe which feature you have a question about? **
Is there a way to enable "test phrase" for specific branch only.

** Provide additional details**
I have two branches (master and develop).
I want to enable Cypress test on master branch only but not develop branch. So any commit to develop branch is still being auto-built.

My current build setting is
[code]

[2020-09-20 08:36] Nirjhar100 opened #1158 "Unable to clone repository from code commit at BUILD step while deploying to AWS Amplify"
Getting  error on build step for amplify while cloning

<img width="1002" alt="Screenshot 2020-09-20 at 2 05 29 PM" src="https://user-images.githubusercontent.com/22238902/93707246-59257480-fb4a-11ea-9970-260cbd01c74c.png">

I have created a react project repository in code commit and it was working fine with amplify in OHIO server but I had to change the location to us-east-1 and now I cant get i

[2020-09-20 16:15] Liguo-Ma commented on #740
Hello
I have the same error too.
The main domain works well.
But if I redirect the subdomain I get AccessDenied error.
For example, prolocalize.com works well but prolocalize.com/login does not work

[2020-09-20 16:21] Liguo-Ma commented on #526
Hi  Athena96
I do not think so your solution.
Rewrite and redirect is to navigate to 403page.html or others.
So It does not show my site
How I should solve this issue?

[2020-09-20 16:26] tomyitav commented on #704
Hey @swaminator, is there anything new regarding this issue?

[2020-09-20 17:41] chris commented on #740
@Liguo-Ma I would try doing a redeploy. I filed an AWS support ticket and they said Amplify had some bug they fixed and to try deploying again now. I did so, and this problem went away for me. It's very disappointing that there seems to be frequent bugs with URLs/routing/branch deploys in Amplify (this is definitely not the first or second time I've had such problems), but there is no status updat

[2020-09-20 21:45] lorengordon commented on #856
The pull request does have the ref for the code. Do amplify previews not use the `pull/<num>/head` ref to checkout the pull request? This works even if the pr is not from a fork.

[code]

https://github.community/t/checkout-a-branch-from-a-fork/276/2

[2020-09-21 00:55] Liguo-Ma commented on #740
Thanks @chris
But now main domain do not work too :(
Could you let me know what is the solution?
And please let me know how to send ticket to AWS support about issue?

[2020-09-21 03:31] chris commented on #740
@Liguo-Ma Support tickets can be filed via your regular AWS account (assuming you're paying for a support plan).

If your main domain is not working then I'm not sure, that sounds like a different bug, or maybe an issue with your app? Have you looked at the various logs for your Amplify builds/deploys? Are they all successful (there are multiple different logs, e.g. build, deploy, etc.)?

[2020-09-21 13:30] Liguo-Ma commented on #740
Hello @chris
I have tried to publish again but  I get first error.
So Main domain works fine but after redirect subdomain I get  <Code>AccessDenied</Code> error
Please let me know what is the solution.

[2020-09-21 15:35] chris commented on #740
@Liguo-Ma I'm not sure what that would be. I would file a support case with AWS, since it seems it is something different. Sorry this is happening. I realize I filed this issue here back in June, yet this happened again recently (just last week, which is why I filed the AWS support ticket). Seems to be a recurring problem for Amplify. Since this GitHub issue is closed, I doubt anyone from AWS is l

[2020-09-21 16:01] Liguo-Ma commented on #740
Yes, you are right.
It worked fine last month.
So it is the issue of the AWS team?
Also, Could you let me know soon once they will fix?

[2020-09-21 16:14] Liguo-Ma commented on #740
Oh, I am using the old version Amplify CLI.
Is it the reason for this error?

[2020-09-21 16:19] swaminator commented on #1064
@peterpham you can add the `amplify.yml` to your buildspec and run the cypress specific commands: https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html#branch-specific-build-settings

[2020-09-21 16:19] #1064 closed

[2020-09-21 16:24] chris commented on #740
@Liguo-Ma I am just an AWS customer, I'm not on the AWS team nor have insight into them. I'm not using the Amplify CLI (my builds are triggered via GitHub pushes), but I doubt that is part of it. Again, I'd file an AWS support ticket via the AWS console.

[2020-09-21 16:32] Liguo-Ma commented on #740
Okay  I see
I have tried with the lastest amplify version but it does not work too.
For example, https://prod.d3gsscuikbv8vv.amplifyapp.com/ navigate to https://prod.d3gsscuikbv8vv.amplifyapp.com/signin/.
But redirect https://prod.d3gsscuikbv8vv.amplifyapp.com/signin/ get error.
I really sure what is the solution.
Could you let me know why this happened?

[2020-09-21 16:41] chris commented on #740
Is this a change in behavior, or is your signin page a new addition to your app? Since it navigates ok from the root to the signin page, this feels to me like the problem where *directly* navigating to a page doesn't work because there is no actual page file for that page (e.g. there isn't a signin.html that is generated for your app). That, or you have rewrite rules that are causing problems. I h

[2020-09-21 16:51] Liguo-Ma commented on #740
I do not think so.
I uploaded the folder after building it manually.
And https://prod.d3gsscuikbv8vv.amplifyapp.com/  navigate https://prod.d3gsscuikbv8vv.amplifyapp.com/ signin/ because there is Signing page .
But If I redirect signing page get error.
It is very strange.
I did not see this error 1 month ago :(

[2020-09-21 17:13] olivoil opened #1065 "Build fails before it starts"
** Please describe which feature you have a question about? **

I'm trying to deploy an amplify app connected to a CodeCommit repository.
The provision phase clears, but the build phase fails before it starts, with no logs at all.

<img width="1723" alt="image" src="https://user-images.githubusercontent.com/264142/93797551-ff808100-fc01-11ea-93be-8c6194a88b43.png">

What could this be caused by? W

[2020-09-21 17:40] developer0116 opened #1066 "query parameters are removed in url redirection in AWS Amplify."
when I load xyz.com/home/?category=recipe, then it automatically redirects to xyz.com/home.

I need to resolve it ASAP.

Thank you for your support.

[2020-09-21 19:12] kahdojay commented on #1066
please track here #97

[2020-09-21 19:12] #1066 closed

[2020-09-21 19:25] bwalsh commented on #115
Build works

[code]

But deploy fails

[code]

[2020-09-21 20:45] iaguirre88 commented on #115
I'm facing a similar issue. In my case, the test phase succeded but then it gets stuck in the deploy phase without raising any error.

[code]

![image](https://user-images.githubusercontent.com/686880/93819484-2656ab80-fc32-11ea-8e6a-c3c2cfb96983.png)

[2020-09-21 21:44] jorgekleeen commented on #115
Same thing as @iaguirre88 here.

This is happening only in one of our configured environments. Build takes more than the `_BUILD_TIMEOUT` environment variable and never fails.

Summary:

![console aws amazon com_amplify_home_region=us-east-1 (1)](https://user-images.githubusercontent.com/43150189/93824178-3bc2da00-fc20-11ea-894b-f8aceb7796c3.png)

Output (last lines):

[code]

[2020-09-21 22:03] mlkb commented on #1023
same issue, i made a Lambda function with python environment, cant execute command amplify push.
i managed to install python3 by just typing python3, a window for installation opened.
but still cant install pipenv and cant push.

[2020-09-21 22:44] litwicki commented on #115
@jorgekleeen @iaguirre88 @bwalsh we are looking into this now.

[2020-09-21 22:52] kahdojay commented on #115
@jorgekleeen @iaguirre88 @bwalsh can you add appId, region, branch, and build number details?

[2020-09-21 23:05] bwalsh commented on #115
us-west-2 d2crfv5bwz5d2t
my work around was to delete down to only 1 branch

[2020-09-21 23:21] iaguirre88 commented on #115
@kahdojay  Is there a way to send this information privately?

[2020-09-21 23:24] kahdojay commented on #115
@iaguirre88 yes you can email us at aws-amplify-customer@amazon.com

[2020-09-21 23:39] BalmungSan commented on #869
In case anyone else has the same problem, you can workaround it as explained [here](https://forums.aws.amazon.com/thread.jspa?threadID=297933).

[2020-09-22 08:39] ebyron-arch opened #1067 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3c13n880i4kz0
**Region**: ap-south-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-09-22 09:26] nhc-motosumo opened #1068 "Builds are stalling - app cannot be updated"
We are unable to update our Amplify app.

Since yesterday, Amplify stopped building the branches properly. First, several branches would wait indefinitely in the "Verify" or "Deploy" phases, although the code would actually go live. Now our `master` branch and two other branches are stuck in "Provisioning" and no builds seem to be ongoing.

appId: d24qhuy0hwyih6
region: eu-west-1

[2020-09-22 13:05] iaguirre88 commented on #115
@kahdojay Any update on this? Thanks

[2020-09-22 13:31] dougleville opened #1069 "Private submodule cloning with known public key"
** Please describe which feature you have a question about? **
First - I have already read topic #150 , I was able to get the build working using the private key -> environment variable method. I have a different question.

Bitbucket allows me to see the actual public key added to the access keys AWS Amplify for the main repository. I added said public key to the submodule repository's access keys

[2020-09-22 14:35] bwalsh commented on #115
The problem is now happening even with just one repository.
Build artifact is: 93MB
8419 static files
-Brian Walsh

On Tue, Sep 22, 2020 at 6:05 AM Ignacio Aguirrezabal <
notifications@github.com> wrote:

[2020-09-22 15:58] lettertwo commented on #1068
We're seeing the same thing, and so are a number of others, check out https://github.com/aws-amplify/amplify-console/issues/115 (especially the most recent comments).

[2020-09-22 16:41] beto opened #1070 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource"
**App Id**: d1setlyy3u4krt
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

there is only one CNAME entry for partner.serviceally.co

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
Error message: One or more of the CNAMEs you provided are already associated with a differ

[2020-09-22 17:10] swaminator commented on #1068
@nhc-motosumo @lettertwo are both of you running tests?

[2020-09-22 17:14] gigapromoters opened #1071 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: diqnoy3bbdo8n
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

Error message: One or more of the CNAMEs you provided are already associated with

[2020-09-22 17:22] mads79 commented on #1068
Yes, we (colleague of @nhc-motosumo here) are running tests.
The major difference from https://github.com/aws-amplify/amplify-console/issues/115 is that it's not necessarily failing during deploy , it's now also failing after provision.

[2020-09-22 17:47] kahdojay commented on #115
@jorgekleeen @iaguirre88 @bwalsh we've identified a fix and will start rolling it out today.

[2020-09-22 19:12] nhc-motosumo commented on #1068
Update: This seems closely related to #115

I removed some of the branches that were stuck in "Deploy", and then I was able to "Redeploy" my main branch, which had been stuck in "Provision". My theory is that the branches stuck in "Deploy" are counted towards an account-wide maximum of 6 concurrent builds, so I freed up a slot by removing one.

The new build also got stuck in "Deploy", but it did

[2020-09-22 19:49] kahdojay commented on #115
@bwalsh it looks like your failure is related to a different reason that we'll need to keep investigating

[2020-09-22 20:03] kahdojay commented on #1068
@nhc-motosumo @mads79 can you point me to the branch name and recent build number for d24qhuy0hwyih6 in eu-west-1 that is experiencing this behavior? I want to check whether it's affected by the same as recent comments in #115

@lettertwo please send the same details so I can check

[2020-09-22 20:18] swaminator commented on #778
Fixed.

[2020-09-22 20:18] #778 closed

[2020-09-22 20:23] kahdojay commented on #1039
@ambriglia can you share your region, appid, branch name, and example build number that exhibits deploy failure behavior?

[2020-09-22 20:24] kahdojay commented on #1039
@dragosiordachioaia which build number is the screenshot you posted above?

[2020-09-22 20:53] kahdojay commented on #1039
@dragosiordachioaia can you retry in eu-west-2 and let us know if you're still seeing the issues with both master branch deploys and pr preview deploys?

[2020-09-22 21:14] Ivan-Vite opened #1072 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d3awk5e541gbo7
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-09-22 23:13] kahdojay commented on #115
@jorgekleeen @iaguirre88 can you let us know if you're still experiencing the issue in us-east-1 (and if so let me know the build number / branch name)

[2020-09-22 23:35] bwalsh commented on #115
@kahdojay thanks for following up.  much appreciated

[2020-09-23 00:04] jorgekleeen commented on #115
@kahdojay just ran a couple of consecutive builds and the build is now being deployed as expected! Thanks a lot! 👏

[2020-09-23 00:06] eganondorf commented on #405
I add myself to this problem, but for me the problem is as follows:
If I navigate to my application via the base URL `https://<app_url>`, perform the login, navigate through my menus, everything works fine.

But if for some reason I refresh, either by pressing F5 or pressing the icon on the browser, then I get the `https://<app_url>/<build_#>/<path_I_was_on>` instead of a simple reload to `https:/

[2020-09-23 00:29] iaguirre88 commented on #115
@kahdojay  It seems it's working now 🎉
Thanks for working on this 🙌

[2020-09-23 01:11] bishonbopanna commented on #1058
@Athena96 @swaminator any one from @aws-amplify-ops team, can you please respond ?

[2020-09-23 02:36] Liguo-Ma opened #1073 "AccessDenied error appeared after deploy amplify project"
I am using the latest version amplify
Also, I have uploaded my amplify project.
https://prod.d3kb4db9ojlfvl.amplifyapp.com/
This is my site.
It works file and redirect to the signing page.
https://prod.d3kb4db9ojlfvl.amplifyapp.com/signin/
So this site works well.
But If I redirect this site so if I click F5 I get the "AccessDenied" error.
What is the solution for this error?

[2020-09-23 04:45] Liguo-Ma commented on #1058
Hi @bishonbopanna
Did you find a solution?
I get the same error too.

[2020-09-23 04:50] Liguo-Ma commented on #1058
My app worked well 1 month ago.
But the environment was damaged.
So I set again.
After that, I get this error.
My site URL is https://prod.d3kb4db9ojlfvl.amplifyapp.com/
I cannot redirect the signin page. or any subdomain .
https://user-images.githubusercontent.com/59509767/93915886-e0cdd780-fd32-11ea-9136-9121c2a38681.png
I get like this error.
I think this is amplify version issue.

[2020-09-23 05:08] nhc-motosumo commented on #1068
@kahdojay :

`develop` build 76 got stuck in "Provision", and so did `master` build 24.

`master` build 25 (made after I deleted some branches) got stuck in "Deploy". It did roll out the update, though, before getting stuck.

Hope that helps? Let me know if you need more details!

[2020-09-23 05:51] yoshi-star opened #1074 "SSL configuration is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1r2dfscbsxb7m
**Region**: ap-northeast-1
**Step**: SSL configuration
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-09-23 06:30] finnhvman commented on #1073
We had the same issue for one project yesterday, and for another project today

[2020-09-23 06:40] Liguo-Ma commented on #1073
So did you find solution?

[2020-09-23 06:41] finnhvman commented on #1058
We are having very similar issues since yesterday

[2020-09-23 06:45] finnhvman commented on #1073
We replaced the Rewrites and redirects

from `/<*>` 404 Rewrite

to this
https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa

[2020-09-23 06:52] Liguo-Ma commented on #1073
So it helped your issue?

[2020-09-23 06:56] Liguo-Ma commented on #1073
Could you let me know correctly what rule you added?

[2020-09-23 06:58] Liguo-Ma commented on #1073
If fact my program worked good in 1 month ago

[2020-09-23 06:59] finnhvman commented on #1073
Our deployment worked for years well with the 404 Rewrite

This is the exact rule we added

[code]

[2020-09-23 07:04] Liguo-Ma commented on #1073
Oh perfect
Thanks  @finnhvman
.

[2020-09-23 07:07] Liguo-Ma commented on #436
Use this rule
[
    {
        "source": "</^[^.]+$|\\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>",
        "target": "/index.html",
        "status": "200",
        "condition": null
    }
]

[2020-09-23 08:37] icemioi commented on #210
how can you  solve this problems？ @amey91

[2020-09-23 11:35] adam-nygate commented on #1073
It looks like the 404 Rewrite is broken. We were using for the 404 Rewrite for an alternate way to do SPA fallback (hybrid pre-rendered and SPA for different routes), but it looks like in a recent Amplify update, this has stopped working - 404 Redirect and 200 Rewrite are still working.

[2020-09-23 11:50] ambriglia commented on #1039
@kahdojay I already have an internal AWS support ticket open with all the appropriate details.

d2df4ylja65m9v
us-east-2
master
324

I currently have the workaround still implemented I referenced above so I am not sure if we are still experiencing the issue.

[2020-09-23 14:02] ryanbagwell commented on #70
@swaminator we might need to reopen this. The 404 rewrites on our site are no longer working. I have the following rewrite in place:

`</index\.html/> => /404.html`

but I'm getting a 403 response when I go to https://www.example.com/foo/

[2020-09-23 14:41] lettertwo commented on #1068
@kahdojay sorry for the delay, here are the details:

appId: d1nztlv1li5zxf
region: us-east-1

We are seeing all recent builds stall at the Deploy phase

[2020-09-23 16:27] kahdojay commented on #115
great to hear it! will get the fix out to all regions today, and investigate the unrelated deploy failures separately

[2020-09-23 17:31] kahdojay commented on #1068
@lettertwo it looks like your failures in us-east-1 were due to an unrelated reason to 115, but we've pushed a fix, can you give it another try and let us know if you're still setting the same behavior?

[2020-09-23 17:41] talebbits opened #1075 "Caught error downloading artifacts"
Here is the log.
2020-09-23T17:23:40 [INFO]: Starting Deployment
2020-09-23T17:23:40 [INFO]: Updating Edge config
uildId 0000000003
2020-09-23T17:24:38 [ERROR]: Caught error downloading artifacts
2020-09-23T17:24:38 [ERROR]: Deployment terminated unsuccessfully

after this happen we **canceled** that build manually and kick new build but it stuck **Pending**

aws region: us-east-1
application: d11

[2020-09-23 17:59] kahdojay commented on #1068
@nhc-motosumo it looks like your issue is the same as 115, can you give it another try in eu-west-1?

Also let me know if you're still setting the stuck in provisioning issue after deleting the stuck branches, or if you need assistance there.

[2020-09-23 18:12] eganondorf commented on #405
Forget my initial reply, I just followed the info on https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa and now its redirecting correctly.

The only heads up is to copy paste the Regex using the *Open text editor* option after you clicked *Edit* on the *Rewrites and redirects* page, that way you are sure you didn't copy some undesired space.

[2020-09-23 18:27] kahdojay commented on #1039
@ambriglia thanks for the details and pointing me to the support case as well. Will provide more details there but in short I think you're having the same issue as #115, we pushed a fix for us-east-2 and it looks like you've had a successful deploy since, but let me know if you're still seeing the same issue.

[2020-09-23 18:33] aaroncampos commented on #1058
I am having a similar issue starting this morning with a new deploy of a Gatsby project that has been working fine up until this morning.

[2020-09-23 18:40] xavierraffin opened #1076 "Add ability to setup redirects from within an Amplify project"
**Is your feature request related to a problem? Please describe.**

AWS Amplify framework offers a clean way to store all the frontend and backend settings and code in one place: the git repo of a project.
**Deploying the project with the AWS Amplify console should not break that pattern.**
When a project requires redirects this redirect cannot be defined from within the project but only added man

[2020-09-23 18:45] swaminator commented on #508
@jpvajda @ericclemmons @brentley @jbeveland27 @zstix we have implemented this and the feature is rolling out to all regions over the next week.

[2020-09-23 18:47] kahdojay commented on #1039
@ambriglia thanks for the details and pointing me to the support case as well. Will provide more details there but in short I think you're having the same issue as #115, we pushed a fix for us-east-2 yesterday and it looks like you've had a successful deploy since, but let me know if you're still seeing the same issue.

[2020-09-23 18:48] swaminator commented on #856
@yinlinchen we just added support for fork PRs as mentioned [here](https://github.com/aws-amplify/amplify-console/issues/508#issuecomment-697870009). We will also support forks of private repos which have Amplify backends. We will continue to be unable to support public repos with Amplify backends.

[2020-09-23 18:53] yinlinchen commented on #856
@swaminator That's a great news! Thanks!

[2020-09-23 18:59] swaminator commented on #1076
@xavierraffin this is on our roadmap to support this year. Please track #18. Closing this as a dupe.

[2020-09-23 18:59] #1076 closed

[2020-09-23 18:59] talebbits commented on #1068
@kahdojay I am working with @lettertwo

We are getting this now
[code]

[2020-09-23 19:16] xavierraffin opened #1077 "Supports both Hugo URLs and SPA URLs"
**Is your feature request related to a problem? Please describe.**

I have an Amplify project that uses both Hugo and React as an SPA.
Under /blog... the Hugo file are served and the rest is handled by the React SPA.
Today the hosting is S3andCloudfront deployed by Amplify CLI and all URL works well (with trainling slahes too):

[code]
Following the instruction from [the doc](https://docs.aws.amaz

[2020-09-23 19:23] kahdojay commented on #1068
@talebbits @lettertwo ok thanks for letting us know, we'll investigate a fix for this today

[2020-09-23 19:26] kahdojay commented on #1075
closing, please track this in #1068

[2020-09-23 19:26] #1075 closed

[2020-09-23 19:50] xavierraffin opened #1078 "Define static headers on an App"
**Is your feature request related to a problem? Please describe.**

Today it is not possible to inject HTTP headers on an App deployed by the AWS Amplify console.
This is a problem because the Security best practices recommend to define several of them appropriately:

* Strict-Transport-Security
* Content-Security-policy
* X-Frame-Options
* X-XSS-Protection
* X-Content-Type-Options

_see [referenc

[2020-09-23 19:54] kylegwalsh commented on #70
@ryanbagwell

We also just started seeing this issue today. It worked in the past, but suddenly stopped working today.

[2020-09-23 21:12] shankinson commented on #70
I am seeing the same thing.

[2020-09-23 21:43] aaroncampos commented on #1073
I'm still having this problem and I've added the rule shown here:
https://github.com/aws-amplify/amplify-console/issues/1073#issuecomment-697174032

And it doesn't seem like any combination of 404 rewrite or redirect solves it.  Anyone else having any luck?  Perhaps, specifically with Gatsby sites?

[2020-09-23 21:47] kahdojay commented on #1078
@xavierraffin if you're using Amplify Console to deploy a ci/cd app, you can set custom headers:
https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers.html

If you're using the Amplify CLI, you'll need to choose Amplify Console and ci/cd app as the hosting option: https://aws.amazon.com/blogs/aws/host-your-apps-with-aws-amplify-console-from-the-aws-amplify-cli/

We'll be adding suppo

[2020-09-23 21:47] #1078 closed

[2020-09-23 22:12] aaroncampos commented on #1073
@finnhvman Have you applied any other change than the one listed above to get your apps back working again?  Thanks!

[2020-09-23 22:42] bishonbopanna commented on #1058
: ) well having waited for some time from amplify team to respond - which did _not_ happen till now, so the work around I took is as follows and also for these reasons

- A : This issue, ofcourse
- B : with amplify hosting, the files are _not_ hosted in your account and hence there is no access to them. However the benefits are that with amplify hosting you would be able to connect to a repo+branc

[2020-09-23 23:09] swaminator commented on #1058
@bishonbopanna @aaroncampos @finnhvman  do you have a code sample that we can us to reprouce the 403?

[2020-09-23 23:15] bishonbopanna commented on #1058
@swaminator - yes, can it be emailed ?

[2020-09-23 23:34] swaminator commented on #1058
Yes. Please email aws-amplify-customer@amazon.com

[2020-09-24 00:59] theforager commented on #91
I am trying to figure out an answer on this same question. I'd appreciate any help or suggestions!

[2020-09-24 02:09] developer0116 opened #1079 "query parameters are removed in url"
I set up the "Rewrites and redirects" settings like this.
Source address:  /<*>
Target address:   /index.html
Type:                   404 (Redirect)

But the query parameters are removed when the url is navigated.

So I updated the setting like this.
Source address:  /<*>
Target address:   /index.html
Type:                   404 (Rewrite)

the query parameters are not removed, but when refresh the

[2020-09-24 06:58] finnhvman commented on #1073
no other changes, but this will only work if you don't have any other static routes than index.html

[2020-09-24 07:09] Espen-Ellevseth commented on #171
I also have this problem. I've been trying to remove the Access Control by removing password in the Amplify Console. The password box still appears, however the password will no longer work. I've tried from a clean browser, same result.

Is there a timeline for fixing this problem?

[2020-09-24 07:53] finnhvman commented on #1058
1. Take any SPA with dynamic routing enabled, for example a demo react app with react router.
2. Set the redirection rule below
[code]
3. Open a new tab in your browser
4. Go to any non-root url, for example: `/example-folder`

This should produce the 403 error

[2020-09-24 08:08] adrian-kriegel opened #1080 "Next.js page not overwritten by file in public/"
We replaced a file that was served through `pages/mypage.js` with a file that is served through `public/mypage`. According to [this thread](https://github.com/aws-amplify/amplify-console/issues/615), artifacts from the last 6 builds are restored on build unless specifically overwritten. When deploying the app, the old file `pages/mypage.js` is therefore still served instead of `public/mypage` beca

[2020-09-24 09:33] arturocanalda commented on #91
I eventually solved with Cloudfront + Lambda (got the link to a repo from the first post in this thread)

https://github.com/jinty/prerender-cloudfront

So far it's been working perfectly for me.
If you go for this solution, pay special attention to increase the versions of your lambda whenever you update it.

[2020-09-24 09:54] Liguo-Ma commented on #1058
This is the exact rule we added

[
    {
        "source": "</^[^.]+$|\\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/>",
        "target": "/index.html",
        "status": "200",
        "condition": null
    }
]

[2020-09-24 11:27] nhc-motosumo commented on #1068
Thanks for the fix @kahdojay !

Yes, we got out of the provisioning troubles by disconnecting branches with stalled builds. And your update seems to have made the builds complete again, so we are up and running.

One concern left: On my `develop` branch, build 73 is still marked as "Running", and cancelling it does nothing. Might this somehow come back to haunt us later (e.g. counted as one of our

[2020-09-24 14:56] eschreiner commented on #44
@swaminator Same here. I need to use subdomains for customer's dashboards as well. Support for wildcards would solve this for me.

[2020-09-24 15:28] swaminator commented on #171
@Espen-Ellevseth @mansiva @BenSaus we are going to invesitgate this ASAP.

[2020-09-24 16:18] kahdojay commented on #1079
Hi again, this is a known issue with our redirects, please track the status here #97

[2020-09-24 16:18] #1079 closed

[2020-09-24 16:21] kahdojay commented on #1080
Hi @adrian-kriegel can you provide region, appId, branchname, and example build number?

Also if you can provide a code sample with steps to repro it will help us investigate.

[2020-09-24 16:52] mansiva commented on #316
Option isn't showing up for us either, app was created less than a month ago.

[2020-09-24 17:46] kahdojay commented on #1068
@nhc-motosumo great to hear it! We made sure it doesn't count against your concurrent build limit, does it still show as running?

[2020-09-24 18:33] swaminator commented on #1046
@maximelebastard can I understand a bit more about your scenario?
1. How many IAM users are you using?
2. Could you share how many Amplify backends you have?
3. What are your build settings?

[2020-09-24 18:44] kahdojay commented on #1077
Thanks for reporting @xavierraffin - I'll add this as a feature request and review with the team. You might be able to get this behavior by adding a "rewrite" for /blog/<*> to /blog/<*> as higher priority but would need to remove the 404 rewrite which wouldn't be ideal.

[2020-09-24 18:46] maximelebastard commented on #1046
Hi @swaminator, of course

1. How many IAM users are you using?
We are 3 users, but we plan to welcome a few more devs soon.

2. Could you share how many Amplify backends you have?
We have three Amplify apps. Each developer has his own backend. We also have a production, an iso and a staging backend. And every PR preview has his own backend.
So that makes between 6 and 12 backends per app, **18 to

[2020-09-24 19:53] samgj18 opened #1081 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dkpwxph2vlj0d
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-09-24 20:23] FocusedObjective opened #1082 "GraphQL push works from CLI, but backend build fails with "Schema Validation Issues" in the console"
For the last couple of days, a successful API deploy from the CLI push fails in the console build with many schema validation errors: For example:

"2020-09-24T20:03:01.602Z [INFO]: init failed
2020-09-24T20:03:01.603Z [INFO]: { SchemaValidationError: Schema Errors:
                                 **Unknown argument "fields" on directive "@connection". Did you mean "keyField"?**

[2020-09-24 20:47] swaminator commented on #1050
Please review our troubleshooting guide: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

[2020-09-24 20:47] #1050 closed

[2020-09-24 20:55] swaminator commented on #1062
Please review our troubleshooting guide: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

[2020-09-24 20:55] #1062 closed

[2020-09-24 20:55] swaminator commented on #1067
Please review our troubleshooting guide: https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html

[2020-09-24 20:55] #1067 closed

[2020-09-24 21:13] xavierraffin commented on #1077
https://develop.d1w6ukzxsonliz.amplifyapp.com/blog/how-to-monitor-website-changes/

I did these rules @kahdojay:

![rewrite](https://raw.githubusercontent.com/xavierraffin/fizz-demo/rewrite.png "rewrite")

[2020-09-24 21:15] xavierraffin commented on #1077
Yes I confirm the rewrite rule works but lost 404.

[2020-09-24 22:46] sean-smith commented on #856
@swaminator to read between the lines here are you saying that public github repos **without** backend (just frontend) support pr previews?

Does this work for forks?

[2020-09-25 04:20] theforager commented on #91
@arturocanalda Thanks for the suggestion, and that's awesome you got this working!

Did you stand up a _new_ Cloudfront distribution that has those two Lambda@Edge functions to handle the routing? And the origin for that distribution was the Amplify-deployed URL?

If I understand correctly, the example has the direct S3 link to the SPA build that we don't have access to with Amplify. I wasn't sure

[2020-09-25 05:35] nhc-motosumo commented on #1068
Build 73 is now listed as "Cancelled". Thanks!

[2020-09-25 06:19] superjose opened #1083 "AWS Amplify Console Silently Fails - Won't properly detect the selected monorepo folder, Reconnect Repository, build failing."
**App Id**:
**us-east-2**:

**Issue/question**

First of all, thank you very much for supporting Monorepos in Amplify 🤗. It's a very big deal, as we're able to optimize our applications in the best manner possible.

I've been trying to deploy a monorepo application (2 separate create-react-app) using the amplify console via GitHub webhooks, and it's been awful. After 8 hours of constant back and f

[2020-09-25 08:07] FelixRe0 commented on #1073
+1

Using </^[^.]+$|\\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)([^.]+$)/> 200 rewrite braks partially static generated SPA pages.

Until this is resolved we added for every page that should be served statically in addition to the redirect above a hard coded 200 redirect.
i.e.
 /  => /index.html  [200]
 /login/  => /login/index.html  [200]
</^[^.]+$|\\.(?!(css|gif|ico|jpg|js|png|txt|

[2020-09-25 08:09] arturocanalda commented on #91
I already had a CloudFront distribution.

I don't see any reference to S3 in the template.

In that example there are 2 Lambda (edge) functions:

- SetPrerenderHeader
The first one just adds some attributes to the HTTP request header in case the request comes from any of these services: `/googlebot|adsbot\-google|Feedfetcher\-Google|bingbot|yandex|baiduspider|Facebot|facebookexternalhit|twitterbot

[2020-09-25 08:23] IamManchanda commented on #412
Eagerly awaiting SSR support for both Next.js (React) & Nuxt.js (Vue)

[2020-09-25 08:26] maximelebastard opened #1084 "Go is not installed on AmazonLinux 2 when trying to build a Go function"
** Please describe which feature you have a question about? **

I've created a GoLang function as documented. I can push it sucessfully from my computer. But when running amplifyPush from the console it seems it cannot build the function as go isn't available on the machine.

I have to install golang everytime which consumes time and money. It is akward that amplify console cannot natively build a

[2020-09-25 09:08] Erlpil commented on #1068
I also have this issue deploying the master branch in eu-north-1.

During the deploy phase:
`2020-09-25T09:03:05 [INFO]: Beginning deployment for application <appid>, branch:master, buildId 0000000028
2020-09-25T09:03:05 [INFO]: Got archive: 507204 bytes
2020-09-25T09:03:05 [INFO]: Archive unzipped: 18 files
2020-09-25T09:03:08 [ERROR]: Deployment terminated unsuccessfully`

Tried to cancel the bu

[2020-09-25 09:20] kdorland commented on #1068
I have the exact same error. Redeploy doesn't fix it. It gets stuck on Deploy.

[2020-09-25 09:48] sebsto commented on #412
It is available https://aws.amazon.com/about-aws/whats-new/2020/09/amplify-javascript-adds-server-side-rendering-support-frameworks-next-js-nuxt-js/

[2020-09-25 10:00] Erlpil commented on #1068
I was able to deploy and redeploy the app in eu-central-1.
eu-north 1 is still unable to redeploy.

[2020-09-25 10:39] tobiaslindulf commented on #1068
I have the exact same error in region **eu-north-1**. Not able to deploy anything, just getting the following logs every time:
2020-09-25T09:54:03 [INFO]: Beginning deployment for application AppID, branch:master, buildId 0000000008
2020-09-25T09:54:03 [INFO]: Got archive: 4437068 bytes
2020-09-25T09:54:03 [INFO]: Archive unzipped: 70 files
2020-09-25T09:54:07 [ERROR]: Deployment terminated unsucc

[2020-09-25 11:04] shide1989 commented on #296
@gwryssekk This issue is still happing while the fix has been deployed months ago. Any update ?

[2020-09-25 11:39] pvsvamsi commented on #436
@Liguo-Ma Your rule has worked. But can you explain what this rule does?

[2020-09-25 14:53] mansiva commented on #825
We're having the same issue, project was created, multiple backend environments were setup as per the amplify docs (dev, test, prod), then when enabling branch auto-detection no option to specify which backend to connect to.

Now any new branches created in git are failing to build since no backend is being defined, and strangely enough yesterday a bunch of new backend environments started to appe

[2020-09-25 14:53] gspeicher commented on #1039
i am having similar issues here.

appid: d2r3gwm433d7n4
region: us-east-1
branch: master
build: 111
deploy output:
[code]
then it just hangs indefinitely. it is still stuck there as i write this. everything up to the deploy ran successfully. i had been running with the entire test block removed from amplify.yml (as a workaround to this bug, which i ran into a few weeks ago), and until i re-enabled

[2020-09-25 15:16] llorenspujol opened #1085 "Can't load static assets that are inside folders"
### Description

I have a AWS Amplify manually deployed application.
The issue is, that I **can't load** static assets that are on folders, for example:

- `mydomain.amplifyapp.com/assets/i18n/en.json`
- `mydomain.amplifyapp.com/assets/images/pet.png`

Moving these assets to the root, like: `mydomain.amplifyapp.com/en.json`, solves the issue, but is not what I want.

### Current behavior

Digging

[2020-09-25 15:24] #1082 closed

[2020-09-25 17:23] ericclemmons commented on #412
@IamManchanda Me too! :) Can you tell me more about your Next.js app?

- Are you using `getInitialProps`?
- Are you using `getServerSideProps`?
- Are you using `getStaticProps`?
- Are you using `getStaticPaths`?
	- Are you using `fallback: true` or `fallback: false`?
- Are you using `revalidate` at all?
- Are you using `/api/*` routes?
- Are you running `next export` or only `next build`?

The mor

[2020-09-25 17:27] liamegan commented on #963
Was there ever a resolution to this? I seem to be running into a similar issue but can't seem to break the cache in any way.

[2020-09-25 17:54] Gowiem commented on #963
@hsspain Yeah, running into the same @liamegan. Is this a pervasive issue?

[2020-09-25 18:03] hspain commented on #963
@Gowiem @liamegan Can you provide your region and App ID? We will take a look.

[2020-09-25 18:12] kahdojay commented on #1068
@Erlpil @kdorland @tobiaslindulf can you provide your appid for the eu-north-1 app impacted? let us know about others as well. If you prefer you can email it to aws-amplify-customer@amazon.com.

[2020-09-25 18:17] Erlpil commented on #1068
@kahdojay Email sent 👍

[2020-09-25 18:27] liamegan commented on #963
Sent.

[2020-09-25 18:48] ddspiff commented on #1055
i am having this same issue im curious if you resolved it

[2020-09-25 19:18] swaminator commented on #1083
@superjose thank you for your feedback. Sorry to hear about all the issues you're having with monorepos. We will work to make this better but need some input on you on how to action. Would you be willing to chat sometime? We are on Discord: https://discord.gg/Px5YVfQ and you find me with the same alias.

[2020-09-25 19:26] sbaden commented on #1055
I haven't resolved the issue yet. After a few days the status changed to an error on the ssl configuration:  "Something went wrong. Please retry. Note: If retrying fails, please create an issue in our GitHub issue tracker." I've tried all week to get it to work without success.

[2020-09-25 19:36] sbaden opened #1086 "SSL configuration is Failed"
**App Id**: d36j8sy9a817hr
**Region**: us-west-1
**Step**: SSL configuration
**Status**: Failed

**Issue/question**
I've tried for two weeks now to get my amplify app linked to my domain and it keeps failing in the SSL Configuration. As far as I can tell I have the DNS and CNAME all set up correctly.

**Error message**
Something went wrong. Please retry.
Note: If retrying fails, please create an i

[2020-09-25 19:38] superjose commented on #1083
Absolutely!! I'll join the channel!

[2020-09-25 19:41] sbaden commented on #894
What if you're using Route 53 and it's still not working? Mine errors on SSL configuration.

[2020-09-25 20:55] swaminator commented on #70
@shankinson @kylegwalsh @ryanbagwell reopening this issue.

[2020-09-25 21:19] smerth opened #1087 "Amplify Automated Code Pipeline for Gatsby App in monorepo fails at the build step"
I have a gatsby app with an amplify backend working locally.

I have connected the app in the Amplify console to my github repo for the master branch and on commit to master the deploy process starts.

The build step fails with this error log output
[code]
The Gatsby app is `./demo`

The build settings are:
[code]
It looks like the failure is at the install step.
Anyone seen a similar error?  How

[2020-09-25 22:21] davetlewis-van commented on #115
I had builds that were working perfectly in us-east-1 yesterday and earlier today with the issue resolved:

[code]

But now it seems to have reverted to deploying individual files:

[code]

Did the fix get rolled back in this region, or did I jump the gun and it been fully tested and deployed yet?

Thanks!

[2020-09-25 22:32] keatonwilliamson opened #1088 "SSL configuration is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2vx51ln8rzavt
**Region**: us-east-1
**Step**: SSL configuration
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-09-25 23:54] shankinson commented on #70
appid: d13epz5f3n6l5q, us-east-1

[2020-09-26 01:37] Ashkanrpd commented on #861
@abhi7cr Hello there, i was wondering if i can ask for help. i have a node/react app and im trying to host it on AWS amplify but env variables are not working whatsoever! it clones my code from my github which i didnt push my .env file, so i have tried to add them manually but it didnt work! they say i have to modify this build section to:
build:
      commands:
        - npm run build:$BUILD_ENV

[2020-09-26 03:13] niknokseyer opened #1089 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d16pigd2lbpnkk
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.
Just trying to verify the domain I set. Previously using a subdomain, I deleted it but still failing.

**Error message**
If there is an error message, please include it here.
One or more of the CNAMEs you provided are alr

[2020-09-26 03:18] niknokseyer commented on #1070
Were you able to get yours resolved? @beto

[2020-09-26 03:19] niknokseyer commented on #1059
Were you able to get yours resolved @abhi7cr?

[2020-09-26 03:20] niknokseyer commented on #1071
Were you able to get yours resolved @gigapromoters?

[2020-09-26 03:37] MrBokeh commented on #115
I have been following this thread for a year now. I got the pipeline working perfectly for a client project since November 2019 and my own project since August 2020 but I want to share a few comments with the sample amplify.yml template:
1. For js, ts, Node.js apps... we need to change the node version to 12 on every single step... otherwise, it will fail without error logs, the default Node.js ve

[2020-09-26 03:40] fitzgers commented on #115
@litwicki I'm guessing the update has been rolled out to us-west-2, and I just want to note here I've seen a large improvement starting at some point on Thursday Sep 24. Our build times (specifically the Deploy step) have reduced considerably, and we've seen no failed deployments in the last 2 days. Thanks!!

[2020-09-26 03:44] niknokseyer commented on #1035
Were you able to get this resolved @Jattwood90?

[2020-09-26 03:44] pankaj-crypto opened #1090 "How to add SES permission to LambdaExecutionRole"
** Please describe which feature you have a question about? **
I want to add SES permission to the LambdaExecutionRole so that I can send emails. I want to allow my Lambda Function to be able to use SES.

** Provide additional details**
I also think it would make sense to have a feature like `amplify [add|updqate|remove] ses`

[2020-09-26 03:44] niknokseyer commented on #1089
@nimacks any info on how to get this resolved?

[2020-09-26 04:47] hsspain commented on #70
@shankinson @kylegwalsh @ryanbagwell  The issue has been identified and a resolution will be out shortly.

[2020-09-26 05:53] hsspain commented on #70
The issue with 404 rewrite rule has been resolved.  Please redeploy your app to continue to use the custom rewrite rule.

[2020-09-26 07:43] mmomasters commented on #1059
Yes I had to contact AWS support for them to MANUALLY fix the issue

[2020-09-26 07:43] #1059 closed

[2020-09-26 08:56] yev-geniy opened #1091 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: dawnd8k429vpa
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-09-26 11:42] marko-asplund commented on #115
@kahdojay I'd just like to double check that a fix for the original issue of deployment failures has been deployed to `eu-west-1`?

[2020-09-26 14:08] bwalsh commented on #115
@kahdojay any update?

[2020-09-26 14:43] Erlpil commented on #1068
@kahdojay For info, I was now able to redeploy the previously failed version the app in eu-north-1

[2020-09-26 15:02] pankaj-crypto commented on #1090
Does this not make sense?

[2020-09-26 18:22] #998 closed

[2020-09-26 23:33] ddspiff commented on #1055
ok i finally sat down and figure it out by following the steps in this article (https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html#my-domain-hosted-with-amazon-route-53-is-stuck-in-the-pending-verification-state).  i deleted everything, created a hosted zone, changed the name servers for my registered domain to match the name servers from the hosted zone, an

[2020-09-27 00:02] litwicki commented on #115
@bwalsh we're still investigating and testing a fix, are you still unable to build/deploy your app?

@fitzgers really excited to hear that. We're still rolling out all these changes and hoping for improvements to continue!

@marko-asplund We're pausing over the weekend as we saw some issues overnight; are you experiencing issues still?

@davetlewis-van We did rollback in some regions while we reso

[2020-09-27 14:36] bwalsh commented on #115
I needed to reduce the number of pages in the deploy in order to get it to work.

[2020-09-27 17:17] hoffination opened #1092 "Unable to get npm package building react app with react-app-rewired in monorepo"
** Please describe which feature you have a question about? **
I can't get a React app to build in AWS amplify. I've tried a couple of different things but it seems like npm isn't set up to source from local `node_modules`

** Provide additional details**
I used the monorepo settings first to get my build running within my app. I have a package.json command to build my `react-client` folder:

[cod

[2020-09-27 23:24] agrant-intix commented on #412
Hi @ericclemmons

Can talk for my next.js project wanting AWS console support.

Are you using getInitialProps? Yes
Are you using getServerSideProps? Yes
Are you using getStaticProps? Not currently
Are you using getStaticPaths? Not currently
Are you using fallback: true or fallback: false? fallback: false
Are you using revalidate at all? No
Are you using /api/* routes? Yes
Are you running next expo

[2020-09-28 02:29] bwinkers opened #1093 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d34q829q80y1ix
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.
I cannot add izzup.com as a custom domain.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add

[2020-09-28 02:31] bwinkers commented on #1093
The domain is hosted in the same account as amplify and I see the DNS records

[2020-09-28 02:51] bwinkers commented on #1093
![image](https://user-images.githubusercontent.com/4514677/94385749-c14ff980-00fa-11eb-8b21-ddfc058d92b1.png)
This is the error after very attempt

[2020-09-28 06:10] christophrrb commented on #436
If you use the Vue cli with `npm run build`, the index.html file might not be in the `dist` folder. To account for that, the `baseDirectory` for `amplify.yml` can be set to the root directory, like `./`, so that Amplify finds it.

[2020-09-28 06:28] tobiaslindulf commented on #1068
@kahdojay Email sent now.
However, when I tested to deploy today in region eu-north-1 it worked, for several different apps.
Have you deployed a new version of Amplify in Sweden or have you done any other change during the weekend?

[2020-09-28 07:13] dangerrockstar opened #1094 "aws amplify init Failed / pull Failed Error: read ECONNRESET"
**d37veog4xol1v0**:
**us-east-1**:
**1**:
**deployed**:

**Amplify init failed**
I am very new with aws amplify, I was try to deploy a web app using aws amplify so however i try to do init my react app using command ( $ amplify init ) or try to pull that react app from aws amplify that was mention on aws tutorial step No: 2 [https://docs.amplify.aws/cli/start/install#option-2-follow-the-instructio

[2020-09-28 09:04] Vaaljan opened #1095 "Domain activation is Failed - Retry Does not work"
**App Id**: d1y72dxyvas797
**Region**: eu-west-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
Retry does not seem to work at all. If you click on Retry, it says retry in progress but it just fails afterwards.  So Now I need to remove the domain add it back again which changes the cloudfront url so then we have to update the cname again and if that takes to0 long then it fails

[2020-09-28 09:10] Vaaljan commented on #1093
I Have the same issue!  Super annoying!

[2020-09-28 09:59] kdorland commented on #1068
@kahdojay It works again here as well.

[2020-09-28 13:18] lukehedger commented on #115
Still seeing intermittent deployment failures in eu-west-2:

[code]

App ID: d9slrnc36kbq7

[2020-09-28 16:34] kahdojay commented on #1039
@gspeicher can you share your amplify.yml that you included in your repo for build 111 as well as the version for 112? You can share here or email us at aws-amplify-customer@amazon.com

[2020-09-28 17:48] gregeatworld commented on #296
Same here.
![image](https://user-images.githubusercontent.com/3019709/94466865-c41a1f80-01ca-11eb-9269-38e0b973a8cc.png)
Really very frustrating situation as for paid service. Can we count on soonest fix or at least any details regarding this?

[2020-09-28 18:07] gspeicher commented on #1039
I just emailed them. I should have mentioned in the email that build 112 (and 113) eventually ran and failed with the error:

`2020-09-25T21:17:44.097Z [ERROR]: !!! Base Directory not specified for artifacts, unable to create test artifact.`

I just reverted amplify.yml to the same version that was used in build 111, so build 114 is under way now. Let me know if there is anything else I can do or

[2020-09-28 18:10] litwicki commented on #115
@davetlewis-van we're working on rolling out changes today to resolve any issues. I will have the team follow up as soon as we have an update.

[2020-09-28 20:02] fitzgers commented on #115
@litwicki Something interesting: We're not seeing the deploy failures any more, but I have noticed that the improvement in our build/deploy times mentioned [here](https://github.com/aws-amplify/amplify-console/issues/115#issuecomment-699320192) have regressed back to what they were originally. We were down to around 6 minutes on Friday of last week, and have creeped back up to 12 or so today. No s

[2020-09-28 20:21] swaminator commented on #856
@sean-smith yes that's correct. Public repos without backend support will work.

[2020-09-28 20:25] litwicki commented on #115
@fitzgers This is likely due to our fallback while we roll out fixes today. If this continues through next week please let me know but I would expect it to resolve end of week if not sooner.

[2020-09-28 20:57] swaminator commented on #921
Resolving. Please re-open if necessary.

[2020-09-28 20:57] #921 closed

[2020-09-29 02:30] bwinkers commented on #1093
Any updates? This seems to affect many people.
Could you include the offending hostmnames in the error so we could take action?
I'm not seeing what might be a duplicate, if it exists its becasue anotehr AWS service created it or required that I create it.

[2020-09-29 04:42] theforager commented on #91
@arturocanalda Perfect, thanks so much for your help! The `WebBucket` at the start of the YAML threw me off a bit, but your reply helped me realize that you just setup the Cloudfront distribution with the Amplify URL as the origin, setup the two edge lambdas, and everything works out.

I ended up changing the `origin-request` lambda to redirect to an S3 bucket with my own pre-rendered pages, so it

[2020-09-29 07:21] kahdojay commented on #793
@davidmatter for a given branch, if you include amplify.yml in your project root during a build/deploy of that branch, that will override whatever you have provided in the console (regardless of what it shows).

[2020-09-29 09:26] yakkomajuri commented on #115
We're supposedly on the "Beta" but can't get a build to work if we have >8 PRs open. From today:

<img width="1338" alt="Screenshot 2020-09-29 at 09 17 08" src="https://user-images.githubusercontent.com/38760734/94540220-b77ee100-0235-11eb-8194-36544f1b8cc3.png">

[2020-09-29 10:11] GooBall commented on #115
I'm still getting failed deploys in eu-west-1.

[2020-09-29 10:42] argok2sper commented on #1027
Hi, I'm experiencing the same problem, but it's showing `content-type: text/html` for `font/woff2`. What is the current status of this issue?

[2020-09-29 12:47] adam-nygate commented on #1019
Any update on this?

[2020-09-29 13:15] gspeicher commented on #1039
Update: as of last night, the build is failing differently again. Build 118 is using the same amplify.xml as build 111, but the deploy is failing differently than the build 111 deploy did:

[code]

This is more like the failure on 9/2 except now it does not output "Deployment Finished" as it did back then.

[2020-09-29 15:49] litwicki commented on #115
@yakkomajuri @GooBall We are planning to restore the new changes as early as today. We will update this thread when we have begun rolling out.

[2020-09-29 17:37] garyleefight commented on #1065
Looking

[2020-09-29 20:28] hisham commented on #868
+1. Quick deployments are essential when doing emergency bug fixes. Backend does not need to be rebuilt if frontend only has changed. It just needs the aws-exports. Why is amplify push in my terminal smarter than amplify push via amplify console?

Smarter backend deployments will also save cost since AWS Amplify console charges per build minute.

[2020-09-30 05:24] garyleework commented on #1095
Thanks for the report. We are investigating this issue

[2020-09-30 09:08] anubnair opened #1096 "The deployed app is getting get blank white screen"
**Issue/question**
I have deployed my application and sometimes, after deployment I get blank screen. It happens sometimes after few days

[2020-09-30 10:12] ChristopheBougere commented on #412
For anyone interested in making the console deploying the serverless next.js component (waiting for official support), here is the way I did it:

**amplify.yml**
[code]
**serverless.yml**
[code]

A few notes:
- I'm deploying on 2 different subdomains depending on the `$USER_BRANCH` env variable. The mapping was previously done using Amplify domains, which are not being used anymore.
- I had memory

[2020-09-30 11:59] arturocanalda commented on #91
@theforager you're welcome. Somehow we are all in the same boat :)

[2020-09-30 14:52] wenruiliau opened #1097 "Domain activation is Failed - Unable to point Amplify app to CloudFront"
**App Id**: d1cl1xglyjns4k
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
We are using CloudFront as our DNS provider. Initially, we tried to add our custom domain to Amplify (without the root domain) using this guide. https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-a-third-party-dns-provider.html

However, we we

[2020-09-30 16:29] garyleework commented on #1096
Can you give us the app arn and region? You can find it in the 'general' tab

[2020-09-30 17:16] eduardoIST opened #1098 "SSL configuration is Running - [BRIEF DESCRIPTION]"
**App Id**: d104907tkhn9nj
**Region**: us-east-2
**Step**: SSL configuration
**Status**: Running

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please fee

[2020-09-30 17:36] sbaden commented on #1055
Thanks for the info @ddspiff ... I tried a few times and it finally worked.

[2020-10-01 00:33] conorhalloran commented on #348
Experiencing same issue here. Still not clear which format the CNAME record to point to the AWS Certificate Manager (ACM) validation server should be in. The [docs to add a custom domain](https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-google-domains.html) suggest to not have your custom domain in the name field, where as the Amplify Domain Management explici

[2020-10-01 02:03] anubnair opened #1099 "custom domain is added with the cname record. domain is not activated"
**Region**: Singapore

**Issue/question**
I have an application hosted with amplify. I need to add a custom domain. The custom domain I wanted is a subdomain, I added the subdomain to Route 53 "hosted zone". (note: I added the only subdomain to route 53) Then I went to amplify settings and the added hosted zone was available. Now the status is showing as "SSL configuration".  In order to verify do

[2020-10-01 02:14] #1081 closed

[2020-10-01 02:45] syion-sayne opened #1100 "AWS-Amplify Failed at Deploy stage"
Good day AWS.

I'm trying to deploy our app in amplify, but it always fail at deploy stage, with no error.

![image](https://user-images.githubusercontent.com/26127793/94759674-1fb6f980-03d3-11eb-9590-ebd37c960ec0.png)

APP ARN: arn:aws:amplify:ap-southeast-1:XXXXXXXXXXXX:apps/dgh3g9t0tybkk

[2020-10-01 04:54] bwinkers commented on #1093
STILL no updates. This is an AWS hosted domain so the issue is 100% in the AWS court.
This is not EASY setup, it doesn't even seem possible.

![image](https://user-images.githubusercontent.com/4514677/94769679-7981da00-0367-11eb-9ab4-1778a89986ef.png)

[2020-10-01 04:59] bwinkers commented on #1099
Checking here many of us are stuck
https://github.com/aws-amplify/amplify-console/issues

[2020-10-01 06:31] dylan-westbury commented on #408
I am facing this issue for a next.js frontend, for a react native and reactjs frontend it is fine

[2020-10-01 09:12] anubnair commented on #965
I am facing the same issue. Can you help to resolve?

[2020-10-01 10:53] Nxtra commented on #1095
This happens when the previously configured CNAMEs are still active DNS records at your DNS provider.
You first need to delete the ACM CNAME record (the one that validates ownership) and the CNAME pointing towards your CloudFront distribution. Delete them at your DNS provider.

Then delete the domain in Amplify.
Next do again "Add Domain" and wait for the new CNAMEs to appear.
Add the new CNAMEs a

[2020-10-01 11:38] asatvilker commented on #965
So I presume you are using GoDaddy? if so, follow the instructions in the screenshot above. when you view the record. copy it and where you initially created your CNAME record in goDaddy change the value part to the value you copied. then save and wait a while (potentially even 24hrs) it should then work

[2020-10-01 14:34] Liguo-Ma commented on #436
Hi @pvsvamsi
Sorry for late
Please check https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html

[2020-10-01 15:32] garyleework commented on #1100
Thanks for the report. We are currently looking for your issue

[2020-10-01 16:28] syion-sayne commented on #1100
hi @garyleework , we remove the amplify and tried to create another one hoping it will fix the issue., but still it failed. here's the arn:

arn:aws:amplify:ap-southeast-1:xxxxxxxxxxxx:apps/d3ipadc1vdghx1

[2020-10-01 21:45] skanjo commented on #974
I work with Neal on the same project and wanted to add a little bit more to this issue report.

We recently noticed that deleting the root CF for an Amplify application deployment does not delete the backend environment. Instead the backend environment is orphaned with no way to delete from command line or from AWS Console.

I did find a workaround to delete the orphaned backend environment. Delet

[2020-10-01 22:04] zgr024 commented on #44
Correct me if I'm wrong, doesn't this just involve allowing us to place an asterisk as the host? and then just update the DNS to * CNAME target ?

[2020-10-01 22:49] hsspain commented on #963
This issue has been resolved and a redeployment of any affected apps should clear up the improper routing.  Please let us know if there are any further issues.

[2020-10-01 22:52] garyleework commented on #950
Sorry for the late reply. Can you provide your appArn? It is in general on the left panel.

[2020-10-01 23:48] niknokseyer commented on #44
This is currently not an option on AWS Amplify.

[2020-10-02 01:30] mansiva commented on #868
+1 Please AWS, this shouldn't be that hard to fix, CLI only updates what's changed, why can't the Console do the same??

[2020-10-02 04:21] skoch opened #1101 "Changing GitHub account"
**Please describe which feature you have a question about?**
Choose a different GitHub account repository to connect to a new Amplify project.

**Provide additional details**
I'd developed a React application (CRA) on my personal account which was connected to an Amplify project. I have since migrated code to another GitHub account that on which I am a collaborator (client account).

I've created

[2020-10-02 08:28] AustinZhu commented on #115
Still getting stuck in the deploy phase with 300MB+ build size in ap-northeast-1. Takes too long to upload dependency files.

[2020-10-02 08:33] Hansesto opened #1102 "Amplify build settings SAM CLI version"
Hello,

The Amplify build settings guide the CICD integration with git branches. We would like to include our SAM deployment as a part of the backend build phase.
However, the SAM CLI version on the runner is :
[code]
which does not support arguments: `--config-file` nor `--config-env` which are required by our environment dependent system. We need those arguments to deploy SAM with environment sp

[2020-10-02 16:53] garyleework commented on #1102
Hi, you can manually add sam update commands in pre-build stage in the buildspec. You can revise the buildspec via `build settings` on the left panel.

[2020-10-02 16:54] aeflorezm opened #1103 "Custom domain configuration failed"
**App Id**:
**Region**: us-east-1
**Step**:SSL configuration
**Status**:failed

**Issue/question**
Good day, I am trying to connect to a custom domain,  the DNS records were creaed properly and when I do the query to the DNS with DIG everything seems to be fine, however  Amplify has not been able to connect to it.

**Error message** We could not validate the CNAME record exists in your DNS file. A

[2020-10-02 17:05] garyleework commented on #1100
@syion-sayne Hi, I did some investigation yesterday. Looks like this is caused by network issue. Did you ever have a successful deploy for you repository?

[2020-10-02 18:56] hisham opened #1104 "Why is my build always 'Patching NPM package '@aws-amplify/cli' from 1.12.0 to 4.29.4...'"
** Please describe which feature you have a question about? **
It seems @aws-amplify/cli is alway set by default to 1.12.0 with my builds.

Ofcourse to override this I have my build set to always use the latest version of the amplify cli.

But on every build it seems to want to use 1.12.0:

[code]

Why does it keep doing this? I'm trying to get my build times down and this process unnecessarily ad

[2020-10-02 19:55] ashutosh-indusved opened #1105 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d1qzpt65x8lptb
**Region**: ap-southeast-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please

[2020-10-02 21:18] garyleework commented on #1101
Hi, you have to ask the organization owner grant permission to amplify Oauth app. You can do this by re-authenticate your amplify app and submit a organization permission request during the oauth flow.

[2020-10-02 21:29] garyleework commented on #1104
Sorry for the confusion. We don't install the default the image to the container on every build. We just update the dependency as you override at run time. We will release a new default amplify image and update the cli version.

[2020-10-02 21:43] hisham commented on #1104
Ok sounds good! Thx for the reply. The reason for my override is the amplify image was always installing 1.12.0 every time - and I wasn't sure why, there was no override from my part.

[2020-10-02 21:45] garyleework commented on #1104
So if you check the `build settings` -> `build image settings`, you should find a default override for latest version of amplify CLI.

[2020-10-02 23:48] hisham commented on #1104
Yes here's my settings. The only reason I have the Amplify CLI override is because without it, aws amplify console will use version 1.12.0 of the cli which is an awfully old version.

<img width="346" alt="AWS Amplify Console 2020-10-02 17-45-36" src="https://user-images.githubusercontent.com/81853/94977688-16af5080-04d7-11eb-92c1-e01829a904b2.png">

[2020-10-03 00:49] ctydesign opened #1106 "Domain activation is Failed - One or more of the CNAMEs you provided are already associated with a different resource."
**App Id**: d3vkqat8c37fbt
**Region**: us-west-2
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

Error message: One or more of the CNAMEs you provided are already associated with

[2020-10-03 02:58] anubnair commented on #965
Its been more than 24hrs. i am still waiting for it,

[2020-10-03 02:59] anubnair commented on #1096
I found that it happens with "unhandled promise"

[2020-10-03 02:59] #1096 closed

[2020-10-03 08:22] winston-dhanraj commented on #56
Same here, just good for quick proof of concept demo apps. Can't go to production without Custom certs support

[2020-10-03 16:38] jngbng opened #1107 "Redirection for multilingual page"
** Please describe which feature you have a question about? **

Accept-Language based redirection instead of Region-based redirection.
custom Lambda@edge for redirection rule.
Origin URL for redirection.

** Provide additional details**

The same issue as https://github.com/aws-amplify/amplify-console/issues/700.
I have static Gastby site with multilingual support so that I wish to redirect Englis

[2020-10-03 17:07] kiat-huang commented on #918
Same problem for me.

[2020-10-03 18:20] RobertVillalba opened #1108 "Deployment failed! when running amplify publish"
** Please describe which feature you have a question about? **
Amplify publish

** Provide additional details**
Hello I'm having an issue trying to follow the amplify tutorial https://docs.amplify.aws/start/getting-started/hosting/q/integration/react when it comes to the publishing step. The CLI just errors out and doesn't provide any additional information.

[code]

App ARN
arn:aws:amplify:us-eas

[2020-10-03 19:13] tnorlund opened #1109 "Gatsby page always redirects to landing"
**Description**
Whenever I send a link to someone, the Amplify app redirects to the landing page. I'm not sure how to handle the redirects (this is my first Amplify app). Here is what I have so far.

<img width="1470" alt="Screen Shot 2020-10-03 at 12 09 54 PM" src="https://user-images.githubusercontent.com/26452518/94999902-7b1eee00-0571-11eb-8c0f-fd169bc83325.png">

How should I change this so t

[2020-10-03 20:53] duiliodaniele opened #1110 "Cannot find module '@ionic-native/Camera/ngx' on remote build service"
hello,
I'm a noob on amplify, I use that about 10 month, now I add on my project angular/ionic a Camera module, but from that moment the build on aws amplify console failed,

that's the log:

2020-10-03T20:12:45.524Z [INFO]: # Starting phase: preBuild
                                 # Executing command: npm ci
2020-10-03T20:12:45.907Z [WARNING]: npm
2020-10-03T20:12:45.907Z [WARNING]: WARN prepar

[2020-10-04 00:26] nagacheruvu opened #1111 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d3hv5tvlw61v4l
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-10-04 00:33] stmnk opened #1112 "Domain activation is Failed - when connecting an Amplify app"
**App Id**: d22dov8p356wvt
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
I have already activated the same domain for a previous version of the same app (which is now removed). The domain activation keeps failing for the new app cannot be

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for se

[2020-10-04 12:39] damian-tripbuddi commented on #412
I'm keen to see official support for this. As deploying to Vercel has proved to be challenging when my application is using Amplify. The way that Vercel splits SSG and SSR is amazing, and I hope that we can get the same advantages when Amplify Console has proper support for deploy SSR Next Applications.

[2020-10-04 17:26] Vaaljan commented on #1095
@Nxtra I know why it happens. My problem is that it has a Retry button which should work or not be there at all.

If you do not manage the dns yourself, its quite hard to get the cnames to point before the check fails and you have to start over again.

If it failed and told you, delete and reconfigure the domain then great. But why but a retry button that does nothing?

[2020-10-04 17:28] Vaaljan commented on #1093
@bwinkers I had to delete the domain, configure it again and make sure on the first step you go the actions -> View DNS records and add that as soon as possible then it should get activated. Once it fails you have to start over. A waste of time.

[2020-10-04 19:19] Hansesto commented on #1102
Hello,

Thank you, updating the SAM CLI tool as a part of the prebuild phase worked, and the SAM deployment went through.
We updated the CLI tool with `pip3 install --user --upgrade aws-sam-cli`.

[2020-10-04 19:19] #1102 closed

[2020-10-05 08:10] vipinsonu1 opened #1113 "Domain activation is Failed - [BRIEF DESCRIPTION]"
**App Id**: d2xnyls6l7eg72
**Region**: us-east-1
**Step**: Domain activation
**Status**: Failed

**Issue/question**
A clear and concise description of what the issue/question is.

**Error message**
If there is an error message, please include it here.
**Note**: Be sure to check the message for sensitive information.

**Additional information**
Please add any other relevant information. Please feel

[2020-10-05 11:11] alanpilloud commented on #171
I experienced the same issue today, this solved the issue for me :

1. clic "manage access"
2. restrict again the branch that has the issue
3. clear username and passwords fields
4. set again the branch to be publicly viewable then save

[2020-10-05 12:56] skoch commented on #1101
@garyleefight Thanks for the response. I'm struggling how to "re-authenticate [the] amplify app" to get the "organization permission request".

Is this something you do via the admin console or via CLI?

[2020-10-05 14:27] alexkates opened #1114 "Is the latest image hosted anywhere?"
I'd like to create a custom build image, but base it on the official latest image, e.g., I'd like to have the following code at the top of my custom dockerfile

`FROM amplify/build-image:latest`

Is this image built and hosted anywhere?

[2020-10-05 16:01] ganipcanot commented on #1105
Are you still having issues?  It looks like that domain is available and active.  Please re-open the ticket if you are still having issues!

[2020-10-05 16:01] #1105 closed

[2020-10-05 16:05] ganipcanot commented on #1106
Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.

-If you are using www.domain.com on the other app, you cannot use www.domain.com on this app.
-You can use other hostnames, like blog.domain.com
-If you had this domain successfully connected to Amplify and then recently (within the last hour) deleted it, please wai

[2020-10-05 16:09] ganipcanot commented on #1103
Could you please share the appId?  It can be found as part of the App ARN on the `General` tab under `App settings`.

![image](https://user-images.githubusercontent.com/21091073/95104264-792c6a80-06ea-11eb-802b-2a8105a7dd64.png)

[2020-10-05 16:45] fitzgers commented on #115
@litwicki Any update? We have noticed our build times (which had improved greatly) have regressed back to what they were previously, and we are back to having failed deployments in us-west-2.

[2020-10-05 17:06] litwicki commented on #1104
@hisham is there anything else we can help you with on this?

[2020-10-05 17:31] ganipcanot commented on #1037
We are working on some optimizations to the deployment which should hopefully bring the time down you can track the updates [here](https://github.com/aws-amplify/amplify-console/issues/115)

[2020-10-05 17:35] ganipcanot commented on #1035
Have you since delete the app/domain?  I can't find this record (`dwskx68os089p`) on our side

[2020-10-05 17:37] ganipcanot commented on #1111
Looks like the domain associated to this app is available and working.  Please re-open if you are still seeing issues.

[2020-10-05 17:37] #1111 closed

[2020-10-05 17:40] ganipcanot commented on #748
Resolving due to age - if you still need help please re-open.

[2020-10-05 17:40] #748 closed

[2020-10-05 17:40] rpostulart commented on #1037
ok looking forward to this!

[2020-10-05 17:42] ganipcanot commented on #836
Resolving due to age - if you are still experiencing this issue please re-open.

[2020-10-05 17:44] ganipcanot commented on #858
Looks like the domain associated to `d14wexddeeoirq` is active and working - please re-open the ticket if you are still experiencing issues.

[2020-10-05 17:44] #858 closed

[2020-10-05 17:48] ganipcanot commented on #932
Resolving due to age, if you are still experiencing issues please re-open the ticket.

**Else you can try following these steps:**

- Is this domain connected to a different Amplify App that you own? If so, make sure you are not trying to reuse one of the hostnames.
- If you are using www.domain.com on the other app, you cannot use www.domain.com on this app
- You can use other hostnames, like blo